[2015-07-14 13:12] blink1073 commented on #1605
@matthew-brett, can we take this conversation to https://github.com/imageio/imageio/pull/108?

[2015-07-14 13:34] matthew-brett commented on #1605
We can, I will.

The question to scikit-image is - is this a sustainable way to go?   I'm not sure myself.  I still think it would be safer to wait say 3-6 months after imageio wheels have shipped and are working well before going this direction.

[2015-07-14 18:08] #1541 closed

[2015-07-14 18:48] jni opened #1608 "Consider flattening skimage namespace"
Lately I've been finding the API rather cumbersome. Is canny in features or filters? Is watershed in segmentation or morphology? Where is relabel_sequential?

I suggest importing everything to the root skimage namespace, coupled perhaps with an aliasing convention, e.g. `import skimage as ski` or `import skimage as im`. (Yes, `im` is very common and I'm not advocating for it... But you gotta admit

[2015-07-14 19:27] vighneshbirodkar commented on #1608
I'm against it. The inconvenience you speak of is very minor and would take only a minute of the programmer's time to overcome.
On the other hand
Consider these two snippets

[code]

[code]

The person reading the first snippet, would know about the `filters` package and would find other filtering methods inside it. He might try a few of those to get better results.

The person reading the second

[2015-07-14 19:35] JDWarner commented on #1608
My main concern is an increasingly crowded namespace, which will only become less intuitive to explore. User's thought process: *Is loading an image load? I'm looking under "L" - nothing - perhaps read - no, nothing in "R" - maybe open - still no. Here it is, weird, it's prefixed with "im"...*

However, if the import time was reasonable, I would be fine with importing all packages by default but l

[2015-07-14 19:42] blink1073 commented on #1608
We could add an indexed search function at the top level that will greedily import and check docstrings for a search string, or optionally just search function names if desired.

[2015-07-14 20:05] jni commented on #1608
I like @blink1073's idea. My point is that the search is very inefficient when it requires switching back to a browser (different workspace, for me), waiting for search results, scrolling to the right part of the API doc... If I could quickly search within IPython I would be happy.

Two other options for consideration:

- `skimage.directory.foo` would contain a string with the full package path to

[2015-07-14 20:15] ahojnnes commented on #1608
skimage.all / skimage.directory sounds like a good idea to me. Maybe with
the option to output the actual package path.

On Tue, Jul 14, 2015 at 1:05 PM, Juan Nunez-Iglesias <
notifications@github.com> wrote:

[2015-07-14 20:28] emmanuelle commented on #1608
I'm also not in favor of flattening the API. The use pattern that I like most is  ``from skimage import filters``. It's true that I go to the API doc page several times a day because I'm not sure of the location of a function.

Should we consider instead to merge the most problematic submodules? Somehow I'm always hesitating between ``filters`` and ``restoration`` for denoising filters, and I'm al

[2015-07-14 20:32] vighneshbirodkar commented on #1608
Functions are searched better in a web browser. It does all that and better. @jni and @blink1073 are trying to do too much behind the scene IMHO.

[2015-07-14 20:33] blink1073 commented on #1608
I'm talking from a pure REPL perspective.

[2015-07-14 20:33] blink1073 commented on #1608
(Especially as someone who has worked in a lab with no internet access).

[2015-07-14 20:35] vighneshbirodkar commented on #1608
If you type "segmentation" in the API search box you get everything related to segmentation.

[2015-07-14 20:35] blink1073 commented on #1608
Octave has `lookfor` function:  https://www.gnu.org/software/octave/doc/interpreter/Getting-Help.html

[2015-07-14 20:36] blink1073 commented on #1608
@vighneshbirodkar, that is assuming you have built the docs locally or have an internet connection.

[2015-07-14 20:38] vighneshbirodkar commented on #1608
@blink1073. You can still search the API offline if you browse the docs.  What you and @jni are trying to do will be better accomplished with a new module. Like something that can explore any package and aid its exploration

[2015-07-14 20:38] vighneshbirodkar commented on #1608
If you type "segmentation" in the API search box you get everything related to segmentation.

[2015-07-14 21:08] jni commented on #1608
@emmanuelle I think there is still room for confusion even with a few merges, e.g. `relabel_sequential` and `remove_small_objects` could both be in `util`.

@vighneshbirodkar there is an argument for convenience. Neither `directory` nor `all` are cumbersome to make, and could be automated. As to making a more general package, I think it would be very tricky to cover all different package structure

[2015-07-14 21:08] jni commented on #1608
I've certainly opened a big-ass can of worms here! =P

[2015-07-14 21:11] emmanuelle commented on #1608
@jni and how about redundant imports?

[2015-07-14 21:44] vighneshbirodkar commented on #1608
@jni But are we willing to sacrifice readability?  Reading code will be like reading a book without chapter names. Grouping functions into modules makes the programmer want to explore the module he is using. A person reading  `skimage.all.BRIEF` will have to put in more effort to find out about other features like DAISY or CENSURE.

I think reading takes more importance over writing.  That's also

[2015-07-14 21:48] JDWarner commented on #1608
There's a balance to be struck here. Simply saying "it's online, look it up" forces a context switch which is very costly in terms of productivity and can be quite frustrating. One of the most frustrating tutorials I've ever attended at a SciPy conference was for a package which had poor docstrings but good HTML docs.

However, a flat namespace gets troublesome fast. I still think (efficiency asid

[2015-07-14 21:50] vighneshbirodkar commented on #1608
For any marvel fans out here
![captain america civil war](https://cloud.githubusercontent.com/assets/3823490/8686027/53a38784-2aa0-11e5-90bf-eb832c0a1ac9.jpg)

[2015-07-15 03:49] stefanv commented on #1608
Ah, Juan, good one--you almost had me there.

[2015-07-15 13:07] jni commented on #1608
@stefanv ROTFL nice. Do you also veto all of the other mooted options? =) To recap: (1) skimage.directory, (2) skimage.all, (3) redundant imports, and (4) a whole new third package to search for functions within Python packages.

[2015-07-15 13:08] blink1073 commented on #1608
Let's tie with docrepr and have a launch in a web browser:  https://github.com/spyder-ide/docrepr.  That is in scope for scikit-image, right?

[2015-07-15 19:06] CharlesMei opened #1611 "import configparser for python2"
I use python2.7
File "Anaconda\lib\site-packages\skimage\io\manage_plugins.py", line 101, in _parse_config_file
    parser = ConfigParser()
this is because the wrong import of configparser,
from configparser import ConfigParser works for no exception, so the except part doesn't run
we can change
try:
    from configparser import ConfigParser  # Python 3
except ImportError:
    from ConfigParser im

[2015-07-15 23:39] stefanv commented on #1611
I'm confused--how did this manage to pass all the unit tests?

[2015-07-15 23:44] stefanv commented on #1605
I would err on the side of Matthew's caution.

[2015-07-15 23:56] stefanv commented on #1608
How about we borrow numpy's lookfor functionality?

[2015-07-16 00:01] stefanv commented on #1608
We may have to make a PR to numpy to support using our own cache.  Until then, we can maintain a copy.

Example usage:

[code]

[2015-07-16 01:42] ahojnnes commented on #1608
+1 for lookfor. "Polluting" the global namespace is a bad idea imo.

[2015-07-16 01:46] blink1073 commented on #1608
Oh, huh, `np.lookfor('rgb', 'skimage')` works as expected.  We could just create a version that adds `skimage` by default for the `module`.

[2015-07-16 02:01] jni commented on #1608
Awesome. Didn't know about this function at all!

In addition to including our own lookfor (maybe), I would still support the creation of a flat directory so that function names could be tab-completed.

[2015-07-16 02:19] blink1073 commented on #1611
I tried `from configparser import ConfigParser` on Python 2.7, it gives an `ImportError` as expected.  Something must be off on your system @CharlesMei.

[2015-07-16 02:21] blink1073 commented on #1611
But, we could certainly be more explicit here.

[2015-07-16 05:44] CharlesMei commented on #1611
@blink1073 Maybe you are right. I  test it on another pc, it gives an ImportError as you say. I think this may owing to my installation of theano. I use anaconda (python2.7) and create an env python3.4, after the installation of theano for python2.7, i can't start spyder for python3.4 now(some error about configparser and theano), but i can use theano for python2.7 even with gpu. Thank you.

[2015-07-16 12:29] jni commented on #1410
@daniorerio did you resolve this issue?

[2015-07-16 12:31] jni commented on #1372
Addressed by #1459.

[2015-07-16 12:31] #1372 closed

[2015-07-16 13:19] almarklein commented on #1605
That's fair enough; we'll get wheels and conda packages up and then we revive this issue a few months down the line.

[2015-07-16 21:01] daniorerio commented on #1410
Yes, problem with enthought canopy, not scikit image
On Jul 16, 2015, at 5:29 AM, Juan Nunez-Iglesias <notifications@github.com> wrote:

[2015-07-16 21:02] #1410 closed

[2015-07-17 01:17] #1611 closed

[2015-07-17 01:30] stefanv commented on #1608
As long as that namespace does not get imported by default--because that
would ramp up our default loading time.  (Alternatively, find a
workaround for that problem.)

[2015-07-17 02:36] blink1073 commented on #1608
How about this: https://pypi.python.org/pypi/apipkg

[2015-07-17 02:44] JDWarner commented on #1608
@blink1073 that looks pretty neat! If I'm reading it right, it's lazy but allows tab-completion _including in subpackages_ which would allow us to maintain the current submodule groupings.

[2015-07-17 02:50] blink1073 commented on #1608
That is my impression as well.

[2015-07-17 05:08] JDWarner opened #1615 "[RFC] Cache intersphinx inventory for NumPy / SciPy / Scikit-Learn"
Sphinx 1.3 adds the ability to specify a per-inventory (set of) fallback(s) in `conf.py` if loading intersphinx inventories fail: http://sphinx-doc.org/ext/intersphinx.html

SourceForge has been having problems all day long, which has kept the scikit-learn.org page offline. Thus, all of our builds fail when they attempt to load the intersphinx inventory from scikit-learn.

The benefits are obvious

[2015-07-17 05:09] JDWarner commented on #1615
I would have led with a PR for this, but I still can't retrieve the scikit-learn inventory to cache it :(

[2015-07-17 05:59] dshean opened #1616 "Previous median_filter functionality and current float [-1,1] requirement"
I just upgraded to 0.11.3 and I'm kind of surprised by the changes in the median filter functionality. I used the older skimage.filter.median_filter rather than the scipy.ndimage.filters.median_filter because I preferred the way it handled missing values. Scipy propagates data gaps (http://docs.astropy.org/en/v0.3/convolution/index.html), while the old skimage median filter would "fill" small gaps

[2015-07-17 21:58] stefanv commented on #1616
We don't aim to change any behaviour unless explicitly documented in api_changes.txt, so this was probably an oversight.

The pattern we have for handling images outside of the standard range is a "preserve_range" keyword--not sure which function you are using, it may not be implemented there.

@scikit-image/core Should we add preserve_range as a keyword to img_as_float and friends so that the pat

[2015-07-17 22:00] stefanv commented on #1615
No problem moving this dependency to 1.3.

[2015-07-17 23:46] ahojnnes commented on #1616
@stefanv preserve_range sounds like a good change to me.

[2015-07-18 01:52] JDWarner commented on #1616
We could easily decorate most of the package with a motif like this, exporting all of the range enforcement (untested):

[code]

[2015-07-18 02:07] blink1073 commented on #1616
:+1: for name and using a decorator

[2015-07-18 02:31] stefanv commented on #1616
Looks good to me! Josh, will you file a PR with that decorator + a test?
On Jul 17, 2015 7:07 PM, "Steven Silvester" <notifications@github.com>
wrote:

[2015-07-18 02:41] ahojnnes commented on #1616
How is enforce_dtype_range supposed to work?

[2015-07-18 06:20] JDWarner commented on #1616
@ahojnnes that's the trickier one, I started with the decorator for a reason ;)

Problem cases:
* dtypes "hiding" in larger array types (12 or 14bit raw camera images in a np.uint16 image)
* floating point images outside [-1, 1]

I see the first as not feasible to address in a satisfactory manner. We just leave those images alone. `preserve_range`, where used in the package presently, addresses th

[2015-07-18 06:25] ahojnnes commented on #1616
@JDWarner that is why I was asking. Don't you think this function would be
failing in way too many cases in unexpected or hard to understand ways?

[2015-07-18 06:45] JDWarner commented on #1616
I should think something like this would be rather robust, but comments/improvements welcome. (Untested, it's late, but you can see what I'm thinking)

[code]

[2015-07-18 07:30] ahojnnes commented on #1616
Hm... it seems like you have a different expectation of what preserve_range
should do: rescaling the range of values vs. clipping. I don't think this
is what I would expect from "preserve_range=True" (emphasis on "I" as other
people might think differently of course) and what is currently implement
e.g. in the warping functions. I expect the following: if I pass in an
array of any type, the functi

[2015-07-18 19:38] JDWarner commented on #1616
@ahojnnes good points, I may have misunderstood the context re:preserve_range. it's easy enough to grab the input range and scale the output back instead of clipping.

The decorator could be applied judiciously, but it is a common enough motif that this approach would let us use a single common implementation.

A perhaps more definitive solution would be to refactor `img_as_*` commands from within

[2015-07-18 20:39] ahojnnes commented on #1616
@JDWarner Scaling the output back to the input range only works for linear-functions though. I'll be more precise what I mean by preserve_range:
[code]

[2015-07-19 19:53] blink1073 commented on #1605
Another data point: pyzmq ships with a copy of libzmq, and IPython has been relying on it for some time now.

https://pypi.python.org/pypi/pyzmq

[2015-07-19 21:21] matthew-brett commented on #1605
Sure, but in the same sense that numpy or scipy or matplotlib ship with various dynamic libraries - these all have standard C extensions linking to the libraries, when are then shipped in the platform-specific wheel.  The new variant is the pure Python wheel shipping with dynamic libraries for multiple platforms (or downloading the library on import).

[2015-07-21 11:34] vighneshbirodkar opened #1618 "Frequency Domain filtering in scikit-image"
I'd like to contribute frequency domain filters to skimage. I want to know if this is a feature we'd like to have and how would we go about it. My intial guess is the code would live inside the `filters` module.

Some of the things I'd like to include would be
* ideal, butterworth and gaussian filters
* handle zero padding implicitly
* helper functions to compute the fourier transform and back
* h

[2015-07-21 18:22] jjhelmus commented on #1601
@michaelpacer I added the the necessary logic to build the *_check_build* module from the master setup.py in my [check_build_sprint branch](https://github.com/jjhelmus/scikit-image/tree/check_build_sprint) which should be ready for a pull request.  I can submit this if you would like.  Alternatively you can grab the two extra commits from that branch (or I could submit a PR against your branch) an

[2015-07-21 18:28] jjhelmus commented on #1601
Example of the new build checking machinery.

Prior to build:
[code]

After build:
[code]

[2015-07-22 03:38] jni commented on #1616
I agree with @ahojnnes interpretation and that our default should be `preserve_range=True`. Our contract with our users should be something along the lines of, "we will not mess with your data unless absolutely necessary". This includes both clipping and scaling.

@JDWarner in addition, I don't think iterating over a tuple is a good plan at all. Very often, the additional returned arrays of a func

[2015-07-22 03:41] JDWarner commented on #1616
Simple enough to tell it which output(s) are going to need looked at, since we'd be wrapping the function manually.

[2015-07-22 22:57] liuyifly06 opened #1619 "ImportError: cannot import name blob_dog"
After installing on Ubuntu, trying to run plot_blob.py.
yi@yi-Linux:~/Desktop/python$ python plot_blob.py
Traceback (most recent call last):
  File "plot_blob.py", line 42, in <module>
    from skimage.feature import blob_dog, blob_log, blob_doh
ImportError: cannot import name blob_dog

can not figure out why

[2015-07-22 23:04] JDWarner commented on #1619
Please post the result of `python -c "import skimage; print(skimage.__version__)"`

[2015-07-23 01:20] liuyifly06 commented on #1619
0.9.3

[2015-07-23 01:24] liuyifly06 commented on #1619
Actually, how to update it ...

[2015-07-23 01:48] liuyifly06 commented on #1619
Solved by following: https://blackbricksoftware.com/bit-on-bytes/95-scikit-image-installation-for-ubuntu-14-04

[2015-07-23 01:57] OmriTreidel opened #1620 "remove_small_objects doesn't work with dtype=uint8"
M  = array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 0],
       [0, 0, 0, 0, 0, 1, 1, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtyp

[2015-07-23 01:58] #1619 closed

[2015-07-23 01:58] stefanv commented on #1619
Also, if it would be helpful to have better installation instructions, please file a pull request!

[2015-07-23 03:02] stefanv commented on #1620
Works for me on 0.12dev.

[2015-07-23 03:11] jni commented on #1620
@OmriTreidel this is expected behaviour. From the docstring: "If the array type is int, it is assumed that it contains already-labeled objects." Therefore, the isolated 1 is considered part of the rest of the 1s. To remove it, you need to relabel it, or to pass the image as a bool image.

@stefanv that's surprising! Are you sure you passed in `uint8`?

[2015-07-23 03:11] #1620 closed

[2015-07-23 03:13] OmriTreidel commented on #1620
Yes, the matrix I added is the printout, so its definitely uint8

[2015-07-23 04:52] jni commented on #1620
@OmriTreidel I know yours is, cos it doesn't work, as expected. =) I just meant I was surprised @stefanv got it to work with the exact same input.

[2015-07-23 07:01] stefanv commented on #1620
[code]

[2015-07-23 08:11] jni commented on #1620
@stefanv LOL That's because you're using the default size threshold of 64. What @OmriTreidel was asking is to remove only the `1` at (2, 2) using a size threshold of 2.

[2015-07-23 17:04] stefanv commented on #1620
Ah, makes sense!

This behavior is confusing, I think. Should we consider changing it?
On Jul 23, 2015 1:11 AM, "Juan Nunez-Iglesias" <notifications@github.com>
wrote:

[2015-07-23 23:17] jni commented on #1620
@stefanv it's there for a good reason, which is that people might want to use whatever fancy labelling algorithm they have and then remove the small resulting objects — which may be discontiguous, or not separated by 0s. It's also much more efficient not to re-run the labelling if it's already been done.

When there are just 0 and 1 as labels, we could detect it as a binary image — which we alread

[2015-07-23 23:23] stefanv commented on #1620
I guess I wasn't clear: I was asking to remove any magic functionality, and
not to do selective interpretation of the input data. I hear the
effectivity argument, but really it is quite cheap to relabel an array.
Memory use may be a problem.

[2015-07-24 00:53] jni commented on #1620
Oh. Well then I'm 100% against this. =P "relabeling" means different things in different contexts. Often I want the behaviour of `ndi.label`, which treats the volume as boolean, and other times I want that of `measure.label`, which looks for contiguous segments of the same label. If we normalize to `ndi.label`, we lose the ability to remove small objects labeled with `measure.label`, and if we nor

[2015-07-24 01:12] stefanv commented on #1620
That'd rather emphatic, even for you Juan.

[2015-07-24 01:43] JDWarner commented on #1620
A discussion about the default size threshold (64) may be warranted.

Stepping back for a moment, how would one expect the algorithm to behave when faced with a small, unconnected region sufficiently far from a larger, same-labeled region such that it would be removed if they held different labels? Would two points with the same label, far apart, be considered a large object? What about three? Is

[2015-07-24 03:21] jni commented on #1620
@JDWarner re the default, I picked it because it's an integer-sized in both 2D and 3D (8x8 or 4x4x4), and a reasonable size for many applications. But of course it's highly dependent on application. Perhaps we should not have a default at all.

Regarding your use case, you're being way too complicated! Convex hulls??? It's just 1 label = 1 region. If the number of pixels with that label is below a

[2015-07-26 00:32] jni opened #1621 "New feature request: TEASAR skeletonization"
This is a conceptually simple and elegant skeletonization algorithm:
1. pick a point `a` within the structure; usually, the point farthest from any boundary.
2. Find the farthest point `b` from `a` (Conditions: travelling within the object; travel within the centerline of the object is cheaper; travel along existing skeleton is free).
3. Add the path (`a`, `b`) to the skeleton.
4. Set `a = b`.
5.

[2015-07-26 00:33] jni commented on #1621
(I might tackle this myself at some point; just wanted to note it down here.)

[2015-07-26 07:48] emmanuelle commented on #1621
Interesting! Which "kind" of skeletons does it produce? Some skeletonization algorithms produce skeletons with a lot of small branches, others don't.

[2015-07-27 17:24] jjhelmus commented on #1601
FYI I submitted a pull request for this branch in #1622

[2015-07-27 20:23] stefanv commented on #1621
From the paper, it looks like the algorithm is well-behaved w.r.t. branches.

[2015-07-28 16:50] stefanv opened #1623 "`imsave` handles bool images incorrectly"
[code]

results in a black image

[2015-07-28 17:12] JDWarner commented on #1623
It appears the original values are being maintained while the dtype is converted to uint8, resulting in an almost-black-on-true-black image if one views without an automatic window. Or,almost maintained; since JPEG is lossy there are a few inaccuracies in the roundtrip. With a PNG file the roundtrip is exact.

What to do here is fraught with peril, as a user might want and expect saved values of 1

[2015-07-28 21:51] stefanv commented on #1623
The behavior is broken from a user perspective, though, since they pass in a valid image, and get an image on disk that displays differently.  Even when loading back in, the data type is wrong.

[2015-07-28 22:14] JDWarner commented on #1623
It's not ideal, but since (afaik) PNG and JPEG don't support Boolean format this issue may be beyond our ability to address.

When I ran your example with JPEG (or other lossy formats) I got a few scattered values that were **2**, not just 0 and 1, so "convert 1-bit contrast image to bool on load" is perilous. Even disregarding this, scientists may have ultra-low contrast images after background s

[2015-07-28 22:20] stefanv commented on #1623
A bool array should be converted to uint8 before saved to a format that only supports uint8, no?  We do the same for float images.

[2015-07-29 01:39] jni commented on #1623
@stefanv isn't this the observed behaviour?

[code]

As @JDWarner notes, I don't think we can do anything sensible with jpg, but with png, the observed behaviour is the most correct, I think.

Ah, you're probably thinking of using `img_as_ubyte`, which results in values in {0, 255}. Maybe. @JDWarner what do you think about this?

[2015-07-29 03:09] stefanv commented on #1623
I guess since we have ``img_as_bool`` I presumed it is a fully supported image type.  But I notice that the docs does not state that.  What is our position?

[2015-07-29 04:55] JDWarner commented on #1623
The definition of "fully supported" isn't locked down, which is probably the main issue.

I'd say we fully support boolean images as Python objects. However, because the common image formats don't support this dtype, we're left with compromises any time they have to touch the disk.

Automatically bouncing such images to full-range [0, 255] on save makes me uncomfortable. We'd be changing users' da

[2015-07-30 03:21] jni commented on #1621
@emmanuelle the branches you get depend on your stopping criterion! I haven't played around with it but @funkey has, and very much likes the results. (He pointed me to the algorithm in the first place.)

[2015-07-30 03:52] JDWarner commented on #1621
I'm not entirely convinced by this approach. If I'm understanding it correctly, it will work reasonably well in larger tube-like structures but in finer ones will be quite erratic. Zoom in on the first set of figures and look at the ribs, as well as the lobster's extremities to see what I mean. To my eye those paths are _not_ centerline.

However... it does have a lot of advantages as stated, espe

[2015-07-30 04:13] jni commented on #1621
@JDWarner I think you can do all sorts of things to enforce centerline paths, e.g. add an exponential increase in the cost of deviating from the centerline. Again, the simplicity of the algorithm is a big advantage.

[2015-07-31 17:23] tacaswell commented on #1605
attn @danielballan

[2015-07-31 20:50] michaelaye opened #1624 "Add support for image data with NaNs"
Is there a general strategy on how to cope with it? Is it a goal to improve most tools to be able to cope sanely with image data that contains NaNs?

Currently found `disturbers':
- all Otsu tools
- random_walker segmentation

I could help with this, if wished, but maybe this came up before and it was decided to not have this as a goal for skimage?

[2015-07-31 22:26] JDWarner commented on #1624
@michaelaye, there has been some brief chatter about NaNs but no real impetus to make it happen. I think a large part of this is twofold:

* Unlike other fields of study (statistics, medicine), missing data is relatively uncommon in imaging by virtue of how images are typically acquired
* There is not, to my knowledge, broad agreement about how missing image data _should_ be handled - and it may w

[2015-08-01 01:34] stefanv commented on #1623
This often bites me when I'm trying to save binary masks.  I guess
having a warning is the best we can do.

[2015-08-03 14:31] jjhelmus commented on #1601
This issue can be closed as the merged PR #1622 address the problem.

[2015-08-03 14:55] JDWarner commented on #1601
Closed by #1622

[2015-08-03 14:55] #1601 closed

[2015-08-03 19:22] michaelpacer commented on #1601
@jjhelmus @JDWarner Apologies for not noticing this sooner — I'd been away from all this git for a couple weeks, but I'm happy that this got completed and merged.  Thank you a tonne for this and https://github.com/scikit-image/scikit-image/pull/1622!

[2015-08-04 18:10] michaelaye commented on #1624
Thanks for your feedback. How about the Otsu stuff? As they are just 1-D calculations, should that not be okay to just filter out NaNs automatically for that?

[2015-08-04 18:13] wenzhexue commented on #1623
@stefanv Warning would be good. I run into similar situation when saving a multiple label mask image in uint8 last month. ImageJ shows "total" black. I spent quite some time to debug until realizing it's not the code.

[2015-08-04 21:26] JDWarner commented on #1624
@michaelaye Indeed, those would be an ideal place to begin! Simply omitting NaNs seems perfectly appropriate for non-adaptive thresholding (adaptive may be a little trickier).

[2015-08-06 14:12] r-atwood opened #1627 "Unexpected requirement for floating point images"
I don't think this is reasonable, to require floating point images to lie between [-1,1] and I don't see why this should be necessary particularly for sobel edge finding.

[2015-08-08 19:30] #1615 closed

[2015-08-08 19:30] stefanv commented on #1615
Closed by #1628.

[2015-08-08 21:01] JDWarner opened #1629 "NetworkX dropped support for Python 2.6 in version 1.10"
See [networkx/1185](https://github.com/networkx/networkx/issues/1185). Apparently Python 2.6 is now almost two years past end-of-life, and this was used as justification to drop official support. NetworkX still works perfectly fine on 2.6, but that version was removed from the support matrix so pip doesn't recognize this.

As of 8/2, when NetworkX 1.10 was released, every 2.6 build fails when atte

[2015-08-08 22:07] hagberg commented on #1629
Those are good arguments for maintaining support for 2.6.  I'm willing to look into how hard it would be to make a 2.6-friendly release for networkx-1.10.  I don't have a Python2.6 setup right now to check for issues and fixes; it may not be that difficult.   If someone could help here we might be able to figure that out sooner than later.

Generally I have been advocating for developing new modul

[2015-08-09 03:10] ysitu commented on #1629
Backport of set literals, dict/set comprehension and `OrderedDict` in Python 2.7 makes it actually quite different from Python 2.6. Moreover, there have been numerous uses of these features in NetworkX 1.10 (in other words, NetworkX no longer "works perfectly fine on 2.6"). In fact, ordered graph classes, based on `OrderedDict`, is a major new feature in the 1.10 release. So there *is* good reason

[2015-08-09 04:11] tacaswell commented on #1629
Personally, I would like to drop 2.6 for mpl as well asap (probably next year).  `OrderedDict` and dict comprehensions would both be super helpful.

It is easy enough to install conda on older systems to get modern python and old versions will continue to work on old python.  It is unrealistic to expect to run a bleeding edge scientific stack on end-of-lifed system python.

[2015-08-09 05:19] JDWarner commented on #1629
For reference, `OrderedDict` can be supported all the way back to 2.4 with a conditional import of [this MIT-licensed backport](http://code.activestate.com/recipes/576693/).

[2015-08-12 21:41] stefanv opened #1630 "`denoise_bilateral` has undocumented default for parameter `sigma_range`"

[2015-08-12 22:19] JDWarner commented on #1630
Confirmed. It's set to the standard deviation of the input image if the default `None` is left alone.

[2015-08-13 08:35] connellybarnes opened #1632 "imsave() produces incorrect output for 3D array with width or height 1"
To reproduce this bug, simply construct a 3D array with width or height 1 and use skimage.io.imsave(). For instance, we could save a 1x1 color image:

    ...
      File "/usr/local/lib/python2.7/site-packages/skimage/io/_plugins/pil_plugin.py", line 258, in imsave
        raise ValueError("Invalid shape for image array: %s" % arr.shape)
    ValueError: Invalid shape for image array: 3

The correc

[2015-08-13 19:27] stefanv commented on #1632
I think we should avoid too much magic and remove the squeeze.

[2015-08-13 19:53] ahojnnes commented on #1632
+1 I am always for less magic :-)

[2015-08-13 22:05] JDWarner commented on #1632
:+1: from me as well.

If we simply remove the squeeze, the exception remains informative for an image of shape (M, N, x) where x is anything except 3 or 4:

[code]

[2015-08-13 22:53] JDWarner commented on #1632
I have a fix on the way for this (as well as Travis).

On Thu, Aug 13, 2015 at 2:53 PM, Johannes Schönberger <
notifications@github.com> wrote:

[2015-08-14 15:22] grlee77 commented on #1514
@JDWarner, @ahojnnes :  I would like to put a PR to use mode `symmetric` (the `np.pad` equivalent name for `reflect` to take into account the naming conventions decided on in #1583) as the default for `resize`.  This should also fix the specific example shown in #1585 (although due to a bug in `ndimage` the mode `wrap` could still give an inconsistent result between 2D and 3D cases).

The only dow

[2015-08-14 15:55] JDWarner commented on #1514
Generally, we deprecate improvements for two minor point releases. However,
we immediately fix and document bugs which require API changes.

Looking back at #1585, I'm inclined to consider this a bug and recommend a
breaking fix.

On Friday, August 14, 2015, Gregory R. Lee <notifications@github.com> wrote:

[2015-08-14 16:31] ahojnnes commented on #1514
How about making it `mode=None`, then:
[code]

On Fri, Aug 14, 2015 at 8:55 AM, Josh Warner <notifications@github.com>
wrote:

[2015-08-14 17:38] JDWarner commented on #1514
:+1: for this approach. Warn the user the default changed in 0.12, and how
to restore the previous behavior.
On Aug 14, 2015 11:31 AM, "Johannes Schönberger" <notifications@github.com>
wrote:

[2015-08-14 19:51] grlee77 commented on #1514
I will take that approach.  thanks

[2015-08-15 22:53] #1632 closed

[2015-08-16 18:40] xkjyeah opened #1635 "enforce_label_connectivity with SLIC results in segfault"
On certain images, enforce_label_connectivity fails with a segfault.

[2015-08-16 18:41] ahojnnes commented on #1635
This is not very useful without providing the images or a stack trace. Could you provide either of those?

[2015-08-16 18:42] xkjyeah commented on #1635
Thanks... it's a 4 channel image. I'm not sure how to attach it... Could I attach a .pickle instead? How should I do that?

[2015-08-16 18:46] xkjyeah commented on #1635
http://squidssquids.mooo.com/fails_slic.pickle

[2015-08-16 19:04] jni commented on #1627
@r-atwood I agree. I'm currently on holiday, but PRs are always welcome. Otherwise this might be something good to tackle at the sprints at EuroSciPy... =)

[2015-08-19 23:12] mavillan opened #1637 "Uniform LBP with scikit-image local_binary_pattern function"
I'm using the local_binary_pattern from skimage.feature with uniform mode like this:

    [[  0.00000000e+00   1.57210000e+04]
     [  1.00000000e+00   1.86520000e+04]
     [  2.00000000e+00   2.38530000e+04]
     [  3.00000000e+00   3.23200000e+04]
     [  4.00000000e+00   3.93960000e+04]
     [  5.00000000e+00   3.13570000e+04]
     [  6.00000000e+00   2.19800000e+04]
     [  7.00000000e+00   2.

[2015-08-20 04:10] mavillan commented on #1637
It was just a confusion of names as explained here: http://stackoverflow.com/questions/32105338/uniform-lbp-with-scikit-image-local-binary-pattern-function/32108667#32108667

[2015-08-20 04:10] #1637 closed

[2015-08-20 04:30] stefanv commented on #1637
If anything is unclear in the docs, please file a pull request. It would be
much appreciated!

[2015-08-22 11:01] #1018 closed

[2015-08-24 14:10] blink1073 opened #1641 "Add Continuous Docs Release"
Based on https://medium.com/@nthgergo/publishing-gh-pages-with-travis-ci-53a8270e87db.

@stefanv, what is the current process for pushing the latest dev documents?

[2015-08-25 01:52] yarikoptic commented on #1463
yes -- that was on amd64 and issue still persists. libfreeimage is 3.15.4-4.1+b2
Additionally experiencing
[code]

just in case you need debian sid, there are docker images, so `docker run -it --rm=true --entrypoint=/bin/bash debian:sid` and then inside `sed -ie 's,^deb \(.*\),deb \1\ndeb-src \1,g' /etc/apt/sources.list; apt-get update; apt-get build-dep -y python-skimage; apt-get install git; ` t

[2015-08-26 09:29] emmanuelle opened #1642 "Add background keyword to remove_small_objects"
It could be nice to have a ``background`` keyword argument for ``morphology.remove_small_objects``, that would remove small holes instead of small objects. It's straightforward to do it with two calls to ``np.logical_not``, but it might be nicer to have the option within the function. Also, what should be the name of the keyword argument? I was thinking ``background=False``, but ``invert=False`` m

[2015-08-26 19:18] stefanv commented on #1642
How about `morphology.remove_small_holes`? :)

[2015-08-26 19:42] ahojnnes commented on #1642
@stefanv +1

[2015-08-26 21:51] emmanuelle commented on #1642
I guess it makes sense :-).

[2015-08-27 04:54] AbdullahAmer86 opened #1643 "Automated Retinex"
Hi I'm working on retinex algorithm MSRCR and im trying to make the surround function to be automated not manually changed so is there any ideas or support regarding to my point ?
Abdullah Amer

[2015-08-27 10:41] emmanuelle commented on #1643
@AbdullahAmer86 Hi Abdullah, it is not clear to me how this is a related to an issue of the scikit-image package, could you please explain? If you're looking for help on image processing with scikit-image, the mailing-list (scikit-image@googlegroups.com) might be a better place to ask, but I think you need to give more details.

[2015-08-27 11:36] ivoflipse commented on #594
This issue can be closed, since the PR for fasthog has been merged in.

[2015-08-27 13:12] JDWarner commented on #594
Closed by #595

[2015-08-27 13:12] #594 closed

[2015-08-27 14:09] cpieringer opened #1644 "Cannot import modules in Anaconda 3"
Hi,

I installed Anaconda 3. I'm trying to import some modules from scikit-image but when I run my script it gives me an error. For example, if I want to convert an image to gray scale:

    import skimage
    img_gray = skimage.color.rgb2gray(img)

    [out] AttributeError: 'module' object has no attribute 'color'

Somebody have the same problem?

Best regards

[2015-08-27 14:13] blink1073 commented on #1644
Hi @cpieringer, we purposely do not import all of the subpackages by default, to improve loading time.  You'd have to use something like:

[code]

[2015-08-27 14:25] cpieringer commented on #1644
@blink1073 Thank you very much!

[2015-08-27 14:27] blink1073 commented on #1644
Cheers!  Closing this as it seems your problem is solved, feel free to reopen if you disagree.

[2015-08-27 14:27] #1644 closed

[2015-08-27 14:36] emmanuelle opened #1645 "``segmentation.find_boundaries`` and ``segmentation.mark_boundaries`` do not support boolean types"
It would be nice to be able to pass a boolean binary image to these two functions. Testing for boolean type and converting to int is straigthforward.

[2015-08-27 20:14] #1643 closed

[2015-08-27 22:01] emmanuelle commented on #1635
It might be the same issue as #1448

[2015-08-27 22:11] emmanuelle commented on #1586
+1 for raising an error

[2015-08-27 22:13] emmanuelle commented on #1585
@grlee77  Was this issue solved by #1583? Can we close it?

[2015-08-28 03:22] grlee77 commented on #1585
Not quite yet.  Now that #1583 has been merged I need to submit a small PR to change the default mode from `constant` to `symmetric` as discussed in #1514.

[2015-08-28 09:25] ekremney opened #1646 "Flattening histogram into a feature vector in scikit-image/skimage/feature/_hog.py is redundant."
In return statements of scikit-image/skimage/feature/_hog.py, ravel() is used to flatten histogram into a vector. It is redundant as last user can add ravel function if it is needed.

In my case, I needed histogram not flattened; so I had to modify in source code.

[2015-08-28 10:46] emmanuelle commented on #1646
It's true that I don't really understand the interest of flattening the histogram...

[2015-08-28 11:03] emmanuelle opened #1647 "Should we rename gaussian_filter and gabor_filter to gaussian and gabor?"
All other filters are using just the name of the filter, so this could improve the consistency of the API. For example, ``median_filter`` has already been renamed to ``median``.

[2015-08-28 13:41] emmanuelle opened #1648 "plot_hog.py results in strangely-looking figure in the gallery"
Compare http://scikit-image.org/docs/dev/_images/plot_hog_1.png and http://scikit-image.org/docs/0.11.x/_images/plot_hog_1.png

I don't think the example changed, so it must be inside the hog functions or in one of the functions called by this function.

[2015-08-28 13:44] emmanuelle commented on #1648
@ivoflipse you have been working on HOG recently, so you may have an idea of what is going wrong for the example. If you find a little time to take a look at it, that'd be awesome!

[2015-08-28 14:05] emmanuelle opened #1649 "Using google analytics for scikit-image website"
At the moment we do not have a lot of information about the way users browse our website: which are the most viewed pages? What are the typical navigation patterns? Where do visitors come from?

Using google analytics would be a simple way to gain more insights about website usage. If we decide that we want to use it, it's just a few lines of code to add to doc/source/themes/scikit-image/layout.ht

[2015-08-28 14:37] emmanuelle opened #1650 "Expand on the watershed markers example"
The explanations in the http://scikit-image.org/docs/dev/auto_examples/plot_marked_watershed.html example are a bit too sketchy I think. Providing more explanations could improve the example, which is very interesting.

[2015-08-28 15:17] emmanuelle opened #1651 "Structuring the example gallery a little more"
We're starting to have a large number of examples in the gallery (hurray!!), which makes it a bit difficult to find a specific application. I was thinking that might add one structuring layer on top of the gallery, with different sections.

Possible sections could be

- color and exposure
- filtering, enhancement and denoising
- segmentation
- feature detection
- geometric transformations
- visual

[2015-08-28 15:22] avrybintsev opened #1652 "Temporary file from file_or_url_context is not removed on error"
In case error occured in file_or_url_context (source: https://github.com/scikit-image/scikit-image/blob/master/skimage/io/util.py#L23) on `u = urlopen(resource_name)` or `f.write(u.read())` (lines https://github.com/scikit-image/scikit-image/blob/master/skimage/io/util.py#L28-L29) temporary file created with `tempfile.NamedTemporaryFile(delete=False, suffix=ext)` will not be removed.

[2015-08-28 17:28] robintw commented on #1579
This seems to be fixed now - see http://scikit-image.org/docs/stable/user_guide.html

[2015-08-28 17:29] stefanv commented on #1651
I'm +1 on adding some sub-headings, but I would like for everything to
still appear visible on one page if possible.  I saw with scikit-learn
they make small icons that then blow up when you move the mouse across.

[2015-08-28 17:29] odebeir commented on #1630
This is a nice topic for todays sprint !

[2015-08-28 17:39] JDWarner commented on #1647
:+1:

On Friday, August 28, 2015, Emmanuelle Gouillart <notifications@github.com>
wrote:

[2015-08-28 17:40] jwiggins commented on #1586
I'll look into this.

[2015-08-28 17:41] stefanv commented on #1579
Closed by #1600

[2015-08-28 17:41] #1579 closed

[2015-08-28 17:43] ashkurti commented on #1642
I am going to start the sprint with this.

[2015-08-28 17:44] juliusbierk opened #1653 "Example for hough_circle"
Currently working on it (euroscipy sprint).

[2015-08-28 17:48] rougier opened #1654 "Link to github source for example"
I'm currently trying to get rid of ticks and labels in the gallery examples and I realize that there is no direct link to the github source file.

For example, if I look at `http://scikit-image.org/docs/dev/auto_examples/plot_adapt_rgb.html`, how do I know the relevant file is `https://github.com/scikit-image/scikit-image/blob/master/doc/examples/plot_adapt_rgb.py` (my browser does not display the

[2015-08-28 17:51] oew1v07 opened #1655 "Wrapper for scipy.ndimage.morphology.binary_hit_or_miss into binary.py"
Many of the scipy.ndimage binary stuff has been imported into binary.py however the hit and miss function is not in here. There may be others that I have not found.

[2015-08-28 17:51] oew1v07 commented on #1655
I'm working on this at the EuroScipy 2015 sprint

[2015-08-28 18:07] #1655 closed

[2015-08-28 18:25] poyobe commented on #1231
I noticed that the rgb2hsv function is used in the "Tinting gray-scale images" example of the gallery. I will try to see if changing the example's title or maybe spliting it in 2 could be a good idea. (Sorry if my english is bad :) )

[2015-08-28 18:30] oew1v07 commented on #1650
I'll do this one!

[2015-08-28 18:56] stefanv commented on #1654
You mean other than their names being the same?

[2015-08-28 19:07] stefanv opened #1661 "Replace cubehelix colormap with viridis"
Also useful for normalized images @jni @rougier

[2015-08-28 19:09] #1630 closed

[2015-08-28 19:10] rougier commented on #1654
Yes. This is how I find the revelant file in the end. Maybe it's enough if this naming scheme is consistent over all the examples.

[2015-08-28 19:14] bsipocz opened #1662 "Adding nitpicky option for non-functional API links"
I wonder whether there is any check for the resolvability of API links? In astropy and affiliates we use "nitpicky = True" in the docs/conf.py that causes the sphinx build fail on travis if an interspinx link is unresolved.
(e.g. https://github.com/astropy/astropy/pull/2508)

I couldn't tested this at the euroscipy sprint as was unable to build the docs.

[2015-08-28 19:16] stefanv commented on #1654
I think it should be 100% consistent.

[2015-08-28 19:16] stefanv commented on #1654
(Also, the download link downloads a .py file with the same base name.)

BTW, hi @rougier :)

[2015-08-28 19:21] ashkurti opened #1664 "Failing tests due to "jpeg encoder error""
The errors are similar, I am pasting the messages just for one of the 3 tests that fail.
I am trying looking around internet for a solution to this as well.
[code]

[2015-08-28 19:23] rougier opened #1665 "Daisy example faulty output"
If you look at the example in http://scikit-image.org/docs/dev/auto_examples/plot_daisy.html:

![](http://scikit-image.org/docs/dev/_images/plot_daisy_1.png)

it seems some pixel are "missing". When you run the example localy, you don't have such problem but the overall quality of the circles and line is not so good I would say (circles appears very roughly antialiased).

[2015-08-28 19:23] derfuzzle commented on #1627
this appears to be fixed in current master

[2015-08-28 19:32] rougier commented on #1654
Hi @stevanv ! BTW, Really great work on the viridis colormap and great talk at Scipy by Nathaniel.

[2015-08-28 19:40] ashkurti opened #1668 "Failing test - AssertionError"
Any idea on how to fix this:
[code]

[2015-08-28 19:41] ashkurti commented on #1664
Good news is that I solved it (bad news at the end :D).

The steps I followed in case anyone encounters the same problem are the following (CentOS environment):
[code]
Then add the following to setup.py:
[code]
Then, reinstall everything and retry the tests:
[code]
All tests work apart from one that does not relate with this problem and that has been explained at #1668

[2015-08-28 19:41] #1664 closed

[2015-08-28 19:41] odebeir commented on #1231
I volunteer for adding an example for gamma and log contrast adjustment.

[2015-08-28 19:42] jwiggins commented on #1661
@stefanv: The only mention of cubehelix that I can find is in `skimage.external.tifffile.tifffile` on line 4602. COuld that really be the only place which needs to be changed?

[2015-08-28 19:48] jni commented on #1661
@stefanv it seems you're forgetting that @blink1073 already did this LOL

[2015-08-28 19:49] jni commented on #1661
@stefanv #1599 =)

[2015-08-28 19:50] jni commented on #1661
Actually, @jwiggins, if you're looking for quick fixing, cubehelix is still used in `doc/examples/plot_rag_draw.py`

[2015-08-28 19:53] ashkurti commented on #1642
Before doing any modifications I wanted to have scikit-image up and running on my laptop. I have had the following problems so far with tests described at #1664 (that I managed to solve) and #1668.

[2015-08-28 19:55] jwiggins commented on #1661
Yeah, I can fix that.

[2015-08-28 19:59] rougier opened #1669 "Swirl artefacts ?"
The image from the swirl example at http://scikit-image.org/docs/dev/auto_examples/plot_swirl.html seems to have black artefacts on the border. As if one side of the image has been shifted to the other side. Is that the expected behavior ? If yes, maybe it's worth writing it.

![](http://scikit-image.org/docs/dev/_images/plot_swirl_1.png)

[2015-08-28 19:59] #1654 closed

[2015-08-28 20:01] jni commented on #1627
@r-atwood I've verified with @derfuzzle that all Sobel functions work with arbitrary range floats in the current master. What version of scikit-image are you using? Updating should fix it, I think!

[code]

[2015-08-28 20:01] #1627 closed

[2015-08-28 20:02] jni commented on #1627
@r-atwood reopen the issue if updating doesn't fix it! Thanks for reporting!

[2015-08-28 20:05] jni commented on #1665
@rougier I think this is an issue with Matplotlib, which resamples images when displaying. If you save the `descs_img`, do you see the same issue?

[2015-08-28 20:05] jni commented on #1669
I know that we've seen this before, but I don't remember the outcome of that discussion. @ahojnnes?

[2015-08-28 20:16] jwiggins commented on #1661
Hmm... Well. I can fix this, but not test it since I don't run the bleeding edge matplotlib

[2015-08-28 20:43] rougier commented on #1665
When I save the whole fig, the circles are ok (but still "badly" drawn).

[2015-08-28 21:00] emmanuelle commented on #1668
I looked at it with @ashkurti  and it seems that some additional outliers were detected, sounds like a real bug.

[2015-08-28 22:20] grlee77 commented on #1585
I think due to some bugs in `ndimage.map_coordinates`, it will not be possible to resolve this for all edge cases.  The cleanest solution would be to update the skimage interpolation code to work for 3D as well, but I don't have the free time to work on that in the immediate future.

From current master, edge mode 'symmetric' results in disagreement for 2D and 3D images in the example above.  For

[2015-08-28 22:23] stefanv commented on #1585
Wouldn't fixing this directly in ``scipy.ndimage`` be the easiest
approach?  I'd be happy to help review and merge such a PR.

[2015-08-29 07:46] sciunto commented on #1649
I'm sorry but I have to say that I'm against, to protect the privacy of our visitors. A self-hosted tool can do the same job without sending information to GAFAM.

[2015-08-29 08:19] emmanuelle commented on #1668
@ashkurti the test passes on my laptop. If you have the time, we should get together at some point and see what happens to the different points and what is the difference on your computer and on mine.

[2015-08-29 09:06] odebeir opened #1677 "Problem in restoration.denoise_bilateral with zeros image"
it seems that the special case of a null image returns

[code]

[2015-08-29 10:00] emmanuelle commented on #1677
@odebeir thank you for spotting this bug. There is a comment saying in the source code of the cython function
[code]
but in fact we only check for strictly negative values
[code]
So this should we replaced by
[code]

[2015-08-29 10:03] ashkurti commented on #1668
Yes @emmanuelle lets check this together today, I will be around most of the day.

[2015-08-29 10:04] emmanuelle commented on #1677
Also, I can't see any good reason why `denoise_bilateral` should not work on images with negative values. How about substracting the minimum of the image?

[2015-08-29 10:14] jwiggins opened #1678 "Travis builds are slow"
I noticed this during the EuSciPy sprint last night, but I'm new here so I'd love to hear the opinion of people who've actually worked on this.

So, for illustration, here's a recent Travis run: https://travis-ci.org/scikit-image/scikit-image/builds/77734058
If we look at the Python 2.7 build for that run, we see that it took about 20 minutes. Of that 20 minutes, nearly 7 minutes was consumed by t

[2015-08-29 10:26] ashkurti commented on #1668
@emmanuelle I just ran the tests again twice with the respective difference at test_ransac_geometric().
1. The test failed - using ``` model_est, inliers = ransac((src, dst), AffineTransform, 2, 20)```
2. The test passed - using ``` model_est, inliers = ransac((src, dst), AffineTransform, 4, 20)```

[2015-08-29 10:36] odebeir commented on #1677
indeed, or maybe a mention in the doc of the function could mention the range of accepted values

[2015-08-29 13:50] emmanuelle commented on #1678
I wonder whether we need ``python setup.py build_ext --inplace`` to build the doc (but I'm not sure about it :-/)

Comment Close and comment

[2015-08-29 13:59] #1586 closed

[2015-08-29 14:34] blink1073 commented on #1678
We've had that step all along, I had accidentally removed it in a PR.  Either way, we need to have a compile step in order to test the library, since we do not have compiled extensions in version control.

[2015-08-29 14:53] tacaswell commented on #1649
We have GA setup on matplotlib.org and it is working out well.

[2015-08-29 15:06] emmanuelle commented on #1649
@sciunto @tacaswell thank you for your input. There are indeeed pros and cons about using GA. As François is mentioning it, the main argument against it might be to give the data to Google. As for the pros, the main reason that I can see would be to improve the website using a better understanding of how people use it, which is a big deal in my opinion.

In addition to matplotlib, scikit-learn is

[2015-08-29 15:10] ahojnnes commented on #1649
We also provide "Like" buttons on our websites, use Google fonts, etc. I am
not an expert on this, but I think adding Google Analytics wouldn't
increase Google's ability to track our users - it is already there.

+1 on including GA - but I generally agree with @sciunto about the
tracking, even though we would have to be consequent about it and exclude
all of the other features as well.

[2015-08-29 15:41] sciunto commented on #1649
Piwik can do a similar job as GA. Fonts can be installed on the server as well.

In short, I have difficulties to understand how we can promote free/libre softwares (python, scipy and scikits) in one hand and in the other hand we can rely proprietary softwares or components that we cannot trust (either in terms for privacy (GA) or control and perennity (travis-ci, google mailing lists)). I'm reall

[2015-08-29 16:20] connellybarnes opened #1680 "Round-trip save/load of grayscale float image through PNG format returns inconsistent result"
If we construct a grayscale float array, save it to PNG, and load it back, we get a different result:

    2.9999084493610795

    (Assertion error)

The problem appears to be because `skimage.io.imread()` on a grayscale 16-bit PNG in fact returns a numpy array of `int32` format. The bug disappears if `imread()` casts its output to `uint16` type.

The deeper underlying problem causing this is that

[2015-08-29 16:34] tacaswell commented on #1649
Sorry to drag this conversation out, but I want to respond to @sciunto s comment.

I view this as a practicality vs purity thing (we are also a BSD not a GPL community).  There are open / self hosted ways to do all of these things, but getting those setup, working, and maintained takes developer effort.  I think it is a much better use of our (very limited) resources work on the code we care about

[2015-08-29 16:42] tacaswell commented on #1678
setuptools is also clever enough to not re-compile things if not needed, I suspect that the second line is very fast compared to the first.

[2015-08-29 17:08] jwiggins commented on #1678
@tacaswell: Surprisingly, it's not much faster. I've got a PR (jwiggins/scikit-image#1) open on my repo where I'm trying some thing out. I'll open a PR here if I come to any useful conclusions.

[2015-08-29 19:27] ahojnnes commented on #1649
Agreed with Thomas.

[2015-08-29 19:45] sciunto commented on #1649
BSD and GPL are both free/libre licenses, one gives more permissions,
but still, they both relies on sharing. As GPL softwares, BSD softwares
are getting better only if people are willing to give. So each time I
have a choice, I prefer to make things that promotes sharing.

About the developer effort, my calculation does not give me the same
result. What I see is a fragile situation relying on the

[2015-08-29 19:48] pratapvardhan commented on #1649
Not really sure if we are using an external web-server to host content, apart from github pages.

But, we are using one, then to get for access logs, we could use ngnix or apace server. That shall give the data to answer - "Which are the most viewed pages? What are the typical navigation patterns? Where do visitors come from?"

Sample conf file for NGINX Reverse proxy settings to Github pages - ht

[2015-08-30 07:05] emmanuelle commented on #1642
@ashkurti it's too bad that we haven't been able yet to fix #1668 for you, but I think this does not prevent you from working on ``remove_small_objects`` if you feel like to. Thank you!

[2015-08-30 07:07] emmanuelle commented on #1591
I think that http://scikit-image.org/docs/dev/contribute.html would be the right place to explain how to build the docs, since it's typically contributors who will do it.

[2015-08-30 07:12] emmanuelle commented on #1650
Closing, this issue has been solved by #1673.

[2015-08-30 07:12] #1650 closed

[2015-08-30 09:37] emmanuelle commented on #1653
Fixed by #1663.

[2015-08-30 09:37] #1653 closed

[2015-08-30 09:39] emmanuelle commented on #1646
@scikit-image/core

[2015-08-30 10:09] jwiggins commented on #1678
I don't think `pyamg` is actually being installed when the tests run on Travis

[2015-08-30 10:09] oew1v07 commented on #1642
@ashkurti Is it ok to start working on this? It'll take me a little while before I start doing anything so feel free to get back at any time.

[2015-08-30 10:32] emmanuelle commented on #1678
@jwiggins I don't think either. ``pyamg`` is only used for one function (``segmentation.random_walker``), and the package has not been ported to Python 3 :-(.

[2015-08-30 10:39] emmanuelle commented on #1651
+1 also for having everything on the same page.

[2015-08-30 10:41] emmanuelle commented on #1651
About the gallery, did you known about the ``sphinx-gallery`` package https://github.com/sphinx-gallery/sphinx-gallery ? It might be interesting for us to use it at some point, in order to have less maintenance for the gallery.

[2015-08-30 11:35] juliusbierk opened #1682 "hough_circle radii does not accept scalars/lists"
If I would like to run hough_circle for a known radius, I find it annoying that I have to do `hough_circle(img,np.array([radius])`. Maybe it should also accept Python lists and python scalars?

[2015-08-30 11:40] emmanuelle commented on #1682
:+1: for accepting scalars and lists

[2015-08-30 11:44] emmanuelle commented on #1682
I guess that you can use ``np.atleast_1d(np.asarray(radii))``

[2015-08-30 11:53] juliusbierk commented on #1682
Great! Hadn't seen atleast_1d before. I'll make a PR right away.

[2015-08-30 12:37] ahojnnes commented on #1651
+1 on having sections - ideally with a one-to-one correspondence with the `skimage.*` modules.

[2015-08-30 12:41] ahojnnes commented on #1668
@ashkurti Thanks for tracking it down. This should be fixed in the test case, as an affine transform needs at least 3 samples. Nevertheless the RANSAC function shouldn't crash.

[2015-08-30 12:54] emmanuelle commented on #1668
@ahojnnes the RANSAC function does not crash, it's just that the test fails. Then I guess the test should be modified to use 3 samples? I still don't understand why the test passes on my machine and not on the one of @ashkurti, but if the test does not make sense, let's change it.

[2015-08-30 13:00] emmanuelle commented on #1651
@ahojnnes another possibility to have a correspondence with the user guide sections. Indeed, I think that people coming to the gallery are more thinking in terms of tasks to do, than in terms of submodules (although some sections of the user guide correspond to some submodules, of course).

[2015-08-30 13:02] emmanuelle commented on #1651
Also, one nice thing of ``sphinx-gallery`` is that you can link automatically to examples using a specific function inside the docstring of the function.

[2015-08-30 13:17] juliusbierk commented on #1231
I'm adding Richardson-Lucy deconvolution to Reconstruction example.

[2015-08-30 13:44] ananana commented on #1624
I'd like to work on this at the sprints

[2015-08-30 13:46] ahojnnes commented on #1651
@emmanuelle sounds good! Any kind of sectioning of the gallery would be
good. I don't have a strong opinion on the kind of sectioning.

[2015-08-30 13:47] ahojnnes commented on #1668
Maybe due to a different PRNG? But it should be consistent across machines...

[2015-08-30 14:30] oew1v07 commented on #1642
I'm working on this now

[2015-08-30 14:42] emmanuelle commented on #1668
We took some time with @ashkurti to check that the same points were generated on her machine and on mine for ``src``, and that the same indices are chosen in the for loop inside the RANSAC function, so I don't think we can blame the PRNG...

[2015-08-30 14:45] blink1073 commented on #1680
@connellybarnes, sounds reasonable to me, would you like to submit a PR?

[2015-08-30 14:53] ahojnnes commented on #1668
Different Numpy versions?

[2015-08-30 15:07] emmanuelle opened #1686 "[ENH ]Use sharex=True and sharey=True in some gallery examples"
In a large fraction of gallery examples, we use different subplots to display different filtered versions of an image. For such cases, it would be nice to use the keyword arguments of ``plt.subplots`` ``sharex=True, sharey=True`` so that zooming in one of the subplots also updates the other ones.

[2015-08-30 15:28] emmanuelle commented on #1668
Maybe... what is your numpy version, @ashkurti ? I'm using 1.8.2

[2015-08-30 17:32] tacaswell commented on #1649
I would point out we have now spent more effort discussing this than it would to set up and deploy GA on the documentation website.

@sciunto I fully agree that it would be better if all of the projects pooled resources and we had our 'own' VC/CI/web hosting (and the logical organization to run this through is [NumFOCUS]( http://numfocus.org/) ) and that doing so may be more efficient and stable i

[2015-08-30 18:58] emmanuelle commented on #1649
@tacaswell sure, discussing takes a little time, but on the other hand it's important to get everyone's point of view as well, all the more when discussions are constructive as they seem to be!

[2015-08-30 19:26] tacaswell commented on #1649
Gah, sorry, that is not how I meant that!  I was trying to make the point that leveraging these tools saves tremendous amounts of time _in the short term_, not to shut down the discussion.

[2015-08-30 20:27] emmanuelle commented on #1649
He he sorry I misunderstood you!

[2015-08-31 07:15] jwiggins commented on #1678
PR started at #1683

Here are my conclusions and questions:
  * `imread` fell out of the optional package installation in a939eb4ce655b554c7b91ea8b2395566300ba3c4, so I added it back. The Python 2.7 build failed in my PR in a way that might be related. This should be investigated.
  * Breaking the tests up into multiple passes (using multiple `env` entries) will not give a speedup without a signif

[2015-08-31 09:58] ashkurti commented on #1668
@emmanuelle and @ahojnnes  numpy 1.9.2 with python version 2.7.6.

[2015-08-31 12:59] blink1073 commented on #1678
- I rebuilt our wheelhouse version of `imread` for Python 2.7, hopefully that clears up the issue.
- Caching would work if we could detect which extensions if any have changed.
- We purposely test with minimum requirements to make sure the test suite passes with just the min requirements, and then test again with as many optional requirements as possible to make sure we get good test coverage.
- W

[2015-08-31 14:10] ahojnnes commented on #1668
There we go. Any chance for either of you to test the other one's Numpy version?

[2015-08-31 14:12] emmanuelle commented on #1608
http://www.pyimagesearch.com/2015/08/31/how-to-find-functions-by-name-in-opencv/ we re not the only package where it s difficult to find functions :-)

[2015-09-02 12:36] blink1073 opened #1692 "Travis Failure"
We seem to be timing out on the 2.6 builds on this test, any thoughts?

[code]

[2015-09-02 21:57] jwiggins commented on #1692
So if you look at the code for that test, I'm pretty sure the timeout is happening here: https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/tests/test_regionprops.py#L35-L36
When I try doing what `regionprops()` does in ipython (python 2.7.10, scipy 0.16.0, numpy 1.9.2), I get a `TypeError` for the equivalent of this line: https://github.com/scikit-image/scikit-image/blob/mas

[2015-09-03 14:39] Borda opened #1693 "'slic' crash with spacing"
sigma division does not seems correct since sigma is a number and spacing is array_like

to Reproduce:

import numpy as np
from skimage import segmentation, io

image = io.imread('drosophila.png')

image = image[:,:,1]
image = image / float(np.max(image))
print image.shape
seg = segmentation.slic(image, n_segments=500, compactness=0.2, multichannel=False, spacing=(1.,1.))

![drosophila](https://cl

[2015-09-03 16:12] jni commented on #1693
@Borda, the error message is obscure, I'll grant, =), but the docstring does specify that spacing must be length 3!

We don't currently support spacing in 2D images because it's rare to have different voxel spacing in just 2D images. (I have never come across this.) Do you have a use-case for 2D spacing? If so, I can add support for that. If not, I'll add a `ValueError` that explains what went wro

[2015-09-03 16:23] Borda commented on #1693
Well, I need segment 3D image but I wanted to start with simpler case (2D) a and give a try to the parameters I will need for 3D such as spacing... btw, what is the explanation of these numbers, 1 mean that distance between neighboring positions is 1? Thanks

[2015-09-03 23:16] jni commented on #1693
@Borda the spacing is meant to be relative. (5, 1, 1) means that the distance between adjacent voxels in the leading dimension (e.g. planes) is 5 times greater than the distance between voxels in the row / column dimensions.

[2015-09-04 01:24] blink1073 commented on #1692
Fixed by #1694.

[2015-09-04 01:24] #1692 closed

[2015-09-04 15:56] jni opened #1696 "Update API for skimage.future.graph.RAG"
Currently, `RAG()` is a useless class. Only the functions, such as `build_rag_mean_color`, can return an actual RAG. It should be changed so that if given a label image, it produces a graph. (unweighted.)

[2015-09-04 18:00] vighneshbirodkar commented on #1696
@jni
What is the plan for moving this out of future ?

[2015-09-05 06:32] paulvija opened #1698 "X-axis values on histogram equalized image"
Hi there,

This is not an issue but would like to know the reason behind.
When an image with 0-255 colours is equalized I get x-axis values as 0.0-1.0 , however this is different to image's x-axis in http://www.tutorialspoint.com/dip/Histogram_Equalization.htm , which is 0-255.

Is the values shown in x-axis represents CDF?

Thanks,
Vijay

[2015-09-05 13:50] jwiggins commented on #1678
#1699 enables ccache

[2015-09-05 14:25] blink1073 commented on #1678
Looks like we can tell Sphinx to use a global cache directory too, see the `-d` option:

http://sphinx-doc.org/invocation.html

[2015-09-05 15:52] JDWarner commented on #1698
This is because, to retain accuracy during equalization, your image has been converted from an unsigned 8-bit representation to a floating point image. Float images are defined on the range [0, 1].

If you multiplied it by 255 you would have your original range, with some values lying between the original integers. If you want these rounded back and returned as uint8, use img_as_ubyte on the resul

[2015-09-05 15:52] #1698 closed

[2015-09-05 17:18] emmanuelle opened #1700 "draw.polygon does not accept lists for input coordinates"
[code]
results in
[code]
Can be fixed using ``np.asanyarray``

[2015-09-05 23:18] paulvija commented on #1698
Cool, thanks for the well detailed explanation.

[2015-09-06 05:26] #1700 closed

[2015-09-06 05:26] stefanv commented on #1696
I think you and Juan have to talk and propose a plan.

[2015-09-06 05:30] stefanv commented on #1693
@jni How about a sentence in the user guide summarizing your comments here?  We can perhaps also show how to address @Borda's user case (perhaps it requires adding a single dimension to make a 2D slice 3D).

[2015-09-06 05:30] stefanv commented on #1686
:+1:

[2015-09-06 05:31] stefanv commented on #1682
Closed by #1684.

[2015-09-06 05:31] #1682 closed

[2015-09-06 05:34] #1680 closed

[2015-09-06 05:45] #1641 closed

[2015-09-06 06:43] JDWarner commented on #1693
I'd argue that we should be as general as possible when we can be. 2D anisotropic is a strange use case, but I think it's entirely possible to relax the length-3 requirement in favor of an iterable of length `image.ndim`. In fact, I'd recommend any algorithm which accepts a `spacing` kwarg should behave in that manner.

[2015-09-06 09:32] jni commented on #1696
@vighneshbirodkar as shown by my discovery of a major problem with RAG's API, I think it might need another round in future before it settles, since 0.12 should be out soonish.

One goal would be to make the constructor of the RAG class flexible enough to be able to build various RAGs without a corresponding build_ function, but rather through keyword arguments to the constructor.

[2015-09-07 08:17] Borda commented on #1693
I can provide even code for 3D with interactive visualization in iPython if you like:

import libtiff
from skimage import segmentation

im = libtiff.TiffFile('drosophila.tiff') .get_tiff_array()
img = np.empty(im.shape)
for i in range(img.shape[0]) :
    img[i,:,:] = np.array(im[i])
img = img / float(np.max(img))

seg = segmentation.slic(img, n_segments=5000, compactness=0.2, multichannel=False, s

[2015-09-07 12:35] MartinSavc commented on #1686
I'd like to look into this one. Are these a specific group of examples or just any example in 'doc/examples/' that would need this enhancement?

[2015-09-07 14:04] emmanuelle commented on #1686
Thank you @MartinSavc !

This enhancement would just be needed for a fraction of the examples of the gallery: those in which all subplots represent an image with the same shape, that correspond usually to different filters applied to the same original image. Such examples include
http://scikit-image.org/docs/dev/auto_examples/plot_denoise.html#example-plot-denoise-py
http://scikit-image.org/docs/d

[2015-09-07 16:32] MartinSavc commented on #1686
I've updated some of the examples here [example_subplots_share_axes](/MartinSavc/scikit-image/tree/example_subplots_share_axes).

There are a few issues with these. When sharing axes, they seem to change the format of the  containers. The containers usually fill the vertical space of the windows, instead of wrapping the image. This can be hidden by calling axes.set_axes_off(). But the title of eac

[2015-09-07 18:11] jni commented on #1696
To expand just a little bit further on that last statement, what I envision is that certain functions could be passed that would modify add_edge's and add_node's behaviour during the construction of the graph. These functions could implement the logic that currently stores the total color and total count of each node in the mean_color_rag.

Sorry that this idea is a little half-baked but I hope yo

[2015-09-07 21:59] emmanuelle commented on #1686
@MartinSavc Indeed, I didn't expect that sharing axes would change the dimensions of subaxes. You'll have to modify slightly the value of ``top`` in ``fig.subplots_adjust`` to make it look good again.

I agree with you that sharing axes between figures might be too much magics and too much additional code (but thanks for mentioning that it's possible, I didn't know!)

[2015-09-08 13:30] vighneshbirodkar commented on #1696
@jni I agree with you in delaying moving RAG out of the future module.
However, what purpose does overloading `add_node` or `add_edge` serve ? If we want the constructor to build RAGs, we could call the current `rag_mean_color` function inside it.

[2015-09-08 16:21] MartinSavc commented on #1686
When sharing axes the adjustable axes parameter is set to 'datalim'. Setting adjustable to 'box' is used for images, but is not supported for sharing exes (throws an exception). However I can set it to 'box-forced' to get the desired result. Somewhat confusing. Unfortunately for me, 'box-forced' does not seem to work across figures (only across plots in a single figure).

I've updated the examples

[2015-09-08 18:53] h4k1m0u opened #1703 "Example on the homepage (change `filter` to `filters`)."
Hello,

On the example appearing on the home page http://scikit-image.org/, first line.
I think it should be be:

[code]
(`filters` replace `filter`).

Otherwise, I got this `warning` on `Ubuntu 14`, when importing `filter` (as in the home page now, instead of `filters`):
[code]

[2015-09-08 21:15] JDWarner commented on #1703
You're correct, we deprecated the filter module due to conflict with a base Python module. This should be changed.

We should do a pass through the entire docs to change all instances to filters.

[2015-09-08 21:30] emmanuelle commented on #1703
This issue was fixed by https://github.com/scikit-image/scikit-image-web/pull/28, but we need to update the website now...

[2015-09-09 05:07] jni commented on #1696
@vighneshbirodkar because we don't want the constructor to build mean color RAGs, but rather general RAGs.

[2015-09-11 12:47] yarikoptic commented on #1463
@stefanv knock knock

[2015-09-14 23:35] cartisan opened #1707 "Building documentation not possible: missing conf.py"
I wanted to build the doc for offline access on my Windows machine. However that errors with:
[code]

To reproduce:
1. Checkout code from repo
2. `cd .\doc`
3. ` .\make.bat html `
... or any other option than html.

Quick lookup on Google revealed that conf.py should contain settings for sphinx.

[2015-09-15 00:08] JDWarner commented on #1707
Thanks for the report! We do have `conf.py` and it's set up correctly, however, it lives in the `docs/source` subdirectory. The .bat file needs to point Sphinx at the `source` subdir. I should have a fix momentarily.

[2015-09-16 00:47] WillyFoley commented on #1481
So if I am having the same issue during install on Kali then my distribution is the problem? Any workarounds for debian at the moment?

[2015-09-16 07:39] stefanv commented on #1481
Solving the current Debian bugs is the best way to move this forward: https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=skimage

[2015-09-16 08:33] #1707 closed

[2015-09-16 08:52] stefanv commented on #1463
I guess we have a few options here: a) remove freeimage plugin b) find out if there is a bug in the freeimage library on these debian systems c) build in a workaround in scikit-image (hard without much further investigation).  @blink1073, have you had a look at this one yet?

[2015-09-16 10:07] jni commented on #1693
@JDWarner I agree, but it's a bit finicky to deal with all the possible cases (multichannel = True/False, sigma being a scalar or an array-like). A quick glance at the code didn't suggest an immediate solution. PRs welcome, as always! ;)

Happy to keep this open as a reminder to do that?

[2015-09-16 12:59] blink1073 commented on #1463
I'm fine with removing the freeimage plugin, since we have an imageio plugin now that defaults to using freeimage.

[2015-09-16 18:38] stefanv commented on #1463
That sounds like a fine solution to me.  Any takers?

[2015-09-16 19:42] blink1073 commented on #1463
Are you asking for concurrence or for someone to remove the plugin?

[2015-09-16 22:14] WillyFoley commented on #1481
Thank you for your prompt reply - I figured everything out. But maybe you can help me with my current problem - when i use imglab as directed in the dlib docs, the labeler comes up and it is simply a gray screen, as if I have no images. Sure enough, when I vi the file, there is nothing between the <image> tags, although everything else is in place. I made sure I have images in the target directory

[2015-09-16 22:50] WillyFoley commented on #1481
Solved problem - all images must be jpg formatted

Will Foley
601-329-1194

[2015-09-17 17:41] zpincus opened #1712 "feature.match_template gives out-of-range match values"
Hello all,

I have found that in at least certain modes, `skimage.feature.match_template` calculates very incorrect cross-correlation values, well outside of the [-1,1] range that is expected. I have attached a simple test case, with a large image and a small template. [This old StackOverflow answer](http://stackoverflow.com/questions/20102353/scikit-image-match-template-returns-undocumented-value

[2015-09-17 18:00] zpincus commented on #1712
Well hodor. It's a precision issue.

changing `skimage/feature/template.py:116` from:
`    image = np.array(image, dtype=np.float32, copy=False)`
to
`    image = np.array(image, dtype=np.float64, copy=False)`
fixes the problem.

[2015-09-17 18:07] stefanv commented on #1712
That is rather surprising.

[2015-09-17 20:21] zpincus commented on #1712
I agree, and I don't really know what to make of it. Where could the imprecision be creeping in? And in what way would cropping the image solve the problem? That suggests the integral image, but that seems odd too.

[2015-09-18 17:07] MartinSavc commented on #1686
So, how does it look? Are you still reviewing my submission? Is there anything I should fix, or should I just rebase on upstream?

[2015-09-21 02:47] blink1073 commented on #1678
We won this battle @jwiggins.

[2015-09-21 02:47] #1678 closed

[2015-09-21 21:04] zpincus commented on #1712
So, ah, should I submit a PR for increasing the internal precision to float64? It feels like switching precision is just papering over some more fundamental error... but I don't know this code well enough to figure out what that might be. Who originally wrote this? Maybe he or she has a sense.

[2015-09-22 03:50] MartinSavc commented on #1712
I took a cursory glance at the problem and it does seem to me to be a problem with the round off in the integral images. So there is no error per say, its the drawback of the implemented approach. With large images even float64 is going to start rounding off.

This problem would probably be solved by either a direct implementation of template matching. This will remove any roundoff errors, however

[2015-09-22 14:54] zpincus commented on #1712
I think the problem isn't the integral image cumulative imprecision per se -- I suspect it is in the fact that the numerator (based on the integral of `image`) and the denominator (the integral of `image**2`) have different cumulative errors, so dividing them can yield unexpected results.

Is there a way to compute only a single integral image, and then derive both the numerator and denominator fr

[2015-09-22 17:04] MartinSavc commented on #1712
What if we use convolution instead of integral images in window _window_sum_*d functions to calculate the window sums?

[2015-09-22 20:54] zpincus commented on #1712
That seems likely to work. Hopefully not drastically slower than the integral images! But correct results are probably a little more important than fast ones.

[2015-09-24 21:13] ttback opened #1727 "Any way to run scikit-image on GPU"
a new user here. I am trying to use scikit-image to restore some old images. Is there a way to leverage GPU for the operation?

[2015-09-24 21:23] emmanuelle commented on #1727
Hello @ttback, welcome here! No, scikit-image functions do not use GPUs, since they rely on NumPy operations, Python and Cython code. If you can parallelize your workflow, you can use several cores instead: see for example http://scikit-image.org/docs/stable/user_guide/tutorial_parallelization.html

[2015-09-24 23:30] ShivaniBhardwaj opened #1728 "Error while importing "transform" from skimage"
I am a newbie for skimage. I am trying to use skimage for basic image processing.
I am getting following error while importing transform :

![dlib](https://cloud.githubusercontent.com/assets/6955202/10089505/849b2042-62f2-11e5-91d6-a7e0e93a00b7.JPG)

I am using python 2.7
Code:

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    from skimage import transform
  File "C

[2015-09-24 23:38] vighneshbirodkar commented on #1728
Hello,  can you tell us how you installed scikit-image  ?

[2015-09-25 01:45] ShivaniBhardwaj commented on #1728
I downloaded numpy, scipy and scikit-image from Christoph Gohlke’s website.
and used pip for installation:
pip install scikit_image-0.11.3-cp27-none-win32.whl

[2015-09-25 02:20] vighneshbirodkar commented on #1728
Could you share the folder structure of this folder from your system ?
`C:\Python27\lib\site-packages\skimage\transform`
And were there any error messages while doing the pip install ?

[2015-09-25 02:46] ShivaniBhardwaj commented on #1728
no error message while installation.
you can find the folder structure here:
https://github.com/ShivaniBhardwaj/skimage/tree/master/transform

[2015-09-28 12:10] gregpinero opened #1729 "Pyramid Guassian producing static"
I posted code and pictures here:
http://stackoverflow.com/questions/32785495/skimage-pyramid-guassian-not-working-as-expected

I'm doing everything like I've seen in examples so I'm thinking it's not a user error?

[2015-09-28 21:19] ahojnnes commented on #1729
The output of all geoemtric transformation functions in skimage is a double
array. You need to convert back to uint8.

[2015-09-29 13:02] SalvatoreScaramuzzino opened #1730 "measure fractal dimension"
recently i implemented a python version of differential box counting as method for fractal dimension estimation for grayscale images.

this is a very common tool for complexity estimation in various fields, in particular in medical imaging.
more informations can be found at
http://cdn.intechopen.com/pdfs-wm/39360.pdf

if the measure is of interest for skimage community i can integrate it "measure"

[2015-09-29 14:47] dluzenst commented on #1434
@tsmithe "Yes, sometimes, some values of the array returned by denoise_bilateral are nan."

I am encountering this same issue. Applying np.nanmax instead of max to the result of denoise_bilateral seems to solve the problem, but perhaps the issue should be fixed in denoise_bilateral not to return nans?

I'm using :
scikit-image 0.11.3
numpy 1.9.3
python 2.7
spyder 2.3.6

Thanks!

[2015-09-30 05:13] stefanv commented on #1434
@dluzenst Please open a new ticket with a minimal code snippet that reproduces your problem.

[2015-09-30 05:45] JDWarner commented on #1434
@dluzenst, @stefanv - I believe the fix is in master but not shipped in a major version yet. @dluzenst is using 0.11.3. Before raising a new Issue, consider building from source which should fix the problem.

[2015-09-30 07:03] stefanv commented on #1730
Thank you for kindly offering your code!

We are happy to accept implementations of well-cited papers.  This paper, according to Google, only seems to have been cited six times, though.  Do you have another reference that may be better to look up?

[2015-09-30 07:25] pratapvardhan commented on #1730
I remeber implementaing it couple of years back (in Matalb though). Differential Box Counting (DBC) was proposed by N. Sarker, B. B. Chaudhuri, *An efficient differential box-counting approach to compute fractal dimension of image*, [IEEE Transaction on Systems, Man, and Cybernetics, 24, 115-120 ], (1994). This is fairly popular paper (Cited over 500 times.)

[2015-09-30 07:33] stefanv commented on #1730
That sounds reasonable, then.  I'm going to close this ticket for now, and then we can discuss the code on the (forthcoming) pull request.  Thank you!

[2015-09-30 07:33] #1730 closed

[2015-09-30 07:34] stefanv commented on #1434
We should probably tag a new release.

[2015-10-01 03:21] escorciav opened #1731 "peak_local_max Incorrect output type"
This [function](http://scikit-image.org/docs/dev/api/skimage.feature.html#peak-local-max) is returning a `list` instead of an `ndarray` if no peaks are detected.

I traced the problem till this [line](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/peak.py#L122). However, I have to check if there is other case (beyond this line) that produces an incorrect output.

I will w

[2015-10-01 10:45] dluzenst commented on #1434
Thanks @stefanv @JDWarner!

Doing denoise_bilateral on the *same image* array returns "denoised" which *sometimes* contains nans. Then applying reconstruction causes python to segfault:

denoised = denoise_bilateral(image, sigma_range=1, sigma_spatial=15)
seed = np.copy(denoised)
seed[1:-1, 1:-1] = denoised.max()
filled = reconstruction(seed, denoised, method='erosion')

The workaround is to use:

[2015-10-01 15:23] stefanv commented on #1731
Thanks, @escorciav!

[2015-10-01 18:16] ycartwhelen commented on #1627
@refelix and @jni  - Why do you say this issue seems to be fixed in the master version?

I'm trying to run a float32 type raster with values outside of -1 to +1 through the slic segmentation function, and it's giving me the same error that originates in skimage\util\dtype.py of "ValueError: Images of type float must be between -1 and 1." When I check the code for dtype.py (either v. 0.11.3 or v. 0

[2015-10-01 18:59] stefanv opened #1732 "Document the convention that pixel[0,0] centre lies at (0.5, 0.5)"
And describe the implications this has for boundary extension and interpolation.

[2015-10-02 07:47] sumitbinnani commented on #1647
Working on it :-)

[2015-10-02 13:27] sumitbinnani commented on #1732
Hi @stefanv, are you talking about something like:

https://msdn.microsoft.com/en-us/library/windows/desktop/bb219690%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396?

If the input image image being processed is already digitized, it should not have implications on boundary extension or interpolation? Kindly correct me if I am not able to understand your problem statement.

[2015-10-02 17:55] om27 opened #1735 "scikit-image installing on different python version of Mac"
My mac has default python 2.7 version. I have installed python 3.5. I installed scikit-image using pip but it was installed on the default python 2.7. How do I install it on python 3.5

[2015-10-02 17:59] blink1073 commented on #1735
Hi @om27, you'll need to use the `pip` that comes with python 3.5, either by adding its directory to the front of your PATH variable or by using `/path/to/my/3.5/pip install scikit-image`.

[2015-10-02 18:03] matthew-brett commented on #1735
I think `pip3.5` on its own will also work on a default installation.

If you want this to be the default, you could add something like:

[code]

to your `$HOME/.bash_profile`.

[2015-10-02 18:04] stefanv commented on #1732
Yes, except @ahojnnes indicated that the centers are at (0.5, 0.5) in our case.  Where you choose the pixel origin has implications on how interpolation and boundary extension is handled when it comes to nearest neighbor interpolation, e.g.

[2015-10-02 18:08] om27 commented on #1735
Thank you for the quick help.
But when I use pip3.5, i am getting the following error :+1:

 Command "/usr/local/opt/python3/bin/python3.5 -c "import setuptools, tokenize;__file__='/private/tmp/pip-build-qwodeudw/pillow/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-iy0nyp60-record/install-record.txt --si

[2015-10-02 18:15] matthew-brett commented on #1735
I think that's because the `Pillow` project hasn't released wheels for Python 3.5 yet.  I believe they are just in the process of doing that.   sckit-image hasn't built one yet either.  I'm afraid you're getting paper cuts from being on the bleeding edge :).  In a week, I guess this will work fine.

[2015-10-02 18:24] om27 commented on #1735
I hope this will be set soon. Thanks a lot for your timely help or else I would have been stuck at this point.

[2015-10-02 20:40] wiredfool commented on #1735
It's up now. https://pypi.python.org/pypi/Pillow/3.0.0

[2015-10-02 20:43] matthew-brett commented on #1735
Great - thanks.   I'll try building a wheel for scikit-image now.

[2015-10-02 21:33] matthew-brett commented on #1735
Done - @om27 - try now?

[2015-10-02 23:57] jni commented on #1732
@stefanv I'm only just coming to terms with [pixels not being squares](http://alvyray.com/Memos/CG/Microsoft/6_pixel.pdf), but it seems to me that "centers at .5" is inconsistent with this view. Am I wrong?

Example: if we want to sample rom `img` at (1., 1.), do we really want to interpolate between all the points in `img[:2, :2]`, or do we want to just return `img[1, 1]`?

At the very least the

[2015-10-03 00:20] jni opened #1737 "Consider not converting images when using `img_as_float` on a float32 image"
See e.g. #1627

[2015-10-03 00:23] stefanv commented on #1732
No, you are not wrong; you are highlighting the concern I raised with @ahojnnes.  But I think we all agree that it is more-or-less fine whatever we choose, as long as we make a nice diagram and include it in the docs.

Currently, we interpolate to get `img[1, 1]`.  If I had to redesign everything from scratch, I might have gone for `img[1,1]` being the actual value at `img[1,1]`.

[2015-10-03 00:25] jni commented on #1627
@ycartwhelen

Because you reported an issue with Sobel filters, not SLIC. =)

Unfortunately, the requirement is there for both historical reasons and because it's useful to know the range of images based on data types for pipelining. See our [documentation on dtypes](http://scikit-image.org/docs/dev/user_guide/data_types.html).

Here's the rationale: when converting between image types, for exampl

[2015-10-03 00:32] stefanv commented on #1737
Yes, `img_as_float` should not convert the range of images that are already floating point.  We may rely on the type being float64 in some Cython code, so we'll probably still have to change the dtype.

[2015-10-03 02:24] om27 commented on #1735
Perfectly Installed :) :+1: !
Thanks a lot !

[2015-10-03 04:10] anntzer opened #1739 "`img_as_uint` fails with >=32bit integer dtypes."
[code]
Arch Linux, Python 3.5.0, numpy 1.9.3, skimage 0.11.3

[2015-10-03 06:33] #1735 closed

[2015-10-03 07:39] matthew-brett commented on #1735
No problem, glad it worked.

[2015-10-03 13:54] blink1073 commented on #1739
Hi @anntzer, I updated your title to highlight the root cause, thanks for reporting.  My thought is that we should allow this conversion and warn, what do you think, @jni?

[2015-10-03 13:58] ahojnnes commented on #1729
@gregpinero Did this solve your problem?

[2015-10-03 15:35] anntzer commented on #1739
Actually I don't see why you need to convert to uint8 first; in fact if the conversion is linear (I guess it is?) then you may well be destroying at that stage some of the contrast that you were hoping to enhance by CLAHE.
(Here I used `randint(256)` but that was probably a bad example, histogram equalization should work just as well for 16+bits images.)

[2015-10-03 15:38] blink1073 commented on #1739
The reference implementation for CLAHE uses 12-bit resolution.  I'd argue that any more than that is just playing with noise.

[2015-10-03 15:47] anntzer commented on #1739
Then adapthist could support at least 16bit images? (as there's no 12bit in numpy and 8bit is certainly a bit short)

[2015-10-03 15:50] blink1073 commented on #1739
Right, `img_as_uint` converts to a 16-bit image.

[2015-10-03 15:53] anntzer commented on #1739
Fair enough.
Regardless of the "usefulness" of keeping more than 12 bits while doing contrast enhancement (which I understand well), is there a real computational cost to supporting such images?

[2015-10-03 15:58] blink1073 opened #1740 "Support for Older Python Versions?"
Dask is not tested against Py32: https://github.com/blaze/dask/blob/master/.travis.yml.
I am getting Dask-related failures in #1738 on Py32.  https://travis-ci.org/scikit-image/scikit-image/jobs/83461034#L3074.
We have Dask as a required dependency.  We have already seen this problem with networkx dropping support for Py26.  I think we need to make both of these libraries optional, or drop support

[2015-10-03 16:04] blink1073 commented on #1739
I'd say supporting them is fine, as an input, but the calculations should still be done as-is, on a 16bit image, since is already tested and known.  We take the stance that the data type of the image is not guaranteed to be the same after an image transform in general.

[2015-10-03 17:32] blink1073 commented on #1740
We have a looming problem with Matplotlib as well, which will be dropping support for Py26 and Py32 soon: https://mail.python.org/pipermail/matplotlib-devel/2015-September/000068.html.

[2015-10-03 17:34] blink1073 commented on #1740
Ah, actually, Matplotlib already dropped 3.2 and will be dropping 3.3.

[2015-10-03 17:36] blink1073 commented on #1740
The other option is to pin versions known to work with these, as we have already been doing in https://github.com/scikit-image/scikit-image/blob/master/tools/travis_before_install.sh#L37

[2015-10-03 18:28] blink1073 commented on #1740
Fyi @mrocklin, it looks like Dask 0.7.1 was the last version to work properly with Python 3.2.
After that, we get this error:

[code]

[2015-10-03 18:41] tacaswell commented on #1740
I (obviously) advocate that skimage drop at least 2.6.

I am still looking for an argument _to_ keep supporting 2.6 that does not boil down to maintaining the status quo.

[2015-10-03 18:44] mrocklin commented on #1740
Fixing this particular problem within dask is easy.  (see https://github.com/blaze/dask/pull/768)

However given the slight usage of dask within scikit-image it still might make sense to move dask to an optional dependency anyway (unless you all plan to use it more heavily in the future.)

Dask does support Python 2.6 though, (see https://github.com/blaze/dask/blob/master/.travis.yml#L4).  Based o

[2015-10-03 18:49] vighneshbirodkar commented on #1728
I meant folder structure on your local pc.

[2015-10-03 19:26] blink1073 commented on #1740
Thanks @mrocklin, sorry, I glanced past the 2.6 build in your matrix.

[2015-10-03 22:31] dcd2 commented on #1472
I can confirm this behaviour as well. I've had some luck with equalizing the histogram of the image, but this doesn't always work. I agree w/ @indiajoe , it would be nice if ORB would just return an empty list of features.

[2015-10-04 01:47] JDWarner commented on #1740
I do think we need broader support for Dask in scikit-image. In the last month I've run into several cases where scikit-image tools were impossible to use on large composite images from optical or confocal microscopes. These were on the order of 100 megapixels. Even under 64-bit Python with plenty of RAM I got memory errors upon load when the NumPy method `.asarray(np.float64)` was called.

Consid

[2015-10-04 02:07] blink1073 commented on #1740
So, do we drop 3.2 support in favor of 3.5?  I think that is a practical way forward until Scipy stops supporting 2.6.

[2015-10-04 02:11] JDWarner commented on #1740
Agreed that 3.2 can almost certainly be dropped without issue. I do know of several systems that yet run Python 2.6, doing production work on a LTS release of RHEL, which were set up before Canopy or Anaconda existed. Such production systems are usually quite reluctant to upgrade, or to transition to newer better solutions, which is why I have advocated to maintain 2.6 support.

[2015-10-04 02:19] blink1073 commented on #1740
Yeah, we should probably have a special section in the documentation for Python 2.6 users, especially once Matplotlib drops support.

[2015-10-04 03:11] tacaswell commented on #1740
Those systems which are still on 2.6 which are reluctant to update are presumably _also_ reluctant to update the rest of their libraries.   The versions that currently work will continue to work.

At some point, if you do not want to update your underlying python, you have to accept that you will not get new features.  Users unwilling to upgrade can not keep imposing the constraints and costs of s

[2015-10-05 02:33] jni commented on #1739
@blink1073 I don't understand why we are arguing about 12 bits but `NR_OF_GREY` in `_adapthist.py` is `2**14`?

Either way, yes, we should certainly support any type of input image. This again relates to #1234.

[2015-10-05 13:11] blink1073 commented on #1739
Ha, you're right @jni, I was mis-remembering.

[2015-10-05 20:11] #1727 closed

[2015-10-05 21:02] emmanuelle commented on #1649
Coming back to this issue, since nobody volunteered to administrate an alternative solution to Google Analytics, I propose to move forward and to open a Google Analytics account for scikit-image's website.

By the way, GA is the most exact way that scikit-learn devs found to estimate the number of active users: by counting how many people read the online doc on a regular basis. I think that this c

[2015-10-05 22:14] stefanv commented on #1649
Has someone checked whether we are using GA already?

[2015-10-06 07:20] #1731 closed

[2015-10-06 15:03] jakirkham commented on #1450
As an end user, not a huge fan of this becoming dependent on freeimage for this reason. ( https://github.com/scikit-image/scikit-image/issues/1605#issuecomment-120953609 )

Not having CI is a bit scary. Building freeimage, from past experience, required some serious patching. They pin the compiler version to gcc-4.0, which seems unnecessary. If it is necessary, I am worried. Sticking to CVS long a

[2015-10-06 20:40] emmanuelle commented on #1649
Good point, but I think we don't. For using GA on all pages of the doc, we should put some code in ``doc/source/themes/scikit-image/layout.html``, as for example in https://github.com/scikit-learn/scikit-learn/blob/master/doc/themes/scikit-learn/layout.html#L324. I'll take car of a PR handling GA. I was thinking of opening a new google account that could be shared among the core team for obtaining

[2015-10-06 20:51] tacaswell commented on #1649
@emmanuelle You don't actually need to make a new account as you can give access to GA to any google account.

[2015-10-06 20:53] emmanuelle commented on #1686
I just answered in #1704. I don't think you need to rebase, Travis and Appveyor are still happy.

[2015-10-06 21:05] emmanuelle commented on #1649
@tacaswell oh yes, thanks.

[2015-10-06 23:21] stefanv commented on #1649
I would like to hear @sciunto 's current take on the effort.  Are you happy if we move along with GA until we can come up with a better alternative?  Would you like to spearhead such an effort?

[2015-10-06 23:52] stefanv commented on #1740
Agreed, let's drop 3.2.  If we can keep 2.6 support with minimal effort, why not.  But it's not a high priority.

[2015-10-07 00:03] blink1073 commented on #1740
Great, I updated #1738, closing.

[2015-10-07 00:03] #1740 closed

[2015-10-07 00:04] JDWarner commented on #1450
We ship tifffile. Is there any reason a multipage tiff _shouldn't_ be read using tifffile? In the short term, I'd say just read all multipage TIFFs with tifffile, potentially emitting a warning telling the user that we encountered such a file and are using the appropriate backend, instead of what they specified.

I'm only comfortable with this because the Freeimage behavior is buggy/broken.

[2015-10-07 00:06] blink1073 commented on #1450
We're already doing that in the PIL plugin: https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_plugins/pil_plugin.py#L43

[2015-10-07 00:07] jakirkham commented on #1450
`tifffile` works great. Normally, I use either that or `pylibtiff` (believe it is not called `libtiff` confusingly).

[2015-10-07 00:14] jakirkham opened #1742 "Upgrading included tifffile"
Should the `tifffile` included be bumped up to latest version of `tifffile`? Currently 0.7.0 at the time of this posting.

[2015-10-07 00:26] JDWarner commented on #1450
@blink1073 lovely - Do you want to patch it, or shall I?

[2015-10-07 00:28] blink1073 commented on #1450
Do we want to do this here instead? https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_io.py#L17

[2015-10-07 00:34] JDWarner commented on #1450
Yes, agreed, catch it before any plugins get called. Also document in the Notes that tifffile will always be used when reading .TIF[F] files.

[2015-10-07 00:36] blink1073 commented on #1742
Yep, see #1743.

[2015-10-07 00:40] jakirkham commented on #1742
Cool, thanks @blink1073.

[2015-10-07 00:49] blink1073 commented on #1742
It looks like we're already using it.

[2015-10-07 00:49] #1742 closed

[2015-10-07 00:52] jakirkham commented on #1742
Sorry, I just assumed from the last commit message in the directory ( https://github.com/scikit-image/scikit-image/tree/master/skimage/external ) that it is still `0.6.2`.

[2015-10-07 04:57] #1450 closed

[2015-10-07 13:21] sciunto commented on #1649
@stefanv @emmanuelle I installed piwik on my server for tests purpose in the meantime and I'm running some tests with my main website. It looks nice so far, working well and user friendly.

If you are interested, we can put the small piece of javascript code and I can give the an access to those who are interested (just to avoid the give login/password to the universe).

[2015-10-07 13:46] marchese29 opened #1745 "SLIC superpixels not working on grayscale images."
Even when I set slic_zero to False, and with multi-channel set to false, I only get square superpixels with the attached image.  I can't find a set of parameters that make this work properly on grayscale images.
![stadium_bw](https://cloud.githubusercontent.com/assets/2624852/10339178/134fe482-6cd8-11e5-95dd-3a9aade2469f.jpg)

[2015-10-07 19:00] emmanuelle commented on #1745
If you get square superpixels, it means that ``compactness`` is too high. ``multichannel`` has no effect for a 2-D image. I tried for example
[code]
and superpixels are not square, with boundaries that are preferentially found on edges between regions of different grayscales.

[2015-10-07 20:10] emmanuelle commented on #1649
great news, thanks @sciunto ! Looking forward to your PR then :-).

[2015-10-07 23:43] jni commented on #1745
We might want to say in the docstring that some parameter scans are best done initially on a log-scale, e.g. compactness=0.01, 0.1, 1, 10, 100, before trying more detailed values. What do you think, @emmanuelle? I say this because it's the second time people have had trouble with compactness.

[2015-10-08 00:32] JDWarner commented on #1745
:+1: when looking for insight on how to set unfamiliar parameters, the first place users will look is the docstring. They should be rewarded ;)

[2015-10-08 09:48] sciunto commented on #1649
@emmanuelle Do you have recommendations for the file in which the javascript snippet can be added?

[2015-10-08 11:35] emmanuelle commented on #1649
@sciunto In order to track analytics for all pages, I think the code snippet must be defined in doc/source/themes/scikit-image/layout.html, so that it's present in all html pages. See for exemple what scikit-learn folks did in https://github.com/scikit-learn/scikit-learn/blob/master/doc/themes/scikit-learn/layout.html#L324

[2015-10-09 16:57] tacaswell commented on #1686
Sorry to hijack the thread, but I don't think mpl should be raising exceptions in that case.  It might do something non-desirable (but _technically_ correct), but not raise.

[2015-10-10 09:22] likeyiyy commented on #842
one reason of me is Matrix elements are imaginary

[2015-10-12 16:39] MartinSavc commented on #1686
I pushed my latest commit. I reverted the examples, that did not need the alternative figure creation code, and the ones that did not benefit significantly from axes sharing (using my personal judgment). The following examples kept the alternative syntax:

plot_log_gamma.py - useful to look at details after gamma correction
plot_otsu.py - useful to compare how details are segmented
plot_template.p

[2015-10-12 22:32] bennlich commented on #1420
I think https://github.com/scikit-image/scikit-image/pull/1421 fixed this.

[2015-10-12 23:09] JDWarner commented on #1420
Closed by #1421

[2015-10-12 23:09] #1420 closed

[2015-10-16 05:35] ahundt opened #1749 "transform.warp and transform.AffineTransform estimate inconsistent"
I've created an improved [Robust matching using RANSAC](http://scikit-image.org/docs/dev/auto_examples/plot_matching.html) example which warps and overlays the robust estimate on the image. This highlighted an important inconsistency (bug) in the results of the Affine Transform estimate function when compared to the warp function. The warp matrix estimate is neither the correct matrix nor its inve

[2015-10-16 21:47] stefanv commented on #1749
@ahundt Thank you for bringing this to our attention.  Would you please file a pull request against the example so that this can be fixed in the source repository? Thank you!

[2015-10-17 00:06] ahundt commented on #1749
@stefanv the more important part is the discrepancy in the transforms

I can try to submit a pull request soon with the changes. Are there any fixes to what you see you'd like? or would you prefer to discuss that in the pull request

[2015-10-17 00:38] stefanv commented on #1749
Thanks, @ahundt.  It would be easier to review a PR, I think, since I cannot easily see "deltas" here.  I am most concerned with code that is wrong, but any improvement in technique is welcomed, of course.

[2015-10-17 02:46] JDWarner opened #1751 "All Travis 3.x builds failing"
For recent PRs, all Travis builds for Python 3.x are failing. This was limited to just Python 3.5, but now we're getting these three errors consistently for all 3.x branches. Seems related to fancy indexing, and I believe the rollout of NumPy 1.10 is correlated with their appearance.

[code]

[2015-10-18 20:01] ahundt commented on #1749
Pull request made

[2015-10-20 16:26] #1751 closed

[2015-10-20 18:06] stefanv commented on #1749
PR #1752

[2015-10-20 21:46] stefanv commented on #1751
An actual bug that was caught.  Win!

[2015-10-21 21:48] rmsouza01 opened #1754 "skimage.morphology.watershed bug?"
Hi,

I was using skimage to perform watershed segmentation, but the results were strange. I compared skimage implementation with my own  watershed implementation, and they don't agree. I looked at skimage code at https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/watershed.py#L35.

I saw there is a pedagogical purely python implementation, and I analyzed the algorithm, and

[2015-10-23 10:03] theasder opened #1755 "Bug in Template Matching"
I have been testing template matching function and have found a following bug:
![screen shot 2015-10-23 at 1 02 06 pm](https://cloud.githubusercontent.com/assets/3380261/10689799/705eadec-7986-11e5-9368-f7886bf5865c.png)
Very interesting to find out why did it happen.

[2015-10-23 12:39] MartinSavc commented on #1755
The code and original files would be useful.

[2015-10-24 03:49] jni commented on #1745
Closed by #1750. Thanks for the report, @marchese29!

[2015-10-24 03:49] #1745 closed

[2015-10-24 05:53] stefanv opened #1757 "setup.py broken when numpy not installed"
Try ``pip install .`` without numpy installed.

The solution can be found in SciPy's setup.py.

[2015-10-25 15:30] stonebig opened #1759 "shouldn't you close closed miltestone 0.11 ?"
https://github.com/scikit-image/scikit-image/milestones

[2015-10-25 15:35] stonebig opened #1760 "is there an easy option to silence the precision_loss message ?"
[code]
It does put a bad cloud over my cup of coffee

![ipywidgets_1](https://cloud.githubusercontent.com/assets/4312421/10716350/508bc750-7b36-11e5-82f4-76725abb7f2c.GIF)

[2015-10-25 19:09] mjharte opened #1761 "Infinite loop in exposure.equalize_adapthist()"
The `equalize_adapthist()` function can hang, caused by the following:

When using a very small clip_limit parameter (e.g. 0.001) on a grayscale image with low contrast, the function `clip_histogram()` in `_adapthist.py` hangs in an infinite loop because the `n_excess` variable is not being lowered in the `while n_excess > 0` loop.

[2015-10-25 19:24] blink1073 commented on #1759
Done, thanks for the nudge!

[2015-10-25 19:24] #1759 closed

[2015-10-25 19:53] JDWarner commented on #1760
The best solution is to filter specific warnings using the `with warnings.catch_warnings():` context manager, but if you want global silencing, this should do the trick at the top of a notebook:

[code]

You can omit `append=True` if this is your only filter, but I note it here so you can run this command multiple times with different `message=` strings to build up a list of specific warnings you

[2015-10-25 19:53] #1760 closed

[2015-10-25 20:30] blink1073 commented on #1761
Thanks for the heads up!  See #1762 for a fix.

[2015-10-25 20:34] JDWarner commented on #1761
Thanks for the report, @mjharte. Just so I'm understanding what is going on here, does such a problematic floating-point image not have any zero values? Also, is the original image 8-bit or greater?

Mainly asking since 1/255 is 0.0039 and the image does get thresholded with `clip_limit` early on. I wonder if the non-terminating loop is a symptom and `clip_limit` should be checked to ensure it is

[2015-10-25 21:41] stonebig commented on #1760
Is this warning usefull to some use case ?

[2015-10-25 21:59] JDWarner commented on #1760
Because information is being lost, it's an important warning. When it is returned, our datatype conversion routine was called in a way such that the conversion will be (or at least has the potential to be) lossy.

A lot of users will encounter this warning, because many if not most of our algorithms operate using floating-point images. Usually for output/saving, these images must be converted back

[2015-10-26 09:17] mjharte commented on #1761
Correct, the image has a minimum value of 1 and it's 8-bit.

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2015-10-26 09:24] #1761 closed

[2015-10-28 21:47] glemaitre commented on #1618
Hey,

I am preparing a lecture for an MSc course (Introduction to Image Processing) based closely on Gonzalez and Wood book. In the same time, I would like to rely on `skimage` regarding the practise. Since that some filters are missing this is the opportunity for to contribute as well for this part.

Let me know if you advance on the question.

Cheers,

[2015-10-28 22:39] vighneshbirodkar commented on #1618
Sometime back I did speak to @stefanv about this and we weren't able to figure out how to define a consistent API for these filters. It is still a pending issue I would say.

Meanwhile,  you can check out
http://fredo-editor.github.io
It's a little tool I made to visualize frequency domaim filtering.

[2015-10-28 22:54] glemaitre commented on #1618
Thanks for the tool.

Regarding the API, do you have any log of the discussion somewhere?

[2015-10-29 00:08] vighneshbirodkar commented on #1618
No, it was on a Skype call and I don't quite remember. @stefanv Could you chip in ?

[2015-10-30 05:14] jni commented on #1754
Hi @rmsouza01!

Thanks for reporting this and sorry for the delay in responding!

What version of scikit-image are you using? There is indeed a bug in v0.11 and earlier, but it is fixed in master. See #1530. Version 0.12 should be out in a few weeks.

If you are referring to master, can you please:
- provide sample code
- include the plotting commands
- label the images

In particular, the third i

[2015-10-30 22:50] #1757 closed

[2015-11-01 16:16] mbirdi opened #1767 "binary_blobs, not sure if this is a bug"
I got some errors when trying to run code with binary blobs.  I have gotten it working now, but I am not sure if what I have done is correct.

When trying to create a binary_blobs object, I run this code:

import skimage as sk
from skimage import data
blob = data.binary_blobs(length=5, blob_size_fraction=0.2, seed=1)

Which generates the following attribute error:
AttributeError: 'module' object h

[2015-11-01 21:21] emmanuelle commented on #1767
Hello, ``data.binary_blobs`` is only available in the development version, not in the stable release. Can you confirm that you are using a stable release of scikit-image like 0.11? ``skimage.__version__`` will give you the version you are using.

If you want to use ``binary_blobs``, you can download the development version from https://github.com/scikit-image/scikit-image/archive/master.zip and bu

[2015-11-01 21:26] #1686 closed

[2015-11-03 02:22] mbirdi commented on #1767
Thanks for the feedback!  I am using skimage version 0.11.3

[2015-11-05 13:14] TrishaMittal commented on #1669
Hi,

I am new to scikit-image and I want to contribute. I have worked in image processing in matlab and openCV.  I was familiarising myself with the scikit-image codes and I sort of followed up this issue about swirl.
This issue had come up in 2013.

The explanation given at that time was that the swirl requires information beyond the borders of the current image. So, skimage.transform.swirl pads

[2015-11-06 00:33] stefanv commented on #1669
I suspect the issue here is that the swirl effect is not quite "faded out" by the time it reaches the edge of the image, so what you see there is, as @TrishaMittal mentions, interpolation that includes values outside the image.  We could change the example to have a quicker exponential dropoff, if you think this is a big enough problem (it's not a bug).

[2015-11-06 06:04] jni commented on #1669
@stefanv it's not a bug, but perhaps `reflect` is a more sensible default for the mode?

[2015-11-06 06:20] rougier commented on #1669
Yes, reflect might be a better default option.

[2015-11-06 10:47] nizamov commented on #877
It seems that freetype-py is actually a python wrapper around libfreetype and therefore needs some extra binaries. Moreover, the last binary from libfreetype for windows is dated 2008 and does not mention even Win7 as supported. Therefore adding freetype to skimage does not seem to be worthwhile.

[2015-11-06 17:13] stefanv commented on #877
After discussions with @pelson, I think the easiest route forward is using matplotlib to render to canvas.  Phil, do you have the latest version of your rendering code lying around?

[2015-11-06 17:51] MaxNoe opened #1772 "skimage.io.imread prints stacktrace even if try ... except block:"
Consider this minimal example:
[code]

If foo.png is not readable, the output is:

[code]

[2015-11-06 20:58] stefanv opened #1773 "Large whitespace in doc examples"
- [x] http://scikit-image.org/docs/dev/auto_examples/plot_blob.html

[2015-11-07 00:25] JDWarner opened #1774 "Incorrect indentation leads to lists wrapped in blockquote"
These lists should not be indented. Because of the leading whitespace Sphinx wraps them in a blockquote.

http://scikit-image.org/docs/dev/auto_examples/plot_shapes.html (also choose better `figsize` to minimize whitespace)
http://scikit-image.org/docs/dev/auto_examples/plot_rank_mean.html
http://scikit-image.org/docs/dev/auto_examples/plot_radon_transform.html
http://scikit-image.org/docs/dev/aut

[2015-11-07 00:25] JDWarner commented on #1773
Similar problems with excessive whitespace:
http://scikit-image.org/docs/dev/auto_examples/plot_censure.html
http://scikit-image.org/docs/dev/auto_examples/plot_convex_hull.html
http://scikit-image.org/docs/dev/auto_examples/plot_edge_filter.html (despite `tight_layout`)
http://scikit-image.org/docs/dev/auto_examples/plot_label.html
http://scikit-image.org/docs/dev/auto_examples/plot_line_hough_tr

[2015-11-07 00:27] JDWarner opened #1775 "Remove all uses of `fig.subplots_adjust` in example gallery"
See these and similar:

- [x] ~~~http://scikit-image.org/docs/dev/auto_examples/plot_canny.html~~~ http://scikit-image.org/docs/dev/auto_examples/edges/plot_canny.html
- [x] ~~~http://scikit-image.org/docs/dev/auto_examples/plot_medial_transform.html~~~ http://scikit-image.org/docs/dev/auto_examples/edges/plot_medial_transform.html
- [x] ~~~http://scikit-image.org/docs/dev/auto_examples/plot_water

[2015-11-07 00:31] JDWarner commented on #1773
Many of these may be related to #1704. However, some with that functionality look fine (like Otsu http://scikit-image.org/docs/dev/auto_examples/plot_local_otsu.html, and morphological filtering http://scikit-image.org/docs/dev/auto_examples/applications/plot_geometric.html), so I'm not entirely sure what is going on.

Reverting that PR would probably fix a lot of this, though.

[2015-11-07 20:39] apiszcz opened #1776 "tifffile methods missing?"
I do not see TiffWriter support? Is there another import required?
I am trying to understand if this is possible?
tifout=skitf.TiffWriter(tifoutpath,bigtiff=True)

from skimage.external import tifffile as skitf
(Pdb) dir(skitf)
['TiffFile', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'imread', 'imsave']

[2015-11-08 03:43] teknogeek commented on #1728
@vighneshbirodkar yes that is his local PC folder uploaded to git it seems

[2015-11-08 03:43] teknogeek commented on #1728
i am also having this problem, same folder structure here

[2015-11-08 03:49] teknogeek commented on #1728
@vighneshbirodkar @ShivaniBhardwaj installing [numpy+mkl](http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy) seemed to fix the error for me

[2015-11-09 15:02] blink1073 commented on #1776
Hi @apiszcz, here's what I get:

[code]

It could be that it is only available in the dev version.  We are releasing a new version (hopefully) within the next couple of weeks.

[2015-11-09 15:14] stevendbrown commented on #1477
I've just learned how to make a "proper" pull request and will hopefully be able to make one for this issue this week.

[2015-11-09 16:35] blink1073 commented on #1772
Hi @MaxNoe, what version of skimage are you using?  What do you mean the image is `not readable`, as in corrupt?  Can you provide the file?

[2015-11-09 17:14] MaxNoe commented on #1772
The one that comes from with conda at the moment. I can check later.   For the example I just did `touch foo.png `.

[2015-11-09 17:35] stefanv commented on #1772
I can reproduce this.

[2015-11-09 17:37] stefanv commented on #1477
Thanks, Steven!

[2015-11-09 21:40] blink1073 commented on #1772
Okay, I can reproduce (only with Python 3.5).  I looked and we're not trapping and printing any errors in our plugin, I think this is actually a bug in PIL.

[2015-11-09 22:26] stefanv commented on #1772
Max, will you please file this against PIL, if it is still visible against the latest version?  Here's the code snippet to reproduce:

[code]

[2015-11-09 22:34] MaxNoe commented on #1772
Yes, can reproduce this with:
[code]
This prints the traceback and 'Catched Exeption'.
I'm using anaconda 2.4 with pillow 3.0.0.

[2015-11-09 22:43] stefanv commented on #1772
Max, remember to describe the problem on #1532 as well, i.e. that you are seeing an exception printed where you shouldn't.

[2015-11-09 22:45] MaxNoe commented on #1772
Are you sure you mentioned the correct commit? There seems to be no connection to me.

[2015-11-10 00:09] bobpoekert opened #1778 "Possible segfault bug in probabalistic_hough_line"
I just got the following core dump from a python segfault, and it looks like the cause might be a null pointer deref in probabilistic_hough_line.

[code]

[2015-11-10 02:08] stefanv commented on #1778
Oops.  Can you please send an example of a code snippet that causes this problem?

[2015-11-10 02:40] stefanv commented on #1772
Fixed, thanks.

[2015-11-10 07:46] stefanv opened #1779 "Specify shear more intuitively by x and y scaling factors?"
Currently, for affine transforms, we include a "shear angle", but most literature see shear in terms of an x and y factor.  Perhaps we can allow the latter definition too?

See also http://stackoverflow.com/questions/33499295/shearing-in-2d-affine-transformations

[2015-11-10 07:46] stefanv commented on #1779
/cc @ahojnnes

[2015-11-11 11:52] finlay-liu opened #1781 "Table of Contents Page Missing"
http://scikit-image.org/docs/stable/contents.html

[2015-11-12 07:45] ivoflipse commented on #1648
Sorry @emmanuelle I had missed your mention, but I'm looking into it right now

[2015-11-12 07:48] stefanv commented on #1648
Thanks for doing that, @ivoflipse

[2015-11-12 08:52] ivoflipse commented on #1646
I suspect because the resulting histogram can be directly fed into a classifier when it's a feature vector, which is how the Dalal paper uses it.

While correct that in that way it doesn't represent a histogram and uses can get the vector out by calling ravel, the opposite is also true. You can get the shape back by reshaping the vector, since it's shape is defined by parameters you passed in your

[2015-11-12 09:30] ivoflipse commented on #1648
As a simple proxy for what could be wrong it seems that there's a large difference in the maximum values of both hog images. The old method gives an image with a max of **0.26** whereas the new method gives a max of **67.78**.

Since the code is pretty much the same up to the call to _hoghistogram and the hog_image code gives the same results, the problem seems isolated to the loop we replaced.

[2015-11-12 11:23] ivoflipse commented on #1648
After reading through the code some more, I think the difference is in the fact that the old approach masked the magnitude image, then applied a uniform filter and then subsampled the filtered magnitudes.

The new approach simply sums all magnitude values for coordinates that have the correct orientations in a small window (which I guess acts as a filter or subsampling strategy). However, it didn'

[2015-11-13 03:23] tacaswell commented on #877
@mdboom is working on pulling the freetype wrappers out of mpl https://github.com/matplotlib/freetypy

[2015-11-13 08:40] Korijn commented on #1648
I assume this correction is sufficient to resolve?

[2015-11-13 12:25] mdboom commented on #877
I developed freetypy because freetype-py is ctypes based, and we have a no ctypes policy in matplotlib for reasons of portability to secure platforms.  Also, some things are just really hard to do with freetype and ctypes (like outline decomposition) that we needed to do for matplotlib.

While the work to integrate this back into matplotlib is ongoing, I think freetypy is ready for use by others w

[2015-11-15 06:40] stefanv commented on #1648
What is the status of this issue?  If possible, we should resolve this
before releasing 0.12.

[2015-11-15 09:28] ivoflipse commented on #1648
@stefanv there are still small differences between the two implementations and I don't know how to adapt the Cython implementation to get rid of them.

I can make a PR with the changes that I made though and discuss it further there.

[2015-11-15 14:57] pratapvardhan opened #1784 "Older tophat function under filters.rank.tophat?"
[`skimage.filters.rank.tophat`](http://scikit-image.org/docs/dev/api/skimage.filters.rank.html#tophat) - This filter computes the morphological opening of the image and then subtracts the result from the original image.

There is another implementation under [morphology](http://scikit-image.org/docs/dev/api/skimage.morphology.html) as

[`skimage.morphology.white_tophat`](http://scikit-image.org/do

[2015-11-16 02:29] k88kramer commented on #1131
This is a question repeatedly asked on the internet.  There are methods to find these region borders in MATLAB, openCV and mahotas that I have found.  Is there a reason why a "border coordinates" function for labeled regions is not included in regionprops in scikit-image?

[2015-11-17 07:39] 121onto opened #1786 "A faster method for computing the convex hull of a binary image"
The code below computes the convex hull of a binary image.  It is significantly faster than `skimage.morphology.convex_hull_image`.  Please feel free to use it.

[code]

Edits: should return `mask.T` rather than `mask`.

[2015-11-17 20:23] ahundt commented on #1749
Any luck with this?

[2015-11-18 03:14] jni opened #1788 "Failure to install pyamg on Py 2.7 causing Travis failures"
See eg [here](https://travis-ci.org/scikit-image/scikit-image/jobs/91212428#L3815).

[code]

[2015-11-18 03:15] jni commented on #1788
@JDWarner @emmanuelle I believe you guys were the pyamg "experts"? (Correct me if I'm wrong.) Any idea what's going on here?

[2015-11-18 06:36] jni commented on #1131
Hi @dcbb and @k88kramer! We haven't forgotten about you!

@k88kramer the usual reason for something not being in skimage is lack of time. Please remember that this is a community-driven project and unless someone who needs something implements it, it will just sit on the backburner.

I'm looking for a minor hacking project so if you can point me to a description of the algorithm, I might tackle th

[2015-11-18 14:40] k88kramer commented on #1131
Thanks for your reply.

In scimage.measure.regionprops there are many properties that can be
accessed such as "coords" which is an array of all the pixel coordinates
within a labeled region, and "perimeter" which is the computed length of
the region perimeter.  However there is no property for the perimeter
pixel coordinates.

It seems to me that the actual pixel coordinates of the region perimete

[2015-11-18 15:18] ahojnnes opened #1789 "Check coordinate convention of transform.warp"
For all branches, make sure that we use the convention `X, Y`. Deprecate ndimage.map_coordinates behavior by internally converting from `Y, X` to `X, Y`. Improve documentation to more clearly state the expected coordinate format.

[2015-11-18 23:26] Rachine commented on #1480
Hi everyone, I am facing the same issue as above.

I'm running it with Python 2.7  and Ubuntu 14.04.1 LTS (64 bits). I tried the advices of this thread, but it is not working for me. There is still some problems of loading :
I am trying to use the new function "seam carving" on the dev branch of scikit image. I can not import **transform**, it is missing **_shared.geometry _** for instance.

And i

[2015-11-19 03:57] jni commented on #1131
Hey @k88kramer!

You would think so, but you would be wrong! =P That's actually where I first went to look. You can see the code [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L513). To save you a click, the issue is that to compute the length of the perimeter, you need the coordinates, but they don't need to be sorted. To draw them, however, you ne

[2015-11-19 04:03] k88kramer commented on #1131
They for looking.  I used the contours of the regions as an
approximation.  When I have time I will write a routine to trace the
outline in pixels either from the region contours approximation or the
regionprops coords property.

On 11/18/2015 10:57 PM, Juan Nunez-Iglesias wrote:

--
Jack Kramer
Gainesville, Florida

[2015-11-19 06:02] jni commented on #1789
@ahojnnes how does this fit in with the skimage convention of using (row, column) coordinates?

[2015-11-19 12:43] JDWarner commented on #1789
@jni the literature for image transforms is so steeped in the x/y convention that attempting to rock this boat is likely to mislead.

[2015-11-19 13:14] Korijn commented on #1646
I've added a parameter `feature_vector` in #1783 which is `True` by default (retaining current behaviour). You can set it to `False` to prevent the call to `.ravel()`.

[2015-11-19 13:17] ekremney commented on #1646
@Korijn That is the best solution.

[2015-11-19 13:17] #1646 closed

[2015-11-19 13:19] ahojnnes commented on #1789
I agree that r, c would be better. This has historic reasons. All
transformations had x, y from the beginning. And everything assumes
that format now. It would be a huge effort to change that. And I am
not sure if that is possible without breaking existing functionality
in unexpected ways.

[2015-11-19 13:20] ahojnnes commented on #1789
@JDWarner That was an argument for x, y back in the days. Now I remember as
you mention it :-)

On Nov 19, 2015, at 07:43, Josh Warner <notifications@github.com> wrote:

@jni <https://github.com/jni> the literature for image transforms is so
steeped in the x/y convention that attempting to rock this boat is likely
to mislead.

—
Reply to this email directly or view it on GitHub
<https://github.com

[2015-11-19 23:25] jni commented on #1789
Got it. (Though sad to get it. =P) At any rate, though, perhaps we should have big bold warnings about the x/y coordinate convention used here and that it differs from the package conventions (and link to those).

[2015-11-19 23:49] ahundt commented on #1789
Just wanted to mention this issue was created because the (y,x) convention for this is what tripped me up and led to the creation of this issue in the first place.

Here is the problem I faced when adding to one of the examples:
https://github.com/scikit-image/scikit-image/issues/1749

Here is the workaround for the current code, which could be dropped when this issue is completed:
https://github.

[2015-11-21 09:18] Korijn commented on #1648
After some new insights, the PR pretty much fixes all HOG related issues at this point. Ready to merge!

[2015-11-22 17:06] ctheune commented on #1544
The issue is, that you can't "pip install scikit-image" in a fresh virtualenv (or god forbid you try to use buildout). You need to manually install scipy first because it's used during compilation. I think this needs to be a setup dependency like cython.

[2015-11-22 23:08] blink1073 commented on #1544
Hi @ctheune, this issue is fixed in the dev version and will be in the next release (hopefully soon).

[2015-11-23 08:19] ctheune commented on #1544
Ah, sorry for the noise. I couldn't follow that in the discussion when it was closed. :)

[2015-11-29 15:30] souravsingh commented on #1781
Can anyone confirm if the Doc page is missing or is it an error in making documentation?

[2015-11-29 15:33] souravsingh commented on #1578
Is the issue still open?

[2015-12-01 07:38] kshitij10496 commented on #1645
I was thinking of using either `img_as_ubyte()` or `astype()` for converting the boolean image to int type.
On using `img_as_ubyte`, the boolean value `True` corresponds to `255` in int,
while `astype()` sets `True` to `1`.
We have to choose either implementation depending upon the convention.
Since, I am new here,  I would need some help with this.

[2015-12-01 08:12] stefanv commented on #1645
I don't think it matters which method you use in this case, since the boundaries are clear either way.  Just try both options and see which works!  And remember to write a test along the way.

[2015-12-01 08:27] soupault opened #1793 "Add complexity evalutaion to docstrings"
Hi!

I dare to say that large part of users (inc. myself) typically use `skimage` for fast prototyping of image processing pipelines. Do you think if it might be a good idea to add an estimation of complexity metrics to algorithms' docstrings?

This way, it also might be easier both for maintainers and community to identify "outdated" algorithms implementations.

[2015-12-01 09:00] stefanv commented on #1793
Yes, I see no reason why we cannot do that.  If the complexity is known, simply add it under the "Notes" section of the specified algorithm.  That said, I don't know who will do the work of retroactively studying all the algorithms to figure this out, so please feel free to file PRs.

[2015-12-01 09:00] #1793 closed

[2015-12-01 09:03] kshitij10496 commented on #1645
@stefanv Thanks.
I am working on it.

[2015-12-01 09:11] soupault commented on #1793
@stefanv OK, thanks!

[2015-12-01 09:18] stefanv commented on #1578
Looks that way: https://github.com/scikit-image/scikit-image/blob/master/doc/source/user_guide/tutorial_parallelization.txt

[2015-12-01 09:19] stefanv commented on #1781
That page is missing indeed.  In the dev docs, we've removed the link:

http://scikit-image.org/docs/dev/

[2015-12-01 09:19] #1781 closed

[2015-12-01 09:55] souravsingh commented on #1578
Alright,I will work on it

[2015-12-02 07:32] jni commented on #1645
Closed by #1794

[2015-12-02 07:32] #1645 closed

[2015-12-04 08:07] kshitij10496 commented on #1647
Shouldn't this issue be closed ?

[2015-12-04 08:07] kshitij10496 commented on #1642
Is this issue still open ?

[2015-12-04 08:09] kshitij10496 commented on #1677
Is this issue still open ?

[2015-12-04 10:31] oew1v07 commented on #1642
No my merge should have dealt with this - it will be available in v0.12

[2015-12-04 16:08] patquem opened #1796 "Problem still remaining with skimage/_io readimage with (3,N,M) tiff images"
Hello,

It's my first topic in this site (so, be indulgent with me, please, if I don't do the things in the right way).
My issue is relative to the one reported in may named :
     Fix skimage.io.imread returns incorrect dimensions #1498
I realize the modifications proposed in this issue, but in my case, the dimension stays incorrect (when as_grey = True).
To fix the problem I have done the follow

[2015-12-04 16:15] JDWarner commented on #1796
@patquem are you running the development version (0.12dev), or the latest release (0.11.3)? You can check this with `import skimage; skimage.__version__`.

Those fixes are only in the development version at present, but we anticipate releasing 0.12 soon.

[2015-12-04 16:56] patquem commented on #1796
I work with version = '0.11.3'
I have just reported the changes I read in issued  #1498 in my local version (What I have observed is np.swapaxes doesn't fix the problem .. for me :)

[2015-12-04 20:19] sumitbinnani commented on #1647
The issue has been fixed. Not sure how to close it.

[2015-12-04 20:43] JDWarner commented on #1647
Thanks for the reminder - that's our job ;)

[2015-12-04 20:43] #1647 closed

[2015-12-05 10:04] Hiyorimi commented on #1788
I stack on the same error for python 2.7 and created a question @ [StackOverflow!] (http://stackoverflow.com/questions/34103531/python-scikit-image-pull-request-travis-ci-python-2-7-build-fails)

[2015-12-05 12:56] Hiyorimi commented on #1788
@jni can you upvote [question](http://stackoverflow.com/questions/34103531/python-scikit-image-pull-request-travis-ci-python-2-7-build-fails?noredirect=1#comment55958641_34103531) at StackOverflow, so it will have better chance to attract someones attention

[2015-12-05 17:37] JDWarner opened #1801 "np.linalg.norm axis= kwarg only supported in NumPy 1.8+"
Now that #1800 is merged, we unmask a few things introduced by recent PRs.

The linear algebra underlying #1795 uses `np.linalg.norm` with the `axis=` kwarg [here](https://github.com/scikit-image/scikit-image/blame/master/skimage/measure/fit.py#L242). This fails in the 2.7 build which uses minimum requirements (NumPy 1.6.1). Looking back at old reference docs, it appears this was introduced in Num

[2015-12-05 17:45] JDWarner commented on #1801
Just realize this is addressed in #1799; obviously I need to start catching up on my email from oldest to newest.

Closed in favor of #1799

[2015-12-05 17:45] #1801 closed

[2015-12-05 18:02] JDWarner commented on #1786
@121onto thanks for the report - would you like to make a PR with this enhancement?

[2015-12-05 18:11] JDWarner opened #1802 "Viewer errors in test suite under Python 3.x"
These appear related to qt5 or the Matplotlib qt5 backend, but only appear in Python 3.x. [See here](https://travis-ci.org/scikit-image/scikit-image/jobs/95082214).

Basic form of the error:

[code]

[2015-12-05 18:12] JDWarner commented on #1802
Updated link to Travis build: https://travis-ci.org/scikit-image/scikit-image/jobs/95082214

[2015-12-05 19:07] JDWarner commented on #1788
I turned off the `-q` option in a personal Travis build; perhaps this will assist in figuring out the problem for the pyamg folks.

The [full log is here](https://travis-ci.org/JDWarner/scikit-image/jobs/95088900), copied below:

[code]

[2015-12-05 19:23] lukeolson commented on #1788
I'll take a look at this from the pyamg end...

[2015-12-05 19:24] JDWarner commented on #1788
Much appreciated, @lukeolson!

[2015-12-06 00:29] blink1073 commented on #1802
It looks like a bad interaction with matplotlib 1.5, which was added to http://travis-wheels.scikit-image.org/ on 30 November.  I tried it on my setup (matplotlib 1.5.0, python 3.4, pyqt 4.11 on OSX), and it works.  Any thoughts on this @tacaswell?

[2015-12-06 00:30] blink1073 commented on #1802
This poses an answer, but only for Ubuntu 14.04: http://askubuntu.com/q/661346.

[2015-12-06 04:31] tacaswell commented on #1802
Probably related to the changes in pyqt to use cooperative inheritance, unfortunately I don't have time to dig into this now.

What are the values of `rcParams['backend']` and `rcParams['backend.qt4']`?

attn @mfitzp

[2015-12-07 03:08] #1642 closed

[2015-12-07 03:09] jni commented on #1642
@kshitij10496 thanks for helping with the triage!

[2015-12-07 03:15] jni commented on #1788
@JDWarner based on the answer on SO, perhaps we should pin pyamg to 2.x? This is kind of the point of semantic versioning... One should not in general expect a library written for version n.x to work with (n+1).y.

[2015-12-07 03:41] JDWarner commented on #1788
@jni I disagree with that answer but can't comment yet on StackOverflow. Throwing up our hands and pinning an old version is very unsatisfactory. pyamg is far from an abandoned library and it builds for the official project on Travis. I raised an issue over there too; let's give it a little time.

[2015-12-07 03:58] lukeolson commented on #1788
@jni @JDWarner yep I'd like to work with you to get this resolved from the pyamg end.  The pyamg builds on 2.6 -- 3.5, but does so with the miniconda setup.

Any idea on which version of numpy + scipy versions the build is failing on?  This could be an old numpy issue.

[2015-12-07 05:18] jni commented on #1788
@lukeolson great to hear, thank you! =)

The 2.7 build uses the minimal requirements, which are listed [here](https://github.com/scikit-image/scikit-image/blob/master/DEPENDS.txt). (Though we are talking about bumping the Pillow line to 2.1).

Specifically, NumPy=1.6.1, SciPy=0.9.

[2015-12-07 06:05] kshitij10496 commented on #1642
@jni Cool

[2015-12-07 11:38] patquem commented on #1796
Hello,
In fact, when I have tried to fix the problem, I have pick up the modifications in :
https://github.com/scikit-image/scikit-image/commit/3c8bf02fa5a9749f5de1bc4bbd6b2e2abb7d1a25
which specified the (wrong) changes :
         img = np.swapaxes(img, -1, -3)
         img = np.swapaxes(img, -1, -2)
Since may, second line have been changed in :
         img = np.swapaxes(img, -1, -3)
         im

[2015-12-07 20:53] stefanv commented on #1789
This remains a tricky issue.  All transformation literature uses ``(x, y)``, but the entire rest of scikit-image is ``(row, column)``.  Should we bite the bullet and change this?  It will break all the transformation codes in existence already, and make it harder to implement papers "line for line".  But consistency is a big deal, and regardless of all the pain I see here, it may be worth doing.

[2015-12-07 22:05] emmanuelle commented on #1796
@patquem  can we consider that your problem is solved and close the issue?

[2015-12-07 22:17] emmanuelle commented on #1788
@lukeolson on a slightly different topic, pyamg is an optional dependency because we use ``ruge_stuben_solver`` in random walker segmentation (and it works great, thanks a lot!). That's the only function from pyamg that we use. How much work do you estimate would be required to take some code from pyamg into a self-contained module if we wanted to remove this dependency? I had a quick look a while

[2015-12-08 00:59] jni commented on #1789
@stefanv Having never been exposed to the transforms literature, I'd favour this change. =P Having said that, it's sloggy, unglamorous work, so finding someone to do it might be a challenge...

[2015-12-08 01:13] ahojnnes commented on #1789
-1.

[2015-12-08 03:43] stefanv commented on #1789
I will defer to Johannes on this one, as he is the person maintaining most
of this code.

[2015-12-08 06:06] kshitij10496 commented on #1595
Is this issue still open ?

[2015-12-08 06:15] #1595 closed

[2015-12-08 06:16] JDWarner commented on #1595
Closed by #1603

[2015-12-08 06:19] kshitij10496 commented on #1661
Isn't this issue fixed ?

[2015-12-08 07:40] #1661 closed

[2015-12-08 08:38] patquem commented on #1796
Yes. You can close the issue.
Thanks.

[2015-12-08 09:53] #1796 closed

[2015-12-08 12:22] soupault commented on #631
@tbekolay, hi! Could you share your `MATLAB` implementation of the algorithm?

[2015-12-08 21:01] stefanv commented on #1786
We already have drawing primitives in place, so is it necessary to make use of PIL?

[2015-12-08 23:06] ahojnnes commented on #1786
I tried this two weeks ago and it returns slightly different results from what our current implementation does, but is indeed significantly faster.

[2015-12-09 00:13] stefanv commented on #1786
Do you mean this method is different, using our draw function is different, or both?

[2015-12-09 00:22] stefanv opened #1807 "Deprecate Python 2.6 after release of 0.12"

[2015-12-09 00:22] jni commented on #1807
:+1:

[2015-12-09 01:19] JDWarner commented on #1807
It's probably time.

[2015-12-09 02:43] ahojnnes commented on #1786
The method itself produces slightly different results than our
existing implementation, no matter which drawing function you use. At
least the unit tests failed with like a 10% error.

[2015-12-09 05:20] ahundt commented on #1789
If this isn't changed it may be wise to at least make situations where the data you have will be the reverse of the data you need very clear, perhaps via comments/documentation.

[2015-12-09 17:14] stefanv opened #1808 "Allow radon transform to ignore values outside circle"
When ``circle==True``, values outside the inscribed circle should be ignored.  Currently, an error is thrown if any non-zero values are detected, forcing the user to set them to zero explicitly first.  The error should be changes to a warning and the docstring updated accordingly.

[2015-12-09 19:05] stefanv opened #1809 "regionprops: document each property for introspection purposes"

[2015-12-09 19:48] ahojnnes commented on #1809
+1! Maybe we can automatically populate the doc string of the regionprops function from the members of the private _RegionProps class.

[2015-12-09 20:25] stefanv commented on #1809
That would be great!

[2015-12-10 19:33] stefanv commented on #1784
Are you sure ``white_tophat`` is broken?  This function is just a wrapper around ndimage functionality.

[2015-12-10 19:41] stefanv commented on #1778
@bobpoekert Care to follow up?

[2015-12-10 19:43] #1776 closed

[2015-12-10 19:44] stefanv commented on #1775
Hrm, how about we rather set ``plt.tight_layout`` as a default plot option for the entire gallery?

[2015-12-10 19:51] stefanv commented on #1772
Since this is being fixed on the PIL side, I'm closing.

[2015-12-10 19:51] #1772 closed

[2015-12-10 19:55] #1767 closed

[2015-12-10 19:55] stefanv commented on #1755
No feedback given--closing.

[2015-12-10 19:55] #1755 closed

[2015-12-10 19:56] stefanv commented on #1754
No follow-up.  Closing.

[2015-12-10 19:56] #1754 closed

[2015-12-10 19:58] stefanv commented on #1789
@ahundt Yes, that should definitely be done.  We are tagging a new release this weekend, and doing a sprint today and tomorrow to get things in shape.  Is there any chance that you can help us out on this issue?

[2015-12-10 20:00] stefanv commented on #1739
/ping @jni @blink1073

[2015-12-10 20:02] stefanv commented on #1737
Given that the underlying Cython code requires doubles, what do you say?  Should we leave ``img_as_float`` as is?

[2015-12-10 20:03] stefanv commented on #1729
No feedback given.  Closing.

[2015-12-10 20:03] #1729 closed

[2015-12-10 20:08] emmanuelle commented on #1809
@stefanv I don't understand the suggestion. Do you mean that some properties are not mentioned in the doctring of ``measure.regionprops``?

[2015-12-10 20:17] emmanuelle commented on #1807
So, if I understand well, 0.12 will still support Python 2.6 but 0.13 won't? Is that what you suggest?

Where should we warn users still using Python 2.6 that the next release won't support their version of Python any more? Obvisouly in DEPENDS.txt, anywhere else? Should we issue a warning when users import skimage ?

[2015-12-10 20:27] pratapvardhan commented on #1784
@stefanv -- I meant `skimage.morphology.white_tophat` is working fine. However, the one under `rank` module `skimage.filters.rank.tophat` seems to give different output than morphology one.

[2015-12-10 20:40] emmanuelle commented on #1784
you're completely right @pratapvardhan

``skimage.filters.rank.tophat`` does not produce the expected result.

I tried to look at the source code but I find it pretty hard to read the code of  ``filters.rank``

[2015-12-10 20:46] emmanuelle commented on #1784
Another example

[code]

[2015-12-10 21:14] emmanuelle commented on #1784
Hum, I suspect that this line causes the problem
https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/rank/generic_cy.pyx#L320

It seems that it's actually the black tophat that is computed (the closing minus the original image).

However, it looks like ``ndimage.black_tophat`` is also buggy... Even the example from the docstring makes no sense
[code]

[2015-12-10 21:19] JDWarner commented on #1809
I think the idea is to document this once, in one place, and have other instances pulled from there instead of needing to do multiple changes in multiple places (which inevitably results in inconsistencies)

[2015-12-10 21:20] JDWarner commented on #1775
:+1:

[2015-12-10 21:35] emmanuelle commented on #1775
:+1:

[2015-12-10 21:39] emmanuelle commented on #1775
@JDWarner would you prefer modifying #1806 to remove the calls to ``tight_layout`` and add ``figure.autolayout:True`` in ``doc/source/conf.py`` or would you prefer that a separate PR is made for the latter change, and rebase on it?

[2015-12-10 21:40] emmanuelle commented on #1809
thanks, makes sense

[2015-12-10 21:48] emmanuelle commented on #1728
@ShivaniBhardwaj did you try the solution recommended by @teknogeek ?

[2015-12-10 22:02] emmanuelle commented on #1649
Addressed by #1746, closing.

[2015-12-10 22:02] #1649 closed

[2015-12-10 22:24] ahundt commented on #1789
Unfortunately I'm at the end of the semester so there are lots of deadlines next week. I could in a week or so, very sorry to disappoint!

[2015-12-10 22:46] stefanv commented on #1789
No problem, we'd be very happy to have these improvements in the next release.

[2015-12-10 22:56] alexandrejaguar commented on #1773
Hi @stefanv and @JDWarner,
I tried to solve the issue on one of these files on #1810, with a certain success. This space appears on that file because of the third subplot; I think this example need to be rewritten. I'll check that later.

[2015-12-10 23:33] bobpoekert commented on #1778
I'm running a fuzzer now to see if I can generate a test case. If it doesn't come up with anything after a day or so it's probably safe to close this issue.

[2015-12-11 00:26] stefanv commented on #1778
Thanks!

[2015-12-11 00:31] stefanv commented on #1807
Yes, that's right.  Since even numpy will probably move to 2.7, I think we've waited long enough.  A warning on Python 2.6 is a good idea.

[2015-12-11 02:14] #1728 closed

[2015-12-11 03:16] stefanv commented on #1712
This is a remarkable bug.  If I slice the images even ever so slightly, it does not appear!

[2015-12-11 03:51] stefanv commented on #1712
Slightly smaller test example:

[code]

![image_](https://cloud.githubusercontent.com/assets/45071/11735564/6ae8726e-9f77-11e5-940a-20439e25bd01.png)

[2015-12-11 04:08] MartinSavc commented on #1712
@stefanv, I'm not sure what to make of your example. Guess I'll just have to run it.
Do you agree with the proposed solution?

[2015-12-11 04:14] JDWarner commented on #1775
I can modify, but it won't be until Saturday. Feel free to take my changes and run with them if there is a release deadline.

I think I'm going to have to rebase regardless once #1810 is merged...

[2015-12-11 04:38] stefanv commented on #1712
@MartinSavc I was trying to find something we could include in the test suite.

I'm not sure if what you suggest will fix the problem.  Have you tried?

[2015-12-11 05:05] MartinSavc commented on #1712
I've replaced the function with:
    def _window_sum_2d(image, window_shape):
        window_sum = fftconvolve(image, np.ones(window_shape), mode='full')
        N,M = window_shape
        window_sum = window_sum[N:-N,M:-M]
        return window_sum

This fixed the former problem: my results were -0.566894 for min, and 0.931608 for max. However I still get unexpected results for your example: 77.1

[2015-12-11 05:07] stefanv commented on #1712
This feels like a floating point precision issue.  Perhaps somewhere, we are subtracting two floating point numbers (bad), and then amplifying the result.

[2015-12-11 05:07] stefanv commented on #1712
This could potentially be avoided by finding a different expression that calculates the same thing.

[2015-12-11 05:08] stefanv commented on #1775
That should be fine, thanks Josh.

[2015-12-11 05:11] MartinSavc commented on #1712
Your example uses a boolean template - if a change it to float32, then using the current match template example I get 6.64278, but with my modification I get 0.98226.

[2015-12-11 05:16] stefanv commented on #1712
Can you calculate the differences between the convolution method and the table method of getting the window sum so we can gauge the magnitude of that error?  What worries me is that we're simply hiding the error, without a really good understanding of what is happening under the hood.  Changing almost anything about this example makes it work under the old code as well.

[2015-12-11 05:31] MartinSavc commented on #1712
I think the boolean template doesn't work, because when summing the values from the template we simply get True which equals to 1. This might be something else to fix.

So these are the differences between the windows sum of the original method and the one using convolution. On the left is sum of values, on the right is some of squared values.

![sum_conv_vs_int](https://cloud.githubusercontent.co

[2015-12-11 05:35] stefanv commented on #1712
Thanks for your persistence, Martin.  It's so much better not to slog through these types of things alone :)  I'm re-reading the original paper to see if there is anything that can be improved in the formulation.

[2015-12-11 05:45] MartinSavc commented on #1712
So I've compared the denominator for both approaches and compared those:

![denom_diff](https://cloud.githubusercontent.com/assets/13271582/11736740/3ad0fa28-9fd2-11e5-9abf-edbcc90e9213.png)

The differences really manifested here. And they are also very large, order of +/- 1e19.

[2015-12-11 05:47] stefanv commented on #1712
OK, great, I'll focus my attention there.

[2015-12-11 05:48] stefanv commented on #1712
So, is this denomenator calculated using that input differing by 1e-11, or are you calculating the denomenator itself in a different way?

[2015-12-11 05:58] MartinSavc commented on #1712
The denominator is calculated using those inputs - once using inputs from integral images, once from convolution.

So I've done a mistake - I've forgot to cast and pad the image appropriately, before calculating the sums. I've corrected this now (I added the first part of the script, and got somewhat different results, which are more in line with my previous assumptions about integral images. Thes

[2015-12-11 05:59] jni commented on #1737
@stefanv One word: fused types. =P

[2015-12-11 06:06] stefanv commented on #1712
Is that the right image?  Those values are still very small.

[2015-12-11 06:11] jni commented on #1739
@stefanv Just had a look at the code. In this case, we should not rescale, imho, but the whole `convert` machinery revolves around rescaling. I don't know how to fix this without extreme special-casing... Suggestions welcome!

[2015-12-11 06:13] MartinSavc commented on #1712
IMHO:
The difference image on the left shows a pattern, consistent with random round-off errors (not white noise random, but little correlation with image content). Even so these have produced a non random difference in the calculated denominator, so I would still need to take a look into that.
The difference image on the right show a much more structured error, that is most likely the result of a

[2015-12-11 06:17] stefanv commented on #1712
So, if you add noise with magnitude 1e-11 to the convolution-calculated result, does it also mess up the results?  If such small errors have such large effects (answers going up to 35, I've seen so far!) one should be extremely cautious.

[2015-12-11 06:19] stefanv commented on #1739
Raise a warning and assume 64-bit int is actually a 16-bit image?

[2015-12-11 06:21] stefanv commented on #1737
That seems like a perfectly reasonable suggestion, although it would require changing *all* Cython functions that expect doubles.

[2015-12-11 06:30] #1703 closed

[2015-12-11 06:31] stefanv commented on #1696
/ping @jni @vighneshbirodkar

[2015-12-11 06:32] stefanv commented on #1693
/ping @jni @JDWarner

Can we close this with an addition to the docstring, or is something more involved needed?

[2015-12-11 06:58] MartinSavc commented on #1712
Well, I no longer think it's 1e-11, but -40 (the integral is smaller than convolution). And the difference isn't in the form of noise, but integral is consistently smaller than convolution.

The results with 1e-11 were produced using a 8 bit image without padding. I'm doing all of this is a notebook, If you wish I can share it with you (a sharing platform with skimage would be great).

[2015-12-11 07:29] MartinSavc commented on #1712
A 1D demonstration of the problem (as I perceive it) with the code:
''''
win_size = 100
s = np.float32((np.random.randn(10000)*100)**2)
s_int = s.cumsum()

s_int_win = (s_int[win_size:] - s_int[:-win_size])
s_conv_win = fftconvolve(s, np.ones(win_size))
s_conv_win = s_conv_win[win_size:-win_size+1]

clf()
subplot(211)
plot(s_int_win, label='filtered using int')
plot(s_conv_win, label='filtered usi

[2015-12-11 09:33] MartinSavc commented on #1712
So I've looked into stable summation in numpy. I guess the best solution would replace the np.cumsum with a stable cumulative summation method, such as [Hakan algorithm](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwjfrbyav9PJAhVDWo4KHVolBb0QFggdMAA&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FKahan_summation_algorithm&usg=AFQjCNH7AU_0u0BK1QBB76zw8y3lKSDqJw&sig2=Luguk3v

[2015-12-11 11:35] MartinSavc commented on #1712
I've also identified the issue with using Boolean or integer templates on Python 2.x. The template is not converted to floating point values. In line 144 of  scikit-image/skimage/feature/template.py
[code]
the template values are summed and divided by volume. For boolean and integer arrays the sum will be an integer, the template volume is also an integer. In python 2.x this results in integer div

[2015-12-11 12:56] alexandrejaguar commented on #1775
Hi everyone,
what is wrong on #1810? Could I help with that? If yes, how could I do?

[2015-12-11 13:15] vighneshbirodkar commented on #1696
In my opinion we should tackle #1495 , which inturn depends on #1510 before this. #1510 could be really useful for practical purposes. I can invest some time in it over the winter break. What do you think ?

[2015-12-11 14:08] blink1073 commented on #1739
Seems reasonable to me to do what we do in `imsave`, and check the max value when downcasting, and issue a warning if we assume it should not be rescaled.

[2015-12-11 14:13] blink1073 commented on #1775
We have known problems with `pyamg` and the `matplotlib 1.5` / `PySide` combo.  See https://github.com/scikit-image/scikit-image/issues/1788 and https://github.com/scikit-image/scikit-image/issues/1802.

[2015-12-11 15:11] emmanuelle commented on #1662
@bsipocz thanks for the tip. I recently found out that you need sphinx >= 1.3 to build scikit-image documentation, that might have been the reason why you couldn't build the doc. I've started using "nitpicky=True" and it's indeed very useful for finding broken links, thanks.

[2015-12-11 15:14] blink1073 commented on #1802
Yep, that was it, we were using `Agg` instead of `Qt4Agg`, thanks @tacaswell, fixed in #1812.

[2015-12-11 15:22] emmanuelle opened #1813 "Broken intersphinx links in deprecated functions"
When using the ``@deprecated`` decorator, the new function mentioned in "Use new_function instead" is not transformed correctly into an intersphinx link. See for example http://scikit-image.org/docs/dev/api/skimage.filters.html#canny, there is no working link to the new function.

I detected this problem using the "nitpicky=True" mode suggested by @bsipocz in #1662.

[2015-12-11 15:43] emmanuelle commented on #1775
On second thoughts, keeping ``plt.tight_layout()`` in the python files of the examples makes it possible to run the example file as a script and to get the same layout as in the html documentation. This feature might be nice enough to keep an additional line of code, what do you think?

[2015-12-11 16:30] blink1073 commented on #1775
I agree, it should be self-contained.

[2015-12-11 16:50] blink1073 opened #1814 "Fix commented out test in viewer"
viewer/tests/test_tools/test_rect_tool

[2015-12-11 16:53] bsipocz commented on #1662
It's still not building with 1.3.3 (also I'm almost sure I had a fresh version or even the dev one during the euroscipy sprint).
Anyway, this is where it fails atm.:
[code]

#1813 seems to be an easy one to fix, I can open a PR for that if you like.

[2015-12-11 17:04] stefanv commented on #1775
This is just to strip the white space around the box, isn't it? Putting
tight layout in every single example for a plot that is functionally the
same feels dirty. I already have people looking at code snippets, any then
saying "oh, no, so much code". Then I have to point out that most of it is
actually plotting related.
On Dec 11, 2015 08:30, "Steven Silvester" <notifications@github.com> wrote:

[2015-12-11 17:06] blink1073 commented on #1775
I'd argue that matplotlib plots are hideous without `tight_layout`, and may turn off potential users who may not even know it exists.

[2015-12-11 17:10] stefanv commented on #1775
OK, how about we have a standard header for each example that does a numpy
import and setting up the plotting environment (perhaps via a style, so
that we can include much of the code in scikit-image itself)?

And why is tight layout not the matplotlib default?
On Dec 11, 2015 09:06, "Steven Silvester" <notifications@github.com> wrote:

[2015-12-11 17:26] blink1073 commented on #1775
That seems reasonable.  I'm not sure why is not the default, but the 2.0 release is all about setting new defaults, so it might be worth raising an issue about it.

[2015-12-11 17:38] alexandrejaguar commented on #1775
Hi everyone,
some subplots requires `tight_layout` to appear free of white space. According to my tests, this happens mainly on subplots with 1 row, 3 cols. Maybe rewriting the examples would solve that.
IMHO, I believe the examples have to be simple and explained as possible. What do you think?
Standards related to header and some variables would be also nice, I believe.

[2015-12-11 18:39] emmanuelle commented on #1662
@bsipocz that'd be awesome for #1813, thanks a lot!

Sorry to hear that sphinx build still does not work. Does the test suite run without fails for you?

[2015-12-11 19:48] #1802 closed

[2015-12-11 20:02] bsipocz commented on #1662
Well, I get loads of failures (33 fails, 4 errors, 5 warnings) which makes me wonder that there is something I missed when setting up the dev version. Do you have a docs page describing how to run tests and build the docs? I run both ``py.test`` and ``python setup.py test``. The log for the former is here: https://gist.github.com/bsipocz/50d5545f43f5be193ff5
Building the docs I tried ``python setu

[2015-12-11 21:17] emmanuelle commented on #1662
Hum, no specific doc page for this I'm afraid. I just run ``make test`` to run the tests, and ``make html`` in ``doc`` directory to build the doc.

[2015-12-11 21:22] emmanuelle commented on #1662
I think we rely too much on Travis for tests, I also have a few tests failing...

[2015-12-11 21:32] emmanuelle commented on #1693
A case for 2-D anisotropic images is the case of spatio-temporal diagrams (used for example in chaos and non-linear systems).

[2015-12-11 22:01] soupault commented on #1048
@jni Any updates on this?

[2015-12-11 22:04] soupault commented on #999
Closed as duplicate of https://github.com/scikit-image/scikit-image/issues/1092 .

[2015-12-11 22:04] #999 closed

[2015-12-11 22:14] soupault commented on #1157
@varnivey Since a lot of things changed in py2exe since 2014, could you try to bundle your app again and confirm if bug is still presented?

[2015-12-11 22:19] soupault commented on #1215
"We are still working on building up the tool chain on the Mac worker."

[2015-12-11 22:50] soupault commented on #1390
Can't replicate with Python neither `2.7.11` nor `3.5.1`. `Scikit-image` version is `0.11.3`.

[2015-12-11 22:53] soupault commented on #1489
Adding reference to https://github.com/scikit-image/scikit-image/issues/1092 .

[2015-12-11 22:55] soupault commented on #1407
Hi, @yarikoptic . Could you confirm if bug is still presented?

[2015-12-11 23:07] stefanv commented on #1390
I haven't been able to replicate this problem either, but someone would need to run this through Valgrind or similar to ensure we don't leak any memory.

[2015-12-11 23:10] soupault commented on #1390
There are similiar issues though https://github.com/scikit-image/scikit-image/issues/1448 and https://github.com/scikit-image/scikit-image/issues/1635

[2015-12-11 23:13] soupault commented on #1448
Happens for me also. Python 2.7.11 and 3.5.1. Scikit-image 0.11.3.

[2015-12-11 23:19] soupault commented on #1473
@gongenhao, hi! How is it going with example? :)

[2015-12-11 23:34] stefanv commented on #1448
How about with the latest dev version of scikit-image?

[2015-12-11 23:36] stefanv commented on #1448
Does this happen with the latest dev version as well?  I can no longer reproduce on my machine.

[2015-12-11 23:37] soupault commented on #1448
I have to setup `dev`-environment to check. Will update on results

[2015-12-11 23:46] soupault commented on #1602
Isn't `m/n` the convention for image processing?

[2015-12-12 00:02] soupault commented on #1665
@tcaswell, could you comment on issue, please?

[2015-12-12 00:03] soupault commented on #1665
@tacaswell, could you comment on issue, please?

[2015-12-12 00:08] soupault commented on #1677
@kshitij10496 It is. Would you like to investigate it?

[2015-12-12 00:13] bsipocz commented on #1662
or not relying enough on it :)The ``scikit-image`` travis matrix seems very simple comparing to what we have in astropy and affiliates (e.g. we also test for cases when the optional deps are not installed, or for older numpys (or the dev version), testing the docs build, etc. and still there are always a few failing things for release candidates when many people start testing it on all kind of set

[2015-12-12 00:47] JDWarner commented on #1602
@soupault we standardized on r/c because it actually carries meaning, in the form of row/column. x/y, m/n are all dangerous and potentially unintuitive because 2d Numpy arrays have the origin in the upper left and, when printed, the first dimension is rows while the second is columns.

After a lot of support requests boiling down to "why is indexing not working like I expect it to" we settled on r

[2015-12-12 00:55] soupault commented on #1602
@JDWarner I see. So `r/c` actually matches traditional `numpy`-notation?

[2015-12-12 00:59] soupault commented on #1448
True, works without any troubles on latest https://github.com/scikit-image/scikit-image/commit/a8b9177ca914af1326a9f2e4b570434844f6f937 both for Py2.7 and Py3.5 .

[2015-12-12 01:55] JDWarner commented on #1602
Not just numpy; Matlab also orients matrices this way.

[2015-12-12 02:06] JDWarner commented on #1448
Glad to hear it! Closing this as resolved.

[2015-12-12 02:06] #1448 closed

[2015-12-12 06:05] kshitij10496 commented on #1677
@soupault Yeah.
I would love to work on this

[2015-12-12 07:18] soupault commented on #1635
This has to be verified against latest github version of `scikit-image` as #1448 has been fixed in it.

[2015-12-12 09:06] emmanuelle commented on #1662
Wow, that's impressive. Even with our simple matrix as you call it :-), it already feels like ages before Travis build completes.

Thanks for your perseverance!

[2015-12-12 16:39] varnivey commented on #1157
Hey @soupault!

I confirm that the problem persists with scikit-image 0.11.3, python 2.7.10 and py2exe 0.6.9. I still use the above solution to avoid that.

[2015-12-12 17:05] tacaswell commented on #1665
Is there any way to visualize the daisies using circle and line objects?

I think the problem is that `desc_img` is an image full of one pixel wide features which is interacting badly with the aliasing when it is raterized on to the canvas.

On a phone so hard to dig much deeper.

[2015-12-12 18:01] soupault commented on #1665
Yes, thanks.
I don't know if someone uses `descs_img` besides this example, but we can for sure re-implement it using `matplotlib` primitives.

[2015-12-12 18:10] emmanuelle opened #1816 "Figure of edge modes example is too small"
in http://scikit-image.org/docs/dev/auto_examples/plot_edge_modes.html, all 5 subplots are on a single row, resulting in tiny windows. A 2-line plot would be better.

[2015-12-12 18:27] blink1073 commented on #1775
It looks like there is no rc_param for tight_layout, you have to call it explicitly via `fig.tight_layout()` or `plt.tight_layout()`.  I'd like for us to use `skimage.io.imshow` in our examples, like this:

[code]

<img width="640" alt="screen shot 2015-12-12 at 12 26 49 pm" src="https://cloud.githubusercontent.com/assets/2096628/11763325/a668b312-a0cb-11e5-826b-b6c96fb35a06.png">

[2015-12-12 21:08] JDWarner commented on #1775
We could add `fig.tight_layout()` to our own `io.show()` and use that instead of plt.show()

[2015-12-12 22:21] blink1073 commented on #1775
Yep, already did.

[2015-12-12 22:21] blink1073 commented on #1775
Oh, I see what you mean.

[2015-12-12 22:21] blink1073 commented on #1775
I had added it to `imshow`.

[2015-12-12 22:22] blink1073 commented on #1775
I think that is fine, since we are not otherwise wrapping `show`.

[2015-12-12 23:54] #1739 closed

[2015-12-13 02:23] blink1073 commented on #1788
We could instead bump our minimum versions of numpy and scipy.

[2015-12-13 02:40] #1807 closed

[2015-12-13 02:42] #1591 closed

[2015-12-13 03:19] jni commented on #1696
@vighneshbirodkar I think both this and #1495 can be done now and then we can tackle #1510, which is a performance improvement, later.

[2015-12-13 13:47] emmanuelle commented on #1651
I'm currently working on sectioning the gallery. For this purpose, I'm using broad categories from the user guide and from submodules, but I've also downloaded statistics of page visits (thanks to @sciunto 's piwik logs!), and it's interesting to see which pages get visited together. Clustering pages thanks to the graph of visits shows trends in agreement with pre-defined categories, but it's also

[2015-12-13 14:00] emmanuelle opened #1822 ""plot holes and peaks" gallery example displays empty subplots"
In http://scikit-image.org/docs/dev/auto_examples/plot_holes_and_peaks.html, a figure with 4 subplots are created. Since each subplot is created one at a time, the figure is showed several times, between blocks of text. In the html page, this results in several images with empty subplots, including the thumbnail displayed in the gallery (which is the first one of them).

I was wondering whether it

[2015-12-13 14:06] soupault commented on #1822
I agree. I think we should discuss on template for gallery articles and rework all existing entries in accordance to it.

    [Short description]
    [Images]
    [Code with _plenty_ of comments]
    [Theory with references]

seems reasonable to me.

[2015-12-13 16:56] tonysyu commented on #1822
@emmanuelle: The original example just had four individual plots, but this layout was altered in https://github.com/scikit-image/scikit-image/pull/1704.

[2015-12-13 23:45] stefanv commented on #1788
Shall we disable the pyamg installation & test for now?  This is holding back development.

[2015-12-14 01:29] blink1073 commented on #1788
I'd say just disable it on the Python 2.7 Travis build, and add a issue to track it.

[2015-12-14 01:29] blink1073 commented on #1788
(Or just leave this one open).

[2015-12-14 01:42] lukeolson commented on #1788
As far as I can tell it fails only with with `numpy==1.6.1` and `scipy=0.9`.

So the options as the moment are to raise the version requirements as @blink1073 suggests, or hold off on pyamg 3.0 until we can get this figured out.

[2015-12-14 02:36] lukeolson commented on #1788
I have just pushed a fix here: https://github.com/pyamg/pyamg/commit/fd7463df13553d0aa282741eb756efba76d6d1b5

on another note, it appears that pandas is dropping np 1.6 support:
pydata/pandas#7711
so it may be time here too

I'll work on getting a new pyamg dist to pypi

[2015-12-14 02:58] lukeolson commented on #1788
@stefanv, pyamg 3.0.2 is now live and fixes this issue.  Tests pass on my end, but let me know if you see issues.

[2015-12-14 03:51] stefanv commented on #1788
Fantastic, thank you Luke!

[2015-12-14 05:36] #1788 closed

[2015-12-14 06:43] stefanv commented on #1635
I cannot load this pickle on either 2 or 3.  Can someone convert it to a png or .npy file?

[2015-12-14 06:47] stefanv commented on #1635
This works fine for me with the latest dev version under Python 3.  Closing unless someone else can replicate.

[2015-12-14 06:47] #1635 closed

[2015-12-14 09:37] vighneshbirodkar commented on #1696
@jni My only concern was that after writing the new neighborhood iterating API the code in #1495 would have to be re written.

[2015-12-14 20:12] stefanv commented on #1665
How about some anti-aliased drawing?  See #1827!

[2015-12-14 20:12] #1809 closed

[2015-12-14 20:23] soupault commented on #1665
Looks better I guess:
![screenshot from 2015-12-14 23-19-18](https://cloud.githubusercontent.com/assets/1315589/11792881/82b8b102-a2b9-11e5-98b1-5c4c62e20711.png)

[2015-12-14 23:37] jni commented on #1696
@vighneshbirodkar sure but I think #1510 represents a long enough time frame that it shouldn't be a blocker for the other two. It is more important to experiment with the API rapidly than it is to ensure it's super-fast, regardless of the time cost.

[2015-12-15 01:58] #1808 closed

[2015-12-15 05:43] stefanv commented on #1712
@MartinSavc Take a look at https://github.com/scikit-image/scikit-image/pull/1829

[2015-12-15 09:51] MartinSavc commented on #1712
I tried to replace cumsum with your Kahan implementation. However your implementation requires double data type, while match_template uses image data type float. Our current examples are solved if double is used. I will try to find a more suitable example, that will fail regardless of data type.

Is there a way to fix your implementation to work with both float and double? (I'm not that familiar w

[2015-12-15 10:26] stefanv commented on #1712
I've uploaded a new version with fused types that should do the trick.

[2015-12-15 12:55] mronian commented on #1816
I'd like to work on this. Can I take this one?

[2015-12-15 14:23] MartinSavc commented on #1712
By using:
[code]
to generate an image, I've gotten wrong results for template matching using double precision images and using fftconvolve (which uses double internally) instead of integral images.  It looks like:
![tm_gen_example](https://cloud.githubusercontent.com/assets/13271582/11813113/c0428422-a33f-11e5-86d5-1898d6c8f041.png)
Once the image is quantized to 8 bits, than I get similar results

[2015-12-15 15:39] soupault commented on #1816
@mronian Don't ask, go for it! :)

[2015-12-16 07:49] WarrenWeckesser commented on #1623
FYI: PNG supports a bit depth of 1, which could be used when saving a boolean image.  But then what data type and values would you expect to get when reading such an image?  I recently had to deal with this issue in scipy (https://github.com/scipy/scipy/pull/5289).  When reading a 1-bit PNG file, `scipy.misc.imread` now returns an array with dtype `np.uint8` containing the values 0 and 255.  (That

[2015-12-16 15:26] funkey opened #1831 "peak_local_max does not suppress close-by maxima"
When running peak_local_max on the following image (distance transform of binary image, isolines in same color):
![fp_distance](https://cloud.githubusercontent.com/assets/776708/11844702/73b943da-a410-11e5-904b-09972b55867f.png)
via

[code]

I get the following result:
![fp_maxima](https://cloud.githubusercontent.com/assets/776708/11844708/792b8102-a410-11e5-8299-408c9897e2cc.png)

The highlighted

[2015-12-16 15:33] funkey opened #1832 "peak_local_max does not find all local maxima"
When running `peak_local_max` on the following image (distance transform of binary image, isolines in same color):
![fn_distance](https://cloud.githubusercontent.com/assets/776708/11845026/05fb546c-a412-11e5-96c5-749f64525540.png)
via

[code]

I get the following result:
![fn_maxima](https://cloud.githubusercontent.com/assets/776708/11845052/2be21d78-a412-11e5-8a31-08a6e22b02f4.png)

The local max

[2015-12-16 19:11] stefanv commented on #1712
@MartinSavc Did you get a chance to try the new version of Kahan I sent?

[2015-12-17 07:04] MartinSavc commented on #1712
Not yet. Sorry for being somewhat slow. I planned on testing it by the end of the week.

[2015-12-17 09:23] soupault commented on #1831
@funkey hi!
Could you define the interval you presented in images above so it will be easier for us to debug? Please, do it for this example and also in https://github.com/scikit-image/scikit-image/issues/1832 .

[2015-12-18 01:09] stefanv commented on #1287
@ahojnnes Are you planning on working on this one?

[2015-12-18 17:46] souravsingh commented on #1588
I would like to work on the issue.How do I start?

[2015-12-18 18:05] stefanv commented on #1588
@souravsingh What do you need to know?  How to start technically, or how to address the issue?  I think the latter is clear from the above, so I presume you mean the prior:

http://scikit-image.org/docs/stable/contribute.html

[2015-12-18 18:10] souravsingh commented on #1588
I am sorry. I wanted to know about how to save the image if a mistake is made.Others are understandable.

[2015-12-18 20:04] stefanv commented on #1588
Reading through the code here would be a good start: https://github.com/scikit-image/scikit-image/blob/master/skimage/novice/_novice.py

[2015-12-19 16:37] #1648 closed

[2015-12-19 16:44] ahojnnes commented on #1287
Nope. Not for now...

[2015-12-20 13:45] kshitij10496 commented on #1677
I really appreciate the work of @odebeir here.
However, I have a few queries regarding this:

- I was looking into the `_denoise_cy.pyx` file and I found [this](https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise_cy.pyx#L59-L61).
Does this mean that adding support for negative images may lead to further bugs in the codebase ?
- Should we just restrict to the case

[2015-12-20 14:29] alexandrejaguar commented on #1480
Hi all,
same issue here on a Debian, Anaconda Python 3.5.

[code]

Installed `geometry` (`pip install geometry`) but the error is still there.
Thanks for any help.

[2015-12-20 21:16] soupault commented on #1480
@alexandrejaguar did you perform `python setup.py build_ext -i` before that?

[2015-12-20 22:18] alexandrejaguar commented on #1480
@soupault no I didn't, sorry. I tried that and it worked! Thanks!

[2015-12-21 07:50] MartinSavc commented on #1712
Ok, I've tried Kahan summation. It fixed the problems with both real image samples (first and second error example) but still fails with my generated one (the third example). Ill post some code later today, so you may check it out.

[2015-12-21 09:13] stefanv commented on #1712
That's excellent--it means we're on the right track.  We can try to implement one of the more accurate summation methods, and see if that helps even on your pathological example.

[2015-12-21 17:46] emmanuelle commented on #1816
thanks @mronian !

[2015-12-21 18:10] blink1073 opened #1835 "Travis latex error"
Warning, treated as error:
WARNING: LaTeX command 'latex' cannot be run (needed for math display), check the pngmath_latex setting

[2015-12-21 18:50] emmanuelle commented on #1835
Is it a warning that has been seen in recent pull requests?

[2015-12-21 19:17] emmanuelle opened #1836 "``apply_parallel`` slower than (what I) expected"
I'm not sure whether this problem qualifies as an issue, but I've been playing with ``util.apply_parallel`` (I badly need this kind of feature for large images), and it turns out that the result is slower than what I expected. Here is a little script that I tried, I just would like to know if other people get the same orders of magnitude as I do, or if there is something wrong with my installation

[2015-12-21 19:26] blink1073 commented on #1835
This is the first I've seen of it.

[2015-12-22 02:45] JDWarner opened #1838 "Make PyWavelets a required dependency"
Several recent PRs use PyWavelets to support advanced algorithms (#1833, #1837, many additional possibilities).

Rather than attempt to patch in optional support and manage inherent the CI testing issues, we should add PyWavelets as a required dependency for scikit-image.

A reasonable target for this is 0.13.

[2015-12-22 08:25] soupault commented on #1836
I have the same behaviour.
I've checked also

    res = util.apply_parallel(wrapped, im, chunks=5000)

and it works 2 times slower than un`dask`ed version.

[2015-12-22 20:13] MartinSavc commented on #1712
Ok, I've just realized I can simply copy the raw *.ipynb file to gist: (here)[https://gist.github.com/MartinSavc/524c910a5da8e2501115]

The uploaded notebook has match_template modified, so that it converts image to float64 instead of float32. That means that the examples loading from image files work. So in the notebook the only example that fails is the generated synthetic example at the end (bl

[2015-12-23 09:37] emmanuelle commented on #664
@stefanv is this issue solved now?

[2015-12-23 10:58] emmanuelle commented on #1784
So, it seems that the implementation of ``filters.rank`` is incorrect. I would be in favor of removing the code of ``filters.rank.generic_cy``, deprecate ``filters.rank.tophat`` and call ``morphology.white_tophat`` instead.

``morphology.white_tophat`` does not have a ``mask`` keyword argument, however, so this would slightly change the API.

How does that sound?

[2015-12-23 11:00] emmanuelle commented on #1778
Closing as suggested by @bobpoekert , but please ask us to open the issue again if you can reproduce the issue on a test case.

[2015-12-23 11:00] #1778 closed

[2015-12-23 11:23] emmanuelle opened #1840 "denoise_bilateral works separately on channels, but no warning raised for 3-D images"
The implementation of ``restoration.denoise_bilateral`` is 2-D only, with the last dimension considered to be for channels. However, this is not documented in the docstring, and no warning is raised if a 3-D image (with last dimension > 3) is passed.

I used ``denoise_bilateral`` in the past on 3-D images thinking that the implementation was 3-D. We could consider making the code 3-D or nD in the

[2015-12-23 13:02] jni commented on #1784
@emmanuelle I agree with your path. Depending on the expected behaviour of `mask`, it might be straightforward to implement a masked version. (Indeed, even an `add_mask_argument` decorator to all functions!)

[2015-12-23 13:11] jni opened #1843 "Add comment clarifying use of strided output array for generic_filter RAG construction"
See [here](https://github.com/scikit-image/scikit-image/pull/1826/files#r48343523).

[2015-12-23 14:22] emmanuelle commented on #1836
I guess the example was not chosen well enough since the computation is so fast that parallelization is not worth doing. I gave it a try with a slower function (``restoration.denoise_tv_chambolle``) and I could gain a factor of 2 with ``apply_parallel`` (with my 4 processors). I also compared with ``joblib.Parallel`` (in threading mode) and the time taken by ``util.apply_parallel`` and ``joblib.Pa

[2015-12-23 14:27] emmanuelle commented on #1836
I think it's safe to close this issue, I'll just leave it open for a couple of days in case someone wishes to add something.

[2015-12-23 14:54] emmanuelle commented on #1651
Solved by #1823, closing.

[2015-12-23 14:54] #1651 closed

[2015-12-23 20:56] #1503 closed

[2015-12-23 21:03] ahojnnes commented on #1784
Both functions have different performance characteristics. -1 on removing the filters.rank function, but fixing it, if that is easy?

[2015-12-23 21:05] emmanuelle commented on #1784
@ahojnnes could you please elaborate a little more on the different performance characteristics?

[2015-12-23 21:13] emmanuelle commented on #1784
I don't know if it's easy to fix: a morphological closing has to be computed, and I'm not sure whether it can be computed as a single kernel (a dilation is then needed, and then an erosion). A kernel could be written for the dilation and another one for the erosion, though.

[2015-12-23 21:35] emmanuelle commented on #1477
Closed by #1777.

[2015-12-23 21:35] #1477 closed

[2015-12-23 22:02] emmanuelle commented on #941
TODO.txt mentions for 0.12: "Change `label` to mark background as 0, not -1, which is consistent with
  SciPy's labelling.". @scikit-image/core do we still plan to do it before the release? Anybody who wants to take care of a PR about this point?

[2015-12-24 02:09] JDWarner commented on #1836
Generally speaking, if you have enough RAM to hold the image I find `apply_parallel` best used with the number of chunks equal to your number of physical processor cores. Trying to break things up further may well incur a lot of additional overhead. For images too large to fit into RAM, I again usually try to break them up into a number of chunks which each can fit.

Which seems to be consistent w

[2015-12-24 02:09] #1836 closed

[2015-12-24 02:19] JDWarner commented on #1838
Dramatic performance gains will be realized in PyWavelets 0.4.0; ideally we would depend on 0.4.0+.

[2015-12-24 09:00] jni commented on #941
@emmanuelle I should probably take this on since I find it so infuriating. =P

[2015-12-24 09:09] emmanuelle commented on #1836
@JDWarner thanks for sharing your experience. Therefore the default behaviour of ``apply_parallel`` (with ``chunks=None``) is quite good.

[2015-12-24 09:11] emmanuelle commented on #941
@jni  then I'll review your PR because I think the same way!

[2015-12-24 13:09] soupault commented on #356
I close this issue due to the lack of substance.
Please, fill free to open new issues with the concrete proposals.

[2015-12-24 13:09] #356 closed

[2015-12-24 16:28] #1816 closed

[2015-12-25 13:12] emmanuelle commented on #1279
@ahojnnes @stefanv what's the status of this issue? Do we still want it for 0.12?

[2015-12-25 13:30] soupault commented on #1774
Fixed with #1806 .

[2015-12-25 13:30] #1774 closed

[2015-12-25 13:33] ahojnnes commented on #1279
Moved to 0.13.

[2015-12-27 16:23] emmanuelle opened #1851 "DOC: document _install_properties_doc function in measure._regionprops"
Function _install_properties_doc in measure._regionprops is not documented, and its purpose is not obvious for the non expert eye. A docstring would help.

[2015-12-27 16:23] emmanuelle commented on #1851
See https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L561

[2016-01-04 18:28] stefanv opened #1854 "Drop Python 2.6 support"

[2016-01-05 04:41] tacaswell commented on #1854
:+1:

Over at mpl we have gotten zero complaints about doing this.  The only 2.6 related issues have been someone fixing a few places where 2.6 support was broken (and _had_ been broken in 1.4.3 but were not covered in tests).   It was noted that 1.5 (which does not 'officially' support 2.6) has fewer 2.6 specific bugs than 1.4.3 (which does support 2.6).

[2016-01-05 04:45] JDWarner commented on #1854
:+1:
I've been the historical holdout for 2.6 support, but since the last time we discussed this I no longer see the need.

[2016-01-05 17:25] sergiopasra opened #1855 "Removal of 'lena' image"
The lena image has been removed from scipy and matplotlib due to its copyright

* https://github.com/matplotlib/matplotlib/issues/4927
* https://github.com/scipy/scipy/pull/5162

Debian considers the image non-free
* https://lintian.debian.org/tags/license-problem-non-free-img-lenna.html

Fedora thinks the same
* https://bugzilla.redhat.com/show_bug.cgi?id=1295193

It seems that this image has bee

[2016-01-06 11:09] stefanv commented on #1855
Agreed.  Would you please make a pull request?  We are finalizing the 0.12 release and this can still get in on time.

[2016-01-06 18:07] wolever opened #1856 "threshold_otsu raises exception when image is one color"
Tested against current HEAD:

[code]

[2016-01-06 18:28] JDWarner commented on #1856
Thanks for the report. Looks like at minimum this should be caught and a more informative error raised.

[2016-01-06 19:55] vighneshbirodkar opened #1857 "Don't use ListedColormap for RAGs"
The plots due to `ListedColormap` are very misleading. I will address this shortly, this is just a reminder.

[2016-01-06 22:53] sergiopasra commented on #1855
@stefanv I can. Unfortunately there are several tests that depend on that image and I don't have the knowledge to rewrite them. I can only remove them:

In skimage/feature/tests/test_brief.py
* test_normal_mode
* test_uniform_mode

In skimage/feature/tests/test_corner.py
* test_corner_orientations_lena

In skimage/feature/tests/test_hog.py
* test_histogram_of_oriented_gradients_output_correctness

[2016-01-07 06:31] gazzar commented on #1732
@stefanv I'm a bit confused by this. By default the rotation centre of the rotate() transform is taken about center=(rows / 2 - 0.5, cols / 2 - 0.5). Shouldn't this be about center=(rows / 2, cols / 2) instead? I see that test_rotate() in test_warps.py seems to test for this though.

[2016-01-07 08:02] stefanv commented on #1855
Those tests will unfortunately need to be rewritten. If you could file an
issue for each group of tests, that would be very helpful. I will assign
the issues to milestone 0.13, then we can complete the deprication in time.
Also, you can continue to add a deprecated warning to the lena function--it
will only finally be removed in 0.14, as per our deprication policy.

[2016-01-07 23:10] sergiopasra opened #1859 "Tests in skimage/feature/tests/test_brief.py use 'lena'"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/feature/tests/test_brief.py`` use lena

* test_normal_mode
* test_uniform_mode

[2016-01-07 23:12] sergiopasra opened #1860 "Tests in skimage/feature/tests/test_corner.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/feature/tests/test_corner.py`` use lena:

* test_corner_orientations_lena

[2016-01-07 23:13] sergiopasra opened #1861 "Tests in skimage/feature/tests/test_hog.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/feature/tests/test_hog.py`` use lena

* test_histogram_of_oriented_gradients_output_correctness

[2016-01-07 23:15] sergiopasra opened #1862 "Tests in skimage/feature/tests/test_match.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/feature/tests/test_match.py`` use lena

* test_binary_descriptors_lena_rotation_crosscheck_false
* test_binary_descriptors_lena_rotation_crosscheck_true

[2016-01-07 23:23] sergiopasra opened #1863 "Tests in skimage/feature/tests/test_orb.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/feature/tests/test_orb.py`` use lena

* all tests

[2016-01-07 23:24] sergiopasra opened #1864 "Tests in skimage/filters/tests/test_thresholding.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/filters/tests/test_thresholding.py`` use lena

* test_otsu_lena_image

[2016-01-07 23:26] sergiopasra opened #1865 "Tests in skimage/morphology/tests/test_grey.py use lena"
To remove the lena image (#1855) some tests have to be rewritten to use a different image.
The following tests in ``skimage/morphology/tests/test_grey.py`` use lena

* All tests in class TestMorphology

[2016-01-08 07:59] emmanuelle opened #1867 "Input of threshold_otsu should be grayscale, but this is not documented"
If an RGB image is passed to threshold_otsu, all color channels are mixed because ravel is caused. The resulting threshold does not make much sense usually. A user reported a problem that was due to this behaviour on the mailing-list https://groups.google.com/forum/#!topic/scikit-image/QP6sHolCVgs

I see two solutions:
- add in the docstring that the image should be grayscale, and raise a warning

[2016-01-08 08:00] stefanv commented on #1732
/cc @ahojnnes

[2016-01-08 18:16] anuragphadke commented on #1867
following up on the issue, converting the image to grayscale and saving as JPG via GIMP also works.

[2016-01-09 02:52] JDWarner commented on #1867
Caution: JPEG is lossy and usually RGB under the hood. It's very common for a grayscale image saved as JPEG to have minor color halos.

Instead, save as PNG - which is lossless - or consider using `rgb2gray` in this package.

[2016-01-10 22:40] sergiopasra commented on #1855
@stefanv I have created issues and a PR (#1866)

[2016-01-11 09:44] stefanv commented on #1855
Perfect, thank you very much Sergio.

[2016-01-12 22:31] matthew-brett opened #1873 "Bug in scipy.ndimage.affine_transform - what should we do?"
There's a discussion going on over here : https://github.com/scipy/scipy/issues/1547 - about a nasty bug in `scipy.ndimage.affine_transform`, where the result of `affine_transform` depends on how you specified the transformation matrix (as vector to be interpreted as diagonal, or full matrix).

We now have to decide whether to just fix this, or wait and warn, or not fix - see : https://github.com/

[2016-01-13 06:37] JDWarner commented on #1873
Thanks for the note, @matthew-brett - I chimed in over at the original PR.

Basically, since we can detect the previously faulty case, I would lean toward fixing it immediately and raising an informative note to users which pass a vector to the function.

[2016-01-13 07:04] mistycheney opened #1874 "bug in rotate resize"
There is a bug in rotate() if resize=True. The output image is not resized correctly.

https://github.com/scikit-image/scikit-image/blob/953fbfc539217ad4c92fcf14a9d6dfe1b4b1b793/skimage/transform/_warps.py#L273
should be
`translation = -np.asarray((minc, minr))`

https://github.com/scikit-image/scikit-image/blob/953fbfc539217ad4c92fcf14a9d6dfe1b4b1b793/skimage/transform/_warps.py#L277
should be
`w

[2016-01-13 10:08] OrkoHunter commented on #1874
@mistycheney Can you show an image example to reproduce the problem? I tried with `image = data.camera()` and there was no difference. It would be better to have the image used by you.

Further, while rotating without `resize=True` argument, I got a UserWarning :
[code]
while, there was no such warning with
[code]
Is this intentional or supposed to be an issue?

[2016-01-13 21:57] mistycheney commented on #1874
If you run:
[code]
You will see `rotated` is not the smallest bounding box of the output image.

[2016-01-14 02:16] OrkoHunter commented on #1874
Yes, I reproduced the image. Maybe the issue is with the center argument. Doesn't it work fine without `center=(0,0)`?

[2016-01-14 07:00] stefanv commented on #1874
This is a bug.  Are you interested in working on a fix?

[2016-01-14 07:06] OrkoHunter commented on #1874
@mistycheney Has listed out two changes in above comment. If he's interested, he can create a patch. Otherwise, I'll be interested in doing this !

[2016-01-14 08:13] mistycheney commented on #1874
@OrkoHunter Please go ahead to fix it! Thank you!

[2016-01-14 09:30] ivoflipse commented on #1861
I think this test just verifies that the output is still similar, so we don't get regressions like we had after the last PR for HOG. So fixing this should simply be a matter of running the code on another image and storing the result.

[2016-01-14 10:30] stefanv commented on #1861
Thanks, Ivo, that's helpful.

/cc OrkoHunter
On Jan 14, 2016 11:30, "Ivo Flipse" <notifications@github.com> wrote:

[2016-01-14 10:31] AlexandreAbraham opened #1875 "Random Walker fails if a seed is surrounded by masked pixels"
This is due to the sparse representation of the graph. Here is the code to reproduce the error:

[code]

The error:
[code]

Another error is triggered if the 8th line `labels[0, 1] = 1` is commented.

[2016-01-14 10:33] ahojnnes commented on #1874
Thanks for reporting and fixing the bug. This bug was introduced when the `center` argument feature was added... Please, also add a unit test to catch the behavior. Thanks!

[2016-01-14 14:01] OrkoHunter commented on #1865
In the [`TestMorphology`](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/tests/test_grey.py#L18-L66) class of the test, lena is being passed from all the individual tests to the function `morph_worker` as the argument `img` and is *never* being used. Doen't the argument `img` seem useless?

[code]

[2016-01-14 14:35] OrkoHunter commented on #1874
@mistycheney After changing `tform` to `tform.inverse` in the `warp` function, some tests ([`test_rotate`](https://github.com/scikit-image/scikit-image/blob/953fbfc539217ad4c92fcf14a9d6dfe1b4b1b793/skimage/transform/tests/test_warps.py#L106-L110), [`test_rotate_center`](https://github.com/scikit-image/scikit-image/blob/953fbfc539217ad4c92fcf14a9d6dfe1b4b1b793/skimage/transform/tests/test_warps.py#

[2016-01-14 15:51] ahojnnes commented on #1874
Positive effect meaning what? All tests pass?

[2016-01-14 17:25] OrkoHunter commented on #1874
@ahojnnes Yes. Please have a look on #1878.

[2016-01-14 17:58] OrkoHunter commented on #1874
And I tried to test the changes locally, but sadly I didn't see it fixed. I think we need little more changes here. This is beyond me as of now.

[2016-01-14 20:08] siddarth-jay opened #1879 "skimage.feature.hog only accepts greyscale images"
According to the docs:

But the current implementation only allows greyscale images. Either colour images should be allowed or the documentation needs to reflect this

[2016-01-16 12:10] OrkoHunter opened #1881 "Missing io.plugins function"
On the [plugins page](https://github.com/scikit-image/scikit-image/blob/master/doc/source/user_guide/plugins.txt#L52) of the user guide, I found few uses of the function `skimage.io.plugins()` which is not available in the package now. I see that the `skimage.io.find_available_plugins()` does pretty much the same job. So to fix the guide, should we just replace `plugins()` with `find_available_plu

[2016-01-16 12:12] OrkoHunter commented on #1117
Looking forward to this.

[2016-01-17 17:24] OrkoHunter opened #1882 "A direction pointer in LineProfile view"
With the current viewer window in Line Profile view, we can slide both the start and end points from one place to another and see the profile instantaneously. Looking at the two images below, the slider/ruler in the image looks similar but the line profile is totally different. In such situations, we are not actually able to distinguish where is `0` or the _start point_ in the ruler.

| ![screensh

[2016-01-17 23:34] jni commented on #1882
@OrkoHunter I don't know off the top of my head how the line is being drawn, so I don't know how hard it would be, but it would certainly be a welcome addition!

[2016-01-18 02:40] OrkoHunter commented on #1882
Thanks @jni ! I'll certainly look into the related code.

[2016-01-18 04:57] OrkoHunter commented on #1861
This can be closed now. Fixed in #1877.

[2016-01-18 05:13] JDWarner commented on #1861
Closed by #1877

[2016-01-18 05:13] #1861 closed

[2016-01-20 02:09] diofelpallega opened #1886 "Entropy for colored images"
Should provide an implementation on how to get entropy for colored images.

[2016-01-20 08:26] soupault commented on #1886
@diofelpallega hi! Feel free to submit PR. I'm not sure if anyone would be as interested in the case at the moment as you are.

[2016-01-20 14:20] #1881 closed

[2016-01-20 20:53] ahojnnes commented on #1874
Fixed in https://github.com/scikit-image/scikit-image/pull/1887.

Please test the fix. Thanks!

[2016-01-21 02:51] stefanv commented on #1874
I'm not sure that's the right way to fix this issue.

[2016-01-21 07:33] ahojnnes commented on #1874
@stefanv What do you mean? I am relatively certain it is doing the right thing :-)

[2016-01-21 12:21] ivoflipse opened #1889 "HOG normalise doesn't work on images with negative values"
I'm working with (medical) DICOM images, which can have negative values. When I use HOG to calculate a feature vector for a given patch with normalise turned on, I get a feature vector that contains NaN and that makes scikit-learn unhappy.

The problem seems to be due to the np.sqrt(image) step, since the other normalization part adds a small epsilon to prevent divide by zero, so that's unlikely t

[2016-01-21 12:24] ivoflipse commented on #1879
I reckon it would be good to document this and possibly have the function check if you're giving it something that's more than 2D.

If you wanted to apply this to color images, I assume you'd have to apply HOG to each color channel separately for it to work?

[2016-01-21 15:30] johnwog opened #1890 "random walker preconditioner"
Hi

I am using the random_walker filter.
If I use the 'bf' solver it works fine
However on exactly the same dataset if i switch to 'cg_mg' solver i get the following error

X = _clean_labels_ar(X + 1, labels).reshape(dims)

UnboundLocalError: local variable 'X' referenced before assignment

Any hints on what could be the cause?
It is exactly the same image in both cases and it works for one but no

[2016-01-21 17:26] siddarth-jay commented on #1879
The documentation indicates that RGB is accepted, but the function does throw a "ValueError: The parameter `image` must be a 2-dimensional array". As long as the messaging is consistent, either is fine. Although I would prefer that it allow RGB images :)

And I think you're right as to how to implement it. I'm not sure how they are combined. Max() maybe?