[2020-05-20 12:47] emmanuelle commented on #4732
Hi @christian-rauch I don't understand why features should not appear twice : If you draw the image padded with repetitions of itself and you rotate this padded image around the origin of the initial image it is possible to have the same object twice in the rotated image, if the original image is not square.

[2020-05-20 14:25] christian-rauch commented on #4732
You are right. For some reason, I had in mind that object should rotate about its centre. Sorry, my bad :facepalm: .

What I actually expected was that the image first rotates about the object centre and then potentially translates with edge wrapping.

[2020-05-20 15:47] #4732 closed

[2020-05-20 22:32] grlee77 commented on #2221
I just noticed this and came across this existing issue, so it seems the problem persists. It occurs for  the decorators `change_default_value` and `deprecate_kwarg` as well.

An example from the current dev docs for a function using `@change_default_value`:
https://scikit-image.org/docs/dev/api/skimage.color.html#skimage.color.label2rgb
where the [source] link goes to: https://github.com/scikit-i

[2020-05-21 02:53] henrypinkard opened #4736 "Blob finding runtime warning"
## Description

Running the following code:

[code]
gives

[code]

Doesn't seem to cause problems with the output, but I thought it might be worth looking into

## Version information

3.7.0 (default, Jun 28 2018, 07:39:16)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Darwin-18.7.0-x86_64-i386-64bit
scikit-image version: 0.17.2
numpy version: 1.18.1

[bad_array.npz.zip](https://github.com/scikit-image/s

[2020-05-21 05:16] sciunto commented on #4736
Xref: #4729

[2020-05-21 09:32] lagru commented on #2221
I think it's possible to solve this by patching
https://github.com/scikit-image/scikit-image/blob/86c1d5e8bb06f17830f35f66692a69a14e9315fb/doc/source/conf.py#L395
with [`inspect.unwrap`](https://docs.python.org/3/library/inspect.html#inspect.unwrap) similar to this to [this example](https://gitlab.com/tud-mst/ptvpy/-/blob/0e1dce0389088004b4da69a2a95e6d70fbbc245d/doc/conf.py#L223-224).

[2020-05-21 10:32] sebastiansandut commented on #4712
Thank you, @jni ! that helped me alot. Now, the final issue is the "clock" red lines orientation. Don't know why but they are rotated with 90 degrees clockwise or counterclockwise and I couldn't fit them to my ellipse....I've attached some results below with different pictures.
Thanks in advance!

![rot](https://user-images.githubusercontent.com/51131445/82550451-361c9100-9b67-11ea-8475-ca19aef743

[2020-05-21 11:28] lagru opened #4741 "Turn checkmarks in pull request templates into bullet points"
My impression is that the checkmarks in our pull request template are very rarely used. Looking at the [list of merged pull requests](https://github.com/scikit-image/scikit-image/pulls?q=is%3Apr+is%3Amerged) almost all of them mark 0 out of 3 or 8 tasks as completed and those that don't usually ignore the template altogether.

In my view we wouldn't loose anything by turning them into bullet point

[2020-05-21 14:19] jni commented on #4741
I don't have a strong opinion either way, but I agree that people have developed blindness to the templates.

[2020-05-21 14:20] neonb88 commented on #3649
I like unambiguous instructions that help me get on with my day.  Cheers to you, sir

[2020-05-21 14:23] jni commented on #4712
@sebastiansandut could you provide your full code sample as it is now, and sample image(s)?

[2020-05-21 14:31] sebastiansandut commented on #4712
Sure!
`import math
import matplotlib.pyplot as plt
import pandas as pd

from skimage.color import rgb2gray
from skimage import io, measure #, img_as_ubyte
#from skimage.draw import ellipse
from skimage.measure import label, regionprops #, regionprops_table
#from skimage.transform import rotat
from skimage.filters import threshold_otsu

#thresh = 127
#image = np.zeros((600, 600))

#rr, cc = ellipse

[2020-05-21 16:07] #2221 closed

[2020-05-21 16:22] hmaarrfk commented on #4741
What would you like to use the list for? Is there a good use of checkmarks you would like to move to?

Maybe just leave: "title makes sense" in there as checkmark
to generate the release notes more cleanly.

That seems like the only important one.

[2020-05-21 16:24] hmaarrfk commented on #4672
@lagru please see the recent activity on indicating lack of clean instructions to get moving forward

https://github.com/scikit-image/scikit-image/issues/3649

which is indicating that users are having trouble dependint on tifffile due to old pip.

They are pinning to 0.14.2 instead of using the recently release 0.17.2 wheels that @emmanuelle worked so hard to get out.

[2020-05-21 18:40] stefanv commented on #4741
I don't have strong feelings either way.

[2020-05-21 18:47] sciunto commented on #4741
If github could put a checklist close to the merge button, and mandatory to check, that would make checklists useful.

[2020-05-21 20:25] lagru commented on #4741
@hmaarrfk I've found checklists quite useful for large PRs I was working on. My first PR to scikit-image #3022 might be a good example (if a bit overdone) where I used it to highlight talking points and decision for the reviewers.

Basically I hope to make the few places where a checklist is actually useful more visible by removing them from a template.

Agreed, that could be really powerful.

[2020-05-21 22:39] #3858 closed

[2020-05-21 23:02] hmaarrfk commented on #4741
Alright, curious to see what you want to come up with for a succinct checklist.

[2020-05-22 00:40] alexdesiqueira commented on #4629
Closing; solved in #4725. Thank you @asmagen!

[2020-05-22 00:40] #4629 closed

[2020-05-22 00:41] alexdesiqueira commented on #3858
Thank you @Mnkach!

[2020-05-22 02:39] jni commented on #4712
@sebastiansandut

Ok I found the problem! What happened is we changed our coordinate conventions in the past few versions, but we only updated the example recently. If you look at the [*current* example code](https://scikit-image.org/docs/0.17.x/auto_examples/segmentation/plot_regionprops.html#sphx-glr-auto-examples-segmentation-plot-regionprops-py), the major and minor axis coordinates are swappe

[2020-05-22 03:02] TY48 opened #4743 "Wrong MSE computation in the SSIM code example"
## Description

In the code example of SSIM (https://scikit-image.org/docs/dev/auto_examples/transform/plot_ssim.html), computation of mse (Mean Squared Error) seems incorrect.

Currently it is
[code]
If I'm not wrong it should be something like this
[code]

## Version information
Docs for 0.18.dev0

[2020-05-22 07:11] sebastiansandut commented on #4712
Thanks! Now my app is 100% functional!

[2020-05-22 08:03] rfezzani commented on #2546
I would like to refer to @crisluengo https://github.com/scikit-image/scikit-image/pull/4725#issuecomment-629583372 that explains why `rgb2hed` scale isn't (and should not be) between -1 and 1.
I will remove the `Bug` label and let anyone else decide if we should close this issue ;)

[2020-05-22 08:38] rfezzani commented on #4743
Thank you @TY48 for the report, this is so weird!
BTW, I think that if adapted, the use of `np.linalg.norm` still have some performance advantages:
[code]

[2020-05-22 08:53] grlee77 commented on #4743
Yeah, the example named the variable MSE but it is actually computing RMSE (root mean square error). We actually have a simple mse function that has the form you were expecting:
https://github.com/scikit-image/scikit-image/blob/23829977f23c957dbff24757069dbdc4d929248f/skimage/metrics/simple_metrics.py#L44

I would just use that mean_square_error function instead of defining it in the example.

[2020-05-22 08:55] jni commented on #3547
Hello @scikit-image/core! Thanks to the good folks at sphinx-gallery, with 0.7.0 this got a whole lot easier! 🎉

https://twitter.com/lucyleeow/status/1263529302412451840

I propose that we bump our doc dependency to that version and start animating some image analysis algorithms! =D

[2020-05-22 08:57] jni commented on #3547
@lucyleeow Check out the date on this issue! 👆

[2020-05-22 09:19] sciunto commented on #3547
There is also options for image optimization coming with this release. I'm +1 to bump the min version and I'll be able to work on these options.

[2020-05-22 09:50] pixelicous commented on #4673
@iulialexandra You can start by commenting with your error message, quite hard to help troubleshooting without the exact message. It could be that you are running wrong python version, such as 2.0 which won't support 2020.2.18, or it can be that you do have python3 installed but its not globally set..

[2020-05-22 10:26] iulialexandra commented on #4673
Hi, Thanks for your replies. I had an almost identical error message as the original post. I am not entirely sure what was wrong, but I solved it by following nvidia's instructions here, in case somebody else is in the same situation: https://forums.developer.nvidia.com/t/install-scikit-image/122912/12

[2020-05-22 10:28] lucyleeow commented on #3547
It's still later than the sphinx-gallery issue to add animation support: https://github.com/sphinx-gallery/sphinx-gallery/issues/150 :sweat_smile:

This totally slipped my mind when I tweeted but yes!

[2020-05-22 12:23] TY48 commented on #4743
Thank you @rfezzani  and @grlee77

Simply using the existing mean_square_error function instead of redefining in the example sounds good.

Just to be precise, L2 norm (current implementation) corresponds to the square root of the sum of the squared vector values (not RMSE).

[2020-05-22 12:24] lagru commented on #4741
Oh, perhaps I wasn't precise enough earlier. I don't want to change the content, just remove the checkboxes in favor of bullet points.

Please see the PR #4747.

[2020-05-23 08:44] #4728 closed

[2020-05-24 00:10] jni opened #4748 "Sphinx gallery issues"
## Description

I'm not sure whether this is due to the latest release of sphinx gallery or unrelated, but the binder links on the gallery aren't working, nor are some plots/images. See e.g. https://scikit-image.org/docs/dev/auto_examples/edges/plot_circular_elliptical_hough_transform.html, which for me looks like this:

<img width="780" alt="Screen Shot 2020-05-24 at 10 08 10 am" src="https://use

[2020-05-24 08:24] soupault commented on #4748
Works on my PC:
![image](https://user-images.githubusercontent.com/1315589/82749332-2a240f80-9db1-11ea-9610-c4e5df06553a.png)

[2020-05-24 11:15] rfezzani commented on #4748
Works for me too (Ubuntu 16.04 - Firefox 76.0.1 (64 bits))

[2020-05-24 11:19] emmanuelle commented on #4748
For me too (Firefox 72.01, Ubuntu). The binder links are ok too for me. Which browser are you using @jni?

[2020-05-24 18:33] joshualmitchell commented on #2488
The patent expired on SIFT recently. ^^

[2020-05-24 19:45] soupault commented on #2488
@joshualmitchell we are waiting for a volunteer - https://github.com/scikit-image/scikit-image/issues/4499 :wink: .

[2020-05-25 08:15] jni commented on #4748
I'm on macOS 10.15.4/safari 13.1. I can't reproduce the missing first image right now but I still can't see the binder icon.

... I just checked, it's because safari has a "prevent cross-site tracking" preference. It prevents loading of the binder icon. Perhaps we should mirror it?

[2020-05-25 13:55] lagru commented on #4486
# 2020/05/18 - 2020/05/24

This seemed like a productive week to me. Some highlights:

- The CI seems to be working again (see #4735, #4731) and we had another issue with a Cython release (see #3622, addressed in #4730).
- A lot of work went into fixing our stain separation (#4725) and how it deals with log artifacts (special thanks to @alexdesiqueira for investigating and to @crisluengo for his i

[2020-05-25 14:22] rfezzani opened #4749 "Deprecate edge cases in peak_local_max"
## Description

While investigating for #3990, I found that `peak_local_max` manages two edge cases that can be deprecated:

- `min_distance=0` and `footprint=None`
- `footprint.size=1`

in this cases `peak_local_max` is equivalent to applying a threshold. I think that these settings must be forbidden.

## Version information

[code]

[2020-05-25 15:34] kleinerELM commented on #4741
Since I made my first PR last week and I am fairly new to git/github, some things were initially not completely clear for me:
Maybe it would be nice to change **Checklist** to **Checklist for Author**, at least if the checklist is explicitly directed to authors. If autors have to check these boxes themself, then add a comment like this after the Author checklist:
_Please change [ ] to [x] if check

[2020-05-25 15:40] rfezzani commented on #2592
An even worst illustration of this bug is when `min_distance` is larger then the "radius" of the `footprint`:
[code]

In fact, `min_distance` is ignored when `footprint is not None` (please see the [`_get_peak_mask`](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/peak.py#L23) function)

I wonder if this shouldn't be reported in a separate issue since the same observed beh

[2020-05-25 18:12] hmaarrfk commented on #4672
Ok, i have my latest attempt here:

https://github.com/scikit-image/scikit-image/pull/4750

Where I discuss common pitfalls, after people tried "simple commands".

Where the developer instructions go, is still up for discussion. I just want to make sure we get he basics right.

[2020-05-26 00:26] ianmga commented on #4673
I just joined just to say:
- I had this issue
- Updating pip didn't work
- @iulialexandra suggestion worked! (the nvidia instructions, that is) Thanks!

[2020-05-26 00:36] hmaarrfk commented on #4673
Are you all using jetson? or laptops?

You shouldn't need anything other than `pip` on your laptop.

[2020-05-26 00:37] ianmga commented on #4673
I'm using a jetson

[2020-05-26 00:38] hmaarrfk commented on #4673
Right, so we don't support jetsons today. https://github.com/scikit-image/scikit-image/pull/4750

Please open a new issue asking for jetson (aarch64) support if you want this to improve.

[2020-05-26 00:56] ianmga commented on #4673
Absolutely. I ended up here because [a stackoverflow question](https://stackoverflow.com/questions/61777875/problem-installing-scikit-image-probably-due-to-blosc) sent me, and this was actually useful. I'm fine with the issue staying closed.

[2020-05-26 02:06] hmaarrfk commented on #4673
There are a few changes we can do to remedy the situation. I'll just cross reference your comments.

thanks for the clarification of the usecase

[2020-05-26 10:24] rfezzani commented on #3990
As proposed in #4751, using a generator to perform the test makes it O(1) instead of O(n).
But this approach doesn't solve the issue described in my previous comment :/

[2020-05-26 20:16] asmagen commented on #3858
@alexdesiqueira So I have to compile from source to get the updated function until the next release?
Is this the way to to it?
[code]

[2020-05-26 20:50] asmagen opened #4754 "Compiling from sources (?)"
@alexdesiqueira and others, do I have to compile from source to get the updated function described [here](https://github.com/scikit-image/scikit-image/issues/3858) until the next release?

Is this the way to to it? Somehow it's taking a lot of time to run the second line - it didn't finish for a while now. I'm running it on Saturn Cloud instance.

[code]

[2020-05-26 20:55] asmagen commented on #4754
Update: I've terminated the run above and gone through the following, but I still get negative values. Can you clarify if I'm possibly still using the not update package or the revised function still outputs negative values again? Also, how come the installation before didn't reinstall because the older package version was already installed but now it did reinstall? Not sure how to do these update

[2020-05-26 21:52] asmagen opened #4755 "ImportError in skimage.exposure"
Any idea why I can't get skimage.exposure to load?
Thanks
[code]

[2020-05-26 22:07] #4755 closed

[2020-05-27 02:33] hmaarrfk commented on #4754
yeah, unforutnatley, you have to compile from source to get the new function.

I would suggest instead of copy over the functions you need frmo the new file, and to do the bad thing, which is to import a function that starts with an `_` from the file that you need.

That is the `_prepare_colorarray` function.

[2020-05-27 02:34] hmaarrfk commented on #4754
note that your `!pip install scikit-image` command simply installed the latest version (0.17.2) and not the development version.

[2020-05-27 02:39] asmagen commented on #4754
Hi @hmaarrfk, can you please clarify how to install and import?

[2020-05-27 03:00] hmaarrfk commented on #4754
Download the file: https://github.com/alexdesiqueira/scikit-image/blob/master/skimage/color/colorconv.py

Into your project directory.

Change line 57 to
[code]

Instead of using
[code]
use

[code]

[2020-05-27 07:43] sciunto commented on #4749
The issue sounds reasonable. Please, do not forget to add a meaningful task in TODO.txt :)

[2020-05-27 14:36] rfezzani opened #4756 "Peaks may not be detected in peak_local_max when label is provided"
## Description

Because background values are implicitly set to zero ([here](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/peak.py#L215)), peaks may be not detected when input image contains negative values.

## Way to reproduce

[code]

## Version information

[code]

[2020-05-27 14:46] emmanuelle opened #4757 "CI broken following dask 2.17.0 release"
See for example https://travis-ci.org/github/scikit-image/scikit-image/jobs/691743493 all tests using dask are failing. I'm currently investigating, I think it's a problem related to dask and numpy: I can't reproduce in an env with numpy 1.16 and new dask but I can reproduce with numpy 1.18 and new dask.

[2020-05-27 14:53] jni commented on #4757
It broke napari also, here's the cause:

https://github.com/dask/dask/pull/6198#issuecomment-629993387

the quick fix is to add PyYAML to our test dependencies. I don't know if there's a slow-but-better fix.

[2020-05-27 14:57] emmanuelle commented on #4757
or we could forbid 2.17.0 in our requirements. I guess the dask team will push a patch release since Jim seemed to consider that this was a bug on their side.

[2020-05-27 15:00] jni commented on #4757
Yep, I agree. Looking at the discussion and the fact that many packages are referencing those issues, I expect that this will be solved upstream with the next release.

[2020-05-27 15:04] emmanuelle commented on #4757
PR open!

[2020-05-27 17:29] #4757 closed

[2020-05-27 17:54] Styxny opened #4759 "Arctan2 being passed arguments in wrong order in Approximate_polygon"
## Description
I think arguments being passed to arctan2 in approximate_polygon are swapped. Looking at lines 42-47 in _polygon.py it appears r0,r1 are the x coordinates from the input coordinates, but their difference is passed in the y value slot of np.arctan2 in line 49.

[code]

## Version information
[code]

[Link to numpy arctan2 doc](https://numpy.org/doc/stable/reference/generated/numpy.ar

[2020-05-28 11:49] jni commented on #4759
@Styxny thanks for the report! After doing a quick review I think I agree with you, although there might be some complexity because of the way some older skimage functions are written using x/y coordinates rather than row/column. Have you encountered a bug/weird behaviour because of this?

[2020-05-28 12:59] hmaarrfk commented on #4754
this issue has been addressed in https://github.com/scikit-image/scikit-image/pull/4725#issuecomment-635320832

[2020-05-28 12:59] #4754 closed

[2020-05-28 15:27] rfezzani commented on #3990
In #4760, the trivial check [deported](https://github.com/scikit-image/scikit-image/pull/4760/files#diff-30c3e44d26344e4c11a27bdd1ae43731R51) to `_get_peak_mask` function. This prevent from evaluating `image == image.flat[0]` like it is [made](https://github.com/scikit-image/scikit-image/pull/4760/files#diff-30c3e44d26344e4c11a27bdd1ae43731L192) in the actual implementation.

Doing so also allows

[2020-05-28 17:25] rfezzani commented on #2758
Running this example with current implementation (**0.17.2**) I measure ~0.3 seconds... Can we consider that this issue is Fixed?

[2020-05-28 21:43] rfezzani commented on #2592
I performed some experiments:
[code]

Here are the results:

### version 0.17.2

![v0](https://user-images.githubusercontent.com/3438227/83196594-78803800-a13c-11ea-85e6-d1a0179e3813.png)

### with #4760 refactoring

![v1](https://user-images.githubusercontent.com/3438227/83196872-e62c6400-a13c-11ea-9e64-73623c64408a.png)

[2020-05-29 07:25] rfezzani commented on #2758
I assume yes ^^

[2020-05-29 07:25] #2758 closed

[2020-06-01 12:47] rfezzani commented on #4486
# 2020/05/25 - 2020/05/31

Last week looks like a quite week compared to the previous weeks, but as the following highlights shows, things are going very well:

- dask related CI failures fixed #4758 (thx @emmanuelle ),
- the gallery examples #4648, #4658 are almost ready to enrich the documentation examples,
- #4739 now proposes the `trainable_segmentation` method which is a good candidate for in

[2020-06-02 05:21] GenevieveBuckley opened #4763 "phase_cross_correlation with NaN pixels returns an invalid result"
## Description
The `skimage.registration.phase_cross_correlation()` function returns an invalid result if one of the input images contains NaN pixels. I think an error should be raised here instead, suggesting the user pass in a mask array to exclude the NaNs.

Alternatively, another solution could be modifying the function to handle masking the NaN pixels itself. I'd be happy to implement this as

[2020-06-02 05:33] GenevieveBuckley opened #4764 "API inconsistency: phase_cross_correlation does not return error & phasediff"
## Description

If you use the `skimage.registration.phase_cross_correlation()` method without using one of the mask keyword arguments, the function returns a tuple of three items (shift, error, phasediff) is returned. But if you use the same function and pass it a mask keyword argument, then you do not get a tuple of three items returned but instead just a single numpy array of the shift.

I thin

[2020-06-02 06:35] GenevieveBuckley opened #4765 "Is cross_correlate_masked() now superseded by phase_cross_correlation() with kwargs?"
## Description

The `__all__` dunder for the scikit-image registration module contains two functions:
* `optical_flow_tvl1`, and
* `phase_cross_correlation`.

But there is also a function named `cross_correlate_masked` in `skimage/registration/_masked_phase_cross_correlation.py`.

Should `cross_correlate_masked()`:
1. Be added to the `__all__` dunder of the module?
2. Be marked as deprecated and r

[2020-06-02 07:34] rfezzani commented on #4765
Yes, this change was introduced in #4503. `feature.cross_correlate_masked` is already deprecated ;)

[2020-06-02 07:41] jni opened #4766 "Missing attribute 'offsets' in skimage.graph.MCP_Geometric"
## Description

Context for this issue is this SO question:

https://stackoverflow.com/questions/62135639/mcp-geometrics-for-calculating-marketsheds

While investigating the question, I created an `skimage.graph.MCP_Geometric` object, which inherits from `skimage.graph.MCP`. You can see that `MCP` defines the offsets attribute in this line:

https://github.com/scikit-image/scikit-image/blob/f71be8

[2020-06-02 07:41] jni commented on #4766
I'll note that the offsets attribute should be public, as it is the only way to interpret the `traceback` return value.

[2020-06-02 07:48] rfezzani commented on #4764
Thank you @GenevieveBuckley for reporting this. You are right the documentation is not precise enough... `phase_cross_correlation` uses `masked_register_translation` under the hood when any of `reference_mask` or `moving_mask` is provided, this function doesn't provide any of `error` or `phasediff`.

But if the `return_error` argument is set to `False`, `phase_cross_correlation` only returns `shif

[2020-06-02 08:06] rfezzani commented on #4763
Thank you @GenevieveBuckley for your report. I am pretty sure that a majority of functions in `skimage` are sensitive to NaNs... =)
I consider this is more like an edge case that shouldn't be managed internally, since users can handle it as you did in the example that you provided. But this is of course open to discussion ^^

[2020-06-02 09:31] step21 opened #4768 "Broken tests on ppc64le"
## Way to reproduce
[code]

ppc64le python 3.7
test_periodic_reference
test_RGB
test_end_points

ppc64le python 3.6
test_end_points

osx python 3.8
test_hdx_rgb_roundtrip
test_hed_rgb_roundtrip

## Version information
[code]

Let me know if you prefer single issues. However as this only seems to effect ppc64le (or at least I couldn't find failing tests from aarch64) I am less interested to pursue

[2020-06-02 11:44] hmaarrfk commented on #4768
Can you provide us with a cross reference to the logs?

Thanks!

[2020-06-02 11:54] step21 commented on #4768
os x
https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/169540/logs/39
Somehow ppc64le is marked as queued again so I cannot find the log reference anymore. Though I copied more detail from the logs. https://www.pastery.net/werrta/

[2020-06-02 11:56] hmaarrfk commented on #4768
haha, super!

Thanks for the reports.

My dream is to be able to run CIs for the two platforms.

I've seen the color round trip bugs locally on my computer when using pytest-xdist.
I looked into it, but couldn't find anything that looked suspicious.

[2020-06-02 17:45] aplavin opened #4769 "_masked_phase_cross_correlation: is it truly a phase cross-correlation?"
According to wikipedia (https://en.wikipedia.org/wiki/Phase_correlation) and other sources, phase correlation involves elementwise normalization in the Fourier space. I was looking for an implementation of masked phase correlation, and found it in scikit-image docs. Supposedly, the implenetation is here: https://github.com/scikit-image/scikit-image/blob/master/skimage/registration/_masked_phase_cr

[2020-06-02 23:27] gletreut opened #4770 "segmentation.random_walker error, masking problem"
## Description
The method segmentation.random_walker produces an error when passing labels with negative values. The code below worked with the `segmentation/random_walker.py` file from commit d61625b3950ffa9ee3d59e91295b49357be03b27. It produces an error starting from commit 8f76f0fb48908ba2ca92816d3611bba5cd09b998 (the next one modifying the file). I am attaching below the arrays used for the im

[2020-06-03 00:22] GenevieveBuckley commented on #4764
Yeah I see why it's happening, but I would prefer more consistency across related functions.

I don't have any particular preference about how to resolve that (but I also don't really use `error` or `phasediff`, so I might under-value the usefulness of having them there).

[2020-06-03 00:31] GenevieveBuckley commented on #4765
Oh good - I didn't see a deprecation warning when I ran it, but I did import it from `skimage.registration` instead of `skimage.feature`. Thanks!

[2020-06-03 00:31] #4765 closed

[2020-06-03 07:37] dkatsios commented on #3649
I am having similar issue on arm64 (Nvidia Jetson). Unfortunately cannot install with pip, instead use apt-get install python3-<package>.
numpy==1.18.3
scikit-image==0.14.0

ImportError: cannot import name '_validate_lengths

Any ideas for working around?

[2020-06-03 07:48] stefanv commented on #3649
You will need scikit-image 0.14.1, which fixed the problem. Or you can patch your installation, or you can compile from scratch.

Note that 0.14 is pretty old by now!

[2020-06-03 08:08] jni commented on #3649
@dkatsios @stefanv there is another option, installing numpy==1.15

[2020-06-03 08:14] dkatsios commented on #3649
@jni would you know how this can be done for arm64 architecture? running pip3 install numpy==1.15 wouldn't work. Instead I have to run apt-get install python3-numpy. the only available version I get for this is 1.13.1 which corresponds to numpy 1.18.3.

[2020-06-03 08:57] jni commented on #3649
Oh I didn't realise that apt wouldn't let you install older versions. Um... If there is really no later version of skimage available for ARM, you might be down to @stefanv's solution, patching your install. If your distro ships the uncompiled Python code, you can do:

[code]

to find out where the skimage code tree is. It'll be something like `[....]/skimage/__init__.py`.

Then, open the file (you

[2020-06-03 19:48] d-diaz commented on #1131
@stefanv, you might be able to use the [`rasterio.features` module](https://rasterio.readthedocs.io/en/latest/api/rasterio.features.html). It's designed for geospatially-referenced images, which may not be included with your data, but you could probably inspect the source code and generalize if necessary. In particular, I'd suggest looking at [`rasterio.features.shapes`](https://github.com/mapbox/

[2020-06-03 21:35] emmanuelle commented on #1131
The big difficulty here is really the sorting of pixels, because just getting the boundary pixels can just be doing a logical xor (or a subtraction) between an object and its erosion.

[2020-06-04 01:21] hmaarrfk commented on #4763
i don't think you should raise an informative message.

If you do want to, could you please add a switch so as to remove the check.

Checking for NaN is expensive on imaegs as it often requires a full pass of the memory in python.

[2020-06-04 02:40] alexdesiqueira commented on #4763
@hmaarrfk I'd not be fond of a switch for NaN's, please let's think on decluttering and tidiness :smile: However, now that you're telling that, this would be expensive indeed.
I would be in favor of 1. testing all data before entering in every function, or 2. not testing at all and returning an error when bumping into it — it seems your data cannot be processed... for 2, how about some tutorials o

[2020-06-04 12:39] hmaarrfk commented on #4763
The problem fundamentally, is that `NaN` is not a real number. In situations where "averaging" is inherently part of the algorithm, yes ignoring a few pixels will give the user the expected result.
But for me, this goes back to

The user provided junk data in, we should not be expected to provide output.

Numpy has `nansafe` functions. They don't perform as well as their standard equivalents.
[cod

[2020-06-04 22:05] rfezzani commented on #4770
Thank you @gletreut for reporting this bug. I had a look at you data and found that `labels` contains isolated areas... I will investigate in this direction ;)

[2020-06-05 10:18] step21 opened #4772 "test_periodic_reference fails on ppc64le python 3.7 (conda feedstock)"
## Description
ppc64le python 3.7
test_periodic_reference

## Way to reproduce
[code]

## Version information
[code]
python 3.7
[code]

[2020-06-05 10:21] step21 opened #4773 "test_RGB fails on ppc64le with python 3.7"
## Description
ppc64le python 3.7
test_RGB

## Way to reproduce
[code]

## Version information
[code]

[2020-06-05 10:29] step21 opened #4774 "test_end_points fails on ppc64le with python 3.6, 3.7, 3.8"
## Description
ppc64le python 3.7
ppc64le python 3.6
test_end_points

## Way to reproduce
[code]

## Version information
[code]

[2020-06-05 10:30] step21 opened #4775 "test_hdx_rgb_roundtrip fail son osx with python 3.8"
## Description
osx python 3.8
test_hdx_rgb_roundtrip

## Way to reproduce
[code]

## Version information
[code]

[2020-06-05 10:33] step21 opened #4776 "test_hed_rgb_roundtrip fails on osx with python3.8 and ppc64le with python 3.6"
osx python 3.8
test_hed_rgb_roundtrip

## Way to reproduce
[code]

## Version information
[code]

[2020-06-05 10:37] step21 opened #4777 "test_uint16 fails on win"
test_uint16 fails on win

[code]

## Version information
[code]

[2020-06-05 15:45] step21 opened #4778 "test_hed_rgb_float_roundtrip fails on ppc64le python 3.8"
## Description
test_hed_rgb_float_roundtrip fails on ppc64le python 3.8

## Way to reproduce
[code]

## Version information
[code]

https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/344126260

[2020-06-06 14:23] hmaarrfk commented on #4773
[code]
https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/345385697

[2020-06-07 22:44] notmatthancock opened #4779 "sigma_range not used in denoiser calibration examples"
The variable `sigma_range` is defined in both tutorials, but a different range and in-line instantiation of the sigma range is used when the `parameter_ranges` dict is defined:

https://github.com/scikit-image/scikit-image/blob/f71be82423e73cda4f3026a0eb656614db937bbc/doc/examples/filters/plot_j_invariant.py#L39-L41

https://github.com/scikit-image/scikit-image/blob/f71be82423e73cda4f3026a0eb65661

[2020-06-07 23:08] prats0305 opened #4780 "Getting "ImportError: DLL load failed: The specified module could not be found.""
## Description

Tried to run script containing:
from skimage.filters import threshold_local
import numpy as np
import argparse
import cv2
import imutils

Getting below error:
from skimage.filters import threshold_local
  File "C:\Python\Python36\lib\site-packages\skimage\__init__.py", line 125, in <module>
    from .util.dtype import (img_as_float32,
  File "C:\Python\Python36\lib\site-packages\sk

[2020-06-08 05:17] prats0305 commented on #4780
Note : I had Installed  scikit-image using command - pip install scikit-image.
The installation was successful.

[2020-06-08 05:37] prats0305 commented on #4780
`C:\Python\Python36\Scripts>pip uninstall scikit-image
Uninstalling scikit-image-0.17.2:
  Would remove:
    c:\python\python36\lib\site-packages\scikit_image-0.17.2.dist-info\*
    c:\python\python36\lib\site-packages\skimage\*
    c:\python\python36\scripts\skivi.exe
Proceed (y/n)? y
  Successfully uninstalled scikit-image-0.17.2

C:\Python\Python36\Scripts>pip install scikit-image
Collecting sc

[2020-06-08 07:23] step21 commented on #4778
[code]

[2020-06-08 07:27] step21 commented on #4772
[code]

https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/344046594

[2020-06-08 07:32] step21 commented on #4774
[code]
https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/342627805

[2020-06-08 07:36] step21 opened #4781 "test_ellipse_rotated fails on python3.8"
[code]

## Version information
[code]

[code]

https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/342627805

[2020-06-08 07:40] step21 opened #4782 "test_free_reference fails on ppc64le with python 3.6"
## Way to reproduce
[code]

## Version information
[code]

[code]
https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/342571645

[2020-06-08 07:49] step21 commented on #4775
[code]
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=170930&view=logs&j=a8dee1cf-d17f-5cb0-b53f-4a93dfdbfb0c&t=d9dbf137-9a7f-5666-c60c-9e1b2fc31445

[2020-06-08 07:51] step21 commented on #4777
[code]
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=169671&view=logs&j=5be07ae1-d8ba-5406-47b6-8e3a3a12f825&t=0bf03e01-0bec-5b85-5316-b1633322e895

[2020-06-08 07:53] step21 commented on #4778
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=169451&view=logs&j=a8dee1cf-d17f-5cb0-b53f-4a93dfdbfb0c&t=d9dbf137-9a7f-5666-c60c-9e1b2fc31445&l=6527

[2020-06-08 07:55] step21 commented on #4776
[code]
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=169451&view=logs&j=a8dee1cf-d17f-5cb0-b53f-4a93dfdbfb0c&t=d9dbf137-9a7f-5666-c60c-9e1b2fc31445&l=6527

[2020-06-08 07:57] step21 commented on #4768
I think I added all the details now and added some more that I overlooked before. Please let me know how if it is fine like this.

[2020-06-08 09:20] zihaozhang9 commented on #3306
![image](https://user-images.githubusercontent.com/21007783/84012720-8fc7ec80-a9aa-11ea-817f-986e25e244a5.png)

It looks like this:
`dst_rows = src[:, 1]-np.sin(np.linspace(0, 3 * np.pi, src.shape[0])) * 50`
-sin is shown above.
But in the image, the coordinates of the upper left corner are (0,0). Therefore, the graph of dst (red dot) is opposite to that of -sin.

The second parameter of the [`war

[2020-06-08 09:37] stefanv commented on #3306
With PiecewiseAffine, you will have to estimate the warp in the opposite direction, instead of using `inverse`.  We also provide

[code]

[2020-06-08 09:40] stefanv commented on #3306
I stand corrected, it looks as though someone *did* implement the inverse transform for PiecewiseAffine!

[2020-06-08 10:32] zihaozhang9 commented on #3306
I think` out = warp(image, tform)` is the inverse transform, and `out = warp(image, tform.inverse) `is the positive transform. Is my understanding correct?

[2020-06-08 11:26] stefanv commented on #3306
Yes, you have to provide the inverse transform for the forward warp because, in that process, you map the position of each output pixel *back* to the input image and interpolate to get its value.

[2020-06-08 12:01] Offpics opened #4783 "skimage.feature.greycomatrix should add support for different distances"
## Description
[greycomatrix](https://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.greycomatrix) supports `distances` argument. For example value `1` (from array), means that we will calculate pixel pairs that are 1 away from each pixel horizontally and vertically.
There should be an option to calculate pairs that are for example 1 away horizontally and 0 vertically.

If you

[2020-06-08 13:02] hmaarrfk commented on #4776
I've actually been able to reproduce this test locally with pytest xdist at some point in time. Running tests in parallel seemed to change something. Linux 64 bit x86

To my knowledge, conda-forge doesn't use parallel tests.  This error was also intermittent

[2020-06-09 04:44] alexdesiqueira commented on #4486
# 2020/06/01 - 2020/06/08

Not too much activity this week, but several issues related to Mac/Win were described.

## new pull requests open last week
#4771 Fix random_walker regression
#4767 Handle NaNs in phase_cross_correlation

## closed pull requests (not merged)
none

## merged pull requests
none

## Older pull requests with new comments or commits
#4739 [WIP] trainable segmentation (algorit

[2020-06-09 06:19] zihaozhang9 commented on #2402
Coordinates (xy or yx) are really confusing. The coordinates of `estimate(self, src, dst)` in the function [`PiecewiseAffineTransform `](https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/_geometric.py#L847-L978)is [`(x, y)`](https://github.com/scikit-image/scikit-image/blob/f71be82423e73cda4f3026a0eb656614db937bbc/skimage/transform/_geometric.py#L660), namely `(cols, rows)

[2020-06-09 10:03] fcouziniedevy opened #4784 "segmentation.random_walker bug with float32 image, masking and 'bf' optimization"
## Description

The random_walker algorithm has different results if the image is given as float32 or float64 with a masked seed image. This only happens with the 'brute force' mode.

## Way to reproduce
[code]
Here is the resulting figure:
* The first row is without masking and the results with a float32 or float64 image are the same.
* The second row with masking shows different results. It seem

[2020-06-09 10:11] rfezzani commented on #4784
Thank you @fcouziniedevy for the report, I am happy to see you here :). That's a really weird bug.
Thank you for building this simple failing case, it will definitely help for the investigation ;)

[2020-06-09 12:16] fcouziniedevy commented on #4784
Since the function was modified in v0.17, I can add that the bug was already present in the 0.16.2 (also a bit different): I had to create an image with diagonal edges to make the function fails with the previous version:

Replacing the image in the previous code, by:
[code]
leads to the following results with the version 0.16.2
![diagonal](https://user-images.githubusercontent.com/53623276/841461

[2020-06-09 16:06] step21 opened #4785 "test_fixed_reference fails on ppc64le with python 3.7"
## Description
https://travis-ci.com/github/conda-forge/scikit-image-feedstock/jobs/345385697

## Way to reproduce
[code]

## Version information
[code]

[code]

[code]

[2020-06-09 16:07] step21 commented on #4768
https://github.com/scikit-image/scikit-image/issues/4782 - test_free_reference fails on ppc64le with python 3.6 #4782
https://github.com/scikit-image/scikit-image/issues/4781 - test_ellipse_rotated fails on python3.8 #4781
https://github.com/scikit-image/scikit-image/issues/4778 - test_hed_rgb_float_roundtrip fails on ppc64le python 3.8 #4778
https://github.com/scikit-image/scikit-image/issues/477

[2020-06-10 07:50] sciunto commented on #4782
Issue reported in #4768

[2020-06-10 07:50] #4782 closed

[2020-06-10 07:50] sciunto commented on #4781
Issue reported in #4768

[2020-06-10 07:50] #4781 closed

[2020-06-10 07:50] sciunto commented on #4778
Issue reported in #4768

[2020-06-10 07:50] #4778 closed

[2020-06-10 07:50] sciunto commented on #4777
Issue reported in #4768

[2020-06-10 07:50] #4777 closed

[2020-06-10 07:51] sciunto commented on #4776
Issue reported in #4768

[2020-06-10 07:51] #4776 closed

[2020-06-10 07:51] sciunto commented on #4774
Issue reported in #4768

[2020-06-10 07:51] #4774 closed

[2020-06-10 07:51] sciunto commented on #4785
Issue reported in #4768

[2020-06-10 07:51] #4785 closed

[2020-06-10 07:52] sciunto commented on #4768
I regrouped all issues here, to do not overflow the bug tracker. They are likely related.

[2020-06-10 07:52] step21 commented on #4781
I was told to create issues for each test/failure separately by @hmaarrfk

[2020-06-10 08:00] sciunto commented on #4781
I haven't seen where this was argued.

[2020-06-10 08:17] step21 commented on #4781
Probably here. https://github.com/conda-forge/scikit-image-feedstock/pull/61#issuecomment-639881823
We could debate about wording. Doesn't matter. Do whatever works for you, just wanted to point out that I didn't do it like that because I liked the extra work, but because I thought that's how i should do it. Sorry for the confusion.

[2020-06-10 11:02] hmaarrfk commented on #4768
Hmm, I'm not too sure, but ok

[2020-06-11 10:59] #4770 closed

[2020-06-11 11:02] sciunto opened #4786 "Backport bugfix #4771"
##_ Description

#4771

[2020-06-12 09:35] liang-minhui opened #4787 "label2rgb only color the contour not the area"
## I'm trying to use label2rgb to color different segments, but only color the contour, not the area.

    def edgedetect (vadd):
    cap = cv2.VideoCapture(vadd)
    fgbg = cv2.createBackgroundSubtractorMOG2()

    while (1):
     ret, frame = cap.read()
     fgmask = fgbg.apply(frame)
     retthre,fgthre = cv2.threshold(fgmask,0,255,cv2.THRESH_BINARY+cv2.THRESH_OTSU)
     fgclose = skm.closing(f

[2020-06-12 09:52] rfezzani commented on #4787
I think that in your example
[code]
should be
[code]

[2020-06-12 09:56] yoyololicon commented on #4622
Hi, any one interested in this issue?
I also want to share my implementation of phase unwrapping algorithm described in the paper [A novel phase unwrapping method based on network programming](https://ieeexplore.ieee.org/document/673674), and it also support using weights.

I did the same unwrapping example from skimage and result looks very promising (from top to buttom: original image, unwrapped

[2020-06-12 10:14] TAdeJong commented on #4622
@yoyololicon looks cool! I did not know of that paper. The approach seems interesting and essentially as a discrete programming solutuon

[2020-06-12 14:14] yoyololicon commented on #4622
@TAdeJong  The performance should be better than path following method in my experiences, but I agree we should do more testing to validate the result. One major drawback of this algorithm is that it actually solve a minimum cost network flow problem, which is known to have non-polynomial time complexity, in some cases it can run very slow. But the end results are usually very accurate. On the oth

[2020-06-12 14:46] grlee77 commented on #4622
I want to commend both of you for bringing detailed implementations/examples in this issue! I had missed it at the time @TAdeJong originally opened it.

Both of the proposed algorithms here are highly cited (>600 citations each). I am not familiar enough with the literature to know if there is a consensus on which is typically better (likely application-dependent?) or if there may be better altern

[2020-06-12 17:08] yoyololicon commented on #4622
Yes, and actually I had tried implement it before, but couldn't get it working as expected so I end up turn to use the minimum cost method. I can check the code again, maybe I did somethings wrong idk.

The graph cuts method (PUMA), in my experience, run way longer than minimum cost flow method,  and sensitive to the design of potentials function V, some cases a special desgined function is needed

[2020-06-12 17:59] TAdeJong commented on #4622
@grlee77

As you mentioned, I am also doing this mostly voluntary, so if we are happy to let some time pass over it, I can get to it at some point after most of the pre-summer stress has passed.

[2020-06-12 18:56] JoOkuma commented on #4622
I think it would be beneficial to have an implementation of maxflow-mincut for 2/3-D grid graphs. Some implementations are a magnitude faster in this kind of problem [1], and they could be easily extended to the `segmentation` module since they were initially proposed for image segmentation.

The original implementation is licensed under the GPL. I'm not sure what is the correct procedure for this

[2020-06-12 20:04] grlee77 commented on #4622
Yes, we cannot incorporate GPL code here. We need to either have to an existing implementation with a compatible license or reimplement.

One package I am familiar with is [fwqpbo](https://github.com/bretglun/fwqpbo) which is a research project for MRI fat/water imaging. It is a Python package, but given that it wraps Kolmogorov's code it is also GPL-licensed.

[2020-06-12 21:16] grlee77 commented on #4622
@JoOkuma

Apparently Boost provides an implementation that should have compatible license terms:
https://www.boost.org/doc/libs/1_73_0/libs/graph/doc/boykov_kolmogorov_max_flow.html

The following "graph-tool" Python library looks nice and is built on the Boost implementation, but it is LGPLv3 licensed: https://graph-tool.skewed.de/

[2020-06-12 21:34] rfezzani commented on #4622
I just want to mention that `scipy` provide an implementation of [maxflow](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csgraph.maximum_flow.html#scipy.sparse.csgraph.maximum_flow)

[2020-06-13 00:43] yoyololicon commented on #4622
@JoOkuma
I think NetworkX already has an implementation of Kolmogorov's maxflow, see:
https://networkx.github.io/documentation/stable/reference/algorithms/generated/networkx.algorithms.flow.boykov_kolmogorov.html#networkx.algorithms.flow.boykov_kolmogorov

[2020-06-13 01:58] liang-minhui opened #4789 "how to read properties in regionprops"
## Description

i don't know how to read the properties in regionprops. i input a 100 frame array into regionprops, and the results only provide in one frame.

## Way to reproduce
[code]

[code]

[2020-06-13 03:55] liang-minhui opened #4790 "how to mark object centroid in the video"
## Description

i use regionprops to get segments information in every frame, the input is 100 frame array, but regionprops only provide segments info in one frame. how can I use the centroid in regionprops to mark segments in each frame?

## Way to reproduce
[code]

[2020-06-13 07:20] liang-minhui commented on #4787
thanks, that works.

[2020-06-13 07:20] #4787 closed

[2020-06-13 07:29] jni commented on #4790
@liang-minhui can you provide a *complete* code snippet? `cent` from `cent.append` is not defined, for example. Nor do you do anything with it. Ideally, you should also provide an example video so that we could run the code.

In the future, for this kind of usage question, rather than a bug report, StackOverflow or the image.sc forum are better places to post. I am going to close this as it is not

[2020-06-13 07:29] #4790 closed

[2020-06-13 08:56] #4789 closed

[2020-06-13 17:26] JoOkuma commented on #4622
@yoyololicon I didn't know that, but it seems implemented in python, this explains why it must be slow, as you said before.

Boost should be a better alternative but would it be a significant dependency to add to scikit-image? Maybe we should create another issue to discuss this.

[2020-06-14 07:29] jni commented on #4622
I'm 99% sure that we won't pick up a boost dependency in skimage, nor add new C++ code. Since we already depend on networkx and SciPy, I think the correct approach would be to use a SciPy sparse graph or networkx graph, use whatever algorithm is present there, and propose the improved algorithm for addition at those libraries. This will probably take longer in the end, but it would reduce the long

[2020-06-14 08:05] yoyololicon commented on #4622
@jni
I agree. Seems like using networkx is the current best approach.
@grlee77
For graph cuts unwarpping algorithm, I will report some progress here if I have good result.

[2020-06-14 08:27] jni commented on #4783
@Offpics Thanks for the suggestion! I'm not sure this makes sense with the current API... Currently, you provide `distances` and `angles`, and every combination of distance and angle is computed. (ie it is *not* just horizontal and vertical). How would the API look in your proposal?

[2020-06-14 12:09] grlee77 commented on #4622
re: @TAdeJong

Yes, please just make a PR whenever you get a chance. You can open a PR with what you have now and just start the title of the PR with "WIP: " so we know it is work in progress and not yet ready for review. Don't worry about adding 3D/nD support first, we can help with that.

That seems better to me than having multiple functions.

[2020-06-14 12:30] feature-engineer commented on #4499
As of OpenCV 4.3, SIFT detector is enabled by default due patents expiration (without requirement of NONFREE build option):

https://github.com/opencv/opencv/wiki/ChangeLog#version430

It seems safe to implement in scikit-image.

[2020-06-14 12:59] #4741 closed

[2020-06-14 15:23] olebole opened #4791 "Another missing attribute '__reduce_cython__'"
## Description

After I successfully made the python3-tifffile package available for Debian, I want to upgrade our skimage package to 0.17.2. However, the build fails now with

[code]
on several places. From some earlier issues of a similar type (like #4451), this may be due to dependency versions too old; however, all versions match, except for PyWavelets. It looks however not like connected toPy

[2020-06-14 16:39] hmaarrfk commented on #4791
Definitely a hard package to get going....
If you didn't get it going, I would have probably worked with you to make it an optional dependency because it gave me too much trouble on conda-forge.
Do note that ultra-recent changes in the build system of tifffile might make your life easier.

I think this has to do to the fact that we moved around a few binary files

https://github.com/scikit-image/s

[2020-06-14 18:20] olebole commented on #4791
Ahh, this brought me to the right track: we do the test on the newly built package (which is built with `setup.py build`). This one however does not copy the data files (at least not when called from within the Debian "pybuild" tool), so I have to copy them manually later. This was not done for `feature/orb_descriptor_positions.txt`, which lead to a first error message that I have just overseen.

[2020-06-14 18:20] #4791 closed

[2020-06-14 21:00] emmanuelle commented on #4784
Thank you for reporting this issue @fcouziniedevy.  I'm afraid the answer is probably deep down in the compiled code of a linear algebra library... Probably in the second masked case the system is very ill conditioned (a gradient of 1 is a huge step to take for the random walker), especially with a large value of beta. Reducing beta to smaller values (I tried 40) makes the difference disappear.

[2020-06-14 21:19] emmanuelle commented on #4779
Hi @notmatthancock thanks for reporting this, it indeed looks like we had a copy and paste mistake here! Could you be interested in correcting this and submitting a pull request? Thanks either way :-).

[2020-06-14 23:26] hmaarrfk commented on #4791
Glad you got things working.

Hoenstly, error messages are often non-sensical.

No issue with asking question with detailed build specs !

[2020-06-15 02:11] notmatthancock commented on #4779
Yep: https://github.com/scikit-image/scikit-image/pull/4792

[2020-06-15 03:20] #4779 closed

[2020-06-15 09:48] emmanuelle commented on #4780
@jni @VolkerH this problem is with the new `map_array` code which uses C++ from Cython, which is something new for scikit-image. Do you have any idea of what may cause this issue? A missing library?

[2020-06-15 10:06] jni commented on #4780
Oops, missed this, was on leave last week, sorry!

I'm not sure what could be causing it, no... It only uses C++ standard library functions, so they should be present somewhere I think! My only concern is that `unordered_map` was unavailable in some *very old* C++ compilers/stdlib, which might be what's happening, but I would find that hard to believe given it's a Python 3.6 distribution.

@prats0

[2020-06-15 11:44] VolkerH commented on #4780
Thanks for the mention, would have missed this otherwise. I also don't have a good idea what is happening there.
There is the warning about the outdated `pip` version. I don't know much about the inner workings of installing wheels with `pip`  but is it conceivable that an older version of `pip` might install the DLL incorrectly ?

[2020-06-15 12:44] hmaarrfk commented on #4780
One more question that might help jni:

Are you on windows 10 or 8 or other?

[2020-06-15 13:44] prats0305 commented on #4780
Hi,
To answer your questions:

- I installed python from python.org.
- I am using Windows 10 Home edition.

Thanks.

On Mon, 15 Jun 2020, 16:44 Mark Harfouche, <notifications@github.com> wrote:

[2020-06-15 15:46] cgohlke commented on #4780
[code]

Very likely the C++ runtime library is missing. As a workaround, try to install the [Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads), or import matplotlib before skimage, or `python -m pip install msvc-runtime`.

Scikit-image could ship the required runtime DLLs next to the

[2020-06-15 16:18] alexdesiqueira commented on #4486
# 2020/06/09 - 2020/06/15

This week we merged an awesome biology example and fixed `random_walker`.

## new pull requests open last week
#4792 Remove unused variable in j invariant docs
#4788 try to fix ci which is broken because of pyqt5 last version

## closed pull requests (not merged)
none

## merged pull requests
#4792 Remove unused variable in j invariant docs
#4788 try to fix ci which is b

[2020-06-15 16:29] emmanuelle commented on #3153
Note that this issue could be a great one to tackle with the Scipy sprints in July, if we have the time until the conference to write guidelines about how to write type annotations in a SKIP to come.

[2020-06-16 02:32] jni commented on #3153
@emmanuelle that's so awesome!

[2020-06-16 05:06] crisluengo commented on #3009
This is an interesting discussion.

One of the difficulties in [the PR I helped with some weeks ago](https://github.com/scikit-image/scikit-image/pull/4725) was caused by the desire to limit floating-point images to the [0,1] range.

IMO, there is no natural requirement for an image to have a bounded range. But my point of view is often different because I come to the field from the measurement sc

[2020-06-16 08:10] rfezzani commented on #3009
I think `scikit-image` is mostly aligned with your point of view @crisluengo and thank you very much for sharing it here.

In fact, one main rule in `skimage` is to not touch users input data values, unless the called method requires it... Some times the library deviates from this principle, that's why many issues are related to this topic and are as much as possible addressed...

Concerning image

[2020-06-16 12:17] emmanuelle commented on #3153
Regarding the pros and cons of adding types in stub files or directly in functions signatures:
- stub files can be generated [using stubgen](https://mypy.readthedocs.io/en/stable/stubgen.html) and prevent conflicts with other open PRs. However, they must be modified when the function signature is modified (and we will probably change some functions of the API for 1.0).
- adding type annotations in

[2020-06-16 12:20] chrisconlan commented on #3153
I'll point out that I am interested in type annotations purely for the sake of readability of self-documentation. Some IDEs have tools that make use of type signatures. I don't use those. I might in the future. For now, I am just interested in boosting the readability of the source in a standardized and self-documenting way.

[2020-06-16 12:39] emmanuelle commented on #3153
ok interesting. And compared to our docstrings which are quite extensive and always include indications about types, why do you prefer having type annotations ? Is it because our docstring format is specific to the scientific Python world? Is it because it saves time when you can read only the signature and skip reading the docstring? I feel like when you use a skimage function for the first time

[2020-06-16 13:01] chrisconlan commented on #3153
Yes to your point about the docstring types being specific to scientific Python world.

Also, I would like to use scipy/numpy type hints in my own code that uses those libraries.

For example, I would like to write ...

[code]

Instead of what I am doing currently, which is ...

[code]

[2020-06-16 14:58] jni commented on #4780
@cgohlke wow, thanks for chiming in!

I'm wondering whether we could add something like following line to our install-requires:

[code]
?

It feels a bit wrong for everyone to ship the same DLLs, rather than depend on the right package?

By the way, do you know whether conda environments provide these DLLs by default? ie is this only a problem with python.org Python?

[2020-06-16 19:00] cgohlke commented on #4780
I think that should work in many cases. There are some issues:

1) Currently the msvc-runtime package installs a set of runtime DLLs in the sys.prefix and the Scripts folders only. That should cover most use cases (running python.exe, running executables from the Scripts folder, and virtual environments) but might fail when processes depending on the runtime DLLs are launched outside of sys.prefix

[2020-06-17 09:56] thawn commented on #3538
Thanks @VolkerH, I sucessfully implemented background subtraction using a top-hat filter, which is even faster than `threshold_local`. On my data, the result is visually indistinguishable from ImageJ's rolling ball algorithm:
[code]

[2020-06-17 09:59] VolkerH commented on #3538
@thawn, thanks for the code sample. I actually sometimes use a top-hat with the area opening operator (I find that gives even better results) but using a regular top-hat with a disk structuring element is indeed very similar to rolling ball !

[2020-06-17 10:02] thawn commented on #3538
@jni thanks for the invite, I am flattered :-) Currently, I am a bit pressed for time, but I will add writing a tutorial to my todo list. I agree that background subtraction is an important topic, particularly for microscopy data.

[2020-06-17 11:08] thawn commented on #3538
@VolkerH that sounds very interesting. Just to make sure I didn't misunderstand: what you would use is something like:
[code]

[2020-06-17 17:29] UtR491 commented on #3942
I don't know if this is the right place to ask this question, but why do the [answers from the original MATLAB implementation](https://ece.uwaterloo.ca/~z70wang/research/ssim/) by Wang et al differ from the answers given by the current function in MATLAB? Is this because the MATLAB implementation would use truncated Gaussian filter or something else? I am sorry if I am missing something obvious. T

[2020-06-17 18:04] stefanv commented on #3942
@grlee77's suggestion above on calculating a more typical data range seems like a good workaround for now.

[2020-06-17 18:43] grlee77 commented on #3942
@UtR491
One apparent difference was noted in https://github.com/scikit-image/scikit-image/issues/3942#issuecomment-497692455

Basically, when computing the mean SSIM over the image, the implementations may differ in whether some pixels near the boundary are excluded from the computation.

[2020-06-17 19:13] UtR491 commented on #3942
@stefanv Thank you so much for the quick response and @grlee77 thank you for the much needed clarification. I should have read the thread more carefully.

[2020-06-17 23:47] VolkerH commented on #3538
correct, that's basically what I have used successfully in the past. The drawback is that it is (at least in skimage's implmentatoin of attribute openings) considerably slower than an opening with a fixed structuring element.
Dpeneding on the area attribute parameter this can either be a background subtraction or be used to enhance small features.

[2020-06-18 15:58] jklausing commented on #1131
From the docs on Matlab's bwboundaries:

For reference:
[Moore-Neighbor Tracing](http://www.imageprocessingplace.com/downloads_V3/root_downloads/tutorials/contour_tracing_Abeer_George_Ghuneim/moore.html)

[2020-06-18 21:08] emmanuelle commented on #3153
For what it's worth, I've started tinkering with type annotations in https://github.com/scikit-image/scikit-image/pull/4794. Reactions welcome! (I don't expect the PR to be merged soon but I would like to start the discussion so that we can move forward if possible).

[2020-06-19 10:13] yoyololicon commented on #4622
Some updates here,

Here's the graph cuts result of Chelsea, minimizing the L1 norm:
![](https://i.imgur.com/JYq4Wq6.png)

The implementation can be found [here](https://github.com/yoyololicon/phase-unwrapping/blob/f5407e062494ae49b079717593b348a594de7548/graph_cuts.py).
It gives much much better result than [minimum cost flow method ](https://github.com/scikit-image/scikit-image/issues/4622#issue

[2020-06-19 14:15] Lukkar90 opened #4796 "Cannot upload by imread() files containing char "–""
## Description

When I upload to memory file containing char "–" U+2013 : EN DASH,  **cv2.imread()** does not upload image, in name like:
_Artboard 1 copy 11 **–** 10.png_

## Way to reproduce
Code:
[code]
Output:
[code]

## Version information
Python 3.7.4
[code]
Files: https://gofile.io/d/PuhqVl

[2020-06-19 22:17] hmaarrfk commented on #4796
Is this an opencv bug or a scikit image bug?

Do you have the wrong project?

[2020-06-21 09:14] Lukkar90 commented on #4796
Oh, now I've noticed, not this project :)

[2020-06-21 09:14] #4796 closed

[2020-06-22 10:50] sciunto opened #4797 "API: replace array by image in measure.find_contours()"
## Description

See https://scikit-image.org/docs/dev/api/skimage.measure.html?highlight=find_con#skimage.measure.find_contours

The signature must be `skimage.measure.find_contours(image, level, fully_connected='low', positive_orientation='low', *, mask=None)` to comply with our policy.

[2020-06-22 14:50] rfezzani commented on #4486
# 2020/06/15 - 2020/06/22

Last week highlights:
- :tada: @emmanuelle started the huge task of type annotation in #4794.
- feedback is needed for #4767, #4739
- #4752 and #4379 are almost ready for merge
- review still needed for #4760

## new pull requests open last week
#4795 [WIP] added expand_labels
#4794 [wip] add type annotations in some modules in skimage.segmentation
#4793 include all md f

[2020-06-23 04:35] dsandeep0138 commented on #4729
@emmanuelle when sigma of both the blobs are 0 (i.e., ``radius of blobs = sqrt(2) * sigma = 0``) we can return the _blob_overlap as 0.0 right? Please check below which would resolve the issue and let me know your comments.

[code]

[2020-06-23 07:29] dsandeep0138 commented on #4540
@emmanuelle Can you please review the PR? Plot directive is working now with the changes. Below is the screenshot of the page after the fix.

![scikit-image](https://user-images.githubusercontent.com/3874111/85373702-42df2c80-b4f9-11ea-8f58-5968f78742f5.PNG)

[2020-06-23 08:40] #4540 closed

[2020-06-23 10:04] jni opened #4799 "Prerelease builds broken by matplotlib 3.3.0rc1"
## Description

This appears to be due to an issue in matplotlib, which I've raised here:

https://github.com/matplotlib/matplotlib/issues/17730

I don't think we need to do anything. Just creating this issue for local tracking.

[2020-06-24 06:03] sciunto opened #4801 "Monitor the decision taken by sphinx-gallery dev on the thumbnail size in future release"
## Description
See https://github.com/sphinx-gallery/sphinx-gallery/issues/717

We recently set a reduced thumbnail size to improve the loading time of our gallery. S-G might change its default behavior and we may want to re-adapt our choice.

[2020-06-24 06:19] jni commented on #4729
@dsandeep0138 I think that fix would work! If you could open a PR (including a test), that would be wonderful!

[2020-06-25 15:09] poormag opened #4802 "AttributeError: 'tuple' object has no attribute 'rgb2hsv'"
I got the strange bag and just curious why it's like this.

[code]
And here a mistake

[code]

But when I delete or comment the line color = (255, 0, 0) everything works pretty fine.

[code]

[code]
Is it because the "color" is reserved word?

[code]

[2020-06-25 15:18] #4802 closed

[2020-06-26 00:12] timhoffm commented on #4801
The default changed from size (400, 280) to (320, 224), i.e. twice the CSS value to render nicely on HiDPI screens. See https://github.com/sphinx-gallery/sphinx-gallery/pull/719.

[2020-06-26 13:34] #4729 closed

[2020-06-26 14:29] sciunto commented on #4801
many thanks @timhoffm !

[2020-06-27 14:48] emmanuelle opened #4805 "dev doc is not deployed when pre build is failing on Travis"
It happens often that the pre build fails on Travis (at the moment due to Matplotlib's RC, which is ok because RCs are meant for this). However, when one of the Travis builds fail then the docs are not deployed by Travis, which is a problem. We should change the Travis configuration so that a failing pre build does not block the rest of the builds and deployment.

[2020-06-27 14:57] emmanuelle commented on #4748
This is hard coded in sphinx-gallery so a patch would need to be submitted to sphinx-gallery https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/binder.py#L109

[2020-06-27 15:21] hmaarrfk commented on #4805
I recall that this was by design.

We felt that silent failure on pre would go ignored by many core devs, and as such, kept failing on it.

[2020-06-27 15:26] emmanuelle commented on #4805
Sure this makes sense. However in a lot of cases fixing the pre build does not depend on us and there can be weeks where we cannot have Travis deploy the docs. This happened with the Cython rc during the two weeks before the 0.17 release and as a result one doc bug went unnoticed.

[2020-06-29 07:23] nilswagner opened #4808 "skimage/feature/censure_cy.c:16073:21: error: ‘PyThreadState’ {aka ‘struct _ts’} has no member named ‘exc_type’; did you mean ‘curexc_type’? *type = tstate->exc_type;"
[code]

[2020-06-29 13:30] hmaarrfk commented on #4808
Hey thanks for the report.

We would love to help you out getting going with this,but we are missing quite a few details about your environment.

They were in issue template,so I'm wondering if you could provide us with:

Python version,

Scikit image version

Command you used to install things,

Cython version

Operating system

[2020-06-29 14:34] emmanuelle commented on #4486
An average level of activity last week I'd say. The CI is currently broken because of matplotlib pre-release which is annoying, I opened #4805 to discuss our general CI process related to pre-releases. Several open PRs have a good momentum but need some input, for example #4767, #4794, #4739, #4444.

## New pull requests open last week

#4809 Let biomed example load image data with Pooch.
#4807 Ch

[2020-06-29 15:28] jni commented on #4805
I guess the problem is that `--pre` should not go into "allowed failures" overall because we don't want a green light when pre builds are failing. But we *do* want the ability to merge *and* to deploy the docs when `--pre` is failing. My preference would be that we use GitHub Actions to deploy the docs on each merge on master. So this would be dependent on merges (which are triggered by a human) a

[2020-06-29 15:34] jni commented on #4808
I remember seeing this before... I remember it having to do with mismatched Python/Cython versions and not a skimage issue.

@nilswagner I recommend the following:

- ensuring you are on a supported Python version (3.6-3.8)
- updating to the latest non-pre-release Cython (though even prerelease should work unless something has changed in the past couple of days)
- running `make clean` on the repos

[2020-06-29 15:34] #4808 closed

[2020-06-29 17:05] #4797 closed

[2020-06-30 11:21] vsiegel commented on #4199
I propose to close this because it does not represent an issue,
and also seems to be no longer relevant.

[2020-07-01 08:33] jni commented on #4199
@vsiegel we often like to keep track of ideas and experiments in issues like this one, in case we pick them up later. Transonic is definitely a candidate for further exploration!

[2020-07-01 10:25] OGordon100 opened #4811 "threshold_otsu check for single-colour is slow on large arrays"
Currently in the threshold_otsu function, the code checks if the image has a single colour

    if image.min() == image.max():
        raise ValueError("threshold_otsu is expected to work with images "
                         "having more than one color. The input image seems "
                         "to have just one color {0}.".format(image.min()))`

However, for extremely large arrays min an

[2020-07-01 12:56] emmanuelle commented on #4811
Hi @OGordon100, thanks for your interest in scikit-image. Interestingly, when I tried on my local machine the two checks take the same time
[code]
So the "inevitably more efficient" should be moderated :-). You are right that this check is not completely satisfying. What we would like is a function which would loop through the array and exit as soon as two different values have been found. That sa

[2020-07-01 13:02] jni commented on #4811
@emmanuelle @OGordon100 I think the problem is that `arr[0]` is an entire row so we are doing a rather expensive broadcasting here. It *is* faster when we get *just* the first element:

[code]

Having said this, maybe we shouldn't even raise a ValueError and simply return the input value?

[2020-07-01 13:04] jni commented on #4811
@OGordon100 A side note:

The free and open source community has a different philosophy: all code should be public, giving everyone the opportunity to improve it in perpetuity — as you are doing now! Thank you! 😊

[2020-07-01 13:15] rfezzani commented on #4811
:+1: good point @jni!

[2020-07-01 13:28] jni commented on #4802
@poormag I guess you figured it out but in case anyone else stumbles on this page:

When you write:

[code]

You are importing the "color" module from scikit-image that contains a whole bunch of functions, including the function `rgb2hsv`. This module will be accessible using the word `color` and the provided functions can be accessed with `color.<function_name>`. *However* if you write `color = (

[2020-07-01 13:44] OGordon100 commented on #4811
@jni Hold on, I thought arr[0] was just the first element? Oh darn I'm stupid. So so stupid! I'd +1 using ravel, or if we want to enforce 2D inputs instead of 3D, we could just use arr[0,0]?

I know the code accepts 3d inputs (just with a warning), but I don't think it actually runs with 3D inputs before the PR (plus there's no tests for it). Potentially it makes sense to raise another PR for chan

[2020-07-01 13:47] OGordon100 commented on #4811
Would make sense, except the function currently returns a single valued intensity threshold, not a 2D thresholded array. So I think it makes more sense to just error out, as it may cause some issues for users using the output to create a thresholded array as a result.

[2020-07-01 13:49] #4801 closed

[2020-07-01 13:51] rfezzani commented on #4811
You are right, but in this case, returning `image[0]` instead of raising still makes sense :)

[2020-07-01 13:52] OGordon100 commented on #4811
Surely that would give a really high risk of false positives for the check? If you have an image with integer values (very likely if converting a loaded colour image),, then it's almost inevitable there will be many datapoints at the same pixel intensity that would still want to be thresholded

[2020-07-01 13:52] OGordon100 commented on #4811
Good point. Maybe return it, along with a warning?

[2020-07-01 13:53] jni commented on #4811
We do not. =)

It does:

[code]

Sure, that's a problem. =)

Well, users will get either all foreground or all background, depending on their choice of operator. I think that's correct behaviour. Having said this, let's just keep the current behaviour for now, and make a separate issue for our policy for flat images.

[2020-07-01 13:55] jni commented on #4811
I think you misunderstand @emmanuelle's proposal. If all the pixels are identical, we have to traverse the whole image to make sure. But if the image is `np.random.random((10000, 10000))`, then after observing two pixels you can already be sure that you don't have a flat image.

[2020-07-01 13:56] jni commented on #4811
LOL. As I said, I'd be ok with this. Indeed some of our functions already do this so it would be consistent:

[code]

I might even skip the warning.

[2020-07-01 14:03] OGordon100 commented on #4811
Good point! There's no point deliberately making something inconsistent, and I don't think it's worth updating the other functions to match a warning.

Should I go ahead and change to just return it then?

[2020-07-01 14:54] sciunto opened #4813 "Make level parameter optional in measure.find_contours"
## Description

I think that we could put a default value to level in find_contours. I would suggest (image.max() - image.min())/2. This would make this function able to be used with an image and I think this default value is meaningful.

I'm open to discussion.

[2020-07-01 15:05] emmanuelle commented on #4813
:+1: for having default values whenever it is possible! The default which you are suggesting works well for binary arrays.

[2020-07-01 15:21] sciunto commented on #4813
cool.

[2020-07-01 20:15] emmanuelle commented on #4813
I added the good first issue label because it would indeed be a good first issue, but we need to make a decision first. I'm :+1:

[2020-07-01 20:16] emmanuelle commented on #4805
This can be a good first issue for someone who wants to contribute to scikit-image but is more familiar with CI and deployment rather than image processing.

[2020-07-01 23:36] Mark531 opened #4814 "IndexError when calling hough_line_peaks"
## Description
Sometimes, when the list of tested angles passed to Hough_line is too narrow, hough_line_peaks triggers an IndexError.

## Way to reproduce
[code]
triggers
[code]

But
[code]
works.

I don't understand what the problem is, it seems that no line is found with the given angle. But in that case, the Hough accumulator should stay to 0. I uploaded the image that is needed to reproduce th

[2020-07-02 06:52] jni commented on #4814
I can reproduce this on master with just a random image:

[code]

gives me the exact same error.

Thanks for the report @Mark531, we'll investigate!

[2020-07-02 06:54] jni commented on #4813
I'm :+1: also. The mean or median might also be good defaults.

[2020-07-02 07:06] sciunto commented on #4813
I started to play with this function a lot recently, and my first choice was the mean as you suggested. Then, it appeared to be a bad idea in practice. On an image sequence, although the light conditions were invariant, the quantity of bright and dark regions were changing, which changed the level significantly. This is not meaningful at all in my application.

Perhaps there are applications where

[2020-07-02 08:31] jimlinntu opened #4816 "skimage.image's ransac function does not handle well when best_inliers are all False"
## Description

`ransac` routine is supposed to handle well on arbitrary data input.
However, when the best sample model regards all data points as all outliers, `ransac` routine will fail immediately after this line because the `best_inliers` are all `False`:
https://github.com/scikit-image/scikit-image/blob/34c2809ab509acd4e34a0a8c5530588adf0e68e7/skimage/measure/fit.py#L873

## Way to reproduce

[2020-07-02 14:22] VolkerH opened #4817 "rename `feret_diameter` -> `max_feret_diameter` ?"
## Description

Sorry, I meant to comment on this while it was still an open PR, but then forgot to do so.
As it has not been in a release, maybe it is not too late to rename the new region property
`feret_diameter` to `max_feret_diameter`.
Tagging @emmanuelle as she added it.

The simple reason being is that sometimes the minimum feret diameter is of interest and
it would be nice to be able to ha

[2020-07-02 15:08] jni commented on #4817
A good point! I'd be 👍 on this. (And yes it's totally fine to change this pre-release.)

[2020-07-02 15:10] jni commented on #4816
Good catch @jimlinntu! We'll need to fix this. If you have the time and inclination, a pull request would be appreciated, but otherwise this might make a good topic for the upcoming SciPy sprint! 😊

[2020-07-02 15:11] jni commented on #4813
Sure, I was going off intuition, not any actual experience!

[2020-07-03 04:40] sciunto commented on #4816
Would be good to check this as well: #2698

[2020-07-03 06:12] kuzand opened #4818 "Does skimage.feature.haar_like_feature compute all features?"
I was trying to compute all the haar-like features for a 24x24 detection window using the `skimage.feature.haar_like_feature`, however I found out that it doesn't really return all the features.

Have a look at this question that I asked on stackoverflow describing the same problem:
https://stackoverflow.com/questions/62682760/computing-all-the-haar-like-features-using-scikit-image

[2020-07-03 07:54] yoyololicon commented on #4622
Just found that Google's [or-tools](https://github.com/google/or-tools) provide excellent implementation of maxflow, the speed is almost the same as Kolmogorov's library, and it's apache licensed.

[2020-07-03 14:46] maxfrei750 opened #4821 "regionprops: rename `equivalent_diameter` -> `equivalent_diameter_area`"
There exists actually a whole variety of equivalent diameters. Therefore, IMHO, it would be nice to have a more specific name (e.g.  `equivalent_diameter_area`).

[2020-07-04 09:54] ANUguru-ai commented on #3685
Thanks

[2020-07-05 14:03] jni commented on #4821
Thanks @maxfrei750 !

Could you enumerate a few of the options? My impression is that this will not bring a big enough benefit to justify the API break unless we also provide others.

However, when we release 1.0 we will be changing quite a few things and this might be a good candidate for that update. I’ll tag it for that.

[2020-07-05 14:16] maxfrei750 commented on #4821
Admittedly, the distinction is more important for the 3d objects:
* surface area equivalent diameter
* projection area equivalent diameter
* volume equivalent diameter

than for 2d objects:

* area equivalent diameter
* perimeter equivalent diameter

[2020-07-05 14:21] jni commented on #4622
@yoyololicon brilliant! I just had a read and we are free to vendor/reimplement Apache-licensed code as long as we include the license. If we were to reimplement the whole thing in Cython we could license however we liked, from my understanding.

[2020-07-05 14:24] jni commented on #4818
@kuzand good question! I’m not familiar with Haar-like features myself but an off-by-one error seems possible that would result in a small combinatorial reduction. We’ll have to investigate. Perhaps @glemaitre might know directly what the issue is.

Thanks for the report!

[2020-07-05 23:02] ntjess opened #4822 "DeprecationWarning using segmentation.slic"
## Description
The example code for `slic` results in a DeprecationWarning.

## Way to reproduce
[code]
Output:
[code]

## Version information
[code]

[code]

[2020-07-06 03:01] clementkng commented on #3412
Sorry if I'm misunderstanding the use case, but wouldn't this be possible with [Bezier curves](https://github.com/scikit-image/scikit-image/blob/master/skimage/draw/draw.py#L698-L752)?

[2020-07-06 09:32] Spenhouet opened #4824 "Distance-based discrete interpolation in affine transformation"
We perform affine transformations on 3D segmentation images.
An important requirement of this is that the interpolated values need to be discrete and consist only of existing classes.

With scipy the only way is to set the order to 0 to archive a nearest neighbor interpolation:

    scipy.ndimage.affine_transform(..., order=0)

This will result in a poor quality result but is very fast.

What work

[2020-07-06 09:40] jni commented on #4824
@Spenhouet thanks for raising this issue!

It sounds useful but I must admit I don't fully follow the reasoning. What do you mean by saying that ndimage gives a "poor quality result"? What is "quality" here? Could you show some examples with data?

Also, you mention you have a working but slow implementation — could you link to it? A baseline implementation is infinitely useful when trying to deve

[2020-07-06 10:20] Spenhouet commented on #4824
Including multiple values around the interpolation value does result in more realistic interpolations. We are using this on medical images and using nearest neighbor does result in a loss of information aka poor quality.

I would like to but this is in our private source. For now I will not be able to do that. Sorry :/

[2020-07-06 12:24] rfezzani commented on #4824
@Spenhouet can you please provide an illustration of what you consider good and bad interpolation. I am sorry but it's not really clear to me how "Including multiple values around the interpolation value does result in more realistic interpolations".

[2020-07-06 12:38] Spenhouet commented on #4824
Think of classification / segmentation. Just looking for the nearest neighbor class is not good enough. You will get much more accurate interpolations if you take more classifications in the area into account.

From my perspective this is not something that you can show visually but that makes sense if explained. Maybe I do a terrible job at explaining.

Lets look at an artificial example. The fol

[2020-07-06 12:48] rfezzani commented on #4824
As you pointed out, the nearest neighbor is maybe not the good paradigm in your case.
What about applying [majority filter](https://scikit-image.org/docs/dev/api/skimage.filters.rank.html?highlight=otsu%20filter#skimage.filters.rank.majority) before affine transformation?

[2020-07-06 13:09] Spenhouet commented on #4824
@rfezzani That is why I mentioned that my example is only for one case. Using a majority filter would just solve this one case. All interpolation values should be based on the majority. Also as defined above the majority should be defined by the distance and not just the majority.

[2020-07-06 13:40] glemaitre commented on #4818
It should be due to an offset that was intended to be corrected in https://github.com/scikit-image/scikit-image/pull/4076 from what I recall. But I did not get time to help with modifying the tests.

[2020-07-06 15:22] jni commented on #4818
Ha, good memory! Thanks for chiming in @glemaitre!

[2020-07-06 16:20] jni commented on #4486
Hello all! And hello @alexdesiqueira, thanks for picking SciPy week to be on call, a brave move! :sweat_smile:

Here's the summary for last week from @emmanuelle's script. Note that I've modified it to do Monday to Monday at midnight UTC, rather than at whatever time the current maintainer decides to run it. (I'll submit a PR for this tomorrow.) This will make sure that issues etc are always caugh

[2020-07-06 17:02] jni commented on #3412
@clementkng possible, yes, immediately obvious, no. =) If you create an example, I'm sure it would be much appreciated by @angelaradulescu! =)

[2020-07-07 07:59] VolkerH commented on #4466
This feature has been added via https://github.com/scikit-image/scikit-image/pull/4810

Closing.

[2020-07-07 07:59] #4466 closed

[2020-07-07 08:18] emmanuelle commented on #4822
Hi @ntjess thanks for reporting this issue. Unfortunately I can't reproduce on my Linux machine. Could you please try to see if
[code]
results in the same warning? I'm trying to narrow down the problem.

[2020-07-07 08:46] emmanuelle commented on #4814
Thanks @Mark531. The problem comes from the `min_xdistance` parameter of ` _prominent_peaks` which is set to the `min_angle` parameter of `hough_line_peaks` (here 10 degrees), while the size of the accumulator array is `(1450, 1)`. I'd suggest to transform
[code]
before calling `_prominent_peaks` in `hough_line_peaks`. In the example of @jni, adding `min_angle=1` solves the issue.

[2020-07-07 08:48] emmanuelle commented on #4813
I would not say that using max and min is more robust because max and min are very sensitive to noise and outliers. For me the strongest argument in favor of using min and max is that it works well for binary arrays.

[2020-07-07 08:56] emmanuelle commented on #4736
@henrypinkard could you please check that this is fixed on master (thanks to #4803) and close the issue if yes?

[2020-07-07 09:22] #4624 closed

[2020-07-07 09:28] emmanuelle commented on #4284
I think this has been solved since the code above does not error any more. I'm closing but of course feel free to reopen the issue if the problem persists.

[2020-07-07 09:31] jni commented on #4624
@emmanuelle has [my comment](https://github.com/scikit-image/scikit-image/issues/4624#issuecomment-620633645) been addressed or raised as an issue?

[2020-07-07 09:35] emmanuelle commented on #4817
I'm fine with this!

[2020-07-07 09:40] rfezzani commented on #4824
@Spenhouet, I am somehow skeptical about the approach that you are proposing :/
How can we guaranty that a small label area will not disappear with the majority criteria that you are proposing?
Your approach has also the drawback of modifying the input labels when the affine transformation is the identity...

[2020-07-07 09:44] emmanuelle commented on #3547
Also note that it's now possible to have plotly figures in sphinx-gallery, and that plotly supports animations (https://plotly.com/python/animations/).

[2020-07-07 09:48] emmanuelle commented on #3384
@GenevieveBuckley  reading this conversation one year after :-). Would you be interested in adding these datasets to https://gitlab.com/scikit-image/data/ and write tutorials about these images?

[2020-07-07 09:49] VolkerH commented on #4817
thanks for considering this. Then I need to tidy up the code I have for minimum feret diameter (unfortunately only 2D) next.

Also saw that @maxfrei750 already created a pull request. Not sure whether that'll need rebasing now that the new custom regionprop feature has been merged.

[2020-07-07 10:04] Spenhouet commented on #4824
I don't think that is an issue. That would be an expected outcome and depends on the window size.

Our approach yes and that is a valid point.
I don't know how the interpolation for the affine transformations is currently implemented (I think that is in some C / C++ file that I could not find).
I don't know if the current implementation performs the interpolation only for the points where one is n

[2020-07-07 10:15] emmanuelle commented on #4455
The glossary is https://scikit-image.org/docs/stable/glossary.html

[2020-07-07 10:18] sciunto commented on #4455
I have some words overlapping over here... :/

[2020-07-07 10:23] funkey opened #4827 "`equalize_adapthist` returns input image for clip value of 1.0"
## Description

A clip value of 1.0 (or larger) should perform AHE. Instead, the current implementation returns the input image (converted to float).

## Version information

[code]

[2020-07-07 10:48] funkey opened #4829 "equalize_adapthist rescales intensities based on global min/max"
## Description

`equalize_adapthist` implements CLAHE, which I understand as a local operation (i.e., should not require global information). However, [before](https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/_adapthist.py#L83) and [after](https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/_adapthist.py#L98) the actual call to `_clahe`, the image int

[2020-07-07 12:12] emmanuelle commented on #4455
Sorry @sciunto I don't understand what you mean here?

[2020-07-07 12:13] sciunto commented on #4455
![Glossary — skimage v0 17 2 docs](https://user-images.githubusercontent.com/335370/86779555-01ec2980-c05c-11ea-90d7-be9750f5e72f.png)

[2020-07-07 16:27] ntjess commented on #4822
I see now that this came up during my unit tests because I installed a warning filter:

[code]

The code you pasted should show an error at that point.

[2020-07-07 18:09] Mark531 commented on #4814
Thank you very much for investigating the issue!

[2020-07-08 01:00] GenevieveBuckley commented on #3384
I had forgotten, thanks for this! I might try and do it this weekend, for the sprint.

[2020-07-08 02:29] robbibt opened #4830 "Key error when using `skimage.measure.find_contours`"
## Description

Hi all, a few months back I raised #4497, where certain arrays from my satellite time series data caused a `KeyError` when `skimage.measure.find_contours` was applied to them. It seemed like this was solved by #4505, but I've just had the issue re-occur on `scikit-image version: 0.17.2`.

I've attached a reproducible example below; my full arrays are larger (around 2000 x 2000 pixe

[2020-07-08 04:35] jni commented on #4824
@Spenhouet note that there is a 3D rank filters PR open here: https://github.com/scikit-image/scikit-image/pull/4435 You might be able to grab that code and use it for the two step approach.

Regarding the warping code, it's done [here](https://github.com/scikit-image/scikit-image/blob/3a4dc584d062347d9ab6bcd0910aeb7b40bd9623/skimage/transform/_warps_cy.pyx). Currently, it's 2D only. For 3D+, we a

[2020-07-08 05:54] robbibt commented on #4830
I've found another example wherwe the default `find_contours` params fail with a `KeyError`, but `fully_connected='high' pass:
[code]

[2020-07-08 07:22] emmanuelle opened #4831 "Work on structure_tensor: gallery example, row/col notation, port to 3D"
This issue is about improvements to `feature.structure_tensor`.

- [x] First of all, it does not have a gallery example. https://docs.opencv.org/master/d4/d70/tutorial_anisotropic_image_segmentation_by_a_gst.html has a nice example which could be adapted.

- [x] Second, the code of structure_tensor uses x and y instead of r and c. See https://github.com/scikit-image/scikit-image/pull/2987 for a di

[2020-07-08 17:58] cameronbronstein commented on #4822
I'm also getting a similar warning, routed through use of [skimage/util/dtype.py:226](https://github.com/scikit-image/scikit-image/blob/3a4dc584d062347d9ab6bcd0910aeb7b40bd9623/skimage/util/dtype.py#L226) by Rasterio: ``DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
    dtypeobj_out = np.dtype(dt

[2020-07-09 01:01] clementkng commented on #4537
@emmanuelle Hi, I'd be interested in trying this! I'm currently looking through the links and papers above, and had a couple of high level questions:

1. What would the API for introducing mesh decimation look like? In the image.sc post above, it seems like the mesh decimation could be run as part of the `marching_cubes_lewiner` method, so I think one possibility would be to pass this in as an opt

[2020-07-09 08:17] emmanuelle commented on #4537
Hi @clementkng this is awesome!

1. The API should become clearer when implementing the filter I think. At the moment I don't know how many parameters should be exposed from the vtk filter, if it's just the target reduction fraction or if we need other parameters (the Mayavi example uses a `feature_angle` parameter, I'm not sure of what this means). We could start with having just one single `targ

[2020-07-09 12:31] emmanuelle opened #4832 "Future of graph cuts"
We've had several attempts in the past to implement a graph cuts segmentation algorithm. We have the following open PRs:
#397 #724 #743. The problem so far has been that the graph cuts algorithm (or its different flavors) is quite complex. These PRs are not easy to take over and have been around for a long time, should we close them? On the other hand, a max flow algorithm has been added to scipy

[2020-07-09 13:31] ElmWer commented on #1131
A good appoximation to the boundary curve of an image region is the concave hull (see for example [Moreira & Santos](https://pdfs.semanticscholar.org/2397/17005c3ebd5d6a42fc833daf97a0edee1ce4.pdf) or [Figueira](https://towardsdatascience.com/the-concave-hull-c649795c0f0f).

A simple script using this approach can be found [here](https://drive.google.com/file/d/12Sk471gkHYzD0kKoThZYmA9dkz5WIWYQ/vie

[2020-07-09 13:31] grlee77 commented on #4832
See also an implementation of phase unwrapping based on graph cuts here:

[2020-07-09 14:00] stefanv commented on #1131
Please note again the distinction between curve tracing and calculating all pixels belonging to the edge. The last problem is much easier, but not what we're looking for here.

[2020-07-09 15:50] emmanuelle commented on #4832
Thanks @grlee77 I had overlooked this!

[2020-07-10 02:18] yoyololicon commented on #4622
Or can we just add an optional dependency on or-tools?
I'm not  familiar with Cython, if we really need an reimplementation, anyone who could help me do that I will be appreciated.
Here's the phase unwrapping function based on or-tools' maxflow:
https://github.com/yoyololicon/phase-unwrapping/blob/e9bdaf94b75bec82e4e30afee7980ff30e71e155/graph_cuts.py#L76

[2020-07-10 14:58] grlee77 commented on #2613
I updated the list in the first comment in this issue. It looks like `gaussian_filter` and `difference_of_gaussians` are the only nD functions still defaulting to `multichannel=None` and then trying to guess based on `multichannel = image.shape[-1] == 3`.

See also, the more recent proposals in #4294 for moving away from `multichannel` and to a `channel_axis` argument instead.

[2020-07-10 15:02] grlee77 commented on #4294
Thanks @soupault. That list was getting pretty outdated, so I just updated it (at the top of the issue)

[2020-07-10 15:30] grlee77 commented on #4454
@hmaarrfk it seems all of the above PRs have been merged at this point. Was that a complete list at the time of writing?

When I run tests on current master there are a limited number of warnings remaining. The `DeprecationWarning` is an easy fix and I will try to take a look at the `RuntimeWarning` cases.

<details>
<summary>Warnings Summary</summary>

FutureWarning:
[code]

DeprecationWarning:

[2020-07-10 21:40] emmanuelle opened #4833 "measure.label speed"
This is triggered by [this Stackoverflow question](https://stackoverflow.com/questions/62804953/performance-differences-between-bwlabeln-on-matlab-and-skimage-measure-label-on/62842582#62842582). When I have large binary arrays to label and performance issues, I usually resort to calling the ndimage version. Could we imagine having a `fast_binary` flag which would call the ndimage function? A fact

[2020-07-11 06:48] jni commented on #4833
Why don't we just automatically call ndimage on binary arrays? In that case the functions are equivalent, right?

[2020-07-11 06:49] jni commented on #4833
In which case this makes for a nice sprint issue! 😊

[2020-07-11 06:52] jni commented on #4833
To clarify, what I'm proposing is that at the top of the [`skimage.measure._label.label`](https://github.com/scikit-image/scikit-image/blob/7b62ec14e995af4d392d0cff81db304b6d8f9aa5/skimage/measure/_label.py#L92) function we do something like:

[code]

[2020-07-11 09:52] ElmWer commented on #1131
Please note, the algorithm of Moreira&Santos returns the **boundary curve** (all pixels of the boundary of an image region in the right order) and not only the pixels belonging to the edge.

[2020-07-11 11:13] emmanuelle commented on #4833
Your suggestion sounds good to me @jni. I think @stefanv implemented the original algorithm so maybe he can comment.

[2020-07-11 13:24] emmanuelle commented on #4833
Confirmed by Stéfan (off Github), so definitely a good issue for the sprint!

[2020-07-11 14:49] coreysharris commented on #4831
I am working on this, starting with updating the row/col notation.

[2020-07-11 15:08] grlee77 commented on #4831
Welcome @coreysharris!

I happened to just recently come across the [structure-tensor](https://github.com/Skielex/structure-tensor) respository which also has a [3D implementation](https://github.com/Skielex/structure-tensor/blob/master/structure_tensor/st3d.py) that is MIT-licensed. I haven't looked into whether it provides any benefit over the versions already in the open PRs here. Any help sort

[2020-07-11 15:57] mingxiang1006 commented on #4488
Hi, where could I find the src code for this?

[2020-07-11 16:28] lagru commented on #1131
@stefanv suggested during the SciPy 2020 sprint that [this implementation of moore's algorithm](https://github.com/machine-shop/deepwings/blob/6526066a08843e1dc4c16063bf820e3975d8171a/deepwings/method_features_extraction/image_processing.py#L156-L245) might be a good starting or inspiration point. I agree, Cython would be useful to speed up the loops here.

[2020-07-11 16:36] abuchmueller opened #4835 "KeyError: 'ellipse'"
## Description

Generating ellipses with ```random_shapes()```does not work currently

## Way to reproduce
[code]
gives a KeyError (see below)

### alternatively
[code]

```Shape = none``` should return random shapes, however only returns triangles, circles and rectangles.

## Version information
[code]

[code]

[2020-07-11 16:53] jvkersch commented on #4805
I'm thinking of picking up this issue as part of the SciPy 2020 sprint. I'll hand it off again if I can't make progress or come up with a reasonable plan.

[2020-07-11 17:18] emmanuelle commented on #4488
The templates to define the layout of html pages are in https://github.com/scikit-image/scikit-image/tree/master/doc/source/themes/scikit-image (`layout.html`). I think it's better to have some previous experience with sphinx or web development to work on this issue.

[2020-07-11 17:26] lagru commented on #4488
@mingxiang1006 If you want to work on this, a good starting point might be the [Jinja documentation](https://jinja.palletsprojects.com/en/2.11.x/templates/) which is the templating syntax used in `layout.html`.  Feel free to reach out if you have any questions!

[2020-07-11 17:31] cedarfall commented on #4514
I would like to take this for the sprint!

[2020-07-11 17:33] emmanuelle commented on #4514
Great! If you're not there already, we're chatting on zulip https://skimage.zulipchat.com/#narrow/shatream/176555-sprint if you need rapid feedback about anything.

[2020-07-11 17:37] emmanuelle opened #4836 "pyiodide compatibility"
See the issue in pyiodide https://github.com/iodide-project/pyodide/issues/253. It's a very interesting project and it'd be worth giving it a try.

[2020-07-11 17:37] wwymak commented on #4534
just to note that I am working on this.

[2020-07-11 17:47] rth commented on #4836
Thanks for opening this issue! Assuming scikit-image only uses Cython and that openmp can be disabled, I think it should be not too difficult to add scikit-image to pyodide.

As an example the setup for scikit-learn is here https://github.com/iodide-project/pyodide/blob/master/packages/scikit-learn/meta.yaml and it should be somewhat comparable I think.

[2020-07-11 18:03] grlee77 commented on #4454
I addressed most of the warnings in my previous comment in #4834 and #4837 (just the `RuntimeWarning` ones left to look into)

[2020-07-11 19:25] #4811 closed

[2020-07-11 19:47] grlee77 commented on #4835
The `ellipse` shape was fairly recently added. Please make sure that you have scikit-image >= 0.17.0

[2020-07-11 19:49] grlee77 commented on #4835
I assume you saw the 'ellipse' option listed in the [online docs](https://scikit-image.org/docs/stable/)? (Those default to the most recent release, but you can select to see documentation for older versions from the dropdown menu under the search field at the left of the screen)

[2020-07-11 20:07] emmanuelle commented on #4813
Ming is working on this issue at the sprint.

[2020-07-11 22:27] abuchmueller commented on #4835
Thank you. Updating scikit-image to 17.2 resolved this issue.

[2020-07-11 22:27] #4835 closed

[2020-07-12 02:36] hubutui opened #4842 "[doc] width and height order"
According to the [doc](https://scikit-image.org/docs/stable/user_guide/numpy_images.html#numpy), image in `scikit-image` is represent as a numpy array in shape of `(rows, cols)` or `(rows, cols, channel)`, aka `(height, width)` or `(height, width, channels)`. However, [quickshift doc](https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/_quickshift.py#L20 says `(width, hei

[2020-07-12 07:45] #4514 closed

[2020-07-12 08:48] jvkersch commented on #4805
Based on @jni's comments above, I wrote a small GitHub Actions to build and deploy the docs on master merge (or direct commit to master, which I imagine is rare). In fact, I looked at the Napari Github Actions for inspiration :)

I did not make a PR against scikit-image yet, but you can see a proof of concept in action here:

- https://github.com/jvkersch/doc-builder-action/blob/master/.github/wor

[2020-07-12 08:54] jni commented on #4805
@jvkersch actually the immunohistochemical staining [on *our* master](https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_ihc_color_separation.html) is very blue! 😬 I know there was a PR that updated these functions recently... @alexdesiqueira I know you are going to hate me pinging you on this but you are the expert now... 😬

Other than that, for me this looks super great, @jvkers

[2020-07-12 09:34] jvkersch commented on #4805
Thanks @jni!

My (basic) understanding of secrets is that you as the repo admin configure them in the GitHub settings for the repo. Github then does some black magic and passes them on to your workflow in encrypted form, and decrypts them for the steps that explicitly request a secret via `${{ secrets.MY_SECRET }}`. I also read https://docs.github.com/en/actions/configuring-and-managing-workflows/

[2020-07-12 19:22] clementkng commented on #4537
@emmanuelle I put out a small PR for point 3. I believe the `feature_angle`, based on the papers I've read so far, is a user attribute that defines what dihedral angle between two triangles is considered steep, and thus a feature edge. A feature edge is then used to classify vertices in the categories specified in the paper you linked above 😄

[2020-07-13 08:46] FirefoxMetzger commented on #3538
Top-hat plus disk produces very similar results to the "rolling-ball" method because it IS 95% identical. In the original paper ([source](https://ieeexplore.ieee.org/document/1654163) p.29f) the author essentially provides the formulas for (grayscale) image opening and then uses multiple structural elements. The best clue is the last equation in p.30, which is identical to the definition of image

[2020-07-13 08:57] rth commented on #4836
Thanks for investigating this issue @chigozienri! Regarding the OpenMP error, the issue is that as far as I understand scikit-image will try optionally build with OpenMP ([here](https://github.com/scikit-image/scikit-image/blob/967886138a28727f954048b8a8ce1c295d857476/setup.py#L66)). In the context of pyodide this wouldn't work, because,
 - it would do a first compilation pass with gcc on the host

[2020-07-13 09:20] GenevieveBuckley commented on #3384
I've opened a PR over at scikit-image/data on GitLab

[2020-07-13 10:09] thawn commented on #3538
@FirefoxMetzger thanks a lot for this detailed analysis. I fully agree with your considerations.

Concerning the quantification of blots: I am a biochemist and I usually use the [gel quantification tool of ImageJ](https://lukemiller.org/index.php/2010/11/analyzing-gels-and-western-blots-with-image-j/) (and most other programs work similarly). In that case, background is subtracted manually by draw

[2020-07-13 10:46] stefanv commented on #3538
This issue seems ripe for a PR; if anyone here has time to turn it into one, that would be greatly appreciated!  Either way, the discussion has been illuminating, thank you.

[2020-07-13 13:13] FirefoxMetzger commented on #3538
@thawn I checked the procedure in the link; indeed, a disk subtraction will be more similar to what is proposed in figure 7. A ball will "flatten" the peak by the amount by which the ball segment intrudes said peak.

@stefanv I won't have time today but should have some spare time tomorrow after work. Where would the code go? I'll then go and read up on the relevant contribution guidelines.

[2020-07-13 15:11] dstansby opened #4848 "Numpy deprecation warning in convert_to_float()"
## Description

In sunpy tests we are seeing warnings that look like
[code]

It looks like these are caused by `scikit-image`, more specifically by `skimage.util.dtype.convert_to_float()`. I cannot reproduce running a simple example however:

## Way to reproduce
[code]
This should emit a warning, but it doesn't... is this because skimage does something funky with collecting and not emitting certai

[2020-07-13 15:24] dstansby commented on #4848
Just had a look around a bit more and this seems to be fixed by #4731, sorry for the noise!

[2020-07-13 15:24] #4848 closed

[2020-07-14 09:04] #4817 closed

[2020-07-14 15:14] alexdesiqueira commented on #4486
# 2020/07/06 - 2020/07/14

Lots of work this week due to our SciPy 2020 sprint. Again, we'd like to thank everyone for your time, discussions and contributions!

## new pull requests open last week
#4847 [WIP] Adding @eldad-a's ridge directed ring detector
#4846 DOC: Add a link to Mayavi example for mesh decimation
#4845 DOC: Autoformat docstrings in io.*.py
#4844 fix the issue where ransac fails

[2020-07-16 12:48] bio43 commented on #4836
Hi @rth @chigozienri ,
I'm very interested in this feature. Do you have an open PR or is there any way I can help contribute to @rth 's suggested fix.
Thanks!

[2020-07-17 08:18] FirefoxMetzger commented on #3538
Since I didn't get any specs as to where to implement the rolling-ball method, I added a PR that provides it as an example.

Note that simply replacing `disk` with `ball` did not work, as 3D structuring elements aren't supported with 2D images. I manually implemented the rolling ball filter. I also added the disk version discussed in this issue for comparison. It would be useful if somebody could

[2020-07-19 12:38] emmanuelle opened #4854 "CI fails with PYTHONOPTIMIZE >= 1 due to matplotlib code using docstring"
See for example https://travis-ci.org/github/scikit-image/scikit-image/jobs/709661625  and the issue https://github.com/matplotlib/matplotlib/issues/17970 which I opened in matplotlib. Note that maybe the problem existed already with the release candidate of matplotlib but because of the structure of our Travis builds (we have a first block of builds, the second block is executed only if all the b

[2020-07-19 16:18] #4534 closed

[2020-07-19 22:28] emmanuelle commented on #4486
# 2020/7/13 - 2020/7/20

It was the week just after the scipy sprint, so quite a lot of activity. #4844, #4847, #4850, #4852 and #4853 are open PRs resulting from the sprint, so let's keep an eye on them (I think #4844 and #4852 can be merged quite soon). #4850 needs a review (3D tutorial).

Our CI is currently broken due to a matplotlib bug with PYTHONOPTIMIZE=2 (see #4854).

There have been inte

[2020-07-20 13:02] jni opened #4855 "Proposal: speed up regionprops region finding"
## Description

regionprops uses scipy.ndimage.find_objects to grab the bounding boxes of each object. This speeds up the downstream region computations because an object is typically much smaller than the full image. However, this doesn't always hold true — for example, neuron segments are filament-shaped and often span the whole volume. Instead, we should be able in a single pass to store the in

[2020-07-22 09:02] Keep-Passion opened #4856 "Problem in variation of infromation, should we ignore 0 in pred?"
## Description
I found there are problem in the calculation of variation of information.
I found that the codes of vi in skimage and cremi are also based on gala's code.
*gala: https://github.com/janelia-flyem/gala/blob/master/gala/evaluate.py
*cremi: https://github.com/cremi/cremi_python/blob/master/cremi/evaluation/voi.py
But there is a tiny question: Where and why to ignore 0 in VI?
If I don't

[2020-07-22 09:18] jni commented on #4856
For background, @Keep-Passion first raised the issue in the gala repo here: https://github.com/janelia-flyem/gala/issues/96

I think that the default values (ignore nothing) are good for skimage, but the different result in scenario 3 in the screenshot is concerning, and from my calculations the 2/3 value is correct, so this is probably a bug in our implementation.

[2020-07-22 18:42] matthewrozak opened #4858 "Proposal: new feature for morphology.skeletonize"
## Description

morphology.skeletonize utilises the same iterative thinning method, developed by Lee et al., as bwskel in matlab. The matlab implementation features a minimal branch length for each branch on the skeleton which is not present in the morphology implementation. Adding this ability would help in reducing false positives when skeletonizing binary masks in python.

[2020-07-23 06:31] JDWarner commented on #4858
This sounds like a good addition, assuming the algorithm and its implementation are unencumbered by patents and done in a cleanroom re: the MathWorks implementation.

[2020-07-24 06:49] sciunto commented on #3538
Why not adding the function to the library? Here, users will have to copy paste a code... which is not very nice.

[2020-07-24 06:56] stefanv commented on #3538
Yes, let's include it: this is a well known algorithm and clearly in demand.

[2020-07-24 08:54] FirefoxMetzger commented on #3538
Sure, I can move the function into the core library in the current PR. Would `skimage.segmentation` be the correct place for it?

I initially just added an example, because the implementation turns out to be rather slow, but it is conceptually quite interesting. Here is a screenshot of a quick profile of the current implementation in the PR (https://github.com/FirefoxMetzger/scikit-image/commit/e9

[2020-07-24 09:51] VolkerH commented on #3538
Maybe in  `morpholgy` as it is mainly made up of morphological functions?
The other suggestion would be to have a more generic function `subtract_background` or `estimate_background` with a `method` argument that would default to `"rolling_ball"` just in case someone contributes other background estimates later on.

Anyway, just my 2c, the core team members should have a better overview.

[2020-07-24 09:53] stefanv commented on #3538
I'd say morphology and call it rolling ball. Once we have more methods, we can improve the API to incorporate those.

I don't feel strongly about naming, though.

[2020-07-28 00:54] jni opened #4860 "Pillow security alert"
## Description

Github just gave us a notice that Pillow versions earlier than 7.1.0 have a security vulnerability involving out of bounds reads. See https://github.com/scikit-image/scikit-image/network/alert/requirements/default.txt/Pillow/open for details.

Question: do we want to bump up our dependency to something as recent as 7.1.2, or do we leave this as a "user beware" type of situation?

[2020-07-28 05:54] sciunto commented on #4860
I propose to fix.

[2020-07-28 08:56] rfezzani commented on #4856
I tend to agree with the `skimage` "ignore nothing" behavior and I am not sure to qualify this is a bug: actual implementation considers all the labels equivalently and doesn't assume 0 is background (even if it is reasonable to do so).
Should we assume anything about function's input? Maybe a simple side note in the doc can do the job here...

[2020-07-28 15:44] alexdesiqueira commented on #4486
# 2020/7/20 - 2020/7/27

This week we merged the great 3D AHE example and some documentation on how to contribute with a gallery example. Thanks @m-albert @mkcor!

## new pull requests open last week
#4861 Update min req for pillow due to CVE-2020-10379 and co.
#4859 WIP Restandardize handling of Multi-Image files (rebased #2815)
#4857 Document how to contribute a gallery example.

## closed pull

[2020-07-29 00:54] clementkng commented on #4537
@emmanuelle I'm trying to understand the current output of marching cubes (so I can modify it when I introduce mesh decimation). I realize when I output the mesh for a simple ellipsoid ie `ellipsoid(1, 1, 1, levelset=True)` , the outputed vertices are not unique, but the [documentation](https://github.com/scikit-image/scikit-image/blob/ebb53a67f255129c796b21138d248b398199e108/skimage/measure/_marc

[2020-07-29 06:59] Abishek-V opened #4864 "ImportError : cannot import name '_convert' from 'skimage.util.dtype'"
## Description
 **ERROR : cannot import name '_convert' from 'skimage.util.dtype'**

## Version information
scikit-image version is (**0.17.2**)
numpy version is (**1.19.1**)

## CODE
[code]

## ERROR
[code]

[2020-07-29 18:00] stefanv commented on #4860
Agreed, let's bump.

[2020-07-29 19:30] rubywerman commented on #4813
Mentioned this idea in the PR listed above ^ but will put here for the sake of discussion. Could it be beneficial to have two default values, (max - min) / 2 and median, depending on whether it's a binary or float array?

[2020-07-29 20:25] emmanuelle opened #4865 "Why is morphology.convex_hull_object 2D only?"
Currently calling `morphology.convex_hull_object ` on a 3D binary image fails because of a specific 2D check but when this part is commented out, the function returns something which looked reasonable to me from a quick test. `morphology.convex_hull_image` is compatible with 3D images.

[2020-07-29 20:36] emmanuelle opened #4866 "Speed up morphology.convex_hull_object using ndimage.bounding_box"
In `morphology.convex_hull_object`, for each label `morphology.convex_hull_image` is called for an image of the same shape as the original image. For small objects, it would be faster (I think, to be checked) to pass an image corresponding to the bounding box of the object. It is likely that for large objects computing the bounding box and passing a non contiguous array would instead result in a p

[2020-07-29 20:42] emmanuelle commented on #4866
See also the discussion in #4855

[2020-07-29 21:33] emmanuelle opened #4868 "More default values for parameters"
A large fraction of functions in our API are of the form `func(img, **kwarg)` where `img` is the only positional argument.

I started this issue to list functions which have positional arguments not corresponding to image arrays, and for which it would be possible to add a default value to help users get started.

- `restoration.denoise_tv_bregman`: `weight` parameter. A value of 1.0 should be a r

[2020-07-30 03:26] clementkng commented on #4537
Actually, I realize the duplicate vertices were appearing because I wasn't setting the `allow_degenerate` argument of the `marching_cubes` algorithm to `False`. This was allowing zero-area triangles through, which looked like duplicate vertices.

[2020-07-30 04:48] sciunto commented on #4813
I find this disturbing.

[2020-07-30 06:20] jni commented on #4813
Disturbing seems a bit strong! 😂

Another suggestion, in light of Emma's comments: the "robust" min and max would be `np.quantile(image, (0.005, 0.995))`, for example. Perhaps that can be the default?

[2020-07-30 06:46] jni commented on #4537
@clementkng well spotted! A fix in the documentation would be very much appreciated!

[2020-07-30 06:54] jni commented on #4866
I actually find this *un*likely. I wouldn't worry about `mode` unless this performance loss can be demonstrated.

[2020-07-30 06:56] jni commented on #4865
Needless to say, I support removing this check! I imagine it dates from the time when `convex_hull_image` was *not* compatible with 3D images.

[2020-07-30 07:03] sciunto opened #4869 "`image` description in docstring: towards uniformity?"
## Description

I greped the descriptions of our `image` parameters ( `ggrep 'image : ' | sed 's/.*: ...//' | uniq` )and the list reflects the variety

[code]
We might have places where exceptions are needed, but otherwise, this looks fairly inconsistent. Do we have / can we decide a policy on this?

xref https://github.com/scikit-image/scikit-image/issues/4407

[2020-07-30 07:12] jni commented on #4869
@sciunto AWESOME work. =D But you should sort and then uniq... ;)

I agree that it would be absolutely fantastic to bring this down to some very small number — the biggest difference is whether it's 2D, 2D/3D, or nD, and whether it's grayscale only or allows multichannel. That does not give as many options as listed above 😂

[2020-07-30 07:17] sciunto commented on #4869
I tried to find this feature in man uniq. My bad... of course sort does the thing :) Thanks, list updated.

[2020-07-30 07:20] sciunto commented on #4869
PS: my favorite one `array of arbitrary type` :)

[2020-07-30 07:52] jni commented on #4869
This is just a gold mine. My favourite is:

[code]

... 🤦

[2020-07-30 08:03] jni commented on #4869
My suggestions:

[code]

The shapes are there when they restrict the number of dimensions, or when they are used for pattern matching in the documentation, for example, in `util.view_as_windows`.

Discussion questions:

- Do we want to specify dtypes? If so, I would append: `, numeric`, `, float`, `, uint8`, `integer`, ... to the end of the above strings, where required.
- Do we want to differenti

[2020-07-30 08:37] rfezzani commented on #4869
xref #4407 :)

[2020-07-30 10:40] emmanuelle commented on #4869
Thanks for this @sciunto! A pass through docstrings can be done when adding type annotations (see #4794) so this is a good timing to discuss this issue.

[2020-07-30 11:20] sciunto commented on #4869
You're right. It crossed my mind too.

[2020-07-31 02:22] jni commented on #4856
@rfezzani the issue is not with our default behaviour, it is that we offer the *option* to ignore particular labels — and it seems we do the wrong thing when the user passes that parameter. See the third group of measurements in the screenshot provided by @Keep-Passion.

[2020-07-31 02:57] Keep-Passion commented on #4856
The implementation of VI in GALA and skimage is not exactly same. Then there are different outputs when i feed same input for skimage and gala.
[code]
So that, we think there may be a bug about the calculation of VI in skimage when ignore_labels=(0, )

[2020-07-31 06:36] clementkng commented on #4537
@jni Sounds good, I made a PR [here](https://github.com/scikit-image/scikit-image/pull/4872)! 😄

[2020-07-31 06:58] saskra commented on #3757
Is there any estimate when this could be fixed?

[2020-07-31 07:15] sciunto commented on #3757
When someone will provide a solution to it :) So far, it seems to be that we couldn't find any correct way of fixing it. If you want to investigate and propose something, we will be happy to discuss it with you.

[2020-07-31 07:21] rfezzani commented on #4856
:facepalm: Now I see! Sorry...

[2020-07-31 08:41] neverUseThisName opened #4874 "orientation property in region seems correct for 0.15.0. but not for 0.16.0 onward"
## Description
I started with 0.15.0. My task was to get object orientation. The value was 0.69. It was allright to me.
But then I switched to 0.16.0. With the same code, the orientation value became -0.87 and no longer seemed correct.
Tested with 0.17.2, it was the same with 0.16.0.

## Way to reproduce
[code]
My image:
![2](https://user-images.githubusercontent.com/36028079/89016925-1ca87a00-d34

[2020-07-31 09:07] #4874 closed

[2020-07-31 10:10] sciunto commented on #4842
Is it the use of plural on channels that bugs you?

[2020-07-31 11:02] emmanuelle opened #4876 "Terminology: n_jobs vs num_workers vs ncpu etc."
Since we aim at accelerating some of our functions, one way to do this is to use parallel computing. We already have one function (`restoration.cycle_spin`) which is using `dask.delayed` and several threads, there is also the attempt to parallelize `segmentation.slic` in #3120 which I plan to revive, and probably other functions will have in the future the possibility to use one or more jobs/worke

[2020-07-31 17:55] stefanv commented on #4814
Thanks for figuring out the fix for this!

[2020-07-31 19:36] grlee77 commented on #4876
I hate to say it, but there is a third contender: `workers`:

SciPy tends to use just `workers` rather than `num_workers` (e.g. in [scipy.fft functions](https://docs.scipy.org/doc/scipy/reference/generated/scipy.fft.fftn.html#scipy.fft.fftn), [differential_evolution](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.differential_evolution.html#scipy-optimize-differential-evolutio

[2020-07-31 19:38] grlee77 commented on #4876
I think I actually like just `workers` the best, but don't have a problem with any of the three as long as we use it consistently within scikit-image!

[2020-07-31 20:38] grlee77 commented on #4831
Stage 1 of the 3D implementation was completed during the sprint in #4841.

@coreysharris, You had previously [indicated additional progress](https://skimage.zulipchat.com/#narrow/stream/176555-sprint/topic/structure-tensor). Is it mainly a need for test cases that is still pending?

I just wanted to check in. Feel free to open a work-in-progress PR (start the PR title with WIP: ), even if you don

[2020-07-31 21:34] grlee77 commented on #4489
+1 for the proposed dictionary-based output for `haar_like_feature_coord`

[2020-08-01 09:58] FirefoxMetzger commented on #3538
After cython-izing the rolling_ball algorithm in https://github.com/scikit-image/scikit-image/pull/4851 I added a snippet to the gallery example to attempt to show how much faster the rolling_disk approximation is. Surprisingly, it doesn't seem to be much faster; quite the opposite actually.

![image](https://user-images.githubusercontent.com/4402489/89099163-92185700-d3ed-11ea-8bae-0123d4b2712d.p

[2020-08-01 15:56] emmanuelle commented on #4876
Right, `workers` also makes sense of course. And it's more a question of workers rather than jobs, so for the sake of clarity I'd prefer either `workers` or `num_workers` (not proposing `n_workers` which would be a really good name, but we don't want to multiply the number of names in the ecosystem).

So, who is for `workers` and who is for `num_workers`?

[2020-08-01 20:09] grlee77 commented on #3248
Closing as it looks like this issue has since been fixed:

https://github.com/scikit-image/scikit-image/blob/24dfff0ab8cfc7cd98dbd40c2ebdd1c9d193d100/skimage/registration/_phase_cross_correlation.py#L244-L246

[2020-08-01 20:09] #3248 closed

[2020-08-01 20:13] grlee77 commented on #3387
Was this issue resolved by #3254?

[2020-08-01 20:26] hmaarrfk commented on #3387
I think so.

[2020-08-01 20:31] grlee77 commented on #3407
Closing as mostly done in #4568 and I no longer think the remaining refactor for item 3. above is desirable. The current implementation makes it easier to deal with varying noise across channels, while the refactored version would always use the same value for all channels unless further refactoring was done.

[2020-08-01 20:31] #3407 closed

[2020-08-01 20:36] grlee77 commented on #3567
closed as stale and with lack of details to reproduce

[2020-08-01 20:36] #3567 closed

[2020-08-01 20:42] grlee77 commented on #3667
I am closing this as these warnings are no longer present.

[2020-08-01 20:42] #3667 closed

[2020-08-01 20:55] grlee77 commented on #3786
Closing this as stale. Anaconda defaults does have 0.14.2 now (as well as 0.15.0 and 0.16.2)

[2020-08-01 20:55] #3786 closed

[2020-08-01 20:56] grlee77 commented on #3927
should we go ahead and close this, then or did you want to await final confirmation?

[2020-08-01 21:01] hmaarrfk commented on #3786
Thanks for following up

[2020-08-01 21:20] grlee77 commented on #4836
@rth, I think using an environment to optionally disable OpenMP would be an easy solution on our end. Perhaps modifying the top of `ConditionalOpenMP` as:

[code]

[2020-08-02 01:55] grlee77 commented on #4083
One way to accelerate the existing function in SciPy 1.4+ (at least for cases where FFT-based convolution get selected) is to enable multi-threaded FFTs in SciPy):

Here is a concrete example:

[code]

## Result
[code]

Generally one should probably use the single-thread FFT to avoid over-subscribing threads when using `apply_parallel`. However, I did see a minor benefit to allowing 2 threads for

[2020-08-02 01:59] grlee77 commented on #4083
If the internal code of `richardson_lucy` is modified slightly to avoid making copies of the input arrays and to preserve single-precision floats, then I get the following times for float32 inputs:

[code]
So, approximately a factor of two faster for `float32` vs. `float64` operation. I was a little surprised it made that much of a difference.

[2020-08-02 02:11] grlee77 commented on #4083
One other redundant computation being done is the forward FFT of the PSF arrays is being repeated at every iteration within the convolve function.  Specifically, in Scipy's code:

https://github.com/scipy/scipy/blob/5e6afeef48d9ec2d0dd7baaa3108545b999039ed/scipy/signal/signaltools.py#L501-L504

The input to the second FFT is the PSF which does not change across iterations, so we shouldn't have to

[2020-08-02 05:17] stefanv commented on #3927
As far as I am concerned, we have permission to continue as we are, and can do so until a new license is released.

[2020-08-02 09:53] chigozienri commented on #4836
@bio43

https://github.com/iodide-project/pyodide/pull/733
Here's a WIP PR that implements @rth's suggested fix, but skimage doesn't build yet (the dependencies do, though)

[2020-08-02 11:05] carandraug commented on #3927
Can you clarify, please, under what rights are you releasing this image? As downstream, under what conditions can I redistribute this image?

[2020-08-02 12:33] emmanuelle commented on #4083
Thanks @grlee77 this is very interesting. I tried your script on my machine and the results are a bit different
[code]
so on my laptop (Intel i7-8650U CPU @ 1.90GHz, 4 cores, 8 threads) the most efficient option is to `apply_parallel` alone.

[2020-08-02 20:41] stefanv commented on #3927
@carandraug Yes, it's somewhat of a mystery, isn't it.  We know it is an open license, likely CC, but the particulars are unknown at this point in time.  We know that our users will not be exposed to risk by using this image but, technically, we should remove it until we get MIT's specifics on the CC license—but that incurs discomfort for little gain.

In the interim, how about we add a notice to

[2020-08-02 23:28] carandraug commented on #3927
Do we know that? The last message I got from them was also from Peter Berbegal on 15th of August was:

which is not an open license.

Also, I don't understand how MIT can tell us they have sufficient rights to release the image and at the same time it doesn't release the image after one year. They either know who the copyright holders are, in which case this could be solved easily, or they don't k

[2020-08-02 23:31] stefanv commented on #3927
I've pinged MIT; let's see.  If I don't get a definitive response, we'll remove the image.

[2020-08-03 04:45] rdinner opened #4883 "skimage.segmentation.slic crashes when passed NaNs"
## Description

When the image array passed to skimage.segmentation.slic() is a float array containing NaNs, the routine frequently crashes (most of the time, in my case). In Spyder, this causes a silent failure, with the print statement below failing to execute and the environment being reset. I've observed this behavior under both Windows and Linux.

## Way to reproduce
[code]

## Version inform

[2020-08-03 08:24] jni opened #4884 "Incorrect deprecation message for `draw.circle`"
## Description

`draw.circle` is deprecated in favour of `draw.disk`. But the deprecation warning says that it's deprecated in favour of `disk.circle`! 🤦 Oops!

## Way to reproduce

[code]

gives

[code]

## Version information

[code]

[2020-08-03 14:36] coreysharris commented on #4831
@grlee77, sorry for the delay on this. Life gets in the way 😄

I have written test cases. They could maybe use some work, but I'm happy to open a WIP PR to get some visibility. I'll try to get it done in the next couple days.

[2020-08-04 02:13] grlee77 commented on #4083
Hi Emma, I see from your output, that I accidentally pasted two copies of the last case with only the printout name changed! I will edit the comment above to remove the redundant case.

I ran the benchmarks on a (Intel i9-7900X CPU @ 3.30GHz,  10-core, 20 thread CPU), so that probably explains the difference.

For referece, the `cupyimg` implementation gives (using an NVIDIA GTX-1080 Ti):
[code]

[2020-08-04 05:42] #4805 closed

[2020-08-04 06:41] hubutui commented on #4842
@sciunto Sorry for my typo, check my updated question. I mean the mismatching of `width` & `height` order.

[2020-08-04 06:59] jshcht opened #4885 "Differences between random_noise and numpy.random.possion"
Thank your for providing such a great package. I wonder what is the differences between `skimage.random_noise and `numpy.random.possion`. I read the code but I still didn't figure out the purpose of calculating the unique values in the image.

[2020-08-04 08:31] jni commented on #4842
Yes, it should be (height, width), but more generally, (M, N). See #4869 for more. @hubutui do you think it would be ok if we close this issue as superseded by #4869, and continue further discussion there?

[2020-08-04 08:34] jni commented on #4885
@jshcht what exactly is confusing? `random_noise` can provide many different types of noise, *and apply them to an image*, while `np.random.poisson` will generate random, Poisson-distributed numbers, but it is up to you to apply them to an image.

[2020-08-04 09:11] jni commented on #4883
Thanks @rdinner for raising this! Seems like a serious bug. We'll investigate solutions.

[2020-08-04 09:14] jni commented on #4883
@stefanv @hmaarrfk we've generally held off from

- automatically checking for nan's because it can be expensive. This would be even more of a concern with SLIC because one of the things it's known for is its speed.
- adding `nansafe=` or similar to the API because it would clutter an already cluttered API.

In this case, it's unclear what to do, then! One idea is to check whether any reduced repr

[2020-08-04 10:11] #4842 closed

[2020-08-04 12:14] jshcht commented on #4885
Sorry for not expressing my question clearly. I mean what's the difference of the two functions when applying Poisson noise to images. They seem to give different results.

[2020-08-04 14:38] #4856 closed

[2020-08-04 15:28] rdinner commented on #4883
Thanks @jni ! A nansafe option would be nice. But even without modifying the code, documenting that the input image needs to be nan-free or that nans must be masked out (by adding a note to the docstring "image" parameter) would help others avoid this issue. Thank you!

[2020-08-04 15:43] jni commented on #4885
Could you share some code with us demonstrating the different results?

[2020-08-05 07:28] clementkng commented on #4537
I notice that the VTK implementation is able to take advantage of certain classes that represent geometric objects, such as [vtkPolyData](https://vtk.org/doc/nightly/html/classvtkPolyData.html) to represent meshes. These classes are helpful because it's hard to do certain operations like iterating over all the neighboring vertices of a particular vertex given the current data setup for the results

[2020-08-05 07:30] sciunto commented on #3384
@scikit-image/core Who has the rights on gitlab? This PR is pending: https://gitlab.com/scikit-image/data/-/merge_requests/6

[2020-08-05 07:59] emmanuelle commented on #3384
Thanks for the reminder @sciunto! For now it's Juan, Stéfan and me but we should add all the core devs who have an account on gitlab, so please ping me here or on zulip to give me your gitlab handle so that I can add you.

[2020-08-05 08:25] emmanuelle commented on #3384
@GenevieveBuckley I just commented in the gitlab PR (just one quick question). The images are gorgeous :-). Now we'll need tutorials using these beautiful images :-). Could you please explain what's to be seen in the images and what kind of image processing would typically be done on such images?

[2020-08-05 10:37] jni opened #4887 "Incorrect documentation for skimage.util.img_as_int"
## Description

`skimage.util.img_as_int`(16) converts to signed int16, but the return type is annotated as uint16 in the docstring.

[2020-08-05 11:10] Yogendra0Sharma commented on #4887
@jni can I work on this issue?

[2020-08-05 13:02] emmanuelle commented on #4887
@Yogendra0Sharma yes please!

[2020-08-05 13:10] emmanuelle commented on #4537
@clementkng in addition to having a list of neighbors for each vertex, are there other structures which you would need? I'm not sure if such data structures already exist, but if yes, it could be in `scipy.spatial`.

Edit: a Github search "vertex neighbor" in the list of issues of the scipy repo directed me to https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.Delaunay.vertex_neigh

[2020-08-05 15:50] sciunto opened #4889 "Add a note in our documentation/on website saying that we have a gitlab repo"
## Description

It seems that we do not have any reference to our gitlab repository. This page https://gitlab.com/scikit-image must appear in our documentation, I guess the one for dev and contributors. We must say that images must be submitted to this repository.

[2020-08-05 18:21] grlee77 commented on #4537
A pure Python mesh library I had seen a couple of other projects using recently is [trimesh](https://trimsh.org/). A key feature is that NumPy is its only hard dependency, but it seems they do not yet offer mesh decimation (It is in their [enhancements wishlist](https://github.com/mikedh/trimesh/issues/199)).
I also like that they give an example of [how to view meshes from a Jupyter notebook](htt

[2020-08-05 18:56] grlee77 commented on #3384
@emmanuelle: I am also grlee77 on gitlab

[2020-08-05 23:14] #4887 closed

[2020-08-06 01:21] jni opened #4890 "Sporadic pooch failures in CI"
## Description

Sometimes, the hash of the downloaded files doesn't match the expected hash, see e.g.

https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=3987&view=logs&j=bc76316b-1dff-5b05-0ff1-0b85ce9c0f8b&t=dc06b1ce-f667-542e-9f00-54b6784edf0a&l=6713

Other builds in the same group passed fine, so I don't think that this is an issue with the data. Rather, it seems pooch does

[2020-08-06 03:28] clementkng commented on #4537
@emmanuelle I think the Delaunay triangulation will not work, because it describes a different type of triangulation than the method we would use to close up a hole for mesh decimation. From what I can tell, the Delaunay triangulation predefines a triangulation so that inputted vertices become a mesh, preventing us from feeding edges in.

@grlee77 Would we be able to use those libraries within sci

[2020-08-06 04:44] sciunto commented on #4884
I think it was supposed to say "circle is deprecated in favor of disk. circle will be removed in version 0.19"

[2020-08-06 04:46] grlee77 commented on #4537
No, not for blender or VTK, but `trimesh` seemed like a reasonable optional dependency given that it is pretty lightweight if it had useful functionality. I don't normally work with meshes, so I'm probably not the best one to decide...

[2020-08-06 07:55] #4813 closed

[2020-08-06 10:59] bilderbuchi commented on #4822
Related/dupe of #4848? does #4731 fix the issue?

[2020-08-06 13:23] FirefoxMetzger opened #4894 "Algorithm to remove padding / find largest valid sub-image given a mask"
I came across a question on SO today and had to think about this library: [Detect and remove zero padding within an image array?](https://stackoverflow.com/questions/63238218/detect-and-remove-zero-padding-within-an-image-array)

The general version of the question is: I have an image and a (binary) mask for that image. I would like to find the largest rectangle that only contains pixels that are

[2020-08-06 13:29] emmanuelle commented on #4894
Hi, it the same as computing the bounding box of the mask? Like the bounding box we return in `measure.regionprops`?

[2020-08-06 13:50] FirefoxMetzger commented on #4894
Very related, but not quite. The bounding box is the scenario where the object is contained inside the sub-image/rectangle. This is the opposite idea, where the sub-image/rectangle is fully contained within the object.

[2020-08-07 00:10] GenevieveBuckley commented on #3384
Not so gorgeous, if you look at the clipping of the histogram at both the top and bottom of the histograms! I took them when I was learning to use the inverted Nikkon, so the purpose was not really about the quality of the images. But since I own those images outright I can donate them here, whereas most other stuff I work on requires other people's permission to share.

I'll put tutorials on my t

[2020-08-07 01:15] jshcht commented on #4885
The code is as follows:
`import numpy as np
from skimage.util import random_noise
import matplotlib.pyplot as plt

a = np.random.randn(50,50)
im = 1000*(a - a.min())
im1 = np.random.poisson(im)
im2 = random_noise(im,mode='poisson',clip=False)

fig,ax = plt.subplots(figsize=(16,4.2),nrows=1,ncols=3)
l1 = ax[0].imshow(im1)
l2 = ax[1].imshow(im2)
l3 = ax[2].imshow(im2-im1)
fig.colorbar(l1,ax=ax[0])
f

[2020-08-07 05:22] sciunto commented on #3384
no pressure! thank you @GenevieveBuckley !

[2020-08-07 05:27] Zudav opened #4895 "Reversed values in entropy example"
Hi everyone

I'm rather new to image analysis and stumbled upon the [entropy example](https://scikit-image.org/docs/stable/auto_examples/filters/plot_entropy.html#sphx-glr-auto-examples-filters-plot-entropy-py) in the gallery. In the text, the first example is described as follows:

The image looks as follows:
![Entropy object detection](https://scikit-image.org/docs/stable/_images/sphx_glr_plot_e

[2020-08-07 13:03] emmanuelle commented on #3384
Thanks @GenevieveBuckley ! Great to know that you have ideas of tutorials using these images. @mkcor could be interested in collaborating with you on these tutorials if you think it's a good idea (Marianne has been working on life-science-oriented tutorials thanks to the CZI grant). She is on vacation next week, so no hurry at all.

[2020-08-07 15:23] emmanuelle commented on #4883
I added a "good first issue" label for the task of adding a note in the docstring, which would already be an improvement. A further improvement would be to check if nans can be detected in the centroids as suggested by @jni.

[2020-08-08 08:16] emmanuelle opened #4899 "Update contributing / core dev notes with more information about CI"
At the moment, the only part of our dev notes where CI is mentioned in here https://scikit-image.org/docs/stable/contribute.html#development-process, and only Travis is mentioned. We could:
- mention that there are several CI platforms, and what they are for
- say that it's worth checking if one of the CI checks is red
- but that there might be failures unrelated to the PR.
And in the core dev doc

[2020-08-08 14:52] emmanuelle opened #4900 "IndexError with util.apply_parallel (RGB images)"
I don't really understand the origin of this error. I could only reproduce with RGB images, not with 2D arrays. Does `apply_parallel` only work for 2D images?

## Way to reproduce
[code]

Output
[code]

## Version information
[code]

[code]

[2020-08-08 15:29] #4763 closed

[2020-08-08 21:30] emmanuelle opened #4902 "slic is much slower when using a mask"
[code]
Output
[code]
But
[code]
Output
[code]
The difference is very large! I wonder if it's possible to reduce it.

[2020-08-09 03:29] grlee77 commented on #4902
I looked at #3120 earlier today and did not see an immediate way to speed up the Cython code, but did end up speeding up coming up with a way to accelerate the `_get_mask_centroids` a lot. I will open a PR with what I have to discuss.

[2020-08-09 05:14] sciunto commented on #4895
Thanks for reporting! See #4904

[2020-08-09 05:21] sciunto commented on #4899
definitely!

[2020-08-09 05:40] sciunto commented on #4900
First observation, `_get_chunks` slices the image in all dimensions, which is not expected if you pass a RGB image. It must work on 3D grayscale image though.

[2020-08-09 18:12] henrypinkard commented on #4736
Yep, fixed, thanks!

[2020-08-09 18:12] #4736 closed

[2020-08-10 04:20] sciunto commented on #4486
# 2020/8/3 - 2020/8/10

Nice features of the week. We now have doc builds for PRs by @emmanuelle . A 3D dataset has been contributed this week by @GenevieveBuckley which is extremely valuable. I noted also the nice ongoing contribution #4851 by @FirefoxMetzger on background substraction, which received a lot of comments already and for which we must converge anytime soon.

We also have several PRs

[2020-08-10 12:41] #4889 closed

[2020-08-11 08:30] mkcor commented on #3384
Absolutely! Talk soon.

[2020-08-11 08:32] emmanuelle commented on #4900
Thanks @sciunto. Does it mean that `apply_parallel` cannot be used on RGB images at all? If yes this is a serious flaw which should be either corrected or documented.

[2020-08-11 08:41] sciunto commented on #4900
As far as I understand, yes... I remember I felt on the same issue as you, but for some reason, I forgot to open a ticket :)

[2020-08-11 11:58] #4884 closed

[2020-08-12 08:18] FirefoxMetzger opened #4911 "OpenMP build not supported for MSVC"
## Description

While working on https://github.com/scikit-image/scikit-image/pull/4851 I noticed that I got compiler warnings about the flag `-fopenmp` being unknown and, accordingly, didn't have openMP working. I'm compiling with msvc, so in my case, the flag should be `/openmp`.

I've updated the setup.py to assign the correct flag if the compiler is `msvc`:
https://gist.github.com/FirefoxMetzg

[2020-08-12 08:39] sciunto commented on #4876
Jobbers ? :)

[2020-08-12 08:51] sciunto commented on #4876
To be more serious, `workers` looks sufficient, but `num_workers` is more explicit, I immediately understand that I'm supposed to pass an integer.

About n_* and num_*, we have both in the lib (n_dim, n_bins, n_inliers, n_tiles) and (num_trials, num_shapes, num_peaks, num_channels, ).  A preference must be added to #2616

[2020-08-12 17:49] Dwedit commented on #4270
I was trying to run a python program that depended on this package (https://github.com/movehand/raisr), and got the error `ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyObject`, had to upgrade to Python 3.8, but then it worked.

[2020-08-13 06:24] stefanv commented on #3927
I've just had confirmation that MIT *requires* the NC clause, so I believe we have no option but to remove cameraman from our library.

[2020-08-13 09:23] RonakSharma1 commented on #4883
Hey there, I'm looking for first issues to get involved with as I foray into the world of open-source :)
Is the issue about adding a note in docstring still available? Thanks!

[2020-08-13 09:37] emmanuelle commented on #4883
Hi @RonakSharma1, thank you for your interest in scikit-image! Yes it still available. You can take a look at our contributing guidelines to get started https://scikit-image.org/docs/dev/contribute.html

[2020-08-13 10:59] RonakSharma1 commented on #4883
Hi @emmanuelle , thank you for this! I will have a read through the guidelines now and will let you know if I need any help as I progress.

[2020-08-13 13:05] hmaarrfk commented on #4270
I'm curious why that is a value error. For me this manifests as a warning.

[2020-08-13 21:25] alexdesiqueira opened #4914 "Proposing a substitute for cameraman"
## Description

Hey @scikit-image/core,
I am dealing with #3927 on #4913. We wanted a substitute for cameraman for a while, and I propose this image:

![eagle](https://user-images.githubusercontent.com/5776022/90188433-4dd37200-dd70-11ea-9deb-3a1ac195c49a.png)

@daymachado took it; she's releasing it under CC0.
What do you think? Is it a good substitute?

[2020-08-13 22:14] stefanv opened #4915 "rgb2gray should work on gray image"
Currently, it is very convenient to do:

[code]

Your input image may be color or gray, and will end up gray at the output.

However, in the latest master, this is no longer possible and yields a future deprecation warning:

[code]

That feels like a very strange default: I don't think users typically call rgb2gray on 1D images (2D is a much more common default).

Can we keep the old behavior, or

[2020-08-13 22:21] alexdesiqueira commented on #4914
Its histogram:
![histogram_eagle](https://user-images.githubusercontent.com/5776022/90192854-a27aeb00-dd78-11ea-8f6d-62c247e0f7ca.png)

[2020-08-13 22:25] alexdesiqueira commented on #4876
I'd vote to maintain the consistency throughout the packages: maybe `workers` is the way to go?

[2020-08-13 22:54] stefanv commented on #4914
I like it! Although, perhaps that should become `eagle`, and cameraman should go with depreciation?

[2020-08-13 22:56] matthew-brett commented on #4914
How about http://krvarshney.github.io/kush_varshney.png as suggested in https://twitter.com/stefanvdwalt/status/1136039155119472640

[2020-08-13 23:05] alexdesiqueira commented on #4914
@matthew-brett thank you for remembering that discussion, Matt! That's indeed a nice candidate as well.
How could we proceed, Stéfan?

- Would you like to use @krvarshney's camera (http://krvarshney.github.io/kush_varshney.png) as `camera.png`?
- If yes: how about `eagle`? Would that still be a good fit?

[2020-08-14 04:17] stefanv commented on #4914
@krvarshney's is a good replacement for camera, then we can add eagle separately. Presuming that is an eagle :)

[2020-08-14 06:54] RonakSharma1 commented on #4883
Hey @emmanuelle
Based on my basic understanding, I believe that only the docstring for the following files needs updating. Can you please confirm before I make any changes? Sorry to bother you with such trivial questions.

1. scikit-image/skimage/segmentation/slic_superpixels.py: Update 'image' docstring
![slic_python](https://user-images.githubusercontent.com/34181525/90221975-119d2180-de03-11ea-

[2020-08-14 07:43] tirthajyoti opened #4916 "A short book has been created from your examples"
I have created a short book from many of your examples so that interested folks can navigate through methods in an easy manner.

I am hosting it here: https://tirthajyoti.github.io/Scikit-image-book/Intro.html

Hope this is alright with your team.

[2020-08-14 08:28] FirefoxMetzger commented on #4915
Not sure how important my opinion should be in this discussion, but the suggested change would seem like a *very* opinionated API choice.

I would naively expect `rgb2gray` to - well - take an rgb image `img.shape = [<some dims>, ch=3]` and convert that into a gray image with `gray_img.shape = [<some dims>, 1]`. Potentially with an option `method=<simple|colorimetric|...>` specifying how the conve

[2020-08-14 12:25] hmaarrfk commented on #4915
I think the problem originated for when we tried to ensure that it was compatible with N-D images.

There became no obvious path away from playing the guessing game.

* Did the user provide a 4D grayscale image? If so, pass it through.
* Did the user provide a 4D RGB image with the last 3 dims being RGB? If so, convert to a 3D grayscale image.
* Oh we also treat RGBA images as simply RGB ignoring

[2020-08-14 13:57] pyscorcher commented on #2429
I just want to add that _thin-plate interpolation_ is **not** the same as as using a thin-plate profile as kernel for radial basis function interpolation (i.e. how @ucacaxm proposed)!  A simple way to see this is that when you use `scipy.interpolate.Rbf` it does matter how you the data, but "true" thin-plate interpolation is invariant under scaling! The implementation that @zpincus provided looks

[2020-08-14 17:04] sciunto commented on #4914
I see in @alexdesiqueira image an eagle glaring the cameraman who is imposing a NC usage of himself. :)

[2020-08-14 17:15] alexdesiqueira commented on #4914
We can always name it `eagle_or_hawk` :wink:

[2020-08-14 18:09] stefanv commented on #2429
@pyscorcher Thank you for taking the time to provide this feedback.

[2020-08-14 20:21] stefanv opened #4917 "`hough_line_peaks` does not respect `min_distance` argument"
[code]

Yields:

[code]

/cc @Eskapp

[2020-08-14 21:49] mgmalheiros opened #4918 "Memory corruption in flood_fill"
## Description

When using `flood_fill`, there is a consistent double free error and a dying kernel (as shown in the output from Jupyter) when using a negative row coordinate for the point where the fill starts.

## Way to reproduce

[code]
All commented lines work, except the last one, which consistently triggers the error. The `flood` function also fails likewise with `segmentation.flood(a, (-1,

[2020-08-15 02:17] jni commented on #4915
@stefanv the magical behaviour was a legacy from before we made our value statement that we don't do magic. It was the source of various reports of confusing behaviour — indeed some of those reports probably contributed to the development of our values statement!

Perhaps you would like to propose `any2gray`? Or `ensure_gray`? Or `skimage.explicitly_siloed_magic_functions.rgb2gray`? =)

I'm more o

[2020-08-15 02:28] jni commented on #4916
@tirkarthi thanks for the heads-up!

Our code license is BSD, which means that *it needs to be reproduced in distributed derivative works*. So, what I would appreciate is, in the section "Examples from the scikit-image website", to add (a) a link to the source material, either scikit-image.org directly or the gallery, and explicitly mention, "the code examples are used here under the terms of the

[2020-08-15 02:29] jni commented on #4916
btw we can keep discussing here but I'm going to close this issue, since it's not actually an issue with the library. 🙂

[2020-08-15 02:29] #4916 closed

[2020-08-15 03:14] jni commented on #4914
`or_falcon`!

How about `data.bird_of_prey_of_some_sort`? =P

[2020-08-15 03:20] jni commented on #4914
@alexdesiqueira The more I think about it the more I love that picture. In addition to being beautiful, it seems so great for so many examples — contrast adjustment, circular and line hough transforms, corner detection... Probably multi-otsu thresholding...! So thanks for the nomination!

[2020-08-15 03:39] hmaarrfk commented on #4914
I thought the conclusion from the whole MIT cameraman copyright was that they were OK with us using it. We mostly have to document their emails.

[2020-08-15 06:08] kousu opened #4919 "scikit-image is not installable from source"
## Description

I cannot install skimage from its source tarball on pypi. It fails because numpy.distutils is a build-time dependency, but setup.py does not declare it to be one.

## Way to reproduce
[code]

As a result, only platforms for which a wheel has been pre-built and posted to https://pypi.org/project/scikit-image/#files can use it. Most platforms are covered, but on python3.9 or macOS 10

[2020-08-15 06:17] tirthajyoti commented on #4916
Thanks. I have implemented all the suggestions you made.

[2020-08-15 14:46] 943fansi commented on #4301
At thresholding.py , look def threshold_local(), notice that: return thresh_image - offset.
this means that  It returns a threshold picture.
    you can change to : return image > (thresh_image - offset)
then it will returns a real binary image.
  The version I'm using scikit-image is 0.17.2.

[2020-08-15 16:33] kousu commented on #4919
# Problem

[code]

[code]

# Protoype #1: import scipy's pyproject.toml directly

[code]

[code]

Great, that worked. Now I just need to figure out how to integrate that directly.

[2020-08-15 17:00] stefanv commented on #4915
Sure, any way to address this would be welcome.  But currently, there are many pipelines that do:

[code]

which expect a gray image to come out.  This is a very common use case, and now it has become a lot harder for the person who simply wants to load a directory of color/gray image files into a gray-image array.

I can't even quite figure out the best way... something like:

[code]

I think it'

[2020-08-15 18:51] hmaarrfk commented on #4915
I totally understand the need for an ensuregray function. It is super valuable. But I also understand the need for small functions that do one thing right given the right inputs.

This one is easy to replicate inside one's own library.

@rfezzani thoughts?

[2020-08-15 19:15] stefanv commented on #4915
Easy how? I am not sure what the correct invocation is to advise. And, it would be annoying for users to have to carry along their own libraries for such common functionality.

[2020-08-15 21:23] kousu commented on #4919
:trumpet: got it https://github.com/scikit-image/scikit-image/pull/4920

[2020-08-16 03:03] jni commented on #4918
Yikes! Thank you @mgmalheiros for reporting this!

I think we can manually normalise the input coordinates. There might even be a NumPy function for doing this.

@emmanuelle I think a fix for this should be merged and backported before we release 0.17.3, hopefully this week. =)

[2020-08-16 03:37] hmaarrfk commented on #4915
Sorry for not being clear.

This function is a one liner. When a user (such as myself) finds that scikit-image's magic behavior is not to their liking, they can easily recreate the function to their liking (like I did).

I'm happy to revert to the magic behavior. But maybe the name of the function should be:

[code]

[2020-08-16 04:44] stefanv commented on #4915
Thanks for clarifying, Mark. That naming sounds good to me.

[2020-08-16 07:06] sciunto commented on #4914
Or we give a name. After all, we don't have a cat, we have chelsea. :)

[2020-08-16 09:48] johnphill commented on #1623
Exporting the PNG as 8bpcRGB in Gimp solves the issue. I find this solution to be applicable to many API's that issue errors about "array size mismatch" (because it is supposed to be [width,height,3] but it is either [width,height] or [width,height,4]), or "array not integer". If you replace the image by JPG and the code works, it is an indication that the PNG is not in the correct format, therefo

[2020-08-16 10:19] FirefoxMetzger commented on #4915
`io.imread(fn, as_gray=True)` seems like a good candidate to me, because `imread` knows the color format from the image file's metadata and doesn't have to do any guesswork. It should even be able to pick correctly between `rgb2gray`, `rgba2gray`, ect. I just checked the documentation and apparently it can already do that (?)

Are you thinking about the general case where the image comes from some

[2020-08-16 14:15] emmanuelle commented on #4918
I don't think there is a NumPy function for this, since it's as easy as `index % img.shape[0]` etc., i.e. you use the modulo operator. I therefore flagged this PR as "good first issue". I think my plate is a bit too full to release 0.17.3 this coming week and the next week I'm away on vacation, so there is a two-week window to address this issue :-).

[2020-08-16 14:35] emmanuelle commented on #4911
Thanks @FirefoxMetzger ! A PR solving this would definitely be welcome!

[2020-08-16 14:44] emmanuelle commented on #4914
`data.bird`? For what it's worth, pasting the image in Google images links to the wikipedia article on hawk.

We might want to downsample the image a bit so that its linear size is ~1000 instead of 2000.

[2020-08-16 14:56] hmaarrfk commented on #4914
Why? Many people are using higher and higher resolution images. I think it would be awesome if we had something standard that challenged the state of the art in terms of interactive image display for Python

[2020-08-16 14:59] alexdesiqueira commented on #4914
Joking aside y'all, it's supposed to be an eagle — @daymachado took this pic when we were at an eagle exposition; we can't recall their precise name, though.

[2020-08-16 15:04] emmanuelle commented on #4914
You've got a point!

[2020-08-16 15:14] alexdesiqueira commented on #4914
Okay @scikit-image/core,
let's go with @sciunto's idea and give their a name. Please vote on the options:

- :tada: for Rufus
- :heart: for Charlie
- :rocket: for Ace

[2020-08-16 15:19] emmanuelle commented on #4914
no, no, please call it `data.eagle`! I always want to type `data.cat` and then only after the error I remember it's chelsea! (With all due respect to chelsea and its master)

[2020-08-16 15:21] alexdesiqueira commented on #4914
@emmanuelle you got it :sweat_smile:

[2020-08-16 15:25] alexdesiqueira commented on #4914
Okay, what we took from this issue:

- `data.camera` will point to a new [`camera.png`](http://krvarshney.github.io/kush_varshney.png);
- We'll have `data.eagle`. @daymachado is checking the species once more to be sure :smile:

[2020-08-16 18:46] alexdesiqueira commented on #4914
Yep, it's a [golden eagle](https://www.allaboutbirds.org/guide/Golden_Eagle/id) y'all.

[2020-08-16 19:56] alexdesiqueira commented on #4914
Alright, we're dealing with these points on #4913, #4922. Thanks y'all, appreciate your help!

[2020-08-16 19:56] #4914 closed

[2020-08-16 20:41] emmanuelle commented on #4854
Closed in matplotlib 3.3.1, thank you matplotlib team!

[2020-08-16 20:41] #4854 closed

[2020-08-16 20:46] emmanuelle opened #4923 "CI fails with PYTHONOPTIMIZE=2 due to ipywidgets"
This is an issue similar to the one we had recently with matplotlib (#4854), but now with ipywidgets. I opened an issue in ipywidgets https://github.com/jupyter-widgets/ipywidgets/issues/2947

When the doc example using ipywidgets was merged the CI was still failing because of matplotlib and we did not pay attention... One more illustration that a red CI is prone to introducing bugs!

[2020-08-17 07:06] stefanv commented on #4914
FWIW, happy to add an alias to `cat` :)

[2020-08-17 08:40] emmanuelle commented on #4486
# 2020/8/10 - 2020/8/17

Quite a busy week for mid-August standard. Alex is introducing a new eagle image and replacing the camera man image by a new one due to license issues. This change might cause some tests to fail, so please pay attention to #4913.

#4851 (rolling ball for background substraction) is ready for a round of review. #4390 (lddmm registration) also saw new activity and the API ne

[2020-08-17 11:57] FirefoxMetzger opened #4925 "`width` and `height` swapped in `morphology.rectangle`"
https://github.com/scikit-image/scikit-image/blob/20297dca8c797ca91ad515d0cd8d6f738a4e8b9e/skimage/morphology/selem.py#L57

I just noticed that the rectangle structuring element behaves inconsistently. The line should be:

[code]

or the variables should be renamed.

[2020-08-17 12:39] jni commented on #4925
@FirefoxMetzger This is a duplicate of #4125. See the discussion in the #4126 (stalled PR) for the proposed fix. We'd certainly welcome the proper deprecation fix!

In the meantime I'll close this as duplicate, though. =) Thank for reporting!

[2020-08-17 12:39] #4925 closed

[2020-08-18 11:01] sciunto commented on #4786
@emmanuelle A kind note so we both have this in mind if we release a new subversion. This one needs a manual backport and I don't think it has been done yet.

[2020-08-18 15:37] sciunto commented on #4748
issue created upstream.

[2020-08-18 15:40] sciunto commented on #4923
Do you mean that #4799 is solved now?

[2020-08-18 15:41] sciunto commented on #4799
I close this. It seems to be solved.

[2020-08-18 15:41] #4799 closed

[2020-08-18 16:59] emmanuelle commented on #4923
In fact, what is the interest of supporting `PYTHONOPTIMIZE=2`? On Googling a bit I've seen that maybe Youtube uses this mode but I wonder how widespread / confidential this is.

[2020-08-18 18:39] grlee77 commented on #4900
I will take a look at this. You can avoid the call to `_get_chunks` by manually specifying the `chunks` argument, but we should fix _get_chunks to work properly for the multichannel case.

Here is an example that works if setting chunks manually. Note that depth=0 also needs to be specified along the channels dimension.
[code]

However, I also found another issue that can also occur when trying to

[2020-08-18 22:25] juliangilbey opened #4928 "morphology.extrema.h_maxima and h_minima: slightly confusing function descriptions"
## Description

Consider this very short piece of code:

[code]

The results show that the element with value 5 is always picked up by this function, even though it is not a local maximum with height h for any h; rather it is the global maximum, so will always satisfy the condition tested for by this function.

The function description should therefore mention that the global maximum is also inclu

[2020-08-19 01:25] #4816 closed

[2020-08-19 05:00] sciunto commented on #4923
In the past, for instance, we had code relying on `assert` statements, which is a bad practice ([example](https://medium.com/@crystelpheonix/python-dont-use-assert-for-data-evaluation-721bfa93c571)). These statements can be ignored when optimize flags are passed. This job in our CI is there to make sure that we do not do this mistake again.

[2020-08-20 05:24] sciunto commented on #4928
thanks for reporting @juliangilbey In my mind, a global extremum is also a local extremum. (This page, randomly chosen from a search engine, is supporting it: https://brilliant.org/wiki/extrema/ )

Nevertheless, I agree, it would be helpful to add a note to these function to clarify this point. Would you like to submit a PR?

[2020-08-20 13:26] krvarshney commented on #4914
I consent to the use of http://krvarshney.github.io/kush_varshney.png as a test image in scikit-image.

[2020-08-20 13:29] krvarshney commented on #4914
We place the  http://krvarshney.github.io/kush_varshney.png image under the CC0 license. https://creativecommons.org/share-your-work/public-domain/cc0/

[2020-08-20 14:13] alexdesiqueira commented on #4914
Thank you @krvarshney, we appreciate your help! Could you please tell us the name of the photographer? We'll put it into that function's documentation. Thank you again!

[2020-08-20 14:53] juliangilbey commented on #4928
OK; shall do!  Indeed, a global extremum is also a local extremum, but the global maximum does not satisfy the definition of "local maximum of height h".

[2020-08-20 15:22] juliangilbey commented on #4928
I didn't include a description of how to exclude the global maxima; I doubt that is something people are likely to want to do, and if they do, it is straightforward enough: if the output of `h_maxima(img, h)` is `hmax`, then we can exclude the global maxima with `hmax[img == np.amax(img)] = 0`, and likewise for `h_minima`.

[2020-08-20 16:03] stefanv commented on #4914
The photo was taken by @krvarshney's brother, Lav Varshney.

[2020-08-20 16:19] sciunto commented on #4923
However, we could exclude the documentation from this build

[2020-08-20 21:12] emmanuelle commented on #4923
Good idea!

[2020-08-20 21:56] krvarshney commented on #4914
That is correct.

[2020-08-21 06:46] jni commented on #4914
... Who worked with my postdoc advisor Mitya Chklovskii and whose work features heavily in Elegant SciPy! Small world! =D

@stefanv We use cameraman in various places in ES... We should get cracking on the second edition with this new image, then both Lav and Kush can appear together in the book. =D

[2020-08-21 07:06] #3853 closed

[2020-08-21 12:38] sciunto opened #4933 "Deprecate skivi"
## Description

I propose that we deprecate this homemade viewer, our policy, afaik, is to defer this feature to other project. Is there any objection?

[2020-08-21 12:53] #4933 closed, assigned to nobody

[2020-08-22 18:53] alexdesiqueira opened #4934 "ipywidgets somehow making Travis fail on py3.6"
## Description

Hey everyone,
it seems this error is happening on Travis for a while. Not sure why, but it only affects our python 3.6 tests.

## Way to reproduce
[code]

[2020-08-23 15:56] #4934 closed, assigned to nobody

[2020-08-23 18:26] krvarshney commented on #4914
yes, one and the same

[2020-08-23 19:20] #4625 closed

[2020-08-24 08:12] dbarzilai7 opened #4938 "skimage.draw.polygon segmentation fault with np.nan"
## Description
the function skimage.draw.polygon throws a segmentation fault instead of python exception when receiving np.nan

## Way to reproduce
[code]

## Version information
[code]

[code]

[2020-08-24 14:32] rfezzani commented on #4915
Sorry for the late ensure, I took some days off :sunglasses:

I am more on @hmaarrfk and @FirefoxMetzger side here! The changes were introduced to ease nD support as @jni pointed out. The function name strongly suggests that the input **is** RGB, otherwise why not assume that a grayscale image is an acceptable input for any `rgb2something` function?
But helpers like `ensure_gray` or `ensure_rgb` c

[2020-08-24 14:34] sciunto commented on #4938
I imagine it happens with most of our drawing functions... has to be tested.

[2020-08-24 15:28] stefanv commented on #4915
@rfezzani Problem is, if you have an api function a certain way for ten years, people come to rely on it doing what it's doing, not doing what it promises to do.

I'm okay with the ensure_gray option.

[2020-08-24 15:38] hmaarrfk commented on #4915
The "10 years part" is really valid.

At the time, I had given up on migrating things away. The only way I saw to move forward, without breaking people's code, was to move to an `nd_color` submodule.

I'm going to say that I've seen some packagers stuck on 0.14 due to python 2 compatibility.

This means that there is likely a huge number of users that will do the 0.14 to 0.20 jump (or 1.0) jump in

[2020-08-24 16:13] rfezzani commented on #4081
Thank you @sciunto for reviving this! I am still in strong favor of removing as much package dependencies as possible:
Deprecating `skivi` and the `skimage.io` submodule allows to remove the dependency to `imageio`, `pillow`, `tifffile` and `matplotlib`!

[2020-08-24 16:23] sciunto commented on #4081
Good! I think we have other places where we depend on matplotlib, but I agree for the other lib. We might raise the question to maintain an API around imageio or not, but this out of the scope of this issue.

[2020-08-24 17:01] mkcor commented on #4914
@alexdesiqueira would you mind adding an entry for `eagle.png` over at https://gitlab.com/scikit-image/data/-/blob/master/README.md? One day we'll reorder them alphabetically. Thanks!

[2020-08-24 17:06] alexdesiqueira commented on #4486
Lots of infrastructure work this week. Also, `data/eagle.png` is now available :tada:

## new pull requests open last week
#4939 Add fluorescence microscopy images to data registry.
#4937 Backport PR #4930 on branch v0.17.x (CI: Skip doc build for PYTHONOPTIMIZE=2)
#4936 Backport PR #4879 on branch v0.17.x (new matomo config)
#4935 Backport PR #4861 on branch v0.17.x (Update min req for pillow due

[2020-08-24 21:41] rfezzani commented on #4915
We already had such discussion, and I still would say: "if you need stability, then pine your dependencies version" :-).
I also think that people jumping from 0.14 to 0.20 because of python 2 compatibility will face much severe problems then the `rgb2gray` support for graylevel images :smile:

I understand the 10 years habit argument, but I think that adding the nD support to `skimage.color` and "

[2020-08-24 21:56] CallShaul opened #4940 "Add a way to drop rows / columns of un-dividable 2D arrays using 'block_reduce'"
A suggestion:

Adding a boolean option for reducing output 1D / 2D arrays size, in case the down-sampling integer factor don't match perfectly (block_size).

[2020-08-25 14:43] rfezzani commented on #4940
Hi @CallShaul, thank you for this suggestion. Can you illustrate the issue that you are solving with some lines of code?
An example can help us better understand the problem :wink:

[2020-08-25 15:50] rfezzani commented on #4938
Well the bug is even worst than it looks: it is not  `np.nan` that is causing the crash!
[code]
also produces a segfault!

[2020-08-25 15:57] CallShaul commented on #4940
import skimage.measure as skm
import numpy as np

ds_block=(10, 10)
vid = -uint8 video data file- [x, y, time]
img = skm.block_reduce(vid[:, :, k], ds_block, func=np.mean)

As you can see in the image below the lowest row has a lower gray level values since the image wasn't perfectly divided by ds_block.

I've solved the issue by changing the data type of the video from uint8 to uint16 and adding

[2020-08-26 14:26] #4125 closed

[2020-08-27 08:39] sciunto opened #4944 "measure.regionprop fails to fill a circle, `filled_area` is wrong"
## Description

I was writing some unittests in a project and I discovered this.

## Way to reproduce
[code]

Here is the output:

[code]

I would expect  in the circle case, filled_area to be about 300 ( about pi * 10²). The issue looks serious. Can anyone confirm this?

EDIT: The main reason is that this function is not filling the shape: https://github.com/scikit-image/scikit-image/blob/master/

[2020-08-27 14:31] rfezzani commented on #4917
I see in [source](https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/hough_transform.py#L61) that we are using `peak._prominet_peaks`. Is there any reason why we don't use `peak.peak_local_max` as every elsewhere in `skimage`?

I know that `peak_local_max` currently suffers from the same issue #2592, but #4760 is attempt to solve it :wink: .

[2020-08-27 14:36] sciunto commented on #4917
I think for historical reasons. This function exists for nearly 10 years.

[2020-08-27 14:43] rfezzani commented on #4830
Thank you @robbibt for reopening this, I will investigate: the example that you provide will help us for sure :wink:

[2020-08-27 16:11] rfezzani commented on #4830
It looks like the [assertion](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_find_contours.py#L166) saying that "degenerated segments are picked up later" in the processing loop is not always true when there is masked areas!!

I will investigate on this side...

[2020-08-27 20:32] FirefoxMetzger commented on #4918
I tried to reproduce this just now, and it runs without error on `0.18.dev0`

Code:

[code]
Output:

[code]

Is this an issue known to be specific to `0.17.2`? If so, what makes cherry-picking from `0.18.0` impossible?

[2020-08-28 02:31] alexdesiqueira commented on #4914
@mkcor sorry, I missed this one. Sure thing, done at [#9](https://gitlab.com/scikit-image/data/-/merge_requests/9).

[2020-08-28 03:43] FirefoxMetzger commented on #4918
Same result for 0.17.2.
[code]

@mgmalheiros could you update skimage and see if this still reproduces on your machine? If so, could you share the full trace, so I can try to reproduce it?

[2020-08-28 05:55] FirefoxMetzger commented on #4944
I played around with your MWE a bit.

`area` works as expected;

[code]

[2020-08-28 06:25] FirefoxMetzger commented on #4944
I played around with your MWE a bit.

`area` works as expected; some pixels are selected twice in `rr` and `cc`. Check in particular the first 4 entries:

[code]

For `filled_area` there is indeed funny behavior, but I don't think it is a bug but rather a (currently) lacking feature. Essentially, skimage views the image as a king's graph, whereas you are expecting it to view the image as a square

[2020-08-28 06:46] sciunto commented on #4944
Thanks for investigation @FirefoxMetzger  I was on the same track as well, not as advanced as your post, I continued to work on my project and ended up doing a similar workaround.

I keep thinking that this is sufficiently serious on the user perspective. From the current API, it is not so naive to expect to have the right filled area by calling the dedicated function as far as nothing is said in

[2020-08-28 07:09] FirefoxMetzger commented on #4944
What do you mean by *right* filled area?

I totally agree that the documentation is insufficient as it makes an assumption that isn't always true. Take for example this image:

![image](https://user-images.githubusercontent.com/4402489/91531550-403fef80-e90d-11ea-957b-d06ad648257c.png)

What do you expect as a return here? The area of a big triangle consisting of 4 equally sized small triangles, o

[2020-08-28 09:24] jni commented on #4944
Incidentally, regionprops thus far have not allowed parameters. It would be an interesting idea to have properties with optional parameters, and I've wished for such a thing quite a few times. But I suspect we'll have to make our own decorator.

[2020-08-28 12:58] sciunto commented on #4833
Seems to be not achieved during the sprint. I take it.

[2020-08-28 14:32] rfezzani commented on #4917
What about removing `_prominent_peaks` and replace it by `peak_local_max`?
Fixing #2592 also fixes is bug!!!

[2020-08-28 15:32] sciunto commented on #4917
I do not see any objection ;)

[2020-08-28 21:49] mgmalheiros commented on #4918
Note that my installation is based on GCC running in Linux, so it seems a platform-specific bug.

The same error still occurs for me with the previous code snipped (for both 0.16.2 or 0.17.2). From the command line:

    3.8.5 | packaged by conda-forge | (default, Aug 21 2020, 18:21:27)
    [GCC 7.5.0]
    Linux-5.4.0-42-generic-x86_64-with-glibc2.10
    scikit-image version: 0.17.2
    numpy vers

[2020-08-29 09:39] #4938 closed

[2020-08-29 11:18] FirefoxMetzger commented on #4918
Thanks for the update @mgmalheiros . I will spin up a Linux VM later and check if I can reproduce it :) (if I can get my Hyper-V to work the way it should).

In the meantime, I manually inspected the code. The bug you found appears to be caused by
https://github.com/scikit-image/scikit-image/blob/90a2b670e165b93b9ad1bf9a2145de1cc462f8d6/skimage/morphology/_flood_fill.py#L245

Which is the reason y

[2020-08-29 16:25] alexdesiqueira commented on #4749
Hey y'all, sorry for missing this.
I personally don't like the "forbidden" word, and the `ValueError` we're proposing to return in #4760. I will discuss it better there.

[2020-08-29 17:06] mgmalheiros commented on #4918
Thanks for spotting that!

Indeed, using a `-2` coordinate always raises a `ValueError`.

[2020-08-29 18:56] zendevil opened #4949 "Unable to install on Nvidia Xavier. Stuck at 100%."
## Description

## Way to reproduce
[code]
on Nvidia Jetson Xavier

## Version information
[code]

scikit-image installation stuck at 100%
[code]

When cloning and running pip3 install -e . Stuck at Obtaining file://foo/scikit-image

[2020-08-29 23:21] hmaarrfk commented on #4949
can you try

[code]

compilation takes time and I have a feeling it is taking time compiling things.

@sciunto was it you taking care of the labels? I would like a label to collate installation issues so that we may better track challenges users have getting started on that front.

[2020-08-29 23:28] hmaarrfk commented on #4949
also, your numpy version is very old. you definitely need to satisfy https://github.com/scikit-image/scikit-image/blob/master/requirements/build.txt

I think below numpy 1.16, you will have a hard time on arm, but that is just my personal experience with that.

[2020-08-30 05:12] sciunto commented on #4949
What do you need specifically? `type: installation` is not sufficient? @hmaarrfk

[2020-08-30 06:47] zendevil commented on #4949
[code]

[2020-08-30 06:52] sciunto commented on #4949
Install liblapack from your package manager.

[2020-08-30 07:15] zendevil commented on #4949
Did
[code]

from

https://askubuntu.com/questions/300542/liblapack-so-file

still getting

     libraries lapack not found in ['/usr/local/lib', '/usr/lib', '/usr/lib/aarch64-linux-gnu']

[2020-08-30 10:33] sciunto commented on #4949
you likely need the dev files which are usually provided separately in on your OS. Anyway, it doesn't seems to be an issue for scikit-image.

[2020-08-30 12:06] FirefoxMetzger commented on #4949
I second @sciunto . You are compiling C code during the installation process which means you don't just need the shared libraries (obtained via `libatlas-base`), but also the header files (obtained via `libatlas-base-dev`) so that the linker knows how to link against the libraries.

At the very least you will need

[code]

and depending on other bindings you might need the header files for lapack

[2020-08-30 12:38] hmaarrfk commented on #4949
For what it's worth.co da forge just aren't through this compilation procedure.

Depending on your other dependencies, you might have some luck with conda and conda forge

[2020-08-30 18:06] hmaarrfk commented on #4949
Here are the links to what I was talking about

1. Install miniforge: https://github.com/conda-forge/miniforge/ for aarch64
2. Then you should be OK to install scikit-image: https://github.com/conda-forge/scikit-image-feedstock

Putting my conda-forge contributor hat on: while we (conda-forge) don't don't have the full list of packages for aarch64 compiled, we have quite a few and we recently got

[2020-08-30 18:17] FirefoxMetzger commented on #1131
I felt like hacking a bit tonight, so I threw together a poor man's boundary tracing algorithm. It finds all boundaries in the image and returns them in a list. Each boundary is returned as a list of arrays (like np.nonzero). Pixels are oriented in negative order: clockwise for outward-facing boundaries, anti-clockwise for inward-facing boundaries. For a donut, the outside would have clock-wise or

[2020-08-30 20:26] stefanv commented on #1131
That's awesome @FirefoxMetzger!  Did you see the Moore code I linked to above?  It could be fun to compare the two implementations.

API wise, it would be nice to have a RegionProp object go in and get a boundary out.

[2020-08-31 03:43] FirefoxMetzger commented on #1131
@stefanv On what criteria would you compare the methods?

Regarding RegionProp, if I understand the current API correctly, you would simply pass `regionprop.image` into the function.

On a tangent: Do you have an actual use-case for such algorithms? I tried to come up with an example for myself but always thought of an alternative method that would achieve the same result with existing methods.

[2020-08-31 03:52] stefanv commented on #1131
Boundary smoothing via the FFT requires an ordered set of boundary coordinates.

You ask hard questions: no idea how to compare, but perhaps may spot invalid behavior?

[2020-08-31 06:25] FirefoxMetzger commented on #1131
Hm, not sure what constitutes invalid behavior; perhaps this thought is useful:

The main difference between my method and Moore's (when using "Jacob's stopping criteria" - what MATLAB does) is how we conceptualize (and thus track) the orientation of a pixel. Moor's method walks along an unoriented border (2D) and tracks the preceding pixel for orientation, I walk along an oriented border (3D) and

[2020-08-31 07:08] #4833 closed

[2020-08-31 13:42] rfezzani commented on #4486
Last week was quite productive with two bug fixes merged! Thanks to @sciunto we also now deprecate `skivi` :tada: I would be very happy if we keep moving on this way and soon deprecate `skimage.io` and `skimage.viewer` :wink:.

I just finally want to bring your attention to a decision to be taken concerning edge cases of [`peak_local_max`](https://github.com/scikit-image/scikit-image/pull/4753#iss

[2020-08-31 15:44] rfezzani commented on #4917
It is because `peak._prominent_peaks` manages non-max suppression separately in the `x` and `y` directions!

[2020-08-31 16:06] sciunto commented on #4917
needs to be properly documented then :)

[2020-09-01 06:13] clementkng commented on #4537
Hi @emmanuelle! My initial plan was to convert the vtk implementation to Python, and then convert it to Cython, since I've seen that it's good to make incremental progress when adding large amounts of code. However, this process is taking quite a while, so I was brainstorming faster ways. I don't know too much about C, C++, or Cython, but it seems like I can use most C-like operators in Cython suc

[2020-09-01 08:53] sciunto commented on #4780
I'm closing this issue. Please reopen if the problem persists.

[2020-09-01 08:55] sciunto commented on #3328
at lease, skivi, tifffile, qt, and viewer can be removed from the todo list.

[2020-09-01 09:27] sciunto commented on #4944
My natural expectations.

`area`: the sum of the three black triangles
`filled_area` : the sume of the three black triangles + the white one

[2020-09-01 10:17] sciunto opened #4955 "Random frequent CI failures due to tex and travis timeout"
## Description
Examples:

https://travis-ci.org/github/scikit-image/scikit-image/jobs/722573506

The 10 min timeout is from travis. Perhaps increasing this timeout can help (plenty of similar past issues in github are mentioning this solution.)

[code]

[2020-09-01 11:27] FirefoxMetzger commented on #4944
I guess in this case one path could be to change the default structuring element from a box to a plus (+)? Of course, this would be in addition to discussing the ifs and hows of adding parameters to regionprops.

[2020-09-01 11:43] sciunto commented on #4944
Exactly

[2020-09-01 11:46] #3328 closed

[2020-09-01 11:46] hmaarrfk commented on #3328
thx

[2020-09-02 08:21] FirefoxMetzger commented on #4955
I've ran into this issue as well on all the PRs that I have/had with skimage so far. A fix would be really nice indeed.

[2020-09-02 10:23] pra-dan commented on #858
Unfortunately, Ubuntu 20.04 (Foccal Fossa) doesn't seem to have an installation candidate for matplotlib :(

[2020-09-02 12:17] sciunto commented on #4955
Yes, very annoying. I submitted a PR to try to increase travis' timeout.

[2020-09-02 12:40] rfezzani commented on #4917
Moreover, it looks like `transform.hough_line_peaks` simply encapsulates `peak._prominent_peaks`!
Some [comments](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/peak.py#L338) in `peak._prominent_peaks` also suggest that some implementation choices are specific to `transform.hough_line_peaks`...
I suggest to move `_prominent_peaks` from `transform.peak` to `transform.hough

[2020-09-03 05:43] sciunto commented on #4949
As we do not have further replies and the issue is not related to scikit-image, I'm closing. If not solved, feel free to reopen.

[2020-09-03 05:43] #4949 closed

[2020-09-04 18:40] hmaarrfk commented on #4955
This should be fixed now

[2020-09-04 18:40] #4955 closed

[2020-09-05 06:05] sciunto opened #4958 "CI failure, path issue for windows in gallery"
## Description

See https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=4299&view=logs&j=31eb6c88-23c5-50ae-eda4-a7f72508e1eb&t=f7291549-81f8-5748-7064-2be81963872c&l=164

@mkcor @hmaarrfk Is this due to one of your recent contributions?

[2020-09-05 06:38] #4900 closed

[2020-09-05 09:24] mkcor commented on #4958
@sciunto today I cannot troubleshoot for real (away from PC), but could it be the addition of `lily` in doc/examples/data/plot_scientific.py?
Since the CI failure occurs around doc/examples/data/plot_specific.py, which is nearby (referring to the order followed by Sphinx-Gallery), and `lily` gets fetched in a different way (i.e., with Pooch) wrt the other scientific images in that list (well, tupl

[2020-09-05 13:38] sciunto commented on #4958
I don't have windows, I'm running a test over here: #4959

[2020-09-05 13:50] hmaarrfk commented on #4958
how did the windows builds even get fixed? was it just time?

[2020-09-05 13:55] hmaarrfk commented on #4958
maybe we can add :

- `export SKIMAGE_DATADIR=${AGENT_BUILDDIRECTORY}/.cache/scikit-image`

Around the other cache export

[2020-09-05 13:57] hmaarrfk commented on #4958
It seems that it fails on the BUILD_DOCs build. other builds don't build docs on windows. got it.

[2020-09-05 14:02] #4928 closed

[2020-09-06 00:01] hongyi-zhao opened #4961 "Raster-to-vector conversion of colorful images using scikit-image."
Hi,

Can I convert colorful images in raster formats, say, JPG, PNG, GIF, etc., to PDF, SVG, or EPS formats with scikit-image?

Best regards,
HY

[2020-09-06 02:49] #4958 closed

[2020-09-06 03:14] sciunto commented on #4961
@hongyi-zhao This is supported by scikit-image, and likely not the purpose of our library. Instead, you may try pillow which seems to support [SVG](https://pillow.readthedocs.io/en/4.2.x/handbook/image-file-formats.html#fully-supported-formats). You can also check https://pypi.org/project/pypotrace/

I can also recommend you to ask this sort of questions on: https://forum.image.sc/
I'm closing thi

[2020-09-06 03:14] #4961 closed

[2020-09-06 07:18] sciunto commented on #4822
Seems to be fixed in master (and will be backported in 0.17.3 if released). I'm closing. If you still encounter the issue in master or in 0.17.3, please reopen.

[2020-09-06 07:18] #4822 closed

[2020-09-06 08:53] #4081 closed

[2020-09-06 09:25] hongyi-zhao commented on #4961
Why do you have this point of view?

[2020-09-06 11:20] sciunto commented on #4961
We bring image processing algorithms and we defer the IO to other libraries.

[2020-09-06 14:14] hongyi-zhao commented on #4961
IMO, bitmap tracing itself is done by image processing algorithms and not just relevant to IO.

[2020-09-06 15:09] sciunto commented on #4961
your question were about changing the file format, not tracing :/

[2020-09-06 15:51] hongyi-zhao commented on #4961
In order to generate a vector image based on a raster one, IMHO, the bitmap tracing processing algorithm, say, for edge/path detection, must be used for this purpose. Am I wrong?

[2020-09-07 05:03] artorias111 commented on #2239
Can I take this up if no one's working on it at the moment?

[2020-09-07 05:18] sciunto commented on #4486
# 2020/8/31 - 2020/9/7

During this first week of september, the activity was lower than usual. We had a broken CI for two reasons. With @hmaarrfk we worked on fixing it. There is still issues with OSX jobs on travis caused by a timeout. We added a verbose flag to the command, which helps from time to time, but is not always sufficient. We were unsuccessful applying correctly `travis_wait`, we mus

[2020-09-07 07:39] FirefoxMetzger commented on #4961
I think vectorization is a pretty fascinating topic; I will have to agree with @sciunto though in that the capabilities of skimage in this regard will be somewhat limited.

One of the fundamental assumptions of the library is that images are representable as (multi-dimensional) numpy arrays, which is almost equivalent to saying "we process rasterized images" (very efficiently ;D ). Subsequentially

[2020-09-07 14:24] #4918 closed

[2020-09-09 21:14] ryanlu41 commented on #2704
I have an implementation that @jni and I briefly discussed over on [scipy](https://github.com/scipy/scipy/issues/11583). My code is simpler than the stalled PR #2739 from a few years ago, but in my implementation, the Gaussian is not rotated like it is in that PR and the current 2D implementation.

Which implementation would be better? I'd be happy to try to take a stab at finishing up the old sta

[2020-09-09 21:51] kolibril13 commented on #4961
Hi!
It would be really nice to have a Raster-to-vector conversion for python!
Online versions to drag and drop images are already out there (e.g. https://www.vectorizer.io/)

After some research on the internet, the ideas I found at
https://stackoverflow.com/questions/31427903/convert-png-to-svg-using-python
are not very straight forward.

It would be amazing to have somewhere a solid package, whi

[2020-09-10 09:47] leouieda commented on #4890
@sciunto sorry, I missed this entirely. The logs for that build are no longer available 😢

I would guess that it might have been something with the bandwidth that caused the download to be incomplete (in which case the hash wouldn't match).

Right now, pooch doesn't retry failed downloads and we don't have an option for that. We could add a configuration parameter for the `Pooch` class like `retry

[2020-09-10 13:19] hmaarrfk commented on #4890
Thanks thanks!

[2020-09-10 19:49] sciunto opened #4969 "Tackle remaining todo tasks for 0.18"
## Description

* In ``skimage.features.corner_peaks``, remove the warning.
    * In the following docstrings, remove the explicit setting of ``threshold_rel=0``
        * ``skimage/feature/brief.py::BRIEF``
        * `` skimage/feature/corner.py::corner_harris``
        * `` skimage/feature/corner.py::corner_shi_tomasi``
        * `` skimage/feature/corner.py::corner_foerstner``
        * `` skim

[2020-09-11 05:43] sciunto opened #4971 "Write a piece of documentation on data.download_all() in the install procedure"
## Description

In https://scikit-image.org/docs/stable/install.html
write about https://scikit-image.org/docs/stable/api/skimage.data.html#download-all

[2020-09-11 07:15] jni commented on #4971
Good idea @sciunto! =)

One idea is whether it would be possible to add an optional extra, `pip install scikit-image[data]`, that runs download all after installation. That would make it a very nice user experience I think!

[2020-09-11 11:37] sciunto commented on #4971
That would be cool. I'm searching how to achieve this, and I found this discussion that seems to indicate it is not possible: https://stackoverflow.com/questions/55737009/how-to-get-extras-from-pip-install-in-custom-cmdclass-command

My understanding is that to do what you suggest, data must be a package.

Have you ever done that @jni?

[2020-09-11 11:41] sciunto commented on #4971
All I'm able to do is to download file with `python setup.py ...`.

[2020-09-11 12:55] grlee77 commented on #4902
I came across the following repository that has a fast, MIT-licensed Cython implementation, but I don't think it supports using a mask.
https://github.com/Algy/fast-slic

It may be worth looking into that and seeing what tricks lead to the claimed performance: "Fast-slic can process 1280x720 image stream at 60fps"

[2020-09-13 08:44] jni commented on #4902
@grlee77 this issue was solved by #4903 (thank you!). Should we close it and create a separate one for the fast-slic audit?

[2020-09-13 08:45] jni commented on #4971
@sciunto ah, very sad. No, I had not done it, I just thought it might be possible with setup.py.

[2020-09-14 08:53] emmanuelle commented on #4971
That said, moving our data to a skimage_data package and having it an `extras_require` dependency of `skimage["data"]` could also be a solution for #4964. But then in the setup.py of `skimage_data`, would we be able to call `download_all`?

[2020-09-14 11:38] jni commented on #4486
Hi @alexdesiqueira! Here's the report for this week. =) We're -2 on PRs (:tada:) but +1 on issues (:disappointed:). Pretty good week though. :blush:

Note: I manually edited the report below to mark the PRs that were opened and closed this week.

# 2020/9/7 - 2020/9/14
## New pull requests open last week

#4973 ~~forbid latest version of pyqt~~ **MERGED**
#4972 ~~Fix floodfill segmentation fault~~

[2020-09-14 11:54] lucyleeow commented on #4958
Hi, this should be fixed in Sphinx Gallery 0.8.1 now, thanks!

[2020-09-14 11:59] emmanuelle commented on #4958
Thank you @lucyleeow :-) !

[2020-09-14 17:04] InvincibleKnight commented on #3538
I want to apply this algorithm to an XRD pattern signal(see attached), how can I do that using this? Any help is appreciated.
![Screenshot from 2020-09-14 22-32-47](https://user-images.githubusercontent.com/55832349/93116045-6372e900-f6da-11ea-8d19-013d819ce670.png)

[2020-09-14 18:47] grlee77 commented on #4902
sure I will open a new issue

[2020-09-14 18:47] #4902 closed

[2020-09-14 18:51] grlee77 opened #4975 "Faster SLIC implementation"
## Description

### SLIC algorithm performance

Continuing the discussion on SLIC performance from #4902:

1.) I came across the following repository that has a fast, MIT-licensed Cython implementation, but I don't think it supports using a mask.
https://github.com/Algy/fast-slic

It may be worth looking into that and seeing what tricks lead to the claimed performance: "Fast-slic can process 1280x

[2020-09-14 22:37] tretherington opened #4976 "graph module goal_reached method not implemented?"
## Description

For context, I am interested in being able to run `find_costs()` on one of the graph class objects returned by for example `MCP_Geometric()` but with the condition that the `find_costs()` stops once a maximum cumulative cost is reached.

From reading the [`find_costs()`](https://scikit-image.org/docs/0.17.x/api/skimage.graph.html?highlight=find_costs#skimage.graph.MCP.find_costs) d

[2020-09-15 01:02] jni commented on #4976
@tretherington Thanks for raising the issue, not rambling at all. =) Looking at the implementation I was also puzzled, until I read the docstring:

The way to do this is to define your own class, in Cython, that *inherits* from MCP but redefines `goal_reached`. You can see inheritance later in the same file:

https://github.com/scikit-image/scikit-image/blob/83e857ca8f974bb560315a00989673b4b52f8a9

[2020-09-15 01:48] jni commented on #3538
@InvincibleKnight there's examples towards the end of #4851 that should come close to your use case. Note that you'll need to compile that branch from source, or wait until scikit-image 0.19 is released, to use that code.

[2020-09-15 20:49] tretherington commented on #4976
Hi @jni 👋 thanks for the lightning quick response! 😆

OK, I think I get how `goal_reached` is supposed to be implemented.  I was totally confused, but I now appreciate the relevance of the **overloading** which was not a concept I had come across before.

Massive thanks also for taking the time to provide an example that tries to do what I want.  I can see the logic now, and hopefully others who m

[2020-09-15 20:49] #4976 closed

[2020-09-16 00:09] VolkerH commented on #4855
sounds like a Cython task:

* iterate over all pixels/voxels,
* if a new label is encountered add a bbox object in a hashmap,
* if an existing label is encountered, update the bbox object.

[2020-09-16 00:16] jni commented on #4976
Awesome, good luck! fyi this page in the Cython docs is invaluable:

https://cython.readthedocs.io/en/latest/src/userguide/numpy_tutorial.html#numpy-tutorial

Other things like cross-file importing I always have to refer back to, but the NumPy stuff is reasonably straightforward after reading that tutorial.

[2020-09-17 04:50] BelindaE opened #4977 "Error using scikit-image"
I'm trying to run some code from a couple of years ago - now when I tried to run it, I can't get past multiple errors from simply trying to import scikit-image.

I have uninstalled, installed and tried different versions. I have checked all the dependencies, and they match or are later than all the runtime requirements.

[code]

## Version information
[code]

[code]

[2020-09-17 05:16] #4977 closed

[2020-09-17 05:27] jni commented on #4977
@BelindaE did you figure out the problem? `disk` should work, but only for the latest version of scikit-image (0.17).

[2020-09-17 19:36] loomcode opened #4978 "skimage.feature.peak_local_max problem"
The peak_local_max function returns multiple points within the specified min_distance if it finds neighboring pixels of equal value.  This is counter to the min_distance definition.

[2020-09-18 02:57] jni commented on #4978
@loomcode thanks for reporting! This is a duplicate of #2592 which is being addressed in #4760, so I'll close this. We are close to releasing 0.18 which we hope will include these fixes, so, hold please! 😊

[2020-09-18 02:57] #4978 closed

[2020-09-18 14:26] alexcwsmith opened #4979 "TypeError: unexpected keyword argument: img_num"
## Description
I have the same error as in this stackoverflow post when trying to concatenate images loaded via imread_collection:
https://stackoverflow.com/questions/62010698/typeerror-unexpected-keyword-argument-img-num

## Way to reproduce
[code]
The same error occurs with:
[code]

## Version information
[code]
##Traceback:
[code]

##Minimal Data to Reproduce (2 images):
Since GitHub apparently

[2020-09-19 00:24] jni commented on #4979
Yeah the weird thing for me is:

I don't understand why this is going through imageio rather than directly to tifffile. In our own plugin, we change the `img_num` kwarg correctly to `key` as tifffile expects:

https://github.com/scikit-image/scikit-image/blob/83e857ca8f974bb560315a00989673b4b52f8a93/skimage/io/_plugins/tifffile_plugin.py#L27-L28

I'll try to investigate. Thank you for the report @

[2020-09-19 00:34] jni commented on #4979
Just as a side note, here is a workaround that forces the use of tifffile as the plugin:

[code]

This seems to work. (I get a stack of shape `(2, 2550, 1875)`.) So indeed something fishy is going on with the plugin detection in the default case.

[2020-09-19 00:50] jni commented on #4979
Ok. I was confused: if you do `io.ImageCollection('*.tif')`, each file will get loaded with `imread` using the appropriate plugin. This is set here:

https://github.com/scikit-image/scikit-image/blob/83e857ca8f974bb560315a00989673b4b52f8a93/skimage/io/collection.py#L209-L213

And within `imread`, the first three lines are:

https://github.com/scikit-image/scikit-image/blob/83e857ca8f974bb560315a00

[2020-09-19 01:04] jni commented on #4979
@scikit-image/core Actually I'm not sure now whether fiddling with the `imread_collection` plugin call order is the right thing. I think the right thing is for `imread_collection` to just call `ImageCollection`, which will call `imread` individually on each file (so each file can be opened by the appropriate plugin). Any thoughts? Happy to implement this if we get consensus.

CC @stefanv

[2020-09-19 01:31] jni commented on #4855
I'll note the fast-ish hack I have often used in this situation:

[code]

`label_idxs` will contain a CSR matrix where `label_idxs[i].nonzero()[0]` contains all of the linear indices into the original array for label `i`. It's a little slower than `find_objects` but not much. Here `labeled` is a (256, 256, 256) array generated with `data.binary_blobs()` followed by `ndi.label`:

[code]

[2020-09-20 17:41] alexcwsmith commented on #4979
Specifying the plugin works! Thanks very much for looking into this so quickly!

[2020-09-22 01:42] alexdesiqueira commented on #4486
# 2020/9/14 – 2020/9/21

I'd consider not too much movement this week (although I was taking care of #4913, so didn't see too much outside that :slightly_smiling_face: ). We had our Atlantic meeting today — with @emmanuelle @jni @grlee77 @lagru @sciunto and myself — preparing for 0.18. Great to see you all!

## new pull requests open last week
#4974 Remove warnings/explicit settings on feature, re

[2020-09-22 09:48] BelindaE commented on #4977
Hi Juan
I ended up changing it to:
Import skimage

Then in the code:
skimage.line()

Simple solution I should have tried it first!

Kind regards,
Belinda

Sent from my iPhone