[2021-02-18 07:00] pokecheater opened #5242 "imread loads some images with wrong shape"
Hey Scikit-image Team :),

I have some trouble loading specific images with imread. In particullary I have an png image which is greyscaled and has an alpha channel: So to speak in terms of the pillow library the mode would be LA. The load will result in an numpy array with shape (height, width, 4) but correct in my opinion would be: (height, width, 2) (because there are only 2 channels.

Another

[2021-02-18 13:06] cgohlke commented on #5242
Looks like the LA to RGBA conversion is due to these lines

https://github.com/scikit-image/scikit-image/blob/fa71d1a1600faf93f9fd9200e2c58c307a5c9bb6/skimage/io/_plugins/pil_plugin.py#L113-L114

Imageio seems to do the same

https://github.com/imageio/imageio/blob/6671504f1d1e13f229d8ca31f153defbe319189c/imageio/plugins/pillow.py#L768-L769

TIFF frames, also referred to as pages or IFDs, can actu

[2021-02-18 14:23] DavidStirling commented on #5225
I did see that, but I figured that once you have the runtimes installed there shouldn't be much need to update or modify them further in most cases.

I totally understand about it not being officially supported, I was more wondering if it _should_ be. Something being new and not widely used doesn't necessarily make it a bad solution.

[2021-02-19 12:42] c-bohn opened #5244 "Problem when building from source on ARM M1 Mac"
## Description

Hi,

Since there is no version of scikit-image for ARM processors yet, I'm trying to install it from source on my M1 Mac.
I followed the instructions provided in the README and installing the dependencies with
[code]
worked fine.
However on the next step:
[code]
I get the following error:
[code]

Is there anything straightforward I can do to make it work, or do I need to wait until

[2021-02-19 16:57] hmaarrfk commented on #5244
https://github.com/conda-forge/scikit-image-feedstock

conda-forge is already building the arm package for you.

Since you are using miniforge, why do you want to use the pip package?

Building up infrastructure for Mac OSX is going to take alot of time.
Centralized projects like conda-forge make that easier to manage when new computers arrive.

Maybe try
[code]

I also notice you are on python 3.

[2021-02-20 14:12] c-bohn commented on #5244
Thanks a lot!
With
[code]
it works.

[2021-02-20 14:12] #5244 closed

[2021-02-20 20:56] iljab commented on #5146
Unfortunately the error still occurs with lower versions of pooth (1.1.0)

`AttributeError: module 'pooch' has no attribute '__version__'`

[2021-02-22 13:53] hmaarrfk commented on #5146
Thanks for the heads up.

I'm inclined to reopen since it is nearly the same issue and I would like to avoid asking you to open a new issue for us.

However, it does really help to open new issues.

[2021-02-22 13:56] hmaarrfk commented on #5146
[code]

[code]

[2021-02-22 16:23] mkcor commented on #5242
Hello,

@pokecheater thanks for your interest!

@almarklein would you have any comment to add here? Thank you!

[2021-02-22 17:11] mkcor commented on #5169
# 2021/2/15 - 2021/2/22

The list of older pull requests with new updates is abnormally large today, just because `master` was renamed into `main` this past week. This is detected as a change of the base branch (against which a PR is submitted). Not very many new issues and PRs were created this past week; "scikit-image 1.0 API" remains a priority. Personally, I ended up not being as available (an

[2021-02-23 02:23] jni commented on #5112
Another request for this on SO: https://stackoverflow.com/questions/66318020/set-scale-of-pixels-in-microns-in-python

This should be a high priority.

[2021-02-23 06:04] pokecheater commented on #5242
Hey Cgohlke,

thanks for your reply.
Since I need the image data as numpy array at the end, I was tried to use the scikt-image library. From my perspective it offers a good method for loading images as numpy arrays. Only issue is about tiff files :/. Since I thought there is a tiff plugin for imread, I expected it would work as a charm :-D.

There is another problem with the tiff plugin. It comple

[2021-02-23 07:46] pokecheater commented on #5242
There is another problem I just have found out.

If I import a tiff file where one frame is greater than the others the frame is just skipped. DAU users like me, take so much time to find out why this image is not correctly imported. I think there should be an exception thrown that tells the user, that the image is not valid. Just remove the layer gives the user the impression everything is fine w

[2021-02-23 08:00] pokecheater commented on #5242
Indeed I already use the PIL library to get out the correct frames and channels and fix the numpy import afterwards. So for the moment it seems to work for me with a lot of effort on working on several workaround fixes, but I haven't explored all possibilities of how a tiff image can be structured yet.

[2021-02-23 11:17] cgohlke commented on #5242
That's a known issue due to #1498. It's not specific to TIFF. The bigger issue is that skimage.io does not have or provide access to metadata to distinguish those cases. This will hopefully be addressed when replacing skimage.io with imageio. #5229.

That's intended. The tifffile plugin returns the first detected series (of frames) by default. You can specify which series or single page to return

[2021-02-23 15:17] pokecheater commented on #5242
Hey cgohlke,

thanks for your fast reply.

Ok, yeah hopefully the issue gets better when you have replaced the data loading procedure. For now I have developed the workarounds and I am able to load the data in that kind of shape I need to.

To your second answer: Ok I can live with that, now that I know what caused the misbehaviour. It would just have been easier for me to find the cause if a warn

[2021-02-23 21:18] #5034 closed

[2021-02-24 01:26] Joevaen opened #5248 "Where is the warp api of python but not the 'fast_warp' of cython?"
## Description
The 'fast_warps' api is here. It is based on Cython.I want to know where is the old python 'warp' api?
![image](https://user-images.githubusercontent.com/46133615/108931294-5f33fa00-7682-11eb-8a77-b336492dcd11.png)
Is it here?
![image](https://user-images.githubusercontent.com/46133615/108931581-d5386100-7682-11eb-9379-fb7c777df209.png)

## Way to reproduce
[code]

## Version inform

[2021-02-24 04:17] anirudh2290 commented on #5232
Thanks a lot @jni for the help and inputs. Since I am unable to provide more information to help with the issue here, I am going to close the issue.

[2021-02-24 04:17] #5232 closed

[2021-02-24 05:55] jni commented on #5232
🙏 I hope the discussion was somehow useful in helping you move forward at least... If you do figure out something we can do differently to prevent it, we'd be happy to consider it, but for now I don't see anything we're doing obviously wrong to cause this... Sorry we couldn't get to the bottom of it.

[2021-02-24 06:09] jni commented on #5248
@Joevaen I don't really understand your question? Here is our documentation for `skimage.transform.warp`, which is what I think you're after:

https://scikit-image.org/docs/stable/api/skimage.transform.html#skimage.transform.warp

It hasn't changed places in about a decade so I don't know where the confusion is! 😅

I'm going to close this issue as I don't think it's a code issue, but please feel f

[2021-02-24 06:09] #5248 closed

[2021-02-24 06:56] Joevaen commented on #5248
Sorry about not describe my question clearly.
I notice there is two file about warp in scikit-image/skimage/transform/. Usually, some projects like to using the _warps_cy.pyx because it is based on Cython and it is faster. Am I right?
But it is not enough quickly for me, so I want to try to modify the python 'warp' which doesn't use Cython. Maybe Cupy taking place of Numpy will be better option to

[2021-02-24 11:17] jni commented on #5248
Yes, *under certain circumstances*, they are the same. You can see that the `_warp_fast` Cython function is imported into Python in this line:

https://github.com/scikit-image/scikit-image/blob/be6e3dc108835e1dbf851eecd7fabf355940800a/skimage/transform/_warps.py#L8

And then `warp` calls `_warp_fast` here:

https://github.com/scikit-image/scikit-image/blob/be6e3dc108835e1dbf851eecd7fabf355940800a/

[2021-02-24 11:51] jni commented on #5146
Ouch. Thanks for noticing @iljab!

[2021-02-25 13:55] Mec-iS opened #5250 "binary_blobs fails with io.imshow"
## Description
Tested in Python 3.7 and 3.8 on Ubuntu 18. I am using `pyQT5` as matplot backend by `matplotlib.use('Qt5Agg')`
This chunk of code fails:
[code]
with stacktrace:
[code]
The same operation succeed using `matplotlib`:
[code]

## Way to reproduce
Run the chunk above

## Version information
[code]
same with:
[code]

[2021-02-26 19:55] mkcor commented on #5250
Hello @Mec-iS,

Since you're mentioning `PyQt5`, it's not clear to me whether your usage is via *non-interactive scripts*...
https://github.com/scikit-image/scikit-image/blob/17db79adadffd2a13b87356ec944aea01683b808/skimage/io/_io.py#L182-L190

Having said this, let me [quote](https://github.com/scikit-image/scikit-image/pull/5247#issuecomment-784837213) @jni: "in the medium term (~1y) we aim to p

[2021-02-26 21:50] Mec-iS commented on #5250
ok. thanks for the reference, so basically `io.imshow()` will be deprecated.

I am using the library in scripts that are supposed to visualize the results into subplots.

[2021-02-26 21:50] #5250 closed

[2021-02-27 15:12] pyscorcher opened #5252 "skimage.transform.rescale fails for scale < 0.2"
## Description

The function `skimage.transform.rescale` throws an error for for `scale < 0.2`, which is quite unexpected if you're just trying to use the `rescale` function. I get following error messages for these small scale factors:
[code]

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-03-01 11:18] jni opened #5253 "Set upper limits on our dependencies"
## Description

NumPy has written a guide for downstream libraries setting upper bound version constraints. See this mailing list post:

https://mail.python.org/pipermail/numpy-discussion/2021-March/081572.html

and the two links therein:

https://numpy.org/devdocs/user/depending_on_numpy.html

and

http://scipy.github.io/devdocs/dev/core-dev/index.html#updating-upper-bounds-of-dependencies

I hav

[2021-03-01 13:11] maxfrei750 commented on #5213
While working on the PR, it occurred to me that for reasons of consistency, it might be good to rename the arguments of `regionprops` and `regionprops_table`:

[code]

Maybe even
[code]

@stefanv What do you think?

[2021-03-01 13:19] rfezzani commented on #5252
Thank you @pyscorcher for the report, I can reproduce the bug.

In the example that you provided, the input image shape is `(30, 40, 3)` and when you apply a scale factor of `0.1`, the output image shape is obtained as `round(0.1 * [30, 40, 3]) = round([3, 4, 0.3])`, which is `[3, 4, 0]`. This last 0 is the root of the problem.

I assume that this behavior is expected, but the raised error is extr

[2021-03-01 13:32] hmaarrfk commented on #5252
Thanks for getting to the bottom of that @rfezzani

@pyscorcher to help you with your work, there is a multichannel parameter that also exists in version 0.14.2
https://scikit-image.org/docs/0.14.x/api/skimage.transform.html#rescale

I think that should help you. Let us know!

[2021-03-01 19:07] alexdesiqueira commented on #5169
# 2021/02/23 – 2020/03/01

Some new infrastructure issues worth considering this week. Had a low bandwidth, could not keep up; sorry about that.

## new pull requests open last week
#5254 Introduce a conistent naming scheme for measure.regionprops
#5251 Dim generalization
#5249 Ensure that README.txt has write permissions for subsequent imports.
#5247 Added support for binary images in is_low_cont

[2021-03-01 21:11] grlee77 opened #5255 "Add rolling ball example for ECG data"
## Description

The demo I made for this response in the PyWavelets google group would be nice to include in our gallery to show that the "n-dimensional" implementation of rolling ball allows application to signals as well:
https://groups.google.com/g/pywavelets/c/b3ErI_GmNBo

Fortunately, the short ECG waveform used for the example there is already bundled by PyWavelets.

[2021-03-02 10:35] pyscorcher commented on #5252
@rfezzani Thanks for explaining and for the PR!
@hmaarrfk That is very good to know, thank you very much!

[2021-03-03 02:43] ameliaseptiani opened #5258 "TypeError: _open() got an unexpected keyword argument 'as_grey'"
## Description

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-03-03 10:46] FruityOVGU commented on #5008
Hi, I am also new to skimge, and I was also facing same problem, but my proble is just solved by just replacing
img = io.imread("example grids/circuit.tif", as_gray=True)
to
img = io.imread("example grids/circuit.tif", as_grey=True)

Thanks for this post

[2021-03-03 17:59] #5252 closed

[2021-03-03 19:14] mkcor commented on #5258
Dear @ameliaseptiani,

Which version of scikit-image are you running?

Since v0.16.1, parameter `as_grey` has been removed from `skimage.data.load` and `skimage.io.imread` (use `as_gray` instead). Let me know if this helps!

[2021-03-04 09:23] aleksejs-fomins opened #5259 "PolynomialTransform.estimate() potentially uses more memory than it needs to"
See [forum discussion](https://forum.image.sc/t/basic-polynomialtransform-estimate-blows-up-with-memory-overflow/49659)

[2021-03-05 03:38] jni commented on #5259
tldr, if we use scipy.sparse.linalg.svds to estimate the polynomial transform coefficients, instead of np.linalg.svd, we save massive amounts of memory for a potentially small runtime cost. We could either make this optional or just change it altogether.

[2021-03-05 03:40] jni commented on #5259
I should say: the runtime cost is small in the general case, but in the case where you instantiate a massive NumPy array, sparse is much much faster.

[2021-03-05 03:48] clementkng commented on #5178
@ogencoglu can we close this issue now that #5207 is merged?

[2021-03-05 08:04] rfezzani commented on #5259
I am :+1: for `svds` :wink:

[2021-03-05 08:08] rfezzani commented on #5178
Thank you @clementkng for the reminder :wink: and thank you @ogencoglu for your suggestion!

[2021-03-05 08:08] #5178 closed

[2021-03-05 08:55] ogencoglu commented on #5178
Thanks a lot!

[2021-03-07 13:14] Mellak commented on #3567
If you are using Anaconda : conda install scikit-image will solve the problem.
https://scikit-image.org/docs/dev/install.html#install-via-conda

[2021-03-08 05:57] dogenstein opened #5260 "label() segfault with arrays of shape (n,0,m) on linux + anaconda"
## Description

Hello!

I know this is a very weirdly shaped array to be labeling, but it was unintentional :~)

I haven't seen any similar issues, but sorry if this is a duplicate. #1479 seems similar but the code there runs without problems for me.

Also checked on windows and it doesn't happen there btw. Also, I'm using anaconda..

## Way to reproduce
[code]

## Version information
[code]

[cod

[2021-03-08 08:15] rfezzani commented on #5260
Thank you @dogenstein for the report.

I can reproduce the issue with v16.2, v17.2 but not with current dev version :tada:, so this will hopefully be solved in next release :wink:

[2021-03-08 08:45] jni commented on #5260
Hmmm, unfortunately I can reproduce on the main branch, @rfezzani...

[2021-03-08 08:48] rfezzani commented on #5260
Hum, strange...
[code]

[2021-03-08 08:51] jni commented on #5260
yeah sorry, I just realised that master was very old on this computer, trying again, hold please...

[2021-03-08 08:51] jni commented on #5260
9d502e25e to be precise

[2021-03-08 08:57] jni commented on #5260
Gah. Nope, still segfaulting, platform info:

[code]

My commit is f5e9b61e2c4935f181a2de6fcbc4f728e03baa23

@rfezzani seems unlikely that it would be a 3.7 vs 3.8 bug but can you check anyway?

[2021-03-08 08:57] jni commented on #5260
Also my local cython version is 0.29.21.

[2021-03-08 10:39] rfezzani commented on #5260
@jni, I confirm the segfault using python 3.8, cython 0.29.22 and numpy 1.19.2 :sob:

[2021-03-09 08:04] FirefoxMetzger commented on #5242
I just became aware of this issue, otherwise, I would have chimed in sooner :)

At least for me (and I think it transcends to the scipy community at large), one design principle for writing code is to - where possible - avoid assumptions about how the user wants to code/library. When you combine this principle with I/O, and in particular I/O for images, things tend to get a bit messy, because of t

[2021-03-10 17:15] rfezzani opened #5266 "test_thresholding fails with last dask version (2021.3.0)"
## Description

Please see this CI [faliure](https://github.com/scikit-image/scikit-image/pull/5265/checks?check_run_id=2078924419).

[2021-03-10 18:59] mkcor opened #5267 "Pooch paths don't work with GitHub Actions."
Hello @BierretA,

It definitely looks like an issue with Pooch via GitHub Actions (or vice versa). Tests run fine locally for me as well. Looking into the first failure (`TestColorconv.test_lab2xyz`), we can see that, [over GitHub Actions](https://pipelines.actions.githubusercontent.com/ITGOmoHsVjtvD2vjejJjVxoCD9oCbGYrPOYQanJNnGN0KqRbGi/_apis/pipelines/1/runs/763/signedlogcontent/4?urlExpires=2021

[2021-03-10 19:03] stefanv commented on #5267
I think this is to be expected; how could Pooch know where to find the data otherwise?  The solution may be to make a single PR to add the data, and another to utilize the data.

[2021-03-10 19:40] hmaarrfk commented on #5267
i suspect the file was changed, and the hash was left unchanged in the registry.

pooch should use the local version for builds installed in development mode.

[2021-03-10 20:10] mkcor commented on #5267
Oh, right... I was trying to imagine something dynamic with branch names! :woman_facepalming:

@BierretA could you please submit a separate PR only with the new data files (and updated data registry)? Let me know if there's anything you need help with. Thanks!

[2021-03-10 20:23] stefanv commented on #5267
Looks like @hmaarrfk has a better answer; thanks!

[2021-03-10 22:15] hmaarrfk commented on #5267
can you confirm that the hash of the file in question matches?

[2021-03-11 06:54] jni commented on #5266
Here's a traceback:

[code]

Potential sources from scanning the [release notes](https://docs.dask.org/en/latest/changelog.html#id1):

https://github.com/dask/dask/pull/7321
https://github.com/dask/dask/pull/7033
https://github.com/dask/dask/pull/7326

Would be awesome if @GenevieveBuckley could investigate... :grimacing:

[2021-03-11 08:02] GenevieveBuckley commented on #5266
Adding this to the end of my to-do list...

[2021-03-11 09:15] BierretA commented on #5267
Hello @hmaarrfk ,

The file `color/tests/data/lab_array_a_10.npy` was added with the PR. I added the sha256 hash in the registry `data/_registry.py` by hand. Is there another way to do it? I am not familiar with Pooch at all.
I just checked the hash in the registry and it matches the current file.

To me, it looks like Pooch used the local version of the file when the test was run locally, but not

[2021-03-11 12:59] nbCloud91 commented on #5084
@jni could you make a PR for the above changes? I have not agreed to any CoC for this project and this seems like a small edit.

[2021-03-11 13:05] #5260 closed

[2021-03-12 03:23] jni opened #5268 "rescale and other warp functions should preserve input range and dtype"
## Description

See this StackOverflow question for the motivation:

https://stackoverflow.com/questions/66585291/skimage-rescale-segmentation-mask

For higher-order interpolation, we need to do floating point arithmetic so it makes sense to convert to float and change the intensity scale as per our data type rules. For order=0, though, I think it makes most sense to preserve the input dtype and r

[2021-03-12 04:02] jni commented on #5084
@nbCloud91 you're right, it's a small fix, but we have lots of them! (See list of open issues/PRs 😫) If you have time to make a PR with the change + test, we would much appreciate it! If not, no worries, I definitely hope that we can get to it before the next release. 🤞

[2021-03-12 10:52] divyank0 commented on #5084
I can  raise this PR . :)

[2021-03-13 08:46] divyank0 commented on #5084
@nbCloud91  I am trying to build a minimalistic test case here.  It is not that simple.
to understand the situation, I  checked for dimensions=2 and connectivity = 1 and 2.

But the output I am getting is same in previous version and new proposed version. If you can help me with a test case,  I will raise the PR.  I will also continue to build the test case

Regards
Divyank

[2021-03-14 07:07] nbCloud91 commented on #5084
Take for example this code:
[code]
<img src="https://user-images.githubusercontent.com/73609114/111059892-e379e000-84be-11eb-85bb-56d7166b8dc2.png" width="200" height="300">

[code]
<img src="https://user-images.githubusercontent.com/73609114/111059895-eb398480-84be-11eb-8751-c0bebf8a2e89.png" width="200" height="300">

[code]
<img src="https://user-images.githubusercontent.com/73609114/111059897-

[2021-03-14 08:11] AinzOwlGoan opened #5270 "ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject"
## Description

Hello everyone, I'm trying to build a project using tensorflow but this error always appears:

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-03-14 13:22] hmaarrfk commented on #5270
My guess is that you installed packages from different sources. Some from pip, others from anaconda.

Can you explain how you sinatlled scikit image, bumpy, and tensor flow?

[2021-03-14 13:53] AinzOwlGoan commented on #5270
Fir tensorflow I sued this https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html

And for scikit, bumpy I used pip

[2021-03-14 16:08] hmaarrfk commented on #5270
Can you provide the output of the commands:

[code]

[2021-03-14 18:21] din14970 opened #5272 "Are there any plans for adding GPU/CUDA support for some functions?"
This is not a bug, more a feature request and question. I deal with large datasets of thousands of images that all need to be transformed to polar coordinates. At 5 - 200 ms per image, depending on the image size, this can really add up. A lot of image processing routines perform well when parallelized on the GPU, but the `skimage.transform` functions don't seem to work on cupy arrays. Since I cou

[2021-03-14 23:52] grlee77 commented on #5272
Hi @din14970, thank you for the interest. We are indeed interested in this and have some recent grant funding from the Chan Zuckerberg Institute (CZI) to prototype methods for providing different backends for scikit-image (e.g. CuPy). I don't have a new PR here yet for that and we are still considering how best to approach it. One recent thread of discussion is enabling upstream SciPy's ndimage mo

[2021-03-15 02:37] GenevieveBuckley commented on #5266
Using git bisect, it looks like this commit might be the one causing trouble with your tests

https://github.com/dask/dask/commit/bf1c65c4fd198e0b6b28a82b03b60ba4e7954c08

[2021-03-15 02:40] GenevieveBuckley commented on #5266
Seems like the dask-ml and cupy libraries are also bumping up against the same thing.

[2021-03-15 05:27] jni opened #5273 "Proposal: add 'medoid' to regionprops"
## Description

I've wanted this many times but never had a word for it until someone pointed it out to me recently: the [medoid](https://en.wikipedia.org/wiki/Medoid) is a representative object from a cluster whose average distance from all the objects in the cluster is minimal (for some definition of "distance"). Unlike the centroid, the medoid *has* to be an element of the cluster (in our case,

[2021-03-15 06:38] AinzOwlGoan commented on #5270
Sure,

pip list
[code]

[code]
# Name                    Version                   Build  Channel
absl-py                   0.10.0                   pypi_0    pypi
apache-beam               2.28.0                   pypi_0    pypi
argon2-cffi               20.1.0           py38h2bbff1b_1
astunparse                1.6.3                    pypi_0    pypi
async_generator           1.10               p

[2021-03-15 07:02] jni commented on #5266
awesome. That increases the chances that it'll get fixed. 😂

[2021-03-15 07:02] jni commented on #5266
Thank you for investigating @GenevieveBuckley! 🙏 🙏 🙏

[2021-03-15 07:17] GenevieveBuckley commented on #5266
Knock on wood, but I think I have a fix for it

[2021-03-15 07:28] GenevieveBuckley commented on #5266
Spoke too soon, it seems :laughing:

[2021-03-15 09:46] din14970 commented on #5272
Thanks for the links! Indeed it might be better to get scipy working on CuPy and Dask arrays than to add a number of ad-hoc GPU-compatible re-implementations to scikit-image, though your cupyimg project is already a decent start. I'll wait to see how those things evolve and for now continue with my custom function. CuPy 9.0 also looks really good, thanks for the tip.

[2021-03-15 11:53] hmaarrfk commented on #5270
The only strange thing I see in the conda list command is the presence of some packages like jupiter and iputhon as well as pyqt that are installed via conda.

Could you:
Create a new environment with python 3.8.
Install tensor flow via pip
Try importing it
Then install scikit image via pip
Try importing it.
Then install jupiter if you need it.
Try importing it.

And report

[2021-03-15 13:02] grlee77 commented on #5169
Hi @jni, it looks like we were responsible for the last two weeks. I can just run the script for both of them today and upload here, but please take a look if you want to add any additional summary/info.

[2021-03-15 13:42] grlee77 commented on #5169
# 2021/3/1 - 2021/3/8
## New pull requests open last week

#5271 Watershed connectivity bug: considering connectivity to calculate markers.
#5269 Mention possible filters in radon_transform -> filtered-back-projection
#5265 Deprecate input kwarg in label
#5264 Fix skimage.measure.label segfault
#5263 Add ellipsoid_coords function
#5262 Start tutorial for measuring fluorescence at nuclear envelope.

[2021-03-15 13:43] grlee77 commented on #5169
# 2021/3/8 - 2021/3/15
## New pull requests open last week

#5271 Watershed connectivity bug: considering connectivity to calculate markers.
#5269 Mention possible filters in radon_transform -> filtered-back-projection
#5265 Deprecate input kwarg in label
#5264 Fix skimage.measure.label segfault
#5263 Add ellipsoid_coords function
#5262 Start tutorial for measuring fluorescence at nuclear envelope

[2021-03-15 13:50] grlee77 commented on #5169
Hmmm. Looks like something is still a bit off in the boilerplate script. At least the 3/1 to 3/8 summary includes some things newer than 3/8. I manually removed some overlapping ones here, but will take a look at the script again to fix it going forward.

[2021-03-15 13:53] grlee77 commented on #5169
nevermind, I was just using an outdated version of the script (I hadn't updated for the master->main branch rename for that repository)

[2021-03-15 15:42] mkcor commented on #5267
@hmaarrfk the respective hashes of all data files (added with the PR) do match.

@BierretA you did the right thing -- there's just this data file, `skimage/color/tests/data/lab_B_2.npy`, which does not appear in the data registry...

In my current understanding, this would resolve the following failures:
[code]
but not these:
[code]

@hmaarrfk well, it looks for the data files on "main" where they

[2021-03-16 00:35] #5084 closed

[2021-03-16 09:21] Simi-Nuessli opened #5274 "Help a Newbie: ImportError: cannot import name 'geometry' from 'skimage._shared'"
Hi! Thanks for your interest.
I am new to Python programming and am somewhat lost. Please excuse me posting anew in regard to this issue.

## Description
After finding your YouTube video on "Image Analysis in Python with SciPy and scikit-image", I got to try setting up scikit-image to use with Spyder. I was following the install instructions from https://scikit-image.org/docs/dev/install.html. But

[2021-03-16 09:22] Simi-Nuessli commented on #5274
Sorry this was a little early! Will be editing it from now on. Please excuse any inconveniences to the GitHub community etiquette.

[2021-03-16 11:56] hmaarrfk commented on #5274
Try not to mix Vonda forge and the default anaconda channel.

You should add the conda forge channel to your configuration and not pick and choose when you enable it yhrought the command line.

Thanks for being so thorough when reproducing the issue.i think once you add the channel, you will be able to rebuild your environments and get things going.

[2021-03-16 15:13] Simi-Nuessli commented on #5274
Hi Mark

I did the following and now it works! Thanks! Your fast response time and accuracy in troubleshooting is as bit scary, but much appreciated. 💯 Have a good day.

[code]
Look at that!

![Spyder_WorkingImport](https://user-images.githubusercontent.com/80749968/111332373-04cefd80-8672-11eb-930e-eb74c9748fef.JPG)

[2021-03-16 15:13] #5274 closed

[2021-03-16 19:29] michalkrawczyk commented on #5195
Hi,
I was wondering if problem don't lies in img_as_float from convert_to_float function:
I run test for np.arrange(9) with that and:
- result on `filters.gaussian(np.arange(9), sigma=(1,))`

 4.87890978e-19 5.96296685e-19 7.04221889e-19 8.06293363e-19
 8.82130240e-19]
 - result on filters.gaussian(np.arange(9), sigma=1, preserve_range=True)

 5.99530048 6.93674366 7.63621539]

 I might be wrong b

[2021-03-16 21:16] divyank0 commented on #5189
I guess I can close this.  :)

[2021-03-16 22:20] jni commented on #5189
@divyank0 that would be much appreciated! :tada:

[2021-03-17 03:02] hmaarrfk commented on #5274
Glad I was able to help. THanks for being thorough.

[2021-03-17 06:10] jni opened #5275 "Consider renaming x/y/z to plane/row/col in the 3D structure tensor example"
## Description

I didn't find any discussion in #5012 about axis naming, but to me it seems a bit muddled... We normally would call the vertical axis Y and the horizonal axis X, but in [the 3D structure tensor they are inverted](https://scikit-image.org/docs/dev/auto_examples/applications/plot_3d_structure_tensor.html).

Since we are striving to use planes/rows/columns throughout the library, I'm

[2021-03-17 09:08] jni commented on #5195
@michalkrawczyk, see this page:

https://scikit-image.org/docs/dev/user_guide/data_types.html

convert to float with preserve range = False renormalises based on the assumed range of the data type, as shown in the table on the top of that page. So in your case, you start with int64.

[code]

That's not exactly your number but it's about right. I'm not sure why part of the int64 range is truncated

[2021-03-17 09:11] jni commented on #5169
Thanks @grlee77 for picking up my slack... I must say I'm a little overwhelmed with notifications and I have not been a good community manager. Thanks all for keeping things running smoothly! :pray:

[2021-03-17 15:05] AinzOwlGoan commented on #5270
Hello, i've tried what you have suggested but the error still remain

[2021-03-17 15:48] rfezzani commented on #5275
The wording change is fine by me :wink:.

[2021-03-17 16:09] michalkrawczyk commented on #5195
@jni
I guess I found why is truncated. See skimage.util.dtype.convert:

Adding 0.5 changes a lot for small values (Tested on np.arange(9) ):
- With that line np.add(x, 0.5, dtype=np.float32) and after image *= 2 / (imax_in - imin_in) :

 - But without it after image *= 2 / (imax_in - imin_in):

I haven't seen in attached there [Data Conversion Rules](https://msdn.microsoft.com/en-us/library/window

[2021-03-17 16:14] mkcor commented on #5275
@jni in that example, I intended the x/y 'inversion,' as made explicit with code line
[code]
but I'm definitely fine with replacing z/y/x by plane/row/col.

I 'inherited' the dataset from #4946 where I had derived that
[code]
[code]
see rendered (not yet merged) tutorial [here](https://1476-2014929-gh.circle-artifacts.com/0/doc/build/html/auto_examples/applications/plot_3d_interaction.html#sphx-gl

[2021-03-17 16:36] hmaarrfk commented on #5270
How far along down the testing procedure did you get to?

Cna you show me the current output of

[code]

[2021-03-17 16:52] hmaarrfk commented on #5267
@mkcor I think the only test that should fail is the one marked with `INSTALL_FROM_SDIST` where tests, and everything is installed from the source distribution.

All others should be able to use the local builds.

If only the sdist test is failing, I would merge and move on.

[2021-03-17 17:28] hmaarrfk commented on #5267
Its also possible that the build procedure got changed more than I kept up with.

It used to be that the tests were run in `editable` mode installs by default. In those cases it was able to find the local versions of the files.

For

[code]

would require files to be pulled from github

[code]
would be able to pull the files from the git repo.

I'm not sure which command is being used in the githu

[2021-03-18 13:51] kkmou commented on #1297
Any solution to this issue so far?

[2021-03-18 16:54] mkcor commented on #5267
Confirming this: https://github.com/scikit-image/scikit-image/actions/runs/664335330

@hmaarrfk if not `INSTALL_FROM_SDIST`, it's the command you except that is used in GitHub Actions:

https://github.com/scikit-image/scikit-image/blob/a69d49272145d9839df75f3ee398c0bbde32f448/.github/workflows/tests.yml#L92

Nonetheless, the tests (other than sdist) apparently pull the files from GitHub (not from

[2021-03-18 17:20] AinzOwlGoan commented on #5270
I did everything, i'll now show you the current output

Conda list
[code]

Pip list
[code]

[2021-03-18 17:38] stefanv commented on #5267
Thank you for investigating @mkcor.  When we're done, it would be good to add a note about this process to the developer guide too.

[2021-03-18 21:35] hmaarrfk commented on #5270
I'm sorry, I just noticed that your error seems to be originating from pycocotools. I'm not sure what that package is or how it relates to scikit-image. Can you elaborate on your usecase.

If:

[code]
works, that is as far as we can help.

[2021-03-18 22:26] divyank0 commented on #5189
I am preparing the ticket , few questions I have

- What is meant by ndarray : (N, M[, …, P])

[2021-03-19 01:54] GenevieveBuckley commented on #5266
The fix is merged now, you should be good to go.

[2021-03-19 06:40] GenevieveBuckley commented on #5275
I don't know, sorry @mkcor

[2021-03-19 11:55] divyank0 commented on #5189
I am wondering what could be ideal signature for the function

`def theshold_generalized_histogram(n, x=None, nu=0, tau=0, kappa=0, omega=0.5):`
or
`def theshold_generalized_histogram(image, x=None)`

where x is the array of bin intensities , n is histogram and others are algorithm specific parameters.

The first one is definitely going to there, however we can name it to GHT.
Supplying all 4 para

[2021-03-20 07:16] mkcor opened #5277 "How to update data registry is not documented yet."
Thank you for investigating @mkcor.  When we're done, it would be good to add a note about this process to the developer guide too.

_Originally posted by @stefanv in https://github.com/scikit-image/scikit-image/issues/5267#issuecomment-802152923_

[2021-03-20 11:15] Make42 opened #5278 "Error in documentation for watershed"
The [documentation for watershed](https://scikit-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.watershed) says

But when I look into the code and the [official example](https://scikit-image.org/docs/dev/auto_examples/segmentation/plot_watershed.html), it seems that watershed is actually dealing with float arrays, not integer arrays. I think this might be a mistake in the do

[2021-03-20 11:26] Make42 opened #5279 "Watershed does not segment my array"
## Description

The watershed function produces an unexpected result: It seems not to be able to segment my array even though I expect it to.

## Way to reproduce

[code]
produces

[code]

while I expected
[code]

## Version information

[code]

[2021-03-20 12:17] Make42 commented on #5279
After quite a bit of trying out, I found out, that it is not enough to simply provide **if** there is a peak at a certain position, but a label that indicates which peaks belong together. This can be done with `skimage.measure.label`

[code]

[2021-03-20 12:17] #5279 closed

[2021-03-20 17:22] mkcor commented on #5278
Hi @Make42,

Thank you for reporting! You are absolutely right; and even if the `image` ndarray does not already have dtype float64, it gets cast into a float array at
https://github.com/scikit-image/scikit-image/blob/a69d49272145d9839df75f3ee398c0bbde32f448/skimage/segmentation/_watershed.py#L204
through
https://github.com/scikit-image/scikit-image/blob/a69d49272145d9839df75f3ee398c0bbde32f448/sk

[2021-03-20 20:49] mkcor commented on #5275
@GenevieveBuckley no worries! @jni I don't remember what crossed my mind and got me into a self-convincing loop... Anyhow, sorry for the confusion, I fixed it with #5282 (and 9656e41be5230a26efd67bfeff6adc1a98926296). I agree it's important to keep the plane/row/col[/channel] convention, consistently with the [tutorial introducing 3D image processing](https://scikit-image.org/docs/dev/auto_example

[2021-03-21 23:34] GenevieveBuckley commented on #5275
Sure, go ahead

[2021-03-22 08:31] sciunto commented on #5189
I vote for the first proposition, parameters must be adjustable. We have also other algorithms requiring some knowledge in scikit-image. We must do our best in the docstring to provide an intuition of the behavior of each parameter (with a formula or with typical effects).

[2021-03-22 12:08] mkcor commented on #5169
# 2021/3/15 - 2021/3/22

This past week was dominated by small fixes for bugs and inconsistencies (still ongoing). Nothing to report at the high level.

## New pull requests open last week

#5282 Stick with usual convention for 3D spatial coords
#5281 Improved gaussian filter and convert_to_float(#5195)
#5280 Fix dtype info in in documentation for watershed.
#5276 Add data files for new illuminant

[2021-03-22 19:57] jakirkham commented on #5266
Sorry for the breakage. Glad to hear it wasn't too difficult to fix. Please let us know if there's anything else we should be looking into

[2021-03-23 08:55] sciunto opened #5290 "Changes not reported in the doc for 0.17 and 0.18"
## Description

See https://scikit-image.org/docs/stable/api_changes.html

Just noticed that and posted here to do not forget.

[2021-03-23 11:53] mkcor commented on #5004
Dear @neeraj3029,

Thank you for looking this up. I checked and the implementation is correct. Indeed, `noise` in `out = img * (noise + 1)` is speckle noise of *zero mean*:
https://github.com/scikit-image/scikit-image/blob/a69d49272145d9839df75f3ee398c0bbde32f448/skimage/util/noise.py#L39-L41

When the formula is expressed as `Y = FX` where `X` is the noise-free image and `Y` the noisy image, `F`

[2021-03-23 11:53] #5004 closed

[2021-03-23 13:17] grlee77 commented on #5199
Also related to #5205. @rfezzani, I just merged your `moments_hu` PR. Are you planning to work on the other moments functions? (I can spend some time this week looking at float32 stuff again, but don't want to duplicate effort)

[2021-03-23 13:21] #5278 closed

[2021-03-24 10:08] sciunto opened #5292 "old and new camera images are used randomly in the gallery"
## Description

Ex: Old version: https://scikit-image.org/docs/stable/auto_examples/edges/plot_edge_filter.html#sphx-glr-auto-examples-edges-plot-edge-filter-py
New version : https://scikit-image.org/docs/stable/auto_examples/registration/plot_masked_register_translation.html#sphx-glr-auto-examples-registration-plot-masked-register-translation-py

Looks like there is a cache issue (not cleared aft

[2021-03-24 12:09] jni commented on #5292
Wow!

[2021-03-24 23:49] GenevieveBuckley commented on #5266
FYI, there should be a new Dask release in the next couple of days, including the fix I made above: https://github.com/dask/community/issues/139

[2021-03-25 08:42] rfezzani commented on #5199
Hi @grlee77, and sorry for my late answer, I am too busy these days :confused:. I didn't planned to spend time on this topic, you can go ahead if you wish :wink:

[2021-03-25 22:30] #5275 closed

[2021-03-27 10:31] FirefoxMetzger opened #5294 "linting as a test (with PR annotations)"
A while ago I've learned that it is now possible to have the CI comment directly on PR lines via GH Actions and I've finally found some free time to dig into it. Once you understand how it's supposed to work, it really isn't complicated at all. As a result, I've set up linting as a test that can fail CI. This is an alternative to a self-updating pep8speaks comment, which I always found hard to kee

[2021-03-27 13:58] hmaarrfk commented on #5294
As an more advanced user, I appreciate these comments.

As a novice contributor, i felt those comments were hostile and it made me feel strange to receive a "no" from a bot before hearing back from a human.

Is there a way to manually trigger the comments?

[2021-03-27 14:56] FirefoxMetzger commented on #5294
@hmaarrfk I know that it is possible to set up actions that can/need to be triggered manually, so you could have the linting in a separate action that can be triggered by members/teams/etc. I know that over at TensorFlow they are doing this because their CI/CD is so big that it's too expensive to run it fully on all PRs. That said, I've never looked into setting this up myself.

I'm not sure I get

[2021-03-27 15:14] FirefoxMetzger commented on #5294
Oh, in the spirit of full disclosure: I just learned that there is a limitation of 10 error and 10 warning annotations per step, and 50 per job. [[Source](https://github.community/t/annotation-limitation/17998/2)] So I can understand if the annotations feature would still be considered too new to be viable.

I still think that failing CI based on code style can be valuable.

[2021-03-29 15:27] hmaarrfk opened #5297 "Update pyproject.toml with recommendations from scipy"
Aarch64 seems to requrie special handling in pyproject.toml
https://github.com/scipy/scipy/blob/master/pyproject.toml#L23

@janaknat  are you in a position to make this PR to the main branch? I can review, then backport to 0.18.x

[2021-03-29 17:57] michalkrawczyk commented on #3577
Has anything changed with that issue? Cause when I was trying to reproduce - I got:
`ValueError: dtype cannot be bool.`

Also: As I remember bool is actually uint8_t. In many applications have False if value is 0, if any other - True

[2021-03-30 01:09] hmaarrfk opened #5299 "Version 0.18.2 -- aarch64 wheels"
On the road to building aarch64 wheels, we are trying to release 0.18.2

Presently, from what I know, we need to:

- [x] Backport enough things to ensure that the tests pass on v0.18.x
- [x] Enable aarch64 buidls on the build wheel phase
- [x] Ensure that the standard builds pass. Presently, one seems to be failing. https://github.com/scikit-image/scikit-image/runs/2223309898?check_suite_focus=tru

[2021-03-30 01:12] hmaarrfk commented on #3091
Seems like there are failures in 32 bit wheels with `features`
[code]

[2021-03-30 01:21] hmaarrfk commented on #5299
I'm trying to build 32 bit wheels with verbose testing in:
https://github.com/hmaarrfk/scikit-image/actions/runs/699799160

[2021-03-30 01:40] hmaarrfk opened #5300 "MrMeeseeks and main"
I feel like mrmeeseeks isn't doing well with the master->main migration.

Is there anything we can do about this?

[2021-03-30 02:18] hmaarrfk commented on #3091
It seems to fail specifically with
[code]

[2021-03-30 02:20] abigailstone commented on #5259
Hi - I'm an open source newbie looking for a good first issue! I'd be interested in tackling this if nobody's started working on it yet.
I have a quick clarification question first: there's some talk in that forum post about a `preserve_memory` flag for sparse `svds`, is that the preferred solution or should the sparse completely replace the existing `svd`?

[2021-03-30 12:34] hmaarrfk opened #5302 "Are we ready for manylinux2010"
Numpy released the CPython 3.9 wheels as manylinux2010. Without specifying the buildwheel options as manylinux2010, it seems that our CI is building from source which is causing it to have strange failures with BLAS and other optimized code.

I see no advantage in maintaining manylinux1 wheels for CPython 3.9.

I think we should simply move on as it should be safe to assume that people using CPyth

[2021-03-30 16:25] hmaarrfk commented on #5302
I believe my builds for CPython 3.9 were successful with manylinux2010 and i would like to propose moving to that for any future releases, 0.18.2 and 0.19.0 included.

[2021-03-30 17:26] janaknat commented on #5297
Yeah. I can help with this.

[2021-03-30 22:55] jni commented on #5300
What do you mean by "isn't doing well"? We should create an issue at https://github.com/MeeseeksBox/MeeseeksDev/issues, but it should have more details than this. :joy:

[2021-03-30 23:09] jni commented on #5259
Hi @abigailstone, and welcome! :blush: Given the potential gains, my preference is to just replace it altogether. Which also has the advantage of being easier to implement! :blush:

[2021-03-30 23:11] jni commented on #5259
(And I think @rfezzani's comment above means at least one other core dev agrees!)

[2021-03-30 23:39] hmaarrfk commented on #5300
xref:
- https://github.com/scikit-image/scikit-image/pull/5283#issuecomment-809343983
- https://github.com/scikit-image/scikit-image/pull/5243#issuecomment-809031809

[2021-03-31 01:23] jni commented on #5300
Ok I made an issue: https://github.com/MeeseeksBox/MeeseeksDev/issues/47

[2021-03-31 07:03] sciunto commented on #5258
I close this issue. If the problem persists, please reopen.

[2021-03-31 07:03] #5258 closed

[2021-03-31 07:12] rfezzani commented on #5259
Your are guessing well @jni :slightly_smiling_face:

[2021-03-31 11:18] sciunto commented on #5290
Quick investigation: `doc/source/api_changes.md` is not up to date.

The changes reported in this files seem to be only for the deprecations, not the api changes.
Ex: https://github.com/scikit-image/scikit-image/blob/main/doc/release/release_0.15.rst

I think we could generate this file by collecting deprecation + api changes sections in release notes.

[2021-03-31 15:03] grlee77 commented on #5290
Yeah, that sounds good. Thanks for reporting this!

[2021-03-31 16:27] Carreau commented on #5300
That should be fixed, "master" was hardcoded, and I now look at the default_branch and clone it instead of trying to clone master.  It does work on the test repo with a master renamed to "trunk", so my guess is "main" should be ok.

[2021-03-31 18:15] grlee77 commented on #5299
It looks like the failure occurs within a call to `np.eigvalsh` when NumPy calls the LAPACK function DSYEVD:
https://github.com/hmaarrfk/scikit-image/runs/2223694716?check_suite_focus=true#step:6:6498

<details>

[code]
<\details>

[2021-03-31 18:20] grlee77 commented on #5299
Earlier in the log, pip does not find a NumPy wheel, so it gets built from source instead. It looks like there is an aarch64 wheel for Python 3.9 on PyPI, but it was built with manylinux2014 (while the aarch64 wheels for Python 3.7 and 3.8 were built with manylinux 2010): https://pypi.org/project/numpy/#files

[2021-03-31 18:41] alexdesiqueira commented on #5169
# 2021/3/23 — 2021/3/31

Sorry about that @grlee77; it's my week off and I forgot to deliver that before leaving :slightly_smiling_face:

## new pull requests open last week
#5308 Add new illuminants to data registry.
#5307 DOC: Specify the release note version instead of the misleading `latest`
#5306 Doc: make more comprehensive "see also" sections in filters + fix
#5305 Precompute histogram to s

[2021-03-31 19:42] mjmdavis opened #5309 "__call__ unclear in documentation"
Perhaps I missed something but it took me a while to realise that there was an `__call__` on this object. Perhaps extending the example would help prevent people from having this issue in future.

https://github.com/scikit-image/scikit-image/blob/a655681010caff396a2f584686c524246ae359d3/skimage/transform/_geometric.py#L602

[2021-03-31 21:53] jni commented on #5309
Great idea @mjmdavis! Indeed you're not the first to be confused by this! :grimacing: And I think many Python newbies might not even realise what `__call__` does.

[2021-03-31 22:38] jni commented on #5300
Thanks @Carreau! 🎉

[2021-03-31 22:38] #5300 closed

[2021-04-01 01:22] hmaarrfk commented on #5299
@grlee77 i guess not only do i have to bump the normal python 3.9 requirements for x86, but i have to bump manylinux even more for aarch64.

[2021-04-01 01:30] hmaarrfk commented on #5299
It seems that the very first release of numpy for aarch was using manylinux2014

https://pypi.org/project/numpy/1.20.0/#files

I can probably pin to that.

[2021-04-01 04:10] hmaarrfk commented on #5299
It seems that 2014 is the current default for aarch64

[2021-04-01 15:06] grlee77 commented on #5302
I merged #5303, but wanted to ask about the timeframe for moving everything to manylinux2010 for all Python versions. It looks like keeping manylinux1 is mainly only needed to be able to install NumPy<1.19 from wheels?. For NumPy 1.19+, manylinux2010 wheels are available for our supported python versions.

The following blog post from last Nov. is a reasonable reference: https://labs.quansight.org

[2021-04-01 21:20] hmaarrfk commented on #5302
From that link:

It seems that for Python 3.7 wheels, we are likely OK to ship manylinux2010 wheels only from now on.

I think the only Python 3.6 builds we expect are for version 0.17 which I don't think we are planning a release for (if we are, somebody needs to backport the recent changes to the build infrastructure).

[2021-04-02 20:18] mayorx commented on #4985
I reproduce the matlab ssim in pytorch (with en error < 0.0001) . If you are still interested, you can see it here: https://github.com/mayorx/matlab_ssim_pytorch_implementation.

[2021-04-02 22:24] mugheesahmad commented on #4985
@mayorx Thanks for sharing. I came across this implementation, which is also consistent with Matlab,and corrently I am usnig this for my workarouund.  see this https://github.com/hzwer/arXiv2020-RIFE/blob/15cb7f2389ccd93e8b8946546d4665c9b41541a3/benchmark/pytorch_msssim/__init__.py#L81

[2021-04-05 03:32] mikelars16 opened #5312 "find the angles of the objects in the binary image ?"
Respected All,
I have a binary image in which there are 12 white objects. I want to find the angle of each object using scikit-image library. I was researching and found the scikit-image library. I am very excited to work with this library. Based on this, I tried to find the angles but I am getting the wrong angles.
I would like to know how to work with a scikit-image to get such a kind of angle.

[2021-04-05 14:12] grlee77 commented on #4259
NumPy was bumped to 1.16.5 in #5016

[2021-04-05 14:12] #4259 closed

[2021-04-05 14:50] grlee77 commented on #4085
closing this as stale. I don't think we still use Ubuntu 14.04 anywhere (GitHub actions appear to be using either 18.04 or 20.04)

[2021-04-05 14:50] #4085 closed

[2021-04-05 14:58] grlee77 commented on #2958
I am closing this since we are now using `pyproject.toml` which will pull in an appropriate NumPy

[2021-04-05 14:58] #2958 closed

[2021-04-05 15:18] grlee77 commented on #3323
I am closing this issue as it seems largely resolved by moving to pooch in #3945. Please reopen and comment with an updated summary of any remaining tasks if there are remaining aspects still to be addressed.

[2021-04-05 15:18] #3323 closed

[2021-04-05 15:30] grlee77 commented on #4454
@hmaarrfk, I renamed this issue since we no longer use Travis, but I think we still do not currently fail on these warnings?

[2021-04-05 15:33] grlee77 commented on #5267
@mkcor, can this issue be closed or is there still something remaining to be resolved?

[2021-04-05 15:37] grlee77 commented on #3228
I am closing this as #3222 was merged and the discussion related to Travis is now outdated. If desired, please reopen a new issue about potentially allowing `--pre` failures, which I don't think we have done at this time

[2021-04-05 15:37] #3228 closed

[2021-04-05 15:39] #2269 closed

[2021-04-05 15:53] grlee77 opened #5314 "imageio test failure with Pillow >= 8.2"
## Description

Some of our CI runs fail with the recently released Pillow 8.2.0 (example: https://github.com/scikit-image/scikit-image/pull/5313/checks?check_run_id=2270643861#step:5:507).

This seems to be caused by the change of an error type from SyntaxError to OSError in the following upstream commit:
https://github.com/python-pillow/Pillow/commit/22e9bee4ef225c0edbb9323f94c26cee0c623497

We

[2021-04-05 16:07] hmaarrfk commented on #4454
Thanks @grlee77

[2021-04-05 16:07] #4454 closed

[2021-04-05 16:48] mkcor commented on #5267
@grlee77 it can be closed, right, thanks for keeping tabs! Closing now.

[2021-04-05 16:48] #5267 closed

[2021-04-05 18:33] #5314 closed

[2021-04-06 06:22] sciunto commented on #5312
Dear @mikelars16

Thank you for your interest.

This issues page is dedicated to bug reports. You will have a better chance to get help by posting the question to the community, either through this [forum](https://forum.image.sc/tags/scikit-image) or [stackoverflow](https://stackoverflow.com/questions/tagged/scikit-image).

I close this post. Feel free to reopen if you identified a bug, with a min

[2021-04-06 06:22] #5312 closed

[2021-04-07 06:19] sciunto opened #5318 "sphinx: role 'arxiv' is already registered"
## Description
in main,

[code]

[2021-04-07 06:39] sciunto commented on #5318
To me, this is related to https://github.com/scikit-image/scikit-image/blob/5ed9bd65ab1e7d98f024d36c33e4ad39d7924160/doc/ext/doi_role.py#L33
but I don't see a related change in sphinx changes...

[2021-04-07 07:03] sciunto commented on #5318
Fix: https://github.com/scipy/scipy/commit/3817289aec12ad3c31e81675023e859e6e1cf9ea

[2021-04-07 12:31] #5318 closed

[2021-04-07 14:44] VolkerH opened #5321 "proposal: add optional channel_names argument to regionprops"
## Description

I noticed that  as of #5037  `regionprops` can measure intensity properties for multichannel images.
The resulting intensity properties are named with an appended `-0` ,.... `-n` for a `n+1` channel
image, e.g. `mean_intensity-0`, `mean_intensity-1`.

In practical applications the channel may have meaningful names, e.g. `DAPI` or `GFP` for fluorescence microscopy images.
My proposa

[2021-04-07 14:46] VolkerH commented on #5321
Oops ... after following the link to #5037 I realize that this isn't that trivia as I thoughtl because the numbering comes from the way that vector-valued features in regionprops are unrolled into  `regionprops_table`.

[2021-04-07 15:10] grlee77 commented on #3081
I could not reproduce this issue with our current CI configuration and Qt versions used there (see #5313)

[2021-04-07 15:41] grlee77 commented on #5321
Thanks @VolkerH. I haven't inspected the implementation in terms of what refactoring may be required, but the idea seems reasonable to me.

[2021-04-08 07:17] stefanv commented on #2429
@zpincus You indicated above that you'd be willing to relicense your thin plate spline warping code under BSD.  Is that still on the table?  I think we now have a very compelling example of how useful this is (see [forum post](https://forum.image.sc/t/equivalent-for-matlabs-piecewiselineartransformation2d/51035/4) linked above).

[2021-04-08 12:09] VolkerH commented on #5321
looking into this a bit more,  the new optional `channel_names`  in `regionprops` and `regionprops_table` could be passed to  `_props_to_dict` which would be the function in which the new functionality is added. A `channel_names` are then the default `None` would also flag that these are multidimensional intensity measurements.

[2021-04-08 15:58] zpincus commented on #2429
Sure, happy to! What's the best way to make the code available for you all? A gist post with a BSD license at the top?

[2021-04-08 22:47] stefanv commented on #2429
@zpincus Ideally, we'd have the skimage license on it, but no problem if you add your own copyright then we can add an entry to our license file. A gist is perfect. Thank you!

[2021-04-09 04:53] zpincus commented on #2429
Here you go, with scikit-image license.
https://gist.github.com/zpincus/be1e2293ec0d679b0f6d3e600ac8fccc

BTW, the code that optionally speeds things by upsampling a low-res transform could/should probably be rewritten to use `map_coordinates` -- I have no idea why I wrote my own linear interpolation routine instead??

[2021-04-09 05:00] stefanv commented on #2429
Thank you, that is very generous of you!  I will rework this to fit within the `skimage.transform` framework, to solve the linear equations directly, and to redo the low-res transformation using built-in routines as you suggest.  Let me know if you have other ideas for it.

Maybe `map_coordinates` was a later optimization for the first part? :man_shrugging:   Either way, I was impressed to see jus

[2021-04-09 05:34] zpincus commented on #2429
It might be useful to expose `_make_warp()` directly to users with a slightly nicer API, as a way to calculate the position of a set of (x, y) coordinates under the forward or reverse transform? See https://github.com/zpincus/celltool/issues/4

[2021-04-09 05:51] stefanv commented on #2429
I'll fit it into the framework we have for all transforms: https://github.com/scikit-image/scikit-image/blob/main/skimage/transform/_geometric.py#L166

I think that should cover this use-case.

My pleasure (although you should say thank you once I've done the work ;)).

[2021-04-09 06:33] horsto commented on #2429
Thanks so much for doing this! Can't wait to see this implemented into scikit-image!

[2021-04-09 13:12] VolkerH opened #5324 "`regionprops` multichannel measurements don't work for `extra_properties`"
## Description

`regionprops` measurments have been supporting multi-channel intensity images as of recently.
However, when combined with `extra_properties`-functions that also rely on intensity the `extra_properties` only appear to be dispatched for one channel (at least the result is not multi-channel).

## Way to reproduce

Call `regionprops` with a multi-channel `intensity_image` and an `extra

[2021-04-11 20:27] jankaWIS commented on #2347
Hi all, first of all, I believe this has potential use. Besides what has been mentioned, I have encountered it now as well and I also started working on implementing a fractal analysis for my colleague. First of all, there has been [this extension to 3D](https://github.com/ChatzigeorgiouGroup/FractalDimension) together with some applications. Second of all, in biology for image processing, FiJi/Im

[2021-04-11 22:30] hmaarrfk commented on #5299
@jni not sure what is left to release 0.18.2. I think it would be beneficial to do it sooner rather than later since people have been asking for an aarch build.

Thoughts?

[2021-04-12 12:16] grlee77 commented on #5169
# 2021/3/29 - 2021/4/5
## New pull requests open last week

#5311 remove misleading comment in example code
#5310 Backport PR #5303 on branch v0.18.x (Use manylinux2010 for python 3.9+)
#5308 Add new illuminants to data registry.
#5307 DOC: Specify the release note version instead of the misleading `latest`
#5306 Doc: make more comprehensive "see also" sections in filters + fix
#5305 Precompute hi

[2021-04-12 12:17] grlee77 commented on #5169
# 2021/4/5 - 2021/4/12

Most issues/PRs closed this week were fixes to documentation builds and CI.

## New pull requests open last week

#5326 Update pyproject.toml to ensure pypy compatibility and aarch compatibility
#5325 DOC: add empty line before section for proper parsing.
#5323 Lddmm registration
#5322 avoid importing or calling functions from ndimage submodules
#5320 Fix sphinx layout to m

[2021-04-12 12:21] #5297 closed

[2021-04-12 12:29] mkcor commented on #4455
@rajpratyush for sure! Otherwise the issue would be closed and/or `disk` and `perimeter` would appear in https://scikit-image.org/docs/dev/glossary.html and/or further conversation would say otherwise.

[2021-04-12 12:31] rajpratyush commented on #4455
Thanx this is my first time contributing to scikit learn could you point me to file needed to be changed

[2021-04-12 12:37] grlee77 commented on #5268
I agree about doing this for order=0. Should also do it for all other orders?

By default, all functions in `scipy.ndimage.interpolation` preserve dtype. If the `output` argument is not specified then an output array is allocated with the same dtype as the input. Internally interpolations are always done in double precision in the C code, but the result is cast back to the output dtype for storage

[2021-04-12 12:51] rfezzani commented on #5268
I have no strong opinion for `order > 0`, my only fear is that it is a major behaviour change, so it launches a deprecation cycle may be painful for `skimage` users. We can let the responsibility to the user if a recast to input dtype is needed since internal computations are always performed with floating points operations.

Concerning `order = 0`, we can consider it a bug fIx, so no deprecation.

[2021-04-12 12:54] mkcor commented on #4455
@rajpratyush this is scikit-image, not scikit-learn ;-)
Well, the time that you might think you will 'waste' looking for the right file to edit... is actually useful in the longer run, because this way you will gradually become familiar with the codebase and its organization. Are you familiar with any recursive grep tool?

[2021-04-12 12:56] rajpratyush commented on #4455
@mkcor sorry for typo

I am familiar with the grep tool
I know it will be highly useful

[2021-04-12 13:28] grlee77 commented on #5268
I agree that it would be a sudden change in behavior that might annoy users. That is why I wanted to determine if this was desired so we could plan it for the 1.0 release if needed.

[2021-04-12 22:29] grlee77 commented on #5272
The repo I was referring to here is now available as a new RAPIDS project called [cuCIM](https://github.com/rapidsai/cucim). Currently, it should be possible to install for CUDA 11.x via conda from the `rapidsai-nightly` channel. For example, to create a new conda environment with it:

[code]

In a few days it should be ready on the main `rapidsai` channel as well. If you try it and encounter any

[2021-04-13 15:58] #5324 closed

[2021-04-14 15:15] mkcor commented on #5268
Speaking of preserving input ranges, PR #5281 makes our Gaussian filter preserve them *by default*... :eyes:

[2021-04-15 07:24] jni opened #5330 "Add support for negative coordinates in warp"
## Description

Motivated by https://forum.image.sc/t/skimage-warp-determine-output-shape-so-output-does-not-crop/51433

If we want to warp images relative to each other and some of the image ends up in negative coordinates in the output, there is no combination of arguments that will recover the full transformed image. I see a couple of options around this:

- add an `origin=` keyword argument th

[2021-04-15 09:27] rougier commented on #2347
Ok. Maybe it's time to create a small project on GitHub given the regular interests in fractal dimension. This will ease the collaboration and the many corrections. What do you think?

[2021-04-15 09:40] #5268 closed

[2021-04-15 15:08] grlee77 opened #5331 "orphaned codecov files"
## Description

We used to run `codecov` via TravisCI, but I don't think we have run it since we moved to GitHub actions. I was looking into this due to [a recent security incident](https://about.codecov.io/security-update/). As far as I can tell, we should be unaffected here because I don't think we have run codecov after Jan 31st, 2021 when the issue first occured.

Which of the following action

[2021-04-15 17:57] hmaarrfk commented on #5331
ohhhh, that is why codecov bot hasn't been working.

I think adding code coverage again would be good. I would prefer it if the bot didn't speak though.

[2021-04-16 06:03] horsto commented on #5330
Thanks for picking this up! It would be great if that functionality was implemented somehow.

[2021-04-16 07:42] rfezzani commented on #5330
Based on my [comment](https://forum.image.sc/t/skimage-warp-determine-output-shape-so-output-does-not-crop/51433/4?u=rfezzani) I'll open a PR to create a tutorial concerning image stitching which I think will be of some help for `skimage` users :wink:.

[2021-04-16 07:43] horsto commented on #5330
Awesome, thanks!

[2021-04-16 09:24] mkcor commented on #5331
Could we do option 1 *and* include the same kind of code coverage as for [local testing](https://scikit-image.org/docs/stable/contribute.html#test-coverage) in our CI scripts?

- [ ] Update contribution guidelines about using [TravisCI](https://scikit-image.org/docs/stable/contribute.html#activate-travis-ci-for-your-fork-optional).

[2021-04-16 17:27] divyank0 commented on #5189
I have a created a pull request for this. do have a look.

one suggestion made by mkcor is to use default Parameter values.   It might be a good idea, what does everyone think about it?

As to what those values could be?  We could set values of nu, tau, omega, and kappa corresponding to Otsu's method.
Hence by default generalized histogram thresholding will work as Otsu's method.

[2021-04-17 00:44] cowlinator commented on #4780
@jni, if  `msvc-runtime` is a prerequisite, then why isn't it just included in the setup.py requirements like `numpy` and `pillow` are?

[2021-04-18 10:38] Ankuraxz commented on #4705
Here to help: https://forums.developer.nvidia.com/t/install-scikit-image/122912/12

[2021-04-18 12:28] Ankuraxz commented on #4705
@merrcury can you please look at issue of ''' ENV LANG en_US.UTF-8  '''

[2021-04-18 12:37] Ankuraxz commented on #4705
Once instructions on  https://forums.developer.nvidia.com/t/install-scikit-image/122912/12 is followed, you can configure `LANG` and install scikit-image using

`pip3 install -U scikit-image`

If 'imagecodecs' gives issue, check this article out-

Issues caused by a file called 'blosc.h' checkout this artcle

[code]

[2021-04-18 13:21] Ankuraxz commented on #4705
Here's all that worked for me, I am using a `l4t container deployed on Jetson Nanno 2`
Know more about L4T containers here - https://ngc.nvidia.com/catalog/containers/nvidia:l4t-base

## Step 1 UTF-8 Setup
[code]
Move to end of this file and add `EXPORT LANG=en_US.UTF-8` , save this file and get back to terminal

Run these commands now
[code]

## STEP 2 DEPENDENCIES - IMAGECODECS AND SCIKIT-IMAGE

[2021-04-18 16:10] hmaarrfk commented on #4705
Unfortunately, I think you are falling in the trap of trying to install scikit image without a virtual environment from pip

We outline this in our installation instructions.

https://scikit-image.org/docs/stable/install.html#install-via-pip

Please ensure that you've created a virtual environment first otherwise, i can guarantee that at some point down the line (maybe in 1 year or two) you will i

[2021-04-18 16:31] Ankuraxz commented on #4705
Its hard to use venv specifically for my application, and `python3-skimage` throws import error with latest release of `python3-numpy`
Error Message:
[code]
this issue has been referenced in-
* https://github.com/numpy/numpy/issues/12744
* https://github.com/scikit-image/scikit-image/issues/3649

[2021-04-18 16:33] Czaki commented on #4705
Could you point why? I do not meet such example.

[2021-04-18 17:28] hmaarrfk commented on #4705
@Ankuraxz  you should open an issue on the linux release you use. the should be able to catch this on their build systems. If they cant fix scikit image, they simply shouldnt offer it. my guess is that they froze to the latest version that supported python2

[2021-04-18 18:13] theschles commented on #5299
@hmaarrfk
Still seeing problems with wheel aarch64 on `master`.  Building on Ubuntu 20.04.2 LTS / focal
Linux odroid 3.16.85-65 #1 SMP PREEMPT Mon Jan 18 13:32:38 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux
python 3.8.5

Needed `scikit-image` for `hplip` 3.21.2, and that install was failing.

So after a bit of digging and manually installing the dependencies of `scikit-image` 0.18.1, I think I foun

[2021-04-18 19:03] tupuinui commented on #2380
This is something that could fit in the new QMC module of SciPy: `scipy.stats.qmc`. I was actually looking into it. @diregoblin and others if you are interested, I would be happy to help you integrate it and review!

[2021-04-18 19:03] tupui commented on #2380
This is something that could fit in the new QMC module of SciPy: scipy.stats.qmc. I was actually looking into it. @diregoblin and others if you are interested, I would be happy to help you integrate it and review!

[2021-04-18 19:44] mmartial commented on #4705
I will mention this `Dockerfile` https://github.com/datamachines/cuda_tensorflow_opencv/blob/master/JetsonNano/Dockerfile which is the one I use to build this container's Jetson Nano version.
In https://github.com/datamachines/cuda_tensorflow_opencv/blob/master/JetsonNano/OpenCV_BuildConf/jetsonnano-cuda_tensorflow_opencv-10.2_2.3_4.5.1-20210218.txt you can see we have 1.1.7.2

[2021-04-18 20:03] grlee77 opened #5337 "warnings from skimage.io module in test suite"
## Description

The following test suite warnings were observed for the main branch while working on #5336

[code]

[2021-04-18 20:56] diregoblin commented on #2380
Hi @tupui, it'd be great to have this integrated as part of SciPy, I think. I don't have any experience contributing to large open-source projects though, so if you can guide me, that'd be great :)

[2021-04-19 02:29] hmaarrfk commented on #5299
I guess the requirements.txt are not fully in sync with the pyproject.toml. can you try removing the pyproject.toml file? It lists the requirement of the lowest version of bumpy that exists on pypi as a wheel for aarch.

It seems that you have built it yourself though with a lower version. Is that correct?

[2021-04-19 07:02] tupui commented on #2380
I would be happy to help you @diregoblin. Either create an issue or a PR and we can discuss specifics. Just ping me 😃

To get you quick started: you would need to add your functions to `scipy.stats._qmc.py`. You would declare a class like `PoinssonDisk(QMCEngine)` and we should be able to set the dimension of the problem here. Then, we would need to be able to call `random(n)`. That's for the basi

[2021-04-19 12:05] mkcor commented on #5169
# 2021/4/12 - 2021/4/19

Hi, over the past week, most active issues/PRs related to maintenance. Note that a new feature (`threshold_generalized_histogram`) was submitted, yay! Also note that PR #5281 starts a deprecation cycle for our Gaussian filter, going from parameter default `preserve_range=False` to `preserve_range=True`: Please check if you agree with this API change... on road to scikit-im

[2021-04-19 21:35] theschles commented on #5299
@hmaarrfk I _have not yet_ successfully installed scikit-image, neither

- from a pre-built binary e.g. `pip3 install scikit-image==0.18.1`
- nor from `master` using the steps I showed in my prior post

When I removed the `pyproject.toml` file, it refused to build:
[code]

[2021-04-20 03:08] hmaarrfk commented on #5299
@theschles i'm really sorry to ask, but could you please open a new issue. The goal of this issue is to track progress on the 0.18.2 release which we plan to get out soon (in order to have aarch wheels).

In the issue, can you please provide the output of `pip list`

[2021-04-20 05:13] jni commented on #5299
@hmaarrfk I think we can go ahead and release assuming all is green on the 0.18.x branch. Separately, @grlee77 has started working with @leej3 and @viniciusdc, also at Quansight, to overhaul our release process, so maybe this is a good chance to get them to witness the mess 😂. Perhaps we can schedule a day next week to have a big release party? ;)

[2021-04-20 08:04] leej3 commented on #5299
Sign me up!

[2021-04-20 18:25] theschles opened #5339 "Unable to install binary or build from master on ARM64 Ubuntu 20.04.2 LTS"
@hmaarrfk
Still seeing problems with wheel aarch64 on `master`.

- Building on Ubuntu 20.04.2 LTS / focal
- `Linux odroid 3.16.85-65 #1 SMP PREEMPT Mon Jan 18 13:32:38 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`
- `python` 3.8.5

Needed `scikit-image` for `hplip` 3.21.2, and that install was failing.

So after a bit of digging and manually installing the dependencies of `scikit-image` 0.18.1, I th

[2021-04-20 18:38] theschles commented on #5339
@hmaarrfk's response:
https://github.com/scikit-image/scikit-image/issues/5299#issuecomment-822124907

My response:
https://github.com/scikit-image/scikit-image/issues/5299#issuecomment-822801114

@hmaarrfk  requested the output of `pip list`:
[foo2.txt](https://github.com/scikit-image/scikit-image/files/6345943/foo2.txt)

[2021-04-20 20:07] hmaarrfk commented on #5339
It seems that pip is finding dependencies in your system libraries.

Please try to create a virtual environment, as described in:
https://scikit-image.org/docs/stable/install.html#install-via-pip

Or use conda (with conda-forge): https://github.com/conda-forge/miniforge

Let me know the results when you've created a virtual environment. The reason this is important is that pip will check for the d

[2021-04-20 20:08] hmaarrfk commented on #5339
Since you are using system dependencies, can you confirm that
[code]
doesn't work. We've been using with the debian packager for quite a while, and they had the package working on aarch64 for quite some time.

[2021-04-21 15:26] grlee77 opened #5341 "prune release 0.18 items from release_dev.rst"
## Description

It seems that items from release 0.18 are still in `release_dev.rst`. This came up in https://github.com/scikit-image/scikit-image/pull/4946#issuecomment-823988824 where the documentation section was pruned. We should check over the remainder of the file to avoid having duplicate entries from the prior release.

[2021-04-21 17:25] hmaarrfk commented on #5341
We should really move to towncrier. It has been a dream of mine to suggest the infrastructure changes but I never had time to complete it. It really makes release notes painless.

[2021-04-21 18:18] tupui opened #5342 "ENH/DOC: remove references to np.random.RandomState in favour of np.random.Generator"
### Description

Once NumPy minimal version is set to 1.17 #5340, I propose to do a PR to remove from the documentation/code any reference to `RandomState` and wrong (not best practice) usage of random number generators.

We went through this in SciPy (doc part for now). More on the PR https://github.com/scipy/scipy/pull/13778

### Additional context

Since NumPy 1.17, the [canonical way](https://

[2021-04-21 20:06] grlee77 commented on #5341
Yes, towncrier is one of the items we discussed recently for CI work funded under the CZI grant. I think @leej3 and @viniciusdc will be taking a look at this in the relatively near future.

[2021-04-21 20:17] leej3 commented on #5341
Yes. If all goes well I would say in 2-4weeks. My confidence interval shall shrink rapidly at the end of the week.

[2021-04-22 03:55] grlee77 opened #5345 "poor performance of Haar features when run with multiple threads"
## Description

In #5338, it was observed that computing Haar features with a single thread is faster than running it multi-threaded. Look into why this is the case.

[2021-04-22 08:30] rfezzani commented on #4048
I can't reproduce this bug :tada:
[code]
![Figure_1](https://user-images.githubusercontent.com/3438227/115682357-af170080-a355-11eb-847b-1223b9531441.png)

[2021-04-22 08:30] #4048 closed

[2021-04-22 09:15] jni commented on #4780
@cowlinator see [this comment](https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-644953362). There were some issues with that solution which meant that we never took the decision to add it. I think probably we will go this route in the end, but the decision has to be made and is not 100% obviously the right solution.

[2021-04-22 09:57] jni commented on #4780
I've added this to 0.19 so it gets looked at before our next release. @hmaarrfk @grlee77 any thoughts about adding this to the 0.18 branch also?

[2021-04-22 10:11] jni commented on #5189
The signature should take an image *or* a histogram, where the histogram can be either just the set of frequencies or the bin centres and the frequencies. See the code for Otsu's thresholding for details. The idea is that you can provide the image (as all thresholding methods do), *or*, if you have a precomputed histogram, you can provide the histogram, which is more efficient.

The parameters sho

[2021-04-23 05:44] #5199 closed

[2021-04-23 20:52] grlee77 opened #5352 "Gallery example(s) causing Azure CI to hang"
## Description

In #5351 it was observed on two subsequent runs that CI got stuck until timeout while running `doc/examples/applications/plot_3d_interaction.py`. This is a visualization example that should complete nearly instantaneously (there is no substantial computation).

In that PR I edited the CI script to skip this specific example as a temporary workaround and the Azure "gallery testing"

[2021-04-26 20:56] #4647 closed

[2021-04-26 22:15] alexdesiqueira commented on #5345
Ran some tests here.
Using `scheduler='single-threaded'`:

[code]

Using `scheduler='threads'`:

[code]

It doesn't seem that different; I see that `training` is taking more time when using `scheduler='threads'`.

[2021-04-26 23:04] jni commented on #5345
Well, the expectation is that this should be sped up by almost however many cores you have on your machine, so it's a long way off that...! Definitely looks like *something* is holding the gil that shouldn't be...

[2021-04-27 00:39] #2008 closed

[2021-04-27 07:41] jni opened #5359 "API consistency: seed vs random_seed vs sample_seed"
## Description

See [this comment](https://github.com/scikit-image/scikit-image/pull/5357#issuecomment-827075682) from @grlee77:

For 1.0, we should make sure we pick one specific name. My vote is for `random_seed=`.

[2021-04-27 07:48] tupui commented on #5359
There are lot of `random_state` as well.

[2021-04-27 08:06] jni commented on #5359
Of course there are. 😂

[2021-04-27 08:07] jni commented on #5359
BUT. Maybe it should be `random_state` which allows passing in both integer seeds and an rng instance? That makes it more versatile. What do you think @tupui?

[2021-04-27 08:11] tupui commented on #5359
IMO in all case you should allow to pass `None, int, np.random.Generator`. It is what I proposed in the aforementioned PR. As for how it should be named, I don't know what people are using the most currently. I guess you know which functions are used the most and then which is the most common practice on these. It could help to make a choice.

[2021-04-27 10:49] rfezzani commented on #5359
Grep gives:
- `random_seed` in
  - `segmentation.quickshift`,
  - `draw.random_shape`,
- `random_state` in
  - `feature.draw_haar_like_feature`,
  - `measure.ransac`,
  - `future.graph.cut_normalized`,
- `sample_seed` in:
  -  `feature.BREAF`
-  `seed` in:
   - `transform.probabilistic_hough_line`,
   -  `restoration.unwrap_phase`,
   -  `data.binary_blobs`,
   -  `util.random_noise`.

[2021-04-27 11:47] rfezzani commented on #4154
Cross-ref #5359

[2021-04-27 14:54] rfezzani commented on #5036
@grlee77, did you close this issue intentionally?

[2021-04-28 01:07] jni commented on #5036
I'm gonna guess no, maybe @grlee77 can close with a rationale if my guess is wrong. 😂

[2021-04-28 02:16] grlee77 commented on #5036
Yeah, I don't remember closing this. Thanks for reopening

[2021-04-28 07:28] sjtugzx opened #5360 "RAG does not correctly merge weights"
## Description

Hi there,
I have a question about the example of merging RAG 1. I just wondering how does the parameters are passed to the identified function max_edge. For example, I wanna merge the node of 1 and 3, as far as I concerned the ‘src’ and ‘dst’ are supposed to be 1 and 3, however, the result is 1 and 5. Moreover, after merging these 2 nodes, if we choose the max weights, the result s

[2021-04-28 10:16] jni commented on #5360
Thanks for raising @sjtugzx! Clearly there is a bug here in how the weights are handled.

Re the ID of the new node, (src, dst) indeed becomes dst if in_place=True, but otherwise, a new node is created, which requires a new node ID. So that bit is behaving as expected.

[2021-04-28 15:32] PinkShnack opened #5361 "profile_line's reduce_func parameter should be np.nanmean by default"
## Description

When we implemented the `reduce_func` parameter for `skimage.measure.profile_line` I didn't realise that `np.mean` doesn't handle `nan` very well.

*Scenario example 1:*
By setting `mode="constant"` and `cval=np.nan`, `profile_line` will return `nan` when calculated by `np.mean`.

This could be fixed by your deprecation of `mode="constant"`. Why is this being deprecated by the way?

[2021-04-28 15:46] rfezzani commented on #5361
Hum, I will not call this a bug since NaN are IMHO exceptions, it must not rule the general case.
A user setting `mode="constant"` and `cval=np.nan` knows what he is doing and must also set `reduce_func=np.nanmean` by himself!

[2021-04-28 15:52] PinkShnack commented on #5361
Changed it from bug.
Indeed in the first case you're right, good reasoning.
But for the second case, wouldn't it be better for it to just handle `np.nan`?

[2021-04-28 16:57] grlee77 commented on #5361
`np.nanmean` handles NaNs but is quite a bit slower than `np.mean`, so it is a tradeoff between convenience and performance. If most users are not working with Data involving NaNs then we should probably not change the default.

[2021-04-29 03:48] jni commented on #5361
Yeah, I agree with @grlee77 and @rfezzani: nanmean is slower *and* correct nan handling is very context-dependent, so we have in general preferred to leave this to users. Having said this, I can see how one might want to measure things near the edge of images and *not* include measurements from outside the image, in which case `constant_value=np.nan, reduce_func=np.nanmean` would be the right appr

[2021-04-29 05:23] linyingyingkarina commented on #5270
hey, I have the same issue...did u solve?? and how? thanks.

[2021-04-29 07:12] PinkShnack commented on #5361
All makes sense, thanks for all the comments!

Brilliant, I shall do just that.

[2021-04-29 08:07] rfezzani commented on #5361
Thank you @PinkShnack, any PR is welcome of course  :wink:. I close this issue, but feel free to reopen it if you wish.

[2021-04-29 08:07] #5361 closed

[2021-04-29 08:16] VolkerH opened #5363 "Convex Hull - dependent features can trip up regionprops calculation"
## Description

For some degenerate objects (e.g. intrinisically one less dimension, too few voxels), convex hull calculation throws exceptions.
This has been reported by Yi (@sunyi000 on Github) here
 https://forum.image.sc/t/scikit-image-regionprops-and-regionprops-table-questions/52021/2
for intrinsically 1d objects. In this scase scipy throws the following exception. @jni has also been part of

[2021-04-29 08:43] jni commented on #5363
In general, this is a good idea. However in some cases (e.g. three colinear points), the convex hull image should simply be the same as the input image... What do you think @VolkerH ?

[2021-04-29 09:14] VolkerH commented on #5363
I think so. IMO that is really a bug in `qhull`, but on the other hand I am not firm enough on the mathematical definitions to say  with confidence what the correct output is for these degenerate cased.  In any case, that is something that would have to be fixed upstream, but this isn't even in scipy but some external library.

So for the time being I would suggest adding a try/except around
https

[2021-04-29 09:15] VolkerH commented on #5363
Or do that in
`morphology.convex_hull.convex_hull_image`

[2021-04-29 10:53] VolkerH commented on #5273
This is related to #5092 , just linking these issues here.

[2021-04-30 14:40] lmmx commented on #2239
I wrote a little explainer on image moments [related to image processing code in another library] [here](https://github.com/lmmx/page-dewarp/wiki/Background-on-image-moments) earlier this week, is this the kind of overview you were looking to put in the docs?

[2021-04-30 16:25] Pomax opened #5366 "metric.structural_similarity throws the wrong error for small sizes"
## Description

when using `structural_similarity` when the images are small (<7 in any dimension) a `ValueError` gets thrown, but with the wrong text:

[code]

Instead of misleading the user into thinking there's something wrong with the way they read in, or converted, their image data, this error should read:

[code]

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-04-30 16:27] Pomax commented on #5366
Additionally it might be worth updating the documentation for the structural_similarity function to explicitly mention this, as well as explain which function(s) people should be using instead if they need to compare (parts of an) image data that is very thin or very shallow.

[2021-04-30 17:09] grlee77 opened #5368 "enable CI skip on Azure"
## Description

It may be worth copying the code from the following SciPy PR that allows Azure CI to be skipped with either `[ci skip]`, `[skip ci]`, `[azp skip]` or `[skip azp]` in the commit message?

https://github.com/scipy/scipy/pull/13811

It can be useful in cases like #5367 where running the CI is not useful

[2021-04-30 18:24] grlee77 commented on #5366
Thanks for reporting this @Pomax. Indeed this error message should be updated to be more useful in this case.

`normalized_root_mse` and `peak_signal_noise_ratio` may be better for very small images

[2021-05-01 15:55] #5341 closed

[2021-05-02 08:48] xerohackcom opened #5369 "Reading FLIF Images Throws Error"
## Description

I'm trying to read FLIF images for image quality testing. I've used both Scikit.io as well as cv2 for trying to read the image using 'imread()', but it throws an error. Kindly help me on how to do it.

## Way to reproduce

## Version information

scikit-image==0.18.1
scipy==1.6.2
numpy==1.19.3

## Error Output

[code]

I've a similar issue with JPEG-XL (.jxl) images and had posted

[2021-05-02 12:26] hmaarrfk commented on #5369
are you able to provide us an image and the reproducing code?

[2021-05-03 20:36] alexdesiqueira commented on #5169
# 2021/04/27 — 2021/05/03

Last week's summary. Took advantage to merge some @grlee77 stuff (thanks Greg!); we updated minimal numpy and Pillow versions as well.

## new pull requests open last week
#5374 add numpy version specification on aarch for cpython 3.8
#5373 single precision support in skimage.segmentation
#5372 improved single precision support in skimage.transform
#5371 [WIP] change num

[2021-05-04 03:38] stefanv commented on #2239
@lmmx I think this is a great start.  I wonder if we can turn it into an interactive notebook illustrating the concepts as you go along.  Then, we can either add a tutorials section to our documentation, or add this to https://github.com/scikit-image/skimage-tutorials

[2021-05-04 12:40] lmmx commented on #2239
Great idea @stefanv, yes, the way the higher order moments [of the various kinds] are built up from the lower order ones would be really well-suited to a notebook style exposition, and if they'd support LaTeX too that'd be perfect (markdown Unicode can only do so much). I wasn't aware of the skimage-tutorials repo but that'd be the perfect venue yes! There is [something similar in OpenCV's docs](h

[2021-05-04 15:48] lmmx commented on #5272
Just wanted to add in links to [the presentation at GTC](https://gtc21.event.nvidia.com/user/login?ref=%2Fmedia%2FcuCIM%253A%2520A%2520GPU%2520Image%2520I_O%2520and%2520Processing%2520Toolkit%2520%255BS32194%255D%2F1_fwfxd0iu) and [cuCIM roadmap](https://github.com/rapidsai/cucim/blob/branch-0.20/python/cucim/docs/roadmap/index.md), exciting stuff! Worth noting that for now only TIFF is supported

[2021-05-04 15:49] stefanv commented on #2239
Both NumPy and NetworkX have now added notebook tutorials to their documentation.  @rossbar may be willing to lend a hand for skimage too, given that he's done it twice!  The idea is to use Jupytext so that notebooks can be stored as markdown files.  You can use LaTeX inside the markdown cells to expose mathematics.

[2021-05-04 17:36] rossbar commented on #2239
I'd be more than happy to help set this up or chat about it! One of the benefits is the generation of a static site from the notebooks that ends up (IMO) being a really nice pedagogical resource. For example, here's what we have for [numpy](https://numpy.org/numpy-tutorials/) and [networkx (not yet deployed)](https://22-40210422-gh.circle-artifacts.com/0/site/_build/html/index.html).

[2021-05-04 17:52] jakirkham commented on #5272
\<shameless plug\>

There are also 2 blogpost [one from NVIDIA]( https://developer.nvidia.com/blog/cucim-rapid-n-dimensional-image-processing-and-i-o-on-gpus/ ) and [one from Quansight]( https://www.quansight.com/post/performance-for-image-processing-with-cucim )

\</shameless plug\>

[2021-05-05 04:03] stefanv commented on #2239
That looks fantastic; I hope we can do something similar here.

[2021-05-05 16:09] lagru opened #5377 "Double requirements clash with development environment setup in installation guide"
## Description

The [pip installation of the development environment](https://github.com/scikit-image/scikit-image/blob/main/INSTALL.rst#build-environment-setup) doesn't work because pip finds conflicting/double requirements:
[code]
will return
[code]
Looking into the files:
[code]
This applies to matplotlib, tifffile, ... as well. I'm unsure how to proceed (therefore the issue rather than a PR).

[2021-05-05 16:15] lagru commented on #5377
False alarm. :sweat_smile:  `pip install -r <(cat requirements/*.txt)` works fine with pip 21.1.1. The error mentioned above is thrown for pip 20.2.3.

[2021-05-05 16:15] #5377 closed

[2021-05-05 18:19] grlee77 commented on #5377
I think the instructions probably require pip>=20.3 (when the [new dependency resolver became the default](https://blog.python.org/2020/11/pip-20-3-release-new-resolver.html)).

Perhaps we need to update the instructions with something like the following
`pip install –upgrade pip`
or
`pip install "pip>=20.3"`

[2021-05-05 18:30] grlee77 commented on #5377
I see that you have already made a PR for that in #5378, thanks!

[2021-05-05 18:43] grlee77 opened #5379 "clarify the meaning of the weights term for TV denoising functions"
## Description
In the Zulip chat, there was [a question regarding the "weight" term](https://skimage.zulipchat.com/#narrow/stream/175598-general/topic/total.20variation.20documentation) in `denoise_tv_bregman`.

In that implementation, smaller weights lead to more smoothing whereas the opposite is true for `denoise_tv_chambolle`.

The underlying cause seems just to be which term in the cost functi

[2021-05-06 06:37] jni opened #5380 "scikit-image stable release notes point to file on main branch"
## Description

If you go to scikit-image.org and click on release notes, it points to the latest release notes — on the master branch. It should instead point to the release notes on the tagged release.

[2021-05-06 06:43] jni commented on #5299
@janaknat @theschles I've pushed 3.7 and 3.9 aarch64 wheels for 0.18.2rc1. You can try installing them with `pip install -U --pre scikit-image`. Unfortunately there are no 3.8 wheel because [this workflow failed](https://github.com/scikit-image/scikit-image/runs/2498649855). I've rerun it a couple of times but it keeps failing — I'm not sure whether it's because of a bad github actions cache?

At

[2021-05-06 06:46] jni commented on #5339
See [this comment](https://github.com/scikit-image/scikit-image/issues/5299#issuecomment-833270412) for an update on available wheels

[2021-05-06 10:45] grlee77 commented on #5299
That rank filter failure may be resolved by backporting #5175

[2021-05-06 10:48] grlee77 commented on #4361
Closed by #5175

[2021-05-06 10:48] #4361 closed

[2021-05-06 15:45] janaknat commented on #5299
@jni The workflow that failed was due to i686 having an error. Hopefully, with the PR suggested by @grlee77 it gets resolved. With respect to manylinux, aarch64 is only supported starting with manylinux2014. cibuildwheel automatically does the right thing for aarch64.

I can test the wheels. Any particular test you'd like to see me run to check for correctness?

[2021-05-06 17:42] alexdesiqueira commented on #5380
@jni right now, it links to https://github.com/scikit-image/scikit-image/blob/main/doc/release/release_0.18.rst for me. What would we expect there?

[2021-05-06 17:43] alexdesiqueira commented on #5380
Maybe point to https://github.com/scikit-image/scikit-image/releases/latest?

[2021-05-06 18:25] hmaarrfk commented on #5299
I personally think we can skip hardware testing. We already release aarch stuff on conda-forge and it seems to be fine in the wild.

[2021-05-06 19:23] marhofmann opened #5384 "Feature Request: Considering 'Knight's move' in find_cost/route_through_array"
I found a paper which shows the impact of considering the "Knight's move" in shortest path analysis. I'll try to summerize the findings regarding this issue as follows:

and further

After deeper analysis coming to the conclusion:

[Source](https://doi.org/10.1371/journal.pone.0250106)

I find this very useful and promising. Would it be possible to implement it to find even "cheaper" paths through

[2021-05-06 21:55] lmmx commented on #2239
Wow that is awesome, would not have thought a 30 line [makefile](https://github.com/numpy/numpy-tutorials/blob/main/site/Makefile) thrown onto CI would make such a lovely site! I second that call to aim for something similar ☺️

[2021-05-07 02:46] scottstanie commented on #4621
Hi, I was going to open up an issue on this, but see it was already brought up.

The current implement does get the scaling wrong:
<img width="348" alt="image" src="https://user-images.githubusercontent.com/8291800/117390098-29499800-aeb3-11eb-82fd-ba06fc443309.png">
I was testing it on this fake image of a few blobs. In the blob detector, you'd expect the LoG or DoG filter to be weak at small `si

[2021-05-07 05:38] jni commented on #5299
Whatever it is you're using skimage for! 😂 ie if your feedback is that the wheels are fit for purpose we'll push the release — now with the latest test-skipping patch! 🎉

[2021-05-07 12:39] jni commented on #5384
Thanks for the issue @marhofmann!

Typically, we don't implement state of the art, "promising" approaches in scikit-image, favouring rather well-established algorithms that have already had high adoption in the scientific community.

Having said that, `route_through_array` could use some improvement. In particular, we should make it easier to specify arbitrary, custom neighbourhoods. Actually, MCP

[2021-05-07 13:00] Adarsh-Vemali commented on #1998
What is the solution to this?

[2021-05-07 13:40] grlee77 commented on #1998
Can you give a little more context of the shape of the data you are working with? Do you have an axis less than size 7 that is not a "channels" (color) axis?

If your data has color channels, the color channel needs to be the last axis and you should set `multichannel=True`. If the spatial axes are really so small that size is <7 then I don't know that using structural similarity as a metric is re

[2021-05-07 16:17] marhofmann commented on #5384
Thank your very much for your answer @jni!
So if i understood you correctly, adding the offsets for "Knight's moves" to the MCP constructor should do the trick? But a "Knight's moves" respects movements by 2 in any direction eg: [2,1], [-1,2] etc.  (total length of sqrt(5))

From the documentation of the MCP_Geometric class which should be more suitable for this case:

    is sqrt(2) in length. Ha

[2021-05-08 11:35] Adarsh-Vemali commented on #1998
Yes, I got it. The shape of my data had dimensions less than 7.  A quick and dirty solution I used was resizing the image to 7.
Also, yes using SSIM is not reasonable as well. Thanks for the reply.

[2021-05-08 11:35] Adarsh-Vemali commented on #1998
Yes, I got it. The shape of my data had dimensions less than 7. A quick and dirty solution I used was resizing the image to 7.
Also, yes using SSIM is not reasonable as well. Thanks for the reply.

[2021-05-10 09:45] marhofmann commented on #5384
Since i have never done anything with cython before and building the scikit-image extensions didn't look so easy to me, i tried a workaround by subclassing the MCP_Flexible from pure python.

I wanted to overload `travel_cost` in a way, that "Knight's moves" can be considered. Sadly i couldn't access `index` and `new_index` of `find_cost` from pure python, which is necessary to get the cost of all

[2021-05-10 12:13] xerohackcom commented on #5369
FLIF file upload is not supported by github, so I've a zip attached with a sample flif image instead. Able to open it using image viewers like ImageGlass that support flif.

[sky1.zip](https://github.com/scikit-image/scikit-image/files/6451863/sky1.zip)

[2021-05-10 14:13] grlee77 commented on #5169
# 2021/5/3 - 2021/5/10

Most PRs merged this week were related to the upcoming v0.18.2 with aarch64 support. A recent PR on Fisher vectors was updated and looks ready for a final review/merge. We also received a new contributor PR involving Butterworth filtering in the Fourier domain (#5382). The code in that PR should be fairly easily adaptable to other Fourier domain filters as well.

I would li

[2021-05-12 00:29] grlee77 opened #5388 "implement binary structuring element decomposition"
## Description

As shown in #5387 and scipy/scipy#13991, it can be advantageous (order of magnitude acceleration!) to apply iterated small structuring elements instead of a large structuring element.

For the existing `square`, `rectangle`, `cube`, `diamond`, `octahedron` and `octagon`, there are simple decompositions that we could provide which would give a more efficient way to perform the same

[2021-05-12 03:03] #2604 closed

[2021-05-12 07:44] rfezzani commented on #5388
Great suggestion @grlee77. It reminds me the `getsequence` function from [Matlab](https://www.mathworks.com/help//images/ref/strel.getsequence.html#f2-220333)/[Octave](https://octave.sourceforge.io/image/function/@strel/getsequence.html).

[2021-05-12 11:18] hiren-2911 commented on #5309
The __call__ method enables Python programmers to write classes where the instances behave like functions and can be called like a function.The __call__ method enables Python programmers to write classes where the instances behave like functions and can be called like a function.

![example](https://user-images.githubusercontent.com/58786896/117966711-dacc4b80-b341-11eb-8321-9769c0d4cd2a.jpg)

[2021-05-12 12:56] jni opened #5389 "Speeding up _remap.pyx"
## Description

I recently noticed that on a couple of my machines `skimage.util.map_array(image, inval, outval)` is 2-4x slower than using `outval[image]`. The latter of course has the disadvantage that if image contains very large values, you need a massive `outval` array.

But it occurred to me that it doesn't really need to be that much slower. We should be able to have a hash table sparsely e

[2021-05-12 12:57] jni commented on #5389
I guess ensuring that the arrays are contiguous would help — or maybe providing a separate code path for contiguous arrays...

[2021-05-12 13:12] VolkerH commented on #5389
Thanks for spotting this, I can't remember this being flagged at the time.

[2021-05-12 13:14] grlee77 commented on #5389
Maybe using Py_ssize_t instead of size_t in the cdefs? That should be the proper type for indexing.

[2021-05-12 13:17] jni commented on #5389
Nope, 1ms difference.

Also nope — no difference. I remember looking at `Py_ssize_t` vs `size_t` back in the day and we deciding `size_t` was actually right here, but I don't remember the details. At any rate I tried it now and it didn't change anything.

Looking at the code in the html file, I *think* it might be that it somehow can't tell that it's mapping a *particular* instance of `np_anyint`

[2021-05-12 13:19] jni commented on #5389
@VolkerH this stuff is machine dependent and lots of us looked at it at the time... :shrug: Maybe we simply decided it was fast enough given the tradeoffs. But anyway now I want a really fast version for some napari issues so I don't want to leave stones unturned. :blush:

[2021-05-12 13:21] jni commented on #5389
I'm also going to tag @paugier in case this is a nice puzzle for him. :stuck_out_tongue_winking_eye:

[2021-05-12 18:31] felipegb94 opened #5391 "Confusing documentation for denoise_bilateral"
## Description

In the `denoise_bilateral` documentation the `sigma_color` description is a bit confusing when describing what `img_as_float` does in this function. It says that: *Note, that the image will be converted using the img_as_float function and thus the standard deviation is in respect to the range [0, 1]*

The above description is appropriate IF the input image has values of type `int`.

[2021-05-12 19:26] grlee77 commented on #5389
I played around with it a little and found that changing the `np_numeric` fused type to `np_real_numeric` is sufficient to get rid of the yellow highlighting. I have not benchmarked it with this change, though. If this function doesn't need to support complex-valued arrays then that seems like a reasonable workaround.

[2021-05-12 19:45] grlee77 commented on #5389
Also, while playing with this, I tried fixing the numeric type as `cnp.complex128_t` to try and see what is going on with the complex case and this led to a Cython compiler crash. I found an open issue at Cython related to use of fused_types with templated C++ code: https://github.com/cython/cython/issues/2943. However, when using Cython `3.0a6` instead of `0.29.23`, the compiler does not crash.

[2021-05-12 20:25] ChenFred98 commented on #5259
Hi, I am also new to the whole open source community and I would love to be able to help for this project ! I'm not too familiar with the way problems should be tackled when someone is already working on it, should I get in contact with @abigailstone to see how the issue-fixing is going or should I consider that I can work on the issue as long as it is open ?

[2021-05-12 23:02] jni commented on #5389
wow, interesting @grlee77! I'll benchmark the change. *I* certainly don't care about complex in this scenario. Even if people do we can just offer two paths depending no the dtype.

[2021-05-12 23:11] jni commented on #5389
... Dang. No change. :disappointed: So maybe it's a fundamental limitation of the default `unordered_map`. I'm just checking that the size and max_load_count can be changed (see e.g. [here](https://en.cppreference.com/w/cpp/container/unordered_map/reserve).) Might play around with that, although with 5 elements I doubt that this is the limiting factor...

[2021-05-12 23:39] jni commented on #5389
Here's the rest of the things that I've tried, to no avail:

[code]

The [cython API for unordered map](https://github.com/cython/cython/blob/master/Cython/Includes/libcpp/unordered_map.pxd) was useful — it appears to be a bit different from the [latest unordered map in C++ 11/14](https://en.cppreference.com/w/cpp/container/unordered_map/unordered_map).

[2021-05-12 23:43] jni commented on #5389
The fact that it uses buckets vs double hashing for collisions is probably a major limitation. For our use case, we probably even want *rehashing* on collisions, though maybe there's no guarantees that you can come up with a perfect hash function for a given set of integers in reasonable time. Maybe customizing the hash function is also needed...

[2021-05-12 23:52] jni commented on #5389
Some more reading:

https://stackoverflow.com/questions/42588264/why-is-stdunordered-map-slow-and-can-i-use-it-more-effectively-to-alleviate-t

And this SO question provides some alternatives. Some might be "easy" to replicate in Cython, but I have to put this problem down probably for the rest of today:

https://stackoverflow.com/questions/3300525/super-high-performance-c-c-hash-map-table-diction

[2021-05-13 00:38] jni commented on #5389
Sorry, just gonna dump my tabs here. :joy: Top three implementation contenders:

- https://github.com/sparsehash/sparsehash
- https://github.com/sparsehash/sparsehash-c11/
- https://launchpad.net/libmct

From the sparsehash readme:

[2021-05-13 02:47] grlee77 commented on #5389
I thought that might be the case as I think it was probably only complex types that were experiencing an additional slowdown. It sounds like one of these other hash maps may be a viable alternative.

[2021-05-13 12:44] grlee77 commented on #5391
Thanks for pointing this out. Indeed `img_as_float` used to automatically scale floats to [0, 1], but we have since moved away from that behavior across the library. Cases where default parameter values are only reasonable for floats in that range should be clarified via better documentation. I noticed the same thing recently for `denoise_tv_chambolle` and `denoise_tv_bregman` where the default `w

[2021-05-13 16:00] mkcor commented on #5391
Hi @felipegb94,

Sure! Would you like to submit a pull request to update the docs? The sentence is basically missing an if statement ("if the image is not floating point, ..."). You may want to point to https://scikit-image.org/docs/dev/user_guide/data_types.html.

Thanks for reporting!
Marianne

[2021-05-13 16:33] felipegb94 commented on #5391
Sure I can try to submit a pull request.

I guess, according to the [data types docs](https://scikit-image.org/docs/dev/user_guide/data_types.html), `denoise_bilateral` expects floating point images to be between 0 and 1. But, what I think I am observing, is that `denoise_bilateral` still works fine if the image has float values outside the range 0 and 1.

[2021-05-14 09:24] mkcor commented on #5391
Thank you for your PR!

Yes, functions taking float images as inputs assume that their range is -1 to 1. I think I can see what you mean, but I would need a real example to be sure.

[2021-05-14 09:47] lilisako commented on #5366
Can I take this issue?

[2021-05-14 14:33] KojiOchiai opened #5396 "The RANSAC example uses the ransac function in an inappropriate way"
# Description
In the [example of the RANSAC function](https://scikit-image.org/docs/dev/auto_examples/transform/plot_matching.html), there is a part where the coordinates calculated by `corner_peaks` and `corner_subpix` are used as arguments of `AffineTransform.estimate` and `ransac`.
[code]

The output of `corner_peaks` is in the form (row, col), but the arguments of `estimate` and `ransac` are i

[2021-05-14 16:41] grlee77 commented on #5366
Sure! Let us know if you need any help/guidance

[2021-05-15 14:14] stefanv opened #5398 "imshow does not work on binary images"
Because of a change in how NumPy handles bools.

dtype can be detected so image can be converted appropriately before display.

See https://forum.image.sc/t/skimage-io-imshow-crashes-when-showing-binary-images/52796/4 for original report.

[2021-05-15 14:17] haesleinhuepf commented on #5398
It appears a fix is already in the making 🙂
https://github.com/scikit-image/scikit-image/pull/5247

[2021-05-15 16:31] KojiOchiai commented on #5396
As I checked, funcions in `skimage.transform` assume (col, row), and `skimage.feature` assumes (row, col) in IO.

[2021-05-16 12:49] KojiOchiai commented on #5396
This was an issue that was already mentioned in the following issues, so I will close.
#1749,  #1752, #1789

[2021-05-16 12:49] #5396 closed

[2021-05-16 14:56] xerohackcom commented on #5369
Thanks for the help. Yes the issue is reproducable with just io.imread(). That brisque error is unrelated because skimage cannot perform rgb2gray specifically as shown in the error output. Brisque will not show error with anything that skimage can read, because brisque only converts/performs value convertions to test the blind quality.

Yes, skimage doesn't have support for many upcomming as well

[2021-05-16 19:07] cgohlke commented on #5369
I'm not sure skimage is the right place to expect support for the latest image formats. Have a look at specialized libraries and plugins:

* **JPEG-XL**: the standard is finished, but the `jpeg-xl` reference library is not. The older `Brunsli` library is not compatible with the final standard. The latest version of [imagecodecs](https://pypi.org/project/imagecodecs/) includes preliminary support o

[2021-05-17 06:44] jni commented on #5396
Thank you @KojiOchiai for investigating and apologies that we haven't tackled that inconsistency yet. Hopefully we can do so soon!

[2021-05-17 08:16] xerohackcom commented on #5369
Yes you're right. For FLIF I used ImageGlass on Windows 10. Had to add .flif in the settings and was able to read all flif formats. Yes, I guess I'll close the issue for now.

[2021-05-17 08:17] #5369 closed

[2021-05-17 12:12] mkcor commented on #5169
# 2021/5/10 - 2021/5/17

Hi, I think the highlight of last week is that we welcomed several first-time contributors: @felipegb94, @hiren-2911, @klaussfreire, and @lilisako, if I'm not mistaken! I'm sorry I haven't been as responsive to them as I expected.

Otherwise, on the road to scikit-image 1.0, we have started the deprecation cycle to move to 'gray' spelling (away from 'grey') in the API: tha

[2021-05-17 14:40] cgohlke commented on #5369
Current ImageGlass also reports `sky1.flif` to be corrupt. The only software that can open the file here is UGUI_FLIF, which is based on the long outdated version 0.1-alpha of the FLIF reference library.

[2021-05-18 15:54] aberut opened #5401 "Error randomly appearing line 188 in "assemble_contours" while using find_contours"
Hi,

I'm using skimage.measure.find_contours in a script where I loop over thousands of images, and I sometimes encounter the following error:
[code]
The key is not always the same, but the error appears randomly for about one in ~100 images (it's not always on the same image, it depends on how I crop my images before running the loop).

I never had this error before updating skimage, and I notice

[2021-05-20 00:58] JuanDValenciano commented on #2793
if you use virtual environments with conda use:

`conda install -c conda-forge scikit-image`
`conda install -c conda-forge scikit-learn`

[2021-05-20 11:09] sciunto commented on #5401
Would it be possible for you to share one of these failing images?

[2021-05-20 17:34] aberut commented on #5401
Sure.
For example if I use this image (I zipped the file because github does not accept .tiff files)
[test.zip](https://github.com/scikit-image/scikit-image/files/6517775/test.zip)
, and try to do:
[code]
Then I get the following error:

[code]

[2021-05-20 19:58] #5391 closed

[2021-05-21 02:22] alexdesiqueira commented on #1578
@stefanv this is almost 6yo :slightly_smiling_face: I searched dask and joblib, couldn't find no mention of `apply_parallel`.
Any info on that? If not, maybe we could close this one.

[2021-05-21 02:24] alexdesiqueira commented on #1578
@stefanv ah, [_our_ `apply_parallel` ](https://scikit-image.org/docs/dev/api/skimage.util.html#skimage.util.apply_parallel). :slightly_smiling_face: I'll work on something.

[2021-05-21 02:54] stefanv commented on #1578
Maybe pull in this branch and go from there? https://github.com/stefanv/scikit-image/commit/2a1333e0ea0097b4da3529d7c4431910cadfd5cd

[2021-05-21 02:57] alexdesiqueira commented on #1578
That looks great :slightly_smiling_face: Thanks Stéfan!

[2021-05-21 02:59] cowlinator opened #5403 "Installing scikit-image fails to install scipy, even though it requires it"
## Description

Installing scikit-image 0.16.2 does not install scipy, even though it requires scipy.

## Way to reproduce
[code]

### Output from reproduction steps
[code]

## Version information
[code]

[code]

## Why am I using version 0.16.2 ?

As a workaround to this issue in version 0.18:   https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-644034470

[2021-05-21 03:47] cowlinator commented on #5403
Well, this is probably related:
[code]

[2021-05-21 04:07] hmaarrfk commented on #5403
Unfortunately, scikit-image 0.16.2 is neither currently supported, nor was it ever supported for installation on Python 3.9.

Is there a particular reason you need scikit-image 0.16.2 instead of updating to the latest version?

[2021-05-21 04:10] cowlinator commented on #5403
## Why am I using version 0.16.2 ?

As a workaround to this issue in version 0.18:   https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-644034470

[2021-05-21 10:05] ArekMC opened #5406 "MacOS PyInstaller - No module named 'skimage.filters.rank.core_cy_3d'"
## Description
I cannot bundle scikit with MacOS BigSur. It runs without issues when not bundled.
I figured out, that is is related to the `segmentation` module.
All other modules that I am using (e.g. transform, measure, draw), I was able to bundle them with pyinstaller successfully.

I already tried:
- Different python versions (3.7, 3.9)
- Different scikit-versions (1.8.1, dev)
- Build scikit f

[2021-05-21 11:48] jni commented on #5406
I'm not very experienced with pyinstaller, but as I recall, there's a bit of a trick to using pyinstaller, in that you have to explicitly point it to any binary dynamic linked libraries that need to be bundled, if they are not directly imported by some Python code. That particular file *only* contains C code so it cannot be imported from Python.

So, I think you need to build the binary file in-pl

[2021-05-21 11:48] #5406 closed

[2021-05-21 15:32] ArekMC commented on #5406
For those who have similar issues and are looking for a fix:
I found two solutions that worked out for me:

1. Add `--hidden-import="skimage.filters.rank.core_cy_3d"` to the pyinstaller build command
2. Import the package into the source code with `from skimage.filters.rank import core_cy_3d`

Best regards

[2021-05-21 23:35] cowlinator commented on #5403
@hmaarrfk , also, where is it documented which versions of scikit-image support which versions of Python?

Setup.py lists in 2 places that 0.16.2 has forward-compatibility for all versions of python greater than 3.6.

https://github.com/scikit-image/scikit-image/blob/v0.16.2/setup.py#L41

https://github.com/scikit-image/scikit-image/blob/v0.16.2/setup.py#L233

[2021-05-21 23:53] cowlinator commented on #4780
I'm still having a problem with this.  I've tried all of these suggested workarounds:
1. pip installed latest version of `Wheel`
2. pip installed the last version of `Cython`, but not `0.29.18`
3. pip installed the latest version of `Numpy`, but not `1.18.0`
4. pip installed the latest version of `msvc-runtime`
5. pip installed the latest version of `matplotlib`, and import `matplotlib` before `sk

[2021-05-22 00:15] hmaarrfk commented on #5403
we should probably be more explicit.

it is "greater than 3.6 [at the time of writing]".

I typically check for compatibility by looking at the files available on pypi

They should be avaiable for your version of python
https://pypi.org/project/scikit-image/#files

[2021-05-22 22:27] jgostick opened #5408 "watershed labels some foreground pixels are 0 when using mask argument"
## Description
The watershed function accepts a ``mask`` argument, which in principle tells it to only segment the pixels/voxels where the mask is true.  However, a small number of pixels/voxels are being labelled 0 despite being in the foreground of the mask.

## Way to reproduce
[code]

## Version information
[code]

[2021-05-23 04:14] KojiOchiai commented on #5396
@jni  Thank you for your kind attention and daily maintenance, and I wish scikit-image all the best in the future.

[2021-05-25 16:41] alexdesiqueira opened #5409 "util.apply_parallel does not have "compute('processes')" embedded"
## Description
Saw [this question on Stack Overflow](https://stackoverflow.com/questions/67184226/skimage-util-apply-parallel-not-behaving-as-expected) today. The answer goes:

Is there something missing on our end, or is this something we would solve with documentation?

## Way to reproduce

The example available on that SO question...

[code]

... and the code that "solves" it:

[code]

[2021-05-25 17:49] alexdesiqueira commented on #5409
It seems that that could be solved using `compute=True` in `apply_parallel`:
[code]

[2021-05-26 13:50] sebgoti commented on #5255
Hello :) May I take this issue?

[2021-05-26 13:59] grlee77 commented on #5255
sure, that would be great! Please let us know if you need help/guidance. The current rolling ball example is located at `doc/examples/segmentation/plot_rolling_ball.py`. I think it may make sense to extend that one, but another possibility is making a new file.

[2021-05-26 14:14] grlee77 commented on #5409
Yes, if compute is False (or None when the input is a Dask array) you will need to call compute on the value returned by `apply_parallel`.

[code]

Depending on the function being accelerated, you may want to try `scheduler='threaded'` as well as it should have less overhead. If the code being run does not release the GIL, though, only 1 thread will be used. Using `processes` gets around limitatio

[2021-05-26 18:15] odoublewen opened #5410 "feature.peak_local_max changes input image"
## Description

Under certain conditions, the input `image` changes after calling `feature.peak_local_max`.   This behavior is evident in scikit-image 0.18.0 and 0.18.1.  It is not present in 0.17.2

## Way to reproduce
Input data files attached:
[im_int.txt](https://github.com/scikit-image/scikit-image/files/6548815/im_int.txt)
[labels_int.txt](https://github.com/scikit-image/scikit-image/files/6

[2021-05-27 06:57] rfezzani commented on #5410
Thank you @odoublewen for reporting, I will investigate ASAP :wink:

[2021-05-28 20:55] memoryleine commented on #5410
This seems similar to #5235 as well? I remember because I ran into the same problem recently and discovered that issue upon investigation.

[2021-05-29 12:35] dvolgyes commented on #2380
Is there any update?

[2021-05-29 19:46] tupui commented on #2380
On SciPy's side there is a PR but it's stalled right now and would need some help. There are interesting discussions/information.

[2021-05-30 10:04] smeyg commented on #5270
Same here, I tried all the solutions proposed (uninstall/reinstall numpy, uninstall/reinstall pycocotools, install pycocotools 2.0.0, install numpy 1.20.1, update array_ops.py), exception is still there.
Any update to this problem?

(tensorflow2_gpu1) -bash-4.2$ conda list
# packages in environment at /truba/home/iuzun/anaconda3/envs/tensorflow2_gpu1:
#
# Name                    Version

[2021-05-30 11:51] BLOO123 opened #5411 "Lucy Richardson output mostly white lines"
## Description

## Way to reproduce
[code]
### Code
[code]
### Output
The image below shows the output from the code above.
![image](https://user-images.githubusercontent.com/71256278/120102970-02b01180-c180-11eb-92cc-7a3f0c5c8bef.png)

If the filter_epsilon was set to 0, the output image would be completely white.

The image below shows the output when iteration is set to 30. The image has more w

[2021-05-30 18:51] hmaarrfk commented on #5270
I'm going to close this issue since the original poster has not replied for 2 months and the issue seems related to a tensorflow installation, not a scikit-image installation.

@linyingyingkarina, @smeyg

Please open seperate issues so that I can help you. There are often minute differences between environments that change how different issues can be resolved.

For example, the original poster see

[2021-05-30 18:51] #5270 closed

[2021-05-30 19:38] rougier commented on #2380
Do you have the link to the PR?

[2021-05-31 00:47] jni commented on #5408
Thanks for the report @jgostick!

After exploring for a bit, I've concluded that this is not a bug but rather an unexpected property of the watershed. Specifically, if you plot the 11 pixels (`plt.imshow((ws2 == 0) * im)`), you will see that there is no foreground-only path from any marker to those pixels. In other words, the masked watershed forbids propagating labels outside the masked region, a

[2021-05-31 01:39] jgostick commented on #5408
Firstly, I love that visualization, showing the regions and the dt so nicely.  I'm going to borrow that in future!

Now that you explain it, this makes perfect sense, and I'm annoyed for not seeing it myself and wasting your time. The reason that I was 'tricked' was because my mask was literally just the foreground of the image, which I expected to be exactly the same as the unmasked result, which

[2021-05-31 01:39] #5408 closed

[2021-05-31 01:51] jni commented on #5408
Thanks! I used [napari](https://napari.org) for the visualization. I added the following code at the end of your script:

[code]

Then played with the visibility and opacity of various layers.

It's not a bad idea. The principle we follow in skimage is that warnings should be easy to silence if you know what you're doing. The reasoning is that issuing too many warnings trains users to simply ignor

[2021-05-31 07:13] tupui commented on #2380
Just above: https://github.com/scipy/scipy/issues/13912

[2021-05-31 10:10] sebgoti commented on #5255
Thanks @grlee77, this is my first contribution and I followed all the guidelines, I hope everything is in order but please let me know about any errors. I wanted to ask you about an idea I had to extend the rolling ball example by creating a short animation of a circle rolling on the ECG data while generating the background output. I thought that it might be a good visualization to understand bett

[2021-05-31 15:57] florent-cd opened #5413 "uint8 overflow in exposure.adjust_gamma"
# Description

When using the function *skimage.exposure.adjust_gamma* with an uint8 image with a gain superior to 1, the integers can overflow and return false results. A value bigger than 255 should be set to 255.

# Way to reproduce

[code]

This returns a value of `24` which is wrong.

The problem is in the definition of the lut in the  function `_adjust_gamma_u8` (l443):
[code]
Before recasti

[2021-06-01 01:56] hmaarrfk commented on #5413
Thank you for the very detailed and complete bug report.

Would you be willing to provide the pull request to fix this issue?

I would suggest you include your failing example as a test and assert that the result is correct.

[2021-06-01 08:00] jni opened #5414 "Incorrect link for `label` in regionprops gallery example"
## Description

In the regionprops gallery example:

https://scikit-image.org/docs/0.18.x/auto_examples/segmentation/plot_regionprops.html

The "label" function links to Python's int documentation. I think that's because later in the example label (the function measure.label) gets redefined as `label = props[i].label`, which is indeed an int.

Probably this needs a fix in sphinx-gallery but in the

[2021-06-01 08:13] sciunto commented on #5401
It appears that it comes out in a particular combination during the reconstruction of the contour, this is the reason for the rareness. jpeg has a destructive compression, the resulting image is not identical, that's why you do not have necessarily the same behavior.

@grlee77 I understand why you suggested this workaround, but do you have a deep understanding of the algorithm? I'm facing difficul

[2021-06-01 20:35] florent-cd commented on #5413
Yes, I can do the PR (probably this week-end)

[2021-06-03 09:03] sciunto commented on #4536
Since there is deprecation going on for 0.20, perhaps we must consider this?

[2021-06-03 17:47] geoffreyblake commented on #5299
@jni, @janaknat , I gave scikit-image 0.18.2rc1 wheels a test on Arm64 with Python3.7 and Python3.9.  The binary portions load fine and seem to be working.  I think they are good to go with a release.

Its a shame the 3.8 wheels are not there. The i686 build may be handling the pickled arrays differently and that is why its failing with a bad magic.  I found this reference: https://stackoverflow.c

[2021-06-04 06:22] jni commented on #5299
@geoffreyblake thank you for the feedback! The missing wheel was in fact fixed by #5383. I just pushed a new tag, hopefully will push a new release in a few hours when the builds finish. 🤞

[2021-06-04 07:38] mahdiyousofun commented on #5270
first
`pip uninstall pycocotools`
then
`pip install pycocotools`

[2021-06-04 14:09] mkcor commented on #5411
Hi @BLOO123,

I believe your question belongs better in the user forum: https://forum.image.sc/ :pray:

[2021-06-04 15:54] grlee77 commented on #5169
# 2021/5/17 - 2021/5/24
## New pull requests open last week

This was a pretty quiet week. A couple of PRs improved interoperability with multithreading (e.g. via Dask) by releasing the GIL for rank filters and skimage.restoration functions.

#5407 [WIP] Improving parallelization user guide
#5405 [WIP] Improving parallelization user guide
#5404 [WIP] Improving parallelization user guide
#5402 Use

[2021-06-04 15:55] grlee77 commented on #5169
# 2021/5/24 - 2021/5/31
## New pull requests open last week

none

## Closed pull requests (not merged)

none

## Merged pull requests

none

## Older pull requests with new comments or commits

#5407 [WIP] Improving parallelization user guide
#5101 Implement lazy submodule importing
#5045 [WIP] Automate release process

## new issues

#5411 Lucy Richardson output mostly white lines
#5410 feature.

[2021-06-04 17:06] alexdesiqueira commented on #5169
Thank you for updating, @grlee77!

[2021-06-05 00:05] jni commented on #5299
Ok skimage 0.18.2rc2 is released, with aarch64 wheels for Python 3.{7,8,9}! @geoffreyblake @janaknat if you give the go-ahead with these I will release 0.18.2 proper! Apologies for the long cycle, we are getting there! 🙏

[2021-06-06 10:55] FeryET commented on #2758
It still takes a lot of time on my machine. The image in question is this: https://imgur.com/a/UZbKsw6

[2021-06-07 07:53] rfezzani commented on #4536
Thank you @sciunto. Is the proposed solution above (introducing the `origin` argument and using the `size` generic argument) OK for you?

[2021-06-07 08:42] rfezzani commented on #2758
Hello @FeryET, can you please provide the code sample that takes a lot of time with your image?

[2021-06-07 12:05] rfezzani commented on #5410
@memoryleine, I can't reproduce the bug with current `skimage` dev version:
[code]
I will investigate more concerning v18 :wink: .

[2021-06-07 12:30] rfezzani commented on #5410
OK, as @memoryleine pointed out :clap:, this bug is already reported in #5235 and it is fixed by #5236 :wink:. I will close this issue as it is already fixed. Thank you again @odoublewen for reporting.

[2021-06-07 12:31] #5410 closed

[2021-06-07 15:40] geoffreyblake commented on #5299
@jni sciki-image 0.18.2rc2 appears to be working fine on aarch64 for python 3.{7,8.9}.  I believe it is ready for release.

[2021-06-07 17:01] grlee77 opened #5416 "intersphinx HTTP 403 errors"
## Description

While trying to build documentation for #5382, I encountered the following error:

[code]

I see that we have fallback object.inv files for numpy, scipy and scikit-learn in `doc/source/_intersphinx`. The above error resolves if we also add one for matplotlib.

I am not sure of the underlying cause of the 403 error here, though.

## Way to reproduce
run `make html` from the doc fold

[2021-06-08 12:40] #5342 closed

[2021-06-08 15:18] #2827 closed

[2021-06-08 17:00] ianhi opened #5418 "`crop` fails for `np.int64`"
## Description

`skimage.util.crop` fails when passed a numpy integer object. See https://github.com/numpy/numpy/issues/2951 for discussion as to why. I believe the fix is to check for `numbers.Integral` (I'll send PR)

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-06-08 17:02] #5255 closed

[2021-06-09 06:32] sciunto commented on #5416
I found these two discussions, but no solution came up to my eyes.
https://github.com/numpy/numpy/issues/15564
https://github.com/numpy/numpy/issues/15540

Nevertheless, I see that the fallback inventories are not updated since 2015. I open a PR.

[2021-06-09 08:41] nassimasri opened #5422 "human_mitosis.png image is gone"
Hi,

i just to say, that the human_mitosis image is not in the data module.

How can i get it?

best regards

Nassim

[2021-06-09 10:32] sciunto commented on #5422
Have you installed the python package pooch?

[2021-06-09 10:33] sciunto commented on #5422
Can you report the error please?

[2021-06-09 14:47] grlee77 commented on #5169
# 2021/5/31 - 2021/6/6
## New pull requests open last week

#5412 Extended rolling ball example with ECG data (1D)

## Closed pull requests (not merged)

none

## Merged pull requests

#5392 Integral_image: promote floating point inputs to double by default

## Older pull requests with new comments or commits

#5402 Use sparse svd from scipy to save memory usage
#5397 Increase automation in releas

[2021-06-10 04:09] #5418 closed

[2021-06-10 04:56] stefanv opened #5423 "CI has been updated to build on tags; RELEASE.txt needs to be updated"
See https://github.com/scikit-image/scikit-image/pull/5397

[2021-06-10 06:21] Pizzanomicon commented on #3567
Same issue, on MacOS 10.15.7, skimage version 0.18.1. Installed via pip.
This is maddening, all indications are that skimage is installed correctly, but "compare_psnr" is throwing this error when I attempt to import it.

[2021-06-10 10:51] grlee77 commented on #3567
@Pizzanomicon

This function was renamed in release 0.16 and the older `compare_psnr` name was removed in 0.18. You should be able to import under the new name with
[code]

[2021-06-11 02:26] andy-sweet commented on #5389
Motivated by some potential speed up in [napari issue #2380](https://github.com/napari/napari/issues/2380), I did some quick and dirty experiments with `dense_hash_map` from [sparsehash](https://github.com/sparsehash/sparsehash) as well as `flat_hash_map` from [parallel-hashmap](https://github.com/greg7mdp/parallel-hashmap) which is effectively forked from Google's abseil container of the same nam

[2021-06-11 03:29] andy-sweet commented on #5389
Also, my benchmarks were without any of the potential typing/cython optimizations mentioned above.

@jni also asked for a benchmark using a non-random image, so I re-ran the benchmark using `scipy.ndimage.label(skimage.data.binary_blobs(length=size))[0]` to generate the input image instead, but saw similar results: https://gist.github.com/andy-sweet/ce81744030c93e31700fa26afa81a7cf

[2021-06-11 04:03] jni commented on #5389
Thanks so much for investigating this @andy-sweet! It seems to me that that is enough info to close this issue in the end. Worth investigating, but the speed improvement doesn't seem sufficient to justify the additional code maintenance — the implementation right now is so simple!

@scikit-image/core if no one has any objections I think we should close this.

[2021-06-11 15:51] andy-sweet commented on #5389
Just to clarify, the code maintenance introduced by using `flat_hash_map` is only really about C++ Cython dependency management (including abiding by license terms), which is not too bad here because the library is header only (so no need for compatibility with build systems like CMake). The interface to that object is identical to `std::unordered_map` so the code in `_remap.pyx` doesn't actually

[2021-06-11 23:04] GitHunter0 commented on #533
I had to use `plugin='pil'` instead of `plugin='PIL'` to make it work

[2021-06-12 19:17] nassimasri commented on #5422
Hi,

In the data module of scikit-image, there are some images but the human_mitosis image is eventually not there.

the link for the module is https://scikit-image.org/docs/dev/api/skimage.data.html

This is an example in scikit-image for importing the image
https://scikit-image.org/docs/dev/auto_examples/applications/plot_human_mitosis.html?highlight=human%20mitosis
but it will not work since th

[2021-06-13 06:27] sciunto commented on #5422
What do you mean by the image is not in the module? Are you up to date? What's your scikit image version?

[2021-06-13 06:28] sciunto commented on #5422
Information asked by the issue tracker must be reported please

[code]

[2021-06-15 07:23] chouqin3 commented on #3832
不能含有conda-forge或者pip等关键字安装，在我电脑上使用 conda install scikit-image=0.17.2 安装成功

[2021-06-15 11:04] FirefoxMetzger commented on #5036
Allow me to necromance this thread since we (finally) managed to merge the new API into `imageio`. 🚀

Now it's time for writing docs beyond the functional API and to see what is needed to bring `skimage.io` and `imageio` closer together.

![ @jni  ](https://user-images.githubusercontent.com/4402489/122041928-6183a680-cd8e-11eb-9c47-4bd2e50a9a96.gif)
(jni: please let me know if the image actually d

[2021-06-15 13:29] rfezzani commented on #5036
Thank you @FirefoxMetzger and @almarklein for your hard work and congratulation for the new `imageio` API :tada:

The closer thing to a plan I think is @emmanuelle's https://github.com/scikit-image/scikit-image/issues/5036#issuecomment-718667035 :smile:, concretely:
- deprecate `skimage.io`,
- build `skimage.io.imread` as a wrapper around `imageio.imread`,
- Modify the documentation.

Did I forgot

[2021-06-15 15:04] grlee77 commented on #5169
# 2021/6/7 - 2021/6/14

Our first substantial PR under the DevOps CZI work was merged (#5397). A new PR related to checking the benchmarks on CI was also opened this week and would welcome feedback (#5424).

Another PR that was updated this week and should be nearly ready to merge is lazy submodule loading (#5101). Oddly, I do not see it in the summary below, despite new commits being added on the

[2021-06-15 17:03] sklipnoty commented on #4664
When using a AWS Lambda, still is also a problem.

[2021-06-16 04:15] sofroniewn opened #5428 "Utility function for cropping images from a bounding box"
## Feature Request

This is a feature request for a utility function for cropping images from a bounding box.

Note this need comes up a lot, particularly for 2D images - see this discussion on [image.sc](https://forum.image.sc/t/mask-and-crop-with-napari/54008/3?u=sofroniewn) for an example, including prototype code. It would be nice to have a full nD solution though. Possibly something that did

[2021-06-16 10:53] FirefoxMetzger commented on #5036
@rfezzani Awesome. Any existing examples that I should be aware of that need modification?

I was also thinking that it may not be effective to duplicate documentation here and on imageio, so maybe an effective approach would be to immediately direct people to the imageio docs? There could be a cool application of intersphinx here :)

[2021-06-16 12:17] sciunto commented on #5036
+1 and I guess we would like to read collections as well.

[2021-06-16 12:21] sciunto commented on #5036
I guess that the only place we discussed IO is in the user guide: https://scikit-image.org/docs/stable/user_guide.html

[2021-06-16 12:40] rfezzani commented on #5036
The deprecation message may also be displayed in `skimage.io` API [documentation](https://scikit-image.org/docs/stable/api/skimage.io.html).

[2021-06-16 12:53] FirefoxMetzger commented on #5036
@sciunto What do you mean by collection? a sequence of images, a folder,  pages of a tiff file? video?

[2021-06-16 13:58] sciunto commented on #5036
https://scikit-image.org/docs/stable/api/skimage.io.html#skimage.io.imread_collection

[2021-06-16 14:59] FirefoxMetzger commented on #5036
@sciunto I looked through the docs and the source code, but I still don't think I got the full picture.

To me, this sounds like a collection is a variant of

[code]

Is that correct?

I was asking because in the new imageIO API the default `imread` call will try to create an ndarray (not limited to `ndim in [2, 3]`). Hence, something like this works

[code]

And I was wondering how much of the co

[2021-06-16 15:05] stefanv commented on #5036
Along with @emmanuelle, I am -1 on deprecating skimage.io.  The plan to have it a thin shim to imageio seemed like a good one.  With the new imageio API, it is no longer a simple one-to-one match (if I read it correctly, they first have to instantiate a reader, then call a method on that reader to load the file; we don't currently have that and it seems unnecessary for our use-case).

@FirefoxMetz

[2021-06-16 15:06] sciunto commented on #5036
imread in imageio clearly covers more use cases than our imread (which is just awesome!)

In imread_collection, we have the possibility to use wildcards as well like
`imread_collection('folder/startname_00*.png')`

[2021-06-16 15:26] rfezzani commented on #5036
Please correct me @FirefoxMetzger if I am wrong:

`imageio` still have `iio.imread` according to previous example, the reader is only instantiated internally I think.

Isn't `iio.imiter` doing the tric here?

[2021-06-16 15:54] FirefoxMetzger commented on #5036
@stefanv I'm not sure I follow. Could you explain which conflict you see? `io.imread` and `iio.imread` should do the same thing for everything that `io.imread` does, but extend it by doing meaningful things where `io.imread` will throw an exception.

There is ofc `iio.imopen` which gets called under the hood, but I think that one is quite useful for resource management since it provides a context

[2021-06-16 16:14] stefanv commented on #5036
OK, it wasn't clear to me that `iio.imread` is a recommended route any longer.  It looked like the docs suggested you use `imopen().imread` (or something like that, I can't remember the exact function names now).

Also, there was discussion around it returning a proxy object instead of an array.

I feel it is important that, in scikit-image, we should keep `skimage.io.imread`, `imread_collection`,

[2021-06-16 16:17] mkcor commented on #5036
@sciunto personally I've adapted my code along these lines:
[code]
Do you see cases where `skimage.io.imread_collection` would be irreplaceable?

[2021-06-16 16:18] mkcor commented on #5422
@nassimasri please let us know :wink:

[2021-06-16 16:35] FirefoxMetzger commented on #5036
@stefanv I take that 😆 Better Documentation of the API is my next PR for imageio. My thinking was to make a draft PR here once we are on the same page what should happen to `skimage.io` and merge it after imageio v2.10 is released (which distributes the new API alongside the old #backward-compatibility 🥇).

If you mean that imageio used to return an object that wasn't an array (added image metadat

[2021-06-16 16:47] stefanv commented on #5036
That all sounds good; thanks @FirefoxMetzger, also for educating me!

[2021-06-17 03:28] sciunto commented on #5036
Yes, the random access that @FirefoxMetzger said to be not feasible. Ex: I want to check that a data processing works on a large stack of images (with a slider for example), by randomly accessing images. Of course, I can always write a code replacing that, but it is never a pleasant user experience.

[2021-06-17 05:42] FirefoxMetzger commented on #5036
@sciunto We also discussed a sliceable API as a contender to the one that I ended up implementing. I liked the idea, but it is again a rabbit hole of edge-cases. In any case, there is always the option to keep `skimage.io.ImageCollection`, give it the sliceable interface, and consume `imageio` through it. That's where the above mentioned `iio.imopen` would come in handy.

Since you say stack, I'll

[2021-06-17 12:07] grlee77 commented on #5423
@leej3 and @viniciusdc, can one of you update this file? (it is located in the root folder of the repository)

[2021-06-18 07:08] IAM-P-LP opened #5430 "scikit-image installation fails with : #warning "Using deprecated NumPy API, disable it with.....""
I was trying to install scikit-image in a virtual environment using pip install scikit-image.It fails with the following error.

/face-alignment/face-alignment-virtual/lib/python3.6/site-packages/numpy/core/include/numpy/npy_1_7_deprecated_api.h:17:2: warning: #warning "Using deprecated NumPy API, disable it with " "#define NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION" [-Wcpp]
   #warning "Using depr

[2021-06-18 11:20] hmaarrfk commented on #5430
hello. thank you for reaching out.

unfortunately, the error above isn't the underlying issue. it is simply a warning.

are you able to share the full output of the build?

what operating system are you using? what hardware are you using?

[2021-06-18 14:42] firerain42 opened #5432 "'subpixel' boundaries at the edges of an image"
## Description

When using the function `find_boundaries` with `mode='subpixel'` the behavior at the edges of the image seems strange to me.

From the documentation it is not clear to me what the intended behavior should be. Without an option to explicitly specify the behavior at the edges of the image, I would expect a constant input image to have no boundary at all or maybe straight lines at the

[2021-06-18 17:44] grlee77 commented on #5388
This is also related to #1070 and #1190

[2021-06-18 18:31] mkcor commented on #5432
Hello @firerain42,

Thanks for reporting! I agree with you, the current behaviour is not consistent.

Would you like to try and investigate by yourself? https://github.com/scikit-image/scikit-image/blob/a1c58462b7fe752a9d05d99c997d2d4825bc3644/skimage/segmentation/boundaries.py#L11

You could run this function line by line, starting with `label_img = np.ones((3, 3), dtype=int)` and comparing with

[2021-06-19 22:15] #5195 closed

[2021-06-20 14:00] #5414 closed

[2021-06-21 10:02] firerain42 commented on #5432
Hello @mkcor,

I think the problem is the padding in
https://github.com/scikit-image/scikit-image/blob/23fd40b20a7f6dbd2c78ca85103d42c1c97ae17d/skimage/segmentation/boundaries.py#L37-L39
which introduces 0 as an image value. Replacing it with `np.pad(label_img_expanded, 1, mode='edge')` should do the trick. I would have sent a pull request, but I couldn't get the tests running on my PC (and don't

[2021-06-21 12:29] mkcor commented on #5169
# 2021/6/14 - 2021/6/22

Hi, sorry about the 8-day-long interval this time (2021/6/14 - 2021/6/22); since the start date is inclusive and the end date exclusive, I had to start with 2021/6/14 because the previous report ended with 2021/6/14, and I ended with 2021/6/22 to include today's action. Indeed, the long-standing discussion in #5281 (about changing the default value of `preserve_range`  fro

[2021-06-21 16:07] grlee77 commented on #4294
Let me also make a small PR to update `release_dev.txt` to describe this API change then I think we can close this one!

[2021-06-21 17:07] grlee77 commented on #4294
release notes added in #5438

[2021-06-21 17:07] #4294 closed

[2021-06-21 17:37] ntjess commented on #5252
Is this issue fixed in 0.18.1?

I face something similar when (x,y) resized dimensions are 0:

[code]

This raises the unhelpful error message `numpy.linalg.LinAlgError: SVD did not converge`

[2021-06-21 17:46] stefanv commented on #4294
Thanks, Greg!

[2021-06-22 17:00] grlee77 opened #5439 "Meta-issue: pending API changes for 2.0"
*The "1.0" concept since changed to "2.0", so replace all 1.0 below with 2.0*

## Description

This issue is just to summarize some of the API considerations we need to make a decision on for the 1.0 release. Please edit and add any additional items I may have forgotten (most of these I copied over from the scikit-image API 1.0 "project" under the Projects tab).

## Summary of various proposed Sci

[2021-06-23 08:32] jni commented on #5439
@grlee77 a fantastic list! I would make one modification and two additions:

- for 1.0 I think we should only have one name per region property. We can probably rethink the whole API anyway so that e.g. you get a dict rather than a list where the index has no relation to the label of that region. Regionprops is probably the most useful part of the library so let's think big!
- All functions that t

[2021-06-23 08:34] jni commented on #5439
Regarding @stefanv's request to schedule a meeting, I will propose a doodle shortly, but my first proposal is that we have three meetings: Pacific, Atlantic, and Indian, so that we can all overlap at least once. Are people ok with this plan?

[2021-06-23 10:09] shubham9436 opened #5440 "measure.find_contours() draws contours at the boundary too unlike gdal_contour"
I have a raster file for which I need to find the contours at certain elevation. There is difference in contours drawn by measure.find_contours() function and gdal_contour. There is an extra boundary line appearing which needs to be filtered out.

Contours generated by measure.find_contours() function:
![find_contours](https://user-images.githubusercontent.com/19433739/123080346-74574480-d43a-11eb

[2021-06-23 12:56] grlee77 commented on #5440
If I load these images, the non-negative pixels all fall in the range [495.9575, 502.32675] with some regions near the edges set to a negative value -32767.

I am not familiar with GDAL conventions, but it seems like perhaps it masks out these "negative" regions by default?

I think you can get the same behavior here by explicit setting the mask argument so that only non-negative regions are consi

[2021-06-23 13:23] shubham9436 commented on #5440
I am getting this error:
[code]
Is this a version issue?

My current version is 0.15.0.

[2021-06-23 13:29] grlee77 commented on #5440
Yes, it looks like the `mask` keyword argument was added in 0.16. If possible, I would recommend updating to the latest release (0.18.1)

[2021-06-23 13:32] shubham9436 commented on #5440
I masked the data using:
[code]
Still I am getting the contours at the boundary.

[2021-06-23 15:11] stefanv commented on #5439
That works for me.

[2021-06-23 17:15] lmmx commented on #2239
I got around to reworking my notes into a notebook and turning the equations into LaTeX, it's looking great! :smile:

Moving this discussion to [the skimage-tutorials thread](https://github.com/scikit-image/skimage-tutorials/issues/58) and I think this can be closed whenever you're ready :+1:

[2021-06-23 18:23] stefanv commented on #2239
Closing this issue in favor of https://github.com/scikit-image/skimage-tutorials/issues/58

[2021-06-23 18:23] #2239 closed

[2021-06-23 18:46] #5440 closed

[2021-06-24 11:07] mkcor commented on #5439
@grlee77 maybe this is the right place to add this item:

### Parameter addition

* Along with the deprecation of `multichannel` and its replacement with `channel_axis`, we probably want to also add a new `channel_axis` argument to any functions that always assumed a color image for input and thus did not have a `multichannel` argument previously. This would include many functions in `skimage.colo

[2021-06-25 15:19] grlee77 commented on #5439
Out of these issues, I see the issue of range-dependent default parameters (mentioned in #5439) to be one of the more complicated to address. A concrete example is the slow behavior of `blob_doh` for floats with range much greater than 1.0 (reported in #5224) due to a default `threshold` that is appropriate to floats scaled to [0, 1.0]. Getting this right everywhere will take a somewhat detailed a

[2021-06-25 20:58] #5423 closed

[2021-06-26 10:56] grlee77 commented on #4154
To summarize the above, it looks like the current consensus is:

Myself, @emmanuelle and @JDWarner seem on board with `footprint` in the `selem`/`structure`/`footprint` case (also @lagru and @sciunto via emoji)

For iterations, @jni and @rfezzani [expressed a preference](https://github.com/scikit-image/scikit-image/issues/4154#issuecomment-531064682) for `num_iter` and `max_num_iter` (also @sciunt

[2021-06-28 14:59] #5432 closed

[2021-06-28 16:13] janaknat commented on #5299
@jni Any ideas on when the aarch64 wheels get released?

[2021-06-28 16:44] nikhilredde commented on #5032
Did you find any solution?

[2021-06-28 16:45] nikhilredde commented on #5032
Did you solve the error?

[2021-06-29 01:36] jni commented on #5299
Ooops! I tagged the release but never uploaded the wheels and source to PyPI! This is why the work of @leej3 and @viniciusdc in #5397 is so important! 😅 Release happening right now! 🚨🚨🚨

[2021-06-29 01:55] jni opened #5448 "Wheels should be uploaded before sdist in release process"
## Description

Missed this in reviewing #5397. We prefer to release wheels before source because otherwise there is a small window during which users who `pip install scikit-image` will require compilation. In general this will be very small but in fact it could be big if e.g. there is a network failure in the VM during release.

The relevant lines are here:

https://github.com/scikit-image/sciki

[2021-06-29 02:01] jni commented on #5299
Release made! So happy that I can finally close this! Thank you everyone for all your contributions and for your patience! 🙏

[2021-06-29 02:01] #5299 closed

[2021-06-30 17:58] cgusb commented on #4780
I'm getting a similar error with `scikit-image 0.18.2` with `Python 3.9.5` (pip + Win 10) when I try to import `skimage.morphology`:
[code]
@cowlinator I was able to work around the problem by reverting `scikit-image` to `0.18.0rc2` (This is the most recent version that eliminated the import error for me). Thought this might be helpful to put here, as it is a workaround that uses a more up-to-date

[2021-06-30 18:10] stefanv commented on #4780
@cowlinator Thanks for identifying a more recently working version.  Just to confirm, did you try out all the versions listed [on PyPi](https://pypi.org/project/scikit-image/#history) after `0.18.0rc2`, and that was the only one that worked?

[2021-06-30 18:22] cgusb commented on #4780
@stefanv Yes, I tried:  `0.18.0rc2, 0.18.0, 0.18.1, 0.18.2rc1, 0.18.2rc2, 0.18.2`
To be clear, this was to eliminate the `_rolling_ball_cy` ImportError I mentioned above, not the `_map_array` ImportError mentioned by @cowlinator. I'm not sure how closely related these issues are.

[2021-06-30 20:42] MrAnisotropy opened #5449 "haar_like_feature generates Nan's"
## haar_like_feature generates Nan's

I am using haar_like_feature in skimage and I am getting nan values for certain features. I have tested using various shape sizes, transposing the image, normalizing, making the dimensions odd and even but the problem remains.

For the minimal test below with a small test data of 17x9 I get 123 nan's. Checking the documentation and codes suggests that there is

[2021-07-01 00:46] jni commented on #5439
Yes, we'll indeed need to do an audit, but I don't think it's a deal breaker. In the worst case scenario we can ascertain data range in two passes.

[2021-07-01 01:25] grlee77 commented on #5439
#2264 had proposed changing the default boundary `mode` from Gaussian back to the same default as SciPy's `gaussian_filter`. (Since skimage modes match `numpy.pad` conventions, this would be called `symmetric` rather than `reflect`, though)

[2021-07-01 08:45] mkcor commented on #1234
I changed my mind and prefer `rescale_`; I think that `convert_` refers to conversions between colour spaces.

[2021-07-01 10:00] jni commented on #5439
Notes from the meetings are being edited at:

https://hackmd.io/A51uU56pTESLlhcKfH4lQg

Archival version at:

https://github.com/scikit-image/meeting-notes/blob/main/2021/july-api-meetings.md

should be updated after each meeting.

[2021-07-01 11:40] MrAnisotropy commented on #5449
Turns out I had the width and height parameters flipped ! Closing the issue.

[2021-07-01 11:40] #5449 closed

[2021-07-01 11:41] MrAnisotropy commented on #5449
Flipped parameters for width and height. Closing the issue. Thanks

[2021-07-01 14:06] janaknat commented on #5299
Thank you @jni !

[2021-07-02 15:54] c-arthurs opened #5451 "Handling really large polygons with draw.polygon"
As I understand it, the main use case for [draw.polygon](https://github.com/scikit-image/scikit-image/blob/e4cc46927944a75cec1beaf740904ce5b2143b52/skimage/draw/_draw.pyx#L195) is for use in indexing arrays, as mentioned in [the doctoring](https://github.com/scikit-image/scikit-image/blob/e4cc46927944a75cec1beaf740904ce5b2143b52/skimage/draw/_draw.pyx#L213https://guides.github.com/features/masteri

[2021-07-03 02:59] grlee77 commented on #5451
Hi @c-arthurs,

It seems reasonable to me to have an function to draw the coordinates into an existing array.

If one wants to populate a dense array as in your use case, then the implementation here seems like it would always be preferable.  However, if one only wants only the coordinates and `shape` is much larger than the extent of the polygon, the original `_polygon` should use less memory sin

[2021-07-03 07:43] c-arthurs commented on #5451
Hi @grlee77 , thank you for looking at it and the speedup from your edits is really useful.
I will see if I can get a good enough pull request together

[2021-07-03 08:42] lilisako commented on #4868
It's a bit late but I'm working on this issue!

[2021-07-04 13:31] jni opened #5455 "New pillow release has broken array coercion"
## Description

Probably an issue for Pillow, but not sure yet so noting it down here. Example failure [here](https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=6203&view=logs&j=6ce3b3d3-5fdf-5465-5577-d7690203f228&t=ea6beca8-6c3f-5e5a-4621-92d65119556e&l=6832):

[code]

I'm pretty sure that `__array__` methods *should* take in `dtype=`, but I don't know 100%.

[2021-07-04 17:04] hmaarrfk commented on #5455
[code]

[2021-07-04 23:30] jni commented on #5455
Looks like there's a fix on the way:

https://github.com/python-pillow/Pillow/pull/5572

so let's just pin on `pillow!=8.3.0`.

[2021-07-05 04:00] #5455 closed

[2021-07-05 10:35] faberno commented on #4499
I'm currently working on SIFT and will send a pull request soon.

[2021-07-06 05:00] xzkzdx opened #5457 "ImportError: dlopen: cannot load any more object with static TLS It seems that scikit-image has not been built correctly."
Traceback (most recent call last):
  File "/root/.virtualenvs/adnerf/lib/python3.7/site-packages/skimage/__init__.py", line 121, in <module>
    from ._shared import geometry
ImportError: dlopen: cannot load any more object with static TLS

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "data_util/process_data.py", line 4, in <module>

[2021-07-06 14:24] patquem opened #5458 "masked phase_cross_correlation not working in 1D"
When working with 1D array, phase_cross_correlation without any mask works.
But when adding masks (_reference_mask_ or _moving_mask_), the `cross_correlate_masked()` called function makes the calculation failed.
Indeed, this function seems to be designed typically for 2D arrays.

Is it possible to extend this function to any dimension (or at less to 1D) ?
Thanks

**scikit-image : version 1.8.2**
[

[2021-07-06 15:01] JulesScholler opened #5459 "Phase cross correlation is not a phase cross correlation"
https://github.com/scikit-image/scikit-image/blob/2bbfce4786102a3a9e85839a52303e858346a08e/skimage/registration/_phase_cross_correlation.py#L118-L288

For this function to compute the phase cross correlation the ```image_product``` should be divided by ```np.abs(image_product)``` line 220. Also the ```overlap_ratio``` is not used (so it doesn't actually work as intended) and thus very confusing.

[2021-07-07 08:48] patquem opened #5460 "Phase cross correlation : uncorrect shift in some conditions"
Hello,

Here is a simple case that illustrates problems that I meet in a more complicated one.
In some "conditions" (?), the calculated shift is not correct.
In the pseudo 1D example below, I play with 2 parameters:
**length** : which is the length of my trench of my 'profile'
**shift** : which is the shift applied between the 2 'profiles'

with length=20, the calculated shifts are correct in the

[2021-07-07 19:01] grlee77 commented on #5457
Can you provide more information on your OS and how you are installing scikit-image?

I have seen this kind of message in the distant past, but am not sure it is an issue with scikit-image itself. This is a lot more discussion for example the following comments and their issues may hold some clues. It sounds like even changing import order can sometimes resolve the issue.

https://github.com/sciki

[2021-07-07 19:50] grlee77 commented on #5459
Thanks for reporting this @JulesScholler! Indeed it seems this is a long-standing bug (that appears to originate in the Matlab-central implementation mentioned in the comment at the top of the file).

Here is a simple illustration of the effect of the proposed change on a small example:

[code]

In the figure below, the left image is the magnitude of the `cross_correlation` variable from the curre

[2021-07-07 19:51] grlee77 commented on #5459
Do you happen to have a test case that would succeed with this change, but currently fails without it? (Our existing test suite passes both for the existing implementation as well as with this proposed modification)

[2021-07-07 19:54] grlee77 commented on #5458
Thanks for reporting. I will take a look. We do generally try to support n-dimensional images when possible.

[2021-07-07 19:55] grlee77 commented on #5460
The recently opened #5459 indicated that there is a bug in the function. I have not yet tested this example to see if making the change suggested there helps here

[2021-07-07 20:01] grlee77 commented on #5459
With slight modification to avoid potential divide by zero:
[code]

this fix resolves the case brought up in #5460 as well

[2021-07-07 20:02] grlee77 commented on #5460
Indeed, it seems making the fix suggested in #5459 results in the expected result for both cases here

[2021-07-08 07:35] JulesScholler commented on #5459
Hello @grlee77!

Great that you added a regularization to avoid dividing by zero.

Did you manage to find a case where it would fail with the normal cross correlation and not with the phase cross correlation? Otherwise I suggest to occult part of the moving image by adding a black/white disc or square.

Let me know if you want me to test some things!

[2021-07-08 08:01] rfezzani commented on #5451
First of all, thank you @c-arthurs for your contribution and your interest in `skimage`!
I am just jumping in the discussion here to notify that I am not really happy with adding `draw` functions to `skimage` :confused:
I am more on the side of removing/deprecating modules that are not image processing (`io`, `draw`, `viewer`...)
Sorry for my late answer :pray:

[2021-07-08 09:10] joooohnny opened #5464 "skeletonize_3d does not seem to do anything on my 3d input array"
## Description
Hi guys, I'm currently trying to generate the skeleton of a 3d object (stl file). I voxelized it into a 3d array and then used the skeletonize function. But skeletonize function does not seem to do anything on my array (compare skeleton and array in the code). And when I plot my skeleton, I have the same shape (a torus) as I had in input.
You can download the stl file needed to run

[2021-07-08 13:07] jni commented on #5464
The issue is that the output of `trimesh` is a *hollow* torus. Here is a screenshot of a cross-section of `array`:

![napari-torus](https://user-images.githubusercontent.com/492549/124926368-10e51f00-dfc3-11eb-9233-709ba2aaf968.png)

The following code gets you what you want:

[code]

Note also, for viewing 3D data, I recommend [napari](https://napari.org). Being able to quickly slice through the

[2021-07-08 13:07] #5464 closed

[2021-07-08 13:10] patquem commented on #5460
Hi,
thanks a lot @grlee77 and @JulesScholler for your bugfix.

Indeed, now the test case above returns good results (the same for my more complicated one :) )
**Unfortunatly**, the fix (lines (221-22) in _phase_cross_correlation) engenders bad results in another case.

**BEFORE** introducing the bugfix :

![image](https://user-images.githubusercontent.com/16154687/124924611-eb283c00-dffb-11eb-9eb3

[2021-07-08 13:18] joooohnny commented on #5464
Thanks a lot. It works for me.

[2021-07-08 14:43] greenonline opened #5465 "scikit-image 0.18.2 fails on OS X 10.13.6"
## Description

This issue would appear to be very similar to [Importing scikit-learn==0.24.0 fails on macOS 10.13: "Symbol not found: ____chkstk_darwin" #19063](https://github.com/scikit-learn/scikit-learn/issues/19063), which was fixed.

Running on OS X High Sierra 10.13.6. On Python 3.7 and 3.9.

The highlight of the error message is this line

[code]

It appears that binaries built on 10.15 ar

[2021-07-08 14:57] grlee77 commented on #5460
I could not reproduce the failure in your example when using the branch corresponding to #5461. Can you maybe try the following variant, and see if it helps?

(It adds a multiple of eps only to extremely small values, but doesn't modify the rest)

[code]

[2021-07-08 15:17] patquem commented on #5460
hmmm .. embarrassing.
previously, I just modified the 2 lines in my _phase_cross_correlation, with the result you know.
For the present test, I copy/paste the **whole** _phase_cross_correlation.py from your branch :
https://github.com/scikit-image/scikit-image/blob/e79fa4b694e5ceb52cfff28f13e57c519272e6ea/skimage/registration/_phase_cross_correlation.py
I have always the same behaviour in my case

[2021-07-08 15:22] patquem commented on #5460
I have performed test with different seed.
In some case, the shift is correctly calculated.
It seems to be really "blob distribution" sensitive

[2021-07-08 17:33] grlee77 commented on #5439
I opened a PR (#5462) adding `channel_axis` to `skimage.color` functions per Marianne's suggestion. One other place that potentially adding `channel_axis` was previously discussed was for `regionprops` (see #4087), although there was some concern brought up there about that approach potentially requiring too much memory.

[2021-07-08 19:11] grlee77 commented on #5439
In https://github.com/scikit-image/scikit-image/issues/5451#issuecomment-876222793, @rfezzani expressed a preference for also deprecating (or at least not expanding) the `draw` module which I don't think we discussed in the recent API meetings. Is this something we should be considering?

We do make use of a number of these for illustrative purposes in examples, so that would be a point in favor o

[2021-07-08 20:51] stefanv commented on #5439
I find `skimage.draw` very useful, so would prefer if we did not deprecate.  What is the incentive for getting rid of it?  There is no easy mechanism for replacing it as far as I know.

[2021-07-09 08:15] rfezzani commented on #5439
I think drawing is a job for the different visualization libraries (matplotlip, plotly, napari...)!

I agree that `draw` is less impacting then `io` or `viewer`, so it doesn't really hurt to keep it. But it looks more like a "util" module compared to the other modules of `skimage` :confused: ...

[2021-07-09 13:19] JulesScholler commented on #5460
I am experiencing the same thing, depending on the seed the phase correlation can either fail or succeed whereas the cross correlation is always good in this case.

Now, this type of image is really a texture where most of the information is contained in the frequencies amplitude. If you remove the gaussian filter the phase correlation does not fail because on the blobs edges all the frequencies a

[2021-07-09 13:32] patquem commented on #5460
I agree with you @JulesScholler
you confirm what I was thinking : Binarization on such images seems to be necessary to adress the "phase" problem.
Thanks for your message.

[2021-07-09 14:27] joooohnny opened #5468 "Does medial axis skeletonization work for 3D input arrays"
## Description

Hi, I'm just trying to run the medial axis method in order to skeletonize a 3d object (stl file). But I have this error:
![image](https://user-images.githubusercontent.com/86359014/125092154-555ee080-e0d1-11eb-9936-4d92df6ee363.png)

Here is the stl file used in the code:
[Turtle_Tree.zip](https://github.com/scikit-image/scikit-image/files/6792017/Turtle_Tree.zip)

## Way to reprod

[2021-07-10 02:19] jni commented on #5465
Thanks for the references @greenonline! This appears to be the sklearn PR with the fix:

https://github.com/scikit-learn/scikit-learn/pull/19064

Should be reasonably easy to fix in upcoming releases. 🤞

[2021-07-10 06:05] stefanv commented on #5439
Note that none of those libraries draw directly to arrays very easily. The purpose of this module was to annotate frames of a video, for example.

[2021-07-10 09:16] NipunDewthilina commented on #5270
Issue solved after I installed the Tensorboard package. I think the main cause of the problem is a version mismatch.

[2021-07-10 12:21] hmaarrfk commented on #5465
Do we only build with openmp for python 3.9? why is that?

[2021-07-10 12:24] hmaarrfk commented on #5465
<details>

[code]
</details>

[2021-07-11 19:27] grlee77 opened #5470 "Discretization of disk footprints (also ellipse, ball)"
## Description

When constructing footprints (structuring elements) corresponding to a disk, the following code is currently used:

https://github.com/scikit-image/scikit-image/blob/d85b06468e063f2b8aa6aa7e073e120294e8e2f8/skimage/morphology/footprints.py#L118-L120

A second possibility is the following:
[code]
where the radius has been extended by 0.5 voxels. Practially the former means the edge

[2021-07-12 01:07] #5448 closed

[2021-07-12 16:21] c-arthurs commented on #5451
Hi @rfezzani, thanks for the comments, I actually agree with you.

After running a few benchmarks it seems that my implementation of the polygon filling is pretty slow compared to using PIL to do the same thing (PIL - `3.46 ms ± 473 µs per loop`, skimage - `2.34 s ± 163 ms`). Therefore it is probably best not to needlessly inflate the codebase when it can be done faster elsewhere - especially as a

[2021-07-12 16:21] #5451 closed

[2021-07-12 18:52] grlee77 commented on #5451
Thanks @c-arthurs for measuring against Pillow/PIL and reporting back here. Perhaps we should update draw module documentation to point users with large data to other packages for the drawing functions.

[2021-07-12 19:04] grlee77 opened #5471 "relatively low performance of draw.polygon"
## Description

@c-arthurs measured [much poorer performance of polygon drawing in scikit-image as compared to PIL](https://github.com/scikit-image/scikit-image/issues/5451#issuecomment-878416003)

The `draw` module has not gotten much attention lately, but just wanted to note this here for those interested in potentially updating it in the future (and/or modifying the existing docs to point out a

[2021-07-12 19:06] grlee77 commented on #5471
There was also the start of a function to draw a polyong into a pre-existing array in #5453 that was faster than our existing routines, but also not competitive with PIL.

[2021-07-13 15:21] grlee77 commented on #5169
# 2021/6/28 - 2021/7/5

No one was assigned this week and it was overall pretty quiet.

## New pull requests open last week

#5456 Pin pillow to !=8.3.0
#5454 Add default values for denoise_tv_bregman / block_reduce / threshold_local method
#5453 Add a draw_poly_on_array function to skimage.draw
#5452 Fix 'blog_dog' typo in gaussian docs
#5450 prefer use of new-style NumPy random API in tests
#544

[2021-07-13 15:26] grlee77 commented on #5169
# 2021/7/5 - 2021/7/12

The team had recent meetings related to API changes summarized in #5439 with notes available at https://github.com/scikit-image/meeting-notes/blob/main/2021/july-api-meetings.md. The channel_axis suggestion for the color module was implemented in #5462.

Please also review #5463 which implements the remaining deprecations from our TODO list for the 0.19 release.

## New pul

[2021-07-13 15:38] grlee77 commented on #5169
Also, there are currently 5 issues just needing a second review (`action: mrg+1`) under the [0.19 Milestones](https://github.com/scikit-image/scikit-image/milestone/18).

[2021-07-15 04:51] jni commented on #5439
I'm :+1: for keeping draw. It is in fact useful for creating coordinate index lists, which are in turn useful various analysis tasks. (Indeed we ourselves use `draw.ellipse` [to make an elliptical footprint](https://github.com/scikit-image/scikit-image/blob/372b901065d5712237105fb1a70c5c6cde530a15/skimage/morphology/footprints.py#L160) in morphology!)

[2021-07-15 08:38] #5411 closed

[2021-07-15 11:26] mkcor opened #5474 "`.format()` in (legacy) code could be converted to f-strings."
## Description

To address this issue, a new contributor could start with a recursive grep for `\.format\(` on a subpackage of interest to them (or on the entire package). Replacing instances of `.format()` with f-strings can be a good pretext to explore the codebase.

Reference: https://www.python.org/dev/peps/pep-0498/

[2021-07-15 14:57] abrooks9944 commented on #5474
Hello! May I work on this issue?

[2021-07-15 16:20] Xyno18 commented on #5474
I'd like to work on this

[2021-07-15 16:48] mkcor commented on #5474
For sure! @alex-jw-brooks could do it for the `filters` subpackage and @Xyno18 for the `segmentation` subpackage: How does that sound?

[2021-07-15 16:51] alex-jw-brooks commented on #5474
That sounds great, thanks!

[2021-07-15 17:11] mkcor commented on #5403
Dear @cowlinator,

Were you able to resolve your install issue?

[2021-07-15 17:15] mkcor commented on #5368
@jaimergp fyi

[2021-07-15 17:28] mkcor commented on #5380
@alexdesiqueira same here, and it doesn't seem odd to me. But I agree that

looks nicer.

In the website repo, we should update `master` to `main`, in order to avoid the "Branch master was renamed to main" banner.

I don't get it because...
https://github.com/scikit-image/scikit-image-web/blob/0e2767e71509f1126d265da80f12fb14c25ba63b/_templates/sidebar_versions.html#L37
URL "https://github.com/sci

[2021-07-15 17:43] mkcor commented on #5380
There's another link to 'release notes here' leading to https://scikit-image.org/docs/stable/release_notes.html

![link_release_notes_here](https://user-images.githubusercontent.com/2227806/125832342-a0a5d814-9d78-4a46-82e6-0101aa9f404e.png)

and it's consistent in the case of older versions (https://scikit-image.org/docs/<older version in 0.minor.x format>/release_notes_and_installation.html) but

[2021-07-15 17:51] mkcor commented on #5380
Now, my attention is drawn to the '(changes)' link next to 'API Reference' (see screenshots in the above comment)... It looks like the sequence is capped at Version 0.16:
* https://scikit-image.org/docs/dev/api_changes.html
* https://scikit-image.org/docs/stable/api_changes.html
* https://scikit-image.org/docs/0.18.x/api_changes.html
* https://scikit-image.org/docs/0.17.x/api_changes.html
* https:

[2021-07-15 17:58] mkcor opened #5476 "Forum badge reads 'invalid.'"
## Description

![forum_badge](https://user-images.githubusercontent.com/2227806/125834791-1e7f8ad9-6421-4d27-9e79-bc1e8f383ab5.png)

## Way to reproduce

Look at https://github.com/scikit-image/scikit-image#readme on `main`.

## Version information

Latest commit: b0d6abfb68276bacc0d4f75309175d6de01db5f7

Maybe @imagejan would have a clue, as the author of 5653ca5fa6f9df8384956b5649038d7a27f1efc1

[2021-07-16 02:25] jni commented on #5468
As indicated by the error message, medial axis does not work for 3D images currently.

I don't know much about the medial axis algorithm, but based on my reading of the [wikipedia page](https://en.wikipedia.org/wiki/Medial_axis), the medial axis in a 3D object is in general *not* a skeleton but a surface. So, although we could (and probably should) update medial axis to work for 3D images, it will

[2021-07-16 02:40] jni commented on #5380
I don't have strong ideas here. My main motivation for this was that releases happened on branches, so the main branch notes could be out of date with the release branch. Now that we are making releases just with tags + CI (no branching), that is less of a concern. Although #5475 might change that temporarily yet again. 😅 I think though that ideally, yes, we should render release notes in the docs

[2021-07-16 03:20] jni commented on #5476
I was going to check how napari does it, but we are also invalid. 😂

[2021-07-16 08:42] imagejan commented on #5476
I'm not sure why this is broken now for *all* projects that have this forum badge.

The JSON endpoint https://forum.image.sc/tag/scikit-image.json works for me, and the query path `$.topic_list.tags.0.topic_count` seems correct. Maybe it's a cross-site security setting in the image.sc forum, but I couldn't find anything related in the forum settings.

[2021-07-17 01:53] yashasvimisra2798 commented on #1580
@stefanv can you please elaborate on what exactly needs to be added, I want to work on this issue

[2021-07-17 08:06] Xyno18 commented on #5474
Sounds great. I'm on it

[2021-07-17 16:20] coreysharris commented on #4831
Just checking in here... It looks like this issue could be closed?

[2021-07-17 16:32] mkcor commented on #4831
You're absolutely right, @coreysharris! Thanks for your diligence.

[2021-07-17 16:32] #4831 closed

[2021-07-17 17:08] #5366 closed

[2021-07-17 18:48] Pomax commented on #5366
@grlee77 @lilisako Small note, but the PR as merge is using the wrong syntax for the string argument to ValueError. So that's something you probably want to patch.

[2021-07-17 20:09] yashasvimisra2798 commented on #1580
Is this issue relevant right now?

[2021-07-17 23:41] stefanv commented on #1580
Hi @yashasvimisra2798; thank you for your willingness to help out!

The idea here was to have a very short version of the contributor guide that showed the minimum steps required to contribute a change to skimage. I.e., clone the repo, make a branch, commit to that branch, make a pull request.

 Perhaps this should be a summary at the top of the contributor guide with simply a link from the front

[2021-07-18 10:10] mkcor commented on #5366
@Pomax right, we didn't go [this route](https://github.com/scikit-image/scikit-image/pull/5395#discussion_r632939114) in the end.

[2021-07-18 13:48] yankarinRG opened #5481 "Allow local maxima and local minima to ignore plateaus"
As documented, [local_maxima](https://scikit-image.org/docs/stable/api/skimage.morphology.html#skimage.morphology.local_maxima) and [local_minima](https://scikit-image.org/docs/stable/api/skimage.morphology.html#skimage.morphology.local_minima) find the connected sets of pixels with equal gray level (plateaus) strictly greater/smaller than the gray levels of all pixels in the neighborhood.
These f

[2021-07-19 08:47] haesleinhuepf commented on #5439
Hi all,

I'm just curious: Are there plans for improving type-annotations of parameters in skimage 1.0? Or will parameter-name unification bring type hints implicitly? I'm asking because it might make it easier to explore the API, especially in an automated fashion. For example, if one wanted auto-generate user-interfaces from skimage functions ([magicgui](https://napari.org/magicgui/)), type-anno

[2021-07-19 11:32] mkcor commented on #5169
# 2021/7/12 - 2021/7/19

Hi, the highlights of last week were that:

* we (@jni basically) spread the word about the 1.0 release plan, to make sure the community can voice potential concerns regarding breaking changes;
* we held a modest sprint at SciPy US 2021, which provided an opportunity to make progress on some (large) code reviews and to welcome a couple new contributors;
* we received a sub

[2021-07-19 19:48] grlee77 commented on #5470
Additional considerations:
1.) `calling skimage.morphology.footprints.ellipse(radius, radius)` resembles the "proposed" disks more than the "current" ones, although they are not identical for all choices of radius.
2.) The "current" implementation is consistent with the disks produced by Matlab (there are existing tests that verify this)
3.) OpenCV has a "MORPH_ELLIPSE" shape, but apparently not a

[2021-07-19 21:43] grlee77 commented on #5470
ImageMagick deals with this by allowing specification of a floating point radius which for example matches "current" when the radius is a whole number or "proposed" if the radius is a half pixel number. Size is always ``(floor(radius) * 2 + 1, floor(radius) * 2 + 1)``
see: https://legacy.imagemagick.org/Usage/morphology/#disk

[2021-07-20 03:19] alex-jw-brooks commented on #5401
Hi, is anyone actively looking at this?

I'm not particularly familiar with this algorithm, but have worked with contour finding algorithms in the past. I did reproduce the error with the given image and would love to read up on the algorithm to help figure out what's going on here & think of a potential test case to verify the fix assuming nobody is currently working on it.

[2021-07-20 03:45] grlee77 commented on #5401
I don't think so. If you want to try sorting this out that would be very welcome!

I was not the person who suggested the workaround (it was a different twitter user mentioned up top) and have not looked into this issue

[2021-07-20 04:53] alex-jw-brooks commented on #5401
Great, thanks for the quick response @grlee77. I'll look into it this week 😄

[2021-07-20 07:33] rfezzani commented on #5470
Hi @grlee77, and thank you for raising this. I agree, you proposed implementation looks visually more disk-like!
I like the idea of `strict_radius` argument :+1:

[2021-07-20 19:41] shirawerman opened #5483 "Allow use of complex numbers with denoise_nl_means"
The code of non_local_means.py  converts the dataset to 'float', but I have a dataset with complex numbers. Is there a possibility to support more data types?

Thanks
[code]

[2021-07-20 22:58] grlee77 commented on #5483
It would likely require substantial work to refactor the underlying Cython code to support complex types directly, but there are a couple of other options:

1.) Run non-local means independently on the real and imaginary components.

2.) If the data is 2D it might also be possible to stack the real and imaginary data along a new axis (e.g. np.stack((image.real, image.imag), axis=-1) and call it wi

[2021-07-21 02:34] grlee77 commented on #5439
Hi @haesleinhuepf, I think we will add type annotations eventually, but I don't have a specific time frame in mind. There was an initial start on this about a year ago: https://github.com/scikit-image/scikit-image/pull/4794, but I don't think there has been any recent progress. Now that NumPy and SciPy are a little farther along on these efforts, we can probably move forward a bit more easily.

[2021-07-21 04:28] wusaifei opened #5484 "AttributeError: module 'skimage' has no attribute 'measure'"
According to the official website tutorial, `pip` and `conda` are installed. The installation result is successful, and you can `import skimage`, but `skimage.measure` will report an error. Test the `0.18.1`, `0.17.2` and other versions.

[2021-07-21 04:29] wusaifei commented on #5484
@sergeyk @rtack @zeroth @adamw523 Looking forward to your reply, thank you very much!

[2021-07-21 05:54] jni commented on #5484
The submodules are not imported by default. This means you need to either:

[code]

or

[code]

After #5101 is merged, `import skimage; skimage.measure.regionprops(...)` will work. But not yet.

[2021-07-21 05:54] #5484 closed

[2021-07-21 05:59] jni commented on #5439
Yup, relevant also @haesleinhuepf, NumPy's tensor typing meeting notes:

https://mail.python.org/pipermail/numpy-discussion/2021-June/081863.html

[2021-07-21 06:27] wusaifei commented on #5484
@jni Thank you very much for your reply! This means that in order to improve the loading speed of `skimage`, the default is not to load sub modules such as `measure`.

[2021-07-21 17:29] shirawerman commented on #5483
Thank you for the quick reply!
I am working on 3D data so if you can let me know when that code is ready, that would be great!
For now I will work with the first solution, although is will generate different weights for the real and imaginary part.

[2021-07-22 02:14] grlee77 commented on #5483
Hi @shirawerman, I opened a PR for 3D+multichannel (and 4D) support in #5488. If you want to compile scikit-image from that branch you can try it out.

We are hoping to make a 0.19 release soon, but I don't know that the PR will be reviewed in time for that.

[2021-07-25 20:13] mimranfaruqi commented on #4664
I was using this in my docker container. Setting up the environment variable solved my problem!

Thanks!

[2021-07-26 11:59] mkcor commented on #5422
ping @nassimasri Are you still experiencing this issue?

[2021-07-26 20:19] grlee77 opened #5491 "`ksize` has no effect in skimage.filters.laplace"
## Description

The discrete Laplacian kernel used internally by `skimage.filters.laplace` is unaffected by the setting of `ksize`. The actual kernel generated is always shape `(3, ) * ndim`. The shape parameter used by `skimage.restoration.laplacian` only effects the FFT size when creating a Fourier representation of the kernel, but that argument is not even used within `skimage.filters.laplace`.

[2021-07-26 20:21] grlee77 commented on #5491
Specifically, ksize is passed as a shape parameter here:
https://github.com/scikit-image/scikit-image/blob/a86701c19edb4163dcfb9e81a25cae744f3a59dc/skimage/filters/edges.py#L690

but that shape is only used in the argument to the FFT for the first argument returned by `laplacian` while the line above only uses the second argument:
https://github.com/scikit-image/scikit-image/blob/a86701c19edb4163d

[2021-07-26 20:27] grlee77 commented on #5491
OpenCV supports odd sizes 3, 5, 7, ... which correspond to
where size = 3 correspond to separable product of `[-1, 2, -1]` along each axis as in our case

For ksize = 5 the kernel would be `np.convolve([-1, 2, -1], [-1, 2, -1])` with additional repeated convolutions for larger sizes

[2021-07-27 13:47] grlee77 commented on #5481
I don't know of an existing option to do this, but seems like something that could be reasonable to add. Maybe as an option to `skimage.feature.peak_local_max`.

Here is one approach that works:

[code]

If you do not want diagonally adjacent to count as touching, change the call to rank_filter to be:
[code]

[2021-07-28 19:15] stefanv opened #5492 "Constructing Cascade from XML causes segfault"
Running [this gallery example](https://scikit-image.org/docs/dev/auto_examples/applications/plot_face_detection.html#sphx-glr-auto-examples-applications-plot-face-detection-py) on [this XML file](https://raw.githubusercontent.com/opencv/opencv/master/data/haarcascades/haarcascade_frontalface_default.xml) causes a segfault.

[code]

gdb reports the problem at

[code]

[2021-07-29 17:35] bm-93 opened #5494 "issue with rgb2hed and hed2rgb"
The example code snippet does not give the results that were shown in the documentation:
![Screenshot from 2021-07-29 10-28-37](https://user-images.githubusercontent.com/59984233/127538591-dc0da26c-0f50-45be-9198-e9108dd1e1cf.png)

[2021-07-30 17:56] grlee77 commented on #5494
Hi @bm-93,
can you please specify which version of scikit-image you are seeing this with?

[2021-07-30 17:59] grlee77 commented on #5494
There was an issue with this example that was resolved earlier this year (#5164), but the image above does not look the same as the one shown there.

[2021-07-30 18:04] bm-93 commented on #5494
The skimage version is 0.16.2

[2021-07-30 18:04] grlee77 commented on #5492
I figured this was likely due to out-of-bounds access somewhere, so I recompiled `_cascade.pyx`, but changing to `boundscheck=True` up to. This results in the following more helpful error:

[code]

[2021-07-30 18:17] grlee77 commented on #5492
I have no prior experience with this Cascade class in skimage or this feature in OpenCV, but I suspect the root difference is related to the difference in the classifier type used. The `.xml` file bundled in our data package uses

[code]

while the XML file in this issue uses
[code]

**LBP** = Local Binary Pattern while **HAAR** = Haar-like wavelet features ([reference](https://docs.opencv.org/4.5

[2021-08-02 11:15] flutterq2 commented on #5270
[[Already solved] ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject?](https://flutterq.com/valueerror-numpy-ndarray-size-changed-may-indicate-binary-incompatibility-exp/)

[2021-08-02 20:35] maurosilber opened #5496 "Wrong threshold value in threshold_otsu when passing a precomputed histogram"
## Description

When the histogram has bins with zero counts at the beginning, it returns zero as threshold.

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-08-03 09:47] patricio-astudillo opened #5498 "slic in mask should support 3D masks"
This check should allow 3D masks as well:

https://github.com/scikit-image/scikit-image/blob/178e05f17855859d6661ebb6e04d8ddcb50c1cc5/skimage/segmentation/slic_superpixels.py#L276

`if mask.shape != image.shape[:3]:` -> `if mask.shape != image.shape[1:]:`

[2021-08-03 09:58] #5498 closed

[2021-08-04 04:45] nguyenlienviet opened #5500 "peak_local_max should raise error when given >2D array"
## Description

[peak_local_max](https://github.com/scikit-image/scikit-image/blob/e128e0743bb2cded104654352a13ed5b4e53efb8/skimage/feature/peak.py#L113-L319) returns empty array when `image` argument's dimension is greater than 2 instead of raising an error.

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-08-04 05:48] jni commented on #5500
Ah, this is actually not an error — peak local max works for 3D arrays, and even higher dimensions. The issue you are running into is that `peak_local_max` ignores a border of width=1 by default (see `exclude_border=True` in the [docs](https://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.peak_local_max)). But when your array has thickness of only 1, it's *all* border, so no m

[2021-08-04 06:42] nguyenlienviet commented on #5500
Oh I see. Thanks for the clarification!

[2021-08-04 06:42] #5500 closed

[2021-08-04 08:10] #5496 closed

[2021-08-04 08:49] #5494 closed

[2021-08-04 09:08] patquem opened #5501 "label2rgb raises a wrong message when inputs are 3D"
Hi,
the 2D-test presented in #4657 doesn't work when extended in 3D.
Is this a bug ?
Thanks,
Patrick

version : scikit-image-0.18.2
[code]

[2021-08-04 09:29] rfezzani commented on #5501
According to its [documentation](https://scikit-image.org/docs/stable/api/skimage.color.html#label2rgb), `label2rgb` only supports 2D inputs: `label` and `image` must be respectively of shape (M, N) and (M, N, 3). But this can be effectively checked to raise a proper error message.
I modified your issue title to reflect this. Thank you for the report.

[2021-08-04 09:54] patquem commented on #5501
thanks for the reply @rfezzani .
I agree with you (doc + issue title).
As skimage.measure.label works whatever the array size, it could be good to have label2rgb working in 3D (or whatever the dimension, if this has sense), couldn't it ?
(+ type:enhancement ??)

[2021-08-05 06:31] PinkShnack commented on #5361
A late reply from me....
A while ago I tried to change the docstring as mentioned above. However, the current docstring examples don't run correctly. It seems that when the default parameters were changed, no one updated the docstring examples.

Does scikit image test the docstring examples by default with your current github actions/CI integration?

If this has been corrected in the mean-time, th

[2021-08-05 14:04] grlee77 commented on #5361
I would have thought so, but perhaps this got lost somewhere along the line with the move the GHA. Let me look into it.

Indeed, the results in the example appear to still correspond to `mode='constant'` instead of the current default.

[2021-08-05 14:08] grlee77 opened #5502 "Broken doctests (doctests not being run on CI)"
## Description

In https://github.com/scikit-image/scikit-image/issues/5361#issuecomment-893202331 it was pointed out that the `profile_line` examples list incorrect outputs. Are we no longer running `doctests` on any CI job? I know that our unit tests are greatly preferable to doctests for testing purposes, but we should still be verifying that the given examples run as expected.

[2021-08-05 14:09] grlee77 commented on #5361
@PinkShnack, thanks for raising the issue here about the broken examples. I opened #5502 about fixing this and running the doctests on CI.

[2021-08-05 16:59] #5483 closed

[2021-08-06 14:26] grlee77 commented on #5502
The older `tools/travis/before_install.sh` TravisCI scripts set the option to run the doctests and `tools/travis/script.sh` used this when calling pytest.
[code]

The newer GHA `tools/github/before_install.sh` also sets this TEST_ARGS environment variable, but it does not seem to be used when calling pytest in any of the `.github/workflows` files

[2021-08-06 14:27] grlee77 commented on #5502
I will open a PR to add this to the GHA workflow and fix any existing doctest failures that may have crept in.

[2021-08-06 20:35] grlee77 commented on #5502
The underlying issue was that environment variables do not persist between GitHub Actions steps. There is a fix for this in #5505

[2021-08-08 20:44] Larkinnjm1 commented on #5474
Hey folks looking to contribute to a first issue on this repo can I look to work on this issue for other sub modules such as `restoration` and `registration?`

[2021-08-09 07:32] mkcor commented on #5474
Hi @Larkinnjm1,

Sure, please go for it!

[2021-08-09 13:31] grlee77 commented on #5169
# 2021/7/19 - 2021/7/26
## New pull requests open last week

#5490 Update thresholding.py with Singh function
#5489 [WIP]- Change sphinx theme for docs
#5488 non-local means: support 3d+multichannel, 4d and 4d+multichannel
#5487 simplify blob_log using vectorized linspace and logspace
#5486 Remove legacy Travis-CI scripts and update contributor documentation accordingly
#5485 remove _fast_pad util

[2021-08-09 13:32] grlee77 commented on #5169
# 2021/7/26 - 2021/8/2
## New pull requests open last week

#5495 Update codecov config
#5493 [minor docs fix] Fix reference to multiscale_basic_features in TrainableSegmenter

## Closed pull requests (not merged)

none

## Merged pull requests

#5493 [minor docs fix] Fix reference to multiscale_basic_features in TrainableSegmenter
#5305 Precompute histogram to speed up try_all_threshold

## Older

[2021-08-09 13:52] grlee77 commented on #5169
# 2021/8/2 - 2021/8/9

I think the PR with the large number of of 0.19 TODO items has been reviewed and remaining comments were just addressed (thanks @mkcor and @rfezzani!). I would like to restore the doctests (#5505) and get a small revision to a recently merged `blob_dog` bug fix (#5503) in for 0.19 so I added those two to the milestone. I don't want to delay the 0.19 release much more, so we

[2021-08-09 18:55] MariosAchilias commented on #5474
Hello, i'd also like to contribute, can I work on this for the ``color``, ``exposure``, ``transform`` and ``util`` modules?

[2021-08-09 19:00] mkcor commented on #5474
Hi @MariosAchilias,

Ok!

[2021-08-09 22:10] Larkinnjm1 commented on #5474
Cool great on it!

[2021-08-11 09:07] jstriebel commented on #5474
Just a recommendation: pyupgrade is a tool which can automatically apply new python-features on code, such as converting `"".format()` calls to f-strings:
https://github.com/asottile/pyupgrade#f-strings

It might also do too many other conversions you don't want in the code-base, not sure about that, just a suggestion :-)

[2021-08-11 10:51] HeToufani commented on #4780
Python 3.8+ no longer searches for DLL's on the path. Since this is an issue with building / environment this outside the scope of the project.

[2021-08-11 12:34] hmaarrfk commented on #4780
I'm not so sure it is outside the scope of the project. The goal of the project is to make these algorithms available and usable.

I typically install everything with conda.

You are right to suspect that it is a path issue. however, with windows, it is sometimes easy to corrupt your path when you follow random guides on the internet. So that might be it.....

[2021-08-14 13:10] #5413 closed

[2021-08-15 13:24] #3439 closed

[2021-08-16 07:32] olebole opened #5511 "[0.18.2] Mysterious "Using pytest.skip outside of a test is not allowed" error"
## Description

When building the Debian package of skimage, I run the tests during build time. With the new version 0.18.2, I get an error that looks a bit mysterious to me:

[code]

The file `skimage/filters/rank/tests/test_rank.py` however does not contain a `pytest.skip` call, at least not explicitly. I suspect this comes from the top-level `fetch()` call: https://github.com/scikit-image/sciki

[2021-08-16 14:54] hmaarrfk commented on #5511
gah, this was a hack i did to make it easier to pass tests without requiring.

We probably need to do:

[code]
https://docs.pytest.org/en/6.2.x/reference.html#pytest-skip

[2021-08-16 16:12] mkcor commented on #5169
# 2021/8/9 - 2021/8/16

Hi, keeping the focus on the [0.19 milestone](https://github.com/scikit-image/scikit-image/pulls?q=is%3Apr+is%3Aopen+milestone%3A0.19+), wrt last week:
* the `blob_dog` bug fix got merged in but will lead to another [follow-up PR](https://github.com/scikit-image/scikit-image/pull/5503#issuecomment-899113230);
* PR #5505 (always by Super @grlee77) still needs review/approval

[2021-08-16 16:27] mkcor commented on #5474
Hi @jstriebel,

Exactly! But, it might be worth considering each pyupgrade item, to decide whether to include it or not. Thanks for the suggestion!

[2021-08-16 16:35] mkcor commented on #5474
To track this issue more finely and eventually close it, I'm listing all the skimage subpackages below (check the box once the corresponding PR is merged):

- [x] color (#5508)
- [ ] data
- [ ] draw
- [x] exposure (#5508)
- [ ] external
- [ ] feature
- [ ] filters (#5478)
- [ ] future
- [ ] graph
- [ ] io
- [ ] measure
- [ ] metrics
- [ ] morphology
- [ ] registration (#5510)
- [ ] restoration (#5

[2021-08-16 17:26] #5213 closed

[2021-08-16 21:04] loicdtx opened #5512 "SLIC segmentation results differ depending on input image datatype"
I just realized that segmentation output can vary a lot depending on the datatype of the input array.

See reproducible example below

[code]

## Version information

[code]

[2021-08-17 01:54] grlee77 commented on #5512
I think it is not so much the datatype, but the scaling that matters here. Internally `skimage.img_as_float(img)` results in rescaling the `uint8` image to floats in the range [0.0, 1.0]. The `.astype` call here converts to floats with values in the original integer range of `img`. This difference in absolute scale is the source of the difference.

Using the following gives `labels_1` that looks t

[2021-08-17 11:34] #5511 closed

[2021-08-18 21:01] adamgranthendry opened #5519 "MemoryError: Exception ignored in: 'skimage.measure._marching_cubes_lewiner_cy.Cell._increase_size_faces'"
## Version information

[code]

## Problem Description

I have previously used `skimage.measure.marching_cubes` without any errors on several large DICOM stacks (converting the data to `numpy` with `SimpleITK`):

[code]

My desktop is pretty powerful (that is to say, I have plenty of RAM and CPU cache):

[code]

However, I receive the following error when using `marching_cubes` on a particular sta

[2021-08-19 13:22] jagruti8 opened #5520 "Downsampling an image"
Hi, while downsampling an image do we need to do gaussian blurring to prevent aliasing even if we are using linear or cubic interpolation. Since, by interpolating we are already doing some smoothing. I am really confused. It will be great to get some insights on this?

[2021-08-19 17:57] grlee77 commented on #4780
I was not able to reproduce the `_rolling_ball` import error when I tried on a Windows 10 system with Python 3.8.10.

I created a clean Python 3.8 `virtualenv` installed via `pip install scikit-image`. This results in scikit-image 0.18.2 and its dependencies being installed from PyPI. No errors were observed on package import.

I am going to remove this from the 0.19 milestone, but have left the i

[2021-08-19 22:13] cgohlke commented on #4780
This issue can only be reproduced on a Windows system without the "Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019" or Visual Studio >= 2015 installed.

One way to reliably reproduce this issue is in a [Windows Sandbox](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview), a Windows 10 feature that needs to be enab

[2021-08-20 13:19] Larkinnjm1 commented on #4883
Hey folks, I'd be interested in looking at coming up with some error catching nan check on the inputted array for this as I have burned by this previously. Are you guys happy for me to take this on?

[2021-08-21 15:59] ashbrin opened #5525 "Circle Detection"
## Description

I have referred to this link, https://scikit-image.org/docs/dev/auto_examples/edges/plot_circular_elliptical_hough_transform.html for detecting circles within an image. However upon running the code using my image, it goes for a spin. I have to kill my session after waiting for 30 min
-->

## Way to reproduce
[code]

## Version information
[code]

[code]

[2021-08-22 23:08] grlee77 commented on #5439
Apparently we use scipy.ndimage boundary mode names in `skimage.feature` and `skimage.filters`, but `numpy.pad` style names in `skimage.transforms` and a couple of other isolated functions:
https://github.com/scikit-image/scikit-image/pull/2264#issuecomment-903344164

[2021-08-23 01:46] grlee77 commented on #5520
In general, yes you will still need smoothing. In practice, you may or may not be able to tell a visible difference if the downsampling factor is not large and/or the image doesn't have much high frequency content.

Here is an example of a test pattern with high frequency content:
![zone_plate_orig](https://user-images.githubusercontent.com/6528957/130378917-de9a4fa5-b126-41f0-9ee3-ba3683590dd7.pn

[2021-08-23 06:32] Alfa-Shashank commented on #5428
Hello guys, I would like to work on this, is this issue still open?

[2021-08-23 08:47] jagruti8 commented on #5520
Hi, thanks a lot for the reply. But may I know which interpolation would be good for downscaling meaning bilinear or bicubic if I am doing Gaussian smoothing with a proper anti-aliasing smoothing factor?

[2021-08-23 08:48] jagruti8 commented on #5520
Hi, thanks a lot for the reply. But may I know which interpolation would be good for downscaling meaning bilinear or bicubic if I am doing Gaussian smoothing with a proper anti-aliasing smoothing factor?

[2021-08-23 08:48] jagruti8 commented on #5520
Hi, thanks a lot for the reply. But may I know which interpolation would be good for downscaling meaning bilinear or bicubic if I am doing Gaussian smoothing with a proper anti-aliasing smoothing factor?

[2021-08-23 12:07] tarun-bisht commented on #5428
Hi, I am intrested in solving this issue. Is this still open

[2021-08-23 12:42] manthey opened #5528 "Pooch update breaks import"
## Description

Pooch recently updated to version 1.5.0.  This moved the hash functions to their own module, so the current method of importing them now fails.  Further, the fallback for if pooch is not installed doesn't work because the exact error is different.

## Way to reproduce
[code]
Note, install pooch 1.5.0 first.

You'll see
[code]

## Version information
[code]

[code]

I'm using ```sci

[2021-08-23 12:59] hmaarrfk commented on #5528
ah thanks for this. I had actually asked for that pooch release myself... thanks for flagging this.