[2017-02-03 05:33] jni commented on #2301
I'm going to close this. The structure tensor is probably not going to make it into 0.13.

[2017-02-03 05:33] #2301 closed

[2017-02-03 05:55] jni commented on #2450
Sorry for the delays! @vighneshbirodkar is the expert, but I'll have a look also.

[2017-02-03 06:19] vrjgamer commented on #2440
sry for the late reply,
i reinstalled ubuntu and it worked i think it was problem with my system
sry and thank you for ur time.

[2017-02-03 06:19] #2440 closed

[2017-02-03 06:20] soupault commented on #2440
Perfect!

[2017-02-03 06:23] soupault commented on #2346
During the implementation it might be better to use r/c convention for array manipulating (see https://github.com/scikit-image/scikit-image/issues/2301).

[2017-02-03 08:43] b52 commented on #2219
I don't really have the time to create a PR out of something I only have a novice like understanding of.

[2017-02-03 10:47] alexandrejaguar commented on #2486
@soupault do you attribute this issue to the new default colormap, `viridis`? If this is the case, changing the colormap on these examples should solve it, right?

[2017-02-03 10:58] soupault commented on #2486
@alexandrejaguar yes, exactly. Should investigate better the 2nd case (marching cubes) though.

[2017-02-03 11:00] alexandrejaguar commented on #2486
@soupault I could start working on that in approx. 10 days :)

[2017-02-03 13:46] kirk86 opened #2488 "Does scikit-image provide SIFT and SURF methods"
Hi everyone, I was wondering whether scikit-image provides a method to compute sift and surf features? Is that possible at the moment?

Thanks!

[2017-02-03 13:50] soupault commented on #2488
@kirk86 Hi! No, we do not ship these detectors. For more information see https://github.com/scikit-image/scikit-image/blob/master/skimage/io/sift.py#L14-L23 .

[2017-02-03 13:50] #2488 closed

[2017-02-03 14:00] kirk86 commented on #2488
@soupault thanks

[2017-02-06 02:35] jni commented on #2486
@soupault can you elaborate on what you think looks bad on the first and last entries? I think viridis looks great in this context.

[2017-02-06 02:39] jni commented on #2178
Given that we merged #2180, can we remove the 0.13 tag on this one? Adding a new fancy generic API for `try_all_threshold` can wait till the next release, I believe.

[2017-02-06 04:03] jni commented on #2250
@JDWarner @emmanuelle do you still object to bumping to 0.17? imho, given that we depend on np 1.11 anyway *and* that this is now one of the last remaining blockers for 0.13, I think we should make the leap. @scikit-image/core should also weigh in here. Otherwise @sciunto, @soupault, and I will probably make a quorum and "go rogue", so to speak. =P

[2017-02-06 06:14] sciunto commented on #2178
I'm +1.

[2017-02-06 06:19] sciunto commented on #2250
FYI, I reopened #2254 to do that. #2254

[2017-02-06 08:23] soupault commented on #2486
@jni
Hmm... Alright, OK for 3rd case. Regarding the 1st - even if it represents the results of the processing quite well, it looks very unnatural to me and hard to interprete. I think that the old grayscale version would be much easier to perceive.

[2017-02-06 10:49] blink1073 commented on #2178
Moved to 0.14.

[2017-02-06 17:19] adius opened #2491 "TypeError: watershed_raveled() takes exactly 7 positional arguments (8 given)"
This code:

[code]

causes this error:

[code]

[2017-02-06 19:40] adius commented on #1623
Oh boy. Just waisted to so much time until I figured that this is the problem 😭

[2017-02-07 06:23] sciunto commented on #2491
What's your scikit-image version?

[2017-02-07 09:51] adius commented on #2491
Oh, sorry forgot to update the issue. The problem was I hadn't run `python setup.py build_ext -i` and therefore some old version was loaded. After running it everything works!

[2017-02-07 09:51] #2491 closed

[2017-02-07 10:35] #2121 closed

[2017-02-07 21:32] #1514 closed

[2017-02-09 07:13] stefanv commented on #2330
Dask has no compiled parts, so I don't see why we would need a wheel.

[2017-02-09 10:44] soupault commented on #2237
JFYI:
I've tried to force `doc` directory cleanup before the build changing https://github.com/scikit-image/scikit-image/blob/master/tools/travis_script.sh#L26 to
[code]
Unfortunately, the results is the same - see the failing build in https://travis-ci.org/soupault/scikit-image/builds/199918037

[2017-02-09 12:17] #2330 closed

[2017-02-09 19:42] sciunto commented on #2380
@rougier Did you get the chance to start a PR? :)

[2017-02-09 20:25] rougier commented on #2380
Not yet. I've been looking at @dvolgyes suggestion that lead me to more experiments since the method used on http://devmag.org.za/2009/05/03/poisson-disk-sampling/ is not really satisfactory. I will try to open a PR soon.

For the PR, my idea was to create a `skimage.util.sample.py` file for proposing different sampling method (correlated with image or not). Or is there a better place ?

Some resu

[2017-02-10 21:42] giswqs commented on #1131
I use the following code as a workaround to get boundary pixels

`import matplotlib.pyplot as plt
from scipy import ndimage
import numpy as np

a = np.zeros((50,50))
a[10:30,10:30] = 1
a[35:45,35:45] = 2

distance = ndimage.distance_transform_edt(a)

distance[distance != 1] = 0
plt.imshow(distance)
plt.show()

np.where(distance == 1)`

[2017-02-12 09:45] yxdragon commented on #1311
@blink1073 Hello, I am yxdragon, who email to you yesterday. I review all the comment above. I wrote ImagePy https://github.com/yxdragon/imagepy, aimd to build a interactive enviroment with smallest dependent, just: numpy, scipy, wx, and shapely(to surport the diffrent shapes selection and there union, buffer operations...).and with some plugins (can wrap any numpy image procession function with p

[2017-02-12 11:20] blink1073 commented on #1311
Hello @yxdragon!  Thank you so much for imagepy and for engaging with us.

A couple of points for the wider group: wx [Pheonix](https://github.com/wxWidgets/Phoenix) (which supports Python 3) has unstable releases and appears to be nearing completion.  The last commit was 3 days ago.

Also, I asked @yxdragon to consider a BSD-style license, with a pointer to Jake's [blog post](http://www.astrobett

[2017-02-12 13:26] #1964 closed

[2017-02-12 14:00] yxdragon commented on #1311
@blink1073 I will follow the wx Pheonix, and try to use it in ImagePy. But now I must translate some document (manual and develop) in my free time. I am a Chinese with pool english and I have to work in daytime...and I am a freshman in github and opensourse, I have no knowledge about those licenses, I will just do as your advice, take a BSD license now!

[2017-02-12 14:02] yxdragon commented on #1311
@blink1073 Thanks for your tips, I will keep on going, and anyone want to join this project is welcom!

[2017-02-12 20:05] stefanv opened #2500 "Add a section to the user guide, showing how to interact between skimage and opencv"
See also http://stackoverflow.com/questions/16156788/how-can-i-convert-images-from-scikit-image-to-opencv2-and-other-libraries/16168076?noredirect=1#comment71528270_16168076

[2017-02-12 21:38] adius commented on #2332
Hi, I'd be interested in implementing this.
I was thinking about using a custom syntax to denote python code which will get executed during build time and replaced with the resulting image.
Or how would you recommend to implement it @stefanv ?

[2017-02-13 06:03] cancan101 opened #2501 "Expose truncate parameter in skimage.filters.gaussian"
[`skimage.filters.gaussian`](http://scikit-image.org/docs/dev/api/skimage.filters.html#skimage.filters.gaussian) calls into [`scipy.ndi.gaussian_filter`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.ndimage.filters.gaussian_filter.html#scipy.ndimage.filters.gaussian_filter), however the underlying function takes in a `truncate` parameter, but this is not exposed in `skimage`.

[2017-02-13 06:22] soupault commented on #2501
@cancan101 Hi! Feel free to submit a PR!

[2017-02-13 07:46] sciunto commented on #2501
It will require scipy 0.14. We will need to merge #2254 before. I agree with @soupault If you want to submit a PR, feel free :)

[2017-02-13 07:48] sciunto commented on #2250
@jni, looks like we can go ahead...

[2017-02-13 07:52] soupault commented on #2501
Hmm, why? There are ways to pass arguments without being explicit.

[2017-02-13 08:01] sciunto commented on #2501
OK, we can always rewrite the function to make [0.13 and lower work](https://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.ndimage.filters.gaussian_filter.html#scipy.ndimage.filters.gaussian_filter), but if we want to take the easiest slope, with [0.14](https://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.ndimage.filters.gaussian_filter.html#scipy.ndimage.filters.gaussian_

[2017-02-13 16:26] ErenPhayte opened #2502 "Object Detection Process"
Hi,

I am busy building an app where you can put an object in front of a solid colour (or other) and will automatically detect the object and "crop" it in the app (or crop the background out) - you can then put a background image behind the object i.e. for argument sake say, you can stand in front of a green screen, and it will automatically crop the green and place a background image of a mountai

[2017-02-13 16:54] soupault commented on #2502
Hi @ErenPhayte !
Franky speaking, I'm sure what `all the documents` means, but there is a massive amount of papers and books on these matters in the web.
What you are describing in your message are two quite different classes of computer vision problems: object detection, and object segmentation. For the latter we have plenty of different methods already implemented (see http://scikit-image.org/do

[2017-02-13 16:54] #2502 closed

[2017-02-13 17:33] ErenPhayte commented on #2502
Thanks so much Egor, for the quick response. Will look through the links
you sent. The closes example that I was using was the tinting example
using entropy, but didn't think to look at the segmentations.

Appreciate the support and apologies for logging this here, I did join the
google group but didnt have the option to create a topic.

On 13 February 2017 at 18:54, Egor Panfilov <notifications@g

[2017-02-13 17:48] soupault commented on #2502
@ErenPhayte Please, use the link above to join the mailing list.
The one on GoogleGroups is old, and is not maintained anymore.

[2017-02-13 18:15] monajalal opened #2503 "ValueError: can not convert object to float64."
For the following code:
[code]
I get the following error:
[code]

Is this a bug?
[code]

[2017-02-13 19:10] sciunto commented on #2503
@monajalal First, why don't you use `io.imread()` from scikit-image?
Otherwise, could you check the dtype of the image you pass to pyramid?

I link this issue to this ticket: #2500

[2017-02-14 03:51] #2503 closed

[2017-02-14 08:53] alexandrejaguar commented on #2486
@soupault @jni what about using `magma` in the 3rd example? :) Please check this fix.

[2017-02-14 09:15] sciunto commented on #2483
@xfsm1912 What's the status of this issue please?

[2017-02-14 10:58] sciunto opened #2506 "Merge two examples in the gallery (image deconvolution)"
## Description

Two of our examples are entitled image deconvolution.
* http://scikit-image.org/docs/dev/auto_examples/filters/plot_restoration.html#sphx-glr-auto-examples-filters-plot-restoration-py
* http://scikit-image.org/docs/dev/auto_examples/filters/plot_deconvolution.html#sphx-glr-auto-examples-filters-plot-deconvolution-py

They can be advantageously combined.

[2017-02-14 12:04] soupault commented on #2486
@alexandrejaguar Well scheduled! :+1:

Fixed via #2504 .

[2017-02-14 12:04] #2486 closed

[2017-02-14 13:13] #2250 closed

[2017-02-14 13:31] jni commented on #2501
We now require 0.17! =)

[2017-02-14 20:19] sciunto commented on #2450
Networkx released a version 1.11 by the end of January. Does it solve the issue @matthew-brett? https://github.com/networkx/networkx/releases

[2017-02-14 20:20] sciunto commented on #2450
oops, wrong year... :(

[2017-02-15 07:47] #2501 closed

[2017-02-15 07:55] soupault opened #2510 "Enhancements and cleanup from SciPy min version bump"
## Description
Minimal required SciPy version had been increased from `0.10.0` to `0.17.0` with the merge of https://github.com/scikit-image/scikit-image/pull/2254.

The project now could benefit from the usage of new features:
https://docs.scipy.org/doc/scipy-0.18.1/reference/release.0.11.0.html
https://docs.scipy.org/doc/scipy-0.18.1/reference/release.0.12.0.html
https://docs.scipy.org/doc/scipy

[2017-02-15 11:31] alexandrejaguar commented on #2506
@sciunto I'm on it.

[2017-02-15 14:09] soupault commented on #2059
Ok, I don't see an easy way to automatize this.
If there are no objections, I'm going to manually remove the files from https://github.com/scikit-image/docs/tree/gh-pages/dev/_sources/auto_examples and https://github.com/scikit-image/docs/tree/gh-pages/dev/auto_examples.

[2017-02-15 14:11] soupault commented on #1409
`Table of Contents` had been removed after the release of `0.10`.
I've cleaned up these dead links in 0.11 page with https://github.com/scikit-image/docs/commit/a4ee4fb1a735912f94f12dbc61e9cb0c2e8f0f21.

[2017-02-15 14:11] #1409 closed

[2017-02-15 14:14] #2317 closed

[2017-02-15 14:29] soupault commented on #2473
@HenryJia Did you have a chance to prepare an example?

[2017-02-15 14:30] soupault commented on #2450
@matthew-brett should be closed soon via #2511 .

[2017-02-15 14:40] soupault commented on #2339
I'm closing the issue as it works as expected in 0.13dev. @EvanWeiner , please, notice that RAG-tools are located in `future` module, means that they are expected to have experimental API and implementation.
In case of urgent need, please, update to 0.13dev or wait till the next release (which is to be out soon).

[2017-02-15 14:40] #2339 closed

[2017-02-15 14:47] soupault commented on #2037
I agree with Stefan, not much to do from our side. Let's just wait :)

[2017-02-15 14:47] #2037 closed

[2017-02-15 15:46] mcquin opened #2513 "Proposal to add 3D image to skimage.data"
Hi folks,

I've been working on supporting volumetric image processing in [CellProfiler](https://github.com/CellProfiler/CellProfiler/) for the last few months. I've had to manufacture much of my own 3D data for validation and testing. While creating image stacks is simple enough, I wonder if some real-world 3D image data might be a useful addition to `skimage.data`.

I have cell data from our col

[2017-02-15 16:08] soupault commented on #2513
@mcquin Hi! Short answer - absolutely yes! We've been looking for a sample since, at least, https://github.com/scikit-image/scikit-image/pull/1923 (see the discussion there).

Could you clarify the meaning of different dimensions of `(60, 1024, 1024, 4)`? As I understand, there are 60 slices of 1024x1024 images. What does 4 stand for?

[2017-02-15 16:08] stefanv opened #2514 "Add AppVeyor to wheel builder repository"
And produce wheels for 3.4, 3.5, 3.6

https://github.com/scikit-image/scikit-image-wheels

[2017-02-15 16:13] stefanv commented on #2480
The behavior wanted here can be generated with: `rr, cc = ellipse_perimeter(4, 5, 3, 7, shape=image.shape)`.

If you want to clip by default, you always have to specify the image dimensions, so I don't see that as a win.

[2017-02-15 16:15] stefanv commented on #2453
@vnavkal But would you then just bias the gradient directions in the diagonal directions?  I think what you want is `orientations=4`.

[2017-02-15 16:18] stefanv commented on #2406
We will be switching over to imageio in the near future.  Meanwhile, a workaround for empty frames seems reasonable.

[2017-02-15 16:19] stefanv commented on #2367
/cc @ahojnnes

[2017-02-15 16:21] mcquin commented on #2513
@soupault Fantastic!

Correct, the image dimensions are described by `(plane, x, y, channel)`. I think the nucleus channel is probably the most useful.

Would you like me to submit the raw image as a numpy array? Or would a cleaned up image be preferred? I am also thinking that the slices that are entirely noise (approximately 10 slices at the top and bottom) could be removed, and the image could

[2017-02-15 16:21] stefanv commented on #2347
@rougier Do you have any practical usage examples for this code?

[2017-02-15 16:21] stefanv commented on #2329
/cc @JDWarner @almarklein

[2017-02-15 16:22] Borda commented on #2480
ok, but I would at least to put such example of ellipse with and without `shape` parameter

[2017-02-15 16:24] stefanv commented on #2296
Any further interest in contributing A* routing?

[2017-02-15 16:31] stefanv commented on #2293
OpenCV and PIL/Matplotlib/etc may not use the same encoder, so it's not surprising that the results are slightly different.  But if you average per pixel, the quantification errors look reasonable.

A better comparison would be to save to PNG and read back; that round trip should be flawless (or close to).

[2017-02-15 16:31] stefanv commented on #2293
I don't think this is a bug, but if you disagree please reopen.

[2017-02-15 16:31] #2293 closed

[2017-02-15 16:33] stefanv commented on #2275
I'm in favor of putting this one to bed by starting work on a transform module that makes the entire skimage consistent (wouldn't that be wonderful).

[2017-02-15 16:57] jmetz commented on #2445
I can't reproduce this, my call to `io.imread` after calling `io.use_plugin('pil')` works just fine (as did io.imread("im.jpg", plugin="pil")` for good measure.

Image downloaded using link above.

 I also have

[code]

(but I doubt my lower `imageio` was the culprit).

I'm on Python 3.4.3 and  on 3.13.0-61-generic #100-Ubuntu SMP Wed Jul 29 11:21:34 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2017-02-15 16:58] stefanv commented on #2258
@jmetz I believe you have stumbled upon a bug in ndimage.  If you are still interested, can you create a small test case, that illustrates something like:

[code]

And then file it with scipy?

If you don't have time to do that, please let me know.

[2017-02-15 17:01] stefanv commented on #2215
`img_as_u*` should probably fail on negative values.

Either way, we should fix the warnings to be sensible.

[2017-02-15 17:04] stefanv commented on #2213
All this code was written with phase wrapping on +- pi in mind.  Yes, the code can be extended to do what is suggestion, but I'd argue that that is an entirely new feature.  If we receive a PR, we can review, but for now this is not a high priority.

[2017-02-15 17:04] #2213 closed

[2017-02-15 17:06] stefanv commented on #2178
Why are we returning a plot in the first place?  It seems the correct thing to do is to return the actual data (a dictionary of method -> result), and then either add an additional function to visualise, or a `visualize=True` flag?

[2017-02-15 17:09] stefanv commented on #2175
scikit-image operates on numpy arrays exclusively, so we have no way of knowing (independently of the underlying plugin used) metadata about the image.

I think we can extend all io plugins to have imread_metadata that returns both the image and any metadata  available, in a dictionary with well specified keys, which should solve the problem.

Any thoughts? /cc @jni

[2017-02-15 17:11] stefanv commented on #2138
This falls squarely in the computer vision territory, so I'm considering this out-of-scope for now.  @scikit-image/core please re-open for discussion if you disagree.

[2017-02-15 17:11] #2138 closed

[2017-02-15 17:20] jmetz commented on #2258
Hey @stefanv - sure no problem, just filed the issue with Scipy.

Please comment and improve the issue as needed : https://github.com/scipy/scipy/issues/7051

[2017-02-15 17:30] #2112 closed

[2017-02-15 17:31] #2108 closed

[2017-02-15 17:31] soupault commented on #2175
@stefanv yes, I think we've converged on this: https://github.com/scikit-image/scikit-image/pull/1995, https://github.com/scikit-image/scikit-image/pull/2240#issuecomment-257805997. I'll prepare SKIEP on this soon as the topic is being raised over and over again.

[2017-02-15 18:30] alexandrejaguar commented on #2275
@soupault I believe, as @stefanv said, that someday we could have a consistent set of tools (every function in `skimage` using `rc`, for instance). However, it would be nice to have this set of tools (`cart_to_xy` and so on) for compatibility with other DIP systems!

[2017-02-15 18:40] soupault commented on #2275
@alexandrejaguar exactly my thinking.
@stefanv why don't we have both? :) I've nothing against the proposed `transform_nd` module, but these tools would have another great application - compatibillity with OpenCV. Many of the people I know use both of the libraries (skimage & OpenCV) on a daily basis, and often - in a single pipeline.

[2017-02-15 21:23] almarklein commented on #2329
A function can not (without awful hacks) be aware of its output arguments. The current version of `marching_cubes()` returns two, and there is no way to "ask" for more. That error is therefore to be expected.

The *current* version returns two values. In the current master  (and upcoming release) of scikit-image, the function will return four values (including normals). The old version will stay a

[2017-02-15 21:38] adius commented on #2332
Just realized this is already possible: https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/hough_transform.py#L166

... is this the preferred way to do it? I'd happily create merge requests for examples like this!

[2017-02-16 00:01] HenryJia commented on #2473
Sorry, not got round to it, but will get it done in the next 2 days

[2017-02-16 05:16] #2329 closed

[2017-02-16 06:59] aqsaahmed commented on #2442
According to this issue, do we need to work on the window_size parameter for 2D & 3D data, to decide accordingly what would be the window size for these?

[2017-02-16 07:23] rougier commented on #2347
Not really, I'm not using it myself. #1730 seems to indicate it might be utilized in biomedical imaging, that's all I know (and it was also the case for the colleague who asked me).

[2017-02-16 08:04] sciunto commented on #2513
That's great. I'm also +1 for the nucleus channel. Space is of course a limitation and your suggestion sounds good to me.

[2017-02-16 08:05] sciunto commented on #2513
cc @jni @emmanuelle

[2017-02-16 08:47] soumyag213 commented on #2442
I want to attempt this

[2017-02-16 11:35] sarwatfatimam commented on #2442
Is there any particular reference work (this issue points to) on 2D or 3D window sizes for local thresholding techniques?

[2017-02-16 11:58] soupault commented on #2332
I am actually against this https://github.com/scikit-image/scikit-image/issues/2290. Please, notice how this is implemented in code - absolutely not a clear and easy-to-maintain way.
For the moment, I think we have only 1 function with incorporated visualization in the API section (which is `hough_transform`), so I'd rather prefer to remove it. We could put the links to gallery examples to `See al

[2017-02-16 12:04] soupault commented on #2513
@mcquin is that "pure" volumetric data (i.e. is the distance between 2 adjacent planes equal to distance between adjacent pixels in x*y)?

[2017-02-16 12:34] adius commented on #2332
Mh ... but actually I think it would be really cool if there was at least one example image output for each method. It could be in a slide-down container which is hidden per default, but redirecting to another site just for examples sounds like a unacceptable overhead to me. That it's implemented within another file is a little unhandy at the moment, that's true.

[2017-02-16 13:05] soupault commented on #2059
Ok, I've manually built `python gh-pages.py dev` and pushed to `github.com/scikit-image/docs, branch gh-pages`. Everything is cleaned up now.
@blink1073 I think something here https://github.com/scikit-image/scikit-image/blob/master/tools/deploy_docs.sh#L12-L13 doesn't work as expected.

TBD: update PYTHON_VERSION in the header to 3.6 as soon as it is enabled.

[2017-02-16 15:20] mcquin commented on #2513
@soupault Great question. The image is not a true volume. The resolution in the z-dimension is much lower than the resolution in the xy-dimension. I don't have the exact voxel spacing, but I can get that information from the people who produced the image.

[2017-02-16 19:15] sciunto commented on #2513
@mcquin We need also the permission if you are not the author. Ideally, CC0 public domain.

[2017-02-16 22:53] stefanv commented on #2480
@Borda Yes, absolutely!  Would you be interesting in making a PR?

[2017-02-16 23:01] stefanv commented on #2513
@mcquin Thank you very much for this contribution!  It looks like the relevant points are being addressed: meta-data (as much as we can obtain) and license.  Also a mention of the Allen institute in the function that loads the data would be good.

[2017-02-16 23:02] #2059 closed

[2017-02-17 00:13] soupault commented on #2093
Closed via #2515 .

[2017-02-17 00:13] #2093 closed

[2017-02-17 01:11] stefanv commented on #2332
At least, we should make it easy to toggle on and off the dots and greater-than signs so that new users can just copy and paste the code and execute it on their own machines.

Maybe we should follow the scikit-learn approach: their docs list the gallery examples that relate to the current function.

Ultimately, I'd still like to see an interactive gallery happen.

[2017-02-17 04:13] vnavkal commented on #2453
I'm not sure I understand what this means, maybe you could elaborate a little?  If I understand correctly, the visualization is meant to display lines that are roughly orthogonal to the gradient directions, and my proposed visualization comes closer to doing that than the current implementation.

This wouldn't give me the visualization I generated; instead, it would produce the following.
![hog_4_

[2017-02-17 07:08] stefanv commented on #2453
@vnavkal That's convincing!  Want to make a PR to address this?

[2017-02-17 07:41] ceg22 opened #2520 "Error in ssim equation in skimage.measure compare_ssim ?"
Hi,
inside the source code for the compare_ssim function (https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_structural_similarity.py#L189-L204) I think there is an error in the equation for the SSIM.

Currently in _structural_similarity.py the equation is defined (lines 201 onwards):
[code]

But I think B2 has been defined incorrectly (by comparing to Wang 2004).
currently

[2017-02-17 07:56] soupault commented on #2513
I think that it would be better to add some true volumetric 3D image, and add a function to `skimage.data` with the parameter to choose between true volume and sliced versions (should be easily done via numpy indexing).
My point is that for many algorithms, such as denoising, skeletonization, inpainting, 3D morphology, etc, true volume is expected, so it will be beneficial to have one. (not saying

[2017-02-17 08:04] soupault commented on #2332
@adius

The thing is I don't that `sphinx` support such feature atm. However, this one:

is already implemented and works flawlessly both for us (in a simplified version) and for many other packages. I personally find `sklearn`-like cross-linking (mentioned by @stefanv) very convenient and would support the implementation of the feature that way.

[2017-02-17 11:32] calocedrus opened #2521 "hough_circle_peaks absent from conda and pip installations?"
## Description
Can't import hough_circle_peaks from skimage.transform

## Way to reproduce
Install scikit-image from anaconda and:
[code]
I've tried in a different anaconda environment to install it with pip but got the same import error.
Upon closer inspection of `transform.py` in `anaconda3/pkgs/scikit-image-0.12.3-np111py35_1/lib/python3.5/site-packages/skimage/transform` I've found no hough_ci

[2017-02-17 12:28] soupault commented on #2521
Hi @calocedrus ! `hough_circle_peaks` is a very new addition (see https://github.com/scikit-image/scikit-image/pull/2109, 5 days ago), therefore it is not presented in `skimage 0.12.x`.
To use development version in conda environment, you need to [1] activate the environment, [2] install `skimage` from sources as described in http://scikit-image.org/docs/stable/install.html#running-the-development

[2017-02-17 12:28] #2521 closed

[2017-02-17 15:05] mcquin commented on #2513
@soupault I can't provide any true volume data. This is a result of how the volume is constructed. Each plane is an image captured at a different height of the well in which the cells grow.

I agree that a true volume would be useful, but such data is not available to me. I work entirely with anisotropic volumes.

[2017-02-17 15:14] HenryJia commented on #2473
Currently struggling to produce a minimal example, as when I first encountered this segfault, it was quite erratic.Sometimes it'd appear, sometimes not in the exact same code.

This was the backtrace I got from it when it did crash

[code]

This is the function that the segfault occurred in

[code]

[2017-02-17 15:43] adius commented on #2332
Would be really easy to implement with a custom JavaScript snippet. Sphinx should support this, right?

Well, at least lets have an example for every method somewhere.
Than we can still discuss the best presentation of those examples 😉

So I guess I would get started by submitting PRs for https://github.com/scikit-image/scikit-image/tree/master/doc/examples, right?

[2017-02-17 15:49] tacaswell commented on #1311
@hugadams Have you looked at `mpldatacursor` for the scatter case?  For the profile, see https://github.com/tacaswell/xray-vision/blob/master/xray_vision/backend/mpl/cross_section_2d.py#L253 for a (very badly factored) example.

Also see the examples in http://matplotlib.org/examples/event_handling/index.html

[2017-02-17 15:50] tacaswell commented on #1311
One other advantage of using the Matplotlib events is that your code will now drop into what ever GUI frame work you want (including nbagg/ipympl).

[2017-02-17 16:29] grlee77 commented on #2520
Thanks for looking into this, but I believe it is correct as-is.  I spent some time a while back updating/validating this function to make sure it is an exact match to the original author's implementation.

`vx` and `vy` in term `B2` are variances rather than the standard deviations listed in the equation used in the publication  (i.e. they are already squared)

Additional support for the correctn

[2017-02-17 16:33] JDWarner commented on #2520
Thanks for looking over our shoulders, @ceg22 - always good to double check.

Much appreciated verification and explanation, @grlee77.

Closing as current implementation is correct to the best of our knowledge.

[2017-02-17 16:33] #2520 closed

[2017-02-17 17:43] vnavkal commented on #2453
Sure, I'll create a PR to change it, thanks!

[2017-02-17 18:45] alexpghayes commented on #2025
Following up with a newbie question here: I'm running into the same issue on a server that I don't have admin privileges on.

I can install Cython locally into a .pip folder for my project (following the advice [here](https://www.zoomeranalytics.com/blog/pip-install-t)), and then I get

[code]

I've added `./.pip` to the beginning of my PYTHONPATH, but when I try to install scikit-image I get

[co

[2017-02-17 18:57] grlee77 commented on #2513
Two other possibilities for 3D data:

1.)  There are a number of 3D brain MRI datasets that are publicly available online.   For example, the 1mm isotriopic resolution brain atlases at the following link are around 50-60 MB, but if only a single contrast is retained the file would be around 10-20 MB:
http://www.bic.mni.mcgill.ca/ServicesAtlases/ICBM152NLin2009
If there is interest in this approach

[2017-02-18 21:36] stonebig commented on #2320
I close the issue, as it looks not coherent with the spirit of the function.

[2017-02-18 21:36] #2320 closed

[2017-02-19 01:29] msbajammal opened #2522 "Unexpected behavior of skimage.feature.local_binary_pattern"
Hi,
The local binary pattern method in skimage is producing unexpected results. For some flat regions, it correctly produces 255 (e.g. binary 11111111). But for some other flat regions in the same image, it produces noise (decimal 85, binary 01010101).

Here is a link with code example and images to reproduce the issue:
http://stackoverflow.com/questions/42322400/unexpected-behavior-in-local-binar

[2017-02-19 02:55] jni commented on #2442
Hi all,

If you look at the code for `threshold_niblack` and `threshold_sauvola`, you'll see that the window-size parameter accepts only an integer. The idea here would be to accept a tuple with the same number of elements as the input image has dimensions. So, for example, `window_size=(3, 5)` would create a window of 3 rows by 5 columns. `window_size=(3, 15, 15)` would create a 3D window size of

[2017-02-19 13:41] soupault commented on #2513
Thanks for you comments!
I'd be be in favour adding the brain MRI scans from @grlee77, and not a synthetic data.

Regarding the sliced one from @mcquin: I do not work with such data, so I let other core devs to decide. Will support any decision.

[2017-02-19 13:56] almarklein commented on #2329
Correction: we *do* use some black magic hack to detect the number of output args in an attempt to be backward compatible.

[2017-02-19 13:56] soupault commented on #2332
@adius

If you could prepare PoC for this solution, that would be way easier to judge.

Hmm, aren't we talking about API inclusion? I guess, for the first step, you could take any function with API exposed and play with its docstring (link against existing gallery example, or implement it in the proposed way).

[2017-02-19 19:01] adius opened #2523 "Swirl center coordinates are reversed"
[code]

This gives the correct result:

![figure_1](https://cloud.githubusercontent.com/assets/969983/23105342/b6952ec6-f6d5-11e6-93c2-12aed3fc95fe.png)

However, it shouldn't as the center coordinates are reversed. They are (column, row) but should be (row, column).

[2017-02-19 19:46] soupault commented on #2523
/xref #2397

[2017-02-19 19:50] adius commented on #2523
Mh, sounds like a complicated problem. Maybe we can at least fix the documentation in the meantime, or do you want to keep it broken in order to be able to fix it later instead of having to announce a breaking change by reversing the coordinates 😂🙈

[2017-02-19 21:50] adius commented on #2332
Well, here comes a PoC for how I think the documentation should look like: http://feram.co/scikit-image-cheatsheet
Really high level and if one wants to know the details, they are just one click away.

Yeah, just to get started until a coherent concept is worked out...

[2017-02-20 00:07] jni commented on #2513
Hi all!

Thanks @mcquin for this! I actually think keeping multiple channels is beneficial, in terms of having a very generic high-dimensional array example.

(Also, in this project, please refer to coords as (plane, row, column, channel), to avoid confusion with Cartesian x/y (where x is typically the horizontal coordinates). We are still trying to clean up various parts of the project because we

[2017-02-20 00:22] jni commented on #2025
Hi @alexpghayes! I don't know exactly what's going wrong with your path. In addition to your PYTHONPATH, you may need to prepend a subdirectory of .pip to your PATH. (PYTHONPATH is only used for `import` statements in Python, not for shell calls.)

My recommendation would be to install miniconda in your home dir and make a conda environment for this purpose. Although the author of that blog post s

[2017-02-20 00:36] jni commented on #2175
@stefanv I think the goal is to outsource IO to imageio sometime soon. At that point, we can just do

[code]

and forget about "plugins"...

[2017-02-20 01:44] grlee77 commented on #2513
The 3D brain suggestion was intended to be in addition to the dataset mentioned by the author of this PR.  Certainly there is value in having a range of example data for different use cases!

Along the lines of @jni's suggestion to download on-demand, I would point to the example of the data fetchers used by the Diffusion Imaging in Python project [dipy](https://dipy.org).  Specifically:
https://g

[2017-02-20 04:13] sarwatfatimam commented on #2442
Thank you, Juan.  It did help.

[2017-02-20 07:02] #2035 closed

[2017-02-20 15:57] mcquin commented on #2513
I hope for this future so much. :)

I have information on the resolution of the image: 0.29 x 0.065 x 0.065 um.

Great idea! I think `"spacing" -> Tuple` and `"multichannel" -> Boolean` are useful. The image dimensionality can be inferred from either of those values. For my own clarification, multichannel typically means RGB/RGBA?

Nice! I think this data would make for an interesting example with

[2017-02-20 16:04] alexpghayes commented on #2025
Figured it out! When I loaded Python on the cluster I was using, the module loader was loading the older version of Cython into `sys.path` way above anything I could add.

The solution was to use a `virtualenv` and `pip install` my requirements into the virtualenv, after which I could call `/path/to/virtualenv/python my_file.py`. Leaving this here in case it helps out somebody else.

[2017-02-20 23:23] jni commented on #2513
Yes. If we do implement `meta=`, I would also suggest that we introduce aliases. "spacing", "scale", "scaling", and "resolution" have been variously proposed for this purpose. For kwargs we had to unify but for meta we can include common synonyms.

Typically, yes, but we want to aim to be general here also. It can also mean other colorspaces (such as Lab), or multispectral data (as in many microsc

[2017-02-20 23:39] stefanv commented on #2523
Yes, monkey-covering-face-with-hands is about right :/  We'll get this sorted, but in the mean time kindly file a documentation patch.

[2017-02-20 23:40] stefanv commented on #2522
As mentioned on the S/O question: this is because of floating point differences.  If you convert the image to ubyte first, it'll work fine.  Still, I see this as a usability bug.

Do you want to file a patch that issues a warning to the user if they do not use integer types with LBPs?

[2017-02-20 23:46] stefanv commented on #2513
@grlee77 and @matthew-brett, who work with Nifti files, would perhaps be able to comment on the kinds of metadata they find useful in neuroimaging.  Can we transfer that experience to the question of which types of image metadata we should care about?

[2017-02-20 23:55] stefanv opened #2527 "Threshold test fails on 32-bit"
[code]

[2017-02-20 23:56] stefanv opened #2528 "Rank test fails (or too sensitive?) on 32-bit"
[code]

[2017-02-20 23:57] stefanv opened #2529 "ORB descriptor fails on 32-bit"
[code]

[2017-02-21 00:26] grlee77 commented on #2513
Unlike the DICOM format, NIFTI does not retain a ton of metadata.  Primarily it has information related to voxel dimensions and patient orientation (as defined by a 4x4 affine matrix) so that the user can accurately distinguish left from right etc.   Obviously orientation info is very important clinically or when reporting research results, but not so much when using as a generic example volume in

[2017-02-21 00:32] grlee77 commented on #2513
I should also mention that a variety of data types (char, unsigned int, float, complex) can be stored in NIFTI files.  For use in scikit image, rescaling the absolute intensities to floats in the range [0, 1] is probably most appropriate.

[2017-02-21 01:01] stefanv opened #2530 "Normalized cut error on Py 36"
[code]

https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/203631060

[2017-02-21 01:24] stefanv commented on #2530
Closing as duplicate of https://github.com/scikit-image/scikit-image/issues/2450

[2017-02-21 01:24] #2530 closed

[2017-02-21 01:29] #2450 closed

[2017-02-21 01:36] #2050 closed

[2017-02-21 08:00] cesc-park opened #2531 ""imsave" is too slow to check for "is_low_contrast", which is just for a warning."
## Description
[Please provide a general introduction to the issue/proposal.]

For rgb (jpg) image.

[code]
The code above is 10 times faster than the code below.
[code]
I think it is because of checking "is_low_contrast".
If this happens not only to me but also to the general, I think it is too big a waste to give a warning.

## Way to reproduce
[If reporting a bug, please include the following i

[2017-02-21 23:05] OrganicIrradiation commented on #2436
As @soupault mentioned, 48-bit (16-bit/channel RGBA) PNGs can be imported with imageio by specifying the format. See: https://github.com/imageio/imageio/issues/146#issuecomment-281509008

[2017-02-22 14:48] mcquin commented on #2513
It seems like a few things will need to be in place before any 3D data can be submitted:

1. A decision on where to host the images.
2. Implementation of image fetching and local caching.
3. Metadata format and required fields.

I'm often :-1: on a gigantic issue thread covering several topics (but I'll admit that's largely a personal preference). Is there any need to break these components out in

[2017-02-22 19:03] alexandrejaguar opened #2534 "Draw circle returns AttributeError"
## Description
`skimage.draw.circle`does not work for me anymore. Could you check it, please?

[code]

## Way to reproduce
One example:

    rows, cols = circle(0, 0, radius=10)

## Possible fix
I believe it could be fixed passing `orientation=0` to `skimage.draw.circle`, on

    return ellipse(r, c, radius, radius, shape)

`skimage.draw.ellipse` works fine.

[If reporting a bug, please include th

[2017-02-22 20:57] sciunto opened #2535 "Clip option of downscale_local_mean has no effect"
in skimage.transform, the clip option of downscale_local_mean has obviously no effect and is not documented.

In addition, a note in the documentation saying that it's a wrapper around `measure.block_reduce` with a function np.mean would be a nice addition as well.

[2017-02-22 23:37] stefanv commented on #2535
This is because local averaging cannot give you values higher than the image content, so I think the behavior is correct for a consistent API.

[2017-02-22 23:38] stefanv commented on #2534
Seems to work OK over here.

[2017-02-23 10:37] alexandrejaguar commented on #2534
@stefanv updated to the last version:
[code]
and... it worked. My `skimage.draw` wasn't updated.
Sorry about that :)

[2017-02-23 10:37] #2534 closed

[2017-02-23 14:37] alexjc commented on #2103
Since other Issues on the topic refer to this one, I thought I'd add some extra arguments in support of the original post.  Picking `matplotlib` over `pillow` as default implies a ~400Mb extra installation on disk (total dependencies, measured in conda) as well as importing Qt into memory by default upfront.  This is obviously sub-optimal whether you're running processes on a server or in an IPyth

[2017-02-23 15:26] sarwatfatimam commented on #2424
Hi, Is this issue solved? We were testing our code but we are getting depreciation warning as well. Is scikit-image migrated to Pytest?

[2017-02-23 15:50] souravsingh commented on #2424
@sarwatfatimam The issue is currently being fixed at #2468.

[2017-02-23 18:57] sarwatfatimam commented on #2424
Okay. Thank you.

[2017-02-23 21:42] Borda commented on #2480
@stefanv have look at #2524

[2017-02-24 06:45] sciunto commented on #2535
@stefanv I would say that clip has to be removed. Is that what you mean also?

[2017-02-24 08:58] #548 closed

[2017-02-24 08:59] jni commented on #548
Closed as CIELUV is now in skimage... And has been for a while!

[2017-02-24 09:50] adius opened #2538 "Restructuring of API"
While I was building http://feram.co/scikit-image-cheatsheet I noticed several inconsistencies in the scikit-image API. I'll just layout how I would restructure the API. Sorry for any duplicates with other issues and this should probably be split into several issues later 😅😇.

# Inconsistent argument names

## `image` vs. `img` vs. `im` vs. …

**Done in #2617**
<details>
I think it should be image

[2017-02-24 17:10] stefanv commented on #2426
Should we provide `skimage.lookfor`?

[code]

[2017-02-24 18:21] stefanv commented on #2538
I love your cheat sheet!  And thank you for the API review; that's very helpful.

## `image` vs. `img` vs. `im` vs. …

This should be `image`.

## label vs label_image

This should be `label_image`.

## `row` vs. `r`vs.`rows`vs.`rr`

My feeling here is that we may want to go with rr, cc.  "cols, rows" can be confusing, because it suggests "nr_of_cols, nr_of_rows", whereas we want "row_coords, colu

[2017-02-24 23:21] grlee77 commented on #2513
+1 on splitting to seperate issues.  that way this one can stay focused more narrowly on the Allen Institute dataset

[2017-02-25 00:51] JDWarner commented on #2253
Closed by #2537

[2017-02-25 00:51] #2253 closed

[2017-02-25 13:29] alexandrejaguar commented on #2426
@stefanv what about `skimage.util.lookfor`? :)

[2017-02-25 15:00] John1231983 opened #2540 "How to randomly extract 3D patches from 3D image?"
Hello, I want to extract `n_sample` 3D patches with shape is `32x32x32` (i.e `n_sample=1000`) from a 3D input (such as `256x128x256`). I found that `view_as_windows` as a candidated solution. However, it does not support the random extraction. How could I use the function (or another function) to implement my work? Thanks all

[2017-02-25 17:23] jonasrauber opened #2541 "PyPI Wheel for Python 3.6"
There is no wheel for python 3.6. available at https://pypi.python.org/pypi/scikit-image
It would be nice to have one :-)

[2017-02-25 17:30] soupault commented on #2541
@jonasrauber We do not officially support Python 3.6 in any skimage versions released so far.
The support and testing for Python 3.6 has been finalized quite recently (in https://github.com/scikit-image/scikit-image/pull/2511), and will enabled (including pre-built wheels) with the release of 0.13.

[2017-02-25 17:30] #2541 closed

[2017-02-25 17:42] soupault commented on #2540
@John1231983 why don't just sample the hypercube origin coordinates via `numpy.random.randint` and use them for slicing?

I.e. (pseudocode, not tested):
[code]

P.S. Please, consider using StackOverflow for posting general questions.

[2017-02-25 17:42] #2540 closed

[2017-02-25 17:48] swhshamsi commented on #842
What is that PIL linking issue?
I'm having the same problem here.

[2017-02-25 18:04] stefanv commented on #2426
Sure, although importing it to the `skimage` namespace seems like the first place a person would look for help.

[2017-02-25 18:06] stefanv commented on #2541
I'll retrigger a build; if the tests pass on 3.6, wheels should then appear at: http://wheels.scipy.org/ for 0.13dev0.

[2017-02-25 18:07] stefanv commented on #2541
Also, with the release (3 blocking issues away), these will be uploaded to PyPi.

[2017-02-25 18:08] soupault commented on #2541
@stefanv

Doesn't seem to be configured for 3.6. Tests were green on the merge.

[2017-02-25 19:57] matthew-brett commented on #2541
@stefanv - the retriggered build, built commit 851a614 - see https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/203631060#L150.  This is the current submodule commit.  I think you want `master` instead of `HEAD` as the commit to build in `.travis.yml`, if you want to build latest scikit-image master...

[2017-02-25 21:00] xfsm1912 commented on #2483
I have solved this issue, thank you

[2017-02-25 21:05] #2483 closed

[2017-02-26 08:38] soupault commented on #1677
Closed via #2533 .

[2017-02-26 08:38] #1677 closed

[2017-02-26 19:11] QCaudron commented on #842
I can't honestly say I remember, sorry - this was three years ago. Ensure that you have PIL up to date and try rebuilding scikit-image, perhaps ?

[2017-02-26 20:53] jni commented on #2426
I agree with @stefanv, let's keep it as simple as possible.

[2017-02-27 17:15] stefanv commented on #2541
@matthew-brett Thanks for the hint! We spoke about this briefly before, but is there a 'latest-tag' option, and if not would that be a useful addition?

[2017-02-27 18:08] matthew-brett commented on #2541
Well - no `latest-tag` code in multibuild I'm afraid.  As you remember, this code is in its predecessor, but I was finding that, in practice, I nearly always found myself setting the tag by hand, because:

* I want to be specific about which tag I'm building;
* it's harder to make latest-tag work for Windows;
* I usually want a new commit for a new build rather than clicking the `restart build` bu

[2017-02-27 23:28] cgohlke commented on #2527
FWIW, I can not reproduce this issue, https://github.com/scikit-image/scikit-image/issues/2529, or https://github.com/scikit-image/scikit-image/issues/2528 on Windows with scikit_image-0.13.dev0 (current git master), numpy-1.11.3+mkl, scipy-0.18.1, matplotlib-2.0.0, Pillow-4.0.0, pyamg-3.2.1, PyWavelets-0.5.1, and dask-0.14.0. All tests pass on all supported Python platforms.

[2017-02-28 09:29] soupault commented on #2527
What are our options for testing and debugging in 32-bit environments? To the best of my knowledge, none of AWS, Travis-CI, or Appveyor support 32-bit instances.

[2017-02-28 14:38] jessejohns opened #2545 "seam carving vertically then horizontally"
## Description

I am attempting to scale an image using seam carving, but I receive the following error:

I checked the image size before hand:

Energy map = (576, 299)
Image = (576, 299, 3)

## Way to reproduce

I can not share the image, but the code is as follows, where the error occurs on the second seam_carve call:

[code]
I am using Kubuntu 64-bit, Python 2 with Anaconda.

[code]

[2017-02-28 14:53] soupault commented on #2545
Could you specify the `dtype` and `shape` of your image, and what is `size` in your snippet?

[2017-02-28 16:57] jessejohns commented on #2545
Hi, as I mentioned above the shape before failure is:

Energy map = (576, 299)
Image = (576, 299, 3)

The original shape is:

Image = (576, 576, 3)

So, I'm trying to cut 277 pixels from axis 0 and axis 1.

The dtype for the image and energy map are float64 prior to the second call.  Visually, the energy map and the image look OK.

[2017-02-28 17:32] jessejohns opened #2546 "skimage.color.rgb2hed scale not between (-1,1)"
## Description

Hello, when I convert an image from RGB to HED, I am no longer able to use other skimage tools like util.img_as_ubyte.  In particular, I get the following error:

`    img = util.img_as_ubyte(img)
  File "/home/jesse/programs/anaconda/lib/python2.7/site-packages/skimage/util/dtype.py", line 409, in img_as_ubyte
    return convert(image, np.uint8, force_copy)
  File "/home/jesse/pro

[2017-02-28 19:03] sciunto commented on #2546
Could you provide the image please?

[2017-02-28 19:58] jessejohns commented on #2546
I can't share any of images I'm working with, but if you grab anything from Google images you'll encounter the same issue.

[2017-03-01 01:30] stefanv commented on #2527
If you run a Debian container, you can set up a 32-bit chroot:

https://debian-administration.org/article/356/Installing_apps_in_a_32-bit_chroot_in_AMD64_Debian_system

If you build a Docker image with those steps done, please share!

[2017-03-01 01:31] stefanv commented on #2527
@cgohlke Thanks for testing; that's encouraging.

[2017-03-01 01:53] matthew-brett commented on #2527
I found this error running the tests on the standard travis-ci machines, with build and tests inside a 32-bit container.  On your local Linux machine, try something like:

[code]

Inside the container that starts up:

[code]

The scikit-image build takes a while, but other steps should be reasonably quick, with a decent internet connection.

[2017-03-01 03:13] tonysyu commented on #2538
Agreed! That's quite handy

**row vs. r vs. rows vs. rr**

Personally, I prefer `i_row` or `i_rows` (depending on whether it's an int or array of ints), and `i_col` or `i_cols`. It instantly distinguishes it from `n_rows`/`n_cols` and maps to normal indexing conventions.

---

Ok, I'll retreat back to my dark corner now. (Sadly, I don't do any image processing anymore, hence my long absence.)

[2017-03-01 07:41] jni commented on #2540
In addition to the StackOverflow option, you can also try the mailing list, scikit-image@python.org. Thanks for your interest @John1231983!

[2017-03-01 14:37] jessejohns commented on #2545
Hello,

I think I might have found the issue.  Here's the original code:

`utils.assert_nD(img, (2, 3))
    image = util.img_as_float(img, force_copy)
    energy_map = util.img_as_float(energy_map, force_copy)

    if image.ndim == 2:
        image = image[..., np.newaxis]

    if mode == 'horizontal':
        image = np.transpose(image, (1, 0, 2))

    image = np.ascontiguousarray(image)
    out

[2017-03-01 19:18] stefanv commented on #2527
The bug is due to a difference in behavior in `scipy.ndimage.filters.uniform_filter1d` on i686 vs x86_64.

[2017-03-01 19:29] stefanv commented on #2527
This issue may be related: https://github.com/scipy/scipy/issues/6930

[2017-03-01 19:37] stefanv commented on #2527
A first attempt at a fix: https://github.com/scikit-image/scikit-image/pull/2549

[2017-03-01 20:12] yxdragon opened #2550 "medial_axis function results with some double lines and small holes"
## Description
[I use the medial_axis function, the result image has some double lines or small holes, then I count make a topology analysis!]
![demo picture] (http://data.imagepy.org/skebug.png "The medial_axis result and mine result")

I view the source code, and found the medial_axis function, sort by distance map, then use the skeletonize function's table to check if to remove the pixcel. But

[2017-03-01 23:26] jni commented on #2545
@jessejohns well spotted! If you have time to do a PR, (including a test to prevent regression), it would be much appreciated! Otherwise this is already very valuable and we'll aim to get it fixed soon!

[2017-03-02 18:24] aksh98 commented on #2500
I would like to work on this. Can I ?

[2017-03-03 10:36] soupault commented on #2500
@aksh98 There is work on this in #2519 already. You are welcome to contribute there.

[2017-03-03 10:40] soupault commented on #2275
OK, how about we forget these low-level coordinate convertion functions (https://github.com/scikit-image/scikit-image/pull/2278) and introduce OpenCV-compatibility tools instead (i.e. `img_to_opencv`, `coord_to_opencv`, same for `..._from_...`)? Would complement https://github.com/scikit-image/scikit-image/issues/2500 / https://github.com/scikit-image/scikit-image/pull/2519 nicely, I think.
Please

[2017-03-03 10:45] alexandrejaguar commented on #2275
@soupault I would be kindly against it. I think it would be better to have #2278 functions implemented and to use the documentation for presenting how to use them for converting OpenCV data.
I don't think it would be useful for us to have functions like `..._to_some_specific_toolkit`. You never know when another OpenCV is coming to town...

[2017-03-03 12:43] mddemarie commented on #2545
We will take this one with Ines.

[2017-03-04 12:14] REDVM commented on #2402
I think that's correct behaviour.
Numpy Array shape is rows (y) first and columns (x) after, but _estimate_ method use coordinates in (x, y).

For your last example, warping will always warp what's inside the convex hull of coordinates, thus resulting image is correct.

Related : #1789 Check coordinate convention of transform.warp

[2017-03-04 13:03] radjkarl opened #2551 "richardson_lucy returns NaN"
Hi guys,

I think there is a bug in your Richardson-Lucy implementation:

https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/deconvolution.py
line 389
`relative_blur = image / convolve_method(im_deconv, psf, 'same')`

as soon as  [image] contains 0, more and more NaN will be created and propagated due to convolution.
on my PC (win7, 64bit, anaconda py3.5) the given test c

[2017-03-05 05:26] meriki commented on #2545
Hi, I would like to address this issue. I just have to transpose the energy_map before seam carve and add  a test to prevent regression, correct? Also, could you provide a hint on how to write a test to prevent regression?

[2017-03-05 12:44] jni commented on #2402
@Borda yeah, sorry! (And sorry for the long lag in response!) Unfortunately the `transform` module uses x/y coordinates, which is the opposite of NumPy arrays. We have an n-dimensional transform module in the roadmap (see https://github.com/scikit-image/scikit-image/issues/2397 in addition to #1789 as pointed out by @REDVM), but we aren't there yet...! In the meantime I'll close this as it is expe

[2017-03-05 12:44] #2402 closed

[2017-03-05 13:52] Borda commented on #2402
Ok, I will have look at the doc and maybe create a PR with something...

[2017-03-05 16:51] mddemarie commented on #2545
@meriki I am already working on this one!

[2017-03-05 23:52] meriki commented on #2097
@stefanv @blink1073 Can I look into this?

[2017-03-06 01:23] blink1073 commented on #2097
Hi @meriki, yes, please!  At this point I believe the task is to make sure we always pass `stacklevel=2` in when we call `warnings.warn`.  It could be that #1916 already did that, in which case there is nothing more to do and we can close the issue.

[2017-03-06 09:58] nzoghb opened #2554 "Minor Omission from Morphology Module"
## Description
While working on #2538 I noticed that in `skimage.morphology`'s `__init__.py`, the `star` function is not being included under `__all__`.

Relevant code ([found here](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/__init__.py)):

`from .selem import (square, rectangle, diamond, disk, cube, octahedron, ball,
                    octagon, star)`

`__all__ =

[2017-03-06 10:07] soupault commented on #2554
@nzoghb well spotted! Would you like to submit a PR?

P.S. Is still available in
http://scikit-image.org/docs/dev/api/skimage.morphology.html#skimage.morphology.star and
![image](https://cloud.githubusercontent.com/assets/1315589/23605425/be56ff74-026d-11e7-87c0-193656ebb417.png).

[2017-03-06 10:10] nzoghb commented on #2554
Will do soon, although I am working towards #2555; moving all the shapes functionality into their own module.

[2017-03-06 13:52] anshitag commented on #2522
Hi, I'd like to work on this issue

[2017-03-06 17:07] meriki commented on #2551
@radjkarl I'm trying to solve this issue. Could you please give the test case where it fails?

[2017-03-06 17:19] radjkarl commented on #2551
Hi @meriki,
As it looks like,  the issue is already fixed: #2551 #2552
Can you please try the test case provided in the docstring?
Alternatively any input image with values=0 should work.

[2017-03-06 20:19] nzoghb opened #2557 "Import Statement Inconsistencies"
## Description
Many modules use `import` statements haphazardly and do not seem to follow a standard protocol. Some pull dependencies using relative pathways:

`from ..measure._label import label`

Whereas others use absolute ones:

`from skimage.measure._label import label`

1. Which should be the standard?
2. Additionally, sometimes files draw on entire modules when all they require are a couple

[2017-03-06 20:28] JDWarner commented on #2557
Relative imports should be the standard across the board.

I agree that with only very select exceptions, imports should happen at the top of the file rather than in functions.  However, on occasion imports within functions have been used to avoid circular imports.

[2017-03-07 05:01] soupault commented on #2554
Closed via #2556

[2017-03-07 05:01] #2554 closed

[2017-03-07 11:29] sinha-kirti commented on #2442
I want to attempt this.

[2017-03-07 14:02] sciunto opened #2559 "Add example in gallery about downscaling/upscaling/resizing images"
In the gallery, it would be interesting to add an example with the following functions:

* http://scikit-image.org/docs/stable/api/skimage.transform.html#downscale-local-mean
* http://scikit-image.org/docs/stable/api/skimage.transform.html#rescale
* http://scikit-image.org/docs/stable/api/skimage.transform.html#resize

If anyone is interested to make this contribution, that would be very useful I

[2017-03-07 15:42] meriki commented on #2551
@radjkarl #2252 is closed. Look at #2253. A reviewer was asking for a test case where the old code fails. With all 0s as input, no NaNs are being generated. Following is the output.
![image](https://cloud.githubusercontent.com/assets/17230557/23664117/6eea9484-0333-11e7-8ff0-acca67283a7a.png)

[2017-03-07 16:43] meriki commented on #2442
@sinha-kirti we are already working on this.

[2017-03-07 19:30] radjkarl commented on #2551
@meriki:
I tried the test case again. it workes - my fault.

BUT:
please add 'clip=False' to the docstring example.
since the input image is 0-255
and clip=True by default

the output image would be elsewise ==1

`import numpy as np
from skimage import color, data, restoration
from scipy.signal import convolve2d
import pylab as plt

camera = color.rgb2gray(data.camera())
psf = np.ones((5, 5)) / 25

[2017-03-07 19:31] sinha-kirti commented on #2442
Alright! Please let me know if you require any help.

[2017-03-07 19:37] sinha-kirti commented on #2439
I would like to attempt it.

[2017-03-07 19:39] sinha-kirti commented on #2439
@souravsingh are you still working on it?

[2017-03-07 19:57] souravsingh commented on #2439
@sinha-kirti There is a PR already made for the Issue.

[2017-03-07 21:04] anshitag commented on #2522
Hi, I've tried to fix this issue. Please let me know if this is the correct approach.

Add these lines to the function `local_binary_pattern` in scikit-image/skimage/feature/texture.py
[code]

[2017-03-09 16:11] sinha-kirti commented on #2268
Is this issue still available for resolving? I would like to have a go at it.

[2017-03-09 16:15] sinha-kirti commented on #1349
Is anyone working on it at present? I would like to attempt it.

[2017-03-09 19:14] stefanv opened #2561 "Label and intensity images can have different shapes"
RegionProps reports, for

```regionprops(label_image, intensity_image=image)```

with

`label_image` -> `(500, 500)`
`intensity_image` -> `(500, 500, 3)`

[code]

It is quite common to have a label_image that combines he RGB channels; this common use case should be supported.

[2017-03-09 19:20] soupault commented on #2528
Fails also on `assert_equal(refs["otsu"], rank.otsu(self.image, selem))`:
[code]

[2017-03-09 19:41] soupault commented on #2528
`entropy` arrays have difference in 16th digits after decimal point.
`otsu` arrays have only 1 different element, but the discrepancy is significant (81 against 41)

See arrays in the attached zip. Compare via `diff`, `meld` or whatever tool you like. Numbers in the names indicate the value of `precision` parameter of https://docs.scipy.org/doc/numpy/reference/generated/numpy.set_printoptions.html

[2017-03-09 19:42] soupault commented on #2527
@matthew-brett Thanks a ton, Matthew! Works like a charm!

[2017-03-09 19:43] soupault commented on #2527
I do not see this error anymore. @jni , is fixed via #2549, I assume?

[2017-03-09 19:51] soupault commented on #2529
Fails on both https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/tests/test_orb.py#L99 (see `orb_{ref/act}`) and https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/tests/test_orb.py#L103 (see `orb_2_{ref/act}`).

[arrays_orb.zip](https://github.com/scikit-image/scikit-image/files/832136/arrays_orb.zip)

[2017-03-09 19:55] soupault commented on #2528
By the way, this is a duplicate of https://github.com/scikit-image/scikit-image/issues/1407 :D.

[2017-03-09 19:56] soupault commented on #2528
And also of https://github.com/scikit-image/scikit-image/issues/2111 ...

[2017-03-09 19:56] soupault commented on #2529
Duplicate of https://github.com/scikit-image/scikit-image/issues/2111 .

[2017-03-09 19:59] soupault commented on #2163
Duplicate of #2527, #2528, #2529.

[2017-03-09 19:59] #2163 closed

[2017-03-09 20:01] soupault commented on #2111
Fixed via #2369. Other issues are covered by #2528, #2529.

[2017-03-09 20:01] #2111 closed

[2017-03-09 20:05] soupault commented on #1407
Please, follow the discussion in #2528 . Closing this as duplicate (although, it is actually the original ;) ).

[2017-03-09 20:05] #1407 closed

[2017-03-11 00:15] #2357 closed

[2017-03-11 21:55] pierluigiferrari opened #2562 "ignore"

[2017-03-11 22:03] #2562 closed

[2017-03-11 22:48] nzoghb commented on #2561
The potential fix would be included in `class _RegionProperties` I believe. What would be a good way to go about this fix?

[2017-03-13 01:24] jni commented on #2561
@nzoghb indeed, we want to allow nD images, not just 2D, so that's not the best check.

[2017-03-13 12:34] jni commented on #2527
@soupault I believe so!

[2017-03-13 12:34] #2527 closed

[2017-03-13 12:37] jni commented on #1349
@sinha-kirti there is a PR that has not received any attention in many months: https://github.com/scikit-image/scikit-image/pull/1531 You could try to start from that branch and:

- time the new version and the old version — is either faster?
- try to simplify the code
- rebase it on master

Then you can make a new PR with both the original commits and yours, to supersede the existing PR.

Thanks!

[2017-03-13 23:16] david1309 opened #2564 "Greycoprops: Energy Computation Error"
## Problem
The feature named 'Energy' which can be obtained from the `greycoprops(P, prop='feature'')` method is computed with the wrong equation ([greycopops documentation](http://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.greycoprops))

The Energy of a signal  is defined as the sum (or integral) of the absolute value of the signal squared:
_**E=** sum (|x(n)|²)_ ([energy]

[2017-03-14 04:12] jni opened #2565 "filters.threshold_sauvola docstring mentions non-existent `offset` parameter"
The docstring for `threshold_sauvola` mentions an `offset` parameter, but there is no such thing. See [here](http://scikit-image.org/docs/dev/api/skimage.filters.html#threshold-sauvola) and [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/thresholding.py#L853).

[2017-03-14 09:19] sciunto commented on #2564
Thanks for reporting.

I found [this](http://www.ajnr.org/content/suppl/2011/07/12/ajnr.A2232.DC1/2232_table.pdf) and [that](https://fr.mathworks.com/help/images/ref/graycoprops.html) that supports your point of view but [this one](http://www.ucalgary.ca/mhallbey/asm) is against.

I'm +1 to fix the docstring given the original paper. Also, it would be good to improve the docstring. The link to the

[2017-03-14 16:14] david1309 commented on #2564
Looking at your papers @sciunto , they certainly support and not  what I state. However, both the two papers you link do support my thesis and the common notion of energy in signal processing also supports it (along with MATLAB).

I will certainly be willing to improve the documentation by instead of having a reference to a dead link, putting a reference to the original paper and more useful infor

[2017-03-14 16:17] sciunto commented on #2564
@david1309 You can read https://github.com/scikit-image/scikit-image/blob/master/.github/CONTRIBUTING.txt

[2017-03-15 00:26] #2565 closed

[2017-03-15 13:58] sinha-kirti commented on #1349
@jni Thanks for the consideration. I'll get started on it from today.

Cheers to this coding collaboration!

On Mar 13, 2017 6:07 PM, "Juan Nunez-Iglesias" <notifications@github.com>
wrote:

[2017-03-15 17:15] kharris opened #2568 "transform.rescale only works on first 2 dimensions"
Rescale only works for 2d images, even though the description is that it works for N-D images. On the other hand, `scipy.ndimage.zoom` works on all dimensions, so I have a workaround.

[code]
(132, 80, 114)
[code]
(1320, 800, 114)

skimage 0.12.3, installed with Anaconda2-4.3.1

[2017-03-15 17:59] soupault opened #2569 "Add the guidelines on testing in 32bit environment"
See https://github.com/scikit-image/scikit-image/issues/2527#issuecomment-283216892, https://github.com/scikit-image/scikit-image/issues/2527#issuecomment-283220552.

[2017-03-15 18:30] soupault commented on #2528
__entropy__. Most likely fails due to an insufficient precision in https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/rank/generic_cy.pyx#L366.

[2017-03-16 18:36] astrofrog opened #2571 "Consider making dask an optional dependency"
The conda package for scikit-image does not include dask as a dependency, which causes all kinds of problems with setuptools when loading entry points:

https://github.com/ContinuumIO/anaconda-recipes/pull/85

However, it looks like Continuum are not keen on adding dask as a dependency. Could you either weigh in on that issue to recommend dask be indeed included as a required dependency, or altern

[2017-03-16 18:43] soupault commented on #2571
@astrofrog Hi! `dask` has been made an optional dependency recently (https://github.com/scikit-image/scikit-image/pull/2494). Will be shipped this way with `skimage` 0.13.

[2017-03-16 18:51] astrofrog commented on #2571
@soupault - ah, but it's still in ``requirements.txt`` though:

https://github.com/scikit-image/scikit-image/blob/master/requirements.txt

[2017-03-16 18:57] soupault commented on #2571
... That's a shame on my head :man_facepalming:. Is going to be fixed in no time.

[2017-03-16 19:01] astrofrog commented on #2571
@soupault - thanks!

[2017-03-17 04:50] jni commented on #2528
@stefanv If you have a machine I can test this on, I can work on it soonish. Please DM me details over Signal if so. ;)

[2017-03-17 04:52] soupault commented on #2528
@jni see https://github.com/scikit-image/scikit-image/issues/2569. The solution from Matthew worked great for me.

[2017-03-17 06:18] #2571 closed

[2017-03-17 19:06] nzoghb commented on #2561
Along the same lines of thought, could we just compare lengths and ensure they are the same ±1. It's another janky solution.

[2017-03-17 19:15] germunwang opened #2573 "skimage.color.rgb2ycbcr results in wrong value (modified)"
I have got the solution by myself, please see the second comment, thanks a lot.

original problem:
==========================================
Hi guys, I found an wrong result in the function rgb2ycbcr (in version maybe pre-0.13?).
as the code in line 1687:
[code]
however,  it will call the function `_prepare_colorarray()` in `_convert()`, as line in 157:
[code]
causing the value scaling in [0,1] b

[2017-03-17 19:42] germunwang commented on #2573
Well, I'm sorry I offer an incorrect information.
By way of checking again, your code is surely correct while using ITU-R BT.601 conversion,
since the range of RGB is [0,1] in  ITU-R BT.601.
[https://en.wikipedia.org/wiki/YCbCr#ITU-R_BT.2020_conversion](https://en.wikipedia.org/wiki/YCbCr#ITU-R_BT.2020_conversion)

so it results in wrong value when i using JPEG conversion matrix since RGB ranging

[2017-03-18 08:24] jni opened #2574 "Add tests covering erroneous input to morphology.watershed"
Some `ValueError`s aren't currently covered, see [here](https://codecov.io/gh/scikit-image/scikit-image/compare/c1d53202b5d7d655c89fd918bd4b285b60ab318a...bd678e7f1845ba39e2a4fa616312e5d58d3ffc6d/diff) and comments in #2570. It would be good to add tests for these using `np.testing.assert_raises`.

[2017-03-19 16:48] sciunto commented on #2546
Thanks. As a workaround, you can use this function after converting your images to rescale the range between -1, 1

http://scikit-image.org/docs/stable/api/skimage.exposure.html#rescale-intensity

[2017-03-20 12:13] CMCDragonkai commented on #2008
I'm running the algorithm on (4165, 4744) image with 338477 pixels masked as true, and it's taking more than 2 hrs and still hasn't finished. Although I noticed that there's been some performance improvements since 0.12.3?

[2017-03-20 12:21] soupault commented on #2008
@CMCDragonkai thanks for your input. Yes, I've made some trivial changes to speedup the algorithm on images with several separate inpainting domains (see https://github.com/scikit-image/scikit-image/pull/2234).
Occasionally, the changes from https://github.com/scikit-image/scikit-image/issues/2008#issuecomment-197349560 will be implemented, but unfortunately I don't have much time to work on them

[2017-03-20 15:16] soupault commented on #2500
Closed via #2519

[2017-03-20 15:16] #2500 closed

[2017-03-20 15:49] soupault commented on #2569
On the second though, I think that a wiki is a better place for this. See https://github.com/scikit-image/scikit-image/wiki/Testing-in-32-bit-environment .

[2017-03-20 15:49] #2569 closed

[2017-03-22 05:30] sciunto opened #2577 "PySide not compatible with lastest python versions"
looks like that pyside, in the opt deps, is compatible only with a limited range of python versions.

[code]

Therefore, pip install -r optional_requirements.txt can fail.

[2017-03-22 17:51] stonebig commented on #2529
shouldn't this duplicate issue be closes ? we would be then 1 issue away  from scikit-imagte-0.13.0rc1.

[2017-03-22 22:38] JeffSNepenthes opened #2580 "Possible bug in skimage.measure.label"
## Description
I have been working on labeling regions of a binary image.  The output is apparently correct if the number of regions is equal to 255 or less.  However, when running on an image with more regions, the method returns the correct count of the number of regions, but the labeled array it returns contains no labeled region numbered higher than 255.

I do not have a traceback for this, fo

[2017-03-23 04:55] soupault commented on #2529
@stonebig no, it is not fixed yet.

[2017-03-23 08:43] soupault commented on #2580
Can't reproduce. Python 3.6, skiamge 0.12.3, Linux x64.

Code:
[code]

With uint8 input:
[code]

With bool input:
[code]

[2017-03-23 08:49] soupault commented on #2580
Can't reproduce. Python 3.6, skimage 0.12.3, Linux x64.

Code:
[code]

With uint8 input:
[code]

With bool input:
[code]

[2017-03-23 08:50] soupault commented on #2580
@JeffSNepenthes Hi! I cannot reproduce the issue. Could you check my message above and say in which way your case is different to it?

[2017-03-23 12:49] Tutufa opened #2581 "compare_ssim doesn't work"
## Description
Hi, I'm trying to measure ssim metric between two images. I'm using compare_ssim. Images have same dimension and are grayscale. Yet method thoughts exception:

ValueError: shapes (850,1904) and (850,1904) not aligned: 1904 (dim 1) != 850 (dim 0)

What could be wrong?

Full error:

/home/*/anaconda3/lib/python3.6/site-packages/skimage/measure/_structural_similarity.py in compare_ssim

[2017-03-23 12:56] Tutufa commented on #2581
are there any assumptions, that image is supposed to be square?

[2017-03-23 16:07] Tutufa opened #2582 "SSIM range"
What is range of SSIM for compare_ssim method? I'm getting 2.03 for some examples. Should it be normalized to [0,1] to simplify interpretation, or at least have a flag for that?

[2017-03-23 17:44] JeffSNepenthes commented on #2580
I found the problem.  Mea culpa.  Looks like the error is on my side.  Sorry to have bothered you.  Please close.

[2017-03-23 18:24] #2580 closed

[2017-03-23 19:51] sciunto commented on #2582
I'm closing in favor of #2581

[2017-03-23 19:51] #2582 closed

[2017-03-23 19:53] sciunto commented on #2581
Please, could you put a minimal code to reproduce (and eventually images if necessary).

[2017-03-24 07:37] twmht opened #2583 "in-memory file is much larger than in-disk file"
## Description
Trying to store image to in-memory file, but got much larger size

0.jpg
![image](https://cloud.githubusercontent.com/assets/1567200/24284611/133d4984-10a7-11e7-961e-90bcf0687a24.png)

## Way to reproduce
[If reporting a bug, please include the following important information:]

[code]

what I expected is that in-memory file is equal to in-disk file, but in-memory file is much large

[2017-03-24 13:28] Tutufa commented on #2581
found bug in my code, one of images was numpy matrix and it caused this strange behavior. Perhaps you should add assert to validate types of input images to by np.array ;-)

[2017-03-24 13:29] #2581 closed

[2017-03-24 14:14] sciunto commented on #2581
@scikit-image/core can confirm our policy: we do not perform tests on data type. We eventually check the dimensions.

[2017-03-24 16:11] JDWarner commented on #2581
Confirmed, with limited exceptions.

On Fri, Mar 24, 2017 at 9:14 AM François Boulogne <notifications@github.com>
wrote:

[2017-03-25 14:50] jni commented on #2583
Hi @twmht, I believe you might need to fiddle with the `quality` keyword argument to `imsave` for JPEG images. Try replacing `io.imsave(mem, c)` with `io.imsave(mem, c, quality=q)` for various values of `q`. If this resolves the issue, please close it, otherwise, let us know with more updates. btw, I don't know if it's github's fault with how they handle attachments, but your file appears to me as

[2017-03-25 14:51] jni commented on #2583
btw, sorry that it is not currently documented as an argument — that is a [work in progress](https://github.com/scikit-image/scikit-image/pull/2063).

[2017-03-26 16:39] jni commented on #2427
Looking at your fit, I'm concerned that the previous method was buggy, rather than fundamentally flawed. Perhaps `scipy.odr` would be the best approach going forward? However, I'm not in any way opposed to merging #2433, I just wanted to get a discussion going.

[2017-03-27 03:14] noahstier commented on #2561
`if not intensity_image.shape == label_image.shape or intensity_image.shape[:-1] == label_image.shape`? Seems like those are the two cases that should be allowed

[2017-03-29 14:06] softwaremechanic commented on #1730
+1

[2017-03-29 14:27] softwaremechanic commented on #2347
I'll bat for this. It is useful in cases where you want to check if an attribute/dimension of has a dependency on previous values of the attribute.(Something similar to [time-series stationarity test ](https://en.wikipedia.org/wiki/Dickey%E2%80%93Fuller_test) ).
The point is if there's a fractal dimension then we know that this series of values have some dependency on previous values and will chan

[2017-03-29 14:32] softwaremechanic commented on #2347
In the case of biomedical imaging, I can imagine it being useful in identifying certain issues like malignant growth(aka cancerous growth). According to [Dr.Sapolsky ](https://youtu.be/_njf8jwEGRo?t=3907) a lot of our tissues and inner organs have growth functions/programmed in iterated function systems method/approach. Cancerous tissues would be ignoring the stopping rules.

[2017-03-29 15:53] softwaremechanic commented on #2347
A paper summarizing various applications of fractal geometry and dimension found [here.](http://www.noar.technion.ac.il/images/attachments/Scitech/FractalGeometryImageProcessing.pdf) Can be relevant, even if it seems lacking in originality..

[2017-03-29 15:57] softwaremechanic commented on #2347
@rougier : How can we generalize the code to more than 2 dimensions? I'd like to feed it a nx4 matrix and see if there's an fractal interaction between the 4 variables.. Can you help creating test sets for the same?. I'll try generalizing the code.

[2017-03-29 17:27] stefanv opened #2589 "No good gallery example for Region Adjacency Graphs"
There were some neat blog posts during the GSoC, let's bring them into the gallery in some form.

[2017-03-29 18:59] sciunto commented on #2589
@stefanv Do you have pointers? Alternatively, I made an example for my skimage lecture that I can share as well.

[2017-03-30 04:41] rougier commented on #2347
I don't know actually but you can contact me by mail if you have some ideas.

[2017-03-30 06:08] stefanv opened #2590 "Expand description of fundamental matrix estimation example"
http://scikit-image.org/docs/dev/auto_examples/transform/plot_fundamental_matrix.html

Show the fundamental matrix, show how it is typically used, etc.  There's a lot that could be added here to illuminate the example.

[2017-03-30 09:30] soupault commented on #2427
Closed via #2433.

[2017-03-30 09:30] #2427 closed

[2017-03-30 09:30] soupault commented on #2428
Closed via #2433.

[2017-03-30 09:30] #2428 closed

[2017-03-30 11:21] twmht commented on #2583
@jni

Here is the jpg.

![0](https://cloud.githubusercontent.com/assets/1567200/24501723/54ae8c36-157d-11e7-8f31-7c57901bfab7.jpg)

I used PIL and it works as I expected.

[code]
however, scikit-image used PIL as plugin, but I don't know how to specify the format when saving to in-memory file.

If scikit-image does not support that, I can submit a PR to that.

[2017-03-31 02:23] FuriouslyCurious opened #2591 "Divide by Zero Error in exposure.py:465"
## Description
Skimage is throwing divide by zero error when running Sigmoid correction code:

`site-packages/skimage/exposure/exposure.py:465: RuntimeWarning: divide by zero encountered in true_divide out = (1 / (1 + np.exp(gain * (cutoff - image / scale)))) * scale
`

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example -

Actual code n

[2017-03-31 12:59] sciunto commented on #2591
Hi,

Could you provide the result of

[code]
please?

[2017-03-31 16:17] xor007 commented on #2322
Same thing happened to me in an anaconda environment from current snapshot today on 31st March.

[2017-04-01 01:55] thepratik commented on #2473
@HenryJia did you find a solution to this one?

[2017-04-01 03:11] FuriouslyCurious commented on #2591
All dtypes and limits on system:

[code]

**dtypes of image:**

[code]

[2017-04-01 04:49] sciunto commented on #2591
Can you share one of your image in private? My contact can be found in my profile.

[2017-04-02 13:55] HenryJia commented on #2473
Not really I just stuck with using the normal process pool (multiprocessing.pool.Pool) rather than ThreadPool instead which works fine.

[2017-04-03 18:46] jfflanagan opened #2592 "peak_local_max fails to enforce min_distance"
## Description
I am trying to extract local maxima from a distance transform (made using openCV).  When I run: coordinates = peak_local_max(distance_xform, min_distance=100, num_peaks=12)
The following values are in coordinates: [[2775 2647] [944 1540] [919 2420] [1486 1192] [899 2099] [900 2054] [900 2055] [900 2056] [900 2057] [900 2058] [900 2059] [900 2060]]

If you look at the distance transf

[2017-04-04 00:07] jni commented on #2592
@jfflanagan do you have the option to update skimage? That is an old version (3.5 years old; we just released 0.13), and I'm pretty sure that issue was fixed in the interim.

[2017-04-04 13:05] ThomasWalter opened #2594 "C++ support?"
## Description
It is not really an issue, but rather a question on the programming style.
I am working on some functions for skimage, for which it would be very handy to use some C++ class. I did not find an example in the current code, where people used C++, so I was wondering, whether you are strictly against this and whether it would imply a lot of change in the setup.py. Thanks !

[2017-04-04 14:03] soupault commented on #2594
To the best of my knowledge we do not use any C++ code. The only C++ source files are https://github.com/scikit-image/scikit-image/tree/master/skimage/measure/mc_meta, and they are only used as reference (there is also a Cython version of the same algorithm).

[2017-04-04 15:02] ThomasWalter commented on #2594
Thanks for your comment.

And what is your feeling about having some part written in C++?

[2017-04-04 15:21] soupault commented on #2594
In the context of `skimage`, I don't think that we should incorporate any C++ code.
However, if you are able to express the same thing in Cython, that would be great and acceptable.

[2017-04-04 17:08] jni commented on #2594
I second @soupault's statement. Most C++ can be expressed in Cython. My own feeling about the future of the library, and scientific Python in general, is that we will shift focus to JITs, rather than pre-compiled languages. So I'm -1 on this. I'll leave it open for others to comment but I think support is unlikely.

[2017-04-04 17:20] jfflanagan commented on #2592
I switched to skimage 0.14dev and problem persists. Box positions are a little different: [[2775 2647] [944 1540] [919 2420] [1486 1192] [900 2125] [900 2050] [900 2052] [900 2053] [900 2055] [900 2056] [900 2057] [900 2058]]

[2017-04-05 09:55] ThomasWalter commented on #2594
Okay, thanks for the comments. I will give my best then :-)

[2017-04-05 09:55] #2594 closed

[2017-04-06 03:59] PeterZs opened #2595 "io.imshow doesn't work"
## Description
[Please provide a general introduction to the issue/proposal.]
I installed skimage 0.13.0 on Ubutun 16.04 (VMware Workstation player12)   and  python2.7

I test skimage use the following program:

from skimage import data, io, filters
image = data.coins()
edges = filters.sobel(image)
io.imshow(edges)
io.show()

The error message is below:

[code]

[2017-04-06 07:56] soupault commented on #2595
@PeterZs Hi!
To diagnose we'll need the output of
1. `pip list`;
2. `io.find_available_plugins()`;
3. `io.find_available_plugins(loaded=True)`;

If the output of `3.` on your system is not empty, try `io.use_plugin(%string with the plugin name%)` and then repeat the execution of your code.

For more information, see http://scikit-image.org/docs/dev/user_guide/plugins.html.

Let us know if this hel

[2017-04-06 13:00] PeterZs commented on #2595
@soupault
The execute report

pip list --format columns:

Package            Version
------------------ -----------
adium-theme-ubuntu 0.3.4
cycler             0.10.0
decorator          4.0.11
functools32        3.2.3.post2
matplotlib         2.0.0
networkx           1.11
numpy              1.12.1
olefile            0.44
Pillow             4.1.0
pip                9.0.1
pyparsing          2.2.0
py

[2017-04-06 13:06] PeterZs commented on #2595
@soupault

After I install  python-tk use "sudo apt-get install python-tk" ,   it works.

Thank U a lot.

[2017-04-06 13:06] #2595 closed

[2017-04-06 16:02] JackDeSomeTrades commented on #2296
@jni `route_through_array` would be perfect if it could be supplied with a heuristic function. Is there a way I could do that with the existing implementation?

[2017-04-06 16:02] kootenpv commented on #543
It's absurd to expect such a code for end users, I'd almost say it is unacceptable. Even if I want to explicitly cast, I don't see any way to avoid these messages (other than using a context manager which is super ugly in this case). Very frustrating.

[2017-04-06 18:59] soupault commented on #543
Hello @kootenpv ! Thanks for the negative feedback, but we'd strongly encourage you to approach this issue in a constructive way as well. Remind yourself, that `skimage` is an open-source library (means that we are open for the proposals), and it serves many purposes (each with different level of required control on image processing process). It might perform not as expected in your particular cas

[2017-04-07 18:12] sciunto opened #2597 "ENH: pass options from scipy.ndimage to our wrappers"
Part of #2510

In skimage/morphology/binary.py
at least, `binary_erosion` `binary_dilation` can get new arguments as ndimage supports some nice features like the kwarg `iterations` See https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.binary_dilation.html#scipy.ndimage.binary_dilation

Also, add in the documentation a note saying that our functions are based on ndimage.

May have

[2017-04-07 18:41] sciunto commented on #2591
@FuriouslyCurious Kind ping, is it possible to share your image in private? Otherwise, we would appreciate if you can inspect what's effectively wrong

[2017-04-07 18:46] soupault commented on #2597
xref https://github.com/scikit-image/scikit-image/issues/1917

[2017-04-08 06:24] jni commented on #543
@soupault "is optimal in general" seems like a very strong statement. =)

@kootenpv I think you're right regarding warnings on conversions. As @soupault hinted, we are welcome to suggestions. Here are two options off the top of my head:

- we have our own context manager that is perhaps nicer to use. We could move it to a more public space:

[code]

- For some functions, we could add a `warn=True`

[2017-04-08 06:25] jni commented on #2296
@JackDeSomeTrades what do you mean by "heuristic function"? Could it not be "simulated" by adding some noise to the input image?

[2017-04-08 10:08] nkruglikov opened #2601 "Unexpected behavior of each_channel in adapt_rgb"
## Description
Implementation of `each_channel` in `color.adapt_rgb` is supposed to work like this:
- take each channel of an `image`;
- apply an `image_filter` on it;
- combine results.

In the current implementation, however, an `image_filter` is applied not on a channel, but on a transposed channel. It seems to me that it was done just for the code simplicity. Take a look at that particular lin

[2017-04-08 13:33] soupault commented on #2601
@nkruglikov Thanks for reporting! :+1: from me to change this.

[2017-04-08 17:10] kootenpv commented on #543
@soupault My apologies for the strong tone. That was frustration speaking, quite unprofessionally.

@jni I would say that a warn keyword would be a great solution. I don't mind it being turned on by default, as long as it is easy to switch it off. Adding an import and indentation for the same effect seems wrong to me. So `+1` to the warn keyword from me :)

[2017-04-08 23:42] jni opened #2602 "Add warn keyword to img_as_* functions"
Image conversion from float to uint8 is very, very common, and usually people know what they're doing when using it, and don't appreciate the annoying warning. A brief discussion in https://github.com/scikit-image/scikit-image/issues/543#issuecomment-292221966 suggests that users might like a `img_as_uint8(..., warn=False)` keyword argument as a way to suppress the warnings.

The same would be tru

[2017-04-08 23:43] jni commented on #543
@kootenpv I've opened #2602 for continued discussion. Hopefully we can find a good solution for everyone! =)

[2017-04-08 23:49] jni commented on #2601
@nkruglikov wow good catch! As you suggested, transposing the mask is a hack. I think the correct fix is to replace `image.T` with `np.rollaxis(image, -1, 0)`.

[2017-04-08 23:49] jni commented on #2601
And of course to add a test based on your use case to make sure there are no regressions in the future! ;)

[2017-04-09 07:21] sciunto opened #2604 "SKIP: gray vs grey"
## Description

Recently, I saw a student stuck after typing

[code]
Silently, it loads as a RGB image.

Indeed, the API is `as_grey`. The problem is that our API is not homogeneous. It seems that US spelling is in majority in our library. I would suggest to either:
* make sure that both gray and grey are working
* raise a warning

Any suggestion @scikit-image/core ?

[2017-04-09 07:26] sciunto commented on #2602
I had the same thought last week during my lecture. +1 for the kwarg.

[2017-04-09 07:31] sciunto commented on #2602
See also #2531

[2017-04-09 07:34] sciunto commented on #2513
@mcquin I think we never set such rules so far. @stefanv can confirm.

[2017-04-09 07:40] jni commented on #2604
What does RFC mean for those of us that are uninitiated? =)

My preference is for both to work. (I think this is what we do with rgb2grey/rgb2gray?)

[2017-04-09 08:09] soupault commented on #2604
Is seems that `skimage.io` is the only place where `as_gray` keyword is used.
It won't be a bad idea to support both `as_gray` and `as_grey` there.

[2017-04-09 08:14] soupault commented on #2373
Closing as not a bug. Feel free to cotinue the discussion here.

[2017-04-09 08:14] #2373 closed

[2017-04-09 08:21] sciunto commented on #2604
Request For Comments, but I have no idea what SKIEP means :D

[2017-04-09 08:25] soupault commented on #2604
@sciunto It is our new brand for labelling strategic discussions: SciKit-Image Enhancement Proposal (copy from PEP) :smile: .

[2017-04-09 09:51] sciunto commented on #2604
needs a little TM them :)

[2017-04-10 10:43] soupault opened #2605 "SKIP: The way `skimage` processes and stores metadata"
## Description
So far the typical pipeline of working with images in `skimage` looks as follows:
[code]

In the past months we had a lot of discussions and issues connected to the way we handle image metadata. To be concrete (considering the steps above):

1. We lose and, therefore, do not exploit the metadata contained in image file. _Ref:_ https://github.com/scikit-image/scikit-image/issues/2513

[2017-04-10 10:54] soupault commented on #2602
I think it would be a good idea to add such argument as long as our empirics (e.g. https://github.com/scikit-image/scikit-image/blob/master/skimage/util/dtype.py#L115-L122) are not 100% precise.

Default value should be `warn=True`, in any case.

[2017-04-10 11:08] soupault commented on #2345
@sciunto I'm refering to metrics typically used for evaluation of segmentation quality (http://host.robots.ox.ac.uk/pascal/VOC/voc2012/htmldoc/devkit_doc.html#SECTION00064000000000000000, https://en.wikipedia.org/wiki/Jaccard_index), object detection quality (http://host.robots.ox.ac.uk/pascal/VOC/voc2012/htmldoc/devkit_doc.html#SECTION00054000000000000000, the ones from the article above), and mu

[2017-04-10 12:32] blink1073 commented on #2605
A third option is what `imageio` does: adds a `.meta` attribute to the numpy array with the metadata from the file: http://imageio.readthedocs.io/en/latest/userapi.html#imageio.imread.

[2017-04-10 23:47] jni commented on #2605
@soupault what a great, great issue. Thanks for compiling all the above links.

I favour option (b). I think it should be relatively straightforward to incorporate even as regards deprecations, because we can use the convention that keyword arguments override the meta dictionary, and meta can be the last kwarg to any function. (This is a common way to deal e.g. with config files, which are read in

[2017-04-11 06:58] #2559 closed

[2017-04-11 11:29] sciunto opened #2607 "DOC: several broken examples in the stable version of the gallery"
## Description

See http://scikit-image.org/docs/stable/auto_examples/index.html

[2017-04-11 11:34] soupault commented on #2607
`File "/Users/jni/projects/scikit-image/doc/source/../ext/sphinx_gallery/gen_rst.py", line 498, in execute_script` :suspect:

- http://scikit-image.org/docs/stable/auto_examples/segmentation/plot_rag_boundary.html#sphx-glr-auto-examples-segmentation-plot-rag-boundary-py
- http://scikit-image.org/docs/stable/auto_examples/segmentation/plot_compact_watershed.html#sphx-glr-auto-examples-segmentation-

[2017-04-11 12:36] mpt5 commented on #2602
+1 for the keyword proposal -- in my case hundreds of warnings get printed out since multiple files are converted sequentially in a loop

[2017-04-11 17:01] cancan101 opened #2609 "skimage.transform.warp silently maps uint8 images to float"
skimage.transform.warp silently maps uint8 images to float.

[code]
[code]

There is a flag `preserve_range`, but that does not quite do what is desired:
1. Type still converted to float
2. Range not capped in output at 0-255.

- [x] Python version
2.7
- [x] scikit-image version (run `skimage.__version__`)
`0.12.3`

[2017-04-12 02:51] jni commented on #2609
@cancan101 This is by design because:
- warping needs float output in order to do interpolation without precision loss
- you might need to chain warping with other operation. In order to not compound rounding errors, you want to work with float images as long as possible, until output time.

We detail these policies here:
http://scikit-image.org/docs/dev/user_guide/data_types.html

In order to get

[2017-04-12 02:52] jni commented on #2609
@cancan101 I'm going to close for now, but please reopen if you want to discuss other solutions.

[2017-04-12 02:52] #2609 closed

[2017-04-12 04:50] jni commented on #2607
Aaaaah!

I love how all the broken examples have my name on them. I feel like they should have my frowning picture and the caption "THIS GUY." =P

On it!

[2017-04-12 05:24] jni commented on #2607
Fixed! ;)

[2017-04-12 05:24] #2607 closed

[2017-04-12 07:49] soupault opened #2610 "Revise and refactor `skimage._shared`"
## Description
Without proper testing and inspection `_shared` seems to become a backyard of `skimage`.

I propose to investigate better what is happening there, and to remove duplicate, and unused code (for example, https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/testing.py#L21-L32).

[2017-04-12 07:52] #2424 closed

[2017-04-12 07:53] stefanv opened #2611 "Fix two tests disabled by #2468"
Fix the two tests disabled by #2468:

- `test_coord_map`  in `test_interpolation.py` (see #2454)
- `test_gray2rgb` in `test_colorconv.py`

[2017-04-12 07:55] stefanv opened #2612 "Refactor calls to pytest library into utility functions"
https://github.com/scikit-image/scikit-image/pull/2468 has been merged, but it would be good to see the `pytest.*` functions getting refactored into a `skimage.util` function instead.

[2017-04-12 07:58] jni commented on #2611
@stefanv maybe you want to mention what those are? =D

[2017-04-12 08:03] stefanv commented on #2611
@jni Updated

[2017-04-12 08:25] soupault commented on #2127
Closed via #2468.
See https://travis-ci.org/scikit-image/scikit-image/jobs/221129994#L6322-L6341 for the confirmation.

[2017-04-12 08:25] #2127 closed

[2017-04-12 08:29] soupault commented on #2611
I'll take care of both.

[2017-04-12 15:14] f0k commented on #2546
It's the same for the CIE LAB space:
[code]
It's not a problem as long as I use float64, but when I provide float32 input, it's unhappy:
[code]
<details><summary>stack trace</summary>

[code]
</details>

This is with skimage 0.12.3, haven't checked with more recent ones. Either the color space definitions need to change, or the conversion code. Changing the color space definitions to have Lightnes

[2017-04-13 19:16] grlee77 opened #2613 "SKIP: Consistency of `multichannel` parameter handling"
## Description

This is a summary of some inspection of the codebase to see how `multichannel` is typically handled.  It seems the most common default is `multichannel=False`, but this is not always the case.  There are a few functions that default to `None` and then try to guess `True` or `False` based on the data shape (i.e. if the last axis is size 3 (or 4), assume it is multi-channel).  A coup

[2017-04-14 09:14] sciunto commented on #2613
xref #1522

[2017-04-14 14:23] cancan101 commented on #2609
I would say that the current API is no ideal (I would say it violates the "principle of least astonishment"). I think any of the following would be an improvement.
1. Accept uint8 and return float (as is now), but print a warning
2. Deprecate accepting uint8 and eventually only take float->float
3. Change so that uint8 in results in uint8 out (potentially with a warning about loss of precision).

[2017-04-15 07:02] sciunto commented on #2604
Is it trivial to support `as_gray` along with `as_grey`? The **kwarg is used for the plugins... it doesn't seem nice to me to go that way. I would prefer to follow a deprecation cycle. Do you agree?

[2017-04-15 07:13] sciunto commented on #2604
I notice that in mrphology, we have grey.py and greyreconstruct.py. Ndimage uses grey as well...

[2017-04-15 08:24] soupault commented on #2613
@grlee77 Thank you for bringing up this important topic! I've renamed the issue, and suggest to use it for all the discussions on similar matters.

My decision would be to use `multichannel=False` everywhere by default. Also, I suggest to speedup this particular deprecation case and schedule everything for 0.15 instead of 0.16.

---

- skimage.filters.gaussian  (nD) __[TODO: deprecate]__
- skimage

[2017-04-15 08:25] soupault commented on #2613
This issue could be related: https://github.com/scikit-image/scikit-image/issues/2605

[2017-04-15 18:10] soupault commented on #2604
matplotlib and Pillow use `gray`, `grayscale`.

@sciunto Sorry, I didn't catch your second proposal.

[2017-04-15 20:09] sciunto commented on #2604
What I meant is:
* solution 1: we use **kwargs to catch `as_gray` if `as_grey` is not set, but **kwargs is used for plugins, so it's not very clean.
* solution 2: we add a new option `as_gray` with `as_grey=None`. If `as_grey` is not None, raise a warning for deprecation.

I prefer solution 2.

[2017-04-18 12:53] alexandrejaguar commented on #2604
I'd go with `as_gray`, since this is the "most used" nomenclature in books, papers, et al. It could confuse some users (I was one of them). For me, @sciunto's solution 2 is the way to go.

[2017-04-18 13:41] pbrod opened #2623 "BUG: skimage fails on missing docstrings under python -OO"
When trying to bytecompile skimage with the -OO option using cx_freeze/py2exe
the _parse_docs function  on line 605 in [skimage/measure/_regionprops.py](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py) crashes because

    regionprops.__doc__ is None.

The reason is that Python code byte-compiled with -OO has doc-strings stripped out (i.e. docstrings are No

[2017-04-18 21:33] soupault commented on #2623
@pbrod Could you specify where it fails exactly? https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L610?

[2017-04-19 02:58] jni opened #2624 "Improvements to interactive segmentation"
## Description

I just merged #2584, which is awesome. In that PR, however, @tacaswell raised concerns that as currently coded, the function cannot be used from interactive applications that embed Matplotlib. Specifically:

- [ ] `plt.show(block=True)` won't work inside Qt apps, and possibly other backends. See [this issue](https://github.com/spyder-ide/spyder/issues/4367#issuecomment-294637584),

[2017-04-19 05:41] sciunto commented on #2538
I'm OK to change img to image in signatures, but I don't think it's necessarily a good idea for variable names in examples. In doctests for example, it's convenient to have a short variable name.

[2017-04-19 07:37] pbrod commented on #2623
It fails on line 610 when doc is None. I get TypeError: expected string or buffer.

[2017-04-19 19:35] nelzas opened #2625 "ValueError exception in measure/_regionprops"
## Description
[Please provide a general introduction to the issue/proposal.]
I've encountered a few times the exception ValueError while working with region properties.
I've delved into it a little, and I think the root cause is due to floating point errors.
After some time debugging, I've reduced it to a small example code that is later down.
It happens sometimes when accessing minor_axis_length

[2017-04-19 21:41] soupault commented on #2625
Hello @nelzas , thanks for reporting!

I can reproduce the issue with the latest Python 3.6, `numpy`, `skimage`.

[2017-04-19 23:59] #2233 closed

[2017-04-20 04:36] sciunto commented on #2611
Fixed by #2454

[2017-04-20 04:36] #2611 closed

[2017-04-20 06:43] sciunto opened #2627 "Pytest: yield tests are deprecated and must be removed."
## Description

Cc @NelleV

[code]

[2017-04-20 11:05] jni commented on #2583
@twmht here we go:

[code]

Notice the `format_str` and `quality` keyword arguments.

If you want to submit a PR to document this, it would be very welcome!

[2017-04-20 11:29] jni commented on #2583
@twmht I've merged #2063 which documents the "quality" argument. A pull request documenting `format_str` would also be welcome!

[2017-04-20 12:45] twmht commented on #2583
@jni

thanks!

[2017-04-20 12:45] #2583 closed

[2017-04-20 14:52] NelleV commented on #2627
Yep, I saw. It's very annoying :(

[2017-04-20 18:45] soupault opened #2628 "Improve the support for 1D images in `color.gray2rgb`"
## Description
Currently, it raises an error, but it is simple to change the behaviour to do the required conversion.

See https://github.com/scikit-image/scikit-image/pull/2454#issuecomment-295501725, https://github.com/scikit-image/scikit-image/pull/2454#issuecomment-295588504.

[2017-04-20 19:34] mcquin opened #2629 "Different behavior of skimage.transform.resize across operating systems."
`skimage.transform.resize` appears to have different behavior between operating systems. Specifically, Ubuntu 14.04/16.04 and OS X 10.11.6 (I haven't tested on Windows, yet, but I am curious).

Steps to reproduce:

[code]

I've created a [Jupyter notebook](https://gist.github.com/mcquin/6dede26654828c811afdfa2d788436f2) with the code to reproduce the error.

Here is the input image:
![input](https

[2017-04-20 19:43] mcquin commented on #2629
Here it is on Windows (same dependency versions):

![resize_for_claire](https://cloud.githubusercontent.com/assets/4721755/25249530/2446275c-25e0-11e7-9267-cfe555534260.png)

[2017-04-20 19:46] soupault commented on #2568
Closed via #1522 .

[2017-04-20 19:46] #2568 closed

[2017-04-20 19:49] soupault opened #2630 "Multichannel images handling in `transform.resize`"
## Description

This issue is meant to host the discussion on whether to add a `multichannel` argument to the function, or to keep the API as is (inferring the number of channels from the value of `output_shape` argument).

See https://github.com/scikit-image/scikit-image/pull/1522/files#r111333280 for the details.

[2017-04-20 19:59] soupault commented on #2629
Hi @mcquin ! This looks very suspicious...
I've just merged https://github.com/scikit-image/scikit-image/pull/1522 which brings several major improvements to `rescale` and `resize` functions.
Could you, please, (if you have a little of time) try to use the version from `master`, and check if the plots are still different? If not, I could manage to do this in a couple of days.
Thanks!

[2017-04-20 20:16] mcquin commented on #2629
@soupault I see the same results on OS X and Ubuntu 16.04 using scikit-image==0.14dev

[2017-04-20 21:54] grlee77 commented on #2629
Interesting.  I get the same as you on OS X in Python 2.7.  However, I get the following on OS X in Python 3.5 (looks like your Windows result above):
![img](https://cloud.githubusercontent.com/assets/6528957/25252707/140038c2-25ec-11e7-831a-972cc2d66bd3.png)

I have nominally the same numpy/scipy/skimage on both although 2.7 was using the condo-forge numpy/scipy while 3.5 is using the one from de

[2017-04-20 22:02] grlee77 commented on #2629
Revisiting the above with numpy/scipy from the conda-forge defaults channel changes the Python 2.7 result to match the 3.5 result.  So, it seems to be related to floating point precision.  There are tiny floating point differences in the `params` matrix of the `AffineTransform` for these two different BLAS/LAPACK builds of numpy/scipy.

If you change the order to 1, I think you will see a very sim

[2017-04-20 22:05] grlee77 commented on #2629
perhaps the `dest_corners` coordinates in `resize` need to have a small additional shift on the order of machine epsilon to avoid this corner case.

[2017-04-20 23:09] mcquin commented on #2629
I suspect rounding differences as well. I can give your suggestion a try
first thing tomorrow morning (US Eastern).

On Apr 20, 2017 18:05, "Gregory R. Lee" <notifications@github.com> wrote:

[2017-04-21 09:41] #2574 closed

[2017-04-21 14:41] mcquin commented on #2629
I'm still just starting to look into this, and I have tried adjusting `dst_corners` ([here](https://github.com/scikit-image/scikit-image/blob/e3b6b0a1bf253838db9181fb0c80f4af9cbe7266/skimage/transform/_warps.py#L127-L128)) by machine epsilon with no effect.

I wonder if it is scikit-image's responsibility to adjust for these machine-level differences.

[2017-04-21 14:50] mcquin commented on #2629
For what it's worth, `scipy.ndimage.zoom` produces output that is consistent with Windows and @grlee77's 3.5 result. Maybe the issue is in the `AffineTransform` or `skimage.transform.warp`.

[2017-04-21 15:07] soupault commented on #2345
Does not seem to be of any interest. Closing.

[2017-04-21 15:19] dwyatte opened #2632 "Support color images in montage2d"
Are there plans to support color images in skimage.util.montage.montage2d? I find myself wanting this functionality when doing image processing on color images.

[2017-04-21 15:21] soupault commented on #2632
@dwyatte Yep, on its way: https://github.com/scikit-image/scikit-image/pull/2626 .

[2017-04-21 15:29] dwyatte commented on #2632
Great, I'll keep this open until #2626 is merged

[2017-04-21 21:54] xinleipan commented on #2406
I've also had the same issue with skimage.io which actually reads in the image with a wrong shape.

[2017-04-21 23:54] jni commented on #2345
Actually I'm interested, and have very often considered contributing this. I just haven't had the time to do it! fwiw I have a few metrics implemented here, with BSD license:

https://github.com/janelia-flyem/gala/blob/master/gala/evaluate.py

[2017-04-23 21:04] mpt5 opened #2633 "Does skimage have a function that does the reverse of label2rgb?"
I find myself in need of a function that produces a grayscale / one-channel matrix containing integers that represent several classes in an RGB mask for pixel-wise segmentation.  For example, the RGB mask has been labeled with red (object A), green (object B), blue (object C), and black (background) and I'd need those converted to 1, 2, 3 and 0.

**label2rgb** seems to do the reverse of this, whic

[2017-04-23 21:10] soupault commented on #2633
@mpt5 are you looking for http://scikit-image.org/docs/dev/api/skimage.measure.html#label?

[2017-04-23 23:33] mpt5 commented on #2633
not really — I have masks (RGB) that are paired to grayscale images. The masks have manual segmentation of different objects, each one with a different color assigned to them (red, blue, green). I wondered if skimage has a function that will convert this RGB image (3 channels) to a single channel in which the colors are encoded as labels (1, 2, 3 respectively). This would be an extension of the us

[2017-04-24 01:25] jni commented on #2633
@mpt5 are there only three colors, 100% Red, 100% Blue, and 100% Green? If so, you can just use a matrix multiplication:

[code]

Otherwise, you can use some arithmetic to make sure you have a unique label for every unique rgb value:

[code]

You can then (optionally) use `segmentation.relabel_sequential` to make sure these labels are sequential values starting from 1.

It *might* be worthwhile ad

[2017-04-24 03:04] mpt5 commented on #2633
ok thanks @jni --- I'll try your suggestions -- it seems like this would be a reasonable feature request given that skimage provides a function that operates in one direction already

[2017-04-24 08:07] soupault commented on #2633
Such kind of a function sounds pretty specific to me. To the best of knowledge, way more general case is when the multiple ground truth masks are stored separately (each in a dedicated binary image), or in .csv-like file in the form of polygons.

Also, there is an ambiguity on how to represent multiple mask from different channels in a single grayscale image: should we sum the values from differen

[2017-04-24 08:21] jni commented on #2633
@soupault I think the above approach (1 unique RGB value = 1 segment id) makes the most sense for the problem in @mpt5's description.

However, it occurred to me that it actually doesn't do the opposite of `label2rgb` in any sense of the word: `label2rgb` has two modes, a color cycle mode, in which segments are given values from cycling over a list of limited colors, and an "average" mode, in whic

[2017-04-24 08:21] #2633 closed

[2017-04-24 08:23] #2439 closed

[2017-04-24 13:55] jni commented on #1349
Given the history of this issue and #1531, I'm going to close it. I don't think digitize offers a compelling advantage over the existing implementation.

I *will* point out that the current implementation is fragile around edge cases, because of the use of NumPy indexing for mapping. This means that the forward map has size `np.max(labels)`. I could give you the input `np.array([1, 1e10], dtype=in

[2017-04-24 13:55] #1349 closed

[2017-04-24 13:56] jni commented on #1349
(But I don't consider this issue critical enough to warrant raising a new issue. @scikit-image/core feel free to disagree.)

[2017-04-24 18:45] soupault commented on #2625
If you can point to a direction, I'm ready to try.

@nelzas This should be relatively easy to fix, at least in a dirty way (appying `max(l2, 0)`).

At the same time, there is a PR with a massive refactoring of moments' computation (see
https://github.com/scikit-image/scikit-image/pull/2603/files#diff-9ad80e81791ed23620983b83431fabf2R200). Potentially, the issue is fixed there :). My opinion would

[2017-04-24 19:17] nelzas commented on #2625
Thanks for the quick reply.

@nelzas <https://github.com/nelzas> This should be relatively easy to fix,

I can do that :-)

I'll look into the PR and check. If the issue is fixed there, I'll let you
know.

I apologize if I mislead you into thinking I was pushing for an urgent fix.
I just wanted to help.
For the problem in the codebase I was working on, I just added, to our
code, a "try... except..

[2017-04-24 19:33] soupault commented on #2625
I just wanted to help.
For the problem in the codebase I was working on, I just added, to our
code, a "try... except..." clause and in the exception I set the result to
zero without having to modify the skimage.

No-no, I mean we could do that as well, if it is a justified fix.
It is just my personal attitude not to put any stones on the way of complicated PRs which are already work-in-progress.
W

[2017-04-24 20:02] nelzas commented on #2625
Indeed the PR mentioned above solve the issue for my test case :-)

[2017-04-26 11:33] vspinu opened #2634 "`regioinprop.bbox_size` returns size of the original image"
[This code](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L125) returns the size of the original for all the regions.

[2017-04-26 13:33] IliaSafonov opened #2635 "uninterpretable outcomes of skimage.measure.regionprops for flat connected regions in 3D image"
skimage.measure.regionprops returns 2D properties for flat connected regions in 3D image. The outcomes (in particular, bbox) are uninterpretable.
I found out the issue when I worked on code for calculation of properties of holes inside connected regions of 3D image.

Demonstration:
import numpy as np
from skimage import measure
from scipy import ndimage

example 1:
im = np.array([[[ 0,  0,  0],

[2017-04-26 14:03] IliaSafonov opened #2636 "Performance regression in morphology.watershed from 0.12.3 to 0.13.0"
## Description
Great performance degradation in skimage.morphology.watershed for ver. 0.13.0 in comparison with ver. 0.12.3.
3D images with size about (500, 500, 500) were testes.

## Way to reproduce
[code]

Processing time for ver. 0.12.3 is about 16 s on my computer.
Processing time for ver. 0.13.0 is about 90 s.
Slowing down about 4 times!!!

Python version 3.5 for Windows
scikit-image version

[2017-04-26 14:06] jni commented on #2635
@IliaSafonov I agree with you that it's a bug. The output images should have the same dimensionality as the input. Thanks for reporting!

[2017-04-26 18:54] mcquin commented on #2629
@soupault This is beyond my understanding of scikit-image internals and roundoff errors. Do you (or someone on the team) have time to take this on?

I have a workaround with `scipy.ndimage.zoom` so it's not an urgent, personally.

[2017-04-26 18:55] sciunto commented on #2634
Thank you. I confirm the bug.

[2017-04-26 19:04] 0x00b1 commented on #2636
I couldn’t reproduce.

macOS, 0.12.3 (Python 3.5):

[code]

macOS, 0.13.0 (Python 3.5):

[code]

[2017-04-26 19:18] IliaSafonov commented on #2636
I tested it on Windows 7.

[2017-04-27 09:22] soupault commented on #2636
I can reproduce. Below is the output of `/usr/bin/time -v python issue.py`:

Ubuntu 16.04. skimage 0.12.3: `15.727136`
[code]

Ubuntu 16.04. skimage 0.13.0: `84.192656`:
[code]

[2017-04-27 14:03] #2471 closed

[2017-04-28 11:02] Buntworthy commented on #2628
I'd be happy to take this on, but it will be my first ever open source contribution so I might need some hand holding!

[2017-04-28 11:43] soupault commented on #2628
@Buntworthy just go for it! We are here to help.
Consider starting with Pull Request checklist: https://github.com/scikit-image/scikit-image/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2017-04-29 18:29] vspinu opened #2641 "module 'skimage.filters' has no attribute 'denoise_tv_chambolle'"
There are a couple of undefined symbols in [`filters` module](https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/__init__.py#L46-L48)

Thus `from skimage.filters import *` gives:

[code]

[2017-04-29 18:34] soupault commented on #2641
@vspinu Thanks! Would you like to submit a patch?

[2017-05-01 08:06] sciunto opened #2644 "API: replace visualise by visualize in hog() to respect our recommendations"
Needs a deprecation cycle... See the documentation for that.

Fix the spelling in the documentation as well.

[2017-05-01 13:32] #2641 closed

[2017-05-02 12:47] jni opened #2646 "Probable incorrect orientation use in EllipseModel"
A user on the mailing list reported some weird behaviour by Ellipse Model:

https://mail.python.org/pipermail/scikit-image/2017-April/005227.html

It looks like the angle is being estimated in the wrong direction. Here's some not-quite-minimal code to reproduce:

[code]
The output is about π/4, which is correct if you rotate clockwise from the horizontal, rather than counterclockwise.

Incidentall

[2017-05-02 12:48] jni commented on #2646
CC @Borda — any idea what is going on here? We are probably being inconsistent with coordinate use, but you would know best I think...

[2017-05-02 12:55] soupault commented on #2480
Closed via #2524 .

[2017-05-02 12:55] #2480 closed

[2017-05-04 01:33] grlee77 commented on #2629
@mcquin.  I just revisited this and had success when adjusting `dst_corners`, but I had to use a shift of approximately 40 times machine epsilon for it to take effect.  E.g. using negative shift of 100*(machine epsilon) gives a result consistent with scipy's ndimage.map_coordinates across both OpenBLAS and MKL-based numpy.  will make a PR for this shortly

[2017-05-04 01:41] mcquin commented on #2629
Great! Thanks for the update!

On May 3, 2017 9:33 PM, "Gregory R. Lee" <notifications@github.com> wrote:

[2017-05-04 11:07] jni commented on #2636
Yep, I can reproduce on macOS and what's worse, it looks like my compact watershed PR #2211 is to blame, as 47af70a5 still shows the regression. This is gonna be a fun one, I can tell. =P

Thanks @IliaSafonov for the report and detailed script — it made it very easy to verify. The hardest part was waiting for the damn thing to finish. =P

[2017-05-05 12:30] grlee77 opened #2649 "issue building gallery examples on Travis"
## Description
In recent PRs, I have experience a lot of Travis failures unrelated to the PR.  These occur during building the gallery examples and seem to be related to a problem with the 2D RGB array used in the `plot_matches` utility:
https://github.com/scikit-image/scikit-image/blob/e55b2742307b577d7f86c75c52701332226ee4af/skimage/feature/util.py#L116-L123

I did not see this failure on my loc

[2017-05-05 13:48] soupault commented on #2649
/cc @tacaswell

[2017-05-05 14:43] grlee77 commented on #2649
#2650 appears to fix the issue above, but there is also a second problem that occurs only for the build using `PySide`.  Several tests report:
[code]

[2017-05-05 17:40] grlee77 commented on #2649
The remaining error is a Matplotlib bug that has already been fixed in the 2.0.x branch:
https://github.com/matplotlib/matplotlib/commit/d2a0a0bcfbeb57ad45b87ce0daae923647a687f1

[2017-05-05 18:06] sciunto opened #2651 "A TODO list for code specific to lib/python version for future maintenance."
## Description

@scikit-image/core In #2647, we have some lines of code to handle specific versions (python and numpy). Do we want to track that in a TODO file? The current TODO file could hardly collect that due to the current organization. However, I have the feeling that it would be helpful to write this down.

Typical entry:

* in skimage.morphology.something(), specific code for numpy<1.1

[2017-05-06 05:12] sciunto commented on #2649
matplotlib PR: https://github.com/matplotlib/matplotlib/pull/8559

[2017-05-06 05:14] sciunto commented on #1587
http://matthewrocklin.com/blog/work/2017/01/17/dask-images

[2017-05-06 07:46] soupault commented on #2651
Would be nice to keep track of such things.
Instead of populating `TODO`, I'd suggest to file both the mentioned points and TODOs as GitHub issues (i.e. removing `TODO` at the end).

[2017-05-06 09:48] sciunto commented on #2651
I don't like the idea to transfer that on github. The day we will need to move from github to somewhere else, it's gonna to be a nightmare.

[2017-05-06 14:32] sciunto commented on #2649
Given matplotlib's milestone for the publication of a new bugfix release: https://github.com/matplotlib/matplotlib/milestone/26
I'm wondering if we should not disable momentarily this travis entry. @scikit-image/core

[2017-05-07 02:14] jni commented on #2651
I don't think it'll be a nightmare at all. Github provides APIs to access issues and PRs, and we will *definitely* need to write scripts to migrate everything out of it one day — whether or not we have todos there. (And in fact I'm going to be surprised if someone hasn't solved this problem already.)

[2017-05-07 03:23] hanfeisun opened #2653 "Can scikit-image flip an image horizontally or vertically?"
Scikit-image has rotate function. But it doesn't seem to have the "flip" function

[2017-05-07 03:55] grlee77 commented on #2653
You can flip by indexing using `::-1`.  For example, to flip the second axis of a 2D array
[code]
There is also a [flip](https://docs.scipy.org/doc/numpy/reference/generated/numpy.flip.html) function that does this as of numpy 1.12 (also see `fliplr`, `flipud` in older numpy):

[2017-05-07 06:52] hanfeisun commented on #2653
For newbies, it will be very convenient if a flip method could be provided under skimage.transform module..

[2017-05-08 15:58] tacaswell commented on #2649
There will be 2.0.2 fixing the Qt issue either today or tomorrow.

[2017-05-09 03:45] Borda commented on #2646
in between the two merges I was correction a bug but it should neo be it, so I will have look at it :)

[2017-05-09 12:24] gatagat opened #2654 "pytest runs no tests on appveyor?"
It seems `pytest` runs no tests in appveyor:
https://ci.appveyor.com/project/blink1073/scikit-image-qbl76/build/1.0.3216#L5406
Is this intentional?

I think the problem is the way `pytest` is called from `appveyor.yml` and that `pytest` interprets the arguments as paths, not as packages.

The solution that works for me in a different project is something like the following (see https://github.com/

[2017-05-09 12:28] soupault commented on #2654
@gatagat Thanks for the investigation! It is not intentional.

[2017-05-10 13:23] Borda commented on #2646
well, it seems that the rotation have an oposite direction to anti-clockwise, but it was there already before... I didn't change the meaning of the EllipseModel().predict_xy() which was used for generating test data for ellipse fitting and neither draw.ellipse_perimeter()

[code]

[2017-05-10 15:37] arjunsuri commented on #2644
Sir I am new to open source community.How can I fix this issue.Please guide me.

[2017-05-11 01:21] swiftdiaries commented on #2653
Created a pull request for the feature used grlee77's comment for the flip function.
https://github.com/scikit-image/scikit-image/pull/2655

[2017-05-11 08:53] soupault opened #2657 "High execution time of several examples"
## Description
Should speedup the functions (especially, denoising) to facilitate the testing process.
[code]

Also, from comment below:

[code]

[2017-05-11 08:56] soupault commented on #2657
Hmm... The numbers above are from AppVeyor.

Here are the Travis ones (top5, as well):
[code]

[2017-05-11 09:57] arjunsuri commented on #2628
Sir, I also want to work on this issue.Mine will also be first.Please help me as well

[2017-05-11 10:03] soupault commented on #2628
@arjunsuri There is an ongoing work on this issue already - see #2645.

[2017-05-11 10:18] arjunsuri commented on #2628
@soupault ,Thank you sir for suggestion.

[2017-05-11 10:26] arjunsuri commented on #2426
This is my first contribution.Where should I start?

[2017-05-11 10:33] arjunsuri commented on #2426
I want to contribute in this but this is my first ever conytibution. Please help me.

[2017-05-11 10:34] souravsingh commented on #2426
@arjunsuri There is a patch made already at #2639

[2017-05-11 10:57] arjunsuri commented on #2426
Please tell me where to start.I have learnt python and i really want to
contribute to scikit image.I am a complete newbie to open source.please
help.

On May 11, 2017 4:04 PM, "Sourav Singh" <notifications@github.com> wrote:

[2017-05-11 18:33] arjunsuri commented on #2097
@stefanv @blink1073 hey! I also want to look into the issue.

[2017-05-11 18:37] blink1073 commented on #2097
Sure, it is still an open question.

[2017-05-11 20:39] grlee77 commented on #2657
I wonder what is making `plot_denoise.py` run an order of magnitude slower on Appveyor when some others are about the same duration?  There are a few different denoising algorithms within that same example so it is not obvious yet which is the culprit.  I will try to take a quick look at that one later once I have access to a windows machine.  On my OS X laptop I get 17 s which is in line with the

[2017-05-11 21:25] grlee77 commented on #2649
Thanks @tacaswell

I restarted the one Travis case that was failing on #2470 and now all tests and examples pass.

[2017-05-11 21:25] #2649 closed

[2017-05-12 03:58] grlee77 commented on #2657
Looking into the long run time for `plot_denoise.py` on a windows machine, I can confirm that the two calls to `denoise_bilateral` account for almost all of the execution time (>50 s each on my machine).  This is compared to only 110 ms for the TV denoising and 12 ms for the wavelet one!  Haven't yet looked into the bilateral denoising internals to see why it might be so much slower on Windows tha

[2017-05-12 19:40] #2654 closed

[2017-05-17 10:02] stamaimer opened #2660 "The value of circularity calculated from regionprops of skimage"
I use `[(4 * math.pi * region.area) / (region.perimeter * region.perimeter) for region in regionprops(label_image)]` to calculate the circularity of each labeled region in `label_image`. The value of that expression is large than 1. But the value of circularity must be (0, 1].

[2017-05-17 10:22] soupault commented on #2660
@stamaimer could you elaborate on your example?

Works OK to me:
[code]

[2017-05-17 10:51] stamaimer commented on #2660
I add `label` before pass the image to `regionprops`. The original image is
![figure_2](https://cloud.githubusercontent.com/assets/3755338/26150634/cdb5ed0c-3b31-11e7-9310-4eb126c4d9f3.png). And after `label`, The image is
![figure_1](https://cloud.githubusercontent.com/assets/3755338/26150637/dc9a0498-3b31-11e7-954e-125e445daa81.png)

[2017-05-17 18:41] soupault commented on #2660
@stamaimer Sorry, I mean could you try to find the region on which the formula shows an unexpected value? It is not possible to do so using the images you attached.

[2017-05-17 20:15] grlee77 opened #2661 "sphinx_gallery currently causing Travis failures"
## Description
Travis builds are [failing](https://travis-ci.org/scikit-image/scikit-image/builds/233344234?utm_source=github_status&utm_medium=notification)  due to the following `sphinx-gallery` issue:
https://github.com/sphinx-gallery/sphinx-gallery/issues/241

It looks like we keep a copy of sphinx-gallery locally in `doc/ext`.  Should we apply the small fix from https://github.com/sphinx-gall

[2017-05-18 01:09] stamaimer commented on #2660
@soupault I got `region.area = 9`  and `region.perimeter = 8.20710678119` for one region in the image i provided. and the circularity is `1.67908315807`.

[2017-05-18 07:15] soupault commented on #2661
@grlee77 Typically, we stick to the released versions of `sphinx-gallery`.

JFYI, there were several discussions on this, and IIRC we decided to switch to `git submodule` link to their repo instead of copying files over and over.

[2017-05-18 07:19] soupault commented on #2660
@stamaimer Could you provide the source image (https://cloud.githubusercontent.com/assets/3755338/26150634/cdb5ed0c-3b31-11e7-9310-4eb126c4d9f3.png) as a numpy array (use https://docs.scipy.org/doc/numpy/reference/generated/numpy.save.html) instead of its plotted version?

That's not a surprise, actually. See the docstring on how it is computed. Here is the case where the perimeter is 0:
[code]

[2017-05-18 07:57] soupault commented on #2660
@stamaimer Also, please, specify which versions of `numpy`, `scipy` and `scikit-image` you are using. Thanks!

[2017-05-18 19:04] sciunto commented on #2661
I do not remember that we decided to use git submodule (but I may have missed a discussion). I thought a script that would retrieve that last stable version...

[2017-05-18 19:11] sciunto opened #2663 "Install lastest sphinx-gallery instead of re-distributing a copy in our source tree"
## Current behavior

We have a copy of sphinx-gallery in our source tree

## A better behavior

Download the latest version or use git submodule to be always uptodate.

## TODO

unpin sphinx < 1.6.1, ie revert #2662

[2017-05-18 19:11] sciunto commented on #2661
See #2663

[2017-05-18 19:11] #2661 closed

[2017-05-19 12:09] grlee77 commented on #2663
sphinx-gallery made a new release last night (0.1.11) that should resolve the issues with sphinx 1.6.1

Our local copy is currently at version 0.1.8.

By "download the latest source" do you mean adding sphinx-gallery via the `pip install` commands in the documentation build sections of `Makefile` and `appveyor.yml`?

[2017-05-19 16:22] sciunto commented on #2663
yes, something along this line. :)

[2017-05-22 18:33] qiujian3328103 opened #2667 "How to reconstruct a Binary Image in Sci-kit image ?"
![figure_1](https://cloud.githubusercontent.com/assets/4641425/26323117/e081b0ee-3eea-11e7-953d-bcd992678663.png)

How to reconstruct a binary image from the SEM
 I am recently working a measure the size of polymer from the SEM image. By using the python sic-kit image I convert the original image into a binary image. However, the problem that I cannot solve is that some withe pixels inside the pol

[2017-05-24 10:47] ahojnnes opened #2668 "Smooth images in resize/rescale"
Currently, ``skimage.transform.resize`` or ``skimage.transform.rescale`` do not smooth images when down- or upscaling images. Most other image processing libraries do this by default in a similar manner as we do in our ``skimage.transform.pyramid_*`` functions. I suspect that many users are not aware of this and thus get aliasing effects when resizing images. What do you think about adding a ``smo

[2017-05-24 10:59] soupault commented on #2668
I'd rather support adding several smoothing/interpolation techniques (for reference, OpenCV - http://docs.opencv.org/3.1.0/da/d54/group__imgproc__transform.html#ga5bb5a1fea74ea38e1a5445ca803ff121).

[2017-05-24 12:54] ahojnnes commented on #2668
Interpolation is already implemented and can be easily extended. It does not necessarily solve the aliasing issues though.

[2017-05-24 18:52] qiujian3328103 commented on #2667
Does anyone know how to deal the problem?

[2017-05-24 19:44] foloumi commented on #2667
I believe the issue is that you're assigning the maximum image value to
your mask; this is still a gray-scale value. To get just back and white
pixels, you need to threshold your image.

Hope this helps,

On May 24, 2017 12:52, "qiujian3328103" <notifications@github.com> wrote:

[2017-05-25 14:27] nelzas commented on #2627
Hello,

I'm volunteering to work on this, if nobody started yet.
I've currently removed the yields in one file, test_exposure.py, and used instead pytest paremtrize decorator.
See https://github.com/nelzas/scikit-image/commit/592edf5e63723c8110b96f7ebff56688f2ccff40
I'll be happy to get feedback whether to continue and if yes, improvement suggestions.
For example, maybe we can skip using a temp va

[2017-05-26 07:08] soupault commented on #2627
I'd like to see https://github.com/scikit-image/scikit-image/pull/2278 merged first.

Rather not (IMO) :smile: .

[2017-05-26 14:40] nelzas commented on #2627
I continued to work on this before seeing your answer.
I did not finish but got rid of more than 100 warnings. It's in my fork.
I understand there are priorities, so even if I finish all 'yields' I won't open a pull request until I get a green light :-)

[2017-05-26 21:28] matthew-brett opened #2670 "32-bit test failures on latest master"
Running a wheel build / test on latest master:

https://travis-ci.org/scikit-image/scikit-image-wheels/builds/236518849

I am getting 3 test failures for the 32-bit builds:

https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/236518852

[code]

[code]

[code]

There is more verbose detail in the log above.

[2017-05-26 21:31] matthew-brett commented on #2670
For testing see : https://github.com/scikit-image/scikit-image/wiki/Testing-in-32-bit-environment

[2017-05-27 03:11] soupault commented on #2670
@matthew-brett those are the very bug we observed before the release of 0.13: issue for `rank` - https://github.com/scikit-image/scikit-image/issues/2528, issue for `ORB` - https://github.com/scikit-image/scikit-image/issues/2529. The one for `ellipse_model` is new though. I've renamed the issue to be linked only to the latter.

[2017-05-28 18:35] #2663 closed

[2017-05-29 16:57] sciunto commented on #2627
@soupault I don't understand why you want to see #2278 merged first.

[2017-05-29 16:59] nelzas commented on #2627
Update: I've removed all yields from tests, this removed all 175 warnings of this kind.
In the majority of tests, I've used pytest parametrize decorator for this. But in three tests (test_template, test_unwrap_2d, test_unwrap_3d) I didn't use parametrize, and just replaced the yield with a call to the relevant check function, so as a result the count of tests went down by 3.
As I've said before I

[2017-05-29 19:37] soupault commented on #2627
@sciunto LOL, sorry, I meant https://github.com/scikit-image/scikit-image/pull/2614 :).

[2017-05-29 21:17] leducvin opened #2671 "Probable bug with skimage.transform.rotate using "center" kwarg"
## Description
There seems to be a bug with the center keyword argument in the skimage.transform.rotate function. Well, either a bug or an error in the documentation.

For this keyword, the documentation says:

This seems to imply that, if `center` is not `None`, it should be of value `(row, col)` to choose the center of rotation.

I'm pretty sure the documentation should say `center=(cols / 2 - 0

[2017-05-30 08:50] soupault commented on #2671
/xref https://github.com/scikit-image/scikit-image/issues/1732

[2017-05-30 09:01] PrimozGodec opened #2672 "Weird result of resize function"
## Description

I am trying to resize a `.jpg` image with `skimage.transform.resize function`. Function returns me weird result (see image below). I am not sure if it is a bug or just wrong use of the function.

## Way to reproduce

    import numpy as np
    from skimage import io, color
    from skimage.transform import resize

    rgb = io.imread("../../small_dataset/" + file)
    rgb = resize(

[2017-05-30 09:37] sciunto commented on #2672
What's `Image` module?

[2017-05-30 10:21] jni commented on #2672
@PrimozGodec Use `matplotlib.pyplot.imshow` to display an image, not the `Image` or `Pillow` library.

[code]

The problem is that the order of pixels/channels expected by `Image` is different from the order expected by scikit-image/matplotlib. See here for more info:

http://scikit-image.org/docs/dev/user_guide/numpy_images.html

Please feel free to comment on this issue if you have further quest

[2017-05-30 10:21] #2672 closed

[2017-05-30 10:21] jni commented on #2672
(And btw use `skimage.io.imsave` or `imageio.imsave` to save the image!)

[2017-05-30 12:15] noamraph commented on #2103
I would really appreciate removing the matplotlib dependency, for all the reasons stated above.

About image export, I don't understand why not use Pillow.

About user experience, I think that raising an exception saying "Please install matplotlib to use this" is the best approach. The minority of users that don't yet have matplotlib installed will know immediately what to do.

[2017-05-30 12:46] jni commented on #2103
@noamraph thanks for the ping! So by my reading, #2281 was merged (with https://github.com/scikit-image/scikit-image/issues/2596), which *should* mean that you can at least `pip install git+https://github.com/scikit-image/scikit-image --no-deps -U` and have a working installation, even without matplotlib installed.

We now depend on Pillow, too, so that's done.

@scikit-image/core anyone up for mo

[2017-05-30 15:31] leducvin commented on #1732
@gazzar I don't know if this is relevant really, but `matplotlib.pyplot.imshow` indeed shows the center of an array to be at `(rows / 2 - 0.5, cols / 2 - 0.5)`. Looking at the source code of the `skimage.transform.rotate` function, `rows` is interpreted as `image.shape[0]` and `cols` as `image.shape[1]`.

[Actually, `center = np.array((cols, rows)) / 2. - 0.5` is used in the source code and not `c

[2017-05-31 08:31] soupault commented on #2103
@jni I'd be fine with this. Although, we should agree on the way we handle optional imports first.

[2017-06-01 09:33] aswalters commented on #2551
I encountered this bug as well when trying to use this function to calculate maximum intensity values using a saturated psf. If you would like I can try and reproduce the bug using different input but below is the proper solution to just fix the code so this can never happen.

The solution is to use machine epsilon:

`eps = np.finfo(image.dtype).eps`
`x = convolve_method(im_deconv, psf, 'same')`
`

[2017-06-03 13:44] simflin opened #2674 "Strange behavior of 'label2rgb' function"
Hello
I've found some strange behavior of function `skimage.color.label2rgb` that I would consider as a bug. I usually use this function for coloring results of pixel-wise semantic segmentation methods. This usecase assumes that I have a predefined and fixed label-to-color correspondence and want to transform labels to colors according to this. And this is how `label2rgb` worked in 0.12.3. But in

[2017-06-05 00:24] jni commented on #2674
Hi @simflin, thanks for the report!

It's unclear whether it's a bug or a feature. The behaviour changed in ea40a555, because of a report that `label2rgb` couldn't handle negative labels. Whoops!

We'll probably have to have a discussion about adding a keyword argument to control this behaviour, but in the meantime, your problem is actually the easiest possible case for label2rgb, and you could wr

[2017-06-05 00:27] jni commented on #2674
Actually, silly me, you don't even need the one liner:

[code]

=P

[2017-06-05 08:20] soupault commented on #2674
I agree. Negative labels and convenient label<->color correspondence aren't really compatible as is. The only non-destructive way to address the issue I see is to add `labels` argument where user is supposed to pass the list of labels of the same length as `colors`.

[2017-06-05 11:34] simflin commented on #2674
@soupault could you please briefly describe, what was the usecase for negative labels? It's not clear from code and I can't find any issue about it. Maybe there is some way to support this functionality without breaking backward compatibility.

[2017-06-05 15:00] soupault commented on #2674
@simflin seems to be a flash fix without a thorough discussion (most of which is in https://github.com/scikit-image/scikit-image/issues/2225). In my opinion, this should've taken another road, so I'd vote to revert the change.

Maybe we could get some commentary from @stefanv @ahojnnes ...

[2017-06-05 18:41] simflin commented on #2674
Well, seems if it is necessary to save the behavior checked by '[test_nonconsecutive](https://github.com/YueHazelZheng/scikit-image/blob/master/skimage/color/tests/test_colorlabel.py#L80)', an additional argument will have to be added since this behavior is incompatible with strict label-to-color correspondence. As for me, the result of label2rgb in 0.12.3 for this case was valid because docs expl

[2017-06-07 17:45] martinberoiz commented on #2429
I'd be interested in this feature

[2017-06-07 23:09] TheShadow29 opened #2675 "io.imshow_collection always creating a new figure"
I am using `io.imshow_collection` in ipython notebook. Here is the code
[code]
This code opens up two figures Figure1 and Figure2, with `io.imshow_collection(a1)` showing the images on the second figure. Instead if I were to use only a single image, then only one figure shows up, with the image being shown. Below is the code for one img.
[code]
Where am I going wrong?

[2017-06-09 01:42] jni commented on #2674
My perspective on this is that this function (and all scikit-image functions) should primarily support use cases that are not solved by a single NumPy expression. It's annoying that we broke backwards compatibility, but the function was always designed to cycle colors, rather than provide a direct and reproducible mapping. This is vaguely implicit in the docstring: "The result of blending a cyclin

[2017-06-09 10:45] trummelbummel commented on #1730
+ 1

[2017-06-09 18:11] TheShadow29 opened #2676 "possible bug in io.imshow_collection for more than 6 images"
- [x] Code example (attached inline)
- [x] Relevant images (attached inline)
- [x] Operating system and version : Ubuntu 16.04
- [x] Python version : 2.7.12
- [x] scikit-image version : 0.13.0

The issue is if I try to do imshow_collection on all the images from a list it shows some garbage values.
[code]
This outputs in the following image:

![screenshot from 2017-06-09 11-06-39](https://user-ima

[2017-06-10 01:14] TheShadow29 opened #2677 "exposure.equalize_hist doesn't output the same type as the input"
I am not completely sure if it should be a feature request or a bug.
Currently exposure.equalize_hist given an image of input of type uint8 outputs an image of type float64. The proposal is to give the output in uint8 format itself.
Current implementation:
[code]
Output:
[code]
#1192 mentions this, but the issue is not really addressed.
To be honest I am not even sure why the output image is of ty

[2017-06-10 12:44] #2406 closed

[2017-06-10 19:34] soupault opened #2678 "Plot a grid of images rather than a row with `imshow_collection`"
## Description
See https://github.com/scikit-image/scikit-image/issues/2676 for the current behaviour. I suggest to use `montage_nD` before plotting, or just plot the images on a square grid (n*n, where `n = ceil(sqrt(len(image_collection)))`).

[2017-06-10 19:36] soupault commented on #2676
I don't see a bug here. It is rather a peculiarity of matplotlib plotting engine.

Here is how it look on my PC (latest versions of Python, skimage, matplotlib):
![figure_1](https://user-images.githubusercontent.com/1315589/27005671-aba15906-4e2b-11e7-8f0b-367db3e0cd51.png)

By the way, what is your `matplotlib` version?

[2017-06-10 19:53] soupault commented on #2675
You are correct: this line https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_plugins/matplotlib_plugin.py#L156 allows to reuse the existing figure for `imshow`. I understand that this looks inconsistent from user point of view, but it is not clear how to make `imshow_collection` performing in the same way: it need a figure with the number of `axes` equal a number of images in th

[2017-06-10 19:53] #2675 closed

[2017-06-11 02:03] jni commented on #2676
Well, at the minimum I would say that we should try to extract some approximate nrow and ncol factors from the number of images, and plot the images using those, rather than in one big row, which will be useless except for a tiny number of images.

[2017-06-11 02:13] jni commented on #2676
Oh LOL I just saw #2678. I'll go back into my hole now. =P

[2017-06-11 02:59] tacaswell commented on #2676
That is a fun corner case of fixed aspect ratio on `Axes` objects fighting back....

[2017-06-11 05:03] soupault commented on #2678
@jni I guess that (https://github.com/scikit-image/scikit-image/issues/2676#issuecomment-307601196) is a +1 from you? :)

[2017-06-11 06:44] jni commented on #2678
Haha yes, although the "standard" aspect ratio for a mpl figure is 4:3, so we should aim for that ratio in our auto-grid. There is no doubt an interesting factorization problem in here that I am too lazy to solve at the present time. =)

[2017-06-11 10:15] TheShadow29 commented on #2675
@soupault Is there any way to get the plt.figure() out from imshow_collection. Because as is, I couldn't find a way to put a title to imshow_collection. My main motivation for this was to use the current plt.figure() and then easily use the plt.title() and be able to set all other attributes.

[2017-06-11 13:57] johnflux opened #2679 "colorconv cannot work"
## Description

Doing:

    skimage.color.convert_colorspace(image, 'RGB', 'YCbCr')

Doesn't work, because skimage/color/colorconv.py  does:

    todict = {....  'YPbPr': rgb2ypbpr, 'YCbCr': rgb2ycbcr}
    tospace = tospace.upper()
    if tospace not in todict.keys():
        raise ValueError('tospace needs to be one of %s' % todict.keys())

Obviously 'tospace.upper()' can never match the mixed ca

[2017-06-11 16:09] soupault commented on #2679
@johnflux Thanks for reporting!

[2017-06-11 16:27] soupault commented on #2675
@TheShadow29 At the moment, not. I think, it would be much easier for you to reimplement the function in the way you find convenient.

[2017-06-12 16:42] TheShadow29 commented on #2678
@jni Where is the factorization problem? Isn't it best to do something like `nrow = int(n ** .5)` where `n = len(img_collection)` and then `ncol = n/nrow + int((n%nrow + (n-1))/n)`, i.e. if the nrow divides n, `ncol = n/nrow` else `ncol = n/nrow + 1`.

[2017-06-12 18:22] stefanv commented on #2646
Another user report: https://mail.python.org/pipermail/scikit-image/2017-June/005260.html

[2017-06-12 23:40] ksurya commented on #2646
The below source code demonstrates the potential bug:

[code]

![screen shot 2017-06-11 at 11 56 31 pm](https://user-images.githubusercontent.com/932927/27059861-fc1b0f54-4fa6-11e7-973c-3e147b5d7901.png)

[2017-06-13 08:04] jni commented on #2678
@TheShadow29 That assumes you want nrows ≈ ncols, which is less ideal than 4 nrows ≈ 3 ncols for common matplotlib figsizes. But, yes, that scheme would be much much better than what we have now.

[2017-06-13 08:11] #2628 closed

[2017-06-13 08:16] jni opened #2681 "Tests failing under NumPy 1.13"
## Description
Oops! Turns out `-=` with Boolean arrays is deprecated, and we use it at least thrice:

https://travis-ci.org/scikit-image/scikit-image/jobs/241801969

[code]

[2017-06-13 14:22] stefanv opened #2682 "Add ability to calculate moments from coordinates (not only image)"
Currently, scikit-image can only calculate moments (and, by implication, hu moments) from full images.  We should extend this to also work for arrays of coordinates.

- https://mail.python.org/pipermail/scikit-image/2017-June/005264.html
- http://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.moments

[2017-06-13 16:28] TheShadow29 commented on #2678
@jni I dont have a concrete proof that this will always result in the best factorization but here it goes. We need `4r ≈ 3c ≈ k` which implies `r ≈ k/4` and `c ≈ k/3`. Let `Total images = N`. Now `rc = N`, which implies `k^2 = 12*N`, which gives `k =  (12*N)**0.5`. Now we get `r = int(k/4)` or `r = int(k/4) + 1`, and get `c = N/r` or `c = N/r + 1`. And just check which of the two gives a closer ra

[2017-06-14 07:59] jni commented on #2678
👏👏👏

That's what I meant I was too lazy to work out, very nice and clear. =)

[2017-06-18 16:42] soupault commented on #2667
@qiujian3328103 I'd double @\foloumi - for your case is more efficient to use thresholding methods (we have a lot of them, see http://scikit-image.org/docs/dev/auto_examples/xx_applications/plot_thresholding.html) optionally followed by morphology operations (such as `closing` http://scikit-image.org/docs/dev/api/skimage.morphology.html#skimage.morphology.closing).

Closing this as not an issue, b

[2017-06-18 16:42] #2667 closed

[2017-06-19 04:07] TheShadow29 commented on #2677
@soupault can you have a look at this too?

[2017-06-19 07:31] jni commented on #2677
Hi @TheShadow29

I think the difference is much smaller than you think. One of the perils of working with uint8 instead of float! `abs(img12 - img2)` will result in negative values, anywhere `img12` is smaller than `img2`, looping back to 255. Try `diff = abs(img12.astype(float) - img2.astype(float)).astype('uint8')`, then compute the mean and max of that image.

I don't know that it's generally t

[2017-06-19 16:41] TheShadow29 commented on #2677
@jni I should've been more careful in using the absolute value it seems. Here are the images you requested.
![rice](https://user-images.githubusercontent.com/10602903/27295614-5d721c18-54d2-11e7-935d-908fe24bb96d.png)
![rice_eq](https://user-images.githubusercontent.com/10602903/27295634-7290edae-54d2-11e7-9dcf-81ae05770daa.png)

[2017-06-19 16:54] TheShadow29 commented on #2677
Yes its true that it would be a more faithful histeq. But I feel that it shouldn't really be the case when the input image is of uint8. I  mean when the input is itself has 8bit precision it seems counter intuitive to use more precision in the intermediate process.

Anyways here is the new difference image. And yes now it does seem like the error is much lower than I expected. I had to get rid of

[2017-06-19 20:08] TheShadow29 commented on #2678
Well I was thinking that we could actually take a note of how many images are present and if it is more than a threshold, we can create a new figure window for the same.
And if no one has started working on this, I would like to do so. But this would be my first contribution so I might need some help.

[2017-06-20 06:41] soupault commented on #2678
@TheShadow29 that sounds handy, although I'm not really a `imshow_collection` user. If we decide to implement such option, I'd prefer to have a parameter to the function (e.g. `batch_size`) which will default to `None` (users have a wide range of screen diagonals, so putting a fixed threshold be default is suboptimal :) ).

[2017-06-20 11:01] jni commented on #2678
@TheShadow29 please do, we will be happy to guide you! We try to provide lots of guidance to new contributors. Many stick around, such as myself or @soupault 👋 👋!  =)

[2017-06-20 14:43] TheShadow29 commented on #2677
Excellent description and comparison. Thanks a lot @jni

[2017-06-20 14:46] TheShadow29 commented on #2678
@soupault yes batch size would be more preferable, didn't think of the screen sizes.
@jni Great. I will make the pull request in a day or two. Hoping to stick around as well.

[2017-06-21 05:34] pmagwene opened #2685 "scikit-image docs exhibit weird regression on firefox -- text doesn't show"
## Description

Using Firefox 53.0.3 (64-bit) on Linux, HTML documentation is missing text. Don't know if this is a Sphinx/Scikit-Image issue or Firefox, but no problem viewing scikit-learn or any other sites. Same sites/files view fine on Chromium.

## Way to reproduce
Fire-up fresh firefox instance and try and browse scikit-image documentation either on line or built locally.

[2017-06-21 05:49] soupault commented on #2685
@pmagwene any specific page where to check first? I've just tried browsing the site via Firefox 64.0 (64-bit), and haven't found any issues. Also, try to disable your extensions (if any).

[2017-06-21 19:29] pmagwene commented on #2685
I tried with a default firefox profile and got the same result. The PNG linked below shows what I'm seeing on the base page for the docs.  I've updated to Firefox 54, and am seeing the same issue.

PNG screenshot showing issue:  https://raw.githubusercontent.com/pmagwene/bug-reports/master/scikit-no-text.png

I think this relates to the web fonts being used -- when I disable the "Allow pages to ch

[2017-06-21 19:43] pmagwene commented on #2685
The font-family specification in custom.css seems to be the source of the issue. Changing the font-family to something other than Lato seems to fix the issue, which is weird since Lato is installed on my system.  In any case, I would expect the browser to fall back to the default sans-serif if Lato was missing.
[code]

I'm guessing this is some weird interaction between Lato and Firefox that's par

[2017-06-21 19:43] #2685 closed

[2017-06-21 20:06] stefanv commented on #2681
This is going to be problematic for our SciPy 2017 tutorial.  @jni Do you think we can patch the current release in the next week or so?

[2017-06-21 20:11] matthew-brett commented on #2681
I think the plan is to release numpy 1.13.1 soon, where the error is reverted to deprecation again.

[2017-06-22 05:27] jni commented on #2681
@matthew-brett Can "soon" be taken to be synonymous with "before SciPy 2017"? =)

[2017-06-22 08:20] matthew-brett commented on #2681
:) - @charris - what are the odds of numpy 1.13.1 being out before Scipy 2017?

[2017-06-22 13:35] charris commented on #2681
@matthew-brett Pretty good. I would have done it this week, but there are still a few issues to deal with. Then there is the wheel-build Python 3.6.1 problem. Have we determined a solution to that yet?

[2017-06-23 21:25] jakirkham commented on #2681
Also fun fact that I discovered recently. [`numpy.diff`]( https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.diff.html ) raises this error on boolean arrays as well. So if one calls [`peak_local_max`]( http://scikit-image.org/docs/0.13.x/api/skimage.feature.html#skimage.feature.peak_local_max ), which can take a boolean mask, this will fail.

[2017-06-26 13:50] RojunLin opened #2686 "Fail to import Segmentation from skimage"
## Description
Hi, guys. I want to test the function of data augmentation with this python file（https://github.com/aleju/imgaug/blob/master/imgaug/augmenters.py）, and I have successfully import measure, transform module from scikit-image, but there is something wrong with importing the segmentation module from scikit-image. What's more, when I try to import segmentation module on the python termin

[2017-06-26 14:12] soupault commented on #2686
@RojunLin Hi!
Before we start digging into the issue, I'd really encourage you to update your `numpy`, `scipy`, and `scikit-image` to the latest stable versions. `scikit-image==0.9.3` is, like, 4 releases (~ 4 years) behind, and is, most likely, significantly different in functionality and structure from the current version.

You could do this from the console by:
[code]
Please, make the correspon

[2017-06-26 18:48] chuymtz opened #2687 "Can skimage.morphology handle 1-D examples (signals)"
## Description
Can skimage.morphology handle 1-D examples (signals)? I have a signal and want to apply this filter but I'm not able to specify the structural element correctly.

Am I right to think that this should work as a valid selem: array([0, 1, 0])

This is what I'm trying where x is a one dimensional array

[code]

The error I get is

[code]

[2017-06-27 00:30] TheShadow29 opened #2688 "`rectangle` function for `skimage.draw`"
Currently the  [skimage.draw](http://scikit-image.org/docs/dev/api/skimage.draw.html) doesn't support drawing a rectangle directly. To do so one has to input all 4 points in the polygon function.

For most purposes for saving bounding boxes ((x1,y1), width, height) is required. Example [cv2](https://stackoverflow.com/questions/23720875/how-to-draw-a-rectangle-around-a-region-of-interest-in-python)

[2017-06-27 06:21] RojunLin commented on #2686
Hi, @soupault ! I have updated the version of the scikit-image to 0.12.3, but it still fail to import segmentation module.

[2017-06-27 06:34] RojunLin commented on #1308
I have met the same problem in Ubuntu14.04 with scikit-image 0.12.3. As I  import segmentation module in py file, it returns:
`Exception TypeError: TypeError("'NoneType' object is not callable",) in <bound method UmfpackContext.new_del of <scipy.sparse.linalg.dsolve.umfpack.umfpack.UmfpackContext object at 0x7efcffa935d0>> ignored`
Do anyone else have resolved this problem?

[2017-06-27 07:35] soupault commented on #1308
Confirmed by @RojunLin once again that everything is fine with the lastest (as of June 2017) `scipy` and `scikit-image`.

[2017-06-27 07:35] soupault commented on #2686
@RojunLin perfect!

[2017-06-27 07:35] #2686 closed

[2017-06-28 10:19] SANCHITGITHUB commented on #2440
Traceback (most recent call last):
  File "C:\Users\HP\Desktop\opencv\scanner.py", line 3, in <module>
    from skimage.filters import threshold_adaptive
  File "C:\Users\HP\Desktop\opencv\skimage\__init__.py", line 157, in <module>
    _raise_build_error(e)
  File "C:\Users\HP\Desktop\opencv\skimage\__init__.py", line 138, in _raise_build_error
    %s""" % (e, msg))
ImportError: DLL load failed:

[2017-06-28 10:33] soupault commented on #2440
@SANCHITGITHUB

1. Could you elaborate on why you have `skimage` in `opencv` folder?
2. How did install `opencv` and `skimage`?
3. What is in the script you are executing?

[2017-06-28 10:51] SANCHITGITHUB commented on #2440
1. I was learning making a scanner in which skimage is bieng used
2. I installed it through pip install
3. python

On Wed, Jun 28, 2017 at 4:03 PM, Egor Panfilov <notifications@github.com>
wrote:

[2017-06-28 11:57] soupault commented on #2440
@SANCHITGITHUB it seems to me that you're executing something from `C:\Users\HP\Desktop\opencv`. As far as there is a `C:\Users\HP\Desktop\opencv\skimage` folder, it is being used for import instead of system-wide `skimage` installation. You should work with `skimage` which is properly installed (for example, via `pip`), as there are some Cython code which needs to be build, not the `skimage` just

[2017-06-29 04:54] SANCHITGITHUB commented on #2440
I just removed skimage from local directory and tried to run this code to
check

from imutils.perspective import four_point_transform
import imutils
from skimage.filter import threshold_adaptive
import numpy as np
import argparse
import cv2

it gave me the following error

Traceback (most recent call last):
  File "C:\Users\HP\Desktop\opencv\scanner.py", line 3, in <module>
    from skimage.filter

[2017-06-29 05:38] soupault commented on #2440
@SANCHITGITHUB it explains the issue pretty clear. There is no `skimage.filter` module. Since recently it is renamed to `skimage.filters`.

[2017-07-05 07:47] hko-gh opened #2691 "morphology.local_maxima errors when no maxima present"
## Description
When invoking morphology.local_maxima with an array where all values are equal, it should return zeros_like(image). Instead, it errors. The error is in _find_min_diff:
[code]
img_vec has just 1, thus the argument for np.min is an empty array, which leads to the error
I guess, this could be easily fixed by returning 0 if img_vec.shape == (1,). Then, in case of 0 the local_maxima shou

[2017-07-05 12:29] jni commented on #2691
Thanks for the report @hko-gh!

[2017-07-07 21:12] stefanv commented on #2440
@SANCHITGITHUB Please follow the installation instructions on the website step by step.  If that does not work, try doing the same, but in an entirely new virtual environment (or conda environment, if that's what you're using).

[2017-07-07 21:19] stefanv commented on #2687
We don't deal with <2D in general, but if you really want to you can repack your arrays as 2D structures using `np.array(x, ndmin=2)`.

[2017-07-07 21:21] stefanv commented on #2681
I guess the question now becomes: will numpy 1.13.2 be out in time for SciPy 2017?

[2017-07-07 22:19] charris commented on #2681
@stefanv What's the problem.

[2017-07-09 02:13] jglaser opened #2693 "marching_cubes_lewiner() with allow_degenerate=False gives data type error"
## Description
see subject, I get

[code]

## Way to reproduce
Everytime the allow_degenerate option is set to False. I am using Python 3.5.

[2017-07-11 06:00] stefanv opened #2695 "Wording on order of iteration is confusing in user guide"
"When the dimension you are iterating over is even larger, the speedup is even more dramatic. It is worth thinking about this data locality when writing algorithms. In particular, know that scikit-image uses C-contiguous arrays unless otherwise specified, so one should iterate along the last/rightmost dimension in the innermost loop of the computation."

This can be interpreted in many ways, and c

[2017-07-11 08:15] jni commented on #2687
@stefanv I'd like to revisit this — I don't think it's unreasonable to expect many of our functions to work on 1D data. (@soupault: your assignment was spot-on 😆  — sorry for the silence, been a crazy few weeks for me) And certainly `m, n = selem.shape` is a terrible idiom for any function that should be nd. I'm reopening this, and I'll try to handle this.

@chuymtz thanks for the report. We'll tr

[2017-07-11 19:44] stefanv opened #2696 "Odd keyword name `min_size` for morphology's `remove_small_holes`"
Should the `min_size` parameter be `max_size`, or something else entirely?  It's not a very intuitive naming.  At worst, we should document this well.

/cc @mcquin

[2017-07-11 19:51] ddasilva opened #2697 "Broken link on inpainting example"
On the inpainting example at:
http://scikit-image.org/docs/dev/auto_examples/filters/plot_inpaint.html#sphx-glr-auto-examples-filters-plot-inpaint-py

The third link is 403 forbidden:
``
N.S.Hoang, S.B.Damelin, “On surface completion and image inpainting by biharmonic functions: numerical aspects”, http://www.ima.umn.edu/~damelin/biharmonic
``

[2017-07-11 20:24] mcquin commented on #2696
I think `max_size` is more intuitive than `min_size`. When I read `remove_small_x`, I think about removing x up to `max_size` rather than keeping x above `min_size`.

The word "size" is another point of confusion. It could help to define "size" as "total pixels".

[2017-07-11 20:36] stefanv opened #2698 "RANSAC: Check for updates"
It looks like RANSAC may have been implemented inside of scikit-image & learn around the same time, by the same @ahojnnes :)  In the mean time, some errors have been fixed on either side.

We should compare the two implementations, and port fixes to either side as needed.

[2017-07-12 01:43] kne42 commented on #2696
I think that as `remove_small_holes` effectively _filters_ out the blobs based upon their area, a **threshold**-themed keyword name would make the most sense, such as `area_threshold`.

[2017-07-12 12:01] jmetz opened #2700 "Bright ridge detection not working as expected with Frangi"
## Description
Frangi filter doesn't work with `black_ridges=False`.

The only way to get a sensible result is to invert the image and keep `black_ridges=True`.

## Way to reproduce
Making only minor edits to the Frangi example:

*NB I also switched the image to `float` to get a better result from the Hessian...*

[code]

Produces
![figure_1-1](https://user-images.githubusercontent.com/1950756/281

[2017-07-12 13:39] jmetz commented on #2700
Would it be acceptable to simple invert the image in the `frangi` function if `black_ridges` is `False`?

If so I'd be happy to submit a quick fix - otherwise more digging into the issue with the underlying `_frangi_hessian_common_filter` will be needed.

[2017-07-12 20:14] soupault commented on #2697
I couldn't find any alternative links.

[2017-07-12 20:36] ddasilva commented on #2697
Fine by me. I fount it through google cache. Maybe it will reappear later.

[2017-07-13 08:27] vanpact opened #2702 "skimage.resize bug with ints"
Hi,
Enlarging a 3d numpy array with dtype=np.int using skimage.resize (mode='edge') gives me a float output with all the values close to 0. This is a weird behaviour.

workaround: convert the image to float before calling the function and convert back to int after the function call

proposal: make this conversion internally?

Software version:
Windows 10 x64
python 3.5 x64
skimage version: 0.13
nu

[2017-07-13 10:52] soupault commented on #2702
@vanpact could you give us an example of array you are trying to resize? The behaviour might depend on dtype and value range of the input.

[2017-07-13 11:55] vanpact commented on #2702
`import numpy as np`
`from skimage.transform import resize`
`vec = np.ones((480, 480, 3), dtype=np.int)*40`
`vec2 = resize(vec, (736, 736, 3), mode='edge')`
`print(np.max(v2))`

result: 6.98491...e-10

[2017-07-13 17:52] TheShadow29 commented on #2688
If no one is working on this, I would like to do so. The easiest way seems to directly use the Polygon function after getting the 4 coordinates of the rectangle? Or perhaps directly use the line function?

[2017-07-13 21:42] emmanuelle opened #2704 "Gabor filters are not 3-D compatible"
At the moment, Gabor filters are not 3-D compatible.

See http://demonstrations.wolfram.com/Gabor3D/ for the shape of a Gabor kernel in 3D, and http://www.sciencedirect.com/science/article/pii/S0262885605000934 for an example of using 3D Gabor filters

[2017-07-13 21:57] emmanuelle commented on #2702
Thank you, this is bad :-(. Hope we have time to address this bug during the sprint.

[2017-07-14 08:10] jni commented on #2702
I'm not sure this is a bug, but rather unexpected behaviour in conversion to float because of our [dtype ranges](http://scikit-image.org/docs/dev/user_guide/data_types.html):

[code]

Overhauling the dtype conventions is a good idea (we get lots of questions and bug reports related to it), but probably too ambitious a goal for the sprint. ;)

[2017-07-14 08:12] jni commented on #2702
Incidentally, we have a workaround in place: use the keyword argument `preserve_range=True`. See the documentation here:
http://scikit-image.org/docs/dev/api/skimage.transform.html#skimage.transform.resize

[2017-07-14 13:53] soupault commented on #2688
Although I understand the popularity of `((x1, y1), width, height)` format, I think that it is quite simple to build something on top of http://scikit-image.org/docs/dev/api/skimage.draw.html#skimage.draw.polygon_perimeter . Above said, I'd keep the implementation of this conversion up to the user.

[2017-07-14 15:00] 0x00b1 commented on #2688
I needed this today. Enjoy!

[code]

[2017-07-14 19:21] taion commented on #1737
It would be great if `img_as_float` didn't generally convert float32 to float64. We're seeing that when running something like `warp` on a `float32` image, a significant fraction of the time is spent unnecessarily converting the image into `float64`, which does little to really improve the output quality.

[2017-07-15 14:24] emmanuelle commented on #2697
We should try to find another relevant link or just remove this one, because this paper does not seem to be published or have a DOI. Plus, the link is broken.

[2017-07-15 15:05] emmanuelle commented on #2589
ping @stefanv this might be a good thing to do during the SciPy sprint

[2017-07-15 15:52] stefanv commented on #2688
Let's implement this, but in N-dimensions.  The signature would be `draw_something(origin, shape)` or similar.

[2017-07-15 15:56] stefanv commented on #2676
This issue will be fixed by #2678.

[2017-07-15 15:56] #2676 closed

[2017-07-15 16:47] stefanv commented on #2674
The docstring does not specify explicitly what should happen in this case, so we have the option to go either way.  But by default we only have 10 colors, and you typically have many more labels.  In your use case you seem to have a one-to-one mapping, which we could support by also allowing a callable, `index_to_color(idx)` to be given for the `colors` argument; that way, you can make arbitrary m

[2017-07-15 16:48] stefanv commented on #2668
We definitely need to blur before downsamping; results are terrible otherwise.  I've just never had a good reference for this in the past; do you?

[2017-07-15 16:51] stefanv commented on #2660
@stamaimer Are you still interested in resolving this issue?

[2017-07-15 16:53] stefanv commented on #2653
Thanks for helping out, @swiftdiaries.  Since this is a NumPy array operation, we'll not include that functionality for now.

[2017-07-15 16:53] #2653 closed

[2017-07-15 16:56] stefanv commented on #2651
Please use the existing `TODO.txt` to track this information.

[2017-07-15 16:56] #2651 closed

[2017-07-15 16:59] stefanv commented on #2613
We should never guess whether the input is multi-channel or not.  However, setting multichannel to None holds an advantage: None can mean "False", but raise a warning if it looks like multi-channel data got passed in (that's a useful warning!).  If the user explicitly sets the flag to True or False, you don't need to do the check.  We can factor this out into a little utility function, if that's h

[2017-07-15 17:07] stefanv commented on #2605
Yes, unfortunately the `.meta` attribute approach is not viable (the reason why the Image class didn't work either).  I'm in favor of option (b).  It's a bit annoying to have to drag these two objects around all the time, but at least we're explicit in where the metadata lives.

Now, w.r.t. API: there's a subtle distinction between meta data and keyword arguments.  Keywords tells the function "thi

[2017-07-15 17:09] stefanv commented on #2602
Why don't we just remove this warning entirely?  It seemed like the proper thing to do at the time, but it's never been useful.

[2017-07-15 17:11] stefanv commented on #2573
@germunwang I'd like to clarify: do you think you've uncovered a bug here?

[2017-07-15 17:13] stefanv commented on #2551
@aswalters Your solution looks like a very typical approach taken when applying inverse filters.  Can you please provide a failing test and make a PR?  We'd appreciate that very much, thank you.

[2017-07-15 17:15] stefanv commented on #2550
@yxdragon Sorry for not noticing this issue sooner; can you give us a bit more information here?  I'm trying to understand what is wrong, and how you propose we fix it.

[2017-07-15 17:16] stefanv commented on #2531
/cc @jni

[2017-07-15 17:17] stefanv commented on #2485
See https://github.com/scikit-image/scikit-image/issues/2698

[2017-07-15 17:24] stefanv commented on #2475
Python should free your memory, but if `gc.collect` doesn't work, I don't know what else we can do.  I'm sorry that I can't help, but this is outside the scope of skimage, and you may be better off asking @fabianp, @carreau, or @ivanov

[2017-07-15 17:24] #2475 closed

[2017-07-15 17:30] stefanv commented on #2347
I think this is cute, but probably slightly outside scope.  I'm going to close for now, but if you find a well cited paper out there, let me know!

[2017-07-15 17:30] #2347 closed

[2017-07-15 17:34] stefanv commented on #2296
Discussion stalled, closing.

[2017-07-15 17:34] #2296 closed

[2017-07-15 18:23] germunwang commented on #2573
Hi, @stefanv
Actually I think it's not a bug in the end (for your *ITU-R_ BT.601 conversion YCbCr)*.
But it will be a problem when using *JPEG conversion YCbCr* (What the rgb2ycbcr conversion  I need and using by PIL Image) for this function directly.

For example if i change the translation matrix (as the formula from wiki):

[code]
to
[code]

then there will be a problem resulting an error value

[2017-07-15 20:38] jglaser commented on #2693
Note this only occurs when `spacing=[dx,dy,dz]`  is supplied together with `allow_degenerate=False`

[2017-07-15 21:04] stefanv opened #2709 "Port image reading to imageio and add imread_meta"
Also see:

- https://github.com/scikit-image/scikit-image/issues/2605
- https://github.com/scikit-image/scikit-image/issues/2175
- https://github.com/scikit-image/scikit-image/pull/1995
- https://github.com/scikit-image/scikit-image/pull/2240#issuecomment-258586091

[2017-07-15 21:04] stefanv commented on #2175
See https://github.com/scikit-image/scikit-image/issues/2709

[2017-07-15 21:04] #2175 closed

[2017-07-15 21:10] stefanv opened #2710 "Remove matplotlib as required dependency"
Matplotlib is a large dependency, and is not needed for the vast majority of skimage code.

1. Make sure matplotlib is imported when needed (and not in any top level submodules)
2. Ensure one of the entries in the test matrix runs without matplotlib
3. Check whether image IO runs properly on PIL when matplotlib is missing

See also: https://github.com/scikit-image/scikit-image/issues/2103

[2017-07-15 21:10] stefanv commented on #2103
I turned this into a concrete task at #2710

[2017-07-15 21:10] #2103 closed

[2017-07-15 21:40] probinso commented on #2691
May be helpful to add flat-image behavior to docstrings of `local_minima` and `local_maxima` as the current description doesn't in these cases

[2017-07-15 21:48] stefanv commented on #2691
@probinso Is the current behavior (after merging the other PR) different from what one would expect by default?  If so, we should document for sure.

[2017-07-15 21:48] stefanv commented on #2691
Closing this issue, since merged in #2699

[2017-07-15 21:48] #2691 closed

[2017-07-15 22:10] florisvb opened #2711 "img_as_float is slower than it should be"
## Description
In making an example to demonstrate how to convert RGB images to Gray images I stumbled upon the following observation: the img_as_float function takes about twice as long as simply dividing the image by 255. (where the '.' is of course important). It seems to me that this should not be the case. I'm not sure how best to handle this without possibly breaking things.

See below code

[2017-07-15 22:11] stefanv commented on #2573
Thank you for letting us know!  If you think we can clarify this in the documentation, please don't hesitate to make a PR.

[2017-07-15 22:11] #2573 closed

[2017-07-15 22:12] probinso commented on #2691
@stefanv, In a flat image there are by definition no neighboring cells that are `strictly smaller than`, or `strictly less than`. Although I agree that the behavior should return `zeros`, the documentation is insufficient to describe this.

[2017-07-15 22:16] stefanv commented on #2691
@probinso Great, a docstring PR would be very welcome, then!

[2017-07-15 22:20] stefanv commented on #2711
Try the following in IPython:

[code]

On my system I see:

[code]

Check out `skimage.util.dtype.convert` for why we can't simply use `/ 255` ;)

[2017-07-15 22:20] #2711 closed

[2017-07-15 22:24] stefanv commented on #2367
@jmetz Did you get a chance to investigate further?

[2017-07-15 22:26] stefanv commented on #2094
If anything, this is a bug in matplotlib.  Thanks for reporting; I see @tacaswell took note.  Closing.

[2017-07-15 22:26] #2094 closed

[2017-07-15 22:39] stefanv commented on #2077
@jmetz I can't quite wrap my head around the linear assignment problem, or how it would apply here.  Do you mind expanding?  The task at hand is: given a set of features in image A, and another in image B, which features match to which (if any).

If there are other algorithms for performing this task, I support the renaming mentioned above and approved of by @jni.

[2017-07-15 22:44] stefanv commented on #1608
apipkg is dead, and `np.lookfor` seems to get us almost all the way there.  I'm +1 on adding `skimage.lookfor`, let's discuss on #2426

[2017-07-15 22:44] #1608 closed

[2017-07-15 22:58] stefanv commented on #2426
See https://github.com/scikit-image/scikit-image/pull/2713

[2017-07-15 23:03] florisvb commented on #2711
For that test image I do get a comparable timing result to you.

I think it might have to do with the image size. The data.chelsea() image is [300,451], whereas the image I used the my test example is [720, 1280].

I dug around a little in `skimage.util.dtype.convert` and it appears to me that there is a likely redundant call to `astype`, checking to see if this call is redundant before making the

[2017-07-15 23:13] alleeclark commented on #2698
I don't think much can be changed on scikit-image based on new implementation in scikit-learn. Currently running test on #2485 to see if max_trials should be updated.

[2017-07-16 02:47] grlee77 commented on #2711
Yes, that would avoid an extra copy.  The following would be a more concise way to achieve the same:

[code]

(`asarray` only makes a copy when the dtype is not a match to the existing image).

[2017-07-16 03:07] florisvb commented on #2711
Thanks @grlee77 - that's a better approach. I didn't see it until after I filed the initial pull request, but have updated my PR to use your suggestion instead. Thanks!

[2017-07-16 03:27] florisvb commented on #2711
I messed up my previous pull requests since I'm a little new to git.. but I got it sorted out and filed a new PR.. sorry for any confusion! Still learning the process.

[2017-07-16 07:11] #2644 closed

[2017-07-16 11:55] fabianp commented on #2475
You might be able to localize the line that is consuming most memory using memory profiler (https://pypi.python.org/pypi/memory_profiler)

[2017-07-16 14:27] stefanv opened #2717 "Deprecate and remove uncited biharmonic inpainting"
There are *many* papers with >1000 citations available:

https://scholar.google.com/scholar?hl=en&q=inpainting&btnG=&as_sdt=1%2C6&as_sdtp=

[2017-07-16 19:20] chuymtz commented on #2687
Yes i think @stefanv suggestion is a good workaround. I read a paper where this type of transformation is used in the 1D case but have not been able to find an easy package to try it out.
Anyways I appreciate the responses. I very much look forward to your solution.

[2017-07-16 23:28] jmetz commented on #2367
@stefanv  - yes, I've figure it out and am preparing a PR - should have time to finish it tomorrow evening.

[2017-07-17 00:41] mwhudson opened #2721 "docs build fails with numpydoc 0.7.0"
## Description

If you just pip install numpydoc today and run 'make html' in doc you get:

[code]

Installing numpydoc 0.6.0 gets past this problem.

I have no idea if this is a numpydoc or scikit-image bug really...

[2017-07-17 00:52] mwhudson commented on #2721
Oh the error makes sense, apart from the "none in none" bit, this fixes it:

[code]

[2017-07-18 14:20] stefanv commented on #2721
https://github.com/scikit-image/scikit-image/pull/2723

[2017-07-18 14:21] #2721 closed

[2017-07-19 02:43] stamaimer commented on #2660
In my current calculate of circular of shape, The value is correct which between 0 and 1. Thanks for your help.

[2017-07-19 16:28] pavanyvs opened #2724 "Scikit image-Python: Colored Image unresponsive and gives an error"
## Description
[Please provide a general introduction to the issue/proposal.]
I am trying to read an image from the skimage.data. colored image appears but not responding . Also I am getting valurError. Here are my commands and errors.
[If reporting a bug, attach the entire traceback from Python.]

<matplotlib.image.AxesImage object at 0x0788BDF0>

Traceback (most recent call last):
  File "<pyshe

[2017-07-19 17:10] Carreau commented on #2475
IPython get a hold of returned results in its history. Try clearing the `Out` and `In` variables, and look at the `%who` and `%who_ls` magic to see where the memory is.

[2017-07-19 17:23] stefanv commented on #2724
Answered on S/O.  `plt.show()` should be used, not `plt.show(cat)`.

[2017-07-19 17:23] #2724 closed

[2017-07-19 17:36] stefanv commented on #2660
Thanks!

[2017-07-19 17:36] #2660 closed

[2017-07-19 18:24] stefanv commented on #2613
None is a standard symbol for "use the default value", wouldn't you agree?

[2017-07-19 20:23] jni commented on #2475
@Carreau would adding a semicolon to `.show();` stop IPython from caching that value?

[2017-07-19 20:42] Carreau commented on #2475
likely no. IPython only cache the value of the last expression of a cell. If it's in a function a `;` will have no effects. My guess is that  the cell display something that get cached by IPython and indirectly keep a ref to a large object.

I'll see if I can reproduce with a dummy example.

[2017-07-19 22:37] stefanv commented on #2367
Thanks, Jeremy!

[2017-07-19 22:40] stefanv commented on #2687
@jni OK to re-open, but please come with a concrete suggestion.  We have 245 open issues, so I'm trying to reduce the number of things we're paying attention to (this looked like lower priority, but let's talk).

[2017-07-20 00:31] TheShadow29 commented on #2688
@stefanv can you elaborate a bit more on what the function should exactly do? I am not sure what drawing in N-dimensions exactly means. Also should the origin be the center of the shape or one corner of the shape?

[2017-07-20 06:04] stefanv commented on #2688
Also see: https://github.com/scikit-image/scikit-image/pull/2719

[2017-07-20 07:59] jni commented on #2687
@stefanv the suggestion is to modify the code so that the answer to this issue's title is "yes". =P `ndimage.{binary,grey}_erosion` both support 1D signals so it's a bit of a regression that our own doesn't.

Actually I just looked at the code, and this might be a really simple fix: we kept `shift_x` and `shift_y` keyword arguments for backward compatibility ages ago. Obviously these are specific

[2017-07-20 09:36] soupault opened #2726 "Duplicate citation error in CI Python 2.7 build"
## Description

Potentially, introduced by https://github.com/scikit-image/scikit-image/pull/2723/ .

[code]

For example, see https://travis-ci.org/scikit-image/scikit-image/jobs/255458261.

[2017-07-20 10:16] jni commented on #2687
@stefanv there you go. =D

[2017-07-20 17:06] stefanv commented on #2687
Yes, exactly the right level of concreteness for my liking, thanks! 🏗

[2017-07-20 17:34] stefanv commented on #2726
Does this only happen on Python 2?  Is it tied to Python version or Sphinx version?  I compiled the docs successfully on my machine.

[2017-07-20 22:01] Carreau commented on #2475
That does not seem to seem to be IPython's fault:

[code]

the viewer seem to keep a ref to image_frames and the viewer itself it not gc'd

I maneged to get references to stuff like dict of  `_blit_manager`, `_event_manager`;  `<skimage.viewer.viewers.core.CollectionViewer at 0x10df5c4c8>` and `<bound method CollectionViewer.update_index of <skimage.viewer.viewers.core.CollectionViewer object at 0

[2017-07-23 19:46] tonypower opened #2728 "hough_circle_peaks not respecting min_xdistance, min_ydistance."
## Description
It looks like hough_circle_peaks  is not respecting min_xdistance, min_ydistance. Below I provide an example that is just a modified version of the example provided in http://scikit-image.org/docs/dev/auto_examples/edges/plot_circular_elliptical_hough_transform.html

## Way to reproduce
[code]

![hough_circle_skimage](https://user-images.githubusercontent.com/11573891/28502279-0d520

[2017-07-24 02:06] nguyenwestga commented on #2697
Here is an alternative link: https://arxiv.org/abs/1707.06567

[2017-07-24 07:31] soupault commented on #2697
@stefanv would you reconsider the removal of the algorithm from the library?

[2017-07-24 17:10] neok-m4700 opened #2729 "trouble installing with cython 0.26 (latest)"
I have an issue trying to install version 0.13.0 with latest cython 0.26

[code]
results in:

[code]

numpy 1.13.0
python 3.6.2

[2017-07-24 18:05] stefanv commented on #2697
Sorry, the ticket got closed with the merging of the other patch, but I agree with you that we should remove this function.

[2017-07-24 18:11] soupault commented on #2697
Wait... I'm not suggesting the removal, I'd rather vote to keep the functionality. It took me hell of a lot of time to push it into skimage several years ago :).

[2017-07-24 18:20] stefanv commented on #2697
Oh, I see ;)  Well, can you remind me why this specific method was chosen, and how we can motivate keeping it around, given that it seems to have zero citations?

[2017-07-24 18:40] stefanv commented on #2729
I cannot reproduce with the current Git source, Cython 0.26, np 1.13.1, Python 3.6

[2017-07-24 18:41] stefanv commented on #2729
Also, that line is no longer in the scikit-image source.

[2017-07-24 18:41] #2729 closed

[2017-07-24 20:58] neok-m4700 commented on #2729
Allright the issue was in measure/_ccomp.pxd

Fix for v0.13.0 is:
$ sed -i '/DTYPE =/d' skimage/measure/_ccomp.pxd

which has already been fixed in master.

Thanks

[2017-07-25 08:37] habi commented on #1627
I stumbled over this error while using the `skimage.filters.rank.maximum`-filter.
The above-linked page on data types throws a 404 error...

[2017-07-25 08:48] johnwog commented on #1890
i run the code again after conda updates
bf mode: 227.448886871
cg_mg mode: 1113.91149902
pyamg is installed in my machine.
I am using Sierra OS.
Any ideas what can be causing this issue?

[2017-07-25 10:54] N-McA opened #2733 "Rotate Accepts in range [0,128) and returns in range [0, 1.0]"
## Description
Rotate accepts input with RGB bytes and silently transforms it into floats in the range [0, 1].
I think either:
  Rotate and other transform methods that accept byte range values should warn when doing so, because the output format is changed.
Or
  Rotate and other transform methods that accept byte range values should return in the same format as the input.

If you guys can confirm

[2017-07-25 14:14] soupault commented on #2733
@N-McA most of the functions in `skimage` return or silently convert to&from float representation. This is an intended behaviour, and is preferred in order to produce accurate results. You can read more on this in http://scikit-image.org/docs/stable/user_guide/data_types.html .
`skimage` doesn't perform a lot of checks on inputs (otherwise, it would make many functions unreasonably slow (thanks to

[2017-07-25 14:14] #2733 closed

[2017-07-25 14:16] soupault commented on #2733
P.S. In your case, you probably should also specify `preserve_range=True`.

[2017-07-25 17:10] mcs07 opened #2734 "Allow specifying random seed for probabilistic_hough_line"
The `probabilistic_hough_line` algorithm contains a call to `rand` from `libc.stdlib` in the cython code. Would it be possible to add a seed parameter to the function, so the random seed could be controlled when calling from python?

[2017-07-25 17:57] stefanv commented on #2734
Yes, certainly; would you like to file a PR?

[2017-07-25 18:05] stefanv commented on #1890
If you have a minimal and runnable example, I can benchmark on my machines.

[2017-07-25 18:06] stefanv commented on #1627
Yikes, it looks like our docs build broke.  Thanks for noticing.

[2017-07-25 18:07] stefanv commented on #1627
For now, please refer to: http://scikit-image.org/docs/stable/user_guide/data_types.html

[2017-07-25 18:31] habi commented on #1627
Thanks, I already found that out :)

[2017-07-25 18:36] stefanv opened #2735 "Broken dev docs pushed to repo"

[2017-07-25 18:43] mcs07 commented on #2734
I'll have a go...

[2017-07-25 19:12] soupault commented on #2678
Closed via #2689 .

[2017-07-25 19:12] #2678 closed

[2017-07-25 21:17] soupault commented on #2735
Fixed manually for now.
Potentially, there is an issue during the doc build process (missing `sphinx-gallery` or something).

Let's keep the issue open, and wait for some pushes to the `master`.

[2017-07-25 21:41] stefanv commented on #2735
@soupault Everything seems to work again.  Do you have any idea what went wrong?

[2017-07-25 21:41] stefanv commented on #2735
That's true---we now need to install `sphinx-gallery`.  I'll make a PR.

[2017-07-25 22:51] tacaswell commented on #2094
Does not mean I _did_ anything about it....

[2017-07-26 08:11] soupault commented on #2735
Dev docs are missing again...

[2017-07-26 17:33] soupault commented on #2697
@stefanv Mostly because it gives good results in practice, and the implementation was finalized (the feature which other inpainting algorithms staging into `skimage` are currently lacking).

Doesn't mean that it is the only paper on the subject. I've just chosen the one which is closer to the topic of numerical implementation. The first paper in which the approach is described is http://www.scienc

[2017-07-26 19:00] stefanv commented on #2697
@soupault If you say it gives good results in practice, then there's motivation for keeping it in itself.  Let's link to the relevant papers you describe for now, and leave it at that.

[2017-07-27 19:25] #2693 closed

[2017-07-27 19:34] soupault commented on #2726
Probably, a flashing Sphinx bug. Hasn't been seen recently. Closing for now.

[2017-07-27 19:34] #2726 closed

[2017-07-27 20:42] soupault commented on #2735
@stefanv the docs are being pushed twice (e.g. https://github.com/scikit-image/docs/commit/e22fb42a3cc7f307c9e72afee1cac548948dd02f , https://github.com/scikit-image/docs/commit/8b23eea168b294da70617e400ebbbe6cc98dc53c ), but build only once for some reason.

[2017-07-28 17:51] stefanv commented on #2735
I keep forgetting: bash cares about spaces.  I pushed https://github.com/scikit-image/scikit-image/commit/acd065e0c5ace7c74b7df74aa7f79ad645744a9d as a quick fix (hopefully).

[2017-07-28 19:23] soupault commented on #2735
:astonished:
The docs are fine now. Closing.

[2017-07-28 19:23] #2735 closed

[2017-07-30 20:30] soupault commented on #2405
Closing as wontfix.

[2017-07-30 20:30] #2405 closed

[2017-07-31 17:51] jmetz commented on #2077
@stefanv as far as I understand it, the task at hand here is to match two sets of features (aka descriptors), based on some cost function.

A simple example could be two 2d point sets, A and B, and the cost function could be the pair-wise euclidean distance between them.

The simplest solution one might think of is to try and assign each point in A to it's nearest neighbour in B - a so-called "gre

[2017-08-01 18:13] stefanv commented on #2077
Thank you, that is informative.  That seems like a sensible feature to add.  Would you like to illustrate it's efficacy by modifying the panorama example from the tutorials with this approach?  Then we'll have a very solid motivation for integrating this functionality.

[2017-08-01 23:45] stefanv commented on #2726
I think I stopped building the docs on 2.7.  Not very important, I don't think, since we host the docs.

[2017-08-02 13:45] jmetz commented on #2367
Here's a summary of what I've found.

`skimage` uses the inertia tensor (via it's eigenvalues) to estimate the major and minor axis lengths; this is fairly standard and is also used e.g. in e.g. ImageJ's standard ellipse fitting routine.
However, this method does (I think) normalize using the image mass (sum), which is what's causing the issue.

Essentially the problem is that a hollow ring has th

[2017-08-02 14:20] root-sudip opened #2741 "TypeError: __init__() got an unexpected keyword argument 'orientations' in hog."
I have written a small program to compute the hog,
here is my code=>
[code]
After doing this, I am getting this error `TypeError: __init__() got an unexpected keyword argument `'orientations'
I have checked the scikit-image version that is => `0.13.0`

How do i fix this problem?

[2017-08-02 16:42] soupault commented on #2657
This brings difficulties with the new Travis environment (IIUC they use Trusty now):
[code]

[2017-08-02 17:04] soupault commented on #2741
First of all, you do not override the imported function `from skimage.feature import hog` with a class definition (`class hog:`). Just follow PEP8 (https://www.python.org/dev/peps/pep-0008/#class-names), and it will bring you to the light :wink: .

[2017-08-02 17:04] #2741 closed

[2017-08-02 17:47] stefanv commented on #2367
Thanks for investigating!  I'd suggest we add `convex_major_axis` and `convex_minor_axis`, to complement the existing `convex_*` attributes?

[2017-08-02 18:37] #2632 closed

[2017-08-02 18:42] soupault commented on #2632
@dwyatte Kindly join us to celebrate the addition of `skimage.util.montage` (now multichannel!)!

[2017-08-02 19:52] #2697 closed

[2017-08-02 20:46] stefanv opened #2742 "Deprecate and remove `skimage.novice`"
`skimage.novice` was built by and for Software Carpentry.  I've recently learned that it is no longer being used, so I don't see much use for it remaining in the package.

If someone feels excited about turning it into a new package, please do so.

[2017-08-02 21:31] dwyatte commented on #2632
Closed by #2626

[2017-08-02 21:36] JDWarner commented on #2742
Two thumbs up for deprecation and removal.

[2017-08-03 07:21] root-sudip commented on #2741
opps, I totally forgot about this, thanks @soupault

[2017-08-03 17:35] mptorr opened #2743 "How can I determine the number of windows generated by view_as_windows?"
I'm trying to write a function that would provide me the number of windows output by `view_as_windows`, given the dimesions of _arr_in, window_shape, step_.

In a simple experiment using one grayscale image that is 256 x 256 I see that:

[code]

[The documentation gives an example based on a 3D matrix](http://scikit-image.org/docs/dev/api/skimage.util.html#skimage.util.view_as_windows), but I wond

[2017-08-03 17:49] stefanv commented on #2743
How about something like:

[code]

[2017-08-03 18:05] mptorr commented on #2743
@stefanv thanks— I can't get `np.prod` to work with those floor divisions.
Also, re `image.shape` did you mean `image.shape[0]`?

[2017-08-03 18:13] stefanv commented on #2743
Sorry, that should probably be `np.array(image.shape)`, I'll update the code above.

[2017-08-03 18:59] soupault commented on #1588
`novice` module is to be removed (see #2742)

[2017-08-03 18:59] #1588 closed

[2017-08-04 10:31] jmetz commented on #2077
Happy to give it a go - which panorama example do you mean? One of the ORB or Brief examples with matching?

[2017-08-04 10:51] jmetz opened #2745 "viewer_examples/plugins/watershed_demo.py not updated for Qt5"
## Description

Error presumably related to this example not having been updated for Qt5:

[code]

## Way to reproduce

- Simple type `python viewer_examples/plugins/watershed_demo.py` from repo directory
- System: `Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u1 (2017-06-18) x86_64 GNU/Linux`
- Python: `Python 3.6.1`
- `skimage.__version__` : `0.14dev`

[2017-08-04 11:03] soupault commented on #2745
:+1: to update. I think, Qt5 has become a standard since recently.

[2017-08-04 11:49] jmetz commented on #2745
Ah... hadn't realised this wasn't already the de-facto standard for `skimage`, as I also tested the `viewer_examples/plugins/canny.py` and the `viewer_examples/plugins/lineprofile.py` and they worked fine.

A little confused now how they can be working fine and not the `watershed.py` example if Qt5 isn't already the standard for `skimage`?

[2017-08-04 11:57] jmetz commented on #2745
@soupault  perhaps this should be renamed

as the bug seems to just be a symptom of that, right?

[2017-08-04 12:38] soupault commented on #2745
@jmetz Sorry if I was unclear. I meant that Qt5, to the best of my knowledge, is a standard across the globe for the last 1-2 years. Before that, Qt5 hadn't been considered as a favorite.

In `skimage`, currently, we state that the dependency is PyQt4 (https://github.com/scikit-image/scikit-image/blob/4d4c79966d28a3b80a04b7462bc3cd28c362c269/DEPENDS.txt), and I'd be glad to support the update to P

[2017-08-04 12:41] #2743 closed

[2017-08-04 12:48] jmetz commented on #2745
Thanks for clarifying. I guess lot's of systems do still use Qt4, and Matplotlib has had the option of either for quite some time... do you think we could offer the same choices for `skimage`?

This could mean having an internal ui submodule, which all other `skimage` components use, and in that ui module, qt4, qt5 (etc) are switched between depending on what's available / been chosen by the user.

[2017-08-04 16:59] stefanv commented on #2745
`matplotlib` has a compatibility layer for importing; can we re-use theirs?

[2017-08-04 17:10] jmetz commented on #2745
Possibly, though that would scrap #2710

From what I can tell, almost all of the cross Qt4-Qt5 functionality is provided by using

[code]
in https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/backends/qt_compat.py#L220, as that was one of the core differences anyway.
Any additional minor changes are then handled in the respective `backend_qtX.py` files.

[2017-08-04 17:29] stefanv commented on #2745
Great, that simplifies things; thanks for investigating.

[2017-08-04 17:43] stefanv commented on #2077
Yes, exactly.

[2017-08-04 19:18] stefanv opened #2746 "Add tutorials to website / docs"
Our tutorials should be published as part of the website and/or gallery.

I suggest that we convert these longer-form examples to ReST and use [nb2plots](https://github.com/matthew-brett/nb2plots) to add Jupyter notebooks and other output.

[2017-08-08 15:12] pabloheimplatz commented on #2562
Why is this closed? I got the exact same error and I just copied the code from your docu...

[2017-08-08 15:16] soupault commented on #2562
@pabloheimplatz `block_norm` has been introduced in `skimage` 0.14. The latest released version is 0.13.

[2017-08-11 08:26] twMr7 commented on #2646
What should be the consistent way to interpret spatial coordinates when geometry function is involved? This is also not clear described in "Coordinate conventions" section of user guide. I assumed row index 0 to -1 (top to bottom) is positive y direction, and column index 0 to -1 (left to right) is positive x direction. But, it is?

[2017-08-12 15:26] soupault commented on #2717
See https://github.com/scikit-image/scikit-image/issues/2697#issuecomment-318150622.

[2017-08-12 15:26] #2717 closed

[2017-08-13 09:58] jni opened #2753 "Consider using/vendoring @astrofrog's fast-histogram"
A **lot** of functions in skimage use image histograms for various purposes (e.g. histeq, or thresholding), so I think as a whole, optimising our histogram computation could result in a significant speedup for the library. @astrofrog recently released fast-histogram, a library for fast 1D and 2D histogram computation (see https://github.com/astrofrog/fast-histogram). It's available on PyPI, so we

[2017-08-13 12:51] leaprovenzano commented on #2545
@mddemarie  As quite a few months have passed, I have done a PR for this issue. I hope you don't mind.

[2017-08-13 13:06] jni opened #2755 "Change regionprops so that indices match labels"
I would argue that the most common use case for regionprops is to measure the properties of a sequentially labelled image, starting from 0 (if there's a background) or 1 (if not). Currently, in both of these cases, regionprops returns a list where result[i] contains the region properties for label i+1.

In the case of nonsequential labels, this is even more confusing, because result[i] contains th

[2017-08-13 20:00] JDWarner commented on #2755
Completely agree.  This has always bothered me, too.  The dictionary is almost certainly the right API choice.  An OrderedDict might be the best choice, actually, to maintain the iteration order (in case that has been assumed in the current list paradigm).

I suspect trying to hack this in via options 2 or 3 would involve possibly rather significant performance hits compared to just doing it right

[2017-08-13 22:37] JDWarner commented on #2753
Assuming it's also markedly faster than `exposure.histogram`, which does use an approach more efficient than NumPy's `np.histogram` for integer images, I'm on board.  I suspect fast-histogram will be the winner.

Test matrix includes 2.7, 3.4-3.6 on Linux and Windows.  Licensing is OK (2-clause BSD), so we could even ship this if needed.  Not sure we would need to, though, as it would be a very li

[2017-08-14 07:06] pd-Shah opened #2756 "ValueError: Images of type float must be between -1 and 1."
why mean filter dose not work on float numbers ?

[code]

output:
[code]
and if chage x like below:
[code]
 the optput is :

[code]

what are this numbers?

[2017-08-14 08:23] soupault commented on #2756
That's because `x` is of dtype `float`. Casting it to `uint` solves the issue:
[code]

For more information, see http://scikit-image.org/docs/stable/user_guide/data_types.html.