[2016-06-30 06:42] soupault commented on #2175
Another story is how to improve type/ndim checking, which we have almost everythere. And that one could be addressed via some kind of fused types - https://github.com/scikit-image/scikit-image/pull/2126#discussion_r66417179. I think we need to start a discussion some day on this as well. :)

[2016-07-01 12:34] benjaminirving commented on #1569
Hi,

I've had a go at modifying the SLIC method with a mask for my own purposes. I decided to reinitialise the seed points because I don't initialising on a grid is not optimal for an irregular mask.

Here's my modification:
https://github.com/benjaminirving/maskSLIC

If something like this is of interest to scikit-image then I can redo this as a pull request.

[2016-07-01 14:07] jni commented on #1569
@benjaminirving very cool! I like the seed laying algorithm. =)

My concern right now is that you still iterate over the whole image. I think it should be possible to instead convert the mask to a list of z, y, x indices and iterate over those... What do you think?

In general though we are very happy to work with you to get this included into scikit-image!

[2016-07-01 14:42] benjaminirving commented on #1569
@jni, great. Thanks for your input.  When I get a chance I will redo as a pull request and we can take it from there.

I agree it would be more efficient as a list of indices. In this initial version, I've tried to keep it as close to the original code as possible. I guess it depends on whether this should be added as a separate `_mslic_cython` function or just as a `mask` parameter in the existin

[2016-07-01 21:16] soupault commented on #2172
@stefanv @ahojnnes can we consider this as a solution for https://github.com/scikit-image/scikit-image/issues/458?

[2016-07-03 09:24] emmanuelle opened #2178 "The output of adaptive methods in try_all_threshold is a bit misleading"
In `filters.try_all_threshold`, two local methods are presented: `filters.threshold_adaptive` and "local otsu", which is defined internally in `try_all_threshold`. When the user looks at the graphical output, he/she does not known how to use the local otsu method. Also, `threshold_adaptive` uses as default parameter `offset=10`, which works well for the page image, but is quite for arbitrary for o

[2016-07-04 18:57] sciunto commented on #2178
No problem... until we release a new version :)

If I sum up, we need to remove local algo. That's for sure.

For the rest, I'm not 100% convinced so far.
For `try_all_local_threshold`, what would happen the day we add new algorithms (and maybe additional parameters)? I'm afraid it's going to be out of control.
For your second option, it sounds like a new feature to me.

[2016-07-05 13:54] sciunto commented on #2178
@emmanuelle I started a PR.

[2016-07-05 17:31] souravsingh commented on #1931
Is the issue fixed? If not, I would like to work on it

[2016-07-05 17:35] OrkoHunter commented on #1931
@souravsingh Feel free to explore the implementation.

[2016-07-05 20:05] #2170 closed

[2016-07-06 17:37] AbdealiJK commented on #2174
I've made https://github.com/AbdealiJK/scikit-image/commit/864fd512b49d9f064f26a2d35dfc674dcfca5c88 but I don't seem to be able to complete it because I can't run the tests.

I tried to do `nosetests --exe skimage` I get a lot of errors like:
 - ImportError: No module named backend_qt5
 - ImportError: No module named _skeletonize_3d_cy
 - ImportError: No module named _hough_transform

Here's the c

[2016-07-07 00:19] JDWarner commented on #2174
Sounds like your issue is the Cython must be compiled. There are two options:

1. If you want to use the development version as you work on it, run `python setup.py develop` first. This builds everything, then modifies your PYTHONPATH so your interpreter looks in the repo as it loads packages. It doesn't formally install the package, but it will affect other uses of scikit-image.

2. If you want t

[2016-07-07 01:25] AbdealiJK commented on #2174
@JDWarner Thanks a lot, got it working :+1: and made the PR https://github.com/scikit-image/scikit-image/pull/2181

[2016-07-08 13:58] sciunto commented on #2178
@emmanuelle I let you choose if you want to open another issue (or keep this one) about local thresholding. My PR solves the problem partially.

[2016-07-08 23:21] jni opened #2182 "Hessian filter implementation is very slow"
Computing the largest eigenvalue of the Hessian matrix (`hessian_matrix` in `skimage/feature/corner.py`) on a 1250 x 1250 image takes about 3s on my machine, but is virtually instantaneous in Fiji, which isn't doing anything smart... Not sure whether `ndi.convolve` is to blame, but we can probably try to separate the kernels to use convolve1d, or other tricks.

[2016-07-09 23:20] KelSolaar commented on #1991
Hi,

@MichaelMauderer and I stumbled upon that issue and after discussing about it, we would like to make you a proposal:

There are a quite a few great colour libraries for Python in the wild, [colorspacious](https://github.com/njsmith/colorspacious/) probably being one the best candidate for what you envision to do.

We would like you to propose an alternative: We are the maintainers of [Colour]

[2016-07-10 04:23] AbdealiJK opened #2183 "rgb2hsv and hsv2rgb can convert ubyte -> float, but docs say it assumes float"
## Description
The code of `rgb2hsv()` and `hsv2rgb()` [on master](https://github.com/scikit-image/scikit-image/blob/master/skimage/color/colorconv.py#L237) uses the `_prepare_colorarray()` function which has `return dtype.img_as_float(arr)`. Hence, the input image is converted to float when needed. Currently, the docs at http://scikit-image.org/docs/dev/api/skimage.color.html say:

[code]
Which i

[2016-07-10 14:22] blink1073 commented on #1991
Hi @KelSolaar, @MichaelMauderer, thank you for your interest.  I would say that our preference is API stability, so I would suggest first replacing the implementations of the existing functions with those of `Colour` and keeping our unit tests intact.  We could then consider how best to evolve the API to reduce impedance mismatch and use more of the features of `Colour`.

[2016-07-10 15:30] stefanv commented on #1991
Hi, folks, sorry for the slow response--scipy2016 is just around the corner!

It would be good to discuss this further: will any of you be at the
conference?  We should definitely rope @njsmith into the conversation,
although he, too, may be unable to respond for the next few days.

What are the advantages of Colour vs colorspacious?  What I like about the
colorspacious model is the graph approach

[2016-07-10 17:10] njsmith commented on #1991
Colour is a really cool project, and definitely has tons of stuff in it that colorspacious doesn't; colorspacious OTOH is narrowly focused on color space conversion, and has some features there that Colour doesn't -- the main one being the conversion graph engine that Stéfan mentions (though IIRC Colour also doesn't have CAM02-UCS?).

My feeling is that this means that this isn't really an either/

[2016-07-11 06:26] KelSolaar commented on #1991
Yes we had something like that planned if we are going that way!

No worries, we are both crazy busy, Michael at Microsoft and myself down in The Shire, I will not make it to Scipy. We wish you a great time there!

I will do a features matrix tonight for comparison. I would say without deeply checking that we cover a lot of what colorspacious does except for:
- Graph model for conversion: I was pu

[2016-07-11 08:03] stefanv commented on #1991
From the scikit-image side, we would be very happy to depend on an external
library for this computation.  I've been less than thrilled with our level
of documentation, e.g..  Having a team dedicated to doing just this one
thing would be hugely beneficial.

[2016-07-12 10:03] KelSolaar commented on #1991
Excellent! We can catchup on that when you are available with @blink1073, @njsmith, @MichaelMauderer and whoever feel like doing so.

I did the features matrix (@njsmith shout if I omitted something), sorry it is quite long as there is almost everything relevant.

| **COLOUR**                                                                 | **COLORSPACIOUS**                             |
|-------

[2016-07-13 08:06] hirschbeutel opened #2186 "Thresholding examle has wrong histogram"
# Description
The histogram in the thresholding example using Otsu's method should be calculated on the flatten image. The example can be found at the following link:
[http://scikit-image.org/docs/dev/auto_examples/plot_otsu.html
](url)

## Way to reproduce
Run the python code:
[http://scikit-image.org/docs/dev/_downloads/plot_otsu.py](url)

line 25:
ax2.hist(image) -> ax2.hist(image.flatten())

[2016-07-13 08:33] soupault commented on #2186
@hirschbeutel thanks for reporting! Would you like to submit a fix?

[2016-07-13 08:45] hirschbeutel commented on #2186
I would like to submit a fix. could you give me some directions how to do
that, since this is my first bug report?

2016-07-13 10:33 GMT+02:00 Egor Panfilov <notifications@github.com>:

[2016-07-13 08:46] soupault commented on #2186
Actually, nevermind. :)
`plot_otsu.py` was removed with https://github.com/scikit-image/scikit-image/pull/2110.
Actual version of the example is already fixed and available as http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_thresholding.html.

`plot_otsu.py` has to be removed in accordance with https://github.com/scikit-image/scikit-image/issues/2059 .

Closing.

[2016-07-13 08:46] #2186 closed

[2016-07-13 23:07] JDWarner commented on #2186
@hirschbeutel if you would like to submit fixes or improvements in the future, we have a [step-by-step guide for new contributors](http://scikit-image.org/docs/stable/contribute.html#development-process) available. It will walk you through the process of making your first PR, when ready!

[2016-07-15 18:22] tguillemot opened #2189 "[ENH] Min/Max for histograms computation"
## Description
I was wondering if there is war to better define `exposure.histogram`.

I usually compute the histogram between 0. and 1. (for float images) but in scikit-image the histogram is computed between the min and max. I'm pretty sure some user apply the histogram without seeing that problem creating possibly bugs (the docstring is not really explicit on that subject).

I propose to add tw

[2016-07-15 19:44] sciunto commented on #2189
Just to say that I was also surprised by the current behaviour when I discovered the function.

[2016-07-16 06:40] #2099 closed

[2016-07-16 06:47] jni commented on #2189
Whoa! I didn't know this either! I'd be inclined to consider this a bug, and default min/max to the dtype range. How about an "image_range" argument, which can take as values:

- 'image': determine the range from the input image (the current default)
- 'dtype': determine the range from the expected range of the images of that data type.
- (int, int): use the given range.

The new default would be

[2016-07-16 06:50] #2123 closed

[2016-07-16 06:53] #2174 closed

[2016-07-16 17:31] sciunto commented on #1838
@scikit-image/core We probably need to take a decision on this.

[2016-07-16 19:36] sciunto commented on #2189
This function is used in thresholding.py and few examples. Normally changing the API should break the tests, but it's probably a good thing to check manually.

[2016-07-16 20:24] tguillemot commented on #2189
@sciunto Thanks I will check that.

Today I need to help the guys of scikit-learn for the sprints.
If someone wants to do it today it's not a problem.
 If nobody wants, I will tomorrow.

[2016-07-16 21:28] stefanv commented on #2189
@jni I guess very much like this: http://scikit-image.org/docs/stable/api/skimage.exposure.html#rescale-intensity

[2016-07-16 21:28] stefanv commented on #2189
@tguillemot Sorry for not being very visible today, I had a few other things to take care of.  But I am around :)

[2016-07-16 21:36] tguillemot commented on #2189
@stefanv Don't worry, I have to work on scikit-learn today ;)

[2016-07-16 21:39] stefanv commented on #2189
I will be here tomorrow morning still.  See you around!
​

[2016-07-17 13:13] AbdealiJK opened #2200 "Docs: Use compare_ssim instead of deprecated structural_similarity"
## Description
In the current documentation at http://scikit-image.org/docs/dev/auto_examples/plot_ssim.html the function being used is `structural_similarity` (`from skimage.measure import structural_similarity as ssim`) although the docmentation at http://scikit-image.org/docs/dev/api/skimage.measure.html#structural-similarity says that the function is deprecated in favor of `compare_ssim`.

Hen

[2016-07-17 13:27] AbdealiJK opened #2201 "compare_ssim - Is result mssim always a float ?"
## Description
In http://scikit-image.org/docs/0.12.x/api/skimage.measure.html#skimage.measure.compare_ssim it says that the output `mssim` can be a float or a ndarray. But in the code, I see [L114](https://github.com/scikit-image/scikit-image/blob/068663b7fe30573250e256962d447bfb0e8e7862/skimage/measure/_structural_similarity.py#L114) output and [L204](https://github.com/scikit-image/scikit-image

[2016-07-17 16:06] tguillemot opened #2202 "Midway image equalization"
## Description

[Please provide a general introduction to the issue/proposal.]
I propose to add 'the midway equalisation histogram' [J. Delon 2004].

It gives to a pair of images (or more) the same histogram while maintaining as much as possible their previous gray dynamics. For example, It can be really usefull when you have to detect something in different images of the same object with differen

[2016-07-17 16:17] stefanv commented on #2202
I am interested! Histogram matching is something we sorely lack. It would
be very useful for panorama stitching, e.g.

On Jul 17, 2016 11:06, "Thierry Guillemot" <notifications@github.com> wrote:

[2016-07-17 16:22] tguillemot commented on #2202
@stefanv Great. I imagine you have a lots to do but if you have 5 minutes to talk about that, I'm with the sklearn guys for the Scipy sprint.

[2016-07-17 16:46] jni commented on #2201
@AbdealiJK I think you are absolutely right! Would you like to submit a PR to fix the docstring?

[2016-07-17 16:47] jni commented on #2200
@AbdealiJK right again! =D

[2016-07-17 17:01] jni commented on #2189
@stefanv yes, `rescale_intensity` was my model API for that suggestion. =)

[2016-07-17 21:02] #2182 closed

[2016-07-17 21:10] JDWarner opened #2203 "Enhancements and cleanup from NumPy min version bump"
With the merge of #2194, **we now depend on NumPy 1.11**. One of the major new features motivating this was the ability to calculate only specific gradients for efficiency. However, since 1.7 there are many new features and other improvements we should take advantage of.

This Issue will collect and track the progress of multiple different improvements. I'll curate the below list as any additional

[2016-07-17 21:12] JDWarner opened #2204 "Remove internally shipped version of `np.pad`"
Backwards compatibility with early versions of NumPy are no longer necessary, so we can simply depend on `np.pad` instead of shipping an internal version.

[2016-07-17 21:13] JDWarner commented on #2204
Part of #2203

[2016-07-17 21:49] JDWarner commented on #2203
New NumPy features we can now depend on of interest (not an exhaustive list, I just skimmed release notes):

- NumPy 1.8:
  - NaN-safe basic statistics functions added:``nanmean``, ``nanvar``, and ``nanstd``
  - `np.full` and `np.full_like` - safer to initialize than `np.empty` which fills with NaNs on some architectures
  - Advanced `np.newaxis` indexing: `array[np.newaxis, [0, 1]]` now a valid f

[2016-07-19 04:54] JDWarner opened #2206 "Use `filters.gaussian` in place of deprecated `gaussian_filter`"
Per deprecation warnings in the test suite, this call is made in `skimage.segmentation` by the active contour function. It may also crop up in other places.

Fixing the problem should be a simple redirect to `skimage.filters.gaussian`.

[2016-07-19 09:35] soupault opened #2207 "AppVeyor builds fail because of missing `_fblas`"
## Description
AppVeyor builds started to fail (for a different reason :smiley:) since https://ci.appveyor.com/project/stefanv/scikit-image-1w3sk/build/1.0.461.

Error output:
[code]

[2016-07-19 16:48] kjacks21 commented on #2206
@JDWarner If you think this is feasible for a novice contributor, mind if I take this up?

[2016-07-19 17:46] JDWarner commented on #2206
Go for it, @kjacks21!

[2016-07-20 12:44] kjacks21 commented on #2206
Just to be clear, are we looking to have the two instances of `gaussian_filter` in [skimage/segmentation/active_contour_model.py](https://github.com/scikit-image/scikit-image/blob/6d0a94930ca81bed416db8286c737b8da2d80bdd/skimage/segmentation/active_contour_model.py) changed to `gaussian`? Or by "simple redirect" do you mean a more blanketed solution? I ask since `gaussian_filter` appears in numero

[2016-07-20 12:54] JDWarner commented on #2206
When following the test logs I noticed the warning in relation to the active contour tests, but figured it was also in use elsewhere.

Yes, all uses in the package should be converted to gaussian.

Essentially, we should follow our own deprecation warnings! During the course of using any public function, users should not get deprecation warnings related to a different internally used function.

[2016-07-20 13:52] kjacks21 commented on #2206
Makes sense. I intend to make a separate PR for each file that I change unless there are any objections.

[2016-07-20 14:22] soupault commented on #2206
@kjacks21 I'd actually recommend to create a single PR with several commits.

[2016-07-20 14:24] kjacks21 commented on #2206
@soupault I'll follow your recommendation!

[2016-07-21 18:43] cindygr opened #2209 "Feature request: Poisson gradient image editing"
As discussed with @stefanv

Student implementation from student paper at SIGGRAPH several years ago:

http://www.connellybarnes.com/work/class/2013/cs6501/proj2/

Also used for mesh editing, removing slow changes in images, colorization, etc.

[2016-07-22 05:58] soupault commented on #2059
#2208: http://scikit-image.org/docs/dev/auto_examples/plot_ssim.html is top search in Google, while the correct page URL is http://scikit-image.org/docs/dev/auto_examples/transform/plot_ssim.html .

[2016-07-22 06:07] soupault commented on #2206
Haven't found any usage besides `active_contours`. Should be fixed now.

[2016-07-22 06:07] #2206 closed

[2016-07-22 10:08] almarklein commented on #2207
This looks similar to https://github.com/matplotlib/matplotlib/issues/6115, though there the error seemed related to numpy's multiarray. The solution proposed there is to explicitly install `msvc_runtime`. See e.g. https://github.com/pydy/pydy/pull/354 and https://github.com/imageio/imageio/pull/159. It is not entirely clear to me whether this fixed it for MPL, but it did for imageio.

[2016-07-22 12:25] soupault opened #2212 "Implement `num_edges` support for `measure.approximate_polygon`"
## Description

I propose to add `min-area rectangular bounding box` property to `regionprops`.  Could add algorithm for `min-perimeter` also, as it doesn't differ too much.

Any opinions?
## References
- https://en.wikipedia.org/wiki/Minimum_bounding_box_algorithms
- http://www.geometrictools.com/Documentation/MinimumAreaRectangle.pdf
- https://github.com/Itseez/opencv/blob/2f4e38c8313ff313de7c41

[2016-07-22 13:12] kjacks21 commented on #2200
I can take care of this today or tomorrow.

[2016-07-22 18:09] anntzer opened #2213 "restoration.unwrap_phase could take dtype into account for default wrapping period"
Currently, `restoration.unwrap_phase` uncondtionally casts its data to double and uses a period of `[-pi, pi]`.  I'd argue that when the input type is an integer type, this is probably never the expected behavior; especially for "small" integer types ((u)int{8,16}), the "correct" period is probably just the span of the dtype (so 0..255 for uint8, etc).  So I'd suggest
- if the input dtype is one o

[2016-07-22 21:30] anntzer opened #2214 "docstring of equalize_adapthist does not show the default kernel size"
See http://scikit-image.org/docs/dev/api/skimage.exposure.html#skimage.exposure.equalize_adapthist
I guess both kernel_size and ntiles_{x,y} default to None so that both APIs stay present.  Unfortunately, this has the effect of hiding the default kernel size.

[2016-07-22 21:52] kjacks21 commented on #2200
Since [scikit-image/doc/examples/transform/plot_ssim.py ](https://github.com/scikit-image/scikit-image/blob/master/doc/examples/transform/plot_ssim.py) was already updated to import `compare_ssim`, does that mean this should be closed? Or is there another step to update http://scikit-image.org/docs/dev/auto_examples/plot_ssim.html ?

[2016-07-23 02:03] anntzer opened #2215 "misleading warning in img_as_uint"
Python 3.5.2, skimage 0.12.3

[code]
Note how the second warning doesn't seem to make sense...
Now, it is true that the first warning should make the reader realize something is amiss, but thanks to the magic of python's warning cache, the first warning will only ever be printed once but the second one once per different max-value, so in practice the two warnings may appear rather far apart from e

[2016-07-23 02:08] anntzer opened #2216 "equalize_adapthist could work for signed data"
Python 3.5.2, skimage 0.12.3; related to #1739.

Currently, `equalize_adapthist` casts its data to uint, making it unsuitable for signed data.  I don't think there's any reason for this restriction?  AFAICT the algorithm should work just as well for signed data.

[2016-07-23 05:06] jni commented on #2212
I'm ambivalent about this... It doesn't seem to add much information above the convex hull, which, if I understand correctly, is a prerequisite for these algorithms?

[2016-07-23 07:20] soupault commented on #2214
@anntzer thanks!
I'd add to this couple one request more: sort the function parameters in the same order they are presented in the docstring or vise versa.

[2016-07-23 07:22] soupault commented on #2214
@emmanuelle hi! do you have any ideas why the generated URL for the `[source]` link in http://scikit-image.org/docs/dev/api/skimage.exposure.html#equalize-adapthist points at `adapt_rgb.py` file? I mean, it is probably related to a decoration of the function (https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/_adapthist.py#L27). but is there anything we can do about this?

[2016-07-23 07:33] soupault commented on #2200
@kjacks21 thanks for pointing this out!
http://scikit-image.org/docs/dev/auto_examples/plot_ssim.html is a leftover example and is no longer available for updates (see https://github.com/scikit-image/scikit-image/issues/2059).

Closing as fixed.

[2016-07-23 07:33] #2200 closed

[2016-07-24 07:11] soupault commented on #2201
Closed via #2218.

[2016-07-24 07:11] #2201 closed

[2016-07-24 14:56] kjacks21 commented on #2214
@soupault wouldn't the default `kernel_size` depend on the input `image`? How should this be represented in the docstring?

https://github.com/scikit-image/scikit-image/blob/c7f386b955bb32f19716598613a296178ace1ddd/skimage/exposure/_adapthist.py#L84-L88

[2016-07-24 16:50] soupault commented on #2214
@kjacks21 one could add a short summary of https://github.com/scikit-image/scikit-image/blob/c7f386b955bb32f19716598613a296178ace1ddd/skimage/exposure/_adapthist.py#L87-L88 to `Parameters -> kernel_size` section of the docsting.

[2016-07-24 17:16] anntzer opened #2219 "equalize_adapthist leaves artefacts when image size is not a multiple of tile size"
Python 3.5.2/Arch Linux/skimage 0.12.3

equalize_adapthist leaves "artefacts" when a dimension of the image is not a multiple of the kernel size:

[code]

![adapthist](https://cloud.githubusercontent.com/assets/1322974/17085201/89f25158-5187-11e6-9b45-2d7007219cbe.png)
See the line at the top and the strip at the bottom of the second image.

Possibly related to #757?

[2016-07-24 21:47] kjacks21 commented on #2214
I can submit a PR for this, though I'm not sure how to address the URL for `[source]` pointing to `adapt_rgb.py`.

[2016-07-24 22:04] soupault commented on #2214
@kjacks21 sure, feel free to sumbit!
As for the link, I'll raise a separate issue. Have to check if this appears somewhere else.

[2016-07-24 22:27] soupault commented on #2212
@jni that's correct.
Basically, what I am looking for is an approximation algorithm (i.e. http://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.approximate_polygon) where one can specify not [just] a tolerance, but [also] a number of edges.
The proposed algorithm is a special case of that, quite useful and very simple.

[2016-07-25 04:58] anntzer opened #2221 "docs link to decorator rather than function itself"
e.g. http://scikit-image.org/docs/dev/api/skimage.exposure.html#equalize-adapthist
the `[source]` link goes to the `adapt_rgb` decorator: https://github.com/scikit-image/scikit-image/blob/master/skimage/color/adapt_rgb.py#L35

A quick test locally suggests that at least Sphinx 1.4.5 on Python 3.5.2 is able to link to the inner decorator object instead.

[2016-07-25 05:06] anntzer commented on #2214
@soupault: missed your comment, I already opened the issue as #2221.

As an additional doc improvement, it may be worth explaining how the clip_limit kwarg (in [0, 1] similarly to MATLAB's implementation (http://www.mathworks.com/help/images/ref/adapthisteq.html) is related to the >=1 clim limit as defined by Wikipedia (https://en.wikipedia.org/wiki/Adaptive_histogram_equalization), OpenCV (http:/

[2016-07-25 14:17] LukasDrude opened #2222 "Salt and Pepper noise yields possibly wrong result"
## Description
I investigated salt and pepper noise (from ``skimage.util.random_noise``) with a few small input sizes. The results differ from what I expected for black-and-white images.

## Way to reproduce
[code]

Yields:
[code]

But I expected salt everywhere (ones everywhere).
[code]

Yields:
[code]

But I expected pepper everywhere.

Same holds for larger images. I.e.
[code]

Yields:
[code]

[2016-07-26 08:25] jni commented on #2222
Ah, that's an off-by-one error on randint. I can confirm that this happens on master, too.

In addition to the off-by-one error, the way that we are generating S&P noise is incorrect. With a probability of 1.0, we say, "generate `image.size` coordinates at random, then replace those with 1s". Of course the problem is that generating that many random coordinates results in repeated coordinates, and

[2016-07-26 18:28] JDWarner commented on #2222
If you hadn't already fixed this, @jni, I'd have taken care of my own mess ;) - this is my fault from the SciPy 2013 sprints.

[2016-07-27 04:21] bmorris3 commented on #2108
I'm not sure if this is a related issue, but I'm trying to build docs for a [package](https://github.com/bmorris3/shampoo) of mine, and I'm having trouble building docs on Read The Docs due to tifffile via scikit-image, which has a similar error message:

[code]

[Here's the build](https://readthedocs.org/projects/shampoo/builds/4238947/).

[2016-07-27 16:02] matthew-brett commented on #2108
Stefan - I have now tested the so-called "build tag" on pypi, and it works :

https://github.com/h5py/h5py/issues/731#issuecomment-230826012

I just took the liberty of triggering a rebuild of the scikit-image wheels via the building repo.

If these are builds work, and are acceptable, I can add the build tag (`1`) so you can upload them to pypi.  Does that sound feasible?

[2016-07-27 17:49] sciunto commented on #2135
Cc @alexandrejaguar

[2016-07-27 23:19] matthew-brett commented on #2108
Builds OK apart from the previous 32-bit failures : https://travis-ci.org/scikit-image/scikit-image-wheels/builds/147798529

I can upload the wheels with the added build tag, if you like.

[2016-07-27 23:23] stefanv commented on #2108
@matthew-brett Yes, please, that'd be fantastic.

[2016-07-27 23:36] matthew-brett commented on #2108
OK - done.  @bmorris3 - try your build again - does it work?

[2016-07-27 23:42] bmorris3 commented on #2108
I'm still seeing the same issue. @bsipocz and I are experimenting with using the conda install rather than pip.

[2016-07-27 23:46] matthew-brett commented on #2108
Hum - can you find where `scikit_image` is installed?  I can only find a line saying that the requirements is already satisfied.  Is this a caching issue on the readthedocs side?

[2016-07-27 23:52] matthew-brett opened #2224 "32-bit Linux test failures"
On Python 2 and Python 3, when testing manlinux wheels for 0.12.3.  Failures visible when not segfaulting - see #2163.  Examples of runs with failures:

https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/138974421#L1894
https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/147798532#L1825
https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/147798533#L1810
https://travis-ci.o

[2016-07-27 23:54] matthew-brett commented on #2163
Segfaults on Python 2 and Python 3.  Another example of segfault, on Python 3:

https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/147798535#L1206

There are also test failures in 32-bit runs without segfaults - new issue at #2224

[2016-07-28 18:55] bmorris3 commented on #2108
It was being installed with pip, and we solved the problem by switching to installing it via conda.

[2016-07-28 19:05] matthew-brett commented on #2108
Sure - but I am guessing that a fresh install with pip would also have worked.  It was not clear to me where in your build logs scikit-image was coming from, and I suspect it was being cached, hence the continued error after updating pypi.

[2016-07-29 20:12] #2222 closed

[2016-07-29 23:35] jni commented on #2010
Does anyone have any idea about what's causing this? Race condition?

[2016-07-30 06:12] rfinck opened #2225 "label2rgb has an undocumented implicit assumption that labels are consecutive non-negative integers"
## Description

An implicit assumption that the labels provided to label2rgb are consecutive non-negative integers can produce unexpected behavior. Two examples below are negative labels resulting in failure to assign background color correctly, and missing labels combined with color cycling.

I can provide a fix unless there is a desire to insist on consecutive non-negative integer labels, in whi

[2016-07-31 03:57] stefanv commented on #2225
@rfinck Thanks for reporting; I think your use case is legitimate.  A fix + test would be welcome.

[2016-07-31 07:57] #2207 closed

[2016-07-31 09:45] alexandrejaguar commented on #2135
Hi all,
I checked that `skimage.draw.ellipse_perimeter()` has the `orientation` argument implemented. However, that function is implemented in Cython...
Let me see if I can implement that.

[2016-08-01 14:03] sciunto commented on #2202
@tguillemot Looks awesome! Feel free to ask your questions here or on the chat ;)

[2016-08-01 14:08] tguillemot commented on #2202
@sciunto Thanks, no pb. I have to finish to push all the GMM classes on sklearn first.
But once it's done I will work on that (I hope before the end of august).

[2016-08-01 14:54] sciunto commented on #2127
Looks like the explanation is here: https://stackoverflow.com/questions/23615924/nosetests-discover-code-in-test-folder

Hardcoded in nose to skip directories starting by an underscore. https://github.com/nose-devs/nose/blob/00ae0930e3bfad41279a0899e8c699f2ac1ff209/nose/loader.py#L164

[2016-08-01 18:17] soupault commented on #2127
@sciunto great catch!

[2016-08-01 20:55] sciunto commented on #2215
I think the docstring provides a good reason for clipping negative values

[code]

[2016-08-01 20:57] anntzer commented on #2215
That's not really a "reason"?  It's just the statement of a fact.

[2016-08-01 21:13] sciunto commented on #2215
The reason, I guess, is to be consistent with the conversion unsigned to signed. It's a matter of choices and I think there is pro's and con's for each solution we can imagine. So far, i'm not convinced it's worth breaking the API here.

[2016-08-01 22:53] amccaugh opened #2232 "Supercover line-drawing algorithm for skimage.draw"
## Description

I was wondering if it would be possible to add an additional general-purpose line drawing algorithm to skimage.draw, as an addition to skimage.draw.line and skimage.draw.line_aa , known as the "supercover" line.  While Bresenhaum's line agorithm is an effective way of rendering a line visually, it is not capable of finding every grid square over which a line crosses.   The supercov

[2016-08-01 23:55] jni commented on #2232
I'd be ok with adding this as a keyword argument. @amccaugh is it easy to make it n-dimensional?

[2016-08-02 00:01] rfinck commented on #2225
After looking at the source more carefully I now realize that my description was slightly off -- there is an attempt to deal with negative labels but it is not effective. It might be a little while until I get around to it but I'll submit a PR.

[2016-08-02 18:41] sciunto opened #2233 "Broken test in _shared, interpolation constant mode"
The test is `test_coord_map()` in `skimage/_shared/tests/test_interpolation.py`, with the `Constant` mode

What's expected in the test:

[code]

What's actually returned:

[code]

See #2229 (epecially @ahojnnes comments) and #2127 (tests in `_shared` are not executed)

[2016-08-02 19:04] sciunto commented on #2221
We can test against different sphinx version. Nevertheless, if the latest sphinx versions have a correct behavior, I would say that we can drop this issue as fixed by upstream. As time goes, it's gonna to be fixed by itself (`self.fix()` :) ).

[2016-08-04 19:11] soupault commented on #2008
@samuelstjean hi! Could you, please, elaborate on your use case: do you have many tiny regions to inpaint / several large regions / combination of two?

[2016-08-04 21:06] samuelstjean commented on #2008
I think you have summoned the wrong person by mistake, maybe @samverstocken is more knowledgeable about inpainting than me though.

[2016-08-04 23:58] amccaugh commented on #2232
Great question.  I've been able to find evidence that the same algorithm
applies to higher dimensions, but I'm not sure about if it's easy.  I'll
look into it more

On Mon, Aug 1, 2016 at 5:55 PM, Juan Nunez-Iglesias <
notifications@github.com> wrote:

[2016-08-05 04:30] soupault commented on #2008
@samuelstjean of course, of course, my sincere apologies about that (I've got brain-DDoSed). Always happy to see you here, though :wink:.

[2016-08-05 05:13] JDWarner commented on #1838
Closed and implemented by #2190

[2016-08-05 05:13] #1838 closed

[2016-08-05 18:25] sciunto commented on #1131
@dcbb  @k88kramer Is it something like this that you are looking for?
![boundary](https://cloud.githubusercontent.com/assets/335370/17446685/a99a8364-5b4a-11e6-9db9-9fccf3ee2f39.png)

I'll submit a PR for that soon. Just need to clean up the code and write tests.

[2016-08-05 18:43] stefanv commented on #1131
See https://en.wikipedia.org/wiki/Boundary_tracing and
http://engr.case.edu/merat_francis/eecs490f07/lectures/lecture23.pdf

On Fri, 5 Aug 2016 at 11:25 François Boulogne <notifications@github.com>
wrote:

[2016-08-05 21:29] soupault commented on #602
Closed via #1833. More PRs to come occasionally.

[2016-08-05 21:29] #602 closed

[2016-08-06 01:46] jni commented on #1131
@sciunto 👏 👏 👏

[2016-08-06 01:48] #2113 closed

[2016-08-06 08:38] soupault commented on #2042
This seems not to be the case anymore. Closing for now.

[2016-08-06 08:38] #2042 closed

[2016-08-06 08:55] soupault commented on #1873
The original issue in `scipy` has been fixed. Closing.

[2016-08-06 08:55] #1873 closed

[2016-08-07 04:57] sciunto opened #2237 "Problem with references and sphinx (warning treated as error)"
We have repeatedly observed some problems with sphinx and travis. This issue gathers the messages...

Relevant issues:
- #2211
- #2141
- #2010 (upd @soupault)

[2016-08-07 04:58] sciunto commented on #2237
For #2211, @jni said:

@sciunto the problem is that the docs build correctly on my machine... =\

[2016-08-07 04:59] sciunto commented on #2237
For #2211 @sciunto said:

@jni I can reproduce:
[code]

@jni looks like it's solved by applying this:

[code]

[2016-08-07 04:59] sciunto commented on #2237
@sciunto said:

@jni Please, have a look to this: https://travis-ci.org/sciunto/scikit-image/jobs/150032649  (a commit for #2236). You'll see what I meant about weird errors on references. Here, i didn't touch to pyramid at all... Do you agree with me that's unexpected?
I think that sphinx-gallery causes that. Any idea how to report this?

[2016-08-07 05:00] sciunto commented on #2237
For #2211 @jni said:

@sciunto, @stefanv and I are trying to get to the bottom of this... There appears to be an error in reference renumbering. I checked out numpydoc and sphinx and used `pdb.set_trace()` to try to get to the bottom of it. My current problem is that sphinx is *very heavyweight*, objects everywhere, and I don't really know where to look now. But:

- numpydoc:
[code]

Sphinx:

[cod

[2016-08-07 05:05] sciunto commented on #2237
travis build: https://travis-ci.org/scikit-image/scikit-image/builds/150230844
PR: #2141

As observed by @jni, travis fails but I can't reproduce on my machine with sphinx 1.4.5, 1.4.2 and 1.4.1.
Procedure for each trial:
[code]

[2016-08-07 06:01] sciunto commented on #2237
Another thing I just observed on travis. Another PR #2238. First run, all tests failed and I saw that it was for references. I restarted the tests and they are passing now.

[2016-08-07 06:52] JDWarner commented on #2237
This has the sound of a race condition, perhaps? Is there a way to locally emulate a Travis container?

[2016-08-08 09:06] alexandrejaguar commented on #2121
Hi all, my two cents on that.
I believe each threshold function should behave as @soupault said in _2.B._: calling a function should be, for instance, `thresh_image, thresh_value = threshold_*(image, arguments)`. Thinking on that, I have a consideration: implementing another function (such as `apply_threshold()`) or another argument (`return_threshold=...`)  would bring more complication to the en

[2016-08-08 17:53] stefanv opened #2239 "Moments documentation is confusing to users"
We received [a question on StackOverflow](http://stackoverflow.com/questions/38834495/scikit-image-and-central-moments-what-is-the-meaning):

[2016-08-08 18:14] stefanv commented on #2121
@alexandrejaguar I think that API would be more consistent than the one we currently have, and I would support us moving in that direction.

[2016-08-09 02:53] jni commented on #2121
Two notes:

- Whatever final API we have, I strongly support returning the actual threshold (in addition to the thresholded image, or not). There are many uses for the actual threshold value. For example, a user might want to find the average threshold value over many images (too many to hold in memory).
- Although I agree that we should break the API and be consistent, we definitely need to use t

[2016-08-10 07:23] emmanuelle commented on #2239
I posted an answer on StackOverflow, which could serve as a basis to improve the doc.

[2016-08-10 07:33] ahojnnes commented on #2239
I +1'd your answer, thanks! But I am not really sure as how to
significantly improve the documentation, as we are already referring to
the relevant literature and the same Wikipedia page you are referring to
in your answer on SO. What do you think?

On Wed, Aug 10, 2016, at 09:23 AM, Emmanuelle Gouillart wrote:

Links:

  1. https://github.com/scikit-image/scikit-image/issues/2239#issuecomment-238

[2016-08-13 09:08] ivoflipse commented on #1342
I'm getting the same error currently on AppVeyor when trying to build the current master branch on conda-forge: https://ci.appveyor.com/project/conda-forge/scikit-image-feedstock/build/1.0.5/job/hamsfyua8lmm4kg2

https://github.com/conda-forge/scikit-image-feedstock/pull/2

[2016-08-13 13:44] msarahan commented on #1342
I think it's related to pypa/setuptools#728 - pinning setuptools to a 23.x release might work.

[2016-08-14 07:10] dongzhuoyao commented on #1997
pip install Cython --upgrade

[2016-08-16 04:22] GeekMe93 opened #2244 "cannot import name 'try_all_threshold'"
I use example code provided by skimage in this [link](http://scikit-image.org/docs/dev/auto_examples/xx_applications/plot_thresholding.html#sphx-glr-auto-examples-xx-applications-plot-thresholding-py) in Anaconda.

But I have an error:

`ImportError: cannot import name 'try_all_threshold'`

Other modules in `skimage.filters` have no problems.

Python 3.5.2 |Anaconda custom (x86_64)
skimage 0.12.3

[2016-08-16 04:56] JDWarner commented on #2244
This is a new function which was recently added, slated to be released with version 0.13. The default docs are the dev branch, which are updated automatically with new features.

If you need this functionality, you can install scikit-image from source by cloning this repository and running `python setup.py develop` in the root directory. As you are using Anaconda, everything should be set up (Cyth

[2016-08-16 04:56] #2244 closed

[2016-08-16 04:58] GeekMe93 commented on #2244
Thanks for your reply, I just found that:)

[2016-08-16 11:59] GeekMe93 commented on #2244
@JDWarner Can you give me more info about how to upgrade to dev version in anaconda? I tried  ways mentioned in stackoverflow, they just did not work. I really need these new functionalities. Thanks:)

[2016-08-16 14:52] emmanuelle commented on #1587
@cowlicks @mrocklin any chance that one of you could contribute such a section? It would really help people who wish to use ``apply_parallel``.

[2016-08-16 15:29] opoplawski commented on #2037
I'm using the pre-packaged .pyx files.

[2016-08-17 09:15] norok2 opened #2245 "Incorrect use of `dynamic_range` name"
The term `dynamic range` is often improperly used in the field of image processing as an extension to the usage in audio signal processing. This problem also appears in `scikit-image`.

From https://en.wikipedia.org/wiki/Dynamic_range the dynamic range of a value is:

[code]

while most of the functions in scikit-image actually want:

[code]

For sound signals, which are often expressed in decibel

[2016-08-17 09:26] soupault commented on #2245
Hi @norok2! Thank you for your detailed proposal!
I'd be in favour of `values_interval` or `values_range`. Sad part is that we have to deprecate.
Would you like to submit a PR for this?

[2016-08-17 09:57] #2146 closed

[2016-08-17 10:01] norok2 commented on #2245
Besides the deprecation (which I would need some hints on how you normally handle this) I can certainly submit a pull request with the refactoring soon.

[2016-08-19 06:32] sciunto commented on #2245
+1 with the global idea and +1 for `values_range`.

For the deprecation procedure, you can get inspiration from https://github.com/scikit-image/scikit-image/pull/2228

[2016-08-19 07:36] sciunto commented on #2012
@sdsingh Would you like to open a pull request?

[2016-08-19 07:39] sciunto commented on #2010
I'm closing this one as there is now a "Meta issue"

[2016-08-19 07:39] #2010 closed

[2016-08-19 08:38] norok2 commented on #2245
I am afraid that https://github.com/scikit-image/scikit-image/pull/2228 is not really applicable here, because I see no way of supporting both at the same time without changing the signature, unless all callables involved do make use of the *args/**kwargs magic (which does not seem to be the case).

[2016-08-19 08:48] soupault commented on #2245
@norok2 You can see an example of similar deprecation in https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise.py#L11-L114 (`sigma_range` and `sigma_color`). Pretty much the same case.

[2016-08-19 09:09] norok2 commented on #2245
Ok, thanks. This can be done easily, I was just thinking that this approach can still break some code out there in the wild :-)

[2016-08-20 07:48] sciunto commented on #929
It's not obvious to me that we can improve this piece of code. @newville do you have a hint? seems you thought quite a lot about it.

[2016-08-20 12:44] emmanuelle opened #2247 "Increase compatibility with 3-D images"
Being compatible with 2-D and 3-D images is an important strength of scikit-image. At the moment almost 60% of scikit-image functions work indifferently with 2-D or 3-D numpy arrays (by 3D I mean that the 3 dimensions are equivalent, which is different from 2D + RGB images).

I wrote a quick and dirty script to inspect which functions are not compatible with 3-D arrays. It can be found on https://

[2016-08-21 08:36] jni commented on #2247
Other low-hanging fruit includes `hessian_matrix` and `hessian_matrix_eigvals`.

[2016-08-21 09:12] jni commented on #2244
@GeekMe93 what is your operating system? (Windows, Mac, Linux?)

[2016-08-21 12:05] sciunto commented on #1585
@grlee77 Would you like to open a bug report to scipy?

[2016-08-21 14:14] newville commented on #929
@stefanv, @sciunto Well, yes, `iradon()` could definitely be improved using an FFT method, similar to the GridRec approach.   This would be 10x faster, perhaps more.  It is available in tomopy (http://tomopy.readthedocs.io/en/latest/), which is a fairly comprehensive set of tools for computed tomography.  Still, it's a bit heavy and is poorly supported on Windows.  And sometimes, a single, straigh

[2016-08-21 14:26] sciunto commented on #929
Thanks for the hints @newville

[2016-08-21 20:16] sciunto commented on #2121
If I try to summarize, we need
* to deprecate API of functions that do not return the threshold for 0.13 and change the return value for 0.15
* write a `apply_threshold` function that takes an image and a threshold, milestone 0.15. Eventually, we can implement it now, but keep it hidden because it won't work for all functions we have so far.

[2016-08-21 20:34] sciunto commented on #2178
given the current output, I'm wondering if it's not better to rename the function as `try_all_global_threshold`. Otherwise, it's confusing.

[2016-08-21 20:44] sciunto commented on #2121
Another idea. Should we make a distinction between local and global threshold names? The list is growing and it becomes difficult to distinguish. Suggestion: keep `threshold_*` for global ones, and `local_threshold_*` for the others.

[2016-08-22 04:55] jni commented on #2121
👎 for local_threshold. The main point of the threshold_ prefix is to enable autocompletion, which local_ breaks.

[2016-08-22 04:58] jni commented on #2178
Hmm, I quite like having both local and global in the same function... I suspect there would be a way to achieve this consistently...

[2016-08-22 05:19] sciunto commented on #2121
Or `threshold_local_*` or we leave as it is.

[2016-08-22 07:08] soupault opened #2249 "Remove unused `_shared.extend_image`"
## Description
I propose to remove `extend_image` (https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/interpolation.pyx#L12), as it duplicates the behaviour of `skimage.util.pad`, and it is not really used anywhere (https://github.com/scikit-image/scikit-image/search?utf8=%E2%9C%93&q=extend_image).

[2016-08-22 07:14] soupault commented on #2047
xref https://github.com/scikit-image/scikit-image/issues/1323, https://github.com/scikit-image/scikit-image/pull/1432

[2016-08-22 09:04] jni commented on #2249
👍 ! It probably predates pad but now is definitely superseded by it.

[2016-08-22 11:35] jmetz opened #2250 "filters.frangi fails with default parameters on Py3"
When running the documentation example for the Frangi, fails because of default parameters to `frangi` **on Python 3**. Note this is fine on Python 2.

[code]
## Reproducing

Copy and run the official example: http://scikit-image.org/docs/dev/auto_examples/filters/plot_frangi.html

[2016-08-22 12:20] soupault commented on #2250
@jmetz Could you elaborate more on your setup? Works well for me on Py3:
[code]

[2016-08-22 12:40] jmetz commented on #2250
I get
[code]
... so same Numpy and Scikit-Image, but older Scipy.

Just updated Scipy and all works as expected. Thanks for the pointer!

[2016-08-23 14:37] norok2 commented on #2247
I was thinking about that just these days and probably a good (but maybe too abrupt) refactory, would include having a common standard interface to `nd_filters` where every cheaply generalizable algorithm is written as: `nd_filter_1_1`, `nd_filter_n_1`, `nd_filter_n_m`, `nd_filter_n_x`, where the first number indicates the number of inputs and the second number the number of outputs, and the `x` i

[2016-08-23 15:04] norok2 opened #2252 "BUG: skimage.restoration.unwrap_phase output with wrong sign."
I believe that the function `skimage.restoration.unwrap_phase` outputs the unwrapped phase with the opposite sign.

Plotting the 2D histogram from a phase image and its unwrapped counterpart gives:
https://www.dropbox.com/s/dije7vlz8uapbfi/corr____phs_unwrap1____phs.png?dl=0

which gets fixed by adding a minus at the end of the output:
https://www.dropbox.com/s/4dei887143z2707/corr____phs_unwrap1a

[2016-08-23 15:53] grlee77 commented on #1585
@sciunto.  There is a related issue open at scipy/scipy#2640
I did spend a few hours looking at it some time ago, but did not come up with a fix that didn't also break some other existing tests.  I doubt I will have the time to revisit it in the near future, but would definitely like to sort it out at some point.

[2016-08-23 21:19] #2249 closed

[2016-08-23 22:23] emmanuelle commented on #2247
@norok2 I'm not sure I understand why you would like to specify the number of input and output parameters in the function name, since these values can be retrieved easily, for example with the ``ìnspect`` module? Can you please explain?

[2016-08-23 23:28] jni opened #2253 "NumPy error when no descriptors are found in ORB"
## Description

When you pass a blurry image to an ORB object's `detect_and_extract` method, and it finds no keypoints, it crashes with an error inside of `np.hstack` because `scales_list` is empty:

[code]

[code]
## Way to reproduce

Using the image attached below, run:

[code]

**upd:** fixed code snippet /soupault

Affects skimage master. The problem is in [this `if` clause](https://github.com

[2016-08-23 23:29] jni commented on #2253
Suggested fix: detect when no keypoints have been found at any level, and raise a `RuntimeError`, perhaps suggesting what kinds of features ORB likes to find.

[2016-08-24 02:59] jni commented on #2250
Well, our scipy requirement is >=0.10, so I'm reopening this until we either push up our requirement or fix the issue with older scipy... Thanks for the report @jmetz!

[2016-08-24 05:41] norok2 commented on #2247
No, I am not :-)

[2016-08-24 06:07] sciunto commented on #2250
We recently bumped numpy to 1.11, released on March '16. Scipy 0.10 was released on March '12.

I'll open a PR to bump scipy as well.

[2016-08-24 06:47] sciunto commented on #1585
Thanks for the link.

[2016-08-24 18:09] sciunto commented on #2250
PR opened. :)

[2016-08-25 09:02] gatagat opened #2258 "profile_line gives wrong output for a binary mask"
## Description

As of now (skimage 0.12.3), profile_line sometimes returns wrong output for binary masks (np.array(dtype=bool)). See below for an example. If the image is cast to an uint8 first, it returns the expected result.

A possible patch might be even just specifying the allowed dtypes in the docstring.
## Way to reproduce

[code]

The output is (there is a zero in the middle of the profile

[2016-08-25 19:15] anntzer commented on #2219
FWIW I now have an implementation of CLAHE which does not use any interpolation at all.  For reasonably sized images such as this one, it is essentially instantaneous.

Would there be interest in merging it?

[2016-08-25 19:28] soupault commented on #2219
I'd definitely be glad to have a look.

[2016-08-26 20:20] anntzer commented on #2219
See https://github.com/anntzer/clahe.  The implementation should be relatively transparent: we uniquify the values to make histogramming easier, and progressively update the histogram, and compute the CLAHE values.  The only slightly tricky part is the contrast-limiting itself.
Edges are handled by padding with the border value.

[2016-08-27 00:38] JDWarner commented on #2250
The discrepancy between Python 2 and 3 makes me suspect something like true/truncating first and SciPy second.

[2016-08-27 08:04] soupault commented on #2250
OK, so there was a pretty old bug in type checking, which had been fixed via https://github.com/scipy/scipy/commit/3035cd949a421992bdb1ec1191d8143d132ae0cb#diff-0b507ce41065ac7f08d6750cd439298bL60 right before `scipy 0.17` came out.

[2016-08-27 14:30] JDWarner commented on #2250
This is a very minor problem easily caught and worked around on our end. IMO that is the correct approach, rather than bumping our SciPy requirement by over 5 years.

[2016-08-27 17:34] JDWarner commented on #2219
@anntzer that looks rather elegant!

[2016-08-27 17:55] anntzer commented on #2219
I'll let you discuss the API changes :-)

Note that I use the "standard" definition of clip limit (>1, instead of <1 as is currently the case), see https://github.com/scikit-image/scikit-image/issues/2214#issuecomment-234841754.
For simplicity (mostly) and performance (less so), I only do one round of clipping, instead of repeating it until the contrast is actually limited by the specified value -

[2016-08-27 19:14] #2204 closed

[2016-08-27 20:59] emmanuelle opened #2267 "felzenswalb does not raise error when passed a 3D image"
The current implementation of ``segmentation.felzenswalb`` is for 2D grayscale of RGB images only. However, it is possible to pass a 3D image to the function without an error being raised. This should be corrected in the short term. And of course, it would be great to write a 3-D compatible version of felzenswalb in the long term :-).

[2016-08-28 09:05] sciunto opened #2268 "VisibleDeprecationWarning in plot_local_binary_pattern.py"
In travis, I noticed:

[code]

[2016-08-28 09:08] dgtlmoon commented on #2253
Yes, from reading the documentation this also hit me.. it's quite hard to know that the image was too blurry

[2016-08-28 09:29] emmanuelle opened #2269 "Build the doc with CircleCI?"
At the moment, when a change is made to the documentation, the persons who are reviewing the PR have to (or should :-)) fetch the corresponding branch and build the doc on their machine. We could maybe use CircleCI and configure it to build the doc, so that it would be possible to see the new doc online, without having to build it locally.

What do you think?

[2016-08-28 10:35] sciunto opened #2270 "Document how to manipulate 3D images"
The userguide is really missing a section about 3D images. How to manipulate them, how our algorithms handle them...

I propose to proofread the text.

[2016-08-28 16:46] sciunto commented on #2269
I think there are pro and cons. Clearly, it will make our life easier for PR where new features with documentation are added because very often screenshots are not attached. On the other way, it will take time to setup and to maintain just because we don't have a hand on these servers and we will depend on them if them change anything in the configuration. For travis for example, we have to spend

[2016-08-28 20:34] emmanuelle commented on #2270
:+1:
Where would you suggest to add this section? After the part on color images in the chapter "a crash course on NumPy for images"?

[2016-08-28 21:39] anntzer opened #2271 "slightly confusing docstring for black_tophat"
black_tophat is currently documented to return
[code]
The name of the return value should probably be changed to something like `out` (it's not an opening) and the text to `of the black top hat filter` (or whatever is used for the white tophat).

[2016-08-29 10:05] anntzer commented on #2271
Nah, it's yours 😃

[2016-08-29 19:36] sciunto commented on #2270
Or even after data types. To me, understanding data types is more fundamental than 3D.

Your question revealed to me a section/subsection problem with this chapter "a crash course...". See #2273

[2016-08-29 20:41] #2271 closed

[2016-08-30 07:33] soupault commented on #2269
I agree, that would be a nice thing to have, although I've no idea how to approach it.
Basically speaking, we would like to have a fair web-deployed copy of documentation tree for each existing PR. That's a huge overhead.

Reasonable alternative is to enable `artifacts creation` for Travis (quick googling has indicated that there is such an option https://blog.travis-ci.com/2012-12-18-travis-artif

[2016-08-30 09:43] GeekMe93 commented on #2244
@jni  Sorry for the very late reply, I am busy with other stuff. My OS is Mac

[2016-08-30 13:35] soupault opened #2275 "Add conversion routines between `cartesian`, `xy` and `rc` conventions"
## Description

Unfortunately, there is no global agreement between developers of different image processing tools on the preferable coordinate convention yet. I'm aware of 3 most commonly used ones: `cartesian` (x - horiz. to the right, y - vert. to the top), `xy` (x - horiz. to the right, y - vert. to the bottom), `rc` (r - vert. to the bottom, c - horiz. to the right).
Even current `skimage` al

[2016-08-30 13:51] soupault opened #2276 "Use `plane, row, col` dimensions ordering as specified in the `skimage` conventions page"
## Description

I've discovered that the declared recommended order of 3D image dimensions is `plane, row, col` (see the table in http://scikit-image.org/docs/dev/user_guide/numpy_images.html#coordinate-conventions).
In `skimage` there are couple of places, where this order is violated (at least, in docstrings). One of the cases I can remember is https://github.com/scikit-image/scikit-image/blob/m

[2016-08-30 13:54] soupault commented on #2276
@jni btw, what is the recommended ordering for nD images? Is it `T, P0, P1, ..., M, N, C` or something different?

[2016-08-30 17:11] stefanv commented on #2275
Can you give an example of where you see this being used?

[2016-08-30 20:38] thypad opened #2277 "problem with dtype float limit checking"
## Description

After loading a certain image and doing some preprocessing I tried to do a watershed transform like the one described here: http://scikit-image.org/docs/dev/auto_examples/plot_marked_watershed.html

During the processing, an error kept showing up after calling filters.rank.gradient(), with the following traceback:

[code]

I checked a bunch of times, and the image passed is float64

[2016-08-31 05:12] sciunto commented on #2277
Thank for reporting this.

Similar issues: #1529 #1616

[2016-08-31 05:17] sciunto commented on #2277
@jni and @stefanv seem to agree on a solution: https://github.com/scikit-image/scikit-image/issues/1529#issuecomment-107141553

[2016-08-31 09:26] soupault commented on #2275
Here are some cases:

a. At the moment, I've some issues running ProjectiveTransform from `skimage`, so I'm using OpenCV for it. OpenCV works in `xy` coordinate system, so the typical call looks like this:
[code]

b. Our own transforms use `xy` convention (see http://scikit-image.org/docs/dev/auto_examples/applications/plot_geometric.html#parameter-estimation). And, as long as https://github.com/s

[2016-08-31 09:53] soupault commented on #631
Kind ping @tbekolay

[2016-08-31 12:57] sciunto commented on #2275
Quick comment. I'm always lost in these conventions and I tend to check each time I use a function I've never used before. I think that clarifications in the documentation (user guide) with schematics would be a nice addition too.

So +1.

[2016-08-31 14:49] soupault commented on #2047
To check (from https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt):
[code]

[2016-08-31 19:07] soupault commented on #2269
Whoa! There is one more neat bot -> https://github.com/rust-lang/cargo/pull/3039#issuecomment-242478135 . This one can be triggered to automatically build and merge PRs. I we decide on this solution, I believe that it is not so hard to write a customized bots for our needs.

[2016-08-31 21:38] stefanv commented on #2275
Are you saying both OpenCV and scikit-image use xy?

[2016-08-31 23:01] stefanv commented on #2269
We should also check in with @Matthew-Brett who has experimented with
similar bot software

[2016-09-01 07:15] emmanuelle opened #2280 "Visual aspect + text of superpixels gallery example could be improved"
As a result of the compact watershed being added to the superpixel gallery example (http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_segmentations.html), the subplots are now tiny. They should be made bigger (change aspect ratio + tight_layout).

Also, the text is not completely up to date (first paragraph says "This example compares three popular low-level image segmentation metho

[2016-09-01 07:21] soupault commented on #2280
xref #2144

[2016-09-01 11:57] tbekolay commented on #631
Apologies for the extreme tardiness! I tracked down the code again and it can be found at https://dl.dropboxusercontent.com/u/6182929/inpainting.zip

The zip contains the original report (linked above but now a 404), Elastica inpainting in Matlab, and TV inpainting in Python. Feel free to adapt it all as you see fit; attribution would be appreciated but not necessary.

[2016-09-01 21:01] soupault commented on #631
Thanks a lot! I think, it'd be finally possible to manage this addition. Sadly, my previous efforts to implement the Elastica model weren't successful.

[2016-09-01 21:12] soupault commented on #2275
@stefanv that is certain.
OpenCV also does cause some other troubles with its Python bindings, but that is another story...

[2016-09-03 08:34] sciunto commented on #2232
@amccaugh If you would like to write an implementation for that, feel free, even if it's 2D only.
Also +1 for the keyword argument.

[2016-09-03 14:22] #744 closed

[2016-09-04 10:03] sciunto commented on #2215
@scikit-image/core We need other point of views ;)

[2016-09-04 10:39] soupault commented on #2215
I think that we might do better here.
The most clear solution, in my opinion, could be to add `expand_n_clip` parameter to `img_as_...` with the neat defaults (expand if True, clip otherwise).

[2016-09-04 14:04] souravsingh commented on #2268
I would like to work on the issue.

[2016-09-04 14:09] soupault commented on #2268
@souravsingh sure, go for it!
Here you can find some guidelines -> http://scikit-image.org/docs/dev/contribute.html .
Feel free to ask questions if you have any troubles.

[2016-09-04 14:17] souravsingh commented on #2268
@soupault Do we have to work on a workaround for the DeprecationWarning for this issue?

[2016-09-04 14:24] soupault commented on #2268
@souravsingh Yes, we need to get rid of it till it becomes an error.
You should start by localizing this warning in the chain of calls. Then, ideally, if you prepare a short snippet which reproduces the warning, we can think on how to fix it in the best way.
If you feel confident enough to fix it by your own, just submit a PR and we'll review it.

[2016-09-04 14:46] sciunto commented on #2268
Great @souravsingh  I looked at it quickly last time. If I remember well, there is a bining stuff that is a float (comming from something like a `*.max()` call) and it's supposed to be an integer. I was doing something else, so I just reported it.

[2016-09-04 17:04] soupault commented on #1967
Incorporated into https://github.com/scikit-image/scikit-image/issues/1773, to be closed via https://github.com/scikit-image/scikit-image/pull/2144.

[2016-09-04 17:04] #1967 closed

[2016-09-04 17:04] soupault commented on #1969
Incorporated into https://github.com/scikit-image/scikit-image/issues/1773, to be closed via https://github.com/scikit-image/scikit-image/pull/2144.

[2016-09-04 17:04] #1969 closed

[2016-09-04 17:06] soupault commented on #2237
Unfortunately, this doesn't seem to be closed via #2257. I've seen a case of this today on a branch rebased on `master`.

[2016-09-04 17:12] soupault commented on #1589
This issue is essentially a duplicate of https://github.com/scikit-image/scikit-image/issues/1588.
Reopen if disagree.

[2016-09-04 17:12] #1589 closed

[2016-09-04 17:15] soupault commented on #2221
xref https://github.com/scikit-image/scikit-image/issues/1813

[2016-09-04 17:18] sciunto commented on #2237
I've seen that also. Nevertheless, I tend to see it less.

[2016-09-04 17:26] soupault commented on #989
@stefanv Can we just add hyperlink to the docstrings (e.g. make some part of https://github.com/scikit-image/scikit-image/blob/master/skimage/data/__init__.py#L68-L73 a hyperlink to https://github.com/scikit-image/scikit-image/blob/master/skimage/data/astronaut.png), or would you prefer to pursue JavaScript solution?

[2016-09-04 17:40] soupault commented on #1822
@emmanuelle may I ask for your opinion on this? I personally like the current implementation. One thing I'd change is to hide 2nd row (`axes[1, [0, 1]]`) for the first two plots.

[2016-09-04 21:03] soupault opened #2284 "Cannot render `segmentation/plot_ncut.py` correctly"
## Description
See https://github.com/scikit-image/scikit-image/pull/2144#issuecomment-244626192 and https://github.com/scikit-image/scikit-image/pull/2144#issuecomment-244627673 for the details.

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example: see 2nd link above
- [x] Linux x86_64, 4.4.19
- [x] Python version: 3.5.2
- [x] scikit-im

[2016-09-04 21:15] #1773 closed

[2016-09-04 21:25] soupault commented on #2280
Closed via #2144

[2016-09-04 21:25] #2280 closed

[2016-09-05 03:08] amccaugh commented on #2232
So I've written the function for 2D and tested it, it works very well and is extremely efficient (more so than line() it looks like).  The only holdup now is I don't know how to incorporate it as a keyword argument -- I've never written in Cython before and it's also not clear to me what style the code should be written as (write it as a separate function or make it part of a big if/else in the ex

[2016-09-05 04:49] soupault commented on #2284
Gallery example looks fine -> http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_ncut.html.

[2016-09-05 06:46] sciunto commented on #2232
We must wait for #1432 to be merged, which going to happen ver yvery soon, once @mdmueller has addressed the last comments.

Then, you can put the kw argument in the wrapper (python function) with a if else condition. And you can write a new cython function. Does that sound?

[2016-09-05 08:13] soupault commented on #2215
xref https://github.com/scikit-image/scikit-image/pull/1229, https://github.com/scikit-image/scikit-image/issues/1234

[2016-09-05 08:22] soupault commented on #1349
Whoa! That is a very cool function!

[2016-09-05 08:23] soupault commented on #2203
NumPy 1.10:
- [ ] new `np.digitize` function (xref https://github.com/scikit-image/scikit-image/issues/1349)

[2016-09-05 09:03] soupault commented on #1775
All originally requested cases are fixed.
Few more are:

- [ ] `./examples/xx_applications/plot_coins_segmentation.py` (in two places), http://scikit-image.org/docs/dev/auto_examples/applications/plot_coins_segmentation.html
- [ ] `./source/plots/hough_tf.py` <- this to be removed?
- [ ] `./tools/plot_pr.py`

[2016-09-05 11:32] #1571 closed

[2016-09-05 12:04] sciunto commented on #2284
@soupault What do you suspect? Problem with some versions?

[2016-09-05 13:04] soupault commented on #1500
Should this be closed?

[2016-09-05 15:46] amccaugh commented on #2232
Sounds good!

On Mon, Sep 5, 2016 at 12:46 AM, François Boulogne <notifications@github.com

[2016-09-05 20:09] soupault commented on #2284
Dunno. I've checked both for `master` and `0.12.3`.

This is `label1`:
![figure_2](https://cloud.githubusercontent.com/assets/1315589/18256290/f74fff92-73bb-11e6-8caa-a79a85dc8722.png)

Returned `label2` is a matrix of zeros. So, there must be an issue in one of these calls:
[code]

[2016-09-05 22:15] soupault opened #2290 "Refactor `skimage.transform.hough_line` docstring example"
## Description
Simplify the example in `skimage.transform.hough_line` docstring (http://scikit-image.org/docs/dev/api/skimage.transform.html#hough-line). Move and incorporate the content of `doc/source/plots/hough_tf.py` into the existing or new gallery example. Add reference to it (See Also) to the source docstring.

[2016-09-06 08:17] jni commented on #2275
@stefanv I've been using `transform` a lot more these past couple of months and can attest that the inconsistency between xy and rc has been frustrating! I think these functions would help.

In the long term, I'd consider writing a `transform_rc` module that uses numpy coordinates by convention, and would simply convert all coordinates transparently between the functions in `transform` and everyth

[2016-09-06 08:59] jni commented on #2284
There could be some numerical instability in the implementation, which might affect the choice of threshold...

[2016-09-06 17:47] sciunto commented on #2290
I'll take this one.

[2016-09-06 17:53] sciunto commented on #1117
@emmanuelle I turned your list into tick boxes.

[2016-09-07 06:53] soupault commented on #2284
@jni what do you see on your setup?

[2016-09-07 11:04] PertuyF opened #2292 "io.imsave(name, array, plugin='simpleitk') not working correctly for Nifti 3D images"
When saving a 3D image in NIfTI format (.nii) using skimage.io.imsave() and plugin 'simpleitk', the result image cannot be read correctly from other softwares. For instance Fiji loads X dimension as channels, therefore the Y and Z dimensions becomes X and Y.

The problems is that the NIfTI header is incorrect and indicate a 5 dimensions image (xyztc) instead of a 3 dimensions image (xyz).

## Sour

[2016-09-08 07:51] #2267 closed

[2016-09-08 07:52] sciunto commented on #2267
@emmanuelle If you want to keep track of 3D for felzenswalb, I let you open another ticket ;)

[2016-09-08 11:25] twmht opened #2293 "raw data from skimage.io.imread differs from opencv cv2.imread"
![0000001](https://cloud.githubusercontent.com/assets/1567200/18347787/1bc6cd02-75fa-11e6-9ff1-d40aaf43aad0.jpg)
Hi,

I load an jpeg file with scikit-image `skimage.io.imread` and `opencv cv2.imread`, but the raw data differs.

scikit-image == 0.12.3

[code]

result

[code]

I am not sure the root cause.

[2016-09-08 11:38] sciunto commented on #2293
looks like a rounding issue...

[2016-09-08 11:41] sciunto commented on #2293
Have you tried different plugins? `'pil', 'matplotlib', 'qt', 'freeimage'`

[2016-09-08 11:51] soupault commented on #2293
`pil`, `matplotlib`:
[code]

`freeimage`:
[code]

[2016-09-08 12:19] jni commented on #2293
@twmht the image as read by scikit-image renders correctly when displayed using `matplotlib.pyplot.imshow`. Do you have any indication that scikit-image's result is any less correct than cv2's?

[2016-09-08 12:19] jni commented on #2293
(As another diagnostic, you could compute the correlation coefficient between the CV2 and skimage arrays. I bet it will be very very high.)

[2016-09-08 12:28] #1775 closed

[2016-09-08 12:37] soupault commented on #2293
@jni I'm not sure if it helps, but I've tried to open the image in GIMP, and the editor shows the same data as `cv2.imread`.
Saving the image without compression to `.png`, and re-looping the test on it works fine (no differences detected). So, there must be something with out `jpeg` backend.

[2016-09-08 12:45] jni commented on #2284
@soupault

<img width="421" alt="screen shot 2016-09-08 at 10 43 10 pm" src="https://cloud.githubusercontent.com/assets/492549/18349638/a9483876-7615-11e6-953f-5513b3640188.png">

OSX El Capitan, Anaconda Python 3.5.2, scipy 0.18.0, numpy 0.11.1, matplotlib 1.5.1

[2016-09-08 12:46] jni commented on #2293
@soupault ah, thanks! That's indeed worrisome! =\

[2016-09-08 13:28] twmht commented on #2293
@jni

Yup. Both displayed results are very close ( human eye can not tell their difference)

The uploaded jpeg file comes from `io.imsave('0000001.jpg', ndarray, quality=90)`

I try another png file, and it works as expected ( the raw data from both skimage and opencv is same)

Only jpeg images (or maybe other compressed images) have this problem.

[2016-09-08 13:31] sciunto commented on #2293
Let's ping @almarklein and @blink1073 so they know about this issue.

[2016-09-08 13:54] crh3675 opened #2296 "A Star (A *) Algorithm Feature Request"
We actively use this library and it serves us well.  We are looking to have an enhancement added if possible that allows us to:
- Based on the input being a raster image,
- Using the A \* algorithm https://github.com/wordswords/astarpython
- Allow us to find the shortest passable route

We believe (but might be wrong) the codebase could be augmented in this file:
https://github.com/scikit-image/sc

[2016-09-08 14:46] jni opened #2297 "Feature request: geodesic watershed"
## Description

The code cleanup introduced in #2211 while implementing compact watershed makes it quite easy to add geodesic watershed, where flood time depends not on height but on geodesic distance to the marker. This would be a rather useful method!

See for discussion:
https://github.com/scikit-image/scikit-image/pull/2211#discussion_r72434362
https://github.com/scikit-image/scikit-image/pull

[2016-09-09 00:08] jni commented on #2215
@soupault I don't know a priori what your `expand_n_clip` parameter is doing, but a parameter would be welcome.

Since you referenced #1234, I'll reiterate in this context: I think we should add the `rescale_to` functions and prefer those, including adding parameters that define the rescaling behaviour.

[2016-09-09 00:14] jni commented on #2276
@soupault what are `P0`... `Pn`? We don't really have a concept of time in scikit-image, but in general yes, it should be the leading dimension, so that each frame (whether 2D, 3D, or 3D+c) is contiguous in memory, when using the "standard" C-ordering in NumPy arrays. Some specialised applications might want time-contiguous voxels, but I would say they are in the minority.

[2016-09-09 01:18] jni commented on #2237
Agreed with @soupault and @sciunto . Interestingly, for [this build](https://travis-ci.org/scikit-image/scikit-image/builds/158437798), *all* the individual builds failed with a duplicate reference error, then, upon restarting, *all* the builds worked. So the effect might be due to the availability of some external resource? Dunno. Weird. =(

CC @stefanv

[2016-09-09 04:54] soupault commented on #2276
nD-planes they are. It is clear that for 3 spatial dims the order should be `P, M, N`. I'm wondering if there is already a convention on how to order 4 or them: should it be `P_3, P_4, M, N` or `P_4, P_3, M, N`?
Personally, I have no idea how to interpret P_4 in image processing case (well, obviously, it is a basis vector for 4th spatial dimension, as well as P_inf is an INFth vector in Hilbert sp

[2016-09-09 07:38] jni commented on #2276
@soupault that's exactly it, I don't think there is such a case as 4-spatial dimension data. There's T, and T should come first as discussed (in general). There might also be some other array dimension, for example, sample ID, and that should probably come before T still.

I guess what I'm saying is, T comes first, and for anything else, it should probably be evaluated on a case-by-case basis.

[2016-09-09 22:58] crh3675 commented on #2296
That is super helpful!  We will look at that function and see how far we can get with it.  Thanks for being very helpful!

[2016-09-12 12:53] mdallc commented on #2296
@jni does that code account for impassable areas?

[2016-09-13 03:43] jni commented on #2296
@mdallc are you asking how would you encode it, or how does the algorithm deal with a "no solution" scenario? For the former, you would just set your cost to `np.inf`. For the latter, it returns a `ValueError`:

[code]

[2016-09-14 12:51] schierkolk commented on #2296
@jni Thank you for the example. I tried to use -np.inf to create a required node in the route but it didn't yield the expected result. I would have thought that  -np.inf would create the opposite result of np.inf

[2016-09-15 05:19] jni opened #2301 "Change 2D Hessian matrix order from y/x to r/c"
Hessian matrix computation used to return the matrix elements as "Hxx, Hxy, Hyy", which is equivalent to "Hcc, Hrc, Hrr". This goes against our array order conventions, for no particular reason other than history. See [this comment](https://github.com/scikit-image/scikit-image/pull/2194#r71079486) for more context.

Currently, this means that the 2D Hessian matrix is returned in a different order

[2016-09-15 05:24] jni commented on #2301
I've labelled this "easy" because it is not a technically challenging job, just a time-consuming one.

We do need to agree on how deprecations are going to work with output arguments when using a function correctly. It will be annoying to have no way of removing a warning.

Here's a suggestion: add an "order=None" kwarg that defaults to 'F' but warns with a deprecation. When passing "order='C'", t

[2016-09-15 06:13] ahojnnes commented on #2301
+1 to fix this asap and I like the proposed order="C|F" approach.

[2016-09-15 13:35] jni commented on #2296
@schierkolk Since costs need to be added together, using `-np.inf` would not be expected to work. `-np.inf + anything` gives `-np.inf`, *unless* you try `-np.inf + np.inf`, which is `np.nan`. Thus, I would expect using `-np.inf` to wreak havoc with the algorithm!

If you know a point is required, why not use multiple calls to `route_through_array`? ie instead of `route_through_array(arr, src, dst)

[2016-09-15 13:39] schierkolk commented on #2296
@jni That seems like a more reasonable option because I could control the order through which I transition.

[2016-09-15 13:58] mdallc commented on #2296
What's ur high side email address, want to fed you an email, thanks.

Eddie

Eddie Lee
Director of National Security Programs
M:  301-919-4500
Eddie.lee@mdaus.com<mailto:Eddie.lee@mdaus.com>

On Sep 15, 2016, at 9:40 AM, Chris Schierkolk <notifications@github.com<mailto:notifications@github.com>> wrote:

@jni<https://github.com/jni> That seems like a more reasonable option because I could control

[2016-09-16 16:28] 0x00b1 commented on #2247
@emmanuelle thanks for creating this issue. @mcquin and I are more than willing to help since we’re working on adding volumetric processing and analysis functionality to CellProfiler. You can follow our progress here. We’ll contribute three-dimensional support for some missing common functions (e.g. rank filters).

Most of the problems we’ve run into are usability related.

For example, distinguis

[2016-09-17 04:50] jni commented on #2247
@0x00b1 In previous discussion about metadata we have mooted the idea of a simple dictionary with defined keys. Functions supporting this would take a `metadata=` kwarg that would override the keyword arguments. Thoughts?

[2016-09-18 08:45] sciunto commented on #2301
I put 0.13 as a milestone to fix it asap. Sooner is better.

[2016-09-18 08:46] sciunto commented on #2290
+ do something similar for `hough_circle`

[2016-09-18 09:23] soupault opened #2305 "Rename `px`, `py` variables in `draw.bezier_curve`"
## Description
See https://github.com/scikit-image/scikit-image/blob/master/skimage/draw/_draw.pyx#L776.

[code]
Should be renamed (`px->py`, `py->px`) to avoid confusion.

Xref #2319 .

[2016-09-18 20:02] soupault opened #2308 "Feature request: Euler's Elastica Inpainting"
## References

Euler's Elastica Inpainting:
- https://github.com/scikit-image/scikit-image/issues/631#issuecomment-244057138;
- http://epubs.siam.org/doi/abs/10.1137/S0036139901390088?journalCode=smjmap;
- http://www.wisdom.weizmann.ac.il/~vision/courses/2003_2/ChanShen.EulerElastica.pdf;
- ftp://ftp.liverpool.ac.uk/pub/maths_chen/chen/IJMM_Vol5_157BritoChen.pdf.

[2016-09-18 20:02] soupault opened #2309 "Feature request: Total Variation Inpainting"
## References
- https://github.com/scikit-image/scikit-image/issues/631#issuecomment-244057138;
- http://www.ipol.im/pub/art/2012/g-tvi/

[2016-09-19 07:00] pskeshu opened #2310 "Lineprofile plugin misbehaves with CollectionViewer from skimage.viewer"
## Description

To view multiple image stacks, especially microscope z stack images, CollectionViewer is very useful, as there's a slider which is makes it easy to navigate through the z stack of images.

There's a neat handy plugin to draw a line and get the intensity values along the line in skimage.viewer.plugins called lineprofile.

When used with CollectionViewer, the lineprofile shows the pr

[2016-09-19 17:58] bpollakw opened #2313 "Feature request: balloon segmentation"
## Description

Hi, I found an active contour model segmentation algorithm in scikit-image and while looking up some information I came across this paper:

Cohen, L. D. (1991). On active contour models and balloons. CVGIP: Image Understanding, 53(2), 211–218. http://doi.org/10.1016/1049-9660(91)90028-n

Which seems to use a better algorithm. I've seen people use balloon segmentation and claim that

[2016-09-19 18:02] ndamclean commented on #2048
This issue still exists in the most recent tagged release of skimage (0.12.3). When will there be a new release with this fix?

[2016-09-19 19:14] soupault commented on #2048
@ndamclean not yet, not yet... You can watch our schedule at https://github.com/scikit-image/scikit-image/milestone/6. (By the way, we are always happy to see new contributors, who is eager to speedup the development cycle. :wink:)

[2016-09-19 19:27] kwiechen commented on #1569
@benjaminirving  thank you very much for your efforts! I started with maskslic to get a meaningful oversegmentation of histology images masking the background. Using this with enforce_connectivity=True results in

 File "maskslic\_slic.pyx", line 218, in maskslic._slic._enforce_label_connectivity_cython (maskslic/_slic.c:4125)
ValueError: Buffer dtype mismatch, expected 'Py_ssize_t' but got 'long'

[2016-09-19 20:48] benjaminirving commented on #1569
@kwiechen. Thanks for picking this up. This code is still a bit of a work in progress and I've been delayed wrapping it up.

I would need to rework the enforce_connectivity method to work with this new version. I hadn't used it previously.

I've updated the README.md file to highlight the current issues with the code and will hopefully get a chance to look into it this week.

Thanks again,

Ben

[2016-09-19 20:48] alexandrejaguar commented on #2121
Hi all,
please don't add another function for returning image thresholds. Couldn't we implement functions returning the thresholds and the resulting images? It would be done with small effort (and it would avoid blowing the TK with somewhat unnecessary functions).
Again, just a humble opinion :)

[2016-09-20 08:34] sciunto commented on #2121
I think I do not understand your comment at all @alexandrejaguar

[2016-09-20 08:45] alexandrejaguar commented on #2121
@sciunto, repeating the last comment:
* I believe each threshold function should behave as @soupault said in 2.B.: calling a function should be, for instance:
`thresh_image, thresh_value = threshold_*(image, arguments)`.
* Another function (such as `apply_threshold()`) or another argument (`return_threshold=`) would bring more complication to the end user.

[2016-09-20 09:29] sciunto commented on #2121
Your solution is a big jump in term of API breakage. I'm not sure I want that.

[2016-09-20 10:04] jmetz commented on #2258
This is an issue with the `ndi.map_coordinates` call, and related to the order of the spine used.
If `order` is set to `0`, the test passes.

[2016-09-20 10:14] jmetz commented on #2293
@twmht : out of curiosity, if you compare the data used to create the uploaded jpeg to the data read by `cv2` and `skimage.io`, which one is closer?

[2016-09-20 10:18] jmetz commented on #2077
I'm happy to add in the Cell Profiler version of `lapjv` as a replacement; would it be better to replace the current `match_descriptor` algorithm (renaming it to e.g. `match_descriptor_bf` for brute-force) or should I create a new `match_descriptor_lapjv` which isn't then the default?

[2016-09-20 11:12] twmht commented on #2293
@jmetz : as @soupault  said, he compared the data between GIMP and `cv2.imread` and both raw data are same.

So `cv2.imread` is much more close than `skimage.io`.

[2016-09-20 11:19] jmetz commented on #2293
@twmht  - I don't think I was asking the same thing; what @soupault showed was that whatever library GIMP uses gives the same result as `cv2.imread`.

What I was asking is which one is closer to the original data that was used to generate the jpeg.

[2016-09-20 11:44] jmetz commented on #2293
OK I added my own test to answer my question about which is closer to the original data;

[code]

which on one run yielded

[code]

which is interesting; the sum of the absolute differences between the `skio.imread` and the original data is slightly smaller than the same quantity for `cv2.imread`....

[2016-09-20 11:47] jmetz commented on #2293
**Update**

Having realised my SAD (sum of absolute differences) might be off because of the `uint8` dtype, I added in a little casting for that measure, different values but the same result:

[code]
yields
[code]

[2016-09-20 12:25] jmetz commented on #2293
** Saving with cv2 **

When saving the image with `cv2` (using `cv2.imwrite(filename, data, [int(cv2.IMWRITE_JPEG_QUALITY), 90])`), the situation is reversed, e.g.

[code]

[2016-09-20 12:35] jmetz opened #2315 "Separate out filter functions from peak finding in blob_dog, blob_log"
## Description

It might be useful to have access to the "image cube" filter data generated in `blob_log` and `blob_dog`, plus separating the generation of these into dedicated functions could afford a more suitable level of modularity.

I would propose two new functions in the `filters` module, named e.g. `scale_space_log` and `scale_space_dog` or similar, and then calling these in the `blob_dog`

[2016-09-21 00:04] stefanv opened #2317 "Investigate doctr for deploying docs on Travis"
See https://drdoctr.github.io/doctr/

[2016-09-21 08:10] jni commented on #2077
@jmetz I'm in favour of renaming the current one as you suggested, assuming you can keep the API identical.

[2016-09-21 08:11] jni commented on #2077
I've added the needs decision tag to (hopefully) prompt some other core devs to chime in. Hopefully. =P

[2016-09-21 08:21] ahojnnes commented on #2077
@jmetz It might not be "ideal" in your scenario but is certainly useful for many other tasks, e.g., local feature descriptor matching between two images. If we decide to add other matchers, I agree that it makes sense to rename `match_descriptors` to `match_descriptors_bf` for consistency.

[2016-09-21 09:24] jmetz commented on #2077
@jni, @ahojnnes  - thanks for your feedback. @ahojnnes, I wasn't referencing any specific scenarios, but I may well have misunderstood the task here.
I interpreted it as an example of a [Linear Assignment Problem](https://en.wikipedia.org/wiki/Assignment_problem), which is a well studied class of problems, and the most common solution is in the form of essentially a global optimisation algorithm (

[2016-09-21 09:52] ahojnnes commented on #2077
The current function basically exhaustively finds nearest neighbors between two sets of vectors in some embedding (Euclidean, Hamming, etc.). This is a standard procedure in local feature matching in computer vision (alternatives are approximate matchers such as LSH, kd-tree, hierarchical kmeans, etc.). Can you give a real world example / practical application where your linear assignment problem

[2016-09-21 10:08] jmetz commented on #2077
LAP is used in object tracking, such as the Cell Profiler implementation I referenced above, and referenced in this highly cited reference: [Yilmaz, A., Javed, O., & Shah, M. (2006). Object tracking: A survey. Acm computing surveys (CSUR), 38(4), 13.] http://dl.acm.org/citation.cfm?id=1177355 -- so I thought it might be useful here too.
As you said though, the current approach is standard for loca

[2016-09-21 13:17] jni commented on #2258
@jmetz that's a nice workaround, but I don't understand why the interpolation works better in that case...?

[2016-09-21 13:42] jmetz commented on #2258
@jni - I'm not sure about that either :/ poked around here : https://github.com/scipy/scipy/blob/master/scipy/ndimage/src/ni_interpolation.c#L358 as this is where I think the magic is happening, but can't figure out why `bool` should behave differently to `uint8`.

[2016-09-22 10:59] soupault commented on #1185
http://stackoverflow.com/questions/39621996/what-are-the-l-a-b-ranges

[2016-09-22 20:13] ahojnnes opened #2318 "New stereo images in data directory"
For https://github.com/scikit-image/scikit-image/pull/1357, I would need to add a pair of stereo images and I suggest to use one from the dataset at http://vision.middlebury.edu/stereo/data/. Any objections or other proposals?

[2016-09-23 06:49] sciunto opened #2319 "bezier_curve returns arrays in a reverse order (column/line convention)"
## Description

In #2303
@soupault said "As I can understand, this is not correct. `_bezier_curve` returns arrays in a reverse order (`px, py` ==> `cc, rr`)."

* [ ] Check that the API does not conform to our standards and fix it
* [ ] Introduce deprecation if necessary
* [ ] Fix examples.

[2016-09-23 06:58] soupault commented on #2319
Hmm... https://github.com/scikit-image/scikit-image/issues/2305?

[2016-09-23 12:28] benjaminirving commented on #1569
@kwiechen, I think I've fixed the issue. See some enforce connectivity examples that I've added to `run_example.py`. Would you mind testing it and letting me know if it works for you?

Ben

[2016-09-23 12:34] soupault commented on #2318
I'd be glad to see any pair of stereo images supplemented with the ground truth (depth map). Could be useful also for https://github.com/scikit-image/scikit-image/issues/2138.

[2016-09-25 17:29] emmanuelle commented on #2318
:+1: from me as well.

[2016-09-25 21:27] kwiechen commented on #1569
@benjaminirving, I've tested with some histology slides and it works nicely. However seed_type='nplace', recompute_seeds=True is computationally very expansive.

Best regards,

Kai
![figure_1](https://cloud.githubusercontent.com/assets/17689755/18818367/96f4251c-8377-11e6-815b-92368871101e.jpeg)

[2016-09-26 05:03] stonebig opened #2320 "could measure.regionprops() work on squares and rectangles ?"
## Description

regionprops works well on circles and ellipses, but not on squares and rectangles.
## Way to reproduce

example and images below:
- on rectangle, axis minor and major length are larger than the rectangle,
- on square, axis minor-length is larger than minor length.

I was trying to find circles, ellipses, rectangles and squares on an image, for teaching purposes.

Windows 10, Python

[2016-09-26 19:55] #1323 closed

[2016-09-26 19:57] soupault commented on #2047
Closed via https://github.com/scikit-image/scikit-image/pull/2303.

[2016-09-26 19:57] #2047 closed

[2016-09-26 20:01] soupault commented on #1602
As we exposed a lot of functions in https://github.com/scikit-image/scikit-image/issues/2303, I argue that this issue must be a blocker for 0.13 release (so to avoid unnecessary API change deprecations).

[2016-09-27 07:17] chenboheng opened #2322 "Build error in Ubuntu 14.04"
When I build the skimage from the source.
I first successfully run pip install -r requirements.txt.
Then I run pip install -e .
some errors happen:

[code]

How can I solve this problem? The OS is Ubuntu 14.04 . skimage is 0.12.3

[2016-09-27 07:20] soupault commented on #2322
xref https://github.com/scikit-image/scikit-image/pull/2036

[2016-09-27 08:40] soupault commented on #2322
@chenboheng Hi! Have you tried to install Cython first (i.e. `pip install cython`)?

[2016-09-27 11:11] chenboheng commented on #2322
@soupault Yes， and cython -V
Cython version 0.24.1

[2016-09-27 11:16] chenboheng commented on #2322
@soupault I replaced to skimage 0.10 . And I can build the skiamge successfully. Maybe there is some problems in version 0.12.3

[2016-09-27 13:15] benjaminirving commented on #1569
Btw, for such a large image it probably doesn't matter if you use nplace

Set:
 seed_type='grid'
recompute_seed=True

In this case it should give you a much quicker result. 'nplace' is most useful for small regions or large superpixels.

[2016-09-27 15:38] soupault commented on #2322
@chenboheng can you just `pip install scikit-image` from web, not local folder?

[2016-09-27 23:26] jni commented on #1602
@soupault I agree with your argument. =)

[2016-09-28 01:32] chenboheng commented on #2322
@soupault  Yes. In Ubuntu 14.04 . Using pip install scikit-image only can install version 0.9.3. But I need skimage.restoration model to complete my code. And I use version 0.10 now, the code runs normally.

[2016-09-28 07:16] soupault commented on #2042
JFYI: intersphinx does have a `timeout` parameter now (see https://github.com/sphinx-doc/sphinx/issues/2474).

[2016-10-01 12:12] souravsingh commented on #2317
@stefanv I would like to work on the issue. Do we remove the script for deploying docs in the tools directory first before using doctr on Travis?

[2016-10-02 06:36] sciunto commented on #2320
Regarding the rectangle, if you print `props.bbox`, you'll see that the values are correct. It's just a matter of convention with matplotlib.

[2016-10-03 10:40] kwiechen commented on #1569
@benjaminirving,

seed_type='grid', recompute_seed=True approx. doubles runtime, with 'nplace' the runtime is more than 10-fold higher.

There are weird results without warning if there is a non-bool mask parameter (for me uint8 after resizing the mask).

Best regards,

Kai

[2016-10-06 05:15] ShahramKa opened #2329 "Error in extracting normal of the faces in marching cube."
Hi,

Try to use the isosurface extraction using marching cube and got an error when asking for the normal direction.

It is working when using:
 verts, faces = measure.marching_cubes(ellip_double, 0)

 but give this error

 verts, faces, normal = measure.marching_cubes(ellip_double, 0)
ValueError: need more than 2 values to unpack

I thought might be because not specifying the gradient direction h

[2016-10-06 18:37] sciunto opened #2330 "Add dask as opt dep."
See https://github.com/scikit-image/scikit-image/pull/2238#issuecomment-247765620 and https://github.com/scikit-image/scikit-image/pull/2238#issuecomment-251874188

Add `dask[array]>=0.5.0`

[2016-10-07 18:29] stefanv opened #2332 "Include image outputs from examples inline in docs"
This was requested here: http://stackoverflow.com/questions/39852896/intensity-weighted-minimal-path-between-2-points-in-grayscale-image/39861270?noredirect=1#comment67108914_39861270

[2016-10-07 19:51] ahojnnes commented on #2332
I agree, this would be a nice addition.

[2016-10-08 08:36] simone-codeluppi opened #2333 "Parallel computing skimage.feature.peak_local_max"
## Description

I have an image and I want to run `skimage.feature.peak_local_max` using different thresholds. I would like to run the function in parallel using `joblib`. The parallelisation won't work  and I think because `labels` cannot be modified in each core.

I made this naive hack by creating a `.copy()` of the labels variable in the function. Now each core can modify the `labels` value.

[2016-10-08 19:02] #2319 closed

[2016-10-08 19:03] sciunto commented on #2305
closed by #2321

[2016-10-08 19:03] #2305 closed

[2016-10-08 19:04] sciunto commented on #2318
Addressed in #1357

[2016-10-09 00:31] jjmetzger opened #2334 "blob_log, blob_dog and blob_doh error when not detecting peaks"
## Description

Blob detection with any of the skimage.feature.blob_log, blob_dog or blob_doh fails when no blobs are detected.

[code]
## Way to reproduce

[code]

I'm on OSX 10.11.6, Python 3.5, scikit-image 0.12.3

[2016-10-09 07:20] aplavin opened #2335 "Hog features normalization"
## Description

When normalizing HOG feature blocks, currently scikit-image [uses](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/_hog.py#L187) this formula: `normalised_blocks[y, x, :] = block / np.sqrt(block.sum() ** 2 + eps)`. What's the point of squaring and immediately taking square root? I guess `np.sqrt(block.sum() ** 2 + eps)` can be replaced with `np.abs(block.su

[2016-10-09 08:05] soupault commented on #2335
@aplavin Hi! Thanks for reporting! I don't see a strong reason either. Will address this shortly.
If you are looking for a different block normalization methods, they will come in with https://github.com/scikit-image/scikit-image/pull/2040.

[2016-10-09 11:23] jni commented on #2333
@simone-codeluppi thanks for the report!

I have a surprising number of thoughts on this. =P

1. I would think that a more elegant hack would be to pass a new labels copy in each joblib call? Then there is no need to modify the original source?
2. It seems that `labels` is only modified if it contains non-consecutive integers, so perhaps joblib will only fail if you pass such an array — you could

[2016-10-09 11:41] jni commented on #2250
@JDWarner is this issue closed?

[2016-10-09 12:37] soupault commented on #2250
@jni not even close :wink:. You should take a look at https://github.com/scikit-image/scikit-image/pull/2264 - there is a whole lot of things to be fixed before we address this.

[2016-10-09 13:56] fayazr opened #2336 "ImportError: cannot import name shape_index"
Cannot import  shape_index from feature (from skimage.feature import shape_index), when running the example.

[2016-10-09 14:09] soupault commented on #2336
Hi @fayazr! This feature is new and hasn't yet been released (i.e. `skimage` 0.12.3 doesn't have it). Are you sure that you are using 0.13dev?

[2016-10-09 15:16] fayazr commented on #2336
Oh ok, how do I install 0.13dev in enthought canopy environment. Thanks.

[2016-10-09 15:25] soupault commented on #2336
@fayazr I don't think you can do this in Canopy. You might follow the traditional approach (http://scikit-image.org/docs/dev/install.html#running-the-development-version) though and Canopy will probably figure everything out.

Closing as not a bug. Feel free to continue discussion here.

[2016-10-09 15:25] #2336 closed

[2016-10-09 19:48] sciunto commented on #2127
I tried last time to find a workaround but nothing worked for me as far as I remember...

[2016-10-10 08:51] jmetz opened #2337 "threshold_li fails for "zeros" input images due to undefined `threshold`"
## Description

When running `skimage.filters.threshold_li`, if the input image is all 0, the
`tolerance` is set to zero causing the while loop never to execute and a somewhat cryptic error is
encountered because `threshold` never gets set.

A typical traceback is

[code]

I recognise that this is a special case, but I just wanted to raise this issue as a way of
asking

## Way to reproduce

All th

[2016-10-10 18:56] sciunto commented on #2127
Upstream suggests a switch to nose2. Won't be fix in nose1.

Any comment on this?

[2016-10-10 19:05] soupault commented on #2127
Looks good to me if it is fully functional and stable.

[2016-10-11 13:40] vighneshbirodkar commented on #2334
I am looking at this

[2016-10-11 23:03] alvinzz commented on #1623
Myself and @Bernwang will be working on this over the next week

[2016-10-12 14:51] catalintucureanu commented on #2322
can confirm the same error in CentOS 6.5 using python 2.7.2 (works with version <= 0.1)

[2016-10-13 13:00] EvanWeiner opened #2339 "Broken example: plot_rag_merge.py"
REPRO STEPS:
1. Run the plot_rag_merge.py in latest scikit-image example and look at the image.

RESULT:

The result looks far from the image in
http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_rag_merge.html#sphx-glr-auto-examples-segmentation-plot-rag-merge-py

It appears no one actually tested this after the example was updated (it's history shows 2 updates).

REMARKS:

The orig

[2016-10-13 14:05] soupault commented on #2337
Closed via #2338.

[2016-10-13 15:33] soupault commented on #2339
Here is the ourcome on my setup (Python 3.5, latest `skimage` master branch commit, numpy 1.11.2, Linux x86_64):
![figure_1](https://cloud.githubusercontent.com/assets/1315589/19355543/6794b11a-9173-11e6-96c3-28d9dfde2623.png)
Pretty much the same image as the one from the gallery.

Could you elaborate on your environment?

[2016-10-13 22:36] jni commented on #2337
@stefanv huh? Why did you reopen?

[2016-10-13 23:05] stefanv commented on #1623
![](https://github.trello.services/images/mini-trello-icon.png) [Foo](https://trello.com/c/xCaFvTHj/1-foo)

[2016-10-14 02:47] EvanWeiner commented on #2339
Python 2.7, numpy==1.8.2, Linux(Ubuntu 14) x86_64

[2016-10-14 02:56] EvanWeiner commented on #2339
Here's the output when I run it:

![image](https://cloud.githubusercontent.com/assets/8980169/19374213/9cc0744e-91fc-11e6-8a2a-b3b2ff792cac.png)

Note: if I run the older version of this script from here, then the output looks like yours and matches the example:
http://scikit-image.org/docs/0.11.x/auto_examples/plot_rag_merge.html#example-plot-rag-merge-py

[2016-10-14 16:14] soupault commented on #2339
@jni @vighneshbirodkar could anyone of you verify this, please?

[2016-10-14 17:42] halehawk commented on #2048
I got the warning whenever calling skimage.measure.compare_ssim with multichannel=True. Is it possible to disable the warning?
scikit-image 12.1.3
python 2.7.8

[2016-10-14 18:10] soupault commented on #2048
@halehawk what kind of warning? Also, please, specify the correct `skimage` version of your environment.

[2016-10-14 18:53] halehawk commented on #2048
Here is the deprecation message I got whenever I called compare_ssim:
/glade/apps/opt/scikit-image/12.1.3/gnu/4.8.2/lib/python2.7/site-packages/skimage/measure/_structural_similarity.py:224: skimage_deprecation: Call to deprecated function ``structural_similarity``. Use ``compare_ssim`` instead.

I used skimage 0.12.3

[2016-10-14 18:59] soupault commented on #2048
@halehawk that is already fixed via https://github.com/scikit-image/scikit-image/commit/5ac3255065f69a07d15080ac1e98536afde07de1.
You should wait for the new release, or use `dev` version instead.

[2016-10-14 19:42] halehawk commented on #2048
Is there an easy way to install dev version?

[2016-10-14 19:55] soupault commented on #2048
@halehawk I see nothing complicated - http://scikit-image.org/docs/dev/install.html#running-the-development-version . :wink:

[2016-10-14 20:04] halehawk commented on #2048
Great. Thanks.

[2016-10-15 18:57] tseclaudia commented on #2225
![](https://github.trello.services/images/mini-trello-icon.png) [label2rgb has an undocumented implicit assumption that labels are consecutive non-negative integers](https://trello.com/c/rxz8nDmZ/2-label2rgb-has-an-undocumented-implicit-assumption-that-labels-are-consecutive-non-negative-integers)

[2016-10-17 14:55] soupault commented on #2337
Probably, is a missclick. I _actually_ do think that this is closed in #2338.
Please, feel free to reopen with an explanation.

[2016-10-17 15:28] KhaledTo commented on #2339
I got similar result as @EvanWeiner.

Ubuntu14.04 x86-64
Python 2.7.12
Numpy 1.10.4
skimage 0.11.3

[2016-10-17 15:36] jmetz commented on #2333
@jni - had a quick bash at this - see following link

[2016-10-17 19:27] YueHazelZheng opened #2343 "Update equalize_adapthist docstring to clarify default kernel size"
This corresponds to issue scikit-image/scikit-image#2214.

[2016-10-17 19:37] vighneshbirodkar commented on #2339
@KhaledTo Could you try updating your scikit-image installation ?
@EvanWeiner What version  of scikit-image are you using ?

I am getting the same result as the docs webpage. My versions are
[code]
on `Python 2.7.11+`

[2016-10-17 19:39] soupault commented on #2343
Will be addressed in https://github.com/scikit-image/scikit-image/pull/2220.

[2016-10-17 20:20] stevendbrown commented on #2320
is this really a bug? doesn't the major_axis_length and minor_axis_length refer to the ellipse that best approximates the region rather than to the exact region itself?

[2016-10-18 00:58] KhaledTo commented on #2339
Hi @vighneshbirodkar,

So I updated to `0.13dev` and now I have the expected result.

[2016-10-18 13:44] tseclaudia commented on #1961
![](https://github.trello.services/images/mini-trello-icon.png) [Clarify difference between filled_area, area, and convex_hull_area in regionprops](https://trello.com/c/AK4AQzxZ/4-clarify-difference-between-filled-area-area-and-convex-hull-area-in-regionprops)

[2016-10-18 14:41] soupault opened #2345 "Implement quality metrics for image segmentation, classification and object detection"
## Description

I believe that these days a vast majority of engineers and researchers in the field of image processing are working on image segmentation, classification and object detection problems. That said, I think that it could be benefitial to have some typical quality metrics implemented in `scikit-image`.
Of course, there are already some simple metrics in `scikit-learn`, but none of them

[2016-10-18 17:28] 0x00b1 opened #2346 "Multidimensional structure tensor"
[skimage.feature.structure_tensor](http://scikit-image.org/docs/dev/api/skimage.feature.html#structure-tensor) requires a two-dimensional array.

[code]

It’d be useful to compute the structure tensor of a multidimensional array (e.g. a three-dimensional volume) because it’s a common feature for texture representation and regularly used to solve multidimensional imaging problems (e.g. image regist

[2016-10-18 18:12] 0x00b1 commented on #2346
If anybody else is interested, I started to experiment by adapting skimage.feature.structure_tensor:

https://gist.github.com/0x00b1/a96ebe7b6dded58c88e071b9bd7e6a01

[2016-10-18 22:25] stefanv commented on #1961
See #2344

[2016-10-18 22:30] stefanv commented on #2239
![](https://github.trello.services/images/mini-trello-icon.png) [Moments documentation is confusing to users](https://trello.com/c/Pxrrnclo/5-moments-documentation-is-confusing-to-users)

[2016-10-19 13:44] EvanWeiner commented on #2339
In [1]: import skimage, numpy, scipy, networkx

In [2]: skimage.__version__
Out[2]: '0.12.3'

In [3]: numpy.__version__
Out[3]: '1.8.2'

In [4]: scipy.__version__
Out[4]: '0.18.1'

In [5]: networkx.__version__
Out[5]: '1.11'

Python 2.7, Ubuntu 14

@vighneshbirodkar

[2016-10-20 15:35] jmetz commented on #2334
Hi @vighneshbirodkar  - do you still have time to fix this soon - had been running into the same issue and have already added in a fix on my fork.

[2016-10-21 04:23] vighneshbirodkar commented on #2334
@jmetz You can go ahead and submit your PR. I wasn't able to do much

[2016-10-21 04:29] jni commented on #2310
@pskeshu I'm not sure this is unexpected behaviour... Unfortunately the viewer is a rather neglected part of the code base. Do other plugins update correctly when you do this?

My guess is that you need to somehow hook up the lineprofile call to the slider...

[2016-10-21 05:12] rougier opened #2347 "[ENH] Fractal dimension (Minkowski–Bouligand)"
I've coded a fractal dimension computation for a colleague and I saw on #1730 there may be some interest. If this is the case, I can make a PR but I'm not sure where to put this (small) code.

Code is at https://gist.github.com/rougier/e5eafc276a4e54f516ed5559df4242c0
You'll need a Sierpinski image to test, I attached the one I use below.

The wikipedia reference is: https://en.wikipedia.org/wiki/

[2016-10-21 15:01] soupault opened #2348 "Add 3D/nD support for `measure.grid_points_in_poly` and `measure.points_in_poly`"
## Description

Requested in the mailing list (see https://mail.python.org/pipermail/scikit-image/2016-October/004972.html).

[2016-10-21 18:28] coderforlife opened #2350 "Add different methods for HOG block normalization"
It would be nice if HOG implemented the other types of normalization mentioned in the paper (including L2-hys, L2-norm, L1-sqrt, and L1-norm). Right now L1-norm is always used and it was the worst method according to the original paper (besides not normalizing at all). Also, the L1-norm is done in an odd way that looks like it was supposed to be one of the other norms but it wasn't quite complete.

[2016-10-21 19:14] soupault commented on #2350
@coderforlife Hello! Are you looking for https://github.com/scikit-image/scikit-image/pull/2040? :)
Unfortunately, it is stil lacking of reviews, so I'd be grateful if you move there and stress core team members a little :wink:.

[2016-10-21 19:16] soupault commented on #2333
@simone-codeluppi hello! Could you verify the fix from #2341?

[2016-10-21 19:25] coderforlife commented on #2350
Duplicate of #1345, #2040, and #2335.

[2016-10-21 19:28] soupault commented on #2350
Not fixed yet, so I reopen to have this as an extra reminder. :smiling_imp:

[2016-10-25 11:54] jmetz commented on #2320
I agree with @stevendbrown - not sure this should be labelled a bug.

At most it amounts to an enhancement, but even then it's not clear what the desired result would be??

[2016-10-25 14:51] stevendbrown commented on #2320
@jmetz i believe the "correct" answer which @stonebig is seeking could be the the Feret diameter or something like it (e.g. PR #1780) which does a point-by-point evaluation of all the diameters of an object as-is. for rectangles & squares, this would return a corner-to-corner distance. modifying the function in that PR to return the _minimum_ distance would give a cross-section pretty close to the

[2016-10-25 14:56] jmetz commented on #2320
Ahha - thanks for the explanation @stevendbrown - in that case this would amount to an enhancement, as the `major_axis_length` and `minor_axis_length` are still correct.

[2016-10-25 15:45] stevendbrown commented on #2320
@jmetz i agree!

[2016-10-25 17:21] stonebig commented on #2320
hi, my fonctionnal expectation would have been to get:
- "this is rather an ellipse", with blabla axes,
- "this is rahter a rectangle", with blibli axes.

I understand that current implementation is only looking for ellipses, and finding ellipses.

[2016-10-25 18:18] stevendbrown commented on #2320
@stonebig, the function doesn't "look for ellipses" but instead computes the mean orientation of the segment based on the distribution of the pixels that comprise the segment. the major and minor axes are a fairly standard measure in computer vision, the definition of which is restricted to the mathematical moments of an image or segment.

writing an algorithm to judge how "round" an object is see

[2016-10-25 21:12] YueHazelZheng opened #2353 "Remove incorrect input type assumption in docstrings for rgb2hsv and hsv2rgb"
# Description

Addresses #2183

# Checklist

[It's fine to submit PRs which are a work in progress! But before they are merged, all PRs should provide:]

- [ ] Clean style in the spirit of PEP8
- [ ] Docstrings for all functions
- [ ] Gallery example in ./doc/examples (new features only)
- [ ] Unit tests
[For detailed information on these and other aspects see scikit-image contribution guidelines]

[2016-10-25 21:21] #2353 closed

[2016-10-25 22:17] YueHazelZheng commented on #2353
duplicate of #21833

[2016-10-25 23:54] alvinzz commented on #1529
![](https://github.trello.services/images/mini-trello-icon.png) [Chaining issue: X -> Grey -> Resize -> Gaussian !!->!! Median #1529](https://trello.com/c/IovFa3jp/6-chaining-issue-x-grey-resize-gaussian-median-1529)

[2016-10-26 02:32] jni opened #2357 "Add documentation for deprecation process in CONTRIBUTING.txt"
There is a discussion in #2220 about a new way to handle API breakage: when it is easy to detect, break without the usual 2-release deprecation cycle, and raise an informative ValueError on incorrect usage of the new API. (For 2 releases still? Or 1 year?)

It also turns out that our deprecation process is not documented anywhere, that I can tell. Therefore, it would be good to codify both our exi

[2016-10-26 04:35] stefanv commented on #2357
I'm surprised we failed to do this before; thanks for noticing, @jni.

I am happy with either approach, over two releases.

[2016-10-26 08:01] soupault commented on #396
Closing as this issue had been fixed via #398.
Please, raise a separate issue for the second part of your discussion (if needed).

[2016-10-26 08:01] #396 closed

[2016-10-26 08:04] soupault commented on #1500
At the moment, there is a slight divergence between two.

[2016-10-26 08:09] soupault commented on #1580
@stefanv could you elaborate on this, please?

[2016-10-27 09:23] soupault commented on #2183
Closed via #2354.

[2016-10-27 09:23] #2183 closed

[2016-10-27 11:37] sciunto commented on #2357
I found this comment from Juan very useful: https://github.com/scikit-image/scikit-image/pull/2228#issuecomment-236826779

[2016-10-27 12:50] JDWarner commented on #2357
I'll keep playing the devil's advocate on this.

As a user of many packages but a developer on some, I'd much rather have hard breaks _with informative messages telling me what changed and how to fix it_ than a million deprecation warnings which will be ignored.  In the vast majority of cases the deprecations will keep being ignored; code will break now or later.  Our current _modus operandi_ is t

[2016-10-27 17:01] soupault commented on #2357
Thank you, Josh, for the detailed expression of you position.

I can't remember any "stable" project which uses no-deprecation approach, so shouldn't we.

At the beginning of my argument I'd like to draw a line between the "legacy code" (i.e. functions and algorithms presented in the code for >2yrs) and the features we add recently. These two must be considered differently in terms of review and d

[2016-10-28 09:23] soupault commented on #1669
Closed via #2331.

[2016-10-28 09:23] #1669 closed

[2016-10-29 19:20] pankap opened #2359 "Object has no attribute 'rgb2yiq' on Anaconda/Python 2.7"
Hello and thanks for your great work. Here is the issue:

DESCRIPTION
Could not find the method rgb2yiq, when using scikit-image 0.12.3 inside an Anacoda/Python 2.7 environment on Windows 8.1 x64.

STEPS TO REPRODUCE
- Install Anaconda2-4.2.0-Windows-x86_64 (Python 2.7)
- Create a virtual environment and activate
- conda install scikit-image
- Python code:

from skimage import color
from scipy imp

[2016-10-29 21:00] soupault commented on #2359
@pankap thank you for your kind words! :)
YIQ colorspace convertion routines had been in in https://github.com/scikit-image/scikit-image/pull/2060 after the release of _0.12.3_. Therefore, at the moment, they are available in _0.13/dev_ version only.

Closing the issue as not a bug.

[2016-10-29 21:00] #2359 closed

[2016-10-30 14:04] hugues-talbot opened #2360 "Numerical inaccuracies with the random_walker"
## Description

The random walker segmentation code is very useful but behaves sometimes very strangely with respect to numerical results.

See following code (sorry this is slow):

result:

Should be between 0 and 1: [0.000000 ; 1.103701]
## Way to reproduce
[code]

[2016-10-30 14:08] hugues-talbot opened #2361 "Random walker: no processing of the input choice"
## Description

Input choice is not sanitized

result should be 'toto not a referenced mode' but is instead:
[code]
## Way to reproduce
[code]

[2016-10-31 00:13] jni commented on #2360
@JDWarner any ideas about this? Pretty funny to see a probability of 1.1. =D

[2016-10-31 05:02] Bernwang commented on #2053
![](https://github.trello.services/images/mini-trello-icon.png) [`feature.local_binary_pattern` fails on empty array sliced from non-contiguous source #2053](https://trello.com/c/iswzASUv/7-feature-local-binary-pattern-fails-on-empty-array-sliced-from-non-contiguous-source-2053)

[2016-10-31 10:29] jmetz commented on #2360
This code doesn't work for me... I get
[code]

This should probably be added as a bug also?!?

[2016-10-31 11:05] sciunto commented on #2357
The release frequency is only decided by us. We can release more often as needed and I think that our frequency is too low, also because we have bug fixes in master. I'm not well experienced in releasing large projects but I imagine that a too low frequency makes the step higher due to numerous and various small details to fix.

[2016-10-31 19:43] franktoffel opened #2363 "module 'skimage.future.graph' has no attribute 'show_rag'"
I am trying to follow [this example](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_rag_boundary.html#sphx-glr-auto-examples-segmentation-plot-rag-boundary-py):

[code]

But I get this error when executing it:

`AttributeError: module 'skimage.future.graph' has no attribute 'show_rag'`

I am running scikit image 0.12.3 installed via conda on a windows 7 machine.

Is this example

[2016-10-31 19:48] JDWarner commented on #2363
This function had its name changed in #1872, from draw_rag to show_rag, after 0.12.3 was released.

You could try substituting draw_rag, though I'm not sure if that was shipped in 0.12.3 either.  Don't have the time to follow things further back.

[2016-10-31 20:32] franktoffel commented on #2363
show_rag is available in this version but removing key arguments (since they differ) and running now:

`lc = graph.draw_rag(labels, g, edges_rgb)`

It returns the following error while plotting:

[code]

I'll try to find out a solution tomorrow.

[2016-10-31 20:49] JDWarner commented on #2363
Ah, the old draw_rag drew (as in, burned in an overlay) into the input and returned that as a new image.  The show_rag on master now uses Matplotlib to plot over top of the raw data, and returns a Matplotlib linecollection object after making the plot which can be modified further by the user.

Different approach (new is better), but that's why this is failing.  That colorbar call expects lc to be

[2016-10-31 23:19] jni commented on #2360
@jmetz LOL #2361 #2362

The correct mode is `'cg_mg'`.

[2016-10-31 23:39] jni commented on #2357
@sciunto yes, you are not alone in thinking that we are too slow to push out releases. The problem, illustrated by the last release push, which lasted many months, is that we really don't have a streamlined process to make a release. That is something we have discussed but not moved on. The last time I spoke with @stefanv he was even toying with the idea of continuous releases (ie each merge on ma

[2016-11-01 09:54] soupault commented on #2361
Closed via #2362.

[2016-11-01 09:54] #2361 closed

[2016-11-01 13:45] soupault commented on #2333
@simone-codeluppi gentle ping.

[2016-11-01 15:03] jmetz commented on #2360
Thanks for that @jni - I got it to work and can confirm a similar result using the `"cg"` method also:

[code]

I also generated output images (maximum projections along the first dimension as the data is 3d) for the two probabilities, for each method:

![figure_1](https://cloud.githubusercontent.com/assets/1950756/19894160/e5255ee8-a043-11e6-8463-e886f5ad679d.png)
![figure_2](https://cloud.github

[2016-11-01 18:02] franktoffel commented on #2363
Ok, for what is worth, I found the code for the current stable release in the branch [v0.12.x](https://github.com/scikit-image/scikit-image/blob/v0.12.x/doc/examples/segmentation/plot_rag_boundary.py):

I leave it here in case someone else finds this issue in the meantime:
[code]

[2016-11-01 18:13] soupault commented on #2363
@franktoffel good! I suppose that solves the issue for you.
Closing as not a bug.

[2016-11-01 18:13] #2363 closed

[2016-11-01 18:47] franktoffel opened #2365 "Web gallery examples are by default showing dev version instead of 0.12.x"
I don't know if this is on purpose, but the web gallery and documentation show by default the _dev_ version instead of the last stable release (_0.12.x_)

For example:
1. Start in http://scikit-image.org/
2. Click on gallery (menu)
3. Goes to: http://scikit-image.org/docs/dev/auto_examples/

I think this might be confusing for new users (like myself) and could be frustrating at the beginning.
See

[2016-11-01 19:43] soupault commented on #2365
@franktoffel actually, yes, it is by design. See the discussion in https://github.com/scikit-image/scikit-image-web/issues/22, https://github.com/scikit-image/scikit-image-web/issues/40.
/cc @stefanv

[2016-11-04 12:21] jmetz opened #2367 "regionprops ellipse properties give strange values for concave shapes and shapes with holes"
Not sure this is a bug or just a limitation of ellipse fitting in general, but when I run `regionprops` and get the ellipse fitting parameters for a concave shape or a shape with a hole, the results are **larger** than exactly the same shape but *filled in* (i.e. essentially a convex hull or filled in version respectively).

Specifically I get (note how the equivalent diameter reduces as expected,

[2016-11-04 13:33] jmetz commented on #2367
On closer inspection - as the minor and major axis use the inertia tensor eigenvalues, shouldn't these be lower for a non-filled shape?

In which case the lengths should have decreased (which is what I expected).

**If** that is the case then I would imagine that this is a bug.

[2016-11-04 15:31] jmetz commented on #2322
Is there a chance that this is due to multiple Cython versions... I had an issue like this before that and that was the problem then. Despite `cython -V`  showing the correct version, when Cython get's imported for the build internally it imports an older version.
I'd suggest checking `/usr/lib/python2.7` and `/usr/local/lib/python2.7`... you might find both contain Cython (possibly in `site-packa

[2016-11-05 14:43] blink1073 commented on #1311
An update on this: with the addition of https://github.com/matplotlib/matplotlib/pull/7411, our existing canvas tools will be in matplotlib itself.  Additionally, https://github.com/matplotlib/jupyter-matplotlib is a full-fledged ipywidget that works in the Jupyter Notebook.

Once the Painter tool PR is finished, I propose that we port the existing viewer to use ipywidgets.
We can vendor `matplotl

[2016-11-05 14:45] blink1073 commented on #1311
Whoops, I spoke too soon, we'll also need the `line` tool, I'll add that one after the painter tool is finished.

[2016-11-06 11:57] soupault commented on #2127
I've given `nose2` a deep look, and would say that it is not yet ready (e.g. many plugins are missing).
If we decide to move onto `nose2` there is also a lot of work to do as it is not compatible with `nose` in terms of config and usage practices.

[2016-11-06 23:20] jni commented on #2127
@soupault why nose2 and not pytest? Pytest runs nose tests out of the box.

[2016-11-07 08:54] soupault commented on #2127
@jni Hmm, ok. I'll evaluate it as well.

[2016-11-07 09:23] sciunto commented on #2127
Thanks for looking at this @soupault  That's precious :)

[2016-11-07 11:11] sciunto commented on #2347
@stefanv Do you have  a comment for the inclusion of such feature?

[2016-11-08 18:21] tfmoraes commented on #2111
More about this error here https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840589

[2016-11-08 18:47] matthew-brett opened #2369 "Segfaults from not-initialized pointer in skimage/measure/_ccomp.pyx"
See analysis by Aurelien Jarno at: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840589#35

Quoting from there:

[code]

This may well be the cause of the segfaults on 32-bit reported over at #2111

[2016-11-08 18:49] matthew-brett commented on #2111
Thanks for pointing out that Debian analysis, which has found a bug in the Cython code.  I make a more specific issue for the error : #2369

[2016-11-08 22:53] soupault commented on #2301
@jni has this been addressed?

[2016-11-10 00:57] jni commented on #2301
@soupault Yes! Which is awesome. *BUT*, there is also `structure_tensor` in that file, which should probably be updated also...!

[2016-11-10 23:02] lumpofcole opened #2373 "scikit-image build fail on "Cython not found""
At work I have a redhat blade that is managed by IT, so I don't have any root access. Also, pip doesn't work due to firewall issues, so my workaround has been to build everything from source using 2 commands...
python setup.py build
python setup.py install --user

The second puts everything into /home/.local

Problem is, I downloaded scikit-image-master because it has some routines that I need tha

[2016-11-11 18:19] matthew-brett commented on #2369
@matejak - it looks like this was introduced by your Cython refactoring a while back - can you have a look?  What should the background pointer be when `bgval` is not found?

[2016-11-12 11:15] matejak commented on #2369
I will look into it, thanks for your detailed analysis!

[2016-11-12 17:33] matthew-brett commented on #2369
Thanks a lot.  Sorry - I seem to have accidentally claimed credit for the diagnosis here - but the person who did the debugging was Aurelien Jarno - I've edited the comment to add that.

[2016-11-13 01:40] jni commented on #2373
Hi @lumpofcole!

It looks to me like there might be some issues with the way you installed Cython. Sometimes Python can't find locally installed libraries, and you have to manually set up various environment variables, such as PYTHONPATH, to point Python to them.

The first thing I would say is that you can install local files with pip, and probably should. Instead of `python setup.py build; pytho

[2016-11-13 20:01] VOK1973 opened #2378 "Frangi filter is seemingly missing"
Experience an error trying to replicate this tutorial:

http://scikit-image.org/docs/dev/auto_examples/filters/plot_frangi.html#sphx-glr-auto-examples-filters-plot-frangi-py
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-2-5cdc9a583d42> in <module>()
      1 from skimage.data imp

[2016-11-13 20:06] soupault commented on #2378
@VOK1973 `frangi` filter hasn't yet been released (i.e. it is only available in `0.13dev`).
To install development version, please, follow this guide - http://scikit-image.org/docs/dev/install.html#running-the-development-version.

[2016-11-13 20:06] #2378 closed

[2016-11-14 16:31] Borda opened #2379 "ellipse fitting is not stable"
## Description
I tried to estimate ellipse from real noisy data and the ellipse fitting works not well eg, the axis are even several thousands times larger then it should be. I tried different implementation which works much better

http://www.thebrokendesk.com/post/least-squares-fitting-of-ellipses/

## Way to reproduce

[code]

[2016-11-14 22:45] VOK1973 commented on #2378
Thank you, Egor

This explains

On Nov 13, 2016 21:06, "Egor Panfilov" <notifications@github.com> wrote:

[2016-11-15 07:52] soupault commented on #2379
Here is the data:
![figure_1](https://cloud.githubusercontent.com/assets/1315589/20297415/7c9fc578-ab21-11e6-9672-b08bb9a2695b.png)

Yes from my side to change the implementation, but I'd like to hear additional opinions from the core team.

[2016-11-15 09:43] sciunto commented on #2379
I'm +1 to change the implementation if more robust algorithms are available.

[2016-11-15 16:53] rougier opened #2380 "[ENH]: Poisson disk sampling"
I've been playing with Poisson disc sampling using the algorithm introduced in:
[Fast Poisson Disk Sampling in Arbitrary Dimensions](http://www.cs.ubc.ca/~rbridson/docs/bridson-siggraph07-poissondisk.pdf), Robert Bridson, SIGGRAPH, 2007.

It can be used for stippling as explained in [Stippling and Blue Noise](http://www.joesfer.com/?p=108).

Here is a comparison with uniform sampling, jittered gri

[2016-11-15 23:14] Bernwang commented on #2315
Where is the filters modules should these new functions be? Should they be in an existing file or a new one?

[2016-11-15 23:34] shashankredemption commented on #2332
I would like to do this!

[2016-11-15 23:58] stefanv commented on #2166
Notes form the paper:

- beta1 adjusts the filter's sensitivity to deviation from a blob-like structure.
- beta2 adjusts the filter's sensitivity to areas of high variance/texture/structure.

[2016-11-16 00:00] stefanv commented on #2166
@jni w.r.t. beta2, more tolerant to noise, but less sensitive to pick up actual structure

[2016-11-16 11:40] jmetz commented on #2315
My suggestion would be to have a `scale_space.py` file in filters - but I guess we should wait for a core dev to weigh in.

[2016-11-16 18:21] lumpofcole commented on #2373
I can't use pip due to firewall issues. The only workaround I and others have found is to do the local install like I described it. I have to work within that context unfortunately.

[2016-11-16 22:53] jni commented on #2373
@lumpofcole pip can work without internet access, using files downloaded manually from PyPI or elsewhere. `pip install --user --no-deps <dirname>` installs the Python package in the `<dirname>` directory (use `.` for current working directory), *without accessing the internet*. Similarly, if you download a `.whl` file from [Cython's PyPI page](https://pypi.python.org/pypi/Cython/), you can do `pip

[2016-11-17 20:02] kervel commented on #1157
Hello,

i'm having the same problem with cx_freeze (another python packaging script).
the above workaround does not work for me.

i think the proper fix would be one described here:
http://stackoverflow.com/questions/10935127/way-to-access-resource-files-in-python
(get_data our pkgutil)

Frank

[2016-11-17 20:51] sciunto commented on #2380
I would say great! :) I think @jni has some experience on such algorithms

[2016-11-17 21:13] JDWarner commented on #2380
This might have utility in a few different places.  The code is remarkably concise; we could place it in a hidden file and reference where needed.  The first use that comes to my mind would be to add a new type of noise option ('blue'?) to skimage.util.random_noise.

[2016-11-18 01:21] varnivey commented on #1157
Thank you @kervel . The suggestion is useful, but still it may be easier to modify the package itself in the way, that does not require any additional workarounds.

[2016-11-20 19:45] soupault commented on #2166
Closed via #2382.

[2016-11-20 19:45] #2166 closed

[2016-11-20 22:14] b52 opened #2383 "Why is `gaussian` so opinionated about the image value range"
## Description

Trying to apply `skimage.filters.gaussian` to a floating image may result in a `ValueError` if any value is outside [0, 1]. For `gaussian` it shouldn't matter what values are in the image.

[code]

## Way to reproduce

Simply run the code snippet:

[code]

[2016-11-21 00:28] JDWarner commented on #2383
Floating point input images have the expectation that they will be on the range [0, 1] (for positive image) or [-1, 1] (for signed images).  There has been talk about relaxing this, but it's not always straightforward as certain algorithms - particularly in contrast adjustment and color conversions - use exponentiation and depend on this assumption.  The output from any algorithm in this package w

[2016-11-21 09:52] b52 commented on #2383
Well, there are images (to be exact volumes), which use floating values but are outside the range of [-1, 1] because the represent physical units. Normalizing these is for me right now not an option.

However, for the time being I found a workaround by converting the image/volume to `np.float64`, which somehow doesn't trigger this error.

[code]

Yet, this is only a **workaround**, not a real solu

[2016-11-21 18:20] niallmacq commented on #1035
I agree, image j is doing some sort of bicubic interpolation even when the average when downsizing box is checked. using the scipy.misc.imresize almost gets the same answer as imagej, but not quite.

[2016-11-22 17:18] gvalkov commented on #1271
The issue seems to have been resolved at some point.

setup:

[code]

scikit-image==0.12.3:

[code]

scikit-image==0.10.1:

[code]

[2016-11-22 17:18] #1271 closed

[2016-11-22 23:29] stefanv commented on #2245
@jni I would appreciate your input on this one.

[2016-11-22 23:37] stefanv commented on #2357
@sciunto Would it help if we set up a release schedule and got volunteers to take responsibility for each?

[2016-11-22 23:38] stefanv commented on #2357
Also, no comment on Pandas.

[2016-11-22 23:39] stefanv commented on #2357
Or, perhaps that API breakages cause difficulty for developers depending on their frequency, not on the number of releases you make.

[2016-11-23 00:42] ahojnnes commented on #2225
Closed by #2370. Thanks for the bug report.

[2016-11-23 00:42] #2225 closed

[2016-11-23 20:52] soupault commented on #2343
Closed via #2220.

[2016-11-23 20:52] #2343 closed

[2016-11-23 20:52] soupault commented on #2214
Closed via #2220.

[2016-11-23 20:52] #2214 closed

[2016-11-28 02:47] jni commented on #2245
@stefanv thanks for the ping but I don't have a strong opinion. I quite like @JDWarner's suggestion in #2384 of `data_range`.

[2016-11-28 02:57] jni commented on #2383
I'm with @b52 here. For the exact reason mentioned by him, (image units are often have physical meaning) it's often desirable to keep the input units intact. We have added `preserve_range=` as a keyword argument to several functions to support this, but library-wide, we are still not consistent. I think the policy going forward should be that ranges will be enforced **when strictly necessary**. Cl

[2016-11-28 03:10] jni commented on #2333
@simone-codeluppi I believe #2341 should have fixed your use case, so please try running the latest skimage version on github. If it's not fixed, feel free to reopen this issue!

Thanks!

[2016-11-28 03:10] #2333 closed

[2016-11-28 03:46] jni commented on #2380
@sciunto you are incorrect about my experience. =)

@rougier I agree with @JDWarner that it might fit in various parts of skimage. Not a fan of all the nested functions though. ;) But I'd be interested in reviewing a PR!

[2016-11-28 04:31] rougier commented on #2380
@jni Ok, I'll fix the nested functions and make a PR.

[2016-11-28 05:25] soupault commented on #2162
Closed via #2375 .

[2016-11-28 05:25] #2162 closed

[2016-11-29 19:15] PedroBarcha opened #2387 "can't install skimage (error code 1)"
Hi there, I have successfully installed skimage with apt-get install, however I couldn't import skimage.restoration in my codes. I then realized that maybe the reason was that skimage's version from mint's 17.3 repository was too old  (0.9.3-4).
Than I unnistaled it and tried to build it from source, but it didn't work.
When I run `pip install -r requirements.txt` ,
I get the following error:

---

[2016-11-30 02:52] shashankredemption commented on #2317
We have concluded that this is much more work than it would be worth, and that doctr is not far enough along for us to make this move.

[2016-11-30 15:42] JDWarner commented on #2387
In the dev branch we now depend on a newer version of NumPy, which is probably what is going on here.  Please update to the latest stable release of NumPy and try again.

[2016-12-01 01:41] PedroBarcha commented on #2387
I have successfully installed the latest numpy version.
So, I ran `pip install -r requirements.txt` once again and got no errors this time.
But for `pip install .` , I got:
[code]

[2016-12-01 13:32] soupault commented on #2053
Closed via #2364.

[2016-12-01 13:32] #2053 closed

[2016-12-02 00:54] JDWarner commented on #2387
Python tries to be informative when it throws error messages.  It's telling you exactly what it needs.  Look at the bottom of the traceback and see

`DistributionNotFound: cython>=0.21`

Does this error make sense to you?

[2016-12-02 18:34] jmmugnes opened #2389 "has shape_index disappeared ?"
hello,

after installing scikit-image v0.12.3 using pip3, i downloaded the script plot_shape_index.py and when running it this is what i get:

~/Documents/Python/Scripts$ python3.4 plot_shape_index.py
Traceback (most recent call last):
  File "plot_shape_index.py", line 46, in <module>
    from skimage.feature import shape_index
ImportError: cannot import name 'shape_index'

I looked in the packag

[2016-12-03 05:24] JDWarner commented on #2387
Closing as resolved - ensure the proper dependencies are present and up to date.

[2016-12-03 05:24] #2387 closed

[2016-12-03 17:18] soupault commented on #2389
Hi @jmmugnes !
See https://github.com/scikit-image/scikit-image/issues/2336.

[2016-12-03 17:18] #2389 closed

[2016-12-04 11:58] benjaminirving commented on #1569
Thanks @kwiechen . I've moved this issue to my code where it will be easier to deal with.

[2016-12-04 20:52] #2334 closed

[2016-12-05 05:54] CDLuminate commented on #2120
Maybe this is not arch-specific. There is positive history that skimage compiles on s390x and powerpc.

https://buildd.debian.org/status/logs.php?pkg=skimage&arch=s390x
https://buildd.debian.org/status/logs.php?pkg=skimage&arch=powerpc

[2016-12-06 10:17] earthflat opened #2391 "skimage.measure.label connectivity=None produces strange results"
The function skimage.measure.label produces strange results when connectivity=None.

According to the documentation connectivity=None should be equivalent to '3' when working with a 3D-image. However, results are different to setting connectivity=3. While the latter produces correct results, connectivity=None produces very strange and incorrect results. For some completely NON-connected components

[2016-12-07 18:23] soupault commented on #2135
Closed via https://github.com/scikit-image/scikit-image/pull/2366.

[2016-12-07 18:23] #2135 closed

[2016-12-08 19:08] dvolgyes commented on #2380
It is really good to see this enhancement.
However, I would like to point out a that there is no reason to limit the algorithm to 2D.
It would be nice to see a general nD solution.  Or at least using a function signature which is extendable later to nD without braking backwards compatibility.
E.g. instead of
```def poisson_disc sample(height=1.0, width=1.0, radius=0.025, k=30):```
it could be:
```

[2016-12-08 19:26] dvolgyes commented on #2309
It is probably even more complicated than the referenced TV method,
but this one is also based on TV, but it can restore textures too with impressive results:
http://dx.doi.org/10.1137/090753504

For future work, it might be interesting.

[2016-12-09 08:28] soupault commented on #2309
@dvolgyes Very nice results! I'd be happy to see this in `skimage` one day.

I'm in no doubt that we could build a lot on top of the simplest TV-based inpainting, but it is one of the fundamental algorithms in the field, and is very nice suited for the educational purposes of `skimage`. Also, almost every other library (OpenCV, ImageJ, whatever) has it, so we should fall behind :).

[2016-12-10 21:31] stefanv opened #2397 "Add `transform_nd` module"
1. Add an N-dimensional transform module that supports the rc dimension, extended to N dimensions.
2. Rebuild `skimage.transform` to use this module

/cc for comment @scikit-image/core

[2016-12-11 21:02] tillea opened #2398 "skimage FTBFS on multiple architectures testsuite failures."
## Description
When building skimage on Debian autobuilders the test suite fails on several architectures.
In the [bug log](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840589#35) it is explained that when checking with gdb it is just by chance that the failure does not happen with amd64.  The problematic commit is d29831882daef9b7d7691becc3669349d642b547.  The variable firstbg is only initia

[2016-12-12 03:10] yarikoptic commented on #2398
tentative fix in @2399

[2016-12-12 07:14] Don86 commented on #2239
Hi, I'm new to contributing, and I'd like to contribute to this please.

[2016-12-12 07:54] stefanv commented on #2398
@tillea Thanks for reporting.

@yarikoptic In the above comment, you refer to `@2399` --- is this a commit, and where can I find it?

[2016-12-12 08:27] soupault commented on #2398
@stefanv https://github.com/scikit-image/scikit-image/pull/2399

[2016-12-12 09:55] manuSrep opened #2400 "Blending two color images"
## Description
I am relatively new to skimage but I could not find a proper and easy way to blend two colore images as it is for example possible in pillow: http://pillow.readthedocs.io/en/3.0.x/reference/ImageChops.html
Would it not be useful to have such a function also in skimage. Such a function is also useful when working with label masks. As far as I know label blending in skimage is current

[2016-12-12 09:57] manuSrep commented on #2400
By the way:
how can I add a label to the issue???

[2016-12-12 17:06] #2391 closed

[2016-12-12 17:40] yarikoptic opened #2401 "travis env is in bad shape -- all fail due to sphinx config"
While testing #2399 saw them all failing... a sample env fails with

[code]

[2016-12-12 18:31] soupault commented on #2401
To be closed via https://github.com/scikit-image/scikit-image/pull/2395.

[2016-12-12 21:26] yarikoptic commented on #2398
eh -- #2399 fixed that issue but it seems that new ones (either as a result of my fix or not) lead to new failures:
[code]

I will try to pin point them...

[2016-12-12 21:38] yarikoptic commented on #2398
actually -- would be nice if someone from @scikit-image/core could have a look at those -- since seems to rely on assumptions of algorithms operation (hardcoded target value) which I am not familiar with

[2016-12-14 18:47] Borda opened #2402 "warping by PiecewiseAffineTransform"
## Description
not sure if it is bug or a wrong usage, but using transformation which should be identity, I was not able to get complete image, it seems to me that the output image is cut by another input image size (example, the input image has shape 1100x1600 and the output image looks like 1100x1100)

[code]

## Way to reproduce
[If reporting a bug, please include the following important inform

[2016-12-14 18:51] Borda commented on #2402
well, swapping the coordinates I got the correct image back
if it is the proper usage (it is not intuitive) int would be nice to have it in [doc](http://scikit-image.org/docs/dev/api/skimage.transform.html#piecewiseaffinetransform)

[code]

[2016-12-14 19:06] Borda commented on #2402
and also missing real corner points does a cut of the selection, is it correct?

[code]

[2016-12-16 10:08] soupault commented on #2318
Closed via #1357.

[2016-12-16 10:08] #2318 closed

[2016-12-16 20:07] gongzhitaao opened #2405 "API resize/rescale redundant?"
## Description
Any difference between the two API, [`skimage.transform.rescale`](http://scikit-image.org/docs/stable/api/skimage.transform.html#rescale) vs [`skimage.transform.resize`](http://scikit-image.org/docs/stable/api/skimage.transform.html#resize)?  It seems to me having both is redundant and confusing.  And as for code, `rescale` is just a thin wrapper around `resize`.

Concretely the onl

[2016-12-17 08:49] jdhao opened #2406 "image read by skimage.io.imread have the wrong shape"
## Description
I am trying to read an RGB image using the skimage.io.imread. But after reading the image, I found that the image shape is wrong, `print(img.shape)` shows that the image shape is `(2,)`.

I also tried to read the image using opencv's python package, the returned shape is correct (height \times width \times 3).

## Way to reproduce
### Code sample to reproduce the problem
[code]
###

[2016-12-17 13:47] soupault commented on #2406
Hi @csucat !
Everything is fine in my environment: shape is (978, 2000, 3).

What do you see with `io.available_plugins` and `io.plugin_order()`?

[2016-12-17 14:06] csucat commented on #2406
For `io.available_plugins`, on my Windows system and CentOS system, the outputs are the same:

 'freeimage': ['imread', 'imsave', 'imread_collection'],
 'gdal': ['imread', 'imread_collection'],
 'gtk': ['imshow'],
 'imageio': ['imread', 'imsave', 'imread_collection'],
 'imread': ['imread', 'imsave', 'imread_collection'],
 'matplotlib': ['imshow', 'imread', 'imshow_collection', 'imread_collection']

[2016-12-17 15:11] csucat commented on #2406
@soupault , my friends' Linux system installs an older version of skimage(version 0.9.3). The output image shape using that version is correct.

[2016-12-17 17:25] soupault commented on #2406
@csucat I have the same output for the calls above.

The thing is we don't actually ship image coders/decoders but rather use them via plugin system (with several exceptions, like `.tiff`). So, frankly speaking, I'd not expect any issues from our side.

Could you try to update `matplotlib` and `pillow` to the latest versions and check your example again?

[2016-12-17 17:40] soupault commented on #2405
Hi @gongzhitaao !
I fully understand your point. However, I find the current implementation more convenient for the users.
I think that beginners often mess these two terms (rescale, resize), and having both of the names exposed in the API increase the chance of finding the required one.
Above said, I vote :-1: for this change, but would be glad to hear more opinions from the core team.

[2016-12-17 19:41] gongzhitaao commented on #2405
@soupault

At least I totally agree with this.

Another quick question (maybe should open another issue), is it good to implement `keep_aspect` in the `resize` function?  Just like the [`PIL thumbnail`](http://pillow.readthedocs.io/en/3.4.x/reference/Image.html#PIL.Image.Image.thumbnail)?

[2016-12-17 19:48] soupault commented on #2405
@gongzhitaao

Sounds like a valuable addition for me. Feel free to submit a PR :wink: .

[2016-12-19 12:24] b52 opened #2407 "Better documentation for `peak_local_max`s `exclude_border` boolean variant"
## Description

The documentation of [`peak_local_max`](http://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.peak_local_max) says nothing about the boolean variant of the `exclude_border` parameter, although it defaults to `True`. So it's unclear from the documentation what that is supposed to mean.

By looking at the corresponding [code](https://github.com/scikit-image/scikit

[2016-12-19 17:01] warmspringwinds opened #2408 "Loading indexed png file."
#Hello,

I have recently tried to an indexed png image in scikit-image, but didn't find a way to
make it using ```skimage.io``` ```imread```.

Basically if a png file is an indexed array, in matlab you can load it as two separate arrays. One of them
will be a one dimensional array and another one will represent a look up table which will map
each index to a unique color.

In matlab it can be done

[2016-12-19 17:41] alexdesiqueira opened #2409 "Documentation should present default values for optional parameters"
Hi all,
the documentation for all functions should present the default values for optional parameters. This does not happen for several functions. One example is #2407.

In `feature.peak_local_max`, `exclude_border` is:
[code]
It could be:
[code]
I think we should have this for every function, thus helping the user to check this values when using the `skimage` library.

[2016-12-20 00:50] jni commented on #2409
@alexandrejaguar this is by design, because they can (in most cases) be determined by introspection of the function signature. However, I just saw that NumPy's [how-to-document](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt) allows specification of defaults — I'd thought that it recommended against them. I think it does make things more readable not to have to glance back a

[2016-12-20 02:21] JDWarner commented on #2409
I'm :-1: on this because it's redundant.  IMO the best course would be to have NumPyDoc inspect the signature and pull in the info.

[2016-12-20 06:59] alexandrejaguar commented on #2409
@JDWarner I think this would make defaults clear and readable on an eventual help: `peak_local_max?`. Actually, there are some functions in `skimage` with this:
* `morphology.remove_small_objects(): min_size, connectivity, in_place`
* `segmentation.felzenszwalb(): multichannel`
How would NumPyDoc work?

[2016-12-20 09:11] b52 commented on #2409
Just a side note, that the mentioned issue #2407 is problematic because the default value `True`, which is listed in the signature, is not properly explained. Only the `integer` variant is properly documented and rest is left unclear, so one has to consult the source code.

[2016-12-20 09:51] b52 commented on #2219
What's the state on this one? This is a really annoying bug and it would be nice to see it fixed sooner rather than later, especially when there is a working code base available.

[2016-12-20 10:05] alexandrejaguar commented on #2409
@b52 you're right. I mentioned your issue because I was thinking on the documentation style in a while. It is unclear how to operate with the defaults on these functions at a glance. Several functions with a lot of parameters, such as `peak_local_max()`, would benefit from this.

[2016-12-22 13:57] sciunto opened #2410 "Update sphinx-gallery before release 0.13"
As we patched sphinx-gallery embeded in scikit-image, we need to update the plugin before the release, either against their master branch or with their new release (should come soon).

See https://github.com/scikit-image/scikit-image/pull/2395

* A line has been added in TODO.txt. The task has to be removed from that file.
* Waiting for merge of https://github.com/sphinx-gallery/sphinx-gallery/pul

[2016-12-23 08:24] sciunto commented on #2121
@scikit-image/core We need to take a decision before 0.13.

[2016-12-23 08:30] sciunto commented on #2178
If I sumarize. For now, it's not clear how to support local thresholding.

Do we vote pro or con a renaming `try_all_global_threshold`?

[2016-12-23 08:30] sciunto commented on #2178
@scikit-image/core needs decision here as well.

[2016-12-23 08:33] sciunto commented on #2284
Do we postpone to 0.14? Doesn't look critical from here?

[2016-12-23 08:35] sciunto commented on #1588
@souravsingh Did you work on this task?

[2016-12-23 08:36] sciunto commented on #1279
@ahojnnes Did you have time to work on this? (It's tagged for 0.13).

[2016-12-23 11:10] #2401 closed

[2016-12-23 12:54] olebole opened #2412 "Sometimes, suppress_warnings misses one of its attributes"
skimage 0.12.3

When trying to compile/test skimage on Debian testing with numpy-1.12 RC, I sometimes (not always) get the following error, both with 2.7 and 3.5:
[code]
I assume this is a numpy problem, but I am not sure.

- [] Code example
- [] Relevant images (if any)
- [X] Operating system and version
- [X] Python version
- [X] scikit-image version (run `skimage.__version__`)

I already report

[2016-12-23 16:30] alexandrejaguar commented on #2121
@sciunto I continue being against creating another function/argument to solve this issue. My opinion remains as on the last comment.
About the API breakage: I believe some "homogeneity" would be nice; there are functions which use the same variables, but with different names, or different position in the arguments. I believe if we pursue a strong API, we will need the break some stuff eventually (

[2016-12-23 17:06] olebole commented on #2412
@sciunto Does the label imply that this is a problem of scikit-image and not of numpy? If so, could you put a comment on numpy/numpy#8413 please?

[2016-12-23 17:08] sciunto commented on #2412
@olebole No, I don't what causes that problem. There is obviously a bug somewhere but I'm not sure it's on the skimage side.

[2016-12-23 17:11] sciunto commented on #2412
@olebole Is it 0.12? Have you tried to compile with master? would be nice if you can try on mater.

[2016-12-23 17:16] blink1073 commented on #2178
Why just allow additional threshold methods to be passed in as a list of `(name, function)` tuples?

[2016-12-23 17:20] olebole commented on #2412
@sciunto It is v0.12.3, probably [this tag](https://github.com/scikit-image/scikit-image/releases/tag/v0.12.3). If you have a specific commit in mind, this would be easier for me.

[2016-12-23 17:26] sciunto commented on #2412
In the mean time, I was digging in closed issues and in my memory. We had some race condition issues, but related to sphinx, not to the test suite (#2257). Sounds unrelated...

[2016-12-23 17:26] blink1073 commented on #2121
I'm in favor of `thresh_image = threshold_*(image, arguments, return_threshold=False)`, with a deprecation warning attached to the existing functions that currently not return an image.

[2016-12-23 20:29] soupault commented on #2284
@sciunto absolutely! Too mystical to solve in a short time :).

[2016-12-23 21:30] sciunto commented on #1463
Closing this issue, freeimage has been removed.

[2016-12-23 21:30] #1463 closed

[2016-12-23 21:31] soupault commented on #1195
This is not relevant anymore (see https://github.com/scikit-image/scikit-image/pull/1933). Closing.

[2016-12-23 21:31] #1195 closed

[2016-12-23 22:00] sciunto opened #2414 "DeprecationWarning for inspect.getargspec() in Python 3.5"
While reading https://github.com/numpy/numpy/issues/8413#issuecomment-269048456 for https://github.com/scikit-image/scikit-image/issues/2412

I ran

python skimage/transform/tests/test_integral.py

and I got (2nd failure):

[code]

I found:

Issue from scikit-learn: https://github.com/scikit-learn/scikit-learn/issues/5281
Fix from scikit-learn: https://github.com/scikit-learn/scikit-learn/pull/530

[2016-12-25 08:48] sciunto commented on #2412
@scikit-image/core Given https://github.com/numpy/numpy/issues/8413#issuecomment-269098759 we may want to do something before the next release (like ajust the num_thread to 1 to disable the feature). I tag for 0.13 then.

[2016-12-25 21:32] soupault commented on #2406
@csucat hi! Any news?

[2016-12-25 21:36] soupault commented on #2365
I'm closing this as the current decision favours showing the `dev` version.
Please, follow the issues mentioned above.

[2016-12-25 21:36] #2365 closed

[2016-12-25 22:00] soupault commented on #2407
Thanks for reporting this @b52 !

[2016-12-26 01:13] csucat commented on #2406
@soupault , I have updated  `matplotlib` and `pillow` to the latest version, but the problem still exists.

[2016-12-26 01:15] csucat commented on #2406
@soupault , maybe I should also open an issue on the Pillow github repo?

[2016-12-26 10:28] soupault commented on #2219
@anntzer I took a look into the details, and the implementation looks very promising. Could you manage to make it support multichannel images, and provide recommended default values for `kernel_size` and `clip_limit`?

[2016-12-26 15:37] seberg commented on #2412
Maybe it would be possible to try to keep the actual asserts somehow non-parallel. So that only the stuff is parallel which is absolutely necessary to test what is supposed to be tested. We can fix this in numpy for 1.12, if you think this is ok in 1.11 (where the race condition probably exists too, but the effect may not be visible if you do not try to tests warnings precisely), then its probably

[2016-12-27 10:47] soupault commented on #2406
@csucat wouldn't harm, I think :). I'm out of ideas for the moment.

What do you see with: ?
[code]

Are you by any chance using the wrong environment in Conda?

[2016-12-27 23:47] anntzer commented on #2219
Upon further reflection, I believe that conversion to HSV/HSL/CIELAB/other color spaces really belongs to a separate preprocessing step, and that we should just document the possibilities (which could just be a three-line example -- conversion to color space, CLAHE, conversion back to original space -- in the docstring) rather than guess what's the best conversion for the user.

[2016-12-28 01:25] csucat commented on #2406
@soupault , the size is (2000, 978)

[2016-12-28 05:55] soupault commented on #2406
@csucat okaaay... Thanks, that's interesting!

Let's do one thorough check before you raise it (`pillow` is a better place, for sure).
Could you play with different plugins returned by `io.available_plugins` and check which one is actually failing (i.e. for each plugin (1) `skimage.io.use_plugin(...)`, (2) `skimage.io.imread(...)`)?

[2016-12-28 06:33] csucat commented on #2406
@soupault , for all the available, actually only pil and matplotlib can read the image, the other plugins all raise all kinds of exceptions.
The code I use is:
[code]
The output is

Maybe it is pil that is causing the problem.

[2016-12-28 07:47] soupault commented on #2406
@csucat  :face_with_thermometer: .
Just to be fully informed:
[code]

[2016-12-28 08:28] csucat commented on #2406
@soupault , the version are:
[code]

[2016-12-29 10:24] soupault opened #2421 "Forbid usage of `img_as_...` for int64/uint64 ndarrays"
## Description

I.e. the function should raise an error.

From https://github.com/scikit-image/scikit-image/blob/master/doc/source/user_guide/data_types.rst : "With a few exceptions, 64-bit (u)int images are not supported."

Causes https://github.com/scikit-image/scikit-image/pull/2264#issuecomment-245478282 on 64-bit platforms.

[2016-12-29 10:35] soupault commented on #2219
@anntzer I'd not agree. I believe that we do not provide any unified processing pipeline in, for example, CIE LAB/etc yet. Therefore, the algorithms have to be more or less self-sufficient.
What we can (and should, in my opinion) do here is to perform hist. equalization in the least desctructive (although, I'm not sure if AHE is possible in a non-destructive way) way (in RGB), and give to the user

[2016-12-30 01:32] jni commented on #2219
@soupault although it would be very nice to have Lab conversion built into the function, I would certainly settle for a documentation fix in a PR if it'll move things along. imho the correct default thing to do would be to perform it in Lab — RGB CLAHE seems to me like it could cause terrible artifacts...

[2016-12-30 01:38] anntzer commented on #2219
I have no idea what "least destructive way" means.  #2240 seems to suggest that the correct denoising space is dependent on the structure of the noise (which is not unexpected), so once again I'd rather not pick one for the user.

[2016-12-30 01:47] jni commented on #2406
This is super weird, I also can't reproduce...

Since using a direct read with Pillow correctly produces the image size, I don't think it's a good idea raising an issue in the pillow repository. @csucat have you used pdb before? I think you should do

[code]

and step through the code to see where the size is getting corrupted...

[2016-12-30 08:31] soupault commented on #2219
@anntzer In #2240 someone mentioned that, at the moment, the library functions are not meant to support as an input images in any possible colorspace. By default, we assume that the input is either grayscale or RGB[A] image.
In addition, different categories of image processing algorithms had been proven to perform better in _different_ colorspaces. From what I know: denoising - YCbCr/HSV/..., inp

[2016-12-30 12:11] sciunto commented on #2414
See https://github.com/nose-devs/nose/issues/929 (Issue to nose)

[2016-12-30 12:21] anntzer commented on #2219
Actually I realized I have another reason not to support multichannel images: the implementation I have currently also supports volumetric images (for which CLAHE is perfectly well defined -- and, empirically, works fine).  So I'd rather interpret 3D arrays as volumes rather than RGB.

[2016-12-30 13:48] souravsingh commented on #2421
I am interested in working on the issue. How do I go with it?

[2016-12-30 14:14] soupault commented on #2421
Basically, you'll need to take this example:
[code]
and make it return meaningful results.

Potentially, there are other conversion `dtype_in -> dtype_out` pairs (64bit) which lead to a similar error. Would be nice to check for them also.

FYI: The conversion code is in https://github.com/scikit-image/scikit-image/blob/master/skimage/util/dtype.py .

[2016-12-31 09:50] sciunto commented on #2357
I opened a PR that (tries to) summarize this discussion #2422

[2016-12-31 09:55] sciunto commented on #2357
@stefanv I think that anything that helps to make releases more regular and more frequent is good. Better for motivation, user feedback, baby step evolution. It would also help a lot to teach the library to colleagues (eg we have features in master that is a pain to share just because they are not well experienced to install something unreleased). As we deviate from the original issue, I do not de

[2016-12-31 14:26] sciunto commented on #2317
@shashankredemption Who is we?

[2016-12-31 18:38] stonebig opened #2423 "Dask-0.13.0 compatibility ?"
how can I check that scikit-image is compatible with dask-0.13.0 ?

I see a "Mandatory dtypes on dask.array.  All operations maintain dtype information" in the changelog that worries me.

... ok I see   skimage/util/tests/test_apply_parallel.py

sorry for the noise

[2016-12-31 18:42] #2423 closed

[2016-12-31 19:01] shashankredemption commented on #2317
@stefanv and I, my apologies!

[2016-12-31 19:02] sciunto commented on #2317
Ok :)

@stefanv and @shashankredemption Shall we close as WONTFIX?

[2017-01-01 13:25] jni commented on #2219
@anntzer we love volumetric implementations in scikit-image! That's why we have the `multichannel={True, False}` keyword argument! =)

[2017-01-01 13:49] jni commented on #2121
I'm strongly in favor of option 2A in @soupault's original [comment](https://github.com/scikit-image/scikit-image/issues/2121#issuecomment-223235076): all functions return a value `t` that can be used as `im > t` to obtain the thresholded image.

[2017-01-01 13:51] jni commented on #2178
@blink1073 I quite like that proposal!

[2017-01-01 13:58] jni commented on #2400
@manuSrep Thanks for the suggestion! However, in scikit-image, all [images are just numpy arrays](http://scikit-image.org/docs/dev/user_guide/numpy_images.html), so it's completely straightforward arithmetic to blend two images:

[code]

As such I don't think a blend function is necessary. I will close this issue for now, please re-open if you disagree!

[2017-01-01 13:58] #2400 closed

[2017-01-01 13:59] jni commented on #2400
btw, I think only core developers of scikit-image can change labels... But we will always listen to suggestions in the comments, if you want to suggest a label! =)

[2017-01-01 16:49] anntzer commented on #2219
I think I am willing to make a simple PR without multichannel support but if you insist on it I'll just leave it up to whoever is interested (feel free to reuse my code, of course).

[2017-01-01 22:36] jni commented on #2219
@anntzer I'm very happy to not have multichannel support! Please do submit it! I just meant that there is such a thing as supporting 3D, 2D+c, and 3D+c, and we have examples that do so. But 100% we would love a grayscale, nD CLAHE!

[2017-01-02 05:47] soupault commented on #2245
Addressed by https://github.com/scikit-image/scikit-image/issues/2245.

[2017-01-02 05:47] #2245 closed

[2017-01-02 09:00] sciunto opened #2424 "Remove nose dependancies for our test suite"
Discussed on the Mailing List:
https://mail.python.org/pipermail/scikit-image/2016-December/005020.html

Nose is not maintained anymore and we have two major issues:
* #2414  DeprecationWarning for inspect.getargspec() in Python 3.5, expected to be broken in Python 3.6.
* #2127 skimage._shared tests not run

One possibility is to switch to pytest

TODO list:

- [ ] Remove nose imports
- [ ] Check

[2017-01-02 09:01] sciunto commented on #2414
Closed, replaced by issue 2424.

[2017-01-02 09:01] #2414 closed

[2017-01-02 11:02] soupault commented on #2215
I'd say that it is not a good idea to commit to the solution of this issue before solving https://github.com/scikit-image/scikit-image/issues/1234.
After looking into the code, the warnings in the issue message make complete sense. The thing is that once we use `sign_loss()`(i.e. notify the user on sign loss) it automatically means that we clip the negative values (however, we actually clip them l

[2017-01-02 17:28] souravsingh commented on #2424
@sciunto Do we have to take care of anything while removing the nose imports?

[2017-01-02 18:28] sciunto commented on #2424
Of course, rewrite the tests that depend on nose.

[2017-01-02 23:05] jni opened #2426 "Add `np.lookfor` as a discoverability tip to the User Guide"
scikit-image's package structure is problematic for functions that span categories. For example, `watershed` segmentation is in morphology, because it is traditionally viewed as a morphological transformation. Conversely, `find_boundaries` is in segmentation, but some users have [looked for it](https://github.com/scikit-image/scikit-image/pull/2396#issuecomment-270022280) in morphology.

I've advo

[2017-01-03 09:55] alexandrejaguar commented on #2426
@jni I think that's a nice idea!

[2017-01-03 21:23] Borda opened #2427 "better LineModel estimation"
## Description
I had a look at the line model estimation an the representation by angle and shift does not look so good for me, I would rather use common Least Square Minimization.

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example
[code]
- [x] Relevant images ![figure_1](https://cloud.githubusercontent.com/assets/6035284/21623526/16a9

[2017-01-03 22:07] Borda opened #2428 "faster CircleModel estimation"
## Description
looking to the code I would recommend to use non-iterative circle estimation which also does not need any initialization parameters, and given this example it runs by several orders faster...

CircleModel time [s]: **0.577063083649**
LeastSqaure time [s]: **0.000691890716553**

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code e

[2017-01-03 22:57] #2379 closed

[2017-01-03 23:59] Borda opened #2429 "2D image warping via thin-plate splines"
## Description
Regarding the [Requested feature](https://github.com/scikit-image/scikit-image/wiki/Requested-features) and mail question [Thin-plate spline interpolation](https://mail.python.org/pipermail//scikit-image/2016-October/004966.html)
I would like to open discussion about implementing this feature...

Once I was using the [scipy.interpolate.Rbf(..., function='thin-plate')](https://docs.s

[2017-01-04 18:54] souravsingh commented on #2426
@jni I am interested in working on the issue.

[2017-01-04 20:39] sciunto commented on #2429
Ping @zpincus (You are mentioned in our wiki).

[2017-01-04 20:42] sciunto commented on #2429
We need to evaluate performances. I used Rbf for other purposed and it was very slow (at least, for my application).

[2017-01-04 20:50] Borda commented on #2429
I do not say it is fast, but on another hand it is better to have it even slow but compatible with other skimage warping methods... and later on think about the speed-up.

[2017-01-04 20:53] sciunto commented on #2428
That sounds like a lice improvement. looking forward a PR :)

BTW, I do not see any example about models in measure, while there are several for RANSAC. That would be nice I think to show also an example about that.

[2017-01-04 21:34] zpincus commented on #2429
Here is a reasonably simple implementation of [thin-plate spline image warping](https://github.com/zpincus/celltool/blob/master/celltool/numerics/image_warp.py) I wrote ten years ago or so. It follows the notation from [Bookstein's original paper](http://user.engineering.uiowa.edu/~aip/papers/bookstein-89.pdf), if that helps.

It's not fast to define the transform, so there's an option to compute

[2017-01-04 23:58] jni commented on #2426
@souravsingh Go for it! I'm not aware of anyone else working on it atm. Let us know if you need help!

[2017-01-06 14:50] b52 opened #2432 "Make `peak_local_max` return indices always sorted"
Currently, the method `peak_local_max` returns sorted indices (w.r.t. the intensities) [if the number of indices is `> num_peaks`](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/peak.py#L13). I do understand that it is nowhere stated that `peak_local_max` does that, it is merely a side-effect, but I found it quite convenient.

Different behaviour arises when the number of

[2017-01-06 14:51] b52 commented on #2407
So, what's the state on this one? I would be willing to write a PR for this.

[2017-01-06 19:24] soupault commented on #2432
Sounds like a good change. :+1: from me.

[2017-01-06 19:37] soupault commented on #2407
@b52 regarding your issue message: I also find the results very difficult to understand (although from the implementation point of view they are pretty clear). We already faced this in https://github.com/scikit-image/scikit-image/issues/1831, https://github.com/scikit-image/scikit-image/issues/1832.

Unless you are willing to go deep into the function and significantly rework it, I'd suggest only

[2017-01-07 08:24] anntzer commented on #2219
Should it go in a separate function?  I assume you'd want to keep the previous implementation, even if buggy, for backcompatibility...

[2017-01-07 08:27] soupault commented on #2219
@anntzer I think so.

[2017-01-07 08:31] sciunto commented on #2412
Fixed in numpy: https://github.com/numpy/numpy/issues/8413#issuecomment-271028303

[2017-01-07 08:31] #2412 closed

[2017-01-07 17:14] b52 commented on #2407
@soupault I disagree that `True` is a good default value for `exclude_border`. This is very counter intuitive and to my knowledge in no other NMS function used out there as a default.

[2017-01-07 21:15] anntzer commented on #2219
Hum, there actually seems to be some slight discrepancy between my Cython implementation and my pure-Python implementation... I'll need to investigate that first.

[2017-01-08 10:55] b52 commented on #1831
So is this an issue related to `scipy.ndimage.filters.maximum_filter` or the processing done in skimage? If the former is the case, one could look at different approaches like [efficient non-maximum suppression](http://www.vision.ee.ethz.ch/publications/papers/proceedings/eth_biwi_00446.pdf).

[2017-01-08 13:28] nadavhoresh opened #2436 "16 bit image io in the upcomming version 0.13"
## Description
Deprecating freeimage in favour of imageio as imread/imsave plugin leaves no way to read 16 bits image as uint16 or to write 16 bits image

## Way to reproduce
OS: Archlinux
Python version: 3.5/3.6
scikit-image version  0.13dev

[2017-01-08 13:42] soupault commented on #1831
@b52 I think to the latter.
NMS is a very nice feature, by the way. If you find it useful, please, don't hesitate to raise a 'feature request`-issue.

[2017-01-08 18:11] sciunto commented on #2436
@nadavhoresh Could you give a minimal code to reproduce.

On my side,
[code]
works as intended.

[2017-01-08 18:30] nadavhoresh commented on #2436
Do you use 0.13 dev?

On Jan 8, 2017 8:11 PM, Fran?ois Boulogne <notifications@github.com> wrote:

@nadavhoresh<https://github.com/nadavhoresh> Could you give a minimal code to reproduce.

On my side,

import numpy as np
from skimage.io
a = np.zeros((4, 5), dtype=np.uint16)
io.imsave('/tmp/toto.tif', a, plugin='freeimage')
io.imread('/tmp/toto.tif')

works as intended.

-
You are receiving this be

[2017-01-08 18:38] sciunto commented on #2436
Of course.

[2017-01-08 20:57] soupault opened #2439 "Refactor function `_sift_read` in `skimage/io/sift.py` to use context manager"
## Description
Refactor function `_sift_read` in `skimage/io/sift.py` to use context manager for file handling.

See the discussion in #2404.

[2017-01-08 21:56] ahojnnes commented on #2432
I think, this is a useful addition and shouldn't impact perfromance too much.

[2017-01-08 22:04] soupault commented on #2398
Fixed via https://github.com/scikit-image/scikit-image/pull/2399.

[2017-01-08 22:04] soupault commented on #2398
Fixed via #2399.

[2017-01-08 22:04] #2398 closed

[2017-01-09 06:17] nadavhoresh commented on #2436
This is my test:

Python 3.6.0 (default, Dec 24 2016, 08:03:08)
Type "copyright", "credits" or "license" for more information.

IPython 5.1.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: import skima

[2017-01-09 06:45] soupault commented on #2436
@nadavhoresh could you attach the image you used? This would help us to better understand the case.

[2017-01-09 07:10] nadavhoresh commented on #2436
Attached here an extract from the original image, in order to save space.

   Nadav.

________________________________
From: Egor Panfilov <notifications@github.com>
Sent: 09 January 2017 08:45:44
To: scikit-image/scikit-image
Cc: Nadav Horesh; Mention
Subject: Re: [scikit-image/scikit-image] 16 bit image io in the upcomming version 0.13 (#2436)

@nadavhoresh<https://github.com/nadavhoresh> could

[2017-01-09 07:21] sciunto commented on #2436
@nadavhoresh it's not attached. You need to upload on the web interface.

[2017-01-09 08:59] souravsingh commented on #2439
@soupault I would like to take a stab at the issue. We have to unify the if-else in the function to make use of context  manager to load the file, correct?

[2017-01-09 10:59] nadavhoresh commented on #2436
Attaching a sample tile test.png (hope it is the proper way)
![test](https://cloud.githubusercontent.com/assets/8288049/21764370/645027cc-d66b-11e6-88a1-eab07653779d.png)

[2017-01-09 10:59] #2436 closed

[2017-01-09 12:08] soupault commented on #2436
@nadavhoresh Did you mean to close?

[2017-01-09 12:30] sciunto commented on #2436
Same result on my side, with this image, it's converted in uint8.

[2017-01-09 12:37] sciunto commented on #2436
If I open the image with imagej or gimp, it's read as a 8 bit image...

[2017-01-09 15:18] kevcolin commented on #2432
Hello guys,
I've faced some problems recently when trying to use peak_local_max. I've asked a question on stackoverflow (http://stackoverflow.com/questions/41550022/typeerror-peak-local-max-got-an-unexpected-keyword-argument-num-peaks-per-la). Maybe some of you could take a quick look please ? Considering I'm a beginner, it's very likely that the function is fine and that I did something wrong, bu

[2017-01-09 15:36] soupault commented on #2407
@b52 Sorry, I wasn't clear. I meant that `True` is the best alternative among others with the same effect (border exclusion).
If you would like to change the default value, feel free to start the discussion. Or maybe we could converge on a PR with the brand new NMS algorithm with `exclude_border=False` :wink: ...

@jni @ahojnnes do you have any thoughts on this?

[2017-01-09 16:06] vrjgamer opened #2440 "not able to import skimage"
## Description
I'm not able to import skimage in python.

[code]

this is the error

[2017-01-09 16:09] sciunto commented on #2406
I can't reproduce as well. @csucat Can you check the integrity of the image (ie the one you gave to us is the same as the one you have; we don't know what the website is doing once the image is uploaded so I have no guarantee that we are playing with the same picture).

On my side, the md5sum is 7f3f746b557c0004fb365d8d875f2451

[2017-01-09 16:11] soupault commented on #2439
@souravsingh That's correct. What we'd like to see is a function which handles file-objects carefully (this block worries me a lot -> https://github.com/stefanv/scikit-image/blob/6e0f66099439f7ecb970d84176ae4d19f162aa89/skimage/io/sift.py#L47-L48).
Any other enhancements to the function are, of course, very welcome.

[2017-01-09 16:16] soupault commented on #2440
@vrjgamer how did you install your copy of `scikit-image`?

[2017-01-09 17:01] soupault commented on #2436
[code]

[code]

[2017-01-09 17:15] vrjgamer commented on #2440
using this pip install -U scikit-image

[2017-01-09 17:45] nadavhoresh commented on #2436
*   Reading the image with gimp 2.9.x and clicking on Image->Precision you get 16 bit (I think that gimp 2.8 does not support 16 bit processing).
  *   Using skimage 12.x imread(f'test.png', plugin='freeimage') or via opencv: cv2.imread('test.png', cv2.IMREAD_ANYDEPTH+cv2.IMREAD_ANYCOLOR) results in a uint16 dtype image.

Nadav

________________________________
From: Egor Panfilov <notifications@g

[2017-01-09 18:15] b52 commented on #2407
I see, nonetheless I think `exclude_border` should be an effect the user had to opt in explicitly.

[2017-01-09 19:03] DanielGutmann commented on #2132
Same call to 'graph.merge_hierarchical' yet different error:
- Error occurs for any True/False combination  of rag_copy= and in_place_merge=
[code]

[2017-01-09 19:23] soupault commented on #2440
@vrjgamer installing with `sudo` typically copies files to `/usr/local/lib`. In your case you have `scikit-image` installed also(?) into `/home/vrushabh/.local/lib`. This latter is probably a corrupted installation.
Please, try with `/home/vrushabh/.local/lib/python2.7/site-packages/skimage` removed.

[2017-01-09 23:29] jni commented on #2407
@soupault @b52 Oops, this response has been sitting in an open tab for the past couple of days:

I agree with @b52 that `True` is not a good default value — it's a little too active/prescriptive. In the past, when we have tried to do such "good defaults", we've often gotten into trouble (e.g. sigma=1 and convert2lab=True for SLIC) and had to backtrack on the API. I think the worst case behaviour i

[2017-01-10 01:28] csucat commented on #2406
@sciunto ,yes, unfortunately, the image uploaded has been changed since the two md5sums are not the same.
I have uploaded the image to [this repo](https://github.com/csucat/markdown_photos/blob/master/156.jpg), the md5sum of downloaded image is not altered. So it may reproduce the problem.

[2017-01-10 02:23] jni commented on #2406
@csucat I can indeed reproduce now! Current md5 is:

6bc94ff2d3a2ea82b514051ec182ee97

[2017-01-10 02:28] csucat commented on #2406
@jni , yeah, that is the correct md5sum.

[2017-01-10 02:53] jni commented on #2406
Ok so I don't know enough about the depths of PIL but it seems to me that the error is either there or in the image itself. The problem is that PIL sees two frames in the image, the actual image, and an empty one behind it. [Here's my full exploration using pdb](https://gist.github.com/jni/f6345843a9fcc37c7eecf9a4f55bc8d3), but here's the executive summary:

[code]

Then, [this line](https://githu

[2017-01-10 05:34] jni opened #2442 "Allow rectangular window sizes in threshold_niblack and threshold_sauvola"
## Description
The functions `filters.threshold_{niblack,sauvola}` accept a `window_size` parameter, which defines a square/cubic window along which to threshold. However, any cuboid shape would work fine, and would be desirable e.g. in anisotropic 3D data, or even in 2D data where the lighting changes more rapidly along one dimension than the other.

[2017-01-10 10:41] sciunto commented on #2250
To me, it doesn't look realistic to fix this for 0.13. What do you think?

[2017-01-10 12:50] soupault commented on #2436
@nadavhoresh see https://github.com/imageio/imageio/issues/204 (and, especially, https://github.com/imageio/imageio/issues/204#issuecomment-271566703).
For the moment, you can use `freeimage` from `imageio`.

[2017-01-10 15:38] souravsingh commented on #2442
Is a fix for this submitted in #2441?

[2017-01-10 15:43] souravsingh commented on #1231
I will now work on RGB to HSV conversion.

[2017-01-10 19:40] soupault commented on #2345
@scikit-image/core any opinions on this?

[2017-01-10 20:20] sciunto commented on #2345
I don't think it's clear to me what's a quality metric? Is it an analogue of the chi2 for a fit? Do you have a short illustration of the benefits?

[2017-01-10 20:59] blink1073 commented on #2406
`imageio` is tests against multi-frame GIFs in PIL, and uses `tifffile` for multi-frame TIFFs

https://github.com/imageio/imageio/blob/30437ec06e5afce28a1459a1cdd365a355d39c84/tests/test_pillow.py#L239
https://github.com/imageio/imageio/blob/30437ec06e5afce28a1459a1cdd365a355d39c84/tests/test_tifffile.py#L40

Another reason to switch over  ;).

[2017-01-11 08:01] #2421 closed

[2017-01-11 11:53] jni commented on #2442
@souravsingh no, that is only a bug fix. #2441 is critical to get merged before 0.13, whereas the added convenience of rectangular/cuboid window is a luxury that can wait.

[2017-01-11 11:57] jni commented on #2250
@sciunto what do you mean? The easy fix (bump scipy requirement) is trivial, and just requires a tight enough deadline to convince the doubters. =P

[2017-01-11 13:24] sciunto commented on #2250
@jni you said here: #2416 that bumping scipy is not an option of 0.13.

IMHO, the argument based on the release dates of numpy and scipy that I exposed in both PR are sufficient. Is it realistic that a distribution provides one of the last numpy and a 5 years old scipy? I don't think so.

[2017-01-11 13:47] sciunto opened #2444 "register_translation (DFT) must return the cross correlation"
## Description

In 0.12, `register_translation` does not return the cross correlation image. In the gallery, the cross correlation has to be calculated "by hand" http://scikit-image.org/docs/dev/auto_examples/transform/plot_register_translation.html#sphx-glr-auto-examples-transform-plot-register-translation-py
This means, that some parameters of _upsampled_dft have been pre-calculated.

In additio

[2017-01-11 14:03] abuccts opened #2445 "Segfault caused by skimage.io.imread on MPO files"
## Description
I'm running caffe on millions of images and one certain image caused segmentation fault and aborted the whole process while being read by skimage.io.

Code gist:
[code]
Error message:
[code]

Here is this image https://cloud.githubusercontent.com/assets/13360214/21850830/6aadccd6-d847-11e6-84d6-e6e955592957.jpg . Reading it through `cv2` works fine but `skimage.io` causes segmentati

[2017-01-11 14:24] soupault commented on #2445
[code]

Reading with PIL
-----------------
[code]

Versions
---------
[code]

Potentially, a flaw of our PIL wrapper.

[2017-01-11 14:41] b52 commented on #2407
Alright, if it's fine with you guys I would write up an appropriate PR. Sounds good?

[2017-01-11 17:29] b52 commented on #2407
@soupault Mind merging #2435 before that?

[2017-01-11 18:47] soupault commented on #2407
In accordance with the policy, it is all up to the 2nd reviewer. :)

[2017-01-11 23:25] rueberger opened #2446 "Support N-dimensional arrays in blob detection"
## Description

I have some N-dimensional blobs that need detecting, and skimage has the nicest implementation of Laplacian of Gaussian blob detection I've seen in a major python library - but only supports 2D. From a cursory glance, it doesn't look like any of the core logic would break for the N-D case.

So rather than writing my own version which would be nearly identical to `skimage.feature.bl

[2017-01-12 06:11] soupault commented on #2446
xref https://github.com/scikit-image/scikit-image/pull/2114.

[2017-01-12 10:48] soupault commented on #2432
Closed via #2435 .

[2017-01-12 10:48] #2432 closed

[2017-01-12 13:08] jni commented on #2446
@rueberger Better nD support is not just a possibility, but a stated goal of the scikit-image core team. (At least, I think we stated it somewhere. =P) Check out our recent paper on scikit-image for microtomography data, spearheaded by @emmanuelle:

https://ascimaging.springeropen.com/articles/10.1186/s40679-016-0031-0

Specifically:

So, we definitely take the term "image" as broadly as possible,

[2017-01-12 13:11] jni commented on #2250
@sciunto ha, touché. Having said that, I was merely pointing out that there is resistance from some core devs (CC @emmanuelle @JDWarner) to bumping the scipy version. The resistance is *not* from me, and my guess is that the others might be more yielding if a critical bug such as this one was blocking release and was not easily fixable without the newer SciPy. I hope they can chime in here.

[2017-01-12 18:45] stonebig commented on #2250
is the next release date of scikit-image-0.13, January 15th 2017,  still plausible ? with all this legacy version of scipy to drag, I have doubts.

[2017-01-12 19:20] soupault commented on #2237
I think I've got a clue. It seems to appear in PRs which fall behind the `master` in terms of new docstring references.
Travis is probably configured to cache the old reference list, and this leads to some collisions when some PR is merged into `master` without being preliminary rebased onto it. Clicking `Restard Build` in Travis web-UI seems to wipe this cache.

[2017-01-13 08:17] jni commented on #2237
@soupault you just blew my mind.

[2017-01-13 08:57] soupault commented on #2237
@jni :face_with_head_bandage:
Let me try to visualize (I remember you like ASCII):
[code]

`ERROR#1` happens as the cached list of references (in Travis container or somewhere) is different (with the addition of a new one *into the middle* of list, not at the end), and some reference numbers from `master` and `PR#2` collide, i.e.
[code]
I'm not sure how exactly our CI handles this case. From my po

[2017-01-13 13:54] soupault commented on #2440
@vrjgamer any news?

[2017-01-13 19:40] matthew-brett opened #2450 "Failure in test_ncut_stable_subgraph on Python 3.6"
Test failure for Python 3.6 (when testing current release wheel):

[code]

https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/191712740

[2017-01-13 19:50] #2383 closed

[2017-01-13 22:57] JDWarner commented on #2450
Could be an upstream bug; it looks like NetworkX doesn't test against 3.6 on Travis.  NetworkX uses dictionaries heavily and a more compact `dict` was a banner change in the release of Python 3.6.  Can't reproduce right now at work, but will look into it this weekend unless someone else beats me to the punch.

[2017-01-13 23:00] JDWarner commented on #2446
Certain cases are... very difficult to generalize, as in, nobody has ever described a higher dimensional version.  Canny edge detection comes to mind.  But everywhere else, we'd like to have at minimum 2D/3D support, and if indicated, multichannel for both of these.  Full n-D support is even better, where possible.

[2017-01-14 03:29] matthew-brett commented on #2450
I added a Python 3.6 entry for travis here:

https://github.com/scikit-image/scikit-image/pull/2451

It finds the same error for Python 3.6: https://travis-ci.org/matthew-brett/scikit-image/jobs/191828439#L3521

[2017-01-14 22:50] soupault commented on #2397
What is the purpose of this? Aren't we planning to make, more or less, every algorithm support nd, not just the ones from `transform`?

[2017-01-15 03:09] vnavkal opened #2453 "HOG visualization should use midpoints of bins"
## Description
The HOG visualization draws lines that are perpendicular to the edges of orientation bins.  It would be clearer if the lines were perpendicular to the _midpoints_ of bins, instead of the edges.

For example, if `hog` is applied with two orientation bins (`orientations=2`) to the image on the left below (reproducible by the code below), I would have expected the visualization to prod

[2017-01-15 06:47] jni commented on #2397
@soupault the problem is that `transform` uses xy-coordinates, whereas we want the nd version to work on rc coordinates. The idea is to have an n-dimensional transform module with (p)rc coordinates, but keep the old transform module for backwards compatibility. Then later we can deprecate it if needed.

[2017-01-15 08:15] soupault commented on #2397
@jni Ah, I see the keypoint.
:+1: from me, and good luck to the devs who will generalize the transforms :).

[2017-01-15 13:16] jni commented on #2237
@soupault Oh, sorry, I understood the first time, I just thought it was clever, out-of-the-box thinking as to what could be causing it, and it is certainly plausible that it could happen!

Nice ASCII though! ;)

[2017-01-16 08:38] soupault commented on #2330
@matthew-brett could you comment on this issue? (see #2238 also)
Would `dask` be a suitable addition to the rackspace of #2451?

[2017-01-16 10:51] soupault commented on #2233
Can we just remove this test?
[code]
As Johannes said `C` is not a valid parameter value (see https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/interpolation.pxd#L335-L365).

[2017-01-16 10:57] soupault commented on #2453
@vnavkal could you provide some image (from Google, for example) of your proposed version, please?

[2017-01-16 12:35] sciunto commented on #2233
either we remove the test or we raise a ValueError...

[2017-01-16 18:35] matthew-brett commented on #2450
See https://github.com/scikit-image/scikit-image/pull/2451#issuecomment-272932260 - I suspect this is not a Networkx bug, but a bug in our assumptions about the graph, and the graph has changed as a result of the change in Python 3.6 dict ordering.

[2017-01-16 19:04] vnavkal commented on #2453
Sure, I propose for the visualization to generate an image like the one below, when `orientations=2`.
![comparison](https://cloud.githubusercontent.com/assets/5924638/21994811/6a615d1e-dbd6-11e6-8a31-4214d0297a3e.png)

When it is run with `orientations=2`, as above, the HOG function groups gradients into two bins:
* one bin contains gradient vectors lying in the (+x, +y) and (-x, -y) quadrants
* t

[2017-01-16 23:11] rueberger commented on #2446
@JDWarner can you be more specific about what is difficult to generalize? I'm mostly interested in the LoG algorithm, and for that I think only the volume of the n-dimensional intersection gives you trouble, yeah?

It looks like there is a closed form for the general case, [see here for instance](http://math.stackexchange.com/questions/162250/how-to-compute-the-volume-of-intersection-between-two-h

[2017-01-17 17:32] stefanv commented on #2369
Closed by https://github.com/scikit-image/scikit-image/pull/2437

[2017-01-17 17:32] #2369 closed

[2017-01-18 02:06] matthew-brett commented on #2450
I think this is a blocker for the 0.13 release - see discussion at #2451 .

Enabling the Python 3.6 tests now just involves uncommenting the section in the `.travis.yml` file (now we've merged #2451).

[2017-01-18 17:18] SylvainCorlay opened #2458 "Matplotlib 2.0?"
Is the current version of scikit-image supposed to be fully compatible with matplotlib 2.0?

[2017-01-18 20:25] sciunto commented on #2458
@SylvainCorlay Have you seen any issue? Yes, it is supposed to be fully compatible, I didn't detect any failure in my side.

[2017-01-18 20:29] SylvainCorlay commented on #2458
I haven't but it came up when I conda installed skimage from the conda channel which downgraded matplotlib to 1.5.

[2017-01-18 20:32] sciunto commented on #2458
Our requirements state matplotlib>=1.3.1. Let's ping @scikit-image/packaging

[2017-01-18 20:46] soupault commented on #2458
Conda maintainers have their own vision on compatibility of packages. Also, one should expect some delay : even if there are no issues, they still need some time to test everything and update the repository.

[2017-01-18 21:01] SylvainCorlay commented on #2458
The reason why matplotlib was downgraded is that I was fetching skimage
from the default channel and matplotlob 2.0 is only on the conda forge
channel.

In any case it triggered the question since from a semver viewpoint, 2.0
could be backward incompatible.

On Jan 18, 2017 8:46 PM, "Egor Panfilov" <notifications@github.com> wrote:

[2017-01-19 09:33] sciunto opened #2463 "Wavelet denoising fails on odd-sized dimension images"
From @grlee77 https://github.com/scikit-image/scikit-image/pull/2461#issuecomment-273717628

If you truncate the odd-sized dimension from 451 to 450 this issue will not occur.  This is a known issue with odd-sized inputs with `dwtn/idwtn` (https://github.com/PyWavelets/pywt/issues/80)

The proper fix is probably for to have `denoise_wavelet` itself either:
- [ ] raise an error if any non-channels

[2017-01-19 09:39] grlee77 commented on #2463
see #2462 for a simple solution that will work for arbitrarily sized inputs

[2017-01-19 16:25] sciunto opened #2465 "Change API denoise_bilateral, multichannel=False by default."
## Description

See https://github.com/scikit-image/scikit-image/pull/2461#issuecomment-273802520

in skimage/restoration/_denoise.py, deprecate mutlichannel=True to False for denoise_bilateral to be consistent with the rest of the functions. Arguments are listed in the link at the top of this message.

In doc/examples/filters/plot_denoise.py, the function call must be adapted as well.

[2017-01-19 19:18] sciunto opened #2466 "Remove workaround when pywavelet is fixed."
## Description

The changes implemented in #2462 are a workaround. Once https://github.com/PyWavelets/pywt/issues/80 is fixed, released and satisfies our minimum requirements, these changes can be reverted.

I assigned to 0.14. To postpone as necessary.

[2017-01-19 21:55] #2463 closed

[2017-01-21 00:15] michaelaye opened #2469 "DOCS: GLCM example hard to follow"
In the GLCM Texture Features example, I find the following sentence popping out by not being understandable:

What is unclear:
* What means 'horizontal'?
* Offset from what?

I'm looking at this page:
http://scikit-image.org/docs/dev/auto_examples/features_detection/plot_glcm.html#sphx-glr-auto-examples-features-detection-plot-glcm-py

[2017-01-21 06:42] sciunto commented on #2469
What do you mean by popping out? If I run the script, nothing is printed (skimage 0.12 or dev).

[2017-01-21 20:19] soupault commented on #2469
Thanks @michaelaye ! It's is indeed hard to understand without looking at the example code and the API docs.
What is meant, I think, that GLCM is called with `distance=[5]` and `angles=[0]`.

Feel free to sumbit a PR with an enhancement.

[2017-01-22 02:37] #2465 closed

[2017-01-23 08:12] soupault opened #2471 "Fix the name of code coverage tool in Contributing Guidelines"
## Description
Change `coveralls` to `codecov`. Fix the link correspondingly.

See http://scikit-image.org/docs/dev/contribute.html#activate-travis-ci-for-your-fork-optional

**Please, do not submit a PR until https://github.com/scikit-image/scikit-image/pull/2468 is merged to avoid conflicts.**

[2017-01-23 15:34] soupault commented on #2233
I move this to 0.14, as it is not critical. To be merged after #2454 .

[2017-01-23 15:35] sciunto commented on #2233
big :+1

[2017-01-23 15:36] soupault commented on #2410
0.1.8 is out - https://github.com/sphinx-gallery/sphinx-gallery/releases/tag/v0.1.8 !

[2017-01-23 15:38] sciunto commented on #2410
Thanks for the ping, I'll take care of it.

[2017-01-23 23:01] HenryJia opened #2473 "mtultiprocessing.pool.ThreadPool crashes measure.label in python 3.6"
Hey y'all

It seems that mtultiprocessing.pool.ThreadPool seems to interfere with measure.label in python 3.6 resulting in a segfault

The error seems to be caused when you import ThreadPool before measure.label and then try to use measure.label, or try to run multiple measure.label calls at the same time with ThreadPool

[2017-01-24 12:14] sciunto commented on #2473
Hi,

Could you provide a minimal example please?

[2017-01-25 02:09] pfigliozzi opened #2475 "Memory Management of Created Images with Scikit Image"
I am working on some trajectory analysis of objects in images using python in a Jupyter notebook. In order to help me understand what is going on in a certain frame (or series of frames) I wrote a function that will create a stack of images that show my trajectories and display them so I can flip through frame by frame to see where the objects are moving similar to [this](http://i.imgur.com/CcuuYY

[2017-01-25 06:44] rishikksh20 commented on #2471
I am up for this.

[2017-01-26 00:02] michaelaye commented on #2469
I don't know what a distance and angles stand for in GLCM either. Sorry, I can't submit a PR as I don't understand what is going on. ;) Maybe i should just read a primer on GLCMs...

[2017-01-26 17:45] #2335 closed

[2017-01-26 17:46] sciunto commented on #2350
Close by @soupault

[2017-01-26 17:46] #2350 closed

[2017-01-27 01:44] stefanv opened #2477 "Implement unsharp masking"
http://homepages.inf.ed.ac.uk/rbf/HIPR2/unsharp.htm

For color images, first convert to HSV and only apply sharping to value channel.

## Additional references

- http://ieeexplore.ieee.org/abstract/document/826787/

[2017-01-29 17:15] sciunto commented on #1822
This is fixed: http://scikit-image.org/docs/dev/auto_examples/features_detection/plot_holes_and_peaks.html

[2017-01-29 17:15] #1822 closed

[2017-01-29 17:18] sciunto commented on #1968
This problem does not exist anymore (probably with sphinx-gallery updates).

[2017-01-29 17:18] #1968 closed

[2017-01-30 06:04] soupault commented on #1968
LOL, what's that `orphan:` thing for?

[2017-01-30 06:07] sciunto commented on #1968
no idea. I noted on my todo list to check that and report if necessary.

[2017-01-30 13:21] matthew-brett commented on #2450
Any progress here?  It would be great to get out some Python 3.6 wheels, that pass the tests.

[2017-01-30 14:38] soupault commented on #2450
@jni Could you help us with the name of a person who is familiar with this part?

[2017-01-30 15:52] Borda opened #2480 "Boundary conditions for `draw.ellipse_perimeter`"
## Description
I am wondering if the circular drawing of an ellipse is proper behavior, such that overflow section of an ellipse on the left side appears on the right side of the image...

## Way to reproduce
- [x] Code example
[code]
- [x] Relevant images (if any)
![figure_1](https://cloud.githubusercontent.com/assets/6035284/22429835/5307812a-e70c-11e6-9d1c-cce45d374dca.png)
- [x] scikit-image v

[2017-01-30 16:14] soupault commented on #2480
In my opinion, a better default behaviour should be to truncate the values outside the image.
Maybe we can think of a parameterization here, but I personally cannot imagine any tasks in which the current behaviour is needed.

[2017-01-30 19:34] sciunto commented on #2480
+1

[2017-01-30 19:39] sciunto opened #2481 "Empty orphan boxes in our gallery"
Reported upstream: https://github.com/sphinx-gallery/sphinx-gallery/issues/202

[2017-01-31 18:03] xfsm1912 opened #2483 "Failure to import the segmentation from skimage"
## Description
I just install the scikit-image lib by anaconda. I want to test the function of segmentation of skimage. So I download the "plot_ncut.ipynb" from (http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_ncut.html#sphx-glr-auto-examples-segmentation-plot-ncut-py). But I cannot run this notebook.

As I run the ipy file, it returns:
[code]

## Way to reproduce
- [x] Code examp

[2017-01-31 20:59] sciunto commented on #2483
Weird. Looks similar to https://github.com/scikit-image/scikit-image/issues/401

Could you try to reinstall as suggested please?

[2017-02-01 14:27] aivision2020 opened #2485 "Potentially running too many iterations in ransac"
in skimage/measure/fit.py
managing the number of iterations is done with max_trials. This is compared to _dynamic_max_trials which is computed using the largest inlier group found so far. However, this comparison is done only in cases when sample_inlier_num is larger than the biggest group. In cases when a large group is found early (but not large enough to end) the best_inlier_num is updated but

[2017-02-01 21:40] soupault opened #2486 "Fix gallery examples to work correctly with matplotlib 2.0"
## Description
The following examples look pretty bad with the update of `matplotlib` to 2.0 and should be updated:

- http://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_regional_maxima.html (all viridis :man_facepalming: );
- http://scikit-image.org/docs/dev/auto_examples/edges/plot_marching_cubes.html (one blob);
- http://scikit-image.org/docs/dev/auto_examples/filters/plot_entro

[2017-02-02 08:34] #2308 closed

[2017-02-02 08:36] #2309 closed

[2017-02-02 22:48] #2410 closed

[2017-02-02 22:48] #2481 closed

[2017-02-02 23:07] anntzer commented on #2219
It was just an off-by-1 error.  Added some tests (that the two implementations, one on Python and one in Cython, do match).
@b52, would you be interested in making a PR out of my repo?  I'm happy to walk you through my implementation, but I don't have time right now to write proper docs and sort out the machinery of how it'd interact with the currently existing version.