[2019-10-09 04:18] kgdunn opened #4221 ""Download" link on website broken"
## Description
Link to _Download_ broken, depending on the path you navigate. The path to navigate is not unusual, especially for a new user.

## Way to reproduce
1. Go to https://scikit-image.org/
2. Click on gallery first on the top menu (https://scikit-image.org/docs/stable/auto_examples/)
3. Then go to Download link (currently https://scikit-image.org/download.html)
4. You get a 404 error

[2019-10-09 06:15] sciunto commented on #4221
Thanks for reporting!

[2019-10-09 06:20] sciunto commented on #4221
On the dev version, the link is correct: https://scikit-image.org/docs/dev/

It's caused by recent changes that were not backported to older versions. @soupault Do you have an idea?

[2019-10-09 08:55] soupault commented on #4221
I will take a look!

[2019-10-09 12:55] paugier commented on #4199
A short update about this work (see also https://github.com/fluiddyn/transonic/tree/master/doc/for_dev/scikit-image).

It's very useful for Transonic. I released a new version (0.4.1) with some improvements of the Cython backend. For some kernels, Transonic 0.4.1 is able to produce efficient Cython code.

For other kernels considered in this experiment, more work is needed. The most useful missing

[2019-10-09 16:49] stefanv commented on #4221
Fixed by @soupault in https://scikit-image.org/docs/stable/install.html

[2019-10-09 16:50] stefanv commented on #4221
So, yes, will have to go and edit the old builds.

[2019-10-09 17:47] stefanv commented on #4221
I updated the old builds.

[2019-10-09 17:47] #4221 closed

[2019-10-10 03:12] jni commented on #2797
@ThomasWalter thank you for raising this at the recent user meeting. I have two points:

- is it faster to find the minima of R_f(f-h) inside the reconstruction, or internally are we just then finding the local minima? I think the latter, right?
- if the former, then I propose adding two functions, as @stefanv suggests. If the latter, then I propose having only the Soille definition (I am allergic

[2019-10-10 03:17] jni commented on #4199
Thanks @paugier!

This is so great to hear. We actually tried to get a joint grant with Numba to do this kind of work, explaining that it would lead to improvements in both skimage and Numba. We didn't get funded, but your statement vindicates that application. =) Perhaps we should consider applying for a joint skimage/transonic grant at the next CZI round? (deadline Dec 1, or the next one, I thin

[2019-10-10 05:09] jni commented on #4106
@iliailmer apologies for the delay in responding. If you are still happy to work on this you would be more than welcome to do so! As I understand it, we did move the function to `exposure` but did not add the test described in that comment.

[2019-10-10 05:33] sciunto commented on #4106
my apologies as well, I missed the notification.

[2019-10-10 05:59] sciunto commented on #3887
@NelleV Can you check that this will be fixed by 0.16 please?

[2019-10-10 06:40] soupault commented on #4212
Fixed in #4219 .

[2019-10-10 07:25] paugier commented on #4199
Yes, it would be great to do that. I'll send you an email to discuss about the application. It could be good to involve Numba people and @serge-sans-paille.

[2019-10-10 11:09] gsk727 opened #4226 "imread ValueError: I/O operation on closed file."
## Description

- skimage 0.15.0
- python3.7.2 64bit
- CentOS Linux release 7.2.1511 (Core)

[code]

[2019-10-10 17:03] hmaarrfk commented on #4199
Have a look at the wheel builder repo. It uses Matthew Brett's muktibuild system to comply with the instruction set and libc requirements of the manylinux wheel format.

Dynamic dispatch can help compile one binary that is able to use specialized instructions when it can, but I've never implemented code myself that uses that, I just heard that opencv does this

[2019-10-10 19:08] serge-sans-paille commented on #4199
Sure :-)

[2019-10-10 19:10] serge-sans-paille commented on #4199
Plus I 100% second the approach of @paugier here. Having a single source and the ability to swith between backends looks like a very good property to me :-)

[2019-10-11 04:57] jni commented on #4226
@gsk727 sorry, can you elaborate? Are you saying that `skimage.io.imread` should leave the `stream` open? On my platform at least (Ubuntu 18.04), `stream.closed` is False:

[code]

As a side note, `skimage.io.imread` can read URLs, so there's no need to use requests here:

[code]

Please let us know if this resolves your issue. Thanks!

[2019-10-11 07:07] soupault commented on #4226
In MacOS works the same way as in @jni's snippet.

[2019-10-11 20:13] mellertd commented on #4086
See #4231. That was a little more finicky than I expected, so I could be talked out of creating a function :) Still, I think it is a worthwhile example.

[2019-10-12 01:08] jni opened #4232 "Update regionprops documentation to better indicate 3D compatibility"
## Description

Many of our region properties work in 3D, but the documentation still suggests that the whole function is 2D only. `labels_image` is documented as having shape (M, N), centroid returns a `(row, column)` tuple of coordinates, and `coords` returns an `(N, 2)` array. Allegedly. =P

See this SO question:

https://stackoverflow.com/questions/58340311/what-can-i-use-to-measure-some-prope

[2019-10-13 20:19] jarrodmillman opened #4234 "language settings on PyPI"
## Description

I noticed something strange on the skimage PyPI site:
https://pypi.org/project/scikit-image/

For instance, where I expect it to say `Project links` it says `プロジェクトのリンク`.  Is anyone else seeing that?

[2019-10-13 23:04] jarrodmillman commented on #4234
It seem fixed now.

[2019-10-13 23:04] #4234 closed

[2019-10-14 00:26] jni commented on #4153
@cgohlke did you delete a comment? My link above doesn't work anymore...

[2019-10-14 07:57] soupault commented on #4234
I still see the issue, but there is probably nothing we can do.

[2019-10-14 09:57] jni commented on #3804
@carderne I'm sorry that you didn't get a timely response here, but actually I think it's very interesting! We are just overwhelmed with more issues than we can handle, and some fall through the cracks. Sorry about that! If it's ok with you, I'd like to keep this open. Thank you for raising the issue!

[2019-10-14 10:02] carderne commented on #3804
@jni totally understand! I could start preparing a PR, but since I haven't contributed to scikit-image at all I thought I should probably get some input first.

[2019-10-14 14:45] benmcdermott commented on #4232
I am trying to use skimage regionprops to calculate the: volume, 3D surface area, mean curvature of the 3D surface and Euler number of a 3D binary labelled image.

An update to the regionprops documentation better illustrating which features extend to 3D (and what exactly they would do in 3D) would certainly help.

e.g. from the regionprops documentation "area - Number of pixels of the region." Wo

[2019-10-15 07:44] packoman opened #4240 "Different label boundaries with skimage.morphology.watershed when using `watershed_line=True` and `watershed_line=False`"
## Description
When doing watersheding I get a different boundary between adjacent labels, when using `watershed_line=True` and `watershed_line=False` (see image).
If you compare the two results in the image below, you see that with `watershed_line=True` the watershed lines/label boundaries are somewhat diagonal, whereas with `watershed_line=False` the boundaries are perfectly horizontal.
Is this

[2019-10-15 10:09] rathaROG opened #4241 "AttributeError: module 'skimage' has no attribute 'transform'"
## Description
It only happens with version 0.16.1. There is no such problem with version 0.15.0.

## Version information
[code]

[code]

[2019-10-15 11:13] jni commented on #4241
@rathaROG what command gave you that output?

[2019-10-15 11:15] jni commented on #4241
I suspect you are doing:

[code]

but that was never designed to work: scikit-image uses "lazy importing", so you have to explicitly import submodules:

[code]

If it worked before it was an implementation error, not a design flaw.

Please let me know if my intuition above is correct and that fixes your issue...

[2019-10-15 14:13] jni commented on #4240
@packoman thanks for the report! A priori I would not think that the lines should be different. We'll investigate!

[2019-10-15 17:22] stefanv opened #4242 "Speeding up CI"
@bsipocz made a [PR to NumPy](https://github.com/numpy/numpy/pull/14703/files) to run a set of tests on *one worker* to catch early failures, before launching the full parallel suite.  This is a great way to save cores, since PRs are likely to fail quite often.

[2019-10-15 17:24] bsipocz commented on #4242
happy to open a PR here, too.

[2019-10-15 17:39] stefanv commented on #4242
@bsipocz That would be great!

[2019-10-15 18:21] hmaarrfk commented on #4242
Moving to azure would speed things up too

[2019-10-15 18:25] bsipocz commented on #4242
That would speed the total time for sure, but not solve the issue of wasting resources with trivially failing commits.

[2019-10-15 18:26] stefanv commented on #4242
@hmaarrfk We have Azure already; do you mean moving all jobs there?

[2019-10-15 18:55] hmaarrfk commented on #4242
yeah. seems to be pretty stable. test period over ;) but porting CIs isn't my favorite activity ;).

[2019-10-15 19:05] bsipocz commented on #4242
One could argue that there is value not to rely on only one CI platforms, but if you don't use any of their missing features, it may indeed make sense to move over  to Azure.

Anyway, I'm opening the PR for the stages now, then you can take the time to migrate over.

[2019-10-15 19:37] soupault commented on #4242
@hmaarrfk I will take care of Azure, as anticipated. I am glad you are, finally, on the bright side :).

[2019-10-15 21:02] MK2345 opened #4244 "Histogram equalization before extracting HOG features?"
Hello,

I'm a beginner in using scikit-image. I want to extract HOG-features from traffic sign images.
The images were taken under different weather conditions.
Does it make sense to make a histogram equalization before extracting HOG features?

[code]
Or is it superfluous to use histogram equalization in combination with hog?
I'm asking because I have problems with memory if I do histogram equali

[2019-10-15 22:48] jni commented on #4244
@MK2345 thanks for your interest in scikit-image!

I myself don't know the answer to your question. (Someone else in the team might, we'll see.) The original HOG paper is probably the best source to find the answer. Alternatively, you should take a small enough subset of your data that you can avoid your memory errors, then measure performance of your pipeline with and without histeq.

[2019-10-15 22:54] jni commented on #4244
I'm going to close this issue in favour of the [image.sc post](https://forum.image.sc/t/histogram-equalization-before-extracting-hog-features/30409), which is the better forum for this!

[2019-10-15 22:54] #4244 closed

[2019-10-15 23:07] jni commented on #3810
Just a note so I don't lose it: registration/transformation with anisotropic axes can be tricky, as illustrated here: https://github.com/VolkerH/Lattice_Lightsheet_Deskew_Deconv/issues/22

Doing this correctly might require some pre-filtering of reference/moving/both images.

[2019-10-15 23:35] jni commented on #4232
@benmcdermott thanks for chiming in!

Yes, that's exactly right. We had quite a detailed discussion about this once in #3812, but have not found time to implement it yet.

[2019-10-16 04:10] rathaROG commented on #4241
Hi @jni ! `import skimage.transform` works. Thanks!

[2019-10-16 04:10] #4241 closed

[2019-10-16 21:34] hacktuarial opened #4245 "Output of graph.normalized_cut is not deterministic"
## Description
After reading the [original paper](https://repository.upenn.edu/cgi/viewcontent.cgi?article=1101&context=cis_papers), I wasn't sure if the output was deterministic or not. Based on the example below, the output is not deterministic, even after fixing the seed. Can you provide any insight into why this is so?

## Way to reproduce

Based on https://scikit-image.org/docs/dev/auto_examp

[2019-10-16 23:41] jni commented on #4245
@hacktuarial this is happening because the argument `in_place` to `cut_normalized` defaults to `True`. I expect that using `in_place=False` in your example will fix the problem.

However, this is certainly confusing behaviour, so I might leave this open to discuss using `in_place=False` by default in the future.

[2019-10-17 03:13] hacktuarial commented on #4245
Ah! I forgot about that argument. Unfortunately, I get the same result with `in_place=True`:
[code]

[code]

[2019-10-17 03:20] hacktuarial commented on #4245
In this particular example, `cut_normalized` returns 22 unique segments 9/10 times, but 23 unique segments one time (index 3, which was reproducible on my machine).

[2019-10-17 04:43] jni commented on #4245
Looking at the code:

https://github.com/scikit-image/scikit-image/blob/6888c01e291abfb8016965b2dd835b5026a6f8e3/skimage/future/graph/graph_cut.py#L238-L294

The only part that I can see as potentially random is the call to [`scipy.sparse.linalg.eigsh`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html). This uses an iterative solver that may well use random start

[2019-10-17 04:57] sciunto opened #4248 "Flood_fill use "inplace" kwarg, and the library uses "in_place" elsewhere"
## Description

https://scikit-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.flood_fill

To be consistent, inplace must be deprecated in favor of in_place.

[2019-10-17 05:42] sciunto commented on #4245
@jni There is also

skimage/future/graph/rag.py:160:    def merge_nodes(self, src, dst, weight_func=min_weight, in_place=True,

That is inconsistent with the default majority for the in_place kwarg. Would be good to fix it as well.

[2019-10-17 09:05] wimthiels opened #4249 "Frangi artefacts around the image"
[img_raw.zip](https://github.com/scikit-image/scikit-image/files/3738350/img_raw.zip)

## Description
![frangi problem](https://user-images.githubusercontent.com/32536010/66994646-e4da8980-f0cd-11e9-950f-e154f3f1baf3.jpg)

Hi,
I upgraded Scikit from 0.14.2 to 0.16.1 and now I experience some problems. As illustrated in the picture, with the new Frangi I get a a bright square all across the image w

[2019-10-17 09:38] jni commented on #4249
Yikes, thank you for the report @wimthiels! We'll chase it down. I suspect it was accidentally introduced in #3515...

[2019-10-17 14:15] robroooh commented on #4248
is anyone working on this? I would like to contribute.

[2019-10-17 16:04] sciunto commented on #3887
I suspect it is fixed. Please, reopen if needed.

[2019-10-17 16:04] #3887 closed

[2019-10-17 18:46] hacktuarial commented on #4245
@jni You are exactly right, the random starting points lead to different sub-partitions. What is happening in this case is that sometimes, for a graph with 399 nodes, a partition is considered with (1, 398) nodes, and the min cut value exceeds the threshold, so no further partitioning takes place. Most of the time, more "reasonable" splits are considered, like (337, 62).

I will submit a PR to ini

[2019-10-17 23:36] GenevieveBuckley commented on #3887
Can confirm, is fixed with scikit-image 0.16.1 (pip installed on Windows 10).

[2019-10-18 06:04] sciunto commented on #3355
@scikit-image/core I propose to reopen the debate and that we take a decision on this issue soon.

I'm +1 with @emmanuelle.

[2019-10-18 06:13] jni commented on #3355
We already have both the forum and SO both at the top of the readme and on the website, and things have been working quite smoothly, so I'm going to just close this as resolved! =)

[2019-10-18 06:13] #3355 closed

[2019-10-18 06:13] sciunto commented on #3599
I vote for removing the function. Other optinions @scikit-image/core

[2019-10-18 06:25] sciunto commented on #2445
Based on the changelog, it must be fixed in PIL 6.0.0 released in April 2019. Either we warn users to upgrade to this version if they use MPO, either we update the min version. I prefer the second solution.

[2019-10-18 06:25] sciunto commented on #3355
I didn't notice :)

[2019-10-18 07:07] soupault opened #4253 "Orientation in plot_active_contours example is broken"
## Description

See https://scikit-image.org/docs/dev/auto_examples/edges/plot_active_contours.html.
Originally reported by @aisosalo.

[2019-10-18 07:45] soupault commented on #3599
:+1: for removal. I think the next step should be to wrap scipy morphology functions - https://github.com/scikit-image/scikit-image/issues/1917.

[2019-10-18 07:50] soupault commented on #4106
@robroooh yes, feel free. Any open issue is still valid.

[2019-10-18 19:42] sciunto commented on #4253
caused by #4035

[2019-10-18 20:00] willgraf opened #4258 "New PyWavelets version 1.1.0 breaks skimage 0.14.x due to python3 collections.abc incompatibility"
## Description
The new version of `PyWavelets` (1.1.0) uses `from collections.abc import Iterable` which fails in python 2.7.  The scikit-image 0.14.x release should probably be updated to use `PyWavelets<1.1.0`  to resolve this.

## Way to reproduce
[code]

[2019-10-18 20:03] hmaarrfk commented on #4258
pip should be smart enough not to install pywt since it would be tagged as python 3 release only.

how did you install pywt 1.1.0??? it isn't even released yet?

@grlee77 maybe you should add a python_requires line to your setup.py??? not too sure.

[2019-10-18 20:07] willgraf commented on #4258
Sorry my mistake it is PyWavelets==1.1.0 not pywt
(apparently pywt is a different package on pip but it is referenced by skimage as pywt)

[code]

[2019-10-18 20:19] emmanuelle commented on #4258
I guess we should pin the `pywavelets` dep and do a bugfix release because this is going to be very annoying for the packages depending on us... (I arrived here because the CI of `plotly.py` broke since `scikit-image` is an optional dep)

[2019-10-18 20:25] hmaarrfk commented on #4258
I think this is a pywavelets bug. You should be able to on python 2.7 type
[code]
without it installing an invalid version.

scikit-image will only install 0.14 while we have release python 3 only versions (0.15 and 0.16).
PyWavelets can do the same.
Lets wait for @grlee77  to respond.

[2019-10-18 21:21] grlee77 commented on #4258
I can try to fix this on the PyWavelets end and make a 1.1.1 release ASAP.

I will try adding `python_requires='>=3.5'` to `setup.py`.

[2019-10-18 21:24] grlee77 commented on #4258
I'm not sure that doing a new release would prevent pip from still trying to download 1.1.0 from source on Python 2.7, though?

[2019-10-18 21:31] hmaarrfk commented on #4258
Yeah. You might want to try and pull 1.1.0 .....

[2019-10-18 21:39] grlee77 commented on #4258
@hmaarfk:  does PyWavelets/pywt/#529 look like it should work?

[2019-10-18 21:57] grlee77 commented on #4258
I have removed the 1.1.0 source tarball from PyPI. I will upload a 1.1.1 release that prevents pip installation on Python <3.5 in some hours.

[2019-10-18 23:29] hmaarrfk commented on #4258
Not sure. Maybe it will work. It seems like that is the only difference between your setup.oy and scikit images

[2019-10-19 00:54] hmaarrfk commented on #4258
@willgraf do take this as a warning, that much of the scientific community has moved on from supporting python 2, and these growing pains are likely going to be quite common. :/ I hope you arent stuck on python 2.

[2019-10-19 02:57] willgraf commented on #4258
@hmaarrfk Happily not stuck, but the codebase I'm working on [deepcell-tf](https://github.com/vanvalenlab/deepcell-tf) relies on TensorFlow, and I am attempting to mimic their supported platforms.  If these issues do continue to come up (especially after 2020 EOL), I will likely abandon the python 2 support.

[2019-10-19 04:15] hmaarrfk commented on #4258
Looks like a cool project!

[2019-10-19 05:29] sciunto commented on #4226
I'm closing this issue. If @jni's reply is not sufficient, please comment and reopen the issue.

[2019-10-19 05:29] #4226 closed

[2019-10-19 05:41] sciunto opened #4259 "Bump numpy to >= 1.16"
## Description

In the TODO list, several tasks are about numpy >= 1.16. This version opens up the possibility to use linspace, logspace... functions in nD. As it is a goal to get nD algorithm in scikit-image, I propose to bump numpy for our next release to facilitate future contributions.

I assign this task to myself.

[2019-10-19 08:31] grlee77 commented on #4258
I am going to close this as resolved on the PyWavelets end. The source tarballs for 1.1.0 were removed from PyPI and a 1.1.1 release was added.

I tried pip installing PyWavelets from Python 2.7 and now it finds only 1.0.3 and older as expected. 1.1.1 will only be installed for Python 3.5+.

Thank you @willgraf for bringing this to our attention! Please reopen if you still experience the issue.

[2019-10-19 08:31] #4258 closed

[2019-10-19 10:58] DCC-lzhy opened #4260 "TypeError:structural_similarity() takes 2 positional arguments but 8 were given"
## Description

## Way to reproduce
[code]

## Version information
[code]

[2019-10-19 11:13] soupault commented on #4260
Hi,
This regression has been fixed in https://github.com/scikit-image/scikit-image/pull/4246 and will be included in 0.16.2 release.

[2019-10-19 11:13] #4260 closed

[2019-10-19 13:42] hmaarrfk commented on #4258
Thanks grlee, glad we were able to help others find a solution to this!

[2019-10-19 16:30] hmaarrfk opened #4261 "sdist review (Oct 2019)"
This post here is to review the status of the sdist as part of scikit-image in light of recent developments in how python is now packaged in late 2019.

A few recent developments have been:
1. The removal of pyproject.toml https://github.com/scikit-image/scikit-image/pull/3914
    * This was done because pyproject.toml would create a fresh environment, which could result building scikit-image with

[2019-10-19 16:48] #4242 closed

[2019-10-19 16:58] stefanv commented on #4261
I'm +1 on both. We should consider that sdist install will now fail until the right version of Cython is available, and print a helpful error message, similar to what we do for NumPy.

[2019-10-19 19:00] hmaarrfk commented on #4259
I love bleeding edge as much as the next person, but how does this affect things for popular distros? Would they be stuck on older versions of skimage due to this?

For example, I think ubuntu 19.10 is packaging Numpy 1.16.2 and skimage 0.14.2 for python3.

[2019-10-19 19:53] lagru commented on #4200
Solved in #4207.

[2019-10-19 19:53] #4200 closed

[2019-10-19 20:12] sciunto commented on #4259
1.16.x has been published in Jan. 2019. If we take 6 months to prepare the next release, the min req. version will be out for more than a year.

[2019-10-19 20:41] hmaarrfk commented on #4259
Right, that makes sense. But I'm more of the opinion that we should try to have more rolling release ;)

[2019-10-21 00:08] jni commented on #4259
@sciunto how does this fit in with the NEP-29 deprecation policy? Is it more aggressive or basically implementing the policy?

[2019-10-21 03:32] jni commented on #4261
@hmaarrfk I feel like you left out

- [ ] should we re-add pyproject.toml with correct build dependencies (probably involves pinning numpy at build time but not at runtime?)

Note that the old Cython version was not due to an old version on the builder's machine, but rather, to not rebuilding the Cython files when using sdist. imho sdist should always result in a clean build of everything. It migh

[2019-10-21 05:25] sciunto commented on #4259
It depends when we release the next version,  1.15 is supposed to be unsupported in Jul 23, 2020. It doesn't look so aggressive.

[2019-10-21 06:15] #4253 closed

[2019-10-21 17:36] RafaelCarlquist commented on #3380
Hello everyone, I was wondering if someone else took a look at this question. I think the problem happens when the end/start point is not an allowed point (with negative values, for example). In this case, changing the order of what is the end and what is the start will produce a different result.

Maybe it is related with #1912

I wrote a small example:

[code]

Here, the fisrt cell is -1, which

[2019-10-22 00:16] jni commented on #3380
@RafaelCarlquist thanks for reviving this! If that is indeed the issue, it might be quite easy to fix!

[2019-10-22 02:27] jni opened #4264 "Release notes tool does not correctly attribute authorship in backports"
## Description

Running `tools/generate_release_notes.py v0.16.1 v0.16.2rc1 --version v0.16.2 > release_notes_0.16.2.rst` does not include Jarrod Millman even though he authored our migration to networkx 2.x, which is in this release. It also does not include @sciunto even though he fixed our active contour docs.

Finally, the final mergers in PRs don't get credited as reviewers, even though they

[2019-10-23 12:02] #4245 closed

[2019-10-24 14:53] gustavahlberg opened #4266 "module 'skimage' has no attribute 'measure'"
## Description
v.16.02
module 'skimage' has no attribute 'measure'
just gone??

## Way to reproduce
[code]

## Version information
[code]

[code]

[2019-10-24 16:36] gustavahlberg commented on #4266
aha ok I see. Great! thanks!

[2019-10-24 16:56] #4266 closed

[2019-10-25 06:36] sciunto commented on #4091
@VolkerH Have you make progress on this task?

[2019-10-27 18:20] hmaarrfk opened #4268 "dtype.convert is really slow (float->uint8)"
## Description

I think converting to `uint8`, a common operation required many times to display, save, or otherwise manipulate images is much too slow in scikit-image.

I understand the desire the have safety checks by default, but I would like to propose versions that are "unsafe" for users that know that their values fall in certain ranges.

There are a few reasons to do this:
1. If it is too s

[2019-10-27 20:44] Borda opened #4270 "Windows Build of 0.16.2 on python 3.6 seems to be incompatible with numpy 1.15.4"
## Description

I have a problem while importing `skimage` filters on Windows and Python 3.6
Somehow it passes with the same packages for Python 3.5. and 3.7 as you can see: https://ci.appveyor.com/project/Borda/birl/builds/28411883

## Version information

Python 3.6.8

pip 19.3.1 from c:\python36-x64\lib\site-packages\pip (python 3.6)

numpy== 1.15.4
scikit-image==0.16.2

## Output error message

[2019-10-27 20:51] Borda commented on #4270
can be similar to https://github.com/nltk/nltk/issues/2276 https://github.com/cython/cython/issues/1953

[2019-10-27 21:25] hmaarrfk commented on #4270
Can you try to unpin numpy and scikit-image? what the bug you are hitting with scikit-image 0.16.2?

Is this related?
https://ci.appveyor.com/project/Borda/birl/builds/28411883/job/l9bxqshjqqon9eik#L313

[2019-10-27 21:36] Borda commented on #4270
pls, what do you mean by "unpin"? :)

`AttributeError: type object 'skimage.transform._hough_transform.array' has no attribute '__reduce_cython__'`

No idea what the `py36 run-test-pre: PYTHONHASHSEED='671'` is, I do not use any python seed...

[2019-10-27 22:16] hmaarrfk commented on #4270
I meant two lines below it, it says "warning test command not found"
https://ci.appveyor.com/project/Borda/birl/builds/28411883/job/l9bxqshjqqon9eik#L315

Use newer numpy -- modern builds of scikit-image fixed the issue with numpy 1.16
https://github.com/Borda/BIRL/blob/master/requirements.txt#L1
Use newer scikit-image (which you seem to have done)
https://github.com/Borda/BIRL/blob/master/require

[2019-10-27 22:29] Borda commented on #4270
ok, I will try... how can I implement [this](https://github.com/scikit-image/scikit-image/issues/3867#issuecomment-487332013) conditional package installation in requirements?

[2019-10-27 22:36] hmaarrfk commented on #4270
basically you don't.

This is where distributions and semantic versionning come in to play
https://semver.org/

Generally, it should be safe to install newer patch versions of a software.
That means if people have 0.14.1, they should be able to install 0.14.2
Finally, distributors of software should be the ones that take care of these conflicts. pip is a particularly bad dependency solver, which i

[2019-10-27 22:39] hmaarrfk commented on #4270
I'm not sure what the issue is, but if you think it is important, can you open a new ticket so we can focus on it there?

[2019-10-27 22:40] hmaarrfk commented on #4270
Oh i see, i'll boot up into windows in a bit and see if i can recreate.

Do you have a windows machine? can you provide instructions to recreate if possible?

[2019-10-27 22:41] Borda commented on #4270
well obviously this combination `numpy== 1.15.4 ; scikit-image==0.16.2` crash for Python3.6

[2019-10-27 22:42] hmaarrfk commented on #4270
I guess as downloaded from pypi. Not sure why, but if you could recreate locally, we can maybe try to understand why. Appveyor is hard to debug. Maybe provide the virtualenv instructions with the `pytest` command to trigger the bug?

[2019-10-27 22:43] Borda commented on #4270
I am happy Linux user, this came from multi-OS testing, I was using Appveyor for this purpose

[2019-10-27 22:44] Borda commented on #4270
yes, from pypi...

[2019-10-27 22:44] hmaarrfk commented on #4270
The only thing I Can think about is that the dependency didn't get pinned right for the python 3.6 build.

https://github.com/scikit-image/scikit-image-wheels/pull/26/files#diff-11c909939117928998b102a1fff7d363L22

I noticed this in a recent PR.

[2019-10-27 22:45] hmaarrfk commented on #4270
Technically, we should have been able to build with 1.13 though, we just didn't want to test with it anymore and some python-only functions needed newer functionality.

[2019-10-27 23:20] Borda commented on #4270
well, `numpy` upgrade solves the issue

[2019-10-27 23:24] hmaarrfk commented on #4270
Right, but I feel like this should be a supported configuration.

I was able to reproduce with:

[code]

[code]

[code]

<details> <summary> Python 3.7 works</summary>

[code]
</details>

@jni, maybe we should rebuild 0.16.2 with the updated numpy minimum version to 1.14.5 instead of 1.13.3???

[2019-10-27 23:26] hmaarrfk commented on #4270
This seems to be https://github.com/scikit-image/scikit-image/issues/3655

I'm kinda not so interested to fix this because I see this as a corner case. Numpy doesn't really like supporting these kinda of builds (i.e. build with OLD numpy, but use newer numpy) but many people do it (conda and conda-forge are guilty of this).

[2019-10-27 23:48] jni commented on #4270
@hmaarrfk there is no such thing as "rebuilding" with PyPI. It is append-only. So we would need to make a new release. And also, I'm not super interested in messing with our scikit-image-wheels repo myself. Perhaps @stefanv or @matthew-brett can provide some clarity about what's happening here?

Thanks for the sleuthing @hmaarrfk! You are always super quick at tracking down build issues which I fi

[2019-10-27 23:54] Borda commented on #4270
btw, just curious, you skipped `0.15` completely... ? https://github.com/scikit-image/scikit-image/tags

[2019-10-27 23:57] hmaarrfk commented on #4270
we didn't exactly skip it, it seems that the combination of building with 1.13.3 and runnings with 1.15.4 doesn't entirely work.

Honestly, I want to see 1 more user complain, then I'll go through a release process of 0.16.3 ;)

[2019-10-27 23:59] jni commented on #4270
Yes, as @hmaarrfk says, I want to get a bit better sense of how many people would be affected by this before closing.

No, we didn't skip 0.15, we just released a few 0.14.x point releases after 0.15.0, scroll down to the bottom of that page. =)

[2019-10-28 00:06] hmaarrfk commented on #4270
I created https://github.com/scikit-image/scikit-image-wheels/pull/28
and https://github.com/scikit-image/scikit-image-wheels/pull/29

to attempt to help this in the future releases.

[2019-10-28 10:32] lagru commented on #4268
I like it. +1

[2019-10-29 13:18] matesumegi opened #4272 "Imread fails to read multiple tiff files if certain letter and number combination is in the filename."
## Description
Imread fails to read multiple tiff files if certain letter and number combination is included in the filename.
Tested on win10 and linux.
pls, see my output:
A
(1, 3, 4, 301, 219)
a
(1, 3, 4, 301, 219)
B
(2, 3, 4, 301, 219)
b
(2, 3, 4, 301, 219)
C
(1, 3, 4, 301, 219)
c
(1, 3, 4, 301, 219)
D
(2, 3, 4, 301, 219)
d
(2, 3, 4, 301, 219)
E
(2, 3, 4, 301, 219)
e
(2, 3, 4, 301, 219)
F
(2, 3

[2019-10-29 15:23] cgohlke commented on #4272
Use `skimage.external.tifffile.imread([...], pattern=None)` or install tifffile from [PyPI](https://pypi.org/project/tifffile/).

[2019-10-29 16:07] rfezzani commented on #3111
A big :+1: for this!
The `np_floats` fused type is already defined in `skimage._shared.fused_numerics`. Generalizing its use in Cython operations may in fact save memory use and computation time.
It also prevent some hidden data casting from `float32` to `double`, like for example in `_slic_cython` where the input image is silently converted to `double`...

[2019-10-29 16:09] rfezzani commented on #3111
Oups, I just realized that this issue is more than one year old!!! :laughing:

[2019-10-29 16:38] matesumegi commented on #4272
skimage.external.tifffile.imread([...], pattern=None) worked fine. Thanx!

Now I see in why XYCZT and others are behaving strangely.

TiffSequence
   pattern: str
Regular expression pattern that matches axes names and sequence indices in file names. **By default this matches Olympus OIF and Leica TIFF series.**

[2019-10-29 16:38] #4272 closed

[2019-10-29 18:22] stefanv commented on #3111
I think we still need someone to do a proper review of all changes required; but since this issue is so vague I'm going to close it.

[2019-10-29 18:22] #3111 closed

[2019-10-30 08:42] rfezzani commented on #3111
I started this review yesterday when I noticed the silent cast to `double` in `_slic_cython`. That's how I found this discussion :-)
I will start by reporting the `_slic_cython` issue and refer to this one. I will try to investigate more on this.

[2019-10-30 09:05] rfezzani opened #4274 "[performance] Unwanted cast from float32 to double in slic"
## Description

If a `float32` image is given to  `skimage.segmentation.slic`, it will be cast to `double` implicitly.

In fact, in `slic`, the Cython function `_slic_cython` is called with the input image preprocessed with `img_as_float`. If the input array data type is `float32`, it is not touched.
Since the `_slic_cython` signature is
[code]
the input image is automatically and silently cast to

[2019-10-31 06:51] #3975 closed

[2019-10-31 06:51] #3980 closed

[2019-11-01 16:35] makslevental opened #4276 "can't install master on mac"
[code]

mojave 10.14.6

[2019-11-03 20:30] emmanuelle commented on #4276
Hello, in order to help us diagnose the problem, could you please tell us how you installed scikit-image master? Could you try to
- start a fresh virtual environment (python3 -m venv venv; source venv/bin/activate)
- clone scikit-image master
- install the dependencies with `pip3 install -r requirements.txt` and `pip3 install -r requirements/build.txt` (for Cython)
- build the package with `python

[2019-11-04 09:57] sendjasni opened #4278 "skimage.metrics structural_similarity() VS Original MatLab version"
## Description

I'm trying to compute SSIM (Structural SIMilarity) between two `bmp` images on Python. I've found structural_similarity() function implemented in the skimage python library and the equivalent code from the original MatLab implementation which is writing in matlab.

## Way to reproduce
[code]

## Version information
[code]

[code]

The images used are in `bmp` so i couldn't load the

[2019-11-04 15:14] paugier commented on #4199
To be honest, I will try to get some funding for Transonic / Pythran and other Python accelerators.

For the applications, we really need some feedback from "the community" about the ideas associated with Transonic, so we wrote a long and serious text on these subjects: http://tiny.cc/transonic-vision.

It seems to me that this text is interesting for people using Python for science. However, I do

[2019-11-04 17:35] grlee77 commented on #4278
I think the primary issue here is that the way you computed images from PIL results in floating point imgaes, but ones where the values are in the range [0, 255.0]. skimage will assume a range [-1.0, 1.0] for data_range when the input is floating point, so you will need to manually specify `data_range=255.`

Also, see the Notes section of the docstring for recommendations to set `gaussian_weights=

[2019-11-04 17:39] grlee77 commented on #4278
I think the small difference between the two cases above is probably due to `rgb2gray` using a different luminance conversion than PIL's `convert` method.

[2019-11-04 21:10] lagru opened #4279 "Interpolation error in measure.profile_line"
## Description

#4206, once merged, exposes interesting behavior for [measure.profile_line](https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.profile_line). Consider

[code]
As I understand it, the returned profile should be identical with the original image but we get this (value at (0, 2) is different):
[code]
This might originate in [scipy.ndimage.map_coordinates](https

[2019-11-04 23:54] dmyung opened #4280 "COL_DTYPES for regionprops_table differ from regionprops types"
## Description
In trying the `0.16.2`  `regionprops_table` to extract object measurements, we noticed that some properties we expected float types were coming back as integers.

https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L71

Seeing how the regionprops_table dictionary series are being instantiated, there are conversions happening here when creating th

[2019-11-05 01:12] alexdesiqueira opened #4281 "Docstring in util.pad returns <no docstring>"
## Description

`util.pad()` returns an empty docstring; however, [the docstring is there](https://github.com/scikit-image/scikit-image/blob/v0.12.2/skimage/util/arraypad.py#L1117).
Any idea on what's happening? Thanks y'all!

## Way to reproduce
[code]

## Version information
[code]

[2019-11-05 01:45] alexdesiqueira commented on #4280
Hi @dmyung,
you're right: `centroid` is being returned as an integer, as seen in `COL_DTYPES = {..., 'centroid': int, ...}`.
I wrote and rewrote this sentence trying to defend that; I am thinking on using the pixel coordinates on the image (should be `int`), but I guess @jni will do a better job than me. :blush:

[2019-11-05 03:07] jni commented on #4280
Nope, it is indefensible! Simply a mistake that made it through review. The dtype should be changed to float, ideally a test should be made that for every property, the dtype is the same between `regionprops` and `regionprops_table`, and then this should be backported to v0.16.x for the next point release.

[2019-11-05 03:07] jni commented on #4280
Thank you @dmyung for reporting this back to us! I hope we'll have a bug fix out soon!

[2019-11-05 03:11] jni commented on #4281
@alexdesiqueira your link points to the v0.12.2 tag for some reason! 😂

If you look at the latest master, pad is a wrapper around `numpy.pad`. It looks like we are doing a poor job wrapping it:

https://github.com/scikit-image/scikit-image/blob/d289b45299f44d85d4299f3f7c3ef803bcee344e/skimage/util/__init__.py#L15-L18

[2019-11-05 03:22] alexdesiqueira commented on #4281
:joy: go figure...
Maybe `copy_func` has something wrong? I'll check it out.

[2019-11-05 06:28] sciunto commented on #4281
xref #4147

[2019-11-05 06:31] alexdesiqueira commented on #4147
@sciunto do we have a good reason to not have the function around? I think it's very useful to create pipelines.
What would be the alternatives? Not having a `pad` version at all, or maintain the wrapper?

[2019-11-05 06:33] sciunto commented on #4147
I thought not having a wrapper and teach how to use numpy :) If there is no added value, I do not see the point to have the burden to maintain a function.

[2019-11-05 10:06] pigunther opened #4282 "use_quantiles description in canny is incorrect"
## Description
The description of `use_quantiles` is "If True then treat low_threshold and high_threshold as quantiles of the edge magnitude image, rather than absolute edge magnitude values. **If True then the thresholds must be in the range [0, 1].**"

However, he thresholds must be in the range [0, maximum of the image's dtype ]

## Way to reproduce
[code]

## Cause
This happens because the thr

[2019-11-05 11:46] ajkswamy opened #4283 "behaviour of rectangle and polygon of skimage.draw to float inputs"
## Description
When `skimage.draw.rectangle` gets float inputs for `start` and `end`, the output is also float, which is unexpected as the docs say that the outputs should be array of ints. Documentation needs clarity as to whether float inputs are allowed and if so, what the expected behavior is.

`skimage.draw.polygon` returns array of ints when `r` or `c` inputs are floats. However the behavior

[2019-11-05 12:24] jni commented on #4283
@ajkswamy You're absolutely right! I'm unsure yet whether we should change the documentation or the function's behaviour, but something should be fixed for sure. Thanks for the report!

[2019-11-05 12:30] jni commented on #4282
Yikes! Thanks for the report, @pigunther! I think you are right that we should not divide by the dtype max.

[2019-11-05 12:36] jni commented on #4278
Ah, thanks for the investigation, @grlee77! Another one for #3009!

@sendjasni does that answer your question satisfactorily? If so, please close the issue. Thank you!

[2019-11-05 14:53] alexdesiqueira commented on #2409
Closed due to lack of interest. Feel free to reopen if necessary.

[2019-11-05 14:53] #2409 closed

[2019-11-05 14:57] alexdesiqueira commented on #4147
Geez... I whined a while ago we won't have any basic functions in a few... the time is coming! :sweat_smile:

[2019-11-05 15:23] dmyung opened #4284 "regionprops_table behaves differently than regionprops list on no-regions found"
## Description
Another quirk with moving to `regionprops_table` from the `regionprops` list generation.

When passing it in data that ends up having zero labels, `regionprops_table` will raise an `IndexError` as `props_to_dict` in `_regionprops.py` looks like it assumes non-zero regions found:

`        r = regions[0][prop]`
is where the exception gets thrown, where we were more expecting empty li

[2019-11-05 16:21] sendjasni commented on #4278
It did answer my question. Thanks to @grlee77 for the answer.

[2019-11-05 16:21] #4278 closed

[2019-11-05 16:25] sendjasni commented on #4278
By the way, I've posted a question in StackOverflow before opening this issue, It would be nice of you if you answer it there which could be helpfull for other people. [Here the post](https://stackoverflow.com/questions/58604326/which-ssim-is-correct-skimage-metrics-structural-similarity)

[2019-11-06 01:43] alexdesiqueira commented on #4284
Hi @dmyung,
do you think this is related to #4284?

[2019-11-06 01:46] jni commented on #4284
@alexdesiqueira you just linked back to this issue! :joy: Anyway, regarding the *other* issue, no, they are independent. This one is simple enough and we should fix it quickly: if regionprops is empty then we should return a dictionary with all the right keys but mapping to empty arrays. The trick is that for some properties we use the first result to get the right number of columns. Now we'll nee

[2019-11-06 01:47] alexdesiqueira commented on #4284
@jni that's it. I'm going mad, no return from here. :sweat_smile:

[2019-11-06 03:26] jni commented on #4279
@lagru it has to do with this: https://github.com/scipy/scipy/issues/9746 (though that issue needs links to other posts).

I think what is happening is that the `arctan2` call is getting a coordinate that is *just* past (2,) for axis=1 due to floating point error, and that evaluates to 0, which I've argued with @stefanv is a mistake, but I'll leave that battle for a future post. =P I agree with hi

[2019-11-06 23:50] navneeth opened #4286 "inconsistent api gray2rgb"
This is ultra silly. But I was wondering if the incosistency of gray (or grey) in
[code]
is on purpose ?
Would be nice if they both pick the same gray/grey.
Happy to submit a silly PR if it makes sense.

thanks,
navneeth

[2019-11-07 02:46] hmaarrfk commented on #4286
They are the same function

Both are kept for historical reasons.

You are free to use whatever you wish, but we are moving toward America spelling. We typically offer users a warning about 1 year before we remove functions.

https://github.com/scikit-image/scikit-image/blob/435cedcf50e34b8adbfa4720d3e6d3f45f4005d8/skimage/color/colorconv.py#L860

[2019-11-07 12:28] h4k1m0u commented on #1283
Are directional dilation/erosion implemented in the latest version?

[2019-11-09 12:31] soupault commented on #4276
Additionally, consider trying reinstalling Xcode.

[2019-11-09 12:40] soupault commented on #3539
FWIW, Azure has Ubuntu 18.04 image now - https://github.com/microsoft/azure-pipelines-image-generation/issues/506#issue-385899472

[2019-11-10 23:38] navneeth commented on #4286
Perfect. Makes sense.
Thanks !

[2019-11-10 23:38] #4286 closed

[2019-11-11 14:14] franciscomcm opened #4292 "Rescaling boolean arrays yields plausible result or array of zeros depending on the scale factor"
## Description
Hello!
I am using `skimage.transform.rescale` to down-scale boolean arrays that have a single connected component.
Depending on the scale factor selected, the output yields a result that seems correct or an array full of zeros.

If I convert the boolean array to float, the result is different than when I pass the array with values as bool or int.
Setting 'anti-aliasing' to False yie

[2019-11-12 19:09] #4106 closed

[2019-11-12 20:48] hmaarrfk commented on #3539
Yeah. Conda forge now uses azure for all x86 builds.

It also uses docker in docker to customize exactly what image is used for the build machine

[2019-11-13 01:55] jni opened #4293 "Add support for grayscale or varying numbers of channels in rag_mean_color"
## Description

Inspired by [this SO question](https://stackoverflow.com/questions/58812104/skimage-rag-merging-for-gray-images/58829220): the [source code](https://github.com/scikit-image/scikit-image/blob/b2ce774bb5cb7a1f10f1f51c315c18448d7ae891/skimage/future/graph/rag.py#L295) for `rag_mean_color` [hardcodes](https://github.com/scikit-image/scikit-image/blob/b2ce774bb5cb7a1f10f1f51c315c18448d7

[2019-11-13 02:03] jni opened #4294 "Proposal: deprecate `multichannel=` in favour of `channel_axis=`"
This might need a SKIP. =P But won't if we get unanimous agreement!

The name `multichannel` is a bit clunky. Worse than that, it does not quite provide sufficient information: we hardcode the channel axis as -1, which might actually be incorrect. Allowing for arbitrary channel axes allows (1) giving the data in acquisition axis order, which often does not have the channels as the last axis, and (

[2019-11-13 03:27] grlee77 commented on #4294
I also happened to use exactly this `channel_axis` naming in some local code dealing with multichannel MRI data, as some software assumed channels last while others assume channels are first.

I am +1 on moving toward using `channel_axis`, but how do you anticipate handling existing code that assumes channels are the last dimension? The simplest solution is probably to manually call `swapaxes` on

[2019-11-13 04:28] jni commented on #4294
Yes, that would be my proposal. The API matters much, much more than performance. We can deal with performance later, when it becomes a measured problem. This would *not* be a performance regression for any existing code. We can do plenty of approximate tweaks, like, if `channel_axis` is 0, and the image size is greater than 4MB (or your L1 cache, or whatever), then do a copy of the axis swapped-d

[2019-11-13 13:01] rfezzani opened #4295 "colorconv functions cast float32 array to double"
## Description

During my explorations for fixing #4274, I found that `rgb2lab` converts `float32` arrays to `double`. It turns out that a majority of `colorconv` functions reproduce the same issue.

## Way to reproduce
[code]

## Version information

[code]

[2019-11-13 19:23] lagru commented on #4294
Not sure about the feasibility of the optimizations but I really like API a `channel_axis` argument would enable. It kinda reflects NumPy's well established `axis` argument. +1

[2019-11-13 19:49] lagru commented on #4279
Thanks for the pointer! Do you mean to take a look at scipy/scipy#9746 or at NumPy's `arctan2`?

[2019-11-13 20:46] hmaarrfk commented on #4294
My biggest fear is that the release cycle is too slow to make all this maintenance work worthwhile.

It seemed that the biggest fear from our last conversation was that the deprecation cycle would be thrown off if we were to move to more frequent releases. That said, slow releases mean that we don't get feedback about new features for a long time.

These big swooping changes require lots of input

[2019-11-14 16:21] papr commented on #3277
The issue seems to be related to Windows user names that include non-ascii charecters. I would like to reopen the issue since this seems to be still present in the current version of scipy.

This error should be reproducible by executing this code on an user account like `Tést`:
[code]

[2019-11-15 05:27] zdyshine opened #4299 "unshaper _mask"
## Description

## Way to reproduce
[code]

## Version information
[code]

[code]

[2019-11-15 05:29] #4299 closed

[2019-11-15 19:26] kothawadegs opened #4301 "can't import threshold_adaptive from skimage"
I tried to import threshold_adaptive from skimage filters, but its's giving me an error

[code]

[2019-11-15 22:55] jni commented on #4301
`threshold_adaptive` was deprecated in 0.13 and removed in 0.15 in favor of `threshold_local`. You should replace that call with:

[code]

and things should work fine. =)

I'm closing the issue as resolved, but feel free to ask for further help if needed!

[2019-11-15 22:55] #4301 closed

[2019-11-16 00:17] jni commented on #3277
Ah! Thanks for tracking it down, @papr! Either way though, this issue should be raised with SciPy, not here.

[2019-11-16 14:09] papr commented on #3277
Correct. This is the existing scipy issue: https://github.com/scipy/scipy/issues/8850

[2019-11-17 04:01] kothawadegs commented on #4301
It's working, but it's not giving results like an adaptive threshold.

[2019-11-17 20:22] EliyaShtraser opened #4303 "Im so sorry for the trouble I just realized I was using numpy 1.16 for whatever reason. I just downloaded 1.15.4 and it works fine now. Thanks!"
Im so sorry for the trouble I just realized I was using numpy 1.16 for whatever reason. I just downloaded 1.15.4 and it works fine now. Thanks!

_Originally posted by @tw255 in https://github.com/scikit-image/scikit-image/issues/3586#issuecomment-451345803_

I had numpy version = 1.17. i did it and it work now

[2019-11-17 20:22] #4303 closed

[2019-11-17 20:48] hmaarrfk commented on #4303
??? did you have an issue with numpy 1.17? That shouldn't happen. I think we support numpy 1.17 with the latest version fo scikit-image

[2019-11-18 01:50] dujinyu opened #4304 "ImportError: No module named skimage.io"
## Description
I have had successfully compile the caffe, but when i import  caffe in python2.7, I encounter the problem "ImportError: No module named skimage.io" , so I try to pip install scikit-image==0.14.0. but it still raise error.
err Info is listed.
[code]
official doc says that v0.14.0 is the last version that support python2.7。why?

## Way to reproduce
[code]

## Version information
[code

[2019-11-18 02:47] hmaarrfk commented on #4304
Did you ever type `sudo pip`???

[2019-11-18 03:53] dujinyu commented on #4304
of cause, I even reinstall python2, it still doesn't work.
just now, i analyse the err info, i guess that maybe the err is cause by the version of  PyWavelets.
my partner installed the scikit-image successfully in python2 on windows 10, so i ask him to check which version of PyWavelets, its version is 1.0.3, but when  i install scikit-image==1.14.x, the PyWavelets version is 1.1.x

[2019-11-18 04:04] hmaarrfk commented on #4304
Basically, typing `sudo pip` is almost guaranteed to destroy not only your installation of python, but your whole operating system.

The reason is that Ubuntu expects very specific versions to be installed and you've just installed much newer ones.

I realize now that the instructions: https://scikit-image.org/docs/stable/install.html
Don't really give a warning about that.

You should always type

[2019-11-18 05:56] hmaarrfk commented on #4304
I know installing python (or any science software) is hard.

For what it is worth, I'm really trying to improve how things are installed.

Do followup with any issues you have with your install (operating system or just scikit-image). Happy to help how I can, though I'm crossing my fingers that your system python isn't broken :dancer:

[2019-11-18 06:27] jni commented on #4304
@hmaarrfk "sudo pip" was a factor here, but I think a bigger factor might be that installing on Py2.7 was broken. I guess it's because the OS version of pip must be quite old, because I can't install a newer PyWavelets than 1.0.3 on my machine, when creating a new Py2.7 environment.

@dujinyu sorry, working with Python can be hard, because the Python version required by the OS is often not the Pyt

[2019-11-18 06:27] #4304 closed

[2019-11-18 06:27] jni commented on #4304
In other news, Caffe depends on scikit-image? That's pretty cool! :sweat_smile:

[2019-11-18 06:37] hmaarrfk commented on #4304
At some point, pywavelets had the wrong metadata for the package. We noticed it when an other user couldn't install scikit-image on python 2.7.

[code]
(no sudo)

should give you a valid install.

<details> <summary> Valid install with python 2 </summary>

[code]
</details>

[2019-11-18 06:44] jni commented on #4304
@hmaarrfk indeed, but the bad version of PyWavelets is gone from PyPI. I think what's happening here is that old versions of pip don't even look at the Python version metadata. This is why our setup.py still has a Python3-only warning. The below *should* work with old versions of pip:

[code]

But, I might be forgetting some other Python3-only dependencies...

[2019-11-18 06:53] hmaarrfk commented on #4304
yes, that is correct.

[2019-11-18 08:51] EliyaShtraser commented on #4303
Hi hmaarrfk,
I'm using colab. when I run the following lines I see this error message.
[code]
The error message is.

So I downgrade the numpy version to 1.15.4 by this command.
! pip install numpy==1.15.4
 And everything is OK.

[2019-11-18 09:30] jni commented on #4303
Ah, that issue could also be fixed by upgrading scikit-image to 0.14.5, 0.15.0, or 0.16.2.

[2019-11-20 09:57] rfezzani opened #4308 "Rationalize skimage.measure data type management"
## Description

I am facing a small dilemma and I am opening this issue searching for some help to make a decision.

 In #4307, I propose to add `float32` support to `moments_hu` using the `convert_to_float` and the `np_floats` cython fused type (see #3111).
But I realized that using `convert_to_float` doesn't really make sense in this context: modifying input data range in `skimage.measure` looks

[2019-11-20 19:51] Cadair commented on #4261
I am having a lot of issues with scikit-image and Python 3.8. This is because for scikit-image to compile from source numpy needs to be installed *before* running `pip install scikit-image`.

This is the problem that PEP 517/518 are designed to fix. I have been involved in a lot of the planning to migrate the [astropy ecosystem](https://github.com/astropy/astropy-APEs/blob/cf1a71d5e2b136c82ab0ee49

[2019-11-20 21:58] jni opened #4309 "io documentation is incomplete"
## Description

`skimage.io.collection.alphanumeric_key` is a useful function (my second addition to skimage! :smile:), but it is currently not documented (https://scikit-image.org/docs/dev/api/skimage.io.html), it is importable from `skimage.io.collection` instead of `skimage.io` (is this how we want it?), and cannot be found by `skimage.lookfor`.

## Way to reproduce
[code]

[2019-11-20 22:07] jni commented on #4261
@Cadair I'd be very happy to get a PR for this!

[2019-11-20 22:17] stefanv commented on #4261
For context, please also see: https://github.com/scikit-image/scikit-image/pull/3020 https://github.com/scikit-image/scikit-image/pull/3688 https://github.com/scikit-image/scikit-image/pull/3295

[2019-11-21 03:14] hmaarrfk commented on #4261
I'm very happy to say that installing scikit image from source for python 3.8 should **not** be a smooth process in Nov 2019.

Pinning to old versions of numpy can cause other problems, and in either case, we would not have released the correct pinnings for python 3.8.

In my mind, for python 3.8 you will have to wait at least a few months before using it. If you are impatient, conda-forge has don

[2019-11-21 07:29] stefanv commented on #4261
Can you explain what you mean by this?

[2019-11-21 10:03] Cadair commented on #4261
It's not just Python 3.8, `pyproject.toml` provides a way of allowing reliable and predictable builds from source for all unsupported Python versions (i.e. new ones) and also on architectures where binaries are not available.

[2019-11-21 15:48] hmaarrfk commented on #4261
@stefanv I mean, I think that for now, python 3.8 is unsupported by scikit image, and at least until the end of November, it will remain that way until our dependencies create 3.8 wheels and we can find a time to cut a new release.

The thing is, while it is nice to say that things on different platforms will **Just Work (TM)** they often dont. What version pinning should we have put for python 3.

[2019-11-21 15:53] Cadair commented on #4261
I suggest we take this particular discussion over to the PR.

New Python versions are a obvious pain point for this, but in general I think it makes sense to make compiling from source as easy as possible.

SunPy has happily been using it for at least a year, there have been a few bumps along the way (the `pip install -e` bug being by far the worst) but it has allowed us to make a lot of improveme

[2019-11-21 16:04] hmaarrfk commented on #4261
Python setup -e is precisely why I removed pyproject.toml a while back.

Installing from source is simply not something I'm too keep on supporting. We require a C compiler which is the one dependency that may never become pip installable....

Most people creating new distributions will be using their own dependency control. Debian packages will use their own, and conda packages will use their own.

[2019-11-21 16:39] Cadair commented on #4261
Some people will always need to install from source, and having a functioning toolchain is not a high bar for people using scikit-image on CI services or boxes used for development in general. You can take what you want from the fact that I have come here wanting to patch this because I have been cornered into compiling scikit-image from source on a load of CI builds for SunPy...

[2019-11-21 19:53] hmaarrfk commented on #4261
TLDR: Python 3.8 isn't supported by scikit-image today. My suggestion to you, is to disable Python 3.8 CI tests and simply to wait.

I know it is exciting to want to move on the shiny new python 38, but personally, it might be a little premature for scikit-image since matplotlib (a dependency I have been trying to remove) still hasn't released something for python 3.8. We've really been trying to

[2019-11-21 21:51] Cadair commented on #4261
I am not suggesting for a moment that adding `pyproject.toml` will magically fix all the Python 3.8, or 3.9 or whatever bugs. I haven't actually run into any issues with 3.8 in any of SunPy's (many) dependencies. What I have run into is the fact that skimage doesn't compile from source in a clean environment, which is just really frustrating.

This is frustrating, and there are always going to be

[2019-11-21 22:08] tacaswell commented on #4261
For reference I have been compiling the master branch of skimage on the master branch of cpython for about a year now and it seems to work OK.

I do aggressively remove pyproject.toml files, but that is because it makes an isolated enviroment with _old_ (read not master branch) versions of things.

I strongly agree about not including the c files in the sdist as it negates one of the selling point

[2019-11-21 23:03] stefanv commented on #4261
I investigated this recently: we *had* a working version of this with earlier versions of scikit-image, but at some point switched to relying on Cython for caching.  At this point, pre-generated C files became a real problem, because they would not get re-generated.  I think we may have to go back to our old system of caching with `.md5` files, which perfectly handled the source problem (or, just

[2019-11-21 23:31] hmaarrfk commented on #4261
@stefanv, we may choose to release a wheel for 3.8 by doing what you said but:

1. Our testing environment will be different than that of the user's, making it less useful.
2. We would be special casing Python 3.8 making that release somewhat of lower quality.
3. Our end users will still have to compile matplotlib from source, something that our CIs show isn't exactly easy on linux or mac.
https:/

[2019-11-21 23:34] stefanv commented on #4261
1. It is not our concern how the user gets matplotlib installed.
2. I don't see how this lowers the quality of the release.
3. See 1.

Not having a wheel for 3.8 does us no good.

Here's an alternative plan: @tacaswell, when can you have binary wheels available on PyPi for 3.8?  Any chance you can add 3.8 wheels for an existing release?

[2019-11-21 23:41] hmaarrfk commented on #4261
Our users **should**  get matplotlib exactly the same way they get scikit-image. If they use `pip + PyPi`, matplotlib should be installed there as well. Otherwise, as both packages use C/Python ABIs, they will have a broken install. This is crucial for getting a working version of python + scikit-image + matplotlib installed on your system.

[2019-11-21 23:43] hmaarrfk commented on #4261
So many packaging systems will actually explicitely disable build isolation:
This is what comes out of  `pip config list` inside a conda build environment

[code]

and notice how the logic is inverted.....
https://github.com/pypa/pip/issues/5735

[2019-11-21 23:43] stefanv commented on #4261
I don't think that is true; you can mix Debian packages with pip and have a fully working system.

[2019-11-21 23:48] hmaarrfk commented on #4261
You really shouldn't. msarahan explains it much better than me in his talk:
https://youtu.be/Kamld5Z-xx0?t=970

Get to 16:46.

[2019-11-21 23:49] hmaarrfk commented on #4261
The rest of his talk is excellent too.

[2019-11-21 23:56] stefanv commented on #4261
So what he is describing is a very different situation: where someone distributes a wheel labeled as manylinux1 compatible, while it is not.  In the case I am describing, Debian is installing something that *is definitely* compatible with the current system (it's a Debian system with Debian packages), and manylinux1 wheels play just fine with that—they vendor the libraries they use, and they are c

[2019-11-22 06:55] hmaarrfk commented on #4261
@tacaswell, I guess you and I can simply start to use this:

[code]

[2019-11-22 20:46] tacaswell commented on #4261
@stefanv I did push the wheels yesterday (it was already on my to-do list) for 3.1.2 (which is a bug-fix release for the 3.1 series).

Will try to read the rest of the conversation and catch up with the rest in a bit.

[2019-11-22 21:13] hmaarrfk opened #4314 "32 bit linux builds???"
I feel like if we release a wheel on pypi, all our required dependencies should also be available on PyPi.

Currently, it seems that matplotlib doesn't release 32 bit wheels for linux.
Unless I'm wrong, they aren't even available: http://wheels.scipy.org/

@tacaswell any reason why matplotlib doesn't release 32 bit wheels for linux on PyPi???

[2019-11-23 18:57] stefanv commented on #4261
Amazing, that rolls a big stone out of the way for us—thanks, @tacaswell!

[2019-11-23 20:31] spot92 opened #4317 "from skimage import io,transform Errors"
## Description
I am trying to do the following:
[code]
But I am receiving multiple errors.

## Version information
[code]
# Paste the output of the following python commands
[code]
I have tried looking around the internet as well as going to the files and looking to see what is going on, but to no avail.

[2019-11-23 20:33] hmaarrfk commented on #4317
wow, this is exactly: https://github.com/travis-ci/travis-ci/issues/8920#issuecomment-352661024

can you update numpy?

[2019-11-23 20:35] hmaarrfk commented on #4317
^^^^ I'm quite shocked somebody else ran into the issue. It should be fixed in a new release of scikit-image, but we haven't gone through the process yet.

[2019-11-24 04:54] spot92 commented on #4317
pip install --upgrade scikit-image imageio numpy scipy

That fixed it.

[2019-11-24 04:54] #4317 closed

[2019-11-24 04:55] spot92 commented on #4270
pip install --upgrade scikit-image imageio numpy scipy

That fixes it.

[2019-11-25 06:09] codetrick opened #4320 "masked_register_translation() shift vector convention"
## Description

The `masked_register_translation()` handles the case where the source and target images have different dimensions. It seems that the default convention for the shift vector in this case is between the *centers* of both images, namely between `src.shape/2` and `dst.shape/2`. This is not mentioned in the function's docstring. I think people might expect the convention to be using (0,

[2019-11-25 06:19] jni commented on #4320
I'm actually really confused why you don't consider this a bug altogether? From my reading of your code snippet, you are effectively registering camera() to itself after some padding, and this padding is then masked anyway? Shouldn't this *always* return (0, 0)?

[2019-11-25 06:44] #4147 closed

[2019-11-25 06:44] #4281 closed

[2019-11-25 07:12] codetrick commented on #4320
The reason I did not call this a bug is that I found a test function for a similar case (`test_masked_registration_random_masks_non_equal_sizes()`) that passes, which made me think this might be what the original contributor expected.

[2019-11-25 11:37] jni commented on #4320
To me it seems like buggy behavior, and I've flagged this for discussion at the next scikit-image meeting. Thank you for the report!

[2019-11-26 00:18] codetrick commented on #4320
Here's my fix along with a new test case.

Please see the attached diff:

[masked_registration_diff.txt](https://github.com/scikit-image/scikit-image/files/3889388/masked_registration_diff.txt)

[2019-11-26 08:30] jni commented on #4320
We discussed this at the community meeting earlier today and all devs present (@emmanuelle, @alexdesiqueira, and myself) agreed that alignment to the top-left corner is what makes the most sense, as (a) it aligns with the expectation of indexing, and, most important, (b) the return value should be the shift needed to convert from one image's indexing space to the other, and this is certainly not s

[2019-11-26 13:19] sciunto commented on #4320
I missed it when I reviewed the code. I vote for a bugfix.

[2019-11-27 06:28] stefanv commented on #4320
I don't understand what it means to register two images of different shapes.

[2019-11-27 06:30] jni commented on #4320
@stefanv a smaller image may be embedded in a bigger one. (If you add scale, a smaller image may be a bigger one resized.)

[2019-11-27 07:43] soupault commented on #4314
I am not aware of any related discussions, but it seems that dropping 32-bit support is a general trend in (at least) Linux community for quite a while: [Archilinux](https://itsfoss.com/arch-linux-32-bit/), [Ubuntu](https://itsfoss.com/ubuntu-19-10-drops-32-bit-support/), [Fedora](https://www.zdnet.com/article/fedora-drops-32-bit-linux/), [Intel](https://discourse.ubuntu.com/t/intel-32bit-packages

[2019-11-27 23:32] stefanv commented on #4320
Definitely top corner then.

[2019-11-28 13:56] kmader opened #4326 "Compressed TIFF files?"
## Description
I get error messages when trying to read various compressed tiff images using `skimage.io.imread` (both could be read using `PIL.Image.open`)

- PACKBITS
The first error is `ValueError: TiffPage 0: cannot decompress PACKBITS` and comes with this file https://gist.github.com/kmader/6cb706e52a58c6edc2f4c97678cea4a9/raw/a1dbd04aeb19c7d032f6a7555d4b69045fcddd3d/00215.tif

And was found

[2019-11-28 14:05] kmader commented on #4326
As I frequently use images like these in lectures (and would like to use skimage for as much as possible) I would like to fix the error, but am unsure how to best proceed.

[2019-11-28 14:52] hmaarrfk commented on #4326
can you try to install tifffile?

What is the output of `conda list`???

[2019-11-28 15:06] hmaarrfk commented on #4326
If you do need a newer version of tifffie than the one we vendor, I think eventually, you will find that you have many dependencies that are beyond scikit-image, e.g. jupyter, bokeh???. You might want to create an `environment.yml` file, that you can share and ask students to update as you add more dependencies
[code]
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environme

[2019-11-28 15:34] kmader commented on #4326
@hmaarrfk I see this which seems like it very new.
[code]

[2019-11-28 15:48] hmaarrfk commented on #4326
Ok, I can now reproduce, using the same version of tiffile
[code]

<details>
[code]

For reference, this same output from your computer is useful in debugging other errors.
</details>

In here, we can see that it is in fact using the tifffile installed from conda-forge/(you installed it through pypi it seems).

In either case, this seems to be something related to the capabilities of tifffile itse

[2019-11-28 15:52] hmaarrfk commented on #4326
hmm, strange enough, our vendored version of tifffile is able to read it.

[2019-11-28 15:56] hmaarrfk commented on #4326
From a previous conversation with cgohlke, I remember he mentionned something about needed https://pypi.org/project/imagecodecs/#files

That said, it doesn't install easily on linux.
https://github.com/conda-forge/staged-recipes/pull/6842

[2019-11-28 18:42] hmaarrfk commented on #4326
Ok, The solution is to install `imagecodecs`, but `imagecodecs` is hard to install on linux (not yet on pypi for linux or conda-forge for any platform). so maybe just install `imagecodecs-lite` + `tiffffile`.

[code]

<details>

[code]
</details>

Basically, two things need to be done:

1. Release `imagecodecs` wheels on linux64 bit on pypi
2. Ask `@cgohlke` to make `tifffile` depend on `imagecode

[2019-11-28 20:08] cgohlke commented on #4326
The options are

* uninstall the `tifffile` package. scikit-image will use the vendored tifffile module.
* `pip install imagecodecs-lite`. This will build and install the missing LZW and PackBits codecs.
* `pip install imagecodecs` after `sudo apt-get install ...` the build requirements. This will build and install the missing LZW and PackBits and additional JPEG, PNG etc codecs.
* install build a

[2019-11-28 23:06] Czaki commented on #4326
I have hope that I'm finishing process of automated creating wheels for imagecodecs (linux + macos). Whole pipeline is public and running on azure pipelines. Also in repository https://github.com/Czaki/imagecodecs there are scripts for building all needed libraries.

I'm open for review.

Initial wheels (not accepted yet) can be found here https://github.com/Czaki/imagecodecs/releases

[2019-11-28 23:38] jni commented on #4326
Yep, for reference from our last conversation and for future people stumbling on this issue, here's what happened:

- we decided to let people use installed tifffile if present, vendored tifffile otherwise, because a user asked for this and it seems like a reasonable thing to do (our vendored version is now quite old)
- tifffile was split up into a pure Python package with only zip decompression (

[2019-11-29 00:43] hmaarrfk commented on #4326
This is a huge feature, and likely to have many challenges in the implementation. Is this useful to include in scikit-image? Didn't we want scikit-image to be a thin wrapper over imageio?

Scikit-image releases too slowly anyway to make this a useful solution. Packaging tifffile on pypi + conda-forge is likely to come out first (well conda-forge has been trying for 1year+ now, so maybe i'm wrong).

[2019-11-29 21:48] hmaarrfk commented on #4276
closing due to the lack of activity

[2019-11-29 21:48] #4276 closed

[2019-11-29 21:49] hmaarrfk commented on #4261
@Cadair  how are you builds doing since we released the wheels? I assume all is good?

[2019-11-29 22:17] hmaarrfk commented on #4270
@jni, is it possible to delete a wheel from pypi and upload a new one?

[2019-11-29 22:19] Borda commented on #4270
You can delete but not upload one with the same number

[2019-11-29 22:20] hmaarrfk commented on #4270
hmm, slightly annoying

[2019-11-29 22:27] matthew-brett commented on #4270
I think [build tags](https://github.com/MacPython/wiki/wiki/Build-Tags) may be want you want here ...

[2019-11-29 22:54] hmaarrfk commented on #4270
Thanks!

Do you know what I would have to do to for the same thing to occur for linux/mac??? multibuild is quite elaborate...
I don't need it now, but maybe eventually.

[2019-11-30 09:54] Cadair commented on #4261
Yeah, much easier now :smile:

[2019-11-30 21:25] Vincent-Stragier opened #4333 "Build image pyramids not always working with other images"
## Description
Using the *[Build image pyramids](https://scikit-image.org/docs/dev/auto_examples/transform/plot_pyramid.html)* example with a random image is not always working.

## Way to reproduce
### hand.jpg
![hand](https://user-images.githubusercontent.com/28227183/69906161-5e4ce380-13bf-11ea-9d4a-b51c54f11581.jpg)
[code]

## Version information
[code]

[code]
## Possible solution
I was able

[2019-12-01 03:57] hmaarrfk commented on #4270
@jni I guess we should try to upload the wheels back to pypi before closing this off

[2019-12-01 08:05] jni commented on #4333
Thanks for the report @2010019970909! Looks like an issue with rounding image size as we approach (0,). We'll have to investigate to make sure the example stays consistent with whatever the pyramid generation function uses.

[2019-12-02 22:07] emmanuelle opened #4335 "regionsprops_table is not mentioned in the doc"
We should use it in an existing example, or add a new example.

[2019-12-03 02:13] justinkterry opened #4336 "Add Python 3.8 to CI tests"
Python 3.8 has been out for 6 weeks, and your CI tests for pull requests are still only testing for 3.6 and 3.7. This should be fixed.

[2019-12-03 02:42] hmaarrfk commented on #4336
Thanks for bringing this up.

Since this is well underway, I am going to close this issue.

Just as a note. scikit-image, as well as many other compiled packages do care about getting builds out as fast as possible.

Generally, it makes sense to wait until downstream packages fix their incompatibility issues.

Matplotlib, a big dependency of ours, just released important patches for 3.8 and compat

[2019-12-03 02:42] #4336 closed

[2019-12-03 02:46] hmaarrfk commented on #4336
https://github.com/scikit-image/scikit-image/pull/4331

Note that these builds are failing since scikit-learn needs to finish releasing 0.22.

[2019-12-05 19:26] emmanuelle commented on #4335
@mkcor can be a good way to get started, writing a documentation example showing the table of props.

[2019-12-06 00:42] stefanv commented on #4309
@jni I recommend renaming this function to something that hints at its function, and moving it to utilities from io.

[2019-12-06 09:16] rfezzani commented on #4282
To fix this issue, I propose in #4342 to add the `preserve_range` argument and to divide the thresholds only if `preserve_range` is True.

[2019-12-06 11:15] mdtahsinasif commented on #3655
HI Everyone .. i m getting below error need your help
    from .murmurhash import murmurhash3_32

  File "__init__.pxd", line 918, in init sklearn.utils.murmurhash

ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyObject

i m using version:
Package                       Version
----------------------------- ---------
absl-py

[2019-12-06 13:23] rfezzani commented on #4014
I think that this bug has some subtleties: first of all, the example provided by @snasibli, is not  really correct since `gaussian`'s [doc]( https://scikit-image.org/docs/dev/api/skimage.filters.html?highlight=gaussian#skimage.filters.gaussian) specifies that `output` should be an `array`, and this is not checked.
Moreover, `gaussian` uses the `preserve_range` parameter, which is used by the `conv

[2019-12-06 13:46] jni commented on #4335
Note that we probably want to add pandas to our docs dependencies for maximum effect here. =)

[2019-12-06 16:59] rfezzani commented on #4249
I found in #4343 that managing border conditions for `compute_hessian_eigenvalues` fixes this issue.

[2019-12-06 20:07] mkcor commented on #4335
(btw it's `regionprops_table` not `regionsprops_table`)

[2019-12-07 11:58] Czaki commented on #4326
Current tifffile on windows depends on `imagecodecs` on macos it depends on `imagecodecs-lite` so all cases supported by `tifffile==0.x.x` will be handled out of box.

Wheels for `imagecodecs` for macos and linux are build by my. All others by @cgohlke. Because of this there is difference in dependencies.

[2019-12-07 21:31] #4295 closed

[2019-12-09 14:50] mkcor commented on #4335
@emmanuelle I'm not sure whether:

* I should have written a separate example script using `regionsprops_table`, instead of 'enhancing' an existing one;
* I should rebuild the docs locally and push the artifacts as part of the PR?

[2019-12-09 14:52] mkcor commented on #4335
@leGIT-bot @jni @emmanuelle Oh wow I totally didn't see #4346 -- didn't get any notification!

[2019-12-09 14:54] rfezzani commented on #4160
The artifacts comes from round-off errors in `map_array` shape computation in `_clahe` function ([here](https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/_adapthist.py#L119)).
It is fixed in #4349.

[2019-12-09 15:42] emmanuelle commented on #4335
great minds think alike... I think @leGIT-bot and you @mkcor starting working on this at the same time!

[2019-12-09 15:55] emmanuelle commented on #4335
@mkcor the artifacts are built automatically in the CI, we should not commit them. The part of our CI which generates the doc is https://github.com/scikit-image/scikit-image/blob/master/tools/travis/deploy_docs.sh called from https://github.com/scikit-image/scikit-image/blob/master/.travis.yml. By the way, if you find places where our `CONTRIBUTING.txt` notes could be improved, please take the tim

[2019-12-10 08:11] rfezzani commented on #4154
For [ref](https://github.com/scikit-image/scikit-image/pull/4209#discussion_r355546849).

[2019-12-10 08:41] rfezzani commented on #4280
Isn't this issue fixed by  #4311?

[2019-12-10 08:49] jni commented on #4280
Yes indeed! Looks like we missed the keyword "fixes" or "closes" there. Oops! Thanks for the triage, @rfezzani!

[2019-12-10 08:49] #4280 closed

[2019-12-10 10:16] rfezzani commented on #4154
Concerning the `selem`  argument name  consistency identified in #4209, I found:

- `selem` in `skimage.filters.rank` module's functions,
- `selem` in `skimage.morphology` module's functions,
- `structure` in `skimage.morphology._util._offsets_to_raveled_neighbors`,
- `footprint` in `skimage.feature.peak.peak_local_max` and `skimage.feature.peak._get_peak_mask`

[2019-12-10 11:06] rfezzani commented on #2792
After some investigations, I found that this is due to the 'grid centered' (versus 'cell centered' paradigm) adopted in the `skimage.measure._moments` module.
In fact, `minor_axis_length` calls internally `_moments.inertia_tensor_eigvals`, with dependency to `_moments.inertia_tensor`, `_moments.moments_central` and finally `_moments.centroid`.

The output of this last function explains the behavio

[2019-12-10 12:30] rfezzani commented on #2546
Can close, it is fixed by #2599.

[2019-12-10 12:35] rfezzani commented on #2535
Can be closed since `down_scale_local_mean`'s doc stipulates now:

[2019-12-10 21:56] stefanv commented on #2535
Thanks for the update, @rfezzani!

[2019-12-10 21:56] #2535 closed

[2019-12-10 22:09] #2445 closed

[2019-12-11 01:43] jni commented on #2546
@rfezzani that PR was never merged...?

[2019-12-11 07:53] jni commented on #4154
Thanks for the investigation!

Since we have all those uses, I think it makes sense to find the one we like most and use it, since something will have to be deprecated whatever we choose. (Even though of course some deprecations are more panful than others.) Again, imho selem is really the worst of them.

[2019-12-11 08:56] rfezzani commented on #2546
:+1: @jni... By the way, is this really a bug? The stain separation method based on linear system inversion  do absolutely not guaranty any bounds on the output values.
An option would be to add a `rescale` argument to the `rgb2hed` function that, if set to true, rescales the result like @sciunto did in #2599.

[2019-12-11 10:39] charlesLucky commented on #2942
this works for me

[2019-12-11 10:50] anntzer commented on #4154
fwiw you may be interested in using https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/cbook/deprecation.py#L258 (a renaming decorator that handles the deprecation `@rename_parameter(version_number, old_name, new_name)`) rather than manually going through all of them.
It uses some other matplotlib internal deprecation machinery but should be easy enough to adapt for skimage...

[2019-12-11 12:03] rfezzani commented on #4154
Thank you @anntzer, I didn't knew this one! I already proposed #4158 a decorator in the same spirit ;-)

[2019-12-11 12:06] rfezzani commented on #4154
You may also be interested in @hmaarrfk [wasibisi](https://github.com/hmaarrfk/wabisabi) package.

[2019-12-11 16:47] ivan866 commented on #3906
`python -m pip install --upgrade scikit-image`
worked for me

[2019-12-13 04:06] emmanuelle opened #4358 "Status of regionprops PRs"
With the goal of reducing the backlog of open pull requests, I've taken a quick look at open pull requests which are modifying `_regionprops.py` (I started with this one since `regionprops` is a popular function, and there are 8 open PRs for it). Here is a summary of the status of each of them, including what I intend to do. Comments and suggestions are very welcome!

- #4156 : boolean images in r

[2019-12-13 05:50] jni commented on #4358
@emmanuelle what a wonderful issue! 😊 I will prioritise my PRs mentioned above, thanks. It's really handy to put them all in one place like this, as it gives us a clear idea of how much regionprops could improve quickly with some targeted effort.

I'll also link here this issue:

- #3812: perimeter vs area vs volume in 2D vs 3D regionprops. I think we got pretty close to a consensus there, and I'v

[2019-12-14 02:43] hmaarrfk opened #4361 "test_rank_filter can fail"
## Description

[code]

https://travis-ci.org/scikit-image/scikit-image/jobs/624812341?utm_medium=notification&utm_source=github_status

## Way to reproduce
[code]

## Version information
[code]

[code]

[2019-12-16 07:29] WMF1997 opened #4364 "Support regionprops properties in region adjacency graphs (RAGs)"
hello,
I want to get the centroid of all the superpixels so that I can convert an image to a graph.

And I use ```skimage.segmentation.slic``` to segment the image, then ```skimage.future.graph.rag.rag_mean_color``` to get the mean color of the superpixels. but i want the node coordinate, edge weight and weight connection. And I use ```skimage.future.graph.show_rag(labels, rag, image)``` to get th

[2019-12-16 10:07] jni commented on #4364
@WMF1997 I don't think this is a networkx issue at all, indeed this should be reasonably easy to compute within scikit-image. Thanks for the report!

Actually I think what you are after should not have the word `show` in it at all. Computing centroids is not necessarily about showing!

As an early workaround, you can actually compute the centroids yourself quite easily as follows:

[code]

So, dep

[2019-12-17 00:09] samir-nasibli commented on #4014
@rfezzani Thank you for your review. My changes were based on [previously](https://github.com/scikit-image/scikit-image/pull/4026#discussion_r351067796) agreed requirements.
I have update my PR according your comments.

[2019-12-17 01:05] longjon opened #4365 "filters.rank.subtract_mean underflows on uint16, otherwise gives strange output"
`skimage.filters.rank.subtract_mean` does not seem to behave in the way I'd expect, nor the way it is documented. Witness:

1. Undocumented shift by 127
[code]

I'd expect zero values here, but I get 127. Given operation on unsigned integers, it's perhaps reasonable that we have some way to account for negative values resulting from mean subtraction, but this seems to be undocumented and certainly

[2019-12-17 02:10] WMF1997 commented on #4364
Hello @jni
Thank you for telling me the way of calculating every property supported by regionprops in ```skimage.measure.regionprops```

[2019-12-17 03:02] jni commented on #4365
@longjon thanks for the report! All of this behaviour is indeed surprising, and imho needs fixing.

[2019-12-17 05:57] juniorojha commented on #3655
Any success in making this work?

[2019-12-17 08:15] jni commented on #4364
@WMF1997 I'm going to reopen this, as I think it would be nice to have this built into RAG. But I'm happy that my code snippet helps you! I hope we can make this even more seamless for future users.

[2019-12-17 08:23] jni commented on #3655
@mdtahsinasif @juniorojha This is the scikit-image issue tracker, not scikit-learn. Having said that, I expect that you need to either upgrade your scikit-image/learn or downgrade your NumPy.

[2019-12-18 07:31] nvqui97 commented on #3685
4 from skimage import data, img_as_float
----> 5 from skimage.metrics import structural_similarity as ssim

ModuleNotFoundError: No module named 'skimage.metrics'

[2019-12-19 08:33] olebole opened #4366 "setup does not copy all required files"
## Description
When creating the Debian package, we use "python3.7 setup.py build" to install all required files to the `.pybuild/cpython3_3.7` directory. This however does not copy the required data files, so as a result the tree in `.pybuild/cpython3_3.7/build/` remains incomplete, and tests fail f.e. due to a missing `orb_descriptor_positions.txt` file.

During Debian packaging, we currently wo

[2019-12-19 10:37] hmaarrfk commented on #4366
what command do you use to install?

I don't think we have this same problem for conda forge

![image](https://user-images.githubusercontent.com/90008/71166861-8cd11800-2221-11ea-84d6-7a43918a8980.png)

https://github.com/conda-forge/scikit-image-feedstock/blob/master/recipe/meta.yaml#L29

[2019-12-19 10:38] hmaarrfk commented on #4366
Hmm. I think you need a `python setup.py install` after it.

[2019-12-19 10:44] olebole commented on #4366
Our build system (pybuild) does the "install" step only after the (passed) tests for all supported Python versions.

[2019-12-19 11:10] hmaarrfk commented on #4366
hmm, i see, honestly, i don't know how it is exactly different from other files.

Maybe we need a line like:
[code]
but we already add the whole `data` subdirectory as `data.

Can you show me the full directory structure, pybuild and src files?

[2019-12-19 11:46] hmaarrfk commented on #4366
From looking at our conda-forge logs, it seems that there is a step called `install_data` that doesn't seem to get run in your build scripts.

This effectively doesn't copy any of the data files.

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=92954&view=logs&j=517fe804-fa30-5dc2-1413-330699242c05&t=c7d0fcb4-3a10-5b26-dfea-e879a93fc2ab&l=3147

I'm looking at
https://sals

[2019-12-19 12:03] hmaarrfk commented on #4366
Whats the difference between `test_build_all` and `test_build_any`??? It seems that test_build_any works fine right because it copies all data files to the `build` directory as well before running pytest

[2019-12-19 12:16] olebole commented on #4366
The `all` target contains the packages that are independent of the architecture (the main, Python-only package, thedocumentation package), while the `any` target is built individual for each Debian architecture (x86_64, arm, s390 etc.). `test_build_all` and `test_build_any` are test builds to make sure that they work (usually, one builds both arch-dependent and independent packages in one run).

[2019-12-19 12:57] olebole commented on #4366
I asked on the [debian-python](https://lists.debian.org/debian-python/) mailing list to clarify [how pybuild works in general](https://lists.debian.org/debian-python/2019/12/msg00084.html).

[2019-12-19 13:20] hmaarrfk commented on #4366
thanks Ole. Happy to keep this open while you get to the bottom of things. It might help other downstream packagers

[2019-12-20 00:12] jianweili0 commented on #3906
Thanks that works for me as well! Appreciated

[2019-12-20 20:20] samir-nasibli commented on #4014
@stefanv @soupault @jni @hmaarrfk. I was working on this #4329 [PR](https://github.com/scikit-image/scikit-image/pull/4329) for fixing this bug. Please review.

[2019-12-24 13:38] jni opened #4369 "macOS builds failing"
## Description

Could be related to the recent NumPy 1.18 release, or just an update to Travis compilers, not sure. Here's an example failure from #4356:

https://travis-ci.org/scikit-image/scikit-image/jobs/628839752#L2728-L2730

[code]

[2019-12-25 02:41] qgh1223 opened #4370 "problem met in randon transformation program"
I met operands could not be broadcast together with shapes error when running randon transformation program--plot_radon_transform.py.Why?

[2019-12-25 21:41] hmaarrfk opened #4371 "Drop scipy<1?"
## Description

Following NEP29, I think we should drop scipy < 1.0.

I used my [NEP29 calculator](https://gist.github.com/hmaarrfk/0e2a01d57f07f55eb99d177da92691b6) find that if we released today, the oldest version of scipy we should support is about 1.0.1.

This would help at least 1 PR have cleaner code IMO.

[code]

https://github.com/scikit-image/scikit-image/pull/4329

[2019-12-25 21:44] hmaarrfk commented on #4259
It seems a little aggressive for me:

Using: https://github.com/numpy/numpy/issues/15173  https://gist.github.com/hmaarrfk/0e2a01d57f07f55eb99d177da92691b6

I found that bumping to 1.16, even if we are to release in June 2020, would mean that we are only supporting versions in the last 18 months:
![image](https://user-images.githubusercontent.com/90008/71450747-b44e4600-2735-11ea-98b6-83b0f48f35a5

[2019-12-26 05:58] jni commented on #4371
@hmaarrfk 👍 from me.

[2019-12-26 17:45] hmaarrfk opened #4373 "Bump PyWavelets min to 0.5.2"
## Description
Currently PyWavelets 0.4 was released in Dec 2015.

0.5.2 would give us even more than 36 months of support. The challenge with going all the way up to 1.0 is that 1.0 was only released in late 2018.

![image](https://user-images.githubusercontent.com/90008/71485079-70af1700-27dd-11ea-9702-25a8d049f7d7.png)

[2019-12-27 04:12] #4371 closed

[2019-12-27 13:44] grlee77 commented on #4373
0.5.2 should be fine.

There are some minor simplifications possible with both 1.0 and 0.5.2 (documented in #3407), but nothing that makes it a high priority to update immediately.

[2019-12-27 19:56] emmanuelle commented on #4370
Hi @qgh1223 could you please share here a standalone example (maybe with dummy data) reproducing the problem?  Thanks !

[2019-12-27 21:50] emmanuelle opened #4375 "Show and tell: how are you using scikit-image?"
Hello skimagers! This issue is to ask you to share how you are using scikit-image. We would like you to explain your use cases and image processing workflows.

**Why are we asking this, and how will the information be used?** Mostly to know if our documentation is relevant to your applications, and how it could be improved.

Here is a **possible template** of information to share, but feel free to

[2019-12-27 22:13] emmanuelle commented on #4375
So let me start with the work done by @BBarbara-fr:
- Application: measuring shape properties of interconnected and disconnected objects in SEM images of phase-separated silicate glasses (materials science). The context is to control the morphology of phases for micro and nanopatterning.
- Organization: [SVI lab](http://svi.cnrs.fr/spip/), joint CNRS and Saint-Gobain lab in Paris. PhD students, po

[2019-12-28 19:05] hmaarrfk commented on #4369
I don't understand where that compilation flag is being added. It really isn't obvious where the fix should go. In our scripts, we never specify c99

[2019-12-28 21:34] hmaarrfk commented on #4369
It seems related to this new feature
https://github.com/numpy/numpy/blob/4f972297277e09f41f315fd75510cb313926fe67/doc/source/release/1.18.0-notes.rst#stdc99-added-if-compiler-is-named-gcc

[2019-12-28 21:35] hmaarrfk commented on #4369
https://github.com/numpy/numpy/blob/master/numpy/distutils/ccompiler.py#L538

[2019-12-29 02:27] hmaarrfk commented on #4369
@mattip any clue how to get around this? I guess we were using gcc on OSX, and the build flags weren't really happy.

[2019-12-29 06:32] yairif opened #4378 "Lucy Richardson return NaN value"
## Description
Hi all,
I'm using LR deconvolution for many times. unfortunately, in some cases LR return NaN value.
I'm understand that this issue was already fixed according: #2551 #2552, but even with this change LR still give NaN value.
I attached here an image and  psf  (pickle file), and I would like to get your help find the problem.

[image.zip](https://github.com/scikit-image/scikit-image/

[2019-12-29 08:42] mattip commented on #4369
The check specifically checks for `gcc`, how is it being changed to `g++`?

[2019-12-29 09:39] mattip commented on #4369
Should be fixed in numpy/numpy#15194

[2019-12-29 21:43] #4373 closed

[2019-12-30 13:25] jni commented on #4378
@yairif thanks for the report and the test data! As you can probably imagine, now is a busy time for most of our developers, but we will pick this up in the new year, as it seems like a significant bug.

Thanks again!

[2019-12-30 17:12] yairif commented on #4378
Thank you for the update.

On Mon, Dec 30, 2019, 15:25 Juan Nunez-Iglesias <notifications@github.com>
wrote:

[2019-12-30 17:16] hmaarrfk commented on #4378
@yairif thanks for opening this. I personally may not have the time to look into this issue, but it would be helpful for whoever does, if you provide them with exactly the code you used to go from:

1. A directory with the two pickle files
2. Loading and assembling the data
3. Operating on the data
4. Noticing that some entries are NaN

Finally, the output of:
[code]
is very helpful for us to unde

[2019-12-30 17:23] yairif commented on #4378
Ok,  thanks for your comment. I will do it soon as possible.

On Mon, Dec 30, 2019, 19:16 Mark Harfouche <notifications@github.com> wrote:

[2019-12-31 05:23] yairif commented on #4378
Here I attached:

- data -Image&PSF (zip file),

- very simple code which loading the data, make RL deconvolution and plot the results.

- modules version

[image.zip](https://github.com/scikit-image/scikit-image/files/4011938/image.zip)
[psf.zip](https://github.com/scikit-image/scikit-image/files/4011939/psf.zip)

[code]
![RL_deconv](https://user-images.githubusercontent.com/56120502/71610964-1c6

[2019-12-31 22:01] emmanuelle opened #4383 "Bug when using the inverse of a Transform with params given as np.matrix"
[code]
The Error disappears when an array is passed to `EuclideanTransform` (it probably happens also for other classes of transforms).

[2020-01-01 01:17] jni commented on #4383
@emmanuelle do you think this is something we want to fix/support? Given than `np.matrix` is being deprecated anyway...

[2020-01-01 02:48] hmaarrfk commented on #4383
This is exactly the reason why np.matrix is being deprecated. I don't think we be fixing this.

[2020-01-01 03:00] hmaarrfk commented on #4378
I can confirm that this also occurs with modern versions of scikit-image and numpy:
[code]

[code]

[2020-01-01 03:15] hmaarrfk commented on #4378
The problem stems with exactly how the algorithm is implemented.

In the RL implementation as of `0.16.2`, these two lines are executed in a tight loop
[code]
Therefore, if `image` is ever a long string of zeros,  then things do not look good since in the next iteration, you will be dividing by zero.

To fix this today, for your work, I would add a small offset to the image:

[code]

[2020-01-01 03:17] hmaarrfk commented on #4378
![image](https://user-images.githubusercontent.com/90008/71637797-5761fc80-2c1b-11ea-8f91-03e0ace4b746.png)

[2020-01-01 03:19] yairif commented on #4378
Yes, but this solution can be help just for this specific image, I have a
lot of images which not pass the RL deconvolution.

On Wed, Jan 1, 2020, 05:15 Mark Harfouche <notifications@github.com> wrote:

[2020-01-01 06:05] jni commented on #4383
@hmaarrfk did you inadvertently leave out a "should"? "I don't think we *should* be fixing this." =) In which case I agree.

[2020-01-01 15:11] hmaarrfk commented on #4383
Nice catch.

[2020-01-01 18:16] hmaarrfk commented on #4383
I'm not sure this is a good first issue, this is actually quite esoteric and complex behavior. Catching subleties in multiple and matrix multiply is quite hard not easy for novice python programmers.

I would actually add a "won't fix" label.

[2020-01-01 22:43] emmanuelle commented on #4383
OK, given the controversy for sure it's not a good first issue :-). However, I don't know when `np.matrix` is going to disappear, the docstring just says "the class may be removed in the future". I was thinking of all the people who started doing linear algebra when this was the recommended way (like me, I caught this bug when playing around with transforms). But I won't fight a lot for this issue

[2020-01-02 08:41] kolibril13 opened #4384 "Improving preview in API gallery for "General-purpose images""
In the preview of [General-purpose images](https://scikit-image.org/docs/0.15.x/auto_examples/index.html) there is only one plot in the preview.
![123](https://user-images.githubusercontent.com/44469195/71658218-79569e80-2d43-11ea-816e-ad65f19359b2.png)
However, in the example itself, there are listed all example images.
![33](https://user-images.githubusercontent.com/44469195/71658221-7bb8f880-2d

[2020-01-02 09:51] jni commented on #4384
I don't feel too strongly about this either way, but too many subplots would look very crowded in the preview...

[2020-01-02 15:48] emmanuelle commented on #4384
Yeah, four subplots could be an improvement over the existing situation but for this we would have to break the example in several sections (like natural RGB images, natural grayscale images, synthetic images...). Note that it is possible to tell sphinx-gallery which image you want to display as thumbnail.

[2020-01-03 07:32] 02akshay commented on #3649
Run this version together to solve this problem

pip install scikit-image==0.14.2
pip install numpy==1.16

[2020-01-03 10:14] kolibril13 commented on #4384
@emmanuelle thats cool.
I created an image for the thumbnail.
![image](https://user-images.githubusercontent.com/44469195/71717882-d02ea780-2e19-11ea-9366-79429efd18ca.png)
In case that this is desired,  do you might add this?
Cause I don't have experience with sphinx.

Here is the code for it:
[code]

[2020-01-03 18:38] imranzaman5202 commented on #3685
Please try this i think it will solve your problem
pip install scikit-image

[2020-01-03 19:14] #4369 closed

[2020-01-04 04:36] hmaarrfk commented on #4366
Is this still an issue for this repository?

[2020-01-04 18:31] soupault commented on #4358
Should we merge https://github.com/scikit-image/scikit-image/issues/3699 into this issue?

[2020-01-04 18:53] soupault commented on #3853
Example https://scikit-image.org/docs/dev/auto_examples/segmentation/plot_segmentations.html:

`0.15.x`:
![image](https://user-images.githubusercontent.com/1315589/71770322-f0528980-2f33-11ea-8658-7473221be4c3.png)

`0.16.x`:
![image](https://user-images.githubusercontent.com/1315589/71770325-fe080f00-2f33-11ea-8aaa-6c9c3854b518.png)

`dev`:
![image](https://user-images.githubusercontent.com/13155

[2020-01-05 08:05] sciunto commented on #3853
A last improvement could be the brackets around ref numbers. That said, we can close, it's minor.

[2020-01-05 15:10] olebole commented on #4366
I am not sure; it seems that the problem is somewhere between Debian and upstream. The [last answer](https://lists.debian.org/debian-python/2019/12/msg00090.html) was (@mitya57):

It seems that pybuild follows a way similar to when you compile a program with a makefile (`make`; `make test`; `make install`):

 1. Build the package locally (`python3 setup.py build`)
 2. (optional) test the package b

[2020-01-05 15:30] hmaarrfk commented on #4366
can you look at the scikit-learn recipe? do they manually list things?

[2020-01-05 17:45] zt-initech opened #4387 "allow Pillow-SIMD as alternative to Pillow in requirements"
## Description

The requirements lists `Pillow>=4.3.0`, please make it accept Pillow-SIMD as an alternative.

Since Pillow-SIMD and Pillow both install into the PIL directory, they are mutually exclusive.

## Way to reproduce
[code]

## Version information
[code]

[code]

[2020-01-05 22:36] hmaarrfk commented on #4387
I'm glad to take a patch that would allow this to happen. I'm not sure how the tests would fair without pillow installed.

Honestly, to me, the real ask would be for pillow-smd to install in an alternative directory.

If they could both be installed at the same time, it would be trivial for us to add it as a new backend and potentially make the case that it should be default.

You are going to fig

[2020-01-05 22:44] soupault commented on #4387
I am not sure if there is an easy way to address this on our side. It seems that the corresponding functionality for setup.py never got accepted - https://www.python.org/dev/peps/pep-0426/#alternative-dependencies . Conditional dependencies are available only for Python-/system-level markers - https://www.python.org/dev/peps/pep-0508/.

Why is there such a mess around PIL anyways? 😄 Cannot they "j

[2020-01-06 04:24] hmaarrfk commented on #4387
As a workaround, you may use the `--no-deps` flag. Not fun, but can work if you need to test things.

[2020-01-06 08:11] olebole commented on #4366
In sklearn, the test data are manually copied [as well](https://salsa.debian.org/science-team/scikit-learn/blob/37a7b4eda8b15f514c6d0f6f801c2d67e35e36c7/debian/rules#L77-84).

[2020-01-06 12:21] hmaarrfk commented on #4366
That's not fun. I would open an issue upstream

[2020-01-08 08:32] soupault commented on #4335
Solved by #4356.

[2020-01-08 08:32] #4335 closed

[2020-01-08 18:45] TheChymera opened #4388 "Numerous plug-in and Attribute errors when running test suite."
I'm working on bumping the scikit-image version available for Gentoo Linux to the newest one.

The package install seems to work fine, but the test suite fails with numerous plug-in and attribute errors: Here is the full [build.log](https://github.com/scikit-image/scikit-image/files/4036768/build.log).

## Version information
[code]

[2020-01-08 18:46] TheChymera commented on #3817
ok, so the geometry issue is fixed, [a new issue](https://github.com/scikit-image/scikit-image/issues/4388) might be a better place to discuss other test errors.

[2020-01-08 18:46] #3817 closed

[2020-01-08 22:25] emmanuelle opened #4389 "scikit-image-contrib"
It's been discussed several times to create a `scikit-image-contrib` (or a better name) repo and package, for high-quality contributions which are not of broad enough interest for scikit-image. An example is https://github.com/scikit-image/scikit-image/pull/4291.

Creating the repo is easy, but several questions need to be addressed.

- Structure of the package: same as scikit-image, with the same

[2020-01-09 03:19] hmaarrfk commented on #4388
what version of numpy is being used at build time?

[2020-01-09 03:46] TheChymera commented on #4388
`=numpy-1.16.5`

[2020-01-09 04:28] milinddeore opened #4391 "io.imread crashes on 0.16.0 but not on 0.15.0"
## Description
I have python code embedded inside c++ code. Its basically, downloading the images from network, and later user them to load for further processing using below code. It crashes on **0.16.0** but works on **0.15.0** version of **skimage** with python 3.7

--- Update ---
It works with python2.7 with skimage version 0.14.5.

[code]
---

## Way to reproduce
[code]

Images is proper and

[2020-01-09 04:49] YubinXie commented on #1190
I'd like to confirm that the binary_dilation at least is still very slow at version '0.16.2'. Same speed as the scipy binary_dilation. It took 24s for 1300x1000 image with kernel 200x200 under 3GHz Intel Xeon W, 128G memory Mac.

![C5E68681-FF0F-48CA-AE42-86AC4F749AF7](https://user-images.githubusercontent.com/16257776/72038900-139d7180-3271-11ea-859d-179dc02b9b68.png)

[2020-01-09 07:22] #2469 closed

[2020-01-09 08:56] jni commented on #4391
@milinddeore Neither scikit-image 0.15 nor 0.16 should be able to run on Python 2.7 at all, so it's pretty strange that it works at all. How did you build scikit-image binaries? What OS, compiler, and compiler flags are you using?

Are you able to share a minimal example, with an example image that crashes the process like this? Without being able to reproduce the crash, it's going to be very diff

[2020-01-09 08:59] jni commented on #1190
scikit-image binary dilation *is* scipy.binary_dilation, so I guess this is a SciPy issue, not a scikit-image one. There are already several issues in the scipy repo tracking this, e.g. see [this search](https://github.com/scipy/scipy/issues?utf8=✓&q=is%3Aissue+is%3Aopen+memory+footprint+ndimage).

[2020-01-09 09:09] milinddeore commented on #4391
@jni Apologies, its my bad. I have updated the above PR with 'Updated' section where python2.7 with skimage version (0.14.5) works fine.

[2020-01-10 02:04] marcelo-santos-12 commented on #966
Could someone explain to me about the nan value in the code mentioned?
And how could I compute the var LBP histogram?

[2020-01-10 07:45] jni commented on #4389
Yes, I think what makes the most sense here is to have a package `skimage_contrib` with all the same submodules, but added functions, e.g. `from skimage_contrib.filters import threshold_fancy_untested_method`.

Yes. I wouldn't mind if scikit-image-contrib was more forward-looking than scikit-image, e.g. only 1-2 Python versions, latest NumPy, Numba, etc, so that in CI we only really need to test w

[2020-01-10 13:45] soupault commented on #4388
What about Cython?

[2020-01-11 14:43] hmaarrfk commented on #4388
you can try 1.17, but im skeptic

[2020-01-13 03:40] emmanuelle commented on #4199
The `gcc` vs `clang` difference when compiling cython code is a bit worrying... It would be interesting to test this on other functions.

[2020-01-13 04:22] emmanuelle commented on #4199
@paugier may I ask how you chose the list of functions mentioned above? I can work on providing examples for the other functions in the next few days. I think it's more interesting to concentrate on functions which take the longest time to execute (say for a 1000x1000 image).

[2020-01-13 23:25] rfezzani opened #4394 "meijering filter artefacts around the image"
## Description

`maijering` filter suffers from the same artifacts as `frangi` described in #4249 .

## Way to reproduce

[code]

![meijerin](https://user-images.githubusercontent.com/3438227/72299913-8d16d480-3662-11ea-9edb-6b95bed769c6.png)

Managing border conditions for the ridges filters as suggested by @shenker https://github.com/scikit-image/scikit-image/pull/4343#pullrequestreview-33775444

[2020-01-14 02:53] #4160 closed

[2020-01-14 03:03] #4249 closed

[2020-01-14 03:09] #4014 closed

[2020-01-15 04:14] emmanuelle commented on #4389
I created https://github.com/scikit-image/scikit-image-contrib

[2020-01-15 14:00] mike-pt opened #4397 "NameError: name 'regionprops' is not defined importing "skimage.measure""
## Description
As the title suggests and as detailed bellow python 3.7.6 returns `NameError: name 'regionprops' is not defined when I try to import "skimage.measure"

## Way to reproduce
[code]

## Version information
[code]

[2020-01-15 14:38] emmanuelle commented on #4397
wow this is very weird. I could not reproduce on a fresh environment. Are you on a Mac?

There seem to be a problem with our `_parse_docs` function. Since it is not called when `__debug__` is False, could you please help us diagnosing by launching a Python shell in optimized mode (`python3 -O`) and try the import again?

[2020-01-15 14:53] soupault commented on #4397
How did you install scikit-image?

[2020-01-15 18:50] Ahmedhabashi opened #4398 "Is there a modification on watershed segmentation on images"
[I](url
![result1](https://user-images.githubusercontent.com/58392288/72462123-30600a80-3785-11ea-8914-476744312e5a.jpg)
![SampleE_#1_26pxfor1mm](https://user-images.githubusercontent.com/58392288/72462283-9187de00-3785-11ea-8267-6cdc8b7eda12.jpg)
![SampleE_#1_26pxfor1mm_out](https://user-images.githubusercontent.com/58392288/72462329-b5e3ba80-3785-11ea-96b2-e64c85565e26.jpg)

) am new to image pr

[2020-01-15 18:52] mike-pt commented on #4397
Yeah I'm on a mac, and can try that, FWIW I installed with pip (this is inside a venv so not much else is there:
[code]

and their deps ofc

[2020-01-15 18:53] mike-pt commented on #4397
here is the output with -O

[code]

[2020-01-15 19:03] emmanuelle commented on #4397
Hum... can you check that file `/Users/miguelc/.virtualenvs/matp/lib/python3.7/site-packages/skimage/measure/_regionprops.py` has a `regionprops` function? There's no reason why it shouldn't, though... Did you also try from a completely fresh environment? Quite generic questions I'm afraid but I'm having a hard time understanding what's going on...

[2020-01-15 19:23] mike-pt commented on #4397
this is a fresh venv but I can create another with just the single dep.... you never know

[2020-01-15 19:31] mike-pt commented on #4397
ah interesting with just that it works fine, tbh the other I need seem to be deps of this anyway, maybe there's some sort of conflit if I try to install matplotb or Pillow too?

[2020-01-15 19:33] emmanuelle commented on #4397
maybe conflicting versions but still why would the error message be an import error in a submodule of scikit-image? Anyway, any diagnosis you can bring here will be useful for us, so if you can tell us which one of the other packages causes the conflicts we are all ears. Thanks!

[2020-01-15 19:35] mike-pt commented on #4397
Gonna try experimenting see if I can isolate it, It could also be a rare case of a bad download (when I got this issue was actually yesterday but I had no time to post)

[2020-01-15 19:39] mike-pt commented on #4397
hum with the same requiremts file it simply just said all deps are satisfied, I tried on a yet a newer one and also no issues now, it does take a little to load the module (like 3 secs?) but I guess its just cause its a bit complex?

But I can no longer repo the original issue and yet the function was there

[2020-01-15 19:41] mike-pt commented on #4397
Well, I think the best I can do for now is keep an eye if it happens again.

Yesterday I created to new venvs and both failed 🤷‍♂

[2020-01-15 20:11] emmanuelle commented on #4397
ok great, then I'll close and as you say feel free to reopen if needed. Happy image processing ;-) !

[2020-01-15 20:11] #4397 closed

[2020-01-15 21:26] emmanuelle commented on #4398
Well, to be honest this is not so bad :-). Using the watershed on a mixture of large and small objects is usually a nightmare. You will never have a perfect segmentation for this kind of images, but you can probably improve it if you know the metric you are optimizing. Are you either:
- trying to detect a representative fraction of the grains, so that you can afford not detecting some but you want

[2020-01-16 16:54] paugier commented on #4199
@emmanuelle Sorry, i forget to answer... I just took them from Serge's work and by looking in your repository. You're right that we should focus on what takes time in real cases.

[2020-01-16 21:24] caron commented on #2408
Would love to see this implemented into `skimage.io` to keep to using one API and not mix in directly using `pillow`

[2020-01-16 21:54] Ahmedhabashi commented on #4398
Thank you so much for your reply ... really my main aim in this project is the second option which is I am  trying to detect as many grains as possible but I can live with some bias so as after getting the areas of contours included in an image I will draw a curve between equivalent diameters of grains detected in the image and percentage passing of grains then comparing this curve to the results

[2020-01-17 02:58] hmaarrfk commented on #4199
is transonic and more experimental stuff more appropriate to scikit-image-contrib?

[2020-01-17 03:09] jni commented on #4199
@hmaarrfk I don't think that works in this case, where the purpose is to simplify and accelerate existing functions, rather than add new functionality. The purpose of skimage-contrib is to allow contributors to add more fringe/recent algorithms and methods that might not be maintainable for scikit-image, where we really just want the reference, very highly cited stuff.

[2020-01-17 03:25] hmaarrfk commented on #4199
I think it is important to have a place to prototype new dependencies and new compilers and build infrastructure. Seems hard to do it on "stable" software that is released every 6 month.

[2020-01-17 03:27] jni commented on #4199
Please come mess around with github.com/jni/skan, among others! =P

And, sorry, I forgot, we do have such a thing, @emmanuelle started `skimage-experimental`, which is a mirror of skimage without its restrictions, or, in other words, a place for long-lived branches.

The problem with these endeavours, though, is that it's hard to get lots of real-world testing out of them...

[2020-01-17 04:11] hmaarrfk commented on #3397
Maybe think of this:
https://github.com/bndr/pycycle

[2020-01-17 05:43] paugier commented on #4199
For transonic,  https://github.com/scikit-image/skimage-experiments seems appropriate.

One important thing is to have the same build procedure and associated packages on PyPI and conda-forge, so that it can be possible at one point to ask some users to test things with their own setup with few simple commands. It could be a way to get more real-world testing.

[2020-01-18 07:00] sciunto commented on #4389
@scikit-image/core (ping didn't work in the first post)

[2020-01-18 07:12] sciunto commented on #4375
I gather several applications as they are using similar techniques.

- application: measuring morphological or positional properties of drops, fibers, bubbles from direct imaging.
- Organization: https://www.equipes.lps.u-psud.fr/mmoi/
- https://arxiv.org/abs/1610.02555 https://arxiv.org/abs/1605.05085
- function used: Hough transforms, ransac, thresholding (segmentation in general), labeling

[2020-01-19 07:38] jni opened #4402 "Link to values in core developer guide needs updating"
## Description

The link to our mission, vision, and values in the [core developer guide](https://scikit-image.org/docs/dev/core_developer.html) is still pointing to the PR that established those, instead of the [final document](https://scikit-image.org/docs/dev/values.html).

[2020-01-20 09:24] durveshps opened #4403 "Stop probability in ransac"
## Description

This may be a stupid question, but what is 'm' in the formula for dynamic number of trials in documentation of RANSAC?

https://github.com/scikit-image/scikit-image/blob/b7a1fde540d90d6e8009764abeec3e89c8b76928/skimage/measure/fit.py#L691

[2020-01-21 16:47] sciunto commented on #4403
Cc @ahojnnes

[2020-01-21 16:50] sciunto commented on #4403
This must be clarified in the docstring. The computation is done in another function and the corresponding line is https://github.com/scikit-image/scikit-image/blob/b7a1fde540d90d6e8009764abeec3e89c8b76928/skimage/measure/fit.py#L606

m is the min sample.

[2020-01-21 22:27] alexdesiqueira commented on #4389
Hey everyone,
@emmanuelle, the hypothesis package has something I really like in this sense, [extensions](https://hypothesis.readthedocs.io/en/latest/extras.html)! I thought on that before when we were discussing to separate the data from the main package (were we? I can't remember anymore). I guess we could have something related to that...?

[2020-01-21 22:55] alexdesiqueira commented on #4375
Hey everyone,
I have used `skimage` thoroughly since 2014, with several applications.
One of them is finding fission tracks in mineral images. We wrote an alternative watershed transform for that, WUSEM, published recently.
- [[paper on JEMT]](https://doi.org/10.1002/jemt.23336)[[arXiv]](https://arxiv.org/abs/1706.03282)[[code]](https://github.com/alexdesiqueira/publications/tree/master/2019/wusem

[2020-01-22 00:46] alexdesiqueira commented on #2408
Hey @warmspringwinds @caron,
I'm truly sorry for not answering the issue before. I remember discussing embedded LUTs somewhere, but I don't exactly recall where... @scikit-image/core could someone help me on that? Thanks!

[2020-01-22 04:04] carterbox commented on #4375
Hi all,

I'm a casual `skimage` user and a maintainer of a python package for tomographic imaging. My applications are mostly processing of x-ray images from the Advanced Photon Source.

- We use `skimage` in our library for resizing 2D images and currently for [tranformations and image warping](https://github.com/tomopy/tomopy/blob/cb774ef7f3b484f5b2cada56918f9ec89b5d3acc/source/tomopy/prep/align

[2020-01-22 08:21] sciunto opened #4406 "API: disk vs circle vs circle_perimeter"
## Description

In [morphology](https://scikit-image.org/docs/stable/api/skimage.morphology.html#disk) disk means a full circle
In [Hough transform](https://scikit-image.org/docs/stable/api/skimage.transform.html#hough-circle) circle means the edge of a circle
In [draw.circle](https://scikit-image.org/docs/stable/api/skimage.draw.html#circle) means a full circle
In [draw.circle_perimeter](https://

[2020-01-22 08:43] jni commented on #4406
@sciunto I'm :+1: on this proposal! Great catch(es)!

[2020-01-22 11:07] #4403 closed

[2020-01-22 12:39] sciunto commented on #4403
Thank you @durveshps This type of issues is particularly useful to improve our documentation. It is now fixed in master.

[2020-01-22 13:34] hmaarrfk commented on #4406
How will you handle the deprecation cycle for the new circle? Will you do it in a single shot or two?

[2020-01-22 16:12] rfezzani commented on #4402
Fixed by #4405, thank you @alexdesiqueira ;)

[2020-01-22 16:12] #4402 closed

[2020-01-22 17:02] rfezzani commented on #4383
A simple fix would be to call `np.asarray` over the input argument, but the `EuclideanTransform` [documentation](https://scikit-image.org/docs/dev/api/skimage.transform.html#skimage.transform.EuclideanTransform) specifies that the `matrix` argument should be an `array`. So I would not consider this issue as a bug since 3×3 list of list would also raise an error :-(

[2020-01-22 17:25] rfezzani commented on #4152
Do we consider that `array` is an acceptable argument name? I found an occurrence in `graph.mcp.route_through_array` for example.

[2020-01-22 17:53] rfezzani opened #4407 "array or ndarray as argument type documentation?"
## Description

I found that argument type documentation is not consistent for numpy arrays over `skimage` functions docstings:

- `array` is used 198 times,
- `ndarray` 118 times,
- and `numpy array` 5 times.

Should we think about defining a convention for this?

Here are the cleaned output of `grep`:
[array.txt](https://github.com/scikit-image/scikit-image/files/4098948/array.txt)
[ndarray.txt]

[2020-01-22 19:41] alexdesiqueira commented on #4406
Great catches indeed @sciunto, one more step for our consistency!

[2020-01-22 19:53] hmaarrfk commented on #4383
I think @emmanuelle's historical context is quite important. Thanks for bringing that up.

I think it is especially appropriate in the context of homographies where matricues are used to describe the physics.

[2020-01-22 21:18] grlee77 commented on #4407
I see use both `array` and `ndarray` used with the docstrings of NumPy and SciPy themselves, although `ndarray` seems to be more common. I don't see a clear preference for either case specified in the [NumPy documenting guidelines](https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard)

The other case you didn't mention is `array_like` which should technically be used rather tha

[2020-01-22 22:29] rfezzani commented on #4407
Thank you @grlee77 for linking to numpy doc guidelines. I did not considered `array_like` since it is used to describe arguments that can be converted to `ndarray` (i.e. scalar types, sequence types) according to these guidelines.
My preference goes to `ndarray`, since it is the name of the numpy array class while `array` is a function for numpy array creation.

[2020-01-23 03:31] jni commented on #4407
In my head, `ndarray` meant "a NumPy ndarray object", while `array` meant "array-like". Perhaps we should use that convention or similar? Specifically, I am thinking that any function that uses Cython needs an ndarray, but most that don't can still work with CuPy arrays or dask arrays. It would be great if we could document this distinction somehow.

[2020-01-23 04:01] jni commented on #4383
`np.asarray` works for me, if @emmanuelle wants to tackle this. It would be nice to support list-of-lists as input.

[2020-01-23 06:40] sciunto commented on #4406
@hmaarrfk Good question. The number/type of arguments for the new disk and the new circle functions are the same. Therefore, it's hard to detect users who have an outdated code, embarrassing for a single shot.

I would suggest:
* Step 1: warn that draw.circle is deprecated. Implement draw.disk. (For 2 versions).
* Step 2: move the code in draw.circle_perimeter in draw.circle. Deprecated the old fu

[2020-01-23 07:28] durveshps commented on #4403
Thanks @sciunto for answering my question and incorporating the information in the Doc-Strings.

[2020-01-23 08:09] rfezzani commented on #4407
I like your point of view @jni, but why not use the more conventional `array_like` instead of `array` then?
If we decide to go this way, we will have to call `np.asarray` whenever an argument is declared as `array_like`. This make me think of the `matrix` issue #4383.

[2020-01-23 08:26] jni commented on #4407
Well, it's actually a slightly different issue. We *don't* want to call `np.asarray` on a Dask array. We just want to call `np.sum`, `np.max`, `arr @ vals`, etc as usual, and let [`__array_function__`](https://numpy.org/neps/nep-0018-array-function-protocol.html) and related protocols do their magic.

This is annoyingly subtle! LOL

[2020-01-23 08:46] rfezzani commented on #4407
I confess that I am not aware of the position of skimage concerning dask :-S, I understand from your comment that we want to be compatible with such libraries.
Well, it is becoming a little bit more subtle in fact :-)
An option would be to use `dask.array.asarray` if dask is installed and `np.asarray` otherwise.

[2020-01-23 08:54] jni commented on #4407
No, we don't want to cater to dask specifically, but, where possible, we want to be able to chain skimage functions with dask arrays *or other duck arrays* transparently. The NEP-18 protocal was designed with this in mind. We don't actually have a policy on this at all just yet, I'm just being forward-looking.

We've had users who want to bring this future about, see e.g. #3823

[2020-01-23 08:56] #4394 closed

[2020-01-23 08:56] rfezzani commented on #4407
Yes, I just realized my mistake after rereading my answer :-)
The option is then to call `np.asarray` only if the input is not a dask array :-p

[2020-01-23 08:57] jni commented on #4152
I would say yes, array is not reserved.

[2020-01-23 09:18] rfezzani commented on #4407
I found that `iterable` is also used as an alternative to `array_like`:
[code]

[2020-01-23 09:28] rfezzani commented on #4407
Well, I think that I found a good compromise, what about considering that `array` is for data buffers (as `np.array` or `dask.array`) and that `array_like` is for iterable?

[2020-01-23 16:39] soupault commented on #4152
I agree with Juan. Although, it is probably not the best choice for the
variable name, since it is not descriptive.

On Thu, 23 Jan 2020 at 10.57, Juan Nunez-Iglesias <notifications@github.com>
wrote:

[2020-01-24 02:30] emmanuelle opened #4408 "Azure build for documentation is failing (times out)"
See for example https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=2301&view=logs&jobId=31eb6c88-23c5-50ae-eda4-a7f72508e1eb&j=31eb6c88-23c5-50ae-eda4-a7f72508e1eb&t=f7291549-81f8-5748-7064-2be81963872c: the build takes 60 minutes, is stopped, does not respond and is killed.

[2020-01-24 02:34] jni commented on #4408
This is the relevant part of the azure config file:

https://github.com/scikit-image/scikit-image/blob/b46a4961157510eb395028cd9b6cf8739cedb7c2/azure-pipelines.yml#L121-L132

Nothing amazingly suspicious there!

[2020-01-24 02:39] jni commented on #4408
@emmanuelle found this log of a working build. Amazingly, it looks like Azure should print stuff to the console before anything at all is run, but it is no longer doing this...

https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=2259&view=logs&jobId=97a3063c-824d-5691-874a-4213ba287284&j=31eb6c88-23c5-50ae-eda4-a7f72508e1eb&t=f7291549-81f8-5748-7064-2be81963872c

[2020-01-24 02:41] jni commented on #4408
@soupault @hmaarrfk if you have any ideas here, they would be much appreciated! In the meantime, @emmanuelle is going to experiment with a dummy PR.

[2020-01-24 06:53] parekhnish commented on #3200
For `rgb2gray()`, the current documentation defines a `ValueError`:
https://github.com/scikit-image/scikit-image/blob/b46a4961157510eb395028cd9b6cf8739cedb7c2/skimage/color/colorconv.py#L764-L768

But, the following snippet does not produce an error:
[code]

Then, should we change the documentation to reflect that, indeed, 2-D images will also not produce an error?

[2020-01-24 07:56] rfezzani commented on #4365
Thank you @longjon for this detailed report! Your analysis is perfectly correct and you identified the guilty line of code :-)
This scale and shift of the gray values is certainly necessary to compensate the possible underflow caused by the subtraction of the mean, but you are right, it should not be done silently.
Fixing this issue is not easy (may be impossible) because of the design of the `ski

[2020-01-24 10:43] jni commented on #3200
@parekhnish thanks for chiming in! I guess it’s still unclear what the best way forward is based on the above discussion, but fixing the documentation to be correct is certainly desirable in the short term! Would you like to submit a pull request? We would be happy to guide you through the process if you aren’t familiar with it yet.

Thanks!

[2020-01-24 12:43] lagru commented on #4407
I agree. To put it in more words:

- `array_like` -> Requires nested structure (e.g. iterable) that can be passed to `np.asarray`. To me this implies that the input will be likely converted into a NumPy array internally.
- `array` -> Requires object which supports (parts of) NumPy's array API (e.g. but not exclusively `dask.array`). Implies that the object does not need to be converted with `np.as

[2020-01-24 12:49] rfezzani commented on #4407
Exactly, and thank you @lagru for adding the `ndarray` case which corresponds, for example, to arguments of Cython functions ;-)

[2020-01-24 13:31] rfezzani commented on #4365
#4409 implements the solution proposed in my previous comment.

[2020-01-24 17:23] soupault commented on #4408
That's really weird! You are right that Azure typically outputs the script lines before executing them. It looks like the workers cannote even start a Bash session for the failing task. I am investigating the logs now.

[2020-01-24 17:44] soupault commented on #4408
Here is an interactive output of the restarted job:
![image](https://user-images.githubusercontent.com/1315589/73090875-e512ce00-3ee1-11ea-8f67-0fdc53210420.png)

[2020-01-24 19:28] soupault commented on #4408
The issue `Input file specified two times.` is caused by this line https://github.com/scikit-image/scikit-image/blob/master/doc/Makefile#L50 . Removing `release_notes` target solves the issue. There seems to be some difference in the syntax of the used commands on Windows.

[2020-01-24 21:00] soupault commented on #4408
Indeed, it uses `sort` function from https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/sort .

[2020-01-24 21:55] emmanuelle commented on #3927
I've removed the 0.17 milestone because hopefully nothing more to be done. Thanks @stefanv !

[2020-01-25 12:21] carandraug commented on #3927
I may be missing something but was the conclusion of this? I contacted MIT independently who told me the same, that they could not be sure of the copyright of it. Can someone clarify the status of that? I would also like to redistribute the cameraman image.

[2020-01-25 19:54] hmaarrfk commented on #3927
Seeing as this issue was quite contentious, stefanv, could you open a PR adding documentation on how you arrived at the conclusion that we do have the rights to continue to distribute this image?

[2020-01-26 04:35] tirkarthi opened #4413 "Deprection warning due to invalid escape sequence in example files"
## Description

These are mostly in doc examples and are of low priority but I thought to file an example anyway.
Using raw strings or escaping them will fix these warnings.

[code]

## Version information

master branch

[2020-01-26 05:16] hmaarrfk commented on #4413
Thanks for reporting.

Would you like to issue some of the PRs for this?

You can likely use github's suggestion tools if you don't want to create new branches for each

[2020-01-26 05:37] tirkarthi commented on #4413
Sure, please see https://github.com/scikit-image/scikit-image/pull/4414. It adds raw strings to fix these warnings.

[2020-01-26 13:26] #4413 closed

[2020-01-27 00:30] parekhnish commented on #3200
@jni yes, I can do that. Do you have any pull-request guidelines (commit message format, tests to be done before committing and creating the pull request, etc.)?

[2020-01-27 01:43] jni commented on #3200
Yes, you can read our contributing guidelines here:

https://scikit-image.org/docs/dev/contribute.html

The are a bit on the long side, but I hope quite clear. Since this is a documentation fix, I don't think you will need to do any testing. Our continuous integration will catch any ReST formatting errors if they creep in. =)

[2020-01-27 22:58] rfezzani commented on #4279
`profile_line` uses `_line_profile_coordinates`to compute the coordinates of the profile of the input image along the desired scan line. In the example that @lagru provided, its output is:
[code]
The negative value at index `(0, 0, 0)` causes the observed bug!
One option could be to clip the output of `_line_profile_coordinates`, but this imposes that the `src` and `dst` arguments of `profile_line

[2020-01-28 09:07] rfezzani commented on #3200
The problem is even worst then it looks: `rgb2gray` ignores all image's channels with indices greater then 3 and doesn't raise any error if the number of channels is not 3 or 4 (despite what the documentation says:
https://github.com/scikit-image/scikit-image/blob/b46a4961157510eb395028cd9b6cf8739cedb7c2/skimage/color/colorconv.py#L764-L768)
[code]
The problem comes from this line: https://github.

[2020-01-28 17:29] rfezzani commented on #3200
My solution to this issue is may be a little bit radical: I consider that

- `multichannel` is implicitly `True` for all the functions but `gray2rgb`,
- `rgb2gray` does not accept gray level images,
- `rgb2gray` does not accept RGBA images

I implemented It in #4418. It allows to easily add nD support using `Ellipsis` and alleviates all the "guessing"...

[2020-01-28 17:50] rfezzani commented on #3200
Oops, this comment is better suited for #3185

[2020-01-28 17:55] rfezzani commented on #3185
My solution to this issue is may be a little bit radical: I consider that

- `multichannel` is implicitly `True` for all the functions but `gray2rgb`,
- `rgb2gray` does not accept gray level images,
- `rgb2gray` does not accept RGBA images

I implemented It in #4418. It allows to easily add nD support using `Ellipsis` and alleviates all the "guessing"...

[2020-01-29 19:46] #4408 closed

[2020-01-29 20:27] #4365 closed

[2020-01-29 22:33] tjorda01 opened #4425 "Dead "chat room" link on the "Governance" page"
Describe the issue linked to the documentation
On this page: https://scikit-image.org/docs/dev/skips/1-governance.html
...there this dead link:
project chat room,

Suggest a potential alternative/fix
Is there still an active chat room? If not, remove the reference to it.

[2020-01-29 22:36] tjorda01 opened #4426 "Dead link in “Canny edge detection”"
### Describe the issue linked to the documentation
On this page “Canny edge detection”
https://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.canny
... in the References section, this is the dead link:
"2 William Green’s Canny tutorial" http://dasl.unlv.edu/daslDrexel/alumni/bGreen/www.pages.drexel.edu/_weg22/can_tut.html

### Suggest a potential alternative/fix
Replace it with

[2020-01-29 23:33] emmanuelle commented on #4294
Also +1 on this.

[2020-01-29 23:35] emmanuelle opened #4427 "Add multichannel to denoise_tv_bregman"
`skimage.restoration.denoise_tv_bregman` is I think the only denoising function which does not accept a `multichannel` argument. I hope it would be easy to adapt code from other denoising functions (for example `denoise_tv_chambolle`), so I'm tagging this as good first issue.

[2020-01-30 03:32] emmanuelle commented on #4425
Thanks @tjorda01 the right link is https://skimage.zulipchat.com/. Would you like to make a pull request for this? Thanks again.

[2020-01-30 03:36] emmanuelle commented on #4426
Thanks @tjorda01 another solution is to just remove this link because it could be moved again. We could instead link to the wikipedia page https://en.wikipedia.org/wiki/Canny_edge_detector

[2020-01-30 06:22] stefanv commented on #3927
I was in conversation with Peter Bebergal, a Technology Licensing Officer at MIT.  We exchanged numerous emails, but the important pieces from August 14, 2019:

"It looks like we feel we have sufficient rights to be able to release the image under CC [...] I'll start that process. You can continue to use the image in the meantime."

[2020-01-30 14:46] emmanuelle commented on #4398
Hi @Ahmedhabashi ok, so there are several possible approaches.
- You can keep the same approach and try to do automatic post-processing on your labels, ie have a criterion for merging neighbor labels (the criterion might be that the average norm of the gradient if smaller than a threshold on the boundary between the two labels, or a composite criterion including also length and shape criteria on t

[2020-01-30 14:55] imagejan commented on #4398
This issue is a usage question much more than an issue with the `scikit-image` code base. I believe other people with similar image analysis problems would highly benefit if this kind of discussions would happen on the forum (https://forum.image.sc) instead of here in a GitHub issue. The forum offers a wider visibility and a better searchability (in my opinion).

What do others think? How about di

[2020-01-30 16:27] emmanuelle commented on #4398
@imagejan I tend to agree with you. We sort of have a chicken and egg problem with the forum because it's not a scikit-image specific forum and there are hardly any topic tagged with scikit-image, so maybe users don't feel like posting on it, I don't know. We could modify the issue template saying "If you're looking for guidance on how to use scikit-image, please post of the forum...". What do you

[2020-01-30 16:45] imagejan commented on #4398
👍 I opened https://github.com/scikit-image/scikit-image/pull/4429 for this.

[2020-01-30 19:20] stefanv commented on #4279
I don't like clipping in general, but if we ensure that the coordinates provided are inside the image, and then clip our generated coordinates, that's probably about as good as we can do.

[2020-01-30 21:00] rfezzani commented on #4279
@stefanv, that's almost what is implemented in #4416 ;-), I a just required that the input coordinates are positive... I like your suggestion, but it will require a deprecation cycle...

[2020-01-30 21:11] stefanv commented on #4279
Ah, so we currently allow "out-of-bounds" coordinates?  I guess we could just clip the line against the image borders.

[2020-01-31 02:52] richard-moss commented on #4283
Hi all,

I just noticed this exact problem (came here to report it too).

@jni I would say that this is a bug, and so should be fixed:
- It's counter to what I think is the intent of the function, which is to return _coordinates of pixels_; ie something you can pass as indicies into a numpy array.  This obviously doesn't work when it returns floats.
- The above is seen not just in the documentatio

[2020-01-31 04:01] jni commented on #4283
@richard-moss thank you for your input! It's extremely valuable to hear the perspective of our users. Would you be comfortable submitting a fix in a pull request? I think using `np.round(...).astype(int)` is the right approach, *before* clipping to make sure all the coordinates are inside the image shape.

[2020-01-31 14:15] Ahmedhabashi commented on #4398
@emmanuelle  Thank you so much for your kind reply and support . However , I would prefer going on your first approach but I don't have the enough experience to modify the labels in my algorithm for better segmentation however I found that (min distance ) in peak_local_max function has a big influence on the segmentation process .Furthermore , I am trying to modify the labels but not able to find

[2020-01-31 15:08] sciunto opened #4430 "SKIP: Should we support 32-bits architectures?"
## Description

During the last dev meeting (today), we discussed with @emmanuelle and @lagru the support of 32-bits architecture.

The starting point is the number of issues involving this aspect, which are not solved mainly because most (all) of us are not using 32-bits. To get an idea: https://github.com/scikit-image/scikit-image/labels/type%3A%20failure%20arch%20specific

As pointed out by @em

[2020-01-31 17:17] richard-moss commented on #4283
@jni I'll try to get to it the next few days.

That approach does work fine (I'm using it in my code as the workaround), but I'll also check how polygon() etc are doing it right now (that do return int's when passed floats) to make sure it's in line with their implementation.

[2020-01-31 23:22] rfezzani commented on #4248
Fixed by #4250, thx @robroooh

[2020-01-31 23:22] #4248 closed

[2020-02-01 01:11] jni commented on #4430
What are NumPy and SciPy doing here? We should certainly go no further than they do. I've heard chatter of various projects dropping 32-bit. Conda-forge I think?

Personally, I think this issue needs a "champion" who cares about this (Bit Keeper?), and I'm not inclined to become that.

[2020-02-01 06:14] hmaarrfk commented on #4430
The thing is that matplotlib dropped 32 bit wheels for Linux. As a hard dependency, this makes building the wheels tedious since we need to pull in things from a wheel house.

I think windows 32 bit is still popular. Many apps still download 32 bit windows by default especially for older computers.

I would be pretty happy to drop it though.

[2020-02-01 06:38] sciunto opened #4431 "Add examples to docstring for structuring elements to visualize the shape"
## Description

Add examples to show for each of these functions:

* [ ] skimage.morphology.square(width[, dtype])
* [ ] skimage.morphology.rectangle(width, height)
* [ ] skimage.morphology.diamond(radius[, dtype])
* [ ] skimage.morphology.disk(radius[, dtype])
* [ ] skimage.morphology.cube(width[, dtype])
* [ ] skimage.morphology.octahedron(radius[, dtype])
* [ ] skimage.morphology.ball(radius[,

[2020-02-01 11:30] sciunto commented on #4248
Great! Thank you @robroooh

[2020-02-01 14:48] #4185 closed

[2020-02-01 14:49] durveshps commented on #4185
The change in doc-string is already been done by someone else.

[2020-02-02 06:00] aadideshpande commented on #4425
I would like to work on this issue.

[2020-02-02 07:42] aadideshpande commented on #4426
I would like to work on this issue.

[2020-02-02 10:01] aadideshpande commented on #4426
#4433

[2020-02-02 10:16] soupault commented on #4426
FIxed in #4433 .

[2020-02-02 10:16] #4426 closed

[2020-02-02 10:17] aadideshpande commented on #4425
#4432

[2020-02-02 10:17] 07harshita commented on #1580
Hi!
I would love to work on this issue.

[2020-02-02 10:21] 07harshita commented on #4431
Hi!
I would love to work on this issue.

[2020-02-02 12:09] soupault commented on #4425
Fixed in #4432 .

[2020-02-02 12:09] #4425 closed

[2020-02-03 02:30] emmanuelle commented on #4431
Hi @07harshita that's great to hear! Don't hesitate to submit a work in progress pull request with for example just one example in one function, if you want some early feedback to be sure that you're on the right track.

[2020-02-04 12:35] bladeroy commented on #3906
!pip install --user scikit-image.

Worked for me.

[2020-02-04 22:55] #4274 closed

[2020-02-05 08:40] shabirmoosa opened #4436 "chroma subsampling not supported"
## Description
Would you please let me know if the implementation to support chroma subsampling will be released anytime soon?

[2020-02-05 12:22] Zudav commented on #1749
You just saved me a lot of headaches @sungsooha , thanks you so much.
In case someone else stumbles across this thread who's relatively new to python, let me save you the minute or two of googling to find out how to achieve what they described. There might be a better way to do this but this worked for me:

[code]

[2020-02-05 15:59] emmanuelle commented on #4436
Hi @shabirmoosa thanks for reaching out. What would you like to do exactly: being able to transform a given image in Y'CbCr space to perform chroma subsampling? Which implementation are you referring to? Please give more details :-).

[2020-02-06 17:10] carterbox commented on #1749
If you want to reverse elements along the axis of an array, you can use [`np.flip()`]( https://docs.scipy.org/doc/numpy/reference/generated/numpy.flip.html)!

[code]

[2020-02-07 13:40] rfezzani commented on #2728
Fixed in #4350. Thank you @xiaoyu-wu and thank you @tonypower for reporting.

[2020-02-07 13:40] #2728 closed

[2020-02-07 14:39] rfezzani commented on #4282
A simpler bug fix is proposed in #4437.

[2020-02-07 21:57] tathey1 commented on #3757
Anyone know where this code went? I am also having this issue on skimage 0.16.2 and am wondering if there is an existing solution.

[2020-02-08 02:27] hmaarrfk commented on #4294
What about cases where there are multiple channels??? Fluorescence and z for example?

[2020-02-08 06:40] jni commented on #4294
z is not a channel, it’s a spatial axis.

[2020-02-08 07:28] soupault commented on #4294
@hmaarrfk I was thinking the same. :) We should probably better define what image is and the extents of our scope in relation to such definition. For example, do we consider 2D Fourier transform (two frequency axes) to be a valid image for the library (i.e. support it as a valid input for most of the functions)? What about the data array where we have two dims of spatial data, third axis is freque

[2020-02-08 19:22] hmaarrfk commented on #4294
Fourier transforms: Are complex, much of the C code doesn't work with complex numbers, and cython doesn't support them well, at least the last time I tried it didn't.

What kind of `phase` are you speaking of? Is `phase` not a channel?

I wouldn't worry too much about what the channels represent, more that there are "dimensions we want to operate on, and dimensions we want the operation to be repe

[2020-02-09 03:06] BotMichael commented on #3649
thank u so much!

[2020-02-10 13:05] #3580 closed

[2020-02-10 22:36] #4282 closed

[2020-02-11 08:16] sciunto commented on #4389
I started an issue to brainstorm on PRs that would be suitable for this repository: https://github.com/scikit-image/scikit-image-contrib/issues/2

I think it will help us also to define the perimeter.

[2020-02-11 09:14] soupault commented on #4294
Hmm... I typically associate `channel` with `frequency` or `frequency range`. Although, I guess, you are right, `phase` is a channel, but can be a _second_ `channel` axis.

[2020-02-11 13:36] DMST1990 commented on #3757
I had to remove the code for changing the license.

[2020-02-11 15:30] rfezzani opened #4442 "Deprecate 32 and 64 bits integer types support"
## Description

I experienced some confusion with behavior definition with images with `int` dtype https://github.com/scikit-image/scikit-image/pull/4424#discussion_r372821261.

@jni pointed out that "`int` images are a big problem for us in general" (see #3009 for example).

I wonder if we can not simply deprecate the support of `int` images with higher depth than 16-bit:

- Does `int` images wit

[2020-02-11 16:11] hmaarrfk commented on #4442
Fixed point math is quite useful. I wouldn't throw it away because of convenience.

What does deprecating a datatype mean in python? Do we have to check at every entry point that we don't have int32? Seems tiresome.

What about checking for int24? Or other strange datatypes.

[2020-02-11 16:40] rfezzani commented on #4442
I am not saying that fixed point is not useful :-) I am just saying that in the context of image processing, I don't see much applications with more then 16  bits int, but I am pretty sure that I am mistaken here :smile:

Yes, this is made by checking `np.issubdtype(img.dtype, np.integer) and img.dtype.itemsize < 3`, mainly in the `skimage.util.dtype` module... It will hopefully impact a great maj

[2020-02-11 16:45] rfezzani commented on #4442
I see in the user guide data types [section](https://scikit-image.org/docs/stable/user_guide/data_types.html?highlight=data%20type) that _With a few exceptions, 64-bit (u)int images are not supported._ already :smile:

[2020-02-11 17:36] helderc commented on #2963
I have experienced this behavior as well. In my opinion the size of filter should be a parameter. OpenCV for example has a parameter `ksize` to control the filter size.

If this is from the interest of community (besides mine), coordinator(s), may I take a look?

[2020-02-11 22:50] jni commented on #2963
@helderc we would absolutely love it if you could submit a fix for this! In scikit-image we would probably prefer `kernel_size` or just `size` (since "kernel" is already in the function signature) as the parameter name. I also recommend that you place it at the end of the function signature as a [keyword-only argument](https://www.python.org/dev/peps/pep-3102/). Thanks!

[2020-02-11 22:54] jni commented on #4442
I think this discussion needs to take place in the context of #3009. I generally advocate for deprecating implicit rescaling in the library altogether. In that case, it doesn't make sense to deprecate those dtypes.

It *does* make sense to deprecate rescaling of int32 range to [0, 1]. I've never encountered a case where that was a good idea.

[2020-02-11 23:40] hmaarrfk commented on #4294
So you would have amplitude and phase for each wavelength of light you are measuring?

[2020-02-12 06:40] jni commented on #4294
@hmaarrfk @soupault I think you are applying a lot of scope creep to this issue. I propose the following, and *only* the following:

--------------------

- `multichannel=True` becomes `channel_axis=-1`.
- `multichannel=False` becomes `channel_axis=None`.

The proposal allows us to maintain backwards compatibility with all our current features *and* express one new thing, which is the case where t

[2020-02-12 10:45] parveen99 commented on #3906
I use python2.7, I am having the same issue . What version of numpy and scikit should I install?

[2020-02-12 10:48] parveen99 commented on #3906
from numpy.lib.arraypad import _validate_lengths
ImportError: cannot import name _validate_lengths

[2020-02-12 11:03] soupault commented on #4294
@jni My point above is rather an attempt to understand whether we should use this opportunity and make things a bit differently / more flexible. I generally agree with your definition of channels. However, I believe there are cases with multiple channels where one does not want to consider them similarly during the processing (e.g. filtering, inpainting). One of the examples could be a dual-energy

[2020-02-12 11:08] soupault commented on #3906
@parveen99 please, see the messages above. Also, please, note that Python 2.7 is no longer supported neither by numpy nor scikit-image.

[2020-02-12 12:19] jni commented on #3906
@parveen99 `pip install -U scikit-image=0.14.5` *should* work.

[2020-02-12 15:08] grlee77 commented on #4294
I am +1 on this and also on potential extending `channel_axis` to a tuple in the future as well.

An example where a tuple of axes would be easy to support is in `denoise_wavelet`, as recent releases of PyWavelets accept a tuple of axes to perform the transform over (in this case the transform axes would be all of those NOT in `channel_axis`).

[2020-02-12 23:56] jni commented on #4279
Hi everyone,

Sorry that I missed this discussion when it was happening. I don't think clipping or enforcing in-bounds coordinates is the right approach here. If we take the original use case for this function, I was measuring line profiles of a certain width from the top edge of the image to the bottom edge. (This is in [fig 3](https://peerj.com/articles/453/#fig-3) of the skimage paper!) If ther

[2020-02-13 08:14] rfezzani commented on #4279
@jni , the problem is that we are that `profile_line` uses internally `ndi.map_coordinates`, and for negative coordinates, this function uses the convention of indexing from the end of the array, So whatever is the used mode, if we face negative coordinates, the interpolation result will be wrong on the edge of the image!!!

[2020-02-13 08:33] jni commented on #4279
@rfezzani, unless I am misunderstanding, that is only true for `mode='wrap'`:

[code]

[2020-02-13 08:50] rfezzani commented on #4279
Yeah, you are right, sorry. I performed some test from my side, and I observe this too....
I have to investigate more...

[2020-02-13 08:59] rfezzani commented on #4279
OK, my bad :pray: !
The problem is an edge mode problem! Back to the example of this issue
[code]
The reported bug comes from the fact that the default mode is 'constant'

[2020-02-13 10:56] rfezzani commented on #3999
I agree with @sciunto, this doesn't look like a bug but the expected result.

[2020-02-13 11:11] rfezzani commented on #1945
This is no more True, pyramid functions all supports the `preserve_range` argument :wink:. Closing

[2020-02-13 11:11] #1945 closed

[2020-02-13 23:43] rfezzani commented on #3009
### Deprecate 32 and 64 bits integer types support

I am linking here to #4442. My feeling is that we can avoid many bugs/errors by simply advising the user to not use 32 and 64 bits integers...
- If the user needs fixed points and knows that his data range fits 16 or 8 bits advise him to use respectively (u)int16 or (u)int8,
- if he doesn't need fixed points, advise casting to float, normalized o

[2020-02-14 00:03] JDWarner commented on #3009
For raw image data, I think the biggest necessary integer scale we need in medical imaging today is 16 bit signed integer to fit the extended range of CT data (Hounsfield units, in particular of metal on the positive side, can get to around +30k while air is around -1k).

The main reason I personally have needed more integer depth before was in the domain of oversegmentation, specifically to uniqu

[2020-02-14 00:08] alexdesiqueira commented on #4430
Hey everyone,

NumPy and SciPy still provide 32 bit wheels (..._i686.whl for Linux,
..._win32.whl for Windows):
[1] https://pypi.org/project/numpy/#files
[2] https://pypi.org/project/scipy/#files

Mark got a point. No 32-bit matplotlib for Linux anymore; however, they
still have Windows's.
[3] https://pypi.org/project/matplotlib/#files

Couldn't we do the same? Maybe maintain a 32-bit wheel only f

[2020-02-14 01:44] hmaarrfk commented on #4430
While 32 bit x86 has been dropped for Linux by many large distros, Rasbian still ships 32bit ARM by default.

I've seen Raspbian become an important platform for many getting into machine vision and would hate to see scikit-image being booted from that platform.

I don't think it is impossible to add a 32 bit platform to our test matrix. I would really appreciate help from matplotlib in making 32

[2020-02-14 01:56] alexdesiqueira commented on #4430
Please help me here Mark :sweat_smile:

Starting 2016, Raspberry Pi have [both 32 and 64 bit versions](https://en.wikipedia.org/wiki/Raspberry_Pi#Specifications). I think this will be in the past for embedded stuff soon, as well.

[2020-02-14 02:03] hmaarrfk commented on #4294
Jni, happy to keep the discussion contained.

I see two things being good to have as part of this change:
1. The introduction of the `channel_axis` parameter on an as needed basis.
2. The inclusion of a note on which axis is likely to have the best performance.

I'm +1 on this

[2020-02-14 02:11] hmaarrfk commented on #4430
It is true that the hardware supports 64 bit, however, the default os is still 32 bit

https://raspberrypi.stackexchange.com/questions/43921/will-raspbian-move-to-64-bit#43927

https://www.piwheels.org/project/scikit-image/

https://unix.stackexchange.com/a/136519
Note that armv7 is 32 bit

[2020-02-14 02:29] jni commented on #3009
@JDWarner yes, absolutely, this would *not* deprecate (u)int32 and (u)int64 for *label* images. In fact, those types might be very good to *reserve* for label images. Precisely in the same vein, you would never want to rescale label images: you would want to exactly preserve the type there.

[code]

[2020-02-14 03:53] jni commented on #2792
@rfezzani do you have a source that defends the little square model as effectively as Alvy Ray attacks it? =)

http://alvyray.com/Memos/CG/Microsoft/6_pixel.pdf

Almost every time I've looked, I've found that the continuous-space model is more self-consistent, and easier to program with and reason about.

[2020-02-14 03:57] jni commented on #4294
@hmaarrfk what do you mean "as-needed"? Do you mean a slow migration function by function? Or...? I would prefer a single one-shot PR, as I think it would be confusing and inconsistent to have both styles in the library...

[2020-02-14 06:01] hmaarrfk commented on #4294
I think it will take alot of effort to do this right.

Tests will have to be written, and reviewed. Doing it all at once seems impossibly hard

[2020-02-14 08:19] matthew-brett commented on #4430
I think it will be a while before Windows 32-bit goes away - see https://github.com/pypa/manylinux/issues/118#issuecomment-481404761

I think it's been true in the past that 32-bit errors and crashes have revealed coding errors that needed fixing for other platforms.

[2020-02-14 09:23] rfezzani commented on #2792
Concerning this subject @jni, I liked this blog [post](https://greg.org/archive/2010/07/01/a-pixel-is-not-a-little-square-except-when-it-is.html).

I think that we all agree that images manipulates data positioned on a grid. The cell centered paradigm doesn't stipulate that a pixel is a little square, it stipulates that the sampled values is positioned at the center of the grid cells, while the gr

[2020-02-14 10:15] jni commented on #4294
@hmaarrfk challenge accepted. =D

[2020-02-14 10:35] rfezzani commented on #3009
:+1: for not deprecating  (u)int32 and (u)int64 for label images, but what about the `image` like  arguments?

[2020-02-14 10:47] rfezzani commented on #1287
Fixed by #4128 ;-) Closing

[2020-02-14 10:47] #1287 closed

[2020-02-14 10:57] rfezzani commented on #1141
[code]
This works perfectly well. So I assupme that I can close this one ;-)

[2020-02-14 10:57] #1141 closed

[2020-02-14 11:10] jni commented on #3266
@cvik1 I don't think there is much we can do on our end about this — it appears to have something to do with networkx and matplotlib. I presume that you have a new environment by now and it's working?

Anyway, I am going to close this, feel free to reopen if you can reproduce this again with recent skimage/matplotlib/networkx!

[2020-02-14 11:10] #3266 closed

[2020-02-14 12:56] matthew-brett commented on #4430
I think the default Windows download from Python.org is still 32-bit.

[2020-02-14 13:19] alexdesiqueira commented on #4430
Yes, you're both right. I guess it will still stick for a while.
It seems the optimal solution would be to remove matplotlib as a hard dep and continue to provide 32-bit wheels/tests. Thoughts?

[2020-02-14 14:19] rfezzani commented on #4294
@jni, this looks like a Meta PR! With the functions cross calls, the tests... I agree with @hmaarrfk, it will be hard to do end even more harder to review...
I know that I am may be not the right person to say that (I wrote some huge PR :stuck_out_tongue_closed_eyes: ), but this one will be gigantic!
Why not migrate module by module, if function by function is too slow?

[2020-02-14 14:27] tacaswell commented on #4430
I do not think it is fair to say "Matplotlib does not support 32bit", we just have not uploaded 32bit x86 wheels for linux.  To my knowledge, this is the first time anyone has expressed concern about the lack of wheels.  As pointed out above, we do publish 32bit windows wheels and I think at least debian is still building the 32bit flavor in their packaging system.

The arm discussion is a bit of

[2020-02-14 14:34] tacaswell commented on #4430
I don't recall any 32bit related errors recently, big-endian vs little endian has been much better at finding actual bugs.

To expand a bit on my "failing tests" comment above, when we investigated the failures from debian carefully, the 32-bit vs 64-bit differences tended to be things where you had rounding differences due to float precision.  At the end of the day Matplotlib produces RBG(A) valu

[2020-02-14 15:15] alexdesiqueira commented on #4430
Thank you @tacaswell, and sorry I didn't ping you here before. Since you're around and cooperating, I guess we don't have a strong reason to drop matplotlib, then... :sweat_smile:

[code]
I don't understand envs on Travis that much (or _at all_), and sorry if this is "raining on wetlands", but it seems this env is missing  [`libssl-dev`](https://launchpad.net/ubuntu/trusty/+package/libssl-dev).

[2020-02-14 16:18] hmaarrfk commented on #4430
I know arm is different than x86, but I just wanted to make the point that "we fail on 32 bit therefore we should rip it out" is not so good. I'll look into the matplotlib 32 bit wheels at some point. The `--prefer-binary` flag can help find wheels instead of source dists.

[2020-02-14 16:41] grlee77 commented on #4294
Making PRs on a module-by-module basis sounds reasonable to me. I would be willing to help cover a couple of modules if we split the effort.

I don't think it makes sense to have a new release with only a partial conversion, but in between releases, I don't see how it hurts to convert module by module in the development branch.

[2020-02-14 19:48] hmaarrfk commented on #4430
some ssl stuff recently changed and broke compatibility. conda has been struggling with this for a while. will try to find some notes.

[2020-02-14 22:39] tacaswell commented on #4430
@hmaarrfk ah, sorry I misunderstood what you were trying to say about ARM.

[2020-02-15 12:13] rfezzani commented on #4294
I just realized that the deprecation of `multichannel` in favor of `channel_axis` can be easily made using the [`deprecate_kwarg`](https://github.com/scikit-image/scikit-image/pull/4158/files#diff-753595d9efec287b20bf72b54fc5690cR22) decorator that I define in #4158 (still needs to be merged :wink:).

[2020-02-15 12:16] jni commented on #4294
@rfezzani I thought of that, but it's not *quite* so simple: `channel_axis=0` cannot be expressed currently, and requires a transpose of the input and a transpose back of the result (at a minimum — in some cases, that will not be the most efficient way to do it).

[2020-02-15 12:20] jni commented on #4430
Continuing to build windows 32-bit but not Linux 32-bit is a happy compromise for me! I'll aim to implement that soon.

[2020-02-15 12:22] rfezzani commented on #4294
This decorator can be adapted to manage this: it currently only defines `kwarg_mapping` for describing the mapping between the old and new argument names, but we can add the `kwarg_values` to define the default value of the new argument name. What do you think about this solution?

[2020-02-15 15:42] hmaarrfk commented on #4294
I find decorators to be cool software tricks, but difficult to grasp if you aren't software savvy

[2020-02-15 15:53] hmaarrfk commented on #4430
I'm not trying to create busywork for people, but I had a PR going with the change required to get matplotlib wheels to build by finding wheels instead of src packages for cryptography

https://github.com/MacPython/matplotlib-wheels/pull/9/files

There was a failure due to computational precisions, but that seems like it can be relaxed.

[2020-02-15 16:39] hmaarrfk commented on #4430
Ok, https://github.com/MacPython/matplotlib-wheels/pull/10 shows that it isn't an isolated failure.

Personally, I think due to our liberal use of cython, it is useful to test on 32bit linux. We find bugs and are generally more careful to note that `int != int64` and `int != int32`.

That said, if a dependency of ours stops shipping wheels, it is a bad sign.

I don't see any problem keeping with t

[2020-02-15 20:33] tacaswell commented on #4430
@hmaarrfk Sorry about that PR getting closed / lost.  I did not see it and it got auto-closed when I re-named the branch.  Definitely a case of incompetence rather than malice.

I merged  MacPython/matplotlib-wheels#10 and will backport it to 3.2.x and 3.1.x to see if that un-breaks the builds.

[2020-02-15 20:40] hmaarrfk commented on #4430
@tacaswell, I totally get it, no malice taken.

We can probably get cryptography to release new wheels too. I'm wondering how much I want to jump down this rabbit hole though.

In my effort to build up the conda-stack for arm, we also decided to drop support for 32 bit arm, even though I know very well it is the more popular platform for embedded systems given the arguments I made above. Narrowing

[2020-02-15 21:20] erjel opened #4447 "test_denoise_bregman_types never checks denoise_tv_bregman function"
In the function `test_denoise_bregman_types`

the lines [231-232](https://github.com/scikit-image/scikit-image/blame/master/skimage/restoration/tests/test_denoise.py#L231)
[code]
have to be replaced with:
[code]

[2020-02-15 21:23] hmaarrfk commented on #4447
nice find ;)

[2020-02-16 04:13] tacaswell commented on #4430
ok, builds are running now, but pytest is still failing and preventing upload, I'll look into fixing working around that tomorrow (suspect the "fix" will be to push a commit disabling running the tests, get the artifact, and then restore the check).

[2020-02-16 04:23] hmaarrfk commented on #4430
Have you all decided to upload wheels automatically after a successful build?

[2020-02-16 04:37] hmaarrfk commented on #4430
@tacaswell just as an FYI, we currently pull in the older 32 bit wheels from the wheelhouse.

If you don't want to support 32 bit matplotlib on Linux, we are happy to keep the status quo going and continue to pull them in from there.

[2020-02-16 12:20] rfezzani commented on #4294
The proposed decorator is for internal use only. I already listed its advantages here https://github.com/scikit-image/scikit-image/pull/4250#issuecomment-544980145.
Even if in #4250 the

argument trump everything, to me,

argument is a major one...

[2020-02-17 08:04] yxdragon opened #4450 "add distance_weight, base_level, invert in route_through_array"
I use route_through_array function, [here](https://forum.image.sc/t/weak-boundaries-extraction/34048/6) is the demo and show why features below are helpful.

1. add distance_weight parameter. total cost = pixel cost + distance * weight
2. add a base_level parameter, the value below are treated as zero, else value - base_value
3. may be an invert parameter is helpful, some times, we want to find th

[2020-02-17 09:03] jni opened #4451 "Builds failing due to new tifffile release"
## Description

Example failure: https://travis-ci.org/scikit-image/scikit-image/jobs/651311082#L2729

[code]

I forget where the `has no attribute '__reduce_cython__'` error comes from but we've seen it before...

[2020-02-17 09:36] #4447 closed

[2020-02-17 09:59] rfezzani commented on #3009
@jni

I agree, I am against implicit rescaling. The `preserve_range` argument is a good tool for giving the user control on the behavior of the functions.

I opened #4442 because I faced some confusion in #4424 to clearly define what should be the range of an alpha channel when dtype is not float, uint8 or uint16. Is the "junk in -> junk out" the right answer in this case? Isn't at least a warning

[2020-02-17 10:04] cgohlke commented on #4451
This exception is misleading and a known Cython issue. The AttributeError is raised instead of a proper error when an import of a module from within a Cython extension module fails.

In this case the numpy version seems too old:

`ERROR: tifffile 2020.2.16 has requirement numpy>=1.15.1, but you'll have numpy 1.14.1 which is incompatible.`

Tifffile and imagecodecs follow NEP 29 and now require num

[2020-02-17 16:31] hmaarrfk commented on #4451
Why do you think that the minimum version is 1.15.1?

https://gist.github.com/hmaarrfk/0e2a01d57f07f55eb99d177da92691b6

1.14 is the version of numpy that is 24 months old.

[2020-02-17 16:46] hmaarrfk commented on #4451
Don't take this the wrong way, you should be allowed to set the minimum version of numpy to whatever you want for tifffile. NEP 29 was set as a guideline because people were reluctant to updated the numpy pinning. We fall in that camp (for better or for worse).

Our build system pins the minimum versions for that particular build to what we believe is a set of minimal compatible versions. Without

[2020-02-17 17:03] rfezzani commented on #4451
NEP29 [drop schedule](https://numpy.org/neps/nep-0029-deprecation_policy.html#drop-schedule) and [support table](https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table)...

[2020-02-17 17:05] hmaarrfk commented on #4451
i see, my calculator is wrong then ;).

It should be from the date of releasing the X.X.0 version.

Thanks for the clarification.

[2020-02-17 17:10] hmaarrfk commented on #4451
FYI: I don't think our two approaches are contradictory, they are more "symbiotic".

[2020-02-17 17:11] rfezzani commented on #4451
I fully agree, I am :+1: your PR :wink:

[2020-02-17 17:50] Ahmedhabashi commented on #4398
@emmanuelle  Do you have any recommendation for me  regarding the last comment , I would be so grateful

[2020-02-17 20:00] hmaarrfk opened #4454 "Make CI fail on warnings"
## Description
There have been quite a few Issues/PRs involving deprecations.

I think it is pretty important to deprecate thing, but unfortunately, it is easy to underestimate the magnitude of such change to others' code. One proxy is how much it affects our test suite.

Often, tests are left to emit warnings (mostly benign) but sometimes they cause inconsistencies in the library
https://github.c

[2020-02-17 20:26] sciunto opened #4455 "Add definitions to glossary for disk and perimeter"
## Description

See [here](https://github.com/scikit-image/scikit-image/issues/4406) for the ambiguity we had in the library and [here](https://github.com/scikit-image/scikit-image/pull/4428#issuecomment-587132159) for the suggestion to add definitions to the glossary.

[2020-02-17 22:02] hmaarrfk commented on #4294
Is the decorator meant to be temporary or permanent?

[2020-02-17 22:03] hmaarrfk commented on #4294
I would really want https://github.com/scikit-image/scikit-image/issues/4454 to be accepted before moving on this deprecation.

I think that this deprecation is going to be insanely invasive and cause many headaches. I think it is important for us to understand the magnitude of the change, before we push it on to others.

[2020-02-17 22:04] hmaarrfk commented on #4406
See PR https://github.com/scikit-image/scikit-image/pull/4462 por favor! Which addresses a few warnings introduced by the first few PRs.

[2020-02-17 22:09] stefanv commented on #4406
What is the plan for implementing perimeter drawing now?

[2020-02-17 22:12] hmaarrfk commented on #4406
I think it is:
1. Keep the status quo until 2021
2. In 2021 deprecate circle_perimeer in favor of circle

[2020-02-17 22:18] rfezzani commented on #4294
The decorator is made to be part of the deprecation cycle. The deprecation cycle starts when a function is decorated and ends when the decorator is removed. So yes, clearly, the decorator is temporary.
I am :+1: for #4454

[2020-02-17 22:26] alexdesiqueira commented on #4406
I guess this one was written specifically for me :)

[2020-02-17 23:42] stefanv commented on #4406
And, there will be a keyword parameter on `circle`?

[2020-02-18 06:09] tacaswell commented on #4430
sorry, did not get to poke at this over the weekend, hopefully tomorrow.

I don't trust uploading directly from travis -> pypi, but they do go to the wheel house.

[2020-02-18 14:58] soupault commented on #4398
Closing as not an issue, but, please, feel free to continue the discussion here or ask from an image processing community at https://forum.image.sc/.

[2020-02-18 14:58] #4398 closed

[2020-02-19 05:23] VolkerH opened #4466 "Feature suggestion: passing user-defined measurement functions to regionprops"
I have encountered the following pattern a number of times now:

1. I segment objects and calculate regionprops and export them to a table. `regionprops_table`) already facilitates this workflow. This is often done because users at our microscopy facility ask me to write a script that calculates these features from images.
2. The users sometimes want to measure some additional property that  is no

[2020-02-19 06:22] jni commented on #4466
I think this is a great idea! I don't love the proposed API, but I definitely think we can come up with an API I'm happy with. =)

[2020-02-19 09:03] rfezzani commented on #4466
Yes, that's cool ;-). I would prefer the optional argument to be of the form `extra={'name1': func1, ...}` without caring about return dtype but it looks like a great suggestion :+1:.

[2020-02-19 10:45] VolkerH commented on #4466
The API can be different, this was just a quick sketch of one option, I care more about having the functionality. Another option would be to have a function such as

[code]
and after registering one or many additional measurements like this they can just be used using the existing `regionprops` or `regionprops_table` functions.

[2020-02-19 13:17] #4451 closed

[2020-02-19 13:36] jni commented on #4466
@VolkerH re: registering, I really do like the idea of arbitrary regionprops plugins. We could reuse the strategy from napari/napari#908, or more lightweight, something like our io plugins.

@rfezzani as currently implemented, the dtype is important because it specifies whether the property in the table is stored as an object or as one or more numeric types. e.g. the property `.image` has a differ

[2020-02-19 16:18] rfezzani commented on #4292
Confirmed! I can reproduce it :sob:  `resize` is also affected...

[2020-02-19 16:24] rfezzani commented on #4292
Thank you @franciscomcm for the report and sorry for answering so late :pray:

[2020-02-19 16:30] rfezzani commented on #2630
I am :+1: for this one to make `resize` and `rescale` behave the same.

[2020-02-19 16:34] rfezzani commented on #1585
I can't reproduce this one. Closing! ;-)

[2020-02-19 17:09] rfezzani commented on #1035
@stefanv, here is the output of your previous experimentation:
[code]
![down4_resize](https://user-images.githubusercontent.com/3438227/74856693-d2ee4900-5342-11ea-942b-a662d148c40a.png)
![down4_rescale](https://user-images.githubusercontent.com/3438227/74856701-d4b80c80-5342-11ea-86e1-5aacdd787983.png)
![down4_avg](https://user-images.githubusercontent.com/3438227/74856702-d681d000-5342-11ea-9b5c

[2020-02-19 18:30] stefanv commented on #4279
I think either clipping or using boundary modes is acceptable, as long as it is clearly specified in the docstring. @jni not sure what you mean by "will naturally fall out"; if you specify a starting and end point inside the image, all coordinates should be in the image.

[2020-02-19 18:31] stefanv commented on #4261
@hmaarrfk What is the status of this issue?

[2020-02-19 22:57] VolkerH commented on #4466
As long as it is easy for the end-user to register a measurement function (as in: does not require reading a lengthy tutorial but simply cutting and pasting some example code). I haven't looked at pluggy yet so can't say whether it fits the bill.

[2020-02-19 23:16] rfezzani commented on #4427
Fixed by #4446, thank you @erjel :tada:

[2020-02-19 23:16] #4427 closed

[2020-02-19 23:41] jni commented on #4279
@stefanv there is optionally a width to the line being measured, so you are actually measuring a rectangle, and some corners of the rectangle will fall outside the image even if you clip the start and end coordinates of the (mid)line of the rectangle.

[2020-02-20 00:59] hmaarrfk commented on #4261
I think we successfully moved up the Cython pinning.

Do you still want to remove the generated c files from the sdist?

I'm still -1 on adding back pyproject.toml.

[2020-02-20 01:17] tacaswell commented on #4261
I am still :+1: on removing the pre-generated .c files

[2020-02-20 03:34] hmaarrfk commented on #4261
I don't really know how to do that.

I couldn't find it in the numpy docs...

[2020-02-20 05:37] GenevieveBuckley commented on #4466
I think registering measurement functions is likely to introduce more complexity than the average user is willing to deal with. I'm +1 for passing in custom functions like Volker suggests.

[2020-02-20 10:51] rfezzani commented on #1390
Similar issues #1448 and #1635 being Fixed, I assume this one is also. Closing.

[2020-02-20 10:51] #1390 closed

[2020-02-20 11:06] rfezzani commented on #1472
Running the code of @indiajoe, no more IndexError is raised but a
[code]
Closing. Feel free to reopen ;-)

[2020-02-20 11:06] #1472 closed

[2020-02-20 13:16] rfezzani commented on #1712
Can't reproduce
[code]
Closing ;-)

[2020-02-20 13:30] rfezzani commented on #1784
Closing since #4423 deprecates `filters.rank.tophat` ;-)

[2020-02-20 13:30] #1784 closed

[2020-02-20 13:33] rfezzani commented on #3599
Closing since #4423 deprecates filters.rank.tophat ;-)

[2020-02-20 13:33] #3599 closed

[2020-02-20 13:42] rfezzani commented on #1832
#3600 fixes this issue. Closing ;-)

[2020-02-20 13:42] #1832 closed

[2020-02-20 13:44] rfezzani commented on #1831
Fixed by #3600, Closing ;-)

[2020-02-20 13:44] #1831 closed

[2020-02-20 16:00] rfezzani commented on #2105
I see [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L652) that this is no more an issue. Closing ;-)

[2020-02-20 16:00] #2105 closed

[2020-02-21 03:40] jni commented on #1712
@rfezzani we typically don't close when we can't reproduce until the user confirms that their problem has gone away also. In this case, it might be that NumPy has begun using a more accurate summation algorithm. @stefanv do you know whether this is the case?

@zpincus can you still reproduce this issue with current skimage and NumPy?

[2020-02-21 08:32] rfezzani commented on #1712
I for sure been too fast closing this one, sorry... :pray: Reopening!

[2020-02-21 08:48] stefanv commented on #1712
Need to verify that the failure no longer exists for the example in https://github.com/scikit-image/scikit-image/issues/1712#issuecomment-164779091

[2020-02-21 09:30] stefanv commented on #4261
I think you just have to remove them from the `MANIFEST.in`, and then ensure that `tools/check_sdist.py` passes.

[2020-02-21 09:47] rfezzani commented on #1712
OK, I hope that I correctly understood https://github.com/scikit-image/scikit-image/issues/1712#issuecomment-164779091. Here are the results that I obtain
[code]
Results seems correct.

[2020-02-21 11:23] jni commented on #1712
@rfezzani @stefanv but the failure might be architecture or compiler specific, hence why I wanted to be cautious about closing it.

[2020-02-21 13:28] rfezzani commented on #2219
The described border artifacts in https://github.com/scikit-image/scikit-image/issues/2219#issuecomment-516526979 are fixed by #4349. May be opening an other issue or PR to implement @anntzer approach would be a good idea. Closing this one ;-) Thank you all.

[2020-02-21 13:28] #2219 closed

[2020-02-21 13:59] rfezzani commented on #2258
Using the `order=0` for the interpolation fixes the issue.
[code]
It seems reasonable when a boolean array is provided (what means interpolating between `True` and `False`?).
Should we set the order to 0 when input dtype is bool?
May I close or do you still consider this as a bug?

[2020-02-21 15:15] rfezzani commented on #4292
OK, deactivating anti-aliasing fixes the issue!
I think that it makes sens when a bool array is provided as input to set `order=0` and `anti-aliasing=False` by default and to raise a warning if the user provides different values. I will open a PR for this.

[2020-02-21 17:56] stefanv commented on #2219
@rfezzani Please go ahead and open that issue for discussion, giving context.

[2020-02-21 18:39] stefanv commented on #1585
Checking in with @grlee77 as to whether he considers this resolved.

[2020-02-21 20:24] grlee77 commented on #1585
Actually, this particular inconsistency between 2D and 3D still exists, it just no longer occurs for the default `"reflect"` mode due to the renaming for consistency with `numpy.pad` that took place in #1583.

An updated code to reproduce the issue is given below by swapping out the name 'reflect' for 'symmetric'

[code]

There is still the related upstream issue that `scipy.ndimage`'s wrap differ

[2020-02-22 10:31] daniilhayrapetyan opened #4474 "Documentation: skimage.color ranges"
## Description

Sometimes it is difficult to guess the range of color space when using skimage.color. The problem is getting difficult because there is no standard, and different libraries suggest different ranges for the same color spaces.

For example LAB space in opencv and skimage have different ranges. It will be great to have the limit values documented.

[2020-02-22 12:56] rfezzani opened #4475 "Alternative CLAHE implementation"
## Description

 @anntzer [implementation](https://github.com/anntzer/clahe) of CLAHE shows good results (extracted from @m-albert https://github.com/scikit-image/scikit-image/issues/2219#issuecomment-516791949):

orig / skimage equalize_adapthist / @anntzer CLAHE
![clahe](https://user-images.githubusercontent.com/3438227/75092595-96f0f900-5579-11ea-9660-fe3fd3a5f7d7.png)

It could be a good candi

[2020-02-22 14:59] rfezzani commented on #1585
OK, sorry, I see the problem now, it comes from the mismatch between scipy and skimage  behavior on 'symmetric' mode. Isn't the `wrap` mode also affected according to your https://github.com/scipy/scipy/issues/2640#issuecomment-120079980?

[2020-02-22 15:08] rfezzani commented on #4474
I agree, this could be an excellent addition.

[2020-02-23 15:16] zihaozhang9 opened #4476 "haar_like_feature MemoryError: bad allocation"
`
    image1 = cv2.resize(image1 , ( int(image1.shape[1]/2),int(image1.shape[0]/2) ) )
    harr = haar_like_feature(image1, 0, 0, image1.shape[0], image1.shape[1], feature_type=['type-2-x', 'type-2-y'], feature_coord=None)
`
MemoryError: bad allocation
Exception ignored in: 'skimage.feature._haar._haar_like_feature_coord'
MemoryError: bad allocation

envs:
python 3.6
skimage 0.16.2
conda

[2020-02-23 17:19] hmaarrfk commented on #4476
Hi,

Thanks for reporting the issue.

Could you please provide the full reproducing example including loading or creating an image?
This typically starts with whatever import statements you have.

Finally, could you give the output of `conda list`.

Thanks!

Mark

[2020-02-23 17:57] #2258 closed

[2020-02-24 01:10] zihaozhang9 commented on #4476
Maybe the image size is too large. If you use a (5,5) size image, the code does not report an error. The calculation of harr features may be too much.

my code:
`

from skimage.transform import integral_image
from skimage.feature import haar_like_feature
from skimage.feature import haar_like_feature_coord
from skimage.feature import draw_haar_like_feature
import cv2
image = cv2.imread('zzh.jpg')
i

[2020-02-24 01:18] jni opened #4477 "Feature request: function to stitch together adjacent segmentations"
## Description

This was motivated by [this SO question](https://stackoverflow.com/questions/60358271/stitching-back-label-image-arrays-from-a-segmented-tiled-image). I think this is definitely a useful function in a general context. The approach should be similar to [distributed labeling from dask_image](https://github.com/dask/dask-image/pull/94), but with threshold values for the amount of over

[2020-02-24 01:23] jni commented on #4476
@zihaozhang9 how big is that input image, and would you be able to share it with us?

[2020-02-24 01:24] zihaozhang9 commented on #4476
（480，640）

[2020-02-24 03:57] hmaarrfk commented on #4476
yeah, it definitely blew up my memory trying it on a zero image.

Not otoo fun.

[2020-02-24 06:47] hectormz opened #4478 "Add additional thresholding algorithms e.g. Huang2 from ImageJ/FIJI"
## Description
I often use `ImageJ`/`FIJI` to test image processing, and then code in Python. It would be convenient if scikit-image included more of the thresholding algorithms that `ImageJ` [ships with](https://imagej.net/Auto_Threshold). I've already ported at least `Huang2`, which could be added to `scikit-image` with others over time. Is this worth adding to `scikit-image` or would another pa

[2020-02-24 07:07] jni commented on #4478
@hectormz I think it depends on how common each algorithm is. For skimage, we probably want to limit to the most commonly-used methods. Citations is one way to measure use, but other indications of common use would be fine.

For less common algorithms, we recently* started https://github.com/scikit-image/scikit-image-contrib, and you could submit those thresholding methods to `skimage_contrib/filt

[2020-02-24 11:10] rfezzani commented on #3892
Sorry @kne42 for this soo late answer

I think that it is a source of confusion and that it should be deprecated.

I would personally vote for a unique implementation with the use of an extra argument `return_labels` set by default to `False` and use something like
[code]
The internal functions must then use the "classify" version.

[2020-02-24 22:07] joefutrelle commented on #4375
`skimage` is a key part of our workflow for segmenting microscopic images of plankton for the purpose of estimating properties such as biovolume. The workflow was originally written in MATLAB, and `skimage`'s morphology operations allowed me to duplicate the output of the MATLAB code pixel-for-pixel.

In the process I had to implement a morphological thinning operation which I contributed and is n

[2020-02-25 05:52] hectormz commented on #4478
@jni Sure that makes sense. I only offered since I made it for myself, but don't think it would make sense to add any and all thresholding methods. Here is a quick table of the current methods in `FIJI`, the papers they reference, number of citations, and whether some form exist in `scikit-image`:

 Method | References | In scikit-image
-- | -- | --
Huang | Huang (1995): 903 |  
Huang2 | Alternati

[2020-02-25 06:57] jni commented on #4478
@hectormz thanks for that table! Very informative! I would say they all apply for inclusion in skimage, though probably we'd go for separate PRs. I'd suggest a unified Huang that works well for all data types. Also percentile probably we don't need since it can be readily used as `image > np.quantile(image, 0.75)` or whatever. (Unless I misunderstand that method.)

[2020-02-25 18:13] JDWarner commented on #3009
I do not know of any active use - or see a significant limitation - by outright deprecating int32/64 for image data.  However, I'd like to reach out to people in astrophysics, high energy physics, and analytical/physical chemistry to get a sense of the data they often engage with and how it comes off their sensors.  High precision/bit depth 2D spectrophotometers might, depending on how they are co

[2020-02-26 06:58] manish-tiwari commented on #3655
If that is the case then what should we do when one any package is not available in conda but exists in pip?

[2020-02-26 10:32] rfezzani commented on #4476
I confirm @hmaarrfk observation:
[code]
on a 32G RAM machine....

[2020-02-26 11:23] Cadair commented on #3009
I will investigate and get back to you. My gut reaction is that such data exists, but I am not sure.

[2020-02-26 19:50] alexdesiqueira commented on #3892
I'm kindly against this. Having several `return` within a function is not good for us—e.g. for tests, it's not nice to return different datatypes in the same function. We can have unexpected behavior—, and I'm personally tracking the functions where we use it. I aim for a cleaner code, and I'd like also to remove some arguments as `return_something`. Our API will thank us in the future :)

[2020-02-26 22:29] rfezzani commented on #3892
Good point, I :-1: myself :slightly_smiling_face: .

[2020-02-27 07:15] stefanv commented on #3892
If you want to motivate why a certain API decision is unwise, you have provide clear reasons.  The meaning of "not good for us" and "not nice" are a subjective aesthetics call.  I've heard this argument by Robert Kern on the NumPy mailing list before, so I believe that there is a rough consensus that using flags to determine output types is not ideal.  You can see why: you don't want a function to

[2020-02-27 12:43] rfezzani commented on #4476
I made some more tests / code review: in [_haar_like_feature_coord](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/_haar.pyx#L21) function, for a 200×200 image, we are trying to allocate 1608000000 `Py_ssize_t` elements! This corresponds to ~25.73G of Memory :scream: !!!

Did this function have been benchmarked before?

[2020-02-27 13:01] alexdesiqueira commented on #3892
@stefanv thank you for your points, and sorry if I was not clear enough. You can attribute the missing reasons here to my lack of substance.
W.r.t. the original issue, if we think on API consistency, @rfezzani have a point: `return_something` (or @kne42 's suggestion `as_mask`) is something we've done before. However, if the result in 2. is easy to compute, couldn't we implement a variation on cas

[2020-02-27 17:01] hectormz commented on #4478
Sure, I think anyone who is interested can take on remaining thresholding algorithms as they wish. But `Percentile` doesn't seem warranted. If there weren't two versions of `Huang` in `FIJI`, I would plan to exactly reproduce the same results, and then vectorize etc. to optimize the algorithms in python.

As the [FIIJI documentation notes](https://github.com/fiji/Auto_Threshold/blob/master/src/mai

[2020-02-27 17:09] SuborbitalPigeon commented on #4375
We've been making use of scikit-image for processing ultrasound C-scan images with a view to detecting defects. We've written a light wrapper around the various processing functions to make stringing them together into pipelines easier.

[2020-02-27 21:17] stefanv commented on #3892
The problem is with the case where you can *only* compute the secondary result effectively because of intermediate results that are available inside the function.

[2020-02-27 22:55] grlee77 commented on #3892
Yes, agreed. Here is a concrete example of this from `structural_similarity` (which varies what is returned based on both the `full` and `gradient` boolean arguments!)
https://github.com/scikit-image/scikit-image/blob/011058708988589b523ea524a270acc2737de0e5/skimage/metrics/_structural_similarity.py#L216-L232

[2020-03-02 07:27] keshav99 commented on #3941
Downgrading to 0.15.0 worked for me. Even in pipenv it didn't work for 0.16.2

[2020-03-02 22:35] alexdesiqueira commented on #3509
Tested again today, cannot reproduce. Matplotlib `3.1.3`.
Can you please try to update and reproduce @jaewooklee93? If not, I think it's safe to close this one @sciunto.

[2020-03-03 06:34] #3578 closed

[2020-03-03 08:41] rfezzani commented on #3892
If we decide to follow the rules stated by @stefanv, `_structural_similarity` API should be modified according to **1.**, right?
Do we need to follow these rules over all `skimage` API? If so, it is may be necessary to add them to the contribution guide.
Btw, I am :+1: with @alexdesiqueira proposition:

[2020-03-03 16:33] emmanuelle opened #4486 "2020's calendar of community management"
As an experiment, we are trying to set up a rotating duty to take a first look at all contributions (PRs and issues) from the community, label them and ping relevant reviewers.

Scripts for generating the reports are available [in this repository](https://github.com/scikit-image/boilerplate-utils).

**mar/2020**
- 2020/03/02 - 2020/03/08: @emmanuelle
- 2020/03/09 - 2020/03/15: @jni
- 2020/03/16 -

[2020-03-03 16:37] HazenBabcock commented on #4194
It looks like a rounding error, if you multiply everything by 10 you get more sensible results.

[code]

[code]

[2020-03-03 16:58] HazenBabcock commented on #4194
This is very ad-hoc, but if you change `h_maxima` in `morphology/extrema.py` to:

[code]

Then the example works as expected.

[2020-03-03 20:12] emmanuelle commented on #4194
@HazenBabcock thanks a lot for taking a look! Are you interested in working in a pull request in order to correct this bug? We can help you of course in this process, if you wish.

[2020-03-03 20:53] emmanuelle opened #4488 "Add a link to forum at the bottom of gallery examples"
In order to increase participation to the Image.sc forum, we could add a footer in example pages saying "We hope that this example was useful. If you have question unanswered by our documentation, you can ask them on the Image.sc forum...".

I wonder what the best technical solution for this would be; either defining an html template for gallery pages (I think we're using the same for all pages of

[2020-03-03 21:03] HazenBabcock commented on #4194
@emmanuelle Sure, happy to try.

[2020-03-03 21:34] emmanuelle commented on #4194
Great, thank you so much :-)! One difficult part is maybe to add a unit test which would fail currently and pass if you can fix the bug, but if the current test suite passes and the example of @w-hc is fixed (when testing manually), this will definitely be an improvement.

[2020-03-04 07:21] vamsiinmicron commented on #3655
This worked

[2020-03-04 11:51] jni commented on #4488
I love this idea as you already know! Different html template seems the way to go.

[2020-03-04 11:59] jni commented on #3655
@manish-tiwari

As a last resort, you install it with pip. @hmaarrfk did not mean that as a hard rule but as a guideline. Ultimately, mixing pip and conda can lead to incompatible compiled binary code (code like NumPy that is not written in Python but rather C with Python "bindings", meaning ways to access the C code), at which point you usually have to start with a fresh environment.

[2020-03-04 13:15] rfezzani opened #4489 "Update haar_like_feature_coord API"
## Description

I am actually [working](https://github.com/rfezzani/scikit-image/blob/Refactor_haar_feature/skimage/feature/_haar.pyx) on fixing #4476.

I feel like the API of [`haar_like_feature_coord`]( https://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.haar_like_feature_coord) is not intuitive nor optimal: it actually returns

- `feature_coord`: an array of lists of diff

[2020-03-04 14:07] emmanuelle commented on #4489
@glemaitre any comments about Riadh's proposition to change the API of `haar_like_feature_coord`? @rfezzani how would this new API integrate with for example passing the features to a scikit-learn classifier?

[2020-03-04 14:12] rfezzani commented on #4489
Looking at the doc [example](https://scikit-image.org/docs/dev/auto_examples/applications/plot_haar_extraction_selection_classification.html#sphx-glr-auto-examples-applications-plot-haar-extraction-selection-classification-py) it looks like this function is only used for visualization, but I am may be mistaken here...

[2020-03-04 14:20] emmanuelle commented on #4489
ok, got it, it's more a utility function.

[2020-03-04 14:39] emmanuelle commented on #4489
I think it makes sense, if @glemaitre has the time to comment it would be great to have his opinion. While I was looking at the gallery example I found a couple of small things to improve so I opened #4490, which should be easy to merge :-).

[2020-03-04 18:57] HazenBabcock commented on #4194
I think I have a test and fix in my fork, feedback welcome. It is two commits, test first so that you can see the failure without the fix.

I should also fix `extrema.h_minima()`?

This still doesn't work correctly for the h = 0.0 case however. Should that be documented as ambiguous? Or should this give the same results as `extrema.local_maxima()`?

[2020-03-04 19:30] emmanuelle commented on #4194
Awesome! Could you please open a pull request from your branch so that we can comment on the pull request? If you think that `h_minima` needs to be fixed in the same way, yes, please, that'd be great :-).

For `h=0.0` this is definitely a corner case; I would suggest to raise a `ValueError` and mention `local_maxima` in the error message. Would that seem reasonable to you? I'd prefer users to use

[2020-03-04 20:27] HazenBabcock commented on #4194
Hmm, I think I just found another bug, possibly in both versions. If h is greater than the maximum difference in the image `h_maxima` will still return the highest maxima in the image. I'm pretty sure that in this case it should return nothing, so some more work to do here.

[2020-03-04 20:39] emmanuelle commented on #4194
Good catch, thanks. If you think this other bug comes from the reconstruction function (hopefully not) you can open another issue which will be fixed later, as you wish.

[2020-03-04 21:53] HazenBabcock commented on #4194
Another issue is that `h_maxima` is silently upgrading `shifted_img` to numpy.float64 if `h` is not an integer. Should we enforce that the type of `h`  matched that of `image`?

[2020-03-04 22:12] emmanuelle commented on #4194
Hum, this _would_ be a breaking change. It does not make much sense I think to provide a float `h` when `image` is of integer type - or maybe it does for half integers? I'm not sure. One possibility would be to modify the docstring, which is inexact at the moment (it says that `h` is integer, but it's a scalar). We could mention that there will a cast to float if `h` is float and `image` is intege

[2020-03-05 03:27] VolkerH commented on #4138
I have a similar issue that might likely be solved by the dispatch code snippet that @jni posted above. It is a 4-channel tiff file and I guess a plugin other than tifffile may be called. I get a different dimension ordering:

Sorry, this is not a stand-alone bit of code, but I'm sure you get it:
[code]

Output:
[code]

[code]

I haven't looked into the source code, but I assume that a backend suc

[2020-03-05 04:00] emmanuelle commented on #4138
@rbavery did you have any chance to work on the PR :-) ?

[2020-03-05 05:57] hmaarrfk commented on #3655
Thanks for better explaining my thoughts jni.

We really want to do our best to help people still experiencing a similar issue.

Opening a new on GitHub is the best way to do that. Feel free to open them!

[2020-03-05 06:15] sciunto commented on #4486
I can take the duty during the week 2020/03/29 - 2020/04/05

[2020-03-05 06:46] cgohlke commented on #4138
That is expected. Skimage promises to return an array where the samples (color bands/channels) are in the last dimension, while tifffile keeps the dimension order as described in the TIFF tags (except for some files using JPEG compression):

https://github.com/scikit-image/scikit-image/blob/d212cb5100abbb0c5c50cc340b766cae8e368d55/skimage/io/_io.py#L35-L40

The implementation is not foolproof as g

[2020-03-05 12:05] zaccharieramzi opened #4491 "Possibility to have ellipses in random shapes"
## Description

It could be interesting to have the possibility to draw random ellipses when using the [`random_shapes` function](https://scikit-image.org/docs/dev/auto_examples/edges/plot_random_shapes.html).
Random ellipses are often used as a toy example for different research papers, e.g.:
- https://arxiv.org/abs/2001.01258
- https://arxiv.org/abs/1707.06474

I can definitely try and submit a

[2020-03-05 13:32] emmanuelle commented on #4491
Hi @zaccharieramzi ! Thanks for proposing to implement this feature, this would indeed be a useful addition.

[2020-03-05 15:13] olebole opened #4492 "Documentation doesn't build with Python 3.8"
## Description

Since a few days, the default Python for Debian "unstable" is Python 3.8, which also means that we use this version to build the documentation.

However, when trying to run sphinxdoc, we run into the following failure:
[code]
The `SyntaxError` repeats for other example files in `doc/examples`. The full traceback
[sphinx-err-tw7kje7q.log](https://github.com/scikit-image/scikit-image

[2020-03-05 15:42] rfezzani opened #4494 "Possible over/underflow in skimage._shared.transform.integrate"
## Description

in [`skimage._shared.transform.integrate`](https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/transform.pyx#L7), when the fused type [`integral_floating`](https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/transform.pxd#L5) is an unsigned integer, over and underflow may occure...

Btw, the `integral_floating` fused type is a redefinition

[2020-03-05 16:07] MartSlaaf opened #4495 "Probably the wrong way to access slices of multipage TIFF used"
## Description
For my project, I do need to access the random slices of large multipage tiff files (~5k pages). Holding such volumes in RAM is infeasible, so I need fast random reading. Initially, I was using the `skimage.io.MultiImage` for it, but I discovered that the speed of reading the random slice is way slower than possible. I will provide the function I used for comparison and the sketch o