[2017-08-14 08:23] #2756 closed

[2017-08-14 09:08] pd-Shah commented on #2756
but u are removing all floating numbers:

[code]
I am going to make a mean filter on **float array** with window_size=3 for example.

[2017-08-14 09:17] soupault commented on #2756
@pd-Shah please, make sure you read the link I provided.

If you need to work with `float` arrays, they must be scaled [0:1] (or [-1:1]) (which is the exact thing the error tells you).

[2017-08-14 09:33] pd-Shah commented on #2756
then is this True :

[code]

[2017-08-14 10:13] jni commented on #2755
Thanks for the suggestion of OrderedDict @JDWarner! I think this is the right approach: do the work of changing the internals to an ordered dict, cast that to list(values) to return current (deprecated) behaviour, then switch to ordered dict at some release.

[2017-08-14 15:48] soupault commented on #2756
The code is correct.
Although, if you take a thorough look, you'll see that the data range is not preserved. That is because we do not give any guarantees (`skimage.filter.rank.mean` is supported for uint8/uint16 images only):
[code]

[2017-08-14 18:32] #2545 closed

[2017-08-14 18:43] stefanv commented on #2755
Python 3.6++

+1 on option (1), moving to the dictionary API.

[2017-08-15 17:50] stefanv opened #2758 "`peak_local_max` takes a very long time to complete"
From [StackOverflow/45682644](https://stackoverflow.com/questions/45682644/watershed-segmentation-in-python-with-skimage-does-not-stop-running):

The following script computing `peak_local_max` on a binary image takes a *very long time* to complete.

[code]
![test](https://user-images.githubusercontent.com/45071/29328440-675593fc-81a7-11e7-8940-c6be646002b8.png)

[2017-08-15 20:28] soupault commented on #2758
30 seconds on a moderate laptop. skimage 0.13

[2017-08-16 01:33] onobruno commented on #1623
I was facing the same problem and saved the image using the "misc.imsave" instead "io" module. This way I am not getting the black images.

[2017-08-16 13:16] Borda commented on #2646
I would incorporate the function skimage.draw.ellipse_perimeter inside skimage.measure.fit.EllipseModel().predict_xy and change the class EllipseModel (estimation) according to this prediction to have homogenous behavior across library...
I am already working on it for my personal usage so I could place it here too

[2017-08-17 08:55] Borda commented on #2646
well, there is no consistency in rotations in ellipse and ellipse_perimeter in the same module

[code]
![figure_1](https://user-images.githubusercontent.com/6035284/29404126-395bc41a-8375-11e7-9207-b4de3b56ab6d.png)

[2017-08-17 10:35] Borda commented on #2646
and once more, what is the relation between ellipse and ellipse_perimeter? should it be the boundary?

[code]
![figure_1](https://user-images.githubusercontent.com/6035284/29408438-272d6e98-8383-11e7-854f-d4e7006045f3.png)

[2017-08-17 10:44] Borda commented on #2646
@jni coming back the original issue, what you plot was the problem with version v0.12 with the gradient descent which I corrected with the moment method, the up-to-date version v0.13 seems to work fine :]

[code]
[49.49..., 49.49..., 69.02..., 2.26..., 0.78...]

[2017-08-18 15:31] jakirkham opened #2759 "regionprops moment computation"
Am a little concerned about how the moment computation for [`regionprops`]( http://scikit-image.org/docs/dev/api/skimage.measure.html#regionprops ) is being done currently. For instance, in the example below would expect that all moments would equal `1`. However it appears that only M<sub>00</sub> is `1` and everything else is `0`. Though maybe I'm missing something.

Example:

<details>

[code]

[2017-08-18 16:46] stefanv commented on #2759
+1 for using `<details>`!

This looks like a bug to me.  A reminder of how moments are calculated:

![image](https://user-images.githubusercontent.com/45071/29468677-1edbb642-83fa-11e7-860a-c2734cb3ecf3.png)

[2017-08-19 03:50] augmen opened #2760 "Alternative to opencv"
Is scikit -image is alternative to opencv ?

[2017-08-19 06:11] stefanv commented on #2760
It depends a lot on what you want to do.  OpenCV is currently a better option for real time video stream processing, while we feel that scikit-image has a more Pythonic API for general image processing building blocks.  I suggest you scan the API docs for both libraries, and choose whichever best suits your problem.  The two libraries both expose NumPy arrays, and can be used together without a pr

[2017-08-19 06:11] #2760 closed

[2017-08-19 13:43] jni commented on #2759
It's not. The coordinates (x, y) are summed relative to the object coordinates, not the global image coordinates. So x and y are both zero in your example. Hence:

[code]

[2017-08-19 13:43] #2759 closed

[2017-08-19 15:04] jakirkham commented on #2759
Could you please explain how the coordinates are made relative? Found the docs to be ambiguous on this point.

[2017-08-19 17:10] jakirkham commented on #2759
TBH I'm a little confused as to why one would want to make the ordinary moments relative. Why not just use central moments, which are already made relative?

[2017-08-19 17:53] jni commented on #2759
@jakirkham I think virtually all properties in a RegionProps object `p` are computed on `p.image`, rather than on the source image. `p.image` contains the image in the minimal bounding box surrounding the current label. Does that make sense? And do you have an application that wouldn't be covered by `measure.moments`?

[2017-08-20 05:56] pd-Shah opened #2763 "matlab bwareaopen function equivalence in skimage"
I want to convert this `matlab` code to `python`:

**Matlab:**
`bwareaopen(X,50,8)`

**python**:
` morphology.remove_small_objects(X, min_size=50, connectivity=8)`

1.   is `remove_small_objects` same as `bwareaopen`?

2.    `X` array contains `0` and `1` and `None`, then must be `float` type(because of `nan`)
but `remove_small_objects` function just accept `int` value. how fix this ?

[2017-08-20 18:24] soupault commented on #2646
From my point of view, both should follow "0 deg == to the right, anti-clockwise".

Should be the boundary (i.e. ellipse should fully contain ellipse_perimeter pixels).

And, I think, we should add `predict`/`predict_rc` to EllipseModel.

[2017-08-21 06:42] soupault opened #2764 "Error testing `skimage.future.graph`"
## Description
Travis CI tests are failing on Py2.7, Py3.5 builds with PIP_FLAGS="--pre".

See https://travis-ci.org/scikit-image/scikit-image/builds/266132666 or https://travis-ci.org/scikit-image/scikit-image/builds/266585608 .

## Way to reproduce
<details>

[code]

[2017-08-21 18:47] stefanv commented on #2764
/cc @jarrodmillman

[2017-08-21 19:02] stefanv commented on #2646
The generally accepted angle convention is (I think) angle measured anti-clockwise from positive X-axis.

@jni Are you still planning on doing a `.transform_xy` module?

My feeling is ellipse should be fitted on the object hull.

[2017-08-21 20:49] stefanv opened #2765 "Does `hough_line`'s `min_angle` parameter function correctly?"
From https://stackoverflow.com/questions/45782927/what-is-the-meaning-of-min-distance-and-min-angle-in-hough-line-peaks

[code]

[code]

[2017-08-21 20:55] stefanv commented on #2763
We don't have support for masking, so how would you like the operation to behave with NaNs?

I cannot comment on the similarity between `bwareaopen` and `remove_small_objects`; I do not have a Matlab license.

Please continue further discussion on the mailing list; we reserve this space for development issues.

[2017-08-21 20:55] #2763 closed

[2017-08-21 21:44] stefanv commented on #2759
@jni I guess the most obvious one is the centroid, which can also be useful outside the object.  But as the order increases, it becomes less clear how those would be useful, so I guess what we currently have is correct.

[2017-08-21 21:55] stefanv commented on #2753
Benchmark, please?

[2017-08-22 10:27] soupault opened #2767 "Improve `skimage.feature.CENSURE` references"
## Description
See https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/censure.py#L148-L156 . The first reference is behind a pay-wall, the seconds one is broken.

[2017-08-23 02:47] l3robot opened #2769 "The doc says it returns an image, but the modification is actually in-place"
https://github.com/scikit-image/scikit-image/blob/93e9d90bb3bb9d04e55a5087996e87efe2fb8fdb/skimage/draw/draw.py#L312

[2017-08-23 17:42] stefanv commented on #2769
To be fair, the docstring does not state that it does *not* modify the image.  But, I completely see your point; would you mind filing a PR updating the docstring?

The idea behind `set_color` is exactly to modify the array in-place.

[2017-08-24 07:42] soupault commented on #2769
Closed via #2771.

[2017-08-24 07:42] #2769 closed

[2017-08-24 11:38] jni commented on #2764
Pretty sure this is a NetworkX 2.0 error. The beta went live a few days ago and includes many many API changes. Perhaps we should pin the dependency at 1.11?

[2017-08-24 17:15] guihh commented on #2765
hey, i'm the author of the stackoverflow's post. i found that using `theta = np.linspace(-np.pi/2,np.pi/2,1801)`, i get value's angle with true 0.1 degree resolution. Is this normal ? ( you are using 180 as default value for theta but **i'm not getting whole value** when converted to degree, but i get whole value with 181 ...)

[code]

`output : [200, 132, 132] [-45. , -44.7, -45.3] [ 0.50088496,

[2017-08-24 21:52] stefanv commented on #2764
@jarrodmillman is sorting this out for us.

[2017-08-25 18:20] #2767 closed

[2017-08-27 06:04] soupault opened #2777 "Reorganizing files in the root directory"
Originally posted by @jarrodmillman in https://github.com/scikit-image/scikit-image/pull/2775#issuecomment-325161048.

If you want to declutter the root directory, you could move the following files:
1. [x] __( See https://github.com/scikit-image/scikit-image/pull/2800 )__ ``TASKS.txt`` could be included directly in ``doc/source/contribute.rst``.  The name ``TASKS`` doesn't seem to match the conte

[2017-08-27 06:08] soupault opened #2778 "Revert Travis config changes"
## Description
Revert https://github.com/scikit-image/scikit-image/pull/2774 once https://github.com/scikit-image/scikit-image/pull/2766 is merged.

[2017-08-27 08:54] #2557 closed

[2017-08-27 21:44] stefanv commented on #664
Closed by https://github.com/scikit-image/scikit-image/pull/2776

[2017-08-27 21:44] stefanv commented on #1988
Closed by https://github.com/scikit-image/scikit-image/pull/2776

[2017-08-28 04:12] #664 closed

[2017-08-28 04:12] #1988 closed

[2017-08-28 07:20] jni commented on #2755
@stefanv as an aside, the insertion order preservation from Python 3.6 is not yet a guarantee, though the buzz around PyCon on Twitter was that they would have no choice but to make it a guarantee because it was so popular. Nevertheless, I think this means we should stick to OrderedDict for this change?

[2017-08-28 22:06] stefanv commented on #2755
@jni Yes, agreed

[2017-08-29 16:25] Phlya opened #2783 "randomwalker error"
## Description
I am trying to use the randomwalker segmentation method, which seems to be generally superior to watershed. However on some images or with certain pre-processing I get a strange error. When I apply the same code to the same image with different gaussian smoothing (i.e. different sigma) it can either work, or not! The same applies to identically processed z-slices of the same 3D-imag

[2017-08-29 18:04] #2764 closed

[2017-08-29 18:16] soupault commented on #2778
Closed via #2766 .

[2017-08-29 18:16] #2778 closed

[2017-08-31 09:47] emmanuelle commented on #2783
This looks like a bug. I'm looking into it.

[2017-08-31 09:55] soupault commented on #2777
For the discussion on `TODO.txt` future see https://github.com/scikit-image/scikit-image/issues/2651.

[2017-08-31 15:04] emmanuelle commented on #2783
OK, so here's a minimal example reproducing the bug. The problem appears when you have seed pixels which are not connected to unlabeled pixels, but just to background pixels. When you change the value of sigma unlabeled regions get typically bigger to you don't have this problem.

[code]

[2017-08-31 15:23] emmanuelle commented on #2783
As a quick workaround I left out isolated seed regions, as in the code below. You can use this solution until we correct the bug.
[code]

[2017-09-01 05:48] jondo commented on #2742
@emmanuelle: Perhaps [adding the deprecation warning](http://scikit-image.org/docs/stable/contribute.html#deprecation-cycle) alone is easy? I would like to try it as my first time contribution at today's EuroPython coding sprint.

[2017-09-01 05:51] soupault commented on #2742
@jondo it should be pretty straightforward. It would be even better if you add a deprecation message also to the header of http://scikit-image.org/docs/stable/api/skimage.novice.html.

[2017-09-01 05:53] jondo commented on #2742
Yes, I thought it should be similar to [this depracation of sklearn/cross_validation.py](https://github.com/scikit-learn/scikit-learn/blob/65792205887c37316dd7da348179652d13e79b78/sklearn/cross_validation.py#L37).

[2017-09-01 13:08] #2742 closed

[2017-09-01 14:53] Phlya commented on #2783
Thanks for looking into it and suggesting a workaround @emmanuelle!

[2017-09-02 01:11] #2523 closed

[2017-09-02 11:27] emmanuelle commented on #2783
You're welcome @Phlya Sorry for the inconvenience with the bug!

[2017-09-02 16:05] emmanuelle commented on #2360
@hugues-talbot sorry I didn't see your issue earlier, I must have been busy when you opened it ;-).

Yes, the problem seems related to a numerical convergence problem, since decreasing tol solves it, and decreasing the value of beta also solves it. ``tol`` is passed to the linear solver (``scipy.linalg.cg`` for ``cg`` mode, with a multigrid ruge_stuben_solver preconditioner for ``cg_mg``). It woul

[2017-09-05 16:05] Phlya opened #2792 "minor_axis_length for 1 pixel objects"
## Description
When an object has a width of 1 pixel, `minor_axis_length` (from `regionprops`) equals 0, while I expected it to be 1. Same goes for `major_axis_length`, if the object is just one pixel.
I would expect to never get zero width, since if width equals 0 then there is no object... This is very annoying when checks like `p.major_axis_length/p.minor_axis_length>1.5` raise a `ZeroDivisionE

[2017-09-05 17:16] NicholasJohnson9149 commented on #2350
I seem to be getting this same warning, how do I get ride of it? skimage_deprecation: Default value of `block_norm`==`L1` is deprecated and will be changed to `L2-Hys` in v0.15
  'be changed to `L2-Hys` in v0.15', skimage_deprecation)

[2017-09-05 17:35] coderforlife commented on #2350
@NicholasJohnson9149 This wasn't about a warning, this was about the fact that L1 used to be the only method. To get rid of the warning use a newer block normalization, like the following:
[code]

[2017-09-05 18:43] stefanv commented on #2792
We should probably clip the result to 1, minimum, but also check carefully what happens for 2 pixels etc.

[2017-09-06 19:49] soupault commented on #2350
I agree that the warning (as it is currently implemented) is kind of annoying, but I couldn't come up with a more convenient alternative. Setting `block_norm` to `L2-Hys` (as @coderforlife already mentioned) should fix the issue.

[2017-09-07 02:56] isalirezag opened #2793 "Help debug faulty installation"
Does anyone know what is the problem with SSIM?
I cannot import neither find it.
I can successfully import skimage
but when i try

from skimage.measure import compare_ssim as ssim

it gives me this error:
ImportError: cannot import name compare_ssim

[2017-09-07 03:50] stefanv commented on #2793
What is the output of

[code]

[2017-09-07 04:56] isalirezag commented on #2793
0.13.0

[2017-09-07 05:07] stefanv commented on #2793
How about:

[code]

[2017-09-07 05:13] jni opened #2794 "Discussion about APIs in skimage"
This issue is meant to hold the discussion started by @JDWarner in https://github.com/scikit-image/scikit-image/pull/2773#issuecomment-327069240. I've reproduced his comment and @emmanuelle's response below. Mine will follow in the next comment.

--------------

Quoting @JDWarner:

@emmanuelle thanks for raising the API question.  We should think deep thoughts about API more often.  I've been pond

[2017-09-07 05:26] jni commented on #2794
@JDWarner, others will speak for themselves but as for me, your first (OO) option made me nauseated. I really hope skimage stays away from such constructs. In this case, a list and a simple utility function could improve the reusability of the functional version, while remaining much simpler:

[code]

There are many advantages to my eyes, but the main ones are:
- familiarity. The functional versio

[2017-09-07 05:28] jni commented on #2794
@JDWarner I apologise for the "nauseated" wording, re-reading makes me nauseated at my own choice of words. =P But suffice it to say, I don't like the OO API.

[2017-09-07 05:47] stefanv commented on #2794
!(Thimbleweed Park, Agent Reyes)[https://storage.googleapis.com/images.thimbleweedpark.com/vomit_reyes.gif]

[2017-09-07 05:51] stefanv commented on #2794
With OO, my general approach is to not use it, unless significant state needs to be carried around (which, in this specific case, I don't think needs to happen).

[2017-09-07 06:38] jni commented on #2794
@stefanv LOL That GIF was even less necessary than my initial comments!

[2017-09-07 07:09] stefanv commented on #2794
@jni @JDWarner is an MD; I'm pretty sure this sort of thing doesn't phase him in the least.

[2017-09-07 10:59] jni commented on #2794
*faze

[2017-09-07 13:04] retsyo opened #2795 "plot_matches does not draw lines"
I use `scikit_image‑0.13.0‑cp36‑cp36m‑win_amd64.whl` from http://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image on my `Python 3.6.0 |Anaconda custom (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)] on win32` which has `matplotlib‑2.1.0rc1‑cp36‑cp36m‑win_amd64.whl` from http://www.lfd.uci.edu/~gohlke/pythonlibs/#matplotlib

I tested the code from http://scikit-image.org/docs

[2017-09-07 13:23] retsyo commented on #2795
sorry, I found this has been fixed in the git-cloned code. Please close this. Thanks

[2017-09-07 16:21] #2795 closed

[2017-09-07 17:27] isalirezag commented on #2793
['CircleModel', 'EllipseModel', 'LineModel', 'LineModelND', '__all__', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', '_ccomp', '_find_contours', '_find_contours_cy', '_label', '_marching_cubes_classic', '_marching_cubes_classic_cy', '_marching_cubes_lewiner', '_marching_cubes_lewiner_cy', '_marching_cubes_lewiner_luts', '_moments', '_moments_cy', '_pnpoly', '_polygo

[2017-09-07 17:34] isalirezag commented on #2793
now that im trying:
ssim = measure.compare_ssim(A,A)
it sounds like working!!!

[2017-09-07 17:34] #2793 closed

[2017-09-08 22:07] isalirezag opened #2796 "how to use ssim like ssim()"
I have seen people use
`loss = nn.BCELoss()` to define their loss function.
Is there any way that I can use
`loss = ssim()`.
I followed the skimage tutorial/example and it works. but I am not sure how I can define my loss like that.
if I define `loss = ssim()`, it gives me an error that

Thank you for your help in advance

[2017-09-08 22:24] deads commented on #904
What's the status of this contribution? I think its inclusion would be very useful.

[2017-09-08 22:27] stefanv commented on #2796
Sorry, these issues are for tracking technical problems related to skimage only.  Please ask for help on the mailing list, if your question is scikit-image related (I don't know what nn is, so can't help there).

[2017-09-08 22:27] #2796 closed

[2017-09-10 20:37] ThomasWalter opened #2797 "H-extrema"
## Description
There is some question about the definition h-maxima / h-minima. I found several articles defining them differently. In the original work by Grimaud and Vachier, h-maxima were defined as the regional maxima of the image R_f(f-h) (reconstruction by dilation with mask f and marker f-h). In Soille, h-maxima is defined simply as R_f(f-h). Importantly, the output is thus a filtered versi

[2017-09-11 02:28] jni commented on #904
@deads Thanks for reviving this! I can't speak for everyone in this thread but as for me, the paper remains in my shortlist of "to implement" papers, I just haven't found the time for it! PR welcome as usual but otherwise it'll happen... At some point.

[2017-09-11 10:20] shivamqainfotech opened #2798 "Unable to install, showing you the logs, please help me."
[code]

[2017-09-11 13:30] soupault commented on #2798
Seems to me that you are trying to install `scipy` on Windows via `pip`, which is not the best option currently. You should consider using pre-build wheels for `numpy` and `scipy` on Windows (see http://www.lfd.uci.edu/~gohlke/pythonlibs/ ), and only then try to install `scikit-image`.

Closing as not a bug, but feel free to continue the discussion here.

[2017-09-11 13:30] #2798 closed

[2017-09-11 21:28] stefanv commented on #2797
In the description above, it's unclear to me the difference between Grimaud and Soille's definitions?

I don't have enough knowledge to help on the issue; but I did read the current description in the docstring, and realised that it's not very helpful; so I am glad you are looking into improving it.  Thank you!

[2017-09-12 06:53] soon-will opened #2799 "No module named 'skiamge.util.invert'"
When importing the module ```invert``` , I have an import error saying
[code]
This is my code:
[code]
Operating system: Windows 10
Python version: 3.5
scikit-image version: 0.13.0

[2017-09-12 07:06] stefanv commented on #2799
That function is not yet available in 0.13.

[2017-09-12 07:06] #2799 closed

[2017-09-12 07:14] ThomasWalter commented on #2797
No problem for reformulating the doc. Problem is that the exact definition remains always a bit complicated (and maybe not very useful as you say), but it is challenging to provide something else than the exact definition without making a wrong statement. But I am happy to give it a try.

However, here the issue is also about changing the code.
- Soille (and MATLAB) say h-minima are a filtered ver

[2017-09-12 07:18] ThomasWalter commented on #2797
And Soille/MATLAB call "extended minima", what Vachier/Grimaud call "h-minima".

[2017-09-12 19:45] stefanv commented on #2797
Why don't we implement both, with documentation guiding the user towards which version to use, and their various attributes, strong/weak points, etc.?

[2017-09-13 17:26] stefanv commented on #2765
As user Eskapp explained on S/O, this may be a documentation issue, rather than an actual error in the implementation:

https://stackoverflow.com/a/46198201/214686

[2017-09-13 17:45] stefanv commented on #2783
@emmanuelle Any luck in figuring out a patch for this problem?

[2017-09-13 18:15] Eskapp commented on #2765
Hello,
I am the person who wrote the S/O answer. I can help clarifying the documentation if someone explains to me how I can do so.

[2017-09-13 18:59] guihh commented on #2765
Hey,

Thank you for your well explained answer on S-O ! But i'm still confused with the output of houghline_peaks() ...

[code]
output [200 132 132] [-45.  -44.7 -45.3] [ 0.50088496  1.50265487 -0.50088496]

This should output only [200] [-45.] [ 0.50088496], according to [bin - min_dist: bin + min_dist, bin - min_angle:bin + min_angle] ... Am i wrong ?

[2017-09-13 19:12] Eskapp commented on #2765
No, all the returned distances are different. `min_distance=0` will only impacts peaks that would lie in a bin corresponding to the exact same distance parameter than a previously found peak. I don't know what the default distance resolution is **(the documentation should precise this too by the way)**.

If you set `min_distance` to a value that is big enough, keeping the same `min_angle`, the thi

[2017-09-13 20:00] guihh commented on #2765
Why using min_angle=50 (in my exemple 0.5degree) won't discard the 2 others peaks ? I saw that _prominent_peak() used in hough_line_peaks() was using filtermaximum1d() from scipy so it should discard it regardless of the min_distance parameter ?

Thank for your answer, i've also asked the question on S-O.

[2017-09-13 20:03] stefanv commented on #2765
@Eskapp That you for your willingness to help out here; much appreciated.  I will very happily help you with the Git process.  Here's our guide for new contributors:

http://scikit-image.org/docs/dev/contribute.html

If there are any details missing from that document, just let me know and I'll update it.  Thanks!

[2017-09-14 14:35] alexpawlowski opened #2801 "Choose 8 as opposed to default of 4-connectivity in measure.regionprops perimeter"
I realize the trade-offs between additional functionality at the expense of maintainability / good scientific practice, but is there a way to allow a user to select the `neighbourhood` when calculating perimeter to use `8` rather than just the default `4`?

I have some small labeled regions with areas smaller than 20 pixels that are returning perimeters that would correlate with a circularity over

[2017-09-15 07:12] stefanv commented on #2801
I don't have strong feelings about this one; I'd be happy with 8 being the default too.  At this point, however, it would be hard to implement that without breaking existing code.  We could always add `.perimeter8` or `perimeter_diag`?

[2017-09-15 08:51] jni commented on #2801
I would very much like this to be optional somehow. Note that I generally prefer the SciPy term of "connectivity", ie 4-neighbours = 1-connected, 8-neighbours = 2-connected. In 3D, it goes (6, 1), (18, 2), (26, 3). I find it much more intuitive to generalise. (Can you list the 4D equivalents off the top of your head?)

In this scenario, the new property becomes the rather lovely `perimeter2`. ;)

[2017-09-15 20:10] alexpawlowski commented on #2801
Thanks for answering so quickly!

I think the options to provide this as an optional feature rather than the default is a good place to be. I am not as well versed in the technical reasons for connectivity, but I feel safe in assuming that 4 neighbours / 1-connected was chosen for a decent reason. So an enhancement that adds this feature as another key to play with would be awesome.

I'm using thi

[2017-09-15 20:46] stefanv commented on #2801
@jni Agreed, that's a better naming scheme.  @alexpawlowski Thanks for highlighting this issue!  Would you be interested in making a PR to address it?

I hope you're having a good experience with skimage; please let us know if there's anything we can do improve it.

[2017-09-17 22:59] alexpawlowski commented on #2801
Sure @stefanv I will submit a PR to address. Thanks!

[2017-09-20 18:52] seheatwole opened #2804 "Hough Transform: hough_line_peaks error"
In developing an image processing script scikit-image(0.13.0-2) that grabs images off a camera and detects lines using the hough_transform with hough_line_peaks, an error appeared related to a lack of lines in the image.  If there is no output from _prominent_peaks() on line 62 of hough_transform.py, the following error occurs:

Traceback (most recent call last):
  File "theodoliteAlign.py", line

[2017-09-20 18:59] stefanv commented on #2804
Thanks for catching that; do you mind submitting a pull request for a fix?  We'd be happy to guide you through that process.

[2017-09-20 19:02] seheatwole commented on #2804
Sure.  I am new to GitHub but not git.  How do I submit a pull request for
a fix?

On Wed, Sep 20, 2017 at 2:59 PM, Stefan van der Walt <
notifications@github.com> wrote:

[2017-09-20 20:16] stefanv commented on #2804
Thank you!  Please take a look at this document: http://scikit-image.org/docs/stable/contribute.html

Let me know if anything is unclear.

[2017-09-22 03:04] AlvarHHM opened #2806 "Add median absolute deviation and standard deviation to `skimage.filter.rank`"
Or is there a way to extend the functionality without changing the package (just like in scikit-learn, you can extend the BaseEstimator to create a new classifier)

[2017-09-23 00:26] jni opened #2807 "Backport #2766 to 0.13.x line"
NetworkX 2.0 is out now. As such I expect some bug reports unless we backport #2766 to a new release, 0.13.1. (Even then we'll get bug reports but they'll be easier to fix/close. =)

[2017-09-23 11:11] OdEfrV opened #2808 "Seam Carving Example"
## Description
The example demonstrating seam carving
(http://scikit-image.org/docs/dev/auto_examples/transform/plot_seam_carving.html)
is wrong. It works ok for the chosen image but not in general.

Check the code - 50% reduction - vertical:

[code]
 Resutls
![results](https://user-images.githubusercontent.com/10627297/30772633-fa86caea-a067-11e7-9e0c-eb5e46b34644.png)

The second one is a conten

[2017-09-24 01:50] jni commented on #2806
Hi @AlvarHHM!

The `filters.rank` filters are based on a complicated moving-histogram implementation that is quite difficult to extend. However, you can create new filters using `scipy.ndimage.generic_filter`. Have a look at my blog post for how to do it efficiently:

https://ilovesymposia.com/2017/03/15/prettier-lowlevelcallables-with-numba-jit-and-decorators/

You might want to follow the links

[2017-09-24 05:11] soupault commented on #2668
Closed via #2802

[2017-09-24 05:11] #2668 closed

[2017-09-25 18:26] stefanv commented on #2806
Note that rank filters do support custom kernels: https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/rank/generic_cy.pyx#L40

[2017-09-25 18:35] AlvarHHM commented on #2806
Is there a simple way that I can add a custom kernel without altering the source code in the package?

[2017-09-25 18:52] stefanv commented on #2806
I don't think so, at least not at the moment.  For that, you'll be best served by numba, as @jni outlined above.

[2017-09-25 19:04] stefanv commented on #2808
The algorithm is supposed to not be entirely naive in this regard: https://github.com/scikit-image/scikit-image/pull/1459/files#diff-c6085e56110fa47a584ce0007fa3363aR61

However, your example undoubtedly shows buggy behavior.

@vighneshbirodkar Do you have time to take a look, or should we find another reviewer?

[2017-09-25 19:32] stefanv commented on #2807
Note to self: build wheels for Python 3.7 too.

[2017-09-25 19:40] vighneshbirodkar commented on #2808
Removing 5 seams at a time also gives us the correct result.
[code]

My intention was to make this function remove as many seams as requested without recalculating the energy function and the user could call the function multiple times to remove multiple seams. The functions API right now does not allow for recalculating seams since the user specifies the energy image.

[2017-09-25 21:39] rdabane opened #2809 "hog: gradient calculations are different from OpenCV"
## Description
I was trying to compare the HOG descriptor generation between scikit-image and OpenCV.

scikit-image/Features/_hog.py:

150:   gy, gx = [np.ascontiguousarray(g, dtype=np.double)
                          for g in np.gradient(image)]

The function np.gradient calculates as :
![image](https://user-images.githubusercontent.com/15036829/30832196-194f0814-a1ff-11e7-8694-19e91669fbad.png)

[2017-09-25 21:55] stefanv commented on #2807
Maybe also include #2690, #2716, #2692, #2650, #2640, #2524 ?

[2017-09-25 22:00] stefanv commented on #2809
I'm not sure I understand: the numpy gradient computation seems correct?

[2017-09-25 22:10] stefanv commented on #2808
This could potentially be fixed by either documenting this suggestion, or by adding another utility function that runs such a loop.

[2017-09-25 22:12] rdabane commented on #2809
Assuming that intention is to reproduce functionality from original HoG paper(http://lear.inrialpes.fr/people/triggs/pubs/Dalal-cvpr05.pdf)  which suggests following : "Simple 1-D [−1, 0, 1] masks at σ=0 work best."

Then in this case, the OpenCV implementation looks correct.

[2017-09-25 22:28] stefanv commented on #2809
I see, thanks for the clarification.  OK, so should be fairly easy to fix.  And we'll have to compare with OpenCV output to make sure things look right.

/cc @ivoflipse @Korijn @TimSC

[2017-09-25 22:40] rdabane commented on #2809
Ok. Thanks! Please let me know if I can of any help.

[2017-09-25 23:23] vighneshbirodkar commented on #2808
Does anyone in this thread or the community have a preference ? I prefer the documentation approach since the utility function will need to ask the user for a callback function and make matters more complicated.

[2017-09-25 23:42] stefanv commented on #2808
I'm sure @jni will have an opinion.

[2017-09-26 01:14] jni commented on #2808
@stefanv your prediction is incorrect. =P

However, I can provide a hastily-formed opinion. Namely, that most of our functions should *not* require writing a for-loop. I expect most users will want to say `seam_carve(image, new_size)` and be done with it. I don't know enough about the algorithm to know what the best approach is to achieve this, but a default of sobel filter as the energy function,

[2017-09-26 04:54] stefanv commented on #1185
https://stackoverflow.com/questions/46415948/converting-rgb-images-to-lab-using-scikit-image

[2017-09-26 05:02] soupault commented on #2809
@rdabane you might be interested in the comparison in https://github.com/scikit-image/scikit-image/pull/2040, especially, this comment https://github.com/scikit-image/scikit-image/pull/2040#issuecomment-207751721 .

[2017-09-26 05:19] stefanv commented on #2808
Yes, having an algorithm that carves "badly" by default won't do, and agreed on not wanting to make users write loops when we know exactly how those loops should look.

[2017-09-26 05:25] stefanv commented on #2809
@soupault I think you are, perhaps, in the best position to make a call on this issue.

[2017-09-26 05:36] Korijn commented on #2809
Parameterize a choice between the two modes perhaps?

[2017-09-26 06:48] jni commented on #2807
@stefanv #2692 applies to components that are not in 0.13. =) Otherwise making progress towards release...!

[2017-09-27 11:00] maaleske opened #2811 "Inconsistent behaviour of ImageCollection"
# Problem
Calling `ImageCollection` with a string file pattern vs. a list of filenames produces different results when using a custom `load_func` to read files not supported by pillow.

I ran into this while trying to use `open_rasterio` from [xarray](https://github.com/pydata/xarray)  as a load_func for `ImageCollection`, though this will undoubtedly come up with any files not readable with `Imag

[2017-09-27 17:40] stefanv commented on #2811
This isn't exactly a bug, since the documentation specifies that the file pattern needs to be a list in this case:

[code]

That said, I can see how that would be a useful feature to have, so feel free to add this in a PR.

[2017-09-27 20:32] maaleske commented on #2811
@stefanv I was quite confused by the documentation here. While that bit implicitly implies that a list is desired when specifying load_func, the latter example with `imread_convert` uses the normal pattern.

Another source of confusion is the fact that the `_files` attribute is not emptied by `_find_images` when it finds no images. This also means that whenever  any file matched by the pattern is

[2017-09-27 21:00] stefanv commented on #2811
@maaleske You're right; that is very confusing!

1. We do not want to disable loading files not supported by PIL.
2. I think it is reasonable to set _num_frames to len(_files) when a load func is provided.
3. It's unclear to me how that would look in practice.
4. An option, but maybe (2) is more desirable?

[2017-09-28 02:43] DrGFreeman opened #2812 "plot_hog.py example has typo in hog() method visualise keyword argument"
## Description
plot_hog.py example has typo in `hog()` method `visualise` keyword argument. Keyword argument used is `visualize` whereas the [method documentation](http://scikit-image.org/docs/stable/api/skimage.feature.html#skimage.feature.hog) refers to `visualise`.

[code]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example: [doc/exa

[2017-09-28 04:24] soupault commented on #2812
You, most likely, have a badly-version codebase.

For 0.13:
https://github.com/scikit-image/scikit-image/blob/v0.13.x/skimage/feature/_hog.py#L26
https://github.com/scikit-image/scikit-image/blob/v0.13.x/doc/examples/features_detection/plot_hog.py#L91

For 0.14 we have `visualize` as a new parameter name:
https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/_hog.py#L26
https://

[2017-09-28 04:24] #2812 closed

[2017-09-28 05:26] jni commented on #2636
Ok initial Cython profiling (following instructions on [this page]()) shows that the new version performs *way* more heap pushes and pops — 66 million instead of 5 million!

0.12.3:
[code]

0.13:
[code]

I haven't yet looked again at the diff, but I presume this might have to do with a switch from uint8 keys to float64, resulting in many fewer ties.

[2017-09-28 08:59] ahojnnes opened #2814 "Broken math formatting in documentation"
See http://scikit-image.org/docs/stable/api/skimage.transform.html#projectivetransform

[2017-09-28 13:38] maaleske commented on #2811
@stefanv Making the change only for the load_func case still breaks MultiImage, since it relies on the old behaviour. I think the sensible way to fix it would be to separate all multi-image branching in ImageCollection behind a parameter or to a separate class, but that's a more involved undertaking.

[2017-09-29 05:36] jni commented on #2814
My bad. I've "partly" fixed it, but can't get my LaTeX build to work correctly. If anyone can (a) checkout and install `upstream/v0.13.1` (tag), and (b) try the build process as detailed [here](https://github.com/scikit-image/scikit-image/blob/master/RELEASE.txt#L38-L45), perhaps you'll have better luck. If so, please upload!

In the future, we should consider moving to MathJAX.

In the nearer fut

[2017-09-29 09:51] soupault commented on #2809
Yes, my bad. It was in line with the paper earlier - https://github.com/scikit-image/scikit-image/commit/cdff8254bad8f56b81047df92cc12beccff024aa#diff-d8734512e866681c570f51f5d398f882L104. I'd revert the corresponding changes (this would also imply regenerating reference HOG matrices in `skimage/data`), and update the comparison (https://github.com/scikit-image/scikit-image/pull/2040#issuecomment-

[2017-09-30 13:32] christian-rauch opened #2817 "imread automatically converts colour to grey image"
## Description
When loading some colour images with `imread`, the image is converted to grey-level without requesting the conversion.

## Way to reproduce
Example image `example.png` (it is mostly grey but contains a green region on the bottom):
![example](https://user-images.githubusercontent.com/8226248/31046051-d15c658a-a5e9-11e7-80a5-d6e92a4fcedf.png)

Code:
[code]

On my system I get:
[code]

[2017-09-30 20:20] stefanv commented on #2817
I see the same (workaround: `io.imread(..., plugin='matplotlib')`.  We use PIL by default, so will have to dig into what goes wrong with that loader.

- This seems to be a paletted image.
- The function `_palette_is_greyscale` returns True, whereas it should return False.
- It looks like the palette is sliced incorrectly for the check, based on the extrema.

PR filed to fix that: https://github.co

[2017-09-30 20:42] stefanv commented on #2809
This feels more like a bug than a bad API---in which case, I think we should fix it.

[2017-10-01 06:56] jni commented on #2636
Ok, here's the relevant diff, left is 0.12, right is 47af70a:

<img width="1160" alt="screen shot 2017-10-01 at 5 48 31 pm" src="https://user-images.githubusercontent.com/492549/31052453-e5cd25e4-a6d0-11e7-9400-5e5a8de313f7.png">

The difference is that in the old version, the output pixel gets labeled at the time that the pixel is pushed onto the heap, while in the new version, it gets labeled at

[2017-10-01 15:38] Eskapp opened #2820 "`transform.hough_ellipse` raises error if called with an array of zeros (all black image)"
When calling `transform.hough_ellipse` with a all black image, the following error is raised:
[code]
Linked to the SO question: https://stackoverflow.com/questions/46470492/buffer-and-memoryview-are-not-contiguous-in-the-same-dimension-in-python/46513914#46513914 (`scikit-image 0.12.3`)

and reproduced with `scikit-image 0.13.0` running the following:

[code]

I believe that the appropriate behavi

[2017-10-02 00:32] stefanv commented on #2820
Great catch, thanks @Eskapp.  Do you have time to prepare a PR to fix this?

[2017-10-02 00:46] stefanv commented on #2636
This is an excellent comment and helps me a great deal in understanding the code.  Please add something to this effect as a comment in the code, describing how it works.

[2017-10-02 01:00] stefanv commented on #2814
The dev docs are being built on Travis-CI already, so we just have to extend that to the release tags.

[2017-10-03 06:22] stefanv commented on #2814
Fixed and uploaded.

[2017-10-03 07:08] ahojnnes commented on #2814
Looks good. Thanks! I’ll keep this open as a reminder to build the docs with Travis.

[2017-10-03 13:53] Eskapp commented on #2820
Depends on the deadline. I defended my PhD thesis last week and hence have some sharp deadlines this week!
However this sounds like an easy bug to fix and could be great to start off working on this repo.
I will have a look at the link you gave me here: https://github.com/scikit-image/scikit-image/issues/2765
(You can also assign this to me btw)

If the deadline is not too sharp, assign this issue

[2017-10-03 18:58] #2636 closed

[2017-10-04 06:45] stefanv commented on #2627
@nelzas Thank you for investigating this issue!  Please go ahead and open a PR; that'd be much appreciated.

[2017-10-04 06:56] stefanv commented on #2820
Congratulations!  That's a big milestone in your life.

There's no urgent deadline for this, so I'm happy to have you take care of it next week.

[2017-10-04 07:13] ahojnnes commented on #2817
Fixed in #2818, thanks for reporting.

[2017-10-04 07:13] #2817 closed

[2017-10-04 10:27] nelzas commented on #2627
OK, I've opened the PR. I will be glad to receive comments if things need to be done in a better way.

[2017-10-04 12:45] Phlya opened #2825 "remove_small_objects with single label"
When applied to a labelled image with only one label `skimage.morphology.remove_small_objects` treats all of pixels with the one label as a single object. It does show a warning, that perhaps a boolean array was intended to be used, where the behaviour is different, where it treats all connected components separately.

First of all, the documentation is a bit vague about this - the description of

[2017-10-05 09:01] #2679 closed

[2017-10-06 05:25] jni commented on #2825
Hi @Phlya, thanks for the report!

I agree 100% that the documentation should be updated. Would you like to submit a PR to that effect? Otherwise we'll get to it, but it's hard to predict when. =)

Regarding the change in behaviour, we'd have to be careful. Right now, other than the confusing warning, the function can be used both with connected-components labelling, and with user labelling (which

[2017-10-06 07:19] Phlya commented on #2825
Thanks for the reply @jni! I can try to submit a PR for this, yes.

My use case is I am doing batch segmentation of many 3D microscopy images, and need to remove small objects which are noise or otherwise useless. And simply converting to int or bool doesn't necessarily work - sometimes I have a labelled image, and I don't know how many labels I actually have, since I am processing many images - e

[2017-10-06 16:18] shoyer opened #2827 "downscale_local_mean with non-integer factors?"
I'm interested in a version of `skimage.transform.downscale_local_mean()` which handles non-evenly dividing factors without padding the image. I want each pixel in the result to be an weighted average of overlapping pixels in the source, with weights equal to the area of overlap.

To be more explicit, this transformation is linear along equal axis. For example, from size 5 to size 2, it can be wri

[2017-10-08 09:02] ahojnnes commented on #2827
Hi, thanks for reaching out. Even if your implementation is slow, this would be a useful option. I would integrate it into the existing `downscale_local_mean` function as another option. Does your implementation generalize to N-D?

[2017-10-08 14:25] shoyer commented on #2827
Yes, it works in N dimensions. It's written as a sequence of matrix multiplications, one along each axis.

[2017-10-08 15:03] ahojnnes commented on #2827
Sounds great, looking forward to a pull request with the feature!

[2017-10-08 23:31] jni commented on #2825
Damn. Touché. =P

I don't think not knowing the number of labels is an issue... For your use-case, I would do as follows:

[code]

Does that work?

Either way, I suggest we continue to discuss the API here (@scikit-image/core) and in the meantime update the docs.

My humble initial suggestion for a possible new parameter name is `relabel_objects=False`. Except relabel is the wrong word since presu

[2017-10-09 09:05] Phlya commented on #2825
OK, this is a good workaround, should work - thanks! Somehow didn't think of such an easy solution.

Maybe, `labelled_objects`? If `True`, the array should be int and the labels are used (if it is not int, perhaps raise an error or a warning?), and if `False` - it should be bool, and if it is int, your suggestion above is used? Not sure which one should be the default though.

[2017-10-09 21:08] Phlya commented on #2825
See the PR with more clear explanation in the documentation.

[2017-10-10 20:09] fraserwatson opened #2831 "bbox_area returns the area of the whole input image, not the area of the bounding box of a labeled region"
## Description
When using the bbox_area method, the returned value is input_data.size instead of labeled_bounding_box.size.

## Way to reproduce
[code]

[2017-10-10 20:13] soupault commented on #2831
Duplicate of https://github.com/scikit-image/scikit-image/issues/2634

[2017-10-10 20:13] #2831 closed

[2017-10-10 22:24] stefanv commented on #2827
This has actually been requested before, so thanks for contributing!

[2017-10-11 00:52] shoyer commented on #2827
Do you have any guidance on the appropriate API here?

This breaks at least two aspects of the API for `downscale_local_mean`:
- `factors` don't need to be integers.
- `cval` doesn't make sense.

Also, we can just as easily do upscaling with the local mean value as well downscaling, e.g., resizing `[0, 1]` to size 5 would result in `[0, 0, 0.5, 1, 1]`.

My initial thought was to make `cval=None` a

[2017-10-11 05:12] ahojnnes commented on #2827
A new function resize_local_mean (maybe rather rescale_local_mean to match the semantics of the existing resize/rescale functions) sounds like a good proposal to me. Potentially, we want to deprecate the old function and merge it into this new function. For this we would probably have to introduce some parameter, eg mode=“cut|pad” and the cval parameter for the pad mode. What do you think? Let’s h

[2017-10-12 18:10] #2814 closed

[2017-10-13 06:36] #2634 closed

[2017-10-13 07:35] Tinanox opened #2839 "Issue Installing scikit-image for python 3.6 from pip"
## Description
I am having issues installing scikit-image from pip. While compiling, it stopped and give me the following error:

[code]
It seem to be missing 'basetsd.h' but i didn't see any issues like this. Does someone know what's the problem ?
My configuration: Windows 8.1, python 3.6 (32bit), pip3 module up-to-date

Thank you.

[2017-10-13 07:37] soupault commented on #2839
@matthew-brett @cgohlke Could you, please, take a look? Thanks in advance!

[2017-10-13 08:29] matthew-brett commented on #2839
Sorry - I'm a bit out of the loop on scikit-image and Windows.  You aren't currently distributing Windows wheels, I believe because Scipy doesn't have them yet - although that is about to change - with the upcoming Scipy 1.0 release.    I guess it would be worth adding a Python 3.6 matrix entry to the appveyor file.  I'll send a PR.  But for the specific error - no I haven't seen it - but I have n

[2017-10-13 10:46] matthew-brett opened #2841 "Crash on 64-bit Windows build, maybe in test_finite_radon_transform"
I just tried enabling more Windows builds in the Appveyor script:

https://github.com/scikit-image/scikit-image/pull/2840

One of the builds I enabled was the Python2.7 64-bit build.  It appears to crash:

[code]

https://ci.appveyor.com/project/matthew-brett/scikit-image/build/1.0.2/job/kkqeg7ndq9fww5ty#L3073

[2017-10-13 11:12] matthew-brett commented on #2839
Hmm - no crash for Python 3.6.1 32-bit on Appveyor : https://ci.appveyor.com/project/matthew-brett/scikit-image/build/1.0.3/job/f2gd8dwn8c3wuxfv

[2017-10-13 11:20] matthew-brett commented on #2841
Crash appears to be specific to 64-bit Python 2.7 - no crash on Pythons 3 : https://ci.appveyor.com/project/matthew-brett/scikit-image/build/1.0.3

[2017-10-13 14:32] MaxSchambach opened #2842 "Incorrect calculation of Euclidean Norm in measure.compare_nrmse"
## Description
The function `compare_nrmse()` in the `measure` module uses an incorrect calculation of the Euclidean norm of the input image. The Euclidean or Frobenius norm of a matrix **A** is the square root of the sum of the squared elements of the matrix. The calculation in the `compare_nrmse()` function (line 85) instead calculates the square root of the sum of squared elements divided by th

[2017-10-13 17:52] grlee77 commented on #2842
I think the issue is primarily one of a slightly misleading description in the documentation.  What actually gets computed in that "Euclidean" case is equivalent to:    `np.linalg.norm(im_true - im_test) / np.linalg.norm(im_true)`.  Assuming that is the desired result, then the code is correct as is.  Effectively the 1/N due to `np.mean()` in the denominator here cancels out the 1/N due to `np.mea

[2017-10-13 18:21] yarikoptic opened #2843 "`IOError: cannot write mode RGBA as JPEG` when using PIL plugin"
interested since with PIL 4.2.1 , the 0.13.1 fails with
[code]
while master passes.... anyone remembers if there was a fix to pick up into the debian package of the 0.13.1?

[2017-10-13 20:53] emmanuelle commented on #2783
@stefanv not yet, hope to work on it this week-end

[2017-10-14 00:33] yarikoptic opened #2844 "3 tests fail in 32bit"
- [x] Operating system and version: debian unstable 32bit
- [x] Python version: 2.7.14 (I think)
- [x] scikit-image version: 0.13.1

[code]
Discovered while building backports for NeuroDebian.  I will upload 0.13.1 as is to see what other platforms give us ;)

[2017-10-14 00:51] yarikoptic commented on #2844
FWIW verified on master in a local 32bit chroot

[2017-10-14 06:06] soupault commented on #2844
Issue for ORB - https://github.com/scikit-image/scikit-image/issues/2529, issue for `skimage.filters.rank.tests.test_rank.TestRank.test_all` - https://github.com/scikit-image/scikit-image/issues/2528.

[2017-10-14 17:07] soupault commented on #2627
Closed via #2824

[2017-10-14 17:07] #2627 closed

[2017-10-14 17:13] soupault commented on #2843
@yarikoptic I don't remember anything on this kind.
`skimage.novice` is now deprecated (see https://github.com/scikit-image/scikit-image/pull/2784), but we should consider updating our PIL plugin, it seems.

[2017-10-17 19:22] stefanv commented on #2839
@Tinanox Does this help? https://stackoverflow.com/a/42624713/214686

[2017-10-17 21:18] Tinanox commented on #2839
Thank you for the StackOverflow, this seems to be exactly my error and I will look into it.

[2017-10-18 16:39] miketoastmacneil opened #2849 "ncut and normalized cuts breaking with color and gray images."
## Description
Looks like ncut and normalized cuts are breaking down. Callback and code given below.
Operating system is mac osx sierra 10.12.6, python version is 3.6.2, scikit-image version is 0.14dev. Relevant image is data.astro(). Code and traceback below.

Have also constructed the graph using RAG separately and tried to access labels, as is done in _label_all, and am given an empty dictionar

[2017-10-18 22:59] glemaitre opened #2850 "Default argument set with mutable type in `draw_multiblock_lbp`"
## Description
In `skimage.feature.draw_multiblock_lbp`, some default arguments are set with a list which is a mutable argument:
https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/texture.py#L372

I think that you should use tuple instead for the following reason:
http://docs.python-guide.org/en/latest/writing/gotchas/#mutable-default-arguments

[2017-10-19 05:35] soupault commented on #2850
Absolutely! Thanks for the finding!

[2017-10-21 14:19] soupault commented on #2849
@miketoastmacneil have you seen this example - http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_ncut.html?

[2017-10-22 06:26] AlexChum commented on #2850
Hi!
I was browsing through the scikit-image source files to get a better understanding of what I was using and looked at the issues out of curiosity. Found a novice tagged issue!
I submitted a pull request #2852 to fix it.
Let me know if this works out!
My first commit to open source.

[2017-10-22 14:51] TheChymera opened #2853 "Frequency response of `iradon()` filters differs greatly from the same filters in MATLAB"
## Description
The frequency response I get with different filters from `skimage.transform.iradon()` is not consistent with the results from MATLAB.

As `scikit-image` does not return the frequency response like MATLAB does, I have simply isolated the code which produces the filter from [the relevant site in `iradon()`](https://github.com/scikit-image/scikit-image/blob/5a0c5a5f03438ae483b2fc9612c9

[2017-10-22 23:25] jni commented on #2849
@soupault Ah, I spot the difference now. Nevertheless, this error is super-unhelpful. We should try to catch what is happening and produce a more meaningful error message, something along the lines of "Error: bare RAG was used, without any definition of segment affinities". I guess that might only be helpful to people who know about RAGs. But that's more than you can say for the current error!

[2017-10-23 01:59] miketoastmacneil commented on #2849
Thanks for chiming in here. @soupault I have seen that example, the RAG construction is somehow different from what I'm attempting. It should work for grayscale (those are the type of images used in the original paper). @jni As far as I could tell it's an issue with the graph construction, where skimage is relying on another Graph package (Networkx). Can look into the origins myself to get to the

[2017-10-23 04:32] #2804 closed

[2017-10-23 05:27] soupault commented on #2850
Closed via #2852

[2017-10-23 05:27] #2850 closed

[2017-10-23 07:43] MaxSchambach commented on #2842
Yes, you are right.
I think stating what you have explained in the documentation, in particular the formula

NRMSE = || (im_true - im_test) || / ||im_true||

will resolve all confusion with the name "Euclidean". I have not found a convention where sqrt(N) is kept, as this also yields quite unintuitive normalization.

[2017-10-23 18:38] stefanv commented on #2842
If you are agreed that this is a reasonable formulation, then please make a PR to update the docs; I'd be happy to review it.

[2017-10-24 09:47] MaxSchambach commented on #2842
Thanks, I open a corresponding pull request #2855

[2017-10-24 19:17] #2842 closed

[2017-10-24 19:17] stefanv commented on #2842
Closed by #2855

[2017-10-24 22:09] stefanv commented on #2853
@TheChymera Do you have time to look into this further?  Something's clearly not right.

[2017-10-24 23:53] TheChymera commented on #2853
@stefanv sadly I am very swamped atm, I can try to put it in my notes for when I have more time, but as PET is not my main line of work I feel this will always be outprioritized, I think providing a minimal working example is all I can do.

[2017-10-26 09:18] soupault commented on #2625
Occasionally fixed via #2603.

[2017-10-26 09:18] #2625 closed

[2017-10-26 09:23] soupault commented on #1092
@jni Having https://github.com/scikit-image/scikit-image/pull/2603 merged and https://github.com/scikit-image/scikit-image/pull/2847 on its way to `master`, do you think that this issue should be closed?
For extension of 3D/nD support we have a dedicated issue - https://github.com/scikit-image/scikit-image/issues/1489.

[2017-10-26 13:41] truenicoco opened #2857 "Morphomaths binary operations always return a np.array even when input is a np.array subclass"
## Description
Most morphological operations behave as expected, returning an array of the same type as the input array and preserving attributes. This is not the case with morphological operations starting with `binary_` which always return a `np.array` instance, losing input attributes.

## Way to reproduce

[code]

[2017-10-26 13:58] soupault commented on #2857
@truenicoco currently, most of the `skimage` functions are written keeping in mind that both input and output are pure ndarrays. We give no warranty on processing the customized types, and no warranty that the meta-information will be preserved.

For `skimage.morphology` we're also a bit behind `scipy`, meaning that if `scipy` handles the cases similar to your properly, updating our code should fi

[2017-10-26 13:58] #2857 closed

[2017-10-27 01:49] jni commented on #1092
@soupault that is a grand idea, closing, thanks for spotting this one! =)

[2017-10-27 01:49] #1092 closed

[2017-10-30 10:31] sciunto commented on #2681
I guess we can close this issue if numpy solve the problem in newer versions.

[2017-10-30 17:50] stefanv commented on #2681
That seems correct, thanks @sciunto

[2017-10-30 17:50] #2681 closed

[2017-10-30 20:25] bmorris3 opened #2862 "Unexpected error on import"
## Description

When I try:
[code]
I get the following traceback:
[code]
using Python 3.5.4, skimage 0.13.0.

[2017-10-30 20:29] stefanv opened #2863 "Investigate QT5 as an import point for our viewer dependencies"
Currently, we make use of Matplotlib as a QT4/5-agnostic import.  @tacaswell recommends investigating https://github.com/spyder-ide/qtpy

[2017-10-30 20:31] bmorris3 commented on #2862
Uninstalling scikit-image, updating dask, and reinstalling scikit-image fixed it.

[2017-10-30 20:31] #2862 closed

[2017-10-30 20:52] stefanv commented on #2827
I think the old behavior is somewhat broken.  We should definitely transition to @shoyer's implementation eventually.

Suggested route: set `cval=None` for the next two releases, and warn if it is not set to zero explicitly.  Then, replace that function with the one proposed.

For now, let's include the function in `skimage.future`, with an entry in TODO.txt to move it over after the deprecation.

[2017-10-30 21:21] soupault commented on #2863
xref https://github.com/scikit-image/scikit-image/issues/2745

[2017-10-31 00:24] stefanv commented on #2843
Novice should check for RGBA images, and not try to write them to JPEG.

[2017-10-31 00:35] stefanv opened #2865 "Apply https://github.com/scikit-image/scikit-image/pull/2846"
https://github.com/scikit-image/scikit-image/pull/2846#pullrequestreview-69386061

[2017-10-31 02:44] #2809 closed

[2017-10-31 23:07] andrewleech commented on #2514
Now that scipy has official wheel for windows this would be really great!

http://wheels.scipy.org/scipy-1.0.0-cp35-none-win_amd64.whl
https://pypi.python.org/pypi/scipy/1.0.0
https://github.com/scipy/scipy/pull/7616

[2017-10-31 23:55] stefanv commented on #2514
AppVeyor already builds wheels and saves them, FWIW.

[2017-11-01 00:09] andrewleech commented on #2514
Ah whoops, I missed there is the appveyor definition file in the repo.
Badges to link to the travis and appveyor projects would be great in the README.md

What would it take to get these builds onto http://wheels.scipy.org and pypi?

[2017-11-01 21:29] stefanv commented on #2514
I think adding this to scikit-image-wheels, like you proposed, is the correct solution.  @matthew-brett ?

[2017-11-03 01:08] varunagrawal commented on #2440
I am currently getting this error. Any suggestions?

[code]

[2017-11-03 01:14] scotthuang1989 commented on #2688
@0x00b1  I think It's better add a linewidth parameter, because some time line with 1 pixel width is hardly see.

[2017-11-03 01:21] varunagrawal commented on #2440
More info: v0.12.1 works perfectly so I am only seeing this on v0.13.3. I am using Ubuntu 14.04.

[2017-11-03 04:43] stefanv commented on #2688
For drawing boxes, width is not too tricky, since you can do what you showed here: replicate the line.  In N-dimensions, the same trick will work, but you have to repeat in more directions.

[2017-11-03 06:14] soupault commented on #2440
@varunagrawal Not sure what v0.13.3 is... Try to remove completely `/home/vagrawal38/venv/lib/python3.5/site-packages/skimage`, and re-install the library. I assume you are using `pip`?

[2017-11-03 15:22] kne42 opened #2868 "Improper computation of `centroid` in `measure._moments`"
I noticed that the test suite `test_moments.py` did not properly cover cases where `center=None` (its default) in `moments_central`. As the adjusted test failed, I decided to create a test for `centroid` (called to compute the center of the image when none was provided) itself.

It failed:
[code]

This bug was introduced in https://github.com/scikit-image/scikit-image/commit/a346268a461ef2a403ed8e

[2017-11-03 23:45] #2612 closed

[2017-11-04 00:33] scotthuang1989 commented on #2688
ok, got it, I am new to his lib (a couple of hours), I am just used to use opencv's out of box method, it take me a while to figure out whey the box is not shown, maybe other new users will have same issue.

[2017-11-04 17:03] soupault commented on #2868
I think https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_moments.py#L238 should be normalized by `M[*((0, ) * image.ndim)]`.
/cc @jni

[2017-11-04 18:47] #2610 closed

[2017-11-05 00:35] kne42 commented on #2868
@soupault I don't think that's what he meant by `(weighted)`. If this is the case, then this issue and #2869 are irrelevant and should be closed.

My interpretation of that was that each point/pixel in the image was assigned its own weight, i.e. `image[0, 42, 12] = 0.5` would mean that the point `(0, 42, 12)` has a weight of `0.5`. In this situation, you are not normalizing the weighted points ind

[2017-11-05 20:28] soupault commented on #2839
@Tinanox any updates regarding the issue?

[2017-11-07 23:42] #2453 closed

[2017-11-08 00:00] jni commented on #2868
@kne42's fix in #2869 is correct.

[2017-11-10 07:26] soupault opened #2874 "Refactor `skimage/draw/tests/test_random_shapes.py`"
## Description
Refactor `skimage/draw/tests/test_random_shapes.py` using the functions from https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/testing.py instead of `pytest`.

[2017-11-12 10:55] rebeen opened #2875 "Picewise Transformation"
I am looking for a function that can use all the transformation matrix of PiecewiseAffineTransform to apply on the source data to get the destination data in one run. I could use piecewise transformation and I could not find the function for using all the transformation matrix at same time, this code can use all transformation matrix in a loop which is not the right way that should be done, I also

[2017-11-12 11:18] #2868 closed

[2017-11-12 13:39] soupault opened #2876 "Add flood fill algorithm"
## Description
https://en.wikipedia.org/wiki/Flood_fill

## References
Old mailing list thread - https://groups.google.com/forum/#!topic/scikit-image/n8lO2b_a3DQ.
Inspired by the discussion in https://stackoverflow.com/questions/47213246.

Please, share your thoughts.

[2017-11-12 14:31] saqibqamar commented on #2540
**@John1231983** have you created 3D patch from input, can you share your code about creating patches.

[2017-11-12 20:25] soupault commented on #2875
Answered on SO (https://stackoverflow.com/questions/47229017/picewise-transformation).

[2017-11-12 20:25] #2875 closed

[2017-11-13 04:04] #2865 closed

[2017-11-13 21:04] #2839 closed

[2017-11-17 02:47] cayman1021 commented on #2839
Same problem here.
"pip install scikit-image" ends up in these error messages.
Please help. :(

[2017-11-18 08:40] soupault opened #2884 "Reconsider `skimage.draw.random_shapes` API"
From the discussion in https://github.com/scikit-image/scikit-image/pull/2773.

- [ ] Switch from parameter `gray` to `num_channels`, so to make the function truly multichannel;
- [ ] Change `min_pixel_intensity` to `intensity_range` or something with the parameter syntax similar to `np.pad(pad_width=...)`;
- [ ] [Optionally] Allow to specify the background intensity value;
- [ ] Update gallery ex

[2017-11-18 12:35] jni commented on #2839
@cayman1021 did you check the link provided by @stefanv? https://stackoverflow.com/a/42624713/214686

[2017-11-18 12:36] #2874 closed

[2017-11-18 14:32] bshao001 commented on #2293
I noticed the same thing. I had a CNN model trained using skimage io as input, and now due to other needs, I need to use opencv. However, the model just does not work at all with opencv.

[2017-11-19 18:03] soupault commented on #1131
@sciunto would you like to share your code? I could improve and finalize it if needed.

[2017-11-19 19:14] soupault commented on #2284
`graph.cut_normalized(..., max_edge=1.0-1e-12)` | `graph.cut_normalized(..., max_edge=1.0)` | `graph.cut_normalized(..., max_edge=1.0+1e-12)`
------------ | ------------- | -------------
![1 0_minus_eps](https://user-images.githubusercontent.com/1315589/32994336-bcf75dde-cd76-11e7-9be5-c101559cf6ab.png) | ![1 0](https://user-images.githubusercontent.com/1315589/32994338-c564842e-cd76-11e7-9131-0b5

[2017-11-20 02:05] #2577 closed

[2017-11-21 23:38] jni commented on #2284
WOW!

I wonder if #2856 solves this...

[2017-11-22 01:24] jni opened #2888 "Check deprecation warnings in current builds"
## Description
There's a *shitload* of deprecation warnings from external packages (NumPy, SciPy) in our current test suite. I don't have time to compile them all now but some of them look serious. Here's the full collection from a [recent build](https://travis-ci.org/scikit-image/scikit-image/jobs/302029450):

<details>
[code]
</details>

## Way to reproduce
- [x] Operating system and version Lin

[2017-11-22 03:04] dwSun opened #2889 "Feature request: skimage.io.imdecode"
## Description
We have to write the image to disk for skimage to read from it.
Why not let skimage.io to decode form a bytes  string directly inside memory.

[2017-11-22 07:18] AliceDinh commented on #2839
This is the error I get:

error: Command "C:\Users\Dinh Nhan\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.0\VC\Bin\amd64\cl.exe /c /nologo /Ox /MD /W3 /GS- /DNDEBUG -Id:\python\python\lib\site-packages\numpy\core\include -Id:\python\python\lib\site-packages\numpy\core\include -Id:\python\python\include -Id:\python\python\PC /Tcskimage\external\tifffile\tifffile.c /Fobuild\temp.w

[2017-11-22 07:25] soupault commented on #2889
@dwSun this would be a useful feature, I agree. One of the usecases is to decode a received via REST, gRPC bytesting.
Even if we decide not to incorporate such function, you can always use `imread` with `imageio` plugin which supports reading from `bytes` (see http://imageio.readthedocs.io/en/latest/userapi.html#imageio.imread):
[code]

[2017-11-22 08:06] dwSun commented on #2889
@soupault thanks for your reply and your solution. I will use imageio plugin to decode my image bytestring.

[2017-11-22 21:19] emmanuelle commented on #2889
The solution by @soupault looks simple and straightforward. Do we need a specific function for that? Or should the example appear in the doc? It's my usual reaction to try to keep the API as short as possible :-).

[2017-11-22 21:26] soupault commented on #2889
@emmanuelle mentioning this case in the docstring will do it for me. :)

[2017-11-22 21:41] stefanv opened #2891 "LineModelND assumes optimal fit runs through data center"
LineModelND currently imposes a constraint on the resulting fit: that it must pass through the mean of the data.  This additional constraint can result in a sub-optimal fit.

See also: https://stackoverflow.com/questions/47431197/unexpected-behaviour-of-skimage-measure-linemodelnd

[2017-11-22 21:52] stefanv commented on #2889
Also, `imread` can detect when the object is a bytestream and automatically attempt to use `imageio`?  Also, we should just switch to `imageio` by default.

[2017-11-22 22:49] grlee77 opened #2892 "make compare_psnr, compare_ssim, etc less picky about dtypes and range"
## Description

As mentioned previously in #2878, functions from `skimage.measure.compare_psnr` fail when the input dtypes do not match.  This is a nuisance in cases where for example one array may be float32 and the other float64.  A specific example of this is that `denoise_nl_means` from releases <=0.13 return a float32 denoised image for float64 input.  The user must then convert to matching d

[2017-11-23 00:31] ahojnnes commented on #2891
Not sure who came up with this solution (I would hope not me :-)), but it certainly seems wrong. Not sure how soon I can fix it though.

[2017-11-23 00:36] jni commented on #2613
Adding a comment here at @soupault's prompting in #2870:

For functions that don't work with 3D images at all, `multichannel` could have a default value of "None". Then we do, `if multichannel is None: multichannel = (image.ndim == 3)`. I know we want a "don't guess" policy, but my feeling is that this applies when there is ambiguity.

[2017-11-23 01:18] oachkatzlschwoaf123 commented on #2853
Is this how the filters should look like?

![image](https://user-images.githubusercontent.com/6386428/33155772-f5ca1856-cfb8-11e7-8991-32953e181e9e.png)

[Source](https://www.researchgate.net/publication/251915833_A_prototype_system_for_infrared_computed_tomography_for_image_reconstruction)

[2017-11-23 02:35] TheChymera commented on #2853
Yes, and this is what MATLAB seems to do. In the `scikit-image` implementation, the cosine and particularly the Hamming filter don't look like that.

[2017-11-23 08:32] oachkatzlschwoaf123 commented on #2853
I do not have access to the MATLAB functions, but I took a look at the [Octave rho_filter function](https://sourceforge.net/p/octave/image/ci/default/tree/inst/rho_filter.m#l130) and edited the code to match that.  They now appear to be the same as the MATLAB filters posted above.

[Octave rho_filter ref]()

The frequencies from fftfreq that were originally used works for the Ram-Lak and Shepp-Log

[2017-11-23 10:43] glemaitre opened #2894 "[RFC] CI tests examples in travis"
Isn't an overkill to always run the examples for all travis build.
When building the documentation, sphinx-gallery will anyway run the different examples and this build will fail for sure if there is any issue the same way that the other builds are failing nowadays.
It would also reduce the testing time I think on the CI. And it would also avoid some issue with the requirement as discussed at http

[2017-11-23 20:37] stefanv commented on #2894
Problem is, you really need to run these examples on all the various
platforms, because users copy and paste from the gallery into all versions
of Python. We can't rely on a 3.6 pass to make it work elsewhere.

But, no problem for your PR, we can just install  the docs dependencies for
each matrix entry.

[2017-11-23 20:39] stefanv commented on #2853
Thanks a bunch for identifying the problem! We look forward to your PR.

[2017-11-23 20:46] glemaitre commented on #2894
Ok thanks for the clarification

[2017-11-23 20:46] #2894 closed

[2017-11-24 03:26] #1879 closed

[2017-11-24 19:05] emmanuelle opened #2899 "Doc requirements not installed for all travis matrix entries"
This issue appeared in #2848 : we have some specific requirements for building the documentation, mostly packages used in our examples but on which we do not want to depend. The doc is built for all the entries in Travis matrix. However, doc requirements in requirements/docs.txt are only installed for one entry (see .travis.yml, python 3.4 with BUILD_DOCS=1).

Therefore, using a package only in re

[2017-11-25 11:38] #2899 closed

[2017-11-25 16:45] xavecoder opened #2901 "Which is the best folder to place a new file containing a custom data structure implementation?"
Hello, everyone.
Actually, this is a question, not an issue.

I'm a PhD student at medical image processing and I'm too excited in contributing to skimage.
I intend to implement some new graph-based techniques for image processing and analysis, then I'm gonna to implement (in Cython) a priority queue optimized for image processing.

**Which is the best folder to place a new file containing a data

[2017-11-25 18:23] JDWarner commented on #2901
Welcome!  In general, if the support files are specific to the new feature without likely re-use they can live in that directory (seems like you would be targeting `skimage.graph` at least in part) and simply not be exposed publicly.  Consider `skimage._shared` if they might be useful to multiple submodules but not exposed for general use.  If helper functions would also be useful as public functi

[2017-11-25 18:35] emmanuelle commented on #2901
Hello @xavecoder welcome! Also, before preparing your pull request I'd recommend that you discuss the new feature here on GitHub (for example in the current issue). In order to keep the API short and simple, we tend to limit the number of new algorithms, so that the added value of a new feature must be clear and well documented/discussed.

[2017-11-26 20:21] ahojnnes commented on #2891
Okay, so I just had a look at the StackOverflow post and it seems our function is doing the right thing. I dug out an alternative implementation by someone else and it produces exactly the same result as ours:

[code]

[2017-11-26 21:46] stefanv commented on #2891
Do you have any idea why NumPy's `polyfit` achieves a lower least squares error?

[2017-11-26 22:25] ahojnnes commented on #2891
It minimizes a different objective ``sum((y - y')**2)`` while ours minimizes ``sum((x - x')**2 + (y - y')**2)``.

[2017-11-26 23:36] stefanv commented on #2891
Right, so isn't `(y - y')` the quantity a line fit *should* optimize for?

[2017-11-26 23:38] stefanv commented on #2891
Ah, I think I see what you're saying: the one optimizes the orthogonal distance to the line, the other the differences in y-values.  I guess either are reasonable.

[2017-11-26 23:39] #2891 closed

[2017-11-26 23:40] stefanv commented on #2891
Also, should we document that the orthogonal distances are minimized?

[2017-11-27 04:08] ahojnnes commented on #2891
See https://github.com/scikit-image/scikit-image/pull/2903

[2017-11-27 06:24] abelguima opened #2904 "ImportError: cannot import name "chan_vese""
## Description
[Please provide a general introduction to the issue/proposal.]
Hi guys
I want to use segmentation chan vese but got this error:
abel@abel-System-Product-Name:~/test$ python3
Python 3.5.2 (default, Sep 14 2017, 22:51:06)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in

[2017-11-27 06:25] abelguima commented on #2904
abel@abel-System-Product-Name:~/test$ python3
Python 3.5.2 (default, Sep 14 2017, 22:51:06)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'chan_vese'

[2017-11-27 06:28] stefanv commented on #2904
What version of scikit-image do you have installed?

[2017-11-27 06:32] abelguima commented on #2904
What is the command for I can see the version?

On Mon, Nov 27, 2017 at 1:28 AM, Stefan van der Walt <
notifications@github.com> wrote:

[2017-11-27 06:39] abelguima commented on #2904
The skimage version is 0.13.1.

On Mon, Nov 27, 2017 at 1:32 AM, Abel Guimaraes <abelguima@gmail.com> wrote:

[2017-11-27 06:43] soupault commented on #2904
`segmentation.chan_vese` is available only in 0.14dev so far.

[2017-11-27 06:43] #2904 closed

[2017-11-27 06:44] abelguima commented on #2904
ok I will try that thanks!!!

[2017-11-27 19:15] stefanv commented on #2613
I'm okay with that; it catches the by-far-most-common use case.

[2017-11-27 21:29] #2901 closed

[2017-11-27 21:41] stefanv commented on #2884
Very good list of ideas!

[2017-11-28 09:54] cipri-tom commented on #1623
Would it be possible to also use the `matplotlib` plugin for `imsave` ? It would have the "desired" behaviour for users used to MPL.

This way, users can `io.use_plugin('matplotlib')` once and then do all their operations with `skimage` library. Otherwise, now I `io.imread` an image, but `plt.imsave` the binarised result

[2017-11-29 09:43] jni commented on #2849
There's two problems here. Only the first one is shown in the error message but the second problem will manifest as soon as we fix the first.

1. We assume the existence of `RAG.node[node_idx]['labels']`, containing a list of labels pertaining to that node. We do this basically throughout the code, [even in `RAG.merge_nodes`](https://github.com/scikit-image/scikit-image/blob/master/skimage/future/

[2017-11-29 19:26] magee256 commented on #2284
@jni It doesn't, but I think it'd be pretty simple to make it. I found a seed that caused this to happen and was able to fix it by doing a more fine-grained search for the mcut threshold value. Switching from a linear search over possible thresholds to something like a binary search to narrow in on one might help. Should check if there are multiple local mins first though.

[2017-12-03 13:43] sakvaua opened #2911 "Large computation penalty for doing denoise_tv_chambolle on float64 image"
## Description
I'm getting 11x speed penalty if I'm doing denoise_tv_chambolle on 64 bit floats instead on 32 bit. Is this normal and expected?

[code]
gives me
2.11 ms ± 10.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
23.3 ms ± 32.3 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Thanks

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhance

[2017-12-04 20:46] stefanv opened #2912 "Use external Qt compatibility layer for viewer"
We currently use the Matplotlib Qt interface to achieve compatibility with PySide + Qt4 + Qt5, but their compatibility backend is not intended for external consumption.

Instead, consider moving to a library such as:

https://github.com/mottosso/Qt.py

See also this StackOverflow question: https://stackoverflow.com/questions/47640724/pyqt5-has-issue-while-importing-in-skimage

[2017-12-04 23:27] grlee77 commented on #2912
Isn't this the same issue as #2863?

Of particular interest may be the feature comparison table at https://github.com/mottosso/Qt.py#projects-similar-to-qtpy

It looks like the main advantage of https://github.com/mottosso/Qt.py vs https://github.com/spyder-ide/qtpy is in the **co-existence** feature which the `Qt.py` devs describe as:

[2017-12-05 06:09] stefanv commented on #2912
Ah, I was looking for #2863, couldn't find it earlier; thanks.

[2017-12-05 22:52] nrweir commented on #2597
I use these binary morphology functions often in my research (both the scipy versions and the skimage wrapper) and would be interested in making these changes, if desired. I've read the contributing.txt and will do my best to fulfill requirements in my version (this is my first real open-source contribution and may require some patience as I get used to coding standards)

[2017-12-06 01:11] stefanv commented on #2597
Thanks, @nrweir, looking forward to your first PR!

[2017-12-06 17:58] nrweir commented on #2597
TL;DR previous versions of skimage `black_tophat` gives different output than the current `ndi.morphology.black_tophat` due how it handles edges, and I don't know which you would prefer be implemented in the new version of scikit-image's `black_tophat`.

In the past, scikit-image `morphology.grey.black_tophat` used `morphology.grey.closing`, which automatically pads image edges when using structur

[2017-12-06 20:18] grlee77 opened #2913 "bug in multichannel non-local means if channels != 3"
## Description
The non-local means Cython code currently assumes 3 channels when computing multi-channel patch weights, but there is no check that the input images are actually 3 channel.

code that assumes three channels: [here](https://github.com/scikit-image/scikit-image/blob/cf3cdaf35797b0ebbaf155c91ecf5f8b761e0ea5/skimage/restoration/_nl_means_denoising.pyx#L108) and [here](https://github.com

[2017-12-07 14:59] soupault commented on #2913
:+1: to support hyperspectral images, and fix the current behaviour.
Notice, that the first URL links to `patch_distance_2drgb` internals, so assuming 3 channels there makes complete sense.

[2017-12-07 15:06] soupault commented on #2597
My suggestion would be to align with `scipy` defaults as much as possible. This would help us to reduce the maintenance burden for `morphology` functions (not just functionality update, but also testing).
@nrweir Do you have an estimate on how many of `scikit-image` features depend on internally shipped morphology functions implementations?

[2017-12-07 16:03] nrweir commented on #2597
I'll have a look and get back to you today or tomorrow. I'll also double-check the other binary and grey morphology functions to make sure they don't produce outputs inconsistent with their `scipy` equivalents.

[2017-12-07 22:32] nrweir commented on #2597
@soupault Very, very few features import and use `scikit-image`'s morphology functions - in combing through I only found one case (`segmentation.boundaries.find_boundaries`), which uses `morphology.grey.erosion` and `morphology.grey.dilation`. It's possible I missed some though.

Makes sense to me to align with `scipy` defaults, I'll implement that for `morphology.grey.black_tophat`. This would al

[2017-12-10 22:51] zhiruiwang opened #2916 "conflict with networkx on conda?"
## Description
I use anaconda environment to do package management. When I use `conda update --all` to update my packages, there is a conflict between the newest version of scikit-image(0.13.1) and networkx(2.0).
[code]
Is it because scikit-image is using some features which only exist in networkx 1.11, or it is just created by accident?(scikit-image 0.13.0 works fine with networkx 2.0)

## Way to

[2017-12-11 08:54] soupault commented on #2916
To the best of my knowledge, skimage 0.13.0 is not fully compatible with networkx-2.0 (see https://github.com/scikit-image/scikit-image/pull/2766).

[2017-12-12 02:55] rmegret commented on #2674
I have two main issues with the new behavior:
1. It does not support reproducible display, as the color will depend on the content of the data. If you want to compare two label images, they may end up with different colors for the same label. Not good for data analysis such as plotting a scatter plot and a label image side by side.
2. It is surprising: `label2rgb(label, colors=['yellow', 'red', 'b

[2017-12-13 14:36] ahundt opened #2918 "document the use of circle_perimeter_aa with color image"
## Description

I tried using circle_perimeter_aa with a color image, but ran into broadcasting issues.

Is there a clean way to do this:

1. with a black and white circle?
2. with a color circle like (21, 244, 238)?

Here is my attempt:

[code]

[code]

The closest I could get to something with the right shape is this:

[code]

but I think that's incorrect....

[2017-12-13 18:55] stefanv commented on #2918
You need:

[code]

or

[code]

But, agreed, how to manipulate color images should be included as an example of that function, and of all drawing functions.

[2017-12-14 04:52] pskeshu opened #2919 "Clear border does not work as intended on certain arrays"
## Description
My automated pipeline was crashing repeatedly. After a bit of investigation, I concluded that it's because of passing a timeseries array with a single dimension entry which had a shape of [1, N, M], which caused the problem.

## Test Code
[code]
### Output:

[code]
## Relevant information (?)
[code]
Although, as an user, it's much easier to squeeze the dimensions of my mask before c

[2017-12-14 06:44] stefanv commented on #2919
Please refer to: http://scikit-image.org/docs/stable/user_guide/numpy_images.html#coordinate-conventions

The array with extended dimensions has shape `(1, 6, 9)` and is therefore seen as 9 bands of a `(1, 6)` image.  So, it is not surprising that the functionality is not working as expected.

[2017-12-14 06:44] #2919 closed

[2017-12-14 06:47] sudhasubramaniam opened #2920 "cannot import name 'chan_vese'"
when I try to import chan_vese from skimage.segmentation , I'm getting the following error. Can some one help me fixing.
ImportError: cannot import name 'chan_vese'

[2017-12-14 06:51] soupault commented on #2920
@sudhasubramaniam what is the version of your `scikit-image` installation?

[2017-12-14 08:19] sudhasubramaniam commented on #2920
'0.13.1'

[2017-12-14 08:25] soupault commented on #2920
`0.13.x` versions do not contain this feature. To be available in `0.14`

[2017-12-14 08:25] #2920 closed

[2017-12-14 09:19] sudhasubramaniam commented on #2920
Thanks for your reply sir

On Thu, Dec 14, 2017 at 1:55 PM, Egor Panfilov <notifications@github.com>
wrote:

[2017-12-14 20:56] stefanv opened #2921 "Reviewers do not receive credit in release notes"
We should update our release notes script to also examine GitHub to find out who contributed to code review.

[2017-12-14 22:28] grlee77 commented on #2911
What version of scikit-image and numpy are you using? That function uses only fairly basic `numpy` operations so performance should be largely determined by the underlying numpy library performance.

On current master I get only slightly slower performance for float64 in line with what one might expect:
[code]

I have numpy 1.13.1 from `conda-forge` (it is built using OpenBLAS)

[2017-12-16 05:58] ahundt commented on #2918
Worked great, thanks!

[code]

Could you clarify where the origin is in this API's documentation as well?

[2017-12-17 12:36] jni commented on #2916
Which conda channel are you using? It looks like whoever is maintaining the defaults recipe for scikit-image neglected to remove the 2.0 restriction for 0.13.0 when updating the recipe for 0.13.1. In conda-forge, the recipe was correctly updated:

https://github.com/conda-forge/scikit-image-feedstock/pull/16/files

I don't know whom to ping about getting the defaults recipe updated...

[2017-12-17 18:02] zhiruiwang commented on #2916
Yes, I am using  the default channel... Hope this can be fixed on default channel in the next release.

[2017-12-18 11:33] shawnlee103 opened #2925 "cant understand greycomatrix...."
Operating system and version win7
 Python version:3.6
 scikit-image version (run `skimage.__version__`) : 0.13.1

 testSample = np.array([[5, 5, 2, 4, 5],
                           [2, 5, 5, 5, 1],
                           [0, 1, 5, 5, 6],
                           [5, 3, 5, 4, 5],
                           [5, 4, 4, 5, 2]])

    distances = [2]
    angles = [ np.pi / 4]

    glcm = greycomat

[2017-12-18 14:25] #2696 closed

[2017-12-19 01:02] shawnlee103 commented on #2925
1.the distance by 2^0.5
2.the channel issue

[2017-12-19 01:02] #2925 closed

[2017-12-19 09:20] SaeedIqbal opened #2926 "AttributeError: module 'skimage.graph' has no attribute 'rag_mean_color'"
i have the following code: for segmentations
label_rgb = segmentation.mark_boundaries(label_rgb, labels, (0, 0, 0))
rag = graph.rag_mean_color(img,labels)
for region in reg:
    rag.node[region['label']]['centroid'] = region['centroid']

ERROR is:

    rag = graph.rag_mean_color(img,labels)
AttributeError: module 'skimage.graph' has no attribute 'rag_mean_color'

[If reporting a bug, please includ

[2017-12-19 10:00] KaptenDavidsson commented on #2926
Did you do a
from skimage.future import graph
or
from skimage import graph

rag_mean_color is in future

What does dir(graph) say?

[2017-12-19 10:37] SaeedIqbal commented on #2926
Done, It has been resolved. Thanks,

[2017-12-19 10:45] #2926 closed

[2017-12-21 15:06] aymbridge opened #2929 "plot_orb.py example not working"
## Description
ORB feature detector and binary descriptor example doesn't work

[If reporting a bug, attach the entire traceback from Python.]
    raise ValueError("Invalid RGBA argument: {!r}".format(orig_c))
ValueError: Invalid RGBA argument: array([[ 0.51456067],
       [ 0.34857586],
       [ 0.8428185 ]])

[If proposing an enhancement/new feature, provide links to related articles, reference

[2017-12-22 13:30] soupault commented on #2929
The issue occurs with skimage==0.13.0, but not with 0.13.1. Could you, please, update, and check if it works in your environment as well?

[2017-12-25 00:44] #2913 closed

[2017-12-27 12:03] sakvaua commented on #2911
Thank's @grlee77
My other PC shows behaviour similar to yours. I'll dig deeper into this. I use gohlke's repository for MKL numpy and scikit image
www.lfd.uci.edu/~gohlke/pythonlibs/

[2017-12-27 16:08] youkaichao opened #2931 "anaconda kernel dies when importing skimage"
hello, i encountered the same problem  as #2074 !

I want to import skimage in jupyter notebook and every time i try, the kernel died.
But when i launch python console and import skimage, it works fine.

I find an answer at stackoverflow which i think is relevant : [https://stackoverflow.com/questions/42912076/the-kernel-appears-to-have-died-it-will-restart-automatically](stackoverflow) , however,

[2017-12-27 16:57] soupault commented on #2931
Could you share the information on your OS and the versions of installed Python + libraries?

[2017-12-27 17:24] cgohlke commented on #2911
Using numpy+mkl and skimage from https://www.lfd.uci.edu/~gohlke/pythonlibs/:
[code]

[2017-12-28 02:12] youkaichao commented on #2931
OS : Ubuntu 14.04.5 LTS (GNU/Linux 3.19.0-80-generic x86_64)
python : 2.7.13
conda 4.3.24
skimage : 0.13.0
numpy : 1.13.3

any other things needed to be specified?

[2017-12-29 10:09] Patataman commented on #2440
I had the same problem in RHEL6. I'm using Python3.5 (compiled and build by myself because it isn't in the repositories) and the latest version of skimage (0.13.3) using pip gives me the same error.
I tried removing everything from skimage in the virtualenv, but the error stills after reinstalling with pip.

But version 0.12.1 works perfectly :/ (I didn't try with other versions)

[2017-12-29 19:54] sakvaua commented on #2911
OMG!  Christoph! Is that you? You are my hero! Your repository is my number one place to install python libraries.
Also, you have a pretty fast PC.

[2017-12-29 20:02] #2911 closed

[2017-12-30 00:18] stefanv commented on #2440
@Patataman If you rebuild from source, this should not happen.  So I am confused, because you said you did that.

Can you try:

[code]

in the source directory, and see if that succeeds and fixes the problem?

[2017-12-30 13:24] varunagrawal commented on #2440
@soupault that was the version I had locally from the repo at the time. Installing the library works fine since pip has `v0.13.1`. There seems to be some sort of regression somewhere. I apologize for the delay in responding.

[2018-01-03 08:22] Patataman commented on #2440
@stefanv

First of all, the version I was installing was 0.13.1 (not 0.13.3, my bad :/)
And second, what I compiled and built was Python3.5 not skimage

Install it from source like you said installs the 0.14dev version and does not have any error

[2018-01-04 16:20] duygusar commented on #2293
@bshao001  Can you elaborate on what doesn't work with your model when you read with cv2? I am running a model where I read in inputs with cv2, it seems to work alas the accuracy is much lower than state of the art paper - I am trying to up the preprocessing though as that might be the reason

[2018-01-04 19:07] bshao001 commented on #2293
@duygusar Nothing special. The CNN model was trained early last year, and all the image input were based on skimage. A few months later, I just converted everything into CV2 without retraining the model, and the model prediction was very poor. As long as your training and prediction are both using skimage or CV2, your issue should not be related to this.

[2018-01-04 20:21] stefanv commented on #2293
Also, be aware of: http://scikit-image.org/docs/stable/user_guide/data_types.html#working-with-opencv

[2018-01-05 15:19] jjhelmus commented on #2916
Yes, the scikit-image 0.13.1 conda package in `defaults` has the incorrect requirement on networkx.  I'll create a new build shortly with the correct requirement.

Feel free to ping me in the future with any issues related to the scikit-image conda packages in `defaults`.  I will try to get them addressed in a timely manner.

[2018-01-05 21:18] soupault commented on #2916
@jjhelmus great, thank you very much!

[2018-01-05 22:10] jjhelmus commented on #2916
New builds of the scikit-image 0.13.1 conda packages are now available in `defaults` which have the correct requirement on networkx.

I believe this should address the multiple solution issue, let me know if it does not.

[2018-01-05 22:14] stefanv commented on #2916
Thanks, Jonathan!

[2018-01-06 08:45] #2916 closed

[2018-01-06 22:15] vukovicnikola opened #2933 "Saving contour from find_contours as np array"
Hello!
Once I have a contour (i.e. (n,2)-ndarray) from measure.find_contours, is there a way to save it as an image numpy array? I would like to do some further image processing on just the contour image, but can't figure out how to get them saved in the proper format...
Many thanks for your help!
Nikola

[2018-01-07 10:51] soupault commented on #2933
If I correctly understood the question, you can use http://scikit-image.org/docs/dev/api/skimage.draw.html#skimage.draw.polygon or http://scikit-image.org/docs/dev/api/skimage.draw.html#skimage.draw.polygon_perimeter to plot the detected contours, and then save the resulting images via https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.save.html .

Closing as not an issue, but feel

[2018-01-07 10:51] #2933 closed

[2018-01-07 12:28] vukovicnikola commented on #2933
Thank you so much, Egor! Skimage.draw.polygon is exactly what I needed!

[2018-01-08 13:16] FelixS90 commented on #2710
Hi there,

any progress concerning this issue in the meantime? Would be nice to have it resolved as soon as possible.

Kind regards

[2018-01-09 02:53] andrewleech commented on #2514
Any chance of this getting a closer look?

[2018-01-09 10:12] matthew-brett commented on #2514
Oh - whoops - sorry - I didn't see this before.  @andrewleech - any chance of a PR to scikit-image/scikit-image-wheels pulling across the appveyor file?

[2018-01-10 03:24] andrewleech commented on #2514
@stefanv I've added a (possibly naive) AppVeyor config for the wheels builder project.
I haven't used appveyor before (I use gitlab ci for everything) so I expect there to be some basic mistakes... ?
Does it make sense to add this to your existing AppVeyor account?

[2018-01-10 09:20] soupault commented on #2710
@FelixS90 not at the moment. You are welcome to submit a PR :)

[2018-01-14 02:38] ed1d1a8d opened #2936 "Specify which variable the gradient is taken with respect to for compare_ssim"
## Description
We should say that the gradient is with respect to Y for compare_ssim: https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_structural_similarity.py#L27-L28

[2018-01-15 04:32] magee256 opened #2939 "skimage.transform.rescale does not support multidimensional scaling for multichannel images"
## Description
When using an array for the scale argument of the rescale function an error is raised whenever the image being rescaled is multichannel.

## Traceback
[code]

## What seems to be the cause
The problem seems to be this if statement:
[code]
The statement after the first `and` always evaluates to True if `multichannel` is True. Seems like a simple fix, but there could be more bugs hidi

[2018-01-15 20:37] soupault commented on #2929
Closing due to the lack of feedback.
Feel free to reopen if the issue still occurs.

[2018-01-15 20:37] #2929 closed

[2018-01-15 20:41] soupault commented on #2820
@Eskapp Hi! Did you have a change to look at the issue?

[2018-01-15 20:47] soupault commented on #2687
I think this one is closed via #2727.

[2018-01-15 20:47] #2687 closed

[2018-01-18 01:36] mineo210 opened #2942 "(Windows 10) import skimage.io or skimage does not work."
I'm using Anaconda Prompt.
using the latest version of scikit-image:
[code]
and heres the full error I get:
[code]

[2018-01-18 09:13] mineo210 commented on #2942
@stefanv oh so sorry, forgot to mention that I do activate it.

[2018-01-18 09:17] rth opened #2943 "Median filter does not preserve dtype"
The median filter documentation states that the output image will be of the same dtype and the input. However that's not true for gray (float64) inputs.

**Step to reproduce**

[code]
which returns
[code]

Tested on the current master branch (0.14.dev) and 0.13.1 with Python 3.6 on Linux.
cc @rogersamso

[2018-01-18 09:19] soupault commented on #2942
@mineo210 you have to check if you PYTHONPATH is correctly set when running `io.py`. Add:
[code]
at the beggining of the file, and run it once again.

Then check is there is `scikit-image` installation in any of those directories.

[2018-01-18 09:31] mineo210 commented on #2942
@soupault Ok I think I got it. should I change my PYTHONPATH to this?
[code]

[2018-01-18 09:36] mineo210 commented on #2942
I don't get it.. it's set up right but I still get the error
[code]

[2018-01-18 10:19] soupault commented on #2942
I think this one is your Python env - `C:\\Users\\root\\Anaconda2\\envs\\caffe\\`, and this is where `scikit-image` has to be installed - `C:\\Users\\root\\Anaconda2\\envs\\caffe\\lib\\site-packages`.
You should check if it is presented there, and, if so, try to manually remove and install again.

[2018-01-18 10:48] soupault commented on #2943
@rth see https://github.com/scikit-image/scikit-image/issues/1419, https://github.com/scikit-image/scikit-image/pull/1422 . We would appreciate if you decide to take care of the issue.

[2018-01-18 10:55] mineo210 commented on #2942
@soupault alright I looked in ```C:\\Users\\root\\Anaconda2\\envs\\caffe\\lib\\site-packages``` and there is no library called scikit-image or skimage and strangely enough when I try to install scikit-image it says its already installed..
[code]

[2018-01-18 11:06] mineo210 commented on #2942
UPDATE: I solved it.. it was a bug in the code.

[2018-01-18 12:35] rth commented on #2943
Thanks for the response. I missed that issue. I will try to have a look.

[2018-01-18 18:28] red-eight opened #2944 "'boolean subtract operator is deprecated' error on Ubuntu but not Mac"
## Description
When I try to use to use skimage.feature.hog, the python code crashes.

    fd = feature.hog(
        image,
        orientations=4,
        pixels_per_cell=(4, 4),
        cells_per_block=(4, 4),
        block_norm='L2-Hys')

Here is the traceback (modified my original filename):

  File "myfile.py", line 205, in <module>
    main()
  File "myfile.py", line 121, in main
    train_d

[2018-01-19 07:29] soupault commented on #2944
This is not a bug of `scikit-image` (see https://github.com/scipy/scipy/issues/7493), but I'll keep this issue open as a reminder.

@red-eight FYI, the latest implementation of `hog` (`master` branch) doesn't use `np.gradient` and fixes several bugs, so you should consider using it or wait for the release of `scikit-image=0.14`.

[2018-01-19 22:22] #2944 closed

[2018-01-21 13:20] jni commented on #2931
@youkaichao does the problem happen only when you import skimage or also when you import numpy? I expect that this is a NumPy MKL error rather than a scikit-image error. Can you verify this?

[2018-01-21 13:43] youkaichao commented on #2931
well, the skimage package works now.
I don't know what happened to it. I never login to that remote host last month. Maybe it's because someone on that host changed something? After all, I'm not the only user.
So I think we can conclude that this has nothing to do with my local environment. Maybe it's concerned with some system dependencies.

I remember when I issued this issue, NumPy worked well.

[2018-01-21 22:15] JDWarner commented on #2931
Closing as resolved, likely due to resolved platform-dependent dependency issues.

[2018-01-21 22:15] #2931 closed

[2018-01-23 09:18] akshaylamba commented on #1623
i solved it by the below code
lbs is a bool array
[code]

[2018-01-23 19:30] stefanv commented on #1623
@cipri-tom We do support matplotlib for imsave.
@scikit-image/core PR https://github.com/scikit-image/scikit-image/pull/2356 needs a new owner; it's trivial, is anyone willing to pick it up?

[2018-01-24 02:10] florianvoigtlaender opened #2948 "scikit-image installation problem Windows"
I tried to install scikit-image with pip
`pip install scikit-image`

My Python version:
[code]

My pip version is the following:
[code]

FAILED to install scikit-image ....

Output of pip install scikit-image:
-file-
[log.txt](https://github.com/scikit-image/scikit-image/files/1658253/log.txt)

[2018-01-24 08:25] soupault commented on #2948
If you don't have VS installed and properly configured on your Windows machine, you should consider using pre-built wheels of `scikit-image` instead - https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image .

[2018-01-24 08:25] #2948 closed

[2018-01-24 09:13] florianvoigtlaender commented on #2948
Thank you very much!

[2018-01-25 01:03] alyato commented on #2839
I install the `dev_version` in the ubuntu 14.04,following the installation
When i do this step `pip install -e .`
it show that

how to fix it ? Thanks.

[2018-01-25 19:29] stefanv commented on #2839
@alyato Your issue is unrelated, so please file a new issue for further discussion.  Also please post the output of `python setup.py build_ext -i` there.

[2018-01-25 21:56] catubc opened #2950 "What is this warning: warnings.warn("ome-xml: not an ome-tiff master file")"
Hi I'm converting many single-frame .tif files and concatenating them together. One of the warnings is this:

warnings.warn("ome-xml: not an ome-tiff master file")

I assume it's nothing significant?
Thanks,
catubc

[2018-01-26 07:56] stefanv commented on #2950
Please provide the code you executed as well as an image.

Not to be annoying, but you managed to cut out the following request from the issue template while filing:

[code]

[2018-01-27 20:58] SarthakJShetty opened #2951 "Error while trying to install scikit-image on Windows 10. Visual Studio 2015 Community."
I already updated Visual Studio and installed Visual C++ on the system, which took about 5 hours, installing and configuring the system. I tried to install scikit-image using `pip install scikit-image`, but it shows the same error. I tried changing the environment variables to include the files mentioned, but no changes to the error being displayed.

I'm using Visual Studio 2015, Community Version

[2018-01-27 22:38] stefanv commented on #2951
Binary windows installs are available from:

1. conda
2. Chris Gohlke
3. appveyor builds

[2018-01-28 07:35] SarthakJShetty commented on #2951
Hi! I tried all the methods. I installed conda and tried to scikit -image, it successfully installs with no hitch, but when I run ‘python my-program.py’ I get the error saying that there’s no module called skimage available. I also downloaded the wheels from Chris Gohlke’s site, but the wheels don’t appear to be working on my platform; that’s the message that I get at least. Will update with scree

[2018-01-28 08:01] SarthakJShetty commented on #2951
An update:
I downloaded all the skimage wheels from Chris Gholke's website, and tried installing each of them. One of them finally worked and am now able ti use the library. Thanks a lot for the help! I'll be closing this issue. Cheers.

[2018-01-28 08:01] #2951 closed

[2018-01-29 21:44] chiffa opened #2952 "rank.otsu slow on large images"
## Description
I am currently performing analyses of relatively large images (2000x2000 px) and attempting a local Otsu thresholding on them. As a part of thresholding, I am running the `rank.otsu` function from `scikit-image` on one of the color channels in the image.

While this approach worked fine for small images (512x512), for larger images `rank.otsu` is taking around 90-120 seconds. Is tha

[2018-01-31 10:27] ManaliTapre opened #2953 "Installing scikit-image gives could not find a version that satisfies requirement"
I have been trying to install scikit-image using pip install scikit-image. However I keep getting an error
Could not fetch URL https://pypi.python.org/simple/scikit-image/: There was a
problem confirming the ssl certificate: [SSL: CERTIFICATE_VERIFY_FAILED] certifi
cate verify failed (_ssl.c:777) - skipping
Could not find a version that satisfies the requirement scikit-image (from ver
sions: )
No

[2018-01-31 15:14] soupault commented on #2953
Seems to me like a network/proxy issue.

Try to download and install pre-built binaries from https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image (for Windows) or https://pypi.python.org/pypi/scikit-image (for Linux/Mac OS), and let us know the result.

[2018-01-31 15:14] #2953 closed

[2018-02-01 10:00] jni commented on #2952
Hi @chiffa,

If you could provide us with a sample image and code to benchmark, it would help us to troubleshoot this.

In the meantime, something to consider is that filters.rank are supposed to be very fast **for uint8 images** but slow for float images. That's because for uint8 they use a rolling histogram, which is not possible with floats. Having said that, I am not very familiar with the ran

[2018-02-01 14:28] chiffa commented on #2952
It is a uint8 image with a uint8 selem - that's why I am a bit surprised. I will try to post the excerpt of failing code and a sample image for it shortly - it's buried pretty deep in my pipeline.

I was going to upgrade to python 3.x eventually anyway - 2.7 is a legacy requirement for that project.

[2018-02-01 16:30] illarion-rl opened #2954 "skimage.transform.resize speedup proposal"
## Description
It will be great if resize function will not be called, if input and output shapes of the image are the same.

## Way to reproduce
Not required

[2018-02-01 18:14] stefanv commented on #2954
Sure, please file a PR; this should be a two-liner + test.

[2018-02-01 18:14] #2954 closed

[2018-02-01 18:39] stefanv commented on #2952
Can you give `skimage.filters.otsu` a try and see how that performs?

The rank filters are designed to be much faster, so this surprises me.  As Juan says, some benchmark images and code will go a long way to helping us debug the issue.

[2018-02-01 18:55] soupault commented on #2954
Not sure if we need to test this, actually.

[2018-02-04 01:02] stefanv opened #2956 "Investigate Cython + Pythran as an acceleration option"
Currently, we heavily employ Cython for optimization, but there is now an experimental feature to support NumPy constructs via Cythran.  We should investigate.

/cc @serge-sans-paille

[2018-02-05 07:35] stefanv opened #2958 "Refactor setup.py to use setup_requires"
Newer versions of setuptools support `setup_requires`, which we can use to ensure that NumPy is installed:

http://setuptools.readthedocs.io/en/latest/setuptools.html

[2018-02-05 08:02] soupault commented on #1418
Closed via #2945

[2018-02-05 08:02] #1418 closed

[2018-02-05 16:08] chiffa commented on #2952
You can find the minimal bug example and a (pickled) image triggering the issue here: https://gist.github.com/chiffa/2b967a79205a06995d91d38dc559a1c7

[2018-02-05 16:10] chiffa commented on #2952
@stefanv - we need a local Otsu. I assume you are talking about http://scikit-image.org/docs/dev/api/skimage.filters.html?highlight=filters%20otsu#threshold-otsu, which is a global one and is not really useful for us.

[2018-02-05 19:23] stefanv commented on #2952
That makes sense, thanks for clarifying.

[2018-02-06 07:49] #2734 closed

[2018-02-07 01:06] #2939 closed

[2018-02-07 03:17] jni commented on #2783
Closed by #2946

[2018-02-07 03:17] #2783 closed

[2018-02-10 23:37] #1623 closed

[2018-02-12 16:54] chiffa commented on #2952
Would you need any additional info to reproduce and debug the issue?

[2018-02-12 18:02] stefanv commented on #2952
@chiffa I am unable to load your pickle on my machine (Pickle files are not very portable).  Can you export the test image to a `.npy` file with `np.save` and post it again?  Thanks.

[2018-02-12 18:39] chiffa commented on #2952
Here is the new image file: https://www.dropbox.com/sh/sxmydv9l289e1o4/AABVgO0oPUj8EHE22RiyIpi0a?dl=0

And proper import code Gist:
https://gist.github.com/chiffa/58163205d1cede5efd8d74f7754498a3

[2018-02-13 19:34] EvanKrueger opened #2963 "gabor_kernel size/shape changes with orientation"
## Description
In working with the `gabor_kernel` function, I was initially surprised to see the kernel size and shape change with orientation. This behavior doesn't seem like a bug, as there's a speed increase when convolving with the smaller kernel sizes, but it seems different from the way that many other skimage functions derive window/kernel dimensions.

For my purposes, it was simple to chan

[2018-02-13 23:48] jni commented on #2888
Many of these were addressed in #2935

[2018-02-13 23:52] jni commented on #2807
Soo, this actually happened. =P Closing!

[2018-02-13 23:52] #2807 closed

[2018-02-13 23:59] jni commented on #2889
I've changed the milestone, because I don't think this should hold up 0.14

[2018-02-14 08:56] #2936 closed

[2018-02-15 01:35] stefanv opened #2965 "mpl 2.2 beta breaks Travis-CI"
See https://travis-ci.org/scikit-image/scikit-image/builds/341254413?utm_source=github_status&utm_medium=notification

[2018-02-15 09:20] FNicolai commented on #2839
For me, this was the crazy solution! (Way to low score)
https://stackoverflow.com/questions/48226362/scikit-image-fails-to-install

[2018-02-15 10:07] jni commented on #2839
@FNicolai 😱😱😱😱 That *is* crazy.

[2018-02-15 19:53] stefanv commented on #2839
@FNicolai Which package is trying to print UTF-8 characters out during installation?  That definitely shouldn't happen.

[2018-02-15 20:06] FNicolai commented on #2839
@stefanv Ahhh... could you tell me how to find out?! 🙈 I'm new to python. Had the problem. Googled. Tried. Fixed. Reported the hint. I will try to help an give further information.

[2018-02-15 20:13] stefanv commented on #2839
I see this problem all over the place, but cannot find a good analysis of what happens.  The best we can do for now, I think, is to add a small note into the installation instructions for Windows.  Do you want to make a PR for that?

[2018-02-15 20:20] FNicolai commented on #2839
Crazy bug. No logs or something I could upload?!

I'll create a PR.

[2018-02-16 17:28] markddesimone opened #2968 "sudo apt-get install python-skimage fails with 404 errors"
## Description
Trying to install python-skimage on Ubuntu 16.04

it fails with 404 errors

## Way to reproduce
$ sudo apt-get install python-skimage

##output is:

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  blt fonts-lyx libaudio2 libblas-common libblas3 libexpat1-dev libfreeimage3 libgfortran3 lib

[2018-02-16 17:33] markddesimone commented on #2968
sudo apt-get update

followed by

sudo apt-get install python-skimage

fixes the problem

[2018-02-16 17:33] #2968 closed

[2018-02-18 03:05] mayorcoded opened #2969 "Region filling not completely filling all holes in a binary inverted image"
Hi guys, I am quite new to image processing and to scikit-image as well. I performed a binary invert on an image and some of the regions in the image remain unfilled. Here is an image of the regions that remain uunfilled.

![screen shot 2018-02-18 at 4 02 49 am](https://user-images.githubusercontent.com/17001801/36347798-d422b87e-1460-11e8-90ce-a659d6fa5281.png)

please how can I remove the black

[2018-02-20 03:10] shrestharikesh opened #2970 "Trace back error while importing modules from skimage"
Hi,
I'm using python 2.7.14 and successfully installed skimage. But now I am having trouble importing modules from skimage. I got follwing issue

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\skimage\io\__init__.py", line 11, in <module>
    from ._io import *
  File "C:\Python27\lib\site-packages\skimage\io\_io.py", line 7, in <modu

[2018-02-20 03:32] jni commented on #2970
It looks like you didn't correctly install SciPy, which we depend on.

[2018-02-20 03:41] shrestharikesh commented on #2970
@jni I've installed scipy '1.0.0' for cp27 from 'www.lfd.uci.edu/~gohlke/pythonlibs/'

[2018-02-20 03:48] jni commented on #2970
Hmmm. My guess is that the Python that you installed SciPy for and the Python that you installed scikit-image for are different. What happens if you launch Python and then try:

[code]

We will do our best to help you get an installation working, but in general, on Windows, I recommend installing Anaconda. (And Python 3.6.) Is there a specific reason why you didn't use that?

[2018-02-20 04:09] shrestharikesh commented on #2970
@jni  I cannot import linalg from scipy.
It gives following trace back error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\scipy\linalg\__init__.py", line 186, in <module>
    from .misc import *
  File "C:\Python27\lib\site-packages\scipy\linalg\misc.py", line 5, in <module>
    from .blas import get_blas_funcs
  File "C:\Python27

[2018-02-20 04:11] shrestharikesh commented on #2970
I'm working on projects done in  Python 2.7.
To ease up my task I've been using the same version

[2018-02-20 06:19] cgohlke commented on #2970
For those scipy builds, make sure to use [numpy+mkl](https://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy), not the official numpy binaries from PyPI.

[2018-02-20 08:09] KelSolaar commented on #1991
Hi,

Just to let you know that this is still under our radar, we have not forget.

Cheers,

Thomas

[2018-02-20 21:01] stefanv commented on #1991
@KelSolaar I am excited about the prospect of refactoring skimage to use another library to do the color conversion computation.  That said, I was hoping to keep things lightweight; it looks like the latest colour-science package is 24 MB on PyPi!  What all is included there?  In colorspacious we're talking about 40KB, and it does most of what we need, so I wonder if `colour-science` is not overki

[2018-02-20 21:10] #2970 closed

[2018-02-21 20:08] soupault commented on #2969
You can start with something as simple as https://docs.scipy.org/doc/scipy-1.0.0/reference/generated/scipy.ndimage.binary_closing.html#scipy.ndimage.binary_closing .

Closing this as not an issue. For general questions in the future, please, consider using StackOverflow (with `scikit-image` tag).

[2018-02-21 20:08] #2969 closed

[2018-02-23 22:26] scott-trinkle opened #2972 "Extend feature.structure_tensor to 3D"
## Description
There should be an equivalent function to `feature.structure_tensor()` and the associated `feature.structure_tensor_eigvals()` extended to three dimensions.

The tensor structure is described [here](https://en.wikipedia.org/wiki/Structure_tensor#The_3D_structure_tensor), and would just involve calculating a third partial derivative and including 3 more cross terms.

[2018-02-24 02:52] ojasjoshi opened #2973 "r"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [ ] Relevant images (if any)
- [ ] Oper

[2018-02-24 02:57] #2973 closed

[2018-02-28 03:46] Landau1908 opened #2974 "Can denoise_wavelet be used to 1D time series?"
Hi,

Can denoise_wavelet be used to 1D time series?
When I denoise a time series, the returned is all zeros. What happened?

Thanks

[2018-02-28 03:53] Landau1908 commented on #2974
Sample code.
[code]

[2018-02-28 04:19] jni commented on #2974
Hi @Landau1908!

It is indeed possible! In fact if you `plt.plot(ecg_skimage)`, you'll see that you don't have all zeros at all, just very tiny numbers.

You've been bitten, as so many have, by scikit-image's implicit type conversions:

http://scikit-image.org/docs/dev/user_guide/data_types.html

We convert your input data, which is int32, to float, by dividing by the maximum int32, which is `2**3

[2018-02-28 04:19] #2974 closed

[2018-03-01 14:07] vladchimescu commented on #2216
Perhaps, somewhat related to this: skimage (v14.0) throws a loss-of-precision warning when `equalize_adapthist` is applied to a float image, since the first step in `equalize_adapthist` is conversion to `uint16` data type. I am not familiar with the details of the CLAHE algorithm but is it possible to avoid the conversion step?

[2018-03-02 07:21] ujsyehao commented on #2293
@stefanv what causes this difference? Is it the reason for different encoder?
I have another question, I read @jmetz answer, but I am still confused, which library(opencv/skimage)
read image closer to the original image for jpg format?

[2018-03-02 08:16] stefanv commented on #2293
If you care at all about preserving data, do not use jpeg.

[2018-03-02 14:41] ngonthier opened #2976 "Add colorspace convertion functions: RGB <-> HSI, RGB <-> HSL"
## Description

Could you add RGB to HSI color space conversion but also RGB to HSL color space conversion as it is implemented for RGB to HSV  in the function [skimage.color.rgb2hsv](https://github.com/scikit-image/scikit-image/blob/master/skimage/color/colorconv.py#L221) ?

But also the reverse conversion HSI to RGB and HSL to RGB.

Best,

[2018-03-02 22:24] stefanv commented on #2976
I'm not opposed in principle, but for now you may want to use https://colour.readthedocs.io/en/latest/colour.models.html#hsl-colourspace

[2018-03-03 22:42] invernoa commented on #2483
How did you fix it?

[2018-03-05 06:20] ShyamSunderSuthar commented on #2839
https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image
Download from the following location it definately helped me....
scikit_image-0.13.1-cp27-cp27m-win32.whl>> I dowloaded and

to install type
pip install filename
here:
pip install scikit_image-0.13.1-cp27-cp27m-win32.whl

[2018-03-05 22:12] stefanv commented on #1991
@KelSolaar So the tar.bz2 files should include the docs, but you are right in that we can tune the wheels on PyPi to remove them---good find!  I'll file an issue for skimage as well.

There was another request this weekend for conversion to HSL, so I mentioned your package on that issue.

[2018-03-05 22:14] stefanv opened #2978 "Reduce the size of the skimage wheel by removing docs"

[2018-03-05 22:15] stefanv commented on #2978
See also https://github.com/scikit-image/scikit-image/issues/1991#issuecomment-370572780

[2018-03-06 02:59] KelSolaar commented on #1991
Sweet! :)

[2018-03-07 05:29] #2965 closed

[2018-03-07 06:03] stefanv commented on #2912
Please continue discussion on #2863.

[2018-03-07 06:03] #2912 closed

[2018-03-07 06:04] stefanv commented on #2863
Other option (from #2912): https://github.com/mottosso/Qt.py

[2018-03-07 22:03] exsstas opened #2980 "SLIC parameters from variables results in error"
## Description
I'm trying to feed parameters for a slic superpixel from variables and get an error. The very same parameters as direct values works well. Why is that?

- Windows 10 - 64 bit
- Python 3.5.1
- scikit-image 0.13.1

## Way to reproduce
_any image_

[code]
will  result in

without "spacing=None" argument result is:

    sigma /= spacing.astype(np.double)
AttributeError: 'float' object h

[2018-03-07 22:19] jni commented on #2980
Hi @exsstas, this is not a scikit-image bug, but rather a fundamental feature of the Python language, called *positional* vs *keyword* arguments, that you are not using correctly.

When you don't use the argument names `(..., arg_name=var_name, ...)`, the arguments need to be given *in the order in which the appear in the `slic` signature*. The function call doesn't make use of the names of variab

[2018-03-07 22:19] #2980 closed

[2018-03-08 09:43] AliAshrafRagab commented on #2322
it worked for me when i removed cython , i think that was 2 versions installed
pip uninstall cython

[2018-03-08 11:17] mdickinson opened #2981 "canny smoothing step is inaccurate for image of dtype uint8"
## Description

The `smooth_with_function_and_mask` step of the Canny edge detector applies a SciPy `gaussian_filter` to the image data. For image data with dtype `np.uint8`, [this line](https://github.com/scikit-image/scikit-image/blob/897acb778c91e8152b947ffd3f172ef98d29f9f0/skimage/feature/_canny.py#L48) of that function also gives a `np.uint8` result, losing significant precision compared to t

[2018-03-09 18:11] ajp252 opened #2982 "OverflowError: can't convert negative value to char"
Hi there,

When I try to run marching_cubes_lewiner on my raspberry pi using a voxel array (640x480x100), I get an error telling me "OverflowError: can't convert negative value to char". I can't seem to run classic marching cubes either due to a MemoryError. This is on Raspbian Jesse 9.3 on a raspberry pi 3b running on python3 (3.5.3). Note that this same code runs perfectly fine on a Mac running

[2018-03-09 19:32] stefanv commented on #2982
Can you please provide a code snippet + data for us to test with?

[2018-03-13 08:50] jni commented on #2981
Hi @mdickinson, thanks for the report! If you can make a reproducible test case, that would be invaluable towards getting this fixed.

[2018-03-13 19:24] stefanv commented on #2981
I've made an initial PR here: https://github.com/scikit-image/scikit-image/pull/2983
I have no test yet, so would have to try and come up with that later today.

[2018-03-14 22:51] htejeda-stanford opened #2984 "AttributeError When Importing * from filters"
When importing * from skimage.filters there is an attribute error stating that the module has no attribute 'denoise_tv_chambolle'.

[code]
(I am using **Python 2.7.13** and **skimage 0.13.1**)

Upon looking into the site-packages/skimage/filters/__init__.py file there are 3 functions which are not imported but are included in __all__ (denoise_tv_chambolle, denoise_bilateral, denoise_tv_bregman).

[2018-03-14 23:14] stefanv commented on #2984
I do not see this problem with the latest source version.  As an aside, note that it is considered bad practice to use `import *`, better to do `from skimage.filters import (a, b, c)`.

[2018-03-14 23:14] #2984 closed

[2018-03-15 01:47] Flyer4109 opened #2985 "Pip not installing scikit-image on windows"
Hello,

I tried to install scikit-image using pip. I already have the latest version on scipy and numpy. I get this error message:

`Failed building wheel for scikit-image`

Python version: 3.6.3
OS: Windows 10

Stack trace:
[code]

[2018-03-15 05:32] jni opened #2986 "Figure out building and uploading windows wheels to PyPI for releases"
Installation on windows is not easy when not using conda, see e.g. #2942 #2985. We should figure out how to build release wheels e.g. on AppVeyor so that installing on Windows is easy after release and doesn't rely on a bunch of manual work by the release manager.

[2018-03-15 06:13] cgohlke commented on #2985
Feel free to redistribute the wheels. They contain fixes for #2845 and #2846 and require numpy >= 1.13.

[2018-03-19 22:59] ad-si opened #2988 "Adding target number of points to skimage.measure.approximate_polygon"
I was thinking about implementing a mode for `approximate_polygon` where you specify the target number of points instead of the maximum tolerance.

E.g. `approximate_polygon(coords, target_count=10)` would then mean "simplify polygon until it has 10 coordinate points"

Shall I open a PR for this?

[2018-03-20 06:00] soupault commented on #2988
Yes, feel free to submit a PR.
Closing as a duplicate of https://github.com/scikit-image/scikit-image/issues/2212 .

[2018-03-20 06:00] #2988 closed

[2018-03-20 07:03] stefanv commented on #2988
That sounds like a good feature to have, thanks @ad-si

[2018-03-21 20:50] Eskapp commented on #2820
I just updated my fork to look at it. I ran into another similar issue today using `hough_line_peaks`. When the `threshold` parameter does not allow the detection of any peaks, the function raises an `IndexError`.
It looks like the 2 errors stem from the same issue: Images with not enough contours (or all black).

I'll look at these 2 things tomorrow. And come with an update about whether I was ab

[2018-03-22 05:58] CMCDragonkai opened #2989 "Loading truncated images (difference between repl and script)"
## Description

When loading a big geotiff. I noticed that in a python script `skimage.io.imread` would fail with:

[code]

However the same code works when just using the python repl.

The solution was to use:

[code]

Which is sort of a leaky abstraction. My dependency is on `scikit-image` not pillow. Perhaps this code should be put into `scikit-image`?

But also I'm wondering why there's a diff

[2018-03-22 08:06] stefanv commented on #2989
skimage supports various plugins for loading images, of which PIL is one.  Can you try `io.imread(..., plugin='imageio')` and see whether that helps?

[2018-03-22 09:04] not522 opened #2990 "Edge artifact with reflect mode"
Default edge mode changed from `constant` to `reflect` for `resize` and `rescale` by #2484.
But, I find the following artifact around the edge of the image with `reflect` mode.
I recommend `edge` to default mode.

[code]
![reflect](https://user-images.githubusercontent.com/1255726/37760381-d6699942-2df9-11e8-876d-e17af6d6590e.png)
`edge` mode does not make the artifact.
![edge](https://user-images

[2018-03-22 09:13] SayanSeth opened #2991 "convert 2D array of contour to Binary Labeled Image"
How to convert 2D array of contour to Binary Labeled Image in scikit-image? I have found contour using active contour method.

[code]
snake is a 2D-array. Now I have to apply regionprops for that I new binary labeled image.How to convert it?

The label should be such that the area inside the contour will be label 1 and outside area will be 0.
Its Opposite of find_contours function.

[2018-03-22 12:36] jni commented on #2991
Hi @SayanSeth! I think scipy.ndimage.binary_fill_holes will work here. Can you give it a try? I'll close this issue for now but please reopen if that doesn't solve your problem.

[2018-03-22 12:36] #2991 closed

[2018-03-22 20:22] Eskapp commented on #2820
So I am having issues with my IDE (Pycharm) not recognizing `.pyx` files...
I could not solve the problem. Any idea of how I could fix it? (I have never used Cython before) @soupault

[2018-03-22 20:29] Eskapp commented on #2820
I'll keep on investigating tomorrow. I had problems with my IDE recognizing Cython files at first which I just solved.

[2018-03-22 23:35] grlee77 commented on #2990
In #1514 we decided `reflect` was a preferable default to `constant` as the majority of natural images are not zero at their boundaries.

I think `edge` is also preferable to `constant` as a default, but not necessary to `reflect`.  I think which is more desirable is going to depend on the particular choice of image.  What you have referred to as "artifact" here is the expected behavior for that e

[2018-03-23 00:30] jni commented on #2990
I agree with this, thanks @grlee77. If we have another core dev on this camp, I'll go ahead and close this.

@not522 Thank you very much for the report. As @grlee77 said, the optimal choice is really use-dependent. For your use, you should use `mode='edge'`. For other uses (for example to expand borders or augment natural image data for neural networks), reflect is a better choice. Therefore I thi

[2018-03-23 00:36] not522 commented on #2990
I believe `edge` mode is **always** better than `reflect`.
I will add code for explanation later, please wait.

[2018-03-23 01:18] not522 commented on #2990
The following code shows how to specify the index by the edge modes.
`reflect` mode uses the inner index to interpolate the outside of the image.
I think there is no reason to use the inner index for the outside.
`edge` mode always uses closer index than `reflect` mode.
[code]
![index](https://user-images.githubusercontent.com/1255726/37806347-ca6277de-2e82-11e8-8978-09711dce4d7f.png)
In #1514, `r

[2018-03-23 08:39] donpatrice opened #2993 "Non-blocking ImageViewer"
## Description
After generating an `ImageViewer` instance and calling the `show` method the IPython shell is blocked.
It would be nice to be able to further use the IPython shell while the ImageViewer is shown, as this is possible with matplotlib when starting IPython with `ipython --pylab`, for example. Maybe it is already possible but I was not able to figure that out.

## Way to reproduce

- In

[2018-03-23 15:10] Eskapp commented on #2820
So yeah, I cannot get out of my issue to even start working on solving the bug.
If I input:
`from skimage.transform.hough_transform import hough_line, hough_line_peaks`
I get:
[code]

[2018-03-24 20:11] ElJAZRY opened #2994 "slic method fail for initial segmentation"
## Description
I'm using segmentation.slic method to obtain initial segmentation for a graph-cut algorithm, but the result that I get is just grid of squares of different regions, I've applied it for Dicom medical images, but the data type is ' int64', with any other image the method work fine with me.

[code]
![Dicom image](https://github.com/ElJAZRY/BsC/blob/master/images/image.png)

![segmentat

[2018-03-24 22:46] Borda commented on #2440
Hello,
I just got a similar issue on [Shippbale](https://app.shippable.com) while using skimage for python 3.5 (somehow the same code and configuration works fine for python 3.4) and setting requirements as `scikit-image>=0.12.1`

[code]

The error message is following

[code]

Any suggestion?

[2018-03-25 15:37] jni commented on #2994
@ElJAZRY What is happening is that your value of compactness is too high. You should do a parameter scan. I recommend using a log series to search for the right setting. (compactness = 0.001, 0.01, 0.1, 1, ...)

[2018-03-25 15:37] #2994 closed

[2018-03-25 15:47] ElJAZRY commented on #2994
still give the same result, with any other image it works fine, I trayed to change the image data type nothing change also.

[2018-03-25 15:55] jni commented on #2994
Ah! scikit-image data types strike again! I think what’s happening is that your image intensity is being converted to a tiny range, so you would need a compactness = 2**(-32) to see a difference! Or even -64. You should manually rescale the image by a factor that makes sense (leaving the resulting float image in the range [0, 1])

[2018-03-25 15:57] jni commented on #2994
Sorry I meant to add this link to the docs: http://scikit-image.org/docs/dev/user_guide/data_types.html

[2018-03-25 16:04] ElJAZRY commented on #2994
ok, I used  exposure.rescale_intensity
and compactness = 0.1
it give  better result , thank you

[2018-03-25 20:12] soupault commented on #2440
@Borda I'm not really sure what the cause is, but this issue seems related - https://github.com/pyenv/pyenv/issues/989 .

[2018-03-25 21:02] jni commented on #2986
Here's what appears to be a useful link:

https://packaging.python.org/guides/supporting-windows-using-appveyor/#automatically-uploading-wheels

I would propose adding a twine upload step to the AppVeyor file *when we tag a release*. Ditto for Travis. I don't know how to manage the credentials and security though. Any suggestions?

[2018-03-25 21:16] matthew-brett commented on #2986
You're already using the Rackspace credentials to upload there, for the Linux and macOS wheels, I'd recommend doing the same for the Windows wheels.  I've found it very useful to have an intermediate gathering phase before uploading, in case a later wheel build breaks, perhaps requiring a code change.  I can set up the Rackspace credentials if you like, for Appveyor.  Example here : https://github

[2018-03-25 21:34] matthew-brett commented on #2986
Also - did you see : https://github.com/scikit-image/scikit-image-wheels/pull/3 ?

[2018-03-26 20:32] markemus opened #2995 "colorconv.separate_stains should use np.log10() instead of np.log()?"
This method is used for stain deconvolution. It implements the method defined in this paper: http://www.math-info.univ-paris5.fr/~lomn/Data/2017/Color/Quantification_of_histochemical_staining.pdf
which is the original paper on color deconvolution. The algorithm is defined on page 6 of the paper:

ODC = -log10(IC/I0,C) = A*cC .

Shouldn't line 1130:
stains = np.dot(np.reshape(-np.log(rgb), (-1, 3))

[2018-03-27 16:38] jni commented on #2995
I'm not sure this matters very much. One is a constant factor from the other, and neither appears to be guaranteed to be in the range of values recommended for skimage datatypes. Do you know whether absolute values make sense in this scale?

CC @cespenel @spotter

[2018-03-27 19:47] markemus commented on #2995
You seem to be right that it doesn't change the distribution, although I'm not sure why that's the case. However absolute values do matter. OD = A*C, where C is the absorption constant for a stain and A is the amount of stain present. As long as you determine your C with ln() in mind I guess it would be okay, but it doesn't follow the standard convention.

I'm pretty sure it's a bug and someone mi

[2018-03-28 05:59] Abhijit-2592 opened #2997 "Hough_circle_peak function returns integer values"
I am trying to detect circles in an image for precision measurement application. I was testing out hough circle in skimage, The output from the hough_circle_peak is an integer. But what I want is a floating value (subpixel). The hough in Opencv gives out radius in float. What am I missing here

[2018-03-28 16:19] jni commented on #2997
@Abhijit-2592 you're not missing anything, it seems. It's `hough_circle` itself that transforms radii to integers. See [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/hough_transform.py#L79) for the docs and source. Currently this is a limitation of the code. I don't know the history/rationale for forcing integer-level precision. It doesn't look like it was a cons

[2018-03-29 11:34] jmetz commented on #2077
I've tested adding in a global minimisation algorithm (`lapjv`) and tested it on the ORB and Brief examples.

The bottom line is, it performs worse than the current brute-force local minimisation algorithm, because while it almost always returns more matches, the matches are of poorer quality.

The reason for this is basically that the keypoints only have a relatively low overlap between the two i

[2018-03-29 17:15] jni commented on #2077
I don't really understand why it failed. Intuitively, I agree with you @jmetz that LAP is *exactly* the right formalism here. Perhaps the match weights need to be reconsidered?

[2018-03-30 12:28] duhaime opened #2998 "Version Bump to 0.13.2 on pypi?"
## Description
There have been many commits to the project since 0.13.1, and some of the newly introduced features are present in the docs but not in the latest version on pypi (e.g. the `anti_aliasing` argument in `skimage.transform.resize` [docs](http://scikit-image.org/docs/dev/api/skimage.transform.html#skimage.transform.resize)). Could you potentially consider packaging a release for pypi?

#

[2018-03-30 13:41] jni commented on #2998
Yes! Sorry! It's been on our to-do for some time. I'm going to aim to get it out in the next week or so.

[2018-03-30 14:34] sciunto commented on #2997
This is a fair question.

Correct me if I'm wrong. Hough circle transforms use the ability to draw circles. With the current implementation, these can be drawn with digitized steps. We are limited to this precision and I'm not sure what a float value would mean given the absence of subpixelar detection.

@Abhijit-2592 Did you read the code of openCV to know how they get the subpixelar accuracy?

[2018-03-30 14:53] jni commented on #2997
@sciunto but we can draw circles more accurately by allowing a float radius, since an integer radius is possible for only a few angles. So I think by using an int from the beginning we are throwing away some precision (at least).

[2018-03-30 15:54] duhaime commented on #2998
In case anyone lands here in the meantime, it took me a minute to realize you need to run the following to install scikit-image locally:

[code]

[2018-03-30 16:17] jni commented on #2998
A shorter version, documented [here](http://scikit-image.org/docs/dev/install.html) (amid a lot of mess, admittedly) is:

[code]
(Notice the `.` at the end, meaning "current directory", when you are in the directory containing `setup.py`, as above. Otherwise you can replace `.` with the correct directory, like `/path/to/scikit-image`.)

[2018-03-31 03:41] Abhijit-2592 commented on #2997
@sciunto sorry for the late reply, No I haven't checked the source code of OpenCV to see their implementation. But as @jni  mentioned, we are throwing out accuracy by using integer instead of float. This extra accuracy does not matter if the aim is circle detection. But this matters a lot when quantifying the size of the circle in world coordinates especially in millimeters. By using integer you a

[2018-04-01 23:49] waleedka opened #3001 "Crash on resize() with 1 pixel image and mode="reflect""
This code reproduces the issue:

[code]

This causes the Python interpreter to crash with a "floating point exception". I'm running this on Ubuntu 16.04, Python 3.5.2 and scikit-image 0.13.1.

Changing mode to `constant` or changing order to `0` avoids the problem.

[2018-04-02 01:08] stefanv opened #3002 "Use astropy instead of pyfits to read FITS images"
pyfits is not currently installable on 3.5, and it looks like AstroPy is more actively maintained.

[2018-04-02 01:21] MSC19950601 opened #3003 "How to calculate feature or get feature by multi-block lbp funcition?"
## Description
just as the question

[2018-04-02 04:34] warmspringwinds commented on #3003
@MSC19950601 Please, have a look at [this short tutorial](http://scikit-image.org/docs/dev/auto_examples/features_detection/plot_multiblock_local_binary_pattern.html) for a simple example :)

Let me know if you have any further questions or problems.

Have a great day.

[2018-04-02 06:26] MSC19950601 commented on #3003
@warmspringwinds Thank you for the reply. I've already seen this example before. However, what i want to get is the feature vector, I cannot find the method from the document.

[2018-04-02 07:35] warmspringwinds commented on #3003
@MSC19950601

Oh I see -- that might be not very obvious from the example:

the ```lbp_code``` variable contains a feature vector for a specified position (row, column) and with
a specified parameters ( width, height )

Depending on your application -- you might compute this features for each position.

[2018-04-02 16:51] warmspringwinds commented on #3003
@MSC19950601 Also have a look at a bit simpler features like just usual local binary patterns:
http://scikit-image.org/docs/dev/auto_examples/features_detection/plot_local_binary_pattern.html

[2018-04-03 00:47] MSC19950601 commented on #3003
@warmspringwinds Thank you for the reply! These two examples I've already seen before, and I extracted the uniform Local Binary Patterns feature vector using _feature.local_binary_pattern()_. However, I still find it hard to get **MB-LBP** feature vector and **there is no example to teach how to get feature vector not only visualize it.** **lbp_code** is just an int value, I don't think it is a fe

[2018-04-03 00:53] warmspringwinds commented on #3003
@MSC19950601 Now I get you -- look the int value that you get in the ```lbp_code``` variable is actually
feature vector of size ```8``` where each element can be either zero or one.
[code]
It's just store more efficiently in a ```int`` variable.

Is it clear now ?

I probably have to add this clarification to the official example :)

[2018-04-03 01:18] MSC19950601 commented on #3003
@warmspringwinds Thank you for the patient reply. I almost get your point. I need to read the example again. If I have any other questions, could l send email to you in person?

[2018-04-03 04:13] warmspringwinds commented on #3003
@MSC19950601 Sure -- but if it's related to this question,
you'd better ask here -- the conversation history might help other people in the future :)

[2018-04-03 09:28] jmetz commented on #2077
@jni - yes that could potentially help, together with passing in a maximum distance (ie cost) - a threshold above which matches are no longer assigned.

Any idea what value I could use for a maximum distance? For object tracking (where I often use this formalism) the maximum distance is often determined using a-priori knowledge of the motion in the system.

[2018-04-03 13:45] jni commented on #3003
I want to second @warmspringwinds 's comment. @MSC19950601, please continue the conversation here until it's resolved. It will help us to develop or modify an example in the gallery to answer your question.

[2018-04-03 14:00] jni commented on #2077
@jmetz I'm not familiar enough with this problem, but perhaps something based on the distribution of weights? e.g. keep only the 50% shortest pairs, or some other percentage — I guess you'd have to experiment with a few images and see what gives decent results. Bonus points for picking a fun fraction, say, 1/π. =P

[2018-04-03 14:29] malymaciel commented on #2440
Try this `conda install -c conda-forge pillow=4.3.0`
I had the same problem and this fixed it.

[2018-04-06 05:36] wenouyang opened #3005 "Regarding using skimage functions to replace scipy.misc.imread"
## Description
[Please provide a general introduction to the issue/proposal.]
I have an existing code that use scipy.misc to read image
[code]

I would like to know are there any functionalities in `skimage`, that can replace the `scipy.misc` and get the same output?
[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related ar

[2018-04-06 06:15] jni commented on #3005
Hi @wenouyang! As noted in the [SciPy documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.imread.html), you should use `imageio.imread`. See https://imageio.github.io/ for usage information.

[2018-04-06 06:15] #3005 closed

[2018-04-06 19:55] dt99jay opened #3006 "Provide a nodata parameter to measure.find_contours"
## Provide a nodata parameter to measure.find_contours
At the moment, contours found by `skimage.measure.find_contours` which intersect the array edge are left open and others are closed ([docs](http://scikit-image.org/docs/stable/api/skimage.measure.html#skimage.measure.find_contours)).

Where the data of interest is masked but the array can't be cropped to this data (e.g. the area of interest is

[2018-04-06 22:01] wenouyang commented on #3005
Hi Jni, would you like to elaborate why skimage would not be recommended?  Thanks

[2018-04-08 03:13] gregsadetsky opened #3007 "threshold_niblack and threshold_sauvola sometimes return NaN when calling them with float64 images"
## Description

`threshold_niblack` and `threshold_sauvola` sometimes return NaN when calling them with float64 images

## Way to reproduce
- [X] Code example

[code]

the reason for the NaNs is that `sqrt` is being called in [_mean_std](https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/thresholding.py#L775) with negative numbers.

- [X] Operating system and version

OS X 10

[2018-04-09 02:03] jni commented on #3007
@gregsadetsky thanks very much for the minimal example — it makes our job so much easier! See #3008.

As an aside, I'll take this opportunity to gently prod you to adopt Python 3 if possible. Our upcoming 0.14 release will be the last one to support Python 2.7. (Though we will backport bug fixes to the 0.14 line until Python officially drops support in 2020.)

[2018-04-09 02:11] gregsadetsky commented on #3007
wow, incredible to already see a fix! and "my" magical pathological values in the test codebase! haha :-)

thank you x 1000000!!

and yes on py3... old habits die hard, etc. ;-) I should be good by 2020! :-)

[2018-04-09 02:11] gregsadetsky commented on #3007
would you prefer to keep this open while #3008 hasn't been merged, or is this good to close now considering that a fix has already been created?

[2018-04-09 02:15] jni commented on #3007
Haha well, as I mentioned, your example made the fix easy! (As well as you finding the exact cause of the error!) You can see from our open issues that our response time has a long tail, sadly. =)

We typically keep things open until the fixes get merged. GitHub will automatically close this when #3008 is merged, so it should be all good right now. =)

[2018-04-09 07:29] jni opened #3009 "Fixes for data types and other common sources of errors"
## Description
I recently [mentioned on the mailing list](https://mail.python.org/pipermail/scikit-image/2018-April/005507.html) that a large proportion of our errors come from new (and old!) users surprised by the behavior of our [data type conversions](http://scikit-image.org/docs/dev/user_guide/data_types.html).

Although they are documented, this documentation is not prominent enough. Indeed,

[2018-04-09 09:25] soupault commented on #3007
Closed via #3008

[2018-04-09 09:25] #3007 closed

[2018-04-09 16:02] jontwo opened #3010 "transform.rescale loses data when nodata value is nan"
I'm trying to resample a raster using scikit-image 0.13.1 on python 2.7.4 (both Scientific Linux 7.4 and Windows 10). The nodata value is nan and in regions where the data is a narrow line, some or all of it is lost when resampling.

For example:
[code]

Making the data area wider is an improvement, but I would expect the original data area to be maintained.

[code]

Using 0 as nodata keeps the sh

[2018-04-10 02:01] jni commented on #3010
@jontwo This is an unavoidable consequence of how rescaling works: by interpolation of values (meaning nearby values are averaged together in some way) (see [this Wikipedia entry](https://en.wikipedia.org/wiki/Bilinear_interpolation) for a simple example). I would argue that your second result is closest to what you actually want, but another option is to add `order=0` to the `rescale` call. This

[2018-04-10 02:01] #3010 closed

[2018-04-10 02:11] jni commented on #3001
Well, this crash makes perfect sense but I don't know how to fix it. =P

@waleedka thanks for the report! Would you expect it to work or just to throw a meaningful error? I don't think reflect makes sense when the image is one-pixel-thick in one dimension.

Coincidentally, this is probably an argument in favour of making `mode='edge'` the default as proposed in #2990!

[2018-04-10 12:16] jontwo commented on #3010
@jni Thanks for the quick response - I'd imagined it might be unavoidable, as I tried a few other tools and got the same result. I was hoping it might be possible to add an option to allow these values to be calculated, but it looks like `order=0` might be what I need.

[2018-04-11 17:55] stefanv opened #3012 "Feature request: histogram matching"
See, e.g. https://stackoverflow.com/a/33047048/214686

[2018-04-12 01:51] jni opened #3014 "Magic dimensionality guessing in gray2rgb"
## Description
Playing around with `label2rgb`, I noticed that we do a bit of magic in `gray2rgb` in order to make it a no-op when an RGB image is passed through:

https://github.com/scikit-image/scikit-image/blob/38b83c436be684baf6ee26bfa09c5e41edb516fb/skimage/color/colorconv.py#L835-L840

We have since sworn off this kind of magic, but I don't know how to fix this without breaking a million use

[2018-04-13 03:24] jni commented on #2674
@simflin @rmegret I'd like to invite your comments in #3015!

[2018-04-13 06:00] sciunto opened #3016 "Enhancement of peak detection features"
Following this [thread on the mailing list](https://mail.python.org/pipermail/scikit-image/2018-April/005514.html), I initiate this issue to enhance the peak detection in scikit image.

Currently, we have two functions:
* [skimage.morphology.local_maxima](http://scikit-image.org/docs/dev/api/skimage.morphology.html#skimage.morphology.local_maxima)
* [skimage.feature.peak_local_max](http://scikit-i

[2018-04-13 07:06] soupault commented on #3014
Too much magic for a simple function :). Can't we just deprecate this behaviour?

[2018-04-13 07:28] jni commented on #3016
Hi @ThomasWalter, good to see you again! =)

I fully agree that multiple algorithms are totally ok, just like we have multiple segmentation or thresholding algorithms. However, we have more than once found that whatever algorithm `peak_local_maxima` implements, it's doesn't seem very good. If you follow @sciunto's link to the mailing list, you'll see an example I came up with that gave very surpri

[2018-04-13 08:17] stefanv commented on #3016
I'd like peak detection algorithms to at least do what is intuitively expected.  And there really aren't that many solutions that pass that test.  Flat peaks?  Oh, ok, it highlights all pixels. Or:  Flat peaks?  Oh, ok, it highlights the center of the peak.

[2018-04-13 09:29] jni opened #3017 "No documentation for filters.threshold_local"
## Description
In resurrecting some old code, I found that my use of `threshold_adaptive` triggered a warning, "threshold_adaptive is deprecated, use threshold_local instead". Fine, I thought. Let me check the documentation for threshold_local to make sure my function call is still valid with the new function's API.

To my surprise, there is no documentation for threshold_local!

http://scikit-ima

[2018-04-13 09:33] jni commented on #3017
Ah, the cause: it wasn't added to the module `__all__`:

https://github.com/scikit-image/scikit-image/blob/aff33569589fcc972084c0c930d85d8471a70bea/skimage/filters/thresholding.py#L12-L23

[2018-04-13 09:59] ThomasWalter commented on #3016
1. OK, let us start with this definition: a local maximum is a region of constant grey level, for which all neighbours inside the image have a strictly lower grey level. The only uncertainty in this definition is thus what happens with an entirely constant image (I would just say, that in this case, there is no maximum). This is the only unambiguous definition I know. As soon as you start filterin

[2018-04-13 15:15] lagru commented on #3016
First of all, I'm always happy to help and learn something new in the process. I already thought about whether the function in question [_argmaxima1d](https://github.com/scipy/scipy/blob/master/scipy/signal/_peak_finding_utils.pyx#L16-L79) could be generalized to the 2D case. I haven't tried to implement it yet but I think it might be possible by using it in a two step algorithm:

1. Consider only

[2018-04-13 19:05] coderforlife commented on #2825
Note that this warning occurs even if you give `remove_small_objects` a boolean array that only has one connected component! The warning should definitely never be emitted when giving a boolean array.

[2018-04-14 01:36] MSC19950601 commented on #458
No LaTeX version?

[2018-04-14 03:28] jni commented on #2825
@coderforlife good point! This was just fixed in master recently: https://github.com/scikit-image/scikit-image/pull/2930 We'll be releasing 0.14 soon with the fix!

[2018-04-14 12:31] lagru commented on #3016
Correct. It depends on what definition is used for a peak: "must be surrounded by lower values" vs "must not border a higher value".

[2018-04-14 13:35] coderforlife commented on #2825
@jni Thanks for the update!

As a side note, when using `remove_small_objects` with pre-labelled images I do the following which may be useful to others:

[code]

[2018-04-14 17:39] tacaswell commented on #2863
The other option is just drop pyqt4 as riverbank has pulled the packages from pypi https://pypi.org/project/PyQt4/

On the other hand, even arch is still packaging qt4.

[2018-04-15 23:52] waleedka commented on #3001
I'm no expert in the intricate details and edge cases of image resizing, but I would expect it to work rather than throw an error. And I don't see a problem with applying reflect on a 1-pixel image, it should simply repeat that pixel, similar to how Numpy handles it.
[code]

[2018-04-16 04:08] jni commented on #3001
Wow! That's very interesting, because that really doesn't jive with the definition of 'reflect'. From the `pad` docstring:

[code]

Note how the edge value (1) is not repeated: you are taking a reflection about that value to get the padding. In the length-1 case, you are trying to reflect from beyond the edge of the image to the other side, so you have no values to pull from...

[2018-04-16 06:35] waleedka commented on #3001
I see your point. You're right, it's an edge case. But I think repeating the 1 pixel is okay because the spirit of the `reflect` mode is to reduce discontinuities at the edges, and this achieves it.

[2018-04-16 07:56] stefanv commented on #3017
But it is in `skimage.filters.__init__` --- why isn't that enough?

[2018-04-16 07:58] jni commented on #3017
You're the sphinx expert @stefanv! =) But I should have said "a possible cause" rather than "the cause", above.

[2018-04-16 17:37] arares opened #3019 "Small bug in skimage.feature.peak_local_max()"
## Description
When provided both `min_distance` and `threshold_abs` parameters to the `skimage.feature.peak_local_max()` function, the first parameter takes unnecessary precedence over the second one. I did not look at the code, but from my experiments it appears that a list of peaks is calculated internally, then the first constrained is applied, and then the second one. However, if there is a p

[2018-04-16 22:37] stefanv commented on #1131
ping @sciunto ; we just ran into this issue again.  Do you have any code that we can work from?

[2018-04-17 04:56] sciunto commented on #1131
nope, sorry :(

[2018-04-17 15:45] Borda commented on #2440
well, I do not conda have shippable but while upgrading `pip install -U pillow` it crashes (downloading 5.x) and upgrading Cython to version 0.28 or higher did not help

[2018-04-17 19:12] Borda commented on #2440
btw, I have opened a question to Shippable - https://github.com/Shippable/support/issues/4272

[2018-04-19 00:59] stefanv commented on #2958
Should rather use https://www.python.org/dev/peps/pep-0518/; see https://github.com/scikit-image/scikit-image/pull/3020

[2018-04-20 06:42] jeffgelb-sg opened #3021 "register_translation with sliced array"
## Description
I am working with the register_translation method to align a stack of images, and I'd like the ability to select a centered ROI for alignment (since sometimes the edges don't contain helpful data). Currently, I'm slicing a section of the 2d image data from the middle of the original array and copying that into a new array for the register_translation engine to process, but if I star

[2018-04-20 09:33] jni commented on #3021
Ah! Took me a while. Here's the kicker:

[code]

The problem is in the indexing. Note that:

[code]
is equivalent to:

[code]
So you are grabbing the 0th element of `datastack` (this is a (2048, 2048)-shaped array), then you are grabbing the slice `yStart:yEnd` of that (this is a (615, 2048)-shaped array), and then the `xStart:xEnd` slice of that (this is empty, because `xStart > 615`). The correc

[2018-04-20 09:33] #3021 closed

[2018-04-20 15:26] #2682 closed

[2018-04-20 17:58] jeffgelb-sg commented on #3021
Thank you so much for the helpful advice! And so quickly!! It is working beautifully on my end now. I also went ahead and implemented the underscore case (I think my C background might be showing... so this should help me to "tuck that back in"), and will look next at "future-proofing" the legacy statements. Yes, unfortunately there are some other modules we are using elsewhere that still rely on

[2018-04-21 05:38] jni commented on #3021
Yes, online logging of info/public note-taking is fantastic. You never know who it's going to help!

In that vein, here's a nice guide for writing Python 2/3 compatible code:
http://python-future.org/compatible_idioms.html

six is a very very common library for achieving this:
https://pythonhosted.org/six/

[2018-04-23 12:47] smyaknti opened #3024 "Underlying algorithms in Scikit-Image module skimage.transform.PeicewiseAffineTransform.estimate"
## Description
I am currently working on a project that requires in-depth understanding of one of the modules available in scikit-image. In that regard I require a source(preferably a paper) for the algorithms being used in skimage.transform.PeicewiseAffineTransform.estimate in this file below.
[_geometric.py](https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/_geometric.py

[2018-04-23 13:24] soupault commented on #3024
`Require` is, kind of, a strong word here.

For theory see, for example, http://www2.imm.dtu.dk/~aam/main/node13.html#SECTION04331000000000000000 .

For further questions, not directly related to the development of the library, consider using StackOverflow (and `scikit-image` tag).

[2018-04-23 13:24] #3024 closed

[2018-04-23 18:51] tillea opened #3025 "Build error with matplotlib 2.2.2"
Hi,
when trying to build with matplotlib 2.2.2 (Debian packaged) I get the following errors

    ======================================================================
    ERROR: skimage.io.tests.test_mpl_imshow.test_uint8
    ----------------------------------------------------------------------
    Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/nose/case.py", lin

[2018-04-23 18:54] kwiechen opened #3026 "SLIC very slow with win 10"
## Description
SLIC is very slow with Winpython/Windows 10 but faster when using WSL/Windows 10

Winpython/Win10 log:
image size  1421x998 pixel
superpixel_size = 25 micrometer  72 pixel
Windows-10-10.0.16299-SP0
('64bit', 'WindowsPE')
Python  3.5.4
scikit-image version  0.13.1
SLIC elapsed time 29.36 s

WSL/Win10 log:
image size  1421x998 pixel
superpixel_size = 25 micrometer  72 pixel
Linux-4.4.

[2018-04-23 19:05] #3025 closed, assigned to nobody

[2018-04-24 00:54] yuyu2172 commented on #2345
These are exactly what implemented in ChainerCV.

http://chainercv.readthedocs.io/en/stable/reference/evaluations.html

[2018-04-24 02:09] pipehappy1 commented on #2700
yes, get the same observation here. ppl needs to get @DavidBreuer work into the trunk or fix this bug...

[2018-04-24 09:40] sciunto commented on #3019
Hi,

Thanks for the report.
Your proposition makes sense to me. However, we are planning to refactor the peak detection provided in scikit-image (See #3022) and it might not be worth to fix a function that will be deprecated relatively soon.

[2018-04-24 09:50] soupault commented on #3026
I personally don't know how Winpython is implemented, so the only thing I'd suggest is to try to update it to the latest version (and also the corresponding `numpy` and `scipy` installations).

In my Linux environment I have the performances similar to your `WSL/Win10`.

@scikit-image/core do we officially support this distribution?

[2018-04-24 15:41] DMST1990 opened #3027 "Skeleton for voxel images faild."
## Description
The skeleton extraction for a voxel based representation failed.

I created a simple 3D- Case of blobs.
If i use skeletonize_3d the resulting skeleton zero.

## Way to reproduce
Version: scikit-image 0.13-1

Example python program:

[code]

[2018-04-24 16:25] ThomasWalter opened #3028 "Image Inversion for signed types"
## Description
Image inversion for signed types does not yield the expected result.

`In [7]: img = np.array([[0, 1, -125], [1, 0, 125]], dtype=np.int8)`

`In [8]: invert(img)`
`Out[8]: `
`array([[127, 126,  -4],
       [126, 127,   2]], dtype=int8)`

I guess, that image inversion should do different things depending on the data type. If the data type is signed, inversion should more or less multi

[2018-04-24 17:13] ThomasWalter commented on #3028
So, in principle, it would be:

- for unsigned integer: `img_inv = dtype_limits(image, clip_negative=False)[1] - image`
- for float: `img_inv = -image`
- for signed integer types: `img_inv = -1-image`

[2018-04-24 17:43] soupault commented on #3028
This one is tricky. I think implementing different behaviours for different dtypes is reasonable, but it makes the function so counter-intuitive...

I'm afraid it's more appropriate to distinguish [-1:1] and [0:1] representations of float ndarrays, performing `i = -x` for the former and `i = 1-x` for the latter.

[2018-04-24 17:49] ThomasWalter commented on #3028
True ... it is a bit ugly.

You are certainly right ... but how can I know the allowed range?

I mean, I cannot infer the allowed range from the actual range. An image could live in the space of signed float images, yet - by coincidence - have only positive values.

[2018-04-24 18:03] soupault commented on #3027
What exactly doesn't work for you?
Here are the resutls on my PC:
[code]

![figure_1](https://user-images.githubusercontent.com/1315589/39205258-d44e0a94-4802-11e8-9511-617156f25a9a.png)

[2018-04-24 18:06] soupault commented on #3028
Unfortunately, this is currently not possible (see https://github.com/scikit-image/scikit-image/issues/2605).

I don't know... Maybe we should disable this function for float ndarrays for now?

[2018-04-25 06:11] ThomasWalter commented on #3028
Or we have an option for the inversion of float ndarrays.

[2018-04-25 09:58] DMST1990 commented on #3027
Sorry for that, np.where() didn`t work as i would expect.

I changed the code into

[code]
and it worked.

[2018-04-25 10:09] soupault commented on #3027
Not for skeletonization. You might take a look at thinning for this (http://scikit-image.org/docs/dev/auto_examples/edges/plot_skeleton.html, http://scikit-image.org/docs/dev/api/skimage.morphology.html#thin).

[2018-04-25 10:09] #3027 closed

[2018-04-26 18:05] soupault commented on #2989
@CMCDragonkai do you have any updates on this matter?

In my opinion, it would be quite cumbersome for `skimage` to expose all configuration option of all the underlying image I/O libraries. At least, we currently do not have enough manpower to maintain this extensive abstraction layer. If you need something specific, it is better to have a direct control over I/O process by using the correspondin

[2018-04-27 15:04] soupault commented on #2950
Closing this issue as stale. Feel free to reopen if new info is available.

[2018-04-27 15:04] #2950 closed

[2018-04-27 18:16] JDWarner commented on #2876
I've got a basic implementation of a stack-based flood fill for uint8 images I'll toss up as a PR, if nothing else as a starting point.

[2018-04-27 18:29] cgohlke commented on #3026
I can reproduce the slowness on Windows. It is due to the use of the `pow` function in inner loops, e.g. at https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/_slic.pyx#L135. Probably gcc optimized those function call away while msvc does not, or it could depend on the Cython version used. Replacing `x**2` with `x*x` reduces slic runtime 10 times from 26s to 2.4s.

[2018-04-27 19:08] cgohlke commented on #3026
Looks like [_quickshift_cython](https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/_quickshift_cy.pyx#L76) might suffer from the same problem.

[2018-04-27 19:11] soupault commented on #3026
@cgohlke you might find this interesting also - https://github.com/scikit-image/scikit-image/issues/2657

[2018-04-27 19:18] cgohlke commented on #3026
Any `**2` used in inner loops is a candidate for manual optimization. That includes radon_transform, hough_transform, quickshift, and denoising.

[2018-04-27 20:38] JDWarner commented on #3026
Wow.  Unless there's any significant reason or performance issue with the alternative `x*x`, this one is a no-brainer.

[2018-04-27 20:41] lagru commented on #2876
I hope I'm not completely misjudging this but I basically implemented this already in #3022. It is essentially a queue based flood fill with a few additions to determine if a plateau is a maximum. I think that could be easily adapted to satisfy this request.

What do you think?

[2018-04-27 21:00] cgohlke commented on #3026
I'm currently checking if this fixes any of #2657 ...

[2018-04-27 21:26] cgohlke commented on #2657
Looks like `plot_denoise.py`, `plot_circular_elliptical_hough_transform.py`, and `plot_join_segmentations.py` can be "fixed" by `x**2 -> x*x` as in #3032. I'll prepare a PR.

[2018-04-28 00:34] jni opened #3034 "Weird matplotlib infinite loop Travis failure"
I'm not sure yet whether this is reproducible, but on Py2.7 with minimal requirements (MPL 1.3.1), we are getting a maximum recursion depth error:

https://travis-ci.org/scikit-image/scikit-image/jobs/372237528#L5768

It doesn't appear to be random OR due to a new Matplotlib release, so I really don't understand why it's popping up now.

Environment variables:
WITH_PYAMG=1
MINIMUM_REQUIREMENTS=1
W

[2018-04-28 03:32] cgohlke commented on #2657
Where can I find these numbers?

[2018-04-28 03:38] stefanv commented on #2657
They are shown in the Travis logs (ie docs build); not sure if there is a way to extract them programmatically from Sphinx gallery.

[2018-04-28 05:27] cgohlke commented on #2657
I see. Building the docs is disabled on AppVeyor. I ran it locally with #3035:
[code]

[2018-04-28 07:00] #2657 closed

[2018-04-28 07:06] JDWarner commented on #2876
@lagru looks like you're right, didn't see that as part of the peak changes.  I don't necessarily want to rope you into things out of the scope of your existing PR, but if there is the possibility to take some of that algorithm into, e.g., `skimage._shared` and re-use it in a directly exposed flood fill, that would definitely be better than redundancy!

[2018-04-28 08:10] lagru commented on #2876
I would love to to that however I don't think reusing the same flood fill is possible in this case. The inner queue-consuming loop of my function has more logic than necessary for a basic flood-fill and I don't see an elegant way to move that logic outside. So I don't think a shared Cython function is the answer here. There are some Python parts that were adapted from the watershed algorithm so it

[2018-04-28 08:36] soupault commented on #3026
Closed via #3035 .

[2018-04-28 08:36] #3026 closed

[2018-04-28 08:38] soupault commented on #3026
@cgohlke thank you very much to the investigation and the fix!

[2018-04-28 08:49] soupault opened #3036 "`segmentation\tests\test_random_walker.py` tests fail"
## Description

The are several test failures in AppVeyor, but despite this the builds are marked green.
For more info, see https://ci.appveyor.com/project/soupault/scikit-image/build/job/di8uxa5s295x4mo3#L3314

[2018-04-28 10:28] soupault commented on #3034
Some comments on this matter - https://github.com/scikit-image/scikit-image/pull/2977#issuecomment-370417245 .

[2018-04-28 13:55] emmanuelle commented on #3036
Actually some of these tests also fail in Travis, but I can't reproduce the problem on my machine :-/

[2018-04-29 01:46] jni commented on #3034
Thanks @soupault for that link! Though it does not help to resolve it. It appears to be repeatable, right? Very strange since it is an old version but a new problem. Perhaps it has to do with the Qt version? Or how Travis handles Qt might have changed?

[2018-04-29 05:50] soupault commented on #3028
Closed via #3030.

[2018-04-29 05:50] #3028 closed

[2018-04-29 05:57] soupault commented on #3034
It doesn't, but, at least, we are all aligned now :).
I guess there is a room for investigation: try different backends, downgrade matplotlib, etc.

[2018-04-29 09:12] kwiechen commented on #3026
Thank you very much for the SLIC/Win10 run-time optimization. Do you plan
to release v0.13.2 with this fix (and maybe with others like new parameter
anti_aliasing in transform.resize)?

2018-04-28 10:38 GMT+02:00 Egor Panfilov <notifications@github.com>:

[2018-04-29 09:17] jni commented on #3034
Yes. Does Travis have a docker container one can download to experiment with? Because doing this over Travis builds in pushes is *painful*.

[2018-04-29 09:38] jni commented on #3034
Thanks @matthew-brett!!!!

[2018-04-29 10:31] jni commented on #2876
@lagru

Actually I think it *is*. Let's be ambitious here: what is a general floodfill?

- initial position
- definition of neighbourhood
- predicate about each point (and its neighbours) defining whether to add it to the fill or stop

I'm pretty sure your "extra logic" is a predicate that can be abstracted away into a function. (Are the neighbours the same height as this value?) Now, doing that i

[2018-04-30 08:50] serge-sans-paille commented on #2956
@stefanv can you point me at some kernels that would be a good start to port?

[2018-04-30 15:42] ThomasWalter opened #3043 "Image inversion of uint64"
## Description
There is a new problem with image inversion. As far as I can tell, it is not related to issue #3028 nor to PR #3030, as it concerns unsigned integer inversion. It is pretty enigmatic to me ... here it is:
[code]
My observations:
- Among the unsigned integers, the problem only appears for `np.uint64`.
- It is a key error coming from `skimage.util.dtype_range`. Indeed, we get the foll

[2018-04-30 17:28] soupault commented on #3043
@sciunto That is a high-quality review made by us :man_facepalming:. Should be `image` -> `image.dtype`, of course. I need to clean my glasses :sweat_smile:.

[2018-04-30 17:36] soupault commented on #3043
Sorry for the noise.

[2018-04-30 17:56] soupault commented on #3043
OK, I think this is the cause:

[code]

Changing
```inverted = max_val - image```
to
```inverted = image.dtype.type(max_val) - image```
solves the problem on my PC.

[2018-04-30 17:58] soupault commented on #3043
Although, it seems that a part of the issue is on `numpy` side.

[2018-04-30 18:32] sciunto commented on #3043
+1 @soupault Would you mind opening a ticket there?

[2018-04-30 20:02] soupault commented on #3043
@sciunto sure, see https://github.com/numpy/numpy/issues/11020.

[2018-04-30 20:41] thejohnhoffer opened #3044 "Rescale intensity returns only a float given an array"
## Description

I start with a numpy `array` that has `array.shape == (1, 1)` and `array.dtype == np.float64`. Let's define an example `array = np.array([[0]], dtype=np.float64)`.

If I then pass this float64 array as the first argument of `exposure.rescale_intensity`, the function gives `np.float64(0.0)` as an output instead of the expected `np.array([[0.0]], dtype=np.float64)`.

This is caused b

[2018-04-30 22:25] eric-wieser commented on #3043
This is a bug in scikit-image, although admittedly one we (numpy) led you into.

This returns false on all platforms
[code]

[2018-05-01 01:28] jni opened #3045 "Proposal: `Default` class"
This is inspired by some of the answers in [this SO question](https://stackoverflow.com/questions/14749328/python-how-to-check-whether-optional-function-parameter-is-set).

I recently needed to specify a default value to a parameter where `None` was a possible value that people might want to pass, and further it was the default value that needed deprecating, so our usual pathway of "set the defaul

[2018-05-01 07:43] soupault commented on #3043
I see:
[code]
I guess, a bugfix will be a bit more complex :).

@eric-wieser Could you point me at the definition code for [np.intc, np.intp, np.int_, np.longlong] and their unsigned analogues? It appears that some of these types are defined as aliases to the np.[u]int{32, ...}, while others are completely different objects (like np.uintp, in this case).

[2018-05-01 08:26] eric-wieser commented on #3043
@soupault: The following list is all the unique integer types in numpy

* `np.byte`
* `np.short`
* `np.intc`
* `np.int_`
* `np.longlong`
* `np.ubyte`
* `np.ushort`
* `np.uintc`
* `np.uint`
* `np.ulonglong`

Every other type is just an alias to one of these (ie, `np.t1 is np.t2`).

Unfortunately to make it more confusing, some of these types have the same `__name__` - but this shouldn't matter in y

[2018-05-01 10:11] jni commented on #3043
Well this is nice and messy. On the plus side, as I've mentioned before, I don't think functions like `invert` really make sense for `uint64` or `int64` images — the max value is enormous! My suggested fix would be to catch the keyerror and issue a friendlier error message: "image inversion is only supported for the following dtypes:".

[2018-05-01 16:02] eric-wieser commented on #3043
@jni: That doesn't make any sense. You can't justify supporting `long` (64 bits) but not `long long` (64 bits) because "the max value is enormous" for `long long` - clearly the same argument could be applied to `long`.

Also, on windows this manifests itself in 32-bit integers anyway (where `int` and `long` overlap)

[2018-05-01 18:31] soupault commented on #3043
I agree :).
Ok, so basically, `np.XintYY` abstraction is leaky, and we have to switch to the types above in `dtype_range`. I'm taking a look if this would affect anything.

[2018-05-01 20:03] soupault commented on #3044
@thejohnhoffer Thank you for reporting this! There is definitely a consistency issue in `numpy`, but this specific case we handle by re-writing https://github.com/scikit-image/scikit-image/blob/b02e2ce7014f245ff20d692519f2c36ed4bf8269/skimage/exposure/exposure.py#L298 without using `dtype()` call. Would you like to sumbit a PR?

[2018-05-01 21:50] stefanv opened #3047 "Link to docs whenever `preserve_range` is used"
Link to http://scikit-image.org/docs/dev/user_guide/data_types.html wherever preserve_range is used.

Suggestion made https://github.com/scikit-image/scikit-image/pull/2772#issuecomment-338517238 by @jni.

[2018-05-02 03:31] fantasyzl opened #3048 "compare_psnr() got an unexpected keyword argument 'data_range'"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [ ] Relevant images (if any)
- [ ] Oper

[2018-05-02 03:32] JDWarner commented on #3048
Did you define `data_range`?  The example code does not, and would be the simplest explanation.

[2018-05-02 08:45] soupault commented on #3048
In addition to the above, `data_range` argument is valid only since `scikit-image` 0.13.0.

I'm going to close this issue, but feel free to reopen if the problem has not been solved.

[2018-05-02 08:45] #3048 closed

[2018-05-02 15:05] soupault opened #3049 "Migrate to travis-ci.com"
## Description
https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps
https://docs.travis-ci.com/user/open-source-on-travis-ci-com/#Existing-Open-Source-Repositories-on-travis-ci.org

[2018-05-02 16:04] stefanv commented on #3049
It looks like we do not need to take any action at this point.

[2018-05-02 19:45] soupault commented on #3043
See #3050 for the fix.

[2018-05-03 02:56] micklexqg opened #3051 "Images of type float must be between -1 and 1?"
I convert lab image to rgb using lab2rgb in skimage. and the input datatype is float32, L is in range (0,100),
A is (-128,127), B is (-128,127).
but came across error: ValueError: Images of type float must be between -1 and 1.

 is the input datatype for color.lab2rgb in skimage uint8? or  are  there other problems...

[2018-05-03 06:45] jni commented on #3051
Hi @micklexqg!

Are you sure the error is coming from `lab2rgb`?

[code]

Could you come up with a small example that reproduces your error?

In many situations in skimage, such as converting between data types, float values are indeed restricted to [-1, 1], and [0, 1] more commonly. However this is not (or should not be) the case for lab2rgb or many other functions. See this documentation for mor

[2018-05-03 07:38] micklexqg commented on #3051
@jni ,thanks for your hint. and I find out the reason. the input datatype need to be float64 (mine is float32).
just as the following:
![image](https://user-images.githubusercontent.com/13776012/39564750-113b75c2-4ee8-11e8-8a7e-d19c40d8021e.png)

[2018-05-03 09:37] jni commented on #1737
Pinging this, as I was reminded of it while writing #3052.

[2018-05-03 09:39] jni commented on #1737
We should have some prioritisation tags I think... Is there a reason we don't have them?

Anyway I would call this high priority.

[2018-05-03 09:55] jni commented on #1737
Well, the problem is then you end up switching a massive number of `0.14.0optional` tags to `0.15.0optional` tags...

[2018-05-03 10:03] soupault commented on #1737
@jni This is why we don't use such notation, and all of our current milestones are the `must` ones. :trollface:

[2018-05-03 10:52] micklexqg commented on #3051
@jni , you are welcome. And I think it is better to add annotation of input data type for a method.  Given a simple demo is the best just like that in matlab...

[2018-05-04 06:47] soupault commented on #2216
See also https://github.com/scikit-image/scikit-image/issues/2219 for an alternative implementation.

[2018-05-04 19:43] aarora8 opened #3053 "Possible bug in skimage.transform.rotate: UserWarning: is a low contrast image"
## Description
[Please provide a general introduction to the issue/proposal.]
I am performing following functions (read image, pad image, crop image, rotate image.  I am either using sk-image or basing python functions like concatenate.  If I don't rotate the image then there is no warning. If I rotate the image, I am getting following warning

I tried using default rotate options and following op

[2018-05-05 17:30] jmetz opened #3054 "Proposal: Add option of using threshold algorithm in Canny"
## Description

As explained in the "Improvement" section of the [wiki page on the Canny edge detector](https://en.wikipedia.org/wiki/Canny_edge_detector#Robust_method_to_determine_the_dual-threshold_value), can we add in an option to use e.g. `threshold_otsu` (or any other?) of the threshold algorithms to determine the high threshold, instead of requiring it to be passed in or using the image `dt

[2018-05-06 17:57] hmaarrfk opened #3058 "Does `rgb2gray` do what is intended?"
Forgive me for my naivety, but does `rgb2gray` actually do what is intended?

I expected the behaviour of `(r + b+ g) / 3`, but instead you get some weird color calibration for a particular sensor.

[code]

It seems that it would be more appropriate if the person using that phosphor did a
[code]

Many of us are probably using newer sensors that automatically do the color calibration for us.

The t

[2018-05-06 18:07] soupault commented on #3058
Hmm, good point.
I don't know the story why this particual method was chosen, but both MATLAB (https://www.mathworks.com/help/matlab/ref/rgb2gray.html) and OpenCV (https://docs.opencv.org/3.1.0/de/d25/imgproc_color_conversions.html) use this one:
[code]

[2018-05-06 19:58] hmaarrfk commented on #3058
Ok, thanks for pointing me to that.

OpenCV seems to have the best explanation for this.

I guess my interpretation of what RGB meant was wrong.

[2018-05-06 20:28] hmaarrfk opened #3059 "Benchmark code location"
I would like to use this thread to start a discussion on where an appropriate place for benchmarking code would be.

Performance seems to be of interest to at least a few people using scikit-image (See Issue and pull requests tagged with type: performance).

I've been trying to include my code in commit messages, or in the pull requests, but I feel like that would get lost. Having a directory for

[2018-05-06 21:26] JDWarner commented on #3059
A long standing goal has been setting up Airspeed Velocity for scikit-image.  It would absolutely be reasonable to start collecting benchmark code in a way compatible with airspeed velocity; might even provide the last necessary nudge to make it happen ;)

Our CI builds can take a while as it stands, so unfortunately I'm not sure running a benchmark suite on Travis will be feasible (but would love

[2018-05-06 21:44] hmaarrfk commented on #3059
@lagru thanks or your input.

Regarding what SciPy has done, I feel like having things in a top level benchmarks directory makes things messy. People seem to have recreated the namespace with the filenames.

This can be solved by changing setup.py to exclude the benchmarks directory

[code]

Don't know about CI's. I'm pretty new to them. They seem pretty limited for true benchmarking.

[2018-05-06 21:46] hmaarrfk commented on #3058
@JDWarner is there a reason why it is different than Matlab's or OpenCVs in that case?

[2018-05-06 21:55] lagru commented on #3059
I meant that not in regard to setuptools but to the capabilities of asv. The documentation of asv's configuration file hints that benchmarks are expected to live in a [single directory](https://asv.readthedocs.io/en/latest/asv.conf.json.html#benchmark-dir). But I may be wrong. ;)

[2018-05-06 22:02] hmaarrfk commented on #3059
@lagru dam. OK. Maybe we can glob, but that is a detail.

[2018-05-07 08:28] jni commented on #3058
@hmaarrfk @soupault This [Wikipedia page](https://en.wikipedia.org/wiki/Luma_(video)) references both sets of coefficients, and the section [Rec 601 luma vs Rec 709 luma coefficients](https://en.wikipedia.org/wiki/Luma_(video)#Rec._601_luma_versus_Rec._709_luma_coefficients) specifically compares the two. TLDR, you have to pick a convention, the convention in scikit-image is the more modern one (n

[2018-05-07 11:46] #3043 closed

[2018-05-07 16:34] soupault commented on #3009
xref https://github.com/scikit-image/scikit-image/issues/2605

[2018-05-07 16:49] soupault opened #3061 "Migrate from GitHub Services"
https://developer.github.com/changes/2018-04-25-github-services-deprecation/

![image](https://user-images.githubusercontent.com/1315589/39713500-9ddd52e4-522f-11e8-99a8-3807715fa931.png)

[2018-05-07 16:59] soupault commented on #2630
Closing as won't fix.

[2018-05-07 17:04] soupault commented on #2702
I'm closing this issue as the provided behaviour is inline with our dtype conventions. If you have any improvement suggestions, feel free to contribute to the discussion in https://github.com/scikit-image/scikit-image/issues/3009 .

[2018-05-07 17:04] #2702 closed

[2018-05-08 00:11] jni commented on #2702
@vanpact to clarify @soupault's comment: this is how dtype conventions currently work (see documentation [here](http://scikit-image.org/docs/dev/user_guide/data_types.html)), but we are aware that this is surprising behaviour and are working to change it. (See discussion in #3009 as linked by @soupault.) Thanks for reporting, and watch #3009 for news of a resolution. I hope `preserve_range` works

[2018-05-08 00:16] jni commented on #2630
LOL! fwiw I thought this was worth discussing, but there's too many things to do.

[2018-05-08 00:16] jni commented on #2630
I'd consider reopening and tagging as 1.0. The whole multichannel thing should be perfectly consistent for 1.0, even at the cost of convenience in some cases.

[2018-05-08 00:30] jni commented on #3045
@soupault yes, that makes a lot of sense! That would mean that the `as_grey` PR could use this class also. =)

[2018-05-08 09:42] jni commented on #3054
@jmetz This seems totally reasonable. My suggestion would be to allow callables as input to `high_thresh` and `low_thresh`. This would be super-flexible (allowing even locally-adaptive Canny!) and wouldn't break backward compatibility. I'd be happy to review such a PR.

[2018-05-08 09:53] jmetz commented on #3054
@jni  - great, thanks! Regarding passing in a callable, presumably then the specification for the callable would have to be that it takes a single input, the filtered image, and returns a single (threshold) value as an output, right?

For example the `threshold_XYZ` algorithms with defaults fit this spec, but `percentile` does not.
That said, using a `lambda`, `percentile` could also easily be pas

[2018-05-08 10:29] soupault opened #3064 "AppVeyor doesn't report on test failures"
AppVeyor reports everything as green despite the failing tests. For example, see https://ci.appveyor.com/project/stefanv/scikit-image-1fxlb/build/1.0.4886/job/bkdh982gr5v39hdy .

[2018-05-08 10:38] soupault commented on #2604
@sciunto is there anything else to you would like to change?

[2018-05-08 11:41] soupault commented on #3036
Closed via #3063

[2018-05-08 11:41] #3036 closed

[2018-05-08 14:43] jmetz commented on #2445
Unfortunately, in the meantime, this issue has now also appeared on my machine :(

However, it only occurs from `skimage.io` when using the `PIL` plugin, not from using `PIL` alone.

Code to reproduce:

[code]

Produces:

[code]

[2018-05-08 14:57] jmetz commented on #2445
I've played around with `pil_to_ndarray` and can now confirm that the issue is that on the "bad file", the second attempt to seek passes ( https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_plugins/pil_plugin.py#L67 ) i.e. when i=1, which it should not as it's a single image.

This may reveal an issue with the jpeg encoding but essentially this wrapper function should be able to

[2018-05-08 15:08] jmetz commented on #2445
Tracked down the issue from `PIL`, which is *kind of* an issue with JPEGs, but something that (as mentioned in that issue) `PIL` should be able to handle...

A simple, though not very satisfactory fix, would be to test the filename extension; if it's "jpg", then restrict to single frame...thoughts?

[2018-05-08 16:27] jmetz commented on #2445
For anyone concerned - the above image **does** contain two frames and I succeeded in reading in both (see my comment and code on https://github.com/python-pillow/Pillow/issues/1631 ) - the issue is just that PIL's support of MPO files (which this is) is a little immature and doesn't work properly yet on this image.

Any thoughts on how best to handle this here in the meantime?

[2018-05-08 17:54] sciunto commented on #3045
this seems to be really helpful. I'm +1. :)

[2018-05-08 22:09] stefanv commented on #3045
W.r.t. `None` not being available as a default value, you can use `...` in those cases.

This looks useful for deprecation, although I'd prefer an API that guided the user in its reading:

[code]

Then, how about adding a decorator, say `warn_defaults`, that uses `inspect` to automatically do what you suggest above?  Another option is to only use such a decorator:

[code]

[2018-05-09 03:01] austinmw opened #3065 "skimage.color.gray2rgb error, possible bug?"
I'm running the code:

    import numpy as np
    from glob import glob
    import skimage.color
    import skimage.io
    import skimage.transform

    imgs = glob('/home/name/data/typeA_data/train2018/*')
    print(len(imgs))

    for n,i in enumerate(imgs):
        print(n, i)
        image = skimage.io.imread(i)
        if image.ndim != 3:
            print("    WARNING, id:", i.split("/")[-1]

[2018-05-09 03:08] stefanv commented on #3009
How would we do this, given that we typically convert to floating point images before processing?

[2018-05-09 03:09] stefanv commented on #3009
For metadata, perhaps switching to a single I/O backend per format would help.

[2018-05-09 09:08] hmaarrfk opened #3066 "HDR references?"
I would like to implement functions that generate scientifically relevant images obtained using a stack of exposures of images.
By scientifically relevant, I mean that linearity should be preserved in the output of this function.
Gamma corrections should be optional, and default to none.

I think this would be useful for the general scikit-image community.
I would be glad to implement it myself an

[2018-05-09 09:32] jmetz commented on #2728
So we can see that this is because each radius is being processed independently of the rest (including wrt `min_xdistance`, `min_ydistance`), so I guess the `needs decision` that @soupault flagged here was whether that should be the case or not.

The fix would require doing 3d peak finding **where `normalize` would need to be set to true to not bias toward larger radii**.

I'm happy to implement t

[2018-05-09 10:36] jmetz commented on #2728
UPDATE: I've implemented a specialised 3d peak finding that uses a max-projection along the "radii axis" from the hough transform (i.e. it doesn't need to use a `maximum_filter1d` along that axis).

It seems to work and fixes the issue above.

Happy to put in a PR once we get consensus :)

[2018-05-09 10:57] austinmw commented on #3065
Another person discovered that it looks like this function cannot correctly output large grayscale images

[2018-05-09 11:26] jmetz commented on #2445
AFAIK, both `matplotlib` (https://matplotlib.org/api/_as_gen/matplotlib.pyplot.imread.html) and `imageio` also use `PIL` to read JPEGs.

However, the way in which they do so doesn't seem to attempt to seek (i.e. unlike `skimage.io` they don't try and load multiple frames using `n_frames` on the `PIL` `Image` object) , so they are more stable in that respect.
We could just switch to `imageio` or `m

[2018-05-09 11:42] soupault commented on #3065
@austinmw could you share the image on which the error is raised?

[2018-05-09 13:09] jni commented on #3065
@austinmw from my reading of the code, you're right that it should not be raising that ValueError. Can you share (a) the full traceback of the error, and (b) the image that actually causes the error to be raised? Without a reproducible example it is very hard to debug. If you can't share that specific image, see whether you can make a random image of the same characteristics.

[2018-05-09 13:55] jni commented on #3009
@stefanv

Something along the lines of `preserve_range=True` implicitly if the dtype is int higher than uint16. And before you complain about the magic of this, we are already magically treating uint32 images differently from uint16 ones!

[2018-05-09 15:42] soupault commented on #2445
@jmetz we are going to make a transition to `imageio` in the near future - https://github.com/scikit-image/scikit-image/issues/1605 .
For now, I personally like the idea of @stefanv on detecting MPOs and raising a warning.

[2018-05-09 16:08] jmetz commented on #2445
@soupault  - sounds good, though just to reiterate - `imageio` doesn't really fix this - the only difference is that `imread` in `imageio`, by default, only reads one frame of data (see https://github.com/imageio/imageio/blob/master/imageio/core/functions.py#L207 ), as opposed to the current `skimage.io.imread` which attempts to read all frames of data, so I wouldn't consider this as a solution.

[2018-05-09 17:04] jmetz commented on #2445
I think I have fixed this in PIL: https://github.com/python-pillow/Pillow/pull/3126
If that works and is accepted by the folks there, then this should fix the issue for all libraries that use PIL to read MPOs :)

[2018-05-09 22:28] austinmw commented on #3065
I believe it happens with any very large grayscale images. I didn't save the traceback so when I get back to my machine I'll rerun and post the full traceback and an image.

[2018-05-10 14:52] luciaL opened #3068 "Cannot install skimage 0.14dev on Windows"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [ ] Relevant images (if any)
- [x] Oper

[2018-05-10 14:58] luciaL commented on #3068
I have tried every method of installing in the docs.But I still got a version of 0.13.1 on ubuntu and windows. When i tried the build  way on my windows using python setup.py  build  ,I got  error. Failed with exit status 127.

[2018-05-10 14:58] sciunto commented on #3068
You can run
[code]
Without further details on what you tried so far, it is difficult to guide you.

[2018-05-11 02:50] luciaL commented on #3068
I tried but got a the same error as before.
error is here:[https://github.com/luciaL/test/blob/master/TIM%E6%88%AA%E5%9B%BE20180511104903.png](url)

[2018-05-11 02:51] luciaL commented on #3068
I tried but got the same error as before.
Error is here:[https://github.com/luciaL/test/blob/master/TIM%E6%88%AA%E5%9B%BE20180511104903.png](url)

[2018-05-11 02:53] luciaL commented on #3068
https://github.com/luciaL/test/blob/master/TIM%E6%88%AA%E5%9B%BE20180511104903.png

[2018-05-11 02:54] luciaL commented on #3068
I tried but i got the same error as before.Error is here:
https://github.com/luciaL/test/blob/master/TIM%E6%88%AA%E5%9B%BE20180511104903.png

[2018-05-11 03:28] jni commented on #3054
@jmetz callable returns a single input (the image) but could return a scalar or a same-sized image — canny with locally-adaptive thresholds! I haven't looked at the canny code but this should be doable!

And yes, functools would allow essentially infinite remixing of various functions.

I don't think deprecating quantiles is worth the trouble — generally I don't expect our users to have to know ab

[2018-05-11 08:32] sciunto commented on #3066
Hi,

About HDR #1539 started to implement the IO part, but there is still some work to polish the code. That would be a good start to finish this task.

[2018-05-11 09:46] jmetz commented on #3054
@jni I think I get what you're saying  - that the most general case would be for `high_threshold` and `low_threshold` to be the thresholded images (i.e. ~ bool masks) themselves, rather than just threshold values to apply globally to `im` - that's a great idea :+1:

[2018-05-11 10:46] soupault commented on #2688
Closed via #2719

[2018-05-11 10:46] #2688 closed

[2018-05-11 17:10] soupault commented on #2728
I'm not an active user of this function, but I'd expect it to consider all Hough spaces jointly. This just seems more natural. Also, if implemented this way, the current behaviour could be largely reproduced by iterating over hspaces in user code. @jmetz I'd vote to make the proposed changes.

On top of this, FWIW, the documentation for `total_num_peaks` parameter is way to vague (http://scikit-im

[2018-05-12 07:37] axu2 opened #3071 "rotating 90 degrees changes image size slightly"
## Description
When I rotate an image by 90 degrees, the size changes by one pixel with certain images, which is not the behavior I want.

Is there a way to do it in scikit?

Otherwise, I'll just Transpose and reflect like this post says:

https://stackoverflow.com/questions/42519/how-do-you-rotate-a-two-dimensional-array

[2018-05-12 20:58] axu2 commented on #3071
[code]

gives me

[code]

I ended up transposing and then flipping the image using np.fliplr and np.transpose. Do you think this feature should be added to scikit-image?

[2018-05-12 21:09] soupault commented on #3071
@axu2 thank you for the provided example. Looks like a bug.

We'll dig into the current implementation first (as it is more generic).

[2018-05-12 21:30] axu2 commented on #3071
[code]

I'll just post my workaround in the meantime.

[2018-05-14 09:48] kmader opened #3073 "skimage.measure.marching_cubes_lewiner, spacing expects tuple"
## Description

The `marching_cubes_lewiner` spacing argument is expected to be a tuple, but it is never explicitly checked and returns an unhelpful error message. This is particularly an issue because when dealing with other libraries like SimpleITK the array dimensions are often returned as a ndarray and ndarrays are much easier to scale if using functions like ```scipy.ndimage.zoom```

[code]
#

[2018-05-14 09:49] kmader commented on #3073
classic works fine
[code]

[2018-05-14 11:41] kmader opened #3075 "convex_hull_image of empty image returns error"
## Description
Often it is necessary to run convex_hull on every slice of a 3D image, this does not work since if the image is empty skimage throws an error message about invalid division. Ideally it would return an empty boolean image as the convex hull of nothing is nothing?

## Way to reproduce
[code]

[code]

[2018-05-14 21:18] #3073 closed

[2018-05-15 01:53] micklexqg opened #3078 "strange result of lab2rgb"
i run e=lab2rgb(f), where f is a ndarray and its datatype is float64, the value scope is in range (-255,255).
 the result is strange and as follow:
![image](https://user-images.githubusercontent.com/13776012/40032201-ad60d62c-5825-11e8-9716-186831e7a2dd.png)
is there anything wrong?

[2018-05-15 08:44] soupault commented on #3078
@micklexqg could you provide `f` array (or the corresponding image) and a code snippet so that we can reproduce the behaviour you are facing?

[2018-05-15 20:26] hmaarrfk opened #3079 "`test_wrap_around` sometimes fails on python 3.4"
## Description
In developing #3072, I found that `test_wrap_around.py` **sometimes** fail on python3.4.
I've been trying to [reproduce this](https://travis-ci.org/hmaarrfk/scikit-image/jobs/379259181#L5365), but it is generally difficult.

[code]

## Way to reproduce
The easiest way is probably to use [my branch](https://github.com/hmaarrfk/scikit-image/tree/bugfix_pass_test) since it passes many

[2018-05-15 20:43] hmaarrfk commented on #3079
And hopefully one of [these travis builds](https://travis-ci.org/hmaarrfk/scikit-image/builds/379410538) will be able to reproduce the issue:

[2018-05-15 23:51] hmaarrfk opened #3080 "uint8 -> int16 does not have precision loss"
https://github.com/scikit-image/scikit-image/blob/05ac822219304d00426fb4e3b423c90c7b916fbf/skimage/_shared/testing.py#L130

Am I missing something or is there a bug in the above?

[code]

  - `img` is a `uint8`
  - `img_as_int` says that it converts to `int16`
  - `uint8 -> int16` has no precision loss in my books.

[2018-05-16 00:54] hmaarrfk opened #3081 "How to: automatically close dialogs in Qt testing suite"
## Description
Qt tests use some old way to quit the file dialogs.

I had to skip the tests to finally get them to pass on Travis.
https://github.com/hmaarrfk/scikit-image/blob/my_version/skimage/viewer/tests/test_utils.py#L24

I don't know Qt enough to fix this.
Currently I simply skip the test.

If I enable the tests, they pass, I just have to close the box with my mouse.

[2018-05-16 01:36] hmaarrfk commented on #3034
@jni Honestly, I don't think we should hold the examples to the same "As compatible with old versions as possible". That makes it VERY difficult for people to actually write and contribute examples.

Examples should be simple and readable by people with basic knowledge of python + image processing.

My solution has been not to run the examples in communion with `MINIMUM_REQUIREMENTS` which I think

[2018-05-16 03:04] tacaswell commented on #3034
It looks like this is related to https://github.com/scikit-image/scikit-image/pull/2977/files#diff-2718b1161d3808601068cca87c2e8ff9L73 , that you are sharing axes across figures, that the tests are running with a non-interactive backend, and all of the plots have aspect = 1

That you are in different figures causes https://github.com/matplotlib/matplotlib/blob/cfb6ac64578c1d9e042a55c1c62894ba0d9bf