[2020-09-23 08:21] drchrisch opened #4980 "phase_cross_correlation does not work with 3D arrays and masks"
## Description

I was trying skimage.registration.phase_cross_correlation() method on 3D image arrays. Using just a reference and a moved image works fine. However, if I declare masks the function returns nonsense shift values (see https://github.com/scikit-image/scikit-image/issues/4764#issue-628914052 for complains about the number output arguments).

## Way to reproduce
[code]

The example retu

[2020-09-23 08:55] #4969 closed

[2020-09-23 20:59] Shaunakde opened #4982 "ImportError: cannot import name 'phase_cross_correlation' from 'skimage.registration'"
## Description
I recently updated `skimage` and noticed that `phase_cross_correlation` is not present in the `registration` module.

## Way to reproduce
[code]

Running `dir` on the module with `dir(skimage.registration)` confirms this:
[code]

Is this expected behaviour? I can't seem to find a depreciation notice anywhere for the module.

## Version information
[code]

[2020-09-23 21:25] Shaunakde commented on #4982
For some reason, by default conda was not installing the newest package. Manually choosing a 0.17x release solved the issue!

[2020-09-23 21:25] #4982 closed

[2020-09-23 21:54] grlee77 commented on #4982
No problems, @Shaunakde. The function is available in v0.16.x releases, but was under a different name at that time. If you need to support multiple versions, the following would first try importing from its new location (v0.17.0+), but fall back to the old one if it is not found

[code]

[2020-09-24 14:28] mugheesahmad opened #4985 "Issue in Structural_Similarity and SSIM MATLAB implementation"
## Description

this is kind of extension to the #4278 but the results are not matched right now as well with by default function of matlab r2019 ssim function.
## Way to reproduce
[code]
The colab file containing all the code to reproduce is [available here](https://colab.research.google.com/drive/1fGW80rfhdgFCrO0D75ZMZyBUuaNyyV_C?usp=sharing)

## Version information
[code]

[code]

[2020-09-24 16:01] grlee77 commented on #4985
I can verify that the built-in SSIM in Matlab does seem to do something different than ours for **color** images. In our implementation, the value returned is just the average of the SSIM of the individual channels.

Here is Matlab code I ran in R2017a that agrees with what was stated above:
[code]

However, running Matlab individually on the channels and averaging does give a result very similar

[2020-09-24 16:08] grlee77 commented on #4985
Based on the description in Matlab's docs, I think they do not have an equivalent of multichannel = True, so when you pass in an RGB image, it is also applying filters along the size 3 axis as if this is a "grayscale" 3D volume.

I verified that if I change the internals of the scikit-image function so that it does not raise an error regarding this array size and remove cropping of the edges, then

[2020-09-24 16:11] grlee77 commented on #4985
In Matlab you need to either manually do the channel averaging as above or convert to grayscale using
[code]

[2020-09-24 16:12] #4985 closed

[2020-09-24 16:13] grlee77 commented on #4985
I am closing this issue as there does not seem to be anything needed on our end, but feel free to comment or ask for clarifications

[2020-09-24 17:19] mugheesahmad commented on #4985
thankyou so much @grlee77 for such a nice and detailed explanation. Actually, I was also reached on a somewhat similar conclusion that its a problem at the end of Matlab, and I also raised [an error](https://www.mathworks.com/matlabcentral/answers/599182-ssim-function-is-not-consistent?s_tid=srchtitle) at their forum where their implementation was consistent with original authors' implementation o

[2020-09-24 17:20] JDWarner commented on #4985
Completely agree with @grlee77 and - for posterity - I want to add that MATLAB's approach for color images is naive and incorrect.  A _structural_ similarity metric has no business being applied across color channels, each which is independent of the others.  MATLAB likely just exposed this as an n-D function and didn't think more about it.

[2020-09-24 19:20] emmanuelle commented on #4764
Is it something which has been introduced recently? I'm tagging this as 0.18 in case it's a new thing and we want to fix it before the release.

[2020-09-24 19:35] emmanuelle commented on #4980
Thanks for reporting the problem. I also tried with larger masks (I thought maybe there is not enough data to do the correlation) and then the two first axes are ok but not the last one. For example
[code]

[2020-09-24 20:03] emmanuelle commented on #4883
Hi @RonakSharma1 sorry I never got back to you. Don't hesitate to ping people (like @emmanuelle) in such a case since we are drowning in notifications :-).

To answer your question: yes this is the docstring of the `.py` file, in the part you highlighted. As for the cython file, the function is not part of the public API so no need to change its docstring.

[2020-09-25 09:06] #4919 closed

[2020-09-27 21:11] ChrisPollini opened #4987 "Pyinstaller cannot implement scikit-image"
## Description

I just tried to convert my code into an exe with Pyinstaller however, it cannot implement the scikit image code mart with the following error:

  File "skimage\feature\orb.py", line 12, in <module>
  File "skimage\feature\orb_cy.pyx", line 13, in init skimage.feature.orb_cy
ModuleNotFoundError: No module named 'skimage.feature._orb_descriptor_positions'

The fun part is that 3 week

[2020-09-27 23:02] hmaarrfk commented on #4987
Maybe it is a big with the new 4.0 release.

Can you try with an older version of pyinstaller?

[2020-09-29 07:41] emmanuelle commented on #4486
# 2020/9/21 - 2020/9/28

Not a lot of new PRs this week, but I think this is because the core team is busy trying to merge existing ones (the "Older pull requests with new comments or commits") for the 0.18 milestone https://github.com/scikit-image/scikit-image/pulls?q=is%3Aopen+is%3Apr+milestone%3A0.18

We need someone for next week!

## New pull requests open last week

#4986 ~~try to fix timeou

[2020-09-29 07:59] emmanuelle opened #4988 "Add link to API in website homepage"
The API pages are among the most visited of scikit-image.org (see https://plausible.io/scikit-image.org) but there is no direct access to the API doc from the landing page: one first has to click on documentation and then API. I propose to remove the "source" link since there is a "Github" link in the menu on the left, so that we can add an "API" or "API Reference" link.

What do you think?

[2020-09-29 11:31] lagru commented on #4988
I like the idea of making them more accessible but not so sure about removing the link to the source. The menu on the left is only present on the start page and I feel like a prominent link to the source is a must. But I'm not sure which other link I would recommend for removal; the "Community Guidelines" link to a very short page but there are probably good reasons for displaying this prominently

[2020-09-29 14:05] mkcor commented on #4988
I support both suggestions. How about we add a [GitHub corner](https://github.com/tholman/github-corners) to the website, so it's on every single page?

[2020-09-29 14:23] mkcor commented on #4988
This issue led me to https://github.com/scikit-image/scikit-image-web/pull/63 and made me think that, in the horizontal navigation bar,

* we should replace "Community Guidelines" with "Community" (especially considering, as @lagru points out, that it leads to such generic and short content; nonetheless, I agree/believe that we want the notion of "Community" to be prominent);
* we could replace "D

[2020-09-29 14:26] emmanuelle commented on #4988
A Github corner is a great idea I think!

[2020-09-29 14:32] #4971 closed

[2020-09-29 14:46] mkcor commented on #4988
Ok, that's what I was noticing/wondering while doing #4990... At least I get to understand how this repo interacts with the website one :)

[2020-09-29 17:00] mkcor commented on #4748
@sciunto I guess this issue is still open because test #4959 wasn't conclusive, right?

[2020-09-29 17:10] sciunto commented on #4748
We must check that 0.8.1 works and block 0.8.0 eventually.

[2020-09-29 17:41] mkcor commented on #4748
@sciunto do you mean *possibly* block 0.8.0? ;)

[2020-09-29 20:29] sciunto commented on #4748
I mean, we must block non-working versions at the end of the day (although it's not critical here).
Actually, It looks like I already did it :P https://github.com/scikit-image/scikit-image/blob/381e3de25e5685070ecc5f3041bff14dad047d70/requirements/docs.txt#L2

@jni, Can you confirm that the issue is fixed with the latest sphinx-gallery? and close this issue.

[2020-09-30 12:27] alexdesiqueira opened #4993 "Update documentation to new data.camera()"
## Description

Some of our examples were written to use the old image `cameraman`. They need to be updated to the replacement image (please see #4913).
A small list to start follows (thank you @rfezzani!):

* [Multi-Otsu Thresholding](https://scikit-image.org/docs/stable/auto_examples/segmentation/plot_multiotsu.html#sphx-glr-auto-examples-segmentation-plot-multiotsu-py)
* [Markers for watershed

[2020-09-30 21:15] CuatroPalos opened #4994 "Not able to install scikit-image"
## Description

I'm trying to install scikit-image in a virtual env but I get the following error (I uploaded the full command output to github as it's 1000 lines long): [Error.txt](https://github.com/CuatroPalos/verbose-disco/blob/master/error.txt).
[code]
And in the full command output there are more errors like these:
[code]
[code]
## Version information
[code]

[2020-09-30 22:02] chihyanghsu0805 opened #4995 "Active Contour does not work properly"
## Description
active_contour does not work.

## Way to reproduce
[code]
I ran the astronaut tutorial notebook.
https://scikit-image.org/docs/dev/auto_examples/edges/plot_active_contours.html

I also tried it in Google Colab and resulted in same issue.

## Version information
[code]

[code]

[2020-09-30 22:45] hmaarrfk commented on #4994
You might need to install `python3-dev` https://packages.ubuntu.com/bionic/python3-dev

[2020-09-30 23:32] CuatroPalos commented on #4994
I already have it installed

[2020-09-30 23:54] hmaarrfk commented on #4994
hwo did you install python 3.7 with ubuntu 16.04?

[2020-10-01 00:06] CuatroPalos commented on #4994
I did the following:
`sudo add-apt-repository ppa:deadsnakes/ppa`
`sudo apt-get update`
`sudo apt-get install python3.7`

[2020-10-01 01:48] jni commented on #4995
@chihyanghsu0805 can you elaborate on the error? The script is running fine locally. I notice that your scikit-image version is old (0.15 — current version is 0.17), so probably you should either

(a) update your version of scikit-image, or
(b) download the example corresponding to your version, found here:

https://scikit-image.org/docs/0.15.x/auto_examples/edges/plot_active_contours.html#sphx-gl

[2020-10-01 01:48] #4995 closed

[2020-10-01 02:12] chihyanghsu0805 commented on #4995
@jni Thanks, it works. The error was the algorithm not converging, or blows up. It was the coordinate system (rc/xy) difference between v0.15 and v0.17. Thanks again.

[2020-10-01 03:55] hmaarrfk commented on #4994
You will need the `python3.7-dev` package then.

[code]

https://launchpad.net/~deadsnakes/+archive/ubuntu/ppa

I would strongly recommend using something newer than ubuntu 16.04. It is rather old and troubling in these circumstances.

You can also consider using conda.

[2020-10-01 04:05] hmaarrfk commented on #4994
For future note: this error occured to an end user trying to use 32 bit linux for which we don't have wheels on pypi

[2020-10-01 04:29] CuatroPalos commented on #4994
I have 64 bit linux, and I'm stuck with ubuntu 16.04 for compatibility reasons because of the project I'm working on. But installing all those packages worked! I cannot thank you enough!!! <3
Closing the issue here.

[2020-10-01 04:29] #4994 closed

[2020-10-01 09:22] emmanuelle commented on #4993
For people interested in contributing to this issue, the idea is to update the examples listed above so that they look as good or better with the new image than with the old one (which we had to remove due to copyright issues).

[2020-10-01 09:32] emmanuelle commented on #4831
@coreysharris if you open a WIP PR it could be taken over if you don't have the time, maybe in the course of Hacktoberfest if contributors are interested (what remains to be done in this issue is to make the `structure_tensor` function compatible with 3-D arrays).

[2020-10-01 09:36] sciunto commented on #4993
I would also say that we can authorize the use of another image of our dataset.

[2020-10-01 15:16] emmanuelle opened #4996 "CI broken on master following tifffile release"
See the Azure CI failure https://dev.azure.com/scikit-image/scikit-image/_build/results?buildId=4513&view=logs&jobId=eeafdf3e-6518-596e-3f31-4f6be6dd535c&j=eeafdf3e-6518-596e-3f31-4f6be6dd535c&t=42e5ba94-5a2b-5af3-282c-f8497361abb3

I've seen on Pypi that there has been a release of tifffile a few hours ago. It's a problem with the `multifile` argument.

[2020-10-01 15:22] emmanuelle commented on #4996
From https://github.com/cgohlke/tifffile#revisions it seems that `multifile` is not supported any more. Should we deprecate this parameter?
(@cgohlke @ing you just to let you know and if you want to comment but no action needed from you I think)

[2020-10-01 18:37] cgohlke commented on #4996
Should be fixed in tifffile v2020.10.1.  #4997 lets `tifffile.imread` handle additional keyword arguments so skimage doesn't have to keep track.

[2020-10-01 21:12] jingweimo opened #4998 "Resizing a binary image as a bool array failed to produced the result as expected."
I am using skimage '0.17.2' in Python 3.7. Here below is my code for resizing a bool array object mask:

[code]
In the above, I converted the input bool type to float before resizing.  If the bool type is input, there is a warning message printed out: `FutureWarning: Input image dtype is bool. Interpolation is not defined with bool data type. Please set order to 0 or explicitely cast input image t

[2020-10-02 10:50] mkcor commented on #4998
Hi @jingweimo,

Could you please share the `mask` object you are using, so we can reproduce your issue?

Also, it looks like this 'issue' would rather belong in our forum or chat: see https://github.com/scikit-image/scikit-image/blob/master/INSTALL.rst#additional-help -- @emmanuelle am I right in redirecting the user this way?

[2020-10-02 11:43] neeraj3029 opened #5000 "Docstring of the function random_noise requires correction"
## Description

The docstring in `random_noise` function [line 30](https://github.com/scikit-image/scikit-image/blob/e19fa1f4c19f4df88a12307409efd8d2de1c4836/skimage/util/noise.py#L30) says Speckle noise is 'uniform', which should be changed to 'gaussian'.

## Way to reproduce

The issue refers to docstring

## Version information

Any, as the issue refers to docstring

[2020-10-02 12:24] #716 closed

[2020-10-02 12:53] rfezzani commented on #4998
Thank you @jingweimo for reporting, as the warning message is saying, boolean values interpolation other then nearest neighbor (order=0) is not defined: how to obtain a linear interpolation between `True` and `False`? (Please also see #4292)

Now, looking at the axis of your figure, I see that you are resizing a ~1000×1000 image to 56×56 which is approximately 18 times smaller!! Even with a regula

[2020-10-02 13:13] #4998 closed

[2020-10-02 14:47] coreysharris commented on #4831
@emmanuelle, @grlee77 I have finally opened the PR!

[2020-10-02 15:23] mkcor commented on #5000
Hi @neeraj3029,

In this context, `n` is uniformly distributed random noise with mean `mean` and variance `var`.

When trying to understand what you meant, I stumbled across this paragraph, which mentions a common incorrect assumption: https://en.wikipedia.org/wiki/White_noise#Statistical_properties

[2020-10-02 15:26] alexdesiqueira commented on #3927
Closing; solved on #4913, according to the discussion on #4914. Thank you everyone!

[2020-10-02 15:26] #3927 closed

[2020-10-02 15:30] mkcor commented on #5000
@sciunto sorry, I hadn't seen your review of the corresponding PR. Between 'gaussianity' and 'uniformity,' one refers to the intensity distribution and the other to the spatial distribution, right? Thanks!

[2020-10-02 15:53] neeraj3029 commented on #5000
Hi @mkcor, the above line in docstring defines the 'speckle' noise as 'uniformly' distributed.

However, the speckle noise never follows uniform distribution, but 'gaussian'.

In fact, the [function for speckle noise addition at line 184](https://github.com/scikit-image/scikit-image/blob/e19fa1f4c19f4df88a12307409efd8d2de1c4836/skimage/util/noise.py#L184)  adds random gaussian (normal) noise.

[2020-10-02 17:29] mkcor commented on #5000
@neeraj3029 oh, right, `mean` and `var` being the mean and variance, respectively, of that Gaussian (normal) distribution. :facepalm:

Thanks for bearing with me!

[2020-10-02 17:59] neeraj3029 commented on #5000
That's alright @mkcor! If possible, can you have a look at the PR, as the Travis CI test is failing and I couldn't figure out how to fix that. Thanks!

[2020-10-02 20:54] mkcor commented on #5000
@emmanuelle #5001 closes this issue (poking you because I don't have 'closing' rights).

[2020-10-03 05:34] #5000 closed

[2020-10-03 09:44] neeraj3029 opened #5004 "Expression for speckle noise addition might need correction"
## Description

[The expression for speckled image](https://github.com/neeraj3029/scikit-image/blob/4c31a1be728c760919bafdae21449bcbf2698178/skimage/util/noise.py#L186) is `out = img + img * noise` which translates to <code>out = img * (noise+ <b>1</b>)</code> where noise is with given mean and variance. Speckle is a multiplicative noise, in my opinion should just be `out = img * noise`

[2020-10-03 11:36] RonakSharma1 commented on #4883
Hey @emmanuelle ,
Thank you for letting me know. I will make the changes and issue a PR. Will try it to it this weekend

[2020-10-03 12:20] mkcor commented on #5004
@neeraj3029 could you please share some references (textbooks and/or papers)? We may want to point to them even in the docs... Maybe it's just 'well-known' but, personally, my memories from grad school are not fresh at all, so I'd be happy to check out a good reference on the topic. :)

[2020-10-03 14:12] neeraj3029 commented on #5004
Sure @mkcor! I got to know about it while working on the following papers from IEEE.

1. [SAR Image Despeckling Using a Convolutional
Neural Network (arXiv)](https://arxiv.org/pdf/1706.00552.pdf) ([IEEE](https://ieeexplore.ieee.org/document/8053792)) - Equation (1) and the paragraph above

2. [A Practical Approach for SAR Image Despeckling Using Deep Learning](https://ieeexplore.ieee.org/abstract/

[2020-10-04 10:31] amirhesam2998 commented on #2942
Hi
i wana open landsat bands  but i dont get any answer from my code
these are my codes:
import skimage as skm
import matplotlib.pyplot as plt
import numpy as np
blue = skm.io.imread("adress")
blue.shape

[2020-10-04 15:53] hmaarrfk commented on #2942
The original issue and discussion date back to 2018.

Please open a new issue and provide us with the image you are trying to open.

[2020-10-04 16:51] amirhesam2998 opened #5005 "(Windows 10) import skimage.io is not work for me"
i want to open Landsat sattlite image (for example blue band)
but when i use scikit-image package to open the band i receve module 'skimage' has no attribute 'io'

full error
File "c:/Users/Hesam/Desktop/python/.vscode/import/landsat.py", line 4, in <module>
    blue = skm.io.imread("E:/python_image_processing/Image/Image/Landsat/Blue.tif")
AttributeError: module 'skimage' has no attribute 'io'
PS

[2020-10-04 21:13] emmanuelle commented on #4996
Fixed, thank you @cgohlke

[2020-10-04 21:13] #4996 closed

[2020-10-04 21:16] emmanuelle commented on #5005
Hi @amirhesam2998 could you please paste the information about the scikit-image version as required in the issue template (see below I copied it again for you), tell us how you installed scikit-image, and also paste the exact command which resulted in the above error?

## Version information
[code]

[code]

[2020-10-05 04:13] grlee77 commented on #5005
scikit-image does not automatically import all submodules when you import the top level module. If your imports are just
[code]
you will not be able to access `skm.io` because the `io` module hasn't been imported.

The following should work, though
[code]

If this does not solve your issue, please post additional details as requested by @emmanuelle

[2020-10-05 07:33] drpeterallan opened #5007 "Is the structural similarity index calculated correctly within skimage?"
## Description

I have been looking at the code to calculate the SSIM and noticed a difference between the skimage implementation and that presented in the paper (https://ece.uwaterloo.ca/~z70wang/publications/ssim.pdf). Specifically in Wang the equation is:

![image](https://user-images.githubusercontent.com/20668984/95050857-2a7bd200-06e4-11eb-822e-99fc399e8562.png)

within skimage (skimage.metr

[2020-10-05 07:47] amirhesam2998 commented on #5005
Hi @emmanuelle  thank you for attention
i install it by windows powershell
and it is the output :
3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.18362-SP0
scikit-image version: 0.17.2
numpy version: 1.19.2

[2020-10-05 07:50] amirhesam2998 commented on #5005
Hi @grlee77  thank you for attention
It does not solve my issue

[2020-10-05 07:56] amirhesam2998 commented on #5005
Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Users\Hesam\Desktop\python\.vscode\import> & C:/Users/Hesam/AppData/Local/Programs/Python/Python38/python.exe c:/Users/Hesam/Desktop/python/.vscode/import/landsat.py
Traceback (most recent call last):
  File "c:/Users/Hesam/Desktop/python/.vscode/import/landsat.py", line 4, in <module>
    blue = skm.io.imread("E:/python_image_pro

[2020-10-05 08:10] mkcor commented on #4486
# 2020/9/28 - 2020/10/4

This has been my first week as the person in charge, yay! I'm not sure I've followed everything as closely as I should have; the beginning of the week was pretty quiet.

PS: Just so you know, the utility script for this weekly update spit out "2020/9/28 - 2020/10/5" as the title for this post, and I shamelessly edited to "2020/9/28 - 2020/10/4" (meant to fix the inconsiste

[2020-10-05 08:30] rfezzani commented on #1035
I am closing this one, but of course feel free to reopen :wink:

[2020-10-05 08:30] #1035 closed

[2020-10-05 13:38] jni commented on #5007
@drpeterallan by my reading of the code, vx and vy are the *variance*, ie the standard deviation squared, so the code matches the formula. I think in your proposal you are effectively squaring twice.

I am going to close this issue but please reopen if you think I'm mistaken! It is more than possible! 😅

[2020-10-05 13:38] #5007 closed

[2020-10-05 13:54] drpeterallan commented on #5007
@jni many thanks for your response.

[2020-10-05 16:50] hmaarrfk commented on #5005
Can you provide the output of

[code]

[2020-10-05 18:08] amirhesam2998 commented on #5005
Hi yes thank u @hmaarrfk
['C:\\Users\\Hesam\\AppData\\Local\\Programs\\Python\\Python38\\lib\\site-packages\\skimage']

[2020-10-06 14:07] kalpanab-psg commented on #4993
Hi, I would like to work on this! Could you assign this to me please?

[2020-10-06 14:21] alexdesiqueira commented on #4993
Sure thing @kalpanab-psg, thank you for your help!

[2020-10-06 19:13] hmaarrfk commented on #5005
i'm not really sure.

Can you provide us with the full landsat.py file? Or at least the 5 lines that recreate the issue. @grlee77 's solution worked for me locally.

[2020-10-06 21:30] amirhesam2998 commented on #5005
my code become okay i install 0.14 scikit image and its ok now .. thank u

[2020-10-06 21:36] soupault commented on #5005
Good that you have managed to solved the issue. 👍 Closing...

[2020-10-06 21:36] #5005 closed

[2020-10-07 06:11] alinasahoo opened #5008 "TypeError: _open() got an unexpected keyword argument 'as_grey'"
# TypeError: _open() got an unexpected keyword argument 'as_grey'

As I am new to scikit-image, I am unable to understand what went wrong here. So, just adding the following files here:

I am successfully able to read the image file in RGB format but not in grayscale format. This is the error that I am getting. I also checked the official documentation and it showed that the syntax is as follows:

[2020-10-07 06:23] sciunto commented on #4993
Just FIY, I had a quick look at the multi-otsu, and it seems that we do not have very nice candidates in our dataset.

[2020-10-07 11:01] MarkCarbonell98 opened #5009 "AttributeError: module 'skimage' has no attribute 'filters' (On Ubuntu 20.04, conda-forge channel installation)"
## Description

When I install scikit-image using conda by doing `conda install -c conda-forge scikit-image`  I get an attribute error when I import the package.

Example:

[code]
on ubuntu 20.04
scikit-image version is 0.17.2

![Screenshot from 2020-10-07 12-55-11](https://user-images.githubusercontent.com/32847477/95322611-13ccab00-089d-11eb-8e7a-f2628db6b040.png)

[2020-10-07 11:04] emmanuelle commented on #5009
Hi @MarkCarbonell98 can you try `from skimage import filters` or `import skimage.filters`? Submodules are not automatically imported when importing `skimage` in order to save time.

[2020-10-07 11:23] MarkCarbonell98 commented on #5009
@emmanuelle Thank worked nicely! Thanks a lot

[2020-10-07 11:34] #5009 closed

[2020-10-08 05:39] sciunto commented on #5008
`as_gray` and not `as_grey`. Does it solve the issue?

[2020-10-08 08:27] emmanuelle commented on #4831
With #5002 which is about to be merged, the only remaining point in this issue is the gallery example. @mkcor are you interested in tackling this? Otherwise I'm happy to do it.

[2020-10-08 09:04] kalpanab-psg commented on #4993
Just a quick question. Can we use any other image other than camerman in some filter functions.

[2020-10-08 09:31] mkcor commented on #4831
@emmanuelle yes, I'm interested, thanks for thinking of me! I'll be on it tomorrow, is it okay?

[2020-10-08 09:32] emmanuelle commented on #4831
sounds great, thank you!

[2020-10-08 10:54] alinasahoo commented on #5008
@sciunto , yes this works fine. Thank you.

[2020-10-08 10:54] #5008 closed

[2020-10-08 12:36] emmanuelle commented on #4993
@kalpanab-psg sure, other images in `skimage.data` can be used alternatively.

[2020-10-08 12:49] emmanuelle commented on #4993
Actually the multi-otsu result is not so bad compared to the old camera image, it's just that there seems to be an aliasing problem which makes some edges look pink. Maybe just change the colors used here?

[2020-10-08 15:30] amirhesam2998 opened #5011 "No DLL module _fblas when importing skimage.io"
Hi
when i run skiamge it works but when i call skimage.io it doesnt work
how to solve this issue???

my version information :
[code]

Error :
[code]

[2020-10-08 15:31] amirhesam2998 commented on #5011
import skimage.io
this is my code

[2020-10-08 18:17] lagru commented on #5011
This is the crucial bit

It seems like your Python installation is missing a linear algebra library. So this is not directly a scikit-image related issue but should also happen when calling `from scipy import linalg`.

Do you remember how you installed SciPy?
Is the [scientific Python distribution Anaconda](https://www.anaconda.com/products/individual) a viable alternative for you? That might be t

[2020-10-08 19:36] amirhesam2998 commented on #5011
@lagru thank u for make my post readable .
yes i install scipy by windows powershell :
pip install "package address"
scipy-1.5.2-cp39-cp39-win_amd64.whl

[2020-10-08 19:38] amirhesam2998 commented on #5011
@lagru after i reinstall anaconda i cant find anaconda navigtor and that is my problem too

[2020-10-08 19:41] amirhesam2998 commented on #5011
i get same error when i call :
from scipy.linalg import _fblas

[2020-10-09 18:10] amirhesam2998 commented on #5011
i reinstall scipy and it solve thanks @lagru

[2020-10-10 16:51] hmaarrfk commented on #5011
Nice!

[2020-10-10 16:51] #5011 closed

[2020-10-11 09:56] RonakSharma1 commented on #4883
Hey @emmanuelle
I have now created a PR. Could you please review and provide me with feedback?

[2020-10-13 08:25] rfezzani commented on #3019
I think this is fixed now by #4501 and #4582. Feel free to reopen if you disagree :wink:

[2020-10-13 08:25] #3019 closed

[2020-10-13 08:56] rfezzani commented on #2591
Is this issue still relevant? Not sure we can reproduce the described bug... Can we close it @FuriouslyCurious ?

[2020-10-13 09:23] rfezzani commented on #1912
I can't reproduce the issue @ozak :
[code]
I close it, but feel free if you disagree to reopen :wink:

[2020-10-13 09:23] #1912 closed

[2020-10-13 11:10] kushaangupta opened #5019 "MemoryError in computing Convex Hull of a large 3D image"
## Description
While following the discussion [here](https://forum.image.sc/t/convex-hull-of-3d-image-with-sparsely-dispersed-particles/43903), following error was discovered in `skimage.morphology.convex_hull_image`.

## Way to reproduce
[Source](https://forum.image.sc/t/convex-hull-of-3d-image-with-sparsely-dispersed-particles/43903/4)
[code]

Output:
[code]

## Version information
[code]

[code

[2020-10-14 01:15] FuriouslyCurious commented on #2591
Dear devs, sorry I couldn't share the image because it is a HIPAA protected medical image.  I could not recreate the issue with other images despite trying.  I will close this issue.

[2020-10-14 01:15] #2591 closed

[2020-10-14 01:25] jni commented on #2591
@FuriouslyCurious sorry that we couldn't fix this! Looking at the code:

https://github.com/scikit-image/scikit-image/blob/50fb2eff14b083f21d008cf76d05e85ffce07cba/skimage/exposure/exposure.py#L591-L600

I struggle to see how this could result in a divide by zero warning. The only thing we divide by is `scale` which comes from `dtype_limits`, which are guaranteed to be distinct.

My advice is for

[2020-10-14 01:29] #4993 closed

[2020-10-15 06:42] jni opened #5022 "Store pivchallenge data on gitlab"
## Description

I'm seeing a fair number of failed builds due to pivchallenge.org rejecting http requests. I think it is not designed to get hammered by CI builds! 😂 We should contact the authors (this is on my to-do, haven't gotten around to it yet) to ask whether we could host that image ourselves.

example build:

https://travis-ci.org/github/scikit-image/scikit-image/jobs/735724132

[code]

[2020-10-15 11:44] sciunto commented on #5022
First step of the challenge, get the image :)

[2020-10-17 19:34] s-sajid-ali commented on #4865
I tried removing the lines 131-132 [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/convex_hull.py#L131) and testing the `convex_hull_object` function on the image3d from [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/tests/test_convex_hull.py#L165). With `connectivity=2`, it works but with `connectivity=1` it fails.

The `measu

[2020-10-19 11:35] juliangilbey opened #5025 "Possible data type issue and unchecked parameter limit with local_binary_pattern"
## Description

In `skimage/feature/texture.py`, the `local_binary_pattern` function uses a parameter `P`.  Though the documentation does not state this, `P` should not be larger than 30 if the method is `'default'` or `'ror'`, as the weight parameters are stored using 32 bit signed integers and so nonsensical answers will be produced if `P` is larger.  This should be stated in the documentation,

[2020-10-19 11:59] rfezzani commented on #4486
Last week was in positive balance with 6 new PR VS 6 merged PR and 4 closed issues VS 3 new ones :tada:. I just want to draw your attention to #5020, #5006, #4760 and #4739 for some review, thank you all :wink:.

## new pull requests open last week
#5024 Fix IndexError when calling hough_line_peaks with too few angles
#5021 bumped plotly requirement for docs
#5020 ENH: Reduce memory use for convex

[2020-10-19 13:23] jni commented on #4486
Thank you @rfezzani! Gotta love paying down that debt! :tada:

I notice another gap in the calendar. I'll take this week. Been wanting to make another push on 0.18! :crossed_fingers:

[2020-10-20 10:37] RonakSharma1 commented on #4883
@emmanuelle and @jni should we close this issue now as the work is done I believe?

[2020-10-20 19:31] stefanv commented on #4883
Thanks for following up @RonakSharma1!  Closing.

[2020-10-20 23:34] jni commented on #4883
My intuition though was that we should keep it open in case we want to address this at the implementation level later.

[2020-10-20 23:39] stefanv commented on #4883
Err, yikes, yes---it is a crash!

[2020-10-21 05:58] sciunto opened #5028 "Remove usage of numpy's private functions"
In `skimage/util/arraycrop.py`, we are using `_as_pairs` which belongs to numpy and is a private function.

The main issue is that the API may change at any time (and did happen). We must consider adding this code in our library.

Bonus: check if other private functions are used elsewhere (likely not).

[2020-10-21 13:24] rfezzani commented on #3892
With #5029, the lines of code provided by @kne42 to illustrate the bug give:
[code]
:tada:

[2020-10-23 03:08] Shaunakde opened #5031 "mark_boundaries documentation needs improvement"
Initially, when I was changing the "mode" parameter in the `mark_boundary` function, I was unable to discern differences between "inner" and "outer". Only on zooming in and looking at the side of the plot by side did I realize what was happening. It would be really amazing if the documentation was updated with minimum working examples for each mode.

There are also nuances as explained by @jni bel

[2020-10-23 04:02] jni commented on #5031
@Shaunakde thanks for the report! This is actually expected: inner and outer only do different things when there is a *background* label. If you have an object embedded in some background, "inner" puts the boundary on the border pixels of that object, while "outer" puts the boundary around the object in the background.

But, if everything in the image is an object (no background), then one object'

[2020-10-23 04:03] Shaunakde commented on #5031
Dear Jni,

I am so sorry for having wasted your time. I deleted the issue as soon as I realized how stupid I was being!

SDe

[2020-10-23 04:04] jni commented on #5031
@Shaunakde not stupid! I think the docs definitely need improvement. I suggest you restore the issue, or if you want, rephrase it as "mark_boundaries documentation needs improvement"! 👍

[2020-10-23 08:21] Shaunakde commented on #5031
Reopening the issue with a more appropriate description. Also, I can try to come up with a decent example myself and open a PR for the docs!

[2020-10-23 12:45] jni commented on #5031
That would be wonderful! An example in `doc/examples/segmentation` with a very small image where you can see the pixel changes would be really useful! This might be a good one to adapt from:

https://scikit-image.org/docs/dev/auto_examples/segmentation/plot_watershed.html

[2020-10-25 13:06] vMichaelwng opened #5032 "Error appeared everytime i ran sckit image"
This message keep showing up 👍 Traceback (most recent call last):
  File "TugasComvis.py", line 1, in <module>
    from skimage import io, img_as_float
  File "C:\Users\micha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\skimage\io\__init__.py", line 11, in <module>
    from ._io import *
  File "C:\Users\micha\AppData\Loc

[2020-10-25 13:15] emmanuelle commented on #5032
Hi @vMichaelwng how did you install scikit-image? Also could you please provide the following information?
## Version information
[code]

[code]

It looks like some library is missing.

[2020-10-25 13:56] vMichaelwng commented on #5032
3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 16:30:00) [MSC v.1900 64 bit (AMD64)]

Windows-10-10.0.18362-SP0

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'skimage'

numpy version: 1.19.2

here's how i installed the scikit image :
pip install scikit-image

[2020-10-25 14:00] vMichaelwng commented on #5032
import sys; print(sys.version)
3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 16:30:00) [MSC v.1900 64 bit (AMD64)]
import platform; print(platform.platform())
Windows-10-10.0.18362-SP0
import skimage; print("scikit-image version: {}".format(skimage.version))
Traceback (most recent call last):
File "", line 1, in
ModuleNotFoundError: No module named 'skimage'
import numpy; print("numpy version: {}".f

[2020-10-25 14:02] emmanuelle commented on #5032
thanks for providing this information. It looks like `scikit-image` is not installed in your environment since `import skimage` raises an Error `ModuleNotFoundError: No module named 'skimage'`.

Are you sure you did the `pip install scikit-image` in the same environment as your Python session? If yes, was the installation successful or did it throw an error?

I would suggest to redo the `pip insta

[2020-10-25 14:07] vMichaelwng commented on #5032
where should i install it? can you help me step by step? because i only open the cmd and install it and it says installed successfully

[2020-10-25 14:13] emmanuelle commented on #5032
Did you open python also in the `cmd` shell and try `import skimage` after the installation?

Note that on Windows, an easy way to install scikit-image is to install the Anaconda distribution.

[2020-10-25 14:19] vMichaelwng commented on #5032
C:\Users\micha>python
Python 3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 16:30:00) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

this showed up when i try import skimage

[2020-10-25 14:32] hmaarrfk commented on #5032
From the cmd line, not in python, can you type:

[code]

then start python by typing `python` and please provide the output of the following commands
[code]

Also, using correct formatting really helps us read your responses
https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code
Please use ` ``` ` for code

[2020-10-25 14:40] vMichaelwng commented on #5032
From CMD :
[code]
Here's on python :
[code]

[2020-10-25 14:50] emmanuelle commented on #5032
ok, and now can you type
[code]
in the same python session as your last message?

[2020-10-25 14:52] vMichaelwng commented on #5032
[code]
the same error message showed up

[2020-10-25 19:36] hmaarrfk commented on #5032
it seems that scipy is giving you errors

Try, from python

[code]
If this gives you errors, I would communicate with scipy your challenges. I know it sucks to bounce you to them, but this is honestly something I haven't seem before.

My hunch, is that you have installed python through a new installation method for windows.

Can you share with us how you installed python? Was it through the window

[2020-10-25 19:43] vMichaelwng commented on #5032
[code]
yes i installed the python 3.7 from windows store because if i download the python from the website it wont connect to my visual code. should i uninstall it and try the website one?

[2020-10-25 19:53] hmaarrfk commented on #5032
Not sure if this helps you with anaconda

https://docs.anaconda.com/anaconda/user-guide/tasks/integration/python-vsc/

[2020-10-26 00:38] jni opened #5033 "threshold_li could be sped up by using histogram"
## Description

While reviewing #5006, I noticed that `threshold_li` repeatedly computes the mean pixel value above threshold and the mean below threshold. For integer images, this could be done with the histogram rather than with the full image, using a weighted mean. Possibly the approximation with float images would be good enough for gradient descent anyway.

See https://scikit-image.org/docs/

[2020-10-26 09:40] jni opened #5034 "random_walker segmentation can create incorrect laplacian matrix"
## Description

Reported [on image.sc](https://forum.image.sc/t/possible-bug-in-random-walker-markers-with-isolated-seeds/44451), confirmed locally.

## Way to reproduce
[code]

results in the following traceback:

[code]

## Version information
[code]

[code]

This is where it all seems to go wrong:

https://github.com/scikit-image/scikit-image/blob/06f6a129697febe510e11fc1bca58b5311d9d861/skimag

[2020-10-26 10:53] jni opened #5035 "Idea: additive regionprops"
## Description

There's been quite a few times that our regionprops objects have been a liability in being too complex (see eg #3180), but I might have finally identified a good use case.

It has been suggested various times that region adjacency graphs should be better integrated with regionprops (#4364). For example, the mean color RAG could be replaced by `rag.node(i).props.mean_intensity` (if

[2020-10-26 10:56] jni commented on #5035
Indeed, first complication: what is the output of `(props0 + props1).label`? 😬 Two options come to mind: `None` and `[label0, label1]`. I like option 2 because we need a way to keep track of all the included labels as we merge properties. But it's not very clean from a typing perspective.

[2020-10-26 14:23] rfezzani commented on #5034
It seems that `skimage.segmentation.random_walker_segmentation._preprocess` doesn't detect the `marker == 2` as isolated :confused:
[code]

[2020-10-27 03:07] jni opened #5036 "Discussion: deprecating (most of) skimage.io in favour of imageio"
## Description

This is meant to supersede the discussion in #1605, which contains a lot of outdated information.

In 2020, here are the pros for replacing skimage.io with imageio:
- distributing wheels is easy now
- imageio has feature parity with `skimage.io`. In fact, I would be surprised if 99% of our `io.imread` calls didn't go straight through to imageio — at least if we exclude tifffile.
-

[2020-10-27 03:08] jni commented on #1605
Closing in favour of #5306

[2020-10-27 03:08] #1605 closed

[2020-10-27 04:19] kalpanab-psg commented on #5033
Will  threshold value  based on ISODATA method do for integer images.

[2020-10-27 07:40] sciunto commented on #5036
+1 with @emmanuelle

[2020-10-27 08:50] rfezzani commented on #5036
Thank you @jni for opening this, you can't imagine how enthusiastic I am about dropping `skimage.io`! :smiley:

I already shared my feelings about this, and I am convinced that `skimage` can gain maturity and stability if it focuses on it's core functionality: image processing!

There is plenty of excellent python packages dedicated to IO and viewing. We must advertise for them instead of proposin

[2020-10-27 09:37] almarklein commented on #5036
I hadn't seen that one yet, but I find the idea of standards (over implementations) very interesting. Also the idea to use `entrypoints` for packages to advertise image/data reading capabilities without importing them is very interesting to scale supported formats without making a lib like imageio "heavy". This needs some more thought ...

Perhaps it's finally time to finally fix this  long-standi

[2020-10-27 12:39] jni commented on #5036
Sure, but from a user perspective, we'd want a 3D array in either case, right? For users who work with anything from 2D to 3D+t+c images, having to remember which of the 4 functions to call today is annoying. (Not to mention that sometimes I get user-provided data or downloaded data from a paper and I actually don't know ahead of time the dimensionality.) I believe this is a problem for the metada

[2020-10-27 12:53] jni commented on #2613
@scikit-image/core given #4294, I'm disinclined to add a new warning to `filters.gaussian` asking people to add `multichannel=False` to all their code only to change it soon. My proposal is to close this issue and move the discussion to #4294, and if we reopen it, certainly to remove it from the 0.18 milestone. If you disagree with this decision please reverse it!

[2020-10-27 12:53] #2613 closed

[2020-10-27 14:00] jni commented on #4486
# 2020/10/19 - 2020/10/26

Hi everyone,

Last week was pretty quiet but we still managed to accrue a negative balance. :disappointed: I made a push on #4444 (thank you @emmanuelle for the help there) as well as some issues related to 0.18.

As always, I'd like to point everyone to the list of PRs [with one approved review](https://github.com/scikit-image/scikit-image/pulls?q=is%3Apr+is%3Aopen+revi

[2020-10-27 20:42] almarklein commented on #5036
I think it's not that simple. Both Tiff and Dicom can provide multiple images (or volumes) of different shapes, so they cannot be stacked into a single array.

Well, you're going to do something with the data, and for that you're assuming a certain shape. I understand that for data exploration it would be nice to see what's actually inside ... which brings us full circle to meta data ;)

[2020-10-27 22:05] #4814 closed

[2020-10-27 23:30] jni commented on #5036
Nope — napari will happily display any shape array. ;)

*That* is definitely a concern — but one that `volread` doesn't solve, does it? I would suggest `imread` (nD image) and `mimread` (iterator of nD images).

[2020-10-28 07:02] #3892 closed

[2020-10-28 07:04] #3327 closed

[2020-10-28 11:49] almarklein commented on #5036
Nice! Ok, I see the use-case for an API to just "gimme the data". But I also think there is a need to be able to be more precise.

Somewhere at the plugin level, there is a function `_get_data(index)`. In a lot of cases the file contains one image, `index` is 0, and all is well. In some cases (e.g. video) it's clear that `index` represents the nth image. But for e.g. Tiff, the format needs a hint

[2020-10-28 13:16] massich opened #5038 "disk Inconsistency between `shape=None` and `shape=actual_shape`"
## Description

The shape parameter in [disk documentation](https://scikit-image.org/docs/dev/api/skimage.draw.html#disk) (and maybe others using the same machinery) seems misleading to me. Based on the following phrasing, I would expect `shape=None` and the `shape=dimensions_of_my_disk` to lead to equal results. (but it doesn't)

[code]

## Way to reproduce
This MWE shows that using `shape=None`

[2020-10-29 09:27] Tianbe commented on #4266
Maybe you should adjust your examples accordingly, because there you just import skimage, not explicitly skimage.measure (like here: http://soft-matter.github.io/trackpy/v0.4.2/tutorial/custom-feature-detection.html)

[2020-10-29 09:50] emmanuelle commented on #5036
My argument in favor of keeping `io.imread`: even if we do the deprecation properly etc., it would be a communication/public relations disaster to break 90% of users' scripts. People are going to complain a lot, heavily, and for a long time. We know that there is a long queue of people who upgrade their version only when they really need to, who have a lot of legacy code, etc. If we can help peopl

[2020-10-29 10:27] sciunto commented on #5036
@emmanuelle  I have similar feelings as yours. I would like to add also that some newcomers are lost partly because of the tool segmentation across libraries, which is a natural effect in FLOSS. Thus, I see sometimes scripts mixing pil/scikit-image/opencv merely by ignorance and I'm afraid that some users will search "how to load image in python", and use a library returning a format inappropriate

[2020-10-29 11:02] rfezzani commented on #5036
I had multiple discussions with other core team members (cc @jni, @hmaarrfk :wink:) about breaking changes etc... But I am still not convinced...
People needing their scripts to keep working simply doesn't have to update `skimage`! Python environment are made to manage this... Our deprecation strategy is gentle enough to give users time to update their script if needed...
We can also rely on our d

[2020-10-29 11:06] emmanuelle commented on #5036
In the dev meeting, Almar made an interesting suggestion:
- rewrite our documentation to teach people how to use imageio (gallery examples in particular)
- but keep `io.imread` as a thin wrapper to avoid breaking people's code.

I would be very happy about this trade-off. Thoughts?

[2020-10-29 11:39] soupault commented on #4266
@Tianbe I think, in general, we have it done right. Would it be possible for you to point to specific examples of ours (the notebook you are referring to is provided by `trackpy` team)?

[2020-10-29 11:57] Tianbe commented on #4266
So if you follow the link, there is the example "custom feature detection" (In [6]) where you use skimage.measure, but if I haven't missed it, you never imported it

[2020-10-29 13:23] rfezzani commented on #5036
Keeping `skimage.io.imread` is not a big deal. Defining it in  as

[code]

doesn't hurt. My main concern is to keep warning users that it is not the right way to go and to not maintain code in `skimage.io`!

[2020-10-29 13:31] rfezzani commented on #5036
In other words, we must say to `scikit-image` users that IO is no more a target, and that we delegate this to `imageio` because it is  dedicated to IO and it manage it way better then we may do.

[2020-10-30 04:21] jni commented on #5036
Yes, that would be the idea @rfezzani, and I think everyone in the call was more or less on board. There is a slight caveat which might be that `skimage.io.imread(x)` might mean `np.asarray(iio.imread(x))` (throw out the metadata), depending on whether imageio keeps returning a subclass or settles on an API that allows a bare-NumPy-array return.

But yeah, the basic idea is: keep a tiny shim of io

[2020-10-30 05:15] #4749 closed

[2020-10-30 07:19] suishicity commented on #5034
@jni I think `pixel_nb = edges.shape[1]` is wrong. Denoting N be the total number of image pixels, the size of laplacian matrix should be NxN. In this code, N should be `N=l_x * l_y * l_z`. Thus `pixel_nb ` should be `pixel_nb = l_x * l_y * l_z`.  Note that the number of edges is `n_x * n_y * (nz - 1) + n_x * (n_y - 1) * nz + (n_x - 1) * n_y * nz`.  So `edge.shape[1] !=N`

[2020-10-30 10:06] rk-exxec opened #5042 "Issues with EllipseModel"
## Description
Hey, I have issues with the EllipseMopdel estimate function.
It produces a completely wrong ellipse, what am I doing wrong.
This is what it looks like:
![grafik](https://user-images.githubusercontent.com/40037381/97692066-8f3a0a80-1a9f-11eb-909c-8c21a6a9688a.png)
I am detecting a contour with opencv (blue line) and then feeding that contour to the EllipseModel.

## Way to reproduce

[2020-10-30 14:08] jni opened #5043 "Local testing discovery is broken on master"
## Description

I first noticed this [here](https://github.com/scikit-image/scikit-image/pull/5041#discussion_r515039017) but I thought it was something weird with pooch and fetch because those tests are meant to be skipped under certain conditions. Then @FirefoxMetzger noticed [here](https://github.com/scikit-image/scikit-image/pull/4851#issuecomment-719435024) that he couldn't get tests to run o

[2020-10-30 14:17] FirefoxMetzger commented on #5043
This doesn't just affect calling individual files. For me, a generic `pytest` skips a large chunk of tests, too.

[code]

This is significantly less than the 6000+ tests that currently make up the entire test suit.

[2020-10-30 14:22] FirefoxMetzger commented on #5043
On further inspection, it appears that pytest skips (doesn't discover) tests that are defined as functions and only discovers tests that are declared as classes.

[2020-10-30 14:42] FirefoxMetzger commented on #5043
Okay, weirdly enough adding an empty `pytest.ini` in the project's root directory fixed this on my machine. `pytest` now discovers 6275 tests. I don't really know why it does fix things, nor do I know what the cause was; I stumbled across this while searching for people with similar issues and thought I'll give it a shot.

@jni Could you check if this fixes things on your machine as well?

[2020-10-30 14:44] jni commented on #5043
Yup, fixes things for me also.

[2020-10-30 14:46] jni commented on #5043
Git bisect traces it to #3329

[2020-10-30 14:47] jni commented on #5043
Found it: setup.cfg adds a pytest configuration. I think it's missing `test_*` under python_functions. pytest.ini probably makes it ignore the config section in setup.cfg

[2020-10-30 14:48] jni commented on #5043
Yup, adding `test_*` under `python_functions` fixes the problem. PR incoming. Thank you @FirefoxMetzger for troubleshooting with me!

[2020-10-30 14:50] FirefoxMetzger commented on #5043
Anytime.

[2020-10-31 01:17] #5022 closed

[2020-10-31 02:07] #5043 closed

[2020-10-31 02:25] jni commented on #5042
I gotta say I can't figure this one out after a bit of playing with it. Anyone in @scikit-image/core have experience with ellipse estimation and have time to play with this?

[2020-10-31 02:47] jni commented on #5038
Thanks @massich!

For reference, the original Zulip thread about this is here:

https://skimage.zulipchat.com/#narrow/stream/175598-general/topic/disk.20shape.20parameter.20doc/near/214162314

Excerpt of my responses there:

What's happening is that passing in shape= clips the coordinates to only those coordinates that fit in the shape, while not doing so returns all the coordinates of the disk, e

[2020-10-31 07:16] FirefoxMetzger commented on #5036
Looks like consensus has already been reached.

I agree with outsourcing IO to `imageio`, which is a really great library. At the same time, I would be careful to get rid of `skimage.io`, because it demotes `skimage` from *a framework to work with images* to *a library to process images*. This doesn't seem like a massive change at first glance, but when you think about it, it severely weakens the

[2020-11-01 12:27] jni commented on #5036
@FirefoxMetzger

I disagree here. I think the bicycle analogy fails because assembling a bike is hard. But Python libraries are essentially self-assembling if we adhere to standards and make sure that the libraries we depend on work perfectly well together. It is no more difficult to type `pip install imageio scikit-image` than to type `pip install scikit-image`. And it's even closer if we do `pip

[2020-11-01 15:47] FirefoxMetzger commented on #5036
@jni

If one needs both libraries in all (most) cases anyway, wouldn't it make more sense to have `skimage` depend on `imageio`? Potentially with giving documentation on how to substitute `imageio` (if there exists such a thing)?

Regarding the other points, I have no objections. I'm actually very much in favor of your idea. Those three points are, in my opinion, the major things standing in the w

[2020-11-02 14:01] almarklein commented on #5036
I agree. But we first need consensus :)  It looks like there is agreement about the basics. Maybe it's time to talk about the API now.

I made a proposal in https://github.com/imageio/imageio/issues/563.  The short version is this:
[code]

And then:
[code]

Please comment on this in the corresponding issue, so we don't go off-topic in *this* issue.

[2020-11-02 17:58] odoublewen opened #5047 "feature.peak_local_max changes labels"
## Description

When **non sequential** `labels` are provided as input to `peak_local_max`, **the values get altered**.

If the function needs to update the values, it ought to **copy** the matrix.

I suppose this bug will be addresses by #4760 (there is a description "labels renumbering is avoided" in that PR).  But I didn't find any explicit description of this bug, which seems serious due to it

[2020-11-02 19:46] yacth commented on #5033
Hi I am willing to solve this issue, could you tell me more about what you are expecting ?
You want to change the `np.mean(...)` calculations on the `while` loop to change them with a weighted mean using the histogram ?

[2020-11-02 21:20] jjerphan commented on #4743
This issue can be closed. :slightly_smiling_face:

[2020-11-02 21:32] #4743 closed

[2020-11-02 21:32] grlee77 commented on #4743
closed by #4807

[2020-11-03 01:26] surchs opened #5048 "when missing intensity_image, regionprop_table fails with less explicit error message than regionprop"
## Description

When [`regionprops_table`](https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.regionprops_table) is called without the `intensity_image` attribute specified but a property is requested that requires it (e.g. `mean_intensity`), the resulting error message is less explicit than the one from `regionprop`.

## Way to reproduce
Based on the [Measure region proper

[2020-11-03 03:14] jni commented on #5048
Thanks for the report, @surchs! I agree that the error message needs to be clearer here. I'm unclear about your last point: what is the situation right now on master and how does it compare to what you think the ideal situation would be?

[2020-11-03 03:28] jni commented on #5033
@yacth :wave:

That code is not quite correct, but close. Note that there is a NumPy weighted average function that we can leverage! (I only just discovered this :sweat_smile:) You want:

[code]

Also, it's worth thinking about *only* doing this simplification for uint8 and uint16 images, where the result will match exactly. For float32 images, the result is an approximation, which means it is an

[2020-11-03 03:35] surchs commented on #5048
Hey @jni. On master the situation is:
[code]
That is, on master, `regionprop` and `regionprop_table` have the same error and error message. But I think that the previous error message (`AttributeError: No intensity image specified.`) was more explicit. That said, I am not sure why the current error message is raised in master as there seems to be [an even more explicit error message set up for thi

[2020-11-03 11:19] rfezzani commented on #5047
Thank you @odoublewen for the report! I confirm the bug and that #4760 is not affected :tada:
I hope it can be ready for 0.18 release...

[2020-11-03 19:16] odoublewen commented on #5047
@rfezzani I am puzzling over the `enumerate()` call in [this code chuck](https://github.com/rfezzani/scikit-image/blob/c0bef4c0a6d6391547bdce9cf366993af0fb34a0/skimage/feature/peak.py#L263-L269) from your branch:

[code]

Since `enumerate()` yields a tuple with a sequential index, and then the mask is create by looking for equality between the label matrix and the index... it seems like it wouldn'

[2020-11-03 20:02] lfleck opened #5049 "Missing documentation for ordering of labels in skimage.measure.label"
The documentation for [skimage.measure.label](https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.label) does not describe how the integer labels are assigned to regions, like e.g. "search and increment from left to right, top to down".  It would be great if that could be added to the docs as knowing that rule can be required for mappings based on the labels.

[2020-11-03 22:17] rfezzani commented on #5047
@odoublewen, you forgot to mention the essential
[code]
present in the cited code chunk! In fact, `ndi.find_objects` returns `None` for skipped label indices :wink:.

[2020-11-03 23:30] jni commented on #5049
@lfleck thanks for raising this issue! Can you elaborate on:

In my opinion, the ordering is an implementation detail that should never be considered in downstream analysis. Labels should be seen as arbitrary indices — if they could be easily be arbitrary strings instead of numbers we'd possibly use that!

[2020-11-04 06:57] lfleck commented on #5049
Assuming I want to get the top rows of coins in the [coin example](https://scikit-image.org/docs/0.12.x/auto_examples/segmentation/plot_label.html) as capitals from left to right as A to Z.
![image](https://user-images.githubusercontent.com/26580934/98077942-6932b280-1e71-11eb-9ac8-c2270dc7ff58.png)
By knowing in advance how the labels are assigned, one could map from the list of labels to the lis

[2020-11-05 05:28] gduffley opened #5051 "pip install error: implicit declaration of function 'unwrap2D' is invalid in C99"
## Description
I'm getting an installation error on MacOS using pip

## Way to reproduce
[code]

## Version information
[code]

skimage/restoration/_unwrap_2d.c:2285:9: error: implicit declaration of function 'unwrap2D' is invalid in C99 [-Werror,-Wimplicit-function-declaration]

See the attached log file the for the full dump:
[scikit_install_log.txt](https://github.com/scikit-image/scikit-image/

[2020-11-05 12:50] emmanuelle commented on #5036
One advantage of squeezing `io` into just a thin-wrapper `imread` would be to drop some dependencies, for example SimpleITK (just noticed that there are some problems with SimpleITK and py3.9 in #5052).

[2020-11-05 14:08] jni commented on #5051
Thanks for the report @gduffley!

`_unwrap_2d.c` is actually generated from a Cython source, `_unwrap_2d.pyx`. What version of Cython do you have installed? (`cython --version`). I suspect that this is actually a Cython issue rather than a skimage issue, based on the above.

[2020-11-05 15:38] gduffley commented on #5051
@jni Thanks for the quick reply. My Cython version is: ``Cython version 0.29.21``

[2020-11-05 16:46] jarrodmillman opened #5053 "dropping 3.6 and a few other things"
Now that it looks like NumPy will officially drop Python 3.6 for 1.20, I think it would be nice if other important libraries get on the same page.  Pandas and Matplotlib have already dropped 3.6.  I am thinking about dropping 3.6 for the next NetworkX release.  It would be nice if scikit-image also did so.

So I took a look to see if I could tell whether you had decided to drop 3.6 yet and  I noti

[2020-11-05 17:31] hmaarrfk commented on #5053
Many of the core devs were active on the discussion to drop Numpy 1.20 from 3.6.

I think there are many things we need to do to release a wheel for 0.18 and I don't think we should slow it down for any kind of hiccups.

The omission of python 3.8 was an oversight, and we are working on fixing it in
https://github.com/scikit-image/scikit-image/pull/5054

Once we have the infrastructure for 3.8 set

[2020-11-05 17:31] hmaarrfk commented on #5053
I'm also in support of releasing a 0.18 Python 3.6 wheel since it just seems like too much infrastructure change at the last minute.

[2020-11-05 17:33] stefanv commented on #5053
I would strongly consider dropping Python 3.6 to be in sync with the rest of the community and with the NumPy NEP.

[2020-11-05 17:34] terencehonles commented on #5053
I don't mind trying to iterate on Python 3.9 CI coverage regardless of when Python 3.6 is dropped. As mentioned on the PR, the wheels build on Linux and I just needed to poke at the Windows builds a little.

[2020-11-05 21:57] jni commented on #5051
Thanks! Would you mind upgrading to 3.0a and trying again? You can do this with `pip install -U --pre cython`.

[2020-11-06 07:28] jni commented on #5049
Well, I know for example that `ndimage.label` is top-to-bottom-left-to-right, but it's pixelwise, so larger coins in a row tend to appear first — as you can see in coins 12 and 19 in your example. So even knowing the order doesn't seem that useful?

Honestly, I am reluctant to add it to the docs because it ties us to this guaranteed implementation — which we may or may not want to honour in the fu

[2020-11-06 11:53] mkcor commented on #5049
I definitely have the same perspective as @jni -- labels are unique identifiers, period. An order such as top-to-bottom-left-to-right isn't very intuitive/helpful in 2D, as we can see in the above example: I can't even imagine in nD...

[2020-11-06 12:28] harshays98 commented on #2400
blended = `img1+(0.001*img2)`

[2020-11-06 16:13] gduffley commented on #5051
I tried with the latest cython, and got the same error. I have reverted to python38 for now, and everything is working fine. I really appreciate the help!

[2020-11-07 19:17] jjerphan commented on #5028
Hey @sciunto,

I am interested do a PR for this issue. Is there a place for the vendor code in the repository? :slightly_smiling_face:

[2020-11-07 22:31] #2592 closed

[2020-11-07 22:31] #3990 closed

[2020-11-07 22:31] #4756 closed

[2020-11-07 22:31] #5047 closed

[2020-11-08 15:57] jjerphan commented on #4766
Hi @jni

I am interested in solving this issue.
Should other attributes be made public? :slightly_smiling_face:

[2020-11-10 04:23] alexdesiqueira commented on #4486
# 2020/11/02 – 2020/11/09

Please keep an eye on #5053 y'all; we're dropping support to py3.6 and improving machinery for py3.8.

## new pull requests open last week
#5057 [WIP] Use nep29 to help with the Python 3.6 -> 3.9 transition
#5056 Clarify disk documentation inconsistency regarding 'shape'
#5055 debug travis build
#5054 fix Azure Pipelines, pytest config, and trove classifiers for Python 3

[2020-11-10 16:10] johnnypcc commented on #5051
I have the same issue, how do I solve it? Don't want to downgrade to 3.8.
Thanks

[2020-11-10 18:06] MOAMSA opened #5058 "Frangi/Hessian for Anisotropic Voxel"
Hello,
I appreciate it if anyone explains how the Frangi algorithm handles anisotropic voxel?
Based on the Gradient definition (first/second-order), we have to include voxel size in different directions, but I couldn't follow this in [hessian_matrix](https://github.com/scikit-image/scikit-image/blob/ed889ba3deb17cd94d1f0f9b730f6564585936ee/skimage/feature/corner.py#L133) function. This function co

[2020-11-11 02:25] ntbk1919 commented on #2025
if youre doing inside miniconda env pip install Cython there

[2020-11-11 12:40] jni commented on #5051
@johnnypcc I'm not sure but I think that this issue should probably go in https://github.com/cython/cython. Perhaps @hmaarrfk has a better idea?

[2020-11-12 02:27] jni commented on #5058
@MOAMSA Hi! Thanks for the Q.

I must say that if we get something to work it'll be luck, based on the documentation. :joy: ie the Frangi filter does *not* currently support anisotropic voxels, at least not intentionally: the sigma is supposed to be a single float. However, if I follow the sequence of calls, I don't see a reason why you *couldn't* pass in anisotropic sigmas that ultimately get pas

[2020-11-12 04:36] MOAMSA commented on #5058
@jni Perfect! As an alternative, do you think we can update the Hessian matrix by dividing each element by the corresponding voxel size? for example, D2F/Dx2 is divided by (voxel_x)^2...

[2020-11-12 04:42] jni commented on #5058
Ah, nice idea! Possibly we *also* need to do this? I need to think about it. But I don't think it's sufficient: the sigmas should definitely be scaled. Imagine a *super* anisotropic example, where vz=100 and vx=vy=1. You would *not* want to do a Gaussian blur with a sigma in np.arange(1, 10, 2) along the z dimension, right?

[2020-11-12 08:58] MattiasOlla opened #5060 "pip install fails under Python 3.9 if numpy isn't already installed"
## Description
Installing scikit-learn via pip on linux under Python 3.9 fails if numpy is not already installed. This makes it impossible (or at least much harder) to use in requirements.txt files when creating virtual environments or docker containers.

## Way to reproduce
Start with a clean virtual envoronment
[code]
Results in the following error:
[code]
I have also tried pinning the version t

[2020-11-12 09:39] rfezzani opened #5061 "ensure_spacing function may be slow"
## Description

The `skimage._shared.coord.ensure_spacing` function introduced in #4760 may be slow when the number of input points is large.

## Way to reproduce
[code]

[2020-11-12 17:05] mmarras opened #5063 "pip install scikit-image fails for python3.9 freshly installed with brew"
## Description

On macOS using python3.9 installed via brew and using pip I fail to install scikit-image. I have logged pip which can be found [here](https://github.com/mmarras/mytest/blob/master/test3.log). It aborts saying that `clang -options failed with exit status 1'. I also tried llvm-gcc as alternative compiler, same result.
Also tried to install 0.16.2 to try if an earlier version would wo

[2020-11-12 17:08] MOAMSA commented on #5058
I think we don't need to apply both.
 Could you please take a look at [this](https://mevislabdownloads.mevis.de/docs/current/FMEstable/ReleaseMeVis/Documentation/Publish/ModuleReference/GaussHessian.html). It might be helpful.

The result of Frangi is the same 3D matrix. On Napari, you haven't used `scale` parameter. How Napari consider the voxel size? just to be sure that you have got the proper

[2020-11-13 08:48] mmarras commented on #5063
Tried it on a different machine, alas same macOS and python3.9 via Brew. Same result does not install.

[2020-11-13 10:30] hmaarrfk commented on #5063
Can you upload the build log?

Without the build log, the only thing I can think of is for you to try to disable build isolation

[2020-11-13 16:58] mmarras commented on #5063
Sorry, I don't know exactly what you are referring to. Do you mean something else than the `pip --log` which I have linked in the OP?

[2020-11-13 19:34] grlee77 commented on #1585
I have confirmed that this issue is closed by scipy/scipy#12767 which will be included in the upcoming 1.6.0 release in a couple of weeks.

This one has been a long time coming (5.5 years!)

[2020-11-13 19:34] #1585 closed

[2020-11-13 20:17] grlee77 opened #5064 "enable scipy grid-constant boundary handling"
## Convert 'constant' -> 'grid-constant' when calling scipy.ndimage.interpolation functions

#1514 covered the difference in mode='constant' for scikit-image vs. scipy.ndimage. At that time, we switched the default mode away from constant, but as of SciPy 1.6, we will can also use mode 'grid-constant' in scipy.ndimage which should be equivalent to scikit-image's own constant interpolation mode.

I

[2020-11-14 06:22] jni commented on #5064
Thanks @grlee77! I think we should detect the scipy version and add that mode translation if it's after 1.6. That can be done immediately which is nice.

[2020-11-14 06:23] jni commented on #5064
Also, thanks to NEP-29, we can immediately know the date when we can remove the detection. =)

[2020-11-14 06:40] jni commented on #1585
So happy about this one @grlee77! ❤️

[2020-11-14 07:31] asabbas commented on #5063
macOS Catalina Version 10.15.7
Python 3.9.0
pip 20.2.4 from /usr/local/lib/python3.9/site-packages/pip (python 3.9)
Apple clang version 12.0.0 (clang-1200.0.32.27)
numpy               1.19.4
Attached the pip log file:
line 1581: 2020-11-13T23:05:14,662   ERROR: Failed building wheel for scikit-image
This seems to cause the problem because on python 2.7 on the same computer it installed scikit-imag

[2020-11-14 13:15] hmaarrfk commented on #5063
@asabbas thanks for the output.

This seems to be the same error as

https://github.com/scikit-image/scikit-image/issues/5051

I suggest we continue the conversation there with the 2 of you.

[2020-11-14 13:19] hmaarrfk commented on #5051
I think stricter rules in the C compiler may be tripping it off.

It seems that the `unwrap2D` (capital 2D) is a function defined in `unwrap_2d_ljmu.c`. I think we should probably define a header or something for cython to import, rather than importing `*`.

Python 3.9 came out [1 month ago](https://www.python.org/downloads/release/python-390/), and it takes us time to adjust to all the new challe

[2020-11-14 15:50] adam-grant-hendry opened #5065 "poetry add scikit-image fails with WinError 123"
## Description

Running `poetry add scikit-image` on Windows 10 yields an `EnvCommandError`:

[code]

## Way to reproduce
[code]

## Version information
[code]

[2020-11-14 17:13] #5063 closed

[2020-11-15 02:27] jni commented on #5058
It is!

You're right. I should have added `scale=[0.29, 0.26, 0.26]` to the `add_image` calls.

[2020-11-15 14:16] emmanuelle opened #5066 "OSX build in Travis is taking too long"
See for example https://travis-ci.com/github/scikit-image/scikit-image/jobs/432959421

In particular executing the `osx_install.sh` takes about 15 minutes to execute.-

[2020-11-15 14:28] emmanuelle commented on #5065
Hi @adam-grant-hendry thanks for reporting this. Does the error appear only with scikit-image? For example if you try to add `numpy` instead, does it work?

[2020-11-15 14:35] emmanuelle commented on #5065
Also I'm not sure if this is related (don't know much about poetry) but we don't provide wheels for python 3.9 (we will for the next release).

[2020-11-15 14:57] emmanuelle commented on #5060
Thanks for reporting this. I believe this problem (using numpy in our setup.py before numpy is installed) is a bug which has been fixed since 0.17.2 (in https://github.com/scikit-image/scikit-image/pull/4920/, see in particular https://github.com/scikit-image/scikit-image/blob/master/setup.py#L167).
Also we don't have a wheel for python 3.9, hence the problem appears.

@scikit-image/core should we

[2020-11-15 15:56] adam-grant-hendry commented on #5065
@emmanuelle Thank you for your help. I have `numpy` installed, so I don't believe `numpy` is failing, which is good. In fact, I believe it might have something to do with spaces in a path name. Similar searches for `WinError 123` errors with `pip` and `poetry` installations seem to indicate this. Unfortunately, I do believe the recommended fix is to install a wheel until the package can be updated

[2020-11-15 18:12] hmaarrfk commented on #5060
IMO: I don't think a 0.17.3 will happen. I think release a 0.18 package will be able to solve this particular challenge.

[2020-11-15 20:13] emmanuelle commented on #5060
We had discussed with @jni whether to release 0.17.3 just before 0.18 but I'm not 100% sure whether this will happen. 0.18 would also work of course.

[2020-11-16 09:51] mkcor commented on #4486
# 2020/11/9 - 2020/11/16

Hello! Since they don't appear below, maybe I should draw our attention to PRs #2815 and #3070 ? Both are in for 0.18 and have one approval at the moment.

## New pull requests open last week

#5067 reduce OSX build time so that Travis is happy
#5062 Optimize ensure_spacing
#5059 MAINT Build fix for pyodide

## Closed pull requests (not merged)

none

## Merged pull reque

[2020-11-16 10:02] FirefoxMetzger opened #5068 "OpenMP vs Dask"
I've noticed that multi-threading is handled in two distinct ways across the library. In some places, we are using dask (`restoration._cycle_spin`, `util.apply_parallel`), while others use OpenMP (in `feature._cascade` or `restoration.rolling_ball`). Both libraries have different specialization, but for us, they perform essentially the same job. Is there a policy on which one to prefer? Is there a

[2020-11-16 16:32] mkcor commented on #5068
poking @lagru @sciunto @rfezzani @hmaarrfk

[2020-11-16 17:15] cosinus11 opened #5069 "Bug in ImageCollection"
## Description

The example provided by the documentation (https://scikit-image.org/docs/stable/api/skimage.io.html?highlight=collection#skimage.io.ImageCollection)
is not working. The example works only on version before commit https://github.com/scikit-image/scikit-image/pull/3928
is there a problem in code or in the example that is not updated?

## Way to reproduce
[code]
class AVILoader:
    v

[2020-11-16 17:55] grlee77 commented on #5068
I see OpenMP as being for use within Cython code when a specific loop may need to be run in parallel, for example. For pure python functions such as `restoration.cycle_spin`, OpenMP code is not an option, although there are other potential alternatives to Dask such as Python's `concurrent.futures`. A nice aspect of Dask is that can be adapted to a number of different schedulers so we can potential

[2020-11-16 21:17] mkcor commented on #5069
Hi @cosinus11,

I'm not sure the example is supposed to just run, as it looks like it's defining a mock class... :thinking:
But, yes, there is a change in behaviour with #3928: @alexdesiqueira could you please enlighten us? Thanks!

[2020-11-16 21:45] alexdesiqueira commented on #5069
Hi @cosinus11 @mkcor,
thank you for the issue, @cosinus11! I will check it and get back to y'all.

[2020-11-17 07:51] rfezzani commented on #5068
The main constraints when considering the inclusion of optimized code are I think readability, maintainability and "reviewability".
Both OpenMP (via Cython) and dask are good options for this purpose and there is no strict rule or policy on which one to prefer =).
Another important condition is the portability of the code (even if there is no official support for ARM and 32-bit), this makes the in

[2020-11-17 09:17] cosinus11 commented on #5069
Thank you very much!

[2020-11-17 15:52] alexdesiqueira commented on #5069
Hey @cosinus11,
I think we started a discussion in #3928 to "simplify" `ImageCollection` (please check [this comment](https://github.com/scikit-image/scikit-image/pull/3928#discussion_r303211107) and the following ones).
That said, if that's still the case, it's time to deprecate that example — or maybe to offer an alternative to it. What do you think, @jni?

[2020-11-18 09:23] mkcor commented on #5069
I just realized that this issue was related to #2815, which I'm reviewing now.

[2020-11-18 16:29] healther commented on #5051
I'm seeing this also with Python3.8. I think it is triggered by the new behaviour of XCode12, which treats implicit function declarations as an error, rather than a warning. See [here](https://github.com/spack/spack/issues/19905#issuecomment-727268429) for the context. I'm not sure where the problem originates, but specifying `-Wno-implicit-function-declaration` at least let's my build proceed fur

[2020-11-19 11:16] Aribala opened #5070 "skimage.io.imread memory error"
We are trying to load image from file by passing 1544 x 781px jpeg image (image size is 290 KB)
trying to run the below code with 4GB memory and getting memory error

skimage.io.imread(fpath, as_grey=True)

**Trace**
    io.imread(fpath, as_grey=True)
  File "/home/patternsuser/.local/lib/python2.7/site-packages/skimage/io/_io.py", line 61, in imread
    img = call_plugin('imread', fname, plugin=p

[2020-11-19 11:30] mkcor commented on #5070
poking @almarklein ;)

[2020-11-19 12:24] hmaarrfk commented on #5051
Thanks for helping out. can you provide people with the full command?

We dont' use XCode12 to ensure we stay compatible with very old macs, but it will be nice to address this issue.

[2020-11-19 15:11] almarklein commented on #5070
This does not even seem to pass through imageio, so I plead not guilty :)

Jokes aside, this is really odd. This should be the short version. Could you confirm that this causes the same error? Would it be possible to to share the image in question here, or with @mkcor or me personally, so we can reproduce it?

[code]

[2020-11-19 15:13] healther commented on #5051
something like
[code]
before doing the `python setup.py` or `pip install sk-image`

[2020-11-20 16:21] FirefoxMetzger commented on #5068
I acknowledge maintainability, and this might be enough to completely veto SIMD; I wouldn't want to use this argument too lightly though. If your CPU supports AVX512 instructions then a `__m512i` can hold up to 64 `uint8`s or 16 floats (8 double). Here, speed scales linearly with register length, so you'd be looking at a ~64x (16x / 8x) speedup over sequential code on a single core. Also, SIMD sca

[2020-11-20 19:12] alexdesiqueira commented on #5069
Related to #4859 as well; cross-linking it here.

[2020-11-23 16:33] chacha21 opened #5075 "0.18.0 : Doc error for skimage.filters.prewitt_h/v"
The documentation tells that skimage.filters.prewitt_h and skimage.filters.prewitt_v are using 3x3 filters
[[1 1 1] [0 0 0 ] [-1 -1 -1]] and [[1 0 -1][1 0 -1][1 0 -1]]
Actually, the implementation seems to only use [1 0 1] and [[1][0][-1]], which give different results.

For instance :
[code]

[2020-11-23 19:25] grlee77 commented on #5075
Can you specify how this differs from your expected results? For such a small input, the result will vary a lot depending on which boundary `mode` is selected. Only the center pixel in your example does not involve inclusion of any boundary elements within the filter kernel and it appears correct to me.

At least since release 0.17.0, the `prewitt` function is a general n-dimensional implementatio

[2020-11-23 19:34] chacha21 commented on #5075
I talked about the center element to exclude border effect and discussion about edges stategies.
But according to the doc, the center element should be (-1*4)+(-1*4)+(-1*4)+(0*3)+(0*3)+(0*3)+(1*2)+(1*2)+(1*2), aka -12+6=-6

[https://scikit-image.org/docs/dev/api/skimage.filters.html#prewitt-h](https://scikit-image.org/docs/dev/api/skimage.filters.html#prewitt-h)

[2020-11-23 19:47] grlee77 commented on #5075
Okay, so it is the factor of 3 difference you are referring to. It looks like it is just a matter of updating the docstring, to include the normalization factor. I checked and it looks like the Prewitt functions were introduced in release `0.14` and extended to n-dimensional in 0.17, but have always had this scaling since that time.

Let me know whether or not you want to make a documentation fix

[2020-11-23 20:19] chacha21 commented on #5075
I am not a regular user, so I would not be very good at following the style.
I prefer that you write it the good way.

[2020-11-23 20:27] grlee77 commented on #5075
Sure, no problem. Thanks for reporting the issue

[2020-11-23 20:54] grlee77 commented on #5075
I have reopened this until #5076 is merged.

[2020-11-23 22:32] emmanuelle opened #5077 "New CI test matrix with GH Actions"
Since I'm porting our MacOS + Linux CI from Travis to Github Actions, it is a good time to reconsider whether we're happy with our matrix of test cases.

Here is the current Travis matrix
[code]

`DEPLOY_DOCS` was not used any more, but apart from that, is there anything which I should change? For example, should the `pre` build run with py3.8 instead of 3.7? (There will be py3.9 to add as well, b

[2020-11-24 09:22] jni commented on #5077
I think that makes sense, and indeed, it makes sense to move it to 3.9 when the time comes.

Well, we are dropping Py3.6, so definitely!

[2020-11-24 13:02] #5075 closed

[2020-11-24 23:25] odoublewen opened #5078 "misleading commentary for peak_local_max example"
In the example `plot_peak_local_max.py`, the intro at the top states:

in an image. __A maximum filter is used for finding local maxima. This operation
dilates the original image and merges neighboring local maxima closer than the
size of the dilation. Locations where the original image is equal to the
dilated image are returned as local maxima.__

Everything after the first sentence is either wro

[2020-11-25 22:41] jni commented on #5053
To summarise positions here:

- @hmaarrfk was concerned about dropping 3.6 so close to a release since it would be a major infrastructure change. However, Travis forced our hand with that (we are undergoing the infrastructure change anyway) and I think his comment [here](https://github.com/scikit-image/scikit-image/pull/5079#issuecomment-733950292) suggests he's ok with dropping 3.6 now?
- @stefan

[2020-11-26 02:16] hmaarrfk commented on #5053
I **was** worried about infrastructure change, but I rather like the 3.6->3.7, 3.7->3.8, 3.8->3.9 build transition.

I didn't want to "drop" 3.6, THEN "add" 3.9. Recent PRs have added 3.9, so we are all good.

[2020-11-26 08:00] Harry-Kwon commented on #5028
Hi I've attempted to modify the method to remove to reference to numpy's private functions in this pull request [https://github.com/scikit-image/scikit-image/pull/5081](https://github.com/scikit-image/scikit-image/pull/5081). Are these modifications ok?

I also didn't find any other uses of numpy's private functions in the codebase.

[2020-11-26 14:16] mkcor commented on #5078
Hi @odoublewen,

You are absolutely right, thanks for reporting!

The `peak_local_max` function changed multiple times since this example was written. Recently, it even underwent a global refactoring by @rfezzani (#4760).

Would you take a stab at updating the example? ;-)

[2020-11-26 15:35] ChenghaoZHU commented on #5051
Life saver, I pass the building via
`export CFLAGS='-Wno-implicit-function-declaration'`

[2020-11-26 16:08] mkcor commented on #2811
@maaleske I'm closing this issue, since I can run successfully
[code]
on current `master`, where I've used the test data file which the [xarray docs](http://xarray.pydata.org/en/stable/io.html?highlight=rasterio#rasterio) link to. I've copied this test data file `RGB.byte.tif` into `RGB_2.byte.tif` under the same test data directory, so that the `ImageCollection` object would be of length 2. Likew

[2020-11-26 16:08] #2811 closed

[2020-11-26 16:49] odoublewen commented on #5078
Easy for examples like this to become out of sync with a rapidly improving codebase.  (And yes, elsewhere I already shouted out kudos to @rfezzani for the recent big improvements!)

I would be more than happy to open a PR with updated examples.  In this example, my first stab would be to simply eliminate the call `maxiumum_filter`, since I don't see how it is useful.  (Actually, it appears that ev

[2020-11-26 18:57] mkcor commented on #5078
Hi again @odoublewen,

Wonderful! Thank you very much.

Parameter `indices` is meant to obtain either the coordinates (indices) or the mask of the peaks, so it's straightforward:
[code]
or, in the context of the existing example,
[code]
:slightly_smiling_face:

[2020-11-26 19:05] mkcor commented on #5078
Oh, sorry, by 'future-proof' you probably meant without relying on the `indices` parameter? :woman_facepalming:
Anyway, we probably want to remove this sentence:
https://github.com/scikit-image/scikit-image/blob/310b47f3a74d40c012d8522821b9e9e35b4b960e/skimage/feature/peak.py#L161-L162
or actually provide an example using `indices=False`.

[2020-11-26 19:16] odoublewen commented on #5078
Yes, exactly.  The deprecation warning even shows up in the online examples, [here for example](https://scikit-image.org/docs/dev/auto_examples/segmentation/plot_watershed.html#sphx-glr-auto-examples-segmentation-plot-watershed-py):

So if `indices` is going away and already generates a deprecation warning, rather than provide examples of using `indices=False` (which, by the way, two of the exampl

[2020-11-26 19:26] mkcor commented on #5078
Yes, you are right. We should update these two gallery examples (i.e., "Watershed segmentation" and "Segment human cells (in mitosis)").

Good. I don't think `np.zeros_like` is necessary... Simply:
[code]
Thanks again!

[2020-11-26 23:36] #5078 closed

[2020-11-27 06:02] nbCloud91 opened #5084 "Question: Why is default structuring element of 1-connectivity used by ndimage.label for getting the default markers(labeled local minima) for watershed segmentation?"
## Description

In the implemented watershed.py segmentation, one can pass a connectivity argument, when `local_minima` is called by watershed (when `markers=none`) it passes the same connectivity value onto the local minima function, this generates the `markers_bool`, which then is used by `ndimage.label()` to generate the labeled markers. `ndimage.label` can take a structure argument and it defa

[2020-11-27 07:59] jni commented on #5084
@nbCloud91 you're right, we should definitely match the connectivity. Rather than an if statement, though, I would replace

[code]

with

[code]

[2020-11-27 09:10] leouieda commented on #4890
@jni Pooch 1.3.0 is out now on PyPI and conda-forge including the `retry_if_failed` option. Give it a shot and let me know if anything doesn't work as expected 🙂 https://www.fatiando.org/pooch/latest/advanced.html#retry-failed-downloads

[2020-11-29 11:00] jni opened #5087 "Feature request: points to labels"
## Description

I find myself repeating the following lines very often:

[code]

This is required for example to take a set of centroids and turn them into markers for watershed.

I think it would be great for skimage to provide a utility function to do this.

[2020-11-29 12:30] jni opened #5088 "filters.farid missing from skimage.filters documentation"
## Description

The `filters.farid{,_h,_v}` functions are missing from the [`skimage.filters` documentation](https://scikit-image.org/docs/dev/api/skimage.filters.html). I presume this is because they are not it `__all__`? (No time to investigate right now.)

[2020-11-29 12:34] jni opened #5089 "filters.farid should be generalised to n-dimensions"
## Description

In #4347 we generalised Sobel, Prewitt, and Scharr filters to n dimensions. I think the Farid & Simoncelli filter, which has given me very good results in 2D, can also be generalised to nD, so we should do that.

[2020-12-01 04:39] qu1j0t3 commented on #4667
Upgrading pip3 to 20.3 did **not** fix this issue for me.

[2020-12-01 06:01] hmaarrfk commented on #4667
Please open a new issue. Previous comment was from more than 6 months ago. We can probably give you more targetted advice.

[2020-12-01 13:17] FirefoxMetzger opened #5091 "Building from source on master fails on Windows 10.0.19041"
## Description

On Python 3.9 building from source on Windows fails with the error below. On Python 3.7 the build works fine.

The reason appears to be a bug in the windows binary `ucrtbase.dll` that was updated in the recent (Oct 2020) Windows update. This causes numpy to fail on windows. Here is the accompanying bug report on the Windows Dev Forums: https://developercommunity.visualstudio.com/co

[2020-12-01 21:12] emmanuelle commented on #5091
Thanks for reporting this @FirefoxMetzger . The wheels build fine on Windows and Python 3.9 in Github Actions https://github.com/scikit-image/scikit-image/runs/1462630342, do you know what could be different compared to your setup?

[2020-12-01 21:18] emmanuelle commented on #5066
Closing since we switched to Github Actions.

[2020-12-01 21:18] #5066 closed

[2020-12-01 21:23] emmanuelle commented on #5087
Good idea. Should it be in `segmentation` or in `utils`?

[2020-12-01 21:38] NinjaAtWork opened #5092 "issue: centroid property of skimage.measure.regionprops is outside of regions"
## Description
Hi
After image segmentation, for numbering regions, using the `centroid` property of `skimage.measure.regionprops` will return centroid `xy` of `bbox `of each region, but that will return `xy` outside of area region with shape like 'C' , 'D' or similar, also the wrong `xy `for inter-grown regions
How to find `xy `inside all kinds of regions with linear time complexity function?

sim

[2020-12-01 22:16] NinjaAtWork commented on #5092
for a better describe please have a look at
[https://in.mathworks.com/help/matlab/ref/inpolygon.html](https://in.mathworks.com/help/matlab/ref/inpolygon.html)
in mathworks

[2020-12-02 00:14] jni commented on #5087
A great question. I don't have a strong preference. Maybe we reopen #1608? =P

[2020-12-02 01:11] jni commented on #5092
Thanks for raising this @NinjaAtWork! I've wanted this feature in the past. In particular, our region adjacency graph drawing code places nodes at region centroids, which fails for non-convex regions as you described. I think I would call this a "geodesic centroid". You would need to build a (scipy.sparse.cs)graph of the pixels in the region (a function we don't have but should), then some functio

[2020-12-02 05:58] FirefoxMetzger commented on #5091
@emmanuelle Good question, my guess is a difference in Windows versions. The automated build uses `Microsoft Windows Server 2019 10.0.17763`, I think that (1) the faulty library may not have been rolled out to servers yet, and (2) the server may not have been upgraded to use the latest (and faulty) version.

[2020-12-02 08:05] oconnor127 opened #5093 "SLIC does not work for grayscale images, or RGB with convert2lab = False"
Hey,

for some reason slic does not work for grayscale images. Looking at the oversegmented images using mark_boundaries, I get a regular shaped chessboard (I guess the initial start with equally distributed seed points).

rgb = io.imread(curr_img_path)           #shape (352,1216,3)
gray = color.rgb2gray(rgb)                   #shape (352,1216)
assignment_gray = slic(image=gray, n_segments=500, ma

[2020-12-02 08:12] emmanuelle commented on #5093
Hi @oconnor127 you'll need to reduce the `compactness` parameter by a fair amount for slic to work on grayscale images. Compare for example
[code]
![image](https://user-images.githubusercontent.com/263366/100846079-60d49400-347e-11eb-91fb-921341023972.png)
and
[code]
![image](https://user-images.githubusercontent.com/263366/100846175-79dd4500-347e-11eb-9aa9-7d454e617b77.png)

[2020-12-02 08:12] emmanuelle commented on #5093
Also you wrote in comments that you don't want to covert to Lab space but this is really recommended for slic segmentation!

[2020-12-02 08:39] oconnor127 commented on #5093
Thanks for your answer :)

Yepp thats true that the docs says it. But sometimes either have just grayscale images or want to avoid the lab-conversion time ;)

[2020-12-02 14:24] FirefoxMetzger commented on #5036
I spent some time over at `imageio` to discuss a new API design with @almarklein and the latest draft for the API is here https://github.com/imageio/imageio/issues/569 .

I built a demo of the new `imageio` API (https://github.com/imageio/imageio/pull/574). There is, of course, more work needed to tightly integrate it into their codebase, but it works for demonstrational purposes (+/- some bugs (:

[2020-12-02 16:52] hrieke opened #5095 "Image License correction"
Hi guys,

Just an FYI - in [__init.py__](https://github.com/scikit-image/scikit-image/blob/master/skimage/data/__init__.py) you list a series of images for testing.

The image Rocket.jpg is actually licensed under the "Creative Commons Attribution Non Commercial 2.0" license, as referenced by the link on the photo's flickr page ("Some rights reserved").  Line 391 in the __init.py__ file states thi

[2020-12-02 21:20] sciunto commented on #5095
Looks like that the second link in the docstring evidences that the picture is in the public domain

```    The image was captured by SpaceX and `released in the public domain
    <http://arstechnica.com/tech-policy/2015/03/elon-musk-puts-spacex-photos-into-the-public-domain/>`_.
[code]

[2020-12-02 21:24] #4488 closed

[2020-12-02 21:35] rfezzani commented on #4486
Oups! I am so sorry, I just realized that it was my turn last week :disappointed:

[2020-12-02 22:09] NinjaAtWork commented on #4486
you will change that emoji to something glad if you realize that your effort will happy a kid in paint by python app and or continue to rescue a father from cancer die by scikit scientific image recognition :)

[2020-12-03 01:30] alexdesiqueira commented on #5095
Hey @hrieke, thank you for your hint!
As @sciunto pointed out, though, Elon Musk himself released all SpaceX images as Public Domain. There's even [a tweet where he says it](https://twitter.com/elonmusk/status/579210902932574209).
That said, it'd be interesting to ask the SpaceX crew to change that info on flickr. I'll try to reach them.
Thank you again!

[2020-12-03 01:46] alexdesiqueira commented on #5095
Alright, sent them a message through flickr:

[2020-12-03 05:52] stefanv commented on #5036
@FirefoxMetzger We currently only utilize imread and imsave.  Is there somewhere I can get an overview of the newly proposed API, without reading through the entire PR?

[2020-12-03 08:14] FirefoxMetzger commented on #5036
@stefanv The gist is in the top post of https://github.com/imageio/imageio/issues/569 .

[2020-12-03 12:35] hrieke commented on #5095
Thank you Alex, Francois.
Always something interesting when you start travelling down these licensing rabbit holes.
Stay safe!

[2020-12-04 03:47] anillspawar opened #5100 "skimage.measure.label is not working correctly for non binary 3d array"
skimage.measure.label is giving a lot more than expected number of connected components for non binary image. But when I am passing after binarization it’s giving likely correct result with very less number of connected components.
So is this API works on binary images only, although document says it works for int type images?

[2020-12-04 14:03] annukkaa opened #5102 "feret_diameter_max not available"
I would like to access feret_diameter_max property but it is not available, even though it is described in the documentation.
I recently updated scikit-image (using conda update) to version 0.17.2.
I'm using python 3.7.0

Plus I have an additional question: how to obtain feret_diameter_max or other properties of the image which depend on the spacing between voxels? How to take this spacing into co

[2020-12-04 20:01] keisuke-ishihara commented on #4537
hi all, I wandered here from OP(@emmanuelle )'s link forum.image.sc.

As an experimental biologist, I generate 3D microscopy data, segment structures, and process with `marching_cubes_lewiner`. To reduce the complexity of the mesh, I use [PyMesh](https://pymesh.readthedocs.io/en/latest/mesh_processing.html)'s functions such as `collapse_short_edges `and `remove_duplicated_vertices`.  I like the fa

[2020-12-05 06:27] jni commented on #5051
ah, sorry, I missed

Thank you @david-a-joy for the specific fix! Preparing a PR now. 🙏

[2020-12-05 23:59] jni commented on #5102
@annukkaa

Unfortunately, you've found the documentation for the development version of scikit-image! You can try it out by installing the pre-release 0.18.0rc0 with pip. We hope 0.18 will be out very shortly, including in conda-forge, but there's a lot of last minute adjustments we're trying to make. Hold please! 😬

Unfortunately, we don't support spacing in regionprops yet: everything is assumed

[2020-12-06 00:03] jni commented on #5093
@oconnor127 I think @emmanuelle's response answers your question? I'll close this, but feel free to reopen if you have more questions!

[2020-12-06 00:03] #5093 closed

[2020-12-06 15:20] Hareen-a commented on #2839
C:\Users\Nuwantha>pip install skimage
Collecting skimage
  Using cached skimage-0.0.tar.gz (757 bytes)
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\nuwantha\appdata\local\programs\python\python38\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Nuwantha\\AppData\\Local\\Temp\\pip-install-lgib4va6\\skimage_09474a48019a4022825b6b4a4d4df04c

[2020-12-07 04:19] #5051 closed

[2020-12-07 07:05] #4890 closed

[2020-12-07 08:21] jni commented on #5100
Resolved in https://forum.image.sc/t/skimage-measure-label-is-not-working-correctly-for-non-binary-3d-array/46171

Thanks @anillspawar for the question!

[2020-12-07 08:21] #5100 closed

[2020-12-07 08:52] jni commented on #4890
Thanks @leouieda! We finally added this in #5105. 🤞 that it resolves our CI issues!

[2020-12-07 10:07] annukkaa commented on #5102
Thanks for your reply! I will raise another issue

[2020-12-07 10:47] annukkaa commented on #5102
May I also ask if the feret_diameter_max property available in 0.18.0rc0 supports 3D images?

I've read in some of the issues that most of the properties in regionprops are available for 3D images, however this doesn's seem to be clear from the documentation

[2020-12-07 11:26] annukkaa opened #5112 "Feature request: add voxel spacing to skimage.measure.regionprops"
No support yet for anisotropic images in the properties of regionprops

[2020-12-07 15:13] CsatiZoltan commented on #4507
@jni , @emmanuelle
Finally, I took the time to look into it, considering #4531 as well. I can think of two implementations:
1. Optimize the set of distinguishable colors
2. Keep the distinguishable colors only for the neighbors (https://github.com/scikit-image/scikit-image/issues/4507#issuecomment-616434423)

# Optimal set of colors

Let's start with strategy 1. First of all, by formulating a more

[2020-12-07 18:03] grlee77 commented on #4486
# 2020/11/30 - 2020/12/7

The last week has mostly been work related to preparing the 0.18 release. In the last few weeks, CI and wheel building jobs were moved off of Travis-CI now that free credits are much more limited. We may keep ARM wheel builds on Travis, but all x86 jobs have been moved elsewhere.

A new proposed feature is installing `scikit-image[data]` instead of just `scikit-image` to

[2020-12-07 18:45] grlee77 commented on #5102
Yes, 3D is also supported for this measurement.

[2020-12-08 07:58] jni commented on #5102
Great! I'll close this one then since it is fixed on master. Thank you!

[2020-12-08 07:58] #5102 closed

[2020-12-09 21:49] mok0 opened #5121 "Pip3 install of scikit-image fails for Python 3.9 on macOS 10.15 (Catalina)"
## Description
The build of scikit-image using Python 3.9 and

[code]

fails with C compilation errors in both `scikit-image` and `pycares`.

## Way to reproduce

[code]
[scikit-image-build.log](https://github.com/scikit-image/scikit-image/files/5668924/scikit-image-build.log)

## Version information
[code]

[code]

Most of the compilation errors are deprecation warnings but a few are actual C-cod

[2020-12-09 22:40] hmaarrfk commented on #5121
Thank you for reporting.

This seems to be a duplicate of https://github.com/scikit-image/scikit-image/issues/5051 and we are addressing it in the next release. For now, We would suggest using python 3.8 if possible. or installing from the github page.

[2020-12-09 22:40] #5121 closed

[2020-12-10 06:44] ced-mos opened #5122 "Feature request: Draw line with specific width"
It would be good to be able to draw a line with a specific width and not only with thickness 1 like the functions `skimage.draw.line` or `skimage.draw.line_aa` do.

An implementation like the following would be nice https://stackoverflow.com/a/47381058.

[2020-12-10 06:55] jni commented on #5122
Thanks @ced-mos!

The implementation of `profile_line`, specifically the function [`_line_profile_coordinates`](https://github.com/scikit-image/scikit-image/blob/5da1d5800f53fcdb42202396b9219ce5e0579440/skimage/measure/profile.py#L130-L174), would also be a good reference for this.

[2020-12-10 07:13] jni commented on #5112
Thanks for raising, @annukkaa! I hope we can implement this before the next release, as it would be very useful!

[2020-12-10 11:43] JuanIgnacioCG opened #5124 "Possible bug in label connected regions in large volume crushes all kernel"
## Description
I have used several times the label function of scikit but this is the largest volume I have used so far. I tried the label with connectivity = 3 but the kernel was crushing repeatly, then changed it to connectivity =2 and after taking almost 80 GB of RAM was able to throw a result. Then I compaired it with the label feature of ndimage library, it finished faster and not taking even

[2020-12-10 12:10] #5053 closed

[2020-12-10 15:55] sciunto commented on #5095
Any news from them @alexdesiqueira ?

[2020-12-10 16:05] alexdesiqueira commented on #5095
Not yet @sciunto. I'm wondering if they still use that platform...

[2020-12-10 16:08] sciunto commented on #5095
cool!

[2020-12-10 17:07] hrieke commented on #5095
I looked at Web Archive to see if the page was captured at all to see if the licensing had changed.
Sadly, the page is not in the Archive.
I am **speculating** that they moved to the CC NC license on purpose, since even the more recent photos contain the same license.
From May 21, 2020.  https://www.flickr.com/photos/spacex/49922663321/
From Dec. 7, 2020.    https://www.flickr.com/photos/spacex/50

[2020-12-10 17:11] alexdesiqueira commented on #5095
@hrieke thanks for checking! I sent them a version of that message on [Twitter](https://twitter.com/alexdesiqueira/status/1337069094110023681), hoping they will come back to us. If they don't, I'm afraid we will need to replace that image in a future version :disappointed:

[2020-12-10 17:13] hrieke commented on #5095
I'd be happy to donate a photo from my personal collection to the project under CC-BY-4, but I also see at the Creative Commons website that they have an image search under the various license attributes.

[2020-12-10 22:53] mok0 opened #5127 "Confusing error message when Cython is not installed"
## Description

When building `scikit-image` using `python3 setup.py install`, and you do not have Cython installed, an error message tells you to install NumPy. This happens in `setup.py` around line 199 after an ImportError exception has been thrown in line 178.

## Way to reproduce
[code]

## Version information
[code]

[code]

[2020-12-11 02:37] hmaarrfk commented on #5127
can you provide us the error log?

[2020-12-11 07:52] sciunto commented on #5095
We have to evaluate. If someone releases materials in public domain and then turns his/her mind, as long as we have the evidence that a public domain release has been done, it remains in the public domain. The question is rather do we have confidence in the declarations we have.

[2020-12-11 13:55] #5088 closed

[2020-12-11 15:48] alexdesiqueira commented on #5095
@sciunto I found it very _unspecific_ to base ourselves on a tweet saying "now they all are in public domain"... maybe it could come back to bite us someday :wink:

[2020-12-11 16:23] mok0 commented on #5127
I'm not really sure why you need it? `setup.py` attempts to import cython, and if that triggers an ImportError, it writes the following errormessage and halts:

[code]

All you have to do is to edit setup.py and change the message to:

[code]

[2020-12-11 17:29] hmaarrfk commented on #5127
Thanks. Pull requests are welcome!

[2020-12-11 17:31] mok0 commented on #5127
Oh, c'mon, it's litterally 3 words you need to change.

[2020-12-11 17:48] hrieke commented on #5095
I would suggest that the license listed on image page be the license of record.
And thank you all for the interest in dealing with & correcting a problem that frankly, does not get lot of attention.

[2020-12-12 00:37] jni opened #5130 "pre builds broken by scipy 1.6.0rc1"
## Description

The release of scipy 1.6.0rc1 has broken our builds, see e.g. [here](https://github.com/scikit-image/scikit-image/pull/5129/checks?check_run_id=1540462654#step:5:442). The failing test is `skimage/segmentation/tests/test_boundaries.py::test_mark_boundaries_subpixel`. As I recall that function depends on a rather precise interpretation of the sizes given to `ndi.zoom`, so I expect t

[2020-12-12 02:13] jni commented on #5127
@mok0 thanks for the report. We do have a long backlog of issues including [constant](https://github.com/scikit-image/scikit-image/issues/5103) [churn](https://github.com/scikit-image/scikit-image/issues/5130) in the ecosystem so any little help is appreciated! Including this report. 🙏

We do aim to ultimately deprecate `python setup.py install` in favour of `pip install -e .`, which bypasses this

[2020-12-12 02:28] grlee77 commented on #5130
It looks like inside `mark_boundaries` there is a call to `ndi.zoom` with `mode='reflect'`. This mode has had a long-standing bug in scikit-image that was finally resolved with 1.6 in scipy/scipy#12767.  In short the behavior of reflect was fixed from behaving like the top left panel in https://github.com/scipy/scipy/issues/2640#issuecomment-554873759 to the expected behavior in the top middle pan

[2020-12-12 03:00] grlee77 commented on #5130
The simplest solution is probably to just change from `'reflect'` to `'mirror'` at this line:
https://github.com/scikit-image/scikit-image/blob/448ae9720645a4fd2ec78c9ceffa64d0905096a2/skimage/segmentation/boundaries.py#L223-L224

I verified that this will pass with the existing test data. There is actually a separate issue from the one above in that zoom never requested coordinate locations outsi

[2020-12-12 08:01] jni commented on #5130
I've approved #5131 which implements `'mirror'`, but writing it here for reference. Thank you @grlee77!

[2020-12-12 08:01] jni commented on #5130
Specifically, I agree that it makes pretty much no difference to the end result here. =)

[2020-12-12 13:02] #5130 closed

[2020-12-12 13:05] hmaarrfk commented on #4544
How do we feel about towncrier? they havne't released a pypi release in a long time, so i'm not super excited about using it unless the maintainers release a new version :/

[2020-12-12 13:53] jni commented on #4544
I think everyone is on board with using it after 0.18. The NumPy team has been using it productively for a while now from what I hear.

[2020-12-12 14:00] hmaarrfk commented on #4544
OK. i'm on board, for reference, here is the issue I raised upstream to ask for a new release:
https://github.com/twisted/towncrier/issues/269

[2020-12-12 17:23] #5061 closed

[2020-12-12 17:32] alexdesiqueira commented on #5124
Hey @JuanIgnacioCG, thank you very much for the detailed issue! I'm also very fond of the video, thank you for your effort on that.
Could we have access to the data you are using on your tests? If that's not possible, could you provide more details on that?
File size, data type, and so on.
Again, thank you for your help!

[2020-12-12 17:43] hmaarrfk commented on #5127
Sorry for my short response that didn't explain context.

There were a few PRs that we had to be involved in to get things working for Python 3.9. It wasn't as smooth of a migration (especially on OSX).

We are trying to get it 0.18 through which should get wheel builds for python 3.9.

Do note that github makes it really easy to suggest 1 line changes on their web interface without the usual fork

[2020-12-13 00:27] #5127 closed

[2020-12-13 21:14] Harmon758 commented on #5065
Possibly related to https://github.com/numpy/numpy/issues/11451

[2020-12-14 01:15] jni commented on #5124
I think the problem here is that `prob_l` is a grayscale image, which `scipy.ndimage.label` implicitly converts to bool, while `skimage.measure.label` finds all the same-valued connected components. Coincidentally, this very closely related issue was raised only a few days ago: #5100. See the link therein for a more thorough explanation.

@JuanIgnacioCG in order to match the `ndimage` output, you

[2020-12-14 05:37] Dan609 commented on #5051
I had the same issue and managed to solve it with

`python3 -m pip install -U scikit-image[optional]`

To include a selection of other scientific Python packages that expand scikit-image's capabilities to include, e.g., parallel processing, you can install the package scikit-image[optional].

[2020-12-14 17:07] uglyculture opened #5138 "phase_cross_correlation returns only 1 argument in the masked case"
## Description

In the masked case the function returns only 1 argument instead of the 3 arguments.

## Way to reproduce
[code]

## Version information
[code]

[code]

[2020-12-15 08:26] JuanIgnacioCG commented on #5124
Hello again,
my first choice was to not share the data but I think it is fine. The following is a link to download prob_l, a binary 2.9 GB multiframe tiff:
https://upm365-my.sharepoint.com/:i:/g/personal/juanignacio_caballero_upm_es/EUYB6NPsa6VEj7z4iHYuFLMBG5QArkK3Lo-n6p4t5RpxXQ?e=styg6a

the full code to load it and perform labels is:
## LIBRARIES
import Pred_tomo as ptom
import importlib
importl

[2020-12-15 08:34] JuanIgnacioCG commented on #5124
I double check and the histograms of the volume in the image is totally binary.

[2020-12-15 10:11] jni opened #5139 "Potential optimisation need in new 3D warps code"
## Description

While building the sdist for 0.18.0 I noticed the following warning during the Cython->c compilation:

[code]

Writing it down here to follow it up later. ;)

[2020-12-15 13:40] DenisPolygalov opened #5140 "upgrade from 0.16.2 to 0.17.2 destroys skimage.external"
## Description

I'm using conda environment on Windows 10 with only default channel enabled.
No mix of pip-derived and conda-derived packages or manually compiled packages present in the environment.
Before upgrading from 0.16.2 to 0.17.2 everything was working correctly.
After upgrade by using "conda update --all" skimage.external dissappear.
The folder "external" is absent on the disk (in site-p

[2020-12-15 16:13] hrieke commented on #5095
Here is a photo (jpg attached, others (DNG, PNG, TIFF) can be sent to you or uploaded) that I took and am releasing under CC0.
Exiftool report is also attached.

![JMGP9620](https://user-images.githubusercontent.com/17413019/102240428-d5b7bd00-3ec5-11eb-8335-66d0aa4ade7b.jpg)

[ImageReport.txt](https://github.com/scikit-image/scikit-image/files/5697090/ImageReport.txt)

Perhaps not as interesting

[2020-12-15 16:45] alexdesiqueira commented on #5095
@hrieke that Totoro :star_struck:
Thanks for that Henry! I see one or two applications for a pic like this — the textures, different focus in objects, the pink tie...
Could you please open an issue suggesting the addition of that image to our `data`? Then we could discuss it.
Thank you again!

[2020-12-15 16:57] alexdesiqueira commented on #4486
# 2020/12/07 - 2020/12/15

Lots of movement this week as we (as in @jni :slightly_smiling_face:) prepare our 0.18 release! Thank you all for your hard work!

## new pull requests open last week
#5137 Update release notes with latest backports
#5136 Backport PR #5126 on branch v0.18.x (Proofread gallery example for rank filters.)
#5135 Backport PR #5062 on branch v0.18.x (Optimize ensure_spacing)
#

[2020-12-15 17:05] hrieke opened #5141 "Submission of a replacement Image"
Per #5095 and @alexdesiqueira, I am submitting a replacement image of SpaceX's rocket launch used in the `data` directory.
The image is still life of a stuffed animal, a rubber duck, and a decoy duck, with a black velvet backdrop, that I photographed and released under CC0.
Issue #5095 contains a JPG copy of the image and the Exiftool report.  I can submit the original DNG file, PNG, and TIFF (fai

[2020-12-15 17:08] alexdesiqueira commented on #5141
Hey @hrieke,
sorry if I wasn't clear on #5095; the idea was to _add_ that image, not to replace the SpaceX with that one. We would need a rocket to replace a rocket :slightly_smiling_face:

[2020-12-15 17:10] hrieke commented on #5141
Give me a moment, I think I have somewhere a photo of the 2nd to last Space Shuttle launch.

[2020-12-15 17:15] hrieke commented on #5141
Hmmm- taken from about 4 miles away, in the day time, so perhaps not what you'd be looking for.  Bummer.

[2020-12-15 21:53] maxfrei750 commented on #4817
@VolkerH

Is your code for the minimum Feret diameter already available in scikit-image or somewhere else?

[2020-12-16 02:59] jni commented on #5095
`skimage.data.totoro_plush`, I love it.

[2020-12-16 04:15] hmaarrfk commented on #5095
only because it is a licensing discussion: is the blackduck ducky trademarked.... seems annoying to have the name.

[2020-12-16 07:22] neili02 commented on #3538
It appears this implementation will only work on 8-bit images whereas the one from imagej works also for 16-bit images. What is the limitation to 8-bit? Would simply altering the value `255` in places such as lines 32 and 43 to `65535` by checking for image dtype allow for processing of 16-bit images?
 ` 32  working_img = 255 - working_img`
`43  background = (np.arange(255)[np.newaxis,....`

[2020-12-16 09:03] jni commented on #5124
Ok, finally figured this out. The problem is that the volume is bigger than 2GB, and we [use raveled coordinates](https://github.com/scikit-image/scikit-image/blob/576885f67753fdd9c8245740244ee0338a93b5c5/skimage/measure/_ccomp.pyx#L189), and those coordinates are defined as being of type `long`, and that [resolves to int32](https://docs.microsoft.com/en-us/cpp/cpp/data-type-ranges?view=msvc-160)

[2020-12-16 09:20] rfezzani commented on #5124
Can't using `size_t` instead of `long` solve the problem?

[2020-12-16 10:07] FirefoxMetzger commented on #3538
@neili02 If you are using the latest version of skimage, you can check out [`restoration.rolling_ball`](https://scikit-image.org/docs/stable/api/skimage.restoration.html#skimage.restoration.rolling_ball) ([gallery example](https://scikit-image.org/docs/stable/auto_examples/segmentation/plot_rolling_ball.html#sphx-glr-auto-examples-segmentation-plot-rolling-ball-py)) which works on 8-bit, 16-bit, a

[2020-12-16 10:40] #3538 closed

[2020-12-16 10:42] jni commented on #3538
Whoops! Thanks for the reminder @FirefoxMetzger!

[2020-12-16 12:28] jni commented on #5140
Thanks for reporting @DenisPolygalov. It was certainly an oversight on our part that we never considered `skimage.external` part of the public API, so we simply removed it. I presume you are after tifffile, though, and if so, the solution is to replace `from skimage.external import tifffile` with simply `import tifffile` — and depend on `tifffile` itself. Could you let us know whether that fixes t

[2020-12-16 13:57] DenisPolygalov commented on #5140
I see... I didn't know that `skimage.external` is not a part of public API...
Replacing `from skimage.external import tifffile` with just `import tifffile` will solve problems for the case of running my Python code in a 64-bit conda environment **but break the code for 32-bit conda environment** because in the 32-bit conda there is still 0.16.2 version of scikit-image and it is the most recent. Th

[2020-12-16 16:56] #5124 closed

[2020-12-16 16:58] alexdesiqueira commented on #5124
@JuanIgnacioCG could you check if this is solves your issue? You'd need to use the [development version](https://scikit-image.org/docs/dev/install.html#installing-scikit-image-for-contributors) to test that.

[2020-12-16 17:27] hmaarrfk commented on #5140
Are you using anaconda repos or conda-forge?

The requests to update the package should go to those respective places.

Windows 32bit is by and large getting phased out of community support.

[2020-12-16 18:53] JuanIgnacioCG commented on #5124
Yeah I will, probably tomorrow. I'm glad to be of help! @jni

[2020-12-17 00:44] DenisPolygalov commented on #5140
I'm using only anaconda repos in principle. Allowing conda-forge breaks more things than fixes IMHO.

I see. So I guess this should be closed.

First of all let me emphasize that "32-bit version of Windows" and "running 32-bit version of Python packages on 64-bit Windows" are two slightly different things and explain my situation. My code heavily depend on two things: tiff-file support from scikit

[2020-12-17 00:44] #5140 closed

[2020-12-17 01:52] jni commented on #5140
@DenisPolygalov Sorry, I'm confused... If there is no 32-bit skimage 0.17 and you *need* 32-bit support, then why was the upgrade attempted by conda? At any rate, have you tried PyQt5 (pyqt) or PySide2 (pyside) on conda-forge instead of Anaconda (defaults)? I think if you can somehow get your application working on 64-bit you will have a much smoother experience going forward. We don't control the

[2020-12-17 01:58] jni commented on #5124
Note that you can get pre-compiled wheels from our GitHub Actions tab, in this case here:

https://github.com/scikit-image/scikit-image/actions/runs/426166668

Once unzipped you can `pip install path/to/<wheel-for-your-platform>.whl`

[2020-12-17 02:01] alexdesiqueira commented on #5124
+1; it's easier to follow @jni's suggestion here @JuanIgnacioCG.

[2020-12-18 12:13] ozen opened #5146 "Pooch Dependency Issue"
The following merged PR added dependency to pooch 1.3.0 in data module:
https://github.com/scikit-image/scikit-image/pull/5105/files

The current implementation checks if pooch is installed by trying to import it:

https://github.com/scikit-image/scikit-image/blob/0862e5630a00c151566260f02d118f4ee46bb351/skimage/data/__init__.py#L114-L120

Then uses it as if it's v1.3.0:

https://github.com/scikit

[2020-12-18 14:14] hmaarrfk commented on #5146
Yes. I think this is a bug.

If we want to make pooch a soft dependency, then we should check for the version and not use pooch if it is lower than our minimum required specification.

Otherwise, we should make a hard dependency (which I don't think will happen since it was never the intent)

[2020-12-18 14:15] hmaarrfk commented on #5146
If you have an interest in making the pull request, please tag me and I will take part in the review process.

[2020-12-18 15:10] ozen commented on #5146
I would like to send a PR. We can use `pooch.__version__`, but comparing it with what we need is tricky. Do you have a suggestion for this? Another option is putting pooch.create inside a try-catch.

[2020-12-18 17:05] hmaarrfk commented on #5146
Yes version management is tricky.

However, I think a good comment in the requirements file to ensure it is kept in sync is likely ok.

We can have a birectional comment in both files. Keeping two hardcoded locations is doable.

[2020-12-18 18:28] tvw opened #5147 "skimage 0.0 has no project description on pypi.org"
I found skimage 0.0 in a requirements.txt of a project I cloned. Since it broke my pip install, I went to pypi to find out, what purpose the package has. After downloading and unpacking it, I found out, its sole purpose is to break installation.

So I first thought, it exists because skimage had been renamed to scikit_image and to give those people a hint, who still use the wrong name in their req

[2020-12-18 20:33] harish-vnkt commented on #5087
Hi, @jni. First timer in open source and would like to work on this issue. :)
Would it be enough to have a function that takes centroid coordinates and the image as arguments and uses [ndi.label](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.label.html#scipy.ndimage.label) to assign labels to the centroids? Also, any idea on which module this function belongs to?

[2020-12-19 01:43] jni commented on #5147
Thanks for raising this @tvw. Actually we've been meaning to change that package to redirect to scikit-image through requirements for some time, but never got around to it. Will try to prioritise this in the coming days.

[2020-12-20 03:24] JorgenWan commented on #3906
python -m pip install --upgrade scikit-image
worked for me

worked in my case as well

[2020-12-21 05:30] DenisPolygalov commented on #5140
My approach is to use only single package manager (conda) only default package distribution channel and periodically test my code on both 32/64 bit environments. This time it just happen to be a changes in scikit-image API that was a big surprise to me and it turns out that versions are different.

I will try that only if I have no other choice. To my experience using non-default channels while ma

[2020-12-21 06:58] jni commented on #5140
*Mixing* channels will often cause issues, but using conda-forge exclusively is ok in general — I have not had issues with that so far...

There is no contradiction, apologies for my unclear phrasing: you are absolutely right that it *was* part of our public API. What I meant to say is that people in the core team, myself included, did not *think about it* in that way. So when we removed it we did

[2020-12-21 12:30] DenisPolygalov commented on #5140
I just tested the external tifffile package from default channel. It works for me, thanks.

[2020-12-21 15:23] kolibril13 opened #5149 "Idea: Apply shear+zeropadding to an image"
## Description
It is already possible to shear images in skimage [(example)](https://scikit-image.org/docs/dev/auto_examples/transform/plot_transform_types.html).
However, some information of the image will get lost during the shear, when the shape of the plot is preserved.
In some cases it might be useful to preserve all image information and therefore change the shape of the plot with some zero-

[2020-12-22 14:44] JuanIgnacioCG commented on #5124
Hello to all,
I installed the wheels and perform the test and everything is fine. The number of regions matches the one of ndi. Thanks for the support!

[2020-12-22 14:54] rfezzani commented on #5124
:tada: That's an excellent news! Thank you for your help @JuanIgnacioCG!

[2020-12-22 15:45] aabramovrepo opened #5150 "Proposal // new image operations // feature distribution and histogram matchings"
Dear All,

   together with my colleagues I have been working over this year on two image processing operations `Feature Distribution Matching` and `Histogram Matching` in multiple color spaces for `unsupervised Domain Adaptation (DA)` for object detection. Both methods solely match image statistics between source and target domains. You can find more details about the methods and motivation in ou

[2020-12-23 01:16] jni commented on #5124
Awesome! @JuanIgnacioCG out of curiosity, did this improve RAM usage by skimage?

[2020-12-23 01:27] #5038 closed

[2020-12-23 01:32] jni opened #5152 "codecov config should be updated"
## Description

I noticed in another repo that codecov just became a lot more useful with code annotations for uncovered lines in PRs, see:

https://docs.codecov.io/docs/github-checks-beta

and

https://github.com/napari/magicgui/pull/59/files

We should update our config (which silenced codecov a while back) so we can benefit from these changes.

[2020-12-23 02:15] jni commented on #5150
Hi Alexey!

Cool work and congrats on the paper!

Unfortunately at scikit-image, just like scikit-learn, we focus on reference implementations of longstanding, widely used algorithms, so new methods are generally not in-scope for addition. We do make exceptions when implementations would be simple and not significantly expand the API footprint of the library. Our histogram matching API does suppor

[2020-12-23 03:42] jni commented on #5149
Thanks for raising this @kolibril13!

The real issue is that we don't have any support at all for negative coordinates, so any shear that extends into negative territory will be lost. So the way scikit-image would see your output is as a shear + translate down by ~350 pixels. This is readily expressed by an [affine transform in scipy.ndimage](https://docs.scipy.org/doc/scipy/reference/generated/sc

[2020-12-23 03:45] jni commented on #5138
Thanks for raising this @uglyculture! Indeed we should be consistent here, and this is one of those "API quirks" that come from our organic (vs planned) growth.

[2020-12-23 08:00] jni commented on #5146
@ozen this should be fixed in the just-released 0.18.1! 🎉 I'm going to close this, but please reopen if the issue is not fixed for you! 😊

[2020-12-23 08:17] JuanIgnacioCG commented on #5124
I did not check carefully, but well of course it is now better than when it was failing.  If I compare it to  ndi label I think they are approximately using the same RAM also.

[2020-12-23 08:34] jni commented on #5087
@harish-vnkt Hello! I think that approach will be slower than using the direct assignment in the above code snippet.

Regarding module, I'm not sure, nor do I know what the best name is. `skimage.util.points_to_labels`? `skimage.segmentation.points_to_label_image`? Some combination of the above? But, might as well open the PR and get the ball rolling! 😊

[2020-12-23 09:08] aabramovrepo commented on #5150
@jni thanks for the quick response and your assessment! Matching strength would require an additional piece of code on the user side.

[2020-12-23 13:43] hmaarrfk commented on #5146
Thanks for getting this out so quickly @jni

[2020-12-24 05:47] fakerbrother commented on #4780
This really help me, THX , :)

[2020-12-25 22:36] jni commented on #4780
@fakerbrother

Always great to hear! 😊

@scikit-image/core I'm kinda thinking of reopening this. It's unclear what the best long-term fix is but I don't think we suitably addressed the issue, which is that scikit-image will be broken on some installations of Python. Any objections to keeping this open?

[2020-12-26 12:01] VolkerH commented on #4817
Hi @maxfrei750 ,
sorry for not replying earlier was not on Github much for the last couple of weeks.
No, it isn't in scikit-image yet.
I only have code for 2D min feret diameter, will look for it in the coming days.

[2020-12-27 02:04] harish-vnkt opened #5159 "Clarification: coordinate conventions in watershed example"
I have been frequently referring to [this watershed segmentation example](https://scikit-image.org/docs/stable/auto_examples/segmentation/plot_watershed.html#sphx-glr-auto-examples-segmentation-plot-watershed-py). The second centroid in the docs uses the naming convention `(x2, y2)` to represent the point `(44, 52)`. If you then use `mask[tuple(coords.T)]` to set labels to the centroids on the ima

[2020-12-27 18:51] patquem opened #5160 "Enable binary_blobs working on anisotropic meshes"
Hi,

Presently skimage.data.binary_blobs is limited to isotropic meshes (through the argument : length)
This limitation can be in some cases very constraining.

Indeed, suppose you wish to generate blobs on a array of size (1000, 1000, 10) , it's not really convenient to have to generate blobs on an array of size (1000, 1000, 1000) then to truncate it - the generation is too long   !!!

Fortunatel

[2020-12-28 10:24] serser commented on #1329
`pip install scikit-image==0.18.1` fails, down to `0.17.1` okay.

[2020-12-28 13:04] hmaarrfk commented on #1329
@serser happy to hear you are using scikit-image and trying the new version.

We would be interested in understanding why your particular situation failed.

Unfortunately, this issue is quite old as it was first opened in 2014 and quite a bit has changed.

If you need extra assistance, I would suggest opening an other issue and including the resquested information!

[2020-12-28 17:48] patquem commented on #5160
Hi again,

Looking more closely, the previous proposal fails in preserving volume_fraction property when working with **strong** and large anistropic meshes.

Assuming a (100,100,1) mesh, 99% of points are removed (3rd and 4th lines) and the major contribution of the 'neighbor' points during the gaussian convolution is missing on the 'slice'.

This problem is clearly visibile when working with str

[2020-12-28 21:07] jdmcbr opened #5161 "Performance regression in peak_local_max in version 0.18.0"
## Description
The changes to `peak_local_max` introduced in 0.18.0 (I believe as part of https://github.com/scikit-image/scikit-image/pull/4760) are producing a significant performance regression in my use case, with roughly 100x slower for the case here, and in one case with a high number of local maxima, I saw closer to 1000x slower. It wasn't clear to me that there was any keyword argument cha

[2020-12-28 22:36] grlee77 commented on #5161
Thanks for reporting the and including an example image and script. I can confirm that this example takes several seconds to run on v0.18.0.

[2020-12-28 23:00] grlee77 commented on #5161
Running a line profiler indicates that `skimage._shared.coord.ensure_spacing` is acounting for >99% of the computation time. It looks like switching to this function has resolved some bugs, but at cost of a substantial performance regression. We will have to look into how to resolve that.

[2020-12-29 04:34] jdmcbr commented on #5161
@grlee77 Thanks for taking a look so quickly! Since it has been a couple of weeks since release and I'm the first person who has posted this, I'm guessing the impact isn't so widespread. I'll take a look myself to see if I can find a more performant approach for skimage to use, but wanted to post here for visibility in case a maintainer might immediately see the solution. :)

[2020-12-29 11:08] rfezzani commented on #5161
I made some explorations, and found that the performance regression comes after #5062:

[code]

and now:

[code]

@jdmcbr, your test image looks close to the "worst case" discussed in https://github.com/scikit-image/scikit-image/pull/5062#pullrequestreview-535202840. I can reach the original performances by deactivating the #5062 "optimization" by setting `min_split_size` to `None` in `skimage._sh

[2020-12-29 18:06] jdmcbr commented on #5161
@rfezzani Thanks, in my search of relevant PRs, I'd overlooked the impact of #5062. From my own local testing, I'm seeing that using `min_split_size=None` gives a ~10x speed increase, but there's still another ~10x discrepancy for this case when compared to 0.17.2.

0.17.2:
[code]

0.18.1, with `min_split_size=None`:
[code]

0.18.1:
[code]

I'm not surprised to hear that my case is close to the "w

[2020-12-30 11:23] nicolebussola opened #5164 "RGB to HED conversion after version 0.17"
## Description
After upgrading our [project](https://github.com/histolab/histolab) environment to version 0.18.x we have noticed that the RGB to HED conversion behaves unexpectedly according to the biological meaning of the HED color space. We have done some research and carefully read the [PR](https://github.com/scikit-image/scikit-image/pull/4725) changing the stain deconvolution method, however

[2020-12-30 14:09] emmanuelle opened #5165 "Improve docstring of Hough transform function"
The docstring of the hough transform functions does not mention that the Hough transform should be applied to a gradient / contour image, so that one often has to perform first a Canny filter or a gaussian gradient magnitude operation. The doc example https://scikit-image.org/docs/dev/auto_examples/edges/plot_circular_elliptical_hough_transform.html?highlight=hough%20transform could also comment o

[2020-12-30 14:18] emmanuelle commented on #5164
Hi @nicolebussola thanks for reporting this. It's true that the doc example https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_ihc_color_separation.html does not look great. @alexdesiqueira since you worked on this PR could you please comment?

[2020-12-30 14:26] alessiamarcolini opened #5166 "DOCS: Return dtype of _label2rgb_avg function"
## Description

With skimage release 0.18.0, and in particular after PR #4840, there is a mismatch between the return dtype of function `_label2rgb_avg` in the `color/colorlabel` module: it is stated to be the same dtype as the image, but using `np.zeros` instead of `np.zeros_like` makes the return type always to be float

[2020-12-31 13:27] thomasaarholt commented on #3239
I've written a notebook ([HTML](https://thomasaarholt.github.io/affine_transforms/affine.html#skimage.transform.warp) [IPYNB](https://thomasaarholt.github.io/affine_transforms/affine.ipynb) that demonstrates how the shear transform is incorrect (as well as a bunch of other peculiarities with how Affine Transforms are applied in python).

The relevant discussion is [here](https://thomasaarholt.gith

[2020-12-31 13:30] thomasaarholt commented on #3239
The `matplotlib.transforms.Affine2D()` function works very well as a substitute. Since skimage has matplotlib as a dependency, maybe one should just use that library instead? As documented in my notebook above, with the exception of the erroneous `shear` function, the implementation is identical (and supports chaining operators, which is nice).

[2021-01-01 02:14] jni opened #5168 "auto-open issues when --pre tests fail"
## Description

Over on https://github.com/napari/napari/pull/2051, @tlambert03 implemented PR vs periodic and pre-release comprehensive tests, with [issue auto-creation](https://github.com/napari/napari/pull/2051#issuecomment-752277333) when the periodic tests fail. I think this is a pretty awesome solution (PRs should not fail checks when pre-releases break stuff), and we should consider adoptin

[2021-01-01 18:24] grlee77 commented on #5168
+1, seems worth trying

[2021-01-01 22:06] #5166 closed

[2021-01-02 18:44] alexdesiqueira opened #5169 "2021's calendar of community management"
This is our 2021's calendar of community management.

Here we set up a rotating duty to take a first look at all contributions (PRs and issues) from the community, label them and ping relevant reviewers.

Scripts for generating the reports are available [in this repository](https://github.com/scikit-image/boilerplate-utils).

Last year's calendar of community management is given at #4486.

**jan/2

[2021-01-02 18:47] alexdesiqueira commented on #4486
Thank you everyone for your hard work! We appreciate your help throughout the year.

[2021-01-02 18:47] #4486 closed

[2021-01-02 19:00] alexdesiqueira commented on #5165
Thank you for checking that issue, @emmanuelle.
I think this could go on a `Notes` section in each function. How does that sound?

[2021-01-02 19:19] alexdesiqueira commented on #5164
Hi @nicolebussola, thank you for opening this issue. Yeah @emmanuelle, the doc example doesn't "feel right" anymore.
I will need some time to check that, Nicole. As you saw, there was a lot of research — and people! — involved in #4725, and according to the papers, the solution we have now seem appropriate. However, as seen, something doesn't feel right...
My course of action here would be:

* Che

[2021-01-04 14:10] grlee77 commented on #5169
Thanks for organizing this new issue @alexdesiqueira. I am flexible on dates, so feel free to shuffle me around if others prefer those specific dates.

[2021-01-04 14:18] grlee77 commented on #5165
It sounds good, but I think the `Image` parameter itself, should be updated to make it clearer right up front for those who may not read all the way through to the Notes section. I.e. change the current

`Input image with nonzero values representing edges.`

to something like

`Binary input image with nonzero values representing edges (skimage.feature.canny can be used to produce this type of bina

[2021-01-04 16:31] crisluengo commented on #5164
In `skimage.color.separate_stains()` we're missing a clip operation. Adding `ihc_hed[ihc_hed<0] = 0` before display corrects things. I missed this in our rewrite of these functions, my apologies.

Current code:
[code]
In the last line, `np.log(rgb) / log_adjust` produces a correct image in the range [0,1]. But the rotation (`@ conv_matrix`) can lead to negative values. These negative values spoil

[2021-01-04 16:36] crisluengo commented on #5164
Also, the example at https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_ihc_color_separation.html has a bug:
[code]
The two colors are reversed, this should be:
[code]

[2021-01-04 17:40] crisluengo commented on #5164
OK, one last comment from me and then I'll shut up. :)

I'd change the demo as follows for proper display of the unmixed stains. What we're doing here is creating an image in "hed color space" that has only one stain, then using `hed2rgb` to produce a correct representation of that stain. There is now no worry about scaling of the images. The result of `hed2rgb` should be comparable in intensities

[2021-01-04 19:01] grlee77 commented on #5164
Thanks for sorting this out @crisluengo! This is looking much better and the fix is pretty straightforward. Let us know if you want to make a PR, otherwise we can take care of it.

[2021-01-05 18:53] alexdesiqueira commented on #5165
I'd think it's nicer to maybe having something like that on the `Notes` as well, Greg. I think it'd clutter the docs too much there. I agree this would be nice to have:

 But I won't oppose if y'all prefer it like Greg suggested :slightly_smiling_face:

[2021-01-06 06:17] rajeshm71 opened #5176 "Marching cubes algorithm on own x,y,z data"
Hello all,
I am using marching cubes lewinar algorithm for surfaces reconstruction in 3d . I have data in the format of x,y,z coordinates. How to convert it into 3d volumetric data.

suppose i have
x=np.array([1,2,3])
y=np.array([4,5,6])
z=np.array([7,8,9])

Note: I have taken 3 points just for exapmle purpose

marchine cubes algorithm requires data in 3d numpy array. plz help

[2021-01-06 06:18] #5164 closed

[2021-01-06 06:20] alexdesiqueira commented on #5164
Hi @nicolebussola, please let us know if the current code solves these issues. Thank you again @crisluengo!

[2021-01-07 07:34] jni commented on #5176
@rajeshm71 can you tell us more specifically what you are aiming to do? The point of `marching_cubes_lewiner` is to go from volumetric data to triangles. If you already have triangles, there is no point doing the round trip via volumetric data. If you only have points and are looking to get a surface via triangulation, then you probably want to use [`scipy.spatial.Delaunay`](https://docs.scipy.org

[2021-01-07 07:34] #5176 closed

[2021-01-07 07:48] jni commented on #5168
Here's an example of the bot in action:

https://github.com/napari/napari/issues/2071

I love it!

[2021-01-07 08:34] rajeshm71 commented on #5176
Hi @jni Thanks for your reply. I have point cloud data as x,y,z coordinates in .ply format file. I am looking to get a surface by triangulation .I have tried with scipy.spatial.Delaunay but not getting proper results. so i was looking to reconstruct surface using marching  cube algorithm. Is there any way by which i can convert pointcloud data to volumetric data and use marching cube algorithm for

[2021-01-07 11:58] TimZaragori opened #5177 "Question on the implementation of Non Local Means denoising"
With the aim of implementing an adapted version of NLM algorithm for dynamic images, I try to understand how the fast version is implemented in 3D in scikit-image ([skimage Cython code](https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_nl_means_denoising.pyx#L610)). From what I see the version implemented corresponds to the algorithm 3 of [Froment et al. 2015](https://p

[2021-01-07 12:17] mark-boer commented on #5042
This looks interesting, I have some experience with fitting geometric shapes (mostly 3D tho), I'll have a look, maybe I can figure it out.

[2021-01-07 17:21] mark-boer commented on #5042
Found it! It is an integer overflow in https://github.com/scikit-image/scikit-image/blob/9d502e25e257b1bba20ac260aeb989b53c973645/skimage/measure/fit.py#L426 Just convert your input to floats, `points = points.astype(float)`. That should fix your issue.

@maintainers we should probably convert the input of `CircleModelestimate.estimate` and `EllipseModel.estimate` to floats, because they are prett

[2021-01-07 18:15] grlee77 commented on #5042
Thanks for looking into this! Indeed, it seems like casting `data` to float should be done within these functions. Are you interested in making a PR for this? (no worries if you want us to handle it, just let us know)

[2021-01-07 18:20] grlee77 commented on #5042
p.s. I don't think **maintainers** pings anyone here? Most likely @scikit-image/core was what you wanted, but in general we try to monitor new issues, so usually it won't be necessary to specifically ping the full team unless you think something is falling through the cracks and needs special attention.

[2021-01-07 18:37] mark-boer commented on #5042
Sure, I'll create one this weekend.

[2021-01-07 22:53] rk-exxec commented on #5042
Thank you mark!

[2021-01-08 05:49] ManukumarNM commented on #3842
@baddemiya
If I load the dataset locally from my PC, How can I edit this function def fetch_data_details(dataset)? Can you please help out of this.
Thanks in advance

def fetch_dataset():
    dataset = os.listdir(r'C:/Users/dslab/Desktop/ICA/tcd-ai-group-project-master/Images')
    return dataset

**def fetch_data_details(dataset):**
    #print('found {} images'.format(len(dataset)))
    n_samples

[2021-01-08 12:47] ogencoglu opened #5178 "Hausdorff distance to return the pair of points that defines it"
## Description

Thanks for the new metric of `hausdorff_distance`: https://scikit-image.org/docs/dev/api/skimage.metrics.html#skimage.metrics.hausdorff_distance . In many cases it is quite relevant to also get the pair of pixel coordinates that defined the Hausdorff distance, i.e., one coordinate from `image0` and another from `image1` that gave the maximum distance.

[2021-01-08 13:42] rfezzani commented on #5178
Thank you @ogencoglu for this suggestion :wink:

[2021-01-08 13:55] ogencoglu commented on #5178
For example scipy hausdorff returns the indices respectively: https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.directed_hausdorff.html

[2021-01-08 15:55] patquem commented on #4780
Hello,
I meet this problem (and others) when trying to install scikit-image from pip install.
Please, have on look on this : https://github.com/dask/dask/issues/7045
Thanks,
Patrick

[2021-01-08 23:15] jni commented on #4780
@patquem re your installation issues with 0.18, please see [this comment](https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-644214783): you should be able to `pip install msvc-runtime` followed by `pip install scikit-image` and get the latest version.

However this will not fix the dask issue. I'll comment there.

[2021-01-08 23:47] jni commented on #5177
I wonder if @emmanuelle who implemented this can comment? For reference, here are what I think are the most relevant pull requests for that code — there might be some insights in the discussion there:

#874 (wow)
#2878
#2890

[2021-01-09 10:41] TimZaragori commented on #5177
Thx for the reading. Just for information find below the code I used to see the number of time each voxel is accessed for the weights (which is for the most part is a copy paste from [skimage Cython code](https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_nl_means_denoising.pyx#L610)) and where I find differences but I could misunderstand something and do it wrong.
[code

[2021-01-10 23:09] jni commented on #5176
Yeah, Delaunay is actually not exactly what you need here, but I thought it might be good enough.

I think that raster + marching cubes will probably also not give you good results. I found a [guide](https://towardsdatascience.com/5-step-guide-to-generate-3d-meshes-from-point-clouds-with-python-36bad397d8ba) that seems to do what you want, without scikit-image (which is not designed for point clou

[2021-01-11 08:48] grlee77 commented on #5169
One new feature (Normalized Mutual information) and a couple of bugfix PRs were merged. 10 new PRs were opened (2 of which were already merged, but many others have at least 1 review). A couple of these are maintenance PRs related to new `scikpy.ndimage` boundary handling in SciPy 1.6 (#5173 and #5174).

# 2021/1/4 - 2021/1/11
## New pull requests open last week

#5182 Correction to linspace call

[2021-01-11 21:48] tb582 commented on #4780
I ran `python -m pip install msvc-runtime` but still get the same error...
`ImportError: DLL load failed while importing _remap: The specified module could not be found.`

[2021-01-12 16:34] TimZaragori commented on #5177
@jni I read with attention the PR you sent me to understand the whole history.
It seems that the first implementation was similar to the function `_weights_froment` above.
The acceleration was introduced in #874 with [this commit](https://github.com/scikit-image/scikit-image/pull/874/commits/ecaa9591954f70c49f005f0ea7ad5505a8784ff9). In this form, I am better able to target what I am struggling to

[2021-01-12 19:59] VolkerH commented on #4817
@maxfrei750 and others who are interested.

Here is a gist https://gist.github.com/VolkerH/0d07d05d5cb189b56362e8ee41882abf that contains code for calculating minimum feret diameters in the 2D case.

This would still need a bit of tidying before it could go into scikit image and I currently don't have the time. What needs tidying?

- tests required
- this code snippet brings its own code to comput

[2021-01-13 00:13] jni commented on #5177
I'm hoping @emmanuelle or @grlee77 can comment here as I am a bit under the pump and not familiar with this code at all. But thanks for the reading and detailed questions, they make discussion much easier!

[2021-01-14 04:35] jni commented on #4780
Sorry to hear that @tb582! Very strange. Have you tried installing the Visual Studio C++ runtime as suggested in [this comment](https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-644214783)?

[2021-01-14 06:58] jni commented on #5028
Closed by #5081

[2021-01-14 06:58] #5028 closed

[2021-01-14 07:30] clementkng commented on #4537
@keisuke-ishihara Hi! Thank you for chiming in. I haven't been able to work on this since September 2020, but I want to try picking this up again. I'm still refamiliarizing myself with my in progress work, but it seems like the link you provided is a good unit test example. I was mainly looking for small and larger tests so I could verify that my implementation was working, so one way to help me i

[2021-01-15 07:48] sciunto opened #5185 "0.18.x missing on github"
## Description

See https://github.com/scikit-image/scikit-image/releases :)

[2021-01-15 22:07] mark-boer opened #5186 "CircleModel does not minimize squared distances"
## Description

While working on the PR  #5179 for a integer overflow in `CircleModel` I recognized that the `CircleModel` does not properly minimize the square of the residuals. There is an excellent explanation of this in the [scipy-cookbook](https://scipy-cookbook.readthedocs.io/items/Least_Squares_Circle.html). It currently is extra sensitive to outliers, because it minimizes: `sum( (Ri**2 - R

[2021-01-15 23:06] jni commented on #5185
How does one fix this? 😂

[2021-01-17 03:01] clementkng commented on #5178
As one of the original authors of the hausdorff distance metric, I can try implementing this.

[2021-01-18 08:12] sciunto commented on #5186
thanks for reporting. As a side note, it would be interesting to compare with scikit learn. See #2698

[2021-01-18 08:20] jni opened #5189 "Feature request: implement generalized histogram thresholding"
## Description

There was a badass paper last year that unified and generalized Otsu and other thresholding methods ([arXiv]).

As usual, since it's a new algorithm the argument can be made that we should wait to see it in practice, but my gut feeling is that (a) it's really good, and (b) it's a generalization of an existing algorithm that we have in the library, so it does not add much code, and

[2021-01-18 10:19] Monishver commented on #5189
Hello @jni , I'm new to open source and would like to make my first contribution to the community. Can you explain this issue in detail.

[2021-01-18 23:04] jni commented on #5169
Hi all,

Still a quiet week last week. Also we have no one rostered for this week but I'm feeling generous, I'll take it also. =P

The tally: +2 on PRs, +2 on issues. That's not so great — I'll try to make a concerted push to reduce the numbers this week.

# 2021/1/11 - 2020/1/18

## New pull requests open last week

#5188 Add nD support to several geometric transform classes
#5187 Add release ste

[2021-01-19 08:20] sciunto commented on #5185
I pushed two "releases" on github, v0.18.0 and v0.18.1. For v0.18.1, the content is somehow duplicated, but I guess it is ok.

[2021-01-19 08:26] sciunto commented on #5189
@Monishver The main idea is:
* implement the function (based on the notebook) with a full docstring.
* add unittests
* add an example in the gallery

[2021-01-19 10:05] jni commented on #5185
Closed by #5187 + manual updates by @sciunto. Thanks @sciunto for the PR and pushing those releases!

[2021-01-19 10:05] #5185 closed

[2021-01-19 11:06] sciunto commented on #5186
I'm on it.

[2021-01-19 11:37] jni commented on #5186
That's a great reference page @mark-boer, thanks! And thanks @sciunto for tackling this! 💪

[2021-01-19 11:54] jni commented on #5178
Hi @clementkng and @ogencoglu!

I think this would be a useful addition. The biggest issue with implementing it is that it becomes an API change. In general, we are also trying to move away from APIs like `return_points=True` that change the number of return values, because they make typing/predicting the behaviour of a program more difficult.

@scikit-image/core any ideas about the best way forwa

[2021-01-19 11:58] jni commented on #5189
@Monishver have you seen our contributing guide?

https://scikit-image.org/docs/dev/contribute.html

Please let us know if you have more questions after reading this!

[2021-01-19 12:24] mark-boer commented on #5186
If you want you can also have look here, it is a sphere fit, which is almost equivalent to the circle fit and the code is a little bit cleaner than the scipy-cookbook code:

https://github.com/mark-boer/geomfitty/blob/4f24071f524302a95144dbd91bc84fa33c5dc26b/geomfitty/fit3d.py#L42

It contains a fast_fit, which is algebraic and a iterative fit which calculates the Least squared distances. (tho is

[2021-01-19 12:51] ogencoglu commented on #5178
Here are the 2 options:

1. No extra `return_points` argument. It just returns distance and the points, just like _scipy_. I understand that this might effect other processes that uses this function and those need to be adjusted as well.
2. Whether `return_points` is `True` or `False` it will always return the same number of return values. Maybe a tuple, e.g. `(dist, points)`. If `return_points` i

[2021-01-19 12:58] rfezzani commented on #5178
What about creating an extra function that returns the coordinates of the points? This way no need to modify `hausdorff_distance`...

[2021-01-19 13:13] jni commented on #5178
@ogencoglu the above two options will cause user code to break for users that use 0.18.x. We don't do that in a single release except in case of bug fixes.

@rfezzani yes that's the other alternative, but it seems ugly/clunky. I think we did settle for this as the approach for 1.0, with the new function called `hausdorff_distance_extras()`. Possibly that's my preferred option.

[2021-01-19 14:39] mkcor commented on #5178
Having an additional function `hausdorff_distance_extras()` which would wrap `hausdorff_distance()` seems ugly, indeed. I would lean in favour of making an exception... naming the extra kwarg `return_coords`.

[2021-01-19 15:22] Monishver commented on #5189
Thanks, @sciunto and @jni for helping me get started, I will look into it and get back to you if I have any doubts.

[2021-01-19 15:22] rfezzani commented on #5178
My suggestion was to add `hausdorff_peaks` (may be not the best function name :/) function that returns **only** the points coordinates.

[2021-01-19 19:50] stefanv commented on #5178
We already know that returning varying number / types of arguments is a problem for future typing, so I'd avoid creating additional headaches for ourselves knowingly.  We need a SKIP for this, but for this PR that will come to late; as such, we have a few (non-headache inducing) options:

1) Always return `coordinates`, setting it to None if not calculated.
2) Always return `first, second, extras`

[2021-01-20 08:33] Hyaloid commented on #5051
Thx a lot, I successfully compiled the package via
`export CFLAGS='-Wno-implicit-function-declaration'`

[2021-01-20 10:21] sciunto commented on #5186
I implemented a ransac circlemodel v2 that I'm currently benchmarking. My implementation is based on optimize.leastsq (mentioned to me the most efficient) in the scipy cookbook.

So far, my version is 3 times slower than the current scikit-image version, but I notice a significant improvement regarding both the radius and the center coordinates; it is way more reproducible and closer to the expect

[2021-01-20 18:00] mkcor commented on #5178
@rfezzani my bad, I misunderstood your suggestion indeed. A separate, 'non_overlapping' function would certainly be more acceptable, even if not ideal.

@stefanv ok, so we would modify the existing `hausdorff_distance()` function (breaking existing code?) to always return `distance, extras` and then access the coordinates with dictionary keys, e.g., `extras['image0_coords']`? Or even with object a

[2021-01-20 18:03] stefanv commented on #5178
@mkcor Right, so it would take a deprecation cycle with an `extras` (or similar) keyword, I imagine.

[2021-01-21 11:33] alessandro-giusti commented on #5165
Also note that the `Notes` section of the `hough_line` function, two sentences are quite unclear.  In paricular:
- X and Y axis are horizontal and vertical edges respectively.
- The distance is the minimal algebraic distance from the origin to the detected line.

In particular, the latter should make it clear that the distance might be negative.

https://github.com/scikit-image/scikit-image/blob/8

[2021-01-21 17:43] zakajd opened #5192 "skimage.metrics.structural_similarity() vs MATLAB"
## Description
They're 2 MATLAB implementations of SSIM from original authors, which can be found [here](http://www.cns.nyu.edu/~lcv/ssim/).
First one [`ssim_index.m`](http://www.cns.nyu.edu/~lcv/ssim/ssim_index.m) matches current implementation in `skimage.metrics`  .
Second one [`ssim.m`](http://www.cns.nyu.edu/~lcv/ssim/ssim.m) differs by image preprocessing. Before computation of SSIM authors

[2021-01-21 20:06] grlee77 commented on #5192
Thanks for raising the issue @zakajd. This is interesting and seems worth having.

To maintain backwards compatibility, I would suggest implementing it the feature via a new keyword-only argument, `automatic_downsampling` (or `auto_downsample`), that defaults to False.

[2021-01-21 22:53] stefanv commented on #3244
From [PEP 565](https://www.python.org/dev/peps/pep-0565/):

[2021-01-22 08:22] #5064 closed

[2021-01-22 17:53] mkcor commented on #5165
I don't have a clear preference between @alexdesiqueira's and @grlee77's suggestions. I think it's even clearer to describe the `image` parameter as:

[2021-01-22 19:20] alexdesiqueira commented on #5165
Thanks for that @alessandro-giusti, we'll check it out as well!
Works for me as well, @mkcor. Thank you!

[2021-01-22 21:39] ajoshi80 opened #5193 "restoration.rolling_ball taking 2+mins"
The restoration.rolling_ball function takes over 2 minutes for a single 1800*1800 image using radius 15 rolling ball.
## Way to reproduce
        image = cv.imread(path)
        image_inverted = util.invert(image)
        background_inverted = restoration.rolling_ball(image_inverted, radius=15)
        filtered_image_inverted = image_inverted - background_inverted
        filtered_image = util.inv

[2021-01-23 02:35] clementkng commented on #5178
So if I'm reading the above conversation correctly, it seems that @mkcor and @stefanv are partially leaning in favor of

while @rfezzani and @jni are partially leaning in favor of

I have a slight preference for the `hausdorff_peaks`, but only because the implementation is more clear to me. Anyone else available to tiebreak?

[2021-01-23 04:15] stefanv commented on #5178
I am in favor of any option that doesn't paint us into a corner, so housedorff peaks works too.

[2021-01-23 07:12] ZhangYuef opened #5194 "Feature request: MS-SSIM calculation support in skimage.metrics"
## Description

Hi all, I am wondering if I can use skimage to produce MS-SSIM between two images.

Sadly, I find skimage still cannot support that. (Please correct me if I am wrong, or if we can calculate MS-SSIM easily by ourselves without the help of APIs. )

My feature request here is that to add MS-SSIM calculation API in `skimage.metrics`.

[2021-01-23 13:03] jni commented on #5193
It might just be that rolling ball is a slow algorithm. @FirefoxMetzger did a pretty heroic job optimizing the implementation. Could you check how long Fiji takes to do the same thing?

https://imagej.net/Rolling_Ball_Background_Subtraction

Having said that, a lot of the optimization required might have had to do with us trying to cater to nD + floating point and we just made things harder on our

[2021-01-23 13:11] jni commented on #5194
@ZhangYuef thanks for raising this issue! Could you provide a reference for MS-SSIM?

[2021-01-24 00:01] FirefoxMetzger commented on #5193
Yes, the rolling ball does some heavy computation in the main loop. Does your image have a color channel? In that case, you likely want to convert it to grayscale beforehand or specify the kernel manually to avoid unnecessary computation along the channel dimension.

Is it possible for you to share the image with us, so we can benchmark it on our machines? This usually makes it easier to figure ou

[2021-01-24 02:55] jni commented on #5178
`hausdorff_points`?

[2021-01-24 16:25] ZhangYuef commented on #5194
Hi @jni , thanks for reply! MS-SSIM is also an image quality assessment method which was proposed in [1]. It's a popular method as SSIM. We can find machine learning architectures like tensorflow, PyTorch have already supported it.

[1] Z. Wang, E. P. Simoncelli and A. C. Bovik, "Multiscale structural similarity for image quality assessment," The Thrity-Seventh Asilomar Conference on Signals, Syst

[2021-01-24 21:44] grlee77 commented on #5194
We don't currently have this, but from the reference it looks like this would not be too difficult to implement with some refactoring of the existing single scale function.

The following two packages have PyTorch-based implementations (was one of these the one you were referring to @ZhangYuef?):
https://github.com/photosynthesis-team/piq
https://github.com/jorge-pessoa/pytorch-msssim

[2021-01-25 02:32] stefanv opened #5195 "`filters.gaussian` does not work on 1D input"
[code]

[2021-01-25 05:48] ZhangYuef commented on #5194
Hi @grlee77 , thanks for reaching out. Yes, I think both repos you find contain MS-SSIM algorithm and also this one https://github.com/Po-Hsun-Su/pytorch-ssim.

[2021-01-25 07:42] ajoshi80 commented on #5193
![0000](https://user-images.githubusercontent.com/47344101/105675224-a2d9ef00-5e9d-11eb-9459-62eaf8041707.png)
The image has color channels. I have tried Fiji/ImageJ's version and it can do it in less than 20s with rolling ball 30. If we convert to grayscale and compute background, do we then subtract from each channel?

[2021-01-25 09:40] FirefoxMetzger commented on #5193
That explains it; where possible we try to be unopinionated. The original rolling ball algorithm - by that I mean the paper from the 90's - only specified the algorithm on grayscale images; how to extend that to color images, volumes, time series, etc. depends on your use-case.

For you, it likely doesn't make sense to have the ball extend along the color dimension. You have two options:

1. do wh

[2021-01-25 15:34] grlee77 commented on #5193
Thanks for the detailed feedback here @FirefoxMetzger.

A couple of additional possibilities would be:
   - convert to HSV and filter the V (value) channel then convert back to RGB
   - convert to YUV and filter the Y (luminance) channel then convert back to RGB

I guess in practice one would have to compare the quality of these various approaches in an application to determine which is most appro

[2021-01-25 15:39] grlee77 commented on #5193
Actually, there is a [link to the java code](https://imagej.net/plugins/download/Rolling_Ball_Background.java) in one of the links above. It looks like it uses a color conversion approach as in my prior comment (HSB with filtering on the "brightness" channel).

I think HSB is just a synonym for what scikit-image calls HSV, so the scikit-image conversion functions are `skimage.color.rgb2hsv` and `s

[2021-01-25 16:11] FirefoxMetzger commented on #5193
Nice find, @grlee77 ! This is indeed a very similar idea to the one that converts to grayscale. It only filters a single channel, so one would expect the timings to be near the grayscale approach, i.e., around 1 second runtime.

[2021-01-25 21:57] grlee77 commented on #5193
Feel free to continue discussion here, but it looks like this issue can be closed as performance seems satisfactory as long as a 2D rolling ball is applied to the color image.

If desired, please open a separate issue regarding a potential enhancement for color image processing. Specifically, we could add an `rgb` kwarg to the method and have it implement the HSV approach mentioned above if set to

[2021-01-25 21:57] #5193 closed

[2021-01-26 08:36] Genius-farmer commented on #4533
Hello, I have an issue after following this.

conda create --name test python=3.7 -y
conda install scikit-image ipython -y
mkdir exp
cd exp
conda activate test
jupyter notebook

Instead of test, i actually use "tensorflow" because i initially have installed tensorflow for my virtual environment.
However, i think the system replaced my initial set-up that i followed from another video to download t

[2021-01-26 08:41] Genius-farmer commented on #4533
(base) ➜  ~ python --version
Python 3.8.5
(base) ➜  ~ pip list
Package                Version
---------------------- -------------------
appnope                0.1.2
backcall               0.2.0
brotlipy               0.7.0
certifi                2020.12.5
cffi                   1.14.3
chardet                3.0.4
cloudpickle            1.6.0
conda                  4.9.2
conda-package-handling 1.7

[2021-01-26 08:46] VolkerH commented on #4533
@Genius-farmer : If I interpret your posts correctly you created an environment named `tensorflow` when you already had an environment named `tensorflow` ?

Your `pip list` is from the base environment. You need to activate the environment that you need with `conda activate` followed by the environment name.

It sounds like you did not install `jupyter` in the environment.

These are not really `s

[2021-01-26 09:02] Genius-farmer commented on #4533
@VolkerH Yes. I created an environment named "tensorflow" when i already had an environment named "tensorflow" It seems to cause more problem more...

I think i understood better this whole environment thing. It's like a "place" all of these program needs to be in, in order for softwares to work.

Hence, do I have to install jupyter in that environment "tensorflow" now?

but, now when i tried to
c

[2021-01-26 11:31] marimeireles commented on #4533
Sorry for missing this, I'm not with my mac for the next 2 months, I can try it when we're reunited, but I remember trying for a while and the only way I got it working was on an linux.

[2021-01-26 16:56] SaraJ52 commented on #2793
how did you resolve the issue? I am having same

[2021-01-26 20:38] Zardoua-Yassir commented on #4780
I solved this exact issue on my computer. As pointed out by @emmanuelle , it's a missing library. I just installed the last version of Cython (currently Cython 0.29.21) and the error disappeared.

If this solution doesn't help, make sure to satisfy the following build requirements of **scikit-image 0.18.0**:
1) Cython version should be higher or equal to 0.29.21 but different from 0.29.18
2) Make

[2021-01-26 23:37] #3049 closed

[2021-01-27 00:12] stefanv commented on #4780
Thank you @Zardoua-Yassir; we appreciate the write-up of your solution.

[2021-01-27 10:56] patquem commented on #4780
Hello,

Thank you @Zardoua-Yassir for your proposal, but it doesn't work in my case.

I have created a virtual_env from python 3.7.7 following your recommendations (with numpy==1.19.0, Cython==0.29.21 and scikit-image==0.18.0)  and I get the same DLL error message as before.

Here are my 'pip list' resulting from my new virtual_env and the DLL error message that I obtain when importing scikit-imag

[2021-01-27 13:00] grlee77 commented on #725
I am going to close this and suggest future discussion go into #4563

[2021-01-27 13:00] #725 closed

[2021-01-28 08:41] rfezzani opened #5199 "Most skimage.measure._moments module functions don't support float32 operations"
## Description

Most of `skimage.measure._moments` module functions only supports double precision float operations. It is even explicitly stated in some functions' documentation that the input must be `double` or `uint8` ([`moments`](https://scikit-image.org/docs/stable/api/skimage.measure.html?highlight=moments_hu#moments), [`moments_central`](https://scikit-image.org/docs/stable/api/skimage.mea

[2021-01-28 09:51] sciunto commented on #5195
There is actually two different aspects.
* 1D case was not handled. Fixed in a PR.
* Arrays are converted to float, and `preserve_range` must be use to manipulate this conversion in the original example.

[2021-01-28 11:13] rfezzani commented on #5199
Related to #4308 :sweat_smile:

[2021-01-28 16:24] abouysso opened #5202 "transform.resize uses anti_aliasing as default and fails to correctly clip values when anti_aliasing is used"
## Description

The function transform.resize applies anti_aliasing as default when downsizing images, which is misleading as the default value for kwarg *anti_aliasing* is None.
Moreover, when applying anti_aliasing, when *scipy.ndimage.gaussian_filter* produce values outside the given input range, the algorithm fails to correctly clip the values while clip=True (default).

## Way to reproduce

[

[2021-01-28 16:42] rfezzani commented on #5202
Hi @abouysso, happy to see you here :wink:. Thank you for the report.
I confirm the `clip` bug: version 0.18 and current master branch is also affected.
I agree with you, the documentation concerning the `anti_aliasing` parameter must specify clearly that it is applied by default only in case of down-scaling.
Your analysis seems also valid, the clipping is applied after filtering,  it is the root

[2021-01-28 17:07] abouysso commented on #5202
I will come with a PR soon. :)

[2021-01-28 17:39] Devanshu24 opened #5203 "Small typo in utils.py"
## Description
Small typo in the docs

The class docs have the argument name as `arg_mapping`
https://github.com/scikit-image/scikit-image/blob/87a8806cca7fb5366b6e5ddbe5e46364b44f90fe/skimage/_shared/utils.py#L119
However, the actual `__init__` method takes the argument with the name `kwarg_mapping`
https://github.com/scikit-image/scikit-image/blob/87a8806cca7fb5366b6e5ddbe5e46364b44f90fe/skimage

[2021-01-28 19:21] grlee77 opened #5205 "More consistent support for single precision computation across skimage"
## Description

Some functions in scikit-image support single precision and many can potentially do so with minimal modification. I opened this issue to track PRs related to float32 support and discuss best practices to make behavior more uniform across functions.

There are corner cases such as non-local means using the integral image approach where accuracy considerations require internal use of

[2021-01-28 19:30] grlee77 commented on #5205
On the questions above, I generally prefer inferring the dtype of the operation based on the input and would not generally encourage an additional dtype argument.

I don't have a strong opinion on whether integer inputs should always be cast to double. It might be safest from a backwards compatibility standpoint?

[2021-01-28 21:52] O-K-Tiger commented on #2793
I fixed it by reverting to scikit-image 0.16.2,
pip install scikit-image==0.16.2

[2021-01-28 23:50] rfezzani commented on #5203
Good catch, thank you for the report @Devanshu24 :wink:

[2021-01-29 04:48] Devanshu24 commented on #5203
@rfezzani Your welcome! I'll send a PR right away :)

[2021-01-29 14:06] rfezzani commented on #5178
I see in the description of the output of [`scipy.spatial.distance.directed_hausdorff`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.directed_hausdorff.html) the use of "hausdorff pair".
Isn't then `hausdorff_pair` or `hausdorff_pair_points` a good function name?

[2021-01-29 14:47] #5203 closed

[2021-01-29 14:56] grlee77 commented on #4294
I see a number of +1's and no objections here. I think this agreement was why the SKIP in #2613 was closed as not needed?

@scikit-image/core: please let me know ASAP if there are objections with proceeding with a `channel_axis` argument. We would like to get these bigger API-related issues all in prior to release 1.0 and I can spend substantial time on this in the near term.

[2021-01-29 16:45] mkcor commented on #4294
@grlee77 no objection, I'm +1 on @jni's suggestions!

[2021-01-29 19:03] stefanv commented on #4294
@jni How does this complicate the implementation aspect?  All algorithms now need to handle arbitrary channel positions, so will we write utilities to facilitate?

In terms of the API, it encodes everything the old one did and more, so I am +1 overall.

[2021-01-29 19:26] odoublewen commented on #5047
Hi @rfezzani - I can confirm that I am no longer seeing the bug reported in this issue, but since upgrading from 0.17.2, I am seeing a new behavior, which I think might be a new bug.  When I use `num_peaks_per_label=1`, with 0.17.2, I used to get the expected 1 peak per label.  But with 0.18.0 and 0.18.1, some of the labels are missing.  I haven't been able to figure out why, and I don't have a re

[2021-01-30 07:29] clementkng commented on #5178
I think `hausdorff_pair` is a good function name since it's consistent with scipy.

[2021-01-30 11:49] jni commented on #4294
@stefanv isn't this a matter of transposing the channel axis to the final axis?

[2021-02-01 07:49] jni opened #5211 "3.7 minimum requirements test builds are failing"
Example failed run:

https://github.com/scikit-image/scikit-image/runs/1801995691?check_suite_focus=true

[2021-02-01 19:12] mkcor commented on #4821
@maxfrei750 so, shouldn't the renaming be `equivalent_diameter` --> `area_equivalent_diameter`?

[2021-02-01 19:23] maxfrei750 commented on #4821
@mkcor We had a similar situation for `feret_diameter_max` vs. `max_feret_diameter` (see https://github.com/scikit-image/scikit-image/pull/4820). We ended up using the former, since then all Feret diameters are grouped together. I would make the same argument for `equivalent_diameter_area`. The "area" is more like  an index.

[2021-02-01 19:29] mkcor commented on #4003
I think that `min_size` is/was fine as long as documentation is well written.

My second favourite option would be https://github.com/scikit-image/scikit-image/pull/4761#issuecomment-635850530 by @jni because it reads so well.

[2021-02-01 19:31] grlee77 commented on #5211
I think this is due to a combination of recent changes in `pip` with the lack of Python 3.7 wheels for our minimum scipy and matplotlib and pillow.

I will make a PR bumping to more recent minimum versions that are still >= 48 months old.

[2021-02-01 19:42] maxfrei750 opened #5213 "regionprops: consistent naming scheme"
## Description
It would be nice to have a consistent naming scheme for the properties retrieved by the `measure.regionprops` function.

For instance, there are `feret_diameter_max` and `max_intensity`. It would be nice to have `intensity_max` instead.

Other candidates are:
[code]

Since these changes would not be backwards compatible, they could be targeted for version 1.0.

Of course, it would a

[2021-02-01 19:46] maxfrei750 commented on #5213
If this change is welcome, then I could create a PR for it.

[2021-02-01 20:47] alexdesiqueira commented on #5169
# 2021/01/25 - 2020/01/31

Lots of movement this week. Some low-hanging fruits to merge, but I didn't have the time to analyze too mcuh; I apologize.

## new pull requests open last week
#5212 update minimum supported Matplotlib, SciPy and Pillow
#5210 Backport PR #5197 on branch v0.18.x (Build aarch64 wheels)
#5209 fix clip bug in resize when anti_aliasing is applied (#5202)
#5208 Add circle mode

[2021-02-01 23:09] jni commented on #5087
Closed by #5180

[2021-02-01 23:09] #5087 closed

[2021-02-01 23:20] diregoblin commented on #2380
Hi, just letting you know that I've generalized this solution to arbitrary dimensions. The source code is available here: https://github.com/diregoblin/poisson_disc_sampling

[2021-02-02 05:06] #5211 closed

[2021-02-02 13:44] wang88888 opened #5215 "ModuleNotFoundError: No module named 'skimage.filters._sparse_cy'"
## Description
when i use the fuction skimage.feature.greycomatrix,
pycharm error:ModuleNotFoundError: No module named 'skimage.filters._sparse_cy',
the version of skimage:  0.18.1

## Code:
from skimage.feature import greycomatrix, greycoprops
import cv2
img_org = cv2.imread('train_video/frame/tr_123.jpg')
result = skimage.feature.greycomatrix(img_org, [1], [0, np.pi/2], levels=4)

#Output:
Trace

[2021-02-02 22:03] superhy commented on #5215
I encounter the same issue when I tried to:
import skimage.feature

in windows, we can not just install it directly by pip.
you need to install the binary compiled Lib from: https://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image

or you can install it by Conda:
conda install -c conda-forge scikit-image

Above information is available at the git main page (README.md) of this project.

[2021-02-03 06:57] wang88888 commented on #5215
i installed the binary compiled Lib,it works,thank you

[2021-02-03 13:37] jni commented on #5215
Hmmm, you *should* be able to install from pip in windows. We also have [compiled versions on PyPI](https://pypi.org/project/scikit-image/#files). Which Windows version do you have, and what version of pip (`pip --version`)? It seems to not be picking up the compiled binary for some reason...

[2021-02-03 14:28] jni commented on #4563
Awesome, thanks for that @emmanuelle!

Re-reading this discussion, I realised that `out=my_rag` *does* work, because we can check the graphs for identity. So out with in_place, and in with out! :joy:

[2021-02-03 14:34] jni commented on #5213
Thanks @maxfrei750! Certainly I'd like to revisit these and I agree that for 1.0 we want to make sure we like all of the naming conventions for regionprops — one of our most important functions. We should probably wait for a bit of discussion here, from everyone and especially from @scikit-image/core, about what names they would consider changing from regionprops.

[2021-02-04 15:04] rfezzani commented on #4563
#5216, #5217 and #5218 deprecate `in_place` in favor of `out` in respectively `morphology.remove_small_objects`, `morphology.remove_small_holes` and `segmentation.clear_border`. Reviews are welcome :wink:

[2021-02-04 23:38] stefanv commented on #5213
I suggest @maxfrei750 comes up with a proposal for a naming scheme, and we leave the old names in place while updating the documentation to only provide the new ones.  Then, set a TODO to update to only the new names in a couple of releases (nothing urgent).

[2021-02-05 06:46] FirefoxMetzger commented on #5205
A potentially stupid question: What is the benefit of using `np.float32` over `np.float64` for computation?

[2021-02-05 08:01] rfezzani commented on #5205
It is absolutely not a stupid question. Single precision float requires half storage memory then double precision and operations are usually faster. That's particularly true on some hardware devices (like GPUs)...
It is a matter of tradeoff between speed/storage from one side and numerical precision on the other side.

[2021-02-05 09:27] yfukai opened #5222 "regionprops_table max_intensity and min_intensity are clipped to integer for a float intensity_image"
## Description

When I use `measure.regionprops_table` with a float intensity_image, I found the `max_intensity` and `min_intensity` are clipped to the floor integer and inconsistent with the result of `measure.regionprops`. I suppose this is a bug and would like to ask for opinion.

## Way to reproduce
[code]

## Version information
[code]

[code]

Thanks!

[2021-02-05 14:00] rfezzani commented on #5222
Thank you for the report @yfukai, I confirm the bug... It is probably related to the fact that `min_intensity` and `max_intensity` are marked as `int` in [COL_DTYPES](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L72).

[2021-02-05 14:33] grlee77 commented on #5205
If users have their input in `float32`, they probably chose that over the default python `float` for reasons like @rfezzani mentioned above. I think we should make it easier to avoid unexpected promotions to double precision each time scikit-image functions are called. The work here is in line with prior changes to `img_as_float` to preserve single precision.

In general, optimized libraries takin

[2021-02-05 14:55] BierretA opened #5223 "Add new illuminants for color conversion"
## Description

For users of the R programming language, color space conversions can be performed using the standard function grDevices::convertColor, which is part of R-core.
The white points for this function are:
|Name|x|y||X|Y|Z|
|-|-|-|-|-|-|-|
|A|0.44757|0.40745||1.0984661|1.0000000|0.3558228|
|B|0.34842|0.35161||0.9909274|1.0000000|0.8531327|
|C|0.31006|0.31616||0.980706|1.000000|1.182249|

[2021-02-05 23:07] grlee77 opened #5224 "issues with floating point inputs to blob_log, blob_dog, blob_doh"
## Description

The blob detection functions all use `img_as_float` internally to convert integer inputs to normalized floats.

However, if the input is already a float, but has not been normalized, computation can take a very long time.

There is also a separate issue for `blob_doh` only in that `float32` or `float16` inputs will result in an error when calling a Cython function that expects doub

[2021-02-06 22:48] joselivera opened #5225 "Problems with some modules"
When i try to run this code:
[code]
This error appears:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-7e6b6860443a> in <module>
      2 import skimage
      3 import matplotlib as plt
----> 4 from skimage.feature import local_binary_pattern

C:\Program Files\Python39\lib\site-

[2021-02-07 16:24] FirefoxMetzger commented on #5205
@rfezzani I totally get the argument in a GPU computing context, as a GPU tends to have many more single-precision FPUs than double-precision FPUs (if any). This also makes storing in FP64 format a little undesirable. In fact, in this line of thinking it is probably much better to add FP16 support or consider the new and shiny bfloat16 since this puts us into the realm of tensor cores. Ampere adds

[2021-02-07 20:16] joselivera commented on #5225
I solved my problem using conda instead of python + pip. For some reason, python + pip works on linux but not in windows.

[2021-02-07 20:18] hmaarrfk commented on #5225
I think this is similar to an issue with windows system dlls not being installed.

conda ships manyof the system dlls required.

[2021-02-08 08:25] rfezzani commented on #5205
That's I think the main concern of this issue.

Even if GPU/TPU/SIMD are not targets for skimage project, it may be for some of its users. So we need to make things consistent. I mean that we need to ease the integration of skimage in such contexts.

I think storage argument holds anyway. Even if in most of the use cases memory is not an issue, it is not excluded that it can happen in some scenari

[2021-02-08 15:15] grlee77 commented on #5223
Hi @BierretA, is this something you are interested in contributing or is this just a feature request? It sounds reasonable, but I am not so familiar with the `color` module, specifically. It would be good if any other core devs herecould chime in on this.

There are also some related projects like [colour](https://colour.readthedocs.io/en/latest/index.html) and `[colorspacious](https://colorspacio

[2021-02-08 17:03] BierretA commented on #5223
I am new to open source but I would be happy to help. If my suggestion is of interest, I can try doing a PR. Adding a few illuminants should be easy enough.

[2021-02-08 19:04] grlee77 commented on #5223
Great, we are happy to help new contributors.

You may want to wait a few days for any other feedback before starting the work.

[2021-02-09 05:05] yfukai commented on #5222
Thank you @rfezzani for your response! If still no one is working on this, I'd like to consider writing a test and fix for this. I think adding some test in [regionprops test](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/tests/test_regionprops.py) would be useful, but what is a good strategy do you think? Could I just add a variable, for example `SAMPLE_FLOAT` to test t

[2021-02-09 05:34] jni commented on #5222
@yfukai we would absolutely love a PR with a fix!

This seems reasonable to me. I'd say go for it!

[2021-02-09 05:56] jni commented on #5223
I'm in the same boat as @grlee77: don't know much about colorspaces, but very happy to help new contributors! 😊 The feature makes sense, I don't think there'll be much resistance from the other core devs.

[2021-02-09 08:58] jni commented on #5205
Everything @rfezzani said! LOL Additionally, skimage *does* rely on NumPy for many operations, and they are making a significant push on SIMD. Cython SIMD support may also improve in the future. And we may one day start using Numba, which might get even better at it. etc etc. So, performance wise, I think the argument is compelling, and again, as @rfezzani said, for minimum effort.

Finally, the s

[2021-02-09 16:28] grlee77 commented on #5205
I am not strongly against `dtype` as a kwarg, but would like it to default to `None` with automatic preservation of single vs. double as the default. The main downside with `dtype=None` in the function signature is that users may try to provide an incompatible dtype such as `uint8`, but we can always easily check that the provided dtype is floating point via `np.dtype(dtype).kind == 'f'`.

[2021-02-09 16:35] grlee77 commented on #5205
Great discussion, all. It sounds like everyone is on the same page on expanding float32 dtype support.

What will be most useful for me to proceed with a few additional PRs is reviewing a couple of API related things like the `_float_dtype` helper proposed in #5219 and deciding if we should also add a `dtype` argument by default to all functions supporting float32.

Secondly, in a handful of cases

[2021-02-09 16:47] grlee77 commented on #5225
@joselivera I will go ahead close this for now, but if you can provide a minimal reproducible example for creating a new conda environment with the issue, please reopen the issue and we can take a look.

e.g. something like
[code]

@hmaarfk: Is there something we need to add or improve in our Windows install instructions regarding system dlls when installing from pip?

[2021-02-09 16:47] #5225 closed

[2021-02-10 03:17] #5058 closed

[2021-02-10 05:53] FirefoxMetzger commented on #5205
@grlee77 @jni Could you elaborate on the benefit of adding a `dtype` argument? To me, it sounds equivalent to `some_func(image.astype(dtype, copy=False), ...)` which seems more transparent and easier to maintain compared to the adding `dtype` as an argument.

[2021-02-10 06:15] FirefoxMetzger commented on #5223
You are talking about updating/adding to the illuminants and observers for CIE color spaces? That sounds like a nice addition :)

I just skimmed the codebase, and I think it looks like a good first issue. I wonder if it is worthwhile to add to that a general implementation that allows a user to manually specify the observer and illuminant while keeping the option to have common ones pre-specified.

[2021-02-10 06:44] jni commented on #5205
Well, I agree that it's only syntactic sugar, but imho inferring from input is *less* transparent in the sense that you have to know that the output copies the dtype of the input. And for functions with multiple inputs you have to guess the promotion rules. etc. etc. `dtype=whatever` makes the intention very clear, I think!

[2021-02-10 14:23] grlee77 commented on #5205
Another discussion point @FirefoxMetzger brought up in #5219

Right, for example we cannot easily use float16 computations in our Cython code or in code involving FFTs or PyWavelets, etc. that don't offer 16-bit implementations. We can compute in float32 and cast back to float16 at the end, though.

Should we generally always cast floating point inputs back to the user-provided types? I can see wh

[2021-02-10 16:34] FirefoxMetzger commented on #5205
Here is a thought:

In an ideal world, the user chooses their datatypes for a reason. In reality, most users don't but it is probably worthwhile for us to assume this is the case anyway.  In my mind, this has two consequences:

1.  Computation should generally happen in a `dtype` that is at least as precise as the user's input and preferably in an even larger type if the underlying hardware suppor

[2021-02-10 21:18] grlee77 commented on #4294
I think so. Please see #5228 which proposes a couple of decorators to help with this transition.

[2021-02-11 08:10] rfezzani commented on #4563
Now that #5216, #5217 and #5218 are merged, we close this one :tada:. Thank you all :wink:

[2021-02-11 08:10] #4563 closed

[2021-02-11 10:50] maxfrei750 commented on #5213
As requested by @stefanv here is a proposal for a naming scheme:

## Naming Scheme
`{generic property}_{1st most frequent specification}_{2nd most frequent specification}_ ... _{nth most frequent specification}`

### generic property
* properties that exist multiple times
* specifies type and shape of value that will be returned
* examples: image, intensity, moments, etc.

### 1st most frequent sp

[2021-02-11 13:20] FirefoxMetzger opened #5229 "Metadata format for replacing skimage.io with imageio"
A while back we had a discussion about deprecating most of `skimage.io` and instead wrapping `imageio` (#5036 ). As a result of this, @almarklein started rethinking the current API for `imageio` and we have come up with a draft, which will - eventually - become the new imageio API ( https://github.com/imageio/imageio/pull/574 ).

The PR is mostly ready now and I am starting to get excited by how f

[2021-02-11 20:08] catalys1 opened #5230 "Wrong order in hessian_matrix?"
## Description

In `hessian_matrix`, when `order='rc'`, the elements are supposed to be returned as `(Hrr, Hrc, Hcc)`. But if I'm understanding the code correctly, it instead returns `(Hcc, Hrc, Hrr)`:
[code]

Note that when `order == 'rc'`, then
[code]
which yeilds `[(1, 1), (1, 0), (0, 0)]`, putting columns first instead of rows.

Am I correct that this isn't the intended behavior?

[2021-02-11 20:56] anirudh2290 opened #5232 "Issue with unordered_map in remap.pyx scikit-image 0.17.2"
## Description

We found an issue with working of Sagemaker Distributed Model Parallel with scikit image 0.17.2 on python3.6.

To provide more details on the crash, we see that unordered_map  indexing in Sagemaker Distributed Model Parallel code (smdistributed/modelparallel/backend/threads.cc) calls into
[code]

Our workaround was to downgrade skimage to 0.16.0 or change the import order.

Below i

[2021-02-11 21:52] stefanv commented on #5213
@maxfrei750 This looks great, thanks!

The one I don't find particularly intuitive is `axislength`. Perhaps we should consider returning the vectors `axis_major` and `axis_minor` of which the norm is the length currently calculated?

[2021-02-11 21:54] stefanv commented on #5213
I also think `inertia_tensor` and `inertia_tensor_eigvals` do make sense in your new scheme.  `eigvals` is more specific than `inertia_tensor`.

[2021-02-12 13:44] almarklein commented on #5229
There has been some discussion about this in the past, see e.g. https://github.com/imageio/imageio/issues/382 and  https://github.com/imageio/imageio/issues/502

There are some use-cases (https://github.com/imageio/imageio/issues/501) to consider that we want to eventually support. I think it comes down to:
* Having standardized fields (we can start with a few, fields and add more over time).
* Al

[2021-02-12 13:47] FirefoxMetzger commented on #5229
One question for my understanding: Will all plugins provide the "standard" fields? I.e., should/will imageio enforce this?

[2021-02-12 13:53] almarklein commented on #5229
Good question. I think the policy should be that all formats should produce the standard fields that are applicable, which would probably most of them in most cases. Enforcing that in a test makes a lot of sense. The boilerplate for such a test should could be generalized, so that it's just a few lines in each format's test script.

[2021-02-12 14:36] FirefoxMetzger commented on #5229
Okay. The main reason I brought this up is that I was implementing a wrapper for `Pillow` in the new API so that I can add some actual *unit* tests. (The wrapper is now super short; with extensive comments, ~300 lines compared to the 800+ lines for the old wrapper.) Currently, I was just forwarding the raw metadata from `pillow`, but realized that this may not be a good idea, because different plu

[2021-02-12 15:21] simone-codeluppi opened #5235 "feature.peak_local_max modifies input image"
## Description
Hi
I am processing a float image (linked below) to detect peaks.
When i call `feature.peak_local_max` without defining labels everything is fine. If I define labels the call to `feature.peak_local_max` causes a change in the intensity values (adding/changing the value of some pixels to `1.7976931348623157e+308`) of the image processed. I can replicate the issue with `skimage 0.18.0

[2021-02-12 16:34] rfezzani commented on #5235
Thank you @simone-codeluppi for the report. I confirm the bug, I can reproduce :confounded:

[2021-02-14 02:25] aziabari opened #5237 "exposure.equalize_adapthist doesn't work for 3D data, and error with calling cells3d"
## Description
when I ran this code:
https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_adapt_hist_eq_3d.html#sphx-glr-download-auto-examples-color-exposure-plot-adapt-hist-eq-3d-py

I get this error:

ImportError: cannot import name 'cells3d' from 'skimage.data' (/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/skimage/data/__init__.py)

it seems it c

[2021-02-14 04:16] rajpratyush commented on #4455
Is this issue still open for work??

[2021-02-15 08:22] jni commented on #5237
@aziabari can you update your installed version of scikit-image? That function is only available in scikit-image v0.18.1. You probably have an earlier version.

Additionally, it seems you are using the macOS system Python, which is generally a bad idea. You should instead work in an *environment*, which is like a little isolated Python installation. Here's a couple of guides about this:

- https:/

[2021-02-15 08:22] #5237 closed

[2021-02-15 12:23] maxfrei750 commented on #5213
@stefanv Thanks for the feedback.

That would be quite powerful, because it would also allow the calculation of the tilt angle of the axis.

To not lose any functionality, we could then have:
[code]

Would you advise to couple this change of functionality with the PR that implements the renaming?

I agree that the naming matches the specificity rule. However,  `inertia_tensor_eigvals` does not sat

[2021-02-15 13:28] jni commented on #5232
Wow. All I can say is that I would not put it past pytorch to redefine C++ stdlib linkage at import time. `remap.pyx` uses `unordered_map` from the C++ stdlib, which needs relatively recent stdlib, see [these lines](https://github.com/scikit-image/scikit-image/blob/9346b030fbb9e1630e92153337911a85be10cc1f/skimage/util/setup.py#L14-L20) from #4612.

Overall, my feeling is that if:

[code]

works, b

[2021-02-15 20:57] grlee77 commented on #5169
# 2021/2/1 - 2021/2/8
## New pull requests open last week

#5221 Remove approximation in ransac circle model
#5220 single precision support in skimage.metrics module
#5219 single precision support in skimage.restoration module
#5218 Deprecate in_place in clear_border
#5217 Deprecate in_place in remove_small_holes
#5216 Deprecate in_place in remove_small_objects
#5214 [wip] gallery example for deve

[2021-02-15 21:04] grlee77 commented on #5169
# 2021/2/8 - 2021/2/15

I opened a new "scikit-image 1.0 API" project a couple of weeks ago (see the Projects tab between "Actions" and "Wiki" in the GitHub UI) . I am trying it out for organizing various issues related to proposed API changes for scikit-image 1.0. These are not strictly PRs that should be merged for 1.0 itself, but may include things we want to merge in 0.19 to give at least 1 re

[2021-02-15 21:06] grlee77 commented on #5169
Please also review: scikit-image/boilerplate-utils#7 where I modified the report generation script to respect the `--before` command line argument. This was used to generate the prior week's report (Feb 1-7).

[2021-02-16 01:06] stefanv commented on #5213
I have the same intuition about the above: `axis` is the first grouping, then `major/minor`, then `length/angle`, so I'd prefer `axis_major_length`, e.g.

[2021-02-16 03:07] #5235 closed

[2021-02-16 06:12] anirudh2290 commented on #5232
Thank you @jni for your reply! We observe the following:
Below works fine:
1.
[code]

Below fails with the error i pasted above:
2.
[code]

Below works fine:
3.
[code]

[2021-02-16 07:45] jni commented on #5232
Wow, that's insane. LOL

To clarify, does

[code]

fail by itself? Or do you need the third line?

I have no insight whatsoever into how the `smdistributed` import could "fix" the `skimage` import.

[2021-02-16 12:12] maxfrei750 commented on #5213
Agreed. I'll create a PR, when I get to it.

[2021-02-16 19:07] anirudh2290 commented on #5232
Hi @jni . To clarify below is the stacktrace that we see :

[code]

The unordered_map in #8 (operator[] call) comes from a cc file in smdistributed when python tries to execute a [smp.step decorated function](https://sagemaker.readthedocs.io/en/stable/api/training/smp_versions/v1.2.0/smd_model_parallel_common_api.html).

So without smdistributed import we cannot reproduce the issue (though potenti

[2021-02-16 19:35] mkcor commented on #5222
@yfukai I think that, in the [PR description](https://github.com/scikit-image/scikit-image/pull/5239#issue-573848175), you wanted to write "Fixes #5222" (instead of "Fixes issue #5222") for this issue to get closed automatically (upon merging #5239 into `master`).

[2021-02-16 19:35] #5222 closed

[2021-02-16 19:38] mkcor commented on #5222
@yfukai confirming, just found a reference: https://github.blog/2013-05-14-closing-issues-via-pull-requests/

[2021-02-16 23:58] jni commented on #5232
Sorry, can you point me to where the `unordered_map` call lives in smp? Looking at [the source code](https://github.com/aws/sagemaker-python-sdk/tree/master/src/sagemaker) I don't find any .cc files?

I kinda thought so, but I have no insight as to why putting smp in the middle would fix it, nor why it would crash when smp is imported after...

By the way, is any of this code *actually calling* sk

[2021-02-17 02:34] anirudh2290 commented on #5232
SMP (Sagemaker Distributed Model Parallel) is closed source, so I wont be able to share the source, but it doesn't depend on skimage. Its just that the import of the skimage "in between" breaks the unordered_map operator[] call inside smdistributed.

[2021-02-17 07:54] yfukai commented on #5222
Oh yeah, I just noticed I wrote in a wrong way. Thanks a lot to letting me know this!

[2021-02-17 16:51] grlee77 commented on #2008
I reopened this because I am working on a PR now that makes inpainting much faster (no changes to the algorithm itself, just a number of efficiency improvements).

[2021-02-17 18:38] DavidStirling commented on #5225
@grlee77 I've been encountering this issue as well. Things seem to run fine on Windows 10, but on Windows Server 2019 (AWS machine) installing Skimage `0.18.1` with `pip` results in an installation which can't import several packages. For example `import skimage.restoration` will produce the error `ImportError: DLL load failed while importing _rolling_ball_cy: The specified module could not be fou

[2021-02-17 18:57] DavidStirling commented on #5225
An update - turns out installing the C++ Redistributable for Visual Studio 2019, mentioned [here](https://github.com/scikit-image/scikit-image/issues/4780#issuecomment-768204719), gets it working.

[2021-02-18 01:42] jni commented on #5225
Thanks @DavidStirling for weighing in. I'm still not sure what the best way to fix this is from our end. Clearly many users are faced with this issue. I'm hoping to release 0.18.2 soon so it would be great to have a consensus on how to move forward. @scikit-image/core any ideas? (See also #4780 for more context.) The two leading contenders for me are:

- depending on msvc-runtime on some platforms

[2021-02-18 02:11] DavidStirling commented on #5225
Thanks for the info @jni - in hindsight it follows that our virtual machines, being a blank Windows install, would be lacking the framework dlls. I'm curious why 0.16 didn't have this problem - did the compiling language change, or did you have another solution in older versions (or something else entirely)?

As for a fix, packing the files into the wheel sounds like a reasonable approach, but if

[2021-02-18 06:02] jni commented on #5225
I think we didn't have any code that used the C++ stdlib, or if we did, it was not part of the "default" imports that skimage triggers at a package level.

As to msvc-runtime, if you look at the discussion in #4780, it does not seem to be officially supported or particularly well-maintained...