[2018-08-14 17:10] hmaarrfk commented on #3350
To conclude, I really don't know what is wrong. It could be a few things:

  1. arch compiler is too new, maybe there is a conflict in the order of the compilation options.
  2. Something weird with your include paths, though I don't think so.
  3. pip seems to be using it's own version of numpy as well. So it isn't with your numpy installation

But finally, you you aren't too pro with python, I w

[2018-08-14 18:30] VGib commented on #3350
You're right. The problem is that archlinux has already switch to python 3.7. So I have no choice.

I know the risk to use an advance distribution, so I accept them.

I'll try to get something with conda and PKGBUILD. So I will do as usual, I'll try to manage.

Anyway, thanks for the time.

[2018-08-14 18:30] #3350 closed

[2018-08-14 21:45] michaelaye opened #3351 "DOC: Broken link to Gabor tutorial"
## Description
On this page:

http://scikit-image.org/docs/dev/api/skimage.filters.html#skimage.filters.gabor_kernel

the link to the Gabor tutorial:

http://mplab.ucsd.edu/tutorials/gabor.pdf

is broken.

[2018-08-15 02:03] pipee93 opened #3352 "Image gets rescaling after normalize using opencv and scikit-image"
## Description
Hello! This is my first time working withc scikit-image. I'm tryng to combine OPENCV and scikit-image to image processing in real time. I need to do some histograms equalizations and aplly some filters too, but I need first to normalize the video to keep the values beetween 0 and 1. The problem is after I normalize the image in grayscale and try to do an histogram equalization, the

[2018-08-15 03:02] hmaarrfk commented on #3352
rank filters are only for integer images. They implicit convert your images into uint8 or uint16 and leave them like that.

[2018-08-15 03:04] hmaarrfk commented on #3352
The reason is that they assume that repeated addition and subtraction is lossless.

That is not true for other types of algorithms.

[2018-08-15 06:52] GenevieveBuckley opened #3355 "DOC: Direct user questions to https://forum.image.sc (add link to project README)"
## Description
Now that the Scientific Community Image Forum exists at https://forum.image.sc/, scikit-image should have a link to it in the README (a good first issue!)

Very likely this also means we should remove the StackOverflow badge & link, so there is one clear preferred path for questions. That will probably mean less duplication (see [#1](https://forum.image.sc/t/image-gets-rescaling-aft

[2018-08-15 16:19] soupault opened #3356 "Add Python 3.7 to the test matrices"

[2018-08-15 16:25] hmaarrfk commented on #3356
It is not clear how to do this with Trusty:

https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-411429993

[2018-08-15 16:34] Carreau commented on #3342
Yes it could, either using a personal access token, or Mr meeseeks can
provide a short lived token (up to 5min IIRC) that give limited access to
GitHub API, one specific repo, either when triggering asv (but I guess
token will expire before end of benchmark), or a simple API to fetch one.

My original plan with Mr meeseeks was to actually write a GitHub api proxy
that would hand of longer-lived to

[2018-08-15 18:56] soupault commented on #3355
👍 . Thanks for sharing the link!

[2018-08-15 22:47] hmaarrfk commented on #3356
I'm not too sure about how that works. I'm pretty sure Pypi suggests compiling on trusty so as to have maximum reach. I need to find a reference for it though.

[2018-08-15 22:53] TomAugspurger commented on #3342
Do we have a link for the call?

[2018-08-15 22:55] Carreau commented on #3342
Same question https://appear.in/skimage ?

[2018-08-15 23:16] matthew-brett commented on #3356
Mark - do you mean compiling the wheels?

[2018-08-15 23:29] hmaarrfk commented on #3356
Right right, for the wheels.

[2018-08-15 23:29] hmaarrfk commented on #3356
But I'm worried that if our test suite is being tested on 16.04, then there may be bugs that arise due to the use of 14.04 when it comes for the wheels to get built. Though, I guess the reverse is maybe true.

[2018-08-16 00:13] jni commented on #3342
So, you were both throwing around authentication schemes that I didn't understand in our chat, though I get most of it. Let me try to summarise the initial architecture:

- the bot receives a command from the PR (btw @Carreau how come mentions don't properly link to the bot? Put it another way: why not create the MeeseeksDev user to make it easier to tag?)
- the bot pings the ASV machine (URL spec

[2018-08-16 00:45] Carreau commented on #3342
Because it's a "GitHub Application", that is to say a machine account. That's a github limitation.
There are pro and cons for both, and the way the github UI react have change through time. You use to be able to mention bot with autocompletion.
- Bot:
   - You can activate/deactivate a bot on a per-repository basis, no "accept" from the bot needed. - - - User:
   - You invite  and the user need to

[2018-08-16 00:47] hmaarrfk commented on #3352
xref: https://forum.image.sc/t/image-gets-rescaling-after-normalize-using-opencv-and-scikit-image/19065

[2018-08-16 09:08] matthew-brett commented on #3356
The wheels need to be built on something even earlier, which is the Manylinux standard, based on a well-past-end-of-life Centos 5 distribution.  This is deliberate, to make sure that the wheels only use versions that almost any Intel Linux will have.   In the scikit-image-wheels repo, we build on Manylinux (which we have to do, to make the standard wheels) and then test on Trusty.   We could test

[2018-08-16 12:06] evertrol commented on #3356
Before I file a separate issue: I just found out I can't build in a clean (virtual) environment, most likely because of the lack of a wheel for 3.7, causing errors because of either Cython or NumPy requirements. (Particular use case: jupyter-repo2docker, or http://mybinder.org .).
Should I file a new issue, or wait for the outcome of this issue and a wheel on PyPI?

[2018-08-16 14:40] hmaarrfk commented on #3356
For what its worth, scikit-image compiles and runs the tests on python 3.7. On my machine (in a conda environment, but pip used to grab all dependencies) and on travis
https://travis-ci.org/scikit-image/scikit-image/jobs/416826766

https://github.com/scikit-image/scikit-image/pull/3359

Somebody else had a similar issue, but I (and the issue author) wrote it off as an `Arch Linux` issue:
https://g

[2018-08-16 14:53] evertrol commented on #3356
Thanks for looking into that.
This was after creating a virtual environment and using pip to install scikit-image:
[code]

which errors with (last lines of backtrace):

[code]

Perhaps Conda installs/uses Cython by default?

This is on MacOSX 10.13.7, Homebrew Python 3.7, and from the log, pip is using https://files.pythonhosted.org/packages/fc/20/d3e736493b16e9455ce8579722d644b313814c599d5824d34e

[2018-08-16 14:57] hmaarrfk commented on #3356
I think they are trying to move questions toward: https://forum.image.sc/

Anyway, there is a bug in the build scripts that looks for a `.c` file when it should look for a `.cpp` file.
Therefore you need to install cython first.
You should follow the instructions on the screen and install cython and try again.

[2018-08-16 15:06] evertrol commented on #3356
The problem is, that sometimes I run into an environment that I have no control over, other than supplying a link to a repository (e.g., on the aforementioned mybinder.org). That will find a requirements file in the repository with a.o. scikit-image, and installs it. If Python 3.7 is used under the hood, that will then fail, and I have no way to tell it to install Cython (or NumPy) first, since I

[2018-08-16 15:09] hmaarrfk commented on #3356
I see, hopefully this wilil be fixed soon-ish. Please open a new issue requesting PyPi wheels.

[2018-08-16 15:28] evertrol opened #3362 "Missing PyPI wheel for Python 3.7"
PyPI is missing a wheel for Python 3.7. This causes pip to fail when installing scikit-image in an empty (virtual) environment.

Example:
[code]

which results in (last lines of backtrace)

[code]

Usually, a two-step installation (installing NumPy / Cython first) is no problem, but for some cases, there is no control of the environment and process doing the installation, and it has to be a one-st

[2018-08-16 16:02] matthew-brett commented on #3362
Wheels are built and tested for Python 3.7, I'm waiting for agreement to upload them to PyPI : https://github.com/scikit-image/scikit-image-wheels/issues/9

[2018-08-16 20:12] matthew-brett commented on #3362
Wheels should be available now - can you check that you get them?

[2018-08-16 20:33] stefanv commented on #3355
Let's please wait for discussion on using the new forum to complete before merging.

[2018-08-17 10:50] evertrol commented on #3362
That was quick enough :-).

Tested, and works now, both on mybinder.org and in a local virtual environment.

Thanks!

[2018-08-17 10:50] #3362 closed

[2018-08-19 12:03] sciunto commented on #3298
Debian testing is not a stable version of debian, so such removal can happen. As said by @jni, we are not officially involved in packaging. This work must be done on the debian side (even if we can see the same people :) ). So, I close it as invalid. If you feel that it must be reopened, feel free to speak ;)

[2018-08-19 12:03] #3298 closed

[2018-08-19 12:15] sciunto commented on #3283
I'm closing this issue as wontfix. As @jni said, we will sooner or later change the way we read/write images and it will be solved by this unspecific change. If the workarounds proposed doesn't work for you, let us know.

Thanks for reporting.

[2018-08-19 12:15] #3283 closed

[2018-08-19 12:25] sciunto commented on #3264
For this issue, I would suggest to enhance the documentation as you pointed out. Regarding the second point, I would write `width (standard deviation) of the gaussian kernel`, so that we keep two levels of understanding.

For the default option, I guess it is difficult to find something "universal". Unity seems better to me than 100, 1000 or 863. :)

@Page-David Are you interested in writing a pat

[2018-08-20 00:59] Page-David commented on #3264
@sciunto Good idea, I added this in my PR #3272. And for default value of `k`, I changed my opinion, if a universally ideal value is not exist, just remain it unchanged.

[2018-08-20 05:15] #3264 closed

[2018-08-20 10:09] balazagi commented on #2440
Hi,
I am a newbie and trying to use a local version of the package unzipped in my linux home directory and the path appended to the sys.path but getting the following error, any help is appreciated. Thanks
`Traceback (most recent call last):
  File "/net/home/h04/ssadri/my-python-modules/scikit-image-0.14.x/skimage/__init__.py", line 165, in <module>
    from ._shared import geometry
ImportError:

[2018-08-20 10:16] jni commented on #2440
@balazagi please read the instructions at http://scikit-image.org/docs/stable/install.html. You need to install the scikit-image prerequisites (seen in requirements.txt), Cython, and you need to build the C parts of scikit-image.

[2018-08-20 10:29] jni commented on #2440
You can use pip to install locally, see e.g. https://stackoverflow.com/questions/7143077/installing-pip-packages-to-home-folder

I also highly recommend `conda`, which lets you create environments in your home directory where you can install packages as if they were in your root folder. (ie `pip install scikit-image` will just work once you have a conda environment set up.) See: https://conda.io/m

[2018-08-20 11:12] balazagi commented on #2440
Many Thanks Juan,  I have used conda on my home machine and was able to successfully install and use this package but did not know that is possible to run _conda_ or _pip_ as a non-admin user which of course now will try!

[2018-08-20 14:50] balazagi commented on #2440
thanks for the pointers. I was able to install both pip and the scikit-image locally :+1:

[2018-08-20 15:46] jni commented on #2440
:tada:

[2018-08-20 16:40] sciunto opened #3365 "Turn DOIs into web links in docstrings."
An issue that I attribute to myself :)

## Description

I would like to add a rendering of our DOIs. [Scipy used](https://github.com/scipy/scipy/pull/6650) an extension (doilink) for that. I expect to do the same.

[2018-08-20 21:14] danielballan commented on #2605
This is my position too. @jni accurately summarized my misgivings about breaking return type stability above. A more serious concern I have is that correctly propagating metadata through, and updating it accurately to reflect the action of a given function, is a hard problem. It also makes it harder to immediately see what a function's inputs are. If a function accepts a dictionary of metadata, ho

[2018-08-20 22:48] jni commented on #3365
:+1: ! This would be super-nice for our docs.

[2018-08-22 02:10] jni commented on #2605
Hey @danielballan, nice to see you again! =P

Yes, but I will need to solve it at some point. So the question is whether it should live in scikit-image or in various field-specific subprojects. Over on the corresponding [imageio issue](https://github.com/imageio/imageio/issues/362#issuecomment-414624397), I kind of argued myself into the latter corner. =P A big advantage of field-specific option i

[2018-08-22 12:29] sciunto commented on #3351
It is still visible on the internet archive: https://web.archive.org/web/20180127125930/http://mplab.ucsd.edu/tutorials/gabor.pdf

[2018-08-22 12:33] sciunto commented on #3240
ping @emmanuelle

[2018-08-22 12:33] hmaarrfk commented on #3351
Maybe we need to mirror it?

[2018-08-22 12:35] sciunto commented on #3214
As it seems to be solved, I close this issue.

[2018-08-22 12:35] #3214 closed

[2018-08-22 12:41] sciunto commented on #3351
@hmaarrfk It's something I wondered but regarding the copyright, I don't know if we want to do that...

[2018-08-22 12:44] hmaarrfk commented on #3351
Yeah....

[2018-08-22 13:20] sciunto commented on #3086
@soupault Done in #3263 I'm closing this issue.

[2018-08-22 13:20] #3086 closed

[2018-08-22 17:03] johndpope commented on #2595
osx -> https://qiita.com/atuyosi/items/9dd9f637e3f53a41f010

$ brew install qt
$ pip install PyQt5

{'matplotlib': ['imshow', 'imread', 'imshow_collection', 'imread_collection'], 'pil': ['imread', 'imsave', 'imread_collection']}

<matplotlib.image.AxesImage object at 0x110ba1160>

^C
io.imshow()

[2018-08-22 23:02] hmaarrfk opened #3372 "Redirect www.scikit-image.org ?"
Can it be redirect it to `scikit-image.org` ?

I spent 10 minutes the other day thinking my internet connection was down. 🐴

[2018-08-23 07:58] baibaidj commented on #1727
Is it possible that in the near future scikit-image will support GPU acceleration?  For sematic segmenation using deep learning, image processing remains a crucial part of the workflow. In the study of vertebral body segmentation, I used scikit-image for preprocessing and postpossessing, which is a great help, but is also the most time-consuming part. 5 seconds for model inference but 120 seconds

[2018-08-23 08:40] hmaarrfk commented on #1727
If you are so inclined, I would look into [`cupy`](https://github.com/cupy/cupy). You could find the algorithms you need to implement on the GPU, and work through the kinks to get them working on the GPU. That is the beauty of open source :D. It helped me to do that for one algorithm.

Keep in mind that not all algorithms can be parallelized. Often smarter thinking beats more raw power. .

[2018-08-23 08:47] jni opened #3373 "Code audit: usage of `img_as_float`"
There's been lots of discussion about our automatic range conversions, especially when it comes to `img_as_float`. (See for example #3009 and #3052.) In #3052 @stefanv suggested that we do an audit to check which functions will be affected if we don't ensure that floats are in the range [0, 1]. I went through every non-testing use of `img_as_float` in our code base to check. Below, I've divided th

[2018-08-23 10:59] soupault commented on #3372
👍. This is more related to https://github.com/scikit-image/scikit-image-web, though.

[2018-08-23 14:02] #3372 closed

[2018-08-23 14:17] sciunto commented on #3372
@hmaarrfk Use this website next time: http://downforeveryoneorjustme.com/

[2018-08-24 02:37] Marcnuth opened #3376 "compare_mse result is different with the calculation via numpy?"
When I trying to calculate MSE of two image, I used the compare_mse.
But recently,  I found the calculation result is weird.  See following codes for more details.

[code]

The result is:
[code]

The files used in the codes is attached.

Please check this. Thanks.

Attacthments:
[image1.txt](https://github.com/scikit-image/scikit-image/files/2316825/image1.txt)
[image2.txt](https://github.com/scik

[2018-08-24 02:50] hmaarrfk commented on #3376
@Marcnuth thanks for your question and great example.

I'm going to answer with a question, what is the output of:

[code]

once you have tried, have a look at the documentation, and click on the "source" link next to it 🏊‍♀️

http://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.compare_mse

If that answers your question, please follow up and close this issue 🌏

[2018-08-26 08:50] abTest-123 opened #3377 "Performance improvement for `scikit-image/skimage/feature/_texture.pyx`"
## Description
When calculating GLCM using the _glcm_loop, the offset pixel calculation can be optimized slightly.
In lines 68-69 the pixel offset value is calculated per each element, those offset values are constant and require both the calculation of a trigonometric function and casting to a different variable type.
By calculating the rowOffset and columnOffset ouside of the loop those executio

[2018-08-26 14:37] hmaarrfk commented on #3376
Glad to hear that helped you troubleshoot. dtypes are a double-edged sword.

What I find especially confusing coming from strongly typed languages is the return type of function calls.

[2018-08-26 20:09] soupault commented on #3377
@abTest-123 sure! Feel free to submit a Pull Request with the proposed changes. I guess you might need to also measure the performance benefit in order to convince the other team members.

[2018-08-27 07:19] abTest-123 commented on #3377
Thank you for suggesting that @soupault. I tried to test it locally and got stuck when needed to compile the .pyx code, this is out of my pythonic comfort zone.

[2018-08-27 14:00] hmaarrfk commented on #3377
If you want to expand your comfort zone, try giving this a read:

http://scikit-image.org/docs/dev/contribute.html

You might need a c compiler on windows. Visually studio 2015 or 2017 is fine

[2018-08-28 00:36] jni commented on #3377
@abTest-123 great catch! See #3378 for the fix, including benchmark measurements.

[2018-08-28 08:51] #3377 closed

[2018-08-28 08:52] sciunto opened #3379 "Document asv for devs."
## Description

Add a short documentation for contributors. Add tips such as https://github.com/scikit-image/scikit-image/pull/3378#issuecomment-416412743

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [ ] Relevant images (if any)
- [ ] Operating system and version
- [ ] Python version
- [ ] scikit-image version (run `skimage.__v

[2018-08-28 08:56] QasimMuhammad opened #3380 "Different cost values if the start and end points are switched"
Just found out while using route_through_array gives different cost when start and end points are switched and hence result in different paths.

   indices, weight = route_through_array(costArray, (startIndexY, startIndexX), (stopIndexY, stopIndexX),geometric=True, fully_connected=True)

The costArray consist of 1 and 255 values. The path is made through pixel with value one.

cost value = 641.3

[2018-08-28 08:56] abTest-123 commented on #3377
Thanks @hmaarrfk and @jni , Looking forward to test it!

[2018-08-28 23:28] jni commented on #3380
Thanks for the report @QasimMuhammad! This seems like a bug to me. @zpincus would you mind looking at this?

@QasimMuhammad in the meantime, if you could provide us with an example image and start and end values to reproduce this problem, it would be extremely useful! Without it, we are taking shots in the dark.

[2018-08-29 12:01] #3230 closed

[2018-08-29 15:13] hmaarrfk commented on #3155
I think this is fixed.
The `__SKIMAGE_SETUP__` seems to be an idiom shared by many projects using numpy's distutils.

[2018-08-29 15:13] #3155 closed

[2018-08-29 15:15] #3131 closed

[2018-08-29 15:19] #3165 closed

[2018-08-29 15:21] hmaarrfk commented on #3172
I think this is mostly done. Remains to remove matplotlib as a core dependency. but that has its own PR.

[2018-08-29 15:21] #3172 closed

[2018-08-29 22:47] zpincus commented on #3380
Thanks @QasimMuhammad! This is almost certainly a bug.

I'll certainly be happy to take a look if you can get a minimal example together that I could dig into.

[2018-08-31 09:59] emmanuelle commented on #3306
Hi @leeeeeeo . The use of both the transform and its inverse comes from the following identity: if you have a transform ``f``, a source ``src`` and destination ``dest`` images, so that
[code]
then
[code]
that is, the value of a pixel of ``dest`` is the value of ``src`` at  inverse transform of pixel coordinates. This is more easily understood if you take the example of a zoom factor (say, you want

[2018-08-31 09:59] emmanuelle commented on #3306
I hope it helps, the text of the example could surely be longer and explain more.

[2018-08-31 10:11] emmanuelle opened #3384 "Missing scientific (domain-specific) images and corresponding examples and tutorials"
I think scientific users could be more interested in starting using scikit-image if our documentation showed more examples corresponding to applications in different scientific domains. This could include cell images, satellite / remote sensing images, hyperspectral images, materials science images, astronomy images, etc. We could ask users to contribute some open data and examples, but before doi

[2018-08-31 10:26] emmanuelle commented on #3339
A simple question: what is the procedure to backport a PR? Is it documented somewhere in our development doc?

[2018-08-31 10:29] emmanuelle commented on #3355
This new forum is interesting but StackOverflow has been there for a long time and has been very useful to the community. I would suggest to keep SO and add the new forum.

Who is behind this initiative for the new forum?

[2018-08-31 14:27] emmanuelle commented on #989
Part of this issue has been resolved by adding the shape of images to docstrings (#2236), but the gallery part didn't go through, maybe because solutions based on javascript were too complicated. Why not add a gallery example plotting all functions, like the code below? One problem which I can see is that we would require the image to take the whole width of the image, while gallery examples have

[2018-08-31 14:40] emmanuelle commented on #763
This is a nice-to-have, but not at the core of scikit-image's goal (scientific image processing). Since no other people expressed interest, I would suggest to close this issue.

[2018-08-31 15:00] hmaarrfk commented on #763
I don't really see the point in bundling image saving/plotting with image processing. They are two rather distinct tools.

I think an example would be cool and appropriate.

[2018-08-31 15:48] soupault commented on #763
I agree with @emmanuelle, this is a nice feature, but should rather exist as a separate package.

[2018-08-31 18:12] Carreau commented on #3339
I can't talk for the scikit image core team, but at least if you want to use the bot, you mention it on the PR and ask it `backport to <branchname>`
You can also have a label (or a milestone), that have in its `description` `on-merge: backport to <branchname>`, and the bot will try to backport and issue a backport-PR when the principal-PR get merged.

If it can't the bot will give instructions on

[2018-08-31 21:54] #763 closed

[2018-09-01 06:31] jni commented on #3339
Thanks @Carreau for the summary! =)

@emmanuelle no, the procedure is new and still not quite "standardised".

@Carreau quick question: can you add the original PR title to the commit message/description? I just realised that it's going to be a pain in the ass to trace back everything that's made it into the branch...

[2018-09-01 08:16] jni commented on #989
Nice code! =)

What will we do when we include a 3D image example? =)

[2018-09-01 08:57] jni commented on #3355
Curtis Rueden (Fiji) and the CellProfiler team (specifically Jeanelle Ackerman from what I can gather) started the forum.

My two cents: I think we should go all in. Here's my pitch:

- Our current mailing list situation is very poor. Specifically, it is not being indexed by Google, so everything said on the mailing list is effectively being cast down into a black hole.
- StackOverflow is a good p

[2018-09-01 09:48] sciunto commented on #3384
I think this is extremely valuable. However, we have the size issue... A discussion started here: #3323

[2018-09-01 13:40] emmanuelle commented on #3384
@sciunto There is the size issue indeed but it seems that it is due primarily to cython files; moreover the largest data files are the astronaut HOG data which are used only for testing, maybe it's possible to decrease their size by using a subimage.

[2018-09-01 15:04] jni commented on #3384
@emmanuelle just last week I gave a talk about scikit-image, and as I was browsing the gallery for useful examples, I noted this exact problem: we have a nice gallery of examples that feel too artificial to compel scientists. I ended up using the images from your blog posts. =) So, a big :+1: from me. We need to solve the scientific examples issue, and @sciunto if that means that we need to solve

[2018-09-01 15:06] jni commented on #989
@emmanuelle no I really like your uses of inspect! They have inspired me to use it more in my own work. It's so useful!

[2018-09-01 15:55] Carreau commented on #3339
It should already be in it, here is the hEAD of the commit graph of v0.14.x:

[code]

Unless I don't understand your request.

I can add it as well to the GitHub PR Title. If you have other Formatting enhancement feel free to let me know.

[2018-09-02 09:31] emmanuelle commented on #3384
We might use images from Wikipedia. I was quickly browsing through wikipedia microscopy images,
https://en.wikipedia.org/wiki/Agranulocyte#/media/File:Monocyte_no_vacuoles.JPG
https://commons.wikimedia.org/wiki/File:Hairy_cell_leukemia_smear_2009-08-20.JPG
https://commons.wikimedia.org/wiki/File:Zz_Plagiomnium_undulatum_fluorescence.jpg
https://commons.wikimedia.org/wiki/File:NdFeB-Domains.jpg
Is

[2018-09-02 10:39] sciunto commented on #3384
So far, we used only CC0 / public domain images, and If I'm correct, that was a requirement made by @stefanv I guess for the compatibility with the BSD license.

[2018-09-02 17:33] tacaswell commented on #2863
Matplotlib supports pyside2 and all versions of matplotlib still support qt4.  Most of the shimming is done in `qt_compat` or via a `__init__` decorator that lets us pretend that pyqt4/pyside/pyside2 support cooperative multiple inheritance.

@hmaarrfk Those lines should still be fine (you need to pick the right sub-classes to match the Qt version you are using) modulo asking qtpy which version yo

[2018-09-02 18:02] soupault commented on #989
@jni Well, do you think it would be easier to plot 3D data using JavaScript? 🙂Same applies for >3D images (e.g. taken from satellite cameras).

There is one thing I don't like about the approach of plotting all the data in a dedicated gallery example - the gallery is already quite populated, and it'll be challenging for the users to locate such page.

Maybe we should introduce `data` section to it

[2018-09-03 02:45] jni commented on #989
@soupault very good points. It could be its own page, linked from "data types and what they mean", for example, or "getting started" directly.

I think we are pretty lackadaisical about doc dependencies (vs core dependencies), so we could certainly use ipyvolume or bokeh or something else to render 3D images in a widget.

[2018-09-03 03:51] jni commented on #3339
@Carreau in this case, it's there because I added it. See the full list for many merge commits that have no info other than PR numbers (we only look at merge commits when making release notes).

[code]

[2018-09-03 03:54] jni commented on #3339
(Title is probably a good spot for the info, "Backport PR Foo ([Original title]) on [branch]"

[2018-09-03 07:54] jni commented on #3380
@QasimMuhammad indeed, a naive test example doesn't reproduce your error:

[code]

results in:

[code]

So there is something strange going on with your specific data/use-case, and we would need your data with a minimal test script to hunt down the error.

[2018-09-03 08:06] jni opened #3387 "Investigate build system quirks"
## Description
On the mailing list, a user found that they couldn't install scikit-image from source:

https://mail.python.org/pipermail/scikit-image/2018-August/005621.html

It turned out that `make clean` fixed the problem. I myself have found recently that I need to `make clean` before `pip install -U --no-deps -e .` for almost any source update. I'm not sure which part of the build system need

[2018-09-03 08:08] QasimMuhammad commented on #3380
@jni, I don't want to share my whole code. In order to send minimal part of it, I need to work on it a bit while I am busy with other things. Give me couple of days and I will share. Thanks for your support

[2018-09-03 08:12] jni commented on #3380
@QasimMuhammad absolutely, and we don't want your whole code either, as that makes it harder to find the exact source of the bug. =P Just wanted to make it clear that the ball is in your court!

[2018-09-03 11:09] sciunto commented on #3387
@scikit-image/packaging pearhaps?

[2018-09-03 21:52] stefanv commented on #3384
Two issues arise: 1) how to communicate such requirements with users
effectively and 2) do we want to place potentially surprising restrictions
in place. For number 2, we've argued strongly "no": you should be able to
use the output of scikit-image without breaching a patent or attribution
requirement.

[2018-09-04 13:39] Carreau commented on #3339
Oh, it's because you are only looking at the merge commit; I see.

Well not the PR get the name in the tile so that should help:

[code]

We can pester GitHub for a Merge commit template or something along.
I can also implement it in Mr Meeseeks, when saying "merge" would actually read a template file and do the merge by itself (i'm not a huge fan of this solution) as it requires the bot to direct

[2018-09-04 20:32] hmaarrfk commented on #3384
I would not use data size as an excuse not to include sample images. The
data issue is not something that will magically go away. Furthermore, I
think it is really important to run benchmarks on “out of cache” datasets.
Performance on small image sizes might be ok, but for images larger than a
few MB, it is unlikely that performance will ve the same since the data
wont fit in cache.

One way to ge

[2018-09-04 21:04] stefanv commented on #3384
Actually, I do hope to make the data problem go away, by hosting the data externally, and downloading it as necessary.  We've been investigating tooling for that, such as https://github.com/frictionlessdata/datapackage-py, but currently it is too heavy a dependency.  However, the developers have indicated interest in improving that situation, and we can even write our own very simplistic downloade

[2018-09-04 22:55] hmaarrfk commented on #3384
I meant: "It won't magically go away if we don't add things to it" The package at 10s of MB is already too large.

Cool package!

[2018-09-04 23:46] jni commented on #3373
@scottstanie if I'm not mistaken, #3052 would allow this, is this correct? I'm hoping to get that merged later this week... :crossed_fingers:

[2018-09-05 05:44] emmanuelle commented on #3384
Yes, CC0/public domain makes sense, thanks for your answers. Some packages using large datasets for their examples, like ``nilearn``, download them instead of shipping them (see for example http://nilearn.github.io/auto_examples/05_advanced/plot_neurovault_meta_analysis.html).

[2018-09-05 09:48] jni commented on #3339
@Carreau I think putting the original title in the PR title is totally sufficient, thanks! I agree that getting Meeseeks to actually perform the merge is not a great plan.

[2018-09-05 14:12] scottstanie commented on #3373
Yep! hadn't seen that but it would fix it exactly as I'd hoped (making the float32 same as float64)

[2018-09-06 04:54] #3051 closed

[2018-09-07 05:04] jni commented on #2337
A zombie issue coming back to haunt us!

[code]

[code]

Discovered while working on a failing CellProfiler pipeline. Fun fact: the source of the nan image was also us:

[code]

@bethac07 suggests that we could return the same image back if the range is 0 in rescale intensity. Thoughts?

[2018-09-07 13:42] gst opened #3392 "TypeError when running in Python optimized mode"
## Description
I'm investigating running a project, which use scikit-image, with python optimized mode.
The problem happens because the `_parse_docs()` function try to regex parse a docstring which is None.
I already fixed it on my side and can provide the patch ..

## Way to reproduce
scikit_image ==  0.14.0

`python2.7 -OO -c "import skimage.measure"`

[2018-09-07 14:01] hmaarrfk commented on #3392
I think you meant to do

[code]

I don't know why `scikit_image.measure` doesn't raise a module not found error.

I was able to reproduce this on my machine (linux + conda + python2.7 + pip install, conda install might also cause I problem).

[2018-09-07 14:08] hmaarrfk commented on #3392
sorry emmanuelle, I guess i'm not thinking staight.

@gst, the error:
[code]
is factual. There is no module called `scikit_image` just `skimage` happy coding!

[2018-09-07 14:55] emmanuelle commented on #3373
@jni random walker was written to be insensitive to image magnitude, the ``beta`` parameter is normalized by ``img.std()`` but I just saw that this is a bug, ``beta`` should be normalized by the variance and not the standard deviation. Anyway, I think random walker falls in the category of algorithms (like SLIC) where you have to tune a parameter to get what you want.

[2018-09-07 18:02] gst commented on #3392
oupsss my bad, effectively it's `skimage.measure`

[2018-09-07 19:52] gst commented on #3392
No particular setup, just use `python -O`
**NB:** I'm not using master but **v0.14.x**  given master doesn't support anymore python2..

[code]

[2018-09-07 19:58] stefanv commented on #3392
It would be great if you could check whether this bug persists on Python 3 with the latest master.  If so, you are welcome to submit a patch, as long as it does not adversely impact the current behavior.  Thanks!

[2018-09-07 19:59] soupault commented on #3392
Still nothing 😕 :
[code]

[2018-09-07 20:09] hmaarrfk commented on #3392
@gst, few questions:

1. where did you install scikit-image from? git? pypi, conda?
2. Can you try your install in a fresh environment?
3. Finally it seems that you are running the code from within either the `site-packages` directory, or the git directory. Generally, this is a bad idea as python has trouble finding the right version of the library.

I have a feeling the issue is related to 3 and

[2018-09-07 20:10] gst commented on #3392
and now like most of you I can't reproduce anymore as if optimize mode wasn't enabled anymore while I still use the **-O** option.. hhoooo well ; I've reinstalled in a venv meanwhile, I think I'm going to re-do all from scratch..
if I can't reproduce anymore reliably I'll close..

[2018-09-07 20:12] hmaarrfk commented on #3392
if you are trying to compile it yourself, we've been having issues with the bulid.

I have a feeling it is related to cython (well because python typically updates well). Try `make clean` before you do install it from the git directory.

[2018-09-08 14:15] emmanuelle opened #3393 "Building the docs on CircleCI ?"
For pull requests modifying the documentation (gallery examples, user guide, API), the only way to check the result at the moment is to fetch the branch and build the branch locally (which can be a pain when you want to review quickly a PR). Another possibility could be to use CircleCI, and to look at the html pages of the doc on CircleCI. scikit-learn uses CircleCI for this purpose, for example.

[2018-09-08 15:41] soupault commented on #3393
See https://github.com/scikit-image/scikit-image/issues/2269 :trollface:

[2018-09-09 02:59] jni commented on #1624
@soupault

This is counter to how much of the SciPy ecosystem works. (Not to mention our existing behaviour when we have a `mask=` keyword argument.) So I am :-1: on this proposal and suggest that `True` means 'valid'. One example where this is useful is where using a mask both for indexing (e.g. to do manual processing) and for a masked operation. Or for labeling. It is nice not to have to invert

[2018-09-09 03:02] jni commented on #3393
@soupault @emmanuelle :joy::joy::joy::joy::joy: I think this is the most closely duplicated issue I have ever seen. =D I'm going to close as a duplicate. Personally, I think it's 100% necessary, though.

[2018-09-09 03:02] #3393 closed

[2018-09-09 06:58] soupault commented on #1624
@jni could you, please, provide any pointers to support this statement? When developing `inpaint`, I was taking inspiration from this guide - https://docs.scipy.org/doc/numpy-1.13.0/reference/maskedarray.generic.html#what-is-a-masked-array :
[code]

[2018-09-09 07:11] hmaarrfk commented on #3263
I would like to see bi-weekly to month releases. This would help ensure that developers see a quick return on their investment in the scikit-image infrastructure and encourage them to contribute to scikit-image as opposed to other projects or their personal forks.

Xref mailing list: https://mail.python.org/pipermail/scikit-image/2018-September/005632.html

[2018-09-09 08:31] emmanuelle opened #3396 "Deprecate guess_spatial_dimensions"
As discussed in #3394, ``color.guess_spatial_dimensions`` is only used in one function ``gaussian.filter``. In addition, this function has a "magics" taste that we decided to limit in the future. #3394 proposed to move the useful code of ``guess_spatial_dimensions`` to the ``_gaussian.py`` module.

[2018-09-09 09:41] jni commented on #1624
@soupault

Yes, but NumPy masked arrays are poorly supported and face an uncertain future. Boolean indexing does not. In addition, from [`scipy.ndimage.binary_dilation`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.binary_dilation.html#scipy.ndimage.binary_dilation):

This is true of many other morphology functions in `ndimage`. It's also true of our own functions, such as `w

[2018-09-10 01:04] jni opened #3397 "Audit our code import structure"
## Description
I think we have become a little too lackadaisical in how we reuse our code from different modules *across* modules. Things used across several modules (segmentation, morphology, etc) should probably be moved to "util".

Here is a [user's](https://stackoverflow.com/questions/52242859/file-e-python-lib-re-py-line-229-in-finditer-return-compilepattern-flags) traceback (from SO) after t

[2018-09-10 01:45] hmaarrfk commented on #3392
@gst, I guess it took me some time to understand the bug. Seems like it is the same thing as:

https://stackoverflow.com/questions/52242859/file-e-python-lib-re-py-line-229-in-finditer-return-compilepattern-flags

Please submit your fix for this bug. I would be interested in reviewing it.

[2018-09-10 04:08] hmaarrfk commented on #3392
Hmm, still not able to reproduce though :/ I should just not work past 10pm .....

[2018-09-10 10:08] jmetz commented on #2337
@jni - this is because

[code]

returns `False` (which is essentially the check I added in #2338 ).

I don't think checking the range will work here as expected, or at least e.g. `np.ptp` returns `nan` on a `nan` input array.

Also, even if we were to use `nan`-aware functions, such as `nanmin` or `nanmax`, most threshold functions would likely still choke with **any** `nan` elements.

I would sug

[2018-09-10 12:32] gst commented on #3392
@hmaarrfk this is exactly *that* error :)
**NB:**  my bad, this is with `python -OO` actually, this is what disable docstrings. -O only disables \_\_debug\_\_
I'll submit my PR probably during the day.
( what I don't get is that in a pip --user install with pypi wheel on a computer A I reproduce the error but not on a second computer B.. I'm looking to figure out what's going on )

[2018-09-10 13:37] jni commented on #2337
@jmetz yeah I traced it back to that. Honestly in addition to fixing this, I want to propose that we stop raising ValueErrors on flat images, and instead return the single value of the image. (In this case, it would be `np.nan`. But in cases with single nans, they would be ignored.

As a side note, in addition to the above check, `UnboundLocalError` signals an antipattern. In this case, it should

[2018-09-10 14:42] jmetz commented on #2337
@jni it's not clear to me what the most sensible treatment of flat images would be, though returning the single value sounds like a reasonable approach.

If `nan`s interspersed with non-`nan`s should be ignored we could

a) use `np.ma.masked_invalid` to return a masked version of the image with all invalid values masked
b) go more basic and perform something like `image = image[np.isfinite(image)]

[2018-09-10 16:31] stefanv commented on #2337
On Mon, 10 Sep 2018 14:42:04 +0000, Jeremy Metz wrote:

I cannot think of any other return value that would make sense.  And
throwing an error feels unnecessary.  The user can also interpret that
threshold in a way that makes sense:

[code]

+1 for creating these two issues and addressing them separately,
possibly (b) first.

[2018-09-12 03:45] GenevieveBuckley commented on #3384
Yes to this, definitely. I'd also be ok with @stefanv's solution of not bundling large images, but instead allowing them to be downloaded on demand.

It's hard to get good CC0/public domain scientific images. There was an offer to donate a 3D dataset (https://github.com/scikit-image/scikit-image/issues/2513), that conversation should be revived.

I really want a 5D microscopy dataset available. If

[2018-09-12 07:58] sciunto commented on #3384
@GenevieveBuckley See also #2513

[2018-09-12 18:00] stefanv commented on #2513
@mcquin Is this the same data as https://github.com/scikit-image/skimage-tutorials/blob/master/images/cells.tif, and did we ever clarify the license issues?

[2018-09-13 05:33] stefanv commented on #3379
Why a wiki page, instead of documentation?

[2018-09-13 11:16] hmaarrfk commented on #3379
Because ASV is so new to the team that we are still learning many small tricks to improve development. I would like to contribute some tips, but definitely cannot write a draft of the whole thing.

For now, the wiki would be like a collaborative document. But maybe I can just add them to this thread?

[2018-09-13 13:39] hmaarrfk opened #3404 "Discussion: Simplifying the generation of release notes"
I'm summarizing some of the comments from the mailing list to open this topic up for discussion on github.
Please comment.

Currently the process of generating release notes is done at the time of a release.
Somebody needs to manually parse through all the commits and find all of the ones that are new for this release and summarize them in a one liner.

This is suboptimal for 2 reasons:

1.**Summa

[2018-09-13 15:03] hmaarrfk commented on #3404
I would like to add a suggestion:

At the end of the PR, the PR title should be formatted in a way suitable for inclusion in the release notes.

A demo of how the whole release notes could be generated programmatically can be found:
https://github.com/scikit-image/scikit-image/pull/3405

it might need a little bit of human intervention at the end to put similar PRs close together, but it would off

[2018-09-13 19:25] grlee77 opened #3407 "potential updates related to PyWavelets"
## Description
This issue is just to document a few potential changes related to the PyWavelets 1.0 release that I wanted to document here while they are on my mind. These are potential changes that may be worth making at a future point once the minimum requirement is bumped up to 1.0 (probably best to wait a while still as it was only recently released).

**1. new thresholding mode**
In addtion t

[2018-09-13 19:47] mcquin commented on #2513
@stefanv Yep, same image. The license is CC0.

[2018-09-15 18:08] hmaarrfk opened #3408 "Building the docs within conda"
Does anybody know how to build the docs within a conda environment? I keep getting
[code]

[code]
[code]

[2018-09-16 00:45] hmaarrfk commented on #3408
The answer is that python needs to be compiled with gdbm support. for that to happen, gdbm needs to be present at build time.

These PRs

 * https://github.com/conda-forge/python-feedstock/pull/195
 * https://github.com/conda-forge/staged-recipes/pull/6681

Attempt to fix that. I can confirm that after compiling python myself that this works.

[2018-09-16 00:45] #3408 closed

[2018-09-16 11:44] soupault commented on #3379
I think that Wiki is the preferable solution for:
- WIP features (ASV falls here, for the moment);
- maintenance-related topics (e.g. description of our infrastructure);
- specific (not covered by the upstream docs) questions of using side libraries in scikit-image infra.

[2018-09-17 16:43] mdickinson opened #3410 "Request: make dask[array] an optional dependency"
In #2494, `dask` was made an optional dependency; in #2572, it was removed from `requirements.txt` (following #2571).

It looks as thought for version 0.14.0, `dask` is back to being a [required dependency](https://github.com/scikit-image/scikit-image/blob/master/requirements/default.txt) again. Was this an oversight when the `requirements.txt` file was refactored, or is `dask` now considered to b

[2018-09-17 16:49] mdickinson commented on #3410
From some digging, it looks as though `dask` was reintroduced as a required dependency in #2647: https://github.com/scikit-image/scikit-image/pull/2647#issuecomment-341017541

[2018-09-17 17:00] hmaarrfk commented on #3410
The depenency is on dask[array], which is 3 packages, numpy (check), dask (pure python) and toolz.

I don't think there is much dask in scikit-image today.

[2018-09-17 18:00] mdickinson commented on #3410
Ah, thank you. I'd missed that depending on `dask[array]` doesn't imply depending on all of `dask`. That's helpful.

[2018-09-17 18:27] stefanv commented on #3410
Currently we depend on it for cycle spinning and apply_parallel.

We presumed this would be a very light dependency (https://github.com/scikit-image/scikit-image/pull/2647#issuecomment-341192030).  If that assumption is wrong, we could make it optional again, but @mdickinson it sounds as though it is not problematic for you if it is only `dask[array]`?

[2018-09-17 18:48] mdickinson commented on #3410
Yes, agreed that the `dask[array]` dependency seems very reasonable. As it turns out, it _is_ problematic for us, because our build system doesn't (currently) support partial dependencies like `dask[array]`, so we end up pulling in all the `dask` dependencies. But I think that's clearly our problem, not yours. :-)

Thank you for the quick responses! My question's answered, so I'll close this.

[2018-09-17 18:58] hmaarrfk commented on #3410
@mdickinson I would reopen this, and maybe change the title to "Request: make dask[array] an optional dependency"

I think removing the dask dependency is a reasonable request. On conda for example, the scikit-image now pull in all of dask, which also makes the scikit-image package huge.

Packaging is imperfect. I would support PRs that would aim at isolating the dask dependency from the rest of t

[2018-09-18 01:04] jni commented on #3410
@hmaarrfk here you go. =) Super happy for skimage to increase the pressure for partial dependencies support in conda, though. =P

[2018-09-18 02:32] jni commented on #3404
@hmaarrfk

I totally agree with this and it's the reason I added the "check PR title" tick box in the PR template after releasing 0.13.0. But it's hard to enforce and hard to remember to do when merging is done way at the bottom and the tick boxes are way at the top. A quick web search suggests that there is not currently a way to specify a merge commit template for core devs, though there is a bi

[2018-09-18 02:43] hmaarrfk commented on #3404
The really nice thing about the title of the PR is that it can be changed after the fact, by anybody. Anyway, just a suggestion.

PR #3405 shows how we can autosort the changes too.

We can probably detect a keyword like "Backport" as well.

[2018-09-18 17:47] MalikAsif commented on #1103
i am getting this issue.
from .._shared.utils import warn

ImportError: cannot import name 'warn'
anyone can help

[2018-09-18 18:11] hmaarrfk commented on #1103
@MalikAsif this issue is 4 years old. Please open a new issue and describe the issue you are having from the beginning.

[2018-09-18 21:31] MalikAsif opened #3411 "Error when converting polygon coordinates to mask"
## Description
[Please provide a general introduction to the issue/proposal.]

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Code example
- [ ] Relevant images (if any)
- [ ] Oper

[2018-09-18 22:01] angelaradulescu opened #3412 "Is it possible to plot half-ellipses?"
## Description
Hello, I am wondering if it is possible with the current set-up to only plot half-ellipses. This would be helpful for an eye-tracking application where we are trying to subdivide a 2d screen into several areas of interest.

[2018-09-18 22:55] jni commented on #3412
Hi @angelaradulescu! As far as I'm aware, this isn't possible currently, but it wouldn't be too difficult to add. I'm going to leave this open to see if someone wants to jump in.

[2018-09-18 23:06] jni commented on #3411
@MalikAsif

Here's a few links showing how to share code on GitHub or other help sites, as it's completely unreadable on the title:
- https://guides.github.com/features/mastering-markdown/
- https://help.github.com/articles/basic-writing-and-formatting-syntax/
- https://help.github.com/articles/about-writing-and-formatting-on-github/

Most importantly, we can't help you without being able to repro

[2018-09-19 00:36] stefanv commented on #3412
Arc plotting would be useful to have.  But I am not up to date with the
best and minimal representations of those objects.  Perhaps look at what
Inkscape does, and mimic that in the API?

[2018-09-19 00:44] stefanv commented on #1103
Yes, why not.

[2018-09-19 05:43] MalikAsif commented on #1103
Thanks, got it

[2018-09-19 05:45] MalikAsif commented on #3411
@jni  Thanks, got it,

[2018-09-19 05:45] #3411 closed

[2018-09-19 08:32] MattWenham opened #3413 "GLCM greycomatrix speedup?"
## Description
GLCM `greycomatrix` is often used with both `symmetric = True` and `normed = True` which, looking at the source, are implemented in Python rather than Cython. The use of both these flags together severely slows down the `greycomatrix` by a factor of around 30, i.e. about 97% of the execution time is spent in Python. For an 11x11 input array, I get the following timings:

	29.3 ms ±

[2018-09-19 10:57] MattWenham commented on #3413
Further investigation has shown that the slow part of `symmetric = True` is the line where the matrix transpose is added to the original matrix:

[code]

The significantly slow lines for `normed = True` are the casting to `float64` and the final division by `glcm_sums`.

Since these are all pretty fundamental operations on NumPy arrays, my guess is that it would be difficult to speed them up?

Tha

[2018-09-19 20:16] MattWenham commented on #3413
See PR #3414

[2018-09-21 07:43] Sphinxs commented on #2641
The same for otsu filter

[2018-09-21 09:47] soupault commented on #2641
@Sphinxs could you share how you installed `scikit-image`, and the error traceback you are getting?

[2018-09-24 06:39] jni commented on #2012
Closed by #2532

[2018-09-24 06:39] #2012 closed

[2018-09-24 09:58] hsiaoyi0504 commented on #2978
It seems to me that this can be close. Docs has been already excluded from wheel.
https://github.com/scikit-image/scikit-image/blob/0459233aa88ff199ab9c9312b8b5abf31291875c/setup.py#L207

[2018-09-24 16:16] soupault commented on #2978
Indeed. Conda package does not contain docs as well - https://anaconda.org/anaconda/scikit-image/files .

[2018-09-24 16:16] #2978 closed

[2018-09-24 19:17] itamarst commented on #2981
Looks like the PR was merged, so this should be closed?

[2018-09-25 09:49] jni commented on #2981
@itamarst well spotted!

@mdickinson I am closing this for now. If scikit-image master doesn't fix your problem, please feel free to reopen.

[2018-09-25 09:49] #2981 closed

[2018-09-26 09:09] #2337 closed

[2018-09-26 09:39] MattWenham commented on #3413
My speedups for `greycomatrix` and `greycoprops`, are somewhat negated my merge #2532. In particular, `greycoprops` now _always_ normalises the input array, even if `greycomatrix` has already normalised it. I have moved the normalisation in `greycomatrix` into Cython and it is now considerably faster. I could do the same for the normalisation in `greycoprops`, but ideally, if the input is already

[2018-09-26 12:41] sciunto opened #3419 "Imsave is slow with png files"
Hi,

I recently tried to change the library to save a massive input of images and I discovered poor performances. I moved from cv2 to imageio, and there is a factor 16 with default options on png files. I opened this issue: https://github.com/imageio/imageio/issues/387

The reason of this issue is to check the impact on skimage users.
Here is the result (similar for skimage 0.14.0) ([code to gener

[2018-09-27 01:36] jni commented on #3323
I just saw a blog post that is highly relevant to this discussion:

http://www.leouieda.com/blog/introducing-pooch.html

I'll admit that my strongest reason for wanting to use this library is the cute name. =P But, apart from that, it's designed for exactly the use case we are discussing (here and in #3384), and based on the post, I quite like the design. I think we should contribute there and use

[2018-09-27 01:56] jni commented on #3419
@sciunto I'm 100% behind the idea that both Tiff and png should have compression by default. As to jpg, iirc we have a very high quality default, but I like that, because jpg artifacts are the worst, *especially* in scientific applications.

But png and tiff compression is lossless, so we should definitely turn it on with a sensible default. Plus, my understanding is that compression + small IO ca

[2018-09-27 04:58] stefanv commented on #3323
Nice! This is perfect: simple, Pythonic, and Good Enough For Now.

On September 26, 2018 18:36:46 Juan Nunez-Iglesias
<notifications@github.com> wrote:

[2018-09-27 08:11] sciunto commented on #3419
OK. I propose to [test it](https://gist.github.com/sciunto/1edd33b542ff549772cec0ab1340d73b).

First run, with `data.camera()`
[code]

Second run for `data.hubble_deep_field()`
[code]
In both cases, zero compression is faster to read and to write.

[2018-09-27 15:07] hmaarrfk commented on #3323
@jni, it seems that the 1 feature that is missing is a `fetch_all` function. Seems pretty easy to write a loop ourselves, but I wanted to bring up the "offline" requirement that was made earlier.

[2018-09-28 01:36] jni commented on #3323
@hmaarrfk yes, I noticed that, but I think it's a trivial fix that we can make either locally or upstream.

[2018-09-28 03:55] sciunto commented on #3419
Closing. looks like you and upstream prefer to use massively CPU power...

[2018-09-28 03:55] #3419 closed

[2018-09-28 04:16] jni opened #3425 "Threshold functions should handle problematic images gracefully"
## Description
In #3402, I added a whole bunch of checks to Li thresholding so that it could handle:

- "flat" images containing only one value (return that value)
- problem images containing `np.nan` (ignore `np.nan` values in the image)
- images containing `np.inf` (ignore inf values)
- images containing *only* `np.inf` and `-np.inf` (return 0)

I think that these pathological images should get

[2018-09-28 15:12] hmaarrfk commented on #3425
I like the idea of consistent behaviour.

That said, I also think that this kind of "sanitization" becomes expensive quickly.

`isnan`, `isfinite`, boolean accessing, `min`, `max`, are all `O(N)`, but for images they are really `(n^2)`. I know this pales in comparison to an `O(N^2)`, for images an `O(n^4)`, algorithm, but these things add up.

I would really be interested in ways of turning off th

[2018-09-28 15:17] hmaarrfk commented on #3419
FWIW: I also noticed that png was taking a LONG time to compress and wasn't
always giving great compression results. I was probably using imageio
directly though.

On Thu, Sep 27, 2018 at 11:55 PM François Boulogne <notifications@github.com>
wrote:

[2018-09-29 02:00] jni commented on #3425
@hmaarrfk Let's just say O(N) where N is the number of pixels. Took me a while to figure out what you meant by O(N^2).

Anyway, I agree, the checks are quite expensive, and what's worse, currently I do these checks multiple times (one for flatness, one for nan, one for inf...). To do this right we would need a Cython function that does a single pass through the image, and yes, a way to turn it off

[2018-09-29 02:16] hmaarrfk commented on #3425
@jni the way you implemented it is fine. Actually it might be the fastest way because modern computers can vectorise.

But yea, I don’t think we should be slowing things down for a santization step that can be done once in a pipeline.

[2018-09-30 12:35] soupault opened #3430 "Handle `normed` to `density` deprecations in `histogram`"
## Description
See https://github.com/scikit-image/scikit-image/pull/3427 and the related issues.

[2018-09-30 19:59] tispratik commented on #2293
Afaik, opencv reads images in BGR format, so you always have to have the step to convert BGR to RGB like below:
`cv2.cvtColor(image, cv2.COLOR_BGR2RGB)`

[2018-10-01 22:17] stefanv commented on #3384
A note that https://github.com/fatiando/pooch is being discussed [here on #3323](https://github.com/scikit-image/scikit-image/issues/3323)

[2018-10-01 23:19] muepsilonpsi opened #3436 "How do I suppress warnings for future deprecation?"
I am running skimage 0.14 on python3.6 on Ubuntu. How do I suppress these incessant warnings for future deprecation?

[code]

[2018-10-02 00:20] hmaarrfk commented on #3436
Can you show us the calling code? You should likely specify some kwargs, maybe `mode` in the calling function.

Maybe we should use the `stacklevel` parameter to hint at where these parameters should be specified?

[2018-10-02 10:10] jmetz commented on #2293
Thanks for the catch @tispratik - unfortunately it doesn't change anything.

The updated version (which also compares to saving with cv2 to begin with):

[code]

This gives very similar output to before (i.e. the SAD score is still non-negligible for all comparisons):

[code]

[2018-10-02 12:44] hmaarrfk commented on #2293
@jmetz I can't seem to be able to reproduce.

I'm using conda+conda-forge to install everything and scikit-image 0.14.0
[code]

OpenCV version is `3.4.3`.

[code]

[2018-10-02 12:48] jni commented on #2293
@hmaarrfk why not 0.14.1? ;)

[2018-10-02 12:52] jmetz commented on #2293
Hi @hmaarrfk - curios, I have the same `skimage` and `cv2` versions, though I imagine it simply means that on my system `skimage` and `cv2` use a different encoder as pointed out by @stefanv.

IMO this is more a curiosity rather than anything else and simply related to the JPEG library used under the hood by `cv2` vs `skimage` - I replied to @tispratik with the updated code as there seemed to be t

[2018-10-02 13:06] hmaarrfk commented on #2293
@jmetz, what OS are you on? I am on linux+conda-forge. If jpeg is really important this seems like a serious issue. You can try `conda` and `conda-forge` for more updated versions of packages.

@jni I didn't use 0.14.1 because we changed the default plugin backend. That said, 0.14.1 also doesn't see any differences between scikit-image and opencv.

[2018-10-02 13:46] jmetz commented on #2293
@hmaarrfk - I'm on linux also (`Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64 GNU/Linux`), but use standard pip and a python install alongside the system python.
My guess is that my less polished approach to my python package management is why opencv and scikit-image are using different JPEG libraries, while as you installed everything via conda's ecosystem they're probabl

[2018-10-02 13:52] hmaarrfk commented on #2293
Seems like a pretty serious error to have. Even if we attribute `360_851` to rounding errors, it is alot more than the *allowable* `100 * 100 * 3 = 30_000` rounding errors.

Glad to hear that vanilla anconda also works. I specified conda-forge because they basically repackaged most things and some C libraries might differ and be incompatible.

[2018-10-02 13:56] hmaarrfk commented on #2293
You are totally right, the pip install is strange! I'm on Ubuntu 16.04.

Well if somebody wants to get to the bottom of this they should likely file an issue with imageio/PIL or OpenCV

[2018-10-02 13:59] jmetz commented on #2293
@hmaarrfk  - to point again to @stefanv's comment,

it highlights why such a big discrepancy isn't that strange; as JPEG basically throws away what it deems as unimportant information (via the discreet cosine transform) in order to compress the data, it's not that surprising that the sum of the pixel-level differences are much much higher than rounding error, as we're not dealing with rounding err

[2018-10-02 14:00] jmetz commented on #2293
*Albeit slightly different version of (in theory) the same compression algorithm that is!

[2018-10-02 14:43] hmaarrfk commented on #2293
I'm only interested in the line: `print(np.sum(np.abs(datacv2.astype(int)-dataskio.astype(int))))`

Decompression should yield identical results no?

[2018-10-02 15:06] jmetz commented on #2293
Ahh I see your point, and why that could potentially be the case.
I wasn't sure either but found this discussion: https://groups.google.com/forum/#!topic/rec.photo.digital/yAxoW9HyHPQ

To summarise; there should be only one way to decode a JPEG, but apparently some libraries / applications take short-cuts to optimise the decode speed, creating different decodings.

[2018-10-02 15:15] hmaarrfk commented on #2293
@jmetz whoa, I didn't know that. That is super useful to know. I always thought the loss process was only during the encoding stage! Thanks

[2018-10-02 15:32] hmaarrfk commented on #3436
@muepsilonpsi I'm sorry you are dealing with strange warnings. I opened a PR that should hopefully help this for future users, https://github.com/scikit-image/scikit-image/pull/3438 , although it will only be out in 0.14.2 or 0.15.0 :/

As for you, this is a BIG UGLY HACK, but I think it might help you. You could:

1. Open the file `/home/my/anaconda3/lib/python3.6/site-packages/skimage/transform/

[2018-10-02 15:58] hmaarrfk commented on #3397
While this doesn't seem important, I just ran into this issue when trying to import a support function `warn` from the internal `_shared` directory.

https://github.com/scikit-image/scikit-image/pull/3438

[2018-10-02 16:38] hmaarrfk opened #3439 "Code audit: What are setup_test and teardown_test"
They are a little everywhere in the __init__.py files in the test directories. It seems like some artifact from nose.

Are they still needed now that the migration to pytest is done?

[2018-10-02 20:53] stefanv commented on #3339
It looks like the backporting is working pretty smoothly now?  If so, time to add this to the developer guidelines and close.

[2018-10-02 22:00] stefanv commented on #2293
For those who are curious about the "lossy" part of JPEG encoding, it occurs when JPEGs perceptual model is applied—the part that says our eyes care less about certain frequencies than others.  More about JPEG quantization factors at https://en.wikipedia.org/wiki/JPEG#Quantization

@jmetz I never knew about the decoding approximations & shortcuts; good to know!

[2018-10-02 22:08] stefanv commented on #3397
Currently, functionality lives where they best belong, and gets used from other submodules where appropriate.  So, yes, this sometimes make these chains.  But what do you prefer—that functions with clearly defined submodule homes live in a general utilities module instead?

[2018-10-02 22:09] stefanv commented on #3439
These are probably still executed? https://docs.pytest.org/en/latest/xunit_setup.html

[2018-10-03 01:17] jni commented on #3397
@stefanv (a) but "best" is often debatable. Looking at our import graph could show where functionality might best be moved. In the traceback above, does the laplacian filter really need to live in `restoration.uft`? (b) things that are used elsewhere could indeed live in util or _shared and get imported in modules where we want them to be exposed publicly. Internally we would use util.

I honestly

[2018-10-03 20:14] fbudin69500 opened #3445 "Bug in `skimage.transform.resize()`"
## Description
I resized one image on two different computers and got images that were slightly different (see below how to reproduce the problem).

In the Python notebook included in the small helper project to reproduce the problem, an image shows where there are differences between the images computed on the two different computers. The differences appear to be aligned on several lines. In the

[2018-10-03 21:09] hmaarrfk commented on #3445
I'm trying to recreate your issue, but the ipython notebook doesn't seem to fully contain the issue.

Is there a way to recreate the issue in a single notebook?

[code]

[2018-10-03 21:17] fbudin69500 commented on #3445
I created the Python notebook (`CompareImages.ipynb`) as a mean to visualize the results. Since the process has to be run on two different computers, it was easier for me to create a simple Python script to run manually in the terminal to generate the output image (`script-resize.py`).

So the way to recreate the issue is:
1) Run `script-resize.py` on different computers
2) Load the results in the

[2018-10-03 21:20] fbudin69500 commented on #3445
Note that I have try to generate an input image that only contained a limited amount of information, with just a couple rectangles, and the problem was not visible when using that image.

[2018-10-03 21:44] hmaarrfk commented on #3445
I have a feeling that it is due to rounding errors in how the indices are chosen for the subsampling. This could be related to the specific versions of the underlying libraries that are installed on your system.

Maybe you can step through the code to find where things are different.

It could be related to `scipy.ndimage`

[2018-10-03 21:50] fbudin69500 commented on #3445
It could indeed be a bug in `scipy.ndimage`. On both machines I have the same version: 1.1.0, and also the same numpy version: 1.14.5

[2018-10-03 21:51] hmaarrfk commented on #3445
pip or conda?

[2018-10-03 21:52] fbudin69500 commented on #3445
pip. Maybe I should create a docker image to enforce reproducibility.

[2018-10-03 21:53] hmaarrfk commented on #3445
I mean, first step through the code, and find out which line is different exactly. you know from your output exactly which row/col indices are different

[2018-10-04 07:29] ratijas commented on #458
Since LaTeX / latexpdf build is _great again_, I would propose adding a pdf file to the scikit-image website available for download. Not sure where to start though. Can someone point me out to the website build configuration, please?

[2018-10-04 07:35] stefanv commented on #3397
I wonder if @njsmith has any advice, based on
https://vorpus.org/blog/beautiful-tracebacks-in-trio-v070/

[2018-10-04 09:17] jni commented on #3445
I think this is a duplicate of https://github.com/scikit-image/scikit-image/issues/2629. It appears to be caused by rounding errors depending on the underlying BLAS library. I don't know what the right fix is, but I'm unhappy with the one proposed [here](https://github.com/scikit-image/scikit-image/pull/2648#issuecomment-301671206). (Looks like I owe @stefanv a response from a year ago :joy:)

[2018-10-04 09:52] jni commented on #458
The scikit-image website lives on another repo, https://github.com/scikit-image/scikit-image-web

[2018-10-04 10:19] vianamp opened #3446 "skeletonize_3d gives FutureWarning"
The function `skeletonize_3d` is giving me the warning message below. I have scikit-image        0.14.0  installed on Python 3.6.

[code]

Example:

[code]

[2018-10-04 11:18] soupault commented on #3446
Hi! This deprecation has been already addressed in https://github.com/scikit-image/scikit-image/pull/3238/files#diff-4cda95b51cda6eb78a1b4fed2d1b3a2bL172. If you would like to get rid of it, I'd recommend you to update to scikit-image 0.14.1.

[2018-10-04 11:18] #3446 closed

[2018-10-04 14:12] fbudin69500 commented on #3445
I just ran the notebook provided in #2629 on my two computers, both running Ubuntu 18.04, and I get the same result on both. So the problem I am experiencing is likely different. I haven't had time to debug both code step by step yet.

[2018-10-04 19:47] soupault commented on #3299
Closed via #3368

[2018-10-04 19:47] #3299 closed

[2018-10-04 20:19] soupault commented on #3425
I actually think that we will face several way of sanitizing the input, depending on the function type (for example, in functions where the input shouldn't be flatten, just selecting the non-nan pixels doesn't make much sense).
We shall still be able to factor those checks out, but the common will become quite complex and flexible.

[2018-10-04 23:10] jni commented on #3425
@soupault, indeed, that's why I said "global", above. =) Local thresholding is a whole new kettle of fish.

[2018-10-05 02:44] jni commented on #3445
Since all of these things are about tiny numerical instabilities, they may well manifest in different test cases for different machine/OS/BLAS combinations. @fbudin69500 one idea would be to try the hacky fix in #2648 on your problem, and see whether you stop seeing the difference.

[2018-10-05 05:36] sciunto commented on #3445
@jni At least, we could add a note in the docstring.

@fbudin69500 Do the two computers have different architectures?

[2018-10-05 14:28] fbudin69500 commented on #3445
@jni Thanks for the tip. I compiled scikit-image at that specific PR (#2648) and it seems that it solves my issue (https://github.com/fbudin69500/debug_scikit_image_resize-/blob/resize_with_scikit_image_pr_2648/CompareImages.ipynb).

@sciunto : For reference, I added that information in the readme file in the debug project I created (https://github.com/fbudin69500/debug_scikit_image_resize-).

CPU

[2018-10-06 02:49] jni commented on #3263
Hi everyone,

I'm back on this topic after dropping it for a while. =)

First: I promised a way to submit anonymous comments, and now I finally have it:
https://PollEv.com/juannunezigl611

The site above assures me that comments are completely anonymous by design, with zero knowledge even from the developers/admins. Please share this link! Together with the link to the blog post.

About some of th

[2018-10-06 13:38] sciunto commented on #3384
Do we start a new repository to push our new images?

[2018-10-07 02:02] jni commented on #3384
@sciunto I don't know whether a repository is the right place to store big images, compared to something like Figshare or the Open Science Framework. And if we are going to store *some* files on one of these storage platforms, perhaps we might as well store all of them?

[2018-10-07 20:59] hmaarrfk opened #3448 "Deleting defunct bot branches?"
I think early on with experimenting with the bot, many branches were created for backports. They add a lot noise on upstream.

Thanks!

[2018-10-08 02:19] AetherUnbound opened #3449 "Denoise throws ValueError"
## Description

`_denoise_cy.pyx` throws a `ValueError` saying a `double` was expected but a `float` was received.

[code]

## Way to reproduce

- [X] Code example
[code]
- [ ] Relevant images (if any)
- [X] Operating system and version: Ubuntu 16.04
- [X] Python version
[code]
- [X] scikit-image version (run `skimage.__version__`)
[code]

[2018-10-08 04:29] jni commented on #3449
Holy moly! I believe #3110 introduced this: before, we would have upconverted your array to float64.

@hmaarrfk added some nice fused typedefs in #3253. We should fast-track that so that we can use Cython fused types for float everywhere doubles are used currently — including in `denoise_bilateral`.

[2018-10-08 04:32] hmaarrfk commented on #3449
@jni, I think you should just pull out the relevant file. I'll deal with the conflicts later.

[2018-10-08 07:51] soupault commented on #3448
All addressed.

[2018-10-08 07:51] #3448 closed

[2018-10-08 12:03] hmaarrfk commented on #3448
Thanks!

[2018-10-08 12:36] ni3-k commented on #1786
If this issue is still need to be resolved, can I work on this?

[2018-10-08 12:39] jni commented on #1786
@ni3-k you can definitely work on this! But note that our convex hull code has changed quite a bit since this issue was raised. In particular, we now support 3D images. However depending on the speed difference between the current implementation and the proposed one, you could use different implementations for the 2D and 3D cases.

[2018-10-09 09:07] lagru commented on #2097
The current implementation and usage introduced with #1916 doesn't show the behavior @stefanv intends. For that the default stacklevel would have to be 3 because `_shared.utils.warn` itself adds one stacklevel. This would cover most cases inside public functions. For callers that are more stacklevels deep this should be set manually.

If you agree, I'll raise a PR.

Also, what was the reasoning fo

[2018-10-09 11:43] hmaarrfk commented on #2097
@lagru see https://github.com/scikit-image/scikit-image/pull/3438 help would be appreciated.

[2018-10-09 11:58] sciunto opened #3462 "order the examples in our gallery"
## Description

As suggested by @emmanuelle in #3388, it would be interesting to use the [ordering feature of sphinx-gallery](https://sphinx-gallery.readthedocs.io/en/stable/advanced_configuration.html?highlight=sorting#sub-gallery-order) a set a more logical order among sections and examples (eg operation on numpy arrays could come among the first ones).

[2018-10-09 12:29] apiszcz opened #3464 "open peak_local_max TypeError: slice indices must be integers or None or have an __index__ method"
The example given [here](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_peak_local_max.html) works fine.
On a larger image I am testing, the following error message occurs.

(Pdb) coordinates = peak_local_max(b1, min_distance=pixelseparation, num_peaks=n, indices=True)
*** TypeError: slice indices must be integers or None or have an __index__ method

- [ ] Operating system and ve

[2018-10-09 13:48] #3464 closed

[2018-10-09 13:49] hmaarrfk commented on #3464
Fyi. There is some talk about having a preserve range argument to many of the functions.

[2018-10-09 13:51] apiszcz commented on #3464
I need to read the documentation again, I'm guessing I missed it. Thanks for the reply!
Preservation would be good, but not needed in my case, it would save 'memory' with large images.
I will index back into the original data.

[2018-10-09 13:59] hmaarrfk commented on #3464
Alright, seems like peak_local_max has enough parameters for your to play with to get the normalization done correctly.

Normalizing huge matricies isn't free, so maybe you'll find them useful.

Goodluck

[2018-10-09 17:50] apiszcz opened #3465 "peak_local_max min_distance not working?"
peak_local_max does not appear to be separating the peaks by minimum distance.
In this example min_distance=277, num_points=3, indices=True
skimage = 0.14.1
python 3.5
Windows 10

In this example the points are separated by 3 pixels vertical, and 1 pixel minimum adjacent.

![image](https://user-images.githubusercontent.com/1430861/46687929-1fac0680-cbca-11e8-9c3c-46b27ae8196a.png)

[2018-10-09 18:32] hmaarrfk commented on #3465
Thank you for the bug report. That definitely looks strange.
Can you please post the full code that would reproduce this?

This might be challenging to do so here are some tips:

1. Try to slice your array into a small array that reproduces the problem.
2. Once the array is small enough, numpy should display it all on the repr.
3. Put the output of the repr into a `np.asarray()` call, and try to r

[2018-10-09 18:49] apiszcz commented on #3465
The sample file/data is 18MB can I post it somewhere? I converted to greyscale and still have same behavior.  I am seeing this issue with multiple images it is not an isolated problem.

[code]

[2018-10-09 19:05] hmaarrfk commented on #3465
I understand your full dataset is very large. I don't think the best solution is to share it as is.

What if you select only a very small portion of the data? Say a 20x20 region around the problematic area.

Can you still recreate the problem?

If you can do that, we may:
1. Be able to solve the problem.
2. Integrate that small piece of data into the tests so the problem never shows up again.

[2018-10-09 19:07] apiszcz commented on #3465
[test_array.gz](https://github.com/scikit-image/scikit-image/files/2461828/test_array.gz)

Here is a small section, it produces another incorrect result. The highest value peaks are near the center of the image

![image](https://user-images.githubusercontent.com/1430861/46692363-13797680-cbd5-11e8-9dec-6076fc135730.png)

[2018-10-09 20:06] hmaarrfk commented on #3465
@apiszcz I really want to thank you for sharing with us this data.

For example, running the little bit of information you gave me gives an output that is consistent with the documetnation:

[code]
(P.S. next time, if possible, please provide this kind of code)

output
[code]

The values at the 3 coordinates are local maximas.

According to the [documentation](http://scikit-image.org/docs/dev/api/

[2018-10-09 20:15] #3392 closed

[2018-10-09 20:18] sciunto opened #3466 "Issue with marching cube example in gallery"
## Description

I just noticed that... http://scikit-image.org/docs/dev/auto_examples/edges/plot_marching_cubes.html#sphx-glr-auto-examples-edges-plot-marching-cubes-py

[2018-10-09 20:58] apiszcz commented on #3465
Hmm..

(Pdb) b1
array([[255., 255., 255., ..., 181., 180., 186.],
       [255., 255., 255., ..., 188., 192., 255.],
       [255., 255., 255., ..., 198., 198., 255.],
       ...,
       [177., 181., 186., ..., 255., 255., 255.],
       [179., 180., 183., ..., 255., 255., 255.],
       [180., 180., 181., ..., 255., 255., 255.]], dtype=float32)

[2018-10-10 00:19] hmaarrfk commented on #3465
@apiszcz what difference am I supposed to see?

You really won't insult me if you spell it out word for word. Your examples don't include any import statements, nor is it clear if it is important to be in `pdb`.

[2018-10-10 11:13] sciunto opened #3468 "Add ".. versionadded::" information in docstring"
## Description

It happened to me several times to wonder when a feature appeared in our library. The information is not so easy to get: through git or through the documentation.

Numpy and scipy use `.. versionadded::` which is extremely useful.

* Would you think we should adopt this?
* Of yes, should we backport this feature? ie, add this information on previously added features (over a reasona

[2018-10-10 18:54] apiszcz commented on #3465
My issue was caused by rescaling in one case, and NOT rescaling in another.
I'm guessing others may run into the same issue.
I am starting to understand the parameters now, getting expected output.
Thank you.

On Tue, Oct 9, 2018 at 8:19 PM Mark Harfouche <notifications@github.com>
wrote:

[2018-10-10 19:01] hmaarrfk commented on #3465
I don't entirely understand but I suspect it has to do with rounding errors
for floating point numbers?

On Wed, Oct 10, 2018 at 2:54 PM apiszcz <notifications@github.com> wrote:

[2018-10-11 03:06] jni commented on #3468
Fascinating! In my head I thought we were already using it! I'm very much in favour of doing it. Checklist:

- [ ] update developer guidelines
- [ ] add for some existing docstrings

For the second one, I will not be opposed to any effort to do this, but it is not high-value enough for me to get motivated to go do it. We have many other fires to put out. But, as I mentioned, if someone wants to do

[2018-10-11 05:54] emmanuelle commented on #3468
Is this something that we should do manually, or should we write a script to add the tag to new functions, and remove the ones of old versions?

[2018-10-11 06:32] jni commented on #3468
@emmanuelle can you elaborate? How do you plan the script to work? What do you mean "remove the old ones of old versions"?

[2018-10-11 08:37] sciunto commented on #3468
I think it must be done manually. The number of new functions is not so large / release and this can be indicated during the review process if missing.

To complete the idea, this feature works like

[code]
So, no need to update or remove.

As for [this function](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.unique.html), we can also add the information to parameters to indicat

[2018-10-11 09:11] soupault commented on #3468
Apparently, I have a quite unpopular opinion, but I think that adding `.. versionadded::` is a bit redundant. So far we've been writing very informative and structured release notes, so I, personally, doesn't see an issue looking for a specific change in the notes. Another thing is that maintaining such flags might be quite expensive in terms of efforts, and it's also unclear when to remove them.

[2018-10-11 09:13] soupault commented on #3468
@sciunto Don't seem to render in that page. Is there another example?

[2018-10-11 09:16] sciunto commented on #3468
I've never seen a rendering of that...

[2018-10-11 09:49] jni commented on #3468
@soupault that *is* unpopular! =P

As a library gets a bit of a history, it's very nice to know, especially for package maintainers, when a feature was added, immediately from the feature docstring. Structured release notes still means scrolling or Ctrl-F-ing through multiple pages of irrelevant content until you find the release notes for the version that added the feature you are interested in.

[2018-10-11 12:45] sciunto commented on #3468
looks like these rendering issues have been fixed in the dev version of the documentation (no comprehensive check though...).

[2018-10-12 15:46] sciunto commented on #3277
As we do not have replies for precisions, I close this issue. If this happens again and you get more details, please reopen.

[2018-10-12 15:46] #3277 closed

[2018-10-15 03:10] jni commented on #3263
@hmaarrfk huh? Nelle proofread this post before it was posted, and the BIDS sprint is acknowledged twice in it. =) If you mean she might want to put it in a central location, then yes, she might. =P

I have so many more posts (in my head) from that though. Life is way too short. LOL

[2018-10-15 04:11] winston-li opened #3473 "random_walker raises ValueError in v0.14.1, while works in v0.13.1"
## Description
If there are M objects in an image to segment, and N markers are provided where M > N.
If the N markers are exactly the same as N objects of those M objects in the image, random_walker would be OK in v0.13.1, while failed in v0.14.

Traceback
[code]

## Example code to reproduce
[code]

[2018-10-15 07:58] jni commented on #3473
Weird! I don't recall changing `random_walker` code recently, but that means very little in itself! =P

Thanks for the report, @winston-li, we'll investigate and report back here!

[2018-10-15 14:28] robroooh commented on #3466
is anyone currently working on this? I would like to work on this issue. it's my first contribution.

[2018-10-15 14:31] sciunto commented on #3466
Nobody identified :) Welcome and please go ahead!

[2018-10-15 15:17] hmaarrfk opened #3475 "lookfor is broken with cython == 0.29.0"
## Description
`lookfor` seems to be broken on travis.
See failures on PR https://github.com/scikit-image/scikit-image/pull/3472

I can reproduce this on my machine with pip. Seems to be potentially related to Cython

@jni found
[code]

## TODO

* [ ] Remove version constraint in requirements/build.txt

[2018-10-16 09:48] sciunto commented on #3475
Should we restrict the cython version until this issue is fixed to make travis happy again?

[2018-10-16 09:56] jni commented on #3475
Only if we confirm that it's indeed Cython. As I described, this happened on a clean install with Cython 0.28.2 for me. I guess submitting a PR would tell us the answer... ;)

[2018-10-16 11:39] sciunto commented on #3475
@jni. Cython is guilty :)

[2018-10-16 11:52] jni commented on #3475
@sciunto 🕵🏻‍♂️👮🏻‍♂️👨🏼‍⚖️

[2018-10-16 19:16] hmaarrfk commented on #3475
I think relevant cython issue is: https://github.com/cython/cython/issues/2662

[2018-10-16 22:15] jni commented on #3475
@hmaarrfk spot-on find! Great news that it's made its way upstream.

[2018-10-17 07:15] soupault commented on #3475
Addressed via #3479

[2018-10-17 07:15] #3475 closed

[2018-10-17 10:14] soupault commented on #3466
Closed via #3474

[2018-10-17 10:14] #3466 closed

[2018-10-17 11:04] cdluminate commented on #3237
I encountered the same problem with python 3.6 and skimage 0.14.1

[2018-10-17 11:52] hmaarrfk commented on #3237
Do you have an interpretation of what is going on?

[2018-10-17 11:54] cdluminate commented on #3237
@hmaarrfk No idea. I re-ran the test and the failure disappeared...

[2018-10-17 12:31] hmaarrfk commented on #3237
Ah i thought maybe you encountered it in a meaningful data analysis pipeline.

[2018-10-17 15:03] hmaarrfk commented on #3237
This is some issue with some `pi` phase wraparound:

[code]
[code]

[2018-10-17 23:27] hmaarrfk commented on #2956
@serge-sans-paille just listening to your talk from 2015 in Paris. Pretty awesome stuff.

I hope your PR goes through. I never liked having to write low level code in Cython again. I hope your PR goes through :D Excited to use it as a template.

[2018-10-18 00:34] stefanv commented on #3466
Does anyone else notice the "Note" at the top of the examples now? Annoying!

[2018-10-18 03:00] jni opened #3482 "Doc suggestion: add sphinx-copybutton to the docs"
See the sphinx-copybutton README for details:

https://github.com/choldgraf/sphinx-copybutton

[2018-10-18 03:07] jni opened #3483 "Build suggestion: add circle-CI docs preview to pull requests"
Another suggestion from following @choldgraf on twitter, who is on :fire: :fire: :fire:.

See his blog post here for instructions:

https://predictablynoisy.com/circle-documentation-build

We've had a couple of docs formatting issues recently so I think this would be super-valuable.

[2018-10-18 03:13] hmaarrfk commented on #3483
https://github.com/scikit-image/scikit-image/issues/2269

[2018-10-18 03:38] choldgraf commented on #3483
FWIW, using circle *only* for building documentation can keep it relatively maintenance-free. Usually I still build the documentation in Travis, so use that to make sure it builds on all the different python versions etc, and use Circle *only* to preview the built documentation (which usually is "just" a matter of copypasting the code in that blog post into the `config.yml` file, and modifying it

[2018-10-18 04:13] hmaarrfk commented on #3465
@apiszcz has this conversation solved your issue? If so, could you please close this issue?

Let me know if you have any more questions.

[2018-10-18 04:54] #3465 closed

[2018-10-18 13:52] hmaarrfk opened #3484 "ASV build matricies"
I think the benchmarking suite is very verbose.

https://github.com/scikit-image/scikit-image/blob/335de9824592939c95f63019dfb5a7f3133a0538/asv.conf.json#L58

 * I don't think we need six anymore, but maybe when we run historical benchmarks?
 * I don't think we should pin matplotlib. Very little actually uses it.

Currently, the matrix will build 2 * 2 * 2 * 1 * 1 = 6 environments. This is a littl

[2018-10-19 12:16] raaj043 opened #3487 "Error in documentation"
## Description
[Reading grey scale images]
Please update the documentation for reading grey scale images. The document shows 'as_gray=True', where as it should be 'as_grey=True'. I hope this is a spell mistake.

Thanks,
Basavaraj Hampiholi

[2018-10-20 00:34] jni commented on #3487
@raaj043 as an adopted Australian, I sympathise, but scikit-image has a policy of using US spelling everywhere, so indeed, although it used to be `as_grey`, the correct version going forward is `as_gray=`.

[2018-10-20 00:34] #3487 closed

[2018-10-20 19:48] emmanuelle commented on #3473
@jni the change might have been introduced in https://github.com/scikit-image/scikit-image/commit/25ec5a4c2e575ff05853613f3fd0372d87edbe39#diff-f5e00dc483bcaeb6c1b8278dbce09c68
I will investigate it.

[2018-10-20 20:29] emmanuelle commented on #3473
@winston-li in the example shown, the random walker algorithm cannot do anything, because the only undetermined pixels (0-valued pixels of the mask) are not connected to any seed pixel (values of the mask > 0), they are only connected to -1 values (corresponding to masked pixels, not taken into account). So, although the error message is cryptic and should be improved, I would not have expected an

[2018-10-20 20:47] emmanuelle commented on #2635
I could not reproduce the problem. Has the issue been corrected recently?

[2018-10-21 00:14] jni commented on #2635
@emmanuelle turns out it has, in #3284, which was fixing a duplicate of this issue, #3278! And **oops**, we forgot to backport it! :man_facepalming:

[2018-10-21 00:15] jni commented on #2635
I'm going to close this and start a backport there. Thanks for spotting this, @emmanuelle!

[2018-10-21 00:15] #2635 closed

[2018-10-21 08:46] winston-li commented on #3473
@emmanuelle  I ran into it while doing post-processing of predictions (objects and markers) of neural networks. I'd expect it worked like v0.13.1 in this case, which random_walker returns the pixels labeled the same as provided markers. Definitely hope not get error/exception, as it indeed happens in some real cases, where some objects to be segmented are exactly the same as all provided markers p

[2018-10-21 09:04] emmanuelle commented on #3473
@winston-li ok, but then the problem here is that 0 corresponds to unmarked pixels, not to a label, and that these zero-valued pixels are not connected to any markers so that it's impossible to attribute them a label. Does that make sense?

[2018-10-21 14:35] winston-li commented on #3473
@emmanuelle Yes. Those zero-valued pixels are not connected to any markers, so it's reasonable not to attribute them a label. In v0.13.1, the output_labels in the example code is
[code]
It ignored those non-markers-connected zero-valued pixels.
Thanks.

[2018-10-21 22:31] drsxr commented on #2653
Disappointing, as I have to use numpy for flipping, scikit learn for rotation, and cv2 for other things.  Limits my interest in using scikit-image.

[2018-10-21 22:40] hmaarrfk commented on #2653
the Notation numpy uses isn’t really specific to numpy. It is at the core of all of python.

[2018-10-22 01:21] hmaarrfk opened #3492 "Cython 0.28.0 and read only memory views"
I noticed this comment in:

https://github.com/scikit-image/scikit-image/blob/a966c99ca10eb6dfa014d961e3b576c1c4c967b3/skimage/feature/_haar.pyx#L263-L271

Apparently Cython 0.28 implemented this https://cython.readthedocs.io/en/latest/src/changes.html#id16

I've never used joblib before, but is this a feature scikit-image is interested in using? This would bump up the minimum requirement of Cytho

[2018-10-22 07:54] soupault commented on #2653
@drsxr could you elaborate on your suggestion?
From the common perspective, adding a thin wrapper around `np.flip` doesn't add anything to the functionality of the ecosystem (especially, when `scikit-image` is built on top of and tightly integrated with NumPy and SciPy), while moderately increases the maintenance burden for the developers.
For rotation, I'm not sure that `scikit-learn` provides th

[2018-10-22 08:55] sciunto opened #3494 "Return cross corelation images for all our matching algorithms"
## Description

See this comment: https://github.com/scikit-image/scikit-image/pull/3334#issuecomment-428586974

The idea is to provide cross correlation (CC) images for our different algorithms. Currently, 'match_template' does not.
Related idea, put this CC functions in a dedicated file.

Assigned to myself.

[2018-10-22 09:11] jni commented on #2653
@drsxr note that scikit-image requires NumPy to function, and really NumPy is a prerequisite for almost anything we do, so it doesn't make sense to duplicate that functionality: if you have installed scikit-image, you have installed NumPy.

Also, note that in addition to the above slicing suggestion, NumPy provides the functions `np.fliplr` (left-right) and `np.flipud` (up-down).

[2018-10-22 12:25] LaurentRDC commented on #3330
Since #3334 has been merged, I'm closing this.

[2018-10-22 12:25] #3330 closed

[2018-10-22 12:39] hmaarrfk commented on #2653
@jni I totally forgot about the `np.flip` functions. For images that might have color channels, you will probably want to have more control with [np.flip](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.flip.html#numpy.flip)

[2018-10-22 12:45] hmaarrfk commented on #2653
@jni I totally forgot about [np.flip](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.flip.html#numpy.flip) which provides an additional axis argument.

For reference, those are really convenience functions, and just call index with `::-1`

`np.flip` might be hard to read since it supports negative indexing, but just look at `np.fliplr`
https://github.com/numpy/numpy/blob/v1.15.1

[2018-10-22 15:47] hmaarrfk opened #3496 "Cython guidelines: discouraging the word `float`"
## Description
I was going through the cython code for one reason or an other and found many places where the type `float` was being specified. The issue is that `float` in Python (64bit precision) doesn't map to the C/C++ float (32 bit precision). Cython being the bridge between these two languages means it becomes very confusing to know if this is a 32bit precision float or 64bit precision float

[2018-10-22 16:54] grlee77 commented on #3496
I agree that `float` can be a bit ambiguous when working with Cython.

In a cdef statement, `float` is indeed a 32-bit C float.

To verify this, you can look at the `_felzenszwalb_cy.c` output from `cythonize` and see the generated code:
[code]
corresponding to the C declarations of `inner_cost0` and `inner_cost1`.

I don't see any corresponding declaration for `cost`, perhaps because that particu

[2018-10-22 17:45] hmaarrfk commented on #3496
Yeah, it is pretty ambiguous what happens in that case. It could be that it gets silently upcast????

I forgot to mention my suggestion: I would stick with numpy dtypes everywhere:
[code]
is pretty unambiguous

I would also consider `np.float` ambiguous.

I personally consider the words `char`, `short` and `int` pretty ambiguous when describing data types too (even in pure-C code). For counters, f

[2018-10-22 18:01] stefanv commented on #3496
Since we're living more in Python-land than in C-land, I think this is a sensible suggestion.  I presume `cnp.float64_t` maps directly to `double`?

[2018-10-22 20:09] stefanv commented on #3492
Sure, let's give it a shot.  We don't really ever mind pushing up the Cython requirement.

[2018-10-22 21:03] emmanuelle commented on #3473
Thanks @winston-li I'll see if it's possible to revert to the old behavior; maybe a warning should be triggered however when non-connected regions are turned into masked pixels of the background (as in 0.13).

[2018-10-23 01:42] hmaarrfk commented on #3092
I think this was fixed in https://github.com/scipy/scipy/pull/8407 so it works in scipy 1.1.0

[2018-10-23 03:42] hmaarrfk opened #3498 "rank windowed_histogram computation of number of bins"
Should this be converted to an img_as_ubyte first?

https://github.com/scikit-image/scikit-image/blob/27f0de279f089ea15c1cba899a9633bac55bad21/skimage/filters/rank/generic.py#L1043

[2018-10-23 03:43] hmaarrfk commented on #3498
Maybe
[code]

This kinda breaks tests

[2018-10-23 04:02] hmaarrfk commented on #2528
Anyway, here is my attempt.
https://github.com/hmaarrfk/scikit-image/pull/9
Some refactoring has been done to the tests, just so I can see what is happening.

Anybody is free to cherry-pick the changes they want if they want to go ahead with the PR.

[2018-10-23 04:41] hmaarrfk opened #3499 "Rank max_bin calcuation"
Should this be 256?
https://github.com/scikit-image/scikit-image/blob/27f0de279f089ea15c1cba899a9633bac55bad21/skimage/filters/rank/generic.py#L95

See a commit in https://github.com/hmaarrfk/scikit-image/pull/9

Should probably be
[code]

[2018-10-23 04:44] hmaarrfk commented on #3499
How did one generate the file: `rank_filter_tests.npz`

[2018-10-23 04:48] hmaarrfk commented on #3499
This PR https://github.com/scikit-image/scikit-image/pull/1244 introduced the tests, but doesn't include the code to generate the dump. @ahojnnes do you remember how you did the dump?

[2018-10-23 04:50] hmaarrfk commented on #3499
https://github.com/scikit-image/scikit-image/blob/27f0de279f089ea15c1cba899a9633bac55bad21/skimage/filters/rank/generic.py#L17

[2018-10-23 05:19] hmaarrfk commented on #3499
I guess it is done in cython

https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/rank/core_cy.pyx#L75-L76

But the bitdepth check is wrong.

[2018-10-23 10:35] sliawatimena commented on #3436
@hmaarrfk
Line 105 warn ("The default mode, 'constant', will be changed to 'reflect' in skimage 0.15.")

Where to put stacklevel=3, is it before or after the string?
Thanks.

[2018-10-23 14:48] hmaarrfk commented on #2528
So I finally got to the bottom of the OTSU failer. It can be summarized here:

https://gist.github.com/hmaarrfk/4afae1cfded1d78e44c9e4f58285d552
kinda a lengthy one so here is the TLDR:
It is a compiler dependent rounding error.
What can we do about it?
  * Not much. We can just force pixel [3, 5] of otsu to be 81, and add a note about it.
  * micro optimize the OTSU algorithm so that the compiler

[2018-10-23 15:34] hmaarrfk commented on #2528
So I have the fixes in the PR linked to it above, but I'll need some help getting the fixes through the review:

* [ ] PR https://github.com/scikit-image/scikit-image/pull/3501 about max_bin calculation is in flight. This one should be easy to pass?
* [ ] Refactor the tests to use parametrize so pinpoint the previous failers exactly.
* [ ] use allclose for entropy
* [ ] Hardcode the pathologically

[2018-10-23 19:54] gkiar opened #3502 "Computing structural similarity between images"
I am trying to compare 3D images using SSIM, and finding expected results (nearly identical images are more similar than those with greater differences).

What I was unable to glean from the SSIM documentation, however, (as the documentation is in 2d) is how is the 3rd dimension handled? Additionally how would this scale to a 4th dimension, such as time? Thanks so much for your time and help!

[2018-10-23 20:31] jni commented on #3502
@gkiar if `multichannel=True`, the third dimension is treated as "colours", and the structural similarity is the mean of the single-channel structural similarity computed over each channel separately. This happens [here](https://github.com/scikit-image/scikit-image/blob/6f45aaa0d58e442667ae3b4cecc70f26903daff7/skimage/measure/_structural_similarity.py#L101-L111).

If `multichannel=False` (the defa

[2018-10-23 20:31] rth commented on #3492
Read only memoryviews don't work for fused dtypes though unfortunately https://github.com/cython/cython/issues/1772

We are looking for someone who could help with that issue..

[2018-10-23 20:42] soupault commented on #3502
I'd add to the above that, generally, we don't have a support for time dimension.
If such dimension in your problem can be treated as a spatial one, and a function of interest works with nD input, then you are all set. If not, you should build a custom solution on top of the provided API.

[2018-10-23 21:10] gkiar commented on #3502
Hi @jni @soupault, thank you both for your quick and helpful responses! That clarifies a lot for me. In fact, this helped me realize that SSIM may actually not be what I want to use for two reasons:

1. it is not rotation invariant, and
2. it requires images to be of equal sizes.

Though you've certainly already clarified my original question enough, I was wondering if you had recommendations for

[2018-10-23 21:44] gkiar commented on #3502
And to clarify my last question a bit further - I would rather not do anything as dramatic as image registration, as that can be quite computationally expensive and is in fact an example of a processing step I'd like to evaluate using *<insert image metric here>*. Mutual information came to mind, but I'm unaware of an implementation in scikit-image. Thanks!

[2018-10-23 23:58] stefanv commented on #3502
Mutual information sounds like what you need.  You can see an implementation here: https://github.com/elegant-scipy/elegant-scipy/blob/master/markdown/ch7.markdown  (may need to be tweaked for N-D).

@jni: Time to add this to skimage?

[2018-10-24 07:19] jni commented on #3502
@stefanv mutual information is also computed pixel-wise and not rotationally invariant though?

But @gkiar, on the other hand, clearly you don't want to evaluate registration using a scale and rotation invariant metric, because then the registration step can't affect the metric, so your requirements appear to be in conflict?

@stefanv yes, lots of metrics need to make it into skimage. See #3354 fo

[2018-10-24 11:50] FunkTipp opened #3507 "nlines exceeds lines_max in _probabilistic_hough_line"
532 if nlines > lines_max:

should be

532 if nlines >= lines_max:

if nlines exceeds lines_max the module breaks because lines array is to small

[2018-10-24 12:17] gkiar commented on #3502
@jni thanks for your comment - I didn't want to dive too deep into the specific use case, but I'm not trying to evaluate the quality of the registration in terms of fit, we have other metrics for that, but various processing steps in terms of the distortion they introduce due to things like interpolation (in the case of registration), or other things (in the case of other processing steps).

Is mu

[2018-10-24 17:03] stefanv commented on #3502
@jni The reference image comes first, of course ;)

W.r.t. mutual information: it is approximately invariant to *mutual* rotations in both images.  Importantly for this use case, it does not match on a pixel-by-pixel basis.  True, when the two images align, the mutual information will drop, but even two images that have slight relative rotations should have lower mutual information than if compare

[2018-10-25 12:17] #3351 closed

[2018-10-25 17:41] jaewooklee93 opened #3509 "skimage.io.imshow produces wrong result in jupyter notebook"
## Description
A very simple code below produces unrecognizable drawing at jupyter notebook run. It seems that color bar becomes very fat and it covers all the main figure so I can see nothing.

## Way to reproduce
- [x] Code example
[code]

- [x] Relevant images (if any)
[code]
![download](https://user-images.githubusercontent.com/11328376/47518545-3d65b500-d8c6-11e8-9538-6b8cf6fcaaf8.png)
- [x]

[2018-10-26 01:17] hmaarrfk opened #3510 "Python language level needs to be upgrade to Py3"
Cython gives this warning:
[code]

Needs to be addressed at least for division.

[2018-10-26 11:50] emmanuelle opened #3511 "Small mistake about data range in the doc"
As pointed out by a participant at PyconDe (Jonathan Frech, thank you!), there is a mistake in the table of http://scikit-image.org/docs/stable/user_guide/data_types.html#image-data-types-and-what-they-mean, uint32 is from 0 to 2^32 - 1 (and not 2^32).

[2018-10-26 22:37] stefanv commented on #3510
I started working on this in https://github.com/scikit-image/scikit-image/pull/3513  Feel free to push commits there; there's some issue with importing `mcp`.

[2018-10-27 07:03] #3511 closed

[2018-10-27 08:54] OscarJHernandez commented on #3507
Hello, I would like to work on this issue.

[2018-10-27 09:40] emmanuelle commented on #3507
Thank you @OscarJHernandez :-)

[2018-10-27 17:53] #3507 closed

[2018-10-27 19:43] #2426 closed

[2018-10-28 12:42] onomatopeia opened #3519 "Development installation instructions for Ubuntu are missing tkinter"
## Description
OS-specific installation instruction for Ubuntu is missing tkinter module.
Although according to the docs tkinter is part of the standard library it does not seem to be always shipped with the core python installation. Missing tkinter module is causing that unit tests are failing.

## How to reproduce
* follow the installation instructions Install.rst to install scikit-image on Ubun

[2018-10-28 12:43] #2528 closed

[2018-10-28 12:49] onomatopeia commented on #3519
I'll provide a fix shortly.

[2018-10-28 15:32] #3519 closed

[2018-10-29 12:08] dorp92 opened #3521 "from skimage import io cause python to crash"
Hi,
I trying to import skimage.io like this `from skimage import io`
When I tried it from the cmd python console it crashes
When I tried it from pycharm python console it prints the following in a loop:

  File "C:\Program Files\JetBrains\PyCharm Community Edition 2018.2.4\helpers\pydev\_pydev_bundle\pydev_import_hook.py", line 23, in do_import
    succeeded = activate_func()
  File "C:\Program Fi

[2018-10-29 13:46] sciunto commented on #3521
Please, can you share the output for the case "When I tried it from the cmd python console it crashes"

[2018-10-29 14:52] dorp92 commented on #3521
I reinstall anaconda and all the packages and now it works.
Basically it was a normal windows message "python.exe is not responding"

[2018-10-29 15:13] hmaarrfk commented on #3521
Interesting. Are you mixing defaults and conda-forge? sometimes that causes problems.

[2018-10-29 20:59] soupault commented on #3498
Uint8 is specified in the docstring - https://github.com/scikit-image/scikit-image/blob/27f0de279f089ea15c1cba899a9633bac55bad21/skimage/filters/rank/generic.py#L1006 .

I'd rather raise an error than perform such kind of implicit conversion. 🤔

[2018-10-29 21:09] hmaarrfk commented on #3498
This was changed in https://github.com/scikit-image/scikit-image/pull/3501

[2018-10-29 21:09] #3498 closed

[2018-10-29 21:31] soupault commented on #3483
Closing as a duplicate.

[2018-10-29 21:31] #3483 closed

[2018-10-29 21:32] soupault commented on #2269
See the comments in https://github.com/scikit-image/scikit-image/issues/3483.

[2018-10-29 22:48] alexandrejaguar commented on #2442
Hi @sarwatfatimam and @meriki, have you had any progress in this one? Thanks!

[2018-10-31 11:26] Akshaj5 opened #3526 "Want to implement the requested feature - Image Colorization"
Hi, I am new to scikit-image and wanted to implement the requested feature image colorization. If someone can help me?

[2018-10-31 14:42] emmanuelle commented on #3526
Hi @Akshaj5 where was feature requested? I could not find an issue on colorization.

[2018-10-31 14:48] sciunto commented on #3526
Here I guess: https://github.com/scikit-image/scikit-image/wiki/Requested-features

[2018-10-31 14:58] emmanuelle commented on #3526
Ah ok :-). We  should curate this list it was last edited in 2015!!

[2018-10-31 14:59] soupault commented on #2697
FYI, I've just found this article describing one of the top performing solutions from one of the latest Kaggle competitions - https://nikolasent.github.io/deeplearning/competitions/2018/10/24/Semantic-Segmentation-of-Seismic-Reflection-Images.html :slightly_smiling_face:  :
[code]
Apparently, there __are__ people who are aware of the implementation and found it useful!

[2018-10-31 15:52] jni commented on #2697
Very nice! In other news, I was just at a deep learning workshop, and introducing myself to one of the participants:

- Me: I spend my "free research" time working on open source, mostly on scikit-image
- Participant: :astonished: Really??? I use scikit-image all the time! I love it!
- Me: :sob: :sob: :sob: :pray: :pray: :pray: :heart: :heart: :heart:

And some of the instructors were telling me t

[2018-10-31 16:50] soupault commented on #2697
@jni Awesome! :)
Man, I wish there were some stats on the library usage (besides download counter - https://pypistats.org/packages/scikit-image). That would really bring a lot of food to the development table, and make us happier. Do we have a structured discussion on this topic somewhere (80% sure that we don't)?

[2018-10-31 19:46] jni commented on #2697
@soupault no, I don't think we do! One thing that has been nagging at me is to do a crawl of GitHub to find how many libraries/scripts/notebooks use us and which bits of skimage are most used.

[2018-10-31 23:31] SvenVoigt opened #3527 "Segmentation Module functions not found"
## Description
The issue is that I am getting an error trying to load functions that are in the documentation for the segmentation module.

These functions include checkerboard_level_set, chan_vese, morphological_chan_vese, and morphological_geodesic_active_contour.

The error is:

## Way to reproduce
[code]
Mac OS Sierra 10.12.1
Python=3.6.7
scikit-image=0.14.1

[2018-10-31 23:48] hmaarrfk commented on #3527
I get (on Linux):
[code]

[2018-11-01 04:59] Akshaj5 commented on #3526
Hi @emmanuelle, can I implement this one or is it already implemented?

[2018-11-01 14:16] jni commented on #3526
@Akshaj5, others will chime in, but I would consider this feature to be a low priority. In that list, enhanced correlation coefficient would be my top choice. But, as @emmanuelle, really we need to update it with priorities. Unfortunately we don't have the bandwidth right now to do so!

[2018-11-01 15:43] SvenPVoigt commented on #3527
I apologize. I was checking versions in terminal and running on Jupyter but they were not using the same environment.

[2018-11-01 18:31] #3527 closed

[2018-11-02 14:19] dvolgyes commented on #2380
It seems there is no activity here for a while, but I would like to reiterate that a blue noise generator would be really useful in any way.
It could be image driven, or just more or less uniform distribution, 2D or higher dimensions.
A general sampling strategy (high dimensional space, user defined metric) is probably more in the interest of scikit-learn, than scikit-images, but I think in the be

[2018-11-02 18:36] thoo commented on #3482
I just submitted the PR. It should look like this. ![](https://farm5.staticflickr.com/4861/45684567951_9f26f23455_b.jpg )

[2018-11-02 18:44] thoo commented on #3482
@jni  Could you review my PR ? Thanks.

[2018-11-02 19:31] rougier commented on #2380
Thanks for the reminder, I'll look into that then.

[2018-11-03 09:02] Akshaj5 commented on #3526
@jni Actually I am a final year student and to implement the image colorization and get accepted my pull request on scikit-image is one of my course project.

[2018-11-03 17:50] sciunto commented on #3526
Being not our top priorities does not mean that we are not interested. If your decision is made, we will be happy to consider your code!

@emmanuelle @jni I put a warning at the top of the wiki page ;)

[2018-11-05 20:08] jefferton-sg opened #3537 ""from skimage import io" crashing Anaconda with Python 3.6.6?"
Hi all! I'm noticing a strange issue on Windows 10, Ananconda python distribution (python version 3.6.6), scikit-image version 0.14.0. If I issue the command:

`from skimage import io`

This makes Python crash. :-/ However, issuing:

`import skimage`

Works just fine.

Anybody else having a similar issue? Or is there a workaround, where I can access the io package without specifically retrieving i

[2018-11-06 00:36] jni commented on #3537
@jefferton-sg can you provide a traceback of the Python crash?

As to your second question, I suggest you try directly using [imageio](https://imageio.readthedocs.io/en/stable/)

[2018-11-06 00:48] VolkerH opened #3538 "Rolling Ball/Sliding Paraboloid Algorithm for background estimation"
## Background Rolling Ball Algorithm for background estimation/subtraction

The rolling ball algorithm is a well-known method for background subtraction.
(reference  Stanley Sternberg's article,
"Biomedical Image Processing", IEEE Computer, January 1983.)

## Exisiting implementations:
This algorithm is implemented for imageJ
https://imagej.nih.gov/ij/developer/source/ij/plugin/filter/BackgroundSu

[2018-11-06 00:55] jefferton-sg commented on #3537
Thanks for the workaround tip! I tried importing imageio directly and it works perfectly.

I must apologize but I am still very new to Python... how can I log the traceback? I tried wrapping the import statement in a try/except but it doesn’t trigger the exception... calling the import just causes python to quietly exit.

[2018-11-06 01:03] jni commented on #3537
Oh! Wow! I have never seen that. No segfault, abort trap, anything?

[2018-11-06 01:06] hmaarrfk commented on #3537
Are you in spyder or jupyter? Can you try running the python interpreter from the anaconda prompt?

[2018-11-06 07:01] jefferton-sg commented on #3537
![img_0326](https://user-images.githubusercontent.com/37162010/48047886-64d24280-e14e-11e8-94fc-e3234066a111.PNG)
Yeah it's really strange... I tried issuing:

`from skimage import io`

from the Anaconda prompt directly and it just exits. (see screenshot)

[2018-11-06 07:16] stefanv commented on #3538
That looks very useful, @VolkerH.  Are you interested in working on an implementation?

[2018-11-06 07:42] stefanv commented on #3537
Can you import matplotlib successfully?  `import matplotlib.pyplot as plt; plt.plot([1,2,3])` ?

[2018-11-06 08:50] hmaarrfk commented on #3537
best screenshot ever, thanks. I have no words.

[2018-11-06 16:45] soupault commented on #3537
Wait. (stupid question section) Isn't that 32-bit OS running Python compiled for 64-bit? 🤔

[2018-11-06 17:11] jefferton-sg commented on #3537
@stefanv That is a very good point - this statement produces the same behavior. Opening the Anaconda prompt and issuing

`import matplotlib.pyplot as plt`

also causes Python to quietly exit. (see screenshot... another "amazing" one? ha!)

<img width="675" alt="capture" src="https://user-images.githubusercontent.com/37162010/48080962-d1c3f780-e1a3-11e8-9002-15570723fa8e.PNG">

@soupault You also m

[2018-11-06 19:28] stefanv opened #3539 "Port CI from AppVeyor to Azure"
Azure has more free cores, also does MacOS.

*Added by @soupault :*
- [x] Move https://github.com/scikit-image/scikit-image (https://github.com/scikit-image/scikit-image/pull/3612);
- [ ] Move https://github.com/scikit-image/scikit-image-wheels (https://github.com/scikit-image/scikit-image-wheels/issues/11);
- [ ] Update release instructions in https://github.com/scikit-image/scikit-image/blob/mas

[2018-11-06 20:30] stefanv opened #3540 "Enabling time traveling in documentation"
See https://github.com/numpy/numpy/pull/12097/files

[2018-11-06 23:00] stefanv commented on #3538
@VolkerH Please choose the periodicity of your reminder, and I'll be happy to enact it :)

[2018-11-07 16:07] soupault commented on #3537
@jefferton-sg could you try to repeat the experiment in `python -vvv`, not just plain `python`?

[2018-11-07 16:47] soupault commented on #3526
@jni I actually think that having a popular classic colorization algorithm might be useful. Although, only if its fully unsupervised.
A large number of pre-trained CNN models are designed for and trained on RGB-images. I've seen several blogposts saying that fine-tuning of such models on grayscale data (by tiling the image to (*original_shape, 3)) often doesn't work. At the same time, by performin

[2018-11-07 17:46] stefanv commented on #3526
Please note that there are never any guarantees that your code will be accepted into scikit-image, so this is not a wise goal to set for a course.  It may also take a significant amount of time to get the code ready for inclusion.  For your course, I suggest you find and solve a technical issue instead; those PRs are very likely to be included, if they are correct.

[2018-11-08 00:11] jefferton-sg commented on #3537
@soupault Sure! Here is the output pasted into a text file. I separated it into three files: one just with the output of launching `python -vvv`, the other with the output of issuing `from skimage import io`, and a third with the output of issuing `import matplotlib.pyplot as plt`.
[importing_io_with_vvv.txt](https://github.com/scikit-image/scikit-image/files/2559781/importing_io_with_vvv.txt)
[la

[2018-11-08 09:37] soupault commented on #3537
Thanks! So, it seems like PyQt5 may cause the issue:
[code]
Could you:
1. Uninstall PyQt5 and try to import matplotlib and/or scikit-image;
2. Reinstall PyQt5 (and clear the corresponding `__pycache__` dir) and --//--.

[2018-11-08 18:59] jefferton-sg commented on #3537
@soupalt I uninstalled PyQt and that uninstalled scikit-image and matplotlib, along with a few other packages... so importing either skimage or matplotlib after removing pyqt reported a ModuleNotFoundError. BUT! Then I reinstalled pyqt, along with scikit-image, matplotlib, and all the other packages that were removed with pyqt (anaconda-navigator, jupyter, navigator-updater, qtconsole, seaborn, sp

[2018-11-08 19:13] soupault commented on #3537
Frankly speaking, I have no clue 😆. Glad it worked, though!
Happy coding!

[2018-11-08 19:13] #3537 closed

[2018-11-11 19:14] soupault commented on #3482
Added in #3530

[2018-11-11 19:14] #3482 closed

[2018-11-13 20:34] #3261 closed

[2018-11-14 23:37] jni opened #3547 "Allow animations in the documentation"
## Description

@choldgraf has documented and implemented an image scraper for sphinx-gallery that allows embedding gifs in the gallery:

https://github.com/sphinx-gallery/sphinx-gallery/pull/417

Unfortunately that PR is held up because it doesn't work on readthedocs, but there's nothing stopping us from vendoring his code and turning on animations in our docs. I think quite a few of our gallery

[2018-11-15 00:17] choldgraf commented on #3547
Happy to help out if you have questions etc!

[2018-11-15 12:30] jmetz opened #3548 "Add shear axis argument to AffineTransform?"
## Description

**Disclaimer:**
posting in response to a SO issue I was answering here:
https://stackoverflow.com/questions/53298558/skimage-defining-vertical-shear/53300186

The OP asked about performing vertical shear, as the shear parameter implements horizontal
shear.

Would it make sense to add a `shear_axis` kwarg which defaults to `0`?

[2018-11-15 12:33] jmetz commented on #3548
NB The implementation of this will also be affected by #3239

[2018-11-16 08:41] jni commented on #3548
All of transforms is a huge mess that I hope to focus on next month. =) Thanks for flagging this.

Also it's super weird that as far as I can tell I wasn't notified about this SO post... Thanks for your thorough answer and comments! =)

[2018-11-16 12:24] yg42 opened #3550 "perimeter documentation and prototype function"
## Description
skimage.measure.perimeter lacks a relevant documentation and description.

The neighborhood configuration should precise that it is used for computing the contour and is different from the connectivity of the contour itself.

Moreover, the general terminology (1-, 2-, 3-, ..., ndim-) should be adopted in the prototype of the function.

[2018-11-16 20:37] pllim opened #3551 "_validate_lengths replaced in numpy/master leading to ImportError exception"
## Description

As seen in https://travis-ci.org/astropy/astropy/jobs/455917279 , `from skimage.measure import block_reduce` caused `ImportError` when used with numpy dev.

[code]
https://github.com/scikit-image/scikit-image/blob/29a22e17c8b4ccf26383e3007ab014eb18b81f12/skimage/util/arraycrop.py#L7

Caused by numpy/numpy#11966

## Way to reproduce
[If reporting a bug, please include the following

[2018-11-17 15:42] sciunto commented on #3551
Thanks for reporting!

[2018-11-18 19:44] sciunto opened #3557 "pytest failure due to: Fixture "setUp" called directly."
## Description

In master and v0.14.x:

[code]

[2018-11-18 20:05] sciunto commented on #3333
This issue is old and without a reply, i close it. Feel free to reopen if it is unsolved.

[2018-11-18 20:05] #3333 closed

[2018-11-19 06:50] sciunto commented on #3557
Fixed by @hmaarrfk

[2018-11-19 06:50] #3557 closed

[2018-11-19 12:39] xiuchengyang opened #3559 "[MAC] cannot import skimage"
## Description
Hi,
I cannot import skimage in the python scripts. I have tried lots of ways and I still cannot fix the bug.
I utilized MAC OS system and python2.7. I installed skimage by pip install scikit-image.
Thanks for any advice.

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc

[2018-11-19 18:18] sciunto commented on #3559
Please, be more specific on "a lot of ways". Can you describe what you did in details?

[2018-11-20 01:18] jni commented on #3559
Hi @xiuchengyang

It looks like you tried to install scikit-image in your system Python install. (This is the Python software that your Mac's operating system uses for system tasks.) Generally this is considered bad practice these days, mainly because you can accidentally break your system Python install. Instead, I recommend you use Anaconda, which installs a separate Python as well as a whole bu

[2018-11-20 16:11] xiuchengyang commented on #3559
hi @jni @sciunto
Thanks for your reply. After using Anaconda, it works fine now using the Conda interpreter.
But for the python interpreter, the problem still exists. I am not sure whether there is a possible solution to it. As you said, the problem may come from the system tasks.
(i) I first utilized "pip install scikit-image" and the installation went to the warning.
(ii) Then I utilized "pip in

[2018-11-22 14:16] sciunto commented on #3509
I cannot reproduce this bug (either with matplotlib 3.0.0 or 3.0.2). @jaewooklee93 can you upgrade and check please?

[2018-11-22 16:58] stefanv opened #3560 "Add editing links to docs"
I recently browsed the Trello API documentation, which uses Readme.io. It's a neat service that allows users to suggest edits to your documentation.

Then, I realized we have all the components in place already: we can add editing links per section to the Sphinx dev docs, and point those links to the Github editor, so the user can make a PR on the fly.

Thoughts?

[2018-11-22 17:47] ctrueden commented on #3263
I posted some thoughts on the Image.sc Forum thread [here](https://forum.image.sc/t/request-for-comment-road-to-scikit-image-1-0/20099/2).

[2018-11-22 20:16] #3551 closed

[2018-11-22 21:08] sciunto commented on #3560
I don't know how many PR this could bring. At least, if it's easy to add as you say, we can give a try, for let's say 6 months and see.

[2018-11-24 16:55] sciunto commented on #3509
I used a notebook as well.

[2018-11-24 16:56] sciunto commented on #3509
Can you check with matplotlib 3.0.2 please?

[2018-11-24 19:02] jaewooklee93 commented on #3509
Okay, with matplotlib 3.0.2, this bug has gone.

![download](https://user-images.githubusercontent.com/11328376/48972003-6adc8480-f065-11e8-91f4-ffd71451cf8b.png)

It seems that matplotlib fixed their issue just a month ago at 3.0.1. [https://github.com/matplotlib/matplotlib/issues/12661/](https://github.com/matplotlib/matplotlib/issues/12661/)

[2018-11-24 20:32] PinkFloyded commented on #1279
I'm interested in taking this up. Can someone guide me as what needs to be done?

[2018-11-24 20:41] sciunto commented on #3509
Great! Thanks for testing. As matplotlib 3.0.0 is now blacklisted in scikit-image (will be in upcoming versions), we can consider this as fixed.

Feel free to reopen if not the case.

[2018-11-24 21:19] PinkFloyded commented on #2604
As a new user of skimage it seems very strange to keep two versions of the API whenever there is a gray. This pollutes the API surface and for no good reason. I think it makes sense to choose one, deprecate the other and remove it in a major version release.

[2018-11-24 23:54] jni commented on #2604
@PinkFloyded I actually agree with you and disagree with past me. :joy: 🤷‍♂️ The intention going forward is to follow US convention everywhere. However, this will take time as it requires breaking changes and deprecations. (Not least in `graycoprops`, which looks weird to me spelled that way. Anyone else?)

[2018-11-24 23:58] jni commented on #1279
Personally I'm not sure this is necessary, and would like to see us using `scipy.ndimage` for interpolation and improving things there if necessary. I'm not sure about the history of transformations in skimage vs ndimage. @stefanv @ahojnnes any comments?

[2018-11-25 15:01] PinkFloyded opened #3562 "Building docs fails on macOS - nproc not found"
## Description
Running `make` in the `doc` directory fails on macOS as the `Makefile` uses `nproc` to find the number of processors, but it wasn't installed. Full error below:

[code]

I think this can be fixed by checking if `nproc` is available before using it, and if not, use some other method to find number of processors.

Python version - 3.6.4
OS - macOS Mojave - 10.14.1

[2018-11-25 16:10] sciunto commented on #3562
You are not the first one to report this: https://github.com/scikit-image/scikit-image/pull/3530#discussion_r231380092

[2018-11-25 16:20] sciunto commented on #3562
Would you like to work on this? I don't use this OS, so it's not easy to write a patch...

[2018-11-25 19:50] sciunto commented on #3430
This is about matplotlib

Especially this comment: https://github.com/scikit-image/scikit-image/pull/3427#discussion_r221456658

[2018-11-25 22:02] emmanuelle commented on #3560
Can we generate such links automatically or would we have to add each one of them by hand? The user guide is short enough but it could be interesting for gallery examples as well.

[2018-11-26 18:11] #3562 closed

[2018-11-27 17:12] Leonid-Erlygin opened #3565 "Magnitude should be split up."
https://github.com/scikit-image/scikit-image/blob/bca527319521f0923856be56a73a542dc8aee4dc/skimage/feature/_hoghistogram.pyx#L72

"To reduce aliasing, votes are interpolated bilinearly between the neighbouring bin centres in both orientation and position"-from the original article

[2018-11-27 18:21] stefanv commented on #3565
Thank you for picking up on this subtlety, @Leonid-Erlygin.  Would you be willing to make a pull request to address the issue?

[2018-11-27 21:20] a-tsukanov commented on #1133
This is a major bottleneck for me. I'm writing an app for color correction with real time previewing. Actually instead of real time I wait for color conversion: it takes at least 80% of image correction time. (correction is triggered by mouseReleaseEvent)
![screenshot from 2018-11-28 00-14-55](https://user-images.githubusercontent.com/26525093/49112134-09095e00-f2a3-11e8-92c6-40cf2f245d32.png)
Swi

[2018-11-27 23:50] stefanv commented on #1133
The current situation is quite untenable; we have approx. 100x slowdown compared against OpenCV.

We don't usually perform optimizations on the instructions set level (which OpenCV does, by using SSE2, etc.), so we won't come out top.  But, a factor of 5 is a *vast* improvement over a factor of 100.

We can probably use lookup tables + linear interpolation to lose very little accuracy and do this

[2018-11-28 09:06] dev-script opened #3567 "ImportError: cannot import name 'compare_psnr'"
I have installed scikit-image library for my system but when i'm running
             "from skimage.measure import compare_psnr"
got an error - ImportError: cannot import name 'compare_psnr'

[2018-11-28 20:40] KelSolaar commented on #1133
Hi @stefanv,

Colour is very barebone and not optimized for speed at all, I would not expect much differences with any classically vectorised functions. Nobody complained about speed so far on our end, and when it slows down so we had no incentive to do any kind of optimization in that regard. Does not mean we will not do it, it is actually high on my radar, but I'm hoping having Numpy running on

[2018-11-28 20:48] stefanv commented on #3539
https://github.com/scipy/scipy/pull/9542

[2018-11-28 20:49] stefanv commented on #3539
@soupault Were you still going to take this on?

[2018-11-28 20:53] stefanv opened #3569 "Bring back `skimage.test`"
This turns out to be very useful for users who simply do a pip install and want to test.

/cc @hmaarrfk

[2018-11-28 21:04] soupault commented on #3539
@stefanv I'm actually having a training on Azure ecosystem tomorrow :), so yes.
Could you, please, create an Azure DevOps organization in the meanwhile?

[2018-11-28 21:14] stefanv commented on #3539
Done: https://dev.azure.com/scikit-image/scikit-image

[2018-11-29 06:31] hmaarrfk commented on #3569
I think this is actually fixed by putting the conftest.py file in the installed skin age directory. This has worked on my local machine. The respective PRs seem to have typos in the Travis files.

[2018-11-29 08:49] a-tsukanov commented on #1133
Just wonder if using xyz as intermediate space between rgb and lab slows down things by a factor of two. That's the case in the source:
`def rgb2lab(rgb, illuminant="D65", observer="2"): return xyz2lab(rgb2xyz(rgb), illuminant, observer)`

[2018-11-29 09:39] stefanv commented on #1133
Perhaps, but that does not explain the other 10x to 20x slowdown!

RGB to XYZ is a linear transformation, but XYZ to Lab is not, so I
suspect the latter is more expensive.

See also:

- https://en.wikipedia.org/wiki/CIELAB_color_space
- https://medium.com/hipster-color-science/a-beginners-guide-to-colorimetry-401f1830b65a

If you want a perceptually uniform space, CAM02UCS is better than Lab,
but

[2018-11-29 11:10] hmaarrfk commented on #3567
Please also provide the operating system you are using along with how you installed scikit image. Git? Conda? Pip? Virtualenv?

[2018-11-29 12:02] jmetz commented on #1133
Just to point out, I re-ran the gist version, and while it is faster than skimage (v0.14.1), my current opencv is **slow**.

[code]

NB lower is better, this is time relative to how long opencv took - admittedly using very basic timing code (ie no timeit).

Did numpy's optimisations in the meantime make it much faster than opencv??

[2018-11-29 12:11] jmetz commented on #1133
Also the first line of blink1073's gist is:

[code]
which means it's probably not a fair comparison anyway.

[2018-11-29 13:03] jmetz commented on #1133
I found that just switching from `np.power(..., 1.0/3.0)` to `np.cbrt(...)` doubled the speed of `xyz2lab` and thereby `rgb2lab` - seems like a very simple, easy to understand fix for such a performance gain.

[2018-11-29 13:36] sciunto opened #3571 "Some failures in travis py3.6 for random walker"
## Description

Se for instance: https://travis-ci.org/scikit-image/scikit-image/jobs/461265535

Not the first time I notice it.

[If reporting a bug, attach the entire traceback from Python.]
[If proposing an enhancement/new feature, provide links to related articles, reference examples, etc.]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Cod

[2018-11-30 04:05] stefanv commented on #2409
I don't think it would be too tricky to add; but it would be even better if we had a Default class, as suggested by Juan, so that we knew what the defaults were even if set to "None".

[2018-11-30 11:42] hmaarrfk commented on #3569
xref: https://github.com/scikit-image/scikit-image/pull/3311
This PR moves the `conftest.py` to the skimage directory so it gets installed on the user's machine.

[2018-12-01 18:30] Leonid-Erlygin commented on #3565
Yes, I can, but I don't have enough time(to fix it properly), because of exams. I will try to fix it in January, if no one would solve it earlier.

[2018-12-01 21:03] a-vodka opened #3573 "skimage.measure.regionprops new perimeter function proposal"
## Description
For small binary images with complex form I have found that perimeter function in skimage.measure.regionprops gives underestimated results. So, I propose calculate perimeter of a region in another way. To see the difference between skimage.measure.regionprops standard perimeter function and proposed function please look at follow code.

## Proposed code and comparison with standard

[2018-12-02 19:17] thefiddler commented on #2602
Any updates on this?

[2018-12-03 08:40] hmaarrfk opened #3576 "pyproject.toml whoes"
pyproject.toml specifies the build dependencies for the project as described in https://www.python.org/dev/peps/pep-0518/

Unfortunately, the current one we wrote, doesn't specify a minimum version of numpy required to build the system. This is really unlikely to cause any issues since numpy 1.11 (which is what scikit-image supports) is probably installed on everybody's system.

But, if you are in

[2018-12-03 10:28] vpoughon opened #3577 "rank filter maximum incorrect doc of output dtype"
## Description

The documentation of `skimage.filters.rank.maximum` says that the returned array has the same dtype as the input:

However this is not the case for `bool`.

## Way to reproduce
[code]

Output:

Tested on skimage `0.14.1`.

Related to #466, #1244, #1010

[2018-12-03 16:39] sciunto opened #3578 "Check if tifffile can be added as a requirement instead of vendoring it"
## Description

So far, we have a modified copy of tifffile. See in particular #3452

If wheels are available one day for tifffile, then we must consider removing this copy.

[2018-12-03 17:20] hmaarrfk commented on #3578
To my knowledge, tifffile itself has become a "pure python package" https://pypi.org/project/tifffile/#files

That said, it now depends on other binaries such as imagecodecs: https://pypi.org/project/imagecodecs/#files

which only offers wheels for windows.

[2018-12-03 18:44] stefanv commented on #1035
@zym1010 @niallmacq FWIW, we now do anti-aliasing for downsampling, which may help for your use cases.

[2018-12-03 18:59] stefanv commented on #3576
Can you describe the issue in a bit more detail so that someone can take a look? Thanks!

[2018-12-03 19:04] stefanv commented on #3578
Are those image codecs required on any platform other than Windows?

[2018-12-03 19:38] cgohlke commented on #3578
`pip install tifffile` should not require `imagecodecs` on platforms other than Windows.

However, `tifffile` uses `imagecodecs` (if available) at runtime to decode LZW, JPEG, J2K, floating point predictor, etc encoded image data stored in TIFF. Out of those codecs, LZW is probably the most significant for skimage users.

 `imagecodecs` works for me on Ubuntu 18.04 (assuming all build requirements

[2018-12-03 20:01] stefanv commented on #3578
Would it be helpful for us to set up a wheel builder repo for
imagecodecs, or do you have an existing pipeline to build manylinux
wheels?

[2018-12-04 07:29] cgohlke commented on #3578
I don't have a setup to build manylinux or macos wheels. If someone could provide missing wheels for the PyPI releases, that would be helpful. Seems like a daunting or tedious task judging from the fact that none of the packages on PyPI that imagecodecs uses for testing provides manylinux wheels: `blosc`, `lzf`, `zstd`, `lz4`, `backports.lzma`.  The `numcodecs` package also does not provide wheels

[2018-12-04 17:35] sciunto opened #3580 "Document top hat functions."
## Description

Assigned to myself.

Document (during the next sprint?)
* http://scikit-image.org/docs/stable/api/skimage.morphology.html#white-tophat
* http://scikit-image.org/docs/stable/api/skimage.morphology.html#black-tophat

- [ ] Add wikipedia page as ref : https://en.wikipedia.org/wiki/Top-hat_transform
- [ ] Add See also sections
- [ ] Add gallery example

I'm sure this is fairly unknown

[2018-12-04 17:41] sciunto opened #3581 "Missing parameter description in `morphology.reconstruction() docstring"
## Description

The parameter `offset` of `morphology.reconstruction` is not documented: http://scikit-image.org/docs/dev/api/skimage.morphology.html#skimage.morphology.reconstruction

Optional parameters are not marked with `, optional` in the docstring.

[2018-12-05 18:41] PinkFloyded opened #3583 "Hit or miss morphological transform"
## Description
Not sure if this discussion has already happened before. All I could find was #1655 which was abruptly closed.

We can route this to [ndimage's implementation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.binary_hit_or_miss.html#scipy.ndimage.binary_hit_or_miss) like we do for other morphological operations.

Reference: https://homepages.inf.ed.ac.uk/rbf/HIPR2/

[2018-12-06 18:47] stefanv commented on #3583
We typically wrap `ndimage` functions when we have something to add, such as the `sigma` processing for the Gaussian filter.  Do you think we have anything to offer, currently, in addition to the default ndimage behavior?

[2018-12-06 20:54] VeneetReddyK commented on #3583
Nothing to offer really.

But, if a user needed hit-or-miss then they'd have to explicitly pull down `scipy` just for that. `scikit-image` already pulls it down as a transitive dependency, but, the user will have to explicitly list it in their requirements to use it as a good practice.

[2018-12-06 20:56] PinkFloyded commented on #3583
Nothing to offer really.

But, if a user needed hit-or-miss then they'd have to explicitly pull down scipy just for that. scikit-image already pulls it down as a transitive dependency, but, the user will have to explicitly list it in their requirements to use it as a good practice.

[2018-12-07 07:45] rth commented on #3410
Aside from `utils.apply_parallel` which appears fairly standalone, dask seems to be currently used only in 1 place (cf #3582). +1 for making it an optional dependency.
I imagine the cloudpickle mandatory dependency (that isn't used unless I'm missing something) is also due to dask?

This would also make packaging it in pyodide easier https://github.com/iodide-project/pyodide/issues/253

Also conda

[2018-12-07 15:37] hmaarrfk commented on #3410
I think conda taking for ever to solve on conda forge is because it downloads the whole file list everytime. You can try adding `--offline` and most of the time, due to local caching, your commands will work.

[2018-12-07 22:51] hmaarrfk commented on #2397
Firstly, thank you all for developing such a cool transform module.

I wanted to give some feedback based on my experience with it for the better part of the year.
I know there was some enthusiasm to revamp the transform module, so I wanted to include some feedback on what I thought was missing or problematic. I think this is the best place for it???

### RC vs XY
I agree wit the move to RC

### `

[2018-12-09 11:59] soupault commented on #3573
@a-vodka Hi! I wonder if the suggested algorithm is published somewhere and/or evaluated on a wide class of discrete shapes? I'm hesitant about including algorithms without a proper assessment.

As a side note, here is an interesting presentation on the topic -http://www.inf.u-szeged.hu/ssip/2008/presentations2/SSIP2008LectureSladoje.pdf .

[2018-12-09 23:56] a-vodka commented on #3573
@soupault, Hello!

Thank you for your replay!

I have carefully checked the [reference paper](http://www.cs.qub.ac.uk/~d.crookes/webpubs/papers/perimeter.doc) about original perimeter function  and compared with my code. I have found that are very close, but there is one significant difference. In standard code erosion function is used. I propose to change it to dilation. I have prepared a small b

[2018-12-10 12:39] FrAnCOisCokELaER commented on #3581
@sciunto I could help on this one if needed ? (first contribution, have some mathematical morphology background)

[2018-12-10 20:47] emmanuelle commented on #3581
@FrAnCOisCokELaER please do! Depending on your level of experience with open-source development, you might find our contributing notes useful: http://scikit-image.org/docs/dev/contribute.html
Thanks :-)

[2018-12-11 05:59] abhiTronix opened #3586 "Bug: Scikit-image broken with Latest Numpy binaries"
## Bug Description
Latest Numpy commit https://github.com/numpy/numpy/pull/11966#issue-215839617 removed `_validate_lengths` and other functions from **numpy.lib.arraypad** hence brokes the latest scikit-image binaries.

## System Information:
- Operating system: Ubuntu 18.04 LTS
- Python version: Python 3.6.7
- scikit-image version : Latest(0.14.1)

## Way to reproduce
[code]

[2018-12-11 06:05] hmaarrfk commented on #3586
Thanks for the report. I think this was fixed recently in master

https://github.com/scikit-image/scikit-image/pull/3556

And backported to the 0.14 branch.

[2018-12-11 06:07] #3586 closed

[2018-12-11 06:37] stefanv commented on #3586
Users can probably find closed issues as well, and see that it has been fixed in development?  It's probably about time to release .14.2 though, you're right.

[2018-12-14 08:37] qwanzaden opened #3588 "skimage.filters.gaussian incorrect for integers"
Applying skimage.filters.gaussian() to a array of integers has a unexpected output. See below code for an example.

[code]

[2018-12-14 09:21] sciunto commented on #3588
This behavior seems correct to me. The array dtype changes the range of values. The gaussian filter converts the image to a float image. Therefore, the values 1 for int8, int 16, int 32, and int64 are not the same value once converted to float.

See http://scikit-image.org/docs/stable/user_guide/data_types.html for more details.

[2018-12-14 11:54] aleksandrmelnyk commented on #2296
hi guys,

I guess, under heuristic function is meant function which accepts start, end and current nodes and returns heuristic cost which is used in total cost.
Yep, it would pretty useful feature to use astar algorithm, it much faster than dijkstrea, since no need to go through each pixel.
And since dijkstra already used, another useful feature would be passing multiple targets/ends, similar to f

[2018-12-14 17:49] michaelaye commented on #3413
Could you comment on the need for normalization? I'm worried that above code now doesn't give a choice to the user, in case they want to use things un-normalized? When is it required?

[2018-12-14 17:51] michaelaye commented on #2012
I don't understand why the GLCM ALWAYS has to be normalized? If that was true, why was it ever implemented without normalization? I can't believe it was useless before?

[2018-12-15 15:06] emmanuelle commented on #3581
@FrAnCOisCokELaER I can see you pushed a commit to your branch, do you want to open a pull request now?

[2018-12-15 15:14] emmanuelle commented on #3526
Can I close this issue? I think it was decided that we did not want this feature in scikit-image, eventually.

[2018-12-15 15:18] emmanuelle commented on #3559
Since it works with Anaconda and as said by @jni, it's better not to use your system Python for installing packages, I'm closing the issue. Of course feel free to open it again if you need to add something.

[2018-12-15 15:18] #3559 closed

[2018-12-15 15:27] #3526 closed, assigned to nobody

[2018-12-15 15:42] emmanuelle commented on #3065
I could not reproduce the issue, so I'm thinking about closing it. When I tried to open a very large (10000x10000) image I got a warning from PIL, but it is a sensible one and only warning, not an error.
[code]

[2018-12-15 17:32] sciunto commented on #3494
xref #2444

[2018-12-15 17:51] sciunto commented on #3293
perhaps, we must rework on this part of the tutorial with another image? to get something less magic.

BTW, it is normal that a series of images appears fully back? http://scikit-image.org/docs/dev/auto_examples/xx_applications/plot_coins_segmentation.html#edge-based-segmentation

[2018-12-17 09:54] jni commented on #3384
Just an fyi, MetPy is now using pooch, so that gives me a bit of extra confidence about using it.

https://github.com/Unidata/MetPy/pull/915

[2018-12-17 15:38] aconceicao opened #3593 "Cannot use concatenate module"
I'm trying to load a stack of 2D tiff images, using the code below.

import skimage.io as io

image_collection = io.ImageCollection('/recon_dir/*.tif')
image_3d = io.concatenate(image_collection).]

However, appears the following message:
'AttributeError: module 'skimage.io' has no attribute 'concatenate''

And when I try:

image_3d = io.concatenate_images(image_collection)

Arises: 'ValueError: I

[2018-12-17 16:54] alexandrejaguar commented on #3593
Hi @aconceicao,
it seems that your images have different dimensions.
I tried the following in a folder with several images, all with the same dimensions, and it worked.
[code]
However, when I tried the same with a cropped image, I had the same error. I used this code to check their dimensions:
[code]
If that's the case, you could use [`transform.resize`](http://scikit-image.org/docs/dev/api/skimag

[2018-12-17 21:48] emmanuelle opened #3594 "More general clear_border?"
A colleague suggested that it might be interesting to have in ``segmentation`` a more general version of ``clear_border``, which would take a mask as optional argument and remove objects touching the edge of the mask (with respect to the border of the whole image as it is now). It should be straightforward to adapt the existing function. Would there be enough interest to include this feature or no

[2018-12-17 21:55] emmanuelle opened #3595 "Orphan code in filters"
I noticed that https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/_ctmf.pyx is not imported in the ``__init__.py`` of ``filters`` or elsewhere in this submodule. I have the feeling that this code, which was originally taken from CellProfiler, is now orphan. Should we remove it?

[2018-12-17 22:21] jni commented on #3594
+1 from me

[2018-12-18 00:05] stefanv commented on #3594
On Mon, 17 Dec 2018 13:48:01 -0800, Emmanuelle Gouillart wrote:

That's a neat idea!

Another use case that cropped up today: return the removed objects,
instead of the cleaned up mask.  This is pretty easy to do with a `mask
!= cleaned_mask`, so I'm not even sure if it's worth adding in.

[2018-12-18 00:05] stefanv commented on #3595
If you remove it, and Travis-CI is happy, trash it!

[2018-12-18 00:52] hmaarrfk opened #3597 "Slowdown in Skeletonize 3D"
I was looking at the automatic benchmarks and it seems that this PR might have actually made things much slower on the benchmarked configurations.
It seems to have been caused around #3536

http://pandas.pydata.org/speed/scikit-image/#benchmark_morphology.Skeletonize3d.time_skeletonize_3d?cython=0.28&numpy=1.14&scipy=1.1

Maybe newer cython/numpy is better?

Not sure if it is a peculiarity of the

[2018-12-18 02:14] alexandrejaguar commented on #3594
@emmanuelle I implemented a version for cleaning the "right" and "down" borders of an input image, for the papers I'm working on:
[code]
Such general function could be easily implemented making the `([1, 0], [1, 0])` argument on `np.pad` a variable, I think.

[2018-12-18 07:03] sciunto commented on #3581
Thanks @FrAnCOisCokELaER

[2018-12-18 07:03] #3581 closed

[2018-12-18 11:06] sciunto opened #3599 "local tophat from rank filters has an unclear/unsufficient documentation"
## Description

We had a quick look with @ThomasWalter and @emmanuelle on the top hat filter from rank and the docstring/behavior are unclear.

For instance, I understand

[code]

but not
[code]

[2018-12-18 12:35] #1961 closed

[2018-12-18 12:47] #3595 closed

[2018-12-18 15:49] #2407 closed

[2018-12-18 15:49] PeterJackNaylor opened #3604 "Masked `threshold_otsu`"
I was wondering if the community would be interested in a modified version of threshold_otsu to incorporate a mask.

I have already implemented this function with an extra keyword which was the mask. In particular, the threshold is computed only on the pixels where the mask is equal to 1. Pixels that are not in the mask will be clustered with the background pixels. It involves adding an argument a

[2018-12-18 16:09] paulmueller opened #3605 "threshold_li changed from version 0.14.0 to version 0.14.1"
## Description
The code for threshold_li in filters/thresholding.py changed from version 0.14.0 to 0.14.1. The new method does not work at all for my images.

Example data (test.npy must be unzipped): [test.zip](https://github.com/scikit-image/scikit-image/files/2691279/test.zip)

[code]

Old code (0.14.0):
https://github.com/scikit-image/scikit-image/blob/v0.14.0/skimage/filters/thresholding.py#L

[2018-12-18 16:30] sciunto commented on #3605
@jni This is something you changed in this commit... Do you remember? https://github.com/scikit-image/scikit-image/commit/f328085c6d2771fdffc13822b9c135cd089b1c00#diff-3d45990596f953f3e60ccfb305cf8924

[2018-12-18 19:49] soupault commented on #3583
I don't see any issues in working with scipy directly.

@PinkFloyded implementing 1-to-1 thin wrappers brings little to no benefit, while adding extra work for keeping the wrappers __and__ the corresponding tests up-to-date. We already had such experience with ndimage morphology functions (https://github.com/scikit-image/scikit-image/issues/1917, https://github.com/scikit-image/scikit-image/issues

[2018-12-18 19:49] #3583 closed

[2018-12-18 19:51] soupault commented on #3599
@sciunto see https://github.com/scikit-image/scikit-image/issues/3580.

[2018-12-18 21:09] sciunto commented on #3599
I know, I opened that one :)

[2018-12-18 22:10] glemaitre commented on #1419
I was thinking to pick up this issue.

The suggestion was to use the SciPy functions. Would it make sense to adapt the Cython code instead to deal with floating images instead?

[2018-12-18 22:44] glemaitre commented on #1419
OK I see. So defaulting on the scipy depending on the dtype would still be correct then.

[2018-12-18 22:47] stefanv commented on #1419
It's probably not great to have different implementations for ints and floats, especially not in different packages. Then, rather two implementations, with a "See Also" referring to the other location.

[2018-12-19 07:41] jni commented on #3605
Ach, I take it back! What's changed is something about our tolerance and how it interacts with this image.

Here is the cross-correlation vs threshold plot:

![cross-entropy-test](https://user-images.githubusercontent.com/492549/50205449-58334200-03bc-11e9-8f95-e57184309467.png)

And here is what `threshold_li` finds:

[code]

So it looks like the optimization iteration got stuck in that local min

[2018-12-19 08:21] jni commented on #3605
Ok so here is the old code:

https://github.com/scikit-image/scikit-image/blob/5f91f5456e42370beb2fd05b75f5e4ac0fdc6364/skimage/filters/thresholding.py#L521-L539

vs the new code

https://github.com/scikit-image/scikit-image/blob/5b6791eb9def2fd8298f5e035a3151205f35229d/skimage/filters/thresholding.py#L588-L601

Notice how in the old code, the threshold gets updated *twice* in the iteration: first

[2018-12-19 08:45] emmanuelle commented on #1419
OK, here is what I suggest: how about
- ``skimage.filters.median`` calls ``ndimage.median_filter`` for all data types
- and ``skimage.filters.rank.median`` is imported from the ``rank`` submodule only, and only for integer data types?

[2018-12-19 10:21] trungnghiatn commented on #2942
Hi,
I also faced with this issue. I installed scikit-image 0.14.0 and can not import skimage to my project. I'm running windows 10 build 17763. Does anyone can help?

[2018-12-19 10:32] glemaitre commented on #1419
`ndimage.median_filter` does not support an option `mask`. I could deprecate the parameter and fallback to the `skimage.rank.median` for 2 release cycle.
I also have to check the `mode` policy for the borders to be sure that both implementation will given similar results.

[2018-12-19 11:14] PeterJackNaylor commented on #2589
In the galery they are several notebooks about Region Adjacency Graphs.
In particular: http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_rag_merge.html#sphx-glr-auto-examples-segmentation-plot-rag-merge-py

Should this issue be closed?

[2018-12-19 12:36] soupault commented on #3061
@jni Should we revisit this issue?

[2018-12-19 12:38] soupault commented on #2345
For reference, a library with object segmentation metrics by Deepmind - https://github.com/deepmind/surface-distance .

[2018-12-19 12:56] #3410 closed

[2018-12-19 14:12] ThomasWalter commented on #3599
I looked at the image, and the function does not compute a top-hat.

Just for recall: a white top-hat is defined as WTH = f - opening(f), a black top-hat as BTH = closing(f) - f.

`rank.tophat` calculates an external gradient, i.e. dilation(f) - f:

[code]

The function needs to be renamed, I guess.

[2018-12-19 15:04] #3550 closed

[2018-12-19 15:13] Henley13 commented on #3577
Do you want to update the documentation or make the function consistent (an input `bool` should return an output `bool`) ?

[2018-12-19 16:19] sciunto commented on #3577
As we discussed, I advised that in skimage, we try to keep the input and output dtypes identical.

[2018-12-19 18:52] stefanv commented on #3577
@sciunto Note that, currently, our explicitly stated policy is that we give no guarantees of output types.  E.g., when doing interpolation, it would make no sense to stick to integers.

[2018-12-19 20:54] stefanv commented on #3061
I deleted the Gitter (since we're trying Zulip anyway) and Travis-CI services (since we have the App).  Hopefully everything continues to run smoothly!

[2018-12-19 20:54] #3061 closed

[2018-12-19 22:13] soupault commented on #2942
@trungnghiatn could you provide any extra information (how you installed scikit-image, whether you are using virtualenv or not, etc)?

[2018-12-19 22:32] stefanv commented on #2942
Also please tell us which version of Python you are running (e.g., Python.org, Anaconda, etc.).

[2018-12-20 00:32] #2442 closed

[2018-12-20 01:33] #3012 closed

[2018-12-20 03:47] stefanv commented on #2589
This issue refuted being closed for a reason ;)

[2018-12-20 03:49] stefanv commented on #2589
http://melvincabatuan.github.io/RAG/

[2018-12-20 03:50] stefanv commented on #2589
https://vcansimplify.wordpress.com/tag/gsoc/

[2018-12-20 06:21] jni commented on #2589
@stefanv LOL I totally forgot to close it after that. But anyway, what specifically in those blogs do you think is missing from our gallery? We have examples of everything I can see in there I think...

[2018-12-20 06:37] sciunto commented on #3605
My opinion: Keep the new version that sticks to the original implementation. Change the default tolerance (It's not problematic since we changed the implementation). Backport in 0.14.2. Add all this in the notes :)

[2018-12-20 06:37] jni opened #3618 "Move histogram matching from transform to exposure"
We recently merged #3568, which added histogram matching to the `transform` module. @stefanv argued (and I agree) that it should go into `exposure` instead. Oops!

See https://github.com/scikit-image/scikit-image/pull/3568#pullrequestreview-186841972

[2018-12-20 06:46] sciunto commented on #3618
And there is a test that I commented that must be rewritten, due to the addition of the multichannel argument. The boolean must be left to False in that case.

[2018-12-20 06:56] stefanv commented on #2589
Do we have an example of graph simplification (region merging)?

[2018-12-20 07:03] stefanv commented on #3605
On Wed, 19 Dec 2018 22:37:17 -0800, François Boulogne wrote:

Changing public API in a point release is problematic.  Even if we
consider this a bug-fix of sorts, I recommend a warning to the user.

[2018-12-20 07:04] jni commented on #3605
@stefanv the public API was not changed before and will not change now. The tolerance is an internal parameter.

[2018-12-20 07:07] jni commented on #2589
http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_rag_merge.html#sphx-glr-auto-examples-segmentation-plot-rag-merge-py
http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_boundary_merge.html#sphx-glr-auto-examples-segmentation-plot-boundary-merge-py
http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_rag_mean_color.html#sphx-glr-auto-examples-segmentation-p

[2018-12-20 07:09] jni commented on #2589
@stefanv that's 3 of **7** RAG examples. I don't think there is a single other feature of scikit-image with better coverage in the gallery. :joy:

[2018-12-20 07:11] stefanv commented on #3605
But we are changing behavior.  I.e., the same API call gives different results between 0.14.0 and 0.14.1.

[2018-12-20 07:14] stefanv commented on #2589
OK, so what caught me was the naming: unless you know it's called RAG, searching for "adjacency" or "graph" doesn't get you to those examples.  OK if we write out the titles explicitly?

[2018-12-20 07:19] jni commented on #3605
Our policy has always been to do this silently when it was a bug fix. Running scikit-image would be a warning salad if we warned every time we changed some internal thing. It was definitely a mistake not to mention anything in the release notes, but other than that I think fixing an algorithm should be silent. And anyway, the goal of changing the tolerance now is for the behavior in 0.14.2 to matc

[2018-12-20 07:20] jni commented on #2589
oh yeah, that's totally a good idea. =) You should have both spellings in the title maybe?

[2018-12-20 07:34] stefanv commented on #3605
If 0.14.2 will match 0.14.0, that sounds right.

[2018-12-20 11:37] soupault commented on #3604
@PeterJackNaylor Absolutely, yes! Support for masked images in not yet common in scikit-image, but has been identified as one of the directions where we'd like to go.
Please, see the thread in https://github.com/scikit-image/scikit-image/issues/1624 for more info regarding the conventions.

[2018-12-20 12:17] soupault commented on #3473
Should be closed via #3500 .

[2018-12-20 12:17] #3473 closed

[2018-12-20 12:46] soupault commented on #3539
@hmaarrfk if you still need manual control over Windows build, please, create a Microsoft account for Azure DevOps.

[2018-12-20 13:22] hmaarrfk commented on #3539
you know, I have an account and was just tyring to use it this last week. I couldn;t figure out how to link it to my github, especically using tokens. Too complicated .....

[2018-12-20 13:44] soupault commented on #3539
@hmaarrfk you should ask @stefanv to add you to `scikit-image` Azure organization (https://dev.azure.com/scikit-image/scikit-image) by email. That's how it worked for me.

[2018-12-20 13:58] hmaarrfk commented on #3539
We'll see how often Azure crashes. I think earlier on, there were many crashes on appveyor and it was literally impossible to get 2 builds in row to completion.

I tried to use Azure for my day job. the conda-smithy scripts moved to it, but I couldn't get my account setup to enable all their automation. I fell back to their older scripts, but I don't know how long that will be OK for.

[2018-12-20 16:07] stefanv commented on #3539
On Thu, 20 Dec 2018 13:44:19 +0000, Egor Panfilov wrote:

Let me know your Microsoft live account and I'll add you.  Egor, you
should also be an owner of the organization?  If not, I can fix that.

[2018-12-20 16:39] soupault commented on #3539
Judging from the number of buttons I see in UI, most likely, yes :).

[2018-12-21 10:18] magnunor opened #3620 "Adding new ConicSectionModel?"
As far as I know, `scikit-image` currently has three models for use in `skimage.measure.ransac`: `LineModelND`, `CircleModel` and `EllipseModel`. Would there be any interest in adding a more general `ConicSectionModel`? And possibly the more specific `ParabolaModel` and `HyperbolaModel`? After searching a bit, I don't think something like this currently exist in any python library.

I need this fo

[2018-12-21 19:32] #1419 closed

[2018-12-21 19:32] #2943 closed

[2018-12-23 05:54] jni opened #3623 "Inconsistent annotation of image license in data module"
## Description
I've just been going through our `data` [documentation](http://scikit-image.org/docs/dev/api/skimage.data.html), and some images contain license information while others are vague ("no known copyright") or non-existent. I suggest that the ones that list "public domain" be renamed to CC0 (I think this is kosher?), and the ones that say "no known copyright" be relabeled to "probably C

[2018-12-23 05:57] jni commented on #3605
@paulmueller could we have your permission to use your image in our documentation and testing? For this we would need it to be licensed as CC0 (public domain) or CC-BY (attribution) (@stefanv can you confirm that we could include CC-BY?).

[2018-12-23 20:31] paulmueller commented on #3605
@jni: CC0 is fine, use it!

[2018-12-24 01:17] jni commented on #3605
Awesome, thanks! What should we call it? `data.beads()`? =) If you have any additional information, e.g. the pixel spacing, that would be nice-to-have (obviously not essential).

[2018-12-24 13:59] paulmueller commented on #3605
It should be called ``data.cells()`` or ``data.cells_phase()``/``data.cells_qpi()`` (more accurate, "qpi" stands for quantitative phase imaging).
Though, I just realized that the data are preprocessed with another filter. I will dig out a better picture (also with more cells) that reproduces the bug and upload it here.

[2018-12-24 14:09] emmanuelle opened #3624 "New function using matplotlib?"
@ThomasWalter wrote a function ``plot_img`` for a new gallery example https://github.com/scikit-image/scikit-image/pull/2680/files#diff-76dba9af33e77a87351f24e67e6963fbR56, which displays a (small) grayscale image with user-provided values written on top of the pixels. This function could be useful for other examples, therefore it could be interesting to have it somewhere in the package. The only

[2018-12-24 14:43] hmaarrfk commented on #3624
I don't think it is bad to include functionality that depends on matplotlib, but I think one should be able to `import` scikit-image without having matplotlib installed.

The tricky aspect is developing the infrastructure to test it....

[2018-12-24 17:13] tacaswell commented on #3624
Have a look at https://github.com/matplotlib/pytest-mpl for testing.

Long term I am interested in seeing a proliferation of domain-specific Matplotlib extensions, but that is still very vapor-warey.

[2018-12-25 13:46] emmanuelle commented on #1231
@jni I reopened it since I had added one more missing example. Would you prefer that we open a new issue for this?

[2018-12-25 15:42] #3593 closed

[2018-12-25 15:42] alexandrejaguar commented on #3593
Closed due to inactivity. Please reopen if necessary.

[2018-12-25 23:12] #3594 closed

[2018-12-25 23:16] jni commented on #1231
Oh yeah I didn't close this on purpose, this was github's auto-closing on merge. Leaving this open is fine by me. =)

[2018-12-26 11:20] sciunto commented on #3623
I disagree to change public domain for CC0. It's not the exactly same afaik. https://wiki.creativecommons.org/wiki/CC0_FAQ#What_is_the_difference_between_CC0_and_the_Public_Domain_Mark_.28.22PDM.22.29.3F

But some images have wrong copyright information. Ex: the horse must be CC0 (the website states that).

Keeping images with no known copyright is a bit dangerous, although we can argue to conside

[2018-12-26 22:38] #3462 closed

[2018-12-27 08:18] adhishnanda commented on #3101
I changed the Gamma from 'Scale' to 'Auto' and it worked. Thanks @jni .

[2018-12-27 23:34] jni commented on #3605
Thanks Paul! This is great!

[2018-12-30 01:45] jni opened #3629 "Start a GitHub Queries wiki page to find neglected PRs or issues"
## Description
@stefanv pointed out that NumPy has a [GitHub Queries page](https://github.com/numpy/numpy/wiki/Github-Queries) that lets them find neglected issues and PRs. I think this is a useful thing to have (linked from the README perhaps), so that we don't let issues fall through the cracks. One can also think of significant tags (high priority, bugs, mrg+1) to add to such a page.

[2018-12-30 14:34] olebole opened #3630 "[0.14.1] Test failures with new numpy"
## Description

I am trying to get the Debian skimage package working with the new numpy version. Apart from #3551 (where I backported #3556 for a [fix](https://bugs.debian.org/917353)), I get the following errors:

[code]
which repeats a number of times for different tests. It looks that the dependency warning is ignored here; however I don't find `np.asscalar()` used anywhere in the sources. And

[2018-12-30 15:13] hmaarrfk commented on #3630
Thanks for looking into it. and the really detailed issue.

Unfortunately, I can't seem to recreate the issue:
<details> <summary> pip list </summary>

[code]
</details>

Are you using any other `--pre` packages?

I think this failure is pretty innocent. I wouldn't let it stop you from building the package.

Things you can do:
- remove (rename) the file `skimage/io/tests/tests_mpl_imshow.py` prior

[2018-12-30 16:05] hmaarrfk opened #3631 "circular import in 0.14.x dev"
1. Use the 0.14.x branch
2. build
3. Try to run tests
4. Profit

[code]

xref: https://github.com/scikit-image/scikit-image/issues/3630
cc: @olebole just an FYI.

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [ ] Operating system and version: linux
- [ ] Python version: 2.7

[2018-12-30 16:29] olebole opened #3633 "[0.14.1] ValueError from dask"
## Description

When trying to build the Debian package, I also get the following error:

[code]
Python 3.7, dask 1.0.0

[2018-12-30 16:30] hmaarrfk commented on #3630
Here is the patch that would make your tests pass:
https://github.com/scikit-image/scikit-image/commit/33960948f77ac5c208e917e84f8ee01adfa5b095.patch

Also, I had trouble with dask 1.0.0

but maybe  you guys patched it?
[code]
what is dfsg??

[2018-12-30 16:35] olebole commented on #3630
For the dask problem, see #3633. "+dfsg" means that some source that is not compatible to the Debian Free Source Guidelines was removed. Specifically these are the files  `docs/source/_static/profile.html` and `docs/source/_static/stacked_profile.html`; so probably nothing important. There were other [patches applied to dask](https://salsa.debian.org/python-team/modules/dask/tree/master/debian/pat

[2018-12-30 16:42] olebole commented on #3630
The patch 33960948f77ac5c208e917e84f8ee01adfa5b095 still needs the `|\A\Z`, since the warnings do not appear on 3.7.

[2018-12-30 16:44] hmaarrfk commented on #3630
my dask issue was more with collecting the tests. Something a ufuncs.

Thanks for catching the fact that the warning needed to be optional in certain locations. Here is the fixed up patch
https://github.com/scikit-image/scikit-image/commit/2b8237e326e2f354d7178769b892e6cbad2c94fe.patch

[2018-12-30 16:49] hmaarrfk commented on #3633
This seems to be because you don't have multiprocessing???

https://github.com/dask/dask/blob/master/dask/base.py#L810

[2018-12-30 16:59] hmaarrfk commented on #3633
I think i get why. using the processes scheduler requires `cloudpickle`

Maybe try adding 'cloudpickle >= 0.2.1' dependency? in your build?

[2018-12-30 17:00] hmaarrfk commented on #3630
See this is the error I'm getting:
https://ci.appveyor.com/project/scikit-image/scikit-image/builds/21295810/job/smaws2qm1x2eg4bo#L3178

[2018-12-30 17:05] hmaarrfk commented on #3633
As soon as I removed cloudpickle from my env, I was able to reproduce it, it started causing problems
[code]

[2018-12-30 17:09] olebole commented on #3630
I can confirm that 2b8237e326e2f354d7178769b892e6cbad2c94fe works for this issue. Thank you!

[2018-12-30 17:10] olebole commented on #3633
Yep, that was a missing dependency. Thank you for the hint! With this, I can completely build the package. Since this is a Debian problem, I am closing it here.

[2018-12-30 17:10] #3633 closed

[2018-12-30 17:11] hmaarrfk commented on #3633
cloudpickle is indeed a listed dependency for scikit-image 0.14.1
https://github.com/scikit-image/scikit-image/blob/v0.14.x/requirements/default.txt#L9

I'm going to move it to docs for master.

[2018-12-30 18:15] soupault commented on #3629
👍. Another useful thing could be to configure https://github.com/apps/meeseeksdev to automatically assign "Needs Decision" (or similar) tag to all the new issues and PRs, and the ones that haven't been updated (by comments or commits) in a while.

[2019-01-02 06:33] pinakiweb commented on #2933
I want to segment lines from a paragraph and then words from the line. How can I do it using skimage.measure.find_contours. Any other skimage functions will even do. Please help

[2019-01-02 12:39] sciunto commented on #3629
I don't know what's the best procedure to set, but definitely +1 on a way to keep an eye on neglected issues/PR.

A suggestion. I find useful the milestones. Clearly, if each issue would have a milestone, it would force ourself to review regularly these issues and decide whether to solve it, to postpone it or to close it.

[2019-01-02 15:40] soupault commented on #3630
Closed via #3632.

[2019-01-02 15:40] #3630 closed

[2019-01-03 18:02] adamananos commented on #2219
replying to the original post.

It appears that the problem is caused when the number of rows or number of columns computed from the kernel size provided to equalize_adapthist.clahe() results in an odd number.  When the initial 'tile_size' - c_offset and r_offset are computed (first row or first column), this produces a non-integer (*.5). These values are rounded down in equalize_adapthist.interpo

[2019-01-03 18:41] stefanv commented on #2219
That looks like a regression; we should add a test to catch it.  @adamananos Are you able to make a pull request to address the issue?

[2019-01-03 19:20] stefanv opened #3640 "Documentation search results are polluted"
Documentation search results show snippets from raw RST, instead of plain text.  Some of these files also contain the text "AUTOGENERATED, DO NOT MODIFY", which search results should not show.

To reproduce: go to skimage.org, put "adjacency" in the search box, and go.

[2019-01-03 23:55] jo-tham opened #3641 ""[Errno 36] File name too long:" when using imread on remote resource with long querystring"
## Description
When using skimage.io.imread with a remote resource, a long query string on the remote resource will cause a failure to read the remote resource, because the temporary file cannot be created.

e.g.

The following works fine
[code]

while the one below fails

[code]

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example
- [x]

[2019-01-04 00:45] jni commented on #3641
@jo-tham yikes, good catch! Do you know how to submit a pull request to make that change? I agree with your suggestion btw.

Are you trying to get your pics out of Flickr before they delete them? :joy:

btw, I just thought I'd check and indeed this works:

[code]

[2019-01-04 00:52] jo-tham commented on #3641
Hi @jni - thanks for the quick reply (and the observation on `string * int`)

Hehe, I didn't know flickr is changing, that example was a coincidence, I just searched for some CC images.

I ran into the issue as I maintain services that use signed urls for s3 resources. I have not run into this in the live services, but I was trying different signing methods and this issue came up.

Yep, I can subm

[2019-01-04 02:47] thisisit1212 commented on #3586
how can i fix this issue? Or do we just wait for the new patch?

[2019-01-04 02:49] hmaarrfk commented on #3586
what distribution are you using? who is packaging 1.16 today?

[2019-01-04 03:06] hmaarrfk commented on #3586
@thisisit1212 In either case, if you must be on numpy 1.16 before 0.14.2 gets released on pypi, conda-forge actually has the package with the relevant patches applied.

See recipe here:
https://github.com/conda-forge/scikit-image-feedstock/blob/master/recipe/meta.yaml#L10

You can take the patches you need from there and patch 0.14.1 if you need to cut your own release with minimal differences wit

[2019-01-04 03:14] thisisit1212 commented on #3586
How would I go about doing what you mentioned? sorry im new to programming

[2019-01-04 03:30] hmaarrfk commented on #3586
@thisisit1212 thats great that you are getting into programming with python + scikit-image!!! I think they are great libraries.

As there are many ways to install python, explain to you how to install "non-standard" software isn't a trivial task without more details.

Can you please explain to me:

1. What operating system you are using.
2. How did you install python
3. How did you install scikit-

[2019-01-04 03:33] thisisit1212 commented on #3586
Im so sorry for the trouble I just realized I was using numpy 1.16 for whatever reason. I just downloaded 1.15.4 and it works fine now. Thanks!

[2019-01-04 03:34] hmaarrfk commented on #3586
Right, today, you have to `try` and download numpy 1.16. In a few weeks, you might not have to. That is why I was surprised that it happened to you.

[2019-01-08 03:11] hmaarrfk opened #3644 "tifffile: try to use the one in the user's install first"
Should we try importing tifffile before using the one we versionned it?

[2019-01-08 03:38] jni commented on #3644
imho, an emphatic *yes*.

[2019-01-08 16:04] hmaarrfk commented on #3576
After finishing the work on the issues referenced below, I'm not so sure pyproject.toml adds too much value.

Let me explain:
1. The sdist packages contain all the cythonized files.
This PR ensures that one can build from sdist without cython:
https://github.com/scikit-image/scikit-image/pull/3311
though probably needs a bit of cleanup.

2. Wheels are uploaded for x86 architectures.

3. Users that

[2019-01-08 20:01] stefanv commented on #3576
Hrm, so what action do you recommend?  Removing pyproject.toml entirely?

[2019-01-08 20:23] hmaarrfk commented on #3576
yeah, that would be my vote.

That was my solution after struggling enough with pip for conda-forge.

[2019-01-08 21:07] hmaarrfk commented on #3576
I guess I'm saying that the issues that Matthew-Brett brought up in https://github.com/scikit-image/scikit-image/pull/3020
about it messing with version requirements for packages are still alive and well.

Take this as one (packager) user story about struggling with pyproject.toml

[2019-01-08 21:16] stefanv commented on #3576
OK, let's go ahead and remove.

[2019-01-08 21:47] hmaarrfk commented on #3576
Inertia is killing me. I probably won't submit that PR since I kinda permanently took care of the problem for my usecase.

cross linking scipy's discussion
https://github.com/scipy/scipy/issues/8734

[2019-01-08 21:56] hmaarrfk commented on #3576
It seems scipy is going to go the other direction. Maybe we should wait and
see what happens.

On Tue, Jan 8, 2019, 3:01 PM Stefan van der Walt <notifications@github.com
wrote:

[2019-01-09 00:59] hsiaoyi0504 commented on #1789
As of 0.15, do we still need to transpose first ?
It seems to me this issue hasn't been closed means that it’s still the case. Alternatively, can we just mention this in the document ?

[2019-01-09 01:09] jni commented on #1789
@hsiaoyi0504 yes, the situation here is still a mess, but it is literally my top priority to fix this for 2019. Short term, where would be the most useful place to put a warning in your opinion?

[2019-01-09 01:16] jni commented on #1789
@ahojnnes @JDWarner I've thought about this a lot more than I had when we were discussing here originally regarding xy vs rc. I defer to @zpincus's great response [here](
https://github.com/scikit-image/scikit-image/pull/3031#issuecomment-390941115), where he eloquently makes the point that the issue is an **IO/display** issue, *not* an axis transposition issue, and transformation matrix rows/colu

[2019-01-09 01:20] stefanv commented on #1789
I agree, perhaps more strongly, with your and my previous assessment, that we should switch.

I also caution that this will break a lot of code in pretty bad ways, so I ask that we be extra careful in warning users, or changing the API in such a way that they don't inadvertently break their code.  The plan of going via an intermediary `transform_rc`, `transform_xy` cycle seemed good.

[2019-01-09 03:34] jni commented on #1789
@stefanv Yes, we are on the same page regarding transitioning. =) The only change I would make to that plan is to change `transform_rc` to `ndtransform` or `ndtransforms`, or any other name that could be permanent.

[2019-01-09 16:24] hsiaoyi0504 commented on #1789
@jni In my opinion, have comments directly embedded in the example and [notes-on-the-order-of-array-dimensions](http://scikit-image.org/docs/dev/user_guide/numpy_images.html#notes-on-the-order-of-array-dimensions) will be good.

[2019-01-09 18:32] stefanv commented on #1789
This is an annoying one, @jni.  `transform` is a good name for that submodule; having to call it something odd just so we can make behavior consistent is frustrating.  Perhaps we can just have a warning raised for three releases or so on import of the `transform` module?  It's a bit annoying to users, but at least it only happens once, and we can add a mechanism to silence it, e.g. `from skimage._

[2019-01-10 01:00] stefanv opened #3646 "Seam carving is patented; remove from library"
https://patents.google.com/patent/US8213745B2/en

Ref: #2808 #3082 #3643

This code may be made available outside of scikit-image under the same license, but our policy is not to include algorithms covered under active patents.

[2019-01-10 01:36] jni commented on #1789
@stefanv indeed, my idea is that it is annoying to have to do *two* things to silence the warnings. (1) use `transform_rc` for two releases, (2) switch back to `transform` later. We could say `transforms` but it will be annoying with tab-completion compared with `ndtransform`. I'd like a name that can live in perpetuity (or till 1.0), even if we end up overwriting `transform`.

[2019-01-10 01:37] jni commented on #1789
@hsiaoyi0504 noted! I'll be happy to review if you want to submit a suggestion, or I'll get to that ASAP. Thanks for your input!

[2019-01-10 01:45] hmaarrfk commented on #3646
The cited paper is from 2007.

The priority date on the patent is from 2009.

I think you are safe @stefanv.

[2019-01-10 01:48] hmaarrfk commented on #3646
Though it seems they cite a patent from the paper's authors, also from 2007. So :/

[2019-01-10 01:50] jni commented on #3646
Yep, here's the actual patent:
https://patents.google.com/patent/US20080219587A1/en

[2019-01-10 05:33] stefanv commented on #1789
There's no reason __future__. transform cannot live in perpetuity?

[2019-01-10 07:00] stefanv commented on #1789
No, I meant future. Should maybe have been __future__, but oh well.

I don't see any other alternative, other than coming up with a new
alternative name for the submodule. And I don't have any good ideas: every
option so far feels clunky.

Add a keyword arg to each warp function, that can be set to 'nd' or 'xy'.
Make it None and warn when it is not specified that xy is now being returned?

[2019-01-10 11:59] soupault commented on #3644
@hmaarrfk Certainly! Very good point! :slightly_smiling_face:

[2019-01-10 19:51] ahojnnes commented on #1789
Totally agreed that we should fix this. The proposed path of implementing the new/fixed behavior in the future module seems right. The old transform module will then just get a deprecation warning for some time.

[2019-01-10 19:52] ahojnnes commented on #1789
To clarify, by fixing I mean to change from x, y to r, c convention.

[2019-01-10 21:49] soupault commented on #3646
Affects https://github.com/scikit-image/scikit-image/issues/2808, https://github.com/scikit-image/scikit-image/issues/3082, and https://github.com/scikit-image/scikit-image/pull/3643.

[2019-01-11 03:35] #3641 closed

[2019-01-11 10:32] soupault commented on #3623
Looks useful - https://tldrlegal.com/ .

[2019-01-13 00:43] jni commented on #3597
See discussion starting [here](
https://github.com/scikit-image/scikit-image/pull/3536#issuecomment-447982410) in #3536.

@constantinpape Could you give us some information about the machine and compiler where you ran your benchmarks?

@TomAugspurger Could you do the same for the machine that is running the benchmarks?

[2019-01-13 00:45] jni opened #3647 "Performance regression in equalize_hist"
While reviewing #3597 I noticed that we also appear to have had another massive slowdown in `equalize_hist`. I wonder how many of these regressions have gone unnoticed over the years!
http://pandas.pydata.org/speed/scikit-image/#benchmark_exposure.ExposureSuite.time_equalize_hist

This one is due to #2479. @sciunto would you mind investigating? When `source_range` is not provided, the speed should

[2019-01-13 09:05] sciunto commented on #3647
I'm sorry @jni, but I can't reproduce on my machine... :(

[speed_histograms.pdf](https://github.com/scikit-image/scikit-image/files/2752931/speed_histograms.pdf)

[2019-01-14 08:13] jni commented on #3647
@sciunto would you mind sharing that notebook in a format more useful than .pdf? ;)

[2019-01-14 17:04] sk1p commented on #3586
FYI numpy 1.16 was just released, so right now if you create a new virtualenv and install via `pip install scikit-image`, you get incompatible versions.

[2019-01-14 17:14] hmaarrfk commented on #3586
I wish there was a sad face. Unfortunately, many libraries (other than scikit image too!!!) will need time to get tested and released with numpy 1.16. I suggest that you wait a little but before jumping on.

[2019-01-14 19:02] stefanv commented on #3586
@jni It sounds like it might be worth cutting a 0.14.2 for this.

Does anyone have the bandwidth to handle this right now?

[2019-01-14 20:30] AetherUnbound opened #3649 "Scikit-image appears to be incompatible with numpy==0.16.0"
## Description
When installing numpy==0.16.0 and scikit-image==0.14.1 into the same environment, there appears to be an incompatibility that prevents scikit-image from importing successfully.

[code]

## Way to reproduce
- [X] Code example
- [ ] Relevant images (if any)
- [X] Operating system and version - **Ubuntu 16.04**
- [X] Python version - **3.7.2**
- [ ] scikit-image version (run `skimage._

[2019-01-14 20:33] AetherUnbound commented on #3649
This also occurs just by installing `scikit-image` alone:
[code]

[2019-01-14 20:38] AetherUnbound commented on #3649
It looks like the `_validate_lengths` function was removed in this commit: https://github.com/numpy/numpy/commit/a4b96ad7649281de2c3a41292fcbab4c77c0743d#diff-4fcddc9140fbe901655b3e1bd484205c

[2019-01-14 20:45] stefanv commented on #3649
See also: https://github.com/scikit-image/scikit-image/pull/3556

[2019-01-14 20:46] AetherUnbound commented on #3649
Ha, I just found #3551 as well. Thanks @stefanv!

[2019-01-14 20:54] stefanv commented on #3649
Note to self: improve the release process to where a point release can happen at the push of a button, so that we can synchronize near-seamlessly with NumPy releases.

[2019-01-14 21:32] constantinpape commented on #3597
I am pretty busy beginning of the week, I will try to dig this up on Wednesday or Thursday.

[2019-01-15 06:42] jni commented on #3647
*sigh* I can't reproduce either. Here's my local results:

https://github.com/jni/tmp/blob/de399d21fe72a0070d9ed9d143f1d834711e50bb/speed_histograms.ipynb

- Intel core i5
- Ubuntu 18.04
- Cython 0.28.5
- NumPy 1.14.6
- SciPy 1.1

All from conda defaults.

@TomAugspurger would you be able to run the above notebook on the asv machine and report back? Kind of crazy that we have two performance "regr

[2019-01-15 06:56] jni commented on #3647
A quick review of the code suggests basically nothing that would cause this regression. (And I double checked that @sciunto's copy-pasting skills were up to snuff... =P) Perhaps the machine environment was changed at that point somehow? This is all very weird...

[2019-01-15 07:41] sciunto commented on #3647
I also re-read my PR that is supposed to change the performance, and I couldn't see any particular regression. Was mainly code refactoring...

[2019-01-16 16:46] Borda commented on #3586
Could it be as a fast hotfix for 0.14.Xr? otherwise, it breaks most automatic builds without a fixed package version and pushes users to ban 0.14.1 (not sure if it appears in other image versions)

[2019-01-16 16:49] stefanv commented on #3586
I'll trigger the process today.

[2019-01-16 16:57] Kawue opened #3652 "compare_ssim() crop behaviour with gaussian weights"
When using gaussian weights the crop method to calculate the mean still relies on the window size. So if you use both, a window size and gaussian weights the filter will have a size of 13 while the crop method uses the given window size.

I guess:
[code]
needs to be outside of: `if win_size is None:`

Also I don't get why it is set to 11 when a sigma of 1.5 will produce a window size of 13. If the

[2019-01-16 20:11] christian-rauch commented on #2531
I agree with this. I am regularly exporting pixel-wise label images, where the grey value encodes the ID of an object. Obviously, these images are not natural images and have low contrast. Checking and printing this warning seems to slow down the image export by quite some factor.
I am in favour of completely removing this check. A low-contrast check is only useful for proper photo processing appl

[2019-01-16 21:57] hmaarrfk commented on #2531
@christian-rauch I am sympathetic with your pains.

I don't think imageio does any of these checks. skimage mostly moved to imageio in (0.15???) anyway.

[2019-01-17 12:32] findoslice commented on #3586
Any update on when this will be released on PyPi? I have scikit-image .14.1 and numpy 1.16.0 but I still receive the same error (running macOS high sierra and python 3.6.3)

[2019-01-17 13:55] jni commented on #3586
@findoslice Sorry, we are seeing build errors on Travis that we are still getting to the bottom of...

As a temporary workaround, you can monkey-patch your version of scikit-image. The import error points to a file called `arraycrop.py` in your filesystem. You can replace it with this one:
https://github.com/sciunto/scikit-image/blob/eb8c1966eba5639dd4917491aa1b02c74bca56d7/skimage/util/arraycrop.

[2019-01-17 14:00] raphaeljolivet opened #3654 "AttributeError: 'numpy.ufunc' object has no attribute '__module__'"
I just installed last version of **skimage** and **numpy**, and I get the following error when importing :

[code]
I am using python 2.7 in a **virtualenv** environment.
I have the following dependencies installed :

- scikit-image==0.14.1
- numpy==1.16.0
- dask==1.0.0

Any help would be appreciated.
Thanks in advance.

[2019-01-17 14:07] jni commented on #3654
Thanks @raphaeljolivet! We have noticed this ourselves in trying to get 0.14.2 out the door! Please hold because we haven't figured this one out yet.

Currently the only fix is to install NumPy 1.15. (Although I'm not positive that would work here.)

By the way, how did you install scikit-image? Were any of your installations from source?

[2019-01-17 14:12] Borda commented on #3586
or force being `numpy<1.16.0`

[2019-01-17 14:14] hmaarrfk commented on #3654
That particular bug has been fixed upstream: https://github.com/dask/dask/pull/4363

I think dask 1.0.0 is also broken for python 2.7 on numpy 1.16

I have a feeling that many libraries broke in 1.16. There were a few changes to the internals of numpy that cuased some downstream packages to break.

I would wait a few more weeks until all the big packages have released a new dot release.

[2019-01-17 14:23] findoslice commented on #3586
Thanks guys, I handled it using `numpy == 1.15.0` I was just wondering as it took me a while to find it

[2019-01-17 15:13] raphaeljolivet commented on #3654
Fallbacking to Numpy 1.15 solves the issue for me.
Thanks.

[2019-01-17 18:15] pllim commented on #3649
Perhaps there should be a note in https://scikit-image.org/ to state that `skimage<=0.14.1` is incompatible with `numpy>=1.16`?

[2019-01-17 18:17] pllim commented on #3649
Also, is there a solid time line for 0.14.2 release?

[2019-01-17 18:23] hmaarrfk commented on #3649
This should be a pinned issue:
- Pip releases are imminent. Though as always there are challenges with release process as it is rather tedious for pypi and Cython
- you can use conda-forge if you want to. I've already patched up 0.14.1 to work with newer numpy
- dask 1.0.0 is broken with numpy 1.16, so even if scikit-image is fixed immediately, your install it will still be broken.

[2019-01-17 18:43] stefanv commented on #3649
@pllim Timeline is as soon as possible, likely today still.

[2019-01-17 20:53] simonm3 opened #3655 "numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyObject."
Help! I am installing from source because I need a bug fix for houghlines that is not in the latest release.

I get the message "Expected 216 from C header, got 192 from PyObject."

Possibly it is a numpy incompatibility. However I was also getting the reverse message "Expected 192 but got 216" for bcolz until I moved it to later in the install.

How can I install bcolz, numpy, pytorch, skimage at

[2019-01-17 21:00] stefanv commented on #3655
The new NumPy release is tripping a lot of people up.  Please downgrade your NumPy to a previous version, or use conda-forge for now.  We are planning a new release for later today.  See also https://github.com/scikit-image/scikit-image/issues/3649

[2019-01-17 21:19] pllim opened #3659 "Test against Numpy dev in CI?"
Feature request: Test this repo against numpy-dev such that #3649 does not happen again. Thank you for your consideration.

[2019-01-17 21:53] soupault commented on #3659
@pllim There is a dedicated `--pre` (i.e. "pre-release") build in our test matrix to cover such cases.
See https://github.com/scikit-image/scikit-image/blob/master/.travis.yml#L58, https://github.com/scikit-image/scikit-image/blob/master/tools/travis/before_install.sh#L70 .

The issue in #3649 is related to the fact that we do not run tests on the already released versions (some of the collaborato

[2019-01-17 23:14] soupault commented on #3654
Closed in favour of https://github.com/scikit-image/scikit-image/issues/3654 .

[2019-01-17 23:14] #3654 closed

[2019-01-18 08:12] stefanv commented on #3654
@soupault Which ticket did you mean? This is #3654.

[2019-01-18 08:40] soupault commented on #3654
Yes, sorry for the typo. I meant https://github.com/scikit-image/scikit-image/issues/3649.

[2019-01-18 13:33] mleraa opened #3665 "Why is skimage.restoration.inpaint_biharmonic to slow?"
System specs:
Macbook Pro, 8 GB RAM, Intel HD Graphics,
[code]

I am trying to delete the watermarks from a few images. I have tried out the `cv2.inpaint` and `skimage.restoration.inpaint_biharmonic` and I saw some big differences at the result and at the performance.

General approach:
[![enter image description here][1]][1]

Original Image:
[![enter image description here][2]][2]

Mask:
[![enter

[2019-01-18 13:55] simonm3 commented on #3655
New release of skimage fixed it thanks. Not sure of cause but was not using latest release of numpy.

[2019-01-18 14:01] hmaarrfk commented on #3655
Interesting. Maybe you can tell us more about how you installed numpy, scikit-image, and pytorch if it happens again.

Things like OS, python version, pip vs conda are important.

[2019-01-18 14:07] simonm3 commented on #3655
FYI

ubuntu18.04, python 3.7 via miniconda latest
pip install numpy
conda install pytorch-cpu -c pytorch
compile skimage according to instructions

Pytorch is not available on pip. If I took out the pytorch install then
skimage worked. The version of pytorch is same as previously worked but it
installs dependencies which have changed including numpy (though not the
latest version).

On Fri, 18 Jan

[2019-01-18 14:09] hmaarrfk commented on #3655
is there a particular reason why you are compiling skimage from source?
do the packages on conda not work?
are you using conda-forge???

the issue is likely (though not 100% sure) that you are likely compiling skimage with a newer version of numpy than pytorch was compiled with

[2019-01-18 14:09] hmaarrfk commented on #3655
oh yeah, also, don't install one package with pip, the other with conda. that is a recipe for disaster.

[2019-01-18 14:10] hmaarrfk commented on #3655
mostly, you really shouldn't install numpy via pip. if a package exists on conda, you should use that. if it doesn't you can probably request it to be on conda-forge
https://github.com/conda-forge/staged-recipes

[2019-01-18 14:22] simonm3 commented on #3655
Required the source as there was a bug in houghlines which was fixed in
source but not in the release at the time - it is now!. I was trying to
install everything with pip so it would all be in one install and more
things are on pip than conda. The only ones not on pip were Pytorch and
skimage which was from source.

On Fri, 18 Jan 2019 at 14:09, Mark Harfouche <notifications@github.com>
wrote:

[2019-01-18 18:11] stefanv commented on #3649
v0.14.2 has been released: https://github.com/scikit-image/scikit-image/blob/master/doc/release/release_0.14.rst

[2019-01-18 18:20] stefanv commented on #3659
See also: https://github.com/scikit-image/scikit-image-wheels/issues/5

[2019-01-18 18:44] DEKHTIARJonathan commented on #3649
@stefanv : still failing with Python 2.7

[code]

[code]

[2019-01-18 18:45] hmaarrfk commented on #3655
Consistency is more what I was looking for. Thanks for making that clear @stefanv

[2019-01-18 18:46] hmaarrfk commented on #3649
yeah, this is a dask bug. they should have a release to fix this today or later this week.

[2019-01-18 20:33] soupault commented on #3665
@mleraa Hi! It is a known issue, and I wrote some bullets on where the implementation can be optimized - https://github.com/scikit-image/scikit-image/issues/2008#issuecomment-197349560. I don't think that you can speedup things without going deep into the algorithm.

If you are really interested in "traditional" (i.e. without deep learning) inpainting algorithms and ready to implement one, I'd str

[2019-01-18 20:33] #3665 closed

[2019-01-18 21:03] simonm3 commented on #3655
I just tried doing it all in conda. First difference is that it takes
longer or seems to because nothing happens for ages. Second thing is it
downgrades python from 3.7 to 2.7 and as I am doing this in one line for a
docker build it is unclear which of the 30+ packages is doing that. And the
latest skimage release isn't available on conda-forge yet!

On Fri, 18 Jan 2019 at 18:45, Mark Harfouche <n

[2019-01-18 21:44] hmaarrfk commented on #3655
it might be because you have something like a dependency that only exists on python2.7. for example, enum34 is one of these.

conda knows that it is being slow these days. they are trying to fix it.....

[2019-01-19 10:20] sciunto commented on #2466
I'm closing because upstream won't fix this. Let's keep the workaround.

[2019-01-19 10:20] #2466 closed

[2019-01-20 13:54] anntzer opened #3666 "Weighted region properties"
## Description

It seems a bit unfortunate that regionprops use unweighted properties by default even when the intensity_image is passed, and that one needs to pay attention to the entire docstring to realize that one needs to use the prop.weighted_foo variants instead of prop.foo to get the weighte centroid, etc.  Moreover, certain properties (orientation, major/minor_axis_length) are not availab

[2019-01-20 14:05] anntzer opened #3667 "Hide xy/rc warnings when computing regionprops not affected by the change"
## Description

As of skimage 0.14.2, the xy-to-rc warning is emitted when computing certain regionprops that are not actually affected by the xy-to-rc change, e.g. the minor/major_axis_length:
[code]
gives
[code]
I guess that this is because the computation goes through the computation of moments, which *is* affected by the change, but the computation of the minor/major_axis_length should wrap it

[2019-01-20 14:50] anntzer opened #3668 "Support boolean images in regionprops"
## Description
Currently (scikit-learn 0.14.2), measure.regionprops rejects boolean images ("TypeError: Label image must be of integer type."), even though they can obviously be interpreted as a single-label image.  Compare, for example, with measure.perimeter, which handles boolean images just fine.
Obviously, the caller can just do `.astype(int)`, but direct support would be a small usability ga

[2019-01-20 18:44] anntzer commented on #3668
But then this should be done consistently across all functions that take labeled images?
(FWIW, I think e.g. thresholding is a pretty common case where you get a boolean array; seems unfortunate that it isn't handled directly, but that's not my call.)

[2019-01-21 13:06] tsvikas opened #3669 "io.imsave does not detect a Path argument that ends with .tiff as tiff file"
## Description
When using:
from skimage import io
from pathlib import Path
array = some np.array
io.imsave(Path('/Tmp/a.tiff'), array)
The resulted file a.tiff is a PNG file

## Way to reproduce
[If reporting a bug, please include the following important information:]
- [x] Code example
- [ ] Relevant images (if any)
- [x] Operating system and version Ubuntu 18.10
- [x] Python version 3.6
- [x] sc

[2019-01-21 16:03] constantinpape commented on #3597
Sorry for the delay, here are the informations about the machine I used for the Benchmarks:
[code]
This machine is one of the VMs at work and it supports loading new gcc versions via easybuild.
I don't remember if I did that for the benchmarks and AFAIK asv does not log this.

I can re-run benchmarks with both GCC versions tomorrow if this would help.

[2019-01-21 17:21] RuRo commented on #2219
Hi! Since you are going to reimplement/update `adapthist`, could you expose `_adapthist.NR_OF_GREY` as a parameter? If my understanding is correct, this determines the number of distinct gray colors used during equalization. I would like to use histogram normalization for medical images, which sometimes have `2**16` or even `2**32` distinct intensity values.

I am concerned, whether having `NR_OF_

[2019-01-23 09:57] MarcelBeining opened #3674 ""pages" parameter is not passed to tifffile's imread"
## Description
When trying to load a tif file with the additional "pages" parameter I get an error message:

[code]
According to
http://scikit-image.org/docs/0.13.x/api/skimage.io.html#skimage.io.imread
it should be possible to pass plugin args, however when you look into

(this also persists in the newest version though a bit changed code: https://github.com/scikit-image/scikit-image/blob/master/

[2019-01-23 12:12] jni commented on #622
Imma gonna close it. =P Reopen if you feel strongly otherwise.

[2019-01-23 12:12] #622 closed

[2019-01-23 12:52] hmaarrfk commented on #3674
seems like you are right that the docs are inconsistent.

Would you be interested in making the pull request to address it?