[2016-01-21 19:11] #1864 closed

[2016-01-21 19:15] #1860 closed

[2016-01-21 19:16] #1859 closed

[2016-01-21 20:03] JDWarner commented on #1890
`X` is the output of the linear system and should be assigned before [this point](https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/random_walker_segmentation.py#L464) which is the error you're seeing.

It sounds like you're interpreting the error correctly, but the only code path I can see where `X` would not be defined there is if the mode flag was set to something ot

[2016-01-21 20:09] JDWarner commented on #1879
@siddarth-jay if we were to magically combine channels, the best method to do that would be using the luminance channel available via `skimage.rgb2gray`. But this is not the only way to map RGB data to a grayscale image, so imposing it magically is a little bit dangerous. However, I'd be OK with that design, as it remains possible for users who desire more control to simply apply their own mapping

[2016-01-21 20:22] JDWarner commented on #1889
Looking through the HOG function, it seems like there should be inherent normalization so long as the kwarg `normalise` is set to the default of `False`. Do you set `normalise=True`?

This is a badly named kwarg, because it applies a power law transform rather than any true normalization of the input data.

[2016-01-21 20:31] ivoflipse commented on #1889
Yes I'm setting normalise to True, but I've used the same code on other medical images with satisfactory results (but obviously without negative values), so while it might not be necessary, I kept it turned on.

Even if it's a badly named kwarg, does that mean we should be offering actual normalization as an alternative?

[2016-01-21 20:31] JDWarner opened #1894 "HOG kwarg 'normalise' does not normalize data, replace it"
When `normalise=True`, HOG operates on the square root of the raw input data. See [this line](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/_hog.py#L70).

This is a problem because `np.sqrt` is not a normalization. It is a transform of the data. The data is not scaled or guaranteed to have a particular range after it is applied; it's just a square root. What's more, the

[2016-01-21 20:36] JDWarner commented on #1889
@ivoflipse apologies. This is a poorly named, unintuitive kwarg which we should fix. The idea is that applying a log or power transform will make subtle variations more apparent in the final result, but `normalise` was an unfortunate API choice.

In the meantime, as a workaround you could simply make your images exclusively positive with an offset before calling this. As it's based on gradients yo

[2016-01-21 20:38] JDWarner commented on #1894
Alternatively, we could keep `normalise` but subtract the minimum value of the input array from said array prior to the sqrt call (potentially only if the minimum value is negative).

[2016-01-21 20:50] ivoflipse commented on #1889
Fair enough! I guess I can close this issue, since your response and PR will take care of the rest

[2016-01-21 20:50] #1889 closed

[2016-01-21 20:53] Korijn commented on #1894
You could consider moving the transform to a separate function (although that would make it a really silly piece of code, as its only calling `np.sqrt`), as it's more of a preprocessing step than a feature of the HOG algorithm. I'd actually vote for just removing the parameter.

[2016-01-22 01:41] stefanv commented on #1890
I cannot replicate this problem with the latest Git version.
​

[2016-01-22 02:00] stefanv commented on #1874
The code just feels a bit messy.  But if you think this is the cleanest way
forward, I'll go with it.

[2016-01-22 05:33] siddarth-jay commented on #1879
That's how I use it currently. But I think the right way of using it would be to compute it on all three channels and combine them *post* that. Dalal-Triggs in the original HoG paper, found that performance decreased a little after converting to greyscale and then computing gradients.

[2016-01-22 07:55] ahojnnes commented on #1874
Maybe we are looking at different functions, but I don't see how it is messy or how I could make it less messy. Somehow you need to determine the corners of the rotated image to fix it in the resizing step.

[2016-01-22 10:41] johnwog commented on #1890
@JDWarner
I did double check

@stefanv
i did a
condo update -all
seems to be working now

what is really strange for me is that bf mode is faster than cg_mg in a 2016x2016 image...

[2016-01-22 16:55] #1890 closed

[2016-01-22 16:58] stefanv commented on #1874
I guess I saw you reversing the tform1 + tform2 + tform3 order, and it made me wonder.  But I checked again and I think it's all good.  Thanks!

[2016-01-22 16:58] #1874 closed

[2016-01-22 17:39] JDWarner commented on #1890
@johnwog 'cg_mg' should be faster, but you must have pyamg installed to use it. Check to see if you have pyamg installed. If not, when 'cg_mg' is selected it falls back to 'cg' which uses a SciPy solver. The 'cg' solver is more memory-efficient but not a great deal faster than brute force.

[2016-01-23 21:44] jstaker7 opened #1896 "VisibleDeprecationWarning: boolean index did not match indexed array along dimension"
This warning comes up when using equalize_adapthist (CLAHE).

    from skimage import exposure
    from skimage import data

    img = data.coins()
    eq = exposure.equalize_adapthist(img)

Example output:
/python2.7/site-packages/skimage/exposure/_adapthist.py:262: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 256 but corresponding boolean d

[2016-01-24 09:09] OrkoHunter commented on #1896
Hey @jstaker7, I am unable to reproduce it.

[code]

Which version of `skimage` are you using? Check it with

[code]

[2016-01-24 09:34] OrkoHunter commented on #1894
@JDWarner I've created #1899 in favor of renaming the kwarg. We can work on a good normalisation method, afterwards.

[2016-01-24 10:00] OrkoHunter commented on #1886
Hey @diofelpallega, do you plan to work on this? Can you also cite few papers on calculating entropy for color images?

[2016-01-24 10:09] OrkoHunter commented on #1867
Should this be closed now?

[2016-01-24 13:45] #1862 closed

[2016-01-24 15:21] OrkoHunter commented on #1856
@JDWarner I've created #1903 in favor of this. Please take a look at it.

[2016-01-24 22:12] emmanuelle commented on #1875
Thank you @AlexandreAbraham Indeed, it is implicitly assumed that every pixel with 0-label is in the same connected component as a seed, and conversely every seed is in the same connected component as a 0-label pixel.

We could check this by calling ``measure.label`` and checking that each connected components has label values both 0 and positive. We could discard isolated seeds, but isolated 0-la

[2016-01-24 23:28] JDWarner commented on #1867
Closed by #1876, thanks for the reminder @OrkoHunter

[2016-01-24 23:28] #1867 closed

[2016-01-24 23:29] JDWarner commented on #1894
Closing in favor of #1899, continue discussion there.

[2016-01-24 23:29] #1894 closed

[2016-01-25 04:57] jstaker7 commented on #1896
This is under 0.11.3, which appears to be the most recent pip-installable version. I'll wait for the next update, although the output still seems to be working. From your comment it looks like there are other deprecation issues with CLAHE? Is this how I should continue to call this function, or is it getting replaced with an alternative?

[2016-01-25 07:48] #1843 closed

[2016-01-25 08:05] jni commented on #1875
@emmanuelle I must admit I've never used `random_walker` before and I'm a bit mystified by the interface, which appears to be quite different from watershed. In watershed, seeds are any nonzero point, and the segmentation proceeds from the seeds. What's happening here?

[2016-01-25 12:35] r-atwood opened #1906 "skimage.measure.regionprops area seems to be different data type from documented"
Tried in v 10 and now v 11

The documenation ( and common sense) shows that the area in pixels should be integer.
But the program gets a float64 value.

area : int
    Number of pixels of region.

 95 blobprops=skimage.measure.regionprops(labels,intensity_image=flat,cache=True)
 96
 97 for blob in range(nblobs-1):
 98    thisblob=blobprops[blob]
 99    print blob,rmap[blob],"label=",thisblob.label

[2016-01-25 14:10] OrkoHunter commented on #987
Regarding this issue, I'm not sure but would it be okay to step down (or up) the block_size if it's even and produce the result along with a very clear warning ? If there is no solution to this, then I think we should just raise a ValueError and leave.

[2016-01-25 14:33] OrkoHunter commented on #987
The one [good example](https://github.com/scikit-image/scikit-image/blob/master/doc/examples/segmentation/plot_threshold_adaptive.py#L29) for `threshold_adaptive`, and we use an even `block_size`. =P
I don't know how this went unnoticed.

[2016-01-25 14:35] blink1073 commented on #1896
Hi @jstaker7, the way you're calling it (with no keyword arguments passed), will work just fine.  The warning you're seeing is actually a bug that we've since corrected.  The updated docs for the function in the coming version (with the new keyword arguments) are here:  http://scikit-image.org/docs/stable/api/skimage.exposure.html#equalize-adapthist

[2016-01-25 19:44] #1863 closed

[2016-01-25 19:49] JDWarner commented on #987
@OrkoHunter yikes, you're right!

[2016-01-25 19:55] JDWarner commented on #1875
@jni `random_walker` in effect finds the shortest stochastic path - with penalties paid based on some weighting function - from each point in the image back to the nearest element of each seed region. I think of it more like a graph theory problem, though it can be expressed in multiple frameworks.

The problem is that there is an inherent assumption: _*a path exists from each seed region to every

[2016-01-25 20:18] orlp opened #1908 "deltaE_cmc can return NaN for valid input values"
Simple to reproduce:

[code]

[2016-01-25 20:19] sciunto commented on #987
I prefer a ValueError exception. It's more explicit about the requirements of the algorithm.
Scipy does that. Exemple: https://github.com/scipy/scipy/blob/master/scipy/signal/_savitzky_golay.py#L10

[2016-01-25 20:29] OrkoHunter commented on #987
I've fixed the example in #1907. Doctests will hopefully pass now.

[2016-01-25 20:35] soupault commented on #1908
I suppose the docstrings need some improvement also.

[2016-01-25 20:40] arokem commented on #1908
This is because for values that should be equal to 0, `get_dH2` can return very small, but negative numbers, due to floating point error. I have an idea, PR to follow.

[2016-01-25 20:46] arokem commented on #1908
I'll take a look at the docstring as well, while I'm at it.

[2016-01-25 20:47] arokem commented on #1908
Sorry @soupault : what's wrong with the docstring?

[2016-01-25 20:59] soupault commented on #1908
@arokem I couldn't find any `skimage` conventions on color representation, so I though it would be helpful to specify valid intervals for input arguments.

[2016-01-25 23:05] #1856 closed

[2016-01-25 23:10] jni commented on #1875
Why does anything have to fail? Why not solve separately for each connected component? Even if the result is a single labeled voxel, it sounds to me like this would be a correct interpretation for many inputs.

[2016-01-25 23:26] #987 closed

[2016-01-25 23:33] jni commented on #1906
@r-atwood this is actually fixed in the current master, where it returns a numpy.int64. Would you still consider that a bug? (vs a Python int)

[2016-01-26 12:10] AlexandreAbraham commented on #1875
If a 0-label pixel is isolated, that means that the RW is unable to label it. An error must be triggered because not all pixels have been labelled. And if the user makes the assumption that all pixels are labelled after the random walker, he is going to have a bad surprise.

label would be a bit overkilled, as you mentioned it. A simple way to fix the first bug (error when a seed is isolated) is t

[2016-01-26 22:26] emmanuelle commented on #1875
@AlexandreAbraham I'm not sure I understand what you propose with the reflexive edge, could you please elaborate? We also have to make sure that the size of the graph / sparse matrix does not increase too much, since the random walker algorithm has a quite high memory cost.

[2016-01-26 23:35] jni commented on #1875
@AlexandreAbraham it seems to me the problem is not isolated seeds but isolated unlabeled points. That's what we should check for. Other than that I think my proposal remains valid... Which I just saw is basically the same proposal as @emmanuelle's original one. =)

[2016-01-27 00:13] AlexandreAbraham commented on #1875
@jnl there are 2 errors: when a seed is isolated (see my script above), which is not legitimate, and one when unlabeled points are isolated, which is legitimate but raises an unhelpful error message (see my script, just comment the 9th line).

@emmanuelle the isolated seeds and points "disappear" of the laplacian matrix because they are not present in any edge. By doing a quick and dirty patch whe

[2016-01-27 21:18] stefanv opened #1910 "Refactor `warn` to use `stacklevel=2`"
Probably refactor all instances of `warn` to instead use ``skimage._shared.warn`` and then implement it to always use `stacklevel=2`.

Also see http://permalink.gmane.org/gmane.comp.python.numeric.general/62455

[2016-01-27 22:39] blink1073 commented on #1910
Seems reasonable to me.

[2016-01-27 22:59] simone-codeluppi opened #1911 "restoration.richardson-lucy NDimensional arrays"
Hi
I have been trying to deconvolve a 3d image using the `restoration.richardson_lucy` restoration method. The image is a `numpy.ndarray` of `(26, 2000, 2000)` and I tested psf of different size `(12, 100, 100)`,`(26, 100, 100)`,`(26, 2000, 2000)`. All the pfs tested are smaller or equal than the image.
When I run the `restoration.richardson_lucy(Img,psf,iterations=20)` I get the following error:

[2016-01-27 23:31] luismasuelli commented on #1329
Still fails!!

(mybrandnewvenv)me@my-machine:~$ pip install scikit-image
Downloading/unpacking scikit-image
  Downloading scikit-image-0.11.3.tar.gz (18.6MB): 18.6MB downloaded
  Running setup.py (path:/home/me/.virtualenvs/mybrandnewvenv/build/scikit-image/setup.py) egg_info for package scikit-image
    Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/ho

[2016-01-27 23:53] stefanv commented on #1329
This is a bug in our implementation of setup.py.  We borrowed incorrectly from scipy!

[2016-01-28 00:15] ozak opened #1912 "MCP_Geometric generates negative cumulative costs"
Hi y'all,

I just noticed that `MCP_Geometric` generates negative cumulative costs whenever the starting point is in a negative cell. In principle it should juts generate `inf` for all the matrix but somehow it is showing negative and positive values...here's a minimal working example:

[code]

Am I missing something or is this a know issue? Using a masked array generates the same issue. I have tr

[2016-01-28 00:18] JDWarner commented on #1910
Love this approach; the double line in warnings always seems messy.

[2016-01-28 02:56] JDWarner commented on #1911
@simone-codeluppi, I just checked and this is fixed in master. The available deconvolution methods are now truly n-dimensional (and faster!). This functionality will be available in the upcoming 0.12 release. If you need it now, you can acquire and install scikit-image from source.

[2016-01-28 02:56] #1911 closed

[2016-01-28 23:11] simone-codeluppi commented on #1911
@JDWarner Thanks a lot for the help!

[2016-01-29 03:28] JDWarner opened #1914 "Image comparison functions should share a common prefix"
Before #1897, we really only had one quantitative image comparison metric: structural similarity, available in `skimage.measure.structural_similarity`. Now we have three more, based on the PSNR, MSE, and NRMSE.

Each of these directly compares two like-shaped arrays and yields a floating point result, indicating the degree of similarity. **All similar functions should share a prefix, to improve ac

[2016-01-29 03:32] jni commented on #1914
@JDWarner thanks for opening this! What about a namespace instead of a prefix? `compare.psnr(im1, im2)`

There is also the issue of scope... Will this prefix only apply to comparing images, or also label images? e.g. will rand_index, variation_of_information, and boundary_precision_recall, when they come, also live here?

[2016-01-29 22:59] stefanv commented on #1914
Do we have enough for a new namespace yet?  How about we use a prefix for
now, and when we see that we have enough for a namespace, break out the
namespace and add aliases from the current functions there.

[2016-01-30 02:53] JDWarner commented on #1246
Closed by #1898 - thanks @ahojnnes!

[2016-01-30 02:53] #1246 closed

[2016-01-30 07:49] ahojnnes commented on #1914
+1 for compare_*

[2016-01-30 12:58] emmanuelle commented on #1914
:+1: for compare_* from me too

[2016-01-30 14:30] blink1073 commented on #1329
This is fixed in master: https://github.com/scikit-image/scikit-image/blob/master/setup.py#L76

[2016-01-30 14:59] emmanuelle commented on #1875
The issue comes from here: https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/random_walker_segmentation.py#L170
since pixels corresponding to isolated seeds are removed. We could indeed add edges from pixels seeds to themselves, but this would require to pass additional arguments to the function ``_mask_edges_weights``

[2016-01-30 16:43] soupault commented on #954
Ok. I guess this is the case...
I've taken random large image from the web (http://www.hawaiisummersalsafest.com/wp-content/uploads/2015/11/free-b.jpg (3750x5000x3)), then:

    import numpy as np
    import skimage
    from skimage import io, color, morphology

    img = io.imread('free-b.jpg')

    img_gray = skimage.color.rgb2gray(img)
    img_bin = img_gray.copy()
    img_bin[img_bin < 0.5] =

[2016-01-30 16:45] JDWarner commented on #1329
As far as I can tell, @blink1073 is right and this is fixed. The last traceback posted is from an attempted install of 0.11.3, not source. Closing, but feel free to reopen if this is still present in 0.12

[2016-01-30 16:45] #1329 closed

[2016-01-30 17:02] soupault commented on #1471
Can't replicate with neither Python 2.7 nor 3.5. Using latest stable `skimage`.

@buratono do you have any updates?

Unless we get some news, I'd suggest to close the issue.

[2016-01-31 04:23] JDWarner commented on #1914
Thanks for the input, I'll make a PR to this effect tomorrow on top of (now merged) #1897.

[2016-01-31 07:02] soupault opened #1917 "skimage.morphology functions should support all parameters of underlying scipy calls"
For example, `binary_erosion` in [scipy](https://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.ndimage.morphology.binary_erosion.html#scipy.ndimage.morphology.binary_erosion) and in [skimage](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/binary.py#L12) , `gray_closing` in [scipy](https://docs.scipy.org/doc/scipy-0.16.0/reference/generated/scipy.ndimage.mor

[2016-01-31 10:25] #1910 closed

[2016-01-31 12:27] jni commented on #1914
@stefanv @JDWarner why make a prefix that we are almost certain to deprecate? Deprecations are painful and imho should be avoided if possible. If the argument is that we might *never* move the functions, sure, but if we think we are likely to move them, I would strongly favour making the namespace straight away, even if we consider it will be sparse to begin with.

Incidentally, if we want to incl

[2016-01-31 13:42] JDWarner commented on #1914
Prefixes are more accessible than namespaces. By accessible I mean easily discovered by a naive user. Our design across the package is basically to have a single level of bins within which are many similar functions. People using this package don't expect to have to traverse an additional level to find what they need. Ergo, functions sharing a prefix (which is also consistent with other, past desi

[2016-01-31 16:43] stefanv commented on #1329
I dug through the source code of our setup, and I think we can still improve it.  ``scipy`` makes use of the ``build_requires`` parameter to add numpy to packages to be installed.

[2016-01-31 21:58] blink1073 commented on #1329
I looked at what they were doing, and the only differences I could see where a special case for building wheels, which we do separately, and support for distutils, (we require setuptools).

[2016-02-01 04:41] #1665 closed

[2016-02-01 04:56] jstaker7 commented on #1896
Excellent. Thanks!

[2016-02-01 04:56] #1896 closed

[2016-02-01 06:41] stefanv commented on #1329
Don't we raise an error if numpy is not installed? I don't recall scipy
doing that, but I may be mistaken.
On Jan 31, 2016 13:58, "Steven Silvester" <notifications@github.com> wrote:

[2016-02-01 12:03] sciunto opened #1922 "DOC: Reduce size image in plot_inpaint"
In reference to #1920

* Reduce the size of the image in  doc/examples/filters/plot_inpaint.py to show more clearly the result of the algorithm.

[2016-02-01 14:50] blink1073 commented on #1329
This line will raise an `ImportError`: https://github.com/scipy/scipy/blob/master/setup.py#L253, we instead show a more specific message: https://github.com/scikit-image/scikit-image/blob/master/setup.py#L100

[2016-02-01 16:12] stefanv commented on #1329
So is the logic that egg_info will run first, get the numpy dependency,
install it, and then continue?  I should try this in a clean environment
later today to see what happens.

On 1 February 2016 at 06:50, Steven Silvester <notifications@github.com>
wrote:

[2016-02-01 16:31] blink1073 commented on #1329
Yes, that is my understanding.

[2016-02-02 03:23] sciunto commented on #1922
OK, I fixed my virtualenv. Now, I can work on  a patch :)

[2016-02-02 15:48] stefanv commented on #1912
Lower cost indicates more likely paths, so you probably want to use ``inf`` instead of ``-9``.

[2016-02-02 15:56] soupault commented on #1471
Closing the issue. Reopen if neccessary.

[2016-02-02 15:56] #1471 closed

[2016-02-02 16:07] #1914 closed

[2016-02-02 16:30] ozak commented on #1912
Hi @stefanv thanks for your answer. In the docs it says ``Array elements with infinite or negative costs will simply be ignored, as will paths whose cumulative cost overflows to infinite.`` [see here](http://scikit-image.org/docs/dev/api/skimage.graph.html#skimage.graph.MCP_Geometric). And as is shown in the example I provided the problem is generated when the initial point lies on a cell that sho

[2016-02-03 02:15] sciunto commented on #1922
@emmanuelle Is it something like this that you had in mind?

![fig](https://framapic.org/nPfLnaBJKyrR/hLq2iA5sd285)

[2016-02-03 02:36] stefanv commented on #1922
Hopefully we can get rid of all that space in the middle.

[2016-02-03 04:08] sciunto commented on #1922
From sphinx, it'll look like that. it's just that I used mpl GUI and depending on the window size, the save button gives different results.
![plot_inpaint_1](https://cloud.githubusercontent.com/assets/335370/12772698/c6edfd04-ca01-11e5-84ce-175edb5a166e.png)

[2016-02-03 06:20] soupault commented on #1922
@sciunto I'd also add one small rectangle in the `hair`-area.
In literature, inpainting algorithms are usually evaluated on several types of underlying data:

1. homogenical regions :[addressed],
2. sharp edges along and across the defect region [addressed],
3. textures [that's what was missing earlier, but we should address here],
4. regions with smooth gradients [kind of addressed by the overall

[2016-02-04 02:08] sciunto commented on #1922
@soupault i'm not. I just looked at the new features (a bit late, I have to admit) and I catched a typo :)

[2016-02-04 11:50] nashv opened #1929 "Images of type float need NOT be from -1 to 1"
A 32-bit floating point TIFF can have any IEEE 32-bit value. Scientific image processing requires that the such images be read and represented correctly.

Scikit-image can only allows values from -1 to 1 or 0 to 1 for floating point. This is an artificial restriction.

[2016-02-04 16:43] ivannz commented on #1088
I stumbled upon the very same **segfault**, when I was trying to fit multiple PCA's in parallel
to a bootstrapped sample. I noticed, that this fault takes place **only** when I import **matplotlib.pyplot**
for plotting purposes. The process seems to crash inside a call to BLAS.

I attach an archive with a small sufficient example, a crash report and a frozen list of pip packages.

[matplotlib_cras

[2016-02-04 22:12] jni commented on #1929
Hi @nashv,

This is not a restriction, but an assumption that many functions in skimage make whenever a function *needs* to make an assumption about the range of the image. But you can work with 32-bit float tiffs no problem:

[code]

Image processing functions also work fine, e.g. grayscale dilation, with "out-of-range" images.

This is specified, perhaps not very clearly, [here](http://scikit-im

[2016-02-04 22:12] #1929 closed

[2016-02-04 22:22] #1922 closed

[2016-02-05 06:18] ozak commented on #1912
Looking at the output of my example I also noticed that the command is returning the actual array instead of a copy. Thus, in the previous example one ends up with ``right_cumulative_costs`` being equal to ``wrong_cumulative_costs``. I think returning copied would make more sense in order to avoid possible problems for users.

[2016-02-05 14:22] #1840 closed

[2016-02-05 23:58] stefanv commented on #1088
@ivannz Is this related to skimage?  It does not look that way.

[2016-02-06 09:01] OrkoHunter opened #1931 "Implement Jarvis March, Graham Scan and Chan's Algorithm"
[Chan's Algorithm](https://en.wikipedia.org/wiki/Chan%27s_algorithm) is a very fast algorithm for computing convex hull of an image. It utilizes [Jarvis March](https://en.wikipedia.org/wiki/Gift_wrapping_algorithm) and [Graham Scan](https://en.wikipedia.org/wiki/Graham_scan) to produce the result in optimal _O_(nlogh) time complexity. I would like to work on its implementation.

For this, I have f

[2016-02-06 09:39] soupault commented on #631
@tbekolay, hi! Would you be so kind to share your MATLAB implementation of the algorithm? I'm interested on porting it to Python.

[2016-02-06 10:08] soupault commented on #1195
/ping @jni :wink:

[2016-02-06 10:28] soupault commented on #1463
@scikit-image/core any further thoughts on the issue?

[2016-02-06 10:54] soupault commented on #529
@emmanuelle I suppose this issue already adressed and should be closed - see https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/exposure.py#L29 .

[2016-02-06 11:54] soupault commented on #1831
Code to reproduce with region specified above:
[code]
![test_img_1831](https://cloud.githubusercontent.com/assets/1315589/12866515/7d6b7a98-cce1-11e5-8a55-7951f0020228.png)

[2016-02-06 11:54] soupault commented on #1832
Code to reproduce with region specified above:

[code]
![test_img_1832](https://cloud.githubusercontent.com/assets/1315589/12866513/73c3b3b6-cce1-11e5-8923-25bb7ad47e82.png)

[2016-02-06 11:57] ahojnnes commented on #1832
What happens when you do `exclude_border=False`?

[2016-02-06 12:01] soupault commented on #1832
@ahojnnes
![test_img_1832_exclude](https://cloud.githubusercontent.com/assets/1315589/12866550/838c7b10-cce2-11e5-8256-8ea771dc4e19.png)

[2016-02-06 12:03] soupault commented on #1831
with `exclude_border=False`:
![test_img_1831_exclude](https://cloud.githubusercontent.com/assets/1315589/12866558/c0d410fa-cce2-11e5-8469-445174fd324e.png)

[2016-02-06 12:15] ahojnnes commented on #1832
Seems to be doing the right thing?

[2016-02-06 12:17] ahojnnes commented on #1831
It is doing the right thing, imo. The three peaks in the middle have the same value.

[2016-02-06 12:29] soupault commented on #1832
I'd expect as @funkey does the "inner island" peak to be detected, as it is really >21 pixels further from any marked one:
![test_img](https://cloud.githubusercontent.com/assets/1315589/12866647/70107f06-cce6-11e5-8f45-02077fbdddb9.png)

[2016-02-06 12:37] soupault commented on #1831
The documentation says:
`If peaks are flat (i.e. multiple adjacent pixels have identical intensities), the coordinates of all such pixels are returned.`
So, I suppose, one would expect that function should return only one of these peaks.

[2016-02-06 12:39] ahojnnes commented on #1831
The documentation correctly describes what the function is doing. Look into `corner_peaks` if you only want one of the peaks.

[2016-02-06 12:41] ahojnnes commented on #1832
You are right. Note sure why this is happening...

[2016-02-06 12:50] soupault commented on #1832
Ok, I think this case is really not a bug. Here is 21px rectangle:
![figure_1](https://cloud.githubusercontent.com/assets/1315589/12866715/3acac858-cce9-11e5-9cc0-f33274d956eb.png)
Please, close the issue if you're agree.

[2016-02-06 12:55] soupault commented on #1831
I'd propose to change the description from
`Peaks are the local maxima in a region of 2 * min_distance + 1 (i.e. peaks are separated by at least min_distance).` to
`Peaks are the local maxima in a region of 2 * min_distance + 1 (i.e. peaks of different intensities are separated by at least min_distance).`.
This will close the issue, in my opinion.

[2016-02-06 12:56] ahojnnes commented on #1832
You need to draw the 10px box around the smaller corner. If any other pixel in that box has a greater value, then it is not a peak. This seems to be the case here, when looking at the zoomed-in version. I would close this issue as the function seems to behave correctly.

[2016-02-06 12:57] ahojnnes commented on #1831
Good suggestion, do you want to go ahead and create a PR with a fix?

[2016-02-06 13:04] soupault commented on #1832
True, that "island peak" and upperleft pixel in corresponding bounding frame have the same value:
![figure_1](https://cloud.githubusercontent.com/assets/1315589/12866769/2d9c7850-cceb-11e5-829b-bbc950873448.png)

[2016-02-06 13:22] ahojnnes commented on #1832
I'll close this issue for now, @funkey feel free to reopen if you disagree!

[2016-02-06 13:27] soupault commented on #1832
@ahojnnes , enough said :+1: :
![1832](https://cloud.githubusercontent.com/assets/1315589/12866871/763c4a42-ccee-11e5-89f0-532daa2bb4dc.png)

[2016-02-06 14:40] JDWarner commented on #1931
If it has verifiable

[2016-02-06 15:07] blink1073 commented on #1463
We could deprecate the freeimage plugin for 0.12 and remove it in 0.13, sound good @stefanv?

[2016-02-06 17:24] OrkoHunter commented on #1931
Looks like @tixxit has done some very fair work on all the three implementations. It would be really great if he allows his code to be reused here.

[2016-02-06 18:14] tixxit commented on #1931
Hey! Absolutely, feel free to use them. For legal purposes, the code is licensed under the MIT license, which should be permissive enough to use ~anywhere. Let me know if you'd prefer another license or need any help.

[2016-02-06 18:17] OrkoHunter commented on #1931
Thank you so much Tom !

[2016-02-06 23:34] JDWarner commented on #529
@soupault That's correct, this one is done.

[2016-02-06 23:34] #529 closed

[2016-02-07 05:42] jni commented on #1832
@ahojnnes @soupault If this is truly the expected behavior, then the docstring needs updating. Just like @funkey, I expected that *peaks* should be > 21 pixels apart, not some random slope. The docstring is very unclear about this.

[2016-02-07 05:50] jni commented on #1831
@ahojnnes how is this correct? "multiple **-->adjacent<--** pixels have identical intensities" The above pixels are not adjacent, even if they have the same value.

[2016-02-07 05:56] jni commented on #1195
@soupault thanks for the ping, but @stefanv I don't know anything about freeimage. There's talk elsewhere about deprecating its use? CC @blink1073

In general, though, I do suggest that we either:

- ensure our IO is Insanely Great (TM), because that is the first port of contact for beginners. If we can't even get that right they are not going to trust us with their pipeline. *Or,*
- offload all I

[2016-02-07 07:38] ahojnnes commented on #1831
@jni That's why we created the PR, feel free to contribute to the discussion there.

[2016-02-07 08:29] soupault commented on #1195
@jni there is discussion removal of `freeimage` in https://github.com/scikit-image/scikit-image/issues/1463 .

[2016-02-07 08:34] stefanv commented on #1463
Let's go ahead and replace our freeimage plugin with that of imageio.  The last release was end of January, and the developers are on top of it.

[2016-02-07 08:42] soupault commented on #1832
@jni the algorithm is quite simple itself, but is hard really to give it a short description which covers all presented cases without going into the details.
As it was said above, firstly I really expected the same behaviour as @funkey , but once I had a look at the code - the expectation did get changed.
We're trying to address #1831 and this issue in https://github.com/scikit-image/scikit-image/

[2016-02-07 09:08] stefanv commented on #1931
If it yields the exact same result, feel free to replace the existing
implementation with a faster version.  Please include the relevant
references to give credit to the authors.​

[2016-02-07 10:48] ahojnnes commented on #1832
@jni @soupault I agree that the doc string is unclear. You are welcome to join the discussion there.

[2016-02-07 23:18] ivannz commented on #1088
No, it does not. I decided to write an update to this issue, because the dump information from @erikbrinkman pointed to what appeared to be the same call that caused the crash in my case.

Apparently the [reason](https://github.com/joblib/joblib/issues/310) for this crash is bad interaction of Apple's **Accelerate** linear algebra library (the **DGEMM** call for matrix [operations](http://www.math

[2016-02-08 20:59] cgohlke opened #1935 "test_keypoints_orb_desired_no_of_keypoints fails but skimage.test() passes"
See https://ci.appveyor.com/project/blink1073/scikit-image-qbl76/build/1.0.1019#L5834 and https://travis-ci.org/scikit-image/scikit-image/jobs/108000802#L1856

Without `@test_parallel()` decorator:

[code]

[2016-02-10 23:30] timwillhack opened #1939 "denoise_tv_bregman returns image as floats greater than 1 (and possibly the opposite) when passing an image as 32-bit floats"
I'm using scikit-image for denoising images that are pulled out of caffe.  I believe in my case, the images sent into denoise_tv_bregman are formatted as 32 bit floats.  I've run into a couple errors thrown by img_as_ubyte  after running the image through the denoise_tv_bregman function.

I thought it was an error in img_as_ubyte at first and found the error raised from dtype.py: "Images of type f

[2016-02-11 05:10] jni commented on #1939
Hi @timwillhack! Thanks for the report!

I'd certainly classify this as a bug, since we supposedly make explicit guarantees that valid image input will result in valid image output. I'll let the rest of the skimage team discuss whether the best way is to automatically clip by default or rescale by default. @scikit-image/core?

@timwillhack, for fixing it, it would be really useful to have a test i

[2016-02-11 06:51] ahojnnes commented on #1939
Add a `clip` parameter, default it to `None` for two versions and warn the user with warning, change it to `clip=True` in 0.14/15. How does that sound?

[2016-02-11 11:32] ghost opened #1940 "Automatic inversion of binary image stored as TIFFILE."
Summary of Issue : A binary image stored as an uncompressed TIFF file is automatically inverted upon invoking `skimage.io.imread()` The issue immediately evaporates when the TIFF file is converted to a JPEG File.
## Experiment - 1 (With a Binary image stored as a TIFF File).

**NOTE** : The file has been taken from an independent location and has not been read or re-written. The issue is the same

[2016-02-11 11:59] soupault commented on #1940
@cgohlke hi! Any thoughts on the issue?

[2016-02-11 12:20] cgohlke commented on #1940
Looks like `io.imshow` ignores the min-is-white photometric interpretation tag. There is no automatic inversion.

[2016-02-11 12:49] jni commented on #1940
@cgohlke Is this an imshow or imread problem? How does imread encode this tag in a numpy array?

[2016-02-11 18:37] cgohlke commented on #1940
`imread` correctly reads the data stored in the file. It does not invert or convert the data. The photometric interpretation tag defines the color space of the data. In this case False values are white and True values black. Metadata stored in image files are not passed around with numpy arrays and `imshow` is not aware of color spaces either AFAIK. I think it is up to the application developer to

[2016-02-11 22:50] jni commented on #1940
@cgohlke I don't know enough about the TIFF metadata format but it seems to me that the least-surprising behaviour in this case would be to invert it...? But I guess that does alter the meaning of the image.

Another option would be to provide an easy way to get metadata, perhaps as a dictionary. Does tifffile.py provide this option?

In that case, one could invert the colormap used when calling i

[2016-02-11 23:34] jni commented on #1939
@ahojnnes I'm agnostic regarding the deprecation cycle, but I think even with None the default should be True, because I would consider this a bug fix, not an API change.

[2016-02-12 04:45] JDWarner commented on #1939
Agree with @jni, this is a necessary fix.

IMO there is no denoising situation where values outside the prior range should be considered real. These are probably precision error or something like b-spline interpolation overshoots. Ergo, the behavior should be `clip=True`. I'd be happy to have it simply default to True instead of None.

[2016-02-12 14:50] ghoshbishakh opened #1941 "Unable to build documentation with Python 3"
`make html` only works with python 2 and when dipy is installed with python 2

[2016-02-12 16:13] stefanv commented on #1941
Is this for the latest Git version?
On Feb 12, 2016 06:50, "Bishakh Ghosh" <notifications@github.com> wrote:

[2016-02-12 16:15] #1941 closed

[2016-02-12 16:16] OrkoHunter commented on #1941
@ghoshbishakh Was this issue intended for nipy/dipy ?

[2016-02-12 20:44] timwillhack commented on #1939
@JDWarner I agree, I don't think this situation should occur ever.

@ahojnnes, I don't think adding the clip parameter with a warning is sufficient because I don't believe it should ever introduce numbers outside of the original range especially with the comment in the documentation "Input data to be denoised (converted using img_as_float`)." implied to me that the resulting image would be in the

[2016-02-12 23:48] jni commented on #1939
Thanks very much for the feedback, @timwillhack!

Re Python versions, have a look at [miniconda](http://conda.pydata.org/miniconda.html), which lets you create isolated Python environments, without touching your system Python. And removing it is as easy as deleting the installation directory. =)

[2016-02-13 17:37] timwillhack commented on #1939
The script ran into a couple errors that I caught last night.  Here is one of the images and self contained test code to see it in action.  I apologize for the image provided - they are user uploaded ;)  Change the path of the image at the bottom to where ever you stored it:
[code]
![errordenoiseimage97049](https://cloud.githubusercontent.com/assets/582984/13029026/258362f6-d24e-11e5-83ac-f8cd9756

[2016-02-14 02:01] jni commented on #1939
@timwillhack you don't have to apologize for Psychedelic Yoshi as far as I'm concerned! =D

Thanks for the image and code, I'll investigate.

Re Python 3, have a look also at [modernize](https://pypi.python.org/pypi/modernize), which automatically converts your scripts from Python-2 only to code compatible with Python 2 and 3. For a *lot* of code, it works seamlessly out of the box.

[2016-02-14 02:03] jni commented on #1939
@timwillhack also, since the image is not yours, it might raise copyright concerns. At the very least, we need information about who uploaded it and what use restrictions are imposed on it. To include it in our test suite, I would have to (a) significantly subsample it (this would help with fair-use arguments), and (b) ensure correct attribution.

[2016-02-14 02:30] JDWarner commented on #1939
Eh, first test it and see what triggers the error. A small cropped region could be argued under fair use, but if we can determine what caused the problem then we can reproduce it without any help from Yoshi.

[2016-02-14 03:16] jni commented on #1939
ok so I subsampled it practically out of existence. =P [This image](https://cloud.githubusercontent.com/assets/492549/13031553/3c4b9134-d325-11e5-85aa-af3881e790bd.png) (might be hard to see, it's just a (15, 2, 3)-shaped crop of the little white cloud on the left border) gives a maximum value of denoise_tv_bregman of 1.0000191176729369. I think we can just go ahead and use that in tests. (I leave

[2016-02-14 04:17] JDWarner commented on #1939
I think we're safe there.

[2016-02-14 04:18] JDWarner commented on #1939
Also, appears to be floating point error rather than a true overshoot. Not sure a `clip` parameter for this is even required.

[2016-02-15 17:23] r-atwood commented on #1627
As OP, i must say I didn't mean that the problem is WITH sobel edge filtering. I mean I disagree with the notion of requiring normalized float for anything, and sobel edge filtering is just one example of where it is especially unsuitable since the output of the filter can take on pretty much any value , but this may be true for many other filters too.

[2016-02-15 23:29] jni commented on #1627
@r-atwood I generally agree with you and was the author of "we aim to preserve the data range and type of input images" in the [above-linked](http://scikit-image.org/docs/dev/user_guide/data_types.html) page on data types. But some functions *do* require or at least benefit from an assumed data range (e.g. display, or any function whose parameters depend on the color space — which includes SLIC, b

[2016-02-16 07:00] #1652 closed

[2016-02-17 16:19] zpincus opened #1945 "Pyramid functions do not allow user to preserve image range"
Is there any reason that the various skimage pyramid functions do not have `preserve_range=False` in the arguments? I find this frustrating, and so if there's no reason to keep it this way, I'll make a PR to fix this.

[2016-02-17 16:57] jmetz commented on #1940
I'd recommend using the `matplotlib` plugin, and passing an inverted colormap, e.g. `cmap = "binary"`

[2016-02-17 17:10] jmetz opened #1946 "Implement a more up-to-date Circular Hough transform (CHT)"
The basic CHT implemented which uses a 3d accumulator is a memory hog and superseded by any one of many updates on this algorithm - see e.g.

A comparative study of Hough transform methods for circle finding (1989) by H. K. Yuen , J. Princen , J. Illingworth , J. Kittler (http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.386.8414)

They recommend the variation by gradient version of the appr

[2016-02-17 17:58] JDWarner commented on #1940
I have to agree with @jni, the most expected behavior here would be to invert the array. As a user I would find any other approach extremely unintuitive. Inverting the array for display is fine for inspection, but when users assume the white areas are `True` we'll get into trouble fast as they do follow-up computations.

My favored approach would be to catch this case, invert the input, and warn t

[2016-02-17 18:24] JDWarner commented on #1945
It does not appear this is a necessary limitation. Feel free to make a PR to this effect!

[2016-02-17 19:01] JDWarner commented on #1946
Sounds good to me - this is definitely an area where efficiency could improve.

[2016-02-17 19:30] stefanv commented on #1945
It's a pattern we only started adopting fairly recently, so it's not very
widely in place.  I'm not convinced it's the best pattern, even, but I
guess we'll learn the best way forward in due course.

On 17 February 2016 at 10:24, Josh Warner <notifications@github.com> wrote:

[2016-02-17 21:04] zpincus commented on #1945
Not sure what the best pattern is either. At least `preserve_range` is a start, though... without it, skimage is extraordinarily frustrating to use for my day-to-day tasks. Here is the case from today where I ran across the issue with pyramids: I want to correct an image from a microscope for uneven illumination, so I want to fit a particular image region to a low-order polynomial in 2D.

The imag

[2016-02-17 21:13] ahojnnes commented on #1945
@Zachary Thanks for your feedback, this is valuable to improve scikit-image. I agree that most of our range conventions for float images are not good, mainly caused by the img_as_float function. We should really try to reduce its usage to places where it is really necessary. Would you go ahead and create a new PR to enable the preserve_range in the pyramid functions? Please, let us know if there i

[2016-02-17 23:52] stefanv opened #1947 "Link to PEP8 in contributor guidelines broken"
Should be an absolute link, but is relative.

[2016-02-18 03:21] jni commented on #1940
@JDWarner I am quite agnostic about this, actually, since you do alter the meaning. Say I imread a binary image called 'true-where-the-black-blobs-are.tif', I probably don't want the result to be False where the black blobs are.

We've mentioned metadata before and how we don't want to encumber skimage with it, but I think metadata is in fact the solution here.

Some options:

- imread_metadata: r

[2016-02-18 15:18] OlaPaw commented on #1945
This is a very good point.  I had the same issue occur to me with float images when using gaussian_filter of all things.  What does that filter need to worry about the 1.0 limit?  I ended up frustrated with having to rescale and just used the cv2 GaussianBlur (which then led to figuring out the difference in kernel sizes and standard deviation uses between the two libraries, but that's another sto

[2016-02-18 20:05] JDWarner opened #1949 "Add Issue templates and declutter root directory"
GitHub [now supports a `.github/` directory for their new Issue/PR templates](https://github.com/blog/2111-issue-and-pull-request-templates). There are common enough things we should know in essentially all Issues we should probably enable the Issue template requesting Python version, scikit-image version, and ensure full tracebacks are included if available.

We should also move `CONTRIBUTING.txt

[2016-02-18 20:06] ahojnnes commented on #1949
+1

[2016-02-18 21:03] stefanv commented on #1949
Good idea!

[2016-02-19 10:03] jmetz commented on #1940
Perhaps this should be relabelled an enhancement, as `imread` is technically performing as expected i.e. without any regard for metadata at present.

[2016-02-19 10:50] soupault commented on #1940
@jmetz I think it should be classified as a `bug` from the `skimage` perspective.
This way or another, I find this label more "catchy" and suitable for the purpose of prioritizing issues for contributors.

[2016-02-19 11:12] soupault commented on #1949
Do you have any proposals on the structure of templates?
I've had a thought about `ISSUE_TEMPLATE` recently and it seems we should consider one targetting 2 major cases:
- __bugreport__ (description, code snippet/way to reproduce, software versions, {OS info}, {hardware specs})
- __proposal/feature request__ (description, {ideas on} preliminary solution, references[analogs in another projects/pack

[2016-02-19 12:20] jmetz opened #1950 "skimage.feature.peak_local_max's "exclude_border" functionality should not use "min_distance""
I just tried using `peak_local_max` and was puzzled to find no peaks (on a small test image).
After reading the code I realized it was because the default `min_distance` of 10 (for minimum peak--peak separation) is also used as the border width of the `exclude_border` functionality.

I find this behaviour bizarre frankly; usually exclude border for this type of algorithm means exclude border pixel

[2016-02-19 23:32] jni commented on #1940
@soupault priority and type are two different things. I agree with @jmetz that it should be relabelled as an enhancement.

[2016-02-20 06:58] cpyman opened #1953 "How to iradon transform"
Hi, Emmanuelle

I have two pictures generated from 0deg and 90deg of a object. Currently, I want to make iradon transfromation to reconstruct the object, but, I can't understand the example of skimage.transform. iradon. How should I do? Could you give me a small example to do this?

[2016-02-20 08:55] soupault commented on #1953
@cpyman where exaclty do you have difficulties?
Have you seen http://scikit-image.org/docs/dev/auto_examples/plot_radon_transform.html ?

Here is a simple example, in case the information above is somehow not enough:
[code]
![radon](https://cloud.githubusercontent.com/assets/1315589/13195642/d4e21d6c-d7c8-11e5-841a-79df62781b9b.png)

[2016-02-20 08:57] soupault commented on #1953
Btw, @scikit-image/core, I think it would be nice to show what is the direction of `theta=0` in the docsting. Any :+1: 's?

[2016-02-20 09:18] cpyman commented on #1953
Hi,

Below is my two pictures. One is for 0 degree, and the other is for 90 degree.

![halo_x](https://cloud.githubusercontent.com/assets/8341044/13195788/e6685182-d7f5-11e5-990c-234b8cb44de0.png)
![halo_y](https://cloud.githubusercontent.com/assets/8341044/13195790/f10de6ce-d7f5-11e5-8fce-c26fd8b647a4.png)

[2016-02-20 09:49] soupault commented on #1953
@cpyman Saw them. What is your question then?
Try to substitute `proj_0` and `proj_90` vectors in the example above with your data.

[2016-02-20 12:16] cpyman commented on #1953
Hi, soupault

My original picture as below. This is a halo ellipse, But the iradon transformation can't reconstruct this ellipse. I get a odd picture only.
origin picture
![halo_2d](https://cloud.githubusercontent.com/assets/8341044/13196638/6ef9551a-d80e-11e5-9113-d82b6d7a02f4.png)

iradon picture
![iradon_halo_2d](https://cloud.githubusercontent.com/assets/8341044/13196641/cd88aff4-d80e-11e5-96d

[2016-02-20 12:49] soupault commented on #1953
@cpyman It seems like you are using only one of the projections during the reconstruction process.
Notice, that `sinogram` should have as many columns as many projections you have, and also `theta` parameter should be set to the list of corresponding projection angles.

If you could paste you code somewhere, it'll be much faster for to figure the issue out.

[2016-02-20 12:59] cpyman commented on #1953
[code]

[2016-02-20 13:02] cpyman commented on #1953
Below is the halo ellipse code.
[code]

[2016-02-20 13:23] soupault commented on #1953
@cpyman The code is doing the right thing. The only thing you should fix is the `output_size` value in `iradon` call.
Regarding your data: the elipse has badly-balanced axes, the discretization step is not so high and, finally, the number of projections (2) is really low to get sweet result.

Closing the issue as solved.

[2016-02-20 13:23] #1953 closed

[2016-02-20 13:31] soupault commented on #1947
Is it? https://github.com/scikit-image/scikit-image/blob/master/CONTRIBUTING.txt#L143

[2016-02-20 13:38] emmanuelle commented on #941
@jni @stefanv @ahojnnes @JDWarner @tonysyu I've taken over a branch started by @stefanv to change the value of the background label. Now I have a question for you: with
[code]
do we want
[code]
or
[code]
or
[code]
??

That is, do we want that ``background=0`` is the default behavior (last result), or that by default, there is no background? In the latter case, should labels start at 0 or 1?

[2016-02-20 16:15] stefanv commented on #1947
It is broken on the website still, so did someone fix this recently?
On Feb 20, 2016 05:31, "Egor Panfilov" <notifications@github.com> wrote:

[2016-02-20 16:21] soupault commented on #1947
Hmm... The link in http://scikit-image.org/docs/dev/contribute.html#stylistic-guidelines works fine for me.

[2016-02-20 16:23] soupault commented on #1947
Oh, I see. You are probably talking about 0.11.x docs. The link is relative there indeed.

[2016-02-20 22:08] emmanuelle commented on #941
@scikit-image/core modifying the value of background pixels might the last important step (in my opinion) before the release, therefore any comment / advice is very much appreciated!

[2016-02-21 02:35] JDWarner commented on #941
To me, the most intuitive behavior is the last one. Document an explicit background value (assumed to be zero by default) with labels starting at 1.

[2016-02-21 02:53] zpincus commented on #941
Compatibility with the conventions of `scipy.ndimage` (which also has background as 0) is a good thing IMO. This convention is a little awkward in cases where you need to construct the indices of all the found objects (`object_indices = np.arange(1, num_objects+1)`), but other than that, it works well.

Not having a background at all might be useful in certain cases, but I suspect will be be reall

[2016-02-21 08:56] emmanuelle commented on #941
Following a conversation with @jni on gitter, I'm leaning towards the last possibility (``background=0`` by default).

[2016-02-21 10:38] ahojnnes commented on #941
+1 for background=0 by default and an intuitive example in the doc
string to show the behavior.

[2016-02-21 10:54] rvdboomgaard opened #1955 "Bilateral filter win_size"
The denoise_bilateral filter does not adjust the win_size in case sigma_spatial is set. So

denoise_bilateral(f, sigma_range=.1, sigma_spatial=3)

uses a 5x5 neighborhood which is way too small for a spatial scale of 3. I think that specifying sigma_spatial should adjust the win_size like

win_size = 2 * ceil( 3*sigma_spatial)  + 1

(the factor 3 could be reduced to something larger then 2 to spee

[2016-02-21 13:51] emmanuelle commented on #941
Thank you very much for all the comments! Luckily there seems to be a broad consensus for ``background=0`` by default.

[2016-02-22 20:53] emmanuelle commented on #1955
Hi @rvdboomgaard ! Thanks for the useful comment. I agree that ``ẁin_size`` should scale with ``sigma_spatial``. For the gaussian filter (``filters.gaussian``) we (or rather ``scipy.ndimage``) truncates the filter at 4 standard deviations. In the case of denoising (where we have already noise in the image) we can lower slightly the accuracy, truncating at 3 standard deviations (exp(-3**2/2) < 1%),

[2016-02-22 21:05] ahojnnes commented on #1955
@emmanuelle +1 on your proposal, and +1 on renaming `sigma_range` to `sigma_color`.

[2016-02-22 21:36] JDWarner commented on #1955
:+1: for @emmanuelle's proposal as well as `sigma_color`.

[2016-02-23 02:13] JDWarner commented on #941
I believe this is closed by #1956, feel free to reopen if original issue is not resolved.

[2016-02-23 02:13] #941 closed

[2016-02-23 07:18] rvdboomgaard commented on #1955
HI @emmanuelle

i will dive into the source code and see what i can do. I never made a pull request for skimage, so maybe i will need some help there. I hope to have some spare time coming weekend.

[2016-02-23 09:00] emmanuelle commented on #1955
Hi @rvdboomgaard thanks! http://scikit-image.org/docs/stable/contribute.html is a good start for learning how to contribute a pull request, and of course, we're here to help if you have questions

[2016-02-24 00:07] jni opened #1958 "Clarify profile_line docstring"
[This mailing list question](https://groups.google.com/d/msg/scikit-image/78wzf4iGiUE/LofqepVsFwAJ) suggests that the docstring for `profile_line` could be clearer regarding the destination index. Some possible improvements:

- Move the clarification from "Notes" to the argument documentation.
- Add a "for example" clause to the clarification, stating that getting an array from left to right (or t

[2016-02-24 22:41] Carreau opened #1959 "Improve format of region's bounding box"
Just came across that with @stefanv while trying to detect a colorbar on a image.
It would be easier when exploring writing code, instead of wondering which index is what.

[2016-02-25 01:10] sdsingh commented on #1879
I agree with @siddarth-jay: the original paper computes gradients on each channel, and takes the max over each channel's gradient to recombine.

[2016-02-25 02:45] stefanv commented on #1879
Shaun, can you confirm whether it takes the max, or whether it selection
the resulting layer with the highest norm?

[2016-02-25 19:37] stefanv opened #1961 "Clarify difference between filled_area, area, and convex_area in regionprops"
Update the regionprops docstring to clarify the above.

[2016-02-26 01:51] sdsingh commented on #1879
Sorry, I was incorrect. HOG takes the resulting layer with the highest norm.

[2016-02-26 01:54] stefanv commented on #1879
Thanks for being thorough; looking forward to seeing the solution
implemented.
​

[2016-02-26 07:54] jni commented on #1958
Fixed by #1960

[2016-02-26 08:25] #1958 closed

[2016-02-26 18:58] pradyumnanpk commented on #1879
I am trying to implement this feature. Let me know if my understanding is correct.
If a color image is given, then HOG is calculated on individual channels (R, G and B) and the HOG for the channel with highest norm is returned.
I am implementing this feature based on my understanding as stated above. Please correct me if I am wrong.

[2016-02-26 20:47] afloren opened #1962 "Have detect/extract/detect_and_extract methods return underlying object"
Allows for nice list comprehensions like:
orbs = [skimage.feature.ORB().detect_and_extract(i) for i in images]

Also, is more consistent with train/predict/train_and_predict methods from sklearn.

This is a fairly easy enhancement that I don't mind putting together and submitting as a pull request but I wanted to get input from the maintainers first.

[2016-02-26 20:51] stefanv commented on #1962
The answer is almost always "yes" for API improvements backed by user needs.  So, +1 from me.

[2016-02-26 22:20] stefanv opened #1964 "Generalize `hough_line_peaks` to work on circular, ellipse, and other Hough transforms"
Currently, `hough_line_peaks` just works on the accumulator from the Hough line transform.  But its non-maximum suppression would be useful for the other Hough transforms too.

[2016-02-27 01:18] jni commented on #1962
Ditto. The nice thing is that this should in no way affect existing APIs so there's no need for a deprecation path.

[2016-02-27 02:41] vighneshbirodkar commented on #1962
Are we going to create a `Feature` class for this ?

[2016-02-27 08:06] ahojnnes commented on #1962
+1 and I think we already reached consensus before my vote :-)

[2016-02-27 15:55] pradyumnanpk commented on #1879
I implemented the HOG for color images based on the excerpt from the original paper "For colour images, we calculate separate gradients for each colour channel, and take the one with the largest norm
as the pixel’s gradient vector"[Dalal and Triggs] and the CVPR presentation "For color image, pick the color channel with the highest gradient magnitude for each pixel"[Dalal and Triggs].

I implement

[2016-02-28 19:39] OrkoHunter commented on #1623
Faced the issue today myself. Would love to see a warning being raised. :)

[2016-02-29 16:08] theaverageguy opened #1967 "No labels on images, unclear for new comers"
http://scikit-image.org/docs/dev/auto_examples/plot_censure.html

[2016-02-29 16:11] soupault commented on #1967
@yash14123 Hi! Would you like to proceed with Pull Request? Target file is https://github.com/scikit-image/scikit-image/blob/master/doc/examples/features_detection/plot_censure.py

[2016-02-29 16:20] theaverageguy opened #1968 "Adjust spacing in the gallery overview"
http://scikit-image.org/docs/dev/auto_examples/index.html
![m](https://cloud.githubusercontent.com/assets/9817962/13400578/74a68ad8-df2e-11e5-940b-1803f6a5d873.png)

[2016-02-29 16:39] yash14123 commented on #1967
On it.

[2016-02-29 16:41] yash14123 commented on #1968
Please provide link to this so I can fix this @soupault .

[2016-02-29 16:42] vighneshbirodkar commented on #1968
@yash14123 Can you elaborate what you mean ?

[2016-02-29 16:43] yash14123 commented on #1961
Please provide the link to the particular file where I can make changes.
Thanks.

[2016-02-29 16:48] vighneshbirodkar commented on #1961
Hello @yash14123 . You can find it yourself.
`grep` is a good place to start if you have no idea where to look
[code]

[2016-02-29 16:56] yash14123 commented on #1968
The spacing is very less between "Segmentation of objects" and the upper examples. It is not consistent with other spacing.

[2016-02-29 17:33] yash14123 commented on #1968
The spacing is very less between "Segmentation of objects" and the upper examples. It is not consistent with other spacing.

[2016-02-29 17:35] yash14123 commented on #1968
The spacing is very less between "Segmentation of objects" and the upper examples. It is not consistent with other spacing.

[2016-02-29 17:37] yash14123 commented on #1961
No. I meant the documentation link. I am a newbie. Just help me out with the documentation page link.

[2016-02-29 17:38] yash14123 commented on #1947
I am on it.

[2016-02-29 17:44] vighneshbirodkar commented on #1961
The documentation is generated from the source files. As indicated with the grep search, the file is.
https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py

[2016-02-29 18:15] yash14123 commented on #1773
Can I create a new issue for the other visualization change links suggested by @JDWarner so a new PR can be created? Then I can work on this. :)

[2016-02-29 18:20] soupault commented on #1947
Not sure what are you going to fix here...

[2016-02-29 18:59] stefanv commented on #1773
Sure, go for it.

[2016-02-29 19:01] theaverageguy opened #1969 "Large whitespaces in docs"
These are likely just due to extremely simple visualizations which could be enhanced, possibly in a separate PR or with tight_layout

 http://scikit-image.org/docs/dev/auto_examples/plot_ncut.html
 http://scikit-image.org/docs/dev/auto_examples/plot_rag_draw.html
 http://scikit-image.org/docs/dev/auto_examples/plot_rag_mean_color.html
 http://scikit-image.org/docs/dev/auto_examples/plot_rag_merge.

[2016-02-29 20:05] alexandrejaguar commented on #1969
Hi @yash14123, I was working on that issue too! Thanks for doing that!
I solve that using plt.tight_layout() and changing the size for that figures. I finished these examples:
http://scikit-image.org/docs/dev/auto_examples/plot_convex_hull.html
http://scikit-image.org/docs/dev/auto_examples/plot_censure.html
Check #1810 if you'd like :)
Have a nice one!

[2016-03-01 00:59] lizsz opened #1971 "Unable to build the development version"
The build process fails at :

[code]

[2016-03-01 01:59] stefanv commented on #1971
Please send us the output of Cython as well.

[2016-03-01 01:59] stefanv commented on #1971
(I.e., ``cython _skeletonize_3d_cy.pyx``)

[2016-03-01 02:07] lizsz commented on #1971
I do not think I have it. Attached is the full output
[skimage.log.txt](https://github.com/scikit-image/scikit-image/files/152049/skimage.log.txt)

[2016-03-01 02:24] lizsz commented on #1971
See below. I have also attached two files. One is  the output from

[skimage.log.txt](https://github.com/scikit-image/scikit-image/files/152051/skimage.log.txt)

and another one is a clean install after pulling sources from github via git clone ...

[skimage.clean.install.log.failed.txt](https://github.com/scikit-image/scikit-image/files/152061/skimage.clean.install.log.failed.txt)

This one proba

[2016-03-01 05:37] jni commented on #1971
@lizsz You may have an older version of Cython. What is the output of typing "cython --version" in the command line?

[2016-03-01 06:05] yash14123 commented on #1969
I will add a PR today. Thanks for the help @alexandrejaguar :)

[2016-03-01 06:08] lizsz commented on #1971
I think it is 0.21.1
typing cython --version resulted in the
``` cython: command not found ```
However, I was able to import it to python (v 2.7.6) and call .__version__ which gave me 0.21.1

[2016-03-01 06:29] JDWarner commented on #1971
That may be the problem. In #1923 the Cython requirement was bumped to 0.23.4 on Travis in [this commit](https://github.com/scikit-image/scikit-image/commit/304660d287b73fbdbf000c599375b4293d4caba3). Try updating your Cython to or above 0.23.4 and trying again, @lizsz.

If that _does_ solve the problem, it looks like our human readable `requirements.txt` needs to be updated to reflect this - it st

[2016-03-01 06:48] lizsz commented on #1971
this did the trick. The install failed at first (in different place, though), but when I cleared and pulled it again from github, it compiled. Gentlemen, thank you for help!

[2016-03-01 06:48] #1971 closed

[2016-03-01 08:23] stefanv commented on #1623
@OrkoHunter Looking forward to that PR :)

[2016-03-01 20:26] stefanv opened #1973 "Rework gallery to use `sphinx-gallery`"
See https://github.com/sphinx-gallery/sphinx-gallery

[2016-03-03 00:59] stefanv commented on #1950
Closed by #1951.

[2016-03-03 00:59] #1950 closed

[2016-03-03 11:59] ev-br commented on #1971
Apologies for making a mess and thanks for cleaning it up!
I was not sure what is(are) the definitive place(s) for specifying the cython version, and I missed this one here.

[2016-03-03 16:53] jmetz opened #1978 "Remove duplicate mean of template calculation in skimage.feature.match_template"
Reviewing `match_template` I found

    template_volume = np.prod(template.shape)
    template_ssd = np.sum((template - template.mean()) ** 2)

    if image.ndim == 2:
        xcorr = fftconvolve(image, template[::-1, ::-1],
                            mode="valid")[1:-1, 1:-1]
    elif image.ndim == 3:
        xcorr = fftconvolve(image, template[::-1, ::-1, ::-1],
                            mode

[2016-03-03 16:55] jmetz commented on #1978
Would suggest the labels: "easy" and "enhancement" (or a new "optimization" label?)

[2016-03-03 16:58] JDWarner commented on #1978
:+1:, yes this should be precalculated and referenced. Thanks for the review!

[2016-03-04 19:50] soupault commented on #1935
Closed via #1937 , #1982 .

[2016-03-04 19:50] #1935 closed

[2016-03-04 23:40] soupault commented on #1955
Closed via #1981 .

[2016-03-04 23:40] #1955 closed

[2016-03-05 10:05] soupault commented on #758
@alexsavio Hi! Is there still an interest in this?

[2016-03-05 10:27] soupault commented on #1906
@jni Should the issue be closed?

[2016-03-05 15:34] alexsavio commented on #758
OMG A 2-years old issue. Sorry, I am not working on this currently.

Are you interested on this?

On Sat, 5 Mar 2016 11:05 Egor Panfilov, <notifications@github.com> wrote:

--

Sent from my phone, sorry for brevity or typos.

[2016-03-05 16:05] soupault commented on #758
This one has a bad luck, for sure :laughing: .
No, I'm rather interested in closing this issue. Would you agree?

[2016-03-05 17:23] alexsavio commented on #758
Yes, please close it. Maybe I will have it solved in a couple of years.
Thanks!

On Sat, 5 Mar 2016 17:05 Egor Panfilov, <notifications@github.com> wrote:

--

Sent from my phone, sorry for brevity or typos.

[2016-03-05 17:27] #758 closed

[2016-03-06 16:58] emmanuelle commented on #1973
That'd be really cool. ``sphinx-gallery`` is a great way to join forces between projects, and galleries are such an awesome way to learn!

[2016-03-06 23:39] jni commented on #1906
@soupault I think so. Thanks for the triaging. =) @r-atwood Feel free to re-open if you think this should be replaced by a Python int. (Although I suspect that such a change would require a lot of discussion.)

[2016-03-06 23:39] #1906 closed

[2016-03-07 07:40] soupault commented on #1947
Ping @stefanv

[2016-03-07 08:40] #1947 closed

[2016-03-07 11:51] jmetz commented on #1133
I'm getting a factor of only 3 slower than cv2 with your gist code (https://gist.github.com/blink1073/b9a22d7110acad78b625) @blink1073 did some other dependency get improved in the meantime??

[code]

[2016-03-07 12:41] blink1073 commented on #1133
It could be that newer versions of numpy are faster at finding the `einsum`.

[2016-03-07 12:53] jmetz commented on #1133
I'm using Numpy 1.9.2... so fairly recent version, but not bleeding edge. Do you think that's close enough to merit adding your `einsum` version and closing this issue?

[2016-03-07 13:38] soupault commented on #1865
Closed via #1985

[2016-03-07 13:38] #1865 closed

[2016-03-07 13:41] soupault commented on #1855
It's all done. Closing. :fireworks:

[2016-03-07 13:41] #1855 closed

[2016-03-07 17:26] soupault commented on #1775
So, what's the agreement here?

[2016-03-07 19:15] tacaswell commented on #1775
`tight_layout` is not the default behavior in mpl because it is not 100% reliable (there are some artists it does not know about), does not work with all ways of making axes, and requires 2 passes through the rendering to get all of the sizes right.  You can pass `tight_layout=True` as a kwarg to both `plt.figure()` and `plt.subplots()`

[2016-03-07 23:28] ev-br opened #1988 "bento.info lists autogenerated file skimage/morphology/_skeletonize_3d_cy.pyx"
... instead of the actual source file .pyx.in.

This adds to recent woes with regards to the cython templating, I'm afraid. This fell through the cracks of gh-1923 --- I added the pyx file to bento.info to silence the CI which checks consistency of bento.info and setup.py. But eventually this is weird because the file is autogenerated. No idea whether this is serious or not, just flagging this up.

[2016-03-08 00:53] blink1073 commented on #1133
I ran it again using Numpy 1.10 on Python 2.7 and got the following:

[code]

I still think it is not work complicating the existing code base.

[2016-03-08 02:49] ajijohn commented on #1886
Does it make sense to convert color to grayscale and then do it ?(experimental of course) , Other option, I came across a paper using spatial aspect of pixels, reading it now.

[2016-03-08 05:32] jni commented on #1133
@blink1073 can you elaborate on this? Lately I'm getting a bit annoyed at Python performance. I'm ok with staying at say 2x the optimum. But ~10x starts to seem sloppy.

[2016-03-08 05:48] jni commented on #1775
@tacaswell

I learn something new and useful every time you drop by. =D

[2016-03-08 07:15] soupault commented on #1886
@ajijohn I really doubt that `skimage` should ship this "experimental" version. Please, feel free to submit  a PR, once you're done with paper. WIll be very appreciated! :wink:

[2016-03-08 07:23] soupault commented on #1775
@tacaswell I always use `plt.tight_layout()` right before `figsave()` or `plt.show()` in order to get fancy spacing. Although I don't really utilize any extraordinary capabilities of `matplotlib` (`twinx`, `twiny`, long ticklabels), that is for the reasons you described above.
As far as we use only basic plotting routines in `skimage` gallery, this change should be sufficient.

[2016-03-08 10:27] stefanv commented on #1988
I guess I am the only person still using Bento.  Time to drop it?
​

[2016-03-08 10:53] ev-br commented on #1988
No idea, to be honest. Ralf is/was saying he is using it.

[2016-03-08 11:06] blink1073 commented on #1133
I just mean my implementation was not nearly as straightforward as what we currently have.  I really do think Cython is the right answer here, I just haven't had a chabce to try it.

[2016-03-08 14:45] JDWarner commented on #1988
Does pip build in parallel now? I never got into bento, but thought that
was the main selling point.

On Tue, Mar 8, 2016 at 3:53 AM, Evgeni Burovski <notifications@github.com>
wrote:

[2016-03-08 14:55] JDWarner commented on #1133
I'm fine with @blink1073's Gist approach. It narrows the gap significantly.

Reality check: is the difference between 0.001 and 0.007 seconds actually going to matter for any real-world use case?

I'm all for enhancing performance, but also strongly believe in the mantra that we should spend out effort wisely. If this is essentially never going to be a limiting factor in a computation, instead of

[2016-03-08 22:01] jni commented on #1133
@JDWarner I don't know whether it's a bottleneck for anyone but since someone reported this, I presume it was at least a minor bottleneck for at least one person. In the scientific domain we often work with enormous images, or millions of images, where that 7x difference does start to add up.

I agree though that effort should go to the biggest bottlenecks, but we don't have a good way to define t

[2016-03-09 04:54] stefanv opened #1991 "Port skimage.color conversions over to colorspacious"
https://github.com/njsmith/colorspacious/tree/master/colorspacious

[2016-03-09 06:05] JDWarner commented on #1991
The idea would be to move toward depending on `colorspacious`, populating `skimage.color` with wrappers?

Biggest potential issue I see is licensing - `colorspacious` is MIT licensed while we're modified BSD.

[2016-03-09 06:13] stefanv commented on #1991
Are those licenses incompatible?

​

[2016-03-09 08:32] stefanv opened #1993 "Denoise bilateral tests take disproportionately long to execute"

[2016-03-09 12:06] blink1073 commented on #1991
I am :+1: on using this lib, and AFAIK the two licenses are compatible.

http://choosealicense.com/licenses/

[2016-03-10 10:10] cournape commented on #1993
I see this especially on windows, where it looks like the test basically hangs (> 10 minutes and still runnning, compared to linux/osx where it only takes 2-3 mins to run the full test suite).

[2016-03-10 10:26] cournape opened #1996 "`rank.autolevel` test failure on windows 64 bits"
I see this error on windows 64 bits w/ the release `0.12.3`:

[code]

Built against numpy `1.9.2`, scipy `0.17.0`, using the MKL `11.1.4`.

[2016-03-10 10:30] soupault commented on #1996
Reminds me of https://github.com/scikit-image/scikit-image/pull/1937#issuecomment-192468021 .

[2016-03-10 10:47] cournape commented on #1996
It does look similar. It could be a race condition ?

[2016-03-10 18:18] soupault commented on #1996
I have no idea yet.
@cournape which Python version are you using?

[2016-03-10 18:25] cournape commented on #1996
`2.7.6`.

[2016-03-10 18:31] stefanv commented on #1996
Sharp eyes, Egor. Thanks for reporting, David; if you run this test again,
does the same failure occur?

[2016-03-10 18:38] JDWarner commented on #1996
Indeed, Travis didn't reproduce this on the restarted build but it looks remarkably similar.

I'd really like to see the failed test array, which might give us additional insight. That could be a challenge.

[2016-03-10 18:44] cournape commented on #1996
@stefanv I could reproduce it every time. Note that this is specific to windows in my case, never saw it on linux or mac os x.

[2016-03-10 18:55] stefanv commented on #1996
@cournape Do you have a Valgrind equivalent that you can run during
execution?
​

[2016-03-10 20:02] stefanv commented on #1996
@matthew-brett, can you reproduce this problem on your Windows buildbot?

[2016-03-10 21:27] matthew-brett commented on #1996
I can:

[code]

[2016-03-11 07:05] mkranthikmr opened #1997 "Problem installing scikit"
[code]

[2016-03-11 07:53] soupault commented on #1997
@mkranthikmr what is the version of installed `cython`?
If you aren't feel confident about solving this kind of issues with `pip`, you should use pre-built `.whl` files from:
http://www.lfd.uci.edu/~gohlke/pythonlibs/#cython
http://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image

[2016-03-11 08:05] mkranthikmr commented on #1997
PS C:\Users\Maddala\Downloads> python --version
Python 3.4.2

Can you let me know how to do that with .whl files? i downloaded those .whl files what is next?

[2016-03-11 08:15] soupault commented on #1997
@mkranthikmr I was asking about `cython` version, not `python`. To see it, call `pip show cython`.

Regarding .whl: these are complete packages for Python and can be installed via, for example: `pip install some-package.whl`.

[2016-03-11 08:16] emmanuelle commented on #1997
@mkranthikmr it's the version of cython that @soupault was asking about, so you should type "cython -V".

Also, how did you install Python, and SciPy ? With Anaconda or Canopy ?

[2016-03-11 08:29] mkranthikmr commented on #1997
PS C:\Users\Maddala\Downloads> cython --version
Cython version 0.23.4

[2016-03-11 08:43] mkranthikmr commented on #1997
I am unable to install Scipy even... @emmanuelle

PS C:\Users\Maddala\Downloads> pip install scipy
Downloading/unpacking scipy
  Running setup.py (path:C:\Users\Maddala\AppData\Local\Temp\pip_build_Maddala\scipy\setup.py) egg_info for package scip
y

    warning: no previously-included files matching '*_subr_*.f' found under directory 'scipy\linalg\src\id_dist\src'
    no previously-included direc

[2016-03-11 08:53] soupault commented on #1997
@mkranthikmr Have you read this through https://docs.scipy.org/doc/numpy-1.10.1/user/install.html , https://www.scipy.org/install.html ?
**Shortly**: It is nearly impossible to build `numpy` and `scipy` on Windows by yourself without well-prepared building environment. It is better for you to use either [conda package manager](http://conda.pydata.org/docs/) or already mentioned [packages from C.Go

[2016-03-11 09:08] stefanv commented on #1997
We are about to upload Windows wheels for all the required packages. I'll
check with Matthew Brett what the status is.

[2016-03-11 13:14] elpaso opened #1998 "ValueError: win_size exceeds image extent in compare_ssim"
I've got an error in compare_ssim ValueError: win_size exceeds image extent, should I file a bug?
the image is a simple PNG, shape returns (248, 248, 3), it obviously fail because default win_size is set to 7 and 3 - 7 < 0, see: https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_structural_similarity.py#L141

Shouldn't this check be in the first two array elements only?

[2016-03-11 13:27] grlee77 commented on #1998
Hi @elpaso
I assume this is for the current release?  If so, you will need to set `multichannel=True` when calling `compare_ssim` on color images.  Otherwise, it is treating as a 3D array, not 2D+channels and tries to filter along all three axis.  When multichannel=True, the function is called separately for each color axis and the average SSIM metric across channels is returned.

When implementin

[2016-03-11 14:34] elpaso commented on #1998
Yes, current release, thanks for claryfying!

I suppose this can be closed.

[2016-03-11 14:34] #1998 closed

[2016-03-11 15:18] grlee77 commented on #1998
I just submitted a PR to make the multichannel=True suggestion a part of the error message

[2016-03-11 15:31] elpaso commented on #1998
Awesome, Thanks!

[2016-03-11 17:50] JDWarner commented on #1996
Just got this on a master build in Python 2.6 (after a clean and completely unrelated PR branch build) which I'm not restarting so we can reference it here: https://travis-ci.org/scikit-image/scikit-image/builds/115367775

[2016-03-11 20:29] Seth-Park commented on #1552
I think it's the expected behavior of the algorithm. The reason why the two close points are included in the approximation is because the algorithm always includes the starting and ending point of the polygon.
To avoid having the points included, you can simply shift the array down by one so that those two points don't compose the start and the end of the array.
![approx_poly](https://cloud.github

[2016-03-11 20:52] stefanv commented on #1552
Wouldn't it be better to include two non-adjacent points in the polygon?

[2016-03-11 20:57] Seth-Park commented on #1552
Sorry, I am a bit confused. What do you mean by two non-adjacent points?

[2016-03-12 15:51] emmanuelle commented on #1997
@stefanv Christoph Gohlke has already uploaded wheels for scikit-image 0.12.3
http://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image
Do you think it would be possible to ask him if we can use his wheels on PyPi?

[2016-03-12 16:04] emmanuelle commented on #1973
Since ``sphinx-gallery`` is not packaged for Debian how should we proceed? It's possible that it will be packaged by the time 0.13 is out, or we could also copy the code of sphinx-gallery (as did the ``nilearn`` project, for example).

[2016-03-12 16:13] emmanuelle commented on #1973
@stefanv Did you open this issue cause you're planning to work on it, or is a call for volunteers?

[2016-03-13 00:55] stefanv commented on #1997
We can just upload the wheels generated by AppVeyor for 0.12.3. Will do
that when I get back to a computer.

[2016-03-13 03:44] liuyifly06 opened #2000 "tensorflow and skimage.io.imread issue with PIL plugin"
When I was running following code
[code]
A error appeared:

[code]
I reinstalled pillow and everything, this error just appears ...

However, the weird thing is that if I just type the code in python as following, everything works !

[code]
Why ???????
Why do I have this error just in running this file ???
I type the code into python, then it works. help me !

[2016-03-13 09:22] emmanuelle commented on #2000
Hi @liuyifly06 this is weird indeed. How did you execute your script? With "python trainDataSet.py" in a terminal? Within IPython?

I would suggest that you try to use the debugger within IPython, as explained here http://www.scipy-lectures.org/advanced/debugging/index.html#postmortem
In the debugger, you can navigate between function calls using "u" (up) and "d" (down).

If you go inside ``genera

[2016-03-13 19:50] liuyifly06 commented on #2000
@emmanuelle thank you for your help. I am running with "python trainDataSet.py" in a terminal. I will try to debug it with IPython.

Actually the program is running perfect on another Linux machine, which makes me wondering what's wrong with my computer. This kind of thing really sucks.

[2016-03-15 07:33] stefanv commented on #1973
I opened an issue as a reminder, but I don't have time to do this right now.

I think we shouldn't worry too much about Debian--Yarik and I find
workarounds for most problems :)

​

[2016-03-15 07:36] stefanv commented on #1997
Turns out we only have a 2.7, 32-bit wheel from that build.  @cgohlke,
could we convince you to upload your wheels to pypi?

On 12 March 2016 at 07:51, Emmanuelle Gouillart <notifications@github.com>
wrote:

[2016-03-15 08:30] matthew-brett commented on #1997
Why don't you build wheels for the other platforms on appveyor?​

[2016-03-15 08:31] cgohlke commented on #1997
Feel free to redistribute the wheel files from <http://www.lfd.uci.edu/~gohlke/pythonlibs/#scikit-image>. Things to consider:
* the binaries require numpy 1.10.
* the wheel files require pip version 8+ because they use the ABI tag.
* `pip install scikit-image` will likely fail because there are still no scipy wheels on PyPI.

[2016-03-15 19:12] soupault commented on #2000
@liuyifly06 Does `read_data_sets` contain any parallel code? Probably, two concurrent processes are trying to access the same file.

[2016-03-15 19:28] LeeKamentsky opened #2003 "Build issue with scikit_image-0.12.3-cp27-cp27mu-manylinux1_x86_64.whl"
Hi all,
We're having problems with our Travis build that seem to have started with the upload of scikit_image-0.12.3-cp27-cp27mu-manylinux1_x86_64.whl to PyPi. This is a pointer to a good build:
https://travis-ci.org/CellProfiler/CellProfiler/builds/115324719

and this to one that is failing:

https://travis-ci.org/CellProfiler/CellProfiler/builds/116202446

The stack trace is:

    __ ERROR colle

[2016-03-15 19:35] JDWarner commented on #2003
On first glance this looks like at least one Cython file may not be built properly, specific to that wheel.

[2016-03-15 19:50] LeeKamentsky commented on #2003
I think you're right that it's a Cython problem. I did install skimage from source on the Travis build and it appears to be working fine.

I am wondering how you can build binaries for scikit-image that are agnostic to the Numpy version. I know that at least my contributions use enough Cython Numpy magic that I'd be surprised if the binary worked for any Numpy.

[2016-03-15 23:12] stefanv commented on #2003
We build against the earliest version of NumPy required, which should in
theory give you wheels that are compatible with any later numpy of the same
major version.

[2016-03-16 07:57] soupault opened #2004 "Incorrect path in CONTRIBUTING.md"
In https://github.com/scikit-image/scikit-image/blob/master/CONTRIBUTING.txt#L234 :
`docs` -> `doc` .

[2016-03-16 10:18] soupault opened #2005 "skimage.segmentation.quickshift signature is missing from API docs"
See http://scikit-image.org/docs/dev/api/skimage.segmentation.html#quickshift .
Probably, due to `float` in https://github.com/scikit-image/scikit-image/blob/master/skimage/segmentation/_quickshift.pyx#L17 .

[2016-03-16 12:20] soupault opened #2006 "skimage.segmentation.active_contour is too sensitive to arguments' dtypes"
Gallery example (works):
[code]

Reported case:
[code]
returns:
[code]

If `init = np.tile(np.arange(img.shape[1]).reshape(-1, 1), (1, 2))` is casted with `.astype(np.float)`, everything works fine regardless to the dtype of `img`(both `int32` and `float64` work fine).

[Function signature](http://scikit-image.org/docs/dev/api/skimage.segmentation.html#skimage.segmentation.active_contour) doesn't

[2016-03-16 12:25] soupault opened #2007 "active_contour gallery example contains service info"
I suggest to remove `scipy` version checks:
https://github.com/scikit-image/scikit-image/blob/master/doc/examples/edges/plot_active_contours.py#L34-L39
https://github.com/scikit-image/scikit-image/blob/master/doc/examples/edges/plot_active_contours.py#L49-L54

[2016-03-16 13:44] samverstocken opened #2008 "Faster inpainting"
Hi,

I was wondering whether there are developments to make the biharmonic inpainting algorithm any faster (e.g. with a Cython implementation) or more scalable for larger inpainting masks? On some astronomical images, I've seen it perform well for smaller masks but I had to abort the code once I was trying to remove somewhat larger sources from my images since it was running for more than an hour

[2016-03-16 14:12] soupault commented on #2008
Hi Sam!
Thank you very much for your interest and feedback!

Indeed, the implementation of biharmonic inpainting is quite far from optimal in the sense of performance. Current version is pretty straightforward due to the fact that it was written focusing nD-input support as a main target.

Possible improvements to the implementation include, but not limited to:
1. Pre-generating of bilaplacians (a

[2016-03-16 19:32] stefanv commented on #2008
Feel free to discuss further, but I'm closing this issue as it is not a bug report.

[2016-03-16 19:33] stefanv commented on #2007
That would make our tests fail on older versions of scipy, wouldn't it?

[2016-03-16 19:53] soupault commented on #2007
@stefanv , oh, fair enough. Thanks for the hint!

[2016-03-16 19:53] #2007 closed

[2016-03-16 21:22] soupault opened #2010 "Travis builds fail with "WARNING: duplicate citation""
Have seen this many times for recent PRs. Consistently fails on `[u'seam_carve` and `[R383]`.
Restarting build (1 time) fixes the hiccup.

Travis log cut:
[code]

[2016-03-16 21:37] #2004 closed

[2016-03-16 21:50] sdsingh commented on #1959
Took a look at this, but I can't discern the attributes of bbox (which makes the original issue clear, haha).
The code states: 'Please refer to skimage.measure.regionprops` for more information,
but it is unclear to me where/what this is?

[2016-03-16 22:42] jni commented on #1959
https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L114

[2016-03-16 23:08] romuere opened #2012 "Greycoprops correlation always return 1 if greycomatrix is not normalized"
[code]

[2016-03-17 07:02] stefanv commented on #1959
We also realized that a named tuple is probably not feasible, given that
this code is N-d. Will instead update the description of bbox.

[2016-03-17 13:19] blink1073 commented on #2010
We could allow the docs to retry, much quicker than restarting the whole build ;)

[2016-03-17 19:20] soupault commented on #1393
@ahojnnes could you elaborate on this?

[2016-03-17 19:36] soupault commented on #904
One more valuable "issue" with bad luck :weary:.
@stbnps sorry for bothering you. Please, let us know if there is still an interest from your side.
Thanks in advance!

[2016-03-17 19:55] stefanv commented on #904
Unfortunately, the code as posted also does not have a license.

[2016-03-19 11:54] soupault commented on #2000
@liuyifly06 Any news on the topic?

[2016-03-19 12:19] blink1073 commented on #1991
Any disagreement @JDWarner?

[2016-03-19 18:13] liuyifly06 commented on #2000
@soupault I don not think I have any parallel code. I have uninstall and reinstall everything for many times.  Currently, for catching up my project deadline, I am just using another Linux machine on which the code can successfully run. I am going to check the problem again in next week. I will let you know if I have any progress.

Very appreciate for your help!

[2016-03-19 18:20] soupault commented on #2000
@liuyifly06 It would be perfect if you could create minimal example which you'll be able to fully share. That would really facilitate the debugging process.

[2016-03-19 18:56] liuyifly06 commented on #2000
@soupault Thanks, I will organize and upload my code and all the error information in a few days.

[2016-03-20 07:04] soupault commented on #2005
@ahojnnes Hi! How the docs are being deployed? When to expect website to be updated to verify the fix?

[2016-03-20 14:56] blink1073 commented on #2005
@soupault, the dev docs are automatically deployed when a PR is merged.  https://github.com/blink1073/scikit-image/blob/master/tools/deploy_docs.sh

[2016-03-20 18:51] soupault commented on #2005
@blink1073 I see, thanks!
The issue isn't fixed then. :( Any other ideas on the cause?

[2016-03-20 19:17] soupault commented on #1997
@mkranthikmr have you succeed to install the `scikit-image` either via `conda` or C.Gohlke's `.whl`s?

[2016-03-20 19:34] ahojnnes commented on #2005
@soupault The function needs a pure python wrapper, see e.g. `slic()`.

[2016-03-20 19:40] soupault commented on #2005
@ahojnnes That was one of my top2 guesses :). It is really strange to me that the docstring is handled correctly, while the signature isn't.

[2016-03-20 20:21] blink1073 commented on #2005
Probably just a limitation of sphinx.

[2016-03-21 02:08] woxcab opened #2020 "morphology.reconstruction returns array with dtype float (float64) when input arrays have dtype bool."
## Description

Is it normal that function `morphology.reconstruction` returns `float` array for `bool` input image? Documentation does not have information about it.
Expected return type: `bool`.
## Way to reproduce

Example:

[code]

[2016-03-21 02:18] JDWarner commented on #1991
To my knowledge, when you combine code with separate licenses and mix a bit (which is what's going to happen in a port), technically _the most restrictive license wins_ in the resulting combination. Both of these licenses are highly permissive but they are not equivalent. The modified BSD is more restrictive than the MIT (requires posting of the license file, etc.). That would mean `colorspacious`

[2016-03-21 03:19] blink1073 commented on #1991
How would we be affecting an upstream license by using its API?

[2016-03-21 03:38] JDWarner commented on #1991
I may have misunderstood - I thought we would be porting at least in part _our_ code to `colorspacious`.

[2016-03-21 03:39] JDWarner commented on #1991
There is no problem whatsoever with us simply wrapping a MIT-licensed project's API, agreed.

[2016-03-21 06:12] stefanv commented on #1991
Yes, in this case I think the idea would be to make colorspacious a
dependency, and if we want to we could contribute back to that library our
code under their license conditions.

On 20 March 2016 at 20:39, Josh Warner <notifications@github.com> wrote:

[2016-03-21 06:56] soupault commented on #2020
@woxcab Hi! Thanks for reporting!
Many functions in `skimage` perform `img_as_float` convertion inside, as it easier and more generic to work with `float`s. Unfortunately, good chunk of these and other functions doesn't track an input dtype and/or doesn't transfer it to output arrays.
So, the answer is "it is usual, but not normal" :).
Feel free to sumbit a PR with enhancement!

[2016-03-22 17:24] jni commented on #904
I just read the paper and it is badass. I'd be very interested in having this in skimage. If we don't hear back from @stbnps I might have a go at implementing it.

But @stefanv the license is in the source files and it looks to be BSD or BSD-like.

[2016-03-23 11:22] #2005 closed

[2016-03-23 12:07] soupault commented on #2005
Finally! :fireworks:

[2016-03-26 09:32] emmanuelle commented on #1973
It might be a good challenge for the Easter week-end :-), I'll be starting on it.

[2016-03-27 13:07] vodp opened #2025 "Requirement of cython 2.3"
Recently I install scikit-image with the command `pip install -U scikit-image` but failed due to requirement of Cython 0.23.
[code]

I have tried to install cython from `Cython version 0.20.1post0` to 0.23 and higher but could not do it. All of the ways `pip install cython`, or download cython and build from source, I always get `cython --version' equals `Cython version 0.20.1post0`. However if I

[2016-03-27 13:22] JDWarner commented on #2025
This sounds like a problem with your system PATH. If you run `which cython`, you will likely find there is another Cython installation around which precedes your pip installed version. Tweaking the PATH or uninstalling that one are the best options.

[2016-03-27 14:19] emmanuelle opened #2026 "Why are scikit-image documentation files .txt files (instead of .rst)?"
Since sphinx promotes the use of .rst by default, I'm wondering why we are using .txt and not .rst for our (ReST) documentation files. It looks like a non-standard choice, but maybe there was a good reason at some point to prefer the .txt extension?

I ran into this issue when trying use sphinx-gallery for scikit-image (issue #1973), since sphinx-gallery only produces .rst files for the examples.

[2016-03-27 19:04] stefanv commented on #2026
I think because my editor handled .txt better at the time :) Feel free to
rename.

[2016-03-27 22:30] emmanuelle commented on #2026
Ok thanks :-). Renaming to .rst might indeed be the easiest option.

[2016-03-28 07:35] wenchieh opened #2027 "Is the "TypeError("'NoneType' object is not callable",)" exception still not be settled when import skimage.segmentation?"
I find the earliest bug reporting about "the program will throw exception after exit when import `skimage.segmentation`" was issued in  Dec 7, 2014. But I still get in the same trouble in  version 0.11.3 in ubuntu 14.04 64bits and python 2.7.

here is the test code example:

[code]

which throws the exception:
[code]
Although I only import the related packages and libraries,  the same exception st

[2016-03-28 09:38] soupault commented on #2027
xref https://github.com/scikit-image/scikit-image/issues/1308

[2016-03-28 10:40] #2026 closed

[2016-03-28 11:14] meanmee commented on #2025
Ｉ have the same problem, Who can help? Thx a lot

[2016-03-28 12:50] soupault commented on #2025
@meanmee I highly recommend you to start with @JDWarner suggestion: paste here the output of `which cython` and (if possible) `echo $PATH`.

[2016-03-28 14:32] meanmee commented on #2025
@soupault @JDWarner I am not very fimiliar with Linux, Here are my outputs of `which cython` and `echo $PATH`:

dell@dell-Precision-Tower-7910:~/Cython-0.24b0$ which cython
/usr/local/bin/cython
dell@dell-Precision-Tower-7910:~/Cython-0.24b0$ echo $PATH
/home/dell/src/torch/install/bin:/home/dell/.luarocks/bin:/home/dell/src/torch/install/bin:/usr/local/cuda-7.5/bin:/usr/lib/jvm/jdk1.8.0_65/bin:/u

[2016-03-28 15:18] JDWarner commented on #2027
Update scipy, that should solve the problem.

[2016-03-29 01:19] meanmee commented on #2025
It seems like there are two versions of Cython in my Computer, one by apt-get, another by pip. So i just
use the command below：
‘’‘
sudo apt-get autoremove cython
'''
Then there is only left the version of pip

[2016-03-29 01:59] JDWarner commented on #2025
Closing as resolved - solution above worked as expected.

[2016-03-29 01:59] #2025 closed

[2016-03-29 02:05] wenchieh commented on #2027
@JDWarner, thank you for you suggestion, but the problem seems haven't any improvement  after updating the scipy from v0.13.0 to v0.17.0,

[2016-03-29 02:38] wenchieh commented on #2027
Thank you for you suggestion,   It does solve the problem  after updating the scipy from v0.13.0 to v0.17.0,

[2016-03-29 02:41] #2027 closed

[2016-03-29 08:33] soupault commented on #1997
Closing the issue due to the lack of activity.
Feel free to reopen with update.

[2016-03-29 08:33] #1997 closed

[2016-03-29 08:34] soupault commented on #2000
Ping @liuyifly06

[2016-03-29 08:51] vodp commented on #2025
Thanks. The solution is to remove completely cython and its dependencies. Sometimes pip uninstall cython is not enough. After doing that, reinstall cython will work!

[2016-03-29 22:13] liuyifly06 commented on #2000
@soupault  working on it. Just finished my spring break vacation

[2016-03-29 22:32] liuyifly06 commented on #2000
@soupault

Still working on it.

At current stage, I have identified that the problem only appears when I import `tensorflow`

For example, when I run following code:

[code]

Following error information appears:

[code]

**If you eliminate the first line of the source code** (`import tensorflow as tf`), **the code can successfully run.**

I installed GPU enabled [TensorFlow](https://www.tensorflo

[2016-03-29 22:48] liuyifly06 commented on #2000
Updated last comment.

[2016-03-30 17:09] stefanv commented on #1997
Just to update everyone, we're waiting for builds of numpy and scipy to
become available. Also, I now have a Windows build machine that Matthew
Brett and I will use to build the scikit-image wheels.
On Mar 29, 2016 01:33, "Egor Panfilov" <notifications@github.com> wrote:

[2016-03-30 18:50] soupault commented on #2000
Can't reproduce with `tensorflow 0.7.1 CPU`, `skimage 0.12.3`, `Python 2.7.11`.
Unfortunately, I don't have platform where to install `tensorflow GPU`.

[2016-03-30 19:05] soupault commented on #1629
@JDWarner Could we close this?

[2016-03-30 19:17] soupault commented on #949
Closed via #953 .

[2016-03-30 19:17] #949 closed

[2016-03-30 19:18] JDWarner commented on #1629
Yes, this is no longer an issue as of 0.13dev. For those few who may still be on Python 2.6, there are multiple robust options to get a newer Python version, even without root.

[2016-03-30 19:18] #1629 closed

[2016-03-30 19:20] soupault commented on #826
Closing due to the lack of essence and activity.
Please, reopen if disagree.

[2016-03-30 19:20] #826 closed

[2016-03-30 20:57] Seth-Park commented on #2000
I tried the code in my platform (NVIDIA K80 GPU supported, tensorflow 0.7.1 GPU, skimage 0.12.3, Python 2.7.11 Anaconda) and it works fine. I first thought that the jpg file might have been corrupted, but since changing the order of imports solves the problem, I am wondering what could have gone wrong...

[2016-03-30 22:00] stefanv commented on #2000
Thanks, Seth, that's helpful.

[2016-03-30 22:30] stefanv commented on #2000
This doesn't seem to be an skimage issue, so I'm closing for now, but feel free to re-open if there's any proof to the contrary.

[2016-03-30 22:30] #2000 closed

[2016-03-30 23:48] jni commented on #1959
What's the rationale for the ordering/shape of the output of bbox? I just had a closer look at this thanks to @sdsingh's PR and it seems to me to be a pretty useless format — not human readable *or* machine readable. I would say that `tuple((self._slice[i].start, self._slice[i].stop) for i in range(self._ndim)))` would be the right way to think about this...!

[2016-03-30 23:49] sdsingh commented on #2012
The angles specified seem a bit odd--they are intended to be in radians, as in the example, so this may cause some errors. Not sure what a pixel window of 2, in direction 0.25 radians would do.

However, it is still odd that the correlation is 1 for the 0 angle case.

[2016-03-30 23:52] sdsingh commented on #1959
That also makes for sense to me, @jni, although I have little experience with this module.

[2016-03-31 00:18] stefanv commented on #1959
I agree.  Any suggestions on how to deprecate?

[2016-03-31 00:23] stefanv commented on #826
How do you ever reach 100% test coverage if your tests also need coverage? :)

[2016-03-31 00:31] sdsingh commented on #2012
Took a deeper look. If the flag "normed=True" is passed, the results are reasonable (seemingly correct).

Without the normed value, the standard deviations in the GLCM overflow, and everything gets clipped to 1 in the correlation.

[2016-03-31 02:19] jni commented on #826
@stefanv the test scripts are considered covered when they run. The coverage drops when parts of your test scripts are not run. imho this is correct behaviour, as this might indicate an incorrectly written test.

[2016-03-31 02:24] jni commented on #1959
@stefanv

- add `bbox_new` method with new format
- add `bbox_old` method with existing format
- add deprecation warning `bbox` and return `bbox_old`, to be changed to `bbox_new` in 0.15. (This way people can start moving their code to use the new format.)

The function names are to be debated. for example, `bbox_new` could be instead `bounding_box`, which could remain an alias in perpetuity, and

[2016-03-31 02:26] jni commented on #1959
Incidentally, do we have a public method for returning the actual slices? I think many people would want to quickly get an object that they can use to index into a related array. So that's something else I would add.

[2016-03-31 04:37] soupault commented on #1959
Closed via #2030 .

[2016-03-31 05:01] soupault commented on #1959
:+1: to change the new output format for bbox.

@jni sounds like a reasonable idea, but that is really an "one-liner":
[code]

[2016-03-31 10:29] stefanv commented on #826
In that case, I agree with all said.

[2016-03-31 13:12] JDWarner commented on #826
My understanding is that coverage is only reported from one CI build. This makes it functionally impossible to report true coverage thanks to tests skipped due to lack of optional dependencies at different places in the build matrix.

[2016-03-31 21:30] stefanv commented on #826
We can add an entry to the test matrix that executes all unit tests.
Should be fairly straightforward.

[2016-04-01 12:57] JDWarner commented on #1959
Just throwing this out there:

We can rather simply detect if a given input is one form vs. the other. Instead of a complicated deprecation over years for a bad API decision, we could (I would argue should)

* detect and handle both types of input, emitting a warning for the old type
* detect which type it is, but only handle the new version. Raise an informative error if the old bbox format is us

[2016-04-01 13:00] JDWarner commented on #1959
I don't believe this issue was addressed in #2030; that just clarified current behavior.

[2016-04-01 23:56] jni commented on #1959
@JDWarner "detect the input"? It's an output that we are arguing about.

[2016-04-02 00:01] #2006 closed

[2016-04-02 03:11] soupault commented on #1949
Closed via https://github.com/scikit-image/scikit-image/pull/1954 .

[2016-04-02 03:11] #1949 closed

[2016-04-03 18:39] soupault commented on #1048
@jni Any updates on this?

[2016-04-03 18:46] soupault commented on #1362
@emmanuelle

Please, go for it. :)

[2016-04-03 19:11] soupault commented on #1407
@stefanv @blink1073 @JDWarner What is the story behind testing only on x86_64?

[2016-04-04 03:51] jni commented on #1048
LOL:

[code]

This appears to be due to `del warnings, ...` at the end of `skimage/__init__.py`. Perhaps the solution is to import within individual functions instead of globally?

[2016-04-04 12:22] blink1073 commented on #1407
@soupault, Travis CI only has 64 bit builds.  We are testing using 32 bits on Appveyor though:  https://github.com/scikit-image/scikit-image/blob/master/appveyor.yml#L12

[2016-04-04 12:24] blink1073 commented on #1048
Yep, I can confirm that importing warnings from within that file works, and the test suite passes.

[2016-04-04 12:25] blink1073 commented on #1048
On OSX 10.11.4, `Python 3.4.4 |Anaconda 2.4.1`

[2016-04-04 15:35] #1048 closed

[2016-04-05 20:46] opoplawski opened #2035 "Inconsistent cython version requirements"
## Description

setup.py requires cython >= 0.21 while skimage/_build.py requires >= 0.23.  Also, the two checks seem redundant.

[2016-04-05 21:12] stefanv commented on #2035
Do you mind filing a pull request to fix it?

[2016-04-05 21:55] opoplawski commented on #2035
Sure.  The main reason I didn't is that my sense would be to remove the test in skimage/_build.py.  Also, I managed to build fine with cython 0.19, so I'm curious as to why 0.23 is required.

[2016-04-05 22:03] stefanv commented on #2035
Are you sure you built the latest version?  We are using some features that were introduced after 0.19!

[2016-04-05 22:03] stefanv commented on #2035
(Do a "make clean; make" to be sure)

[2016-04-06 03:34] jni commented on #1048
Hmm, I'm getting quite a few doctest failures, some of which appear to be quite legitimate and not platform dependent. See gist [here](https://gist.github.com/jni/30c9ee96ecc3263f319b49e327cf1e00). Aren't we running doctests with Travis???

[2016-04-06 04:19] opoplawski commented on #2035
Ah, so the tarball ships the .pyx files.  So do we actually need Cython installed then to build from that?

[2016-04-06 05:06] soupault commented on #1854
Closed via #2033 .

[2016-04-06 05:06] #1854 closed

[2016-04-06 05:23] stefanv commented on #2035
No, if you have the .pyx and .md5 files, you should be set.​

[2016-04-06 18:03] blink1073 commented on #1048
Had you built skimage in that environment?

[2016-04-06 19:31] opoplawski opened #2037 "Using deprecated numpy api"
## Description

Building scikit-image with numpy 1.11.0 results in lots of messages like:

[code]
## Way to reproduce

[If reporting a bug, please include the following important information:]
- [ ] Operating system and version:
  Fedora Rawhide
- [ ] Python version:
  2.7.11
- [ ] scikit-image version (run `skimage.__version__`):
  0.12.3

[2016-04-06 20:30] soupault commented on #954
@ev-br Hi! Do you think if it is worth reporting to `scipy`?

[2016-04-06 20:35] soupault commented on #883
Closing the issue as solved.
See https://github.com/scikit-image/scikit-image/issues/2005#issuecomment-198946609 for reference.

[2016-04-06 20:35] #883 closed

[2016-04-06 20:40] soupault commented on #1215
"The feature described in this document is considered beta. Some features may not work as described." :+1:

[2016-04-06 23:48] stefanv commented on #1215
Let's find out: https://github.com/scikit-image/scikit-image/pull/2038

[2016-04-06 23:59] stefanv commented on #2037
This is due to code produced by Cython, so I guess there's not much we can do to fix it.  Hopefully, later versions of Cython will get rid of them!

[2016-04-06 23:59] stefanv commented on #2037
What is your Cython version, by the way?  Or did you use the pre-packaged .pyx files?

[2016-04-07 01:16] jni commented on #1048
@blink1073 yep, this is the location of one of the failed doctests:
[code]

[2016-04-07 05:47] goretkin opened #2039 "`SimilarityTransform.estimate` returns unstable, wrong value"
## Description

It appears that `SimilarityTransform.estimate` is returning very wrong answers for over-determined data. In this case, the data does not lead to a well-fitting similarity transform. But the offsets of ~1e17 in the translation parameters of the transformation matrix are very wrong.

[code]

On one machine
I get
[code]

on another
[code]

in both cases, the `fit` call returns `True`

[2016-04-07 05:53] soupault commented on #2039
@goretkin Hi! Thanks for reporting!
Is it possible for you to update `skimage` to `0.12.3` and check if results are _at least_ consistant?

Python 2.7+3.5, skimage 0.12.3, numpy 1.11.0:
[code]

I will investigate it better.

[2016-04-07 11:07] ev-br commented on #954
Reporting it on the scipy tracker does no harm, I suppose. The blocker would be that someone actually looks into the `ndimage` sources and comes up with a fix. Is that you maybe? :-)

[2016-04-07 11:16] ahojnnes commented on #2039
You basically have two sets of identical points.

[2016-04-07 12:51] ahojnnes commented on #2039
To expand a little more: remove the second set and you should get a reasonable estimate.

[2016-04-07 13:48] goretkin commented on #2039
@ahojnnes Don't you think I should get a "reasonable", numerically-stable estimate with the data I used? The set of points I am using aren't degenerate.

The following isn't a similarity transform (because the approach of using the pseudo-inverse doesn't constrain uniform scaling) but it illustrates that the question is well posed.

[code]

[code]

![blue](https://cloud.githubusercontent.com/asset

[2016-04-07 14:00] ahojnnes commented on #2039
I am sorry, I just looked at the first set of points. This should produce a reasonable result. Give me some time and I'll look into it. If I forget, feel free to ping me again.

[2016-04-07 15:21] soupault commented on #954
Closing as __not a bug of `skimage`__.
For further discussion and proposals, please, use https://github.com/scipy/scipy/issues/6042 and https://github.com/scipy/scipy/issues/4878 .

[2016-04-07 15:21] #954 closed

[2016-04-07 17:50] blink1073 commented on #1048
Hmm, I couldn't replicate with Anaconda Python 3.5 and Numpy 1.10.1.

[2016-04-07 22:50] jni commented on #1048
@blink1073 really, you saw *none* of the failures??? I was sure some of them would crop up...! Oh well, I'm happy to keep this closed, as it looks like my computer simply hates doctests. =P

[2016-04-08 00:08] blink1073 commented on #1048
No failures, not sure what kind of ghosts you have in your machine ;)

[2016-04-08 00:15] stefanv commented on #1048
![](https://cdn2.vox-cdn.com/uploads/chorus_asset/file/6107121/ghost-in-the-shell-typing.0.gif)

[2016-04-08 07:26] stefanv commented on #2039
Is this input valid?

desired_points[0] == [0.75, 10] and maps to [3066, 344]
desired_points[4] == [0.75, 10] and maps to [2422,  348]
​

[2016-04-08 07:55] almln opened #2041 "Wrong HOG descriptors computation"
## Description
It seems like there is bug in _hoghistogram.pyx:
Suppose we have cell with odd size. I.e. cell_columns = 5.
In hog_histograms() function:
[code]
so
x0 + range_columns_start= 0, and
x0 + range_columns_stop = 4.

now, go inside the cell_hog():
[code]

# Some screenshots
Cell values:
![cell](https://cloud.githubusercontent.com/assets/12760584/14377264/bdc95122-fd7f-11e5-84da-6d69966278

[2016-04-08 13:50] goretkin commented on #2039
@stefanv What do you mean? Possibly I am misunderstanding the documentation:

The points over-determine the parameters.

[2016-04-08 17:56] stefanv commented on #2039
But what should the resulting transformation be, if you want to map two inputs to the same output?

[2016-04-09 04:18] soupault commented on #2041
@almln Thank you for reporting!
Would you like to submit a fix?

[2016-04-09 04:56] goretkin commented on #2039
@stefanv The documentation for this function says it does total least-squares. It should minimize the sum of squares of the residuals in the input and output space. Each point-pair, as I understand it, contributes four residual values (two points, each with an x and y error). If we accept this, then there isn't any room to question the validity of the inputs, or question whether or not such a tran

[2016-04-09 09:09] stefanv commented on #2039
Here you can see exactly what the code does:

https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/_geometric.py#L640
​

[2016-04-09 09:26] ahojnnes commented on #2039
This is most likely an issue of numerical stability. We probably want to implement http://graphics.stanford.edu/courses/cs164-09-spring/Handouts/paper_Umeyama.pdf at some point for better stability.

[2016-04-09 10:13] soupault commented on #678
@ahojnnes ping :bell:

[2016-04-09 10:30] #678 closed

[2016-04-09 14:51] goretkin commented on #2039
@stefanv, yes, I saw it but unfortunately I don't quite understand it. Is there a reference for the method? Regardless, the documentation and the actual behavior of the function are at odds.

@ahojnnes intresting paper. It cites the Horn paper I mentioned, and claims to improves upon it by making sure to returns proper rotations (det = 1) and not reflections (det = -1). I don't understand the issu

[2016-04-09 19:12] soupault opened #2042 "AppVeyor builds take too long to pass"
## Description
AppVeyor provides 1hr limit for builds on free accounts.
Recently, building in AppVeyor started to take too much time.

See https://ci.appveyor.com/project/blink1073/scikit-image-qbl76/history for builds' history.

Should profile and speedup an environment setup / test plan.

[2016-04-09 22:27] JDWarner commented on #2042
The actual `make test` is running in 11-12 minutes across the board. Build times have a strange bimodal distribution with peaks ~25 minutes and then ~58 minutes. From when failed builds terminate (at least one near the beginning of the doc build, which is run before any tests), I suspect the issue here is probably in things difficult to control from our side. Specifically, one or more of

* AppVey

[2016-04-10 05:51] soupault commented on #1993
From AppVeyor logs:
[code]

[2016-04-10 06:02] soupault commented on #2042
@JDWarner Well, they declare [constant resources](https://www.appveyor.com/blog/2015/06/23/new-oss-build-environment-and-xamarin-support): `OSS build environment VMs have ~1 CPU core, 1.7 GB of memory and 1 GBs network connection`.

I've discovered that execution timestamps are actually available in downloaded logs.
Here is the problem part:

1.0.1280 :red_circle:
[code]

1.0.1311 :green_apple:
[c

[2016-04-10 06:19] stefanv commented on #2042
That's no big surprise. Those servers are very unreliable. Perhaps disable
intersphinx linking for this build, or cache the downloaded indices on
Travis?

[2016-04-10 13:36] JDWarner commented on #2042
Hard to believe Sphinx doesn't have a way to set the timeout for loading this stuff, but I can't find any way to set it.

[2016-04-10 13:39] JDWarner commented on #2042
We actually even cache local versions of this which Sphinx is supposed to use as fallback. It's doing this, too - It's just taking 40 minutes to fall back. Again, don't see any public option to set a limit on how long it'll try before giving up.

[2016-04-11 07:32] goretkin commented on #543
I skimmed this thread a few times looking for the solution, but missed it even though it was alluded to a few times. For someone else's sake, concretely, if you don't want a call to emit any warnings, you can do:

[code]

[2016-04-13 07:44] Seth-Park commented on #2041
I wrote a possible fix, but wasn't sure how to reproduce the above screenshot.

I changed the way the start and stop values are assigned based on whether the cell_columns/cell_rows are even or odd.

    x0 = cell_columns / 2
    y0 = cell_rows / 2

    range_rows_start = -(cell_rows/2)
    if cell_rows % 2 == 0:
        range_rows_stop = -range_rows_start
    else:
        range_rows_stop = -range

[2016-04-13 22:49] sdsingh commented on #2012
I think we should consider changing the GLCM API to an offset model, like MATLAB, where x and y offsets are given. Or, if this is opposed, I guess we can just improve the documentation to clarify the meaning of the angles.

[2016-04-14 00:53] sdsingh commented on #2012
In addition, now, it is clear to me that the GLCM matrix should be normalized before computing any statistics. I think this should probably be the only resolution to this.
Reference 1:
[GLCM Paper](http://www.uio.no/studier/emner/matnat/ifi/INF4300/h08/undervisningsmateriale/glcm.pdf)

Reference 2:
http://www.mathworks.com/help/images/ref/graycoprops.html

[2016-04-15 01:48] mangancha commented on #1993
Same issue in Ubuntu 14.04

Running python test_denoise.py -v

======================================================================
ERROR: skimage.restoration.tests.test_denoise.test_nl_means_denoising_2d
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
    self.t

[2016-04-15 09:12] stefanv commented on #1993
@mangancha I don't think that's the same error.  Also, are you running the latest version (0.12)?

[2016-04-15 12:24] mangancha commented on #1993
I am running 0.12.3.

It might be the parameters that I used from your webpage.

denoise_bilateral(noisy, sigma_range=0.05, sigma_spatial=15))

I got a warning that sigma_range is about to be deprecated. Once I used sigma_range=None, it performed well.

Thanks and keep up the goos work!

Enviado desde mi iPhone

[2016-04-15 12:48] ahojnnes commented on #2039
@goretkin Please, have a look at https://github.com/scikit-image/scikit-image/pull/2044. This should fix the issues here.

[2016-04-15 17:26] romuere commented on #2012
Hi Shaun.

It is true, the GLCM has to be normalized! Thanks for your answer!!

Best regards,

<<---------------------------------------------------------------------->>
Romuere Silva
Bacharel em Ciência da Computação - UFPI
Mestre em Ciência da Computação - UFPI
Doutorando em Engenharia de Teleinformática - UFC
Professor UFPI - CSHNB
http://lattes.cnpq.br/3734588405818556
<<----------------------

[2016-04-16 15:51] jwittenbach opened #2045 "allow tifffile.imsave to handle file/io objects"
Currently, image saving in `sklearn.external.tifffile.imsave` only allows the user to supply the name of the file to which the image will be written. This precludes the possibility of writing to more general IO objects -- e.g. byte streams.

I would be interested in putting together a PR that allows the user to supply either a string or a file/io object to be written to, but I wanted to gauge inte

[2016-04-16 16:47] stefanv commented on #2045
s/sklearn/skimage, but yes, go for it!

[2016-04-16 19:26] jwittenbach commented on #2045
Hah, my fingers betrayed me there =) But great, I'll put it together!

[2016-04-16 19:53] stefanv commented on #2045
A PR will go a long way to restoring our faith in your loyalty ;)​

[2016-04-18 05:18] soupault commented on #1215
Closed via #2038.

[2016-04-18 05:18] #1215 closed

[2016-04-18 16:42] soupault opened #2047 "Functions' signatures are missing from the docs"
## Description
Following functions' signatures are missing from the documentation.

Solution could be the same as in https://github.com/scikit-image/scikit-image/issues/2005 .

Module `draw`:
- [x] http://scikit-image.org/docs/dev/api/skimage.draw.html#bezier-curve
- [x] http://scikit-image.org/docs/dev/api/skimage.draw.html#circle-perimeter
- [x] http://scikit-image.org/docs/dev/api/skimage.draw.

[2016-04-18 17:54] asztrajman opened #2048 "compare_ssim calls deprecated structural_similarity when using multichannel=True"
## Description
When calling skimage.measure.compare_ssim with multichannel=True the function calls the deprecated structural_similarity, which produces the following warning (times the number of channels):
/usr/local/lib/python2.7/dist-packages/skimage/measure/_structural_similarity.py:224: skimage_deprecation: Call to deprecated function ``structural_similarity``. Use ``compare_ssim`` instead.

S

[2016-04-18 18:01] JDWarner commented on #2047
`points_in_poly` needs a public, pure-Python wrapper. That's the general fix; Sphinx doesn't pull the sig from Cython functions.

The `[source]` link is missing too, which will be fixed the same way.

[2016-04-18 18:04] JDWarner commented on #2048
Thanks for the report, @asztrajman.

Really thought I got all of the uses of `structural_similarity`... and I think I did, in other files. Quite embarrassing I missed this instance in the function itself!

I'll sort this out today.

[2016-04-18 18:07] JDWarner commented on #2048
Actually, I can't find any uses of `structural_similarity` in this function. The recursive call is to `compare_ssim` [in this line](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_structural_similarity.py#L105). Are you using a fully up to date version?

[2016-04-18 18:07] soupault commented on #2048
@JDWarner as far as dive into it, may also I ask you to change [dtype in the docstring](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_structural_similarity.py#L33) to boolean? The current one is really weird.
Thanks in advance!

[2016-04-18 18:12] asztrajman commented on #2048
That's exactly it, in my version (0.12.3) that line calls to structural_similarity. Thanks!

[2016-04-18 18:21] soupault commented on #2048
@asztrajman could the issue be closed then?

[2016-04-18 18:22] #2048 closed

[2016-04-19 16:08] ProgRoman opened #2050 "problem with ImageCollection"
## Description

I have a problem with the ImageCollection when used own loader function
## Way to reproduce

Python version

I have the following code

[code]

I receive the following message

if remove own  load_func(=transformImage) then everything works correctly

[2016-04-19 18:00] blink1073 commented on #2050
@ProgRoman, as a workaround, you can change your function definition to `transformImage(f, image_num=None)` for now, but this is a bug on our end.

[2016-04-19 18:12] JDWarner commented on #2050
This isn't a bug, it's correct documented behavior.

[code]

[2016-04-19 18:13] blink1073 commented on #2050
It is a bug in that it should not be required.  We can detect the `TypeError` and call the function without an `img_num`.

[2016-04-19 18:51] rockbass2560 opened #2051 "A error happens when it's executes Local binary pattern method several times"
## Description
Hi, I got an error when I execute the local binary pattern method into a for instruction. The error appears randomly and its description is **Buffer not C contiguous.**

The next code contains the code line with the error. I left part of the code so that you can take context.

[code]

Technical Info.
Windows 10 64 bits Microsoft [Versión 10.0.10586]
Python 2.7.11
scikit-image versio

[2016-04-19 18:55] soupault commented on #2051
@rockbass2560 it doesn't seem related to `skimage`.

[2016-04-19 19:00] rockbass2560 commented on #2051
The error occurs with this code line:
feature.local_binary_pattern(roi_eye, 8, 1,'uniform')

So where I should put this error, I need to work and the library only inform:
Buffer not C contiguous.

[2016-04-19 19:03] soupault commented on #2051
@rockbass2560 ok, if you are sure, I'd like to ask you to prepare _minimal_ example which reproduces the error. No `cv2`, `sklearn`, etc and with some dummy data included.
Could you manage to do that, please?

[2016-04-19 19:05] rockbass2560 commented on #2051
I'm going to edit the info.

[2016-04-19 19:12] soupault commented on #2051
I'm actually surprised you're getting this error on `local_binary_pattern`, because there is an [explicit call to get contiguous array](https://github.com/scikit-image/scikit-image/blob/401c1fd9c7db4b50ae9c4e0a9f4fd7ef1262ea3c/skimage/feature/texture.py#L295).
Looking forward to seeing the shortened example.

[2016-04-19 19:17] rockbass2560 commented on #2051
I edited the info, If you need more information please let me know. I'm surpised too... :(

[2016-04-19 19:25] soupault commented on #2051
@rockbass2560, interesting unpacking here:
[code]
Should be `eyes[:1]`, I suppose.

To debug, you could catch exception in `feature.local_binary_pattern` and print the values of `w, ew, y, ey, h, eh, x, ex`, `roi_eye.size` and `roi_eye.shape` when it occurs. This should help a lot.

[2016-04-19 19:27] soupault commented on #2050
@JDWarner but those are regular .jpg, aren't they? I tend to agree with @blink1073

[2016-04-19 19:30] rockbass2560 commented on #2051
Ok, I will reviews the values, by the way, reviewing I found out this info. Apparently the error happens after np.ascontiguousarray is called.
![screenshot_5](https://cloud.githubusercontent.com/assets/2618632/14652676/96a09a54-0632-11e6-9bd3-81f4ca1ce9ed.png)

[2016-04-19 20:08] rockbass2560 commented on #2051
I need 2 eyes. I used roi_eye.size directly I don't know if it is right.

The values are:

x:177, y:274, w:342, h:342
ex:198, ey:120, ew:63, eh:31, roi_eye.shape:(0, 84), roi_eye.size:0
ex:73, ey:119, ew:63, eh:32, roi_eye.shape:(0, 0), roi_eye.size:0
mx:92, my:256, mw:80, mh:40

[2016-04-19 20:25] soupault commented on #2051
@rockbass2560 so, basically, you're passing empty arrays to `local_binary_pattern`.
That should raise more meaningful error, but the results shouldn't differ.

[2016-04-19 20:52] rockbass2560 commented on #2051
You're right, It seems I'm guilty so that I repaired the images, thanks for your time.

[2016-04-19 20:52] #2051 closed

[2016-04-19 20:52] stefanv commented on #2051
Egor, will you please file an issue so we can fix the poor error message?

[2016-04-20 06:35] soupault opened #2053 "`feature.local_binary_pattern` fails on empty array sliced from non-contiguous source"
## Description

There is a bug somewhere, because `local_binary_pattern` has [np.ascontiguousarray](https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/texture.py#L295) call inside.

[code]
## Way to reproduce

[code]
- [x] Operating system and version: `Linux 4.5.0-1-ARCH x86_64 GNU/Linux`
- [x] Python version: `Python 2.7.11, Python 3.5.1`
- [x] scikit-image version (run `sk

[2016-04-20 06:35] soupault commented on #2051
@stefanv Done, see https://github.com/scikit-image/scikit-image/issues/2053 .

[2016-04-20 06:41] soupault commented on #2053
As a solution I can suggest adding a check for 0-long dimensions in [assert_nD](https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/utils.py#L147) and adding `assert_nD` to `feature.local_binary_pattern`.

[2016-04-20 06:49] soupault commented on #2051
@rockbass2560 glad you've figured everything out!

[2016-04-20 07:16] ProgRoman commented on #2050
Thank you! After the fixes to transformImage(f, img_num=None) it works!

[2016-04-21 08:15] soupault commented on #2042
I have posted the feature request to `Sphinx` repo. If any of you would like to go for a PR, I'll not hamper :wink:.

[2016-04-22 07:23] kevin-coder commented on #1993
@stefanv , I also encounter this issue, running but taking a long time on Windows. I will have a look at this issue.
Basic Test Environment:
Windows 8.1 + Python 2.7.10

[2016-04-22 09:36] soupault commented on #1789
I'd agree with @jni that we need at least temporary solution (warning on convention change).

Also, there seems to be some missalignment in API. Here is the working example:
[code]
I bet that user might be not aware of required `transpose` call.

[2016-04-22 21:38] eriophora commented on #2000
FYI, I'm getting this same issue when trying to modify tensorflow serving. It works perfectly fine in the interpreter, but when it's an executable from `bazel build` PIL freaks out.

Further, I don't think it's a problem with multiple open files--even if it's read into memory and fed to PIL as a StringIO then shunted directly into a numpy array all under a concurrency lock it still freaks out with

[2016-04-24 06:28] soupault commented on #1857
Closed via https://github.com/scikit-image/scikit-image/pull/1872.

[2016-04-24 06:28] #1857 closed

[2016-04-24 06:31] soupault commented on #1978
Closed via https://github.com/scikit-image/scikit-image/pull/1980.

[2016-04-24 06:31] #1978 closed

[2016-04-24 07:26] soupault commented on #1835
@blink1073 I'd suggest to close the issue. Reasons:
- `pngmath` has evolved into [`imgmath`](https://github.com/sphinx-doc/sphinx/commit/355fe2a2334aac1e44acb502c68a51555e76162c);
- We hadn't seen this error again since the time this issue was reported;
- Travis build for PR #1603 cannot be successfully re-run to check the repeatibility.

[2016-04-24 21:22] blink1073 commented on #1835
Sounds good, thanks @soupault.

[2016-04-24 21:22] #1835 closed

[2016-04-25 15:56] mljli opened #2056 "`min_size` is not strictly conformed in the implementation of felzenszwalb"
## Description
With `min_size` specified, there're still some segments with sizes that less than it. I don't know if it is an inherent flaw of the algorithm.

## Way to reproduce

    1

![dragonbaby](https://cloud.githubusercontent.com/assets/7010007/14789864/39cd4a56-0ad4-11e6-88a4-235ebdd1e2fd.jpg)

[2016-04-26 02:08] mljli commented on #2056
I have compared the output with that of Felzenszwalb's code, definitely there's a bug in the skimage's implementation.

[2016-04-26 05:51] soupault commented on #2056
Hi @mljli !
Thank you for reporting! We'll be happy if you decide to go for a PR with the fix :wink: .

[2016-04-26 10:34] mljli commented on #2056
@soupault I've found the problem. Current implementation processes each channel separately and then merges their results. It's the merging criterion that breaks the `min_size` constraint. I wonder if there's a clean solution without rewriting all the code.

[2016-04-26 15:48] aeslaughter commented on #2048
I am having this issue with the following code, using scikit-image 0.12.3 on python 2.7.11 (installed with miniconda on OSX):

[code]

[2016-04-27 14:03] soupault opened #2059 "Remove duplicate pages from website gallery"
## Description

When categories for gallery examples were introduced (https://github.com/scikit-image/scikit-image/pull/1823), old non-categorized examples had been kept as is.
Now, only the categorized versions seem to be correctly updated. Those old versions should be removed to avoid users' confusion.

See the following comments for the details:
https://github.com/scikit-image/scikit-image/pull

[2016-04-27 20:18] soupault commented on #2056
@mljli Sounds reasonable. Are you aware of any recommendations from literature?

[2016-04-28 18:31] sehugg commented on #2000
Same here, when I use imread after importing Tensorflow (even indirectly) I get a PIL.JpegImagePlugin.JpegImageFile object returned instead of ndarray.

[2016-04-28 18:34] soupault commented on #2000
@sehugg Could you report this to https://github.com/python-pillow/Pillow ?

[2016-04-28 20:34] liuyifly06 commented on #2000
@soupault @sehugg @eriophora
I submitted the issue to TensorFlow. It turns out the developer of TensorFLow already acknowledge this problem.
[https://github.com/tensorflow/tensorflow/issues/2101](https://github.com/tensorflow/tensorflow/issues/2101)
[https://github.com/tensorflow/tensorflow/issues/1924](https://github.com/tensorflow/tensorflow/issues/1924)
I guess you could expect improving of Ten

[2016-05-01 15:23] #1993 closed

[2016-05-03 12:11] ahojnnes opened #2066 "Website does not show version number correctly"
See http://scikit-image.org/, in the sidebar.
![screenshot](https://cloud.githubusercontent.com/assets/134307/14982774/fcd6cb2a-1138-11e6-8d9a-d19a6393c3e3.jpg)

[2016-05-03 16:07] zhangda82 commented on #1103
Hello jni,

Can you help clarify the meaning of parameters for draw.polygon() ? From your example the 1st and 2nd parameters are list of row and col coordinates of the vertex, but from the official document of skimage.draw.polygon(), they are y and x coordinates defined elsewhere. Thanks!

Da

[2016-05-03 18:37] quinnkjones opened #2067 "Reverse image generation for transform.pyramid_gaussian"
Especially for detection tasks, such as the project I'm working on currently, one may want to process the lowest scaled image first and move "backwards" to the image at it's original scale.  In this way a program could be written to ignore regions that overlap detections found at the lower scale and save some time, especially in the case of convolving a sliding window across the input.

A dependen

[2016-05-03 23:01] JDWarner commented on #2067
I do see why you would want this.

Unfortunately, the algorithm ([code here](https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/pyramids.py#L139)) yields an efficient generator based on iterative decimation/loss of detail. Every step depends only on the prior step, and so only a single Gaussian is needed each call.

Going the other way is a lot less efficient because decima

[2016-05-04 02:23] stefanv commented on #2066
Do you ha email Javascript enabled? Did the load get interrupted?

[2016-05-04 03:50] stamaimer opened #2068 "difference between sigma and kernel_size in quickshift"
kernel_size : float, optional (default 5)

        Width of Gaussian kernel used in smoothing the sample density. Higher means fewer clusters.

        sigma : float, optional (default 0)

        Width for Gaussian smoothing as preprocessing. Zero means no smoothing.

And i saw `sigma controls the scale of the local density approximation` in [Comparison of segmentation and superpixel algorithms](

[2016-05-04 04:40] JDWarner commented on #2066
I can reproduce.

[2016-05-04 05:36] ahojnnes commented on #2066
I guess it's this error message:
[code]

[2016-05-04 05:36] ahojnnes commented on #2066
*Chrome 50.xx under OSX.

[2016-05-04 08:02] klonuo opened #2069 "qt_plugin.py: ImportError: cannot import name 'warn'"
Trying to run skivi raises this Exception:
[code]

So changing `from ..._shared import warn` into `from ..._shared.utils import warn` resolved the issue.

[2016-05-04 09:48] soupault commented on #2069
@klonuo thank you for reporting!
There is indeed a bug in imports block. Would you like to to submit a PR?

[2016-05-04 09:59] klonuo commented on #2069
It's a small typo, so I didn't make PR, as it would be much simpler for someone already contributing ;)

Cheers

[2016-05-04 13:59] soupault commented on #623
Closed via https://github.com/scikit-image/scikit-image/pull/1005.

[2016-05-04 13:59] #623 closed

[2016-05-04 17:19] quinnkjones commented on #2067
Given what you've elucidated about the nature of the current algorithm, I
agree that it may not be worth the effort.

But in case you're interested it can me much more efficient for some
detection with sliding windows techniques especially if the detection is
scale variant and mostly occurs at the scaled down version.  Then what you
can do is start by running the sliding window on the smallest ima

[2016-05-05 20:30] #2069 closed

[2016-05-06 07:34] kevin-keraudren opened #2071 "`git pull upstream master` instructions are broken"
If we follow the instructions on http://scikit-image.org/docs/stable/contribute.html we have:

[code]

If instead we do:

[code]

then `git pull upstream master` works fine.

I suggest updating the contribute page, unless I am the only one experiencing this, or maybe I am missing another undocumented step?

[2016-05-06 07:38] stefanv commented on #2071
You have to set GitHub up to know your SSH key. If that is not mentioned,
we should add a link.

[2016-05-06 07:39] soupault commented on #2071
@kevin-keraudren Hi, Kevin!
Yes, I agree, the case in the contributing guide will work only if you have already configured SSH keys for your GitHub account.
Could be nice to update the guide!

[2016-05-06 11:52] JDWarner commented on #2071
For the record, it's far easier and clearer for new contributors to use the HTTPS method originally proposed than force them to wade through SSH. Even if this means they have to type their password every time.

I strongly favor that approach. Have the SSH method an optional thing for advanced users if we must, but IMO it is inappropriate in a getting started guide.

[2016-05-06 19:20] xrzhou opened #2074 "Cannot import skimage after updating scipy to 0.17.0 version"
## Description
In order the active contour function of scikit-image, I've updated scipy to 0.17.0 version. Then skimage cannot be imported successfully.

Python version: 2.7.6
Anaconda version: Anaconda2-4.0.0
scikit-image version: 0.12.3
OS: Ubuntu 14.04

## Relevant images
When running `from skimage import ***`, I got the following messages:

![image](https://cloud.githubusercontent.com/assets/8

[2016-05-06 19:31] soupault commented on #2074
@xrzhou hi!
This doesn't seem like a `skimage` issue atm.

What is the version of your `numpy`?
What is the result of these imports? :
[code]

[2016-05-06 21:08] xrzhou commented on #2074
Hi,

Thanks for reply.

The version of numpy is 1.11.0.
numpy and scipy can work well.

On Fri, May 6, 2016 at 12:31 PM, Egor Panfilov <notifications@github.com>
wrote:

--
Xiran Zhou
GeoDa Center for Geospatial Analysis and Computation
School of Geographical Sciences & Urban Planning
Arizona State University

[2016-05-07 21:34] stefanv commented on #2074
The error is related to another library: skimage does not link to MKL.

Please set up a new, clean virtual environment and let us know if that
fails as well.

[2016-05-08 04:17] ElizabethForest opened #2075 "Feature request for Generalized Local Binary Pattern"
Hi,

I have a feature request :)

I'm looking into image quality assessment and one of the methods uses generalized local binary patterns. Which is a Local Binary Pattern where the threshold is able to be set.

I know there is a function for computing the local binary pattern and the multi-block local binary pattern, so I was wondering if a function for computing the generalized local binary patte

[2016-05-08 16:46] warmspringwinds commented on #2075
@ElizabethForest Thank you for your request :)

I have worked on multiblock LBP implementation.

Correct me if I am wrong:
They add the threshold T compared to traditional LBP ?
and if T == 0, it becomes original LBP ?

I will look into the code: it should be a minor change needed to make it work.

[2016-05-10 09:59] jmetz opened #2077 "Add more standard match_descriptor algorithm"
## Description

The greedy algorithm implemented is far from ideal; recommend use of e.g. [Linear Assignment Problem](https://en.wikipedia.org/wiki/Assignment_problem) algorithm such as Jonker-Volgenant; several implementations exist (including in e.g. [Cell Profiler](https://github.com/CellProfiler/centrosome/blob/master/centrosome/lapjv.py)).

[2016-05-10 21:35] emmanuelle commented on #2071
closed by #2073

[2016-05-10 21:35] #2071 closed

[2016-05-11 02:58] JDWarner opened #2079 "Direct new users to HTTPS, remove all mention of SSH from getting started guide."
I strongly feel we should direct new contributors to HTTPS and remove all mention of SSH from the new contributor guide. I don't care if SSH is the "right" way, this is one place where we want the "easy" way. It's a getting started guide, not a reference.

Git itself is plenty for new contributors to wrap their heads around. No need to force them to dive into SSH keys as well. Every additional bar

[2016-05-11 04:10] jni commented on #2079
Mmm, I'm not sure about this one. I always start SWC git lessons by getting people up to speed with SSH, because if there's anything more annoying than setting up keys, it's typing your password in over and over and over. Perhaps what we should do is direct them to the Github GUI client?

[2016-05-11 05:52] JDWarner commented on #2079
No, please lets not direct to the GUI. It's not cross platform, and the entire interface is a moving target.

Typing in a password may be annoying to you and I, @jni, but that's because when you go down this road you end up pushing tens of commits per day.

For a new contributor, this is expected behavior for a web service. Set up a new account, get prompted for a password. When writing these thin

[2016-05-11 06:28] soupault commented on #2066
Closed via https://github.com/scikit-image/scikit-image-web/pull/32.

[2016-05-11 06:28] #2066 closed

[2016-05-11 06:37] emmanuelle commented on #2079
+1 for putting first the "easy" option. Lowering the entry barrier would be at no cost here, since it doesn't affect scikit-image, just the contributing process.

[2016-05-11 08:32] soupault commented on #2079
Although I think this is a superfluous optimization, I'm with Josh on it. GitHub manual on setting up SSH keys is far from perfect and one usually has to dive into cryptography basics to understand the reasoning behind and set all things up.
On the other hand, I'm with Stefan regarding the educational side. If we prefer new contributors to use API over SSH, we shouldn't remove the mention of alter

[2016-05-11 11:55] ThomasWalter opened #2080 "Add uint16 images' support for co-occurrence matrix"
## Description
The co-occurrence matrix implemented in feature/texture.py (skimage.feature.greycomatrix) does not accept images with more than 256 levels. This is reasonable for the calculation of Haralick features, but I think that it might be useful to remove this limitation for other use cases.

As an example, I am currently working on an application, where I want to build a neighboring graph o

[2016-05-11 17:35] stefanv commented on #2079
I am ok with the footnote. It may be good to include a screenshot of where
to find the url on GitHub (which should show users with ssh keys the ssh
address by default).

[2016-05-11 19:59] vighneshbirodkar commented on #2079
I was wondering if a guide like this might be helpful
https://github.com/sightmachine/SimpleCV/wiki/Dev-Guide

It certainly helped me with my first Open Source contribution

[2016-05-12 12:16] SaeedIqbal opened #2081 "skimage.feature.canny(im)"
I am running the following code:
[code]

and python shell I faced the the below error:

edges1 = features.corner(im)
NameError: name 'features' is not defined

How can I resolve the above mentioned issue, Kindly help me.

Python 2.7.6 and 3.5.1
and scikit-image version is 0.9.3.

[2016-05-12 12:49] soupault commented on #2081
@SaeedIqbal hi!
The error is speaking for itself, there is no module `features` in `skimage`, neither there is a function `corner`.
I'd suggest you to search through the documentation once again for the fix. For futher questions on usage of `skimage`, please, consider using stackoverflow.com and add `scikit-image` tag to your questions - some of core team members do monitor that as well.

Closing

[2016-05-12 12:49] #2081 closed

[2016-05-12 14:03] JDWarner commented on #2081
Note that you imported and aliased skimage.feature to  the name feature. You then must use that exact name, not the plural featureS, to access it.

[2016-05-12 20:32] soupault commented on #2045
Closed via #2046.

[2016-05-12 20:32] #2045 closed

[2016-05-13 12:53] jmetz commented on #1489
Just made a really minor change to `centroid` to use the `coords` instead of `moments` (via `local_centroid`) - #2083 - let me know if this is sensible or not... seems like an easy fix to me.

[2016-05-13 18:40] stefanv commented on #1959
@JDWarner Can you explain what you meant here?  Otherwise I think we should go with @jni's suggestion.

[2016-05-13 22:33] stefanv opened #2084 "Remove README file from rank and include in documentation"
The file skimage/filters/rank/README.rst should be included either in a docstring or elsewhere in the documentation

[2016-05-14 13:56] jmetz opened #2086 "Allow clear_border to work on 3d (Nd?) images"
## Description
Update `skimage.segmentation.clear_borders` to work on 3d / Nd images;
should only require minor changes to code using more generic slicing.

[2016-05-14 13:57] ahojnnes commented on #2086
That would be a good addition, if we go 3D, we should also go ND.

[2016-05-14 15:06] jmetz commented on #2056
Thought implementing the "official" multi-channel version might be a good way to go: implemented this here : #2088

[2016-05-14 15:47] jmetz commented on #2056
By "official" above I meant instead of operating on the channels independently (as implemented before, and in the 2004 version of Felzenszwalb's algorithm), using the 2006 update e.g.: https://github.com/cvjena/Felzenszwalb-Segmentation/blob/master/segment-image.h

[2016-05-15 15:23] ElizabethForest commented on #2075
Hi @warmspringwinds

Sorry for the late reply, but yes that is correct :)

Thanks for looking into it for me.

[2016-05-15 18:51] soupault commented on #2074
@xrzhou Hi, have you succeed to check the behaviour under a new virtual environment?

[2016-05-15 18:54] soupault commented on #2003
@LeeKamentsky could we close the issue then?

[2016-05-16 15:02] #2003 closed

[2016-05-17 01:02] stefanv commented on #2003
Just to double check: is the wheel on PyPi broken or not?

[2016-05-17 12:33] LeeKamentsky commented on #2003
This is the build that failed:
https://travis-ci.org/CellProfiler/CellProfiler/builds/116202448

I installed from a tarball from github here and it worked:
https://travis-ci.org/CellProfiler/CellProfiler/builds/116210573#L392

We're still building scikit-image in our build from the source on github:
https://travis-ci.org/CellProfiler/CellProfiler/builds/130094735

I'm no longer working for CellPro

[2016-05-17 13:29] soupault commented on #2086
Closed via #2087.

[2016-05-17 13:29] #2086 closed

[2016-05-17 15:30] soupault commented on #2042
We could face similar issue with the Travis build on OSX : https://s3.amazonaws.com/archive.travis-ci.org/jobs/130835227/log.txt .

[2016-05-17 18:29] raamana commented on #2080
Perhaps you fork it and disable the limitation?

[2016-05-18 08:40] sciunto commented on #1964
That's a great idea. Since we have a new function to write (hough_peaks I guess), we can also the benefit to include a subpixel resolution as an optional feature of this detector (see #2089)

[2016-05-18 12:10] sciunto commented on #1964
Quick note. What you propose is actually doable for hough_line and hough_circle. Not hough_ellipse. If you look at the API of hough_ellipse, you'll see that it's different. We don't return a Hough space. The reason is that the spirit of the hough ellipse algo is radically different for optimization purpose. For ellipses, it returns accumulators and associated ellipse parameters (5D).

For circles,

[2016-05-18 20:59] LocutusOfBorg opened #2091 "please remove non-free lenna image"
Hi, you can see a reason for removing that image on the corresponding Debian bug report [1]
do you think you can replace that image with a more "open source" one?

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=794859

thanks!

[2016-05-18 21:01] stefanv commented on #2091
This has already been fixed upstream.

On Wed, 18 May 2016 at 13:59 Gianfranco Costamagna <notifications@github.com>
wrote:

[2016-05-18 21:06] LocutusOfBorg commented on #2091
oops, thanks then!

[2016-05-18 21:06] #2091 closed

[2016-05-18 21:11] LocutusOfBorg commented on #2091
well @stefanv can I update the Debian package to the latest release? do you want to give me a dsc file?
I asked the maintainer of bug 823140 to fix the package, what is your opinion? do you have any stopper?

[2016-05-18 22:51] stefanv commented on #2091
I have been working on the Debian packaging, but it's not quite done.  If
you want to help, I'd be most grateful (you can find me online at
https://gitter.im/scikit-image/scikit-image )

My current Debian branch is here:

https://github.com/stefanv/scikit-image/tree/debian

On Wed, 18 May 2016 at 14:11 Gianfranco Costamagna <notifications@github.com>
wrote:

[2016-05-19 07:48] stefanv opened #2092 "Add callback to active_contour"
So that a person can monitor the snake as it develops

[2016-05-19 08:18] stefanv opened #2093 "Active contour does not document that snake length depends on input"
The output snake length is the same as the input boundary given--no points are added.  This should be explicitly documented.

[2016-05-19 13:48] ChrisK91 opened #2094 "matplotlib error when trying to open image in ImageViewer"
## Description

For testing purposes, I'm trying to display an image in the ImageViewer. The image won't display (neither as png nor as tiff), and the error `ValueError: 'box_aspect' and 'fig_aspect' must be positive` is displayed.

[code]
## Way to reproduce

Copy both images to the working directory. Create the following script and run it

[code]

The same error occurs, when I try to open the im

[2016-05-19 13:57] soupault commented on #2094
I can open the image on my setup, but the same error is raised (nonetheless it works without any issues).

Win7 x64, Python 3.5, skimage 0.12.3.

[2016-05-20 09:15] soupault commented on #2047
I've updated the issue with the other cases.

@JDWarner sorry, your comment is slightly out of the point now. :wink: .

[2016-05-20 13:03] sciunto commented on #1964
I refactored the code to make things easier to (re)use. I'm waiting #2089  to be merged before starting a new PR with this.

It's fully backward compatible and I checked that it gives the same results as previous implementations in the gallery. In addition, we have a function that could apply to any kind of images to detect peak positions. I suggest that this could go to `features/peaks.py`

[code

[2016-05-20 15:02] ThomasWalter commented on #2080
Sure.

[2016-05-20 21:09] xrzhou commented on #2074
Hi Egor,

Sorry for replying late. After several checks, I find the  0.17.0 version
scipy cannot work well in anaconda environment.

When I imported scipy.io, scipy.misc, and other scipy modules, the kernel
of anaconda had died. But, 0.17.0 version scipy works well under the other
environment like VIM, pycharm, and pyscript.

Thanks.

On Sun, May 15, 2016 at 11:51 AM, Egor Panfilov <notifications@

[2016-05-21 01:21] stefanv commented on #2074
How did you install scipy?  You should probably use conda in a conda
environment.

On Fri, 20 May 2016 at 14:09 Xiran Zhou <notifications@github.com> wrote:

[2016-05-21 01:31] stefanv opened #2097 "Use stacklevel in warnings"
When you do ``warn('blah')`` somewhere in scikit-image, the user gets *that* line-number whenever the warning is raised.  If the warning message is "you've used a deprecated keyword argument", e.g., the correct line to return is *where the user called skimage*.  To fix this, use the *correct* stacklevel argument in ``warn``.

For an example of correct usage, take a look at numpy.

[2016-05-21 02:11] blink1073 commented on #2097
Didn't we fix this in https://github.com/scikit-image/scikit-image/pull/1916?

[2016-05-21 14:40] sciunto commented on #2094
I can open each image and no error on my system.
python 3.5.1 or 2.7.11, GNU/Linux.

@soupault Do you have the same backtrace?

Looks like a backend issue anyway. Maybe @tacaswell has an idea or knows some similar issues.

[2016-05-21 14:45] sciunto commented on #2037
@stefanv I do have a similar output in my virtual env. I'm using Cython 0.24. I ran `make clean` before `python setup.py build`

[2016-05-21 14:52] soupault commented on #2094
Same behaviour Linux x64, Python 3.5, skimage 0.12.3.
Here is the traceback:
[code]

[2016-05-21 15:48] tacaswell commented on #2094
It smells like there is a race condition someplace and the first draw is
being triggered before all of the artists are set up fully but i have not
tried to debug this.

On Sat, May 21, 2016, 10:52 Egor Panfilov <notifications@github.com> wrote:

[2016-05-21 22:28] soupault commented on #2074
@xrzhou just to clarify, you are saying that there are some issues with `scipy` in `jupyter`, but for other import methods/IDEs everything works fine, is that correct?

[2016-05-21 22:45] soupault opened #2099 "Add description to RAG's merging example"
## Description
Add description to RAG's merging example or, at least, hide `TODO` from the public.

See [webpage](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_boundary_merge.html#example-segmentation-plot-boundary-merge-py) or [source code](https://github.com/scikit-image/scikit-image/blob/master/doc/examples/segmentation/plot_boundary_merge.py#L6) for some fun :).

[2016-05-22 06:09] vighneshbirodkar commented on #2099
Oh crap. I am guilty of that mistake.

[2016-05-22 09:21] jni commented on #2099
Me too! LOL #codereviewfail

[2016-05-22 13:03] sciunto opened #2101 "DOC a note with references is not printed in the doc"
In measure/_ccomp.pyx, this note in the top of the file is not the built doc.

I noted that at two different places in that file, there is a comment above functions that refers to one of the references.
[code]

[code]

I'm not sure what's the best thing to do.

[2016-05-23 08:10] soupault commented on #2101
@sciunto I believe the codebase needs a lot of refactoring and PEP-ifying besides this :). We could consider filling a meta-issue to collect all the shortcommings, like we the one we have for the gallery.

Regarding the issue, I'd prefer the following:
The reference block at the top of `measure/_ccomp.pyx` should be added to `def label(...)` docstring. Numpy docstrings have a standard of doing thi

[2016-05-23 09:18] letmaik opened #2103 "Can matplotlib be made an optional dependency?"
I am using only a small part of scikit-image in a non-interactive environment, currently the skimage.filter.rank functionality and it is a bit suboptimal that my package then indirectly has to depend on the quite big matplotlib dependency, especially since I don't use it. For compiling matplotlib on linux you also have to install some system level libraries like libpng and freetype which may not e

[2016-05-23 14:07] sciunto commented on #2099
@vighneshbirodkar Would you like to make a PR with a text for that example?

[2016-05-23 14:09] earthflat opened #2105 "regionprops dimensions of one and single element regions"
Hi,

skimage.measure.regionprops does not handle images with an axis having a of size 1 correctly. E.g. an image of shape (1,3), which has a single row, is not detected as an 2D-image and an error is thrown, which says, that only 2D and 3D image are allowed.
Same for 3D images of e.g. shape (1,1,3).

Further, properties of regions with only one pixel are not correct. At least the property 'major_a

[2016-05-23 14:10] vighneshbirodkar commented on #2099
@sciunto I'm making one right now

[2016-05-23 14:45] vighneshbirodkar commented on #2099
See
https://github.com/scikit-image/scikit-image/pull/2106

[2016-05-23 15:09] JDWarner commented on #2103
@neothemachine this is an interesting question. I looked into it and found that the vast majority of matplotlib uses are in convenience visualization functions and example code as well as the documentation. In all such cases, matplotlib imports are at the top level of the files; in such cases they could be relatively simply refactored into functions.

However, there are a few problematic areas.

*

[2016-05-23 22:18] neothemachine commented on #2103
I had a look at skimage._shared._geometry. So this is only polygon clipping. I tried to check how many skimage code parts depend on ._shared._geometry. Only `skimage.draw` depends on it directly (the draw.polygon_perimeter function of it uses polygon_clip). The following depend on ._shared._geometry indirectly via skimage.draw:
- skimage/morphology/selem.py (draw.ellipse)
- skimage/transform/_houg

[2016-05-23 22:40] stefanv commented on #2103
The primary reason that matplotlib is a dependency is because it provides a
standard way of loading png/jpeg files (you run into the same problem if
you make pillow the default--it also depends on libjpeg etc.).  This is
needed to run tests, etc., so we can't really get rid of it.

That said, you can potentially install skimage without matplotlib, if you
know that you won't be needing any of that

[2016-05-23 22:54] JDWarner commented on #2103
I don't have any problem rearranging imports to minimize the need for matplotlib in functions/files where it's only used in a subset of functions. In some (most?) cases splitting out a separate file is likely more elegant than moving imports into functions. There is room for improvement here.

[2016-05-23 23:39] jni commented on #2103
I think I remember seeing a couple of BSD-licensed, pure-python JPEG and PNG readers. It might be useful to bundle those with skimage as ultimate fallbacks for IO.

[2016-05-23 23:46] jni commented on #2105
Your first point is valid, but I'm not sure about the second one... I think single-pixel regions can be correctly considered point sources, see ["A pixel is not a little square"](http://alvyray.com/Memos/CG/Microsoft/6_pixel.pdf).

[2016-05-23 23:54] stefanv commented on #2103
@jni Could you point me to one of those?  libjpeg is a complicated piece of
work.

[2016-05-24 00:05] jni commented on #2103
@stefanv looks like only reading for jpeg, and with a little C module:
https://bitbucket.org/darcymason/pyjpeg/src
(Hard to find, but MIT-licensed)

png:
https://github.com/drj11/pypng
(also MIT licensed)

[2016-05-24 00:39] stefanv commented on #2103
It doesn't look like pyjpeg is being maintained any longer.  But we can
probably get away with only a PNG reader as a minimal build / test
dependency.

[2016-05-24 00:43] stefanv commented on #2105
I agree with Juan, here.  But you can very easily write a function to
detect this extreme case and replace the major_axis_length with you own
preferred value.

On Mon, 23 May 2016 at 16:46 Juan Nunez-Iglesias <notifications@github.com>
wrote:

[2016-05-24 00:52] jni commented on #2105
@stefanv here's the cause of the first error:

https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_regionprops.py#L520

I'm not sure how to deal with this. I don't know why it's there. I can just remove it, but there's a 100% chance that someone's code will get messed up because of it. So my preferred course of action is:

- squeeze the image
- if it results in an invalid ima

[2016-05-24 01:01] #2079 closed

[2016-05-24 06:20] ahojnnes commented on #2105
How about a `np.atleast_2d(np.sequeeze(label_image))`? It is probably there for the cases where the shape of the input image is `(rows, cols, 1)`...

[2016-05-24 06:43] soupault commented on #2105
@ahojnnes this will make 1-column and 1-row images indistinguishable and therefore lead to erroneous properties.

[2016-05-24 08:58] letmaik opened #2108 "manylinux1 wheels compiled against too new numpy version"
scikit-image claims to require numpy >= 1.7.2. However, for scikit-image 0.12.3 the manylinux1 wheels were built against a newer numpy. This then leads to runtime errors like "ValueError: numpy.dtype has the wrong size, try recompiling" or "RuntimeError: module compiled against API version 9 but this version of numpy is 7". I tested this against the x64 wheels in Python 2.7, 3.3., 3.4, and 3.5 wit

[2016-05-24 20:30] stefanv commented on #2108
I built the wheel against the first version of numpy for which a manylinux wheel is available on PyPi.  I'm not sure PyPi will allow me to re-upload a file with the same name, so may have to make a point release to fix this.

[2016-05-24 21:17] matthew-brett commented on #2108
There's a pypi wheel for numpy 1.7.2 - maybe there was none at the time though.

You may be able to get away with adding a build number to the wheel filename - see https://www.python.org/dev/peps/pep-0425/ and look for "build tag".

I don't think anyone's tested it yet, so maybe try rebuilding and uploading as e.g. `scikit_image-0.12.3-2-cp27-cp27mu-manylinux1_x86_64.whl` might work - worth a try?

[2016-05-24 21:21] matthew-brett commented on #2108
I see from the pip source that pip doesn't do anything with the build tags : https://github.com/pypa/pip/blob/master/tests/unit/test_wheel.py#L111 .  I guess then it will come down to sorting whether pip installs the wheel with the build tag compared to the wheel without, and you may need to delete the old untagged wheel file to be able to install new one.

[2016-05-24 22:43] stefanv commented on #2105
Removing the squeeze is not too bad.  If these inputs accidentally worked
before, they will eventually break things in the future, so better be
strict about shape interpretation now.

On Mon, 23 May 2016 at 23:43 Egor Panfilov <notifications@github.com> wrote:

[2016-05-25 03:38] zym1010 commented on #1035
Hi,

just wonder if this issue has been solved. I have been recently using bicubic (order=3) to do rescale and resize (for shrinking imaegs, not enlargement), and found the result to be quite different from those produced by MATLAB or PIL. In particular, the result produced by skimage looks sharper, and less smooth than MATLAB or PIL. Does this imply that there's a pre smoothing operation done in

[2016-05-25 06:41] ahojnnes commented on #1035
@zym1010 Our bi-cubic interpolation should be correct. Can you post short code snippets for Matlab and PIL to reproduce?

[2016-05-25 13:08] zym1010 commented on #1035
@ahojnnes After some testing, I believe the implementation in skimage is correct. The difference may lie in the **antialiasing** filtering, which is probably mandatory in Pillow and optional in MATLAB.

the snippets are as follows.

First, I generated scaled down versions of `astronaut` using Pillow and skimage.

[code]

Then I downloaded the three saved `png` files and ran the following MATLAB sc

[2016-05-25 15:08] ahojnnes commented on #1035
1) I would recommend using http://scikit-image.org/docs/dev/api/skimage.transform.html#downscale-local-mean for downsampling, but you should check which method gives you the most satisfactory results.
2) It is bi-quadratic filtering that is inconsistent with scipy and not bi-cubic, hence this issue is still open.

[2016-05-25 15:38] zym1010 commented on #1035
@ahojnnes thanks. I just tried `downscale-local-mean`. It looks nice, but I think it's kind of tricky to use if I try to shrink my image into some arbitrary size, since the parameter `factors` is in block size, and not the final output size. Also, won't such downscale method give some blocky effect?

[2016-05-25 19:19] sciunto commented on #2101
@soupault I made some code maintenance in #2100. flakes didn't see much PEP8 mistakes on my side though.

Let me know if it looks good or not.

[2016-05-25 21:58] stefanv opened #2111 "Segfault on i386 test platform"
See http://debomatic-i386.debian.net/distribution#unstable/skimage/0.12.3-1/buildlog

Python 2, skimage v0.12.3

[2016-05-25 22:14] LocutusOfBorg commented on #2111
skimage.morphology.tests.test_ccomp.TestConnectedComponents.test_return_num ... Segmentation fault (core dumped)

[2016-05-25 22:17] LocutusOfBorg commented on #2111
skimage.filters.rank.tests.test_rank.test_all ... FAIL
skimage.filters.rank.tests.test_rank.test_random_sizes ... Exception in thread Thread-10:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/build/skimage-0

[2016-05-25 22:19] LocutusOfBorg commented on #2111
do you need more info?
they are reproducible with pbuilder-dist sid i386 create
pbuilder-dist sid i386 build filename.dsc or pbuilder-dist sid i386 login

[2016-05-25 23:40] xrzhou commented on #2074
Yeah. I've tried on three operation systems. These issues of installing
scipy 0.17.0 in jupyter didn't happen on Windows, but Unbuntu 14.4 and Mac
OS X El Capitan.

On Sat, May 21, 2016 at 3:28 PM, Egor Panfilov <notifications@github.com>
wrote:

--
Xiran Zhou
GeoDa Center for Geospatial Analysis and Computation
School of Geographical Sciences & Urban Planning
Arizona State University

[2016-05-26 08:56] jamesbondo opened #2112 "circles aren't rounded well..."
So i was trying this:
[draw a circle](https://github.com/scikit-image/scikit-image/blob/master/skimage/draw/draw.py#L19)
with these code:

[code]

It seems there's too much horizontal area on the mid of each edge.. This happens when the total pixel number is small. Hope someone can take a quick look.

[2016-05-26 20:57] sciunto opened #2113 "Seed not defined in test_rank causes tests to randomly fail"
In `skimage/filters/rank/tests/test_rank.py`, many tests do not have a fixed seed, so they can fail  randomly (just happened to me).

TODO: Check if it could also happen elsewhere

[2016-05-26 21:37] stefanv commented on #2113
Good catch!  Let's set those seeds.

[2016-05-27 20:40] stefanv commented on #2113
I saw the discussion in #2100.  Is setting the seed at the top of the file not enough?  These tests are not being run in parallel, AFAIK.

[2016-05-27 20:59] stefanv commented on #2112
I think this line:

https://github.com/scikit-image/scikit-image/blob/master/skimage/draw/draw.py#L16

Should be `<= 1`?  What do you think.

On Thu, 26 May 2016 at 01:56 Table <notifications@github.com> wrote:

[2016-05-28 05:36] sciunto commented on #2113
You meant #2098?

I guess you are right. If it doesn't run in parallel, it should be fine. However, I'm wondering if for maintenance, it's not better to define a seed for each test. For instance, what would happen if we insert a new test in the middle of the suite?

[2016-05-28 07:20] stefanv commented on #2113
The seed should be set in a fixture, ie in a `def setup`.

[2016-05-28 07:58] sciunto commented on #2113
I see.

[2016-05-28 08:03] sciunto commented on #2113
But, in `skimage/filters/rank/tests/__init__.py`, _shared.testing.setup_test() is called...

[2016-05-29 11:31] kuzkokov opened #2116 "not clearly description of label bbox in documentation"
Hello.
So, I use bboxes of founded labels to create their copies and put them side by side with original ones. And it wasn't obviosly for me (as for newbie) that bbox's (max_row, max_col) is actually (max_row + 1, max_col + 1), as I found out in sources.

(How I thought | How it is)
![image](https://cloud.githubusercontent.com/assets/12381291/15632936/2097571a-25ba-11e6-942d-ebb5d72554b3.png)

So

[2016-05-29 13:51] sciunto commented on #2116
Regarding your first point, would this statement makes things clearer?

[code]

See #2100

[2016-05-29 16:38] kuzkokov commented on #2116
I guess, it's better to change second "[" to ")", like in half-closed interval.

[2016-05-29 17:22] sciunto commented on #2116
They are both the same: https://en.wikipedia.org/wiki/Interval_%28mathematics%29#Including_or_excluding_endpoints

[2016-05-30 07:45] soupault commented on #2084
Closed via #2115.

[2016-05-30 07:45] #2084 closed

[2016-05-30 11:58] soupault commented on #2112
@jamesbondo @stefanv that does help:

| before | after |
|:-------------:|:-------------:|
| ![figure_1](https://cloud.githubusercontent.com/assets/1315589/15648993/bfcae8bc-2676-11e6-9ffa-2e515d70f997.png) | ![figure_2](https://cloud.githubusercontent.com/assets/1315589/15648994/c10b9a14-2676-11e6-841b-c5ea90b441e5.png) |

[2016-05-30 18:53] jamesbondo commented on #2112
Nice! Well done!

发自 网易邮箱大师
On 05/30/2016 19:58, Egor Panfilov wrote:

@jamesbondo@stefanv that does help:

| before | after |
| | |

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-05-30 19:25] soupault commented on #2112
@jamesbondo would you like to submit a PR?

[2016-05-31 05:26] stefanv commented on #2112
I wonder if there is a better algorithm for circles? For drawing with aa,
we also have
http://scikit-image.org/docs/dev/api/skimage.draw.html#skimage.draw.circle_perimeter_aa

[2016-05-31 17:09] jamesbondo commented on #2112
@stefanv
aa still have the problem i think...
[code]
the out side has too much straight area..
@soupault not sure how to do a PR... i didn't change the code so it won't be helpful if I do it?.. maybe @stefanv  can do it really quick?

[2016-05-31 21:00] soupault commented on #2112
@jamesbondo that is a drawing function for anti-aliased (which is usually non-binary) circle. You should remove `vmin` and `vmax` parameters from the call: `plt.imshow(img, cmap='gray', interpolation='nearest')`.

If you're interested about PR submission, we have quite an [awesome guide](http://scikit-image.org/docs/dev/contribute.html) on how to contribute to the project.

[2016-05-31 23:54] noahstier commented on #2068
ksize refers to the size of the kernel in pixels. Larger ksize means larger window for convolution.

sigma refers to the parameter sigma in the gaussian function, which controls the width of the bell curve independently from the size of the filter window.

Examples:

![20-5](https://cloud.githubusercontent.com/assets/7936971/15694165/29d8b7dc-2750-11e6-8c48-4f1bc758e0cc.png)
![20-10](https://cloud

[2016-06-01 02:05] #2068 closed

[2016-06-01 07:31] jni commented on #2116
@sciunto although both notations are equivalent, in the context of monospace fonts and coding, `[a, b[` is more likely to return a `SyntaxError` from my brain's parser than `[a, b)`. Would you mind updating #2100 to this alternative notation? I would also explicitly say "to the bounding box are in the half-open interval `[min_row, max_row)`, `[min_col, max_col)`".

[2016-06-01 07:31] jni commented on #2116
(ie add the words "the half-open interval", to prepare brain-embedded parsers. =P)

[2016-06-01 08:00] LocutusOfBorg commented on #2111
this happened in the official Debian builds too
https://buildd.debian.org/status/package.php?p=skimage&suite=unstable
armhf i386 hppa and probably more archs have this issue.

[2016-06-01 08:03] LocutusOfBorg opened #2120 "testsuite fails on Big Endian Archs."
powerpc, and s390x are having a testsuite failure
https://buildd.debian.org/status/package.php?p=skimage&suite=unstable
seems an endianess sadness issue (NOTE: I didn't check this, I'm only guessing because it fails on all BE architectures).
[code]

[2016-06-01 08:10] soupault commented on #2120
Do we even state to support those platforms? :older_man:
And how many users of those are actually using `skimage`?

[2016-06-01 08:32] LocutusOfBorg commented on #2120
Hi, sorry but I don't have any per-arch numbers, but I guess considering also Ubuntu it might be a considerable userbase.

[2016-06-01 08:34] sciunto commented on #2116
@jni Oki, done.

[2016-06-01 08:41] nvdv opened #2121 "Slightly inconsistent function names in thresholding.py"
I've noticed that names of the functions in `thresholding.py` do not fully reflect actions they perform:
`threshold_adaptive` applies threshold to an image and others return calculated threshold.
I can fix it if maintainers approve.

[2016-06-01 08:47] local-minimum commented on #1624
@ananana I don't know when the sprints occur or if you've started working on this issue, else I could add support for `numpy.ma.masked_array` input to the `filters.thresholding.otsu_threshold`. @michaelaye Are there other Otsu-functions I should look at if I'm doing this?

In general, I suggest not implicitly filtering out `nan` out of image data but require masking, to be sure user code errors ar

[2016-06-01 12:06] kuzkokov commented on #2116
I agree with @jni
Thanks, @sciunto :relieved:

And what about the bbox_area?

[2016-06-01 12:32] soupault commented on #1624
@local-minimum we've a [nice guide](http://scikit-image.org/docs/dev/contribute.html) to facilitate new contributions.

Concerning masked arrays:
I think we need to work out some kind of specification on what should be the _correct_ use of masked array from both user and our points of view. I think, in `numpy` `masked` stands for `missing`.
At the same time, from my understanding, in image process

[2016-06-01 12:59] sciunto commented on #2116
About bbox_area, I think it's a good idea but I need to look more closely.

[2016-06-01 13:37] #2116 closed

[2016-06-01 13:44] sciunto opened #2123 "Add bbox_area in region properties?"
From #2116

## Description

maybe you should add something like bbox_area in region properties. I know about label.image.size, but it not obvious to.

[2016-06-01 15:05] local-minimum commented on #1624
I'll read the faq on contributions.

As for the question at hand, I see the argument for supplying `mask` rather than actually requiring a `numpy.ma.masked_array`.

However passing a `masked_array` to `threshold_utso` at the moment will work if the mask is all `False` and of int type but if there is any `True` or of float type it will cause a `TypeError`, at least in Python 2.7. This is a rather u

[2016-06-01 19:48] sciunto commented on #2121
I confirm. Even local `otsu` in rank filters return a threshold, not a thresholded image.

However, we need to break the API here but I think it's worth it.

[2016-06-01 20:19] #2101 closed

[2016-06-01 20:22] soupault commented on #2101
Closed via https://github.com/scikit-image/scikit-image/pull/2100.

[2016-06-01 20:23] sciunto opened #2125 "DOC: bug with references in _label.py"
## Description

In skimage/measure/_label.py, [some references](https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/_label.py#L4-L15) are put at the top of this file. It is supposed to be in `label()`. However, when I tryed to move these references, I got this warning treated as an error:
WARNING: duplicate citation R303 (which corresponds to the first one).

In details:

[cod

[2016-06-02 09:00] soupault commented on #2121
:+1: for breaking API, but I strongly prefer to have a discussion first.

From my point of view, there are several considerations:

1. All functions on thresholding have to return the same kind of output, let's call it `THR`. Some of them may return tuple `(THR, ...)` if there is any important and/or useful extra information user would like to have;
2. `THR` has to be one of these two alternatives

[2016-06-02 11:13] nvdv commented on #2121
I'm not very familiar with underlying algorithms and API of `thresholding.py`, but I can suggest that all `threshold_*` functions will return threshold and `apply_threshold` function will apply resulting threshold.

[2016-06-02 15:52] sciunto commented on #2121
Just to bring food to the discussion, #2076 will return an array of threshold values.

[2016-06-02 19:03] soupault commented on #2059
Also, old `.txt` files in accordance with https://github.com/scikit-image/scikit-image/pull/2078 have to be removed.

[2016-06-03 09:15] LocutusOfBorg commented on #2111
I see many segmentation faults:
"test_clear_border_non_binary"
and a lot of test_ccomp.py failures, all related to the same issue
test_return_num
the
assert_array_equal(label(x, background=-1, return_num=True)[1], 4)
^^^ is segfaulting
and a test failure
[code]

[2016-06-05 07:16] ahojnnes opened #2127 "skimage._shared tests not run"
Our skimage._shared tests are not run using "make test". After a quick look, I couldn't figure out how to fix this.

[2016-06-06 11:51] almln commented on #2041
@Seth-Park, i've got this results on
![qq_image](https://cloud.githubusercontent.com/assets/12760584/15820989/1589abf8-2bfe-11e6-9bf6-c9ca823d452a.png)

screenshot results is orientation_histogram[:,:,1] in

`def hog(image, orientations=9, pixels_per_cell=(8, 8),
        cells_per_block=(3, 3), visualise=False, transform_sqrt=False,
        feature_vector=True, normalise=None):`

form skimage.

So

[2016-06-07 06:20] jni opened #2131 "`sobel_h` and `sobel_v` documentation missing from API"
The functions `hsobel` and `vsobel` are deprecated, but they are the ones that have a listing in the [api docs](http://scikit-image.org/docs/dev/api/skimage.filters.html), instead of the new names, `sobel_h` and `sobel_v`.

[2016-06-07 06:25] jni commented on #2131
Nevermind, they're there, I just got the permalink wrong.

[2016-06-07 06:25] #2131 closed

[2016-06-07 08:36] jni opened #2132 "rag.merge_hierarchical mean boundary fails with `in_place_merge=False`"
See the call to `merge_hierarchical` in [this example](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_boundary_merge.html#example-segmentation-plot-boundary-merge-py):

[code]

If we change `in_place_merge` to `False`, we get the following traceback:

[code]

I think it's because new edges are created with only a `weight` key, not a full complement of data attributes.

[2016-06-07 08:36] jni commented on #2132
CC @vighneshbirodkar

[2016-06-07 10:34] korvin14 opened #2133 "rgb2gray duplicates rgb2gray in v0.12"
I was playing with scikit functions and noticed, that in **color** module there are two same function **rgb2gray** and **rgb2grey** with similar description and functionality. Is it made just for convenience to write gray\grey?)

PS. in v0.13dev these functions exist as well.

[2016-06-07 10:51] soupault commented on #2133
@korvin14 Yes, it is indeed so. If you look through the source code, you will notice that those functions don't add any superfluous code (see https://github.com/scikit-image/scikit-image/blob/master/skimage/color/colorconv.py#L744).

[2016-06-07 10:51] #2133 closed

[2016-06-07 11:32] yasoob commented on #1730
Hey was there any pull request regarding this issue?

[2016-06-07 12:04] SalvatoreScaramuzzino commented on #1730
not yet, but i'm going to do it, in a few months. Do you have any particular urgency about this feature?

[2016-06-07 12:26] yasoob commented on #1730
The project is machine learning for Alzheimer's prediction. Currently I am doing feature extraction from MRI scans. One step involves calculating the fractal dimensions of the filtered image. This upcoming PR would allow me to do it easily without a lot of custom code. :smile:

[2016-06-07 13:03] jmetz opened #2135 "Add rotation to `draw.ellipse`"
Update the `draw.ellipse` function to optionally take an angle e.g. `theta` (defaults to 0) which specifies the angle between the major axis and the x-axis.

[2016-06-07 14:23] soupault commented on #1973
Closed via #2078.

[2016-06-07 14:23] #1973 closed

[2016-06-08 05:57] soupault commented on #2010
See https://travis-ci.org/scikit-image/scikit-image/jobs/134772208 for the last fail so far.

[2016-06-09 11:18] jmetz opened #2137 "`StopIteration` when calling `img_as_float` on small RGB int image"
## Description

Attempting to call `img_to_float` on a small RGB `int` image raises a `StopIteration` error.

## Way to reproduce
[code]
produces:
[code]

[2016-06-09 11:48] soupault commented on #2137
In my environment (Python 3.5, numpy 1.11.0, skimage 0.12.3) happens only if `I.dtype` is in `(np.uint64, np.int64)`.

[2016-06-09 11:49] soupault commented on #2137
@jmetz see http://scikit-image.org/docs/stable/user_guide/data_types.html :
`With a few exceptions, 64-bit (u)int images are not supported.`

[2016-06-09 11:58] jmetz commented on #2137
Fair enough - apologies, assumed all standard `numpy` dtypes would be supported. Cheers!

[2016-06-09 11:58] #2137 closed

[2016-06-10 12:41] wkentaro opened #2138 "Normal estimation of depth image"
## Description

Is that possible to support depth image processing in scikit-image?
I'd like to add normal estimation code for depth image.

The implementation with opencv is provided here:
http://answers.opencv.org/question/82453/calculate-surface-normals-from-depth-image-using-neighboring-pixels-cross-product/

[2016-06-10 14:27] mpt5 commented on #543
thanks @goretkin this works nicely -- do you know if this has any major impact on performance? I will be looping across thousands of images and this will be inside the loop so I can catch other warnings. I guess best would be to have it outside, but then it would suppress other warnings.

[2016-06-10 14:53] goretkin commented on #543
@mpt5 I'm glad it helped. I don't know about the performance of suppressing and unsuppressing warnings, but that is probably something that isn't specific to this project.

[2016-06-10 19:44] soupault commented on #2138
@wkentaro Hi! Thanks for your interest!
I'm not speaking for the whole team, but I think that at the moment we're lacking algorithms which could benefit from using this routine. If you have something in mind to justify this addition, feel free to put it forward.

[2016-06-10 22:52] espdev commented on #2103
standard way of loading png/jpeg files (you run into the same problem if
you make pillow the default--it also depends on libjpeg etc.).  This is
needed to run tests, etc., so we can't really get rid of it.

@stefanv Why are you not using [imageio](http://imageio.github.io) library? I think it's lightweight and beautiful library for IO. imageio supports many image [formats](Lightweight) and depends

[2016-06-11 01:20] stefanv commented on #2103
On 10 June 2016 at 15:52, Eugene Prilepin <notifications@github.com> wrote:

Currently, because imageio is GPL.

[2016-06-11 01:22] stefanv commented on #2103
See this: https://github.com/imageio/imageio/issues/114
​

[2016-06-11 10:14] wkentaro commented on #2138
@soupault Thank you for the quick reply.
I usually use scikit-image for visualization and mask operation for object recognition/segmentation with machine learning.
Recently I'm going to work for object recognition using depth image, and firstly implementing normal estimation as the most popular approach.
There are also other features proposed by some papers, and hope these are available from one p

[2016-06-11 19:13] soupault commented on #2074
@xrzhou Sorry, I cannot help you with this more. I suggest you to file an issue on `scipy` bugtracker and ask people there to better investigate it.
Closing as not a bug of `skimage`, reopen if disagree.

[2016-06-11 19:13] #2074 closed

[2016-06-11 19:34] soupault commented on #741
Closed via https://github.com/scikit-image/scikit-image/pull/1956 .

[2016-06-11 19:34] #741 closed

[2016-06-11 20:09] sciunto commented on #2103
As pointed our by @soupault #2110 will introduce a new function that depends on matplotlib.

[2016-06-12 08:59] nvdv commented on #2121
@sciunto it might also be handled by `apply_threshold` function

[2016-06-12 19:08] sciunto opened #2146 "Choice default value for dtype_limits() a bit dangerous?"
Hi,

This is open for comments. I found the signature `dtype_limits(image, clip_negative=True)` in `util.dtype` to be pretty dangerous. By default, for a signed images, it returns only half of the range. To me, it's definitely not the default behaviour I would imagine.

[2016-06-13 13:52] jmetz commented on #2112
@soupault, @jamesbondo
@stefanv 's test code just contained a minor bug (setting `vmax` to 1), if you use the following you get a nice anti-aliased circle with no straight lines...

import matplotlib.pyplot as plt
import numpy as np
from skimage.draw import circle_perimeter_aa
img = np.zeros((32, 32), dtype=np.uint8)
rr, cc, val = circle_perimeter_aa(15, 15, 14)
img[rr, cc] = val * 255
plt.imshow(

[2016-06-13 14:41] soupault commented on #2112
@jmetz I've pointer out the same thing. Either way, the question is about `circle`, not `circle_perimeter_aa`, isn't it?

[2016-06-13 14:51] jmetz commented on #2112
oops - apologies, should have read your last comment more closely!
Regarding `circle` vs `circle_perimeter_aa` - true - though as `circle` is not supposed to be anti-aliased given that it returns coordinates, I think the implementation is accurate and the OP is asking for something else, though I'm not clear as to what.

[2016-06-13 14:58] jmetz commented on #2112
Perhaps this should be relabelled as an enhancement, an re-titled to reflect the desire for an anti-aliased `draw.circle` analogue?

[2016-06-13 21:03] emmanuelle opened #2147 "Gaussian filter does not have default value for sigma"
Most functions of ``scikit-image`` have only one non-keyword argument, which is an input image, and all other arguments are optional keyword arguments. I would suggest that we make the ``sigma`` parameter of ``filters.gaussian`` optional (eg with the default value of 1), for more consistency between functions. In addition, having only one non-kw parameter, which is an image, makes introspection an

[2016-06-13 21:08] emmanuelle commented on #2147
And I would also add a default value for the ``selem`` parameter of ``filters.median``.

[2016-06-13 21:33] ahojnnes opened #2148 "RAG example incomplete"
@jni, @vighneshbirodkar What is going on with this example: http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_boundary_merge.html#sphx-glr-auto-examples-segmentation-plot-boundary-merge-py ? Specifically, the TODO in the beginning :-)

[2016-06-13 21:37] soupault commented on #2148
@ahojnnes this is the issue with 2/3 plots - https://github.com/scikit-image/scikit-image/issues/2059#issue-151394133 .
This one is about TODO - https://github.com/scikit-image/scikit-image/issues/2099, https://github.com/scikit-image/scikit-image/pull/2106.

[2016-06-13 21:43] soupault commented on #2148
Ignore first part, not related.

As for tiny plots' size, `sphinx-gallery` changed the appearance a bit. Need to revise all the plots.

[2016-06-14 03:21] stefanv commented on #2080
@ThomasWalter Your use case sounds entirely reasonable to me.  I apologize: somehow this issue slipped by the members of the scikit-image team.  The first comment above is *not* by a member of the team and is also very atypical of the kind of response you can expect from us.  We always try to accommodate additions that make scikit-image more practical and easy to use.

/cc @jni

[2016-06-14 08:33] esc opened #2150 "m-variant of manylinux maybe missing from PyPi"
I am installing `scikit-image` via `pip` on travis-ci using the trusty version of ubnutu (14.04). Installation of scikit-image take much, much longer than all other packages.

Looking at the available manylinux binary wheels on pypi, I can see that the `cp27m` (whatever that might be) variant is missing. I recently encountered a similar issue with scipy, reported here: https://github.com/scipy/sci

[2016-06-14 14:47] ThomasWalter commented on #2080
No problem and thank you and your team members for being so helpful!

[2016-06-14 17:58] stefanv commented on #2147
That sounds good to me.
​

[2016-06-14 19:04] jni commented on #2147
:+1: ! I thought we already had a default selem for median!

[2016-06-15 07:56] soupault commented on #2147
:+1: from me as well.
@jni which one should be default, `disk` or `square`?

[2016-06-15 07:58] emmanuelle commented on #2147
I think it should be square for the median filter, that s what people usually do

[2016-06-15 08:06] soupault commented on #2112
Mmm... So you're saying that the left one is correct, aren't you? https://github.com/scikit-image/scikit-image/issues/2112#issuecomment-222477195

[2016-06-15 08:07] soupault commented on #2112
@jmetz Mmm... So you're saying that the left one is correct, aren't you? https://github.com/scikit-image/scikit-image/issues/2112#issuecomment-222477195

[2016-06-15 08:12] ahojnnes commented on #2147
+1 for square.

[2016-06-15 08:50] jmetz commented on #2112
The left and right ones are generated by pretty much the same code, ie changing the radius to 15 + 1E-16 should achieve the same result for the original code, so whether it's `<` or `<=` doesn't really change the issue the OP seems to be concerned about...

[2016-06-15 14:27] jni commented on #2150
@stefanv @matthew-brett any ideas about this? I thought you guys nailed this down a couple of months ago?

[2016-06-15 15:24] #2125 closed

[2016-06-17 02:13] AbdealiJK opened #2154 "Unusual output when reading image - MpoImagePlugin"
## Description
I was trying to read the image at https://commons.wikimedia.org/wiki/File:JoeSimpson2012.JPG using `skimage.io.imread`. The [docs](http://scikit-image.org/docs/dev/api/skimage.io.html#skimage.io.imread) mention that the output will be an ndarray with the different colour bands/channels stored in the third dimension, such that a grey-image is MxN, an RGB-image MxNx3 and an RGBA-image

[2016-06-17 04:20] stefanv commented on #2154
Thanks, I can confirm this behavior.  While we look into fixing it, load
the image using

io.imread('filename.jpg', plugin='matplotlib')

[2016-06-17 04:46] stefanv commented on #2154
Turns out this is a multiple object JPEG.  Trying to figure out why the
second JPEG did not get decoded.​

[2016-06-17 05:04] stefanv commented on #2154
After digging around a bit, I saw that this is a two layer image, but when
you try to access the second layer you see:

*** OSError: image file is truncated (0 bytes not processed)

[2016-06-17 05:06] stefanv commented on #2154
![00](https://cloud.githubusercontent.com/assets/45071/16141234/3dbad08a-340e-11e6-98b8-40ecbe284200.jpg)
![01](https://cloud.githubusercontent.com/assets/45071/16141235/3dc992aa-340e-11e6-9e6c-5d72fd6bd3a9.jpg)

Here are the two layers as Pillow extracts them.  It looks like the second layer is a thumbnail of the first, but I'm not sure PIL knows how to handle it (perhaps because it's a different

[2016-06-17 05:06] #2154 closed

[2016-06-17 05:24] AbdealiJK commented on #2154
@stefanv Thanks for the analysis :+1: Created the issue in Pillow at https://github.com/python-pillow/Pillow/issues/1960

Also, don't you think the error should have been raised by `skimage` or the error by `Pillow` should have been allowed to be raised ?
I was expecting a grey/RGB/RGBA image - and the output I got was unexpected. Hence, the behavior is contrary to the documentation.

PS: Although

[2016-06-17 07:17] stefanv commented on #2154
I do agree with you.  The strange thing that happens here is that the call
to `array(frame)` succeeds, despite the internal error in PIL.  I guess we
could try and issue a ``.getdata`` before converting the frame to an
array--I'm not sure if that's the "standard" protocol, but at least we'll
catch the error.  I'm open to suggestions on how to handle this situation
better.

On 16 June 2016 at 22:24

[2016-06-17 08:04] soupault commented on #2148
@ahojnnes Do you mind closing this as duplicate?

[2016-06-17 14:34] AbdealiJK opened #2155 "ImportError: Cannot import name _hough_circle"
## Description
I have been using scikit-image on Travis successfully for a while now. But all of a sudden I seem to be getting an import error about `_hough_circle`:
[code]
Related build https://travis-ci.org/AbdealiJK/file-metadata/builds/138345298

I'm installing scikit-image using `pip` in an an environment created with miniconda.

System: Travis, Ubuntu 12.04 Precise
Python version: 2.7.11 : I

[2016-06-17 14:37] soupault commented on #2112
@jmetz Sorry, I cannot see any implicit issue OP is talking about.

No doubts, but it is all about defaults and expected behaviour. I'd suggest to submit that tiny fix and forget about this. :)

[2016-06-17 15:54] jamesbondo commented on #2112
shall we close?

[2016-06-17 18:15] soupault commented on #2080
Closed via #2095.

[2016-06-17 18:15] #2080 closed

[2016-06-18 08:23] AbdealiJK commented on #2155
I found a very similar error on another server where I was trying to run my new script. (I started using the `skimage.transform` in the latest version).

In that, I got the error msg:
[code]

This made me realize that the actual error was that `matplotlib` was not installed. When I tried installing `matplotlib` in the travis build, It works: https://travis-ci.org/AbdealiJK/file-metadata/builds/138

[2016-06-18 09:09] soupault commented on #2155
@AbdealiJK I suppose you are using this file to list dependencies -> https://github.com/AbdealiJK/file-metadata/blob/master/requirements.txt . I'm not an expert in Travis-CI, but [this](https://stackoverflow.com/questions/28110449/can-pip-install-packages-recursively-from-requirements-txt) seems to be the solution.
Let us know if it works for you.

Closing as not a bug of `scikit-image`.

[2016-06-18 09:09] #2155 closed

[2016-06-18 10:35] soupault commented on #1393
/ping @ahojnnes

[2016-06-18 10:38] ahojnnes commented on #1393
@soupault Unfortunately, I cannot remember exactly what the intention of this issue was. But if you look at the referenced PR #1442, you can see that there might be some issues in corner cases (small kernel size, as far as I remember).

[2016-06-18 10:47] soupault commented on #2148
Closed as a duplicate of #2099.

[2016-06-18 10:47] #2148 closed

[2016-06-19 08:42] #2147 closed

[2016-06-19 18:44] soupault commented on #2059
+ removed thresholding examples in accordance to https://github.com/scikit-image/scikit-image/pull/2110.

[2016-06-19 22:13] stefanv commented on #2150
Thanks to whomever uploaded the missing wheel.  @esc can we close this now?

[2016-06-20 08:43] esc commented on #2150
We activated the travis pip cache a few days ago, so our build times went down significantly. I'll close this now, under the assumption that it works. I'll re-open the issue in the unlikely event that the problem continues to persist.

[2016-06-20 08:43] #2150 closed

[2016-06-20 21:25] #2056 closed

[2016-06-21 01:17] stefanv opened #2162 "`show_rag` docstring says it modifies an image"
Simple display functions are named `show_*`, while `draw_*` modifies an array.  If there is no array modification, the docstring should be updated.

[2016-06-21 01:21] stefanv opened #2163 "Three segfaults testing scikit-image"
@matthew-brett discovered the following

https://travis-ci.org/scikit-image/scikit-image-wheels/builds/138974413

We should file a separate issue for each, but I'm noting them here for now.

[2016-06-21 20:22] soupault opened #2166 "`beta` parameters in `skimage.filters.{frangi/hessian}` are poorly documented"
Parameters `beta1, beta2` docstrings (see https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/_frangi.py#L20-L23, https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/_frangi.py#L91-L94, https://github.com/scikit-image/scikit-image/blob/master/skimage/filters/_frangi.py#L148-L151) of the corresponding filters require some enhacement.
Without a detailed desc

[2016-06-21 20:25] soupault commented on #2166
/cc @Hiyorimi @jni @sciunto

[2016-06-22 04:09] AbdealiJK commented on #2154
@stefanv I'm not very sure how to solve it either - maybe doing a `.getdata()` would be a good idea as you suggested ?
On the Pillow issue it was concluded that the image was faulty. Hence, there should be an error when trying to read it.

Although I'm not sure of the best solution on how to implement it, Could we reopen this so that others can find the issue and comment on it too ?

[2016-06-22 04:29] AbdealiJK opened #2167 "No ValueError when using rgb2grey with 4D arrays"
## Description
I seem to have found another unusual behaviour with the `skimage.color.rgb2grey()`. When I read the file [File:123_Numbers.gif](https://commons.wikimedia.org/wiki/File:123_Numbers.gif), it is read correctly and gives an array of shape `(3, 146, 124, 3)`. But when I do a `rgb2grey()` it gives me an array of shape `(3, 146, 3)`.

According to the documentation at [skimage.color.html#s

[2016-06-22 06:13] soupault commented on #2039
@jni what's the status of this? :trollface:

[2016-06-22 06:14] ahojnnes commented on #2039
This is fixed. Feel free to reopen.

[2016-06-22 06:14] #2039 closed

[2016-06-22 06:38] soupault commented on #2167
@AbdealiJK Thanks for reporting!
On the latest stable `skimage` (`0.12.3`) your script returns:
[code]

The documentation, in its turn, has to updated: `rgb2gray` declares to work with 3-D arrays (2-D images) only, but support 3-D/4-D arrays (2-D/3-D images), and actually can support arbitrary number of spatial dimensions.

Would you like to contribute on this?

[2016-06-22 07:08] soupault commented on #2166
Should also adjust figsize in
http://scikit-image.org/docs/dev/auto_examples/filters/plot_frangi.html#sphx-glr-auto-examples-filters-plot-frangi-py.

[2016-06-22 14:40] jni commented on #2166
@Hiyorimi could you tackle this? Or just write a description here if you can't be bothered with a PR...? =)

[2016-06-23 15:08] #2167 closed

[2016-06-26 11:29] soupault commented on #2123
:+1: from me.

[2016-06-26 12:01] Hiyorimi commented on #2166
@jni

Beta1 controls edge thickness (better to scale as e at first, i.e. 0.1, 1, 10)
Beta2 controls noise tolerance

Should I submit a PR ?

[2016-06-27 04:02] rfinck opened #2170 "threshold_triangle fails for non-integer images"
## Description
Thresholding with the triangle method can fail or give unreliable results for non-integer images. This is because of how the histogram is constructed, and because downstream of that there are a few places where bin number is equated with image data values. Observed when trying to use skimage.filters.try_all_threshold().

I'd be happy to make a PR with a fix.

## Way to reproduce
[co

[2016-06-27 10:04] sciunto opened #2172 "Add doc to Zeal/Dash"
Zeal and Dash are softwares to explore offline APIs of various libraries. It would be nice to have scikit-image in them. I didn't look into details, but it shouldn't be too difficult. I open this to keep track of the idea.

* https://zealdocs.org/
* HOW TO: https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset

[2016-06-27 10:07] sciunto commented on #2170
Thanks for reporting this :) I'll look at your PR asap.

[2016-06-27 19:12] sciunto commented on #2172
OK, it's already in https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit-image

It seems to be an issue from Zeal: https://github.com/zealdocs/zeal/issues/170

[2016-06-27 19:27] sciunto commented on #2172
I added https://github.com/zsoltika/feeds/blob/master/Scikit-image.xml in my feeds (in Zeal), and it works. We should probably keep an eye on the issue I mentioned above.

[2016-06-27 20:34] sciunto commented on #2138
The normal feature looks really interesting to me, and I can imagine plenty of applications in my research.

[2016-06-28 12:56] jni opened #2173 "Consider reordering the output of blob_dog / blog_log to stack along first axis."
Currently, the output of blob_dog and blob_log is stacked along the final axis. See my PR comment [here](https://github.com/scikit-image/scikit-image/pull/2114/files#r68499654). This is inefficient (see [notes on array order](http://scikit-image.org/docs/dev/user_guide/numpy_images.html#notes-on-array-order)). As this happens in an internal function, it could be refactored without too much trouble

[2016-06-28 18:14] jni commented on #2166
@Hiyorimi

always appreciated. =)

[2016-06-28 18:17] jni commented on #2166
If possible, a slightly more verbose description is better, eg.:

[code]

[2016-06-29 00:44] stefanv commented on #2003
@cgohlke @ernaveenkoul Tried to install the scikit-image wheels from your site today and ran into this same problem.  Do you see this problem occurring on your systems?

[2016-06-29 01:18] cgohlke commented on #2003
I can't reproduce this on Windows.

[2016-06-30 03:10] AbdealiJK opened #2174 "Alpha Blending: Converter function from RGBA to RGB"
## Description
This is a feature request. It would be nice to have a rgba to rgb converter which can take in a RGBA image, and convert it into a RGB image based on some logic. The method to do this is called Alpha blending (according to wikipedia).

So, when we have RGBA images, frequently some algos can't handle 4 channels, and we need to convert it to RGB. The naive method to convert it to RGB i

[2016-06-30 04:17] AbdealiJK opened #2175 "Finding color space information about image"
## Description

I notice that currently after I read an image from skimage, there is no metadata that is further provided. For example, if I want to check if the image is greyscale or not, In Pillow I could do:

[code]

to make a function for checking if grey or not. In skimage, I'd have to do:

[code]

But the ndim checkingmethods are not very nice because I may have a GIF file or TIFF file with

[2016-06-30 06:34] soupault commented on #2174
@AbdealiJK thanks, that is a very nice proposal!
Both of my hands up to add this :raised_hands:.

[2016-06-30 06:38] soupault commented on #2175
@AbdealiJK yes, that is a well known issue. See the following related pages: https://github.com/scikit-image/scikit-image/issues/1940, https://github.com/scikit-image/scikit-image/pull/1995.

The discussion in https://github.com/scikit-image/scikit-image/pull/1995 is still open, feel free to contribute to it.