[2015-02-23 02:03] blink1073 commented on #1381
Perhaps @tonysyu and I can hammer this out properly at SciPy?

[2015-02-23 02:05] stefanv commented on #1381
@blink1073 That is an excellent suggestion.

[2015-02-23 02:05] stefanv commented on #1381
(Please include me in the discussions)

[2015-02-23 02:37] blink1073 commented on #1381
Yessir, boss-man!

[2015-02-23 02:38] tonysyu commented on #1381
@blink1073: That sounds like a plan, although, I'd hope to get some sort of skeleton implementation well before that. (Coincidentally, I just started playing around the webagg implementation.)

We should definitely develop this with as much input from possible users as possible. We don't want to get in the situation where someone drops a bunch of code that no one else understands and just stops co

[2015-02-23 03:17] stefanv commented on #817
Right, does not happen when I load the image but it does when I load the numpy file.  Datafile can now be found here:

https://www.dropbox.com/s/22am3de09ogdaa7/npaif.npz?dl=0

[2015-02-23 04:01] stefanv commented on #817
I think there is a corner case not accounted for in the logic.

[2015-02-23 09:19] arve0 opened #1386 "Plugin.add_widget always override widget.callback"
Ex:

[code]

CheckBox.callback will be [overridden](https://github.com/scikit-image/scikit-image/blob/9b16b35d961cab3f65885d385eb78cc932dd966f/skimage/viewer/plugins/base.py#L147).

But this will work:

[code]

[2015-02-23 12:15] arve0 opened #1387 "Module docstring on top of documentation"
Could not find an open issue on this, but its related to #880.

There is some [fine documentation](https://github.com/scikit-image/scikit-image/blob/master/skimage/viewer/widgets/core.py#L1-17) laying around which is not included in the doc build (as far as I can see).

Currently, the skimage module has the docstring [included](http://scikit-image.org/docs/dev/api/skimage.html) and I guess this is

[2015-02-23 16:34] Gregosh opened #1389 "skimage.feature.hessian_matrix_eigvals - probably mistake"
Maybe I didn't understand properly the code and method but I suspect small mistake in the code.

In the module skimage.feature exist function  - hessian_matrix_eigvals (line 257).

This function should calculate eigenvalues of the hessian matrix.
It is done by calling _image_orthogonal_matrix22_eigvals function in line 291.

But the arguments which are given to the function which calculates eigenv

[2015-02-23 17:25] ahojnnes commented on #1389
That is indeed a bug. Would you mind filing a pull request with a fix?

Thanks for reporting.

[2015-02-23 21:07] hugadams commented on #1311
This is a bit offtopic, but since I have all the experts here:

We're looking to create a viewer in which the user can probe around an image OR contour plot with the cursor, and see the x, y and z coordinates, where z is the value of the 2d function at that point.  Looking through mpld3, I don't think there's a widget to return the z value.  I haven't had a chance to explore any of the interactive

[2015-02-23 22:57] cxy7452 opened #1390 "slic superpixel compactness and enforce_connectivity crash"
Hi, I tried to use slic from skimage, and it seems that when enforce_connectivity is set to True, a low compactness value (how low to crash the program depends on the input image) crashes the program:

segments = slic(image, n_segments = 500, compactness = 2, enforce_connectivity = True)
**\* Error in `/usr/bin/python3.4': double free or corruption (!prev): 0x0000000003103540 ***
Aborted (core dum

[2015-02-23 22:58] cpu90 commented on #1390
Forgot to include some more details, my python version is 3.4.1 and using the latest scikit image which I downloaded just yesterday.

[2015-02-24 01:48] jni commented on #1390
@cpu90 looks serious! Can you provide a test image?

[2015-02-24 01:53] cpu90 commented on #1390
Of course, the image can be downloaded here:
https://dl.dropboxusercontent.com/u/10279069/test.jpg

and the code that produced the crash is as followed:

from skimage.segmentation import slic
from skimage.util import img_as_float
from skimage import io

# load the image and convert it to a floating point data type
image = img_as_float(io.imread("test.jpg"))

# apply SLIC and extract (approximately

[2015-02-24 03:28] tonysyu commented on #1311
Hey Adam, I'm not quite sure if this is what you're asking, but if you just want to grab the z value under the cursor, you can just connect an event that grabs the data coordinates and indexes into the image/contour plot. For example:

[code]

[2015-02-24 03:33] ahojnnes commented on #1389
See issue #1391

[2015-02-24 03:33] #1389 closed

[2015-02-24 03:46] hugadams commented on #1311
Awesome.  I'm way behind the curve on interactive MPL.  How long has this behavior been around, and is there a centralized place for MPL interactive examples?   Right now, we're using mpld3 for interactivity in our IPython widget notebooks, and I'm trying to get a handle (lol) on the current an near-future capabilities of matplotlib's interactivity.

[2015-02-24 03:54] tacaswell commented on #1311
This functionality as been there for a very long time, it is how the updating x, y coordinate in the corner of the windows works.

Also see the mpldatacursor project and https://github.com/matplotlib/matplotlib/pull/3989

[2015-02-24 03:54] blink1073 commented on #1311
@hugadams, you can also put the z-value directly in the canvas by using this technique:  http://stackoverflow.com/a/14755358/3208463.  By interactive, do you mean interactive in the browser/notebook, or interactive in general?  The web/nbagg I'd say are fully featured as of the newest release 1.4.3, meaning they will support anything you can do in Qt, including all of the canvas callbacks.  As far

[2015-02-24 03:56] blink1073 commented on #1311
Darn it @tacaswell, I'm busy crediting your Stack Overflow answer and you steal my thunder!

[2015-02-24 05:09] hugadams commented on #1311
Ok guys, thanks for clearing it up for.  I used MPLD3 originally in the ipython gui video that was linked at the beginning of this thread in part because I thought that was the best way to achieve interactivity in matplotlib plots.  But considering what I've seen here, using MPLD3 directly might be what I want.  For example, I want to create a viewer where the user scrolls a mouse over an image pl

[2015-02-24 08:33] stefanv commented on #1311
Does anyone know what the most light-weight Javascript enabled browser
widget is?  Because we could then still provide "loose standing"
visualizations (as we currently do), even though we are changing the
underlying infrastructure to web.

[2015-02-24 12:27] blink1073 commented on #1311
@hugadams, you may want to have a look at [image inspector](https://github.com/blink1073/image_inspector), which I think does exactly what you're trying to do.

[2015-02-24 12:28] blink1073 commented on #1311
@stefanv, Html5 has pretty slick `<input>` elements, which you can register jQuery event handlers to.

[2015-02-24 18:19] stefanv commented on #1311
Right, but what can we use as a lightweight client?  Does the QT widget
support Javascript?

[2015-02-24 18:20] ahojnnes opened #1393 "Improve test suite for hessian_matrix_*"

[2015-02-24 23:40] ahojnnes opened #1395 "Test suite without Qt"
Right now the test suite cannot be run without Qt. This is not ideal. Is there a specific reason for that?

See `skimage._shared.testing.setup_test()`.

[2015-02-25 00:13] blink1073 commented on #1311
@stefanv, You can put HTML in a Qt widget, but I thought the whole point was to move away from Qt?
I'd say the client end would be a Tornado app, copying what Matplotlib is already doing (and already a requirement for using their web backend).

[2015-02-25 00:23] blink1073 commented on #1395
What do you mean?  Our Travis build works just fine with and without Qt installed.  You'll get a warning that the viewer is not available, but that should be it.

[2015-02-25 00:53] ahojnnes commented on #1395
[code]

[2015-02-25 01:53] blink1073 commented on #1395
Hmm, it looks like we need to define the placeholders and then attempt to import the real stuff.

[2015-02-25 10:38] rorschach122 commented on #1390
I'm facing the same problem. I tried using try-except to no avail. Not sure where the error is.

[2015-02-25 14:22] arve0 commented on #883
Read the docs works, but is awfully slow. Build has been running for a day, but I'm unsure if it's been killed or failed, as examples is done, but API reference is not (a bit strange). Might though not be that a good solution, as it' slow and have limited feedback. Currently the build has no feedback after the installation.

http://scikit-image.readthedocs.org/en/latest/auto_examples/index.html

H

[2015-02-25 22:16] blink1073 commented on #1395
I still don't get why you're seeing this error.  What version of matplotlib do you have?

[2015-02-25 23:55] amueller commented on #1390
I'll try to have a look but I can't promise anything ;)

[2015-02-26 02:45] blink1073 commented on #1395
I think I've got it, accidentally ran into the same problem. Do you still have a `qt` directory in `skimage.viewer`?  If so, delete it and try again.

[2015-02-26 15:04] ahojnnes commented on #1395
That's it. Thanks.

[2015-02-26 15:04] #1395 closed

[2015-02-27 20:48] stefanv opened #1396 "Region property mapper"
It is often desired to map region properties back to the original image.  E.g., calculate the area of each region, and then fill in that value into the array (or a new array).  This would be a useful utility function, and we could potentially do it faster than the user via Cython.

[2015-02-27 21:47] ahojnnes commented on #1396
What do you mean by "fill in"?

[2015-02-28 18:03] stefanv commented on #1396
I mean creating a map of a certain property, so that when you do map[r, c]
you get the corresponding property of the image at position r, c.
On Feb 27, 2015 1:48 PM, "Johannes Schönberger" <notifications@github.com>
wrote:

[2015-02-28 19:14] JDWarner commented on #817
@scikit-image/core I've gone round in circles on this one for about a week. The line that's failing is
[code]
which is supposed to snip out the `tail` contour from the `ends` dict. This presupposes that the `tail` counter is actually already in the `ends` dict - but it isn't. The trouble in tracking this back is that the exception happens later, when the deletion is attempted, rather than at the p

[2015-02-28 19:18] ahojnnes commented on #1396
Makes sense, but let’s make this a goal for 0.12… at some point we should finally release 0.11 :-)

[2015-02-28 19:27] JDWarner commented on #1048
From latest master on OSX 10.6.8, using latest Anaconda w/MKL - all doctests pass.

@jni you wouldn't happen to have your global print options set in a custom config file somewhere, would you? ;)

[2015-02-28 20:12] apiszcz commented on #817
Thank you for following up and digging into the corner case.

On Sat, Feb 28, 2015 at 2:14 PM, Josh Warner <notifications@github.com>
wrote:

[2015-03-02 00:25] jni commented on #1048
@JDWarner I wouldn't even know how to do that, so I doubt it. However, I'm going to agree with @matthew-brett and @tonysyu that this is peculiar to my specific machine and config, and not my OS/Python version more generally. So I'm going to remove the 0.11 tag. I'll play more when I have some time...

[2015-03-02 16:07] stefanv commented on #817
@JDWarner FWIW, I came up with the same workaround, except that I didn't have nearly such a nice description as to why it would be a good one!

[2015-03-03 06:12] zachrahan commented on #817
Hmm, though this workaround seems to work, I suspect that it MUST be masking some deeper bug. The loop invariant here is:
  - There is exactly one entry in `starts` and one entry in `ends` for every open contour in `contours`. (Open contours are those for which `contour[0] != contour[-1]`.)
  - For each open contour, `contour[0]` is in `starts` and `contour[-1]` is in `ends`.

Plugging in a quick

[2015-03-03 10:29] vighneshbirodkar commented on #1396
We can do it in a way that functions like `label2rgb` can be a subset of this more generic property mapper

[2015-03-04 10:43] stefanv opened #1399 "Improve documentation rebuild speeds"
... by tracking the current git state.  If nothing changed, do not execute the plots again.

[2015-03-04 10:48] #1399 closed

[2015-03-04 22:06] josephmisiti opened #1400 "Add required libraries to setup.py"
When I try to install `scikit-image` via `pip`, it fails and tells me I need `matplotlib` and `scipy`. Just added them to the requirements so they are installed by default.

[2015-03-04 22:19] stefanv commented on #1400
@josephmisiti They are already listed under ``requirements.txt`` as far as I can tell?

[2015-03-04 22:23] stefanv commented on #1400
Ah, I see what you mean--you want setup.py to be updated.

[2015-03-04 22:25] matthew-brett commented on #1400
Are scipy / matplotlib needed to install sckit-image?

[2015-03-04 22:25] stefanv commented on #1400
No, that's what I just realized--for usage, yes, for installation, no.

[2015-03-04 22:32] matthew-brett commented on #1400
Hmm.  Doesn't setup.py read requirements.txt already?   The wheel build failure is because of this - setup.py requires scipy : https://travis-ci.org/scikit-image/scikit-image-wheels/jobs/53028183

[2015-03-04 22:36] josephmisiti commented on #1400
I just installed it in a fresh virtualenv and it failed multiple times because I was missing 4 libraries

[2015-03-04 22:54] JDWarner commented on #1400
I fixed this in scikit-fuzzy per https://caremad.io/2013/07/setup-vs-requirement/ via a standalone file. A separate text file for requirements can redirect `pip` to `setup.py` to pick up dependencies.

[code]

[2015-03-04 23:02] josephmisiti commented on #1400
thanks!

[2015-03-04 23:18] stefanv commented on #1400
I don't think we need scipy anywhere, so we can relax this restriction.

[2015-03-04 23:54] jaimebayes opened #1401 "measure._ccomp"
Hi friends,

Recently, I erased my scikit-image installation, and installed it again, but now I got this error:
ImportError: No module named measure._ccomp
I followed the same install steps, but now it doesnt work.
I just try to run this short piece of code:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "skimage/segmentation/__init__.py", line 2, in <module>

[2015-03-05 11:49] opyate opened #1403 "threshold_adaptive all black"
I saw this with the [previous version as commented on here](https://github.com/scikit-image/scikit-image/commit/e84abb1b67586d3a3620ce6a21e3314527083218#commitcomment-9990783), but now also with version ```0.11.0```.

I tried various combinations of ```blocksize``` and ```offset```:

    from skimage import io
    from skimage.filters import threshold_adaptive
    import numpy as np

    image = i

[2015-03-05 12:20] opyate commented on #1403
Hmmm, looks fine in ```Jupyter``` (installed in same virtualenv), so no idea what's wrong, really.

![iPython](http://i.imgur.com/GqfSfHN.png)

[2015-03-05 12:55] opyate commented on #1403
Never mind - I'll just do all my experiments in a notebook, since it seems to be rendering fine there.

[2015-03-05 13:26] jni commented on #1403
@opyate my guess is that they are being saved as uint8 images with values 0 and 1. Both of these will appear black when opened in standard image viewers. However, matplotlib will automatically stretch the values to the full luminance range, which is why it is visible.

One option is to save `binary.astype(np.uint8) * 255` instead of just `binary`.

[2015-03-05 13:29] yarikoptic opened #1404 "please use annotated tags for the releases"
[code]

i.e. sign with -m or -s switches

[2015-03-05 13:55] blink1073 commented on #1403
I'd like to take a look at this and see if we need to change the imsace behaviour.

[2015-03-05 13:57] jni commented on #1403
@blink1073 I think imsave is doing exactly what it's supposed to. uint8(True) -> 1. I despise putting in a binary image and getting back a {0, 255} image on load.

[2015-03-05 17:30] opyate commented on #1403
@jni thanks for the explanation.

[2015-03-05 19:29] jaimebayes opened #1405 "future.graph"
Hi @blink1073

Could you explain me how to install this module (future.graph)?, because I followed these two install instructions but they didn't work.

On windows:

On ubuntu:

Or how I pull the commit related to this module?

thanks in advance, Jaime

[2015-03-05 19:44] JDWarner commented on #1405
Couple quick things to check:

You are attempting to import using `from skimage.future import graph`, right? `import future.graph` will not work - it exists only within our package's namespace.

Second, the Ubuntu install/develop method just pulls down the Git repo you cloned. If you cloned the main scikit-image/scikit-image repo, then that should work to keep everything up to date. If you cloned

[2015-03-05 19:54] jaimebayes commented on #1405
Hi @JDWarner,

this is the results I got following your suggestion:
~/scikit-image$ git remote show
origin
jaimebayes@jaimebayes-OptiPlex-755:~/scikit-image$ git remote show origin
* remote origin
  Fetch URL: http://github.com/scikit-image/scikit-image.git
  Push  URL: http://github.com/scikit-image/scikit-image.git
  HEAD branch: master
  Remote branches:
    debian

[2015-03-05 19:59] JDWarner commented on #1405
OK, so you are tracking the upstream repo. Did the command `python setup.py develop` complete successfully? What happens when you open a Python shell and attempt to run `from skimage.future import graph`?

[2015-03-05 20:04] jaimebayes commented on #1405
Hi,

Yeah, It runs successfully with sudo, I mean:

When I run from skimage.future import graph, I got this:

Python 2.7.9 |Anaconda 2.1.0 (64-bit)| (default, Dec 15 2014, 10:33:51)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks an

[2015-03-05 20:27] JDWarner commented on #1405
Does it fail without `sudo`? Anaconda shouldn't require elevated privileges.

I just built and compiled successfully on Windows 7 x64. `import skimage; print(skimage.__version__)` yields 0.12dev, and `from skimage.future import graph` works and is populated properly.

[2015-03-05 20:32] jaimebayes commented on #1405
Yes, it fails without sudo...

jaimebayes@jaimebayes-OptiPlex-755:~/scikit-image$ python setup.py develop
Traceback (most recent call last):
  File "setup.py", line 125, in <module>
    write_version_py()
  File "setup.py", line 79, in write_version_py
    vfile.close()
UnboundLocalError: local variable 'vfile' referenced before assignment

scikit-image version:

0.11.0

Could you recommend that I

[2015-03-05 20:46] JDWarner commented on #1405
Go ahead and try that. The "scorched earth" method is essentially guaranteed to fix the permissions. It will destroy any local branches you haven't pushed up, but is the easiest fix.

Alternatively, from package root you can run (note carefully the dot before the slash)

[code]

to recursively change ownership of all files lower in the tree to your_username.

[2015-03-06 01:42] yarikoptic opened #1407 "test_rank test_all failed test on 32bit"
[code]

on Debian jessie 32bit only... here is tiny details:

[code]

[2015-03-06 02:18] blink1073 commented on #1403
@jni, perhaps we should give a warning when imsave is about to save an image with low contrast?  That way the user would at least know what happened.

[2015-03-06 02:42] jni commented on #1403
@blink1073 sure. This goes to the same discussion as the `io.imshow`: what is "low contrast"? This is definitely something I want to do, but we need to answer that question well. (Remember that contrast is lower for a given step size at the dark end of the scale, ie 0-1 is less distinguishable than 254-255.)

[2015-03-06 02:48] stefanv commented on #1403
Catch the most common case and proceed from there!

[2015-03-06 02:54] blink1073 commented on #1403
I would simply define low contrast as the ration of min/max of the image vs. the min/max of the dtype range being less than some threshold, say 5%.

[2015-03-06 02:54] blink1073 commented on #1403
Or you could use the 1st and 99th percentiles instead of min/max

[2015-03-06 03:00] JDWarner commented on #1403
+1 for extreme percentile checks.

[2015-03-06 09:22] stefanv commented on #1404
Updated release notes, tagged v0.11.2 accordingly.

[2015-03-06 09:22] #1404 closed

[2015-03-06 16:14] blink1073 commented on #1403
How about a utility function:

[code]

[2015-03-06 18:32] stefanv commented on #1403
It is so annoying that warnings only get issued once by default.  I
guess it's the best we have though.  I like your implementation.

[2015-03-06 20:21] opyate opened #1409 "BUG: Website `Table of contents` for 0.11.x returns 404"
http://scikit-image.org/docs/0.11.x/contents.html is a broken link.

[2015-03-06 20:22] opyate commented on #1409
Generally some content issues, e.g. "line" is not in module "draw", see http://scikit-image.org/docs/0.11.x/api/skimage.draw.html#line

[2015-03-06 23:32] daniorerio opened #1410 "Drawing Region Adjacency Graphs (RAGs) error"
I tried out the plot_rag_draw.ipynb notebook and couldn't get it to run with the error:
...
/Users/xxx/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/skimage/measure/_regionprops.pyc in moments(self)
    236     @_cached_property
    237     def moments(self):
--> 238         return _moments.moments(self.image.astype(np.uint8), 3)
    239
    240     @_cached_property

/Users/xxx/

[2015-03-07 08:06] jni commented on #1403
@blink1073 I'd make the following changes:

- change the default `threshold_percent` to 0.05, or you'll always be warning. ;)
- call it something more descriptive, such as `min_contrast` or `mean_data_range_ratio`.
- add an option for the percentile stretching, and, I would say, make it 0 by default. (I don't feel strongly about the default, but I do about the user's ability to change this.)
- ret

[2015-03-07 23:51] JDWarner commented on #1405
@jaimebayes marking this issue resolved - if it isn't, feel free to reopen.

[2015-03-07 23:51] #1405 closed

[2015-03-08 23:57] stefanv commented on #1409
Sorry, I don't understand: line is in the module draw?  Are you running 0.11?

[2015-03-09 00:02] ahojnnes commented on #1409
@stefanv He means, that the line function does not appear in the documentation on that page, even though it should.

[2015-03-09 00:45] stefanv commented on #1409
Ah, I see!
​

[2015-03-09 20:08] emmanuelle commented on #1410
hi @daniorerio !
how did you install 0.11.2? With pip install? From github?

[2015-03-09 20:11] emmanuelle commented on #1409
thank you @opyate . It's true that clicking on the "table of contents" link from the documentation page links to a broken link from http://scikit-image.org/docs/dev/ (not the case for http://scikit-image.org/docs/0.10.x/contents.html)

[2015-03-09 20:13] emmanuelle commented on #1401
Hi @jaimebayes, how did you install scikit-image 0.11.0?

[2015-03-09 20:29] jaimebayes commented on #1401
Hi @emmanuelle

I fix that problem already, it was related with use of sudo, I mean, when I installed using just

it works OK, but when I used

it raised that ImportError, I dont know why exactly, because I run this before

inside scikit-image directory to have all privileges there.

thanks, Jaime

[2015-03-09 20:39] emmanuelle commented on #1401
OK, so I think I can close the issue? It seems that the issue is more related to your installation, so I would recommend discussing it on the mailing-list if you encounter similar problems.

Also, using "make clean" before installing might remove the ".so" file and solve the issue.

[2015-03-09 20:48] jaimebayes commented on #1401
OK, @emmanuelle, I will do next time.
Thanks for suggestion, Jaime

[2015-03-09 20:48] #1401 closed

[2015-03-09 20:49] RishabGargeya opened #1415 "draw.circle_perimeter requires integer coordinates"
'numpy.float64' object cannot be interpreted as an index

/cc @stefanv

[2015-03-09 23:00] daniorerio commented on #1410
Thanks for the reply.  I used
pip install -U scikit-image
on an OSX machine with Enthought Canopy python.

On Mar 9, 2015, at 1:08 PM, Emmanuelle Gouillart <notifications@github.com> wrote:

[2015-03-10 05:28] bewithaman commented on #1415
All the arguments of draw.circle_perimeter has to be integers. It also stated in the notes of function. What exactly do you want to do?

[2015-03-10 06:23] stefanv commented on #1415
Why do we constrain the parameters to integers?  It makes sense to me, and I think we should fix it (if not the centre, then at least radius.)

[2015-03-10 08:28] cdeil commented on #1067
Possibly there's still an issue because the `networkx` dependency isn't declared in `setup.py` ... or I'm using `pip` incorrectly. https://github.com/astropy/photutils/issues/255

[2015-03-10 17:49] JDWarner commented on #1415
I feel like the antialiased circle function would be a good candidate for floating point inputs. I'm on the fence about this one, as it can't handle partial volumes etc. My main concern is if we allow arbitrary precision inputs, the user will assume the result has similar precision. Not true.

But it is technically feasible. An always passed warning could address that concern.

[2015-03-10 19:10] stefanv commented on #1415
@JDWarner The pixel positions of the circle, determined by the radius, are not integers anyway, so I think it is safe to make the radius a non-int.  My feeling is we should have the rest be non-int too, and make the best approximation possible.

[2015-03-10 22:46] stefanv commented on #1067
We're working on this right now.

[2015-03-11 22:43] emmanuelle opened #1418 "Trivial tests in morphology/test.binary.py ?"
In https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/tests/test_binary.py#L11,
assigning `bw_img = img > 100`  results in a zero-only array `bw_img`, since `img` takes values in [0, 1].

Hence, all tests of test_binary.py that use `bw_img` are not very meaningful...

I checked rapidly what happens when changing the threshold, e.g. from 100 to 100./255, and tests fail in t

[2015-03-11 22:50] emmanuelle commented on #1410
OK, thanks. When you run the python script within the Ipython shell (not the notebook), do you get the same error?

[2015-03-11 22:57] emmanuelle opened #1419 "median filter is only available for integer-type images"
`filters.median` only operates on integer images. For float images, we could return the output of `ndimage.median_filter`.

[2015-03-12 01:55] hohlraum opened #1420 "hough_line_peaks misses peaks."
Below is an example of ```label_hspace``` where the peak below 1 is missed by the peak finder. The problem seems to be that the masked ```hspace``` has no intensity at the centroid. It seems to work if L87 is updated to use ```hspace_max``` instead of the masked ```hspace```.
[code]
https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/hough_transform.py#L87

![download](https

[2015-03-12 03:38] hohlraum commented on #1420
Looks like there's an even bigger problem. Peak candidates are found with ```label```, and coordinates generated with ```measure.regionprops```. Currently this is a list, sorted leftmost peaks first. Peak candidates are assessed in this order so an early peak will suppress its neighbours even if the later peaks have higher intensities. This is particularly noticeable when low value peaks near -pi/

[2015-03-12 05:54] jni commented on #1419
:+1: ! Have a look at the `default_fallback` decorator in `morphology.misc`. Solves exactly the same problem for morphological functions. (Or it did prior to 0.11, actually.)

[2015-03-12 05:55] jni commented on #1418
Holy moly! =\

[2015-03-12 08:18] stefanv commented on #1420
That's a good catch @hohlraum.  Are you willing to help us patch up this bug?

[2015-03-12 08:19] stefanv commented on #1420
FWIW, I am not very happy with our state of peak detectors in skimage--another area that may require attention.  But I think we can solve this problem separately.

[2015-03-12 09:10] hohlraum commented on #1420
The PR includes an intensity sort that addresses the second issue.

There's another problem with the max filter applied at the top of the function. The exclusion neighbourhood values ```min_distance``` and ```min_angle``` are being used as the window for the 1d max filters. The purpose of this filter (I believe) is to expand the peak pixels for the subsequent label. It is not meant to define the s

[2015-03-13 12:27] arve0 opened #1423 "measure.label is documented under morphology.label"
In the [measure API reference](http://scikit-image.org/docs/stable/api/skimage.measure.html) label is not documented, but it is [documented under morphology module](http://scikit-image.org/docs/stable/api/skimage.morphology.html#label) (which is depreciated).

[2015-03-13 20:43] jbwexler opened #1427 "sciki-image fails to install from pypi unless networkx is present"
networkx should be an explicit dependency in setup.py

[2015-03-13 20:46] blink1073 commented on #1427
We're working on this: see #1426.

[2015-03-14 21:40] arve0 commented on #1387
Couldn't find any more instances of this, fixed in #1388.

[2015-03-14 21:40] #1387 closed

[2015-03-15 03:00] #1423 closed

[2015-03-15 15:50] blink1073 commented on #1403
Fixed by #1412.

[2015-03-15 15:50] #1403 closed

[2015-03-16 05:40] stefanv opened #1431 "Implement Haar-like features"
https://en.wikipedia.org/wiki/Haar-like_features

[2015-03-18 10:36] hohlraum opened #1433 "hough_line default angle and distance ranges are poorly chosen"
The `theta` parameter in `hough_line`defaults to `linspace(-pi/2, +pi/2, 180)`. This is a poor choice for two reasons:
1.  -pi/2 and +pi/2 are degenerate
2. This means there's no point at `theta=0`

A better choice would be `linspace(-pi/2, +pi/2, 180, False)`.

The distance range would benefit from the same change so that `dist=0` is also included.

Finally, it is possible to specify a custom ang

[2015-03-18 12:02] tsmithe opened #1434 "Segfault in denoise bilateral"
This fault occurs quite regularly, though I don't know what triggers it, using 0.11.2 and also git master. The backtrace goes as follows, but it's not particularly clear (at least to me), and I don't know how to build skimage with debugging information. But if there's anything I can do to help, please let me know, since my code rather depends on this segfault not happening!

[code]

[2015-03-18 12:07] tsmithe commented on #1434
In fact, I can isolate the failure to some combination like this:

[code]

[2015-03-18 12:07] tsmithe commented on #1434
(If I comment out the third line, the segfault goes away)

[2015-03-18 12:15] tsmithe commented on #1434
My best guess is that at some point, the filter produces an invalid value, so I get a message like:

[code]

Then, when I pass the array into the filter again, I get this segfault. If this hypothesis is true, then why is there an invalid value being produced, and why does it then cause a segfault?

[2015-03-18 13:14] tsmithe commented on #1434
Yes, sometimes, some values of the array returned by denoise_bilateral are nan. What causes this, and what can I do about it? (I also feel that skimage should warn about it, and not fail so badly if nans are provided!)

[2015-03-18 14:06] syedTabish commented on #1431
@stefanv  this one seems related to #953. I'll have to my lazy self to revisit that PR. I'll finish it up when I get time this weekend.

[2015-03-18 14:57] JDWarner commented on #1433
:+1: :+1: for non-degenerate `linspace(-pi/2, +pi/2, 180, endpoint=False)`. I'd include the `endpoint=` kwarg for maintainability down the line.

Aside from computational burden, I don't think there's a compelling reason to constrain the distance. Though, is a distance of 0 actually meaningful?

[2015-03-18 15:00] JDWarner opened #1435 "`hough_line` function is not included in API docs"
See live docs for `skimage.transform` in http://scikit-image.org/docs/dev/api/skimage.transform.html

Despite this being a publicly exposed function available in the package, it is absent from the docs.

[2015-03-18 15:00] JDWarner commented on #1435
Follow up and verify this is fixed once #1432 is merged.

[2015-03-18 15:01] JDWarner commented on #1431
@syedTabish that would be great, thanks!

[2015-03-18 15:25] hohlraum commented on #1433
Lines with ```d=0``` pass through the origin. Another way to state the problem is that the current ```d``` range does not increment by integer steps. So single pixel horizontal and vertical lines get weighted differently depending on their distance from the origin (I think).

I had thought that this was written in C. I see now that it's in cython. I can fix this myself. I'll issue a PR when done.

[2015-03-18 15:35] JDWarner commented on #1433
I'm on board now. Let us know if you have any issues with Cython. At a very high level the syntax is almost identical with the addition of variable name/type definitions. There are some other logistical concerns if you make a new file, related to getting it recognized and compiled with the rest of the package, but those are irrelevant for tweaking existing files.

[2015-03-18 15:44] JDWarner commented on #1433
Also, for prototyping tweaked Cython files you do have to recompile them. The easiest workflow for this (should work on all platforms with a compiler)

[code]
from package root, which will inspect and recompile any Cython files that have changed. Often errors are caught at compilation, with a helpful message about the problem(s). Once done you'll need a new kernel for the changes to take effect.

[2015-03-18 15:46] hohlraum commented on #1433
OK. Thanks for the hints with Cython. This is my first time, but it looks straightforward (famous last words).

[2015-03-18 23:23] hohlraum commented on #1433
Adding an arbitrary distance list would involve some big changes to the way the transform is calculated, so I didn't include it. But the PR addresses the degenerate endpoint and non-integer spacing problems.

[2015-03-19 07:57] spark1729 commented on #1431
@JDWarner @stefanv
1. How is the implementation of this to be done ? As in, should there be a function evaluating the haar feature at a point (x,y) and for a two rectangle feature of (h,w).

Evaluating a two rectangle horizontal feature:

    def haar_feature(x,y,h,w):
    bright = (i[x+h-1,y+w-1]+i[x-1,y-1])-(i[x-1,y+w-1]+i[x+h-1,y-1])
    dark = (i[x+2*h-1,y+w-1]+i[x+h-1,y-1])-(i[x+h-1,y+w-1]+i[

[2015-03-19 08:00] spark1729 commented on #1431
@JDWarner @stefanv
1. How is the implementation of this to be done ? As in, should there be a function evaluating the haar feature at a point (x,y) and for a two rectangle feature of (h,w).

Evaluating a two rectangle horizontal feature:

    def haar_feature(i,x,y,h,w):
    bright = (i[x+h-1,y+w-1]+i[x-1,y-1])-(i[x-1,y+w-1]+i[x+h-1,y-1])
    dark = (i[x+2*h-1,y+w-1]+i[x+h-1,y-1])-(i[x+h-1,y+w-1]+

[2015-03-19 21:58] tku137 opened #1438 "converting dtype in ImageCollection"
I am just getting into scikit image and came across some weird issue. I want to load a bunch of images as an ImageCollection, which works just fine. However, all images are loaded as uint8, but I need to have all images in the collection to be uint16.

When I try to use the example code from http://scikit-image.org/docs/dev/api/skimage.io.html#skimage.io.ImageCollection:
[code]
I get an error when

[2015-03-19 23:19] jni commented on #1438
Hi tku137!

I did a bit of digging for this one. It looks like your images are TIFFs, which have *support* for multi-frame files, even if it is unused. If your tiffs are single-page, then `img_num` will be passed to your `load_func` as just 0. Otherwise you will have (filename, 0), (filename, 1), ... and so on being read as frames in your image collection. See here:

https://github.com/scikit-imag

[2015-03-19 23:28] stefanv commented on #1438
On Thu, Mar 19, 2015 at 4:19 PM, Juan Nunez-Iglesias <
notifications@github.com> wrote:

Please file an issue so that we don't forget!

[2015-03-20 11:31] raubtaube opened #1439 "ImageCollection broken when using freeimage"
Basically this one below breaks, with scikit-image 0.12 and freeimage-3.15.4.
[code]

[code]

[2015-03-20 14:14] tku137 commented on #1438
Thank you very much for pointing this out. I'm using single png files, not tiff stacks. But setting `img_num=0` in the convert function works like a charm :)

Now I got everything the way I wanted it, thanks!

[2015-03-20 19:19] blink1073 commented on #1438
I'm going to leave this open as a reminder to self to fix this.  What I propose is that `img_num==0`, we call just `load_func(f)`, since not all of the plugins accept `img_num` as a parameter.

[2015-03-21 06:50] stefanv commented on #1438
:+1:

[2015-03-21 08:20] spark1729 commented on #1431
import numpy as np
    from skimage import data
    from skimage.transform import integral_image

    feature = np.array([[2,1],[1,2],[3,1],[1,3],[2,2]])
    framesize=24
    features=5
    count =0
    haar_features1=np.empty((0,0))
    image=data.coins()
    im=integral_image(image)

    def haar_feature(integral_image,x,y,height,width,feature):
        if feature=1:
            bright = (i[x+h-

[2015-03-24 12:07] neothemachine commented on #1400
Just do what other libraries are doing... add manual checks for your install-time dependencies and include the rest in `install_requires`. This is how it should be. How you avoid duplication with requirements.txt isn't relevant at this point. That's a separate problem.

[2015-03-24 12:15] neothemachine opened #1445 "Maintain a changelog"
Using scikit-image in production is slightly tricky without knowing whether a new version introduced breaking changes. Please maintain a changelog, it's a good thing to have in general as well, and no, the git log is not a changelog, it's way too detailed. :)

For example, between 0.10.1 and 0.11.0 you added more dependencies, and as the setup.py script currently is written to just [bomb out](http

[2015-03-24 12:50] tacaswell commented on #1445
mpl has effectively abandoned the changelog for the followring

 - explicit list of API changes (api_changes.rst)
 - explicit list of new futures (whats_new.api)
 - using the merge PRs commit messages as changelog like entries

[2015-03-24 12:56] tacaswell commented on #1400
Having every library maintain code to manually check for dependencies is a major community-level regression.

[2015-03-24 13:36] arve0 commented on #1386
Adding to this: Setting callback to both `filter_image` and `update_plugin` creates bugs where you do not have `*args` in `filter_image` definition, as callback is allways called with signature `callback(name, value)`.

https://github.com/scikit-image/scikit-image/blob/9b16b35d961cab3f65885d385eb78cc932dd966f/skimage/viewer/plugins/base.py#L142

[2015-03-24 13:46] neothemachine commented on #1400
True, but what are the alternatives for install-time dependencies?

[2015-03-24 14:57] tacaswell commented on #1400
`conda` :smiling_imp:

[2015-03-24 15:19] neothemachine commented on #1400
Well played sir, well played! I agree that binary packages are a pain and that conda solves some of those issues. But going conda-only is probably also not the best idea. Maybe wheels will solve this problem for Linux as well in the future, but for now it looks like ugly setup.py's are still necessary...

[2015-03-24 17:29] blink1073 commented on #1386
Would having a private `_callback` and a public `callback` solve your first issue?

For the second issue, you are trying to have two callbacks, one for `filter_image`, and one for `update_plugin` using the same `Plugin`?

[2015-03-24 17:41] JDWarner commented on #1400
While I like being platform and Python distribution agnostic as much as anyone, I feel obliged to point out that conda works great on Linux.

[2015-03-24 17:42] arve0 commented on #1386
No, I do not think so. As `viewer.plugins.Plugin.add_widget` is always overriding the callback, don't see how a public/private callback would solve this. Unless one wants several callbacks upon change, then there could be a private one too.

I'm not trying to have two callbacks. Its just my confusion, as `filter_imager` doesn't take any arguments elsewhere in the code. I see now that it's in fact

[2015-03-24 17:51] neothemachine commented on #1400
Oh yeah, I think I misphrased that a bit. I just wanted to say that wheels for Linux (if they ever come) may solve the same problem that conda already solved.

[2015-03-24 18:03] blink1073 commented on #1386
Are you trying to override the default callback or provide an additional one?

[2015-03-24 18:07] arve0 commented on #1386
I'm not overriding, I'm supplying callback to the widget:

[code]

[2015-03-24 18:08] arve0 commented on #1386
Ergo, the widget kw-argument `callback` has no meaning.

[2015-03-24 18:21] arve0 commented on #1386
In general, this is a pattern that goes several places in the viewer API, which makes it hard to find the program flow. In example, plugins [append themselves](https://github.com/scikit-image/scikit-image/blob/master/skimage/viewer/plugins/base.py#L122) to the viewer, though the viewer [calls attach](https://github.com/scikit-image/scikit-image/blob/master/skimage/viewer/viewers/core.py#L249).

To

[2015-03-24 18:26] JDWarner commented on #1386
@arve0 I'm all for some refactoring in the name of clarity and maintainability. When working with the viewer in the past I've noticed I have to go hunting to figure out what is actually happening, but wasn't able to articulate it quite as nicely as you did just now.

[2015-03-24 18:50] stefanv opened #1447 "ImageCollection loads images prematurely"
``ImageCollection('*.jpg')`` loads all JPG images, even when conserve_memory is set to True.  What used to be an instantaneous operation is now very slow.

/cc @blink1073

[2015-03-24 19:49] stefanv opened #1448 "`slic` causes crash with certain parameters"
To reproduce:

[code]
![test_pill](https://cloud.githubusercontent.com/assets/45071/6811344/2c203452-d224-11e4-9567-9f8add99cd3e.jpg)

gdb backtrace (looks like the illegal memory operation occurs in numpy?)

[code]

[2015-03-25 03:20] #1439 closed

[2015-03-25 03:22] jni opened #1450 "Add support for multipage tiff files with the freeimage plugin"
Currently, our Freeimage TIFF reader just reads the first plane of a multipage tiff and calls it a day. It would be good to figure out how to support multipage tiff properly. (Though tifffile handles it admirably, users might set freeimage for whatever reason, and be stuck with buggy code.)

See #1440 for a related issue.

[2015-03-25 03:23] jni commented on #1439
@raubtaube can you check that the latest master fixes this? Thanks for reporting!

[2015-03-25 08:37] stefanv commented on #1445
@neothemachine All API changes are documented in the release notes.  No breaking changes are made on minor versions (i.e., 0.10.0 to 0.10.1, e.g.).  The setup script has been fixed.

[2015-03-25 08:37] #1445 closed

[2015-03-25 08:54] raubtaube commented on #1439
@Juan, You're welcome! I would check the latest fix if there is an easy way
to get the latest master using conda. Everything beyond pip install and
conda install, is a new territory for me.

2015-03-25 4:23 GMT+01:00 Juan Nunez-Iglesias <notifications@github.com>:

[2015-03-25 09:16] jni commented on #1439
@raubtaube teaching time! =)

1. create new environment with `conda create -n skimage-master-test cython matplotlib numpy scipy six networkx pillow`
2. activate the environment with `source activate skimage-master-test`
3. install scikit-image master with pip using `pip install git+https://github.com/scikit-image/scikit-image.git`. No git usage required!
4. give it a try! =)

The only kink in that

[2015-03-25 10:19] neothemachine commented on #1445
Where are the release notes? I didn't find them in the repo and neither attached to the github release or git tag.

[2015-03-25 14:07] jni commented on #1448
@stefanv Yikes!

Is there any way to figure out even which Cython line failed? I've been hearing rumblings of improvements in Cython debugging...

[2015-03-25 16:44] JDWarner commented on #1445
Release notes are on the homepage - could probably be linked a bit easier
to find, currently available in Documentation -> API (*Changes*)
http://scikit-image.org/docs/stable/api_changes.html

The source file is located at
https://github.com/scikit-image/scikit-image/blob/master/doc/source/api_changes.txt

On Wed, Mar 25, 2015 at 5:20 AM, Maik Riechert <notifications@github.com>
wrote:

[2015-03-25 16:48] tsmithe commented on #1434
Hi -- has anyone got any ideas about this?

[2015-03-25 17:00] neothemachine commented on #1445
So release notes = API changes? What about new features or important bugfixes?

[2015-03-25 17:06] JDWarner commented on #1445
I apologize, full release notes are here
https://github.com/scikit-image/scikit-image/blob/master/doc/release/release_0.11.txt

On Wed, Mar 25, 2015 at 12:01 PM, Maik Riechert <notifications@github.com>
wrote:

[2015-03-25 17:10] neothemachine commented on #1445
Ok, that's great to see :) This definitely has to be linked prominently from somewhere.

[2015-03-25 20:44] stefanv commented on #1445
Good idea--help us with a suggestion or a pull request!

[2015-03-25 21:03] neothemachine commented on #1445
How about creating a hyperlink with "(release notes)" next to the "Stable" text on the top right of the website linking to the relevant release notes (direct link to github, then it's easy to find the older ones as well). As you seem to have only minor version release notes you could do that by using only the first two version components, "0.11" and then linking to https://github.com/scikit-image/

[2015-03-25 21:10] JDWarner commented on #1445
Alternatively or in conjunction, we could link to the release notes under Announcements for each announced major release.

[2015-03-25 21:17] neothemachine commented on #1445
Yes, I would do that in addition. The thing is I don't scroll down as soon as I find the version information on the top right. Currently I expected the release notes when clicking on the download button, but putting them (the link to them) directly into the initial field of view (as described earlier) would be better I think.

[2015-03-25 21:28] stefanv commented on #1445
Would you please make a PR?  I'd be happy to rebuild the website.

[2015-03-25 22:40] dzenteno2 commented on #1390
I'm facing exactly the same problem. I don't have experience in Cython, but I will try to understand better the issue.

Thank you in advance.

[2015-03-26 00:40] jni commented on #1434
@tsmithe sorry about the silence! I actually have no idea about this, I'm hoping someone else in the team familiar with `denoise_bilateral` is able to figure this out. @ahojnnes? I certainly agree that nans shouldn't cause segfaults. =)

Incidentally, if indexing by a nan causes segfaulting (it would if we turn off bounds checks, which we do in many Cython functions), this may also be the cause of

[2015-03-26 00:59] JDWarner commented on #1434
I'm not sure this is an indexing issue in the function. That warning is a symptom, not the cause - it's getting passed _after_ nans are already present. The only way to trigger this error would be a call of the form `test[test < np.sqrt(-1)] = 0` or `test[test < np.nan] = 0` which does throw the error, but does NOT change any values of `test` to nan.

I'm not sure if that helps the investigation m

[2015-03-26 01:29] blink1073 commented on #1447
How many images are in that folder?  I did a quick check and `conserve_memory` is still being respected, in that the `data` member is only populated when it is False.  However, we are now *opening* each file to see how many images it contains.  That could be what you're seeing.

[2015-03-26 01:53] stefanv commented on #1447
Yes, I think we may have to change that--I have 2000 images in my folder,
and it takes forever.
​

[2015-03-26 02:21] blink1073 commented on #1447
Then we'd have no way of knowing which if any files had multiple images in them.  Tough nut here...

[2015-03-26 02:29] jni commented on #1447
@blink1073

- do we need to know this in advance?
- maybe we can only check tifs?
- when you open each image, I presume it's loading up the whole image. For TIFFs, it should be possible to check the number of pages just by looking at the header. (Though this might require learning more about the format than you care to find out!)

[2015-03-26 02:33] blink1073 commented on #1447
Right now we support TIFFs and GIFs.  This is turning out to be a major source of confusion.  Perhaps image collection should only deal with flat images, and leave it up to imread whether to allow indexing on image number.

[2015-03-26 02:34] jni commented on #1447
Even just turning off checking for any file that's not a TIFF and GIF would fix @stefanv's use case. Gotta keep the boss happy. =P

[2015-03-26 02:43] dzenteno2 commented on #1390
I have been playing a little bit with the parameters and I have found that you could avoid the problem by adjusting min_size_factor and max_size_factor.

These are the parameters that did the trick for me:

            segments = segmentation.slic(input_data,
                                         n_segments=100,
                                         compactness=0.1,

[2015-03-26 03:13] blink1073 commented on #1447
Works for me.

[2015-03-26 07:13] stefanv commented on #1447
I would argue that "the boss" should keep everyone else happy, but hey... I
appreciate the thought :)

On Wed, Mar 25, 2015 at 7:34 PM, Juan Nunez-Iglesias <
notifications@github.com> wrote:

[2015-03-26 09:26] jni opened #1454 "New feature: irregular watershed segmentation"
Watershed segmentation gives errors in all but the most perfect of images, see e.g. our mailing list [1]. I saw a mention on the ImageJ mailing list (for the same problem) of a Fiji plugin called watershed irregular structures [2]. It's very nifty, and uses erosion to find the thinnest channel between touching structures, and uses that as the segmentation point.

The code was GPL but the author, J

[2015-03-26 14:39] blink1073 commented on #1427
@jni, @stefanv, how about we take the following tack:  we designate `six` and `scipy` as "core" requirements, and break on those.  Then, we test for the presence of the rest and issue a harsh warning if they are not present.  This is similar to the way matplotlib handles it.

[2015-03-26 14:40] blink1073 commented on #1427
I add `scipy` to that list because there are whole subpackages that break if `scipy` is not available.

[2015-03-26 18:30] spark1729 commented on #1454
This is a interesting technique to apply watershed algorithm to irregular structures. I would like to take this up.
However in the program that you have mentioned , the user is required to give the number of erosion cycles. I was thinking if we could have a better way of implementing it, in which the optimum number of erosion cycles is automatically chosen given an image.

[2015-03-26 22:54] neothemachine commented on #1445
https://github.com/scikit-image/scikit-image-web/pull/24

[2015-03-27 01:05] jni commented on #1454
@spark1729 go for it! Regarding the erosion cycles, you might as well allow an argument that defaults to None (let the algorithm choose).

When you say "optimum", what do you mean exactly? =)

[2015-03-27 05:23] jni commented on #1427
@blink1073 I'm completely agnostic as to which decision we take with regards to dealing with missed requirements. Your approach sounds reasonable.

[2015-03-27 07:14] stefanv commented on #1427
@blink1073 Is the approach in #1426 insufficient?

[2015-03-27 14:40] blink1073 commented on #1427
@stefanv, I've been poking hard at this and here's what I've come up with:
- Right now, we are calling `check_requirements` before anything else, which is preventing `install_requires` from ever being run.
- `install_requires` runs *after* the build extension step in `setup`, which means we can't pick up `cython`, and since we do not ship the `cython` c-files, the user is sunk.

[2015-03-27 14:48] blink1073 commented on #1427
Aha, we need to use `setup_requires` for `cython`.

[2015-03-27 15:12] blink1073 commented on #1427
I can make the whole thing work using `setup_requires` and `install_requires` if we require Pillow explicitly instead of PIL.

[2015-03-27 15:13] blink1073 commented on #1427
I would change `requirements.txt` to be just `-e .`, and use the following in `setup.py`:

[code]

[2015-03-27 16:10] blink1073 opened #1456 "Appveyor builds take to long to be useful."
The Appveyor builds run in serial, as opposed to Travis.  I suggest we limit the Appveyor build to one 32bit build.  The Python 3.4 build has been randomly timing out, so I'd suggest the Python 2.7 one.

[2015-03-27 16:32] JDWarner commented on #1456
Agreed, though the serial nature isn't the only problem. I've documented occasions where no job in a build has started after 4+ hours in the queue. That really affects an efficient workflow, and I've merged low risk or time sensitive PRs on basis of Travis alone.

[2015-03-27 19:46] stefanv commented on #1456
FWIW, I met with someone from Microsoft about this and there is a solution
on the horizon.

In the meantime, perhaps we should switch to an internally hosted Windows
machine?  I have access to one of those, if someone is willing to take up
the administrative load of setting up a buildbot.

[2015-03-27 19:55] blink1073 commented on #1456
I'm not sure if any of us have that expertise.  :smile:
I still vote to go down to one build on Appveyor until they make improvements.

[2015-03-27 20:12] stefanv commented on #1456
OK, let's do that for now--we really just need it as a backup check.
​

[2015-03-27 20:47] matthew-brett commented on #1456
I'm happy to set up the buildbot.

[2015-03-29 06:43] warmspringwinds opened #1458 "Python 2.7 travis flake8 problem."
Every time the travis checks are ran after my commits, I have the follwing mistake and I saw a lot of pull requests having the same:

Flake8 test *

+flake8 --exit-zero '--exclude=test_*,six.py' skimage doc/examples viewer_examples

Traceback (most recent call last):

File "/home/travis/venv/bin/flake8", line 7, in

from flake8.main import main

File "/home/travis/venv/local/lib/python2.7/site-pac

[2015-03-29 11:47] blink1073 commented on #1458
Thanks @warmspringwinds, this is a known problem that I'm working on in #1457.

[2015-03-29 11:47] #1458 closed

[2015-03-29 11:58] blink1073 commented on #1438
Fixed in #1440.

[2015-03-29 11:58] #1438 closed

[2015-03-30 02:54] #1400 closed

[2015-03-30 02:54] #1427 closed

[2015-03-30 02:54] #1456 closed

[2015-03-30 03:32] stefanv commented on #1456
That would be very helpful, Matthew.  Which build system do you recommend
for tying in with GitHub?

[2015-03-31 05:53] stefanv commented on #1396
@vighneshbirodkar I like that tsuggestion

[2015-03-31 09:25] cdeil commented on #1067
@stefanv – I think the dependency issue for scikit-image has now been fixed?
Can you please make a bugfix release soon?
If you're waiting for other fixes, I'll try and change our `pip-install-requirements` on readthedocs to pip-install scikit-image from the development version on github.

[code]

What's the correct invocation to pip-install the development version?
This didn't work for me:
[code]

[2015-03-31 10:58] stefanv commented on #1067
Thanks for the reminder--I can do that tomorrow.

[2015-04-01 03:17] #1447 closed

[2015-04-01 08:46] stefanv commented on #1067
Done (OSX wheels should appear in due course)

[2015-04-01 11:40] cdeil commented on #1067
@stefanv – Problem solved, thanks!

The pip install of scikit-image on readthedocs now works again ([first successful build for the project where I had the issue](https://readthedocs.org/builds/gammapy/2517961/))

[2015-04-01 18:10] stefanv commented on #1067
Excellent, thanks for the feedback!

[2015-04-02 12:35] bewithaman commented on #1448
@stefanv @jni
I did the debugging and yes, it is because of illegal memory operations. The function _enforce_label_connectivity_cython() is responsible for the crash.

The array `coord_list[]` in file _slic.pyx is defined for 'max_size'  elements but the variables `bfs_visited` and  `current_segment_size` exceed  it in above example and cause segmentation fault.
I checked for the above image. 'max

[2015-04-02 15:17] Borda opened #1462 "binary erosion attach to Image boundaries"
Hello, I used the erosion and while there is an object attached to image boundary it keeps this link like the boundary is also the object, is it correct behavior? Thanks

[2015-04-02 19:18] JDWarner commented on #1462
Yes. This is intended behavior. The correct padding behavior for binary erosion is to pad with 1s; you can also think of this as if _only_ the zero pixels _actually in the image_ erode the image. If your structuring element is large enough the object overlapping the boundary will be completely eroded, but it has to happen from the inside.

Consider the alternative. If zero padding were employed, e

[2015-04-02 19:18] #1462 closed

[2015-04-03 12:55] emmanuelle commented on #1448
thanks a lot for the detective work @bewithaman

@jni I'm not sure I understand the use and interest of this helper function. Couldn't we use instead ``skimage.measure.label`` to detect small components and some mathematical morphology to attribute the label of an adjacent neighbor? Is this function useful for performance reasons? Maybe I missed something :-).

[2015-04-03 14:41] yarikoptic opened #1463 "test_imsave_roundtrip failures for uint 8 and 16 on Debian sid"
was trying to build package for 0.11.3
got

[code]

also got 1 more failure

[code]

which might be related...?

[code]

[2015-04-03 15:12] bewithaman commented on #1434
@tsmithe If you can give a test case to reproduce segfault, that would be helpful in debugging.

[2015-04-03 17:29] fhs commented on #1434
Here's a reproducible segfault:
[code]

[2015-04-03 20:00] bewithaman commented on #1434
@fhs The function returned NaN's everywhere but I didn't got segfault.

'0.12dev'

'1.8.2'

[2015-04-03 20:18] fhs commented on #1434
@bewithaman I'm using skimage 0.12dev, numpy 1.9.2, python 2.7.9 and 3.4.3 on linux

[2015-04-04 02:01] blink1073 commented on #1463
Hi  @yarikoptic, what version of libfreeimage do you have?

[2015-04-04 08:11] bewithaman commented on #1448
@emmanuelle Is keeping a check on `current segment size ` and stop its increment once it has reached to `max_limit-1` correct solution?

[2015-04-04 09:30] jni commented on #1448
@emmanuelle this function comes from the PR #857. You're right that using `label` would be useful here but a quick perusal of the comments shows that it was not 3D at the time. =) It's not immediately obvious to me, btw, how to use morphology to assign fragments to neighbours? Though I'm sure you're right that it could be done.

[2015-04-04 12:30] emmanuelle commented on #1448
@jni using greyscale dilation and extracting pixels that changed values allows one to reconstruct the graph of neighbourhood between regions. Then I would loop over indices of small regions and replace the label by the label of the largest neighbourg. Is that clear enough? I can try to write a first version of such a function if it's not clear yet.

[2015-04-04 12:37] emmanuelle commented on #1448
@bewithaman not sure it would work. Basically, you need to keep track of all pixel coordinates inside a connected component to change their label if needed.

[2015-04-07 07:39] scaramallion opened #1465 "regionprops().area broken"
I'm trying to use regionprops() in a manner similar to the [plot_label example](http://scikit-image.org/docs/dev/auto_examples/plot_label.html#example-plot-label-py) but am getting a ValueError exception when I try to get the area of each region:

   ` File "_moments.pyx", line 8, in skimage.measure._moments.moments (skimage/measures/_moments.c:1415)
ValueError: Buffer dtype mismatch, expected 'do

[2015-04-07 08:09] jni commented on #1465
@scaramallion can you send a minimal code snipped to reproduce the error? Preferably using one of the images in `skimage.data`.

Thanks!

[2015-04-07 23:45] scaramallion commented on #1465
Using a simple array

    import numpy as np
    from skimage.measure import regionprops

    image = np.zeros((200, 200).astype(numpy.uint8)
    image[95:105, 95:105] = 255

    print regionprops(image)[0].area

Alternatively using `skimage.data`

    import numpy as np
    from skimage.measure import regionprops
    from skimage.data import coins
    from skimage.filters import threshold_otsu

[2015-04-08 00:12] JDWarner commented on #1465
I cannot reproduce. Win7 x64, latest Anaconda, current master branch. Running the second set of commands returns without errors

[code]

[2015-04-08 00:16] JDWarner commented on #1465
@scaramallion I'm closing this as I cannot reproduce the problem.

Please reinstall (`python setup.py install`) or rebuild (`python setup.py build_ext -i`) your version of the package.

If that doesn't resolve the problem, pull down the newest branch and repeat those steps. If that doesn't resolve the problem, check `skimage.__version__` to ensure you don't have another broken version of the packa

[2015-04-08 00:16] #1465 closed

[2015-04-08 02:28] jni commented on #1465
@scaramallion as @JDWarner, I cannot reproduce the error: both your code snippets work for me.

[2015-04-08 03:10] scaramallion commented on #1465
Compiling the current master fixed the issue. Thanks!

[2015-04-10 08:51] raubtaube commented on #1439
Hi,

it took a while and I followed your steps. Unfortunately the same error
persists with skimage.__version__ = '0.12dev'... This time the error also
appears without using freeimage...

2015-03-25 10:16 GMT+01:00 Juan Nunez-Iglesias <notifications@github.com>:

[2015-04-10 09:02] raubtaube opened #1466 "ImageCollection still broken when using freeimage #1439"
See https://github.com/scikit-image/scikit-image/issues/1439.

[2015-04-10 19:47] emmanuelle commented on #1448
@jni what do you think of the idea of using mathematical morphology?

[2015-04-11 01:27] jni commented on #1448
@emmanuelle oops, sorry, forgot to reply to your original response. Ok I see it now. And you would use scipy.sparse to represent the graph? I think that would work.

One edge case: suppose compactness was set so low on a noisy image that a single-pixel label has all four neighbours as single-pixel labels as well. What is the procedure then? Do we need to make this iterative to ensure correctness?

[2015-04-11 01:48] bennlich commented on #1435
The same is true for `skimage.transform.probabilistic_hough_line`.

[2015-04-11 10:12] emmanuelle commented on #1448
@jni yes, scipy.sparse for the graph will work, or I think it's also possible to keep an array of edges and use some NumPy tricks (but a sparse array with the right format - lil?- might be better).

As for the edge case, the current implementation would just merge the pixel with one of its neighbors, right? Iterating until all regions have the minimal size is possible, but it's start to be a bit t

[2015-04-11 14:09] blink1073 commented on #1439
@raubtaube, I'm not sure what to say.  I tried your example with and without `freeimage` using the latest master and it works fine for me.

[2015-04-12 04:49] stefanv commented on #1439
I'm afraid I cannot reproduce this behavior either.

[2015-04-12 14:36] jni commented on #1448
I haven't looked at the current implementation, but if you are processing the pixels one by one, that label propagation might give you contiguous superpixels in a single pass... Unlike morphology.

As to sparse graphs, I don't know for processing, but for building from a list of edges, you can't beat coo_matrix.

[2015-04-12 20:45] JDWarner commented on #1435
@stefanv this should be fixed as of #1468, but I'm not seeing it in the live dev docs yet. Do they need to be manually pushed?

[2015-04-13 07:00] stefanv commented on #1435
I've rebuilt and pushed the docs.

[2015-04-13 07:00] #1435 closed

[2015-04-13 07:14] #1466 closed

[2015-04-15 14:30] buratono commented on #1410
I got a similar problem, when I access regionprops.centroid
Can somebody help me?
(I'm running Windows 7 64-bit, Python 2.7, pip install)

    region_props[t][0:2] = [regions[largest_region_id].centroid]
  File "C:\Anaconda\lib\site-packages\skimage\measure\_regionprops.py", line 129, in centroid
    row, col = self.local_centroid
  File "C:\Anaconda\lib\site-packages\skimage\measure\_regionprops.

[2015-04-15 14:34] buratono opened #1470 "Regionprops error"
I got an issue with regionprops when I access it's attributes. Area now is changed to convex_area, it's ok.
But for centroid, I couldn''t access it, always an errer below appears,
(I'm using Windows 7 64-bit, Python 2.7, pip install)
Can somebody help me?
Thx
    region_props[t][0:2] = [regions[largest_region_id].centroid]
  File "C:\Anaconda\lib\site-packages\skimage\measure\_regionprops.py", lin

[2015-04-15 15:13] buratono opened #1471 "Measure region properties ERROR"
I tried this example:
http://scikit-image.org/docs/dev/auto_examples/plot_regionprops.html

But I found error below
(Windows 7, 64-bit, Python 2.7)
Traceback (most recent call last):
  File "E:\DropboxT\Dropbox\Works\ectrack\tools\plot_regionprops.py", line 32, in <module>
    y0, x0 = props.centroid
  File "C:\Anaconda\lib\site-packages\skimage\measure\_regionprops.py", line 129, in centroid

[2015-04-15 16:06] JDWarner commented on #1470
@buratono this sounds like a retread of #1465. Please try the solutions covered there, and let us know if that resolves the problem or not.

[2015-04-15 16:06] JDWarner commented on #1471
@buratono this sounds like a retread of #1465. Please try the solutions covered there, and let us know if that resolves the problem or not.

[2015-04-15 16:08] JDWarner commented on #1410
(removed unrelated comment)

[2015-04-15 19:51] buratono commented on #1470
@JDWarner: it's not the same problem as #1465.
In my code, I don't have problem with area, it can be accessed using convex_area, but I couldn't get centroid or local_centroid

[2015-04-15 19:52] buratono commented on #1471
@JDWarner: it's not the same problem as #1465.
In my code, I don't have problem with area, it can be accessed using convex_area, but I couldn't get centroid or local_centroid.

[2015-04-17 16:44] indiajoe opened #1472 "orb.detect_and_extract returns IndexError for faint images"
While using ORB ("Oriented FAST and rotated BRIEF") feature detector from skimage.feature
on a faint image, It is returning IndexError.
It works perfectly on bright images with lots of features.
My doubt is, why is it raising an IndexError, shouldn't it be instead raising some error which tells user the image is too faint to detect any feature, or probably just return an empty list for detected fe

[2015-04-19 07:51] gongenhao opened #1473 "'slic' function hangs when used in a multiprocessing framework."
slic and quickshift hangs in the multiprocessing (multiprocessing.Pool.map())
but felzenszwalb works.

[2015-04-20 18:10] stefanv commented on #1473
Any idea why?  Also, can you provide a minimal code snippet to reproduce?

[2015-04-21 03:06] jni commented on #1473
@stefanv sorry, this slipped through, but I have seen this behaviour as well. I have no idea what's causing it though as I have only a passing understanding of the various parallel frameworks...

I'm on OSX, in case it helps. @gongenhao what about you?

[2015-04-21 05:46] gongenhao commented on #1473
@jni
I am also on OSX. I will try to provide an example code to reproduce.

[2015-04-21 09:08] kowalsy opened #1476 "Minor issue in the doc"
Hi everyone,

I noticed a minor issue in the doc about eccentricity property regarding the function :  skimage.measure.regionprops
I quote the doc : Eccentricity of the ellipse that has the same second-moments as the region. The eccentricity is the ratio of the distance between its minor and major axis length.
Whereas, the definition of the eccentricity is the ratio of the focal distance over the

[2015-04-21 22:30] stevendbrown opened #1477 "regionprops doesn't check shape equivalence between label_image and intensity_image"
Since shape equivalence is required according to the documentation, should regionprops throw an Exception when label_image.shape != intensity_image.shape?

[2015-04-22 21:15] stefanv commented on #1477
You're right!  Would you please file a PR (including a test)?

[2015-04-23 16:57] JoyMonteiro opened #1478 "MCP_Geometric on extremely large array"
Hello,

I was trying to calculate the shortest path on an array of size (18000, 12000).
The size of the file (TIFF file) on disk is around 825 MB.

I am trying this on Ubuntu 14.10, and the latest version of scikit-image available
to pip. My computer is an i7 with 12 GB of RAM.

The strange thing is that MCP_Geometric(costs, fully_connected=True) succeeds
sometimes and fails other times. It takes

[2015-04-24 18:35] eltechnic0 opened #1479 "Segmentation fault using skimage.measures.label"
Hi, I have tested this with both the "label image region" tutorial and in my own application. The following code throws a reproducible segfault in my system:

[code]

The versions I have are:
- python 3.4.0
- numpy 1.9.2
- scikit-image 0.11.3
- ubuntu 14.04 32bit

PS. Sometimes the first run throws two warnings and some exception. From the second run on I get segfaults. The warnings are:
[code]

[2015-04-25 09:45] jni commented on #1479
Hmm. I can't reproduce on my system (OSX)... Anyone else seeing anything like this?

@eltechnic0 could you try setting a random seed for numpy in order to ensure complete reproducibility? Also, knowing the details of how you installed the packages might be relevant.

[2015-04-25 10:47] eltechnic0 commented on #1479
I went ahead and installed python3.4.3 from source and installed the relevant packages for it, in this order:
- sudo atp-get build-dep python3.4
- ./configure; make; make test; sudo make install (for building python3.4.3)
- sudo pip3.4 install numpy, cairocffi, matplotlib
- sudo apt-get install gfortran libopenblas-dev liblapack-dev
- sudo pip3.4 install scipy scikit-image

The versions are the sa

[2015-04-25 10:48] eltechnic0 commented on #1479
One more think. When running the code above with python3.4.0 I now get this traceback:
[code]

[2015-04-28 00:51] ozak commented on #1478
Hi @JoyMonteiro I have used MCP_Geometric on 2-4GB rasters without a problem (as long as the machine has enough memory). I also see that construction of the MCP object and computation of optimal costs increases memory usage by a large amount (sometimes consuming up to 40-50GB memory), and then releasing them once computation is finished.

[2015-04-28 01:05] stefanv commented on #1478
Thanks, Ömer, for having a look at the MCP code.  I realize it has
to build a fairly large internal structure, but it should not take
up much more space than the size of the image itself.  On Windows,
large memory allocations can be problematic.

As mentioned in another thread, the option of doing a raw calculation
always exists, which can be less memory intensive but may be slower.

[2015-04-28 01:09] ozak commented on #1478
Hi Stefan,

no problem...I have been meaning to work on this for a while.

I only work on OSX or Linux and the memory allocation/consumption is always an issue. For some of the work I am doing I had to change the image size from 40000 x 23000 to 4000 x 2300, otherwise I would not be able to run things on our cluster.

[2015-04-28 01:14] JoyMonteiro commented on #1478
Thanks, Ömer. On further checking, MCP seems to do ok for my raster, as long
as I have only one graph in memory.

Stefan, which thread are you referring to?

Thanks,
Joy

[2015-04-28 03:13] stefanv commented on #1478
I can't remember the exact thread, but I think it's in the mailing
list archive.

A 40000 x 40000 array, even if it is stored as int32s still occupies 6
GB of RAM!  So, any temporaries or copies will be disastrous.

[2015-04-28 09:43] JoyMonteiro commented on #1478
Thanks, found it!

[2015-04-28 14:14] ozak commented on #1478
@JoyMonteiro can you post the thread number.

Stefan you are right, large rasters are a mess. Sadly, sometimes you need to work with them.

[2015-04-28 18:25] stefanv commented on #1478
You may also want to look at `dask`, which allows you to do blocked
operations on large arrays.

[2015-04-28 19:23] stefanv commented on #1479
This works on my 3.4.3 with the latest numpy and scikit-image.  Does someone else have a 32-bit system to test on?

[2015-04-29 00:41] JoyMonteiro commented on #1478
@ozak  Here it is... https://github.com/scikit-image/scikit-image/issues/1353

[2015-04-29 02:27] yarikoptic commented on #1463
@blink1073 it is  3.15.4-4.1+b1

[2015-04-29 02:52] blink1073 commented on #1463
Hmm, we are using Ubuntu 12.04 64bit on our Continuous Integration server, which has 3.15.1-1.   I'm not sure why you would see any differently.

[2015-04-29 05:28] pierreroudier opened #1480 "Problem importing skimage after compiling from source"
Hi,

Newbie here so I might be missing something obvious,

I installed from source an compiled against the latest trunk version using `pip install .`, and after installing requirements using `pip install -r requirements.txt`  as advised, but can't seem to load the modules succesfully in ipython:

    In [1]: from skimage import io
    ---------------------------------------------------------------

[2015-04-29 05:34] jni commented on #1480
It looks like the tifffile.c module (which we ship, it's not part of the requirements) was not compiled properly. Can you provide details of how you installed it?

[2015-04-29 19:13] JDWarner commented on #1480
This can also be caused by an out of date Cython. Try updating Cython with

pip install -U cython

Then recompile.

On Wednesday, April 29, 2015, Juan Nunez-Iglesias <notifications@github.com>
wrote:

[2015-04-29 20:31] falaktheoptimist opened #1481 "Upgrading version after installation from synaptic"
I tried upgrading skimage version from 0.6.1 which is the version getting installed via synaptic package manager to 0.11.3
`sudo pip install scikit-image==0.11.3
Collecting scikit-image
  Using cached scikit-image-0.11.3.tar.gz
Requirement already satisfied (use --upgrade to upgrade):
matplotlib>=1.1.0 in /usr/lib/pymodules/python2.7 (from scikit-image)
Requirement already satisfied (use --upgrade

[2015-04-29 20:42] pierreroudier commented on #1480
@jni :

The procedure I used is the one documented [on the website](http://scikit-image.org/docs/dev/install.html#installation-from-source):

* `git clone http://github.com/scikit-image/scikit-image.git`
* `cd scikit-image`
* `sudo pip install -r requirements.txt`
* `sudo pip install .`

I'm running Python 2.7 (old version which I need for another piece of software in my workflow) on (X)Ubuntu 12.

[2015-04-30 03:13] animanathome opened #1482 "Unable to import novice"
I've just installed scikit-image using "pip install -U scikit-image". When then trying to import the novice submodule through "from skimage import novice" my system hangs. When I escape I'm getting the following message:

^CTraceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/Cellar/python/2.7.8_2/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-pa

[2015-04-30 03:17] animanathome commented on #1482
Hmmm, strange, everything seems to be working fine now. I guess it just takes a couple of minutes the first time you import that module?

[2015-04-30 03:17] #1482 closed

[2015-04-30 03:19] JDWarner commented on #1482
Matplotlib was hanging while introspecting your system fonts. We require Matplotlib for the `skimage.io` package which allows reading of image data files. If you have a lot of fonts, this can take some time and may appear to hang.

Attempting to run `>>> import matplotlib.pyplot as plt` would have reproduced the error, and confirmed it wasn't within the purview of scikit-image.

EDIT: Sounds like

[2015-04-30 04:31] jni commented on #1480
Clutching at straws here, but your IPython version is pretty ancient... Do you get the same error in the Python prompt? I'm suspecting a relative import Python 2->3 incompatibility somewhere...

[2015-04-30 05:17] stefanv commented on #1480
After updating Cython, please run `git clean -xdf` in the scikit-image
source directory and try the pip install again.

[2015-04-30 05:41] stefanv commented on #1481
I'm not sure what would cause that.  Could you check out the source from
Git and build it (``python setup.py build_ext -i``) to see if that works OK?

[2015-04-30 08:04] pierreroudier commented on #1480
@jni I do get the same error in the Python prompt
@stefanv I ran `git clean -xdf` in my scikit-image repo, the `sudo pip install.`. The output of the compilation is the same, except I have a warning:

    warning: no files found matching 'setup.cfg'

I still have the same error trying to load the skimage modules after compilation.

[2015-04-30 13:16] falaktheoptimist commented on #1481
Thanks @stefanv , that worked- it took almost 2 hours for building on Raspberry pi-2, but in the end the build worked. Many thanks again.

[2015-04-30 13:16] #1481 closed

[2015-04-30 13:39] JDWarner commented on #1481
For posterity, yes compilation takes quite a while on the RPi generally
speaking, and it can appear to hang during.
On Apr 30, 2015 8:16 AM, "Falak" <notifications@github.com> wrote:

[2015-04-30 17:38] stefanv commented on #1481
If you run Raspian you can at least get an old version binary.  And, we are working with our Debian maintainers to get a new package out there ASAP!

[2015-05-01 13:45] emmanuelle commented on #1476
Thank you for noticing this! Indeed this part of the docstring would need to be corrected. Would you have the time to submit a pull request?

[2015-05-01 13:51] emmanuelle opened #1484 "Remove ``Image`` class"
I believe that the ``Image`` class defined in ``io._io.py`` is not used anywhere in the package anymore. Should we get rid of this part of the code in order to avoid having "dead code" and to make make maintenance easier?

If other people concur, I'll file a pull request.

[2015-05-01 13:58] JDWarner commented on #1484
:+1:
On May 1, 2015 8:51 AM, "Emmanuelle Gouillart" <notifications@github.com>
wrote:

[2015-05-01 15:32] blink1073 commented on #1484
:+1:

[2015-05-01 18:52] emmanuelle commented on #1484
thanks for the quick answers, see #1486

[2015-05-01 19:36] emmanuelle commented on #1479
I would recommend that you run the test suites of the different scientific python packages, especially numpy, scipy and scikit-image, to see if there is something wrong with your installation.

Would it be useful to install gfortran before numpy? (or maybe it doesn't matter because pip only copies binary files... not sure about that...)

[2015-05-02 17:04] eltechnic0 commented on #1479
Most likely there is something wrong with my installation, even though I have installed it twice, for python 3.4.0 and 3.4.3, and still have the problem. Who knows where it might be... For now I am using the scipy.ndimage label() function, which does work.

[2015-05-02 17:04] #1479 closed

[2015-05-03 10:39] emmanuelle commented on #1484
Closing this issue since #1486 has been merged.

[2015-05-03 10:39] #1484 closed

[2015-05-03 17:27] emmanuelle opened #1489 "Making regionprops 3D"
`measure.regionprops` currently only works for 2-D images. I would like to extend `regionprops` to work on 3-D arrays as well. Before I start working on a pull request, I'd like to get some feedback on the best way to do it. I was thinking of creating a  `_RegionProperties3D` class that would inherit from `_RegionProperties`. It would also possible to modify some methods of `_RegionProperties` to

[2015-05-03 18:02] siddjain opened #1490 "Unable to install scikit-image on windows"
Hello, I am getting this error trying to install scikit-image on windows:
$ pip install scikit_image-0.11.3-cp34-none-win32.whl
scikit_image-0.11.3-cp34-none-win32.whl is not a supported wheel on this platform.

i have mingw32 and
Python 2.7.6 (default, Nov 10 2013, 19:24:18) [MSC v.1500 32 bit (Intel)] on win32

and if i try to install from source, I get another error:
$ pip install .
Unpacking c

[2015-05-03 18:08] siddjain commented on #1490
i think i found the solution: http://stackoverflow.com/questions/28568070/filename-whl-is-not-supported-wheel-on-this-platform. this worked:
$ pip install scikit_image-0.11.3-cp27-none-win32.whl

[2015-05-03 18:08] #1490 closed

[2015-05-03 22:53] bouncehead13 opened #1491 "io.imsave taking a long time"
Hello,

I have a `np.ndarray` of RGB values which I am trying to save using the `io.imsave()` function. However, this single line takes a long time to complete and I am trying to reduce this time. Can you give a brief explanation to why this function takes a long time?

Note: I am working with a PNG file with dimensions 4928x3264.

Thanks!
Matt

[2015-05-04 00:05] stefanv commented on #1491
We just use the underlying implementation of either PIL, matplotlib,
etc.  You are storing a large image, and that takes time--but perhaps
you can compare it against the time it takes to save the same image in
Gimp, e.g.?

[2015-05-04 00:37] bouncehead13 commented on #1491
Okay, makes sense. Just checked and I use PIL so I'll send them a message to see if they have more insight into the question. Also, thanks for the idea of checking out Gimp, I'll do that.

[2015-05-04 00:37] #1491 closed

[2015-05-04 03:20] stefanv commented on #1491
You can also switch out the io backend to see if it helps:

[code]

etc.

[2015-05-04 20:50] gongenhao commented on #1308
same here:
Python 2.7.9 (default, Apr  1 2015, 18:18:03)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-16)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'0.12.1'

'0.11.3'

Exception TypeError: TypeError("'NoneType' object is not callable",) in <bound method UmfpackContext.new_del of <scipy.sparse.linalg.dsolve.umfpack.umfpack.UmfpackContext object at 0x7fc0bedf9a90>> ign

[2015-05-04 22:49] stefanv commented on #1308
Can anyone else reproduce this with the latest scipy + skimage?

[2015-05-05 05:58] jni commented on #1489
Ooh ooh, pick me! I have thoughts! =P

1. I'm very :-1: on a new class.
2. I think all properties can be extended to 3D with varying amounts of effort.
3. Some are trivial (e.g. area), so they can be dispatched no matter what the input. Others, like moments, are a bit harder. Either the function itself can be made dimension-agnostic, or we can dispatch to different 2D or 3D functions depending on

[2015-05-07 14:39] nikhartman opened #1496 "skimage.io.imread returns incorrect dimensions (according to docs)"
See here: http://stackoverflow.com/questions/30088841

Importing a TIFF image using skimage.io.imread returns an array with shape (3,M,N) instead of (M,N,3). This breaks the flatten and as_grey features. The results are the same calling `imread` with `plugin='tifffile'`.

    In [1]: im = skimage.io.imread('image.tif')

    In [2]: im.shape
    Out[2]: (3, 768, 1024)

    In [3]: im = skimage.io.i

[2015-05-08 01:19] ahojnnes opened #1500 "Sync scikit-image-web theme with documentation theme"
Should be possible with git submodules

[2015-05-09 09:51] emmanuelle commented on #1434
I also get the segfault! Here is gdb's output

[code]

So I guess it's this line https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise_cy.pyx#L131 that causes the segfault.

I'm also running python 2.7.

[2015-05-09 10:03] emmanuelle commented on #1489
@jni thanks a lot for your thoughts! Area is in fact not that trivial since it calls the ``moments`` method :-).

How would you handle the case of functions not implemented for 3D? By raising an error in each of these functions, or by adding another decorator? Or something else?

[2015-05-09 14:02] jni commented on #1489
Huh??? That's a ridiculous implementation! It's just the sum of the image! 8-O

I imagine if you want both the area *and* the moments, it's wasteful not to use the moments, but it's nothing in comparison to computing the moments when you only want the area!

I'm honestly not sure what the best way is to implement. Decorator might not be a bad idea, implement once and add anywhere. `@notimplemented

[2015-05-09 14:02] #1496 closed

[2015-05-09 14:09] emmanuelle commented on #1489
it is, isn't it? And it's make the computation of the area quite slow as a result (as compared to ``ndimage``, for example). I'll modify ``area``, then.

[2015-05-09 15:00] emmanuelle commented on #1489
Yeah, about a ``@notimplemented3d``, it would reduce code duplication, but also decrease the code readability. Also, Gaël tells me that decorating functions can break parallel computing if functions cannot be pickled any more. I'm not that familiar with decorators, so we might need another advice. @stefanv @ahojnnes ?

[2015-05-09 17:40] stefanv commented on #1489
@emmanuelle I wasn't aware of this caveat--can you provide more detail?

[2015-05-09 19:24] emmanuelle opened #1503 "Euler characteristic test for regionprops"
In ``measure/tests/test_regionprops.py``, ``test_euler_number`` computes the Euler characteristic of

[code]

Since the computation of the Euler characteristic uses ``ndimage.binary_fill_holes`` with 8-connectivity, it only counts holes that are not diagonal-connected to the background. Therefore, the Euler characteristic should be 1, I think (like a sphere), but the test is that it should be 0.

[2015-05-09 19:45] matthew-brett commented on #1503
I wonder whether scikit-image should take over `intvol.pyx` from nipy?

https://github.com/nipy/nipy/blob/master/nipy/algorithms/statistics/intvol.pyx

It contains - for example - the 2D and 3D Euler characteristic calculations:

https://github.com/nipy/nipy/blob/master/nipy/algorithms/statistics/intvol.pyx#L907

https://github.com/nipy/nipy/blob/master/nipy/algorithms/statistics/intvol.pyx#L340

[2015-05-09 21:36] emmanuelle commented on #1489
Gaël has been writing about it in http://gael-varoquaux.info/programming/decoration-in-python-done-right-decorating-and-pickling.html
disclaimer: this blog post dates back to 2009 and the caveat might not exist any more.

[2015-05-09 23:09] stefanv commented on #1489
That's great, because he also posts a solution :)

[2015-05-09 23:21] stefanv commented on #1434
@emmanuelle I see the same thing, but I find that strange--why would it segfault on a double * double operation?

[2015-05-09 23:47] stefanv commented on #1472
/cc @vighneshbirodkar

[2015-05-10 01:36] jni commented on #1489
We've used `functools.wraps` in scikit-image before (see e.g. [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/morphology/misc.py#L33), but it's not the only example), so it fits nicely in our codebase. =)

[2015-05-10 03:11] ahojnnes commented on #1434
I suspect it’s something on this line: https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise_cy.pyx#L129 <https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise_cy.pyx#L129>

E.g. out of range values in the image, precision issue, etc.

[2015-05-10 07:54] syedTabish commented on #1434
I guess the issue is in line https://github.com/scikit-image/scikit-image/blob/master/skimage/restoration/_denoise_cy.pyx#L85.
from scipy doumentation of max  "NaN values are propagated, that is if at least one item is NaN, the corresponding max value will be NaN as well. To ignore NaN values (MATLAB behavior), please use nanmax."  replacing max by nanmax should resolve the issue

[2015-05-10 08:45] stefanv commented on #1434
@ahojnnes That would make sense!

[2015-05-10 18:10] ahojnnes commented on #1434
Should be fixed in #1504

[2015-05-10 20:49] emmanuelle commented on #1503
Thank you Matthew! It's certainly interesting to know that there exists BSD code for Euler characteristic written by a specialist like Jonathan Taylor. We might need someone more knowledgeable about Euler characteristic to join the discussion: ``scikit-image`` code implements an intuitive definition of the Euler characteristic  (counting the number of holes as defined by a structuring element), th

[2015-05-10 23:11] stefanv commented on #1434
Closed by #1504.

[2015-05-10 23:11] #1434 closed

[2015-05-11 01:38] jni commented on #1503
Hey @emmanuelle, can you elaborate a bit more about what you think is going wrong here? Are we talking about the 0 at [7, 7]? And if so, does the connectivity refer to the 1s or to the 0s? There is a duality between the connectivity of the foreground and that of the background. (ie for 2D, when we use 1-connected background, we get 2-connected foreground, and vice versa.)

[2015-05-11 01:39] jni commented on #1503
(Having said that, I'm certain not "someone more knowledgeable about Euler characteristic". =P And the wikipedia page is bloody useless.)

[2015-05-11 02:03] ahojnnes commented on #1503
Back when I implemented regionprops, I followed the conventions in Matlab. It's some time ago, so I cannot really say anything more than that. But this seems to be an issue of definition: what do you consider an object (e.g., individual background regions are separate objects or not).

[2015-05-11 11:27] emmanuelle commented on #1503
@jni what puzzled me most was that when I used regionprops to compute the Euler characteristic of the test image I found a value different from the value of the test. I *think* it did not produce an error because of the context ``with expected_warnings(['`background`|CObject type'])`` https://github.com/scikit-image/scikit-image/blob/master/skimage/measure/tests/test_regionprops.py#L129 (using nos

[2015-05-11 17:14] gsanrey opened #1506 "Error installing skimage-"
Hi!
I've install skimage on a MacOs 10.10, like it's said in the documentation:
pip install -U scikit-image
and it say that need scipy to work, I had to install it to work.

[2015-05-11 17:17] JDWarner commented on #1506
That is correct and the intended behavior. Required dependencies must be installed first, then scikit-image... at least when one uses pip.

pip itself is not a package manager. If you want that, a distribution like Anaconda or Canopy will "just work" by grabbing all necessary dependencies and then what you asked for.

[2015-05-11 17:39] matthew-brett commented on #1506
Well - I think pip is a package manager - and if you install scikit-image, pip will also install:

[code]

It's just that scipy is not among the declared dependencies for the install.  Should it be?

[2015-05-11 17:50] JDWarner commented on #1506
Looking a little further, scipy >= 0.9 is declared in [requirements.txt](https://github.com/scikit-image/scikit-image/blob/master/requirements.txt) so it should be brought along.

[2015-05-11 18:11] emmanuelle commented on #1236
Closed since addressed by #1243 (merged PR)

[2015-05-11 18:11] #1236 closed

[2015-05-11 19:21] matthew-brett commented on #1506
I can't remember the exact source of the discussion, but I think it was deliberate that the requirements.txt requirements were different from the default pip / source install requirements.

[2015-05-11 19:56] stefanv commented on #1506
Here is the reason for it:

[code]

[2015-05-11 20:22] matthew-brett commented on #1506
Hum - well - they do have 'eggs' available for OSX, but not for Windows or Linux.  So.... ?

[2015-05-11 20:25] stefanv commented on #1506
/cc @blink1073

[2015-05-11 20:31] blink1073 commented on #1506
We could special case 'darwn' and leave it as-is on other platforms until
eggs are available.

On Mon, May 11, 2015 at 3:25 PM, Stefan van der Walt <
notifications@github.com> wrote:

[2015-05-11 20:39] matthew-brett commented on #1506
Just to be clear - we mean 'wheels' right?   I think eggs have definitely gone off.

[2015-05-11 20:40] stefanv commented on #1506
Is it important that eggs are available?  Why can't we let pip
compile scipy from source (as long as it doesn't upgrade
unnecessarily)?

[2015-05-11 20:42] matthew-brett commented on #1506
a) It will upgrade unnecessarily if someone upgrades scikit-image;
b) Scipy does take a long time and a fortran compiler - so it's pretty error prone for Linux, out of the question on Windows.  For OSX, there should always be a wheel.

[2015-05-11 20:46] stefanv commented on #1506
I thought the upgrade happens only when you specified a version.
Or does it *always* upgrade?  That's pretty lousy.

[2015-05-11 20:48] matthew-brett commented on #1506
It always upgrades:

https://pip.pypa.io/en/latest/user_guide.html#only-if-needed-recursive-upgrade
https://github.com/pypa/pip/issues/304

Yes, it's lousy.

[2015-05-11 23:27] vighneshbirodkar commented on #1472
@indiajoe , you are right, while going through the code, I was very puzzled as to what this `if` block is trying to achieve.
https://github.com/scikit-image/scikit-image/blob/master/skimage/feature/orb.py#L305

[2015-05-11 23:48] gongenhao commented on #1308
I confirmed there is no error with the latest scipy

Python 2.7.9 (default, Apr  1 2015, 18:18:03)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-16)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'0.15.0'

'0.11.3'

No warning shows up after that.

[2015-05-12 01:58] blink1073 commented on #1506
Yes, I meant to say `wheels`, and yes, the behavior of `pip install -U` is quite lousy.

[2015-05-12 14:01] joschkazj opened #1508 "High memory usage during DAISY computation for large images"
First of all I would like to thank all contributors for this excellent package and the continuous extension of features, I have been using scikit-image in my research for several years (and citing the webpage/paper).

Recently I used the HOG and DAISY descriptors for image classification and noticed that DAISY computation requires a lot of memory when working with large images (6 - 9 MPixel) due t

[2015-05-12 14:07] andersbll commented on #1508
Hey, I'll be happy to take a look at this in a few days when I have the time.

[2015-05-12 14:17] joschkazj commented on #1508
Thank you in advance!
I can integrate some optimizations myself and file a pull request, if you point out what options are most promising or suitable for library usage (e.g. use a threshold on image size to consider computation/memory tradeoff for windowed computation?).

[2015-05-12 19:29] #1308 closed

[2015-05-13 00:41] ThunderShiviah opened #1509 "Scikit stable install failing on Ubuntu 13.04"
I'm trying to install scikit-image 0.11.3 in a virtual environment.

After typing in
```sudo pip install -U scikit-image```

I receive the following error message:

[code]

Attempting to import either `skimage` or `six` into a python shell gives an import error.

Additionally, trying to install scikit-image using
```sudo apt-get install python-skimage```

Produces the following output
[code]

but

[2015-05-13 01:03] jni commented on #1509
I'm not sure about all the errors you're seeing but I think it probably has to do with your virtualenv setup. In particular, you shouldn't need to sudo to install into a virtualenv, and that might have done interesting things to your permissions, resulting in the pip errors you're seeing.

Can you try creating a new virtualenv and installing everything without using sudo? And please report back al

[2015-05-13 01:21] ThunderShiviah commented on #1509
Issuing the command
```pip install -U scikit-image```

produces the following output

[code]

This new error looks similar to #1329.

Also, I tried the apt-get method since that's what's recommended on the scikit readme for ubuntu.

[2015-05-13 01:31] jni commented on #1509
Hmm, interesting, I'll let @stefanv and @blink1073 comment on the error, which, as discussed in #1329, really shouldn't be there anymore!

In the meantime, what happens if you try pip install -U numpy scikit-image?

[2015-05-13 01:33] ThunderShiviah commented on #1509
Same issue:

[code]

[2015-05-13 01:42] jni commented on #1509
This is so weird. I guess pip doesn't care about the order of the arguments? What about `pip install numpy; pip install -U scikit-image`?

[2015-05-13 01:53] ThunderShiviah commented on #1509
[code]

What's really strange is that my scikit-image installation was working a few days ago and then the next time I tried running a file, scikit wouldn't work at all. I wonder if something broke on a recent update?

[2015-05-13 02:05] blink1073 commented on #1509
@ThunderShiviah, is there any reason you cannot use Anaconda for your environment?  In my experience, trying to use numpy/scipy in a virtualenv on Ubuntu was nothing but a headache.

[2015-05-13 02:24] jni commented on #1509
@ThunderShiviah So it sounds like you got the scikit-image installation working, but you were missing scipy at runtime, right? That's expected. SciPy is a dependency, even though it's not needed for installation.

@blink1073 obviously I agree about Anaconda, but shouldn't this `distutils` error be gone in 0.11?

[2015-05-13 02:30] blink1073 commented on #1509
@jni, I agree, assuming one can `numpy` and `scipy` installed in the virtualenv first.

[2015-05-13 02:35] ThunderShiviah commented on #1509
@jni  Actually I was still unable to import skimage after that.

@blink1073  Are you suggesting installing via the `conda` command? I'm working on a skimage based image registration project and am trying to keep all my dependencies together to create a requirements.txt file.

Also, maybe this is off topic for this issue but my system wide version of skimage uses the Anaconda distro. My skimage was

[2015-05-13 02:42] ThunderShiviah commented on #1509
It appears that matplotlib is causing at least part of the trouble in the install;

I installed the following packages independently in my virtualenv (the packages came from a list of the anaconda packages)
[code]

Next, I ran ` pip install -U scikit-image`

which yielded the following output

[code]

[2015-05-13 02:45] blink1073 commented on #1509
@ThunderShiviah, can you try using `conda install matplotlib`, which will install `freetype` for you in your environment?

[2015-05-13 02:46] blink1073 commented on #1509
By the way, the conda equivalent of using `requirements.txt` is as follows:

[code]

[2015-05-14 22:47] JDWarner opened #1512 "Release the GIL whenever possible"
From discussion in #1493, @mrocklin pointed out the many benefits of releasing the GIL for parallelization/serialization.

For many of our Cython files and functions this would be as simple as wrapping contents in a `with nogil:` block

[code]

Opening as a separate issue to facilitate discussion.

[2015-05-15 01:03] mrocklin commented on #1512
In original experiments by @cowlicks we were only able to get a 30% increase when using canny edge detection in multiple threads.  I/O wasn't an issue so we assumed that the GIL was to blame.

A case study of removing the GIL and using `apply_chunks` from #1493 on a single algorithm might teach us something.  We're happy to support from the dask side.

[2015-05-15 05:12] stefanv commented on #1512
Yes, please--any energy going to this is good, because we have been *very bad* on this front.

[2015-05-15 11:21] andersbll commented on #1508
The memory problem is caused by the size of `descs` that becomes >12 GB for an input image of 9 Mpix with 18 gradient orientations. This cannot be fixed with more aggressive garbage collection.

Some considerations:
- I think an image of size 9 Mpix is _huge_ for computer vision. Maybe you can scale down your image size?
- 18 gradient orientations are quite a lot compared to most other descriptors

[2015-05-15 11:49] joschkazj commented on #1508
Thanks for looking into this and your analysis.

I am analyzing high-resolution surface image in an industrial application and need the resolution, so this is not an option.

As I am using the descriptors not for matching but as a cheap way to compute texture features, I want to compare different parameter values especially with respect to angular resolution/number of orientations. One assumption

[2015-05-15 11:49] #1508 closed

[2015-05-15 11:55] andersbll commented on #1508
Cool, you might also want to experiment with texture descriptors. DAISY/SIFT/HOG are mainly designed for capturing image geometry.

[2015-05-15 17:45] stefanv commented on #1508
Also see https://github.com/scikit-image/scikit-image/pull/1493

[2015-05-15 17:46] stefanv commented on #1508
@joschkazj Thank you for using (and citing!) scikit-image; we are grateful for your helpful feedback, and always happy to try and improve the package where needed.

[2015-05-15 17:54] stefanv commented on #1463
@blink1073 Perhaps freeimage is doing something strange specifically on 32-bit systems?  Do we have such a machine to test on?

[2015-05-15 22:19] tacaswell commented on #1512
Commenting so I get emails from this thread, sorry for the noise.

[2015-05-16 01:09] grlee77 opened #1514 "interpolation: mode='constant' edge behaviour"
The interpolation functions within **skimage/_shared/interpolation.pxd** treat the `mode='constant'` case  differently than the `NI_GeometricTransform` function defined in **scipy/ndimage/src/ni_interpolation.c** that gets called by functions such as `scipy.ndimage.map_coordinates`.

Specifically, any coordinates outside the range of the image will be assigned a value exactly equal to `cval` in th

[2015-05-16 01:12] grlee77 opened #1515 "interpolation.pxd: split to separate .pxd/.pyx ?"
Is there a good reason that the shared cython interpolation code is stored within `_shared/interpolation.pxd ` itself rather than having just the declarations in the .pxd and the actual code in a separate interpolation.pyx file?  It seems like splitting into two files would avoid duplicating the C code each time a different .pyx file includes functions from interpolation.pxd.

For example, denoise

[2015-05-16 02:03] JDWarner commented on #1515
I'm inclined to agree.

[2015-05-16 02:10] stefanv commented on #1515
Yes, that would be a good refactoring!

[2015-05-16 02:15] stefanv commented on #1514
That does not sound right to me.  @ahojnnes?

BTW Gregory, where are you located?  @ahojnnes will be here at Berkeley
next week for a sprint.

[2015-05-16 02:39] grlee77 commented on #1514
I am in Cincinnati

[2015-05-16 02:42] grlee77 commented on #1515
okay.  I will submit a pull request later this weekend

[2015-05-16 04:14] ahojnnes commented on #1515
These functions are inlined... they should stay in the header file?

[2015-05-16 07:06] stefanv commented on #1515
I should have checked for that--thanks Johannes.

[2015-05-16 14:53] grlee77 commented on #1515
makes sense.  closing this issue

[2015-05-16 14:53] #1515 closed

[2015-05-16 15:21] blink1073 commented on #1463
@stefanv, I noticed from @yarikoptic's output that he was using amd64.

[2015-05-17 00:06] arve0 opened #1516 "Numba outperform cython rank filter pop_bilateral"
In trying to grok the rank cython filters and releasing the GIL, I've written a simple pop_bilateral filter in python which outperforms `filters.rank.pop_bilateral` if compiled with numba (including compile time), which will also allow for easy multiprocessing with threads (using https://github.com/scikit-image/scikit-image/pull/1493). Any thoughts on using numba in scikit-image?

http://nbviewer.

[2015-05-17 02:20] jni commented on #1516
@arve0 This is awesome, but my feeling is that Numba is still too much of a moving target to include it as a dependency. By a long shot, too.

[2015-05-17 20:01] stefanv commented on #1516
I suspect one day this will become the default mechanism for squeezing speed out of Python code, but as @jni says, the technology is not ready yet (and certainly not widely enough available).

[2015-05-17 20:47] arve0 commented on #1516
Is Numba also out of the question even if filters are included in a replacement submodule, which documents "lower" quality? Here lower quality meaning, not available in ARM-systems, bugs may exist on unusual platforms, performance not guaranteed.

As I see it, a replacement filter-module would fit nice as a testbed for numba. Performance regressions can be tested in the continuous integration, one

[2015-05-17 22:59] arve0 commented on #1516
Funny, stumbled upon [this relevant blogpost](http://mcfunley.com/choose-boring-technology).

[2015-05-17 23:13] JDWarner commented on #1516
I think we'll go down a path like this sooner or later. We should perhaps consider how that will look when the time is right.

My guess is we'll have to add a soft dependency first, with two code paths that branch depending on the presence of Numba. We do have a precedent for this in `segmentation.random_walker` where it checks if PyAMG is present. It's easy enough to write this; the challenge is

[2015-05-18 00:46] stefanv commented on #1516
The biggest challenge, in my mind, is one of maintenance and programmer-hours.

[2015-05-18 02:44] ThunderShiviah commented on #1509
Here's a follow up:

After re-installing the anaconda distro I still had the above mentioned issue with the six package as well as not being able to import matplotlib.pyplot. My solution was to go through each package that I found in the traceback (including six, numpy, scipy, and PyQt4) and check whether python was sourcing the package from anaconda or python2.7/dist-tools.

If the package was in

[2015-05-18 03:59] tacaswell commented on #1516
@danielballan and @nkiem  have done some heroic work to provide a 'soft' numba dependancy for `trackpy`.  I think https://github.com/soft-matter/trackpy/blob/master/trackpy/try_numba.py is the most important file.

[2015-05-18 07:59] joschkazj commented on #1508
Thank you for the pointer, this looks really interesting. At the moment I'm mostly using joblib and view_as_windows for this purpose.

[2015-05-18 21:58] stefanv commented on #1516
@tacaswell Thanks, I will play with try_numba a bit in one of my other projects.  Perhaps that would be a good module to include in numba itself, or as a pip-installable?

[2015-05-18 22:24] stefanv commented on #1516
@tacaswell I could not even get llvmlite to compile on my system (a newly upgraded Ubuntu machine).

[2015-05-19 00:44] tacaswell commented on #1516
I am the wrong person to ping on this, I am just aware of their work.  Can you conda-install everything?

[2015-05-19 00:55] stefanv commented on #1516
Perhaps that is possible, but I don't use conda.  I guess I'm just reporting back to say numba is definitely not ready for prime time.

[2015-05-19 01:03] tacaswell commented on #1516
conda seems to be very good at localizing compilation pain (as in only a
few people have to suffer) and is a bit less magical than pip (but that may
be because I now understand more-or-less conda and pip/setuptools is still
a vengeful black box).

On Mon, May 18, 2015 at 8:55 PM Stefan van der Walt <
notifications@github.com> wrote:

[2015-05-19 01:59] stefanv commented on #1516
Once we have an alternative open build system that produces conda packages, I'd be happy to switch.  It just feels odd to me to have a commercial dependency in my fully open source toolchain.

[2015-05-19 02:49] tacaswell commented on #1516
I do not mean to sound like a continuum sales rep, but the packaging tool
chain is open as is the environment management code.

The various servers are closed, most of numba is open but some of the numba
extensions (like gpu) are neither open nor free, there are some other I/O
tuned libraries that are neither open nor free, and the mkl-linked binaries
for numpy et al are open, but not free.

On Mo

[2015-05-19 03:00] stefanv commented on #1516
Are you saying it would be straightforward to duplicate a system that produces conda packages for most of the software we use?  If so, we should do that as a proof of concept.

[2015-05-19 03:01] matthew-brett commented on #1516
There's no question that conda is convenient, but (I've said this before) I think it it would be unwise to make it difficult to install scikit image without conda.

[2015-05-19 03:18] stefanv commented on #1516
Matthew, don't worry--that is not an option.

[2015-05-19 08:06] arve0 commented on #1516
@stefanv Do you have llvm-3.5 header files? Numba (or more correct [llvmlite](https://github.com/numba/llvmlite#unix-requirements)) are picky on llvm. Ubuntu should be `apt-get install llvm-3.5-dev`. Not sure if this installs to path, if not you have to specify the path to llvm-config: `LLVM_CONFIG=/path/to/llvm/3.5.0/bin/llvm-config pip install llvmlite`.

[2015-05-19 08:19] stefanv commented on #1516
@arve0 The version included with my Ubuntu is 3.6.  It runs the llvm-config OK, but fails to link the library (and I installed the libedit-dev mentioned in the README).

[2015-05-19 09:21] arve0 commented on #1516
@stefanv From llvmlite:

Btw, anyone have an idea why "convolving" with numba is faster than `rank.pop_bilateral`? I guess a sliding window should be faster than looping all elements? (Or there might be something I haven't understood correctly.)

Similar, a mean filter using 2n algorithm are [~3.5 times faster](http://nbviewer.ipython.org/github/arve0/master/blob/master/numba%20pop_bilateral.ipynb

[2015-05-19 09:55] ahojnnes commented on #1516
The rank filters should be a lot faster for larger window sizes and a little slower for smaller windows. What window size are you using?

[2015-05-19 09:56] arve0 commented on #1516
45 mega pixels.

[2015-05-19 09:58] arve0 commented on #1516
Or, window, is that the number of bins? Then I guess 255, 8 bit image.

[2015-05-19 10:02] arve0 commented on #1516
Increasing selem to 21x21 increases the numba speed bump (~2x faster).

[2015-05-19 18:40] grlee77 commented on #1514
@stefanv, @ahojnnes
Here are a couple of concrete examples.

In the first example below, when order=0, 1, or 3 `rescale` will eventually call the `_warp_fast` function from `skimage.transform._warps_cy.pyx` which in turn calls functions from `_shared/interpolation.pyx`
The order 2, 4, 5 cases, call scipy.ndimage.map_coordinates() instead.

[code]
![interp_example2](https://cloud.githubusercontent.

[2015-05-19 23:58] stefanv commented on #1514
@rgommers @jaimefrio As reported here, there is an inconsistency with scipy w.r.t interpolation around image edges.  When we hit a coordinate outside of the image and mode is set to 'constant' with `cval` 0, then we simply take that point to be zero and complete the interpolation.  Scipy, on the other hand, does not even try to complete the interpolation, but immediately returns `cval`.  Should th

[2015-05-19 23:59] #1516 closed

[2015-05-20 00:04] stefanv commented on #1512
Is there anyone who has Airspeed Velocity set up?  It would be quite useful at this point.

https://github.com/spacetelescope/asv/

@yarikoptic, any advice?

[2015-05-20 00:39] jni commented on #1512
@stefanv using asv reliably needs a dedicated server, in my understanding, so that the benchmarks are comparable across timepoints. (I have not yet tried this myself.)

I met someone at MPUG (Melbourne Python Users Group) who has been playing around with asv. I've pinged him over email because I don't know his Github handle. He might be able to contribute here!

[2015-05-20 01:21] stefanv commented on #1512
Perhaps the astropy team would be willing to help, @cdeil?

[2015-05-20 01:56] blink1073 commented on #1509
@ThunderShiviah, glad to be of service.  Can we close this one?

[2015-05-20 02:01] blink1073 commented on #1480
@pierreroudier, perhaps try removing the entire `scikit-image` directory and starting over?  You can do it all in one go with `pip install git+https://github.com/scikit-image/scikit-image` (this will install directly into your site-packages).

[2015-05-20 02:36] koenvb commented on #1512
Happy to contribute here. I played around a bit with asv but as noted in the [talk from scipy 2014] (https://www.youtube.com/watch?v=OsxJ5O6h8s0) the benchmarks are tied to the particular machine and software.  Next is the benchmarks you want to run. This is the [repo](https://github.com/astropy/astropy-benchmarks) with benchmarks from astropy using asv.  The setup is straightforward and it just c

[2015-05-20 03:45] #1509 closed

[2015-05-20 05:45] jni commented on #1512
@koenvb how about you fork scikit-image and define a couple of benchmarks? The [gallery](http://scikit-image.org/docs/dev/auto_examples/) is a good place to start.

[2015-05-20 06:21] anderspitman commented on #1512
@koenvb happy to share our experience setting up asv if you have any questions. It's a great project and pretty straight forward to set up, but there are definitely some subtleties, and the operation can be a bit opaque and difficult to debug when something goes wrong.

[2015-05-20 07:20] cdeil commented on #1512
I've only played around with asv. For Astropy it's @mdboom and @astrofrog that have the most experience with asv and I think are running cron jobs to continuously run asv.

Yes, you need to find a dedicated machine to run the benchmarks. But that can come later, getting familiar with asv and implementing a useful set of benchmarks can come first.

You also need to discuss a bit about what kind of

[2015-05-20 09:45] arve0 commented on #1516
Using the same algorithm (sliding window) numba outperforms cython with almost 4x for any selem size: http://nbviewer.ipython.org/github/arve0/master/blob/master/numba%20pop_bilateral.ipynb#pop-speed-comparison

[2015-05-20 09:55] arve0 commented on #1516
For those familiar with the `rank.core_cy._core` algorithm, here is mine:

*Note*: `img` should be padded beforehand `p = selem_size//2; np.pad(img, ((p+1,p),(p,p)))`
[code]

[2015-05-20 11:59] sciunto commented on #1512
Probably most of you are familiar with the GIL, but I felt the need to learn more about it. I found this article well done, with an enlightening video. http://lbolla.info/blog/2013/12/23/python-threads-cython-gil

[2015-05-20 15:52] kevin-keraudren commented on #803
Hi,

Here is a demo of before/after bug fix (in addition to the test I added in `scikit-image/skimage/morphology/tests`):

[code]
Before:
![bad](https://cloud.githubusercontent.com/assets/802153/7730056/01d9e5da-ff10-11e4-8082-3a909ecdc66b.png)

After:
![good](https://cloud.githubusercontent.com/assets/802153/7730061/09af5cd6-ff10-11e4-9abb-7ce039678302.png)

[2015-05-20 16:08] LeeKamentsky commented on #803
It looks as though that was my intent at some point. There's one more tweak - if you use a 3x3 structuring element, you want the diagonals to get processed last. Thanks for looking at this. I'll post links to the test and fix in CellProfiler

[2015-05-20 16:12] ahojnnes opened #1521 "np.random and thread-safety"
`np.random` is not thread-safe, wherever we use `np.random` we should replace it with a `np.random.RandomState`.

I encountered this while doing the `nogil` conversion. I fixed it in BRIEF.

[2015-05-20 20:10] stefanv commented on #1516
@arve0 llvmlite has a `llvm3.6` branch that did the trick!

[2015-05-20 20:12] arve0 commented on #1516
Ah, did not know of that.

[2015-05-20 20:52] LeeKamentsky commented on #803
I took a slightly different tack:
https://github.com/CellProfiler/CellProfiler/commit/b15c5facc37c9e06d7d469da691bb45edea34b63

The age is reset as you enter a plateau and is incremented as you advance into a plateau. I think this is closer to mimicing the FIFO of Vincent/Soille. There is a tweak I added that uses the distance of a structuring element from the structure's center as a minor qualifi

[2015-05-20 22:29] stefanv commented on #1521
Could you give some more detail on how you discovered this?  I.e., what were the symptoms you saw.  Was it the new parallel tests?

[2015-05-20 22:55] stefanv commented on #803
Also, let's agree on a common fix so that our two libraries are in sync.  That way, we can fix future bugs again in the same productive way.

[2015-05-21 00:12] kevin-keraudren commented on #803
@LeeKamentsky I noticed you did not include a test for the new feature you added: In the test you added, you used a 3x3 cross structuring element. I would expect the output to be the same as before with a 3x3 cross, and the manhattan distance weighting would only play a role with structure elements starting from a 3x3 square.

May I suggest the following test, which currently fails with 7209e1f33b

[2015-05-21 00:39] ahojnnes commented on #1521
`np.random` seems to use the same PRNG. `RandomState` explicitly instantiates a new PRNG.

Just have a look at "nogil" PR and the BRIEF commit for an example.

[2015-05-21 03:03] stefanv commented on #1521
I understand--but how did you discover this--i.e. what was the mechanism by which you realised this?  We should note these things down for the potential blog post.

[2015-05-21 03:10] ahojnnes commented on #1521
Our threaded test case decorator caused the fail.

[2015-05-21 04:08] jni commented on #803
@kevin-keraudren @LeeKamentsky Glorious!!! Thank you! =D I'm over the moon. This thing has been nagging at me since I posted the issue! So simple yet so annoying! =P

@LeeKamentsky can you explain your solution a bit more, perhaps with a worked example? I don't understand why you need to keep track of plateaus — what matters is the relative age of points being added, and this should not change whe

[2015-05-21 07:06] stefanv commented on #1521
Excellent, that is what I was hoping!

[2015-05-21 14:25] LeeKamentsky commented on #803
@kevin-keraudren - I'm afraid test 11 is going to fail unless we were to push the operations to set the pixels onto the priority queue (currently marker 1 sets all of the pixels of its neighbors, then marker 2 sets all of the pixels of its neighbors except for the ones set by marker 1). The algorithm could work like this:
* push all of the seeds on the queue
* loop (exit when queue is empty):
  *

[2015-05-21 15:17] LeeKamentsky commented on #803
OK - last experiment until Tuesday. I ordered the structuring elements by Manhattan distance and then implemented both @kevin-keraudren 's age-by-insertion time and my age-by-propagation and ran the last test with an 8-connected structuring element. Both pass. I say Kevin's age-by-insertion is just plain simpler and easier for everyone to understand, so we should go with that is my vote.

Here's t

[2015-05-21 18:01] stefanv commented on #803
Thanks for the in-depth investigation, @LeeKamentsky.  @kevin-keraudren, I will leave the PR in your capable hands.

[2015-05-21 20:51] JDWarner commented on #1512
Closed by #1519

[2015-05-21 20:51] #1512 closed

[2015-05-21 20:54] mrocklin commented on #1512
Well that was fast!

[2015-05-21 21:16] rgommers commented on #1514
@stefanv the ``ndimage.map_coordinates`` behavior is what I'd expect (maybe because I'm used to it). Also, I'm not even sure what "complete the interpolation" even means. If you've filled the actual point you're interpolating to with ``cval``, then any order interpolation still should yield ``cval`` as the final value. The figure just above looks like ``cval`` is completely ignored, but I guess I'

[2015-05-22 02:14] stefanv commented on #1514
Perhaps this sketch will help to identify the issue:

![skimage_interpolation](https://cloud.githubusercontent.com/assets/45071/7762872/9caa80c8-ffed-11e4-9530-a03ab8fc26ef.png)

[2015-05-22 09:08] jni commented on #1514
@stefanv @rgommers an alternate example: `image = np.ones((2, 2))`. [A pixel is not a little square](http://alvyray.com/Memos/CG/Microsoft/6_pixel.pdf), but rather a point sample at integer coordinates. So @stefanv argues that `cval=0` means that the samples extending the grid e.g. at (-1, 0) and (-1, 1), are taken to be equal to 0, but a sample at (-0.5, 0.5) needs to be interpolated. Using a lin

[2015-05-22 11:43] kevin-keraudren commented on #803
Hi @stefanv , I understand from @LeeKamentsky 's last message that the PR is ready to be merged as it is. However the code in the master branch of CellProfiler now corresponds to the "age-by-propagation" approach, so you might prefer to wait until it is finalized so that both projects are kept in sync.

[2015-05-22 16:53] arve0 commented on #1506
I'm pretty sure this problem will go away (updating numpy, scipy, etc) if one does not define version (e.g. `>=1.6.1`) in `setup.py`. The dependency will be met if scipy is installed and only `scipy` is required. This has been discussed several times, but declined as one did not want to define dependencies in two places (or write a requirements.txt parser - which I think is silly for 7 requirement

[2015-05-22 21:10] grlee77 commented on #1514
@stefanv, @jni, @rgommers
I thought about this some more and I think using `cval` in the interpolation is technically correct for warping to coordinates outside the image range. As a second point of agreement, I get the same result as in scikit.image's linear interpolation when using OpenCV's remap function:

[code]
![opencv_result](https://cloud.githubusercontent.com/assets/6528957/7779580/be1987

[2015-05-22 21:52] blink1073 commented on #1506
From the `pip` documentation:

https://pip.pypa.io/en/latest/reference/pip_install.html#cmdoption-U

"Upgrade all specified packages to the newest available version. This process is recursive regardless of whether a dependency is already satisfied."

[2015-05-22 21:52] blink1073 commented on #1506
@arve0, even if we do not specify the version, we will still have this mess.

[2015-05-23 07:12] arve0 commented on #1506
@blink1073 Sorry, I'm not following you. How will `pip install scikit-image` (*without* -U) be a mess, when all dependencies are declared?

This implies that the user either will get compiled wheels for his operating system (true for all dependencies on Mac and windows I believe), or has a system with compiler (should be added to the docs how the most popular, read Ubuntu, get that installed).

Ar

[2015-05-23 07:18] arve0 commented on #1506
For people wanting to upgrade, that will be `pip install --upgrade --no-deps scikit-image`, but the original poster was having trouble *installing*, not upgrading.

[2015-05-23 12:19] blink1073 commented on #1506
But when we add a new dependency (like dask), that would not work. 

—
Sent from Mailbox

On Sat, May 23, 2015 at 2:18 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-05-23 12:21] blink1073 commented on #1506
We could recommend `pip uninstall scikit-image; pip install scikit-image`

—
Sent from Mailbox

On Sat, May 23, 2015 at 2:18 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-05-23 12:23] arve0 commented on #1506
or `pip install --upgrade --no-deps scikit-image; pip install scikit-image` (from the pip manual).

[2015-05-23 12:27] blink1073 commented on #1506
So that should work today without any changes to our setup.py, no?

[2015-05-23 12:40] arve0 commented on #1506
All dependencies will have to be added (scipy and numpy), but versions should be stripped to avoid upgrading system-installed packages like scipy, matplotlib, etc.

[2015-05-23 12:48] arve0 commented on #1506
In other words; dependencies will be either soft dependencies or hard dependencies.

- Hard dependencies will require a specific version installed (this should in a perfect world only consist of python-only packages)
- Soft dependencies will only require the package (and should not force upgrades)

E.g.
- six is a hard dependency (we need above 1.3)
- numpy is a soft dependency

Might add; there i

[2015-05-23 12:59] blink1073 commented on #1506
@arve, the listed versions *are* hard dependencies in that we rely on functions or an API provided by those versions or the version is the minimum we can test against. 

—
Sent from Mailbox

On Sat, May 23, 2015 at 7:49 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-05-23 13:03] arve0 commented on #1506
Well, then one should just replace

[code]

with

[code]

[2015-05-23 13:06] arve0 commented on #1506
Haha, sorry! I mean, remove it! :laughing:

[2015-05-23 13:14] blink1073 commented on #1506
Agreed, with the new suggested incantation we can certainly simplify setup.py, can to take a crack at the fix and the documentation update?

—
Sent from Mailbox

On Sat, May 23, 2015 at 8:06 AM, Arve Seljebu <notifications@github.com>
wrote:

[2015-05-23 13:16] arve0 commented on #1506
I can take a look at it in the evening (GMT+1).

[2015-05-23 13:17] blink1073 commented on #1506
Thanks brother, keep keeping us honest.  😜

[2015-05-23 13:44] stonebig commented on #1316
Hi,

I see [DEPENDS.txt](https://github.com/scikit-image/scikit-image/blob/master/DEPENDS.txt) still write PyQt4 (only), shouldn't it change ?

[2015-05-23 14:09] blink1073 commented on #1316
Would you like to add a note about PyQt5 in a PR?

—
Sent from Mailbox

On Sat, May 23, 2015 at 8:45 AM, stonebig <notifications@github.com>
wrote:

[2015-05-23 16:18] stonebig commented on #1316
Please do, I'm not really confident in any PyQt5 matters I notice.

[2015-05-23 21:30] yankov opened #1525 "Crop returns zero-array"
Scikit-image 0.11.3

[code]

[2015-05-23 21:46] JDWarner commented on #1525
This is expected behavior. The second argument to `crop` is the amount you want to crop; it shares identical conventions with the `pad_width` argument to `pad`. When you pass a single value to that argument, it is interpreted as the amount you want to trim symmetrically from _all axes_.

With a (512, 512, 3) image, the most you could meaningfully crop would be 255. Beyond that, you'll get a size-z

[2015-05-23 21:46] #1525 closed

[2015-05-26 12:22] ajaybhat opened #1528 "Trainable COSFIRE Filters"
Hi,
I would like to contribute [COSFIRE filter](http://www.cs.rug.nl/~george/articles/PAMI2013.pdf) to scikit-image, per the Request section. I need some help with this. As I understand it, the user facing filter function needs to be added into skimage/filters while the implementation needs to be added into scipy/ndimage/filters.py?

[2015-05-26 15:00] sschnug opened #1529 "Chaining issue: X -> Grey -> Resize -> Gaussian !!->!! Median"
Hi, i'm using skimage for the first time (one day of experience; it looks like a very very interesting library) for implementing a perceptual hash algorithm on images.

Playing around with my prototype-implementation (not that complex), **i observed the following error**:
[code]
I found the open issue #1334, but this didn't help and i think that my chain may be even simpler.

Let's look at the **c

[2015-05-26 15:08] JDWarner commented on #1528
Only a couple filters work that way, where we re-expose functionality from the SciPy NDImage subpackage. Generally speaking the best path forward is to place the entire implementation into its own file in our package unless it's already available in `scipy.ndimage`.

Also, I feel `skimage.features` would be a better home for COSFIRE. It is described as a "filter" in the paper, but its goal is keyp

[2015-05-26 15:21] ajaybhat commented on #1528
Thanks for the advice! I notice there are a lot of <code>_cy.c</code> and <code>_cy.pyx</code> files corresponding to the <code>.py</code> features. Are they also something I have to code up or are they generated files?
Also, can I be assigned this issue?

[2015-05-26 15:36] vighneshbirodkar commented on #1528
@ajaybhat `.pyx` files are written by developers. `.c` files are generated by Cython. Have a look at
http://docs.cython.org/src/tutorial/cython_tutorial.html

[2015-05-26 15:46] JDWarner commented on #1528
@ajaybhat Generally speaking both of those files are Cython, which allows additional performance when compared to native Python by explicitly typing variables.

When implementing a new feature, jumping straight to Cython is not ideal. Especially if Cython is new to you. A working example in Python lets you debug and profile easier than Cython does. Then, if (and only if - this is not always requir

[2015-05-26 23:34] stefanv commented on #1528
/cc almarklein

Please also see this mailing list thread: https://groups.google.com/d/msg/scikit-image/GI1HpfaN030/k6CS6ZkEC8wJ

[2015-05-26 23:40] stefanv commented on #1529
@sschnug Could you please attach an example image for which the above fails?  Thanks!

[2015-05-27 18:39] ajaybhat commented on #1297
As I understand it, the 'score' simply means the difference between the index of a matched descriptor pair. So for the match <code>[[0, 2], [1, 1], [3, 8]</code> the scores would be <code>[2, 0, 5]</code> is that right?

[2015-05-27 18:48] ahojnnes commented on #1297
That depends on the distance metric you use..., also you need to sets of features to compute the distances. Where is the second set?

----- On May 27, 2015, at 11:39 AM, Ajay Bhat notifications@github.com wrote:

[2015-05-27 18:52] ajaybhat commented on #1297
<code>
np.array([[1, 2], [3, 4], [4, 5], [6, 2], [1, 2], [7, 2], [1, 2], [3, 4], [2, 2]])
np.array([[4, 2], [3, 1], [1, 2], [4, 2], [4, 2], [3, 2], [0, 2], [1, 2], [6, 2]])
</code>
This is the features being used which gives the match <code>[[0, 2], [1, 1], [3, 8]]</code>. Scores for metric <code>None</code> should be <code>[2, 0, 5]</code>.
What will it be for other metrics?

[2015-05-27 20:20] sschnug commented on #1529
I constructed a minimal example (5 lines) which crashes for me.
I'm afraid, that i can't attach my test-image because of shady legal-stuff, but i hope, that a link should be enough for now (maybe i will test some "standard images" later!)

## Code
[code]
## Image link
[image](http://www.videogamesblogger.com/wp-content/uploads/2011/03/silent-hill-revelation-3d-movie-screenshot.jpg)

## imagemagick

[2015-05-27 20:46] stefanv commented on #1529
Can you generate a test image, e.g.

[code]

This example runs fine on my machine.

[2015-05-27 23:36] sschnug commented on #1529
That was some task you gave me :-)
And i don't understand, why my linked image is not failing for you.
Are you using some newer development-version?

Well, the following code fails for me with Win7 & Linux (inside VirtualBox).
It was found by iterating random-seeds until some error occurs -> 545 iterations were needed!

[code]

**Assumptions made:**
- arrays with shape (x,y,3) and values within ra

[2015-05-28 01:56] JDWarner commented on #1529
I do get the same traceback on master. From debugging inspection, the root cause is clear:

[code]

The issue is rounding error in floating point calculations resulting in a maximum value that is _slightly_ out of range (in this case, it is 4e-15 greater than 1).

Investigating further, the call producing this is `gaussian_filter`. The behavior appears to resolve by setting `mode='reflect'` (the d

[2015-05-28 12:06] sschnug commented on #1529
I will have a look at the modes you mentioned, but for now, i have some follow-up questions on "In any event, floating point errors are going to be unavoidable in complicated, compound workflows.":

- Is it desired to let the program crash, if rounding-errors in internal filters are happening? (my opinion: this error above is not a rare event by any means!)?
- Is the user responsible to ensure the

[2015-05-28 13:03] jni commented on #1529
I'm with @sschnug. We explicitly define what we consider "valid" images and we do this explicitly so that functions can be chained, exactly as @sschnug did. There's a few design decisions to make but I think "floating points are hard, let's do nothing" is not an option.

Possible options include:

- having all functions clip output to [-1, 1] when the input was a valid image. (As I've mentioned be

[2015-05-28 19:32] JDWarner commented on #1529
I strongly favor the first option, but it isn't a simple one. The second requires a fuzzy range around the true, valid range which is magically assumed to be incorrect and then gets clipped. This may not be the case, thus our magic would be incorrect.

A `@clip_if_input_valid` decorator would be ideal. However, it could only be applied to functions where it can be proven that for valid inputs, val

[2015-05-28 22:24] stefanv commented on #1529
How about a simple rule that can be applied consistently: clip to the maximum input value and document it as such.

[2015-05-28 22:37] JDWarner commented on #1529
Won't work when dealing with higher order interpolation which can over/undershoot, by definition breaks contrast adjustments, also problematic if the output dtype is different from the input dtype (e.g., is that 50% of the range [-1, 1] or 50% of the range [0, 1]?).

Seems like a simple issue, but this is very non-trivial.

[2015-05-28 23:37] stefanv commented on #1529
If you change the dtype, you change the range in which you function, so if the max value was 90% of the old range, then clip to 90% of the new range.  If interpolation overshoots, we can have a ``clip=True`` flag, on by default.

[2015-05-28 23:38] stefanv commented on #1529
Actually, I believe it's called ``preserve_range``, according to previous PRs.

[2015-05-29 00:29] jni commented on #1529
@stefanv yes, `preserve_range`, so @JDWarner if you contrast-adjust a uint8 image, you convert to float, by definition it gets cast to [0, 1] unless `preserve_range` is set to `True`. The decorator can be aware of this keyword.

At any rate, I'm not sure it can catch *all* use cases. ie maybe a decorator is not the right approach compared to a function-specific fix.

[2015-05-29 06:59] jni commented on #803
Fixed by #1530

[2015-05-29 06:59] #803 closed

[2015-05-29 12:58] vighneshbirodkar commented on #1529
How about we change `img_as_float` such that, if the input is a floating point image, all values between `1` and `1 + epsilon` will be rounded to `1` and raise an error when anything is above `1 + epsilon`. Anyone who expects a floating point image can use that as a validator.

[2015-05-29 15:07] JDWarner commented on #1529
@vighneshbirodkar I would be fine with that approach, except that floating point math compounds this error such that every additional operation increases the combined error in the result. We don't track the number of individual operations in each function, so epsilon won't save us here.

E.g., the result of this call to `gaussian_filter` is high by `4e-15` while `np.finfo(float).eps` is `2.2e-16`.

[2015-05-29 15:38] #1506 closed

[2015-05-29 15:42] vighneshbirodkar commented on #1529
@JDWarner By `epsilon` I did not mean the minimum possible precision. It's only a small number, like `0.000001` by default.

[2015-05-29 18:29] stefanv commented on #1529
I don't think that sort of non-linearity is safe to implement unless
very explicitly documented.  But as Josh mentioned, it can introduce and
exacerbate subtle errors.

[2015-05-31 07:49] jni commented on #1529
@stefanv what about clipping at 1 by default with a warning? I think this is preferable to the current behaviour of crashing and burning.

(The warning should include the min/max values of the array so that the user knows when it is safe to ignore.)

[2015-05-31 17:22] stefanv commented on #1529
@jni Clipping + preserve_range sounds OK to me.

[2015-06-03 08:56] christian-rauch opened #1538 "Undefined 'min_mask' in "get_min_ncut""
In my current installation (scikit-image 0.11.3) I get:
`UnboundLocalError: local variable 'min_mask' referenced before assignment` in line 208 of future/graph/graph_cut.py (function `get_min_ncut`).
This only can happen if `cost` keeps the value `np.inf`. `min_mask` will never be assigned before it is returned.

To fix this `min_mask` should be initialized properly at the beginning of the loop.

[2015-06-03 09:29] vighneshbirodkar commented on #1538
Thanks for pointing this out. I will try to fix this within the next day or two.

[2015-06-03 09:32] vighneshbirodkar commented on #1538
@christian-rauch Can you share the code that lead to this ? I am surprised that `cost` was never less that infinity.

[2015-06-03 09:40] christian-rauch commented on #1538
@vighneshbirodkar That is difficult as I am using the library within a more complex framework. I will try to identify the image data and the parameters with which this error is caused. At least I can tell that this is happening for calling `cut_normalized` with larger thresholds on a RAG with weights from similarity mode. E.g., I was testing with thresholds [0.05, 0.1, 0.2, 0.5] and it happened wi

[2015-06-03 09:57] vighneshbirodkar commented on #1538
@christian-rauch In any case I think putting the necessary check won't cause any harm. If possible, can you tell me what exactly are you using this for (just for my curiosity) ?

[2015-06-03 12:09] christian-rauch commented on #1538
Those are the parameters given to get_min_ncut(ev, d, w, num_cuts) that cause the error:
ev:
  [ nan  nan  nan]
d:
  (0, 0)	3.0
  (1, 1)	3.0
  (2, 2)	3.0
w:
  (0, 0)	1.0
  (1, 0)	1.0
  (2, 0)	1.0
  (0, 1)	1.0
  (1, 1)	1.0
  (2, 1)	1.0
  (0, 2)	1.0
  (1, 2)	1.0
  (2, 2)	1.0
num_cuts:
  10

[2015-06-03 14:01] christian-rauch commented on #1538
@vighneshbirodkar The nan eigen vector results from the normalization of the vector whose values are all equal (at "ev = _ncut.normalize(vectors[:, index2])" in "_ncut_relabel").

[2015-06-03 14:09] vighneshbirodkar commented on #1538
I remember @stefanv pointing this out and @jni suggested to let that remain as error. Seeing that you ran into this problem, we have to fix this.
The bigger question is, what is the normalized value given that all your samples are equal ?

[2015-06-03 14:54] christian-rauch commented on #1538
@vighneshbirodkar I did not follow the whole algorithm but I think it is resulting from the weight matrix having all weights equal to 1.0 at some place in the subdivision of the graph. So the questions is basically how the original algorithm is dealing with this situation.

[2015-06-04 15:23] hunter-87 opened #1541 "crash in CLAHE adapthist"
Hi,
i've found a possible bug in the adapthist implementation:
to replicate the bug, it happens with the following input:

function:  skimage.exposure.equalize_adapthist
with input
any image of shape (1000, 236)
tile_num_x = 12
tile_num_y = 50

it crash with error:
[code]
reading the code i think is in the part where w_pad and h_pad is calculated ( in this case w_pad is -2)

i tried to fix it to a

[2015-06-04 20:02] mhejrati commented on #1335
I could fix it by removing the scikit folder and reinstalling. The package installer does not clean up completely when you uninstall.
So here is how I did it:
rm -rf Enthought/Canopy_64bit/User/lib/python2.7/site-packages/skimage
pip install scikit-image
and it worked.

[2015-06-04 20:48] JDWarner commented on #1335
This is something that rarely happens when upgrading from specific older versions. At one point we had a couple Python function names which now map to a Cython function of the same name or vice versa, or where a Cython `*.pyx` or `*.pyd` file was moved. Upgrading drops new, correct files in all the proper places, but old compiled files may hang around. Sometimes they get searched first, and then t

[2015-06-04 20:48] #1335 closed

[2015-06-06 02:03] blink1073 commented on #1541
@hunter-87, this is definitely a bug.  We need to handle the image partitioning better overall, with the option to specify the tile size instead of the number of tiles.  FYI, in the current implementation, the number of tiles is clipped at 16.

[2015-06-06 15:49] blink1073 commented on #1541
@stefanv, here is my proposal:

Use `view_as_window` instead of `view_as_blocks`, to allow the windows to overlap.
Deprecate the `ntiles*` kwargs in favor of `kernel_size : integer or 2-tuple, optional`.

The downside to `view_as_window` is that if the `kernel_size` is not square, you can have a substantial overlap in the dimension with the larger size, since we would have to use the smaller of th

[2015-06-06 15:53] blink1073 commented on #1541
This also relates to mailing list post:  https://groups.google.com/forum/#!topic/scikit-image/2elntOClGOY

[2015-06-06 21:01] #1373 closed

[2015-06-06 21:02] ahojnnes commented on #1332
Closing as resolved, reopen if necessary.

[2015-06-06 21:02] #1332 closed

[2015-06-06 21:03] #1238 closed

[2015-06-06 21:09] ahojnnes commented on #1224
This should be fixed since we have the `clip` and `preserve_range` parameters in https://github.com/scikit-image/scikit-image/blob/master/skimage/transform/_geometric.py#L1160 ?

Closing this issue, please reopen if necessary.

[2015-06-06 21:09] #1224 closed

[2015-06-06 23:36] joaquincasares opened #1544 "pip install is broken"
b6aa3584394e67478907f2d2cc22b7477d037f93 seems to have introduced a regression where pip installs break on `ImportError: No module named scipy`.

[2015-06-07 01:20] jni commented on #1541
@blink1073 I've only been following this superficially, but why can't the step be different in each dimension as well?

[2015-06-07 01:21] #1538 closed

[2015-06-07 01:39] blink1073 commented on #1541
@jni, `view_as_window` takes a single integer for `step`, which becomes the stride of the new array.

[2015-06-07 01:39] blink1073 commented on #1541
Or I should say it influences the stride of the new array.

[2015-06-07 01:41] blink1073 commented on #1544
@joaquincasares, how are you installing exactly?  By using `pip install .` on a local clone of the repo?

[2015-06-07 07:19] stefanv commented on #1541
Should we change step to accept a tuple of ndim?

[2015-06-07 07:43] blink1073 commented on #1541
Looks like our friends at sklearn already have it implemented: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/image.py#L242

[2015-06-07 09:08] JoyMonteiro commented on #1478
@stefanv sorry for returning to this so late, but I realised that the low memory version you talked
about was not the one I mentioned in the previous post. Tried looking at the mailing list archives, but searching for MCP does not show up anything of relevance.

are you talking about shortest_path() (https://github.com/scikit-image/scikit-image/blob/master/skimage/graph/spath.py) ?

[2015-06-07 10:28] jni commented on #1541
Allowing tuple input seems both feasible and desirable.

[2015-06-07 15:01] stefanv commented on #1478
Yes, exactly: constructing a cost matrix and then using dynamic programming to calculate the cost.

[2015-06-07 15:43] JoyMonteiro commented on #1478
Tried going through the mailing list archives regarding this function, and it is not clear (even looking at the code) how I can route from a point to another point, both specified. I think this was also part of the attraction in introducing the MCP class later on. Any tips on how to use it for such an application?

[2015-06-07 16:22] ozak commented on #1478
@JoyMonteiro have you updated scikit-image? We have changed part of the code to try to make it more memory efficient. That should help in cases like yours or mine.

[2015-06-07 16:26] JoyMonteiro commented on #1478
oh, I have not. I'm downloading 0.11.3, is that the version you are talking about?

[2015-06-07 16:59] JoyMonteiro commented on #1478
Yes, it does make a computer suffer a little less. I was looking at mcp.pyx, and I noticed that
the cost array was being cast as float64. I don't need that kind of precision, so will there be
a significant memory saving if I make that float32? or is the major memory consumption due
to the data structures being created in __init__()?

[2015-06-07 18:45] ozak commented on #1478
It is included in the current development version as far as I know.
As far as I can understand the code most of the memory requirements are in init(), which is where hopefully now there is some efficiency gains. I had stated looking at the parallellization issue, but have not had much time to work on it. One thingyou can do is actually convert the raster to a smaller resolution and do the computat

[2015-06-08 15:12] joaquincasares commented on #1544
Using pip install without a local clone. I just realized for Ubuntu I should use `apt-get`.

If that's the case, feel free to close out the issue. Thanks for looking into this!

[2015-06-08 15:23] blink1073 commented on #1544
@joaquincasares, `apt-get` will get you a fairly old version.  You can use `apt-get` to get the old version and its dependencies (including `scipy`), and then use `pip install scikit-image==0.11.3`.

[2015-06-08 19:48] JDWarner commented on #1514
I agree with @grlee77 - I would use `'reflect'` here and reasonably expect a simple rescaling algorithm to default to that behavior.

[2015-06-08 21:27] stuarteberg opened #1548 "skimage.external.tifffile fails to use the compiled tifffile extension"
**Update:** As noted below, #1549 fixes the original problem described here, but we've run into a second issue which also prevents the `_tifffile.so` extension from loading properly. Explanation below.

----

The version of `tifffile.py` included in `skimage.external` is slightly out-of-date with respect to the [version on the author's website](http://www.lfd.uci.edu/~gohlke/code/tifffile.py.html)

[2015-06-08 22:24] JDWarner commented on #1548
Thanks for the report, @stuarteberg - I believe I just pushed a PR with a fix. Can you verify #1549 resolves the problem?

[2015-06-10 21:28] stuarteberg commented on #1548
@JDWarner, sorry for the delayed response.  I took a look at your fix today (which I see was already merged).  To my surprise, your change wasn't enough to fix the problem.

Or rather, there is actually a second problem.  You fixed the typo, but there is an additional exception that prevents the `_replace_by` function from working properly.  The tifffile code assumes that `_tifffile.so` can be fou

[2015-06-10 21:51] JDWarner commented on #1548
Interesting - ping @blink1073

[2015-06-11 13:37] blink1073 commented on #1548
I've got an eye infection, I'll be out of commission for a bit. 

—
Sent from Mailbox

On Wed, Jun 10, 2015 at 4:51 PM, Josh Warner <notifications@github.com>
wrote:

[2015-06-11 15:49] hadim opened #1552 "measure.approximate_polygon does not approximate first and last point"
I am not sure wether it's a bug or the excepted behaviour but when I use `approximate_polygon` on a polygon, the returned polygon does not approximate the first and last point of the original polygon.

Which result of an approximated polygon for all point excepted for the first and the last.

Is that something excepted with algorithm ?

[code]

[code]

![figure_1](https://cloud.githubusercontent.c

[2015-06-11 23:05] stefanv commented on #1552
That looks suboptimal; I am away from internet for a while--@ahojnnes, can you take a look?

[2015-06-12 11:34] ivoflipse commented on #594
Is there anything I can do to help to get a more optimised version merged in?

We have some computations that make repeated calls to the current hog function and its one of the main bottlenecks for speeding it up.

[2015-06-13 20:45] blink1073 commented on #1548
@stuarteberg, you raise a good point.  In the PyPI package, both modules are copied to site-packages, so `_tifffile.so` is available on the path.  I will adjust the `skimage` version to be a package to avoid this problem.

[2015-06-13 22:04] blink1073 commented on #1548
@stuarteberg, I just went ahead and made the PyPI version use a package, which makes it easier to keep us in sync.  See #1553.

[2015-06-14 12:06] antonio19812 opened #1556 "how to install scikit-image"
I have to work with python on suse 13.2 in a a VM running in windows.
I installed eclipse and pydev to use python 2.7 and everythingch l is working.
Which are the correct steps to install scikit image with all its requirements?? I can not understand it for suse in the documentation. Please help!

[2015-06-14 12:28] emmanuelle commented on #1556
Hi Antonio, as described in http://scikit-image.org/download#linux-and-osx you can use pip install
``pip install -U scikit-image``.

[2015-06-14 12:36] antonio19812 commented on #1556
And this should install scikit and the other required packages???

[2015-06-14 13:12] emmanuelle commented on #1556
yes!

[2015-06-14 13:14] antonio19812 commented on #1556
I will try, thanks so much!!!

[2015-06-14 14:19] antonio19812 commented on #1556
I did it but I obtained an error , it is this one from terminal :

ntonio@linux-rosd:/home> pip install -U scikit-image
Downloading/unpacking scikit-image
  Downloading scikit-image-0.11.3.tar.gz (18.6MB): 18.6MB downloaded
  Running setup.py (path:/tmp/pip_build_antonio/scikit-image/setup.py) egg_info for package scikit-image
    Traceback (most recent call last):
      File "<string>", line 17,

[2015-06-14 15:34] stefanv commented on #1556
Unfortunately, that means that numpy is not yet installed properly. Try the
pip install command with numpy first?

[2015-06-14 15:39] antonio19812 commented on #1556
I have just tried
pip install numpy

and these are the last lines I obtained  :
File "numpy/core/setup.py", line 293, in check_types

    "Cannot compile 'Python.h'. Perhaps you need to "\

SystemError: Cannot compile 'Python.h'. Perhaps you need to install python-dev|python-devel.

what should I do?

[2015-06-14 16:31] JDWarner commented on #1556
This error means - as it states - that your system Python lacks some of the development headers needed to install NumPy. It is telling you to install python-dev or python-devel using your distribution's package manager first.

[2015-06-14 18:01] antonio19812 commented on #1556
unfortunately I verified from yast software manager that I have python-devel yet installed, so I wonder why it says I need to install it

[2015-06-14 21:56] blink1073 commented on #1556
@antonio19812, can you try installing `python-scipy` with yast?  This will also install `numpy`.

[2015-06-14 22:02] antonio19812 commented on #1556
The funny thing is that I installed scipy with yast and when I open python in eclipse and I try to use both scipy and numpy they both work, but then in the installation of scikit-image I receive that message!

[2015-06-14 22:10] blink1073 commented on #1556
Hmm, perhaps you are in a virtual env?  Can you post the output of these commands?:

[code]

[2015-06-14 22:11] antonio19812 commented on #1556
yes, I execute them and do it, if you can help me it would be great...

[2015-06-14 22:12] blink1073 commented on #1556
Can you paste the output here?

[2015-06-14 23:04] antonio19812 commented on #1556
this is what I got  :

antonio@linux-rosd:~> echo $VIRTUAL_ENV

antonio@linux-rosd:~> which pip
/usr/bin/pip
antonio@linux-rosd:~> which python
/usr/bin/python
antonio@linux-rosd:~>

[2015-06-14 23:09] blink1073 commented on #1556
And `python -c "import numpy"`?

—
Sent from Mailbox

On Sun, Jun 14, 2015 at 6:04 PM, antonio19812 <notifications@github.com>
wrote:

[2015-06-14 23:11] antonio19812 commented on #1556
this is :

antonio@linux-rosd:~> python -c "import numpy"
antonio@linux-rosd:~>

[2015-06-14 23:12] antonio19812 commented on #1556
that is strange... I obtained nothing

[2015-06-14 23:15] antonio19812 commented on #1556
Otherwise I can set a new VM again and I would ask you the best way to install scikit and all the requirements correctly :)

[2015-06-14 23:31] JDWarner commented on #1556
No output means NumPy was imported without errors.

`pip install -U scikit-image` should take you from there, or at least it shouldn't give you the same error message.

[2015-06-14 23:51] antonio19812 commented on #1556
this is the output after pip install -U scikit-image :

ntonio@linux-rosd:~> pip install -U scikit-image
Downloading/unpacking scikit-image
  Downloading scikit-image-0.11.3.tar.gz (18.6MB): 18.6MB downloaded
  Running setup.py (path:/tmp/pip_build_antonio/scikit-image/setup.py) egg_info for package scikit-image
    Traceback (most recent call last):
      File "<string>", line 17, in <module>

[2015-06-15 01:15] blink1073 commented on #1556
Weird, how about `python -c "from numpy.distutils.core import setup"`?

[2015-06-15 07:38] antonio19812 commented on #1556
yes, really weird, and the new output is  :

antonio@linux-rosd:~> python -c "from numpy.distutils.core import setup"
antonio@linux-rosd:~>

this too is not missing...

[2015-06-15 13:14] stuarteberg commented on #1548
I haven't tested your fix yet, but I don't understand it.  Does this change put `_tifffile.so` on `sys.path`?  I think that is required to make the `_replace_by` decorator work correctly.

You could verify that `_replace_by` is behaving properly by adding a check for `tifffile.decodelzw == _tifffile.decodelzw`.

(See the example in PR #1551)

Otherwise, problems with `_replace_by` easily go undete

[2015-06-15 14:50] blink1073 commented on #1548
Good point @stuarteberg, I added an explicit test to make sure the functions are being replaced by the compiled ones.

[2015-06-15 20:44] antonio19812 opened #1559 "Problems installing scikit-image"
Please if someone can help me to install properly scikit-image.. I already made various attempts and tests in issue #1556   but I still can not find a solution..

[2015-06-15 20:48] blink1073 commented on #1559
are you able to `pip install` anything else that depends on `numpy`?  Perhaps `scikit-learn`?

[2015-06-15 20:48] blink1073 commented on #1559
I'm wondering if there's something unique about our `setup.py` file that might be causing you problems.

[2015-06-15 20:49] antonio19812 commented on #1559
I can try.. ! and what should I do if setup.py is not that good?

[2015-06-15 20:49] blink1073 commented on #1559
We may have to adopt something like what they're doing in our repo.  :smile:

[2015-06-15 20:53] antonio19812 commented on #1559
now I will try and then I will tell you ;)

[2015-06-15 21:01] antonio19812 commented on #1559
this is the output :

antonio@linux-rosd:~> pip install scikit-learn
Downloading/unpacking scikit-learn
  Downloading scikit-learn-0.16.1.tar.gz (7.3MB): 7.3MB downloaded
  Running setup.py (path:/tmp/pip_build_antonio/scikit-learn/setup.py) egg_info for package scikit-learn
    Partial import of sklearn during the build process.

Installing collected packages: scikit-learn
  Running setup.py inst

[2015-06-15 22:29] blink1073 commented on #1559
I am very much stumped at this point.  If you want an escape hatch, you could install Miniconda and then `conda install scikit-image` will give you v0.11.

http://conda.pydata.org/miniconda

[2015-06-15 22:30] sciunto commented on #1556
Can you provide the outputs of

[code]

[2015-06-15 22:30] sciunto commented on #1559
Can you provide the outputs of

[code]

[2015-06-15 22:31] antonio19812 commented on #1559
Yes i will execute now

[2015-06-15 22:31] sciunto commented on #1556
This issue should be closed.

[2015-06-15 22:32] antonio19812 commented on #1559
and thanks blink1073 i can try miniconda if I will not find a solution!! what about installing the whole anaconda after creating a new cleaned VM of suse?

[2015-06-15 22:36] blink1073 commented on #1559
@antonio19812, that works too, I just didn't want to flood you with packages you may not need.  :smile:

[2015-06-15 22:37] sciunto commented on #1559
I'm wondering if pip and python are of the same version. If pip refers to another version (bad symlink...), it could explain why the import of numpy works and pip could not find it.

[2015-06-15 22:37] blink1073 commented on #1556
Closing in favor of #1559.

[2015-06-15 22:37] #1556 closed

[2015-06-15 22:38] antonio19812 commented on #1559
this is the output >
antonio@linux-rosd:~> pip -V
pip 1.5.6 from /usr/lib/python3.4/site-packages (python 3.4)

antonio@linux-rosd:~> python -v
# installing zipimport hook
import zipimport # builtin
# installed zipimport hook
# /usr/lib64/python2.7/site.pyc matches /usr/lib64/python2.7/site.py
import site # precompiled from /usr/lib64/python2.7/site.pyc
# /usr/lib64/python2.7/os.pyc matches /usr/l

[2015-06-15 22:39] sciunto commented on #1559
pip 3.4 vs python 2.7, that's the reason!

[2015-06-15 22:40] antonio19812 commented on #1559
yes I realized this now, and what should I do ? uninstall pip or what?

[2015-06-15 22:41] sciunto commented on #1559
I asked python -V not -v, which is less verbose, but doesn't matter :)

Check if you can find a command like pip2  or pip2.7, or if you can install it. It seems that two versions are badly mixed.

[2015-06-15 22:43] blink1073 commented on #1559
@antonio19812, did you install `python-pip` from yast?
You can force a pip install using: https://bootstrap.pypa.io/get-pip.py (create a local file, paste that in there), and run it as root).

[2015-06-15 22:49] antonio19812 commented on #1559
i removed python3-pip with YAST manager

[2015-06-15 22:52] antonio19812 commented on #1559
now I have not PIP installed

[2015-06-15 23:11] antonio19812 commented on #1559
now I have the pip for python 2.7, I tried again to install scikit image and this is :

antonio@linux-rosd:~> pip -V
pip 1.5 from /usr/lib/python2.7/site-packages (python 2.7)
antonio@linux-rosd:~> pip install -U scikit-image
Downloading/unpacking scikit-image

pip can't proceed with requirement 'scikit-image' due to a pre-existing build directory.
 location: /tmp/pip_build_antonio/scikit-image
Th

[2015-06-15 23:25] antonio19812 commented on #1559
ok I tried finally to install scikit-image after deleting the bad directory , and these are the problems :

antonio@linux-rosd:~> pip install -U scikit-image
Downloading/unpacking scikit-image
  Downloading scikit-image-0.11.3.tar.gz (18.6MB): 18.6MB downloaded
  Running setup.py (path:/tmp/pip_build_antonio/scikit-image/setup.py) egg_info for package scikit-image
    Cython not found; falling bac

[2015-06-15 23:29] blink1073 commented on #1559
You can install `python-matplotlib` with yast.

[2015-06-15 23:36] antonio19812 commented on #1559
I already have it installed, I saw this from YAST, now I  am installing Cython, with pip install Cython

[2015-06-15 23:55] antonio19812 commented on #1559
I have installed cython from pip, and freetype from Yast, but png seems to be already installed, so why should I need to install it again?

[2015-06-16 00:11] antonio19812 commented on #1559
now I only obtained :

the following required packages can not be built:

                        * png

but from YAST i saw that libpng16-16 and libpng16-16-32bit are installed

[2015-06-16 00:39] blink1073 commented on #1559
Try a pip install without the -U, it is trying to upgrade matplotlib.

—
Sent from Mailbox

On Mon, Jun 15, 2015 at 7:11 PM, antonio19812 <notifications@github.com>
wrote:

[2015-06-16 01:01] antonio19812 commented on #1559
ok, I will try it!!

[2015-06-16 01:04] antonio19812 commented on #1559
at the moment it is running and installing without stopping , as it stopped in the previous attempts..

[2015-06-16 01:14] antonio19812 commented on #1559
gosh!! i have to install it again adding sudo at the beginning, otherwise it can not add scikit to the packages of python...

[2015-06-16 01:27] antonio19812 commented on #1559
installed!!!!! thanks so much to everyone!!! you can not even imagine the huge you all gave to me!! thanks

[2015-06-16 01:29] antonio19812 commented on #1559
then i will try if it works but the installation was successful, so thanks

[2015-06-16 18:54] vighneshbirodkar opened #1561 "MB-LBP example does not show plot."
At the end of `plot_multiblock_local_binary_pattern.py` we need to add a `plt.show()` command so that executing it with the shell also outputs the plot.

@warmspringwinds Should be a quick fix.

[2015-06-17 08:48] warmspringwinds commented on #1561
@vighneshbirodkar
Thank you. I forgot to add it.

[2015-06-17 21:16] connellybarnes opened #1563 "Aliasing for line_aa with slope greater than 1"
skimage.draw.line_aa() aliases when the slope is greater than 1 in magnitude. It works correctly, however, when the slope is less than 1 in magnitude.

Below is a unit test. When the bug is fixed, the final assertion should succeed. Also, once the bug is fixed, you should be able to see that the two printed arrays are near transposes of each other.

Test code:

    from skimage.draw import line_aa

[2015-06-17 21:32] connellybarnes commented on #1563
Below is a trivial fix that simply transposes the call to the underlying C line_aa() function if the magnitude of the slope is greater than one. It passes the above unit test. But a cleaner fix could be made by fixing the underlying C line_aa() implementation.

    # Trivial fix for scikit-image bug #1563
    def line_aa(y1, x1, y2, x2):
        dx = abs(x2-x1)
        dy = abs(y2-y1)
        if d

[2015-06-18 18:15] antonio19812 opened #1564 "problems with scikit-image display in eclipse for linux"
I have copied this short script from the scikit-image web page, just to try it and see how it displays images :

from skimage import data
import numpy as np
import matplotlib.pyplot as plt
cat = data.chelsea()

reddish = cat[:,:,0] > 160
cat[reddish] = [0, 255, 0]
plt.imshow(cat)

But actually when I run it I do no obtain anything, neither an error nor an image displayed.

What could the problem?

[2015-06-18 18:18] #1559 closed

[2015-06-18 18:19] vighneshbirodkar commented on #1564
Insert
[code]
towards the end

[2015-06-18 18:20] antonio19812 commented on #1564
I did it already and nothing came out :(

[2015-06-18 18:22] JDWarner commented on #1564
This depends a little on your matplotlib backend, but generally if you're using defaults and it's executing without warnings or exceptions `plt.show()` is a blocking command that spawns a new window and pauses the Python thread execution until it's closed.

So look for a new window with a picture of a red-tinted cat.

[2015-06-18 18:25] antonio19812 commented on #1564
I don't see any new window opened and eclipse does not give me any warning or error...

[2015-06-18 18:37] antonio19812 commented on #1564
I added just a line  that print some characters in the console, after the plt.show() line, to see if python execution was blocked by plt.show but this does not happen , the script is totally executed until the end.

[2015-06-18 18:49] JDWarner commented on #1564
Please experiment with matplotlib directly to determine if it works in isolation or scikit-image has a problem. Once you verify matplotlib works independently, we can attempt to sort this out - before that, we have no idea if the problem was in the matplotlib installation or if it might be in our package.

[2015-06-18 20:18] antonio19812 commented on #1564
Following your suggestion I searched for an example of the only matplotlib functionality and I found this one in the matplotlib official website :

Simple demo of the imshow function.
"""
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook

image_file = cbook.get_sample_data('ada.png')
image = plt.imread(image_file)

plt.imshow(image)
plt.axis('off') # clear x- and y-axes
plt.show()

[2015-06-18 20:24] blink1073 commented on #1564
try copying that code to your clipboard, opening ipython, and using the `%paste` magic.

[2015-06-18 20:55] antonio19812 commented on #1564
First stupid question of the day, but I am not an expert, from where can I access to IPython???

[2015-06-18 20:58] blink1073 commented on #1564
you should be able to install it from `yast`, then just run `ipython` from the command line.

[2015-06-18 20:58] antonio19812 commented on #1564
okok, i will try :)

[2015-06-18 21:04] antonio19812 commented on #1564
I hope it will not have any interference with python in eclipse, otherwise i will be desperate:))

[2015-06-18 21:54] antonio19812 commented on #1564
wow, in ipython it works, so what should i do?

[2015-06-18 22:02] antonio19812 commented on #1564
so matplotlib works in ipython , where is the problem?

[2015-06-18 22:03] blink1073 commented on #1564
I'm not familiar with eclipse, you may creating a matplotlib issue, they would have a better idea. 

—
Sent from Mailbox

On Thu, Jun 18, 2015 at 5:02 PM, antonio19812 <notifications@github.com>
wrote:

[2015-06-18 22:03] JDWarner commented on #1564
The problem is not with scikit-image. Since the pure matplotlib snippet also failed in Eclipse, I'm closing this as the problem is not with scikit-image.

Consider not using Eclipse, or investigate possible interactions between Eclipse and matplotlib with either of those parties.

[2015-06-18 22:03] #1564 closed

[2015-06-23 19:57] david-hoffman opened #1567 "threshold_li Modifies Passed data"
When calling `skimage.features.threshold_li(image)` the image is modified. The code most likely at fault is line 342:

[code]

An easy workaround is to simply call `skimage.features.threshold_li(image.copy())` so that only a copy of the image is passed to the function. And the original data is left unmodified.

[2015-06-23 20:26] JDWarner commented on #1561
Closed by #1562

[2015-06-23 20:26] #1561 closed

[2015-06-23 20:28] JDWarner commented on #1544
@joaquincasares I'm closing this, assuming no news is good news (and `pip install` seems to be working in the various CI builds, and my own systems).

If you need more assistance, feel free to reopen.

[2015-06-23 20:28] #1544 closed

[2015-06-23 20:32] JDWarner commented on #1567
You're correct, and while your workaround is usable this is a bug and we will fix it.

[2015-06-23 20:33] JDWarner commented on #1563
Ping @ahojnnes, the master of our line drawing functions.

[2015-06-24 20:59] sciunto commented on #1567
I started a PR with some thoughts. Please, comment! :)

[2015-06-25 15:24] #1567 closed

[2015-06-26 13:16] ahoyosid opened #1569 "Consider adding mask support for SLIC"
I would like to know if is possible to perform the SLIC segmentation on a masked array, it means to give the mask as a parameter to the method.

This is important when you want to segment within a region of interest.

Thank you in advance

[2015-06-26 18:21] warmspringwinds opened #1571 "Cimport in pxd file."
Is the `cimport` needed in this file:
https://github.com/scikit-image/scikit-image/blob/master/skimage/_shared/transform.pxd

[2015-06-27 00:55] jni commented on #1569
Hi @ahoyosid! This is not currently supported. It might be a good addition.

If we do add it, it would probably be through a "mask" keyword argument, as in `watershed`, because we generally prefer the convention of considering pixels marked as `True`, whereas masked arrays use `True` to denote "hidden" pixels.

In the meantime, the easiest workaround would be to pass the bounding box around your R

[2015-06-27 00:57] jni commented on #1569
@ahoyosid I've changed the title of the issue to help us keep track of this as a feature request.

[2015-06-30 09:15] ahoyosid commented on #1569
Thank you @jni, that is the approach I been using, but the shape of my signal is quite irregular.

Hope this will be implemented in future releases, in the mean time I will continue with the workaround

[2015-06-30 20:45] stuarteberg commented on #1548
This issue can be closed when #1553 is merged.

[2015-06-30 21:22] #1548 closed

[2015-07-01 06:11] liuyifly06 opened #1574 "Can not successfully run plot_blob.py"
I have already installed "$ brew install libtiff libjpeg webp little-cms2" and "$ pip install Pillow".

Please help me.

Traceback (most recent call last):
  File "plot_blob.py", line 46, in <module>
    image = data.hubble_deep_field()[0:500, 0:500]
  File "/Library/Python/2.7/site-packages/scikit_image-0.11.3-py2.7-macosx-10.10-intel.egg/skimage/data/__init__.py", line 243, in hubble_deep_field

[2015-07-01 14:13] blink1073 commented on #1574
Hi @liuyifly06, can you try the following and post the output?

[code]

[2015-07-01 17:41] liuyifly06 commented on #1574
Hi @blink1073 , thank you for your reply. The following error appeared with that command:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/PIL/Image.py", line 63, in <module>
    warnings.warn(
ImportError: cannot import name _imaging

[2015-07-01 17:45] blink1073 commented on #1574
Hmm, `imaging.so` is a compiled extension in PIL, it looks like something went wrong in with `pip install Pillow`.  Can you try the following and post the output?

[code]

[2015-07-01 17:54] liuyifly06 commented on #1574
@blink1073  still not working after doing that. Same error.
When I was installing first time, I used command:

$ brew install libtiff libjpeg webp little-cms2
$ pip install Pillow

not idea why it is not working

[2015-07-01 17:56] blink1073 commented on #1574
The pillow install itself completed without error?

[2015-07-01 17:58] liuyifly06 commented on #1574
@blink1073  yes, I think so.

LiuYis-MacBook-Air:data liuyi$ sudo pip uninstall pillow -y
The directory '/Users/liuyi/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/Users/liuyi/Library/Caches/pip/http'

[2015-07-01 18:01] JDWarner commented on #1574
I think we may be dealing with two separate Python installs.

The original report points to `/Library/Python/2.7` while the attempt to run Pillow points to `/usr/local/lib/python2.7`

What are the results of

[code]

[2015-07-01 18:03] liuyifly06 commented on #1574
@ JDWarner
LiuYis-MacBook-Air:data liuyi$ which python
/usr/bin/python
LiuYis-MacBook-Air:data liuyi$ which pip
/usr/local/bin/pip
LiuYis-MacBook-Air:data liuyi$

[2015-07-01 18:08] blink1073 commented on #1574
How about

[code]

[2015-07-01 18:11] liuyifly06 commented on #1574
@blink1073
Here is the result

LiuYis-MacBook-Air:python liuyi$ cat `which pip`
#!/usr/bin/python

# -*- coding: utf-8 -*-
import re
import sys

from pip import main

if __name__ == '__main__':
    sys.argv[0] = re.sub(r'(-script\.pyw|\.exe)?$', '', sys.argv[0])
    sys.exit(main())

Also when I try to run plot_blob.py now,  it shows:

LiuYis-MacBook-Air:python liuyi$ python plot_blob.py
Traceback

[2015-07-01 18:15] liuyifly06 commented on #1574
Also, When I type:
$ Python -V
....

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named Image

[2015-07-01 18:16] liuyifly06 commented on #1574
Not sure if this information helps
$Python -V
$ .....
$ >>> import Image
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named Image

[2015-07-01 18:18] blink1073 commented on #1574
@liuyifly06, the command is `from PIL import Image`.

[2015-07-01 18:21] liuyifly06 commented on #1574
@blink1073
LiuYis-MacBook-Air:~ liuyi$ python
Python 2.7.6 (default, Sep  9 2014, 15:04:36)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
$ >>> from PIL import Image
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/PIL/Image.py", line 63,

[2015-07-01 18:24] liuyifly06 commented on #1574
should I try this ?  @blink1073
someone mentioned  that

 "I ran into this problem as well. It can happen if you have PIL installed, then install Pillow on top of it.

Go to /usr/local/lib/python2.7/dist-packages/ and delete anything with "PIL" in the name (including directories). If the Pillow .egg file is there you might as well delete that too. Then re-install Pillow.

substitute "python2.7" fo

[2015-07-01 18:27] liuyifly06 commented on #1574
Never Mind, Actually, I can not find that directory (/dist-packages/ )...

[2015-07-01 18:30] JDWarner commented on #1574
It would be `/site-packages/`

[2015-07-01 18:44] liuyifly06 commented on #1574
@JDWarner   @blink1073
seems work

After remove PIL from /site-packages/.
and type $ brew uninstall pillow
$ brew install pillow
$ brew link pillow
error appears about conflict files.
then delete every conflict files appeared in link process
$ brew link pillow

then type

LiuYis-MacBook-Air:data liuyi$ python -c "from PIL import Image; print(Image.open('hubble_deep_field.jpg').getdata())"
<Imaging

[2015-07-01 18:46] liuyifly06 commented on #1574
Everything works fine now. Thanks for your help. @blink1073   @JDWarner

[2015-07-01 18:48] blink1073 commented on #1574
Great, cheers.

[2015-07-01 18:48] #1574 closed

[2015-07-04 22:09] antonio19812 opened #1577 "help"
This is not really an issue but it is the only way I can ask for some help or hints.
I am creating a GUI for my image processing project and I would like to use the ImageViewer interface adding some plugins that can be useful for me. The problem is that the explanation about how to create a new plugin with its widget is not so clear for me. Where could I find some more elements? or where could I t

[2015-07-04 22:24] blink1073 commented on #1577
Hi @antonio19812, we could certainly stand to document the process better.  Have you seen this [example](https://github.com/scikit-image/scikit-image/blob/master/viewer_examples/plugins/collection_plugin.py)?

If you give more information of what you are trying to achieve, we should be able to talk you through it.

[2015-07-04 22:29] antonio19812 commented on #1577
yes, this example seems really to be better I will look through it and if it won't be enough I will ask for help again. But I hope I will not have to annoy all of you again!!

thanks  so far!!

[2015-07-04 22:30] blink1073 commented on #1577
You're helping us get better, not annoying us :smile:

Cheers!

[2015-07-04 22:34] antonio19812 commented on #1577
Actually for what I have quickly seen, this example is quite helpful about how to create a plugin, the example in the ImageViewer section of the scikit-image site does not provide some general elements to do it.
I will give you some updates ;)

[2015-07-04 22:35] stefanv commented on #1577
Other channels of support, for future reference: the [mailing list](http://groups.google.com/group/scikit-image) and the [Gitter channel](https://gitter.im/scikit-image/scikit-image).

[2015-07-04 22:37] antonio19812 commented on #1577
so is it better to write there about this aspects? or even here?

[2015-07-04 22:37] #1577 closed

[2015-07-04 22:38] stefanv commented on #1577
I think better to try chat and, if you don't get a response, ping the mailing list.  Issues we keep for discussions relating to development.

[2015-07-06 04:36] stefanv opened #1578 "Mention `apply_parallel` in the user guide"
http://scikit-image.org/docs/stable/user_guide/tutorial_parallelization.html

[2015-07-06 04:37] stefanv opened #1579 "In user guide, "Image Segmentation" should be listed under tutorials"
http://scikit-image.org/docs/stable/user_guide.html

[2015-07-07 23:25] stefanv opened #1580 "Add 1-2-3 instructions for new contributors to front page of web"

[2015-07-07 23:26] stefanv opened #1581 "Future-protect functions against positional argument use"
Write a decorator that ensures that function parameters are passed in as image + keywords.

[2015-07-07 23:26] stefanv opened #1582 "Fix installation instructions for developers to *always use pip*"
Python setup.py still found in places

[2015-07-08 03:59] ahojnnes commented on #1581
Can you give an example?

[2015-07-08 13:47] jni commented on #1581
I'm :-1: on this, with some minor exceptions (e.g. functions with tons of args). Python supports positional arguments, and we should support Python. (More strongly: positional arguments are not unpythonic.)

[2015-07-08 15:00] grlee77 opened #1585 "Inconsistent 2D vs 3D interpolation behavior for mode 'reflect'"
Currently, interpolation gives different results than one would expect in the 3D case for mode reflect.  Likely this is a problem in `ndi.map_coordinates` rather than scikit-image itself, but a potential workaround I propose below is to call map_coordinates with mode 'mirror' instead of reflect.

Here is the output of `test_resize2d` from skimage/transforms/tests/test_warps.py if I change the mode

[2015-07-08 15:32] stefanv commented on #1581
Yet, we have a lot of problems with deprecations. The only reason this has
to be a decorator is for Python 2. In three we have syntax for enforcing
the same.

[2015-07-09 02:12] ahojnnes commented on #1581
I don't think we should enforce kwargs. Even though it might make our
life easier for deprecations...

[2015-07-09 02:49] JDWarner commented on #1581
As previously articulated, I'll play the devil's advocate here. What if,
instead of deprecating so long for kwarg changes or enforcing how users do
things, we simply implement the change - in such a way that we can detect
the old behavior - and raise an informative error message telling users
what changed and how to get it working again.

This seems like the most Pythonic path. Fail gracefully is

[2015-07-09 19:05] jni commented on #1581
@stefanv the deprecation issue is really not that huge, imho. A bit of extra effort in the PR.

As I suggested at the time of the last one, I think we should make big sweeping changes to make the API consistent throughout the library in time for 1.0. Breaking changes are allowed in moving from 0.x to 1.x. In the future, we can be careful about the API for new functionality, and, if we're not fully

[2015-07-09 20:57] blink1073 commented on #1581
My vote is for a 1.0 that includes a signature cleanup, switching to imageio, and the IPython widget framework for the viewer.

[2015-07-09 20:58] blink1073 commented on #1581
About imageio, I have added the tifffile, gdal, simpleitk and fits plugins, and I think it is ready for integration.

[2015-07-10 04:41] stefanv commented on #1581
Excellent, let's go ahead with the replacement.

[2015-07-11 02:51] JDWarner opened #1586 "Document negative `sigma` values in `filters.gaussian_filter` are clipped to zero."
Negative sigma values have no effect; they are clipped to zero. This should be documented.

[2015-07-11 02:54] JDWarner opened #1587 "Add section about dask[array] to the user guide"
This could go be mentioned the parallelization section (potentially as an extension of #1578) but potentially justifies its own section.

[2015-07-11 03:14] JDWarner commented on #1563
I can reproduce this. The results look passable from a distance, but something is definitely amiss. They are are discernibly more jagged when you know what to look for, even from afar.

A cleaner script, and its result:

[code]

![image](https://cloud.githubusercontent.com/assets/2184487/8632072/f1b2dcd4-2750-11e5-8c5e-2341ad7e2397.png)

[2015-07-11 03:31] JDWarner commented on #1476
Closed by #1523.

[2015-07-11 03:31] #1476 closed

[2015-07-11 03:34] JDWarner commented on #1586
Proof:

[code]
![image](https://cloud.githubusercontent.com/assets/2184487/8632132/bd401338-2753-11e5-94a0-229431a72340.png)

[2015-07-11 03:37] JDWarner commented on #1480
@pierreroudier This has been open for a couple months without comment so I'm closing the outstanding Issue, but please feel free to reopen if necessary.

[2015-07-11 03:37] #1480 closed

[2015-07-11 06:18] ahojnnes commented on #1586
Or raise an error...?

On Fri, Jul 10, 2015 at 8:34 PM, Josh Warner <notifications@github.com>
wrote:

[2015-07-11 14:22] JDWarner commented on #1471
@buratono If you can provide an example - ideally with a test image - so we can reproduce this, that would be ideal.

[2015-07-11 14:30] JDWarner commented on #1470
Closing this in favor of #1471 as they are the same issue/traceback. Please provide a minimal example with example data where we can reproduce the error, in order to investigate further.

[2015-07-11 14:30] #1470 closed

[2015-07-11 16:41] #1582 closed

[2015-07-11 17:24] library111 opened #1588 "Add visual feedback to `skimage.novice`"
A novice user is not getting visual feedback while going through the lesson. When fixing, should keep in mind
- some users may use the terminal, ipython and/or ipython notebook
- would also be nice to save the original image in case a mistake is made
  - side note, some commands on how to "undo" should a mistake be made

[2015-07-11 17:24] david1koeller opened #1589 "Module Novice: original image should be shown alongside modified image"
A novice user would benefit from seeing the original image along with the modified image in the novice module. Additionally, a third image could display the difference between the original and modified could be displayed. Currently, no image is displayed, which leaves novice users confused to the modifications they are doing.

[2015-07-11 20:40] library111 opened #1591 "Documentation does not explain how to build the docs"
(go in to the docs directory and type 'make')

[2015-07-11 20:41] giltis opened #1592 "Write guidelines/instructions for patterning, or laying out 3D (and nD) image processing tools/funcs"
This document should outline or stipulate a consistent format (layout) for writing functions capable of processing three-dimensional, or n-dimensional arrays.

The intention of this document is to help facilitate new contributions and conversion of existing two-dimensional functions by any contributor or developer.

[2015-07-11 20:45] library111 opened #1593 "Table of Contents link in Documentation is broken"

[2015-07-11 20:50] library111 commented on #1591
Found it here:

https://github.com/scikit-image/scikit-image/blob/master/doc/README.md

It's not being built into HTML by Sphinx.

[2015-07-11 21:48] stefanv commented on #1591
That file is markdown format, so isn't meant to be included.  Where would you ideally like this information to be displayed?

[2015-07-11 22:03] stefanv opened #1595 "In `skimage.draw`, y, x instead of r, c convention is used"

[2015-07-11 22:07] jni commented on #1592
I don't actually understand the question? The coordinate names as specified in the [coordinate conventions](http://scikit-image.org/docs/dev/user_guide/numpy_images.html#coordinate-conventions)...

As to how to actually do it... Well, using n-dimensional functions in numpy and scipy wherever possible is the most general thing I can think of.

I'll pull out my [favourite example](http://ilovesympos

[2015-07-11 22:10] library111 commented on #1591
This is where we looked:

http://scikit-image.org/docs/dev/contribute.html

[2015-07-11 22:39] stefanv commented on #1592
@jni The question is more: how do you generate N-d slices for use in N-d code, etc.

[2015-07-12 15:13] #1581 closed

[2015-07-12 16:20] michaelpacer commented on #1579
https://github.com/scikit-image/scikit-image/pull/1600 should cover this.

[2015-07-12 16:24] michaelpacer commented on #1595
Where is the r, c convention defined?

[2015-07-12 16:36] stefanv commented on #1595
Have a look at the user guide for coordinate naming conventions.

[2015-07-12 17:27] #1563 closed

[2015-07-12 17:28] michaelpacer opened #1601 "No warning returned for trying to import scikit-image when in source directory without building"
E.g., if python initialized within the source directory and you try

    from skimage.draw import ellipse

The following is lowest level of the returned error

    1 # coding: utf-8
    2 import numpy as np
    ----> 3 from ._draw import _coords_inside_image

    ImportError: No module named 'skimage.draw._draw'

this is despite the _draw.pyx file existing.

You would have needed to compile the cy

[2015-07-12 17:30] JDWarner opened #1602 "Convert draw/_draw.pyx to "r/c" naming conventions"
Currently the Cython file `_draw.pyx` uses "x/y" naming conventions in docstrings and variable naming. Apply a style fix, simply renaming variables as appropriate.

[2015-07-12 17:35] jjhelmus commented on #1601
scikit-learn tests for a stub C extension and offers a more user friendly user error when importing from an unbuilt source directory.  This functionality is contained in the [sklean/__check_build directory](https://github.com/scikit-learn/scikit-learn/tree/master/sklearn/__check_build).  I'll make a PR for this shortly.

[2015-07-12 19:37] #1593 closed

[2015-07-12 20:53] michaelpacer commented on #1601
Hi @jjhelmus just pushed my progress to https://github.com/michaelpacer/scikit-image/tree/check_build_sprint, which you should be able to fetch directly if you figure it out before I do (not sure when I'll be able to look at it next…but I think coming at it later with a fresh mind will help me).

[2015-07-13 00:43] blink1073 opened #1605 "Remove IO package in favor of imageio"
This is intended for `scikit-image` v1.0:
- Replace `PIL` dependency with `imageio`
- Import all of `imageio` API into `skimage.io` namespace.
- Move `ImageCollection` to `imageio`
- Keep image stack
- Remove `external.tifffile`
- Use `matplotlib` only for `show`.

I have added plugins to `imageio` for `tifffile`, `gdal`, `fits`, and `itk`.

`imageio` only depends on `libfreeimage`, which is inclu

[2015-07-13 00:43] blink1073 commented on #1605
cc @almarklein

[2015-07-13 03:00] jthi3rry commented on #1509
Installing in a pristine virtual env raises the error for me on ubuntu 14.04:
[code]

This is an extract of my requirements.txt file:
[code]

All works well if I comment out scikit-image, install the requirements, then uncomment  and install the requirements again. But it's not ideal as deployments on new VMs can't be automated.

[2015-07-13 03:23] blink1073 commented on #1509
@ThunderShiviah, see #1606 for an attempted fix.

[2015-07-13 03:24] blink1073 commented on #1509
err, @jthi3rry, too.  :smile:

[2015-07-13 11:00] matthew-brett commented on #1605
I notice that imageio does not currently have an OSX wheel on pypi - @almarklein - would you like me to set up a repo to build this, on the same lines as:

* https://github.com/MacPython/numpy-wheels
* https://github.com/MacPython/scipy-wheels

etc?

[2015-07-13 11:02] almarklein commented on #1605
Support for wheels is in progress. I think we've got the OSX wheels covered, right @blink1073 ?

[2015-07-13 12:41] blink1073 commented on #1605
@matthew-brett, I am new to OSX wheels, your expertise would be greatly appreciated.  I just naively created `imageio-1.3-cp27-none-macosx_10_5_x86_64.whl` based on the library that @almarklein had pre-compiled: https://github.com/imageio/imageio-binaries.

https://github.com/imageio/imageio/pull/108

[2015-07-13 13:07] vighneshbirodkar commented on #1605
If I understand correctly,  we plan to remove the io module completely?

[2015-07-13 13:09] blink1073 commented on #1605
It would contain `stack`, `imshow` and `show`, and then the `imread` and friends from `imageio`'s API: https://imageio.readthedocs.org/en/latest/userapi.html

[2015-07-13 13:14] matthew-brett commented on #1605
Ah - OK - I will create a MacPython repo for this.

The tricks are:

* to make the wheels compatible with Python.org and System Pythons, which requires a dual-arch build of the libraries and the Python extensions, and:
* embedding the dynamic library in the wheel, maybe with `delocate` or doing static linking, so the personal installing the wheel does not need to also copy the library.

[2015-07-13 14:08] vighneshbirodkar commented on #1605
@blink1073 What do you mean by friends ?
I am not clear, how would you read and write images ? `skimage.io.imread` or `skimage.imageio.imread` ?

[2015-07-13 14:11] blink1073 commented on #1605
Sorry, I was using a colloquialism.  I meant that we would present the `imageio` API as part of the `skimage.io` API.  So, you would use `skimage.io.imread`, etc.

[2015-07-13 14:12] vighneshbirodkar commented on #1605
@blink1073, so we'll make `imageio` a necessary requirement and drop other plugins ?

[2015-07-13 14:15] matthew-brett commented on #1605
How active is the Freeimage project?  I see that the Makefile for OSX is still building PPC and requiring gcc-4.0, and the project is using CVS for version control.

[2015-07-13 14:17] blink1073 commented on #1605
@vighneshbirodkar, yes, we would defer handling of plugins to `imageio`.

[2015-07-13 14:18] blink1073 commented on #1605
@matthew-brett, from their website: "March 15th, 2015 FreeImage 3.17.0 released"

[2015-07-13 14:25] vighneshbirodkar commented on #1605
Nice. What about `imshow` ? Is it a good idea to have a light weight viewer ? A bare-minimum window with a close button.

[2015-07-13 14:31] blink1073 commented on #1605
We still depend on `matplotlib`, and we provide some nice defaults for `plt.imshow` [here](https://github.com/scikit-image/scikit-image/blob/master/skimage/io/_plugins/matplotlib_plugin.py#L114).

[2015-07-13 14:31] blink1073 commented on #1605
That part will stay.

[2015-07-13 14:45] matthew-brett commented on #1605
Hmm.   In response to what seemed to me a rather reasonable request to switch Freeimage development to git and maybe Github:

"Stop trying to turn this into a pissing match. The point is that neither SourceForge nor CVS are broken by any means. Everything you've said is more or less your opinion or something completely irrelevant. It simply doesn't matter how many users a service has or where othe

[2015-07-13 14:52] almarklein commented on #1605
That's a bit sad ...

[2015-07-13 14:53] blink1073 commented on #1605
And a bit scary

[2015-07-13 15:19] almarklein commented on #1605
As long as the lead devs stay active enough to maintain it. They won't attract much other devs this way, but maybe they don't need to; most work now, I suppose, consists of fixing the odd bug.

[2015-07-13 15:24] matthew-brett commented on #1605
It raises the question whether Freeimage will survive into the medium term though.

[2015-07-13 15:34] JDWarner commented on #1605
Choice of VC system isn't necessarily the problem, SourceForge is. After the recent incidents where SourceForge added spyware/malware to binaries of "abandoned" projects, nothing from that service should be trusted. I wonder if we're doing users a disservice by supporting a project/plugin from a known dangerous source.

[2015-07-13 15:36] sciunto commented on #1605
Regarding the future of freeimage. Some major libs seems to depend on freeimage on debian (https://packages.debian.org/source/unstable/freeimage) but debian has a heavy policy on dependencies.  Arch packages doesn't depend so much on freeimage (https://www.archlinux.org/packages/community/i686/freeimage/). So, it's seems to be weak dependencies.
Do we know alternative? What's used in opencv?

[2015-07-13 15:42] matthew-brett commented on #1605
The problem is the one that Almar alluded to - it's going to be hard for Freeimage to attract and keep developers if it a) uses a VCS that's very bad for collaborative coding and b) does not show much interest in adapting to newer coding practices, such as pull-requests, and continuous integration.

As evidence, the OS build system is terribly out of date.  It appears to assume OSX 10.6, and it ce

[2015-07-13 15:49] vighneshbirodkar commented on #1605
@sciunto
A quick look tells me OpenCV is doing decoding on its own, at least for PNG. Am I missing something ?
https://github.com/Itseez/opencv/blob/b46719b0931b256ab68d5f833b8fadd83737ddd1/modules/imgcodecs/src/grfmt_png.cpp

[2015-07-13 15:53] matthew-brett commented on #1605
I _think_ (from a quick cvs2git import) that there have only been two committing contributors in the last five years.  There have been 568 commits over that time though, which is not too bad.  The discussion forum looks moderately active.

[2015-07-13 16:59] matthew-brett commented on #1605
Ah - ouch - imageio uses ctypes rather than linking directly, that makes it harder to ship the dynamic library with the wheel.

[2015-07-13 17:22] jni commented on #1605
As I've mentioned before I suggest we keep tifffile for TIFF files, as it is rock-solid for multi-page tiffs and various dtypes. Doesn't imageio itself depend on a bunch of external libraries, including freeimage? Whatever we do, I want to make sure that our IO doesn't depend on system libraries that may or may not be present. We switched to Pillow to ensure that there is always an image decoder a

[2015-07-13 17:34] blink1073 commented on #1605
@jni, `tifffile` is included in `imageio` in the latest master.  Also, see my main PR comments about distribution concerns.  We had several users at the tutorial who had problems with PIL, and frankly I would not be sad to see it go.

[2015-07-13 17:39] jni commented on #1605
@blink1073 ah, sorry for missing those the first time around. But it sounds like we are not too happy about depending on freeimage... =\ Pillow also has conda support, not sure about wheels? Note that I'm completely agnostic as to which library we end up depending on; I'm just sceptical that depending on freeimage would have resulted in any fewer headaches at the tutorials...!

[2015-07-13 17:42] blink1073 commented on #1605
I spoke with an Anaconda maintainer, who is ready to add libfreeimage and imageio when needed.   We will match Pillow's wheel offerings.  My main concern is that PIL can seem like it installed correctly, while falling on its face if it was not compiled with JPEG support.

[2015-07-13 17:44] jni commented on #1601
@jjhelmus @michaelpacer this would be a tremendous contribution, thanks for checking it out! We get so many support requests that would be fixed by a nicer error message here!

[2015-07-13 17:48] matthew-brett commented on #1605
Is anyone having difficultly with Pillow do you know?   Which platform was this on?   If the problem is PIL, then surely we can expect this problem to go away in the near future?

I can see that imageio is a great solution for Debian, and OK for conda, but in general I think the idea is you install the libfreeimage library in the system directories (on the runtime load path), and this is uncomfort

[2015-07-13 17:48] sciunto commented on #1605
@blink1073 Isn't it something we can bring to the attention of their maintainers?

[2015-07-13 17:49] matthew-brett commented on #1605
Pillow has good wheel support.

[2015-07-13 17:57] jni commented on #1592
Oh! Something like:

[code]
?

[2015-07-13 17:59] jni commented on #1592
Another example:

[code]

Obviously this is a terrible way to downsample, but you get my drift. =P

[2015-07-13 18:33] blink1073 commented on #1605
I didn't get exact bug reports, since this was during the tutorial at the conference.  We can match the wheel support of Pillow, and the conda model has shown that you can use "system" libraries within your environment if needed, as a deference to practicality.

[2015-07-13 18:40] matthew-brett commented on #1605
I don't know how to match the wheel support of Pillow.  I guess it's possible, but it will be a hack, because wheels aren't designed to put stuff on the system path.

I am sure it can be done with conda, but as I say fairly often, it doesn't seem like a good idea to put ourselves into the situation where scikit-image can't easily be installed without conda.

[2015-07-13 18:58] blink1073 commented on #1605
Imageio will either use the system lib, or one installed locally within it's package.  It will also download the appropriate library from imageio/imageio-binaries and put it within it's package space if need be.

https://github.com/blink1073/imageio/blob/master/imageio/core/findlib.py#L97

[2015-07-13 19:02] matthew-brett commented on #1605
You mean the wheel appears to be a pure Python wheel, but in fact ships with OSX Linux and windows binary libraries in the Python import directory?

I was reading quickly - but does the code really try and download a binary library at import time, and write into the package space (which might not be writeable)?  So import will fail when your wireless is down?

[2015-07-13 19:09] blink1073 commented on #1605
Yes to your first question.  For the second, that would only happen if you `pip install`ed from a Linux 32 machine *and* did not have an internet connection, in which case you could have installed from the linux32 tar file.

[2015-07-13 19:29] matthew-brett commented on #1605
Ouch.   I guess that means you can't build a platform-specific wheel, because you have to build the freeimage library for every platform and copy all the dynamic libraries into the Python wheel in order to ship?

I think you are going to run into problems here, because you are subverting the usual wheel build and install mechanisms, but I don't know pip well enough to tell you exactly when that wi

[2015-07-13 19:31] blink1073 commented on #1605
Here's how I view it:  we *are* shipping a pure python package, with an optional compiled library.  The name of the wheel is used by `pip` to choose the right one to download.  The binary is included in the MANIFEST, and gets installed to site-packages along with everything else.

[2015-07-13 19:53] matthew-brett commented on #1605
I guess this means that it is hard to test the wheel that you are going to ship, because you can't build it until you have built a dynamic freeimage library for every platform.

[2015-07-13 19:54] blink1073 commented on #1605
Yes, @almarklein has been building them and putting them in imageio/imageio-binaries.

[2015-07-13 19:59] matthew-brett commented on #1605
Will imageio a hard dependency?

[2015-07-13 20:05] blink1073 commented on #1605
Would everyone be satisfied if I add a `pil` plugin to imageio as a fallback?

[2015-07-13 20:06] blink1073 commented on #1605
And then we could have a hard dependency on `imageio`, which in turn could use `libfreeimage` or `pil`.

[2015-07-13 20:09] sciunto commented on #1605
To me, all this thread does not invalidate the main purpose which is that skimage must focus on image processing, not io and imageio is a great candidate for that. It's more on how to strengthen imageio.

[2015-07-13 20:34] almarklein commented on #1605
@sciunto I agree :)

This thread spun of two topics:

a) Whether we can rely on freeimage. I'd say yes. Their "community" could be better, and they use sourceForge. But the library is quite stable, and we don't download binaries from sourceForge; only code. Also, there is no alternative of an open source library that can read so many formats.

b) If and how we can build wheels for imageio. @matthe

[2015-07-13 23:46] matthew-brett commented on #1605
Bear in mind I am a very minor scikit-image contributor.

Almar - I gave a shot at explaining why I thought the using pure-Python wheels with multiple shipped libraries was likely to be fragile, but honestly, we are early in the wheel era, it's difficult for me to guess  what problems you'll hit.

Honestly, if it were me, I think I would set up continuous integration testing of the imageio wheels

[2015-07-14 02:13] blink1073 commented on #1605
@matthew-brett, sorry if I came off as adversarial earlier.  I do appreciate your help and insight.  These packaging issues leave me a bit exasperated...

[2015-07-14 10:19] matthew-brett commented on #1605
I do understand - I'm guessing from your introduction at the top that imageio would make some things easier and more pleasant to work with, so me doing a Mr Grumpy on freeimage and wing-it wheels must be disheartening, I'm sorry for that.  I hope I'm not restricting your options, I consider myself well outside the group of people who have to agree on big decisions like this...

[2015-07-14 11:52] blink1073 commented on #1605
@matthew-brett, on the contrary, if you have concerns, by all means voice them.  We surely don't want to  find ourselves stuck in an intractable situation.

Just to confuse things further, PyPI does not accept uploaded wheels for Linux, as they are considered broken for now.  They will most likely require more metadata to handle all definitions of "Linux".

https://bitbucket.org/pypa/pypi/issues/1

[2015-07-14 12:55] matthew-brett commented on #1605
Yes, as you know, the usual situation for wheels is that you build (and test) windows and OSX binary wheels, that are platform-specific, shipping the dynamic libraries in the wheel, and assume that Linux users a) have a compiler that works and / or b) will not be much flustered about being asked to do `apt-get` if necessary and / or c) won't mind being pointed to a wheel repository specific for th

[2015-07-14 13:01] blink1073 commented on #1605
I couldn't quite figure out how to make the wheel assert itself as platform specific, without adding an `Extension` to `setup.py`.

[2015-07-14 13:06] matthew-brett commented on #1605
I _think_ (but am not sure) that it would be better to label these as platform-specific, and ship the wheels with hard-coded relative paths to the platform-specific dynamic lib, rather than searching across the file-system.

I just succeeded in building a OSX 10.6-compatible dual arch Freeimage library FWIW : https://travis-ci.org/MacPython/imageio-wheels/jobs/70881688

I don't know how to label w